<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">

			<p:panel header="#{language.Employee} #{language.List}"
				id="userListPanelId" closable="false" toggleable="true"
				visible="true">
				<h:panelGrid>
					<p:dataTable var="user" dblClickSelect="false" paginator="true"
						id="userListDataTableId"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						value="#{userAuthorizationBean.allSystemUsers}"
						selection="#{userAuthorizationBean.selectedUsers}" rows="20"
						rowKey="#{user.id}" selectionMode="multiple"
						rowIndexVar="rowIndex">

						<p:column headerText="#" style="width: 5%;">
							<h:outputText value="#{rowIndex+1}"></h:outputText>
						</p:column>

						<p:column sortBy="#{user.username}" filterBy="#{user.username}">
							<f:facet name="header">
								<h:outputText value="Kullanıcı"></h:outputText>
							</f:facet>
							<h:outputText value="#{user.username}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="İsim"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{user.employee.firstname} #{user.employee.lastname}"></h:outputText>
						</p:column>
						<p:column
							sortBy="#{user.employee.supervisor.firstname} #{user.employee.supervisor.lastname}"
							filterBy="#{user.employee.supervisor.firstname} #{user.employee.supervisor.lastname}">
							<f:facet name="header">
								<h:outputText value="Amiri"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{user.employee.supervisor.firstname} #{user.employee.supervisor.lastname}"></h:outputText>
						</p:column>

						<p:column sortBy="#{user.employee.department.name}"
							filterBy="#{user.employee.department.name}">
							<f:facet name="header">
								<h:outputText value="Departman"></h:outputText>
							</f:facet>
							<h:outputText value="#{user.employee.department.name}"></h:outputText>
						</p:column>
					</p:dataTable>
				</h:panelGrid>
			</p:panel>
		</ui:define>

		<ui:define name="showPanel">

			<p:panel header="Yetki Ata" closable="false"
				toggleable="true" visible="true">
				<h:panelGrid columns="1">


					<p:dataTable var="yetki" dblClickSelect="false" paginator="true"
						id="yetkiListDataTableId"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						value="#{userAuthorizationBean.allLkYetkiRols}"
						selection="#{userAuthorizationBean.selectedLkYetkiRols}"
						rows="20" rowKey="#{yetki.id}" selectionMode="multiple"
						rowIndexVar="rowIndex">

						<p:column headerText="#" style="width: 5%;">
							<h:outputText value="#{rowIndex+1}"></h:outputText>
						</p:column>

						<p:column sortBy="#{yetki.ad}"
							filterBy="#{yetki.ad}">
							<f:facet name="header">
								<h:outputText value="Yetki Adı"></h:outputText>
							</f:facet>
							<h:outputText value="#{yetki.ad}"></h:outputText>
						</p:column>
						<p:column sortBy="#{yetki.menu.ekranTanimi}"
							filterBy="#{yetki.menu.ekranTanimi}">
							<f:facet name="header">
								<h:outputText value="Ekran"></h:outputText>
							</f:facet>
							<h:outputText value="#{yetki.menu.ekranTanimi}"></h:outputText>
						</p:column>
						<p:column sortBy="#{yetki.aciklama}"
							filterBy="#{yetki.aciklama}">
							<f:facet name="header">
								<h:outputText value="Açıklama"></h:outputText>
							</f:facet>
							<h:outputText value="#{yetki.aciklama}"></h:outputText>
						</p:column>
					</p:dataTable>
					<p:commandButton value="Kullanıcıdan Tüm Yetkileri Sil"
						update="newRoleMessages userListDataTableId userListPanelId"
						actionListener="#{userAuthorizationBean.deleteAllAuthorizationsFromEmployees}" />
					<p:commandButton value="Kullanıcıya Seçili Yetkileri Ekle"
						update="newRoleMessages userListDataTableId userListPanelId"
						actionListener="#{userAuthorizationBean.addSelectedAuthorizationsToEmployees}" />
					<p:commandButton value="Kullanıcıya Seçili Yetkileri Ata"
						update="newRoleMessages userListDataTableId userListPanelId"
						actionListener="#{userAuthorizationBean.setEmployeesAuthorizationsAsSelectedAuthorizations}" />

				</h:panelGrid>

			</p:panel>

			<p:messages id="newRoleMessages"></p:messages>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>