@CHARSET "ISO-8859-1";

.ui-helper-reset {
	width: 92%;
	font-size: 11px;
}

.ui-selectonemenu-panel 
.ui-selectonemenu-table td{
border-width: 0px;
border-style: none;
border-color: white;
}
.ui-selectonemenu-panel .ui-selectonemenu-table {
border-collapse: inherit;
}

.ui_still_panel {
	width: 100%;
}

.ui_still_full_form {
	width: 100%;
}

.ui_still_full_form_left {
	width: 15%;
}

.ui_still_full_form_right {
	width: 85%;
}

.ui_still_full_form_right_for_text {
	width: 1012px;
}

.ui_still_full_form_left_for_text {
	width: 1012px;
}