<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">

		<ui:define name="showPanel">
			<p:growl id="growl" />
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px; width:100%" id="accordionPanelId">

				<p:tab title="#{language.SISTEMDEKITUMAMBARTALEPFORMLARI}"
					rendered="#{satinalmaAmbarMalzemeTalepFormBean.userBean.user.employee.employeeId eq 95 || satinalmaAmbarMalzemeTalepFormBean.userBean.user.employee.employeeId eq 204}">

					<p:dataTable var="ambarTaleplerTum"
						widgetVar="ambarTaleplerTumListDataTableWidget"
						id="ambarTaleplerTumListDataTableId"
						value="#{satinalmaAmbarMalzemeTalepFormBean.allSatinalmaAmbarMalzemeTalepFormLazyList}"
						paginator="true" rows="10"
						selection="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran}"
						rowKey="#{ambarTaleplerTum.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="viewAmbarTaleplerPanelId newAmbarTaleplerPanelId ambarTaleplerTumDialogId malzemeItemDialogId"
							process="@this ambarTaleplerTumListDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaAmbarMalzemeTalepFormBean.formListener}"
							process="listForm:ambarTaleplerTumListDataTableId ambarTaleplerTumListDataTableId"
							update="viewAmbarTaleplerPanelId newAmbarTaleplerPanelId ambarTaleplerTumDialogId" />
						<p:ajax event="rowSelect"
							update="ambarTaleplerTumListDataTableId orderAccordionPanelId">
						</p:ajax>

						<p:column sortBy="#{ambarTaleplerTum.formSayisi}"
							filterBy="#{ambarTaleplerTum.formSayisi}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText
									value="#{language.AMBARMALZEMEHIZMETTALEPFORMNUMARASI}" />
							</f:facet>
							<h:outputText value="#{ambarTaleplerTum.formSayisi}"></h:outputText>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="Proje Adı" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{ambarTaleplerTum.projeAdi}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column sortBy="#{ambarTaleplerTum.butceKodu}"
							filterBy="#{ambarTaleplerTum.butceKodu}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.BUTCEKODU}" />
							</f:facet>
							<h:outputText value="#{ambarTaleplerTum.butceKodu}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.PROJEKODU}" />
							</f:facet>
							<h:outputText
								value="#{ambarTaleplerTum.salesItem.proposal.proposalNumber} - #{ambarTaleplerTum.salesItem.itemNo}  - #{ambarTaleplerTum.salesItem.proposal.customer.commercialName}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.TALEBIYAPAN}" />
							</f:facet>
							<h:outputText
								value="#{ambarTaleplerTum.talepSahibi.firstname} #{ambarTaleplerTum.talepSahibi.lastname}"></h:outputText>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="Sayı" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{ambarTaleplerTum.sayi}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.OLUSTURMATARIHI}" />
							</f:facet>
							<h:outputText value="#{ambarTaleplerTum.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.TALEPTARIHI}" />
							</f:facet>
							<h:outputText value="#{ambarTaleplerTum.talepTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.ONAYLANMATARIHI}" />
							</f:facet>
							<h:outputText value="#{ambarTaleplerTum.onayTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.DURUM}" />
							</f:facet>
							<h:outputText value="#{ambarTaleplerTum.satinalmaDurum.title}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.ACIKLAMA}" />
							</f:facet>
							<h:outputText value="#{ambarTaleplerTum.aciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ONAYA GÖNDERİLMİŞ" />
							</f:facet>
							<p:selectBooleanCheckbox value="#{ambarTaleplerTum.tamamlanma}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="AMİR ONAYI"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{ambarTaleplerTum.supervisorApproval eq 1}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{ambarTaleplerTum.supervisorApproval eq 2}"></p:graphicImage>
							<p:graphicImage value="/large_icons/blank.png" style="border:0px"
								rendered="#{ambarTaleplerTum.supervisorApproval==0}"></p:graphicImage>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="TALEBİ EKLEYEN" />
							</f:facet>
							<h:outputText
								value="#{ambarTaleplerTum.user.employee.firstname} #{ambarTaleplerTum.user.employee.lastname}"></h:outputText>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="#{language.LISTEYIYENILE}"
								process="ambarTaleplerTumListDataTableId"
								update="ambarTaleplerTumListDataTableId viewAmbarTaleplerPanelId"
								action="#{satinalmaAmbarMalzemeTalepFormBean.fillTestList}">
							</p:commandButton>

							<!-- 							<p:commandButton value="MALZEME/HİZMET TALEBE ÇEVİR" -->
							<!-- 								rendered="#{satinalmaAmbarMalzemeTalepFormBean.updateButtonRender and satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.supervisorApproval eq 1}" -->
							<!-- 								update="ambarTaleplerTumListDataTableId accordionPanelId ambarTaleplerTumPanelGridId growl" -->
							<!-- 								id="updateAmbarTaleplerButton" -->
							<!-- 								process="@this ambarTaleplerTumDialogId" -->
							<!-- 								icon="ui-icon-circle-plus" -->
							<!-- 								actionListener="#{satinalmaAmbarMalzemeTalepFormBean.malzemeHizmetFormunaCevir}"> -->
							<!-- 							</p:commandButton> -->
							<p:commandButton value="TALEBİN İÇERİĞİNE BAK"
								disabled="#{!satinalmaAmbarMalzemeTalepFormBean.updateButtonRender}"
								update="ambarTaleplerKontrolTumListDataTableId accordionPanelId ambarTaleplerKontrolTumPanelGridId itemTalepKontrolTableId itemTalepPanelId"
								id="insertAmbarTaleplerButton"
								process="@this ambarTaleplerTumDialogId"
								onclick="malzemeItemDialogWidget.show()"
								icon="ui-icon-circle-plus"
								action="#{satinalmaAmbarMalzemeTalepFormIcerikBean.fillTestList(satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.id)}">
							</p:commandButton>
						</f:facet>
					</p:dataTable>
				</p:tab>

				<p:tab title="AMBAR MALZEME TALEP FORMLARIM">
					<p:dataTable var="ambarTalepler"
						widgetVar="ambarTaleplerListDataTableWidget"
						id="ambarTaleplerListDataTableId"
						value="#{satinalmaAmbarMalzemeTalepFormBean.allSatinalmaAmbarMalzemeTalepFormPersonalLazyList}"
						paginator="true" rows="10"
						selection="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran}"
						rowKey="#{ambarTalepler.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="viewAmbarTaleplerPanelId newAmbarTaleplerPanelId ambarTaleplerDialogId malzemeItemDialogId"
							process="@this ambarTaleplerListDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaAmbarMalzemeTalepFormBean.formListener}"
							process="listForm:ambarTaleplerListDataTableId ambarTaleplerListDataTableId"
							update="viewAmbarTaleplerPanelId newAmbarTaleplerPanelId ambarTaleplerDialogId" />
						<p:ajax event="rowSelect"
							update="ambarTaleplerListDataTableId orderAccordionPanelId">
						</p:ajax>

						<p:column sortBy="#{ambarTalepler.formSayisi}"
							filterBy="#{ambarTalepler.formSayisi}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText
									value="#{language.AMBARMALZEMEHIZMETTALEPFORMNUMARASI}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.formSayisi}"></h:outputText>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="Proje Adı" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{ambarTalepler.projeAdi}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column sortBy="#{ambarTalepler.butceKodu}"
							filterBy="#{ambarTalepler.butceKodu}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.BUTCEKODU}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.butceKodu}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.PROJEKODU}" />
							</f:facet>
							<h:outputText
								value="#{ambarTalepler.salesItem.proposal.proposalNumber} - #{ambarTalepler.salesItem.itemNo}  - #{ambarTalepler.salesItem.proposal.customer.commercialName}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.TALEBIYAPAN}" />
							</f:facet>
							<h:outputText
								value="#{ambarTalepler.talepSahibi.firstname} #{ambarTalepler.talepSahibi.lastname}"></h:outputText>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="Sayı" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{ambarTalepler.sayi}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.OLUSTURMATARIHI}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.TALEPTARIHI}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.talepTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.ONAYLANMATARIHI}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.onayTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.DURUM}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.satinalmaDurum.title}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.ACIKLAMA}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.aciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ONAYA GÖNDERİLMİŞ" />
							</f:facet>
							<p:selectBooleanCheckbox value="#{ambarTalepler.tamamlanma}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="TALEBİ EKLEYEN" />
							</f:facet>
							<h:outputText
								value="#{ambarTalepler.user.employee.firstname} #{ambarTalepler.user.employee.lastname}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="AMİR ONAYI"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{ambarTalepler.supervisorApproval eq 1}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{ambarTalepler.supervisorApproval eq 2}"></p:graphicImage>
							<p:graphicImage value="/large_icons/blank.png" style="border:0px"
								rendered="#{ambarTalepler.supervisorApproval==0}"></p:graphicImage>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="#{language.LISTEYIYENILE}"
								process="ambarTaleplerListDataTableId"
								update="ambarTaleplerListDataTableId viewAmbarTaleplerPanelId"
								action="#{satinalmaAmbarMalzemeTalepFormBean.fillTestList}">
							</p:commandButton>
							<p:commandButton value="YENİ TALEP EKLE"
								update="ambarTaleplerListDataTableId accordionPanelId ambarTaleplerPanelGridId growl"
								process="@this ambarTaleplerDialogId"
								actionListener="#{satinalmaAmbarMalzemeTalepFormBean.addForm}"
								icon="ui-icon-circle-plus"
								onclick="ambarTaleplerDialogWidget.show()">
							</p:commandButton>
							<p:commandButton value="TALEP DÜZENLE"
								rendered="#{satinalmaAmbarMalzemeTalepFormBean.updateButtonRender and !satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.tamamlanma}"
								update="ambarTaleplerListDataTableId accordionPanelId ambarTaleplerPanelGridId"
								process="@this ambarTaleplerDialogId"
								onclick="ambarTaleplerDialogWidget.show()"
								icon="ui-icon-circle-plus">
							</p:commandButton>
							<p:commandButton value="TALEBE MALZEME/ÜRÜN EKLE"
								rendered="#{satinalmaAmbarMalzemeTalepFormBean.updateButtonRender and !satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.tamamlanma}"
								update="ambarTaleplerListDataTableId accordionPanelId ambarTaleplerPanelGridId itemTalepTableId"
								process="@this ambarTaleplerDialogId"
								onclick="malzemeItemDialogWidget.show()"
								icon="ui-icon-circle-plus"
								action="#{satinalmaAmbarMalzemeTalepFormIcerikBean.fillTestList(satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.id)}">
							</p:commandButton>
							<p:commandButton value="İÇERİĞİNİ GÖR"
								rendered="#{satinalmaAmbarMalzemeTalepFormBean.updateButtonRender and satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.tamamlanma}"
								update="ambarTaleplerListDataTableId accordionPanelId ambarTaleplerPanelGridId itemTalepTableId itemTalepPanelId"
								process="@this ambarTaleplerDialogId"
								onclick="malzemeItemDialogWidget.show()"
								icon="ui-icon-circle-plus"
								action="#{satinalmaAmbarMalzemeTalepFormIcerikBean.fillTestList(satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.id)}">
							</p:commandButton>
							<!-- 							<p:commandButton value="ONAYA GÖNDER" -->
							<!-- 								rendered="#{satinalmaAmbarMalzemeTalepFormBean.updateButtonRender and !satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.tamamlanma}" -->
							<!-- 								actionListener="#{satinalmaAmbarMalzemeTalepFormBean.onayaGonder}" -->
							<!-- 								update="ambarTaleplerListDataTableId accordionPanelId ambarTaleplerPanelGridId growl" -->
							<!-- 								process="@this ambarTaleplerDialogId"> -->
							<!-- 							</p:commandButton> -->
							<p:commandButton value="TALEBİ SİL"
								rendered="#{satinalmaAmbarMalzemeTalepFormBean.updateButtonRender and !satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.tamamlanma}"
								actionListener="#{satinalmaAmbarMalzemeTalepFormBean.deleteForm}"
								update="ambarTaleplerListDataTableId"
								process="@this ambarTaleplerDialogId" icon="ui-icon-trash">
							</p:commandButton>
						</f:facet>
					</p:dataTable>

					<p:contextMenu>
						<!-- 						<p:menuitem value="TALEBİ DÜZENLE" -->
						<!-- 							update="ambarTaleplerListDataTableId accordionPanelId ambarTaleplerPanelGridId growl" -->
						<!-- 							process="@this ambarTaleplerDialogId" -->
						<!-- 							onclick="ambarTaleplerDialogWidget.show()" -->
						<!-- 							icon="ui-icon-circle-plus" /> -->
						<!-- 						<p:menuitem value="TALEBE MALZEME/ÜRÜN EKLEME" -->
						<!-- 							icon="ui-icon-arrowrefresh-1-w" -->
						<!-- 							onclick="malzemeItemDialogWidget.show()" -->
						<!-- 							process="@this ambarTaleplerDialogId" -->
						<!-- 							update="ambarTaleplerListDataTableId accordionPanelId ambarTaleplerPanelGridId itemTalepTableId" -->
						<!-- 							action="#{satinalmaAmbarMalzemeTalepFormIcerikBean.fillTestList(satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.id)}" /> -->
						<p:menuitem value="TALEBİN İÇERİĞİNE BAK"
							update="ambarTaleplerListDataTableId accordionPanelId ambarTaleplerPanelGridId itemTalepTableId itemTalepPanelId"
							process="@this ambarTaleplerDialogId"
							onclick="malzemeItemDialogWidget.show()"
							icon="ui-icon-circle-plus"
							action="#{satinalmaAmbarMalzemeTalepFormIcerikBean.fillTestList(satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.id)}" />
					</p:contextMenu>

				</p:tab>
				<p:tab
					title="AMBAR MALZEME TALEP - ONAY BEKLEYENLER - #{satinalmaAmbarMalzemeTalepFormBean.onayBekleyenlerSayisi}">

					<p:dataTable var="ambarTalepler"
						widgetVar="ambarTaleplerListOnayDataTableWidget"
						id="ambarTaleplerListOnayDataTableId"
						value="#{satinalmaAmbarMalzemeTalepFormBean.allSatinalmaAmbarMalzemeTalepFormOnayBekleyenlerList}"
						paginator="true" rows="10"
						selection="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran}"
						rowKey="#{ambarTalepler.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="viewAmbarTaleplerPanelId newAmbarTaleplerPanelId ambarTaleplerDialogId malzemeItemDialogId"
							process="@this ambarTaleplerListOnayDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaAmbarMalzemeTalepFormBean.formListener}"
							process="listForm:ambarTaleplerListOnayDataTableId ambarTaleplerListOnayDataTableId"
							update="viewAmbarTaleplerPanelId newAmbarTaleplerPanelId ambarTaleplerDialogId" />
						<p:ajax event="rowSelect"
							update="ambarTaleplerListOnayDataTableId orderAccordionPanelId">
						</p:ajax>

						<p:column sortBy="#{ambarTalepler.formSayisi}"
							filterBy="#{ambarTalepler.formSayisi}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText
									value="#{language.AMBARMALZEMEHIZMETTALEPFORMNUMARASI}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.formSayisi}"></h:outputText>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="Proje Adı" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{ambarTalepler.projeAdi}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column sortBy="#{ambarTalepler.butceKodu}"
							filterBy="#{ambarTalepler.butceKodu}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.BUTCEKODU}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.butceKodu}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.PROJEKODU}" />
							</f:facet>
							<h:outputText
								value="#{ambarTalepler.salesItem.proposal.proposalNumber} - #{ambarTalepler.salesItem.itemNo}  - #{ambarTalepler.salesItem.proposal.customer.commercialName}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.TALEBIYAPAN}" />
							</f:facet>
							<h:outputText
								value="#{ambarTalepler.talepSahibi.firstname} #{ambarTalepler.talepSahibi.lastname}"></h:outputText>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="Sayı" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{ambarTalepler.sayi}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.OLUSTURMATARIHI}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.TALEPTARIHI}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.talepTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.ONAYLANMATARIHI}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.onayTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.DURUM}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.satinalmaDurum.title}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.ACIKLAMA}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.aciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ONAYA GÖNDERİLMİŞ" />
							</f:facet>
							<p:selectBooleanCheckbox value="#{ambarTalepler.tamamlanma}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="AMİR ONAYI"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{ambarTalepler.supervisorApproval eq 1}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{ambarTalepler.supervisorApproval eq 2}"></p:graphicImage>
							<p:graphicImage value="/large_icons/blank.png" style="border:0px"
								rendered="#{ambarTalepler.supervisorApproval==0}"></p:graphicImage>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.TALEBIYAPAN}" />
							</f:facet>
							<h:outputText
								value="#{ambarTalepler.user.employee.firstname} #{ambarTalepler.user.employee.lastname}"></h:outputText>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="ONAYLA"
								process="ambarTaleplerListOnayDataTableId"
								update="ambarTaleplerListOnayDataTableId viewAmbarTaleplerPanelId growl"
								actionListener="#{satinalmaAmbarMalzemeTalepFormBean.approveRequest}"
								icon="ui-icon-circle-plus"
								disabled="#{!satinalmaAmbarMalzemeTalepFormBean.updateButtonRender}"
								rendered="false">
							</p:commandButton>
							<p:commandButton value="REDDET"
								update="ambarTaleplerListOnayDataTableId accordionPanelId ambarTaleplerPanelGridId growl"
								process="@this ambarTaleplerDialogId"
								actionListener="#{satinalmaAmbarMalzemeTalepFormBean.declineRequest}"
								icon="ui-icon-circle-close"
								disabled="#{!satinalmaAmbarMalzemeTalepFormBean.updateButtonRender}"
								rendered="false">
							</p:commandButton>
							<p:commandButton value="İÇERİĞİNİ GÖR"
								disabled="#{!satinalmaAmbarMalzemeTalepFormBean.updateButtonRender}"
								update="ambarTaleplerListDataTableId accordionPanelId ambarTaleplerPanelGridId itemTalepTableId itemTalepPanelId"
								process="@this ambarTaleplerDialogId"
								onclick="malzemeItemDialogWidget.show()"
								icon="ui-icon-circle-plus"
								action="#{satinalmaAmbarMalzemeTalepFormIcerikBean.fillTestList(satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.id)}">
							</p:commandButton>
							<p:commandButton value="REVİZYONA GÖNDER"
								update="ambarTaleplerListOnayDataTableId accordionPanelId ambarTaleplerPanelGridId growl"
								process="@this ambarTaleplerDialogId"
								actionListener="#{satinalmaAmbarMalzemeTalepFormBean.revizyonaGonder}"
								icon="ui-icon-circle-close"
								rendered="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.supervisorApproval eq 0}"
								disabled="true">
							</p:commandButton>
						</f:facet>
					</p:dataTable>
				</p:tab>
				<p:tab title="AMBAR MALZEME TALEP - ONAY GEÇMİŞİM" rendered="false">

					<p:dataTable var="ambarTalepler"
						widgetVar="ambarTaleplerListOnayDataTableWidget"
						id="ambarTaleplerListOnayGecmisDataTableId"
						value="#{satinalmaAmbarMalzemeTalepFormBean.allSatinalmaAmbarMalzemeTalepFormOnayGecmisLazyList}"
						paginator="true" rows="10"
						selection="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran}"
						rowKey="#{ambarTalepler.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="viewAmbarTaleplerPanelId newAmbarTaleplerPanelId ambarTaleplerDialogId malzemeItemDialogId"
							process="@this ambarTaleplerListOnayGecmisDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaAmbarMalzemeTalepFormBean.formListener}"
							process="listForm:ambarTaleplerListOnayGecmisDataTableId ambarTaleplerListOnayGecmisDataTableId"
							update="viewAmbarTaleplerPanelId newAmbarTaleplerPanelId ambarTaleplerDialogId" />
						<p:ajax event="rowSelect"
							update="ambarTaleplerListOnayGecmisDataTableId orderAccordionPanelId">
						</p:ajax>

						<p:column sortBy="#{ambarTalepler.formSayisi}"
							filterBy="#{ambarTalepler.formSayisi}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText
									value="#{language.AMBARMALZEMEHIZMETTALEPFORMNUMARASI}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.formSayisi}"></h:outputText>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="Proje Adı" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{ambarTalepler.projeAdi}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column sortBy="#{ambarTalepler.butceKodu}"
							filterBy="#{ambarTalepler.butceKodu}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.BUTCEKODU}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.butceKodu}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.PROJEKODU}" />
							</f:facet>
							<h:outputText
								value="#{ambarTalepler.salesItem.proposal.proposalNumber} - #{ambarTalepler.salesItem.itemNo}  - #{ambarTalepler.salesItem.proposal.customer.commercialName}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.TALEBIYAPAN}" />
							</f:facet>
							<h:outputText
								value="#{ambarTalepler.user.employee.firstname} #{ambarTalepler.user.employee.lastname}"></h:outputText>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="Sayı" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{ambarTalepler.sayi}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.OLUSTURMATARIHI}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.TALEPTARIHI}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.talepTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.ONAYLANMATARIHI}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.onayTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.DURUM}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.satinalmaDurum.title}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.ACIKLAMA}" />
							</f:facet>
							<h:outputText value="#{ambarTalepler.aciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ONAYA GÖNDERİLMİŞ" />
							</f:facet>
							<p:selectBooleanCheckbox value="#{ambarTalepler.tamamlanma}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="AMİR ONAYI"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{ambarTalepler.supervisorApproval eq 1}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{ambarTalepler.supervisorApproval eq 2}"></p:graphicImage>
							<p:graphicImage value="/large_icons/blank.png" style="border:0px"
								rendered="#{ambarTalepler.supervisorApproval==0}"></p:graphicImage>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="İÇERİĞİNİ GÖR"
								disabled="#{!satinalmaAmbarMalzemeTalepFormBean.updateButtonRender}"
								update="ambarTaleplerListDataTableId accordionPanelId ambarTaleplerPanelGridId itemTalepTableId itemTalepPanelId"
								process="@this ambarTaleplerDialogId"
								onclick="malzemeItemDialogWidget.show()"
								icon="ui-icon-circle-plus"
								action="#{satinalmaAmbarMalzemeTalepFormIcerikBean.fillTestList(satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.id)}">
							</p:commandButton>
						</f:facet>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
			<p:dialog draggable="true" closable="true" resizable="false"
				dynamic="true"
				header="#{language.MalzemeHizmetTalepFormu} #{language.Add}"
				id="ambarTaleplerDialogId" widgetVar="ambarTaleplerDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="ambarTaleplerPanelGridId">
					<f:facet name="header">
						<h:outputText value="#{language.MalzemeHizmetTalepFormu}"></h:outputText>
					</f:facet>

					<!-- 					<h:outputText value="#{language.ButceKodu}" -->
					<!-- 						style="font-weight: bold;"></h:outputText> -->
					<!-- 					<p:inputText -->
					<!-- 						value="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.butceKodu}"> -->
					<!-- 					</p:inputText> -->

					<!-- 					<h:outputText value="#{language.ProjeAdi}" -->
					<!-- 						style="font-weight: bold"></h:outputText> -->
					<!-- 					<p:inputText -->
					<!-- 						value="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.projeAdi}"> -->
					<!-- 					</p:inputText> -->

					<h:outputLabel value="Proje Kodu" for="basicPojoProjeKodu"
						style="font-weight: bold;" />
					<p:autoComplete
						value="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.salesItem}"
						id="basicPojoProjeKodu"
						completeMethod="#{autoCompleteBean.autoCompleteSalesItem}" var="e"
						itemLabel="#{e.proposal.salesOrder.orderNo} - #{e.itemNo} - #{e.proposal.customer.commercialName}"
						itemValue="#{e}" converter="salesItemConverter"
						forceSelection="true" minQueryLength="3" maxResults="10" />

					<!-- 					<h:outputText value="#{language.Sayi}" style="font-weight: bold"></h:outputText> -->
					<!-- 					<p:inputText -->
					<!-- 						value="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.sayi}"> -->
					<!-- 					</p:inputText> -->

					<h:outputText value="Durum" style="font-weight: bold;"
						rendered="#{satinalmaAmbarMalzemeTalepFormBean.userBean.user.admin}"></h:outputText>
					<p:selectOneMenu
						value="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.satinalmaDurum}"
						rendered="#{satinalmaAmbarMalzemeTalepFormBean.userBean.user.admin}">
						<f:converter converterId="satinalmaDurumConverter" />
						<f:selectItems var="groupType" itemValue="#{groupType}"
							itemLabel="#{groupType.title}"
							value="#{satinalmaDurumBean.durumListAmbar}" />
					</p:selectOneMenu>

					<h:outputText value="#{language.Explanation}"
						style="font-weight: bold;"></h:outputText>
					<p:inputTextarea
						value="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.aciklama}">
					</p:inputTextarea>

					<h:outputLabel value="Talebi Yapan" for="basicPojoTelepSahibi"
						style="font-weight: bold;" />
					<p:autoComplete
						value="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.talepSahibi}"
						id="basicPojoTelepSahibi"
						completeMethod="#{autoCompleteBean.autoCompleteEmployee}" var="e"
						itemLabel="#{e.employeeId} - #{e.firstname} #{e.lastname}"
						itemValue="#{e}" converter="employeeConverter"
						forceSelection="true" minQueryLength="3" />


					<h:outputLabel value="Onay - Bölüm Müdürü" for="basicPojoMudur"
						style="font-weight: bold;" />
					<p:autoComplete
						value="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.supervisor}"
						id="basicPojoMudur"
						completeMethod="#{autoCompleteBean.autoCompleteEmployee}" var="e"
						itemLabel="#{e.employeeId} - #{e.firstname} #{e.lastname}"
						itemValue="#{e}" converter="employeeConverter"
						forceSelection="true" minQueryLength="3" />

					<h:outputText value="Talep Tarihi" style="font-weight: bold"></h:outputText>
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						stepMinute="5" required="true"
						pattern="#{userCredentialsBean.dateFormat} HH:mm"
						requiredMessage="#{language.RequiredMessage}"
						value="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.talepTarihi}" timeZone="Etc/GMT-4"></p:calendar>
				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="#{language.KAYDETTAMAM}"
						update="ambarTaleplerListDataTableId newAmbarTaleplerPanelId accordionPanelId growl"
						process="@this ambarTaleplerDialogId ambarTaleplerPanelGridId"
						actionListener="#{satinalmaAmbarMalzemeTalepFormBean.addOrUpdateForm}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){ambarTaleplerDialogWidget.hide();}">
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>

			<!-- Seçili Hizmet Talep Formu -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" id="malzemeItemDialogId"
				widgetVar="malzemeItemDialogWidget">

				<p:panel toggleable="true" toggleOrientation="horizontal"
					header="#{language.MalzemeHizmetTalepFormuBaslik}"
					id="malzemeItemPanelGridId" style="text-align: center">
					<h:form>
						<p:dataTable var="VARIABLE1" value="">
							<p:column headerText="#{language.BUTCEKODU}"
								style="text-align: center">
								<h:outputText
									value="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.butceKodu}" />
							</p:column>

							<!-- 							<p:column headerText="#{language.ProjeAdi}" -->
							<!-- 								style="text-align: center"> -->
							<!-- 								<h:outputText -->
							<!-- 									value="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.projeAdi}" /> -->
							<!-- 							</p:column> -->

							<p:column headerText="#{language.PROJEKODU}"
								style="text-align: center">
								<h:outputText
									value="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.salesItem.proposal.proposalNumber} - #{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.salesItem.itemNo}" />
							</p:column>

							<p:column headerText="SAYI" style="text-align: center">
								<h:outputText
									value="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.formSayisi}" />
							</p:column>

							<p:column headerText="TARİH (gg/aa/yyyy)"
								style="text-align: center">
								<h:outputText
									value="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.eklemeZamani}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>
				</p:panel>

				<!-- Liste -->

				<p:panel toggleable="true" toggleOrientation="horizontal"
					id="itemTalepPanelId" style="text-align: center">
					<p:dataTable var="itemTalepler" id="itemTalepTableId"
						value="#{satinalmaAmbarMalzemeTalepFormIcerikBean.allSatinalmaAmbarMalzemeTalepFormIcerikList}"
						paginator="true" rows="10"
						selection="#{satinalmaAmbarMalzemeTalepFormIcerikBean.satinalmaAmbarMalzemeTalepFormIcerikEkran}"
						rowKey="#{itemTalepler.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}"
						rowIndexVar="index">

						<p:ajax event="rowSelect"
							listener="#{satinalmaAmbarMalzemeTalepFormIcerikBean.formListener}"
							process="listForm:itemTalepTableId itemTalepTableId"
							update="buttonsPanelGridId malzemeItemAddDialogId ambarTaleplerDialogId" />

						<p:column>
							<f:facet name="header">
								<h:outputText value="SIRA NO" />
							</f:facet>
							<h:outputText value="#{index+1}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="MALZEME BİLGİLERİ" />
							</f:facet>
							<h:outputText
								value="#{itemTalepler.stokUrunKartlari.urunKodu} - #{itemTalepler.stokUrunKartlari.urunAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="MİKTAR" />
							</f:facet>
							<h:outputText value="#{itemTalepler.miktar}"
								style="color: black; font-weight: bold;"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="VERİLEN MİKTAR" />
							</f:facet>
							<h:outputText value="#{itemTalepler.miktar - itemTalepler.kalan}"
								style="color: green; font-weight: bold;"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="KALAN MİKTAR" />
							</f:facet>
							<h:outputText value="#{itemTalepler.kalan}"
								style="color: red; font-weight: bold;"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="BİRİM" />
							</f:facet>
							<h:outputText value="#{itemTalepler.stokTanimlarBirim.birim}"></h:outputText>
						</p:column>

						<!-- 					<p:column> -->
						<!-- 						<f:facet name="header"> -->
						<!-- 							<h:outputText value="KULLANIM YERİ" /> -->
						<!-- 						</f:facet> -->
						<!-- 						<h:outputText -->
						<!-- 							value="#{itemTalepler.satinalmaAmbarMalzemeTalepForm.projeAdi}"></h:outputText> -->
						<!-- 					</p:column> -->

						<p:column>
							<f:facet name="header">
								<h:outputText value="SİPARİŞ/PROJE" />
							</f:facet>
							<h:outputText
								value="#{itemTalepler.salesItem.proposal.proposalNumber} - #{itemTalepler.salesItem.itemNo}">
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SARF MERKEZİ" />
							</f:facet>
							<h:outputText value="#{itemTalepler.satinalmaSarfMerkezi.name}">
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="DEPARTMAN" />
							</f:facet>
							<h:outputText value="#{itemTalepler.department.name}">
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SARF MLZ." />
							</f:facet>
							<p:selectBooleanCheckbox value="#{itemTalepler.sarf}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ÜRETİM MLZ." />
							</f:facet>
							<p:selectBooleanCheckbox value="#{itemTalepler.uretim}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="BAKIM MLZ." />
							</f:facet>
							<p:selectBooleanCheckbox value="#{itemTalepler.bakim}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="DEMİRBAŞ" />
							</f:facet>
							<p:selectBooleanCheckbox value="#{itemTalepler.demirbas}"
								disabled="true" />
						</p:column>

						<p:column headerText="İHTİYAÇ TARİHİ">
							<h:outputText value="#{itemTalepler.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{language.DURUM}">
							<p:selectBooleanCheckbox value="#{itemTalepler.demirbas}"
								disabled="true" />
						</p:column>

					</p:dataTable>
				</p:panel>

				<p:panel toggleable="true" toggleOrientation="horizontal">
					<h:form>
						<p:dataTable var="VARIABLE2" value="">
							<p:column headerText="TALEP YAPAN BÖLÜM"
								style="text-align: center">
								<h:form>
									<p:dataTable var="VARIABLE2" value="">
										<p:column headerText="#{language.TALEBIYAPAN}">
											<h:outputText
												value="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.talepSahibi.firstname} #{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.talepSahibi.lastname}" />
										</p:column>
										<p:column headerText="BÖLÜM MÜDÜRÜ">
											<h:outputText
												value="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.supervisor.firstname} #{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.supervisor.lastname}" />
										</p:column>
									</p:dataTable>
								</h:form>
							</p:column>
							<p:column headerText="AMBAR SORUMLUSU" style="text-align: center">
								<h:form>
									<p:dataTable var="VARIABLE2" value="">
										<p:column headerText="TARİH">
											<h:outputText value="">
												<f:convertDateTime pattern="dd/MM/yyyy" />
											</h:outputText>
										</p:column>
									</p:dataTable>
								</h:form>
							</p:column>
						</p:dataTable>
					</h:form>

				</p:panel>

				<h:panelGrid border="0" columns="5" cellspacing="5"
					id="buttonsPanelGridId">
					<p:commandButton value="MALZEME EKLE"
						update="ambarTaleplerPanelGridId itemTalepTableId growl malzemeItemAddDialogId"
						process="@this ambarTaleplerPanelGridId"
						actionListener="#{satinalmaAmbarMalzemeTalepFormIcerikBean.addIcerik}"
						icon="ui-icon-circle-plus"
						oncomplete="malzemeItemAddDialogWidget.show()"
						rendered="#{!satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.tamamlanma}">
					</p:commandButton>
					<p:commandButton value="MALZEME DÜZENLE"
						rendered="#{satinalmaAmbarMalzemeTalepFormIcerikBean.updateButtonRender and !satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.tamamlanma}"
						update="malzemeItemPanelGridId itemTalepTableId growl"
						id="updateAmbarTaleplerItemButton"
						process="@this ambarTaleplerPanelGridId"
						onclick="malzemeItemAddDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="MALZEME DÜZENLE ADMİN"
						rendered="#{satinalmaAmbarMalzemeTalepFormIcerikBean.updateButtonRender and satinalmaAmbarMalzemeTalepFormBean.userBean.user.admin}"
						update="malzemeItemPanelGridId itemTalepTableId growl"
						process="@this ambarTaleplerPanelGridId"
						onclick="malzemeItemAddDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="MALZEME SİL"
						update="ambarTaleplerPanelGridId itemTalepTableId growl malzemeItemAddDialogId"
						process="@this ambarTaleplerPanelGridId"
						actionListener="#{satinalmaAmbarMalzemeTalepFormIcerikBean.deleteForm}"
						icon="ui-icon-circle-delete"
						rendered="#{satinalmaAmbarMalzemeTalepFormIcerikBean.updateButtonRender}">
					</p:commandButton>
					<p:commandButton value="MALZEME SİL ADMİN"
						update="ambarTaleplerPanelGridId itemTalepTableId growl malzemeItemAddDialogId"
						process="@this ambarTaleplerPanelGridId"
						actionListener="#{satinalmaAmbarMalzemeTalepFormIcerikBean.deleteForm}"
						icon="ui-icon-circle-delete"
						rendered="#{satinalmaAmbarMalzemeTalepFormIcerikBean.updateButtonRender and satinalmaAmbarMalzemeTalepFormBean.userBean.user.admin}">
					</p:commandButton>
					<p:commandButton value="#{language.IPTALKAPAT}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="malzemeItemDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- Item Ekleme Formu -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="Malzeme #{language.Add}"
				id="malzemeItemAddDialogId" widgetVar="malzemeItemAddDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="malzemeItemAddPanelGridId">
					<f:facet name="header">
						<h:outputText value="MALZEME EKLE"></h:outputText>
					</f:facet>

					<!-- 					<h:outputText value="#{language.MalzemeBilgileri}" -->
					<!-- 						style="font-weight: bold;"></h:outputText> -->
					<!-- 					<p:inputText -->
					<!-- 						value="#{satinalmaAmbarMalzemeTalepFormIcerikBean.satinalmaAmbarMalzemeTalepFormIcerikEkran.malzemeTanim}"> -->
					<!-- 					</p:inputText> -->

					<h:outputLabel value="#{language.MalzemeBilgileri}"
						for="basicPojoUrunKartlari" style="font-weight: bold;" />
					<p:autoComplete
						value="#{satinalmaAmbarMalzemeTalepFormIcerikBean.satinalmaAmbarMalzemeTalepFormIcerikEkran.stokUrunKartlari}"
						id="basicPojoUrunKartlari"
						completeMethod="#{autoCompleteBean.autoCompleteStokUrunKartlari}"
						var="e"
						itemLabel="#{e.urunKodu} - #{e.urunAdi} / #{e.stokTanimlarBirim.birim}"
						itemValue="#{e}" converter="stokUrunKartlariConverter"
						forceSelection="true" minQueryLength="3" size="35" />

					<h:outputText value="#{language.Miktar}" style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{satinalmaAmbarMalzemeTalepFormIcerikBean.satinalmaAmbarMalzemeTalepFormIcerikEkran.miktar}"
						style="width: 190px">
					</p:inputText>

					<h:outputText value="#{language.Kalan}" style="font-weight: bold;"
						rendered="#{satinalmaAmbarMalzemeTalepFormIcerikBean.userBean.user.admin}"></h:outputText>
					<p:inputText
						value="#{satinalmaAmbarMalzemeTalepFormIcerikBean.satinalmaAmbarMalzemeTalepFormIcerikEkran.kalan}"
						rendered="#{satinalmaAmbarMalzemeTalepFormIcerikBean.userBean.user.admin}">
					</p:inputText>

					<!-- 					<h:outputText value="#{language.Birim}" style="font-weight: bold;"></h:outputText> -->
					<!-- 					<p:selectOneMenu -->
					<!-- 						value="#{satinalmaAmbarMalzemeTalepFormIcerikBean.satinalmaAmbarMalzemeTalepFormIcerikEkran.stokTanimlarBirim.id}" -->
					<!-- 						style="width: 200px"> -->
					<!-- 						<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem> -->
					<!-- 						<f:selectItems var="birimType" itemValue="#{birimType.id}" -->
					<!-- 							itemLabel="#{birimType.birim}" -->
					<!-- 							value="#{stokTanimlarBirimBean.allStokTanimlarBirimList}" /> -->
					<!-- 					</p:selectOneMenu> -->

					<!-- 					<h:outputText value="#{language.Kalan}" style="font-weight: bold" -->
					<!-- 						rendered="#{satinalmaAmbarMalzemeTalepFormIcerikBean.userBean.user.admin}"></h:outputText> -->
					<!-- 					<p:inputText -->
					<!-- 						value="#{satinalmaAmbarMalzemeTalepFormIcerikBean.satinalmaAmbarMalzemeTalepFormIcerikEkran.kalan}" -->
					<!-- 						style="width: 190px" -->
					<!-- 						rendered="#{satinalmaAmbarMalzemeTalepFormIcerikBean.userBean.user.admin}"> -->
					<!-- 					</p:inputText> -->

					<h:outputLabel value="Sarf Merkezi" style="font-weight: bold;" />
					<p:selectOneMenu
						value="#{satinalmaAmbarMalzemeTalepFormIcerikBean.satinalmaAmbarMalzemeTalepFormIcerikEkran.satinalmaSarfMerkezi.id}"
						style="width: 200px" required="true"
						requiredMessage="Sarf Merkezi Seçiniz!">
						<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItems var="sarfType" itemValue="#{sarfType.id}"
							itemLabel="#{sarfType.name}"
							value="#{sarfMerkeziBean.allSatinalmaSarfMerkezis}" />
					</p:selectOneMenu>

					<h:outputLabel value="Proje - Sipariş Kodu"
						for="basicPojoSiparisKodu" style="font-weight: bold;" />
					<p:autoComplete
						value="#{satinalmaAmbarMalzemeTalepFormIcerikBean.satinalmaAmbarMalzemeTalepFormIcerikEkran.salesItem}"
						id="basicPojoSiparisKodu"
						completeMethod="#{autoCompleteBean.autoCompleteSalesItem}" var="e"
						itemLabel="#{e.proposal.salesOrder.orderNo} - #{e.itemNo} - #{e.proposal.customer.commercialName}"
						itemValue="#{e}" converter="salesItemConverter"
						forceSelection="true" minQueryLength="3" maxResults="10" size="35" />

					<h:outputText value="Departman" style="font-weight: bold;"></h:outputText>
					<p:selectOneMenu
						value="#{satinalmaAmbarMalzemeTalepFormIcerikBean.satinalmaAmbarMalzemeTalepFormIcerikEkran.department.departmentId}"
						style="width: 200px">
						<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItems var="type" itemValue="#{type.departmentId}"
							itemLabel="#{type.name}"
							value="#{departmentListBean.departmentList}" />
					</p:selectOneMenu>

					<h:outputText value="#{language.Sarf}" style="font-weight: bold"></h:outputText>
					<p:selectBooleanCheckbox
						value="#{satinalmaAmbarMalzemeTalepFormIcerikBean.satinalmaAmbarMalzemeTalepFormIcerikEkran.sarf}" />

					<h:outputText value="#{language.Uretim}" style="font-weight: bold"></h:outputText>
					<p:selectBooleanCheckbox
						value="#{satinalmaAmbarMalzemeTalepFormIcerikBean.satinalmaAmbarMalzemeTalepFormIcerikEkran.uretim}" />

					<h:outputText value="#{language.Bakim}" style="font-weight: bold"></h:outputText>
					<p:selectBooleanCheckbox
						value="#{satinalmaAmbarMalzemeTalepFormIcerikBean.satinalmaAmbarMalzemeTalepFormIcerikEkran.bakim}" />

					<h:outputText value="#{language.Demirbas}"
						style="font-weight: bold"></h:outputText>
					<p:selectBooleanCheckbox
						value="#{satinalmaAmbarMalzemeTalepFormIcerikBean.satinalmaAmbarMalzemeTalepFormIcerikEkran.demirbas}" />

					<h:outputText value="#{language.IhtiyacTarihi}"
						style="font-weight: bold"></h:outputText>
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
						value="#{satinalmaAmbarMalzemeTalepFormIcerikBean.satinalmaAmbarMalzemeTalepFormIcerikEkran.ihtiyacSuresi}" timeZone="Etc/GMT-4"></p:calendar>

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="MALZEME KAYDET"
						update="malzemeItemAddListDataTableId newAmbarTaleplerPanelId accordionPanelId growl itemTalepTableId"
						process="@this malzemeItemAddDialogId malzemeItemAddPanelGridId"
						actionListener="#{satinalmaAmbarMalzemeTalepFormIcerikBean.addOrUpdateIcerik}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){malzemeItemAddDialogWidget.hide();}">
						<f:param id="formId"
							value="#{satinalmaAmbarMalzemeTalepFormBean.satinalmaAmbarMalzemeTalepFormEkran.id}"></f:param>
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>

	</ui:composition>
</h:body>
</html>