<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Malzeme Talepler</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">

		<ui:define name="showPanel">
			<p:growl id="growl" />
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px; width:100%" id="accordionPanelId"
				activeIndex="#{satinalmaMalzemeHizmetTalepFormuBean.activeIndex}">
				<p:ajax event="tabChange"
					listener="#{satinalmaMalzemeHizmetTalepFormuBean.onTabChange}" />
				<p:tab title="SİSTEMDEKİ TÜM MALZEME TALEP FORMLARI"
					rendered="#{employeeDayoffBean.currentEmployee.employeeId eq 204 || employeeDayoffBean.currentEmployee.employeeId eq 95}">

					<p:dataTable var="malzemeTalepler"
						widgetVar="malzemeTaleplerListDataTableWidget"
						id="malzemeTaleplerListAllDataTableId"
						value="#{satinalmaMalzemeHizmetTalepFormuBean.allSatinalmaMalzemeHizmetTalepFormuList}"
						paginator="true" rows="10"
						selection="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran}"
						rowKey="#{malzemeTalepler.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="growl viewMalzemeTaleplerPanelId newMalzemeTaleplerPanelId malzemeTaleplerDialogId malzemeItemDialogId"
							process="@this malzemeTaleplerListAllDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaMalzemeHizmetTalepFormuBean.formListener}"
							process="listForm:malzemeTaleplerListAllDataTableId malzemeTaleplerListAllDataTableId"
							update="growl viewMalzemeTaleplerPanelId newMalzemeTaleplerPanelId malzemeTaleplerDialogId" />
						<p:ajax event="rowSelect"
							update="growl malzemeTaleplerListAllDataTableId orderAccordionPanelId">
						</p:ajax>

						<p:column sortBy="#{malzemeTalepler.formSayisi}"
							filterBy="#{malzemeTalepler.formSayisi}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MALZEME/HİZMET TALEP FORM NO" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.formSayisi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="PROJE ADI" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.projeAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="AMBAR/MALZEME TALEP FORM NO" />
							</f:facet>
							<h:outputText
								value="#{malzemeTalepler.satinalmaAmbarMalzemeTalepForm.formSayisi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.TALEBIYAPAN}" />
							</f:facet>
							<h:outputText
								value="#{malzemeTalepler.user.employee.firstname} #{malzemeTalepler.user.employee.lastname}"></h:outputText>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="SAYI" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{malzemeTalepler.sayi}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column>
							<f:facet name="header">
								<h:outputText value="AÇIKLAMA" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.aciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="OLUŞTURMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="TALEP TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.talepTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ONAYLANMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.onayTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.DURUM}" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.satinalmaDurum.title}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ONAYA GÖNDERİLMİŞ" />
							</f:facet>
							<p:selectBooleanCheckbox value="#{malzemeTalepler.tamamlanma}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ÜRT. MÜD. ONAYI"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval eq 1}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval eq 2}"></p:graphicImage>
							<p:graphicImage value="/large_icons/blank.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval==0}"></p:graphicImage>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="FAB. MÜD. ONAYI"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval eq 1}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval eq 2}"></p:graphicImage>
							<p:graphicImage value="/large_icons/blank.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval==0}"></p:graphicImage>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="REV. AÇIKLAMASI" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{malzemeTalepler.revAciklama}"></h:outputText> -->
						<!-- 						</p:column> -->

						<f:facet name="footer">
							<p:commandButton value="#{language.LISTEYIYENILE}"
								process="malzemeTaleplerListAllDataTableId"
								update="growl malzemeTaleplerListAllDataTableId viewMalzemeTaleplerPanelId"
								action="#{satinalmaMalzemeHizmetTalepFormuBean.fillTestList}">
							</p:commandButton>
							<!-- 							<p:commandButton value="SATIN ALMA'YA GÖNDER" -->
							<!-- 								rendered="#{satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender}" -->
							<!-- 								update="growl malzemeTaleplerListAllDataTableId accordionPanelId malzemeTaleplerPanelGridId itemTalepTableId" -->
							<!-- 								process="@this malzemeTaleplerDialogId" -->
							<!-- 								icon="ui-icon-circle-plus" -->
							<!-- 								action="#{satinalmaMalzemeHizmetTalepFormuBean.satinAlmayaGonder}"> -->
							<!-- 							</p:commandButton> -->
							<p:commandButton value="TALEBİN İÇERİĞİNE BAK"
								rendered="#{satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender}"
								update="growl malzemeTaleplerListAllDataTableId accordionPanelId malzemeTaleplerPanelGridId itemTalepTableId itemTalepPanelId"
								process="@this malzemeTaleplerDialogId"
								onclick="malzemeItemDialogWidget.show()"
								icon="ui-icon-circle-plus"
								action="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.fillTestList(satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.id)}">
							</p:commandButton>
						</f:facet>
					</p:dataTable>

				</p:tab>
				<p:tab title="MALZEME / HİZMET TALEP FORMLARIM">
					<p:dataTable var="malzemeTalepler"
						widgetVar="malzemeTaleplerListDataTableWidget"
						id="malzemeTaleplerListPersonalDataTableId"
						value="#{satinalmaMalzemeHizmetTalepFormuBean.allSatinalmaMalzemeHizmetTalepFormuPersonalList}"
						paginator="true" rows="10"
						selection="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran}"
						rowKey="#{malzemeTalepler.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="growl viewMalzemeTaleplerPanelId newMalzemeTaleplerPanelId malzemeTaleplerDialogId malzemeItemDialogId"
							process="@this malzemeTaleplerListPersonalDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaMalzemeHizmetTalepFormuBean.formListener}"
							process="listForm:malzemeTaleplerListPersonalDataTableId malzemeTaleplerListPersonalDataTableId"
							update="growl viewMalzemeTaleplerPanelId newMalzemeTaleplerPanelId malzemeTaleplerDialogId" />
						<p:ajax event="rowSelect"
							update="growl malzemeTaleplerListPersonalDataTableId orderAccordionPanelId">
						</p:ajax>

						<p:column sortBy="#{malzemeTalepler.formSayisi}"
							filterBy="#{malzemeTalepler.formSayisi}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MALZEME/HİZMET TALEP FORM NO" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.formSayisi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="PROJE ADI" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.projeAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="AMBAR/MALZEME TALEP FORM NO" />
							</f:facet>
							<h:outputText
								value="#{malzemeTalepler.satinalmaAmbarMalzemeTalepForm.formSayisi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.TALEBIYAPAN}" />
							</f:facet>
							<h:outputText
								value="#{malzemeTalepler.user.employee.firstname} #{malzemeTalepler.user.employee.lastname}"></h:outputText>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="SAYI" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{malzemeTalepler.sayi}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column>
							<f:facet name="header">
								<h:outputText value="AÇIKLAMA" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.aciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="OLUŞTURMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="TALEP TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.talepTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ONAYLANMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.onayTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.DURUM}" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.satinalmaDurum.title}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ONAYA GÖNDERİLMİŞ" />
							</f:facet>
							<p:selectBooleanCheckbox value="#{malzemeTalepler.tamamlanma}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ÜRT. MÜD. ONAYI"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval eq 1}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval eq 2}"></p:graphicImage>
							<p:graphicImage value="/large_icons/blank.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval==0}"></p:graphicImage>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="FAB. MÜD. ONAYI"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval eq 1}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval eq 2}"></p:graphicImage>
							<p:graphicImage value="/large_icons/blank.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval==0}"></p:graphicImage>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="REV. AÇIKLAMASI" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{malzemeTalepler.revAciklama}"></h:outputText> -->
						<!-- 						</p:column> -->

						<f:facet name="footer">
							<p:commandButton value="#{language.LISTEYIYENILE}"
								process="malzemeTaleplerListPersonalDataTableId"
								update="growl malzemeTaleplerListPersonalDataTableId viewMalzemeTaleplerPanelId"
								action="#{satinalmaMalzemeHizmetTalepFormuBean.fillTestList}">
							</p:commandButton>
							<p:commandButton value="YENİ TALEP EKLE"
								update="growl malzemeTaleplerListPersonalDataTableId accordionPanelId malzemeTaleplerPanelGridId"
								process="@this"
								actionListener="#{satinalmaMalzemeHizmetTalepFormuBean.addForm}"
								icon="ui-icon-circle-plus"
								onclick="malzemeTaleplerDialogWidget.show()">
							</p:commandButton>
							<p:commandButton value="TALEP DÜZENLE"
								rendered="#{satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender and !satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.tamamlanma}"
								update="growl malzemeTaleplerListPersonalDataTableId accordionPanelId malzemeTaleplerPanelGridId"
								process="@this malzemeTaleplerDialogId"
								onclick="malzemeTaleplerDialogWidget.show()"
								icon="ui-icon-circle-plus">
							</p:commandButton>
							<p:commandButton value="TALEBE MALZEME/HİZMET EKLE"
								rendered="#{satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender and !satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.tamamlanma}"
								update="growl malzemeTaleplerListPersonalDataTableId accordionPanelId malzemeTaleplerPanelGridId itemTalepTableId"
								process="@this malzemeTaleplerDialogId"
								onclick="malzemeItemDialogWidget.show()"
								icon="ui-icon-circle-plus"
								action="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.fillTestList(satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.id)}">
							</p:commandButton>
							<p:commandButton value="İÇERİĞİNİ GÖR"
								rendered="#{satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender and satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.tamamlanma}"
								update="growl malzemeTaleplerListPersonalDataTableId accordionPanelId malzemeTaleplerPanelGridId itemTalepTableId itemTalepPanelId"
								process="@this malzemeTaleplerDialogId"
								onclick="malzemeItemDialogWidget.show()"
								icon="ui-icon-circle-plus"
								action="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.fillTestList(satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.id)}">
							</p:commandButton>
							<p:commandButton value="ONAYA GÖNDER"
								process="malzemeTaleplerListPersonalDataTableId"
								update="malzemeTaleplerListPersonalDataTableId viewMalzemeTaleplerPanelId growl"
								rendered="#{satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender and !satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.tamamlanma}"
								actionListener="#{satinalmaMalzemeHizmetTalepFormuBean.onayaGonder}"
								icon="ui-icon-circle-plus">
							</p:commandButton>
							<p:commandButton value="TALEBİ SİL"
								process="malzemeTaleplerListPersonalDataTableId"
								update="malzemeTaleplerListPersonalDataTableId viewMalzemeTaleplerPanelId growl"
								action="#{satinalmaMalzemeHizmetTalepFormuBean.fillTestList}"
								icon="ui-icon-circle-delete"
								rendered="#{satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender and !satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.tamamlanma}">
							</p:commandButton>
						</f:facet>
					</p:dataTable>
				</p:tab>
				<p:tab
					title="MALZEME / HİZMET TALEP - ÜRT. MÜD. ONAYI BEKLEYENLER - #{satinalmaMalzemeHizmetTalepFormuBean.amirOnayBekleyenlerSayisi}">
					<p:dataTable var="malzemeTalepler"
						widgetVar="malzemeTaleplerListDataTableWidget"
						id="malzemeTaleplerListOnayDataTableId"
						value="#{satinalmaMalzemeHizmetTalepFormuBean.allSatinalmaMalzemeHizmetTalepFormuOnayBekleyenlerList}"
						paginator="true" rows="10"
						selection="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran}"
						rowKey="#{malzemeTalepler.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="growl viewMalzemeTaleplerPanelId newMalzemeTaleplerPanelId malzemeTaleplerDialogId malzemeItemDialogId"
							process="@this malzemeTaleplerListOnayDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaMalzemeHizmetTalepFormuBean.formListener}"
							process="listForm:malzemeTaleplerListOnayDataTableId malzemeTaleplerListOnayDataTableId"
							update="growl viewMalzemeTaleplerPanelId newMalzemeTaleplerPanelId malzemeTaleplerDialogId" />
						<p:ajax event="rowSelect"
							update="growl malzemeTaleplerListOnayDataTableId orderAccordionPanelId">
						</p:ajax>

						<p:column sortBy="#{malzemeTalepler.formSayisi}"
							filterBy="#{malzemeTalepler.formSayisi}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MALZEME/HİZMET TALEP FORM NO" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.formSayisi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="PROJE ADI" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.projeAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="AMBAR/MALZEME TALEP FORM NO" />
							</f:facet>
							<h:outputText
								value="#{malzemeTalepler.satinalmaAmbarMalzemeTalepForm.formSayisi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.TALEBIYAPAN}" />
							</f:facet>
							<h:outputText
								value="#{malzemeTalepler.user.employee.firstname} #{malzemeTalepler.user.employee.lastname}"></h:outputText>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="SAYI" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{malzemeTalepler.sayi}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column>
							<f:facet name="header">
								<h:outputText value="AÇIKLAMA" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.aciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="OLUŞTURMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="TALEP TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.talepTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ONAYLANMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.onayTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.DURUM}" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.satinalmaDurum.title}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ONAYA GÖNDERİLMİŞ" />
							</f:facet>
							<p:selectBooleanCheckbox value="#{malzemeTalepler.tamamlanma}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ÜRT. MÜD. ONAYI"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval eq 1}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval eq 2}"></p:graphicImage>
							<p:graphicImage value="/large_icons/blank.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval==0}"></p:graphicImage>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="FAB. MÜD. ONAYI"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval eq 1}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval eq 2}"></p:graphicImage>
							<p:graphicImage value="/large_icons/blank.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval==0}"></p:graphicImage>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="REV. AÇIKLAMASI" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{malzemeTalepler.revAciklama}"></h:outputText> -->
						<!-- 						</p:column> -->

						<f:facet name="footer">
							<p:commandButton value="ONAYLA"
								process="malzemeTaleplerListOnayDataTableId"
								update="growl malzemeTaleplerListOnayDataTableId viewMalzemeTaleplerPanelId"
								actionListener="#{satinalmaMalzemeHizmetTalepFormuBean.approveRequest}"
								icon="ui-icon-circle-plus">
							</p:commandButton>
							<p:commandButton value="REDDET"
								update="growl malzemeTaleplerListOnayDataTableId accordionPanelId malzemeTaleplerPanelGridId"
								process="@this malzemeTaleplerDialogId"
								actionListener="#{satinalmaMalzemeHizmetTalepFormuBean.declineRequest}"
								icon="ui-icon-circle-close">
							</p:commandButton>
							<p:commandButton value="İÇERİĞİNİ GÖR"
								disabled="#{!satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender}"
								update="growl malzemeTaleplerListPersonalDataTableId accordionPanelId malzemeTaleplerPanelGridId itemTalepTableId itemTalepPanelId"
								process="@this malzemeTaleplerDialogId"
								onclick="malzemeItemDialogWidget.show()"
								icon="ui-icon-circle-plus"
								action="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.fillTestList(satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.id)}">
							</p:commandButton>
							<!-- 							<p:commandButton value="REVİZYONA GÖNDER" -->
							<!-- 								update="growl malzemeTaleplerListOnayDataTableId accordionPanelId malzemeTaleplerPanelGridId" -->
							<!-- 								process="@this malzemeTaleplerDialogId" -->
							<!-- 								icon="ui-icon-circle-close" -->
							<!-- 								rendered="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.supervisorApproval eq 0}" -->
							<!-- 								onclick="malzemeTaleplerRevizyonDialogWidget.show()"> -->
							<!-- 							</p:commandButton> -->
						</f:facet>
					</p:dataTable>
				</p:tab>

				<p:tab
					title="MALZEME / HİZMET TALEP - G.M. ONAYI BEKLEYENLER - #{satinalmaMalzemeHizmetTalepFormuBean.gmOnayBekleyenlerSayisi}">
					<p:dataTable var="malzemeTalepler"
						widgetVar="malzemeTaleplerListDataTableWidget"
						id="malzemeTaleplerListGMOnayDataTableId"
						value="#{satinalmaMalzemeHizmetTalepFormuBean.allSatinalmaMalzemeHizmetTalepFormuGMOnayBekleyenlerList}"
						paginator="true" rows="10"
						selection="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran}"
						rowKey="#{malzemeTalepler.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="growl viewMalzemeTaleplerPanelId newMalzemeTaleplerPanelId malzemeTaleplerDialogId malzemeItemDialogId"
							process="@this malzemeTaleplerListGMOnayDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaMalzemeHizmetTalepFormuBean.formListener}"
							process="listForm:malzemeTaleplerListGMOnayDataTableId malzemeTaleplerListGMOnayDataTableId"
							update="growl viewMalzemeTaleplerPanelId newMalzemeTaleplerPanelId malzemeTaleplerDialogId" />
						<p:ajax event="rowSelect"
							update="growl malzemeTaleplerListGMOnayDataTableId orderAccordionPanelId">
						</p:ajax>

						<p:column sortBy="#{malzemeTalepler.formSayisi}"
							filterBy="#{malzemeTalepler.formSayisi}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MALZEME/HİZMET TALEP FORM NO" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.formSayisi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="PROJE ADI" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.projeAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="AMBAR/MALZEME TALEP FORM NO" />
							</f:facet>
							<h:outputText
								value="#{malzemeTalepler.satinalmaAmbarMalzemeTalepForm.formSayisi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.TALEBIYAPAN}" />
							</f:facet>
							<h:outputText
								value="#{malzemeTalepler.user.employee.firstname} #{malzemeTalepler.user.employee.lastname}"></h:outputText>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="SAYI" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{malzemeTalepler.sayi}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column>
							<f:facet name="header">
								<h:outputText value="AÇIKLAMA" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.aciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="OLUŞTURMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="TALEP TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.talepTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ONAYLANMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.onayTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.DURUM}" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.satinalmaDurum.title}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ONAYA GÖNDERİLMİŞ" />
							</f:facet>
							<p:selectBooleanCheckbox value="#{malzemeTalepler.tamamlanma}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ÜRT. MÜD. ONAYI"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval eq 1}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval eq 2}"></p:graphicImage>
							<p:graphicImage value="/large_icons/blank.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval==0}"></p:graphicImage>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="FAB. MÜD. ONAYI"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval eq 1}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval eq 2}"></p:graphicImage>
							<p:graphicImage value="/large_icons/blank.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval==0}"></p:graphicImage>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="REV. AÇIKLAMASI" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{malzemeTalepler.revAciklama}"></h:outputText> -->
						<!-- 						</p:column> -->

						<f:facet name="footer">
							<p:commandButton value="ONAYLA"
								process="malzemeTaleplerListGMOnayDataTableId"
								update="growl malzemeTaleplerListGMOnayDataTableId viewMalzemeTaleplerPanelId"
								actionListener="#{satinalmaMalzemeHizmetTalepFormuBean.gmIslemleri}"
								icon="ui-icon-circle-plus">
								<f:param id="onayId" value="1"></f:param>
							</p:commandButton>
							<p:commandButton value="REDDET"
								update="growl malzemeTaleplerListGMOnayDataTableId accordionPanelId malzemeTaleplerPanelGridId"
								process="@this malzemeTaleplerDialogId"
								actionListener="#{satinalmaMalzemeHizmetTalepFormuBean.gmIslemleri}"
								icon="ui-icon-circle-close">
								<f:param id="redId" value="2"></f:param>
							</p:commandButton>
							<p:commandButton value="İÇERİĞİNİ GÖR"
								disabled="#{!satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender}"
								update="growl malzemeTaleplerListPersonalDataTableId accordionPanelId malzemeTaleplerPanelGridId itemTalepTableId itemTalepPanelId"
								process="@this malzemeTaleplerDialogId"
								onclick="malzemeItemDialogWidget.show()"
								icon="ui-icon-circle-plus"
								action="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.fillTestList(satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.id)}">
							</p:commandButton>
							<!-- 							<p:commandButton value="REVİZYONA GÖNDER" -->
							<!-- 								update="growl malzemeTaleplerListGMOnayDataTableId accordionPanelId malzemeTaleplerPanelGridId" -->
							<!-- 								process="@this malzemeTaleplerDialogId" -->
							<!-- 								icon="ui-icon-circle-close" -->
							<!-- 								rendered="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.supervisorApproval eq 0}" -->
							<!-- 								onclick="malzemeTaleplerRevizyonGMDialogWidget.show()"> -->
							<!-- 							</p:commandButton> -->
						</f:facet>
					</p:dataTable>
				</p:tab>

				<p:tab title="MALZEME / HİZMET TALEP - ONAY GEÇMİŞİM">
					<p:dataTable var="malzemeTalepler"
						widgetVar="malzemeTaleplerListDataTableWidget"
						id="malzemeTaleplerListOnayGecmisDataTableId"
						value="#{satinalmaMalzemeHizmetTalepFormuBean.allSatinalmaMalzemeHizmetTalepFormuOnayGecmislerList}"
						paginator="true" rows="10"
						selection="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran}"
						rowKey="#{malzemeTalepler.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="growl viewMalzemeTaleplerPanelId newMalzemeTaleplerPanelId malzemeTaleplerDialogId malzemeItemDialogId"
							process="@this malzemeTaleplerListOnayGecmisDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaMalzemeHizmetTalepFormuBean.formListener}"
							process="listForm:malzemeTaleplerListOnayGecmisDataTableId malzemeTaleplerListOnayGecmisDataTableId"
							update="growl viewMalzemeTaleplerPanelId newMalzemeTaleplerPanelId malzemeTaleplerDialogId" />
						<p:ajax event="rowSelect"
							update="growl malzemeTaleplerListOnayGecmisDataTableId orderAccordionPanelId">
						</p:ajax>

						<p:column sortBy="#{malzemeTalepler.formSayisi}"
							filterBy="#{malzemeTalepler.formSayisi}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MALZEME/HİZMET TALEP FORM NO" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.formSayisi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="PROJE ADI" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.projeAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="AMBAR/MALZEME TALEP FORM NO" />
							</f:facet>
							<h:outputText
								value="#{malzemeTalepler.satinalmaAmbarMalzemeTalepForm.formSayisi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.TALEBIYAPAN}" />
							</f:facet>
							<h:outputText
								value="#{malzemeTalepler.user.employee.firstname} #{malzemeTalepler.user.employee.lastname}"></h:outputText>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="SAYI" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{malzemeTalepler.sayi}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column>
							<f:facet name="header">
								<h:outputText value="AÇIKLAMA" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.aciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="OLUŞTURMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="TALEP TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.talepTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ONAYLANMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.onayTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.DURUM}" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.satinalmaDurum.title}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ONAYA GÖNDERİLMİŞ" />
							</f:facet>
							<p:selectBooleanCheckbox value="#{malzemeTalepler.tamamlanma}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ÜRT. MÜD. ONAYI"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval eq 1}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval eq 2}"></p:graphicImage>
							<p:graphicImage value="/large_icons/blank.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval==0}"></p:graphicImage>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="FAB. MÜD. ONAYI"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval eq 1}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval eq 2}"></p:graphicImage>
							<p:graphicImage value="/large_icons/blank.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval==0}"></p:graphicImage>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="REV. AÇIKLAMASI" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{malzemeTalepler.revAciklama}"></h:outputText> -->
						<!-- 						</p:column> -->

						<f:facet name="footer">
							<p:commandButton value="İÇERİĞİNİ GÖR"
								disabled="#{!satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender}"
								update="growl malzemeTaleplerListPersonalDataTableId accordionPanelId malzemeTaleplerPanelGridId itemTalepTableId itemTalepPanelId"
								process="@this malzemeTaleplerDialogId"
								onclick="malzemeItemDialogWidget.show()"
								icon="ui-icon-circle-plus"
								action="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.fillTestList(satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.id)}">
							</p:commandButton>
						</f:facet>
					</p:dataTable>

				</p:tab>
			</p:accordionPanel>

			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="#{language.MalzemeHizmetTalepFormu} #{language.Add}"
				id="malzemeTaleplerDialogId" widgetVar="malzemeTaleplerDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="malzemeTaleplerPanelGridId">
					<f:facet name="header">
						<h:outputText value="#{language.MalzemeHizmetTalepFormu}"></h:outputText>
					</f:facet>

					<!-- 					<h:outputText value="#{language.ButceKodu}" -->
					<!-- 						style="font-weight: bold;"></h:outputText> -->
					<!-- 					<p:inputText -->
					<!-- 						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.butceKodu}"> -->
					<!-- 					</p:inputText> -->

					<h:outputText value="PROJE ADI/KODU" style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.projeAdi}">
					</p:inputText>

					<!-- 					<h:outputText value="SAYI" style="font-weight: bold"></h:outputText> -->
					<!-- 					<p:inputText -->
					<!-- 						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.sayi}"> -->
					<!-- 					</p:inputText> -->

					<!-- 					<h:outputText value="#{language.DURUM}" style="font-weight: bold;"></h:outputText> -->
					<!-- 					<p:selectOneMenu -->
					<!-- 						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.satinalmaDurum}"> -->
					<!-- 						<f:converter converterId="satinalmaDurumConverter" /> -->
					<!-- 						<f:selectItems var="groupType" itemValue="#{groupType}" -->
					<!-- 							itemLabel="#{groupType.title}" -->
					<!-- 							value="#{satinalmaDurumBean.durumListMalzeme}" /> -->
					<!-- 					</p:selectOneMenu> -->

					<h:outputText value="AÇIKLAMA" style="font-weight: bold;"></h:outputText>
					<p:inputTextarea
						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.aciklama}">
					</p:inputTextarea>

					<h:outputLabel value="ÜRETIM MÜDÜRÜ" for="basicPojoMudur"
						style="font-weight: bold;" />
					<p:autoComplete
						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.supervisor}"
						id="basicPojoMudur"
						completeMethod="#{autoCompleteBean.autoCompleteEmployee}" var="e"
						itemLabel="#{e.employeeId} - #{e.firstname} #{e.lastname}"
						itemValue="#{e}" converter="employeeConverter"
						forceSelection="true" minQueryLength="3" />

					<h:outputLabel value="FABRIKA MÜDÜRÜ" for="basicPojoGenMud"
						style="font-weight: bold;" />
					<p:autoComplete
						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.generalManager}"
						id="basicPojoGenMud"
						completeMethod="#{autoCompleteBean.autoCompleteEmployee}" var="e"
						itemLabel="#{e.employeeId} - #{e.firstname} #{e.lastname}"
						itemValue="#{e}" converter="employeeConverter"
						forceSelection="true" minQueryLength="3" />

					<h:outputText value="TALEP TARIHI" style="font-weight: bold"></h:outputText>
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						stepMinute="5" required="true"
						pattern="#{userCredentialsBean.dateFormat} HH:mm"
						requiredMessage="#{language.RequiredMessage}"
						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.talepTarihi}"></p:calendar>
				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="FORM EKLE"
						update="malzemeTaleplerListDataTableId newMalzemeTaleplerPanelId accordionPanelId growl"
						process="@this malzemeTaleplerDialogId malzemeTaleplerPanelGridId"
						actionListener="#{satinalmaMalzemeHizmetTalepFormuBean.addOrUpdateForm}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){malzemeTaleplerDialogWidget.hide();}">
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>

			<!-- Seçili Hizmet Talep Formu -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" id="malzemeItemDialogId"
				widgetVar="malzemeItemDialogWidget">

				<p:panel toggleable="true" toggleOrientation="horizontal"
					header="#{language.MalzemeHizmetTalepFormuBaslik}"
					id="malzemeItemPanelGridId" style="text-align: center">
					<h:form>
						<p:dataTable var="VARIABLE1" value="">
							<p:column headerText="#{language.ButceKodu}"
								style="text-align: center">
								<h:outputText
									value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.butceKodu}" />
							</p:column>

							<p:column headerText="#{language.ProjeAdi}"
								style="text-align: center">
								<h:outputText
									value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.projeAdi}" />
							</p:column>

							<p:column headerText="#{language.Sayi}"
								style="text-align: center">
								<h:outputText
									value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.formSayisi}" />
							</p:column>

							<p:column headerText="Tarih (gg/aa/yyyy)"
								style="text-align: center">
								<h:outputText
									value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.eklemeZamani}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>
				</p:panel>

				<!-- Liste -->

				<p:panel toggleable="true" toggleOrientation="horizontal"
					id="itemTalepPanelId" style="text-align: center">
					<p:dataTable var="itemTalepler" id="itemTalepTableId"
						value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.allSatinalmaMalzemeHizmetTalepFormuIcerikList}"
						paginator="true" rows="10"
						selection="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran}"
						rowKey="#{itemTalepler.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}"
						rowIndexVar="index"
						rowStyleClass="#{itemTalepler.onayliUrun eq false ? 'highlightedRowRed' : itemTalepler.onayliUrun eq true ? 'highlightedRowGreen' : null}">

						<p:ajax event="rowSelect"
							listener="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.formListener}"
							process="listForm:itemTalepTableId itemTalepTableId"
							update="growl buttonsPanelGridId malzemeItemAddDialogId malzemeTaleplerDialogId" />


						<p:ajax event="rowEdit"
							process="listForm:itemTalepTableId itemTalepTableId"
							listener="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.onRowEdit}"
							update="growl " />

						<p:column style="width:32px">
							<p:rowEditor
								rendered="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.satinalmaDurum.id==27}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SIRA NO" />
							</f:facet>
							<h:outputText value="#{index+1}"></h:outputText>
						</p:column>

						<p:column headerText="ONAYLAMA">
							<p:cellEditor>
								<f:facet name="output">
									<p:selectBooleanCheckbox value="#{itemTalepler.onayliUrun}"
										disabled="true" />
								</f:facet>
								<f:facet name="input">
									<p:selectBooleanCheckbox value="#{itemTalepler.onayliUrun}" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="MALZEME ADI" />
							</f:facet>
							<h:outputText value="#{itemTalepler.stokUrunKartlari.urunAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="MALZEME TANIMI" />
							</f:facet>
							<h:outputText value="#{itemTalepler.disAlimAciklama}"></h:outputText>
						</p:column>

						<p:column headerText="MİKTAR">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{itemTalepler.miktar}"></h:outputText>
								</f:facet>
								<f:facet name="input">
									<p:inputText value="#{itemTalepler.miktar}" style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="BİRİM" />
							</f:facet>
							<h:outputText value="#{itemTalepler.stokTanimlarBirim.birim}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="KULLANIM YERİ" />
							</f:facet>
							<h:outputText
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormu.projeAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SARF MLZ. " />
							</f:facet>
							<p:selectBooleanCheckbox value="#{itemTalepler.sarf}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ÜRETİM MLZ. " />
							</f:facet>
							<p:selectBooleanCheckbox value="#{itemTalepler.uretim}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="BAKIM MLZ. " />
							</f:facet>
							<p:selectBooleanCheckbox value="#{itemTalepler.bakim}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="DEMİRBAŞ " />
							</f:facet>
							<p:selectBooleanCheckbox value="#{itemTalepler.demirbas}"
								disabled="true" />
						</p:column>

						<p:column headerText="İHTİYAÇ TARİHİ">
							<h:outputText value="#{itemTalepler.ihtiyacSuresi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
					</p:dataTable>
				</p:panel>

				<p:panel toggleable="true" toggleOrientation="horizontal">
					<h:form>
						<p:dataTable var="VARIABLE2" value="">
							<p:column headerText="#{language.TALEBIYAPAN}"
								style="text-align: center">
								<h:outputText
									value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.user.employee.firstname} #{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.user.employee.lastname}" />
							</p:column>

							<p:column headerText="BÖLÜM MÜDÜRÜ" style="text-align: center">
								<h:outputText
									value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.supervisor.firstname} #{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.supervisor.lastname}" />
							</p:column>

							<p:column headerText="SATIN ALMA" style="text-align: center">
								<h:outputText value="" />
							</p:column>

							<p:column headerText="FİNANS" style="text-align: center">
								<h:outputText value="" />
							</p:column>

							<p:column headerText="GENEL MÜD. YRD." style="text-align: center">
								<h:outputText
									value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.generalManager.firstname} #{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.generalManager.lastname}" />
							</p:column>
						</p:dataTable>
					</h:form>
				</p:panel>

				<h:panelGrid border="0" columns="5" cellspacing="5"
					id="buttonsPanelGridId">
					<p:commandButton value="MALZEME/HİZMET EKLE"
						update="malzemeTaleplerPanelGridId itemTalepTableId growl malzemeItemAddDialogId"
						process="@this malzemeTaleplerPanelGridId"
						icon="ui-icon-circle-plus"
						oncomplete="malzemeItemAddDialogWidget.show()"
						disabled="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.tamamlanma}"
						action="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.addIcerik}">
					</p:commandButton>
					<p:commandButton value="MALZEME/HİZMET DÜZENLE"
						rendered="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.updateButtonRender and !satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.tamamlanma}"
						update="malzemeItemPanelGridId itemTalepTableId growl"
						id="updateMalzemeTaleplerItemButton"
						process="@this malzemeTaleplerPanelGridId"
						onclick="malzemeItemAddDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="MALZEME/HİZMET SİL"
						rendered="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.updateButtonRender and !satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.tamamlanma}"
						update="malzemeItemPanelGridId itemTalepTableId growl"
						process="@this malzemeTaleplerPanelGridId"
						action="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.deleteForm}"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="#{language.IPTALKAPAT}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="malzemeItemDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- Item Ekleme Formu -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="MALZEME EKLEME"
				id="malzemeItemAddDialogId" widgetVar="malzemeItemAddDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="malzemeItemAddPanelGridId">
					<f:facet name="header">
						<h:outputText value="Malzeme Ekle"></h:outputText>
					</f:facet>

					<h:outputLabel value="Malzeme Adı" for="basicPojoUrunKartlari"
						style="font-weight: bold;" />
					<p:autoComplete
						value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran.stokUrunKartlari}"
						id="basicPojoUrunKartlari"
						completeMethod="#{autoCompleteBean.autoCompleteStokUrunKartlari}"
						var="e"
						itemLabel="#{e.urunKodu} - #{e.urunAdi} / #{e.stokTanimlarBirim.birim}"
						itemValue="#{e}" converter="stokUrunKartlariConverter"
						forceSelection="true" minQueryLength="3" size="35" />

					<h:outputText value="Malzeme Tanımı" style="font-weight: bold"></h:outputText>
					<p:inputTextarea
						value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran.disAlimAciklama}"
						rows="5" maxLength="150" autoResize="false" maxHeight="5"
						id="kimyasalAciklamaId">
						<p:watermark for="kimyasalAciklamaId"
							value="*Lütfen Varsa Malzeme Özellikleri, Üreticisi, Boyutları, vb Bilgileri Giriniz." />
					</p:inputTextarea>

					<h:outputText value="#{language.Miktar}" style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran.miktar}">
					</p:inputText>

					<!-- 					<h:outputText value="#{language.Birim}" style="font-weight: bold;"></h:outputText> -->
					<!-- 					<p:selectOneMenu -->
					<!-- 						value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran.stokTanimlarBirim.id}" -->
					<!-- 						style="width: 200px"> -->
					<!-- 						<f:selectItems var="birimType" itemValue="#{birimType.id}" -->
					<!-- 							itemLabel="#{birimType.birim}" -->
					<!-- 							value="#{stokTanimlarBirimBean.allStokTanimlarBirimList}" /> -->
					<!-- 					</p:selectOneMenu> -->

					<h:outputText value="#{language.Sarf}" style="font-weight: bold"></h:outputText>
					<p:selectBooleanCheckbox
						value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran.sarf}" />

					<h:outputText value="#{language.Uretim}" style="font-weight: bold"></h:outputText>
					<p:selectBooleanCheckbox
						value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran.uretim}" />

					<h:outputText value="#{language.Bakim}" style="font-weight: bold"></h:outputText>
					<p:selectBooleanCheckbox
						value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran.bakim}" />

					<h:outputText value="#{language.Demirbas}"
						style="font-weight: bold"></h:outputText>
					<p:selectBooleanCheckbox
						value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran.demirbas}" />

					<h:outputText value="#{language.IhtiyacTarihi}"
						style="font-weight: bold"></h:outputText>
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
						value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran.ihtiyacSuresi}"></p:calendar>

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="FORM EKLE"
						update="malzemeItemAddListDataTableId newMalzemeTaleplerPanelId accordionPanelId growl itemTalepTableId malzemeItemAddDialogId"
						process="@this malzemeItemAddDialogId malzemeItemAddPanelGridId"
						actionListener="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.addOrUpdateIcerik}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){malzemeItemAddDialogWidget.hide();}">
						<f:param id="formId"
							value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.id}"></f:param>
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>

			<!-- Revizyon Paneli Amir-->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="REVİZYONA GÖNDERME"
				id="malzemeTaleplerRevizyonDialogId"
				widgetVar="malzemeTaleplerRevizyonDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="malzemeTalepRevizyonPanelGridId">
					<f:facet name="header">
						<h:outputText value="REVİZYONA GÖNDER"></h:outputText>
					</f:facet>

					<h:outputText value="* Revizyon Açıklaması"
						style="font-weight: bold"></h:outputText>
					<p:inputTextarea
						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.revAciklama}" />

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="REVİZYONA GÖNDER"
						update="malzemeItemAddListDataTableId newMalzemeTaleplerPanelId accordionPanelId growl itemTalepTableId"
						process="@this malzemeTaleplerRevizyonDialogId malzemeTalepRevizyonPanelGridId"
						actionListener="#{satinalmaMalzemeHizmetTalepFormuBean.revizyonaGonder}"
						icon="ui-icon-circle-close"
						oncomplete="if (!args.validationFailed){malzemeTaleplerRevizyonDialogWidget.hide();}">

					</p:commandButton>
				</h:panelGrid>
			</p:dialog>

			<!-- Revizyon Paneli GM -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="REVİZYONA GÖNDERME"
				id="malzemeTaleplerRevizyonGMDialogId"
				widgetVar="malzemeTaleplerRevizyonGMDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="malzemeTalepRevizyonGMPanelGridId">
					<f:facet name="header">
						<h:outputText value="REVİZYONA GÖNDER"></h:outputText>
					</f:facet>

					<h:outputText value="* Revizyon Açıklaması"
						style="font-weight: bold"></h:outputText>
					<p:inputTextarea
						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.revAciklama}" />

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="REVİZYONA GÖNDER"
						update="malzemeItemAddListDataTableId newMalzemeTaleplerPanelId accordionPanelId growl itemTalepTableId"
						process="@this malzemeTaleplerRevizyonGMDialogId malzemeTalepRevizyonGMPanelGridId"
						actionListener="#{satinalmaMalzemeHizmetTalepFormuBean.gmIslemleri}"
						icon="ui-icon-circle-close"
						oncomplete="if (!args.validationFailed){malzemeTaleplerRevizyonGMDialogWidget.hide();}">
						<f:param id="revId" value="0"></f:param>
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>

	</ui:composition>
</h:body>
</html>