<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px; width:100%" id="accordionPanelId">
				<p:tab title="Satın Alma Tedarikçileri">
					<p:dataTable var="musteriler"
						widgetVar="musteriListDataTableWidget" id="musteriListDataTableId"
						value="#{satinalmaMusteriBean.allSatinalmaMusteriList}"
						paginator="true" rows="10"
						selection="#{satinalmaMusteriBean.satinalmaMusteriForm}"
						rowKey="#{musteriler.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect" update="musteriDialogId"
							process="@this musteriListDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaMusteriBean.satinalmaMusteriListener}"
							process="listForm:musteriListDataTableId musteriListDataTableId"
							update="musteriDialogId" />
						<p:ajax event="rowSelect"
							update="musteriListDataTableId orderAccordionPanelId">
						</p:ajax>

						<p:column headerText="#{language.salesShortName}"
							sortBy="#{musteriler.shortName}"
							filterBy="#{musteriler.shortName}" filterMatchMode="contains">
							<h:outputText value="#{musteriler.shortName}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.salesCommercialName}"
							sortBy="#{musteriler.commercialName}"
							filterBy="#{musteriler.commercialName}"
							filterMatchMode="contains">
							<h:outputText value="#{musteriler.commercialName}"></h:outputText>
						</p:column>
						<!--
								<p:column headerText="#{language.salesCompanyCode}" sortBy="#{musteriler.code}"
									filterBy="#{musteriler.code}"
									filterMatchMode="contains">
									<h:outputText value="#{musteriler.code}"></h:outputText>
								</p:column>
-->
						<!-- 						<p:column headerText="Markalar"> -->
						<!-- 							<h:dataTable value="#{musteriler.markaList}" var="salesList" -->
						<!-- 								style="border:0px transparent"> -->
						<!-- 								<p:column> -->
						<!-- 									<h:outputText value="#{salesList.markaAdi}" /> -->
						<!-- 								</p:column> -->
						<!-- 							</h:dataTable> -->
						<!-- 						</p:column> -->

						<p:column headerText="#{language.City}"
							sortBy="#{musteriler.city}" filterBy="#{musteriler.city}"
							filterMatchMode="contains">
							<h:outputText value="#{musteriler.city}"></h:outputText>
						</p:column>

						<p:column headerText="Notlar" filterBy="#{musteriler.note}"
							filterMatchMode="contains">
							<h:outputText value="#{musteriler.note}"></h:outputText>
						</p:column>

						<!-- 						<p:column headerText="#{language.Country}" -->
						<!-- 							sortBy="#{musteriler.ulkeler.ulkeIsmi}" -->
						<!-- 							filterBy="#{musteriler.ulkeler.ulkeIsmi}" -->
						<!-- 							filterMatchMode="contains"> -->
						<!-- 							<h:outputText value="#{musteriler.ulkeler.ulkeIsmi}"></h:outputText> -->
						<!-- 						</p:column> -->
						<!--
								<p:column headerText="#{language.salesTaxOffice}" sortBy="#{musteriler.taxOffice}"
									filterBy="#{musteriler.taxOffice}"
									filterMatchMode="contains">
									<h:outputText value="#{musteriler.taxOffice}"></h:outputText>
								</p:column>

								<p:column headerText="#{language.salesTaxNumber}" sortBy="#{musteriler.taxNumber}"
									filterBy="#{musteriler.taxNumber}"
									filterMatchMode="contains">
									<h:outputText value="#{musteriler.taxNumber}"></h:outputText>
								</p:column>

								<p:column headerText="#{language.salesRecordDate}" sortBy="#{musteriler.recordDate}"
									filterBy="#{musteriler.recordDate}"
									filterMatchMode="contains">
									<h:outputText value="#{musteriler.recordDate}"></h:outputText>
								</p:column>
-->

						<f:facet name="footer">
							<p:commandButton value="#{language.RefreshList}"
								process="musteriListDataTableId" update="musteriListDataTableId"
								action="#{satinalmaMusteriBean.fillTestList}">
							</p:commandButton>
							<p:commandButton value="Tedarikçi #{language.Add}"
								update="musteriListDataTableId accordionPanelId musteriPanelGridId"
								process="@this musteriDialogId"
								actionListener="#{satinalmaMusteriBean.addMusteri}"
								icon="ui-icon-circle-plus" onclick="musteriDialogWidget.show()">
							</p:commandButton>
							<p:commandButton value="Tedarikçi #{language.Update}"
								rendered="#{satinalmaMusteriBean.updateButtonRender}"
								update="musteriListDataTableId accordionPanelId musteriPanelGridId"
								process="@this musteriDialogId"
								onclick="musteriDialogWidget.show()" icon="ui-icon-circle-plus">
							</p:commandButton>
							<p:commandButton
								actionListener="#{satinalmaMusteriBean.deleteMusteri}"
								value="Tedarikçi #{language.Delete}"
								rendered="#{satinalmaMusteriBean.updateButtonRender}"
								update="musteriListDataTableId accordionPanelId growl"
								process="@this musteriDialogId" icon="ui-icon-trash" />
						</f:facet>
					</p:dataTable>

					<h:panelGrid border="0" columns="3">

					</h:panelGrid>

				</p:tab>
			</p:accordionPanel>

			<!-- müşteri ekleme -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="Tedarikçi #{language.Add}"
				id="musteriDialogId" widgetVar="musteriDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="musteriPanelGridId">
					<f:facet name="header">
						<h:outputText value="Tedarikçi Ekleme"></h:outputText>
					</f:facet>

					<h:outputLabel value="#{language.salesShortName}: "></h:outputLabel>
					<p:inputText
						value="#{satinalmaMusteriBean.satinalmaMusteriForm.shortName}" />

					<h:outputLabel value="#{language.salesCommercialName}: "></h:outputLabel>
					<p:inputText
						value="#{satinalmaMusteriBean.satinalmaMusteriForm.commercialName}" />

					<!-- 					<h:outputLabel value="#{language.salesCompanyCode} : "></h:outputLabel> -->
					<!-- 					<p:inputMask -->
					<!-- 						value="#{satinalmaMusteriBean.satinalmaMusteriForm.code}" -->
					<!-- 						mask="999999" /> -->

					<!-- 					<h:outputLabel value="Markaları : "></h:outputLabel> -->
					<!-- 					<p:selectManyMenu -->
					<!-- 						value="#{satinalmaMusteriBean.satinalmaMusteriForm.markaList}" -->
					<!-- 						layout="lineDirection" style=" width:113px;height:70px" -->
					<!-- 						disabled="#{satinalmaMusteriBean.satinalmaMusteriForm.id!=null}"> -->
					<!-- 						<f:converter converterId="salesCustomerFunctionTypeConverter" /> -->
					<!-- 						<c:forEach -->
					<!-- 							items="#{stokTanimlarMarkaBean.allStokTanimlarMarkaList}" -->
					<!-- 							var="functions"> -->
					<!-- 							<f:selectItem itemValue="#{functions}" -->
					<!-- 								itemLabel="#{functions.markaAdi}"></f:selectItem> -->
					<!-- 						</c:forEach> -->
					<!-- 					</p:selectManyMenu> -->

					<h:outputLabel value="#{language.Address}:  "></h:outputLabel>
					<p:inputTextarea
						value="#{satinalmaMusteriBean.satinalmaMusteriForm.address}"
						rows="5" maxLength="150" style="width:106px" autoResize="false"
						cols="10" maxHeight="10">
					</p:inputTextarea>

					<h:outputLabel value="#{language.City} : "></h:outputLabel>
					<p:inputText
						value="#{satinalmaMusteriBean.satinalmaMusteriForm.city}">
					</p:inputText>

					<h:outputLabel value="İlgili Kişi : "></h:outputLabel>
					<p:inputText
						value="#{satinalmaMusteriBean.satinalmaMusteriForm.ilgiliKisi}">
					</p:inputText>

					<h:outputLabel value="E-Posta : "></h:outputLabel>
					<p:inputText
						value="#{satinalmaMusteriBean.satinalmaMusteriForm.mail}">
					</p:inputText>

					<h:outputLabel value="Telefon No : "></h:outputLabel>
					<p:inputMask
						value="#{satinalmaMusteriBean.satinalmaMusteriForm.telefon}"
						mask="(999) 999 9999">
					</p:inputMask>

					<h:outputLabel value="Faks No : "></h:outputLabel>
					<p:inputMask
						value="#{satinalmaMusteriBean.satinalmaMusteriForm.fax}"
						mask="(999) 999 9999">
					</p:inputMask>

					<h:outputLabel value="Notlar:  "></h:outputLabel>
					<p:inputTextarea
						value="#{satinalmaMusteriBean.satinalmaMusteriForm.note}" rows="5"
						maxLength="150" style="width:106px" autoResize="false" cols="10"
						maxHeight="10">
					</p:inputTextarea>

					<!-- 					<h:outputLabel value="#{language.Country} : "></h:outputLabel> -->
					<!-- 					<p:selectOneMenu layout="lineDirection" style="width: 140px" -->
					<!-- 						value="#{satinalmaMusteriBean.satinalmaMusteriForm.ulkeler}" -->
					<!-- 						required="true" requiredMessage="#{language.RequiredMessage}"> -->
					<!-- 						<f:converter converterId="ulkelerConverter" /> -->
					<!-- 						<c:forEach items="#{ulkelerBean.allUlkelerList}" var="ulke"> -->
					<!-- 							<f:selectItem itemValue="#{ulke}" itemLabel="#{ulke.ulkeIsmi}"></f:selectItem> -->
					<!-- 						</c:forEach> -->
					<!-- 					</p:selectOneMenu> -->

					<!-- 					<h:outputLabel value="#{language.salesTaxOffice} : "></h:outputLabel> -->
					<!-- 					<p:inputText -->
					<!-- 						value="#{satinalmaMusteriBean.satinalmaMusteriForm.taxOffice}"> -->
					<!-- 					</p:inputText> -->

					<!-- 					<h:outputLabel value="#{language.salesTaxNumber} : "></h:outputLabel> -->
					<!-- 					<p:inputMask -->
					<!-- 						value="#{satinalmaMusteriBean.satinalmaMusteriForm.taxNumber}" -->
					<!-- 						mask="999 999 9999"> -->
					<!-- 					</p:inputMask> -->

					<!-- 					<h:outputLabel value="#{language.salesRecordDate}: "></h:outputLabel> -->
					<!-- 					<p:inputText -->
					<!-- 						value="#{satinalmaMusteriBean.satinalmaMusteriForm.eklemeZamani}" -->
					<!-- 						readonly="true"> -->
					<!-- 					</p:inputText> -->

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="Tedarikçi #{language.Add}"
						update="musteriListDataTableId accordionPanelId growl"
						process="@this musteriPanelGridId"
						actionListener="#{satinalmaMusteriBean.addOrUpdateForm}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){musteriDialogWidget.hide();}">
					</p:commandButton>
					<p:messages id="musteriMessagesId" showDetail="false"
						showSummary="false"></p:messages>
				</h:panelGrid>
			</p:dialog>
			<!-- musteri ekleme -->
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>