<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">

		<ui:define name="showPanel">
			<p:growl id="growl" />
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px; width:100%" id="accordionPanelId">
				<p:tab title="ÖDEME BİLDİRİMLERİ EKRANI">
					<p:dataTable var="odemeBildirimleri"
						widgetVar="odemeBildirimleriListDataTableWidget"
						id="odemeBildirimleriListOnayDataTableId"
						value="#{satinalmaOdemeBildirimiBean.allSatinalmaOdemeBildirimiList}"
						paginator="true" rows="10"
						selection="#{satinalmaOdemeBildirimiBean.satinalmaOdemeBildirimiForm}"
						rowKey="#{odemeBildirimleri.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="growl odemeBildirimleriListOnayDataTableId"
							process="@this odemeBildirimleriListOnayDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaOdemeBildirimiBean.formListener}"
							process="listForm:odemeBildirimleriListOnayDataTableId odemeBildirimleriListOnayDataTableId"
							update="growl " />
						<p:ajax event="rowSelect"
							update="growl odemeBildirimleriListOnayDataTableId accordionPanelId itemTalepTableId dosyaIcerikTableId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="ÖDEME BİLDİRİMLERİ" />
						</f:facet>

						<p:column
							sortBy="#{odemeBildirimleri.satinalmaSiparisBildirimi.satinalmaSiparisMektubu.satinalmaSatinalmaKarari.satinalmaTakipDosyalar.dosyaTakipNo}"
							filterBy="#{odemeBildirimleri.satinalmaSiparisBildirimi.satinalmaSiparisMektubu.satinalmaSatinalmaKarari.satinalmaTakipDosyalar.dosyaTakipNo}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="DOSYA NUMARASI" />
							</f:facet>
							<h:outputText
								value="#{odemeBildirimleri.satinalmaSiparisBildirimi.satinalmaSiparisMektubu.satinalmaSatinalmaKarari.satinalmaTakipDosyalar.dosyaTakipNo}"></h:outputText>
						</p:column>

						<p:column
							sortBy="#{odemeBildirimleri.satinalmaSiparisBildirimi.satinalmaSiparisMektubu.satinalmaMusteri.commercialName}"
							filterBy="#{odemeBildirimleri.satinalmaSiparisBildirimi.satinalmaSiparisMektubu.satinalmaMusteri.commercialName}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="TEDARİKÇİ" />
							</f:facet>
							<h:outputText
								value="#{odemeBildirimleri.satinalmaSiparisBildirimi.satinalmaSiparisMektubu.satinalmaMusteri.commercialName}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.ACIKLAMALAR}" />
							</f:facet>
							<h:outputText value="#{odemeBildirimleri.aciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ÖDEME VADESİ" />
							</f:facet>
							<h:outputText value="#{odemeBildirimleri.odemeVadesi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="OLUŞTURMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{odemeBildirimleri.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.DURUM}" />
							</f:facet>
							<h:outputText value=""></h:outputText>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="#{language.LISTEYIYENILE}"
								process="odemeBildirimleriListOnayDataTableId"
								update="odemeBildirimleriListOnayDataTableId"
								action="#{satinalmaOdemeBildirimiBean.fillTestList}">
							</p:commandButton>
							<p:commandButton value="BİLDİRİM DÜZENLE"
								disabled="#{!satinalmaOdemeBildirimiBean.updateButtonRender}"
								update="growl accordionPanelId itemTalepTableId dosyaIcerikTableId showIcerikPanelId"
								process="@this odemeBildirimleriDialogId"
								icon="ui-icon-circle-plus"
								onclick="bildirimDuzenlemeDialogWidget.show()">
							</p:commandButton>
							<p:commandButton value="İÇERİĞİNİ GÖR"
								disabled="#{!satinalmaOdemeBildirimiBean.updateButtonRender}"
								update="growl accordionPanelId itemTalepTableId dosyaIcerikTableId showIcerikPanelId"
								process="@this odemeBildirimleriDialogId"
								icon="ui-icon-circle-plus"
								action="#{satinalmaOdemeBildirimiIcerikBean.fillTestList(satinalmaOdemeBildirimiBean.satinalmaOdemeBildirimiForm.id)}"
								onclick="showIcerikDialogWidget.show()">
							</p:commandButton>
						</f:facet>
					</p:dataTable>

				</p:tab>
			</p:accordionPanel>

			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="ÖDEME BİLDİRİMİ DÜZENLEME"
				id="bildirimDuzenlemeDialogId"
				widgetVar="bildirimDuzenlemeDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="bildirimDuzenlemePanelGridId">
					<f:facet name="header">
						<h:outputText value="Sipariş Bildirim Formu"></h:outputText>
					</f:facet>

					<!-- 					<h:outputLabel value="#{language.salesStatus}" -->
					<!-- 						style="font-weight: bold;" /> -->
					<!-- 					<p:selectOneMenu -->
					<!-- 						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.satinalmaDurum}" -->
					<!-- 						layout="lineDirection" style="width:141px;"> -->
					<!-- 						<f:converter converterId="satinalmaDurumConverter" /> -->
					<!-- 						<c:forEach items="#{satinalmaDurumBean.durumListTeklif}" -->
					<!-- 							var="durumlar"> -->
					<!-- 							<f:selectItem itemValue="#{durumlar}" -->
					<!-- 								itemLabel="#{durumlar.title}"></f:selectItem> -->
					<!-- 						</c:forEach> -->
					<!-- 					</p:selectOneMenu> -->

					<h:outputText value="Açıklamalar" style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaOdemeBildirimiBean.satinalmaOdemeBildirimiForm.aciklama}">
					</p:inputText>

					<h:outputText value="Ödeme Vadesi" style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaOdemeBildirimiBean.satinalmaOdemeBildirimiForm.odemeVadesi}">
					</p:inputText>

					<h:outputText value="Hesap Bilgileri (iban)"
						style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaOdemeBildirimiBean.satinalmaOdemeBildirimiForm.iban}">
					</p:inputText>

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="KAYDET"
						update="odemeBildirimleriListOnayDataTableId accordionPanelId growl"
						process="@this bildirimDuzenlemeDialogId bildirimDuzenlemePanelGridId"
						actionListener="#{satinalmaOdemeBildirimiBean.addOrUpdateForm}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){bildirimDuzenlemeDialogWidget.hide();}">
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>

			<p:dialog id="showIcerikDialog" resizable="false"
				widgetVar="showIcerikDialogWidget" closable="true"
				maximizable="true" dynamic="true" draggable="true"
				header="ÖDEME İÇERİĞİ">
				<p:panel toggleable="true" toggleOrientation="horizontal"
					id="showIcerikPanelId" style="text-align: center">

					<h:form>
						<p:dataTable var="FIRST" value="">
							<p:column style="text-align: right">
								<h:outputLabel value="TARİH: " style="font-weight: bold;" />
								<h:outputText
									value="#{satinalmaOdemeBildirimiBean.satinalmaOdemeBildirimiForm.eklemeZamani}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								<br></br>
								<h:outputLabel value="SAYI: " style="font-weight: bold;">
								</h:outputLabel>
								<h:outputText value="%deger%" />
							</p:column>
						</p:dataTable>
					</h:form>

					<h:form>
						<p:dataTable var="SECOND" value="">
							<p:column style="text-align: left">
								<h:outputLabel value="FİRMA ADI: " style="font-weight: bold;" />
								<h:outputText
									value="#{satinalmaOdemeBildirimiBean.satinalmaOdemeBildirimiForm.satinalmaSiparisBildirimi.satinalmaSiparisMektubu.satinalmaMusteri.commercialName}">
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>

					<p:dataTable var="dosyaIcerikler" id="dosyaIcerikTableId"
						rowIndexVar="index"
						value="#{satinalmaOdemeBildirimiIcerikBean.allSatinalmaOdemeBildirimiIcerikList}"
						rows="10"
						selection="#{satinalmaOdemeBildirimiIcerikBean.satinalmaOdemeBildirimiIcerikForm}"
						rowKey="#{dosyaIcerikler.id}" selectionMode="single"
						style="width:100%">

						<p:ajax event="rowSelect"
							listener="#{satinalmaOdemeBildirimiIcerikBean.formListener}"
							process="listForm:dosyaIcerikTableId dosyaIcerikTableId"
							update="growl dosyaIcerikTableId accordionPanelId malzemeTaleplerPanelGridId itemTalepTableId siparisPanelId" />

						<p:column>
							<f:facet name="header">
								<h:outputText value="SIRA NO" />
							</f:facet>
							<h:outputText value="#{index+1}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="FATURA NO" />
							</f:facet>
							<h:outputText value="#{dosyaIcerikler.faturaNo}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="FATURA TARİHİ" />
							</f:facet>
							<h:outputText value="#{dosyaIcerikler.faturaTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SİPARİŞ TUTARI (KDV DAHİL)" />
							</f:facet>
							<h:outputText value="#{dosyaIcerikler.siparisTutari}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="FATURA TUTARI (KDV DAHİL)" />
							</f:facet>
							<h:outputText value="#{dosyaIcerikler.faturaTutari}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="KESİNTİ" />
							</f:facet>
							<h:outputText value="#{dosyaIcerikler.kesintiTutari}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ÖDENECEK TUTAR (KDV DAHİL)" />
							</f:facet>
							<h:outputText value="#{dosyaIcerikler.odenecekTutar}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="AÇIKLAMA" />
							</f:facet>
							<h:outputText value="#{dosyaIcerikler.aciklama}">
							</h:outputText>
						</p:column>
					</p:dataTable>

					<h:form>
						<p:dataTable var="THIRD" value="">
							<p:column style="text-align: left">
								<h:outputLabel value="AÇIKLAMA: " style="font-weight: bold;" />
								<h:outputText
									value="#{satinalmaOdemeBildirimiBean.satinalmaOdemeBildirimiForm.aciklama}">
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>

					<h:form>
						<p:dataTable var="FORTH" value="">
							<p:column style="text-align: left">
								<h:outputLabel value="ÖDEME VADESİ: " style="font-weight: bold;" />
								<h:outputText
									value="#{satinalmaOdemeBildirimiBean.satinalmaOdemeBildirimiForm.odemeVadesi}">
								</h:outputText>
							</p:column>
							<p:column style="text-align: left">
								<h:outputLabel value="HESAP BİLGİLERİ (IBAN): "
									style="font-weight: bold;" />
								<h:outputText
									value="#{satinalmaOdemeBildirimiBean.satinalmaOdemeBildirimiForm.iban}">
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>
				</p:panel>

				<p:panel id="selectedProposalDocumentName"
					style="border:0px transparent">
					
					EKLİ BELGELER:
					
					<c:forEach var="i" begin="0"
						end="#{satinalmaOdemeBildirimiBean.satinalmaOdemeBildirimiForm.fileNumber}">
						<p:spacer width="100" height="10" />
						<h:commandLink
							value="#{satinalmaOdemeBildirimiBean.satinalmaOdemeBildirimiForm.fileNames[i]}">
							<f:setPropertyActionListener
								value="#{satinalmaOdemeBildirimiBean.satinalmaOdemeBildirimiForm.fileNames[i]}"
								target="#{satinalmaOdemeBildirimiBean.downloadedFileName}" />
							<p:fileDownload
								value="#{satinalmaOdemeBildirimiBean.downloadedFile}" />
						</h:commandLink>
						<br />
					</c:forEach>
				</p:panel>
				<p:fileUpload mode="advanced" multiple="false"
					label="#{language.salesAddDocument}" showButtons="false"
					auto="true" process="@all"
					update="proposalTable,selectedProposalDocumentName,deleteProposalDocumentDialogId"
					allowTypes="/(\.|\/)(gif|jpg|jpeg|gif|png|PNG|GIF|JPG|JPEG|doc|docx|pdf|txt|xls|xlsx|ppt|pps|pptx|ppsx|zip|rar|RAR|ZIP)$/"
					fileUploadListener="#{satinalmaOdemeBildirimiBean.addUploadedFile}"
					style="width:260px" />

				<p:spacer width="15" height="50" />

				<p:commandLink title="#{language.salesDeleteDocument}"
					onclick="deleteDocumentDialog.show();">
					<p:graphicImage value="/sales_icons/deleteDocument.png"
						width="36px" height="36px" style="border:0px"></p:graphicImage>
				</p:commandLink>

				<p:spacer width="150" height="50" />

				<h:panelGrid border="0" columns="5" cellspacing="5"
					id="siparisPanelId">
					<p:commandButton value="ÖDEME EKLE"
						update="siparisIcerikPanelGridId growl siparisIcerikAddPanelGridId dosyaIcerikTableId"
						process="@this" icon="ui-icon-circle-plus"
						actionListener="#{satinalmaOdemeBildirimiIcerikBean.addIcerik}"
						oncomplete="siparisIcerikAddDialogWidget.show()">
					</p:commandButton>
					<p:commandButton value="ÖDEME DÜZENLE"
						disabled="#{!satinalmaOdemeBildirimiIcerikBean.updateButtonRender}"
						update="siparisIcerikPanelGridId growl siparisIcerikAddPanelGridId dosyaIcerikTableId"
						process="@this bildirimDuzenlemePanelGridId"
						onclick="siparisIcerikAddDialogWidget.show()"
						actionListener="#{satinalmaTeklifIstemeIcerikBean.addIcerik}"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="ÖDEME SİL"
						disabled="#{!satinalmaOdemeBildirimiIcerikBean.updateButtonRender}"
						update="siparisIcerikPanelGridId growl"
						actionListener="#{satinalmaTeklifIstemeIcerikBean.addIcerik}"
						process="@this bildirimDuzenlemePanelGridId"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<h:commandButton immediate="true"
						action="#{satinalmaReportBean.odemeBildirimiFormuXlsx(satinalmaOdemeBildirimiBean.satinalmaOdemeBildirimiForm.id)}"
						image="/large_icons/report.png"
						title="SİPARİŞ BİLDİRİMİ ÇIKTISI OLUŞTUR">
					</h:commandButton>
					<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
						immediate="true" onclick="showIcerikDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<p:dialog id="deleteTeklifDialog" resizable="false"
				widgetVar="deleteTeklifDialogWidget" closable="true"
				maximizable="true" dynamic="true" draggable="true"
				header="#{language.Delete}">
				<p:panel style="min-width:600px" id="deleteTeklifPanelId">
					<h:panelGrid border="0" columns="2" style="width:100%">
						<h:outputText
							value="#{language.DeleteConfirmation} Teklif içerikleri de silinecektir."></h:outputText>
					</h:panelGrid>

					<h:panelGrid border="0" columns="3">
						<p:commandLink title="#{language.ok}"
							update="accordionPanelId deleteTeklifPanelId growl"
							process="@this deleteTeklifDialog"
							oncomplete="deleteTeklifDialogWidget.hide()"
							actionListener="#{satinalmaTeklifIstemeBean.deleteForm}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink title="#{language.Cancel}" immediate="true"
							process="@this" onclick="deleteTeklifDialogWidget.hide()">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>

				</p:panel>
			</p:dialog>

			<!-- Seçili Teklif Isteme Formu -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" id="teklifItemDialogId"
				widgetVar="teklifItemDialogWidget">

				<p:panel toggleable="true" toggleOrientation="horizontal"
					header="#{language.TeklifIstemeFormuBaslik}"
					id="teklifItemPanelGridId" style="text-align: center">
					<h:form>
						<p:dataTable var="FIRST" value="">
							<p:column headerText="#{language.SaticiFirma}: "
								style="text-align: left">
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.satinalmaMusteri.shortName}" />
								<br></br>
								<h:outputLabel value="İLGİLİ KİŞİ: " style="font-weight: bold;">
								</h:outputLabel>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.satinalmaMusteri.ilgiliKisi}" />
								<br></br>
								<h:outputLabel value="E-POSTA ADRESİ: "
									style="font-weight: bold;">
								</h:outputLabel>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.satinalmaMusteri.mail}" />
								<br></br>
								<h:outputLabel value="TEL: " style="font-weight: bold;">
								</h:outputLabel>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.satinalmaMusteri.telefon}">
								</h:outputText>
								<h:outputLabel value="FAKS: " style="font-weight: bold;">
								</h:outputLabel>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.satinalmaMusteri.fax}">
								</h:outputText>
							</p:column>

							<p:column headerText="FATURA ADRESİ: " style="text-align: left">
								<h:outputText value="EMEK BORU A.Ş. ASO 1.ORGANİZE SAN.BÖLGESİ">
								</h:outputText>
								<br></br>
								<h:outputText value="TÜRKMENİSTAN CADDESİ NO:2 SİNCAN/ANKARA">
								</h:outputText>
								<br></br>
								<h:outputText value="VD: KIZILBEY VD. NO: 3330060121">
								</h:outputText>
								<br></br>
								<h:outputText value="SEVK ADRESİ: " style="font-weight: bold;">
								</h:outputText>
								<br></br>
								<h:outputText value="FATURA ADRESİDİR">
								</h:outputText>
							</p:column>
						</p:dataTable>

						<p:dataTable var="SECOND" value="">
							<p:column headerText=" " style="text-align: left">
								<h:outputText
									value="İŞBU TEKLİF İSTEME FORMUNDA BELİRTİLEN MALZEMELER / HİZMETLER İÇİN FİYAT, ÖDEME KOŞULLARI, TESLİM ŞARTLARINI" />
								<br></br>
								<h:outputText
									value="İÇEREN TEKLİFİNİZİ İVEDİLİKLE 0312-267 0519 NO.LU FAKSIMIZA İLETMENİZİ RİCA EDERİZ." />
								<h:form>
									<p:dataTable value="">
										<p:column headerText="SATINALMA SORUMLUSU"
											style="text-align: center">
											<h:outputText value="%ad soyad%" />
										</p:column>
										<p:column headerText="SATINALMA MÜDÜRÜ"
											style="text-align: center">
											<h:outputText value="%ad soyad%" />
										</p:column>
									</p:dataTable>
								</h:form>
							</p:column>
						</p:dataTable>

						<p:dataTable var="THIRD" value="">
							<p:column headerText="SATINALMA YETKİLİSİ "
								style="text-align: center">
								<h:outputText value="%ad soyad%" />
							</p:column>
							<p:column headerText="NAKLİYE YÖNTEMİ "
								style="text-align: center">
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.nakliye}">
								</h:outputText>
							</p:column>
							<p:column headerText="NAKLİYE MASRAFLARI "
								style="text-align: center">
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.nakliyeMasraflari}₺" />
							</p:column>
							<p:column headerText="İSTENEN KALİTE / TEST BELGELERİ "
								style="text-align: center">
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.belgeler}">
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>
				</p:panel>

				<!-- Liste -->

				<p:dataTable var="itemTalepler" id="itemTalepTableId"
					value="#{satinalmaTeklifIstemeIcerikBean.allSatinalmaTeklifIstemeIcerikList}"
					paginator="true" rows="10"
					selection="#{satinalmaTeklifIstemeIcerikBean.satinalmaTeklifIstemeIcerikForm}"
					rowKey="#{itemTalepler.id}" selectionMode="single"
					dblClickSelect="false" style="width:100%"
					paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

					<p:ajax event="rowSelect"
						listener="#{satinalmaTeklifIstemeIcerikBean.formListener}"
						process="listForm:itemTalepTableId itemTalepTableId"
						update="buttonsPanelGridId teklifItemAddDialogId bildirimDuzenlemeDialogId" />

					<p:column>
						<f:facet name="header">
							<h:outputText value="MALZEME BİLGİLERİ" />
						</f:facet>
						<h:outputText
							value="#{itemTalepler.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunKodu} - #{itemTalepler.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunAdi}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="MALZEME TANIMI" />
						</f:facet>
						<h:outputText
							value="#{itemTalepler.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.disAlimAciklama}"></h:outputText>
					</p:column>

					<p:column headerText="TESLİM TARİHİ">
						<h:outputText value="#{itemTalepler.teslimTarihi}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="MİKTAR" />
						</f:facet>
						<h:outputText
							value="#{itemTalepler.miktar} #{itemTalepler.stokTanimlarBirim.birim}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="BİRİM FİYATI" />
						</f:facet>
						<h:outputText value="#{itemTalepler.birimFiyat}₺"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="KDV" />
						</f:facet>
						<h:outputText value="%#{itemTalepler.kdv}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="TUTAR" />
						</f:facet>
						<h:outputText value="#{itemTalepler.tutar}₺"></h:outputText>
					</p:column>

					<p:columnGroup type="footer">
						<p:row>
							<p:column colspan="6" footerText="TOPLAM"
								style="text-align:right" />
							<p:column footerText="#{satinalmaTeklifIstemeIcerikBean.toplam}₺" />
						</p:row>
						<p:row>
							<p:column colspan="6"
								footerText="KDV (%#{satinalmaTeklifIstemeIcerikBean.kdv})"
								style="text-align:right" />
							<p:column
								footerText="#{satinalmaTeklifIstemeIcerikBean.toplamKdv}₺" />
						</p:row>
						<p:row>
							<p:column colspan="6" footerText="TOPLAM TUTAR"
								style="text-align:right" />
							<p:column
								footerText="#{satinalmaTeklifIstemeIcerikBean.toplamTutar}₺" />
						</p:row>
					</p:columnGroup>

				</p:dataTable>

				<p:panel toggleable="true" toggleOrientation="horizontal">
					<h:form>
						<p:dataTable var="FORTH" value="">
							<p:column headerText="ÖZEL ŞARTLAR " style="text-align: left">
								<h:outputText value="ÖDEME: " style="font-weight: bold;">
								</h:outputText>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.odeme}₺">
								</h:outputText>
								<br></br>
								<h:outputText value="BANKA HESAP NO.: "
									style="font-weight: bold;">
								</h:outputText>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.hesapNo}">
								</h:outputText>
								<br></br>
								<h:outputText value="DAMGA VERGİSİ: " style="font-weight: bold;">
								</h:outputText>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.damgaVergisi}₺">
								</h:outputText>
								<br></br>
								<h:outputText value="KUR: " style="font-weight: bold;">
								</h:outputText>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.kur}₺">
								</h:outputText>
								<br></br>
								<h:outputText value="KESİN TEMİNAT: " style="font-weight: bold;">
								</h:outputText>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.kesinTeminat}">
								</h:outputText>
								<br></br>
								<h:outputText value="CEZAİ ŞARTLAR " style="font-weight: bold;">
								</h:outputText>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.cezaiSartlar}">
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>
					<h:form>
						<p:dataTable var="FIFTH" value="">
							<p:column headerText="SATICI FİRMA TEKLİF MEKTUBU ONAYI: "
								style="text-align: center">
								<h:outputText value="FİRMA YETKİLİSİ AD SOYAD: "
									style="font-weight: bold;">
								</h:outputText>
								<h:outputText value="%ad soyad%">
								</h:outputText>
								<h:outputText value=" İMZA " style="font-weight: bold;">
								</h:outputText>
								<h:outputText value="%imza%">
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>

				</p:panel>

				<h:panelGrid border="0" columns="5" cellspacing="5"
					id="buttonsPanelGridId">
					<p:commandButton value="MALZEME #{language.Add}"
						update="bildirimDuzenlemePanelGridId itemTalepTableId growl teklifItemAddDialogId"
						process="@this bildirimDuzenlemePanelGridId"
						icon="ui-icon-circle-plus"
						actionListener="#{satinalmaTeklifIstemeIcerikBean.addIcerik}"
						oncomplete="teklifItemAddDialogWidget.show()">
					</p:commandButton>
					<p:commandButton value="MALZEME #{language.Update}"
						disabled="#{!satinalmaTeklifIstemeIcerikBean.updateButtonRender}"
						update="teklifItemPanelGridId itemTalepTableId growl"
						id="updateAmbarTaleplerItemButton"
						process="@this bildirimDuzenlemePanelGridId"
						onclick="teklifItemAddDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton
						value="TEDARIKÇI #{language.Add}/#{language.Update}"
						update="teklifItemPanelGridId itemTalepTableId growl"
						process="@this bildirimDuzenlemePanelGridId"
						onclick="firmaAddDialogWidget.show()" icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="teklifItemDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- ÖDEME İÇERİK EKLEME -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="ÖDEME EKLE"
				id="siparisIcerikAddDialogId"
				widgetVar="siparisIcerikAddDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="siparisIcerikAddPanelGridId">
					<f:facet name="header">
						<h:outputText value="ÖDEME İÇERİK EKLE/DÜZENLE"></h:outputText>
					</f:facet>

					<h:outputText value="FATURA NO:" style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaOdemeBildirimiIcerikBean.satinalmaOdemeBildirimiIcerikForm.faturaNo}">
					</p:inputText>

					<h:outputText value="FATURA TARİHİ" style="font-weight: bold;"></h:outputText>
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
						value="#{satinalmaOdemeBildirimiIcerikBean.satinalmaOdemeBildirimiIcerikForm.faturaTarihi}"></p:calendar>

					<h:outputText value="SİPARİŞ TUTARI" style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{satinalmaOdemeBildirimiIcerikBean.satinalmaOdemeBildirimiIcerikForm.siparisTutari}">
					</p:inputText>

					<h:outputText value="FATURA TUTARI" style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{satinalmaOdemeBildirimiIcerikBean.satinalmaOdemeBildirimiIcerikForm.faturaTutari}">
					</p:inputText>

					<h:outputText value="KESİNTİ TUTARI" style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{satinalmaOdemeBildirimiIcerikBean.satinalmaOdemeBildirimiIcerikForm.kesintiTutari}">
					</p:inputText>

					<h:outputText value="ÖDENECEK TUTAR" style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaOdemeBildirimiIcerikBean.satinalmaOdemeBildirimiIcerikForm.odenecekTutar}">
					</p:inputText>

					<h:outputText value="AÇIKLAMALR" style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaOdemeBildirimiIcerikBean.satinalmaOdemeBildirimiIcerikForm.aciklama}">
					</p:inputText>

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="ÖDEME EKLE"
						update="siparisIcerikAddListDataTableId accordionPanelId growl siparisIcerikAddDialogId siparisIcerikAddPanelGridId dosyaIcerikTableId"
						process="@this siparisIcerikAddPanelGridId siparisIcerikAddDialogId"
						actionListener="#{satinalmaOdemeBildirimiIcerikBean.addOrUpdateIcerik}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){siparisIcerikAddDialogWidget.hide();}">
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>

			<p:dialog widgetVar="deleteDocumentDialog"
				id="deleteDocumentDialogId" header="#{language.salesWarning}">
				<br />
				<h:outputText value="#{language.salesDeleteDocumentConfirmation}" />
				<br />
				<br />
				<p:selectOneMenu value="#{satinalmaOdemeBildirimiBean.toBeDeleted}"
					layout="lineDirection" style="width:150px;">
					<c:forEach
						items="#{satinalmaOdemeBildirimiBean.satinalmaOdemeBildirimiForm.fileNames}"
						var="fileNames">
						<f:selectItem itemValue="#{fileNames}" itemLabel="#{fileNames}"></f:selectItem>
					</c:forEach>
				</p:selectOneMenu>
				<br />

				<p:commandButton value="#{language.cancel}"
					oncomplete="deleteDocumentDialog.hide();" />
				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.salesDeleteDocument}"
					action="#{satinalmaSatinalmaKarariBean.deleteTheSelectedFile}"
					oncomplete="deleteDocumentDialog.hide();"
					update="nameOfSelectedDocument" />

			</p:dialog>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>

	</ui:composition>
</h:body>
</html>