<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">

		<ui:define name="showPanel">

			<p:growl id="growl"></p:growl>

			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px; width:100%" id="accordionPanelId">
				<p:tab title="Sarf Merkezleri">

					<p:dataTable var="sarfMerkezi"
						widgetVar="sarfMerkeziListDataTableWidget"
						id="sarfMerkeziListDataTableId" editable="true"
						value="#{sarfMerkeziBean.allSatinalmaSarfMerkezis}"
						paginator="true" rows="10"
						selection="#{sarfMerkeziBean.selectedSatinalmaSarfMerkezi}"
						rowKey="#{sarfMerkezi.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect" update="accordionPanelId"></p:ajax>

						<p:column filterBy="#{sarfMerkezi.name}"
							sortBy="#{sarfMerkezi.name}">
							<f:facet name="header">
								<h:outputText value="Adı"></h:outputText>
							</f:facet>
							<h:outputText value="#{sarfMerkezi.name}"></h:outputText>
						</p:column>

						<p:column filterBy="#{sarfMerkezi.description}"
							sortBy="#{sarfMerkezi.description}">
							<f:facet name="header">
								<h:outputText value="Açıklama"></h:outputText>
							</f:facet>
							<h:outputText value="#{sarfMerkezi.description}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid columns="3">

						<p:commandButton value="#{language.Add}" process="@all"
							icon="ui-icon-circle-plus"
							onclick="createSarfMerkeziConfirmDialogWidget.show()">
						</p:commandButton>
						<p:commandButton value="#{language.Edit}" process="@all"
							disabled="#{sarfMerkeziBean.selectedSatinalmaSarfMerkezi.id eq null}"
							onclick="editSarfMerkeziConfirmDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="#{language.Delete}" process="@all"
							disabled="#{sarfMerkeziBean.selectedSatinalmaSarfMerkezi.id eq null}"
							onclick="deleteSarfMerkeziConfirmDialogWidget.show()"
							icon="ui-icon-close">
						</p:commandButton>
					</h:panelGrid>


					<!-- 					DELETE DIALOG  -->
					<p:dialog draggable="true" closable="true" dynamic="true"
						maximizable="true" style="min-width:600px"
						header="Sarf merkezi sil?" id="deleteSarfMerkeziConfirmDialogId"
						widgetVar="deleteSarfMerkeziConfirmDialogWidget">

						<p:panel closable="false" toggleable="true"
							id="deleteSarfMerkeziPanelId" style="width:100%"
							widgetVar="deleteSarfMerkeziPanelWidget" visible="true">
							<h:panelGrid border="0" columns="5" style="width:100%">
								<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
							</h:panelGrid>
							<h:panelGrid cellspacing="5" columns="5"
								id="deleteSarfMerkeziPanelGridId">
								<p:commandLink title="#{language.ok}"
									update="sarfMerkeziListDataTableId growl"
									process="@this sarfMerkeziListDataTableId"
									oncomplete="deleteSarfMerkeziConfirmDialogWidget.hide();"
									actionListener="#{sarfMerkeziBean.deleteSelectedSarfMerkezi}">
									<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
								</p:commandLink>
								<p:commandLink title="#{language.Cancel}" process="@this"
									update="sarfMerkeziListDataTableId growl" immediate="true"
									onclick="deleteSarfMerkeziConfirmDialogWidget.hide()">
									<p:graphicImage value="/large_icons/cancel.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</p:panel>
					</p:dialog>


					<!-- 					UPDATE DIALOG  -->
					<p:dialog draggable="true" closable="true" dynamic="true"
						maximizable="true" style="min-width:600px"
						header="Sarf merkezi düzenle..."
						id="editSarfMerkeziConfirmDialogId"
						widgetVar="editSarfMerkeziConfirmDialogWidget">
						<p:panel style="width:100%; text-align:left; padding:5px"
							id="editSarfMerkeziPanelId">
							<h:form>
								<h:panelGrid border="0" cellspacing="5" columns="2"
									style="width:100%" id="editSarfMerkeziPanelGridId">

									<h:outputLabel>Adı</h:outputLabel>
									<p:inputText style="width: 200px;"
										value="#{sarfMerkeziBean.selectedSatinalmaSarfMerkezi.name}"></p:inputText>

									<h:outputLabel>Açıklama</h:outputLabel>
									<p:inputTextarea style="width: 200px;"
										value="#{sarfMerkeziBean.selectedSatinalmaSarfMerkezi.description}"></p:inputTextarea>

									<h:outputText></h:outputText>
									<h:panelGrid columns="2">
										<p:commandLink title="#{language.ok}"
											update="editSarfMerkeziPanelGridId accordionPanelId growl"
											process="@this editSarfMerkeziPanelGridId SarfMerkeziListDataTableId"
											oncomplete="editSarfMerkeziConfirmDialogWidget.hide()"
											actionListener="#{sarfMerkeziBean.editSelectedSarfMerkezi}">
											<p:graphicImage value="/large_icons/ok.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
										<p:commandLink title="#{language.Cancel}" process="@this"
											update="editSarfMerkeziPanelGridId" immediate="true"
											onclick="editSarfMerkeziConfirmDialogWidget.hide()">
											<p:graphicImage value="/large_icons/cancel.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
									</h:panelGrid>
								</h:panelGrid>
							</h:form>
						</p:panel>
					</p:dialog>


					<!-- 					CREATE DIALOG  -->
					<p:dialog draggable="true" closable="true" dynamic="true"
						maximizable="true" style="min-width:600px"
						header="Sarf merkezi oluştur..."
						id="createSarfMerkeziConfirmDialogId"
						widgetVar="createSarfMerkeziConfirmDialogWidget">
						<p:panel style="width:100%; text-align:left; padding:5px"
							id="createSarfMerkeziPanelId">
							<h:form>
								<h:panelGrid border="0" cellspacing="5" columns="2"
									style="width:100%" id="createSarfMerkeziPanelGridId">


									<h:outputLabel>Adı</h:outputLabel>
									<p:inputText style="width: 200px;"
										value="#{sarfMerkeziBean.newSatinalmaSarfMerkezi.name}"></p:inputText>

									<h:outputLabel>Açıklama</h:outputLabel>
									<p:inputTextarea style="width: 200px;"
										value="#{sarfMerkeziBean.newSatinalmaSarfMerkezi.description}"></p:inputTextarea>


									<h:outputText></h:outputText>
									<h:panelGrid columns="2">
										<p:commandLink title="#{language.ok}"
											update="createSarfMerkeziPanelGridId accordionPanelId sarfMerkeziListDataTableId growl"
											process="@this createSarfMerkeziPanelGridId SarfMerkeziListDataTableId"
											oncomplete="createSarfMerkeziConfirmDialogWidget.hide()"
											actionListener="#{sarfMerkeziBean.createNewSarfMerkezi}">
											<p:graphicImage value="/large_icons/ok.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
										<p:commandLink title="#{language.Cancel}" process="@this"
											update="createSarfMerkeziPanelGridId" immediate="true"
											onclick="createSarfMerkeziConfirmDialogWidget.hide()">
											<p:graphicImage value="/large_icons/cancel.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
									</h:panelGrid>
								</h:panelGrid>
							</h:form>
						</p:panel>
					</p:dialog>

				</p:tab>
			</p:accordionPanel>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>

	</ui:composition>
</h:body>
</html>