<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">

		<ui:define name="showPanel">
			<p:growl id="growl" />
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px; width:100%" id="accordionPanelId">
				<p:tab title="SATINALMA KARARI LİSTESİ">
					<p:dataTable var="satinalmaKarari"
						widgetVar="satinalamaKarariListDataTableWidget"
						id="satinalmaKarariListDataTableId" editable="true"
						value="#{satinalmaSatinalmaKarariBean.allSatinalmaSatinalmaKarariList}"
						paginator="true" rows="10"
						selection="#{satinalmaSatinalmaKarariBean.satinalmaSatinalmaKarariForm}"
						rowKey="#{satinalmaKarari.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="kararIstemeDialogId kararItemDialogId"
							process="@this satinalmaKarariListDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaSatinalmaKarariBean.formListener}"
							process="listForm:satinalmaKarariListDataTableId satinalmaKarariListDataTableId"
							update="kararIstemeDialogId" />
						<p:ajax event="rowSelect"
							update="satinalmaKarariListDataTableId orderAccordionPanelId">
						</p:ajax>
						<p:ajax event="rowEdit"
							listener="#{satinalmaSatinalmaKarariBean.addOrUpdateForm}"
							update=":form:messages" />

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.DOSYANUMARASI}" />
							</f:facet>
							<h:outputText
								value="#{satinalmaKarari.satinalmaTakipDosyalar.dosyaTakipNo}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.ACIKLAMA}" />
							</f:facet>
							<h:outputText value="#{satinalmaKarari.aciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SONUÇ" />
							</f:facet>
							<h:outputText value="#{satinalmaKarari.sonucFirma}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="OLUŞTURMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{satinalmaKarari.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="#{language.LISTEYIYENILE}"
								process="satinalmaKarariListDataTableId"
								update="satinalmaKarariListDataTableId"
								action="#{satinalmaSatinalmaKarariBean.fillTestList}">
							</p:commandButton>
							<p:commandButton value="#{language.KARAROLUSTUR}"
								update="satinalmaKarariListDataTableId accordionPanelId satinalmaKarariPanelGridId"
								process="@this kararIstemeDialogId"
								actionListener="#{satinalmaSatinalmaKarariBean.addForm}"
								icon="ui-icon-circle-plus"
								onclick="kararIstemeDialogWidget.show()">
							</p:commandButton>
							<p:commandButton value="#{language.KARARDUZENLE}"
								disabled="#{!satinalmaSatinalmaKarariBean.updateButtonRender}"
								update="satinalmaKarariListDataTableId accordionPanelId satinalmaKarariPanelGridId"
								id="updateAmbarTaleplerButton"
								process="@this kararIstemeDialogId"
								onclick="kararIstemeDialogWidget.show()"
								icon="ui-icon-circle-plus">
							</p:commandButton>
							<p:commandButton value="#{language.KARARSIL}"
								icon="ui-icon-close" process="@this kararIstemeDialogId"
								disabled="#{!satinalmaSatinalmaKarariBean.updateButtonRender}"
								onclick="deleteTeklifDialogWidget.show()">
							</p:commandButton>
							<p:commandButton value="KARAR İÇERİK DÜZENLE"
								disabled="#{!satinalmaSatinalmaKarariBean.updateButtonRender}"
								update="satinalmaKarariListDataTableId accordionPanelId satinalmaKarariPanelGridId itemTalepTableId asd"
								id="insertAmbarTaleplerButton"
								process="@this kararIstemeDialogId"
								onclick="kararItemDialogWidget.show()"
								icon="ui-icon-circle-plus"
								action="#{satinalmaSatinalmaKarariIcerikBean.satinalmaKarariListDoldur(satinalmaSatinalmaKarariBean.satinalmaSatinalmaKarariForm.id)}">
							</p:commandButton>
							<p:commandButton value="KARAR'A SİPARİŞ MEKTUBU OLUŞTUR"
								disabled="#{!satinalmaSatinalmaKarariBean.updateButtonRender}"
								update="satinalmaKarariListDataTableId accordionPanelId satinalmaKarariPanelGridId itemTalepTableId asd growl"
								process="@this kararIstemeDialogId" icon="ui-icon-circle-plus"
								action="#{satinalmaSatinalmaKarariBean.siparisMektubuOlustur}">
							</p:commandButton>
							<h:commandButton immediate="true"
								disabled="#{!satinalmaSatinalmaKarariBean.updateButtonRender}"
								action="#{satinalmaReportBean.satinalmaKarariFormuXlsx(satinalmaSatinalmaKarariBean.satinalmaSatinalmaKarariForm.id,0)}"
								image="/large_icons/report.png" title="VERİ RAPORU OLUŞTUR">
							</h:commandButton>
							<h:commandButton immediate="true"
								disabled="#{!satinalmaSatinalmaKarariBean.updateButtonRender}"
								action="#{satinalmaReportBean.satinalmaKarariFormuXlsx(satinalmaSatinalmaKarariBean.satinalmaSatinalmaKarariForm.id,1)}"
								image="/large_icons/report.png" title="KARAR ÇIKTISI OLUŞTUR">
							</h:commandButton>
						</f:facet>
					</p:dataTable>

				</p:tab>
			</p:accordionPanel>

			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="#{language.SatinAlmaKarari} #{language.Add}"
				id="kararIstemeDialogId" widgetVar="kararIstemeDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="satinalmaKarariPanelGridId">
					<f:facet name="header">
						<h:outputText value="#{language.SatinAlmaKarariFormu}"></h:outputText>
					</f:facet>

					<h:outputText value="#{language.TeklifNo}"
						style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.teklifSayi}">
					</p:inputText>

					<h:outputText value="#{language.NakliyeYontemi}"
						style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.nakliye}">
					</p:inputText>

					<h:outputText value="#{language.NakliyeMasrafi}"
						style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.nakliyeMasraflari}">
					</p:inputText>

					<h:outputText value="#{language.Belgeler}"
						style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.belgeler}">
					</p:inputText>

					<h:outputText value="#{language.Odeme} (TL)"
						style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.odeme}">
					</p:inputText>

					<h:outputText value="#{language.HesapNo}"
						style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.hesapNo}">
					</p:inputText>

					<h:outputText value="#{language.DamgaVergisi}"
						style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.damgaVergisi}">
					</p:inputText>

					<h:outputText value="#{language.Kur}" style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.kur}">
					</p:inputText>

					<h:outputText value="#{language.KesinTeminat}"
						style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.kesinTeminat}">
					</p:inputText>

					<h:outputText value="#{language.CezaiSartlar}"
						style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.cezaiSartlar}">
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="Form #{language.Add}"
						update="satinalmaKarariListDataTableId accordionPanelId growl"
						process="@this kararIstemeDialogId satinalmaKarariPanelGridId"
						actionListener="#{satinalmaSatinalmaKarariBean.addOrUpdateForm}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){kararIstemeDialogWidget.hide();}">
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>

			<p:dialog id="deleteTeklifDialog" resizable="false"
				widgetVar="deleteTeklifDialogWidget" closable="true"
				maximizable="true" dynamic="true" draggable="true"
				header="#{language.Delete}">
				<p:panel style="min-width:600px" id="deleteTeklifPanelId">
					<h:panelGrid border="0" columns="2" style="width:100%">
						<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
					</h:panelGrid>

					<h:panelGrid border="0" columns="3">
						<p:commandLink title="#{language.ok}"
							update="accordionPanelId deleteTeklifPanelId"
							process="@this deleteTeklifDialog"
							oncomplete="deleteTeklifDialogWidget.hide()"
							actionListener="#{satinalmaSatinalmaKarariBean.deleteForm}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink title="#{language.Cancel}" immediate="true"
							process="@this" onclick="deleteTeklifDialogWidget.hide()">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>

				</p:panel>
			</p:dialog>

			<!-- Seçili Teklif Isteme Formu -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" id="kararItemDialogId"
				widgetVar="kararItemDialogWidget">

				<p:panel header="SATINALMA KARARI EKRANI" id="kararItemPanelGridId"
					style="text-align: center">

					<h:panelGrid columns="6" border="0" id="asd">

						<p:dataTable var="team" editable="true"
							id="satinalmaKarariIcerik1ListDataTableId"
							selection="#{satinalmaSatinalmaKarariIcerikBean.satinalmaSatinalmaKarariIcerikForm}"
							rowKey="#{team.id}" selectionMode="single" dblClickSelect="false"
							value="#{satinalmaSatinalmaKarariIcerikBean.firma1List}"
							rendered="#{satinalmaSatinalmaKarariIcerikBean.firma1Control}"
							sortBy="#{team.satinalmaTeklifIsteme.satinalmaMusteri.commercialName}">

							<f:facet name="header">
        					    FİRMA 1
  						    </f:facet>

							<p:ajax event="rowSelect"
								listener="#{satinalmaSatinalmaKarariIcerikBean.formListener}"
								process="listForm:satinalmaKarariIcerik1ListDataTableId satinalmaKarariIcerik1ListDataTableId"
								update="kararIstemeDialogId buttonsPanelGridId" />

							<p:ajax event="rowEdit"
								process="listForm:satinalmaKarariIcerik1ListDataTableId satinalmaKarariIcerik1ListDataTableId"
								listener="#{satinalmaSatinalmaKarariIcerikBean.onRowEdit}"
								update="growl" />

							<p:columnGroup type="header">
								<p:row>
									<p:column rowspan="3" headerText="DÜZENLE" />
									<p:column rowspan="3" headerText="KABUL" />
									<p:column rowspan="3" headerText="KALEMLER" />
									<p:column rowspan="3" headerText="MİKTAR/BİRİM" />
									<p:column rowspan="3" headerText="TEDARİKÇİ" />
									<p:column colspan="3" headerText="TEKLİFLER" />
									<p:column rowspan="2" colspan="4"
										headerText="#{language.ACIKLAMALAR}" />
								</p:row>
								<p:row>
									<p:column colspan="1" headerText="İLK TEKLİF" />
									<p:column colspan="2" headerText="NİHAİ TEKLİF" />
								</p:row>
								<p:row>
									<p:column colspan="1" headerText="BR. FİYAT" />
									<p:column colspan="1" headerText="BR. FİYAT" />
									<p:column colspan="1" headerText="TUTAR" />
									<p:column colspan="1" headerText="ÖDEME" />
									<p:column colspan="1" headerText="KUR" />
									<p:column colspan="1" headerText="TESLİM SÜRESİ" />
									<p:column colspan="1"
										headerText="TESLİM YERİ ve NAKLİYE MASRAFLARI" />
								</p:row>
							</p:columnGroup>

							<p:column style="width:32px">
								<p:rowEditor />
							</p:column>

							<p:column headerText="KABUL">
								<p:cellEditor>
									<f:facet name="output">
										<p:selectBooleanCheckbox value="#{team.kabulEdilen}"
											disabled="true" />
									</f:facet>
									<f:facet name="input">
										<p:selectBooleanCheckbox value="#{team.kabulEdilen}" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column>
								<h:outputText style="text-align:left"
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunKodu} - #{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunAdi} " />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar} #{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.stokTanimlarBirim.birim}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTeklifIsteme.satinalmaMusteri.commercialName}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.ilkTeklifBirimFiyat}" />
							</p:column>

							<p:column>
								<h:outputText value="#{team.nihaiTeklifBirimFiyat}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.nihaiTeklifBirimFiyat * team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.odemeAciklama}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.kur}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.teslimSuresi}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.teslimYeriNakliyeAciklama}" />
							</p:column>
							<p:summaryRow>
								<p:column colspan="6" style="text-align:right">
									<h:outputText value="Toplam:" />
								</p:column>

								<p:column colspan="2">
									<h:outputText
										value="#{satinalmaSatinalmaKarariIcerikBean.firma1NihaiToplam}">
										<f:convertNumber type="currency" currencySymbol="₺" />
									</h:outputText>
								</p:column>
							</p:summaryRow>
						</p:dataTable>
						<p:dataTable var="team" editable="true"
							id="satinalmaKarariIcerik2ListDataTableId"
							selection="#{satinalmaSatinalmaKarariIcerikBean.satinalmaSatinalmaKarariIcerikForm}"
							rowKey="#{team.id}" selectionMode="single" dblClickSelect="false"
							value="#{satinalmaSatinalmaKarariIcerikBean.firma2List}"
							rendered="#{satinalmaSatinalmaKarariIcerikBean.firma2Control}"
							sortBy="#{team.satinalmaTeklifIsteme.satinalmaMusteri.commercialName}">

							<f:facet name="header">
        					  FİRMA 2
  						    </f:facet>

							<p:ajax event="rowSelect"
								listener="#{satinalmaSatinalmaKarariIcerikBean.formListener}"
								process="listForm:satinalmaKarariIcerik2ListDataTableId satinalmaKarariIcerik2ListDataTableId"
								update="kararIstemeDialogId buttonsPanelGridId" />

							<p:ajax event="rowEdit"
								process="listForm:satinalmaKarariIcerik2ListDataTableId satinalmaKarariIcerik2ListDataTableId"
								listener="#{satinalmaSatinalmaKarariIcerikBean.onRowEdit}"
								update="growl" />

							<p:columnGroup type="header">
								<p:row>
									<p:column rowspan="3" headerText="DÜZENLE" />
									<p:column rowspan="3" headerText="KABUL" />
									<p:column rowspan="3" headerText="KALEMLER" />
									<p:column rowspan="3" headerText="MİKTAR/BİRİM" />
									<p:column rowspan="3" headerText="TEDARİKÇİ" />
									<p:column colspan="3" headerText="TEKLİFLER" />
									<p:column rowspan="2" colspan="4"
										headerText="#{language.ACIKLAMALAR}" />
								</p:row>
								<p:row>
									<p:column colspan="1" headerText="İLK TEKLİF" />
									<p:column colspan="2" headerText="NİHAİ TEKLİF" />
								</p:row>
								<p:row>
									<p:column colspan="1" headerText="BR. FİYAT" />
									<p:column colspan="1" headerText="BR. FİYAT" />
									<p:column colspan="1" headerText="TUTAR" />
									<p:column colspan="1" headerText="ÖDEME" />
									<p:column colspan="1" headerText="KUR" />
									<p:column colspan="1" headerText="TESLİM SÜRESİ" />
									<p:column colspan="1"
										headerText="TESLİM YERİ ve NAKLİYE MASRAFLARI" />
								</p:row>
							</p:columnGroup>

							<p:column style="width:32px">
								<p:rowEditor />
							</p:column>

							<p:column headerText="KABUL">
								<p:cellEditor>
									<f:facet name="output">
										<p:selectBooleanCheckbox value="#{team.kabulEdilen}"
											disabled="true" />
									</f:facet>
									<f:facet name="input">
										<p:selectBooleanCheckbox value="#{team.kabulEdilen}" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column>
								<h:outputText style="text-align:left"
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunKodu} - #{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunAdi} " />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar} #{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.stokTanimlarBirim.birim}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTeklifIsteme.satinalmaMusteri.commercialName}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.ilkTeklifBirimFiyat}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.ilkTeklifBirimFiyat * team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.nihaiTeklifBirimFiyat}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.nihaiTeklifBirimFiyat * team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.odemeAciklama}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.kur}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.teslimSuresi}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.teslimYeriNakliyeAciklama}" />
							</p:column>
							<p:summaryRow>
								<p:column colspan="6" style="text-align:right">
									<h:outputText value="Toplam:" />
								</p:column>
								<!-- 								<p:column colspan="2"> -->
								<!-- 									<h:outputText -->
								<!-- 										value="#{satinalmaSatinalmaKarariIcerikBean.firma2IlkToplam}"> -->
								<!-- 										<f:convertNumber type="currency" currencySymbol="₺" /> -->
								<!-- 									</h:outputText> -->
								<!-- 								</p:column> -->
								<p:column colspan="2">
									<h:outputText
										value="#{satinalmaSatinalmaKarariIcerikBean.firma2NihaiToplam}">
										<f:convertNumber type="currency" currencySymbol="₺" />
									</h:outputText>
								</p:column>
							</p:summaryRow>
						</p:dataTable>
						<p:dataTable var="team" editable="true"
							id="satinalmaKarariIcerik3ListDataTableId"
							selection="#{satinalmaSatinalmaKarariIcerikBean.satinalmaSatinalmaKarariIcerikForm}"
							rowKey="#{team.id}" selectionMode="single" dblClickSelect="false"
							value="#{satinalmaSatinalmaKarariIcerikBean.firma3List}"
							rendered="#{satinalmaSatinalmaKarariIcerikBean.firma3Control}"
							sortBy="#{team.satinalmaTeklifIsteme.satinalmaMusteri.commercialName}">

							<f:facet name="header">
        					  FİRMA 3
  						    </f:facet>

							<p:ajax event="rowSelect"
								listener="#{satinalmaSatinalmaKarariIcerikBean.formListener}"
								process="listForm:satinalmaKarariIcerik3ListDataTableId satinalmaKarariIcerik3ListDataTableId"
								update="kararIstemeDialogId buttonsPanelGridId" />

							<p:ajax event="rowEdit"
								process="listForm:satinalmaKarariIcerik3ListDataTableId satinalmaKarariIcerik3ListDataTableId"
								listener="#{satinalmaSatinalmaKarariIcerikBean.onRowEdit}"
								update="growl" />

							<p:columnGroup type="header">
								<p:row>
									<p:column rowspan="3" headerText="DÜZENLE" />
									<p:column rowspan="3" headerText="KABUL" />
									<p:column rowspan="3" headerText="KALEMLER" />
									<p:column rowspan="3" headerText="MİKTAR/BİRİM" />
									<p:column rowspan="3" headerText="TEDARİKÇİ" />
									<p:column colspan="3" headerText="TEKLİFLER" />
									<p:column rowspan="2" colspan="4"
										headerText="#{language.ACIKLAMALAR}" />
								</p:row>
								<p:row>
									<p:column colspan="1" headerText="İLK TEKLİF" />
									<p:column colspan="2" headerText="NİHAİ TEKLİF" />
								</p:row>
								<p:row>
									<p:column colspan="1" headerText="BR. FİYAT" />
									<p:column colspan="1" headerText="BR. FİYAT" />
									<p:column colspan="1" headerText="TUTAR" />
									<p:column colspan="1" headerText="ÖDEME" />
									<p:column colspan="1" headerText="KUR" />
									<p:column colspan="1" headerText="TESLİM SÜRESİ" />
									<p:column colspan="1"
										headerText="TESLİM YERİ ve NAKLİYE MASRAFLARI" />
								</p:row>
							</p:columnGroup>

							<p:column style="width:32px">
								<p:rowEditor />
							</p:column>

							<p:column headerText="KABUL">
								<p:cellEditor>
									<f:facet name="output">
										<p:selectBooleanCheckbox value="#{team.kabulEdilen}"
											disabled="true" />
									</f:facet>
									<f:facet name="input">
										<p:selectBooleanCheckbox value="#{team.kabulEdilen}" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column>
								<h:outputText style="text-align:left"
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunKodu} - #{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunAdi} " />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar} #{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.stokTanimlarBirim.birim}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTeklifIsteme.satinalmaMusteri.commercialName}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.ilkTeklifBirimFiyat}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.ilkTeklifBirimFiyat * team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.nihaiTeklifBirimFiyat}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.nihaiTeklifBirimFiyat * team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.odemeAciklama}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.kur}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.teslimSuresi}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.teslimYeriNakliyeAciklama}" />
							</p:column>
							<p:summaryRow>
								<p:column colspan="6" style="text-align:right">
									<h:outputText value="Toplam:" />
								</p:column>
								<!-- 								<p:column colspan="2"> -->
								<!-- 									<h:outputText -->
								<!-- 										value="#{satinalmaSatinalmaKarariIcerikBean.firma3IlkToplam}"> -->
								<!-- 										<f:convertNumber type="currency" currencySymbol="₺" /> -->
								<!-- 									</h:outputText> -->
								<!-- 								</p:column> -->
								<p:column colspan="2">
									<h:outputText
										value="#{satinalmaSatinalmaKarariIcerikBean.firma3NihaiToplam}">
										<f:convertNumber type="currency" currencySymbol="₺" />
									</h:outputText>
								</p:column>
							</p:summaryRow>
						</p:dataTable>
						<p:dataTable var="team" editable="true"
							id="satinalmaKarariIcerik4ListDataTableId"
							selection="#{satinalmaSatinalmaKarariIcerikBean.satinalmaSatinalmaKarariIcerikForm}"
							rowKey="#{team.id}" selectionMode="single" dblClickSelect="false"
							value="#{satinalmaSatinalmaKarariIcerikBean.firma4List}"
							rendered="#{satinalmaSatinalmaKarariIcerikBean.firma4Control}"
							sortBy="#{team.satinalmaTeklifIsteme.satinalmaMusteri.commercialName}">

							<f:facet name="header">
        					  FİRMA 4
  						    </f:facet>

							<p:ajax event="rowSelect"
								listener="#{satinalmaSatinalmaKarariIcerikBean.formListener}"
								process="listForm:satinalmaKarariIcerik4ListDataTableId satinalmaKarariIcerik4ListDataTableId"
								update="kararIstemeDialogId buttonsPanelGridId" />

							<p:ajax event="rowEdit"
								process="listForm:satinalmaKarariIcerik4ListDataTableId satinalmaKarariIcerik4ListDataTableId"
								listener="#{satinalmaSatinalmaKarariIcerikBean.onRowEdit}"
								update="growl" />

							<p:columnGroup type="header">
								<p:row>
									<p:column rowspan="3" headerText="DÜZENLE" />
									<p:column rowspan="3" headerText="KABUL" />
									<p:column rowspan="3" headerText="KALEMLER" />
									<p:column rowspan="3" headerText="MİKTAR/BİRİM" />
									<p:column rowspan="3" headerText="TEDARİKÇİ" />
									<p:column colspan="3" headerText="TEKLİFLER" />
									<p:column rowspan="2" colspan="4"
										headerText="#{language.ACIKLAMALAR}" />
								</p:row>
								<p:row>
									<p:column colspan="1" headerText="İLK TEKLİF" />
									<p:column colspan="2" headerText="NİHAİ TEKLİF" />
								</p:row>
								<p:row>
									<p:column colspan="1" headerText="BR. FİYAT" />
									<p:column colspan="1" headerText="BR. FİYAT" />
									<p:column colspan="1" headerText="TUTAR" />
									<p:column colspan="1" headerText="ÖDEME" />
									<p:column colspan="1" headerText="KUR" />
									<p:column colspan="1" headerText="TESLİM SÜRESİ" />
									<p:column colspan="1"
										headerText="TESLİM YERİ ve NAKLİYE MASRAFLARI" />
								</p:row>
							</p:columnGroup>

							<p:column style="width:32px">
								<p:rowEditor />
							</p:column>

							<p:column headerText="KABUL">
								<p:cellEditor>
									<f:facet name="output">
										<p:selectBooleanCheckbox value="#{team.kabulEdilen}"
											disabled="true" />
									</f:facet>
									<f:facet name="input">
										<p:selectBooleanCheckbox value="#{team.kabulEdilen}" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column>
								<h:outputText style="text-align:left"
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunKodu} - #{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunAdi} " />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar} #{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.stokTanimlarBirim.birim}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTeklifIsteme.satinalmaMusteri.commercialName}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.ilkTeklifBirimFiyat}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.ilkTeklifBirimFiyat * team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.nihaiTeklifBirimFiyat}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.nihaiTeklifBirimFiyat * team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.odemeAciklama}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.kur}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.teslimSuresi}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.teslimYeriNakliyeAciklama}" />
							</p:column>
							<p:summaryRow>
								<p:column colspan="6" style="text-align:right">
									<h:outputText value="Toplam:" />
								</p:column>
								<!-- 								<p:column colspan="2"> -->
								<!-- 									<h:outputText -->
								<!-- 										value="#{satinalmaSatinalmaKarariIcerikBean.firma4IlkToplam}"> -->
								<!-- 										<f:convertNumber type="currency" currencySymbol="₺" /> -->
								<!-- 									</h:outputText> -->
								<!-- 								</p:column> -->
								<p:column colspan="2">
									<h:outputText
										value="#{satinalmaSatinalmaKarariIcerikBean.firma4NihaiToplam}">
										<f:convertNumber type="currency" currencySymbol="₺" />
									</h:outputText>
								</p:column>
							</p:summaryRow>
						</p:dataTable>
						<p:dataTable var="team" editable="true"
							id="satinalmaKarariIcerik5ListDataTableId"
							selection="#{satinalmaSatinalmaKarariIcerikBean.satinalmaSatinalmaKarariIcerikForm}"
							rowKey="#{team.id}" selectionMode="single" dblClickSelect="false"
							value="#{satinalmaSatinalmaKarariIcerikBean.firma5List}"
							rendered="#{satinalmaSatinalmaKarariIcerikBean.firma5Control}"
							sortBy="#{team.satinalmaTeklifIsteme.satinalmaMusteri.commercialName}">

							<f:facet name="header">
        					  FİRMA 5
  						    </f:facet>

							<p:ajax event="rowSelect"
								listener="#{satinalmaSatinalmaKarariIcerikBean.formListener}"
								process="listForm:satinalmaKarariIcerik5ListDataTableId satinalmaKarariIcerik5ListDataTableId"
								update="kararIstemeDialogId buttonsPanelGridId" />

							<p:ajax event="rowEdit"
								process="listForm:satinalmaKarariIcerik5ListDataTableId satinalmaKarariIcerik5ListDataTableId"
								listener="#{satinalmaSatinalmaKarariIcerikBean.onRowEdit}"
								update="growl" />

							<p:columnGroup type="header">
								<p:row>
									<p:column rowspan="3" headerText="DÜZENLE" />
									<p:column rowspan="3" headerText="KABUL" />
									<p:column rowspan="3" headerText="KALEMLER" />
									<p:column rowspan="3" headerText="MİKTAR/BİRİM" />
									<p:column rowspan="3" headerText="TEDARİKÇİ" />
									<p:column colspan="3" headerText="TEKLİFLER" />
									<p:column rowspan="2" colspan="4"
										headerText="#{language.ACIKLAMALAR}" />
								</p:row>
								<p:row>
									<p:column colspan="1" headerText="İLK TEKLİF" />
									<p:column colspan="2" headerText="NİHAİ TEKLİF" />
								</p:row>
								<p:row>
									<p:column colspan="1" headerText="BR. FİYAT" />
									<p:column colspan="1" headerText="BR. FİYAT" />
									<p:column colspan="1" headerText="TUTAR" />
									<p:column colspan="1" headerText="ÖDEME" />
									<p:column colspan="1" headerText="KUR" />
									<p:column colspan="1" headerText="TESLİM SÜRESİ" />
									<p:column colspan="1"
										headerText="TESLİM YERİ ve NAKLİYE MASRAFLARI" />
								</p:row>
							</p:columnGroup>

							<p:column style="width:32px">
								<p:rowEditor />
							</p:column>

							<p:column headerText="KABUL">
								<p:cellEditor>
									<f:facet name="output">
										<p:selectBooleanCheckbox value="#{team.kabulEdilen}"
											disabled="true" />
									</f:facet>
									<f:facet name="input">
										<p:selectBooleanCheckbox value="#{team.kabulEdilen}" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column>
								<h:outputText style="text-align:left"
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunKodu} - #{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunAdi} " />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar} #{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.stokTanimlarBirim.birim}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTeklifIsteme.satinalmaMusteri.commercialName}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.ilkTeklifBirimFiyat}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.ilkTeklifBirimFiyat * team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.nihaiTeklifBirimFiyat}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.nihaiTeklifBirimFiyat * team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.odemeAciklama}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.kur}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.teslimSuresi}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.teslimYeriNakliyeAciklama}" />
							</p:column>
							<p:summaryRow>
								<p:column colspan="6" style="text-align:right">
									<h:outputText value="Toplam:" />
								</p:column>
								<!-- 								<p:column colspan="2"> -->
								<!-- 									<h:outputText -->
								<!-- 										value="#{satinalmaSatinalmaKarariIcerikBean.firma5IlkToplam}"> -->
								<!-- 										<f:convertNumber type="currency" currencySymbol="₺" /> -->
								<!-- 									</h:outputText> -->
								<!-- 								</p:column> -->
								<p:column colspan="2">
									<h:outputText
										value="#{satinalmaSatinalmaKarariIcerikBean.firma5NihaiToplam}">
										<f:convertNumber type="currency" currencySymbol="₺" />
									</h:outputText>
								</p:column>
							</p:summaryRow>
						</p:dataTable>
						<p:dataTable var="team" editable="true"
							id="satinalmaKarariIcerik6ListDataTableId"
							selection="#{satinalmaSatinalmaKarariIcerikBean.satinalmaSatinalmaKarariIcerikForm}"
							rowKey="#{team.id}" selectionMode="single" dblClickSelect="false"
							value="#{satinalmaSatinalmaKarariIcerikBean.firma6List}"
							rendered="#{satinalmaSatinalmaKarariIcerikBean.firma6Control}"
							sortBy="#{team.satinalmaTeklifIsteme.satinalmaMusteri.commercialName}">

							<f:facet name="header">
        					  FİRMA 6
  						    </f:facet>

							<p:ajax event="rowSelect"
								listener="#{satinalmaSatinalmaKarariIcerikBean.formListener}"
								process="listForm:satinalmaKarariIcerik6ListDataTableId satinalmaKarariIcerik6ListDataTableId"
								update="kararIstemeDialogId buttonsPanelGridId" />

							<p:ajax event="rowEdit"
								process="listForm:satinalmaKarariIcerik6ListDataTableId satinalmaKarariIcerik6ListDataTableId"
								listener="#{satinalmaSatinalmaKarariIcerikBean.onRowEdit}"
								update="growl" />

							<p:columnGroup type="header">
								<p:row>
									<p:column rowspan="3" headerText="DÜZENLE" />
									<p:column rowspan="3" headerText="KABUL" />
									<p:column rowspan="3" headerText="KALEMLER" />
									<p:column rowspan="3" headerText="MİKTAR/BİRİM" />
									<p:column rowspan="3" headerText="TEDARİKÇİ" />
									<p:column colspan="3" headerText="TEKLİFLER" />
									<p:column rowspan="2" colspan="4"
										headerText="#{language.ACIKLAMALAR}" />
								</p:row>
								<p:row>
									<p:column colspan="1" headerText="İLK TEKLİF" />
									<p:column colspan="2" headerText="NİHAİ TEKLİF" />
								</p:row>
								<p:row>
									<p:column colspan="1" headerText="BR. FİYAT" />
									<p:column colspan="1" headerText="BR. FİYAT" />
									<p:column colspan="1" headerText="TUTAR" />
									<p:column colspan="1" headerText="ÖDEME" />
									<p:column colspan="1" headerText="KUR" />
									<p:column colspan="1" headerText="TESLİM SÜRESİ" />
									<p:column colspan="1"
										headerText="TESLİM YERİ ve NAKLİYE MASRAFLARI" />
								</p:row>
							</p:columnGroup>

							<p:column style="width:32px">
								<p:rowEditor />
							</p:column>

							<p:column headerText="KABUL">
								<p:cellEditor>
									<f:facet name="output">
										<p:selectBooleanCheckbox value="#{team.kabulEdilen}"
											disabled="true" />
									</f:facet>
									<f:facet name="input">
										<p:selectBooleanCheckbox value="#{team.kabulEdilen}" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column>
								<h:outputText style="text-align:left"
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunKodu} - #{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunAdi} " />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar} #{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.stokTanimlarBirim.birim}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTeklifIsteme.satinalmaMusteri.commercialName}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.ilkTeklifBirimFiyat}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.ilkTeklifBirimFiyat * team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.nihaiTeklifBirimFiyat}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.nihaiTeklifBirimFiyat * team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.odemeAciklama}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.kur}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.teslimSuresi}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.teslimYeriNakliyeAciklama}" />
							</p:column>
							<p:summaryRow>
								<p:column colspan="6" style="text-align:right">
									<h:outputText value="Toplam:" />
								</p:column>
								<!-- 								<p:column colspan="2"> -->
								<!-- 									<h:outputText -->
								<!-- 										value="#{satinalmaSatinalmaKarariIcerikBean.firma6IlkToplam}"> -->
								<!-- 										<f:convertNumber type="currency" currencySymbol="₺" /> -->
								<!-- 									</h:outputText> -->
								<!-- 								</p:column> -->
								<p:column colspan="2">
									<h:outputText
										value="#{satinalmaSatinalmaKarariIcerikBean.firma6NihaiToplam}">
										<f:convertNumber type="currency" currencySymbol="₺" />
									</h:outputText>
								</p:column>
							</p:summaryRow>
						</p:dataTable>
						<p:dataTable var="team" editable="true"
							id="satinalmaKarariIcerik7ListDataTableId"
							selection="#{satinalmaSatinalmaKarariIcerikBean.satinalmaSatinalmaKarariIcerikForm}"
							rowKey="#{team.id}" selectionMode="single" dblClickSelect="false"
							value="#{satinalmaSatinalmaKarariIcerikBean.firma7List}"
							rendered="#{satinalmaSatinalmaKarariIcerikBean.firma7Control}"
							sortBy="#{team.satinalmaTeklifIsteme.satinalmaMusteri.commercialName}">

							<f:facet name="header">
        					  FİRMA 7
  						    </f:facet>

							<p:ajax event="rowSelect"
								listener="#{satinalmaSatinalmaKarariIcerikBean.formListener}"
								process="listForm:satinalmaKarariIcerik7ListDataTableId satinalmaKarariIcerik7ListDataTableId"
								update="kararIstemeDialogId buttonsPanelGridId" />

							<p:ajax event="rowEdit"
								process="listForm:satinalmaKarariIcerik7ListDataTableId satinalmaKarariIcerik7ListDataTableId"
								listener="#{satinalmaSatinalmaKarariIcerikBean.onRowEdit}"
								update="growl" />

							<p:columnGroup type="header">
								<p:row>
									<p:column rowspan="3" headerText="DÜZENLE" />
									<p:column rowspan="3" headerText="KABUL" />
									<p:column rowspan="3" headerText="KALEMLER" />
									<p:column rowspan="3" headerText="MİKTAR/BİRİM" />
									<p:column rowspan="3" headerText="TEDARİKÇİ" />
									<p:column colspan="3" headerText="TEKLİFLER" />
									<p:column rowspan="2" colspan="4"
										headerText="#{language.ACIKLAMALAR}" />
								</p:row>
								<p:row>
									<p:column colspan="1" headerText="İLK TEKLİF" />
									<p:column colspan="2" headerText="NİHAİ TEKLİF" />
								</p:row>
								<p:row>
									<p:column colspan="1" headerText="BR. FİYAT" />
									<p:column colspan="1" headerText="BR. FİYAT" />
									<p:column colspan="1" headerText="TUTAR" />
									<p:column colspan="1" headerText="ÖDEME" />
									<p:column colspan="1" headerText="KUR" />
									<p:column colspan="1" headerText="TESLİM SÜRESİ" />
									<p:column colspan="1"
										headerText="TESLİM YERİ ve NAKLİYE MASRAFLARI" />
								</p:row>
							</p:columnGroup>

							<p:column style="width:32px">
								<p:rowEditor />
							</p:column>

							<p:column headerText="KABUL">
								<p:cellEditor>
									<f:facet name="output">
										<p:selectBooleanCheckbox value="#{team.kabulEdilen}"
											disabled="true" />
									</f:facet>
									<f:facet name="input">
										<p:selectBooleanCheckbox value="#{team.kabulEdilen}" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column>
								<h:outputText style="text-align:left"
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunKodu} - #{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunAdi} " />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar} #{team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.stokTanimlarBirim.birim}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.satinalmaTeklifIstemeIcerik.satinalmaTeklifIsteme.satinalmaMusteri.commercialName}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.ilkTeklifBirimFiyat}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.ilkTeklifBirimFiyat * team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.nihaiTeklifBirimFiyat}" />
							</p:column>
							<p:column>
								<h:outputText
									value="#{team.nihaiTeklifBirimFiyat * team.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.odemeAciklama}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.kur}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.teslimSuresi}" />
							</p:column>
							<p:column>
								<h:outputText value="#{team.teslimYeriNakliyeAciklama}" />
							</p:column>
							<p:summaryRow>
								<p:column colspan="6" style="text-align:right">
									<h:outputText value="Toplam:" />
								</p:column>
								<!-- 								<p:column colspan="2"> -->
								<!-- 									<h:outputText -->
								<!-- 										value="#{satinalmaSatinalmaKarariIcerikBean.firma7IlkToplam}"> -->
								<!-- 										<f:convertNumber type="currency" currencySymbol="₺" /> -->
								<!-- 									</h:outputText> -->
								<!-- 								</p:column> -->
								<p:column colspan="2">
									<h:outputText
										value="#{satinalmaSatinalmaKarariIcerikBean.firma7NihaiToplam}">
										<f:convertNumber type="currency" currencySymbol="₺" />
									</h:outputText>
								</p:column>
							</p:summaryRow>
						</p:dataTable>
					</h:panelGrid>
				</p:panel>

				<!-- 				<p:panel toggleable="true" toggleOrientation="horizontal" -->
				<!-- 					id="aciklamaPanelId"> -->
				<!-- 					<h:form> -->
				<!-- 						<p:dataTable var="FORTH" value=""> -->
				<!-- 							<p:column headerText="#{language.ACIKLAMALAR} " -->
				<!-- 								style="text-align: left"> -->
				<!-- 								<h:outputText -->
				<!-- 									value="#{satinalmaSatinalmaKarariBean.satinalmaSatinalmaKarariForm.aciklama}"> -->
				<!-- 								</h:outputText> -->
				<!-- 							</p:column> -->
				<!-- 						</p:dataTable> -->
				<!-- 					</h:form> -->
				<!-- 					<h:form> -->
				<!-- 						<p:dataTable var="FIFTH" value=""> -->
				<!-- 							<p:column headerText="SONUÇ: " style="text-align: left"> -->
				<!-- 								<h:outputText -->
				<!-- 									value="#{satinalmaSatinalmaKarariBean.satinalmaSatinalmaKarariForm.sonucFirma}"> -->
				<!-- 								</h:outputText> -->
				<!-- 							</p:column> -->
				<!-- 						</p:dataTable> -->
				<!-- 					</h:form> -->

				<!-- 				</p:panel> -->

				<p:panel id="selectedProposalDocumentName"
					style="border:0px transparent">
					
					EKLİ BELGELER : 
					
					<h:commandLink
						value="#{satinalmaSatinalmaKarariBean.satinalmaSatinalmaKarariForm.fileNames[0]}"
						immediate="true">
						<f:setPropertyActionListener
							value="#{satinalmaSatinalmaKarariBean.satinalmaSatinalmaKarariForm.fileNames[0]}"
							target="#{satinalmaSatinalmaKarariBean.downloadedFileName}" />
						<p:fileDownload
							value="#{satinalmaSatinalmaKarariBean.downloadedFile}" />
					</h:commandLink>

					<!-- 					<c:forEach var="i" begin="0" -->
					<!-- 						end="#{satinalmaSatinalmaKarariBean.satinalmaSatinalmaKarariForm.fileNumber}"> -->
					<!-- 						<p:spacer width="100" height="10" /> -->
					<!-- 						<h:commandLink -->
					<!-- 							value="#{satinalmaSatinalmaKarariBean.satinalmaSatinalmaKarariForm.fileNames[i]}" -->
					<!-- 							immediate="true"> -->
					<!-- 							<f:setPropertyActionListener -->
					<!-- 								value="#{satinalmaSatinalmaKarariBean.satinalmaSatinalmaKarariForm.fileNames[i]}" -->
					<!-- 								target="#{satinalmaSatinalmaKarariBean.downloadedFileName}" /> -->
					<!-- 							<p:fileDownload -->
					<!-- 								value="#{satinalmaSatinalmaKarariBean.downloadedFile}" /> -->
					<!-- 						</h:commandLink> -->
					<!-- 						<br /> -->
					<!-- 					</c:forEach> -->
				</p:panel>
				<p:fileUpload mode="advanced" multiple="false"
					label="#{language.salesAddDocument}" showButtons="false"
					auto="true" process="@all"
					update="proposalTable,selectedProposalDocumentName,deleteProposalDocumentDialogId"
					allowTypes="/(\.|\/)(gif|jpg|jpeg|gif|png|PNG|GIF|JPG|JPEG|doc|docx|pdf|txt|xls|xlsx|ppt|pps|pptx|ppsx|zip|rar|RAR|ZIP)$/"
					fileUploadListener="#{satinalmaSatinalmaKarariBean.addUploadedFile}"
					style="width:260px" />

				<p:spacer width="15" height="50" />

				<!-- 				<p:commandLink title="#{language.salesDeleteDocument}" -->
				<!-- 					onclick="deleteDocumentDialog.show();"> -->
				<!-- 					<p:graphicImage value="/sales_icons/deleteDocument.png" -->
				<!-- 						width="36px" height="36px" style="border:0px"></p:graphicImage> -->
				<!-- 				</p:commandLink> -->

				<p:spacer width="150" height="50" />

				<h:panelGrid border="0" columns="5" cellspacing="5"
					id="buttonsPanelGridId">
					<p:commandButton value="AÇIKLAMA/SONUÇ EKLE"
						update="satinalmaKarariPanelGridId itemTalepTableId growl kararItemAddDialogId aciklamaAddDialogId"
						process="@this satinalmaKarariPanelGridId"
						icon="ui-icon-circle-plus"
						actionListener="#{satinalmaTeklifIstemeIcerikBean.addIcerik}"
						oncomplete="aciklamaAddDialogWidget.show()">
					</p:commandButton>
					<p:commandButton value="#{language.DUZENLE}"
						disabled="#{!satinalmaSatinalmaKarariIcerikBean.updateButtonRender}"
						update="kararItemPanelGridId itemTalepTableId growl kararItemAddPanelGridId"
						id="updateAmbarTaleplerItemButton"
						process="@this satinalmaKarariPanelGridId"
						onclick="kararItemAddDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="KAPAT/İPTAL" icon="ui-icon-circle-close"
						immediate="true" onclick="kararItemDialogWidget.hide()" />
					<!-- 					<h:commandButton immediate="true" -->
					<!-- 						action="#{satinalmaReportBean.satinalmaKarariFormuXlsx(satinalmaSatinalmaKarariBean.satinalmaSatinalmaKarariForm.id)}" -->
					<!-- 						image="/large_icons/report.png" title="KARAR ÇIKTISI OLUŞTUR"> -->
					<!-- 					</h:commandButton> -->
				</h:panelGrid>
			</p:dialog>

			<!-- Item Ekleme Formu -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="KARAR"
				id="kararItemAddDialogId" widgetVar="kararItemAddDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="kararItemAddPanelGridId">
					<f:facet name="header">
						<h:outputText value="#{language.KARARDUZENLE}"></h:outputText>
					</f:facet>

					<h:outputText value="Tedarikçi" style="font-weight: bold;"></h:outputText>
					<p:inputText disabled="true"
						value="#{satinalmaSatinalmaKarariIcerikBean.satinalmaSatinalmaKarariIcerikForm.satinalmaTeklifIstemeIcerik.satinalmaTeklifIsteme.satinalmaMusteri.commercialName}">
					</p:inputText>

					<h:outputText value="Ürün Kalemi" style="font-weight: bold;"></h:outputText>
					<p:inputText disabled="true"
						value="#{satinalmaSatinalmaKarariIcerikBean.satinalmaSatinalmaKarariIcerikForm.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunAdi} / #{satinalmaSatinalmaKarariIcerikBean.satinalmaSatinalmaKarariIcerikForm.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.disAlimAciklama}">
					</p:inputText>

					<h:outputText value="İLK TEKLİF BİRİM FİYAT"
						style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{satinalmaSatinalmaKarariIcerikBean.satinalmaSatinalmaKarariIcerikForm.ilkTeklifBirimFiyat}"
						converter="salesNumberConverter">
					</p:inputText>

					<h:outputText value="NİHAİ TEKLİF BİRİM FİYAT"
						style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{satinalmaSatinalmaKarariIcerikBean.satinalmaSatinalmaKarariIcerikForm.nihaiTeklifBirimFiyat}"
						converter="salesNumberConverter">
					</p:inputText>

					<h:outputText value="ÖDEME AÇIKLAMASI" style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{satinalmaSatinalmaKarariIcerikBean.satinalmaSatinalmaKarariIcerikForm.odemeAciklama}">
					</p:inputText>

					<h:outputText value="KUR" style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{satinalmaSatinalmaKarariIcerikBean.satinalmaSatinalmaKarariIcerikForm.kur}">
					</p:inputText>

					<h:outputText value="TESLİM SÜRESİ" style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{satinalmaSatinalmaKarariIcerikBean.satinalmaSatinalmaKarariIcerikForm.teslimSuresi}">
					</p:inputText>

					<h:outputText value="TESLİM YERİ, NAKLİYE MASRAFLARI"
						style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{satinalmaSatinalmaKarariIcerikBean.satinalmaSatinalmaKarariIcerikForm.teslimYeriNakliyeAciklama}">
					</p:inputText>

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="KAYDET"
						update="kararItemAddListDataTableId accordionPanelId growl itemTalepTableId kararItemAddDialogId kararIstemeDialogId buttonsPanelGridId kararItemPanelGridId"
						process="@this kararItemAddPanelGridId"
						actionListener="#{satinalmaSatinalmaKarariIcerikBean.addOrUpdateIcerik}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){kararItemAddDialogWidget.hide();}">
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>

			<!-- Açıklama Ekleme Formu -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="KARAR"
				id="aciklamaAddDialogId" widgetVar="aciklamaAddDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="aciklamaAddPanelGridId">
					<f:facet name="header">
						<h:outputText value="#{language.KARARDUZENLE}"></h:outputText>
					</f:facet>

					<h:outputText value="Açıklamalar" style="font-weight: bold;"></h:outputText>
					<p:inputTextarea autoResize="false"
						value="#{satinalmaSatinalmaKarariBean.satinalmaSatinalmaKarariForm.aciklama}">
					</p:inputTextarea>

					<h:outputText value="Sonuç" style="font-weight: bold"></h:outputText>
					<p:inputTextarea autoResize="false"
						value="#{satinalmaSatinalmaKarariBean.satinalmaSatinalmaKarariForm.sonucFirma}">
					</p:inputTextarea>

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="KAYDET"
						update="aciklamaAddListDataTableId accordionPanelId growl itemTalepTableId aciklamaAddDialogId kararIstemeDialogId buttonsPanelGridId aciklamaPanelGridId aciklamaPanelId"
						process="@this aciklamaAddPanelGridId"
						actionListener="#{satinalmaSatinalmaKarariBean.addOrUpdateForm}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){aciklamaAddDialogWidget.hide();}">
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>

			<!-- 			<p:dialog widgetVar="deleteDocumentDialog" -->
			<!-- 				id="deleteDocumentDialogId" header="#{language.salesWarning}"> -->
			<!-- 				<br /> -->
			<!-- 				<h:outputText value="#{language.salesDeleteDocumentConfirmation}" /> -->
			<!-- 				<br /> -->
			<!-- 				<br /> -->
			<!-- 				<p:selectOneMenu value="#{satinalmaSatinalmaKarariBean.toBeDeleted}" -->
			<!-- 					layout="lineDirection" style="width:150px;"> -->
			<!-- 					<c:forEach -->
			<!-- 						items="#{satinalmaSatinalmaKarariBean.satinalmaSatinalmaKarariForm.fileNames}" -->
			<!-- 						var="fileNames"> -->
			<!-- 						<f:selectItem itemValue="#{fileNames}" itemLabel="#{fileNames}"></f:selectItem> -->
			<!-- 					</c:forEach> -->
			<!-- 				</p:selectOneMenu> -->
			<!-- 				<br /> -->

			<!-- 				<p:commandButton value="#{language.cancel}" -->
			<!-- 					oncomplete="deleteDocumentDialog.hide();" /> -->
			<!-- 				<p:spacer width="15" height="50" /> -->

			<!-- 				<p:commandButton value="#{language.salesDeleteDocument}" -->
			<!-- 					action="#{satinalmaSatinalmaKarariBean.deleteTheSelectedFile}" -->
			<!-- 					oncomplete="deleteDocumentDialog.hide();" -->
			<!-- 					update="nameOfSelectedDocument" /> -->

			<!-- 			</p:dialog> -->

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>