<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Satınalma Yönetim</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">

		<ui:define name="showPanel">
			<p:growl id="growl" />
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px; width:100%" id="accordionPanelId"
				activeIndex="#{satinalmaTakipDosyalarIcerikBean.activeIndex}">
				<p:ajax event="tabChange"
					listener="#{satinalmaTakipDosyalarIcerikBean.onTabChange}" />
				<p:tab title="SATIN ALMAYA GELEN TÜM MALZEME TALEP FORMLARI"
					rendered="#{employeeDayoffBean.currentEmployee.employeeId eq 204 || employeeDayoffBean.currentEmployee.employeeId eq 396 || employeeDayoffBean.currentEmployee.employeeId eq 140}">

					<p:dataTable var="malzemeTalepler"
						widgetVar="malzemeTaleplerListDataTableWidget"
						id="malzemeTaleplerListAllDataTableId"
						value="#{satinalmaMalzemeHizmetTalepFormuBean.allSatinalmaMalzemeHizmetTalepFormuTumSatinalmaList}"
						paginator="true" rows="10"
						selection="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran}"
						rowKey="#{malzemeTalepler.id}" selectionMode="single"
						style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect" update="growl malzemeItemDialogId"
							process="@this malzemeTaleplerListAllDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaMalzemeHizmetTalepFormuBean.formListener}"
							process="listForm:malzemeTaleplerListAllDataTableId malzemeTaleplerListAllDataTableId"
							update="growl" />
						<p:ajax event="rowSelect"
							listener="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.fillTestList(satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.id)}"
							update="growl malzemeTaleplerListAllDataTableId orderAccordionPanelId itemTalepTableId malzemeTaleplerPanelGridId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="MALZEME/HİZMET TALEP FORMLARI" />
						</f:facet>

						<p:column sortBy="#{malzemeTalepler.formSayisi}"
							filterBy="#{malzemeTalepler.formSayisi}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MALZEME/HİZMET TALEP FORM NO" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.formSayisi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="PROJE ADI" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.projeAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.TALEBIYAPAN}" />
							</f:facet>
							<h:outputText
								value="#{malzemeTalepler.user.employee.firstname} #{malzemeTalepler.user.employee.lastname}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="AÇIKLAMA" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.aciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="OLUŞTURMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="TALEP TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.talepTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ONAYLANMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.onayTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.DURUM}" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.satinalmaDurum.title}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ONAYA GÖNDERİLMİŞ" />
							</f:facet>
							<p:selectBooleanCheckbox value="#{malzemeTalepler.tamamlanma}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="AMİR ONAYI"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval eq 1}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval eq 2}"></p:graphicImage>
							<p:graphicImage value="/large_icons/blank.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval==0}"></p:graphicImage>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="GEN. MÜD. ONAYI"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval eq 1}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval eq 2}"></p:graphicImage>
							<p:graphicImage value="/large_icons/blank.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval==0}"></p:graphicImage>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="REV. AÇIKLAMASI" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.revAciklama}"></h:outputText>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="#{language.LISTEYIYENILE}"
								process="malzemeTaleplerListAllDataTableId"
								update="growl malzemeTaleplerListAllDataTableId"
								action="#{satinalmaMalzemeHizmetTalepFormuBean.fillTestList}">
							</p:commandButton>
							<p:commandButton value="TALEBİN İÇERİĞİNE BAK"
								disabled="#{!satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender}"
								update="growl malzemeTaleplerListAllDataTableId accordionPanelId malzemeTaleplerPanelGridId itemTalepTableId"
								process="@this" icon="ui-icon-circle-plus"
								action="#{satinalmaTakipDosyalarIcerikBean.icerikListesiGetir(satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.id)}">
							</p:commandButton>
						</f:facet>
					</p:dataTable>

					<p:spacer width="15" height="50" />

					<p:dataTable var="itemTalepler" id="itemTalepTableId"
						value="#{satinalmaTakipDosyalarIcerikBean.allSatinalmaTakipDosyalarIcerikList}"
						paginator="true" rows="10"
						selection="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran}"
						rowKey="#{itemTalepler.id}" selectionMode="single"
						style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.formListener}"
							process="listForm:itemTalepTableId itemTalepTableId"
							update="growl buttonsPanelGridId malzemeItemAddDialogId" />

						<p:ajax event="rowEdit"
							process="listForm:itemTalepTableId itemTalepTableId"
							listener="#{satinalmaTakipDosyalarIcerikBean.onRowEdit}"
							update="growl " />

						<f:facet name="header">
							<h:outputText value="SEÇİLEN MALZEME/HİZMET TALEP FORM İÇERİĞİ" />
						</f:facet>

						<p:column style="width:32px">
							<p:rowEditor />
						</p:column>

						<p:column headerText="GÖREVLENDİRİLEN PERSONEL">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText
										value="#{itemTalepler.gorevliPersonel.firstname} #{itemTalepler.gorevliPersonel.lastname}" />
								</f:facet>
								<f:facet name="input">
									<p:autoComplete value="#{itemTalepler.gorevliPersonel}"
										id="gorevliPersonelId"
										completeMethod="#{autoCompleteBean.autoCompleteEmployee}"
										var="e"
										itemLabel="#{e.employeeId} - #{e.firstname} #{e.lastname}"
										itemValue="#{e}" converter="employeeConverter"
										forceSelection="true" minQueryLength="3" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SIRA NO" />
							</f:facet>
							<h:outputText
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.siraNo}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="MALZEME BİLGİLERİ" />
							</f:facet>
							<h:outputText
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunAdi}"></h:outputText>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="MALZEME BİLGİLERİ AÇIKLAMASI" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText -->
						<!-- 								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.disAlimAciklama}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column>
							<f:facet name="header">
								<h:outputText value="MİKTAR" />
							</f:facet>
							<h:outputText
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="BİRİM" />
							</f:facet>
							<h:outputText
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.stokTanimlarBirim.birim}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="KULLANIM YERİ" />
							</f:facet>
							<h:outputText
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.satinalmaMalzemeHizmetTalepFormu.projeAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SARF MLZ. " />
							</f:facet>
							<p:selectBooleanCheckbox
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.sarf}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ÜRETİM MLZ. " />
							</f:facet>
							<p:selectBooleanCheckbox
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.uretim}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="BAKIM MLZ. " />
							</f:facet>
							<p:selectBooleanCheckbox
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.bakim}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="DEMİRBAŞ " />
							</f:facet>
							<p:selectBooleanCheckbox
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.demirbas}"
								disabled="true" />
						</p:column>

						<p:column headerText="İHTİYAÇ TARİHİ">
							<h:outputText
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.ihtiyacSuresi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<!-- 						<f:facet name="footer"> -->
						<!-- 							<p:commandButton value="TALEBİN İÇERİĞİNE BAK" -->
						<!-- 								disabled="#{!satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender}" -->
						<!-- 								update="growl malzemeTaleplerListAllDataTableId accordionPanelId malzemeTaleplerPanelGridId itemTalepTableId" -->
						<!-- 								process="@this malzemeTaleplerDialogId" -->
						<!-- 								icon="ui-icon-circle-plus" -->
						<!-- 								action="#{satinalmaTakipDosyalarIcerikBean.icerikListesiGetir(satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.id)}"> -->
						<!-- 							</p:commandButton> -->
						<!-- 														<p:commandButton value="TEKLİF İSTEMEYE ÇEVİR" -->
						<!-- 															disabled="#{!satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender}" -->
						<!-- 															update="growl talepIcerikListAllDataTableId accordionPanelId talepIcerikPanelGridId itemTalepTableId" -->
						<!-- 															process="@this talepIcerikDialogId" -->
						<!-- 															onclick="malzemeItemDialogWidget.show()" -->
						<!-- 															icon="ui-icon-circle-plus" -->
						<!-- 															action="#{satinalmaMalzemeHizmetTalepFormuBean.malzemeHizmetFormunaCevir}"> -->
						<!-- 														</p:commandButton> -->
						<!-- 														<p:commandButton value="TALEBİN İÇERİĞİNE BAK" -->
						<!-- 															disabled="#{!satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender}" -->
						<!-- 															update="growl talepIcerikListAllDataTableId accordionPanelId talepIcerikPanelGridId itemTalepTableId" -->
						<!-- 															process="@this talepIcerikDialogId" -->
						<!-- 															onclick="malzemeItemDialogWidget.show()" -->
						<!-- 															icon="ui-icon-circle-plus" -->
						<!-- 															action="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.fillTestList(satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.id)}"> -->
						<!-- 														</p:commandButton> -->
						<!-- 						</f:facet> -->
					</p:dataTable>

				</p:tab>
				<p:tab title="BANA YÖNLENDİRİLEN MALZEME / HİZMET TALEP FORMLARIM">
					<p:dataTable var="malzemeTalepler"
						widgetVar="malzemeTaleplerListDataTableWidget"
						id="malzemeTaleplerListPersonalDataTableId"
						value="#{satinalmaTakipDosyalarIcerikBean.allYonlendirilenlerMain}"
						paginator="true" rows="10"
						selection="#{satinalmaTakipDosyalarIcerikBean.satinalmaMalzemeHizmetTalepFormu}"
						rowKey="#{malzemeTalepler.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						rendered="false">

						<p:ajax event="rowSelect" update="growl malzemeItemDialogId"
							process="@this malzemeTaleplerListPersonalDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaMalzemeHizmetTalepFormuBean.formListener}"
							process="listForm:malzemeTaleplerListPersonalDataTableId malzemeTaleplerListPersonalDataTableId"
							update="growl" />
						<p:ajax event="rowSelect"
							update="growl malzemeTaleplerListPersonalDataTableId orderAccordionPanelId">
						</p:ajax>

						<p:column sortBy="#{malzemeTalepler.formSayisi}"
							filterBy="#{malzemeTalepler.formSayisi}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MALZEME/HİZMET TALEP FORM NO" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.formSayisi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="PROJE ADI" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.projeAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="AMBAR/MALZEME TALEP FORM NO" />
							</f:facet>
							<h:outputText
								value="#{malzemeTalepler.satinalmaAmbarMalzemeTalepForm.formSayisi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.TALEBIYAPAN}" />
							</f:facet>
							<h:outputText
								value="#{malzemeTalepler.user.employee.firstname} #{malzemeTalepler.user.employee.lastname}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SAYI" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.sayi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="AÇIKLAMA" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.aciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="OLUŞTURMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="TALEP TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.talepTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ONAYLANMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.onayTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.DURUM}" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.satinalmaDurum.title}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ONAYA GÖNDERİLMİŞ" />
							</f:facet>
							<p:selectBooleanCheckbox value="#{malzemeTalepler.tamamlanma}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="AMİR ONAYI"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval eq 1}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval eq 2}"></p:graphicImage>
							<p:graphicImage value="/large_icons/blank.png" style="border:0px"
								rendered="#{malzemeTalepler.supervisorApproval==0}"></p:graphicImage>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="GEN. MÜD. ONAYI"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval eq 1}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval eq 2}"></p:graphicImage>
							<p:graphicImage value="/large_icons/blank.png" style="border:0px"
								rendered="#{malzemeTalepler.gmApproval==0}"></p:graphicImage>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="REV. AÇIKLAMASI" />
							</f:facet>
							<h:outputText value="#{malzemeTalepler.revAciklama}"></h:outputText>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="#{language.LISTEYIYENILE}"
								process="malzemeTaleplerListPersonalDataTableId"
								update="growl malzemeTaleplerListPersonalDataTableId"
								action="#{satinalmaTakipDosyalarIcerikBean.fillTestList}">
							</p:commandButton>
							<p:commandButton value="İÇERİĞİNİ GÖR"
								disabled="#{!satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender}"
								update="growl itemTalepUserTableId accordionPanelId malzemeTaleplerPanelGridId itemTalepTableId"
								process="@this" icon="ui-icon-circle-plus"
								action="#{satinalmaTakipDosyalarIcerikBean.icerikListesiGetir(satinalmaTakipDosyalarIcerikBean.satinalmaMalzemeHizmetTalepFormu.id)}">
							</p:commandButton>
						</f:facet>
					</p:dataTable>

					<p:spacer width="15" height="50" />

					<p:dataTable var="itemTalepler" id="itemTalepUserTableId"
						value="#{satinalmaTakipDosyalarIcerikBean.allSatinalmaTakipDosyalarIcerikByGorevliIdListMain}"
						paginator="true" rows="10"
						selection="#{satinalmaTakipDosyalarIcerikBean.selectedIcerik}"
						rowKey="#{itemTalepler.id}" selectionMode="multiple"
						style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						rendered="false">

						<p:ajax event="rowSelect"
							listener="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.formListener}"
							process="listForm:itemTalepUserTableId itemTalepUserTableId"
							update="growl itemTalepUserTableId accordionPanelId malzemeTaleplerPanelGridId itemTalepTableId" />

						<f:facet name="header">
							<h:outputText value="SEÇİLEN MALZEME/HİZMET TALEP FORM İÇERİĞİ" />
						</f:facet>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SIRA NO" />
							</f:facet>
							<h:outputText
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.siraNo}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="MALZEME BİLGİLERİ" />
							</f:facet>
							<h:outputText
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="MALZEME BİLGİLERİ AÇIKLAMASI" />
							</f:facet>
							<h:outputText
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.disAlimAciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="MİKTAR" />
							</f:facet>
							<h:outputText
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="BİRİM" />
							</f:facet>
							<h:outputText
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.stokTanimlarBirim.birim}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="KULLANIM YERİ" />
							</f:facet>
							<h:outputText
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.satinalmaMalzemeHizmetTalepFormu.projeAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SARF MLZ. " />
							</f:facet>
							<p:selectBooleanCheckbox
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.sarf}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ÜRETİM MLZ. " />
							</f:facet>
							<p:selectBooleanCheckbox
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.uretim}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="BAKIM MLZ. " />
							</f:facet>
							<p:selectBooleanCheckbox
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.bakim}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="DEMİRBAŞ " />
							</f:facet>
							<p:selectBooleanCheckbox
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.demirbas}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="GÖREVLENDİRİLEN PERSONEL" />
							</f:facet>
							<h:outputText
								value="#{itemTalepler.gorevliPersonel.firstname} #{itemTalepler.gorevliPersonel.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="İHTİYAÇ TARİHİ">
							<h:outputText
								value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormuIcerik.ihtiyacSuresi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<f:facet name="footer">
							<p:commandButton
								value="SEÇILEN TALEP IÇERIKLERINE DOSYA NUMARASI VER"
								disabled="#{!satinalmaMalzemeHizmetTalepFormuIcerikBean.updateButtonRender}"
								update="growl talepIcerikListAllDataTableId accordionPanelId talepIcerikPanelGridId itemTalepUserTableId"
								process="@this talepIcerikDialogId" icon="ui-icon-circle-plus"
								action="#{satinalmaTakipDosyalarIcerikBean.dosyaNumarasiVer}">
							</p:commandButton>
						</f:facet>
					</p:dataTable>

					<p:spacer width="15" height="50" />

					<p:dataTable var="banaYonlendirilenler"
						id="banaYonlendirilenlerTableId"
						value="#{satinalmaTakipDosyalarIcerikBean.banaYonlendirilenlerListesi}"
						paginator="true" rows="10"
						selection="#{satinalmaTakipDosyalarIcerikBean.selectedIcerik}"
						rowKey="#{banaYonlendirilenler.id}" selectionMode="multiple"
						style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.formListener}"
							process="listForm:banaYonlendirilenlerTableId banaYonlendirilenlerTableId"
							update="growl banaYonlendirilenlerTableId accordionPanelId malzemeTaleplerPanelGridId itemTalepTableId" />

						<f:facet name="header">
							<h:outputText value="SEÇİLEN MALZEME/HİZMET TALEP FORM İÇERİĞİ" />
						</f:facet>

						<!-- 						<p:column style="width:32px"> -->
						<!-- 							<p:rowEditor /> -->
						<!-- 						</p:column> -->

						<p:column>
							<f:facet name="header">
								<h:outputText value="DOSYA NO" />
							</f:facet>
							<h:outputText
								value="#{banaYonlendirilenler.satinalmaTakipDosyalar.dosyaTakipNo}"></h:outputText>
						</p:column>

						<!-- 						<p:column headerText="DOSYA NO"> -->
						<!-- 							<p:cellEditor> -->
						<!-- 								<f:facet name="output"> -->
						<!-- 									<h:outputText -->
						<!-- 										value="#{banaYonlendirilenler.satinalmaTakipDosyalar.dosyaTakipNo}" /> -->
						<!-- 								</f:facet> -->
						<!-- 								<f:facet name="input"> -->
						<!-- 									<p:autoComplete -->
						<!-- 										value="#{banaYonlendirilenler.satinalmaTakipDosyalar}" -->
						<!-- 										id="dosyaNoId" -->
						<!-- 										completeMethod="#{autoCompleteBean.autoCompleteDosyaNo}" -->
						<!-- 										var="d" itemLabel="#{d.dosyaTakipNo}" itemValue="#{d}" -->
						<!-- 										converter="dosyaNoConverter" forceSelection="true" -->
						<!-- 										minQueryLength="3" /> -->
						<!-- 								</f:facet> -->
						<!-- 							</p:cellEditor> -->
						<!-- 						</p:column> -->

						<p:column>
							<f:facet name="header">
								<h:outputText value="MALZEME TALEP FORM NO" />
							</f:facet>
							<h:outputText
								value="#{banaYonlendirilenler.satinalmaMalzemeHizmetTalepFormu.formSayisi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="MALZEME BİLGİLERİ" />
							</f:facet>
							<h:outputText
								value="#{banaYonlendirilenler.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="MALZEME BİLGİLERİ AÇIKLAMASI" />
							</f:facet>
							<h:outputText
								value="#{banaYonlendirilenler.satinalmaMalzemeHizmetTalepFormuIcerik.disAlimAciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="MİKTAR" />
							</f:facet>
							<h:outputText
								value="#{banaYonlendirilenler.satinalmaMalzemeHizmetTalepFormuIcerik.miktar} #{banaYonlendirilenler.satinalmaMalzemeHizmetTalepFormuIcerik.stokTanimlarBirim.birim}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="KULLANIM YERİ" />
							</f:facet>
							<h:outputText
								value="#{banaYonlendirilenler.satinalmaMalzemeHizmetTalepFormuIcerik.satinalmaMalzemeHizmetTalepFormu.projeAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SARF MLZ. " />
							</f:facet>
							<p:selectBooleanCheckbox
								value="#{banaYonlendirilenler.satinalmaMalzemeHizmetTalepFormuIcerik.sarf}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ÜRETİM MLZ. " />
							</f:facet>
							<p:selectBooleanCheckbox
								value="#{banaYonlendirilenler.satinalmaMalzemeHizmetTalepFormuIcerik.uretim}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="BAKIM MLZ. " />
							</f:facet>
							<p:selectBooleanCheckbox
								value="#{banaYonlendirilenler.satinalmaMalzemeHizmetTalepFormuIcerik.bakim}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="DEMİRBAŞ " />
							</f:facet>
							<p:selectBooleanCheckbox
								value="#{banaYonlendirilenler.satinalmaMalzemeHizmetTalepFormuIcerik.demirbas}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="GÖREVLENDİRİLEN PERSONEL" />
							</f:facet>
							<h:outputText
								value="#{banaYonlendirilenler.gorevliPersonel.firstname} #{banaYonlendirilenler.gorevliPersonel.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="İHTİYAÇ TARİHİ">
							<h:outputText
								value="#{banaYonlendirilenler.satinalmaMalzemeHizmetTalepFormuIcerik.ihtiyacSuresi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<f:facet name="footer">
							<!-- 							<p:commandButton value="TALEBİN İÇERİĞİNE BAK" -->
							<!-- 								disabled="#{!satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender}" -->
							<!-- 								update="growl malzemeTaleplerListAllDataTableId accordionPanelId malzemeTaleplerPanelGridId banaYonlendirilenlerTableId" -->
							<!-- 								process="@this malzemeTaleplerDialogId" -->
							<!-- 								icon="ui-icon-circle-plus" -->
							<!-- 								action="#{satinalmaTakipDosyalarIcerikBean.icerikListesiGetir(satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.id)}"> -->
							<!-- 							</p:commandButton> -->
							<p:commandButton value="LİSTEYİ YENİLE"
								update="growl banaYonlendirilenlerTableId"
								process="@this dosyaOlmuslarDialogId" icon="ui-icon-circle-plus"
								action="#{satinalmaTakipDosyalarIcerikBean.fillTestList}">
							</p:commandButton>
							<p:commandButton
								value="SEÇILEN TALEP IÇERIKLERINE DOSYA NUMARASI VER"
								disabled="#{!satinalmaMalzemeHizmetTalepFormuIcerikBean.updateButtonRender}"
								update="growl talepIcerikListAllDataTableId accordionPanelId talepIcerikPanelGridId banaYonlendirilenlerTableId"
								process="@this talepIcerikDialogId" icon="ui-icon-circle-plus"
								action="#{satinalmaTakipDosyalarIcerikBean.dosyaNumarasiVer}">
							</p:commandButton>
							<!-- 							<p:commandButton value="RAPOR" -->
							<!-- 								process="@this talepIcerikDialogId" icon="ui-icon-circle-plus" -->
							<!-- 								action="#{reportsBean.deneme1}"> -->
							<!-- 							</p:commandButton> -->
						</f:facet>
					</p:dataTable>

				</p:tab>
				<p:tab title="DOSYA NUMARASI ALMIŞ OLANLAR">
					<p:dataTable var="dosyaOlmuslar"
						widgetVar="dosyaOlmuslarListDataTableWidget"
						id="dosyaOlmuslarListOnayDataTableId"
						value="#{satinalmaTakipDosyalarBean.allSatinalmaTakipDosyalarList}"
						paginator="true" rows="10"
						selection="#{satinalmaTakipDosyalarIcerikBean.satinalmaTakipDosyalarForm}"
						rowKey="#{dosyaOlmuslar.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect" update="growl malzemeItemDialogId"
							process="@this dosyaOlmuslarListOnayDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaMalzemeHizmetTalepFormuBean.formListener}"
							process="listForm:dosyaOlmuslarListOnayDataTableId dosyaOlmuslarListOnayDataTableId"
							update="growl" />
						<p:ajax event="rowSelect"
							update="growl dosyaOlmuslarListOnayDataTableId orderAccordionPanelId">
						</p:ajax>

						<p:column>
							<f:facet name="header">
								<h:outputText value="DOSYA NUMARASI" />
							</f:facet>
							<h:outputText value="#{dosyaOlmuslar.dosyaTakipNo}"></h:outputText>
						</p:column>

						<p:column
							sortBy="#{dosyaOlmuslar.satinalmaMalzemeHizmetTalepFormu.formSayisi}"
							filterBy="#{dosyaOlmuslar.satinalmaMalzemeHizmetTalepFormu.formSayisi}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MALZEME/HİZMET TALEP FORM NO" />
							</f:facet>
							<h:outputText
								value="#{dosyaOlmuslar.satinalmaMalzemeHizmetTalepFormu.formSayisi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="OLUŞTURMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{dosyaOlmuslar.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.DURUM}" />
							</f:facet>
							<h:outputText value=""></h:outputText>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="LİSTEYİ YENİLE"
								update="growl dosyaOlmuslarListOnayDataTableId"
								process="@this dosyaOlmuslarDialogId" icon="ui-icon-circle-plus"
								action="#{satinalmaTakipDosyalarBean.fillTestList}">
							</p:commandButton>
							<p:commandButton value="İÇERİĞİNİ GÖR"
								disabled="#{!satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender}"
								update="growl dosyaIcerikTableId accordionPanelId"
								process="@this dosyaOlmuslarDialogId" icon="ui-icon-circle-plus"
								action="#{satinalmaTakipDosyalarIcerikBean.icerikListesiGetir(satinalmaTakipDosyalarIcerikBean.satinalmaTakipDosyalarForm.satinalmaMalzemeHizmetTalepFormu.id)}">
							</p:commandButton>
						</f:facet>
					</p:dataTable>

					<p:spacer width="15" height="50" />

					<p:dataTable var="dosyaIcerikler" id="dosyaIcerikTableId"
						value="#{satinalmaTakipDosyalarIcerikBean.dosyaIcerikList}"
						paginator="true" rows="10"
						selection="#{satinalmaTakipDosyalarIcerikBean.selectedIcerik}"
						rowKey="#{dosyaIcerikler.id}" selectionMode="multiple"
						style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						rowIndexVar="index">

						<p:ajax event="rowSelect"
							listener="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.formListener}"
							process="listForm:dosyaIcerikTableId dosyaIcerikTableId"
							update="growl dosyaIcerikTableId accordionPanelId malzemeTaleplerPanelGridId itemTalepTableId" />

						<f:facet name="header">
							<h:outputText value="SEÇİLEN MALZEME/HİZMET TALEP FORM İÇERİĞİ" />
						</f:facet>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SIRA NO" />
							</f:facet>
							<h:outputText value="#{index+1}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="MALZEME BİLGİLERİ" />
							</f:facet>
							<h:outputText
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="MALZEME BİLGİLERİ AÇIKLAMASI" />
							</f:facet>
							<h:outputText
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.disAlimAciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="MİKTAR" />
							</f:facet>
							<h:outputText
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="BİRİM" />
							</f:facet>
							<h:outputText
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.stokTanimlarBirim.birim}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="KULLANIM YERİ" />
							</f:facet>
							<h:outputText
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.satinalmaMalzemeHizmetTalepFormu.projeAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SARF MLZ. " />
							</f:facet>
							<p:selectBooleanCheckbox
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.sarf}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ÜRETİM MLZ. " />
							</f:facet>
							<p:selectBooleanCheckbox
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.uretim}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="BAKIM MLZ. " />
							</f:facet>
							<p:selectBooleanCheckbox
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.bakim}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="DEMİRBAŞ " />
							</f:facet>
							<p:selectBooleanCheckbox
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.demirbas}"
								disabled="true" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="GÖREVLENDİRİLEN PERSONEL" />
							</f:facet>
							<h:outputText
								value="#{dosyaIcerikler.gorevliPersonel.firstname} #{dosyaIcerikler.gorevliPersonel.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="İHTİYAÇ TARİHİ">
							<h:outputText
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.ihtiyacSuresi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
					</p:dataTable>

				</p:tab>
			</p:accordionPanel>

			<!-- 			<p:dialog draggable="true" closable="true" maximizable="true" -->
			<!-- 				resizable="false" dynamic="false" -->
			<!-- 				header="#{language.MalzemeHizmetTalepFormu} #{language.Add}" -->
			<!-- 				id="malzemeTaleplerDialogId" widgetVar="malzemeTaleplerDialogWidget"> -->

			<!-- 				<h:panelGrid border="0" columns="2" style="text-align: center" -->
			<!-- 					id="malzemeTaleplerPanelGridId"> -->
			<!-- 					<f:facet name="header"> -->
			<!-- 						<h:outputText value="#{language.MalzemeHizmetTalepFormu}"></h:outputText> -->
			<!-- 					</f:facet> -->

			<!-- 										<h:outputText value="#{language.ButceKodu}" -->
			<!-- 											style="font-weight: bold;"></h:outputText> -->
			<!-- 										<p:inputText -->
			<!-- 											value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.butceKodu}"> -->
			<!-- 										</p:inputText> -->

			<!-- 					<h:outputText value="PROJE ADI/KODU" style="font-weight: bold"></h:outputText> -->
			<!-- 					<p:inputText -->
			<!-- 						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.projeAdi}"> -->
			<!-- 					</p:inputText> -->

			<!-- 					<h:outputText value="SAYI" style="font-weight: bold"></h:outputText> -->
			<!-- 					<p:inputText -->
			<!-- 						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.sayi}"> -->
			<!-- 					</p:inputText> -->

			<!-- 					<h:outputText value="#{language.DURUM}" style="font-weight: bold;"></h:outputText> -->
			<!-- 					<p:selectOneMenu -->
			<!-- 						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.satinalmaDurum}"> -->
			<!-- 						<f:converter converterId="satinalmaDurumConverter" /> -->
			<!-- 						<f:selectItems var="groupType" itemValue="#{groupType}" -->
			<!-- 							itemLabel="#{groupType.title}" -->
			<!-- 							value="#{satinalmaDurumBean.durumListMalzeme}" /> -->
			<!-- 					</p:selectOneMenu> -->
			<!-- 					<h:outputText value="AÇIKLAMA" style="font-weight: bold;"></h:outputText> -->
			<!-- 					<p:inputTextarea -->
			<!-- 						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.aciklama}"> -->
			<!-- 					</p:inputTextarea> -->

			<!-- 					<h:outputLabel value="Onay - Bölüm Müdürü" for="basicPojoMudur" -->
			<!-- 						style="font-weight: bold;" /> -->
			<!-- 					<p:autoComplete -->
			<!-- 						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.supervisor}" -->
			<!-- 						id="basicPojoMudur" -->
			<!-- 						completeMethod="#{autoCompleteBean.autoCompleteEmployee}" var="e" -->
			<!-- 						itemLabel="#{e.employeeId} - #{e.firstname} #{e.lastname}" -->
			<!-- 						itemValue="#{e}" converter="employeeConverter" -->
			<!-- 						forceSelection="true" minQueryLength="3" /> -->

			<!-- 					<h:outputLabel value="Gen. Müd. Yardımcısı" for="basicPojoGenMud" -->
			<!-- 						style="font-weight: bold;" /> -->
			<!-- 					<p:autoComplete -->
			<!-- 						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.generalManager}" -->
			<!-- 						id="basicPojoGenMud" -->
			<!-- 						completeMethod="#{autoCompleteBean.autoCompleteEmployee}" var="e" -->
			<!-- 						itemLabel="#{e.employeeId} - #{e.firstname} #{e.lastname}" -->
			<!-- 						itemValue="#{e}" converter="employeeConverter" -->
			<!-- 						forceSelection="true" minQueryLength="3" /> -->

			<!-- 					<h:outputText value="Talep Tarihi" style="font-weight: bold"></h:outputText> -->
			<!-- 					<p:calendar mode="popup" autocomplete="false" showOn="button" -->
			<!-- 						stepMinute="5" required="true" -->
			<!-- 						pattern="#{userCredentialsBean.dateFormat} HH:mm" -->
			<!-- 						requiredMessage="#{language.RequiredMessage}" -->
			<!-- 						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.talepTarihi}"></p:calendar> -->
			<!-- 				</h:panelGrid> -->
			<!-- 				<h:panelGrid border="0" columns="5" cellspacing="5"> -->
			<!-- 					<p:commandButton value="FORM EKLE" -->
			<!-- 						update="malzemeTaleplerListDataTableId accordionPanelId growl" -->
			<!-- 						process="@this malzemeTaleplerDialogId malzemeTaleplerPanelGridId" -->
			<!-- 						actionListener="#{satinalmaMalzemeHizmetTalepFormuBean.addOrUpdateForm}" -->
			<!-- 						icon="ui-icon-circle-plus" -->
			<!-- 						oncomplete="if (!args.validationFailed){malzemeTaleplerDialogWidget.hide();}"> -->
			<!-- 					</p:commandButton> -->
			<!-- 				</h:panelGrid> -->
			<!-- 			</p:dialog> -->

			<!-- Seçili Hizmet Talep Formu -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" id="malzemeItemDialogId"
				widgetVar="malzemeItemDialogWidget">

				<p:panel toggleable="true" toggleOrientation="horizontal"
					header="#{language.MalzemeHizmetTalepFormuBaslik}"
					id="malzemeItemPanelGridId" style="text-align: center">
					<h:form>
						<p:dataTable var="VARIABLE1" value="">
							<p:column headerText="#{language.ButceKodu}"
								style="text-align: center">
								<h:outputText
									value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.butceKodu}" />
							</p:column>

							<p:column headerText="#{language.ProjeAdi}"
								style="text-align: center">
								<h:outputText
									value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.projeAdi}" />
							</p:column>

							<p:column headerText="#{language.Sayi}"
								style="text-align: center">
								<h:outputText
									value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.formSayisi}" />
							</p:column>

							<p:column headerText="Tarih (gg/aa/yyyy)"
								style="text-align: center">
								<h:outputText
									value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.eklemeZamani}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>
				</p:panel>

				<!-- Liste -->

				<p:dataTable var="itemTalepler" id="itemTalepTableId"
					value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.allSatinalmaMalzemeHizmetTalepFormuIcerikList}"
					paginator="true" rows="10"
					selection="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran}"
					rowKey="#{itemTalepler.id}" selectionMode="single"
					dblClickSelect="false" style="width:100%"
					paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

					<p:ajax event="rowSelect"
						listener="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.formListener}"
						process="listForm:itemTalepTableId itemTalepTableId"
						update="growl buttonsPanelGridId malzemeItemAddDialogId" />

					<p:column>
						<f:facet name="header">
							<h:outputText value="SIRA NO" />
						</f:facet>
						<h:outputText value="#{itemTalepler.siraNo}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="MALZEME BİLGİLERİ" />
						</f:facet>
						<h:outputText value="#{itemTalepler.stokUrunKartlari.urunAdi}"></h:outputText>
					</p:column> -->

					<p:column>
						<f:facet name="header">
							<h:outputText value="MİKTAR" />
						</f:facet>
						<h:outputText value="#{itemTalepler.miktar}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="BİRİM" />
						</f:facet>
						<h:outputText value="#{itemTalepler.stokTanimlarBirim.birim}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="KULLANIM YERİ" />
						</f:facet>
						<h:outputText
							value="#{itemTalepler.satinalmaMalzemeHizmetTalepFormu.projeAdi}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="SARF MLZ. " />
						</f:facet>
						<p:selectBooleanCheckbox value="#{itemTalepler.sarf}"
							disabled="true" />
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="ÜRETİM MLZ. " />
						</f:facet>
						<p:selectBooleanCheckbox value="#{itemTalepler.uretim}"
							disabled="true" />
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="BAKIM MLZ. " />
						</f:facet>
						<p:selectBooleanCheckbox value="#{itemTalepler.bakim}"
							disabled="true" />
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="DEMİRBAŞ " />
						</f:facet>
						<p:selectBooleanCheckbox value="#{itemTalepler.demirbas}"
							disabled="true" />
					</p:column>

					<p:column headerText="İHTİYAÇ TARİHİ">
						<h:outputText value="#{itemTalepler.ihtiyacSuresi}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>

				</p:dataTable>

				<p:panel toggleable="true" toggleOrientation="horizontal">
					<h:form>
						<p:dataTable var="VARIABLE2" value="">
							<p:column headerText="#{language.TALEBIYAPAN}"
								style="text-align: center">
								<h:outputText
									value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.user.employee.firstname} #{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.user.employee.lastname}" />
							</p:column>

							<p:column headerText="BÖLÜM MÜDÜRÜ" style="text-align: center">
								<h:outputText
									value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.supervisor.firstname} #{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.supervisor.lastname}" />
							</p:column>

							<p:column headerText="SATIN ALMA" style="text-align: center">
								<h:outputText value="" />
							</p:column>

							<p:column headerText="FİNANS" style="text-align: center">
								<h:outputText value="" />
							</p:column>

							<p:column headerText="GENEL MÜD. YRD." style="text-align: center">
								<h:outputText
									value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.generalManager.firstname} #{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.generalManager.lastname}" />
							</p:column>
						</p:dataTable>
					</h:form>
				</p:panel>

				<h:panelGrid border="0" columns="5" cellspacing="5"
					id="buttonsPanelGridId">
					<p:commandButton value="MALZEME/HİZMET EKLE"
						update="malzemeTaleplerPanelGridId itemTalepTableId growl"
						process="@this malzemeTaleplerPanelGridId"
						icon="ui-icon-circle-plus"
						oncomplete="malzemeItemAddDialogWidget.show()"
						disabled="#{!!satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.tamamlanma}">
					</p:commandButton>
					<p:commandButton value="MALZEME/HİZMET DÜZENLE"
						rendered="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.updateButtonRender and !satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.tamamlanma}"
						update="malzemeItemPanelGridId itemTalepTableId growl"
						id="updateMalzemeTaleplerItemButton"
						process="@this malzemeTaleplerPanelGridId"
						onclick="malzemeItemAddDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="KAPAT/İPTAL" icon="ui-icon-circle-close"
						immediate="true" onclick="malzemeItemDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- Item Ekleme Formu -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="Talep #{language.Add}"
				id="malzemeItemAddDialogId" widgetVar="malzemeItemAddDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="malzemeItemAddPanelGridId">
					<f:facet name="header">
						<h:outputText value="Talep #{language.Add}"></h:outputText>
					</f:facet>

					<h:outputLabel value="#{language.MalzemeBilgileri}"
						for="basicPojoUrunKartlari" style="font-weight: bold;" />
					<p:autoComplete
						value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran.stokUrunKartlari}"
						id="basicPojoUrunKartlari"
						completeMethod="#{autoCompleteBean.autoCompleteStokUrunKartlari}"
						var="e"
						itemLabel="#{e.urunKodu} - #{e.urunAdi} / #{e.stokTanimlarBirim.birim}"
						itemValue="#{e}" converter="stokUrunKartlariConverter"
						forceSelection="true" minQueryLength="3" size="35" />

					<h:outputText value="#{language.Miktar}" style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran.miktar}">
					</p:inputText>

					<h:outputText value="#{language.Birim}" style="font-weight: bold;"></h:outputText>
					<p:selectOneMenu
						value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran.stokTanimlarBirim.id}"
						style="width: 200px">
						<f:selectItems var="birimType" itemValue="#{birimType.id}"
							itemLabel="#{birimType.birim}"
							value="#{stokTanimlarBirimBean.allStokTanimlarBirimList}" />
					</p:selectOneMenu>

					<h:outputText value="#{language.Sarf}" style="font-weight: bold"></h:outputText>
					<p:selectBooleanCheckbox
						value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran.sarf}" />

					<h:outputText value="#{language.Uretim}" style="font-weight: bold"></h:outputText>
					<p:selectBooleanCheckbox
						value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran.uretim}" />

					<h:outputText value="#{language.Bakim}" style="font-weight: bold"></h:outputText>
					<p:selectBooleanCheckbox
						value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran.bakim}" />

					<h:outputText value="#{language.Demirbas}"
						style="font-weight: bold"></h:outputText>
					<p:selectBooleanCheckbox
						value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran.demirbas}" />

					<h:outputText value="#{language.IhtiyacTarihi}"
						style="font-weight: bold"></h:outputText>
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
						value="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.satinalmaMalzemeHizmetTalepFormuIcerikEkran.ihtiyacSuresi}"></p:calendar>

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="FORM EKLE"
						update="malzemeItemAddListDataTableId accordionPanelId growl itemTalepTableId"
						process="@this malzemeItemAddDialogId malzemeItemAddPanelGridId"
						actionListener="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.addOrUpdateIcerik}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){malzemeItemAddDialogWidget.hide();}">
						<f:param id="formId"
							value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.id}"></f:param>
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>

			<!-- Revizyon Paneli Amir-->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="REVİZYONA GÖNDERME"
				id="malzemeTaleplerRevizyonDialogId"
				widgetVar="malzemeTaleplerRevizyonDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="malzemeTalepRevizyonPanelGridId">
					<f:facet name="header">
						<h:outputText value="REVİZYONA GÖNDER"></h:outputText>
					</f:facet>

					<h:outputText value="* Revizyon Açıklaması"
						style="font-weight: bold"></h:outputText>
					<p:inputTextarea
						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.revAciklama}" />

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="REVİZYONA GÖNDER"
						update="malzemeItemAddListDataTableId accordionPanelId growl itemTalepTableId"
						process="@this malzemeTaleplerRevizyonDialogId malzemeTalepRevizyonPanelGridId"
						actionListener="#{satinalmaMalzemeHizmetTalepFormuBean.revizyonaGonder}"
						icon="ui-icon-circle-close"
						oncomplete="if (!args.validationFailed){malzemeTaleplerRevizyonDialogWidget.hide();}">

					</p:commandButton>
				</h:panelGrid>
			</p:dialog>

			<!-- Revizyon Paneli GM -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="REVİZYONA GÖNDERME"
				id="malzemeTaleplerRevizyonGMDialogId"
				widgetVar="malzemeTaleplerRevizyonGMDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="malzemeTalepRevizyonGMPanelGridId">
					<f:facet name="header">
						<h:outputText value="REVİZYONA GÖNDER"></h:outputText>
					</f:facet>

					<h:outputText value="* Revizyon Açıklaması"
						style="font-weight: bold"></h:outputText>
					<p:inputTextarea
						value="#{satinalmaMalzemeHizmetTalepFormuBean.satinalmaMalzemeHizmetTalepFormuEkran.revAciklama}" />

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="REVİZYONA GÖNDER"
						update="malzemeItemAddListDataTableId accordionPanelId growl itemTalepTableId"
						process="@this malzemeTaleplerRevizyonGMDialogId malzemeTalepRevizyonGMPanelGridId"
						actionListener="#{satinalmaMalzemeHizmetTalepFormuBean.gmIslemleri}"
						icon="ui-icon-circle-close"
						oncomplete="if (!args.validationFailed){malzemeTaleplerRevizyonGMDialogWidget.hide();}">
						<f:param id="revId" value="0"></f:param>
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>

	</ui:composition>
</h:body>
</html>