<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">

		<ui:define name="showPanel">
			<p:growl id="growl" />
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px; width:100%" id="accordionPanelId">
				<p:tab title="SATINALMA SİPARİŞ MEKTUBU SAYFASI">
					<p:dataTable var="dosyaOlmuslar"
						widgetVar="dosyaOlmuslarListDataTableWidget"
						id="dosyaOlmuslarListOnayDataTableId"
						value="#{satinalmaSatinalmaKarariBean.allSatinalmaSatinalmaKarariList}"
						paginator="true" rows="10"
						selection="#{satinalmaSiparisMektubuBean.satinalmaSatinalmaKarariForm}"
						rowKey="#{dosyaOlmuslar.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="growl siparisMektubuListDataTableId"
							process="@this dosyaOlmuslarListOnayDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaMalzemeHizmetTalepFormuBean.formListener}"
							process="listForm:dosyaOlmuslarListOnayDataTableId dosyaOlmuslarListOnayDataTableId"
							update="growl" />
						<p:ajax event="rowSelect"
							update="growl dosyaOlmuslarListOnayDataTableId siparisMektubuListDataTableId accordionPanelId dosyaOlmuslarPanelGridId itemTalepTableId dosyaIcerikTableId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="EMEK SATINALMA KARARLARI LİSTESİ" />
						</f:facet>

						<p:column>
							<f:facet name="header">
								<h:outputText value="DOSYA NUMARASI" />
							</f:facet>
							<h:outputText
								value="#{dosyaOlmuslar.satinalmaTakipDosyalar.dosyaTakipNo}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="AÇIKLAMA" />
							</f:facet>
							<h:outputText value="#{dosyaOlmuslar.aciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SONUÇ" />
							</f:facet>
							<h:outputText value="#{dosyaOlmuslar.sonucFirma}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="OLUŞTURMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{dosyaOlmuslar.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.DURUM}" />
							</f:facet>
							<h:outputText value=""></h:outputText>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="#{language.LISTEYIYENILE}"
								process="dosyaOlmuslarListOnayDataTableId"
								update="dosyaOlmuslarListOnayDataTableId"
								action="#{satinalmaSatinalmaKarariBean.fillTestList}">
							</p:commandButton>
							<p:commandButton value="İÇERİĞİNİ GÖR"
								disabled="#{!satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender}"
								update="growl accordionPanelId dosyaOlmuslarPanelGridId itemTalepTableId dosyaIcerikTableId showIcerikPanelId"
								process="@this dosyaOlmuslarDialogId" icon="ui-icon-circle-plus"
								onclick="showIcerikDialogWidget.show()"
								action="#{satinalmaSiparisMektubuBean.fillTestList}">
							</p:commandButton>
							<!-- 							<p:commandButton value="SİPARİŞ BİLDİRİMİ OLUŞTUR" -->
							<!-- 								disabled="#{!satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender}" -->
							<!-- 								update="growl accordionPanelId dosyaOlmuslarPanelGridId itemTalepTableId dosyaIcerikTableId" -->
							<!-- 								process="@this dosyaOlmuslarDialogId" icon="ui-icon-circle-plus" -->
							<!-- 								action="#{satinalmaSiparisMektubuBean.siparisBildirimiOlustur}"> -->
							<!-- 							</p:commandButton> -->
						</f:facet>
					</p:dataTable>

					<p:spacer width="15" height="50" />

					<p:dataTable var="siparisMektubu"
						widgetVar="siparisMektubuListDataTableWidget"
						id="siparisMektubuListDataTableId" editable="true"
						value="#{satinalmaSiparisMektubuBean.allSatinalmaSiparisMektubuListByKararId}"
						paginator="true" rows="10"
						selection="#{satinalmaSiparisMektubuBean.satinalmaSiparisMektubuForm}"
						rowKey="#{siparisMektubu.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="siparisMektubuDialogId teklifItemDialogId"
							process="@this siparisMektubuListDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaTeklifIstemeBean.formListener}"
							process="listForm:siparisMektubuListDataTableId siparisMektubuListDataTableId"
							update="siparisMektubuDialogId" />
						<p:ajax event="rowSelect"
							update="siparisMektubuListDataTableId accordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="EMEK SİPARİŞ MEKTUPLARI LİSTESİ" />
						</f:facet>

						<p:column
							sortBy="#{siparisMektubu.satinalmaMusteri.commercialName}"
							filterBy="#{siparisMektubu.satinalmaMusteri.commercialName}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="TEDARİKÇİ FİRMA" />
							</f:facet>
							<h:outputText
								value="#{siparisMektubu.satinalmaMusteri.commercialName}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="DOSYA NUMARASI" />
							</f:facet>
							<h:outputText
								value="#{siparisMektubu.satinalmaSatinalmaKarari.satinalmaTakipDosyalar.dosyaTakipNo}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="OLUŞTURMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{siparisMektubu.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="SİPARİŞ MEKTUPLARINI GETİR"
								process="siparisMektubuListDataTableId"
								update="siparisMektubuListDataTableId"
								action="#{satinalmaSiparisMektubuBean.fillTestList}"
								disabled="#{!satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender}">
							</p:commandButton>
							<p:commandButton value="SİPARİŞ MEKTUPLARINI DÜZENLE"
								disabled="#{!satinalmaTeklifIstemeBean.updateButtonRender}"
								update="siparisMektubuListDataTableId accordionPanelId siparisMektubuPanelGridId itemTalepTableId growl teklifItemAddDialogId"
								id="insertAmbarTaleplerButton"
								process="@this siparisMektubuDialogId"
								onclick="teklifItemDialogWidget.show()"
								icon="ui-icon-circle-plus"
								action="#{satinalmaTeklifIstemeIcerikBean.fillTestList(satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.id)}"
								actionListener="#{satinalmaSiparisMektubuBean.siparisMektuplariniDuzenle}">
							</p:commandButton>
							<p:commandButton value="SİL" icon="ui-icon-close"
								process="@this siparisMektubuDialogId"
								disabled="#{!satinalmaTeklifIstemeBean.updateButtonRender}"
								onclick="deleteTeklifDialogWidget.show()">
							</p:commandButton>
							<p:commandButton value="SİPARİŞ BİLDİRİMİ OLUŞTUR"
								update="siparisMektubuListDataTableId siparisMektubuPanelGridId growl"
								process="@this siparisMektubuDialogId"
								action="#{satinalmaSiparisMektubuBean.siparisBildirimiOlustur}"
								icon="ui-icon-circle-plus"
								disabled="#{!satinalmaTeklifIstemeBean.updateButtonRender}">
							</p:commandButton>
						</f:facet>
					</p:dataTable>

				</p:tab>
			</p:accordionPanel>

			<p:dialog id="showIcerikDialog" resizable="false"
				widgetVar="showIcerikDialogWidget" closable="true"
				maximizable="true" dynamic="true" draggable="true"
				header="TAKİP DOSYASI İÇERİĞİ">
				<p:panel toggleable="true" toggleOrientation="horizontal"
					id="showIcerikPanelId" style="text-align: center">
					<p:dataTable var="dosyaIcerikler" id="dosyaIcerikTableId"
						value="#{satinalmaSiparisMektubuBean.dosyaIcerikList}"
						paginator="true" rows="10" rowKey="#{dosyaIcerikler.id}"
						style="width:100%" rowIndexVar="index"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.formListener}"
							process="listForm:dosyaIcerikTableId dosyaIcerikTableId"
							update="growl dosyaIcerikTableId accordionPanelId malzemeTaleplerPanelGridId itemTalepTableId" />

						<f:facet name="header">
							<h:outputText value="SEÇİLEN MALZEME/HİZMET TALEP FORM İÇERİĞİ" />
						</f:facet>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SIRA NO" />
							</f:facet>
							<h:outputText value="#{index+1}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="MALZEME BİLGİLERİ" />
							</f:facet>
							<h:outputText
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunAdi}"></h:outputText>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="MALZEME BİLGİLERİ AÇIKLAMASI" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText -->
						<!-- 								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.disAlimAciklama}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column>
							<f:facet name="header">
								<h:outputText value="MİKTAR" />
							</f:facet>
							<h:outputText
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="BİRİM" />
							</f:facet>
							<h:outputText
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.stokTanimlarBirim.birim}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="KULLANIM YERİ" />
							</f:facet>
							<h:outputText
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.satinalmaMalzemeHizmetTalepFormu.projeAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="GÖREVLENDİRİLEN PERSONEL" />
							</f:facet>
							<h:outputText
								value="#{dosyaIcerikler.gorevliPersonel.firstname} #{dosyaIcerikler.gorevliPersonel.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="İHTİYAÇ TARİHİ">
							<h:outputText
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.ihtiyacSuresi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
					</p:dataTable>
				</p:panel>
			</p:dialog>

			<p:dialog id="deleteTeklifDialog" resizable="false"
				widgetVar="deleteTeklifDialogWidget" closable="true"
				maximizable="true" dynamic="true" draggable="true"
				header="#{language.Delete}">
				<p:panel style="min-width:600px" id="deleteTeklifPanelId">
					<h:panelGrid border="0" columns="2" style="width:100%">
						<h:outputText
							value="#{language.DeleteConfirmation} Teklif içerikleri de silinecektir."></h:outputText>
					</h:panelGrid>

					<h:panelGrid border="0" columns="3">
						<p:commandLink title="#{language.ok}"
							update="accordionPanelId deleteTeklifPanelId growl"
							process="@this deleteTeklifDialog"
							oncomplete="deleteTeklifDialogWidget.hide()"
							actionListener="#{satinalmaTeklifIstemeBean.deleteForm}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink title="#{language.Cancel}" immediate="true"
							process="@this" onclick="deleteTeklifDialogWidget.hide()">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>

				</p:panel>
			</p:dialog>

			<!-- Seçili Teklif Isteme Formu -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" id="teklifItemDialogId"
				widgetVar="teklifItemDialogWidget">

				<p:panel toggleable="true" toggleOrientation="horizontal"
					header="SİPARİŞ MEKTUBU" id="teklifItemPanelGridId"
					style="text-align: center">
					<h:form>
						<p:dataTable var="FIRST" value="">
							<p:column headerText="#{language.SaticiFirma}: "
								style="text-align: left">
								<h:outputText
									value="#{satinalmaSiparisMektubuBean.satinalmaSiparisMektubuForm.satinalmaMusteri.commercialName}" />
								<br></br>
								<h:outputLabel value="İLGİLİ KİŞİ: " style="font-weight: bold;">
								</h:outputLabel>
								<h:outputText
									value="#{satinalmaSiparisMektubuBean.satinalmaSiparisMektubuForm.satinalmaMusteri.ilgiliKisi}" />
								<br></br>
								<h:outputLabel value="E-POSTA ADRESİ: "
									style="font-weight: bold;">
								</h:outputLabel>
								<h:outputText
									value="#{satinalmaSiparisMektubuBean.satinalmaSiparisMektubuForm.satinalmaMusteri.mail}" />
								<br></br>
								<h:outputLabel value="TEL: " style="font-weight: bold;">
								</h:outputLabel>
								<h:outputText
									value="#{satinalmaSiparisMektubuBean.satinalmaSiparisMektubuForm.satinalmaMusteri.telefon}">
								</h:outputText>
								<h:outputLabel value="FAKS: " style="font-weight: bold;">
								</h:outputLabel>
								<h:outputText
									value="#{satinalmaSiparisMektubuBean.satinalmaSiparisMektubuForm.satinalmaMusteri.fax}">
								</h:outputText>
							</p:column>

							<p:column headerText="FATURA ADRESİ: " style="text-align: left">
								<h:outputText value="EMEK BORU A.Ş. ASO 1.ORGANİZE SAN.BÖLGESİ">
								</h:outputText>
								<br></br>
								<h:outputText value="TÜRKMENİSTAN CADDESİ NO:2 SİNCAN/ANKARA">
								</h:outputText>
								<br></br>
								<h:outputText value="VD: KIZILBEY VD. NO: 3330060121">
								</h:outputText>
								<br></br>
								<h:outputText value="SEVK ADRESİ: " style="font-weight: bold;">
								</h:outputText>
								<br></br>
								<h:outputText value="FATURA ADRESİDİR">
								</h:outputText>
							</p:column>
						</p:dataTable>

						<p:dataTable var="SECOND" value="">
							<p:column headerText=" " style="text-align: left">
								<!-- 								<h:outputText -->
								<!-- 									value="İŞBU SİPARİŞ MEKTUBU .......... TARİH VE ............ SAYILI TEKLİFİNİZE VE ............. TARİHLİ TELEFON GÖRÜŞMEMİZE İSTİNADEN DÜZENLENMİŞ OLUP," /> -->
								<!-- 								<br></br> -->
								<!-- 								<h:outputText -->
								<!-- 									value="............. TARİHİNE KADAR ONAYLANARAK 0312-267 1359 NO.LU FAKSIMIZA GÖNDERİLMESİNİ RİCA EDERİZ." /> -->
								<!-- 								<h:form> -->
								<h:outputText
									value="#{satinalmaSiparisMektubuBean.satinalmaSiparisMektubuForm.aciklama}" />
								<h:form>
									<p:dataTable value="">
										<p:column headerText="SATINALMA SORUMLUSU"
											style="text-align: center">
											<h:outputText
												value="#{satinalmaSiparisMektubuBean.satinalmaSiparisMektubuForm.satinalmaSatinalmaKarari.user.employee.firstname} #{satinalmaSiparisMektubuBean.satinalmaSiparisMektubuForm.satinalmaSatinalmaKarari.user.employee.lastname}" />
										</p:column>
										<p:column headerText="SATINALMA MÜDÜRÜ"
											style="text-align: center">
											<h:outputText value="Selim SAMUR" />
										</p:column>
									</p:dataTable>
								</h:form>
							</p:column>
						</p:dataTable>

						<p:dataTable var="THIRD" value="">
							<p:column headerText="SATINALMA YETKİLİSİ "
								style="text-align: center">
								<h:outputText value=" " />
							</p:column>
							<p:column headerText="NAKLİYE YÖNTEMİ "
								style="text-align: center">
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.nakliye}">
								</h:outputText>
							</p:column>
							<p:column headerText="NAKLİYE MASRAFLARI "
								style="text-align: center">
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.nakliyeMasraflari}₺" />
							</p:column>
							<p:column headerText="İSTENEN KALİTE / TEST BELGELERİ "
								style="text-align: center">
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.belgeler}">
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>
				</p:panel>

				<!-- Liste -->

				<p:dataTable var="itemTalepler" id="itemTalepTableId"
					value="#{satinalmaSiparisMektubuBean.allSatinalmaSiparisMektubuIcerikListByKararIdMusteriId}"
					paginator="true" rows="10" rowKey="#{itemTalepler.id}"
					dblClickSelect="false" style="width:100%" rowIndexVar="index"
					paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

					<p:ajax event="rowSelect"
						listener="#{satinalmaTeklifIstemeIcerikBean.formListener}"
						process="listForm:itemTalepTableId itemTalepTableId"
						update="buttonsPanelGridId teklifItemAddDialogId siparisMektubuDialogId" />

					<p:column>
						<f:facet name="header">
							<h:outputText value="SIRA NO" />
						</f:facet>
						<h:outputText value="#{index+1}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="MALZEME BİLGİLERİ" />
						</f:facet>
						<h:outputText
							value="#{itemTalepler.satinalmaSatinalmaKarariIcerik.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunKodu} - #{itemTalepler.satinalmaSatinalmaKarariIcerik.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunAdi}"></h:outputText>
					</p:column>

					<!-- 					<p:column> -->
					<!-- 						<f:facet name="header"> -->
					<!-- 							<h:outputText value="MALZEME TANIMI" /> -->
					<!-- 						</f:facet> -->
					<!-- 						<h:outputText -->
					<!-- 							value="#{itemTalepler.satinalmaSatinalmaKarariIcerik.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.disAlimAciklama}"></h:outputText> -->
					<!-- 					</p:column> -->

					<p:column headerText="TESLİM TARİHİ">
						<h:outputText
							value="#{itemTalepler.satinalmaSatinalmaKarariIcerik.satinalmaTeklifIstemeIcerik.teslimTarihi}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="MİKTAR" />
						</f:facet>
						<h:outputText
							value="#{itemTalepler.satinalmaSatinalmaKarariIcerik.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar} #{itemTalepler.satinalmaSatinalmaKarariIcerik.satinalmaTeklifIstemeIcerik.stokTanimlarBirim.birim}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="BİRİM FİYATI" />
						</f:facet>
						<h:outputText
							value="#{itemTalepler.satinalmaSatinalmaKarariIcerik.nihaiTeklifBirimFiyat}₺"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="KDV" />
						</f:facet>
						<h:outputText
							value="%#{itemTalepler.satinalmaSatinalmaKarariIcerik.satinalmaTeklifIstemeIcerik.kdv}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="TUTAR" />
						</f:facet>
						<h:outputText
							value="#{itemTalepler.satinalmaSatinalmaKarariIcerik.nihaiTeklifBirimFiyat * itemTalepler.satinalmaSatinalmaKarariIcerik.satinalmaTeklifIstemeIcerik.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}₺"></h:outputText>
					</p:column>

					<p:columnGroup type="footer">
						<p:row>
							<p:column colspan="6" footerText="TOPLAM"
								style="text-align:right" />
							<p:column
								footerText="#{satinalmaSiparisMektubuBean.satinalmaSiparisMektubuForm.toplam}₺"
								converter="salesNumberConverter" />
						</p:row>
						<p:row>
							<p:column colspan="6"
								footerText="KDV (%#{satinalmaSiparisMektubuBean.kdv})"
								style="text-align:right" />
							<p:column
								footerText="#{satinalmaSiparisMektubuBean.satinalmaSiparisMektubuForm.toplamKdv}₺"
								converter="salesNumberConverter" />
						</p:row>
						<p:row>
							<p:column colspan="6" footerText="TOPLAM TUTAR"
								style="text-align:right" />
							<p:column
								footerText="#{satinalmaSiparisMektubuBean.satinalmaSiparisMektubuForm.toplamTutar}₺"
								converter="salesNumberConverter" />
						</p:row>
					</p:columnGroup>
				</p:dataTable>
				<p:panel toggleable="true" toggleOrientation="horizontal">
					<h:form>
						<p:dataTable var="FORTH" value="">
							<p:column headerText="ÖZEL ŞARTLAR " style="text-align: left">
								<h:outputText value="ÖDEME: " style="font-weight: bold;">
								</h:outputText>
								<h:outputText
									value="#{satinalmaTeklifIstemeIcerikBean.satinalmaTeklifIsteme.odeme}₺">
								</h:outputText>
								<br></br>
								<h:outputText value="BANKA HESAP NO.: "
									style="font-weight: bold;">
								</h:outputText>
								<h:outputText
									value="#{satinalmaTeklifIstemeIcerikBean.satinalmaTeklifIsteme.hesapNo}">
								</h:outputText>
								<br></br>
								<h:outputText value="DAMGA VERGİSİ: " style="font-weight: bold;">
								</h:outputText>
								<h:outputText
									value="#{satinalmaTeklifIstemeIcerikBean.satinalmaTeklifIsteme.damgaVergisi}₺">
								</h:outputText>
								<br></br>
								<h:outputText value="KUR: " style="font-weight: bold;">
								</h:outputText>
								<h:outputText
									value="#{satinalmaTeklifIstemeIcerikBean.satinalmaTeklifIsteme.kur}₺">
								</h:outputText>
								<br></br>
								<h:outputText value="KESİN TEMİNAT: " style="font-weight: bold;">
								</h:outputText>
								<h:outputText
									value="#{satinalmaTeklifIstemeIcerikBean.satinalmaTeklifIsteme.kesinTeminat}">
								</h:outputText>
								<br></br>
								<h:outputText value="CEZAİ ŞARTLAR " style="font-weight: bold;">
								</h:outputText>
								<h:outputText
									value="#{satinalmaTeklifIstemeIcerikBean.satinalmaTeklifIsteme.cezaiSartlar}">
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>
					<h:form>
						<p:dataTable var="FIFTH" value="">
							<p:column headerText="SATICI FİRMA TEKLİF MEKTUBU ONAYI: "
								style="text-align: center">
								<h:outputText
									value=" İŞBU SİPARİŞ MEKTUBU FİRMAMIZCA .......... TARİHİNDE KABUL VE TEYİT EDİLMİŞTİR. "
									style="font-weight: bold;">
								</h:outputText>
								<br></br>
								<h:outputText value="">
								</h:outputText>
								<h:outputText value=" İMZA " style="font-weight: bold;">
								</h:outputText>
								<h:outputText value="">
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>
				</p:panel>

				<h:panelGrid border="0" columns="5" cellspacing="5"
					id="buttonsPanelGridId">
					<p:commandButton value="AÇIKLAMA DÜZENLE"
						update="teklifItemPanelGridId itemTalepTableId growl"
						id="updateAmbarTaleplerItemButton"
						process="@this siparisMektubuPanelGridId"
						onclick="teklifItemAddDialogWidget.show()"
						icon="ui-icon-circle-plus"
						actionListener="#{satinalmaSiparisMektubuBean.aciklamaOlustur}">
					</p:commandButton>
					<h:commandButton immediate="true"
						action="#{satinalmaReportBean.siparisMektubuFormuXlsx(satinalmaSiparisMektubuBean.satinalmaSatinalmaKarariForm.id)}"
						image="/large_icons/report.png"
						title="SİPARİŞ MEKTUBU ÇIKTISI OLUŞTUR">
					</h:commandButton>
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="teklifItemDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- Item Ekleme Formu -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="Sipariş Mektubu Düzenleme"
				id="teklifItemAddDialogId" widgetVar="teklifItemAddDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="teklifItemAddPanelGridId">
					<h:outputText value="Açıklama" style="font-weight: bold"></h:outputText>
					<p:inputTextarea
						value="#{satinalmaSiparisMektubuBean.satinalmaSiparisMektubuForm.aciklama}"
						rows="5" maxLength="150" style="width:106px" autoResize="false"
						cols="10" maxHeight="10">
					</p:inputTextarea>
				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="Açıklama #{language.Add}"
						update="teklifItemPanelGridId itemTalepTableId growl"
						process="@this teklifItemAddDialogId teklifItemAddPanelGridId"
						actionListener="#{satinalmaSiparisMektubuBean.addOrUpdateAciklama}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){teklifItemAddDialogWidget.hide();}">
						<f:param id="formId"
							value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.id}"></f:param>
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>

	</ui:composition>
</h:body>
</html>