<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Sipariş Bildirimi</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">

		<ui:define name="showPanel">
			<p:growl id="growl" />
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px; width:100%" id="accordionPanelId">
				<p:tab title="SİPARİŞ BİLDİRİMLERİ EKRANI">
					<p:dataTable var="siparisBildirimleri"
						widgetVar="siparisBildirimleriListDataTableWidget"
						id="siparisBildirimleriListOnayDataTableId"
						value="#{satinalmaSiparisBildirimiBean.allSatinalmaSiparisBildirimiList}"
						paginator="true" rows="10"
						selection="#{satinalmaSiparisBildirimiBean.satinalmaSiparisBildirimiForm}"
						rowKey="#{siparisBildirimleri.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="growl siparisBildirimleriListOnayDataTableId"
							process="@this siparisBildirimleriListOnayDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaSiparisBildirimiBean.formListener}"
							process="listForm:siparisBildirimleriListOnayDataTableId siparisBildirimleriListOnayDataTableId"
							update="growl " />
						<p:ajax event="rowSelect"
							update="growl siparisBildirimleriListOnayDataTableId accordionPanelId itemTalepTableId dosyaIcerikTableId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="SİPARİŞ BİLDİRİMLERİ" />
						</f:facet>

						<p:column
							sortBy="#{siparisBildirimleri.satinalmaSiparisMektubu.satinalmaSatinalmaKarari.satinalmaTakipDosyalar.dosyaTakipNo}"
							filterBy="#{siparisBildirimleri.satinalmaSiparisMektubu.satinalmaSatinalmaKarari.satinalmaTakipDosyalar.dosyaTakipNo}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="DOSYA NUMARASI" />
							</f:facet>
							<h:outputText
								value="#{siparisBildirimleri.satinalmaSiparisMektubu.satinalmaSatinalmaKarari.satinalmaTakipDosyalar.dosyaTakipNo}"></h:outputText>
						</p:column>

						<p:column
							sortBy="#{siparisBildirimleri.satinalmaSiparisMektubu.satinalmaMusteri.commercialName}"
							filterBy="#{siparisBildirimleri.satinalmaSiparisMektubu.satinalmaMusteri.commercialName}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="TEDARİKÇİ" />
							</f:facet>
							<h:outputText
								value="#{siparisBildirimleri.satinalmaSiparisMektubu.satinalmaMusteri.commercialName}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.ACIKLAMALAR}" />
							</f:facet>
							<h:outputText value="#{siparisBildirimleri.aciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="ÖDEME VADESİ" />
							</f:facet>
							<h:outputText value="#{siparisBildirimleri.odemeVadesi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="OLUŞTURMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{siparisBildirimleri.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.DURUM}" />
							</f:facet>
							<h:outputText value=""></h:outputText>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="#{language.LISTEYIYENILE}"
								process="siparisBildirimleriListOnayDataTableId"
								update="siparisBildirimleriListOnayDataTableId"
								action="#{satinalmaSiparisBildirimiBean.fillTestList}">
							</p:commandButton>
							<p:commandButton value="BİLDİRİM DÜZENLE"
								disabled="#{!satinalmaSiparisBildirimiBean.updateButtonRender}"
								update="growl accordionPanelId itemTalepTableId dosyaIcerikTableId showIcerikPanelId"
								process="@this siparisBildirimleriDialogId"
								icon="ui-icon-circle-plus"
								onclick="bildirimDuzenlemeDialogWidget.show()">
							</p:commandButton>
							<p:commandButton value="İÇERİĞİNİ GÖR"
								disabled="#{!satinalmaSiparisBildirimiBean.updateButtonRender}"
								update="growl accordionPanelId itemTalepTableId dosyaIcerikTableId showIcerikPanelId"
								process="@this siparisBildirimleriDialogId"
								icon="ui-icon-circle-plus"
								action="#{satinalmaSiparisBildirimiIcerikBean.fillTestList(satinalmaSiparisBildirimiBean.satinalmaSiparisBildirimiForm.id)}"
								onclick="showIcerikDialogWidget.show()">
							</p:commandButton>
							<p:commandButton value="ÖDEME BİLDİRİMİ OLUŞTUR"
								disabled="#{!satinalmaSiparisBildirimiBean.updateButtonRender}"
								update="growl accordionPanelId itemTalepTableId dosyaIcerikTableId"
								process="@this siparisBildirimleriDialogId"
								icon="ui-icon-circle-plus"
								action="#{satinalmaSiparisBildirimiBean.odemeBildirimiOlustur}">
							</p:commandButton>
						</f:facet>
					</p:dataTable>

				</p:tab>
			</p:accordionPanel>

			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="SİPARİŞ BİLDİRİMİ DÜZENLEME" id="bildirimDuzenlemeDialogId"
				widgetVar="bildirimDuzenlemeDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="bildirimDuzenlemePanelGridId">
					<f:facet name="header">
						<h:outputText value="Sipariş Bildirim Formu"></h:outputText>
					</f:facet>

					<!-- 					<h:outputLabel value="#{language.salesStatus}" -->
					<!-- 						style="font-weight: bold;" /> -->
					<!-- 					<p:selectOneMenu -->
					<!-- 						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.satinalmaDurum}" -->
					<!-- 						layout="lineDirection" style="width:141px;"> -->
					<!-- 						<f:converter converterId="satinalmaDurumConverter" /> -->
					<!-- 						<c:forEach items="#{satinalmaDurumBean.durumListSiparisBildirimi}" -->
					<!-- 							var="durumlar"> -->
					<!-- 							<f:selectItem itemValue="#{durumlar}" -->
					<!-- 								itemLabel="#{durumlar.title}"></f:selectItem> -->
					<!-- 						</c:forEach> -->
					<!-- 					</p:selectOneMenu> -->

					<h:outputText value="Açıklamalar" style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaSiparisBildirimiBean.satinalmaSiparisBildirimiForm.aciklama}">
					</p:inputText>

					<h:outputText value="Ödeme Vadesi" style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaSiparisBildirimiBean.satinalmaSiparisBildirimiForm.odemeVadesi}">
					</p:inputText>

					<h:outputText value="Hesap Bilgileri (iban)"
						style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaSiparisBildirimiBean.satinalmaSiparisBildirimiForm.iban}">
					</p:inputText>

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="KAYDET"
						update="dosyaIcerikTableId accordionPanelId growl"
						process="@this bildirimDuzenlemeDialogId bildirimDuzenlemePanelGridId"
						actionListener="#{satinalmaSiparisBildirimiBean.addOrUpdateForm}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){bildirimDuzenlemeDialogWidget.hide();}">
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>

			<p:dialog id="showIcerikDialog" resizable="false"
				widgetVar="showIcerikDialogWidget" closable="true"
				maximizable="true" dynamic="true" draggable="true"
				header="SİPARİŞ İÇERİĞİ">
				<p:panel toggleable="true" toggleOrientation="horizontal"
					id="showIcerikPanelId" style="text-align: center">

					<h:form>
						<p:dataTable var="FIRST" value="">
							<p:column style="text-align: right">
								<h:outputLabel value="TARİH: " style="font-weight: bold;" />
								<h:outputText
									value="#{satinalmaSiparisBildirimiBean.satinalmaSiparisBildirimiForm.eklemeZamani}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								<br></br>
								<h:outputLabel value="SAYI: " style="font-weight: bold;">
								</h:outputLabel>
								<h:outputText value="%deger%" />
							</p:column>
						</p:dataTable>
					</h:form>

					<h:form>
						<p:dataTable var="SECOND" value="">
							<p:column style="text-align: left">
								<h:outputLabel value="FİRMA ADI: " style="font-weight: bold;" />
								<h:outputText
									value="#{satinalmaSiparisBildirimiBean.satinalmaSiparisBildirimiForm.satinalmaSiparisMektubu.satinalmaMusteri.commercialName}">
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>

					<p:dataTable var="dosyaIcerikler" id="dosyaIcerikTableId"
						rowIndexVar="index"
						value="#{satinalmaSiparisBildirimiIcerikBean.allSatinalmaSiparisBildirimiIcerikList}"
						rows="10"
						selection="#{satinalmaSiparisBildirimiIcerikBean.satinalmaSiparisBildirimiIcerikForm}"
						rowKey="#{dosyaIcerikler.id}" selectionMode="single"
						style="width:100%">

						<p:ajax event="rowSelect"
							listener="#{satinalmaSiparisBildirimiIcerikBean.formListener}"
							process="listForm:dosyaIcerikTableId dosyaIcerikTableId"
							update="growl dosyaIcerikTableId accordionPanelId malzemeTaleplerPanelGridId itemTalepTableId siparisPanelId" />

						<p:column>
							<f:facet name="header">
								<h:outputText value="SIRA NO" />
							</f:facet>
							<h:outputText value="#{index+1}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SİPARİŞ NO" />
							</f:facet>
							<h:outputText value="#{dosyaIcerikler.siparisNo}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SİPARİŞ TUTARI (KDV DAHİL)" />
							</f:facet>
							<h:outputText value="#{dosyaIcerikler.siparisTutari}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="TAHMİNİ SEVK TARİHİ" />
							</f:facet>
							<h:outputText value="#{dosyaIcerikler.tahminiSevkTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="TAHMİNİ ÖDEME TARİHİ" />
							</f:facet>
							<h:outputText value="#{dosyaIcerikler.tahminiOdemeTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="AÇIKLAMA" />
							</f:facet>
							<h:outputText value="#{dosyaIcerikler.aciklama}">
							</h:outputText>
						</p:column>
					</p:dataTable>

					<h:form>
						<p:dataTable var="THIRD" value="">
							<p:column style="text-align: left">
								<h:outputLabel value="AÇIKLAMA: " style="font-weight: bold;" />
								<h:outputText
									value="#{satinalmaSiparisBildirimiBean.satinalmaSiparisBildirimiForm.aciklama}">
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>

					<h:form>
						<p:dataTable var="FORTH" value="">
							<p:column style="text-align: left">
								<h:outputLabel value="ÖDEME VADESİ: " style="font-weight: bold;" />
								<h:outputText
									value="#{satinalmaSiparisBildirimiBean.satinalmaSiparisBildirimiForm.odemeVadesi}">
								</h:outputText>
							</p:column>
							<p:column style="text-align: left">
								<h:outputLabel value="HESAP BİLGİLERİ (IBAN): "
									style="font-weight: bold;" />
								<h:outputText
									value="#{satinalmaSiparisBildirimiBean.satinalmaSiparisBildirimiForm.iban}">
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>
				</p:panel>

				<p:panel id="selectedProposalDocumentName"
					style="border:0px transparent">
					
					EKLİ BELGELER:
					
					<c:forEach var="i" begin="0"
						end="#{satinalmaSiparisBildirimiBean.satinalmaSiparisBildirimiForm.fileNumber}">
						<p:spacer width="100" height="10" />
						<h:commandLink
							value="#{satinalmaSiparisBildirimiBean.satinalmaSiparisBildirimiForm.fileNames[i]}">
							<f:setPropertyActionListener
								value="#{satinalmaSiparisBildirimiBean.satinalmaSiparisBildirimiForm.fileNames[i]}"
								target="#{satinalmaSiparisBildirimiBean.downloadedFileName}" />
							<p:fileDownload
								value="#{satinalmaSiparisBildirimiBean.downloadedFile}" />
						</h:commandLink>
						<br />
					</c:forEach>
				</p:panel>
				<p:fileUpload mode="advanced" multiple="false"
					label="#{language.salesAddDocument}" showButtons="false"
					auto="true" process="@all"
					update="proposalTable,selectedProposalDocumentName,deleteProposalDocumentDialogId"
					allowTypes="/(\.|\/)(gif|jpg|jpeg|gif|png|PNG|GIF|JPG|JPEG|doc|docx|pdf|txt|xls|xlsx|ppt|pps|pptx|ppsx|zip|rar|RAR|ZIP)$/"
					fileUploadListener="#{satinalmaSiparisBildirimiBean.addUploadedFile}"
					style="width:260px" />

				<p:spacer width="15" height="50" />

				<p:commandLink title="#{language.salesDeleteDocument}"
					onclick="deleteDocumentDialog.show();">
					<p:graphicImage value="/sales_icons/deleteDocument.png"
						width="36px" height="36px" style="border:0px"></p:graphicImage>
				</p:commandLink>

				<p:spacer width="150" height="50" />


				<h:panelGrid border="0" columns="5" cellspacing="5"
					id="siparisPanelId">
					<p:commandButton value="SİPARİŞ EKLE"
						update="siparisIcerikPanelGridId growl siparisIcerikAddPanelGridId dosyaIcerikTableId"
						process="@this" icon="ui-icon-circle-plus"
						actionListener="#{satinalmaSiparisBildirimiIcerikBean.addIcerik}"
						oncomplete="siparisIcerikAddDialogWidget.show()">
					</p:commandButton>
					<p:commandButton value="SİPARİŞ DÜZENLE"
						disabled="#{!satinalmaSiparisBildirimiIcerikBean.updateButtonRender}"
						update="siparisIcerikPanelGridId growl siparisIcerikAddPanelGridId dosyaIcerikTableId"
						process="@this bildirimDuzenlemePanelGridId"
						onclick="siparisIcerikAddDialogWidget.show()"
						actionListener="#{satinalmaTeklifIstemeIcerikBean.addIcerik}"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="SİPARİŞ SİL"
						disabled="#{!satinalmaSiparisBildirimiIcerikBean.updateButtonRender}"
						update="siparisIcerikPanelGridId growl"
						actionListener="#{satinalmaTeklifIstemeIcerikBean.addIcerik}"
						process="@this bildirimDuzenlemePanelGridId"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<h:commandButton immediate="true"
						action="#{satinalmaReportBean.siparisBildirimiFormuXlsx(satinalmaSiparisBildirimiBean.satinalmaSiparisBildirimiForm.id)}"
						image="/large_icons/report.png"
						title="SİPARİŞ BİLDİRİMİ ÇIKTISI OLUŞTUR">
					</h:commandButton>
					<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
						immediate="true" onclick="showIcerikDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<p:dialog id="deleteTeklifDialog" resizable="false"
				widgetVar="deleteTeklifDialogWidget" closable="true"
				maximizable="true" dynamic="true" draggable="true"
				header="#{language.Delete}">
				<p:panel style="min-width:600px" id="deleteTeklifPanelId">
					<h:panelGrid border="0" columns="2" style="width:100%">
						<h:outputText
							value="#{language.DeleteConfirmation} Teklif içerikleri de silinecektir."></h:outputText>
					</h:panelGrid>

					<h:panelGrid border="0" columns="3">
						<p:commandLink title="#{language.ok}"
							update="accordionPanelId deleteTeklifPanelId growl"
							process="@this deleteTeklifDialog"
							oncomplete="deleteTeklifDialogWidget.hide()"
							actionListener="#{satinalmaTeklifIstemeBean.deleteForm}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink title="#{language.Cancel}" immediate="true"
							process="@this" onclick="deleteTeklifDialogWidget.hide()">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>

				</p:panel>
			</p:dialog>

			<!-- SİPARİŞ İÇERİK EKLEME -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="SİPARİŞ EKLE"
				id="siparisIcerikAddDialogId"
				widgetVar="siparisIcerikAddDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="siparisIcerikAddPanelGridId">
					<f:facet name="header">
						<h:outputText value="SİPARİŞ İÇERİK EKLE/DÜZENLE"></h:outputText>
					</f:facet>

					<h:outputText value="SİPARİŞ NO:" style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaSiparisBildirimiIcerikBean.satinalmaSiparisBildirimiIcerikForm.siparisNo}">
					</p:inputText>

					<h:outputText value="SİPARİŞ TUTARI" style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{satinalmaSiparisBildirimiIcerikBean.satinalmaSiparisBildirimiIcerikForm.siparisTutari}">
					</p:inputText>

					<h:outputText value="TAHMİNİ SEVK TARİHİ"
						style="font-weight: bold;"></h:outputText>
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
						value="#{satinalmaSiparisBildirimiIcerikBean.satinalmaSiparisBildirimiIcerikForm.tahminiSevkTarihi}"></p:calendar>

					<h:outputText value="TAHMİNİ ÖDEME TARİHİ"
						style="font-weight: bold;"></h:outputText>
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
						value="#{satinalmaSiparisBildirimiIcerikBean.satinalmaSiparisBildirimiIcerikForm.tahminiOdemeTarihi}"></p:calendar>

					<h:outputText value="AÇIKLAMA" style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaSiparisBildirimiIcerikBean.satinalmaSiparisBildirimiIcerikForm.aciklama}">
					</p:inputText>

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="SİPARİŞ EKLE"
						update="siparisIcerikAddListDataTableId accordionPanelId growl siparisIcerikAddDialogId siparisIcerikAddPanelGridId dosyaIcerikTableId"
						process="@this siparisIcerikAddPanelGridId siparisIcerikAddDialogId"
						actionListener="#{satinalmaSiparisBildirimiIcerikBean.addOrUpdateIcerik}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){siparisIcerikAddDialogWidget.hide();}">
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>


			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>

	</ui:composition>
</h:body>
</html>