<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">

		<ui:define name="showPanel">
			<p:growl id="growl" />
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px; width:100%" id="accordionPanelId">
				<p:tab title="TAKİP DOSYALARI">
					<p:dataTable var="dosyaOlmuslar"
						widgetVar="dosyaOlmuslarListDataTableWidget"
						id="dosyaOlmuslarListOnayDataTableId"
						value="#{satinalmaTakipDosyalarBean.personalSatinalmaTakipDosyalarList}"
						paginator="true" rows="10"
						selection="#{satinalmaTeklifIstemeBean.satinalmaTakipDosyalarForm}"
						rowKey="#{dosyaOlmuslar.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="growl viewMalzemeTaleplerPanelId newMalzemeTaleplerPanelId malzemeItemDialogId teklifIstemeListDataTableId"
							process="@this dosyaOlmuslarListOnayDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaMalzemeHizmetTalepFormuBean.formListener}"
							process="listForm:dosyaOlmuslarListOnayDataTableId dosyaOlmuslarListOnayDataTableId"
							update="growl viewMalzemeTaleplerPanelId newMalzemeTaleplerPanelId" />
						<p:ajax event="rowSelect"
							update="growl dosyaOlmuslarListOnayDataTableId teklifIstemeListDataTableId accordionPanelId dosyaOlmuslarPanelGridId itemTalepTableId dosyaIcerikTableId">
						</p:ajax>
						<p:ajax event="rowSelect"
							process="listForm:dosyaOlmuslarListOnayDataTableId dosyaOlmuslarListOnayDataTableId"
							listener="#{satinalmaTakipDosyalarIcerikBean.onRowSelect}" />

						<f:facet name="header">
							<h:outputText value="#{language.DOSYALAR}" />
						</f:facet>

						<p:column sortBy="#{dosyaOlmuslar.dosyaTakipNo}"
							filterBy="#{dosyaOlmuslar.dosyaTakipNo}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="DOSYA NUMARASI" />
							</f:facet>
							<h:outputText value="#{dosyaOlmuslar.dosyaTakipNo}"></h:outputText>
						</p:column>

						<p:column
							sortBy="#{dosyaOlmuslar.satinalmaMalzemeHizmetTalepFormu.formSayisi}"
							filterBy="#{dosyaOlmuslar.satinalmaMalzemeHizmetTalepFormu.formSayisi}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MALZEME/HİZMET TALEP FORM NO" />
							</f:facet>
							<h:outputText
								value="#{dosyaOlmuslar.satinalmaMalzemeHizmetTalepFormu.formSayisi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="OLUŞTURMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{dosyaOlmuslar.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.DURUM}" />
							</f:facet>
							<h:outputText value=""></h:outputText>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="#{language.LISTEYIYENILE}"
								process="@this"
								update="growl accordionPanelId dosyaOlmuslarPanelGridId itemTalepTableId dosyaIcerikTableId showIcerikPanelId"
								action="#{satinalmaTakipDosyalarBean.fillTestList}">
							</p:commandButton>
							<p:commandButton value="İÇERİĞİNİ GÖR"
								disabled="#{!satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender}"
								update="growl accordionPanelId dosyaOlmuslarPanelGridId itemTalepTableId dosyaIcerikTableId showIcerikPanelId"
								process="@this dosyaOlmuslarDialogId" icon="ui-icon-circle-plus"
								onclick="showIcerikDialogWidget.show()"
								action="#{satinalmaTakipDosyalarIcerikBean.icerikListesiGetir(satinalmaTeklifIstemeBean.satinalmaTakipDosyalarForm.satinalmaMalzemeHizmetTalepFormu.id)}">
							</p:commandButton>
							<p:commandButton value="SATINALMA KARARI OLUŞTUR"
								disabled="#{!satinalmaMalzemeHizmetTalepFormuBean.updateButtonRender}"
								update="growl accordionPanelId dosyaOlmuslarPanelGridId itemTalepTableId dosyaIcerikTableId"
								process="@this dosyaOlmuslarDialogId" icon="ui-icon-circle-plus"
								action="#{satinalmaTeklifIstemeBean.kararOlustur}">
							</p:commandButton>
						</f:facet>
					</p:dataTable>

					<p:spacer width="15" height="50" />

					<!-- 				</p:tab> -->
					<!-- 				<p:tab title="TEKLİFLER KISMI"> -->
					<p:dataTable var="teklifIsteme"
						widgetVar="teklifIstemeListDataTableWidget"
						id="teklifIstemeListDataTableId" editable="true"
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeByTakipDosyaList}"
						paginator="true" rows="10"
						selection="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm}"
						rowKey="#{teklifIsteme.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="teklifIstemeDialogId teklifItemDialogId"
							process="@this teklifIstemeListDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{satinalmaTeklifIstemeBean.formListener}"
							process="listForm:teklifIstemeListDataTableId teklifIstemeListDataTableId"
							update="teklifIstemeDialogId" />
						<p:ajax event="rowSelect"
							update="teklifIstemeListDataTableId accordionPanelId">
						</p:ajax>
						<p:ajax event="rowEdit"
							listener="#{satinalmaTeklifIstemeBean.addOrUpdateForm}"
							update=":form:messages" />

						<f:facet name="header">
							<h:outputText value="TEKLİFLER" />
						</f:facet>

						<p:column sortBy="#{teklifIsteme.teklifSayi}"
							filterBy="#{teklifIsteme.teklifSayi}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="TEKLIF NUMARASI" />
							</f:facet>
							<h:outputText value="#{teklifIsteme.teklifSayi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="DOSYA NUMARASI" />
							</f:facet>
							<h:outputText
								value="#{teklifIsteme.satinalmaTakipDosyalar.dosyaTakipNo}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SATICI FIRMA" />
							</f:facet>
							<h:outputText
								value="#{teklifIsteme.satinalmaMusteri.commercialName}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="NAKLIYE MASRAFI" />
							</f:facet>
							<h:outputText value="#{teklifIsteme.nakliyeMasraflari}₺"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="BELGELER" />
							</f:facet>
							<h:outputText value="#{teklifIsteme.belgeler}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="KUR" />
							</f:facet>
							<h:outputText value="#{teklifIsteme.kur}₺"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="OLUŞTURMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{teklifIsteme.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="GÖNDERME TARİHİ" />
							</f:facet>
							<h:outputText value="#{teklifIsteme.gondermeTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="TEKLIF TARIHI" />
							</f:facet>
							<h:outputText value="#{teklifIsteme.teklifTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{teklifIsteme.satinalmaDurum}"
							filterBy="#{teklifIsteme.satinalmaDurum}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.DURUM}" />
							</f:facet>
							<h:outputText value="#{teklifIsteme.satinalmaDurum.title}"></h:outputText>
						</p:column>

						<!-- 						<p:column style="width:6%"> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="DÜZENLE" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<p:rowEditor /> -->
						<!-- 						</p:column> -->

						<f:facet name="footer">
							<p:commandButton value="#{language.LISTEYIYENILE}"
								process="teklifIstemeListDataTableId"
								update="teklifIstemeListDataTableId"
								action="#{satinalmaTeklifIstemeBean.fillTestList}">
							</p:commandButton>
							<p:commandButton value="TEKLİF OLUŞTUR"
								update="teklifIstemeListDataTableId teklifIstemePanelGridId"
								process="@this teklifIstemeDialogId"
								actionListener="#{satinalmaTeklifIstemeBean.addForm}"
								icon="ui-icon-circle-plus"
								onclick="teklifIstemeDialogWidget.show()"
								disabled="#{satinalmaTeklifIstemeBean.satinalmaTakipDosyalarForm.id==null}">
							</p:commandButton>
							<p:commandButton value="TEKLİF DÜZENLE"
								disabled="#{!satinalmaTeklifIstemeBean.updateButtonRender}"
								update="teklifIstemeListDataTableId accordionPanelId teklifIstemePanelGridId"
								id="updateAmbarTaleplerButton"
								process="@this teklifIstemeDialogId"
								onclick="teklifIstemeDialogWidget.show()"
								icon="ui-icon-circle-plus">
							</p:commandButton>
							<p:commandButton value="SİL" icon="ui-icon-close"
								process="@this teklifIstemeDialogId"
								disabled="#{!satinalmaTeklifIstemeBean.updateButtonRender}"
								onclick="deleteTeklifDialogWidget.show()">
							</p:commandButton>
							<p:commandButton value="TEKLİF İÇERİĞİ DÜZENLE"
								disabled="#{!satinalmaTeklifIstemeBean.updateButtonRender}"
								update="teklifIstemeListDataTableId accordionPanelId teklifIstemePanelGridId itemTalepTableId growl teklifItemAddDialogId"
								id="insertAmbarTaleplerButton"
								process="@this teklifIstemeDialogId"
								onclick="teklifItemDialogWidget.show()"
								icon="ui-icon-circle-plus"
								action="#{satinalmaTeklifIstemeIcerikBean.fillTestList(satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.id)}">
							</p:commandButton>
							<h:commandButton immediate="true"
								disabled="#{!satinalmaTeklifIstemeBean.updateButtonRender}"
								action="#{satinalmaReportBean.teklifFormuXlsx(satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.id)}"
								image="/large_icons/report.png" title="TEKLİF ÇIKTISI OLUŞTUR">
							</h:commandButton>
						</f:facet>
					</p:dataTable>

				</p:tab>
			</p:accordionPanel>

			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="#{language.TeklifIsteme} #{language.Add}"
				id="teklifIstemeDialogId" widgetVar="teklifIstemeDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="teklifIstemePanelGridId">
					<f:facet name="header">
						<h:outputText value="#{language.TeklifIstemeFormu}"></h:outputText>
					</f:facet>

					<h:outputText value="#{language.TeklifNo}"
						style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.teklifSayi}">
					</p:inputText>

					<h:outputLabel value="#{language.salesStatus}"
						style="font-weight: bold;" />
					<p:selectOneMenu
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.satinalmaDurum}"
						layout="lineDirection" style="width:141px;">
						<f:converter converterId="satinalmaDurumConverter" />
						<c:forEach items="#{satinalmaDurumBean.durumListTeklif}"
							var="durumlar">
							<f:selectItem itemValue="#{durumlar}"
								itemLabel="#{durumlar.title}"></f:selectItem>
						</c:forEach>
					</p:selectOneMenu>

					<!-- 					<h:outputText value="#{language.NakliyeYontemi}" -->
					<!-- 						style="font-weight: bold;"></h:outputText> -->
					<!-- 					<p:inputText -->
					<!-- 						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.nakliye}"> -->
					<!-- 					</p:inputText> -->

					<!-- 					<h:outputText value="#{language.NakliyeMasrafi}" -->
					<!-- 						style="font-weight: bold;"></h:outputText> -->
					<!-- 					<p:inputText -->
					<!-- 						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.nakliyeMasraflari}"> -->
					<!-- 					</p:inputText> -->

					<h:outputText value="#{language.Belgeler}"
						style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.belgeler}">
					</p:inputText>

					<h:outputText value="#{language.Odeme} (₺)"
						style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.odeme}">
					</p:inputText>

					<!-- 										<h:outputText value="#{language.HesapNo}" -->
					<!-- 											style="font-weight: bold;"></h:outputText> -->
					<!-- 										<p:inputText -->
					<!-- 											value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.hesapNo}"> -->
					<!-- 										</p:inputText> -->

					<!-- 										<h:outputText value="#{language.DamgaVergisi}" -->
					<!-- 											style="font-weight: bold;"></h:outputText> -->
					<!-- 										<p:inputText -->
					<!-- 											value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.damgaVergisi}"> -->
					<!-- 										</p:inputText> -->

					<h:outputText value="#{language.Kur}" style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.kur}">
					</p:inputText>

					<h:outputText value="#{language.KesinTeminat}"
						style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.kesinTeminat}">
					</p:inputText>

					<h:outputText value="#{language.CezaiSartlar}"
						style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.cezaiSartlar}">
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="TEKLİF FORMU EKLE/GÜNCELLE"
						update="teklifIstemeListDataTableId accordionPanelId growl"
						process="@this teklifIstemeDialogId teklifIstemePanelGridId"
						actionListener="#{satinalmaTeklifIstemeBean.addOrUpdateForm}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){teklifIstemeDialogWidget.hide();}">
						<f:param id="prmDosyaId"
							value="#{satinalmaTeklifIstemeBean.satinalmaTakipDosyalarForm.id}"></f:param>
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>

			<p:dialog id="showIcerikDialog" resizable="false"
				widgetVar="showIcerikDialogWidget" closable="true"
				maximizable="true" dynamic="true" draggable="true"
				header="TAKİP DOSYASI İÇERİĞİ">
				<p:panel toggleable="true" toggleOrientation="horizontal"
					id="showIcerikPanelId" style="text-align: center">
					<p:dataTable var="dosyaIcerikler" id="dosyaIcerikTableId"
						value="#{satinalmaTakipDosyalarIcerikBean.dosyaIcerikList}"
						paginator="true" rows="10"
						selection="#{satinalmaTakipDosyalarIcerikBean.selectedIcerik}"
						rowKey="#{dosyaIcerikler.id}" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}"
						rowIndexVar="index">

						<p:ajax event="rowSelect"
							listener="#{satinalmaMalzemeHizmetTalepFormuIcerikBean.formListener}"
							process="listForm:dosyaIcerikTableId dosyaIcerikTableId"
							update="growl dosyaIcerikTableId accordionPanelId malzemeTaleplerPanelGridId itemTalepTableId" />

						<f:facet name="header">
							<h:outputText value="SEÇİLEN MALZEME/HİZMET TALEP FORM İÇERİĞİ" />
						</f:facet>

						<p:column>
							<f:facet name="header">
								<h:outputText value="SIRA NO" />
							</f:facet>
							<h:outputText value="#{index+1}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="MALZEME BİLGİLERİ" />
							</f:facet>
							<h:outputText
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunAdi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="MALZEME BİLGİLERİ AÇIKLAMASI" />
							</f:facet>
							<h:outputText
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.disAlimAciklama}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="MİKTAR" />
							</f:facet>
							<h:outputText
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.miktar}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="BİRİM" />
							</f:facet>
							<h:outputText
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.stokTanimlarBirim.birim}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="KULLANIM YERİ" />
							</f:facet>
							<h:outputText
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.satinalmaMalzemeHizmetTalepFormu.projeAdi}"></h:outputText>
						</p:column>

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="SARF MLZ. " /> -->
						<!-- 							</f:facet> -->
						<!-- 							<p:selectBooleanCheckbox -->
						<!-- 								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.sarf}" -->
						<!-- 								disabled="true" /> -->
						<!-- 						</p:column> -->

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="ÜRETİM MLZ. " /> -->
						<!-- 							</f:facet> -->
						<!-- 							<p:selectBooleanCheckbox -->
						<!-- 								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.uretim}" -->
						<!-- 								disabled="true" /> -->
						<!-- 						</p:column> -->

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="BAKIM MLZ. " /> -->
						<!-- 							</f:facet> -->
						<!-- 							<p:selectBooleanCheckbox -->
						<!-- 								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.bakim}" -->
						<!-- 								disabled="true" /> -->
						<!-- 						</p:column> -->

						<!-- 						<p:column> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="DEMİRBAŞ " /> -->
						<!-- 							</f:facet> -->
						<!-- 							<p:selectBooleanCheckbox -->
						<!-- 								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.demirbas}" -->
						<!-- 								disabled="true" /> -->
						<!-- 						</p:column> -->

						<p:column>
							<f:facet name="header">
								<h:outputText value="GÖREVLENDİRİLEN PERSONEL" />
							</f:facet>
							<h:outputText
								value="#{dosyaIcerikler.gorevliPersonel.firstname} #{dosyaIcerikler.gorevliPersonel.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="İHTİYAÇ TARİHİ">
							<h:outputText
								value="#{dosyaIcerikler.satinalmaMalzemeHizmetTalepFormuIcerik.ihtiyacSuresi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
					</p:dataTable>
				</p:panel>
			</p:dialog>

			<p:dialog id="deleteTeklifDialog" resizable="false"
				widgetVar="deleteTeklifDialogWidget" closable="true"
				maximizable="true" dynamic="true" draggable="true"
				header="#{language.Delete}">
				<p:panel style="min-width:600px" id="deleteTeklifPanelId">
					<h:panelGrid border="0" columns="2" style="width:100%">
						<h:outputText
							value="#{language.DeleteConfirmation} Teklif içerikleri de silinecektir."></h:outputText>
					</h:panelGrid>

					<h:panelGrid border="0" columns="3">
						<p:commandLink title="#{language.ok}"
							update="accordionPanelId deleteTeklifPanelId growl"
							process="@this deleteTeklifDialog"
							oncomplete="deleteTeklifDialogWidget.hide()"
							actionListener="#{satinalmaTeklifIstemeBean.deleteForm}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink title="#{language.Cancel}" immediate="true"
							process="@this" onclick="deleteTeklifDialogWidget.hide()">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>

				</p:panel>
			</p:dialog>

			<!-- Seçili Teklif Isteme Formu -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" id="teklifItemDialogId"
				widgetVar="teklifItemDialogWidget">

				<p:panel toggleable="true" toggleOrientation="horizontal"
					header="#{language.TeklifIstemeFormuBaslik}"
					id="teklifItemPanelGridId" style="text-align: center">
					<h:form>
						<p:dataTable var="FIRST" value="" id="tedarikciId">
							<p:column headerText="#{language.SaticiFirma}: "
								style="text-align: left">
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.satinalmaMusteri.shortName}" />
								<br></br>
								<h:outputLabel value="İLGİLİ KİŞİ: " style="font-weight: bold;">
								</h:outputLabel>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.satinalmaMusteri.ilgiliKisi}" />
								<br></br>
								<h:outputLabel value="E-POSTA ADRESİ: "
									style="font-weight: bold;">
								</h:outputLabel>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.satinalmaMusteri.mail}" />
								<br></br>
								<h:outputLabel value="TEL: " style="font-weight: bold;">
								</h:outputLabel>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.satinalmaMusteri.telefon}">
								</h:outputText>
								<h:outputLabel value="FAKS: " style="font-weight: bold;">
								</h:outputLabel>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.satinalmaMusteri.fax}">
								</h:outputText>
							</p:column>

							<p:column headerText="FATURA ADRESİ: " style="text-align: left">
								<h:outputText value="EMEK BORU A.Ş. ASO 1.ORGANİZE SAN.BÖLGESİ">
								</h:outputText>
								<br></br>
								<h:outputText value="TÜRKMENİSTAN CADDESİ NO:2 SİNCAN/ANKARA">
								</h:outputText>
								<br></br>
								<h:outputText value="VD: KIZILBEY VD. NO: 3330060121">
								</h:outputText>
								<br></br>
								<h:outputText value="SEVK ADRESİ: " style="font-weight: bold;">
								</h:outputText>
								<br></br>
								<h:outputText value="FATURA ADRESİDİR">
								</h:outputText>
							</p:column>
						</p:dataTable>

						<p:dataTable var="SECOND" value="">
							<p:column headerText=" " style="text-align: left">
								<h:outputText
									value="İŞBU TEKLİF İSTEME FORMUNDA BELİRTİLEN MALZEMELER / HİZMETLER İÇİN FİYAT, ÖDEME KOŞULLARI, TESLİM ŞARTLARINI" />
								<br></br>
								<h:outputText
									value="İÇEREN TEKLİFİNİZİ İVEDİLİKLE 0312-267 0519 NO.LU FAKSIMIZA İLETMENİZİ RİCA EDERİZ." />
								<h:form>
									<p:dataTable value="">
										<p:column headerText="SATINALMA SORUMLUSU"
											style="text-align: center">
											<h:outputText value="" />
										</p:column>
										<p:column headerText="SATINALMA MÜDÜRÜ"
											style="text-align: center">
											<h:outputText value="" />
										</p:column>
									</p:dataTable>
								</h:form>
							</p:column>
						</p:dataTable>

						<p:dataTable var="THIRD" value="">
							<p:column headerText="SATINALMA YETKİLİSİ "
								style="text-align: center">
								<h:outputText value="" />
							</p:column>
							<p:column headerText="NAKLİYE YÖNTEMİ "
								style="text-align: center">
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.nakliye}">
								</h:outputText>
							</p:column>
							<p:column headerText="NAKLİYE MASRAFLARI "
								style="text-align: center">
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.nakliyeMasraflari}₺" />
							</p:column>
							<p:column headerText="İSTENEN KALİTE / TEST BELGELERİ "
								style="text-align: center">
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.belgeler}">
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>
				</p:panel>

				<!-- Liste -->

				<p:dataTable var="itemTalepler" id="itemTalepTableId"
					value="#{satinalmaTeklifIstemeIcerikBean.allSatinalmaTeklifIstemeIcerikList}"
					paginator="true" rows="10" rowIndexVar="index"
					selection="#{satinalmaTeklifIstemeIcerikBean.satinalmaTeklifIstemeIcerikForm}"
					rowKey="#{itemTalepler.id}" selectionMode="single"
					dblClickSelect="false" style="width:100%"
					paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

					<p:ajax event="rowSelect"
						listener="#{satinalmaTeklifIstemeIcerikBean.formListener}"
						process="listForm:itemTalepTableId itemTalepTableId"
						update="buttonsPanelGridId teklifItemAddDialogId teklifIstemeDialogId" />

					<p:column>
						<f:facet name="header">
							<h:outputText value="SIRA NO" />
						</f:facet>
						<h:outputText value="#{index+1}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="MALZEME BİLGİLERİ" />
						</f:facet>
						<h:outputText
							value="#{itemTalepler.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunKodu} - #{itemTalepler.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.stokUrunKartlari.urunAdi}"></h:outputText>
					</p:column>

					<!-- 					<p:column> -->
					<!-- 						<f:facet name="header"> -->
					<!-- 							<h:outputText value="MALZEME TANIMI" /> -->
					<!-- 						</f:facet> -->
					<!-- 						<h:outputText -->
					<!-- 							value="#{itemTalepler.satinalmaTakipDosyalarIcerik.satinalmaMalzemeHizmetTalepFormuIcerik.disAlimAciklama}"></h:outputText> -->
					<!-- 					</p:column> -->

					<p:column headerText="TESLİM TARİHİ">
						<h:outputText value="#{itemTalepler.teslimTarihi}">
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="MİKTAR" />
						</f:facet>
						<h:outputText
							value="#{itemTalepler.miktar} #{itemTalepler.stokTanimlarBirim.birim}"></h:outputText>
					</p:column>

					<!-- 					<p:column> -->
					<!-- 						<f:facet name="header"> -->
					<!-- 							<h:outputText value="BİRİM" /> -->
					<!-- 						</f:facet> -->
					<!-- 						<h:outputText value="#{itemTalepler.birim}"></h:outputText> -->
					<!-- 					</p:column> -->

					<!-- 					<p:column> -->
					<!-- 						<f:facet name="header"> -->
					<!-- 							<h:outputText value="BİRİM" /> -->
					<!-- 						</f:facet> -->
					<!-- 						<h:outputText value="#{itemTalepler.stokTanimlarBirim.birim}"></h:outputText> -->
					<!-- 					</p:column> -->

					<p:column>
						<f:facet name="header">
							<h:outputText value="BİRİM FİYATI" />
						</f:facet>
						<h:outputText value="#{itemTalepler.birimFiyat}₺"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="KDV" />
						</f:facet>
						<h:outputText value="%#{itemTalepler.kdv}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="TUTAR" />
						</f:facet>
						<h:outputText value="#{itemTalepler.tutar}₺"></h:outputText>
					</p:column>

					<p:columnGroup type="footer">
						<p:row>
							<p:column colspan="6" footerText="TOPLAM"
								style="text-align:right" />
							<p:column footerText="#{satinalmaTeklifIstemeIcerikBean.toplam}₺" />
						</p:row>
						<p:row>
							<p:column colspan="6"
								footerText="KDV (%#{satinalmaTeklifIstemeIcerikBean.kdv})"
								style="text-align:right" />
							<p:column
								footerText="#{satinalmaTeklifIstemeIcerikBean.toplamKdv}₺">
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="6" footerText="TOPLAM TUTAR"
								style="text-align:right" />
							<p:column
								footerText="#{satinalmaTeklifIstemeIcerikBean.toplamTutar}₺" />
						</p:row>
					</p:columnGroup>

				</p:dataTable>

				<p:panel toggleable="true" toggleOrientation="horizontal">
					<h:form>
						<p:dataTable var="FORTH" value="">
							<p:column headerText="ÖZEL ŞARTLAR " style="text-align: left">
								<h:outputText value="ÖDEME: " style="font-weight: bold;">
								</h:outputText>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.odeme}₺">
								</h:outputText>
								<br></br>
								<h:outputText value="BANKA HESAP NO.: "
									style="font-weight: bold;">
								</h:outputText>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.hesapNo}">
								</h:outputText>
								<br></br>
								<h:outputText value="DAMGA VERGİSİ: " style="font-weight: bold;">
								</h:outputText>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.damgaVergisi}₺">
								</h:outputText>
								<br></br>
								<h:outputText value="KUR: " style="font-weight: bold;">
								</h:outputText>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.kur}₺">
								</h:outputText>
								<br></br>
								<h:outputText value="KESİN TEMİNAT: " style="font-weight: bold;">
								</h:outputText>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.kesinTeminat}">
								</h:outputText>
								<br></br>
								<h:outputText value="CEZAİ ŞARTLAR " style="font-weight: bold;">
								</h:outputText>
								<h:outputText
									value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.cezaiSartlar}">
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>
					<h:form>
						<p:dataTable var="FIFTH" value="">
							<p:column headerText="SATICI FİRMA TEKLİF MEKTUBU ONAYI: "
								style="text-align: center">
								<h:outputText value="FİRMA YETKİLİSİ AD SOYAD: "
									style="font-weight: bold;">
								</h:outputText>
								<h:outputText value="">
								</h:outputText>
								<h:outputText value=" İMZA " style="font-weight: bold;">
								</h:outputText>
								<h:outputText value="">
								</h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>

				</p:panel>

				<h:panelGrid border="0" columns="5" cellspacing="5"
					id="buttonsPanelGridId">
					<!-- 					<p:commandButton value="#{language.MALZEMEEKLE}" -->
					<!-- 						update="teklifIstemePanelGridId itemTalepTableId growl teklifItemAddDialogId" -->
					<!-- 						process="@this teklifIstemePanelGridId" icon="ui-icon-circle-plus" -->
					<!-- 						actionListener="#{satinalmaTeklifIstemeIcerikBean.addIcerik}" -->
					<!-- 						oncomplete="teklifItemAddDialogWidget.show()"> -->
					<!-- 					</p:commandButton> -->
					<p:commandButton value="#{language.MALZEMEDUZENLE}"
						disabled="#{!satinalmaTeklifIstemeIcerikBean.updateButtonRender}"
						update="teklifItemPanelGridId itemTalepTableId growl"
						id="updateAmbarTaleplerItemButton"
						process="@this teklifIstemePanelGridId"
						onclick="teklifItemAddDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="#{language.TEDARIKCIEKLEGUNCELLE}"
						update="teklifItemPanelGridId itemTalepTableId growl firmaAddPanelGridId"
						process="@this teklifIstemePanelGridId"
						onclick="firmaAddDialogWidget.show()" icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="teklifItemDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- Item Ekleme Formu -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="Talep #{language.Add}"
				id="teklifItemAddDialogId" widgetVar="teklifItemAddDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="teklifItemAddPanelGridId">
					<f:facet name="header">
						<h:outputText value="Talep #{language.Add}"></h:outputText>
					</f:facet>

					<!-- 					<h:outputText value="#{language.MalzemeBilgileri}" -->
					<!-- 						style="font-weight: bold;"></h:outputText> -->
					<!-- 					<p:inputText -->
					<!-- 						value="#{satinalmaTeklifIstemeIcerikBean.satinalmaTeklifIstemeIcerikForm.malzemeTanim}"> -->
					<!-- 					</p:inputText> -->

					<h:outputText value="#{language.Miktar}" style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeIcerikBean.satinalmaTeklifIstemeIcerikForm.miktar}">
					</p:inputText>

					<!-- 					<h:outputText value="#{language.Birim}" style="font-weight: bold;"></h:outputText> -->
					<!-- 					<p:inputText -->
					<!-- 						value="#{satinalmaTeklifIstemeIcerikBean.satinalmaTeklifIstemeIcerikForm.birim}"> -->
					<!-- 					</p:inputText> -->

					<!-- 					<h:outputText value="#{language.Birim}" style="font-weight: bold;"></h:outputText> -->
					<!-- 					<p:selectOneMenu -->
					<!-- 						value="#{satinalmaTeklifIstemeIcerikBean.satinalmaTeklifIstemeIcerikForm.stokTanimlarBirim.id}" -->
					<!-- 						style="width: 110px"> -->
					<!-- 						<f:selectItems var="birimType" itemValue="#{birimType.id}" -->
					<!-- 							itemLabel="#{birimType.birim}" -->
					<!-- 							value="#{stokTanimlarBirimBean.allStokTanimlarBirimList}" /> -->
					<!-- 					</p:selectOneMenu> -->

					<h:outputText value="#{language.BirimFiyat}"
						style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeIcerikBean.satinalmaTeklifIstemeIcerikForm.birimFiyat}"
						converter="salesNumberConverter">
					</p:inputText>

					<h:outputText value="#{language.KDV}" style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeIcerikBean.satinalmaTeklifIstemeIcerikForm.kdv}">
					</p:inputText>

					<h:outputText value="Teslim Tarihi" style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{satinalmaTeklifIstemeIcerikBean.satinalmaTeklifIstemeIcerikForm.teslimTarihi}">
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="Form #{language.Add}"
						update="teklifItemAddListDataTableId accordionPanelId growl itemTalepTableId teklifItemAddDialogId"
						process="@this teklifItemAddDialogId teklifItemAddPanelGridId"
						actionListener="#{satinalmaTeklifIstemeIcerikBean.addOrUpdateIcerik}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){teklifItemAddDialogWidget.hide();}">
						<f:param id="formId"
							value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.id}"></f:param>
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>

			<!-- Firma Ekleme Formu -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="#{language.TEDARIKCIEKLEGUNCELLE}" id="firmaAddDialogId"
				widgetVar="firmaAddDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="firmaAddPanelGridId">
					<f:facet name="header">
						<h:outputText value="#{language.TEDARIKCIEKLEGUNCELLE}"></h:outputText>
					</f:facet>

					<h:outputLabel value="Tedarikçi Firma Adı" for="basicPojoFirmalar"
						style="font-weight: bold;" />
					<p:autoComplete
						value="#{satinalmaTeklifIstemeBean.satinalmaTeklifIstemeForm.satinalmaMusteri}"
						id="basicPojoFirmalar"
						completeMethod="#{satinalmaTeklifIstemeBean.completeSatinalmaMusteri}"
						var="e" itemLabel="#{e.shortName} / #{e.ilgiliKisi}"
						itemValue="#{e}" converter="satinalmaMusteriConverter"
						forceSelection="true" minQueryLength="1" size="20" />

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="#{language.TEDARIKCIEKLEGUNCELLE}"
						update="teklifIstemeListDataTableId accordionPanelId teklifIstemePanelGridId itemTalepTableId growl teklifItemAddDialogId teklifItemDialogId"
						process="@this firmaAddDialogId firmaAddPanelGridId"
						action="#{satinalmaTeklifIstemeBean.addOrUpdateFirma}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){firmaAddDialogWidget.hide();}">
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>

	</ui:composition>
</h:body>
</html>