<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">

				<p:tab id="companyTabId" title="#{language.Customer}">

					<p:dataTable var="company" id="companyListDataTableId"
						widgetVar="companyListDataTableWidget"
						rowKey="#{company.salesCustomerId}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{customerListBean.salesCustomers}" paginator="true"
						rows="20" selection="#{qualitySpecBean.selectedSalesCustomer}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect"
							listener="#{qualitySpecBean.loadActiveOrders}"
							process="orderAccordionPanelId">
						</p:ajax>
						<p:ajax event="rowSelect" update="orderAccordionPanelId">
						</p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Customer} #{language.Id}"></h:outputText>
							</f:facet>
							<h:outputText value="#{company.salesCustomerId}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{company.shortName}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.BusinessId}"></h:outputText>
							</f:facet>
							<h:outputText value="#{company.code}"></h:outputText>
						</p:column>

					</p:dataTable>
				</p:tab>

				<p:tab id="orderTabId" title="#{language.Order}">

					<p:dataTable var="order" id="orderListDataTableId"
						widgetVar="orderListDataTableWidget" dblClickSelect="false"
						emptyMessage="#{language.EmptyMessage}"
						rowKey="#{order.proposal.salesOrder.orderNo}/ #{order.itemId}"
						value="#{qualitySpecBean.items}" paginator="true" rows="20"
						selection="#{qualitySpecBean.selectedSalesItem}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect" process="orderListDataTableId"
							update="orderPanelId dialogsPanelGridId toolbarPanelId"
							listener="#{qualitySpecBean.loadOrderDetails}"></p:ajax>
						<p:ajax event="rowSelect" process="orderListDataTableId"
							update="orderPanelId dialogsPanelGridId toolbarPanelId"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Id}"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{order.proposal.salesOrder.orderNo}/ #{order.itemId}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Date}"></h:outputText>
							</f:facet>
							<p:calendar disabled="true" value="#{order.proposal.requestDate}"
								pattern="#{userCredentialsBean.dateFormat}"></p:calendar>
						</p:column>
					</p:dataTable>

				</p:tab>

			</p:accordionPanel>
		</ui:define>

		<!-- View order section  -->
		<ui:define name="showPanel">

			<!-- TOOLBAR SECTION -->
			<p:panel id="toolbarPanelId">
				<p:toolbar id="toolbarId"
					rendered="#{qualitySpecBean.selectedSalesItem.itemId != null}">
					<p:toolbarGroup align="left">
						<p:commandButton value="#{language.EntranceTest}"
							update="qualitySpecPanelId "
							process="@this qualitySpecPanelId orderAccordionPanelId"
							oncomplete="qualitySpecDialogWidget.show()" />
						<p:commandButton value="#{language.InternalCoating}"
							update="destructivePanelId"
							process="@this orderAccordionPanelId destructivePanelId"
							actionListener="#{qualitySpecBean.loadRequiredTests}"
							oncomplete="destructiveDialogWidget.show()" />
						<p:commandButton value="#{language.ExternalCoating}"
							update="nondestructivePanelId"
							process="@this orderAccordionPanelId"
							actionListener="#{qualitySpecBean.loadRequiredTests}"
							oncomplete="nondestructiveDialogWidget.show()" />
					</p:toolbarGroup>

					<p:toolbarGroup align="right">
						<p:menuButton value="#{language.Other}">
							<p:menuitem value="#{language.ChemicalAnalisys}"
								process="@this orderAccordionPanelId"
								actionListener="#{qualitySpecBean.prepareChemReq}"
								onclick="chemicalRequirementsDialogWidget.show()"
								update="chemicalRequirementsPanelId" />

							<p:menuitem value="#{language.WeldingTest}" process="@this"
								update="cekmeTestPanelId"
								action="#{qualitySpecBean.prepareTensileTest(1013)}"
								oncomplete="cekmeTestDialogWidget.show()" />
							<p:menuitem value="#{language.MEnineCekmeTest}" process="@this"
								update="cekmeTestPanelId"
								action="#{qualitySpecBean.prepareTensileTest(1014)}"
								oncomplete="cekmeTestDialogWidget.show()" />
							<p:menuitem value="#{language.MBoyunaCekmeTest}" process="@this"
								update="cekmeTestPanelId"
								action="#{qualitySpecBean.prepareTensileTest(1015)}"
								oncomplete="cekmeTestDialogWidget.show()" />
							<p:menuitem value="#{language.BoruBantCekmeTest}" process="@this"
								update="cekmeTestPanelId"
								action="#{qualitySpecBean.prepareTensileTest(1016)}"
								oncomplete="cekmeTestDialogWidget.show()" />
							<p:menuitem value="#{language.TamKaynakCekmeTest}"
								process="@this"
								action="#{qualitySpecBean.prepareTensileTest(1017)}"
								update="cekmeTestPanelId"
								oncomplete="cekmeTestDialogWidget.show()" />

							<p:menuitem value="#{language.BukmeTests}" process="@this"
								update="bukmeTestPanelId"
								actionListener="#{qualitySpecBean.prepareBukmeTests}"
								oncomplete="bukmeTestDialogWidget.show()" />

							<p:menuitem value="#{language.CentikDarbe}" process="@this"
								update="centikTestPanelId"
								actionListener="#{qualitySpecBean.prepareCentikTests}"
								oncomplete="centikTestDialogWidget.show()" />

							<p:menuitem value="#{language.AgirlikDusurme}" process="@this"
								update="agirlikTestPanelId"
								action="#{qualitySpecBean.prepareAgirlikTests(1029)}"
								oncomplete="agirlikTestDialogWidget.show()" />
							<p:menuitem value="#{language.AgirlikDusurmeTest}"
								process="@this"
								action="#{qualitySpecBean.prepareAgirlikTests(1030)}"
								update="agirlikTestPanelId"
								oncomplete="agirlikTestDialogWidget.show()" />

							<p:menuitem value="#{language.KaynakMacrographicTest}"
								process="@this" update="kaynakTestPanelId"
								actionListener="#{qualitySpecBean.prepareKaynakMacro}"
								oncomplete="kaynakTestDialogWidget.show()" />
							<p:menuitem value="#{language.KaynakSertlikTest}" process="@this"
								update="kaynakSertlikTestPanelId"
								actionListener="#{qualitySpecBean.prepareKaynakSertlik}"
								oncomplete="kaynakTestDialogWidget.show()" />
						</p:menuButton>
					</p:toolbarGroup>

				</p:toolbar>
			</p:panel>

			<p:panel header="#{language.Order}" id="orderPanelId">

				<h:panelGrid border="0" columns="2" style="width:100%">

					<h:outputText value="#{language.OrderNumber}: "></h:outputText>
					<p:inputText readonly="true"
						value="#{qualitySpecBean.selectedSalesItem.proposal.salesOrder.orderNo} / #{qualitySpecBean.selectedSalesItem.itemId}">
					</p:inputText>

					<!-- 					<h:outputText value="#{language.Status} : "></h:outputText> -->
					<!-- 					<p:selectOneMenu disabled="true" -->
					<!-- 						value="#{qualitySpecBean.selectedSalesItem.proposal.status}" -->
					<!-- 						required="true" requiredMessage="#{language.RequiredMessage}" -->
					<!-- 						style="width: 140px"> -->
					<!-- 						<c:forEach items="#{qualitySpecBean.config.config.order.status}" -->
					<!-- 							var="st"> -->
					<!-- 							<f:selectItem itemValue="#{st.id}" itemLabel="#{st.name}"></f:selectItem> -->
					<!-- 						</c:forEach> -->
					<!-- 					</p:selectOneMenu> -->

					<h:outputLabel value="#{language.Date} (mm/dd/yyyy): "></h:outputLabel>
					<p:calendar mode="popup" showOn="button" autocomplete="false"
						pattern="#{userCredentialsBean.dateFormat}" disabled="true"
						value="#{qualitySpecBean.selectedSalesItem.proposal.requestDate}"></p:calendar>

					<!-- 					<h:outputText value="#{language.Responsible} : "></h:outputText> -->
					<!-- 					<p:selectOneMenu disabled="true" -->
					<!-- 						value="#{qualitySpecBean.selectedSalesItem.responsibleEmployee}" -->
					<!-- 						required="true" requiredMessage="#{language.RequiredMessage}" -->
					<!-- 						style="width: 140px"> -->
					<!-- 						<c:forEach items="#{employeeListBean.employeeList}" var="emp"> -->
					<!-- 							<f:selectItem itemValue="#{emp.employeeId}" -->
					<!-- 								itemLabel="#{emp.firstname} #{emp.lastname}"></f:selectItem> -->
					<!-- 						</c:forEach> -->
					<!-- 					</p:selectOneMenu> -->

					<h:outputText value="#{language.Type} : "></h:outputText>
					<p:selectOneMenu
						value="#{qualitySpecBean.selectedSalesItem.pipeType}"
						required="true" requiredMessage="#{language.RequiredMessage}"
						style="width: 140px" disabled="true">
						<c:forEach items="#{qualitySpecBean.config.config.pipe.types}"
							var="pipeType">
							<f:selectItem itemValue="#{pipeType.name}"
								itemLabel="#{pipeType.description}"></f:selectItem>
						</c:forEach>
					</p:selectOneMenu>

					<!-- 					<h:outputText value="#{language.ExternalDiameter} (mm): "></h:outputText> -->
					<!-- 					<p:inputText readonly="true" -->
					<!-- 						value="#{qualitySpecBean.selectedSalesItem.disCap}" -->
					<!-- 						required="true"> -->
					<!-- 					</p:inputText> -->

					<!-- 					<h:outputText value="#{language.WallThickness} (mm): "></h:outputText> -->
					<!-- 					<p:inputText readonly="true" -->
					<!-- 						value="#{qualitySpecBean.selectedSalesItem.etKalinligi}"> -->
					<!-- 					</p:inputText> -->

					<!-- 					<h:outputText value="#{language.Amount} : "></h:outputText> -->
					<!-- 					<p:inputText readonly="true" -->
					<!-- 						value="#{qualitySpecBean.selectedSalesItem.miktar}"> -->
					<!-- 					</p:inputText> -->

					<!-- 					<h:outputText value="#{language.Quality} : "></h:outputText> -->
					<!-- 					<p:inputText readonly="true" -->
					<!-- 						value="#{qualitySpecBean.selectedSalesItem.kalite}"> -->
					<!-- 					</p:inputText> -->

					<!-- 					<h:outputText value="#{language.Length} : "></h:outputText> -->
					<!-- 					<p:inputText readonly="true" -->
					<!-- 						value="#{qualitySpecBean.selectedSalesItem.boy}" -->
					<!-- 						converterMessage="#{language.lengthConverteError}"> -->
					<!-- 					</p:inputText> -->

					<!-- 					<h:outputText -->
					<!-- 						value="#{language.EstimatedDuration} #{language.days}"></h:outputText> -->
					<!-- 					<p:inputText readonly="true" -->
					<!-- 						converterMessage="#{language.lengthConverteError}" -->
					<!-- 						value="#{qualitySpecBean.selectedSalesItem.estimatedDurationTime}"></p:inputText> -->

					<!-- 					<h:outputText value="#{language.Note}"></h:outputText> -->
					<!-- 					<p:inputTextarea id="noteTextInputId" autoResize="false" -->
					<!-- 						readonly="true" maxLength="150" maxHeight="5" rows="5" -->
					<!-- 						style="width:125px" -->
					<!-- 						value="#{qualitySpecBean.selectedSalesItem.note}"></p:inputTextarea> -->

				</h:panelGrid>

				<!-- Command link section -->
				<h:panelGrid border="0" columns="5" cellspacing="5"
					rendered="#{qualitySpecBean.selectedSalesItem.itemId != null}">
					<p:commandLink title="#{language.InternalIsolation}"
						rendered="#{qualitySpecBean.inIsolation.isolationId != null}"
						update="inCoatingPanelId" process="@this orderPanelId"
						oncomplete="inCoatingConfirmDialogWidget.show()">
						<p:graphicImage value="/large_icons/in_coat.png"
							style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:commandLink title="#{language.ExternalIsolation}"
						rendered="#{qualitySpecBean.outIsolation.isolationId != null}"
						update="outCoatingPanelId" process="@this orderPanelId"
						oncomplete="outCoatingConfirmDialogWidget.show()">
						<p:graphicImage value="/large_icons/out_coat.png"
							style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
			</p:panel>

			<h:panelGrid id="dialogsPanelGridId">

				<!-- Internal Coating Dialog -->
				<p:dialog draggable="true" closable="true" dynamic="false"
					maximizable="true" resizable="false"
					header="#{language.InternalCoating}: #{qualitySpecBean.selectedSalesItem.proposal.salesOrder.orderNo} / #{qualitySpecBean.selectedSalesItem.itemId}"
					id="inCoatingConfirmDialogId"
					widgetVar="inCoatingConfirmDialogWidget">
					<p:panel id="inCoatingPanelId" style="min-width: 600px">
						<h:panelGrid border="0" columns="4" style="width:100%">

							<h:outputText value="#{language.Standard} :"></h:outputText>
							<p:selectOneMenu value="#{qualitySpecBean.inIsolation.standard}"
								required="true" requiredMessage="#{language.RequiredMessage}"
								style="width: 140px">
								<c:forEach
									items="#{qualitySpecBean.config.config.pipe.coating.standards}"
									var="internalSt">
									<f:selectItem itemValue="#{internalSt.acronym}"
										itemLabel="#{internalSt.description}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputText value="#{language.IzolationType} *:"></h:outputText>
							<p:selectOneMenu
								value="#{qualitySpecBean.inIsolation.izolasyonSekli}"
								required="true" requiredMessage="#{language.RequiredMessage}"
								style="width: 140px">
								<c:forEach
									items="#{qualitySpecBean.config.config.pipe.coating.internal.types}"
									var="internalType">
									<f:selectItem itemValue="#{internalType.name}"
										itemLabel="#{internalType.description}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputText value="#{language.Quality}"></h:outputText>
							<p:inputText maxlength="32"
								value="#{qualitySpecBean.inIsolation.kalite}"></p:inputText>

							<h:outputText value="#{language.Color}"></h:outputText>
							<p:inputText maxlength="32"
								value="#{qualitySpecBean.inIsolation.renk}"></p:inputText>

							<h:outputText value="#{language.BlastingSpec}"></h:outputText>
							<p:inputText maxlength="64"
								value="#{qualitySpecBean.inIsolation.kumlamaSartlari}"></p:inputText>

							<h:outputText value="#{language.SurfaceProfile}"></h:outputText>
							<p:inputText maxlength="64"
								value="#{qualitySpecBean.inIsolation.yuzeyProfili}"></p:inputText>

							<h:outputText value="#{language.SurfaceClean}"></h:outputText>
							<p:inputText maxlength="64"
								value="#{qualitySpecBean.inIsolation.yuzeyTemizligi}"></p:inputText>

							<h:outputText value="#{language.AmbientConditions}"></h:outputText>
							<p:inputText maxlength="64"
								value="#{qualitySpecBean.inIsolation.ortamSartlari}"></p:inputText>

							<h:outputText value="#{language.Note}"></h:outputText>
							<p:inputTextarea value="#{qualitySpecBean.inIsolation.note}"
								rows="5" style="width:125px" maxLength="150" autoResize="false"
								maxHeight="5"></p:inputTextarea>
						</h:panelGrid>

						<!-- Command link section -->
						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandLink title="#{language.Update}"
								actionListener="#{qualitySpecBean.updateInIsolation}"
								update="inCoatingPanelId" process="@this inCoatingPanelId">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>

						<p:dataGrid id="inLayerGridId" var="inLayer"
							widgetVar="inLayerGridWidget"
							value="#{qualitySpecBean.inIsolation.layers}" columns="3"
							rows="2" paginator="true" effect="true"
							paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} ">
							<p:column>
								<p:panel header="#{language.HydrostaticTest}" toggleable="true"
									closable="false">
									<h:panelGrid border="0" columns="4" style="width:100%">
										<h:outputText value="#{language.Number}: "></h:outputText>
										<h:outputText value="#{inLayer.number}"></h:outputText>

										<h:outputText value="#{language.Type}: "></h:outputText>
										<p:selectOneMenu value="#{inLayer.type}" required="true"
											requiredMessage="#{language.RequiredMessage}"
											style="width: 140px">
											<c:forEach
												items="#{qualitySpecBean.config.config.pipe.coating.internal.types}"
												var="internalType">
												<f:selectItem itemValue="#{internalType.name}"
													itemLabel="#{internalType.description}"></f:selectItem>
											</c:forEach>
										</p:selectOneMenu>

										<h:outputText value="#{language.MinThickness}: "></h:outputText>
										<h:outputText value="#{inLayer.minKalinlik}"></h:outputText>

										<h:outputText value="#{language.NomThickness}: "></h:outputText>
										<h:outputText value="#{inLayer.nomKalinlik}"></h:outputText>

										<h:outputText value="#{language.MaxThickness}: "></h:outputText>
										<h:outputText value="#{inLayer.maxKalinlik}"></h:outputText>
									</h:panelGrid>

									<h:panelGrid border="0" columns="4" style="width:100%">
										<p:commandLink process="@this inLayerGridId"
											title="#{language.Delete}" update="inCoatingPanelId"
											action="#{qualitySpecBean.deleteLayer(inLayer)}">
											<p:graphicImage value="/large_icons/delete.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
									</h:panelGrid>
								</p:panel>
							</p:column>
						</p:dataGrid>

						<p:panel id="newInCoatPanelId" style="min-width: 600px">
							<h:panelGrid border="0" columns="4" style="width:100%">

								<h:outputText value="#{language.Standard} :"></h:outputText>
								<p:selectOneMenu value="#{qualitySpecBean.layer.type}"
									required="true" requiredMessage="#{language.RequiredMessage}"
									style="width: 140px">
									<c:forEach
										items="#{qualitySpecBean.config.config.pipe.coating.internal.types}"
										var="internalType">
										<f:selectItem itemValue="#{internalType.name}"
											itemLabel="#{internalType.description}"></f:selectItem>
									</c:forEach>
								</p:selectOneMenu>

								<h:outputText value="#{language.MinThickness}"></h:outputText>
								<p:inputText maxlength="64"
									value="#{qualitySpecBean.layer.minKalinlik}"></p:inputText>

								<h:outputText value="#{language.NomThickness}"></h:outputText>
								<p:inputText maxlength="64"
									value="#{qualitySpecBean.layer.nomKalinlik}"></p:inputText>

								<h:outputText value="#{language.MaxThickness}"></h:outputText>
								<p:inputText maxlength="64"
									value="#{qualitySpecBean.layer.maxKalinlik}"></p:inputText>
							</h:panelGrid>

							<h:panelGrid border="0" columns="4" style="width:100%">
								<p:commandLink process="@this newInCoatPanelId"
									title="#{language.Add}"
									update="newInCoatPanelId inLayerGridId inCoatingMessagesId"
									actionListener="#{qualitySpecBean.submitInLayer}">
									<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
								</p:commandLink>

								<p:commandLink process="@this" title="#{language.Cancel}"
									update="newInCoatPanelId inCoatingMessagesId" immediate="true">
									<p:graphicImage value="/large_icons/cancel.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</p:panel>
						<p:messages id="inCoatingMessagesId" showDetail="false"
							showSummary="false"></p:messages>
					</p:panel>
				</p:dialog>


				<!-- External Coating Dialog -->
				<p:dialog draggable="true" closable="true" dynamic="false"
					maximizable="true" resizable="false"
					header="#{language.ExternalCoating}: #{qualitySpecBean.selectedSalesItem.proposal.salesOrder.orderNo} / #{qualitySpecBean.selectedSalesItem.itemId}"
					id="outCoatingConfirmDialogId"
					widgetVar="outCoatingConfirmDialogWidget">
					<p:panel id="outCoatingPanelId" style="min-width: 600px">
						<h:panelGrid border="0" columns="4" style="width:100%">
							<h:outputText value="#{language.Standard} :"></h:outputText>
							<p:selectOneMenu value="#{qualitySpecBean.outIsolation.standard}"
								required="true" requiredMessage="#{language.RequiredMessage}"
								style="width: 140px">
								<c:forEach
									items="#{qualitySpecBean.config.config.pipe.coating.standards}"
									var="internalSt">
									<f:selectItem itemValue="#{internalSt.acronym}"
										itemLabel="#{internalSt.description}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputText value="#{language.IzolationType} *:"></h:outputText>
							<p:selectOneMenu
								value="#{qualitySpecBean.outIsolation.izolasyonSekli}"
								required="true" requiredMessage="#{language.RequiredMessage}"
								style="width: 140px">
								<c:forEach
									items="#{qualitySpecBean.config.config.pipe.coating.internal.types}"
									var="internalType">
									<f:selectItem itemValue="#{internalType.name}"
										itemLabel="#{internalType.description}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputText value="#{language.Quality}"></h:outputText>
							<p:inputText maxlength="32"
								value="#{qualitySpecBean.outIsolation.kalite}"></p:inputText>

							<h:outputText value="#{language.Color}"></h:outputText>
							<p:inputText maxlength="32"
								value="#{qualitySpecBean.outIsolation.renk}"></p:inputText>

							<h:outputText value="#{language.BlastingSpec}"></h:outputText>
							<p:inputText maxlength="64"
								value="#{qualitySpecBean.outIsolation.kumlamaSartlari}"></p:inputText>

							<h:outputText value="#{language.SurfaceProfile}"></h:outputText>
							<p:inputText maxlength="64"
								value="#{qualitySpecBean.outIsolation.yuzeyProfili}"></p:inputText>

							<h:outputText value="#{language.SurfaceClean}"></h:outputText>
							<p:inputText maxlength="64"
								value="#{qualitySpecBean.outIsolation.yuzeyTemizligi}"></p:inputText>

							<h:outputText value="#{language.AmbientConditions}"></h:outputText>
							<p:inputText maxlength="64"
								value="#{qualitySpecBean.outIsolation.ortamSartlari}"></p:inputText>

							<h:outputText value="#{language.Note}"></h:outputText>
							<p:inputTextarea value="#{qualitySpecBean.outIsolation.note}"
								rows="5" style="width:125px" maxLength="150" autoResize="false"
								maxHeight="5"></p:inputTextarea>
						</h:panelGrid>

						<!-- Command link section -->
						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandLink title="#{language.Update}"
								actionListener="#{qualitySpecBean.updateOutIsolation}"
								update="outCoatingPanelId" process="@this outCoatingPanelId">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>

						<p:dataGrid id="outLayerGridId" var="outLayer"
							widgetVar="outLayerGridWidget"
							value="#{qualitySpecBean.outIsolation.layers}" columns="3"
							rows="2" paginator="true" effect="true"
							paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} ">
							<p:column>
								<p:panel header="#{language.Layers}" toggleable="true"
									closable="false">
									<h:panelGrid border="0" columns="4" style="width:100%">
										<h:outputText value="#{language.Number}: "></h:outputText>
										<h:outputText value="#{outLayer.number}"></h:outputText>

										<h:outputText value="#{language.Type}: "></h:outputText>
										<p:selectOneMenu value="#{outLayer.type}" required="true"
											requiredMessage="#{language.RequiredMessage}"
											style="width: 140px">
											<c:forEach
												items="#{qualitySpecBean.config.config.pipe.coating.external.types}"
												var="externalType">
												<f:selectItem itemValue="#{externalType.name}"
													itemLabel="#{externalType.description}"></f:selectItem>
											</c:forEach>
										</p:selectOneMenu>

										<h:outputText value="#{language.MinThickness}: "></h:outputText>
										<h:outputText value="#{outLayer.minKalinlik}"></h:outputText>

										<h:outputText value="#{language.NomThickness}: "></h:outputText>
										<h:outputText value="#{outLayer.nomKalinlik}"></h:outputText>

										<h:outputText value="#{language.MaxThickness}: "></h:outputText>
										<h:outputText value="#{outLayer.maxKalinlik}"></h:outputText>
									</h:panelGrid>

									<h:panelGrid border="0" columns="4" style="width:100%">
										<p:commandLink process="@this outLayerGridId"
											title="#{language.Delete}"
											update="outLayerGridId outCoatingPanelId"
											action="#{qualitySpecBean.deleteLayer(outLayer)}">
											<p:graphicImage value="/large_icons/delete.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
									</h:panelGrid>
								</p:panel>
							</p:column>
						</p:dataGrid>

						<p:panel id="newOutCoatPanelId" style="min-width: 600px">
							<h:panelGrid border="0" columns="4" style="width:100%">

								<h:outputText value="#{language.Standard} :"></h:outputText>
								<p:selectOneMenu value="#{qualitySpecBean.layer.type}"
									required="true" requiredMessage="#{language.RequiredMessage}"
									style="width: 140px">
									<c:forEach
										items="#{qualitySpecBean.config.config.pipe.coating.external.types}"
										var="externalType">
										<f:selectItem itemValue="#{externalType.name}"
											itemLabel="#{externalType.description}"></f:selectItem>
									</c:forEach>
								</p:selectOneMenu>

								<h:outputText value="#{language.MinThickness}"></h:outputText>
								<p:inputText maxlength="64"
									value="#{qualitySpecBean.layer.minKalinlik}"></p:inputText>

								<h:outputText value="#{language.NomThickness}"></h:outputText>
								<p:inputText maxlength="64"
									value="#{qualitySpecBean.layer.nomKalinlik}"></p:inputText>

								<h:outputText value="#{language.MaxThickness}"></h:outputText>
								<p:inputText maxlength="64"
									value="#{qualitySpecBean.layer.maxKalinlik}"></p:inputText>
							</h:panelGrid>

							<h:panelGrid border="0" columns="4">
								<p:commandLink process="@this newOutCoatPanelId"
									title="#{language.Add}"
									update="newOutCoatPanelId outLayerGridId outCoatingMessagesId"
									actionListener="#{qualitySpecBean.submitOutLayer}">
									<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
								</p:commandLink>

								<p:commandLink process="@this" title="#{language.Cancel}"
									update="newOutCoatPanelId outCoatingMessagesId"
									immediate="true">
									<p:graphicImage value="/large_icons/cancel.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</p:panel>
						<p:messages id="outCoatingMessagesId" showDetail="false"
							showSummary="false"></p:messages>
					</p:panel>
				</p:dialog>



				<!-- NONDESTRUCTIVE TESTS SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" dynamic="false"
					header="#{language.NonDestructiveTests}"
					id="nondestructiveDialogId" widgetVar="nondestructiveDialogWidget">
					<p:panel style="min-width:600px" id="nondestructivePanelId"
						header="">
						<p:dataTable var="nondest" rowKey="#{nondest.testId}"
							dblClickSelect="false" emptyMessage="#{language.EmptyMessage}"
							value="#{qualitySpecBean.selectedSalesItem.nondestructiveTestsSpecs}"
							paginator="true" rows="20"
							selection="#{testsBean.selectedNondest}" selectionMode="single"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<p:ajax event="rowSelect" update="nondestructivePanelId">
							</p:ajax>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Name}"></h:outputText>
								</f:facet>
								<h:outputText value="#{nondest.name}"></h:outputText>
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Standard}"></h:outputText>
								</f:facet>
								<h:outputText value="#{nondest.standard}"></h:outputText>
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.AssessStandard}"></h:outputText>
								</f:facet>
								<h:outputText value="#{nondest.assesStandard}"></h:outputText>
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Frequency}"></h:outputText>
								</f:facet>
								<h:outputText value="#{nondest.frequency}"></h:outputText>
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Calibration}"></h:outputText>
								</f:facet>
								<h:outputText value="#{nondest.calibration}"></h:outputText>
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Explanation}"></h:outputText>
								</f:facet>
								<h:outputText value="#{nondest.explanation}}"></h:outputText>
							</p:column>
						</p:dataTable>
						<h:panelGrid border="0" columns="7" style="width:100%">
							<c:forEach items="#{testsBean.nondestructiveTests}"
								var="nondestructive">

								<p:selectBooleanCheckbox value="#{nondestructive.completed}"></p:selectBooleanCheckbox>
								<p:inputText value="#{nondestructive.name}" readonly="true"
									converterMessage="#{language.nbLayersConverterError}">
								</p:inputText>
								<p:inputText value="#{nondestructive.standard}" maxlength="64">
								</p:inputText>
								<p:inputText value="#{nondestructive.assesStandard}"
									maxlength="64">
								</p:inputText>
								<p:inputText value="#{nondestructive.calibration}"
									maxlength="64">
								</p:inputText>
								<p:inputText value="#{nondestructive.frequency}">
								</p:inputText>
								<p:inputText value="#{nondestructive.explanation}">
								</p:inputText>
							</c:forEach>
						</h:panelGrid>

						<!-- PANEL GRID section. -->
						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandLink title="#{language.Submit}"
								update="nondestructivePanelId"
								process="@this nondestructivePanelId"
								actionListener="#{qualitySpecBean.addNondestructives}">
								<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink update="nondestructivePanelId"
								disabled="#{testsBean.selectedNondest.testId == null}"
								process="@this nondestructivePanelId" title="#{language.Delete}"
								actionListener="#{qualitySpecBean.deleteNondestructives}">
								<p:graphicImage value="/large_icons/delete.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink update="nondestructivePanelId" process="@this"
								title="#{language.Cancel}" immediate="true"
								onclick="nondestructiveDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="nondestructiveMessages"></p:messages>
					</p:panel>
				</p:dialog>


			</h:panelGrid>
			<p:messages id="newOrderItemMessagesId"></p:messages>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>