<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">

			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget"
				activeIndex="2">
				<p:tab id="salesTabId" title="Şipariş ve Sipariş Kalemleri">
					<p:dataTable var="salesOrders" id="orderTable"
						value="#{salesOrderBean.orderList}"
						rowKey="#{salesOrders.orderId}"
						selection="#{salesOrderBean.selectedOrder}" selectionMode="single"
						update="orderSelected" paginator="true" rows="13"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesOrderBean.filteredList}">

						<p:ajax event="rowSelect"
							update="orderSelected,orderPanel,itemPanel,itemsTable"
							listener="#{salesMenuBean.showManageType1Menu}" />

						<p:ajax event="rowSelect"
							listener="#{qualitySpecBean.producedPipes}"
							process="listForm:orderTable orderTable"
							update="pipeForm producedPipesDataTableId salesTabId" />
						<p:ajax event="rowSelect" update="orderAccordionPanelId">
						</p:ajax>
						<p:ajax event="rowSelect" update="pipeTabId">
						</p:ajax>

						<f:facet name="header">
				  #{language.salesOrder}				
							<h:commandLink title="#{language.salesExcelExport}"
								immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="orderTable"
									fileName="#{language.salesOrderExcel}" />
							</h:commandLink>
						</f:facet>

						<p:column sortBy="#{salesOrders.salesOrderNo}"
							filterBy="#{salesOrders.orderNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText value="#{salesOrders.orderNo}" />
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.proposalNumber}"
							filterBy="#{salesOrders.proposal.proposalNumber}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesProposalNumber}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.proposalNumber}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.customer.shortName}"
							filterBy="#{salesOrders.proposal.customer.shortName}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesCustomer}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.customer.shortName}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.requestDate}"
							filterBy="#{salesOrders.proposal.requestDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesRequestDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.requestDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.formDate}"
							filterBy="#{salesOrders.proposal.formDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesFormDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.postDate}"
							filterBy="#{salesOrders.proposal.postDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesPostDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.postDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="salesItems" id="itemsTable"
						value="#{salesItemBean.itemsOfSelectedOrder}"
						rowKey="#{salesItems.itemId}"
						selection="#{tahribatsizTestOrderListBean.selectedSalesItem}"
						selectionMode="single" emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesItemBean.filteredList}">

						<p:ajax event="rowSelect"
							update="itemSelected,itemPanel,orderPanel"
							listener="#{salesMenuBean.showManageType2Menu}" />
						<p:ajax event="rowSelect"
							listener="#{tahribatsizTestOrderListBean.loadSelectedOrder}"
							process="orderAccordionPanelId:listOrderForm:datatableOrders datatableOrders"
							update="orderAccordionPanelId:listPipeForm:datatablePipes orderAccordionPanelId" />

						<f:facet name="header">
				  #{language.salesItem}			
							<h:commandLink title="#{language.salesExcelExport}"
								immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="itemsTable"
									fileName="#{language.salesOrderItemExcel}" />
							</h:commandLink>
							<p:spacer width="5120" height="5" />
						</f:facet>

						<p:column sortBy="#{salesItems.No}"
							filterBy="#{salesItems.itemNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesNumber}" />
							</f:facet>
							<h:outputText value="#{salesItems.itemNo}" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}"
							filterBy="#{salesItems.diameter}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.diameter}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.quality}"
							filterBy="#{salesItems.thickness}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesThickness}" />
							</f:facet>
							<h:outputText value="#{salesItems.thickness}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}"
							filterBy="#{salesItems.quality}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesQuality}" />
							</f:facet>
							<h:outputText value="#{salesItems.quality}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.pipeLength}"
							filterBy="#{salesItems.pipeLength}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesPipeLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.pipeLength}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalLengthM}"
							filterBy="#{salesItems.totalLengthM}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalLengthM}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.unitWeight}"
							filterBy="#{salesItems.unitWeight}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesUnitWeight}" />
							</f:facet>
							<h:outputText value="#{salesItems.unitWeight}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalTonnage}"
							filterBy="#{salesItems.totalTonnage}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalTonnage}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalTonnage}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.manufacturingStandard}"
							filterBy="#{salesItems.manufacturingStandard}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.manufacturingStandard}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.transportation}"
							filterBy="#{salesItems.transportation}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesManufacturingStandard}" />
							</f:facet>
							<h:outputText value="#{salesItems.transportation}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText value="#{salesOrderBean.selectedOrder.orderNo}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesProposalNumber}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.proposalNumber}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesCustomer}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.customer.shortName}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesRequestDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.requestDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesFormDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPostDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.postDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesValidityPeriod}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.validityPeriod}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPrepaidBy}" />
							</f:facet>
							<c:forEach items="#{salesItems.proposal.employeeList}"
								var="salesList">
								<h:outputText
									value="#{salesList.firstname} #{salesList.lastname}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								-
								<h:outputText value="#{salesList.amount}"
									converter="salesNumberConverter" />
								<h:outputText value=" " />
							</c:forEach>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesApproval}1" />
							</f:facet>
							<h:outputText rendered="#{salesItems.proposal.approval1 == true}"
								value="#{language.salesApproved}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesApproval}2" />
							</f:facet>
							<h:outputText rendered="#{salesItems.proposal.approval2 == true}"
								value="#{language.salesApproved}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesCurrencyUnit}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.currencyUnit.name}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesProposalRequestedDocuments}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.requestedDocuments}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesNotes}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.notes}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderFormDate}" />
							</f:facet>
							<h:outputText value="#{salesOrderBean.selectedOrder.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderDeliveryDate}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.deliveryDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope1}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope1 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope2}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope2 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope3}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope3 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope4}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope4 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope5}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope5 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderTransportationApproximateAmount}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountForTransportation}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderTransportationApproximateAmountDetail}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountDetailForTransportation}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderApproximateAmount}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmount}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderApproximateAmountDetail}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountDetail}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPayments}" />
							</f:facet>
							<c:forEach items="#{salesPaymentBean.paymentsOfSelectedOrder}"
								var="salesList">
								<h:outputText value="(" />
								<h:outputText value="#{salesList.paymentDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								-
								<h:outputText value="#{salesList.amount}"
									converter="salesNumberConverter" />
								<h:outputText value=") " />
							</c:forEach>
						</p:column>

					</p:dataTable>
				</p:tab>

				<p:tab id="pipeTabId" title="#{language.ProducedPipes}">
					<h:form id="listPipeForm">
						<p:dataTable id="datatablePipes" var="pipe"
							value="#{tahribatsizTestOrderListBean.selectedPipes}"
							tableStyle="width:100%;" paginator="true" rows="13"
							dynamic="true" widgetVar="data" rowKey="#{pipe.pipeId}"
							sortOrder="descending" selectionMode="single"
							selection="#{tahribatsizTestOrderListBean.selectedPipe}"
							sortBy="#{pipe.pipeId}"
							paginatorTemplate="#{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

							<p:ajax event="rowSelect"
								listener="#{tahribatsizTestOrderListBean.loadSelectedPipe}"
								process="orderAccordionPanelId:listPipeForm:datatablePipes datatablePipes"
								update="orderAccordionPanelId koordinatsTabId" />

							<p:ajax event="rowSelect"
								listener="#{testTahribatsizTamirBean.fillTestList(tahribatsizTestOrderListBean.selectedPipe.pipeId)}"
								process="orderAccordionPanelId:listPipeForm:datatablePipes datatablePipes"
								update="orderAccordionPanelId koordinatsTabId tamirTabId" />

							<p:ajax event="rowSelect" update="toolbarAnaId toolbarGroupId"></p:ajax>

							<f:facet name="header">
								<h:outputText value="#{language.ProducedPipes}" />
							</f:facet>

							<p:column headerText="#{language.PipeNumber}"
								sortBy="#{pipe.salesItem.proposal.salesOrder.orderNo}/#{pipe.salesItem.itemNo} - #{pipe.pipeIndex}"
								filterBy="#{pipe.salesItem.proposal.salesOrder.orderNo}/#{pipe.salesItem.itemNo} - #{pipe.pipeIndex}">
								<h:outputText
									value="#{pipe.salesItem.proposal.salesOrder.orderNo}/#{pipe.salesItem.itemNo} - #{pipe.pipeIndex}" />
							</p:column>

							<p:column headerText="Sipariş ve Sipariş Kalemi"
								sortBy="#{pipe.salesItem.proposal.salesOrder.orderNo}/#{pipe.salesItem.itemNo}"
								filterBy="#{pipe.salesItem.proposal.salesOrder.orderNo}/#{pipe.salesItem.itemNo}">
								<h:outputText
									value="#{pipe.salesItem.proposal.salesOrder.orderNo}/#{pipe.salesItem.itemNo}" />
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Diameter}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.disCap}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Weight}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.agirligi}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Length}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.boy}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Explanation}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.note}"></h:outputText>
							</p:column>

							<p:column style="text-align: center;">
								<f:facet name="header">
									<h:outputText value="#{language.TestBorusu}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px" rendered="#{pipe.tahribatsizTestSonuc}">
								</p:graphicImage>
							</p:column>
						</p:dataTable>
					</h:form>
				</p:tab>

				<!-- KAPLAMA KALİTE TAKİP FORMU -->
				<p:tab id="tamirTabId" title="KAPLAMA KALİTE TAKİP FORMU"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:form id="form">

						<h:outputText value=" BORU BARKOD OKUT "
							style="font-weight: bold;"></h:outputText>
						<p:inputText id="inputBarkod" style="width:100px;"
							value="#{kaplamaKaliteTakipFormuBean.barkodNo}">
						</p:inputText>
						<p:commandButton value="BORU BUL"
							update="growl orderAccordionPanelId" process="@this inputBarkod"
							actionListener="#{kaplamaKaliteTakipFormuBean.fillTestListFromBarkod(kaplamaKaliteTakipFormuBean.barkodNo)}"
							icon="ui-icon-circle-plus" styleClass="foo">
						</p:commandButton>

						<h:commandButton immediate="true" image="/large_icons/report.png"
							title="BORU TAKİP FORMU" value="BORU TAKİP FORMU" update="growl"
							action="#{testReportBean.boruTakipFormu(kaplamaKaliteTakipFormuBean.selectedPipe.salesItem)}">
						</h:commandButton>

						<p:tabView id="tabView"
							rendered="#{kaplamaKaliteTakipFormuBean.tabRender}">

							<p:tab id="tab1" title="DIŞ KAPLAMA">

								<h:panelGrid columns="2" cellpadding="10"
									id="genelDisPanelGridId">

									<p:panel style="min-width:400px" id="polietilenDisPanelId"
										header="POLİETİLEN DIŞ KAPLAMA"
										rendered="#{kaplamaKaliteTakipFormuBean.disKaplamaRender==1}">
										<h:panelGrid columns="2" id="polietilenDisGroups">

											<h:panelGrid columns="2" cellpadding="10"
												id="polietilenDisPanelGridId">

												<p:inputText style="width:100px;" readonly="true"
													value="#{kaplamaKaliteTakipFormuBean.selectedPipe.pipeBarkodNo}">BORU NO : </p:inputText>
												<p:calendar disabled="true"
													pattern="#{userCredentialsBean.dateFormat} HH:mm"
													requiredMessage="#{language.RequiredMessage}"
													value="#{kaplamaKaliteTakipFormuBean.kaplamaMakinesiPolietilen.kaplamaBitisZamani}">POLIETİLEN ÇIKIŞ TARİHİ : </p:calendar>

												<p:inputText style="width:100px;" readonly="true"
													value="#{kaplamaKaliteTakipFormuBean.selectedPipe.testTahribatsizGozOlcuSonuc.boruUzunluk}">BORU BOYU : </p:inputText>
												<p:inputText style="width:100px;" readonly="true"
													value="#{kaplamaKaliteTakipFormuBean.selectedPipe.testTahribatsizGozOlcuSonuc.boruUzunluk/1000}">BORU YUV. BOYU : </p:inputText>

												<p:outputPanel style="width:100px;"></p:outputPanel>
												<p:selectOneMenu
													requiredMessage="LÜTFEN DIŞ KAPLAMA POLİETİLEN DURUM GİRİNİZ!"
													value="#{kaplamaKaliteTakipFormuBean.kaplamaKaliteTakipFormuForm.disPolietilenDurum}"
													style="width: 140px">
													<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
													<f:selectItem itemValue="1" itemLabel="KABUL"></f:selectItem>
													<f:selectItem itemValue="0" itemLabel="TAMİR"></f:selectItem>
													<f:selectItem itemValue="2" itemLabel="SOY"></f:selectItem>
													<f:selectItem itemValue="3" itemLabel="YAĞLI"></f:selectItem>
													<f:selectItem itemValue="4" itemLabel="STOK"></f:selectItem>
												</p:selectOneMenu>
												<p:outputPanel style="width:100px;"></p:outputPanel>

												<p:inputText style="width:100px;"
													value="#{kaplamaKaliteTakipFormuBean.kaplamaKaliteTakipFormuForm.disPolietilenRaporNo}">RAPOR NO : </p:inputText>
												<p:inputTextarea rows="5" style="width:125px"
													converterMessage="#{language.nbLayersConverterError}"
													autoResize="false"
													value="#{kaplamaKaliteTakipFormuBean.kaplamaKaliteTakipFormuForm.disPolietilenAciklama}"
													id="polietilenDisId">
													<p:watermark for="polietilenDisId"
														value="Lütfen Açıklama Giriniz *" />
												</p:inputTextarea>

												<p:outputPanel style="width:100px;"></p:outputPanel>
												<p:outputPanel style="width:100px;">GÖZ ÖLÇÜ SONUÇ : </p:outputPanel>
												<p:selectOneMenu
													value="#{kaplamaKaliteTakipFormuBean.selectedPipe.testTahribatsizGozOlcuSonuc.result}"
													disabled="true">
													<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
													<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
													<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
													<f:selectItem itemValue="6" itemLabel="MUFLANACAK"></f:selectItem>
													<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
													<f:selectItem itemValue="3" itemLabel="Torna"></f:selectItem>
													<f:selectItem itemValue="4" itemLabel="Kesim"></f:selectItem>
													<f:selectItem itemValue="5" itemLabel="Hidrostatik"></f:selectItem>
												</p:selectOneMenu>

											</h:panelGrid>
										</h:panelGrid>
									</p:panel>

									<p:panel style="min-width:400px" id="boyaDisPanelId"
										header="BOYA DIŞ KAPLAMA"
										rendered="#{kaplamaKaliteTakipFormuBean.disKaplamaRender==2}">
										<h:panelGrid columns="2" id="boyaDisGroups">

											<h:panelGrid columns="2" cellpadding="10">

												<p:inputText style="width:100px;" readonly="true"
													value="#{kaplamaKaliteTakipFormuBean.barkodNo}">BORU NO : </p:inputText>
												<p:calendar disabled="true"
													pattern="#{userCredentialsBean.dateFormat} HH:mm"
													requiredMessage="#{language.RequiredMessage}"
													value="#{kaplamaKaliteTakipFormuBean.kaplamaMakinesiEpoksi.kaplamaBitisZamani}">BOYA ÇIKIŞ TARİHİ : </p:calendar>

												<p:inputText style="width:100px;" readonly="true"
													value="#{kaplamaKaliteTakipFormuBean.selectedPipe.testTahribatsizGozOlcuSonuc.boruUzunluk}">BORU BOYU : </p:inputText>
												<p:inputText style="width:100px;" readonly="true"
													value="#{kaplamaKaliteTakipFormuBean.selectedPipe.testTahribatsizGozOlcuSonuc.boruUzunluk/1000}">BORU YUV. BOYU : </p:inputText>

												<p:outputPanel style="width:100px;"></p:outputPanel>
												<p:selectOneMenu
													requiredMessage="LÜTFEN DIŞ KAPLAMA BOYA DURUM GİRİNİZ!"
													value="#{kaplamaKaliteTakipFormuBean.kaplamaKaliteTakipFormuForm.disBoyaDurum}"
													style="width: 140px">
													<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
													<f:selectItem itemValue="1" itemLabel="KABUL"></f:selectItem>
													<f:selectItem itemValue="0" itemLabel="RED"></f:selectItem>
													<f:selectItem itemValue="2" itemLabel="İNCE"></f:selectItem>
													<f:selectItem itemValue="3" itemLabel="TAMİR"></f:selectItem>
													<f:selectItem itemValue="4" itemLabel="KUMLAMA"></f:selectItem>
													<f:selectItem itemValue="5" itemLabel="2. KAT"></f:selectItem>
													<f:selectItem itemValue="6" itemLabel="BEKLEYECEK"></f:selectItem>
												</p:selectOneMenu>
												<p:outputPanel style="width:100px;"></p:outputPanel>

												<p:inputText style="width:100px;"
													value="#{kaplamaKaliteTakipFormuBean.kaplamaKaliteTakipFormuForm.disBoyaRaporNo}">RAPOR NO : </p:inputText>
												<p:inputTextarea rows="5" style="width:125px"
													converterMessage="#{language.nbLayersConverterError}"
													autoResize="false"
													value="#{kaplamaKaliteTakipFormuBean.kaplamaKaliteTakipFormuForm.disBoyaAciklama}"
													id="boyaDisId">
													<p:watermark for="boyaDisId"
														value="Lütfen Açıklama Giriniz *" />
												</p:inputTextarea>

												<p:outputPanel style="width:100px;"></p:outputPanel>
												<p:outputPanel style="width:100px;">GÖZ ÖLÇÜ SONUÇ : </p:outputPanel>
												<p:selectOneMenu
													value="#{kaplamaKaliteTakipFormuBean.selectedPipe.testTahribatsizGozOlcuSonuc.result}"
													disabled="true">
													<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
													<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
													<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
													<f:selectItem itemValue="6" itemLabel="MUFLANACAK"></f:selectItem>
													<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
													<f:selectItem itemValue="3" itemLabel="Torna"></f:selectItem>
													<f:selectItem itemValue="4" itemLabel="Kesim"></f:selectItem>
													<f:selectItem itemValue="5" itemLabel="Hidrostatik"></f:selectItem>
												</p:selectOneMenu>

											</h:panelGrid>
										</h:panelGrid>
									</p:panel>
								</h:panelGrid>
							</p:tab>

							<p:tab id="tab2" title="İÇ KAPLAMA">
								<h:panelGrid columns="2" cellpadding="10"
									id="genelIcPanelGridId">

									<p:panel style="min-width:400px" id="epoksiIcPanelId"
										header="BOYA İÇ KAPLAMA"
										rendered="#{kaplamaKaliteTakipFormuBean.icKaplamaRender==1}">
										<h:panelGrid columns="2" id="epoksiIcGroups">

											<h:panelGrid columns="2" cellpadding="10">

												<p:inputText style="width:100px;" readonly="true"
													value="#{kaplamaKaliteTakipFormuBean.barkodNo}">BORU NO : </p:inputText>
												<p:calendar disabled="true"
													pattern="#{userCredentialsBean.dateFormat} HH:mm"
													requiredMessage="#{language.RequiredMessage}"
													value="#{kaplamaKaliteTakipFormuBean.kaplamaMakinesiEpoksi.kaplamaBitisZamani}">BOYA ÇIKIŞ TARİHİ : </p:calendar>

												<p:inputText style="width:100px;" readonly="true"
													value="#{kaplamaKaliteTakipFormuBean.selectedPipe.testTahribatsizGozOlcuSonuc.boruUzunluk}">BORU BOYU : </p:inputText>
												<p:inputText style="width:100px;" readonly="true"
													value="#{kaplamaKaliteTakipFormuBean.selectedPipe.testTahribatsizGozOlcuSonuc.boruUzunluk/1000}">BORU YUV. BOYU : </p:inputText>

												<p:outputPanel style="width:100px;"></p:outputPanel>
												<p:selectOneMenu
													requiredMessage="LÜTFEN İÇ KAPLAMA BOYA DURUM GİRİNİZ!"
													value="#{kaplamaKaliteTakipFormuBean.kaplamaKaliteTakipFormuForm.icBoyaDurum}"
													style="width: 140px">
													<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
													<f:selectItem itemValue="1" itemLabel="KABUL"></f:selectItem>
													<f:selectItem itemValue="0" itemLabel="TAMİR"></f:selectItem>
													<f:selectItem itemValue="2" itemLabel="SOY"></f:selectItem>
													<f:selectItem itemValue="3" itemLabel="YAĞLI"></f:selectItem>
													<f:selectItem itemValue="4" itemLabel="STOK"></f:selectItem>
												</p:selectOneMenu>
												<p:outputPanel style="width:100px;"></p:outputPanel>

												<p:inputText style="width:100px;"
													value="#{kaplamaKaliteTakipFormuBean.kaplamaKaliteTakipFormuForm.icBoyaRaporNo}">RAPOR NO : </p:inputText>
												<p:inputTextarea rows="5" style="width:125px"
													converterMessage="#{language.nbLayersConverterError}"
													autoResize="false"
													value="#{kaplamaKaliteTakipFormuBean.kaplamaKaliteTakipFormuForm.icBoyaAciklama}"
													id="epoksiIcId">
													<p:watermark for="epoksiIcId"
														value="Lütfen Açıklama Giriniz *" />
												</p:inputTextarea>

												<p:outputPanel style="width:100px;"></p:outputPanel>
												<p:outputPanel style="width:100px;">GÖZ ÖLÇÜ SONUÇ : </p:outputPanel>
												<p:selectOneMenu
													value="#{kaplamaKaliteTakipFormuBean.selectedPipe.testTahribatsizGozOlcuSonuc.result}"
													disabled="true">
													<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
													<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
													<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
													<f:selectItem itemValue="6" itemLabel="MUFLANACAK"></f:selectItem>
													<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
													<f:selectItem itemValue="3" itemLabel="Torna"></f:selectItem>
													<f:selectItem itemValue="4" itemLabel="Kesim"></f:selectItem>
													<f:selectItem itemValue="5" itemLabel="Hidrostatik"></f:selectItem>
												</p:selectOneMenu>

											</h:panelGrid>
										</h:panelGrid>
									</p:panel>

									<p:panel style="min-width:400px" id="betonIcPanelId"
										header="BETON İÇ KAPLAMA"
										rendered="#{kaplamaKaliteTakipFormuBean.icKaplamaRender==2}">
										<h:panelGrid columns="2" id="betonIcGroups">

											<h:panelGrid columns="2" cellpadding="10">

												<p:inputText style="width:100px;" readonly="true"
													value="#{kaplamaKaliteTakipFormuBean.barkodNo}">BORU NO : </p:inputText>
												<p:calendar disabled="true"
													pattern="#{userCredentialsBean.dateFormat} HH:mm"
													requiredMessage="#{language.RequiredMessage}"
													value="#{kaplamaKaliteTakipFormuBean.kaplamaMakinesiBeton.kaplamaBitisZamani}">BETON ÇIKIŞ TARİHİ : </p:calendar>

												<p:inputText style="width:100px;" readonly="true"
													value="#{kaplamaKaliteTakipFormuBean.selectedPipe.testTahribatsizGozOlcuSonuc.boruUzunluk}">BORU BOYU : </p:inputText>
												<p:inputText style="width:100px;" readonly="true"
													value="#{kaplamaKaliteTakipFormuBean.selectedPipe.testTahribatsizGozOlcuSonuc.boruUzunluk/1000}">BORU YUV. BOYU : </p:inputText>

												<p:outputPanel style="width:100px;"></p:outputPanel>
												<p:selectOneMenu
													requiredMessage="LÜTFEN İÇ KAPLAMA BETON DURUM GİRİNİZ!"
													value="#{kaplamaKaliteTakipFormuBean.kaplamaKaliteTakipFormuForm.icBetonDurum}"
													style="width: 140px">
													<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
													<f:selectItem itemValue="1" itemLabel="KABUL"></f:selectItem>
													<f:selectItem itemValue="0" itemLabel="TAMİR"></f:selectItem>
													<f:selectItem itemValue="2" itemLabel="ÇATLAK"></f:selectItem>
													<f:selectItem itemValue="3" itemLabel="KIRILACAK"></f:selectItem>
													<f:selectItem itemValue="4" itemLabel="İNCE, BEKLEYECEK"></f:selectItem>
													<f:selectItem itemValue="5" itemLabel="YAŞ"></f:selectItem>
												</p:selectOneMenu>
												<p:outputPanel style="width:100px;"></p:outputPanel>

												<p:inputText style="width:100px;"
													value="#{kaplamaKaliteTakipFormuBean.kaplamaKaliteTakipFormuForm.icBetonRaporNo}">RAPOR NO : </p:inputText>
												<p:inputTextarea rows="5" style="width:125px"
													converterMessage="#{language.nbLayersConverterError}"
													autoResize="false"
													value="#{kaplamaKaliteTakipFormuBean.kaplamaKaliteTakipFormuForm.icBetonAciklama}"
													id="betonIcId">
													<p:watermark for="betonIcId"
														value="Lütfen Açıklama Giriniz *" />
												</p:inputTextarea>

												<p:outputPanel style="width:100px;"></p:outputPanel>
												<p:outputPanel style="width:100px;">GÖZ ÖLÇÜ SONUÇ : </p:outputPanel>
												<p:selectOneMenu
													value="#{kaplamaKaliteTakipFormuBean.selectedPipe.testTahribatsizGozOlcuSonuc.result}"
													disabled="true">
													<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
													<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
													<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
													<f:selectItem itemValue="6" itemLabel="MUFLANACAK"></f:selectItem>
													<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
													<f:selectItem itemValue="3" itemLabel="Torna"></f:selectItem>
													<f:selectItem itemValue="4" itemLabel="Kesim"></f:selectItem>
													<f:selectItem itemValue="5" itemLabel="Hidrostatik"></f:selectItem>
												</p:selectOneMenu>

											</h:panelGrid>
										</h:panelGrid>
									</p:panel>

								</h:panelGrid>
							</p:tab>

						</p:tabView>

						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="tamirTestAddPanelGridId"
							rendered="#{kaplamaKaliteTakipFormuBean.tabRender}">

							<p:calendar mode="popup" autocomplete="false" showOn="button"
								stepMinute="5" required="true"
								pattern="#{userCredentialsBean.dateFormat} HH:mm"
								requiredMessage="MUAYENE TARİHİ GİRİNİZ!"
								value="#{kaplamaKaliteTakipFormuBean.kaplamaKaliteTakipFormuForm.muayeneTarih}">MUAYENE TARİHİ : </p:calendar>
							<p:selectBooleanCheckbox
								value="#{kaplamaKaliteTakipFormuBean.kaplamaKaliteTakipFormuForm.sevkeUygun}">SEVKE UYGUN : </p:selectBooleanCheckbox>
							<p:calendar mode="popup" autocomplete="false" showOn="button"
								stepMinute="5" pattern="#{userCredentialsBean.dateFormat} HH:mm"
								requiredMessage="#{language.RequiredMessage}"
								value="#{kaplamaKaliteTakipFormuBean.kaplamaKaliteTakipFormuForm.sevkTarih}">SEVK TARİHİ : </p:calendar>

							<p:commandButton
								actionListener="#{kaplamaKaliteTakipFormuBean.addOrUpdateSonuc}"
								update="growl" process="@this,form" icon="ui-icon-trash"
								value="KAYDET - DÜZENLE">
							</p:commandButton>
							<p:commandButton
								actionListener="#{kaplamaKaliteTakipFormuBean.deleteSonuc}"
								update="growl" process="@this" icon="ui-icon-trash" value="SİL">
								<f:param id="tamirDeletePipeId"
									value="#{kaplamaKaliteTakipFormuBean.selectedPipe.pipeId}"></f:param>
							</p:commandButton>
						</h:panelGrid>

					</h:form>

				</p:tab>

			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Tamir verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>