<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<h:form id="listForm">
				<p:dataTable id="datatableOrders" var="order"
					value="#{listOrderBean.orders}" tableStyle="width:100%;"
					paginator="true" rows="9" dynamic="true" widgetVar="data"
					rowKey="#{order.orderId}" sortOrder="descending"
					selectionMode="single" selection="#{listOrderBean.selectedOrder}"
					sortBy="#{order.orderYearAndOrderNumber}"
					paginatorTemplate="#{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					<p:ajax event="rowSelect"
						listener="#{listOrderBean.loadSelectedOrder}"
						process="listForm:datatableOrders datatableOrders"
						update="dialogSelectedOrderId"
						oncomplete="dialogSelectedOrder.show();data.unselectAllRows();" />
					<p:column headerText="Sipariş No"
						sortBy="#{order.orderYearAndOrderNumber}"
						filterBy="#{order.orderYearAndOrderNumber}">
						<h:outputText value="#{order.orderYearAndOrderNumber}" />
					</p:column>
					<p:column headerText="Firma" sortBy="#{order.customer.name}"
						filterBy="#{order.customer.name}">
						<h:outputText value="#{order.customer.name}" />
					</p:column>
					<p:column headerText="Dış Çap" sortBy="#{order.disCap}"
						filterBy="#{order.disCap}">
						<h:outputText value="#{order.disCap}" />
					</p:column>
					<p:column headerText="Et Kalınlığı" sortBy="#{order.etKalinligi}"
						filterBy="#{order.etKalinligi}">
						<h:outputText value="#{order.etKalinligi}" />
					</p:column>
					<p:column headerText="Kalite" sortBy="#{order.kalite}"
						filterBy="#{order.kalite}">
						<h:outputText value="#{order.kalite}" />
					</p:column>
					<p:column headerText="Kalite" sortBy="#{order.miktar}"
						filterBy="#{order.miktar}">
						<h:outputText value="#{order.miktar}" />
					</p:column>

					<p:column sortBy="#{order.pipeType}">
						<f:facet name="header">
							<h:outputText value="#{language.Type}"></h:outputText>
						</f:facet>
						<p:selectOneMenu value="#{order.pipeType}" disabled="true"
							style="width: 140px">
							<f:selectItems var="pipeType" itemValue="#{pipeType.name}"
								itemLabel="#{pipeType.description}"
								value="#{listOrderBean.config.config.pipe.types}" />
						</p:selectOneMenu>
					</p:column>
					<p:column sortBy="#{order.responsibleEmployee}">
						<f:facet name="header">
							<h:outputText value="#{language.Responsible}"></h:outputText>
						</f:facet>
						<p:selectOneMenu value="#{order.responsibleEmployee}"
							disabled="true" style="width: 140px">
							<f:selectItems var="emp" itemValue="#{emp.employeeId}"
								itemLabel="#{emp.firstname} #{emp.lastname}"
								value="#{employeeListBean.employeeList}"></f:selectItems>
						</p:selectOneMenu>
					</p:column>
					<p:column headerText="Dış Üre.">
						<p:graphicImage value="/large_icons/done.png" style="border:0px"
							rendered="#{order.external}" />
						<p:graphicImage value="/large_icons/blank.png" style="border:0px"
							rendered="#{!order.external}" />
					</p:column>
					<p:column headerText="İç Üre.">
						<p:graphicImage value="/large_icons/done.png" style="border:0px"
							rendered="#{order.internal}" />
						<p:graphicImage value="/large_icons/blank.png" style="border:0px"
							rendered="#{!order.internal}" />
					</p:column>

					<f:facet name="footer">
						<p:commandButton id="buttonNewOrderId" value="Yeni Sipariş"
							icon="ui-icon-delete" update=":form:display"
							oncomplete="dialogNewOrder.show();" />
					</f:facet>
				</p:dataTable>
			</h:form>

			<p:dialog
				header="Yeni Sipariş Oluştur - #{language.ManufacturingSection}"
				id="dialogNewOrderId" widgetVar="dialogNewOrder" resizable="false"
				width="600">
				<h:form id="newOrderForm">
					<table class="ui_still_full_form">
						<col style="width: 40%" />
						<col style="width: 60%" />
						<!-- 						<tr> -->
						<!-- 							<td><h:outputLabel value="#{language.Customer}: " /></td> -->
						<!-- 							<td><p:selectOneMenu required="true" -->
						<!-- 									requiredMessage="#{language.RequiredMessage}" -->
						<!-- 									value="#{listOrderBean.newOrder.customerId}" -->
						<!-- 									style="width:100%;"> -->
						<!-- 									<c:forEach items="#{customerListBean.customers}" var="customer"> -->
						<!-- 										<f:selectItem itemValue="#{customer.customerId}" -->
						<!-- 											itemLabel="#{customer.name}" /> -->
						<!-- 									</c:forEach> -->
						<!-- 								</p:selectOneMenu></td> -->
						<!-- 						</tr> -->
						<tr>
							<td><h:outputLabel value="#{language.Date} (mm/dd/yyyy): " /></td>
							<td><p:calendar mode="popup" showOn="button" required="true"
									requiredMessage="#{language.RequiredMessage}"
									autocomplete="false"
									pattern="#{userCredentialsBean.dateFormat}"
									value="#{listOrderBean.newOrder.startDate}" /></td>
						</tr>

						<tr>
							<td><h:outputText value="#{language.Responsible} *: " /></td>
							<td><p:selectOneMenu
									value="#{listOrderBean.newOrder.responsibleEmployee}"
									required="true" requiredMessage="#{language.RequiredMessage}">
									<c:forEach items="#{employeeListBean.employeeList}" var="emp">
										<f:selectItem itemValue="#{emp.employeeId}"
											itemLabel="#{emp.firstname} #{emp.lastname}" />
									</c:forEach>
								</p:selectOneMenu></td>
						</tr>

						<tr>
							<td><h:outputText value="#{language.Type} *: " /></td>
							<td><p:selectOneMenu
									value="#{listOrderBean.newOrder.pipeType}" required="true"
									requiredMessage="#{language.RequiredMessage}">
									<c:forEach items="#{listOrderBean.config.config.pipe.types}"
										var="pipeType">
										<f:selectItem itemValue="#{pipeType.name}"
											itemLabel="#{pipeType.description}" />
									</c:forEach>
								</p:selectOneMenu></td>
						</tr>

						<tr>
							<td><h:outputText
									value="#{language.ExternalDiameter} (mm)*: " /></td>
							<td><p:inputText id="externalDiameterTextInputId"
									requiredMessage="#{language.RequiredMessage}"
									converterMessage="#{language.externalDiameterConverteError}"
									value="#{listOrderBean.newOrder.disCap}" required="true"
									style="width:100%;">
								</p:inputText></td>
						</tr>
						<tr>
							<td><h:outputText value="#{language.WallThickness} (mm)*: " /></td>
							<td><p:inputText id="wallThicknessTextInputId"
									required="true" requiredMessage="#{RequiredMessage}"
									value="#{listOrderBean.newOrder.etKalinligi}"
									converterMessage="#{language.wallThicknessConverteError}"
									style="width:100%;">
								</p:inputText></td>
						</tr>
						<tr>
							<td><h:outputText value="#{language.Amount} *: " /></td>
							<td><p:inputText id="amountTextInputId" required="true"
									requiredMessage="#{language.RequiredMessage}"
									converterMessage="#{language.amountConverteError}"
									value="#{listOrderBean.newOrder.miktar}" style="width:100%;">
								</p:inputText></td>
						</tr>
						<tr>
							<td><h:outputText value="#{language.Quality} *: " /></td>
							<td><p:inputText id="qualityTextInputId" maxlength="20"
									value="#{listOrderBean.newOrder.kalite}" required="true"
									requiredMessage="#{language.RequiredMessage}"
									style="width:100%;">

								</p:inputText></td>
						</tr>
						<tr>
							<td><h:outputText value="#{language.Length} : " /></td>
							<td><p:inputText id="lengthTextInputId"
									value="#{listOrderBean.newOrder.boy}"
									converterMessage="#{language.lengthConverteError}"
									style="width:100%;">
								</p:inputText></td>
						</tr>
						<tr>
							<td><h:outputText value="#{language.EstimatedDuration}" /></td>
							<td><p:inputText id="estimateedDurationTextInputId"
									converterMessage="#{language.lengthConverteError}"
									value="#{listOrderBean.newOrder.estimatedDurationTime}"
									style="width:100%;" /></td>
						</tr>
						<tr>
							<td><h:outputText value="#{language.Status} *: " /></td>
							<td><p:selectOneMenu
									value="#{listOrderBean.newOrder.statusId}" required="true"
									requiredMessage="#{language.RequiredMessage}">
									<c:forEach items="#{listOrderBean.config.config.order.status}"
										var="status">
										<f:selectItem itemValue="#{status.id}"
											itemLabel="#{status.description}" />
									</c:forEach>
								</p:selectOneMenu></td>
						</tr>

						<tr>
							<td><h:outputText value="#{language.Note}" /></td>
							<td style="width: 100%;"><p:inputTextarea
									id="noteTextInputId" autoResize="false" maxLength="150"
									maxHeight="5" rows="5" value="#{listOrderBean.newOrder.note}"
									style="width:100%;"></p:inputTextarea></td>
						</tr>

					</table>
					<h:outputText value="#{language.Documents}"
						style="font-weight: bold;"></h:outputText>
					<p:fileUpload auto="true" sizeLimit="5000000"
						fileUploadListener="#{qualitySpecBean.uploadTestsDocs}"
						mode="advanced" multiple="false"
						allowTypes="/(\.|\/)(doc|txt|docx)$/" disabled="true">
						<h:outputText
							value=" - #{testKimyasalAnalizSonucBean.testKimyasalAnalizSonucForm.documents}"></h:outputText>
					</p:fileUpload>
					<!-- 
						<h:commandButton value="download"
							action="#{qualitySpecBean.downloadTestsDocs()}">
							<f:ajax disabled="true" />
						</h:commandButton>
						<h:outputText value=""></h:outputText>
						 -->
					<div style="float: right;">
						<p:commandButton id="dialogNewOrderSubmitButton" value="Kaydet"
							ajax="true" type="submit"
							update="listForm:datatableOrders newOrderForm growl  @all"
							oncomplete="if (!args.validationFailed){dialogNewOrder.hide();}data.unselectAllRows();"
							action="#{listOrderBean.addNewOrder}" process="newOrderForm" />
						<p:commandButton id="dialogNewOrderCancelButton" value="İptal"
							onclick="dialogNewOrder.hide()" type="button" />
					</div>
				</h:form>
			</p:dialog>

			<p:dialog header="Sipariş Düzenle - #{language.ManufacturingSection}"
				id="dialogUpdateOrderId" widgetVar="dialogUpdateOrder"
				resizable="false" width="600">
				<h:form id="updateOrderForm">
					<table class="ui_still_full_form">
						<col style="width: 40%" />
						<col style="width: 60%" />
						<!-- 						<tr> -->
						<!-- 							<td><h:outputLabel value="#{language.Customer}: " /></td> -->
						<!-- 							<td><p:selectOneMenu required="true" -->
						<!-- 									requiredMessage="#{language.RequiredMessage}" -->
						<!-- 									value="#{listOrderBean.selectedOrder.customerId}" -->
						<!-- 									style="width:100%;"> -->
						<!-- 									<c:forEach items="#{customerListBean.customers}" var="customer"> -->
						<!-- 										<f:selectItem itemValue="#{customer.customerId}" -->
						<!-- 											itemLabel="#{customer.name}" /> -->
						<!-- 									</c:forEach> -->
						<!-- 								</p:selectOneMenu></td> -->
						<!-- 						</tr> -->
						<tr>
							<td><h:outputLabel value="#{language.Date} (mm/dd/yyyy): " /></td>
							<td><p:calendar mode="popup" showOn="button" required="true"
									requiredMessage="#{language.RequiredMessage}"
									autocomplete="false"
									pattern="#{userCredentialsBean.dateFormat}"
									value="#{listOrderBean.selectedOrder.startDate}" /></td>
						</tr>

						<tr>
							<td><h:outputText value="#{language.Responsible} *: " /></td>
							<td><p:selectOneMenu
									value="#{listOrderBean.selectedOrder.responsibleEmployee}"
									required="true" requiredMessage="#{language.RequiredMessage}">
									<c:forEach items="#{employeeListBean.employeeList}" var="emp">
										<f:selectItem itemValue="#{emp.employeeId}"
											itemLabel="#{emp.firstname} #{emp.lastname}" />
									</c:forEach>
								</p:selectOneMenu></td>
						</tr>

						<tr>
							<td><h:outputText value="#{language.Type} *: " /></td>
							<td><p:selectOneMenu
									value="#{listOrderBean.selectedOrder.pipeType}" required="true"
									requiredMessage="#{language.RequiredMessage}">
									<c:forEach items="#{listOrderBean.config.config.pipe.types}"
										var="pipeType">
										<f:selectItem itemValue="#{pipeType.name}"
											itemLabel="#{pipeType.description}" />
									</c:forEach>
								</p:selectOneMenu></td>
						</tr>

						<tr>
							<td><h:outputText
									value="#{language.ExternalDiameter} (mm)*: " /></td>
							<td><p:inputText id="externalDiameterTextInputId"
									requiredMessage="#{language.RequiredMessage}"
									converterMessage="#{language.externalDiameterConverteError}"
									value="#{listOrderBean.selectedOrder.disCap}" required="true"
									style="width:100%;">
								</p:inputText></td>
						</tr>
						<tr>
							<td><h:outputText value="#{language.WallThickness} (mm)*: " /></td>
							<td><p:inputText id="wallThicknessTextInputId"
									required="true" requiredMessage="#{RequiredMessage}"
									value="#{listOrderBean.selectedOrder.etKalinligi}"
									converterMessage="#{language.wallThicknessConverteError}"
									style="width:100%;">
								</p:inputText></td>
						</tr>
						<tr>
							<td><h:outputText value="#{language.Amount} *: " /></td>
							<td><p:inputText id="amountTextInputId" required="true"
									requiredMessage="#{language.RequiredMessage}"
									converterMessage="#{language.amountConverteError}"
									value="#{listOrderBean.selectedOrder.miktar}"
									style="width:100%;">
								</p:inputText></td>
						</tr>
						<tr>
							<td><h:outputText value="#{language.Quality} *: " /></td>
							<td><p:inputText id="qualityTextInputId" maxlength="20"
									value="#{listOrderBean.selectedOrder.kalite}" required="true"
									requiredMessage="#{language.RequiredMessage}"
									style="width:100%;">

								</p:inputText></td>
						</tr>
						<tr>
							<td><h:outputText value="#{language.Length} : " /></td>
							<td><p:inputText id="lengthTextInputId"
									value="#{listOrderBean.selectedOrder.boy}"
									converterMessage="#{language.lengthConverteError}"
									style="width:100%;">
								</p:inputText></td>
						</tr>
						<tr>
							<td><h:outputText value="#{language.EstimatedDuration}" /></td>
							<td><p:inputText id="estimateedDurationTextInputId"
									converterMessage="#{language.lengthConverteError}"
									value="#{listOrderBean.selectedOrder.estimatedDurationTime}"
									style="width:100%;" /></td>
						</tr>

						<tr>
							<td><h:outputText value="#{language.Status} *: " /></td>
							<td><p:selectOneMenu
									value="#{listOrderBean.selectedOrder.statusId}" required="true"
									requiredMessage="#{language.RequiredMessage}">
									<c:forEach items="#{listOrderBean.config.config.order.status}"
										var="status">
										<f:selectItem itemValue="#{status.id}"
											itemLabel="#{status.description}" />
									</c:forEach>
								</p:selectOneMenu></td>
						</tr>
						<tr>
							<td><h:outputText value="#{language.Note}" /></td>
							<td style="width: 100%;"><p:inputTextarea
									id="noteTextInputId" autoResize="false" maxLength="150"
									maxHeight="5" rows="5"
									value="#{listOrderBean.selectedOrder.note}" style="width:100%;"></p:inputTextarea></td>
						</tr>

					</table>
					<div style="float: right;">
						<p:commandButton value="Kaydet" ajax="true" type="submit"
							update="listForm:datatableOrders updateOrderForm dialogSelectedOrderId growl"
							oncomplete="if (!args.validationFailed){dialogUpdateOrder.hide();dialogSelectedOrder.show();}data.unselectAllRows();"
							action="#{listOrderBean.updateOrder}" process="updateOrderForm" />
						<p:commandButton value="İptal" onclick="dialogUpdateOrder.hide()"
							type="button" />
					</div>
				</h:form>
			</p:dialog>


			<p:dialog
				header="Sipariş No : #{listOrderBean.selectedOrder.orderYearAndOrderNumber}"
				id="dialogSelectedOrderId" widgetVar="dialogSelectedOrder"
				resizable="false" width="600">

				<h:panelGrid columns="2" width="100%">
					<!-- 					<h:outputLabel value="#{language.Customer}: " /> -->
					<!-- 					<c:forEach items="#{customerListBean.customers}" var="customer"> -->
					<!-- 						<h:outputLabel value="#{customer.name}" -->
					<!-- 							rendered="#{listOrderBean.selectedOrder.customer.customerId == customer.customerId}" /> -->
					<!-- 					</c:forEach> -->


					<h:outputLabel value="#{language.Date} (mm/dd/yyyy): " />
					<h:outputLabel value="#{listOrderBean.selectedOrder.startDate}">
						<f:convertDateTime pattern="MM/dd/yyyy" />
					</h:outputLabel>

					<h:outputText value="#{language.Responsible} : " />
					<c:forEach items="#{employeeListBean.employeeList}" var="emp">
						<h:outputLabel value="#{emp.firstname} #{emp.lastname}"
							rendered="#{listOrderBean.selectedOrder.responsibleEmployee == emp.employeeId}" />
					</c:forEach>

					<h:outputText value="#{language.Type} : " />
					<c:forEach items="#{listOrderBean.config.config.pipe.types}"
						var="pipeType">
						<h:outputLabel value="#{pipeType.description}"
							rendered="#{listOrderBean.selectedOrder.pipeType == pipeType.name}" />
					</c:forEach>

					<h:outputText value="#{language.ExternalDiameter} (mm): " />
					<h:outputLabel value="#{listOrderBean.selectedOrder.disCap}" />

					<h:outputText value="#{language.WallThickness} (mm): " />
					<h:outputLabel value="#{listOrderBean.selectedOrder.etKalinligi}" />

					<h:outputText value="#{language.Amount} : " />
					<h:outputLabel value="#{listOrderBean.selectedOrder.miktar}" />

					<h:outputText value="#{language.Quality} : " />
					<h:outputLabel value="#{listOrderBean.selectedOrder.kalite}" />

					<h:outputText value="#{language.Length} : " />
					<h:outputLabel value="#{listOrderBean.selectedOrder.boy}" />

					<h:outputText value="#{language.EstimatedDuration}:" />
					<h:outputLabel
						value="#{listOrderBean.selectedOrder.estimatedDurationTime}" />

					<h:outputText value="#{language.Status} : " />
					<c:forEach items="#{listOrderBean.config.config.order.status}"
						var="status">
						<h:outputLabel value="#{status.description}"
							rendered="#{listOrderBean.selectedOrder.statusId == status.id}" />
					</c:forEach>

					<h:outputText value="#{language.Note} :" />
					<h:outputLabel value="#{listOrderBean.selectedOrder.note}" />
				</h:panelGrid>
				<table style="float: right;" width="200">
					<tr>
						<td align="center"><c:choose>
								<c:when
									test="#{listOrderBean.selectedOrder.external == false or empty listOrderBean.selectedOrder.external}">
									<p:graphicImage value="/large_icons/blank.png"
										style="border:0px"></p:graphicImage>
								</c:when>
								<c:otherwise>
									<p:graphicImage value="/large_icons/done.png"
										style="border:0px"></p:graphicImage>
								</c:otherwise>
							</c:choose><br /> <p:commandLink value="Dış Kaplama"
								actionListener="#{listOrderBean.disKaplamaListener}"
								update="dialogExternalId" oncomplete="dialogExternal.show();"
								process="@this">
							</p:commandLink></td>
						<td align="center"><c:choose>
								<c:when
									test="#{listOrderBean.selectedOrder.internal == false or empty listOrderBean.selectedOrder.internal}">
									<p:graphicImage value="/large_icons/blank.png"
										style="border:0px" />
								</c:when>
								<c:otherwise>
									<p:graphicImage value="/large_icons/done.png"
										style="border:0px" />
								</c:otherwise>
							</c:choose><br /> <p:commandLink update="dialogInternalId"
								actionListener="#{listOrderBean.icKaplamaListener}"
								oncomplete="dialogInternal.show();" value="İç Kaplama"
								process="@this" /></td>
						<td><p:commandButton update="dialogUpdateOrderId"
								oncomplete="dialogUpdateOrder.show();" value="Düzenle"
								process="@this" /></td>

					</tr>
				</table>

			</p:dialog>

			<p:dialog
				header="Sipariş No : #{listOrderBean.selectedOrder.orderYearAndOrderNumber} - İç Kaplama Bilgileri"
				id="dialogInternalId" widgetVar="dialogInternal" resizable="false"
				width="600">
				<h:form id="internalForm">
					<h:panelGrid border="0" columns="2" style="width:100%">

						<h:outputText value="#{language.IncludeIntIso} :"></h:outputText>
						<p:selectBooleanCheckbox
							value="#{listOrderBean.selectedOrder.internal}"></p:selectBooleanCheckbox>
						<h:outputText value="#{language.Type} *:"></h:outputText>
						<p:selectOneMenu
							value="#{listOrderBean.selectedInternalIsolation.izolasyonSekli}"
							required="true" requiredMessage="#{language.RequiredMessage}"
							style="width: 140px">
							<p:ajax event="change" process="@this"
								update="standartSelectMenu"
								listener="#{listOrderBean.izolasyonSekliChanged}" />
							<f:selectItem itemValue="none" itemLabel="#{language.Select} ..."></f:selectItem>
							<c:forEach
								items="#{listOrderBean.config.config.pipe.coating.internal.types}"
								var="externalType">
								<f:selectItem itemValue="#{externalType.name}"
									itemLabel="#{externalType.description}"></f:selectItem>
							</c:forEach>
						</p:selectOneMenu>

						<h:outputText value="#{language.Standard} *:"></h:outputText>
						<p:selectOneMenu id="standartSelectMenu"
							value="#{listOrderBean.selectedInternalIsolation.standard}"
							required="true" requiredMessage="#{language.RequiredMessage}"
							style="width: 140px">
							<f:selectItem itemValue="none" itemLabel="#{language.Select} ..."></f:selectItem>
							<!-- <c:forEach
								items="#{listOrderBean.config.config.pipe.coating.standards}"
								var="externalSt">
								<f:selectItem itemValue="#{externalSt.acronym}"
									itemLabel="#{externalSt.description}"></f:selectItem>
							</c:forEach> -->

							<c:forEach items="#{listOrderBean.izolasyonStandartlariList}"
								var="internalSt">
								<f:selectItem itemValue="#{internalSt.acronym}"
									itemLabel="#{internalSt.description}"></f:selectItem>
							</c:forEach>

						</p:selectOneMenu>
						<!-- <h:outputText value="#{language.Type} *:"></h:outputText>
						<p:selectOneMenu
							value="#{listOrderBean.selectedInternalIsolation.izolasyonSekli}"
							required="true" requiredMessage="#{language.RequiredMessage}"
							style="width: 140px">
							<f:selectItem itemValue="none" itemLabel="#{language.Select} ..."></f:selectItem>
							<c:forEach
								items="#{listOrderBean.config.config.pipe.coating.external.types}"
								var="externalType">
								<f:selectItem itemValue="#{externalType.name}"
									itemLabel="#{externalType.description}"></f:selectItem>
							</c:forEach>
						</p:selectOneMenu>

						<h:outputText value="#{language.Standard} *:"></h:outputText>
						<p:selectOneMenu
							value="#{listOrderBean.selectedInternalIsolation.standard}"
							required="true" requiredMessage="#{language.RequiredMessage}"
							style="width: 140px">
							<f:selectItem itemValue="none" itemLabel="#{language.Select} ..."></f:selectItem>
							<c:forEach
								items="#{listOrderBean.config.config.pipe.coating.standards}"
								var="externalSt">
								<f:selectItem itemValue="#{externalSt.acronym}"
									itemLabel="#{externalSt.description}"></f:selectItem>
							</c:forEach>
						</p:selectOneMenu> -->



						<h:outputText value="#{language.Quality}"></h:outputText>
						<p:inputText maxlength="32"
							value="#{listOrderBean.selectedInternalIsolation.kalite}"></p:inputText>

						<h:outputText value="#{language.Color}"></h:outputText>
						<p:inputText maxlength="32"
							value="#{listOrderBean.selectedInternalIsolation.renk}"></p:inputText>

						<h:outputText value="#{language.BlastingSpec}"></h:outputText>
						<p:inputText maxlength="64"
							value="#{listOrderBean.selectedInternalIsolation.kumlamaSartlari}"></p:inputText>

						<h:outputText value="#{language.SurfaceProfile}"></h:outputText>
						<p:inputText maxlength="64"
							value="#{listOrderBean.selectedInternalIsolation.yuzeyProfili}"></p:inputText>

						<h:outputText value="#{language.SurfaceClean}"></h:outputText>
						<p:inputText maxlength="64"
							value="#{listOrderBean.selectedInternalIsolation.yuzeyTemizligi}"></p:inputText>

						<h:outputText value="#{language.AmbientConditions}"></h:outputText>
						<p:inputText maxlength="64"
							value="#{listOrderBean.selectedInternalIsolation.ortamSartlari}"></p:inputText>

						<h:outputText value="#{language.Note}"></h:outputText>
						<p:inputTextarea
							value="#{listOrderBean.selectedInternalIsolation.note}" rows="5"
							style="width:125px" maxLength="150" autoResize="false"
							maxHeight="5"></p:inputTextarea>
					</h:panelGrid>
					<p:dataTable id="datatableInternallLayer" var="layer"
						value="#{listOrderBean.selectedInternalIsolation.layers}"
						tableStyle="width:100%;" rows="15" dynamic="true"
						widgetVar="dataInternalLayer" rowKey="#{layer.layerId}"
						sortOrder="descending" selectionMode="single"
						selection="#{listOrderBean.selectedLayer}"
						paginatorTemplate="#{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
						<p:ajax event="rowSelect" update="dialogUpdateInternalLayerId"
							oncomplete="dialogUpdateInternalLayer.show();internalForm:dataInternalLayer.unselectAllRows();"
							process="internalForm" />
						<p:column headerText="Katman Numarası">
							<h:outputText value="#{layer.number}" />
						</p:column>
						<p:column headerText="İzolasyon Tipi">
							<h:outputText value="#{layer.type}" />
						</p:column>
						<p:column headerText="Min Kalınlık">
							<h:outputText value="#{layer.minKalinlik}" />
						</p:column>
						<p:column headerText="Nominal Kalınlık">
							<h:outputText value="#{layer.nomKalinlik}" />
						</p:column>
						<p:column headerText="Max Kalınlık">
							<h:outputText value="#{layer.maxKalinlik}" />
						</p:column>

						<f:facet name="footer">
							<p:commandButton id="buttonInternalLayerId"
								value="Yeni Katman Ekle" update="dialogInternalLayerId"
								oncomplete="dialogInternalLayer.show();" />
						</f:facet>
					</p:dataTable>
					<div style="float: right;">
						<p:commandButton id="dialogInternalSubmitButton" value="Kaydet"
							ajax="true" type="submit"
							update="listForm:datatableOrders dialogSelectedOrderId growl"
							oncomplete="if (!args.validationFailed){dialogInternal.hide();dialogSelectedOrder.show();}data.unselectAllRows();"
							process="internalForm"
							actionListener="#{listOrderBean.saveInternalIsolation}" />
						<p:commandButton id="dialogInternalCancelButton" value="İptal"
							onclick="dialogInternal.hide()" type="button" />
					</div>
				</h:form>
			</p:dialog>

			<p:dialog
				header="Sipariş No : #{listOrderBean.selectedOrder.orderYearAndOrderNumber} - Dış Kaplama Bilgileri"
				id="dialogExternalId" widgetVar="dialogExternal" resizable="false"
				width="600">
				<h:form id="externalForm">
					<h:panelGrid border="0" columns="2" style="width:100%">

						<h:outputText value="#{language.IncludeExtIso} :"></h:outputText>
						<p:selectBooleanCheckbox
							value="#{listOrderBean.selectedOrder.external}"></p:selectBooleanCheckbox>

						<h:outputText value="#{language.Type} *:"></h:outputText>
						<p:selectOneMenu
							value="#{listOrderBean.selectedExternalIsolation.izolasyonSekli}"
							required="true" requiredMessage="#{language.RequiredMessage}"
							style="width: 140px">
							<p:ajax event="change" process="@this"
								update="standartSelectMenu"
								listener="#{listOrderBean.izolasyonSekliChanged}" />
							<f:selectItem itemValue="none" itemLabel="#{language.Select} ..."></f:selectItem>
							<c:forEach
								items="#{listOrderBean.config.config.pipe.coating.external.types}"
								var="externalType">
								<f:selectItem itemValue="#{externalType.name}"
									itemLabel="#{externalType.description}"></f:selectItem>
							</c:forEach>
						</p:selectOneMenu>

						<h:outputText value="#{language.Standard} *:"></h:outputText>
						<p:selectOneMenu id="standartSelectMenu"
							value="#{listOrderBean.selectedExternalIsolation.standard}"
							required="true" requiredMessage="#{language.RequiredMessage}"
							style="width: 140px">
							<f:selectItem itemValue="none" itemLabel="#{language.Select} ..."></f:selectItem>
							<!-- <c:forEach
								items="#{listOrderBean.config.config.pipe.coating.standards}"
								var="externalSt">
								<f:selectItem itemValue="#{externalSt.acronym}"
									itemLabel="#{externalSt.description}"></f:selectItem>
							</c:forEach> -->

							<c:forEach items="#{listOrderBean.izolasyonStandartlariList}"
								var="externalSt">
								<f:selectItem itemValue="#{externalSt.acronym}"
									itemLabel="#{externalSt.description}"></f:selectItem>
							</c:forEach>

						</p:selectOneMenu>


						<h:outputText value="#{language.Quality}"></h:outputText>
						<p:inputText maxlength="32"
							value="#{listOrderBean.selectedExternalIsolation.kalite}"></p:inputText>

						<h:outputText value="#{language.Color}"></h:outputText>
						<p:inputText maxlength="32"
							value="#{listOrderBean.selectedExternalIsolation.renk}"></p:inputText>

						<h:outputText value="#{language.BlastingSpec}"></h:outputText>
						<p:inputText maxlength="64"
							value="#{listOrderBean.selectedExternalIsolation.kumlamaSartlari}"></p:inputText>

						<h:outputText value="#{language.SurfaceProfile}"></h:outputText>
						<p:inputText maxlength="64"
							value="#{listOrderBean.selectedExternalIsolation.yuzeyProfili}"></p:inputText>

						<h:outputText value="#{language.SurfaceClean}"></h:outputText>
						<p:inputText maxlength="64"
							value="#{listOrderBean.selectedExternalIsolation.yuzeyTemizligi}"></p:inputText>

						<h:outputText value="#{language.AmbientConditions}"></h:outputText>
						<p:inputText maxlength="64"
							value="#{listOrderBean.selectedExternalIsolation.ortamSartlari}"></p:inputText>

						<h:outputText value="#{language.Note}"></h:outputText>
						<p:inputTextarea
							value="#{listOrderBean.selectedExternalIsolation.note}" rows="5"
							style="width:125px" maxLength="150" autoResize="false"
							maxHeight="5"></p:inputTextarea>
					</h:panelGrid>

					<p:dataTable id="datatableExternalLayer" var="layer"
						value="#{listOrderBean.selectedExternalIsolation.layers}"
						tableStyle="width:100%;" rows="15" dynamic="true"
						widgetVar="dataExternalLayer" rowKey="#{layer.layerId}"
						sortOrder="descending" selectionMode="single"
						selection="#{listOrderBean.selectedLayer}"
						paginatorTemplate="#{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
						<p:ajax event="rowSelect" update="dialogUpdateExternalLayerId"
							oncomplete="dialogUpdateExternalLayer.show();externalForm:dataExternalLayer.unselectAllRows();"
							process="datatableExternalLayer" />
						<p:column headerText="Katman Numarası">
							<h:outputText value="#{layer.number}" />
						</p:column>
						<p:column headerText="İzolasyon Tipi">
							<h:outputText value="#{layer.type}" />
						</p:column>
						<p:column headerText="Min Kalınlık">
							<h:outputText value="#{layer.minKalinlik}" />
						</p:column>
						<p:column headerText="Nominal Kalınlık">
							<h:outputText value="#{layer.nomKalinlik}" />
						</p:column>
						<p:column headerText="Max Kalınlık">
							<h:outputText value="#{layer.maxKalinlik}" />
						</p:column>

						<f:facet name="footer">
							<p:commandButton id="buttonExternalLayerId"
								value="Yeni Katman Ekle" update="dialogExternalLayerId"
								oncomplete="dialogExternalLayer.show();" />
						</f:facet>
					</p:dataTable>
					<div style="float: right;">
						<p:commandButton id="dialogExternalSubmitButton" value="Kaydet"
							ajax="true" type="submit"
							update="listForm:datatableOrders dialogSelectedOrderId growl"
							oncomplete="if (!args.validationFailed){dialogExternal.hide();dialogSelectedOrder.show();}data.unselectAllRows();"
							process="externalForm"
							actionListener="#{listOrderBean.saveExternalIsolation}" />
						<p:commandButton id="dialogExternalCancelButton" value="İptal"
							onclick="dialogExternal.hide()" type="button" />
					</div>
				</h:form>
			</p:dialog>

			<p:dialog header="Katman Ekle" id="dialogExternalLayerId"
				widgetVar="dialogExternalLayer" resizable="false">
				<h:form id="formExternalLayer">
					<h:panelGrid border="0" columns="2" style="width:100%">

						<h:outputText value="Katman Numarası *" />
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.newLayer.number}" />

						<h:outputText value="İzolasyon Tipi *" />
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.newLayer.type}"></p:inputText>

						<h:outputText value="Min Kalınlık *"></h:outputText>
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.newLayer.minKalinlik}"></p:inputText>

						<h:outputText value="Nominal Kalınlık *"></h:outputText>
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.newLayer.nomKalinlik}"></p:inputText>

						<h:outputText value="Max Kalınlık *"></h:outputText>
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.newLayer.maxKalinlik}"></p:inputText>

					</h:panelGrid>
					<div style="float: right;">
						<p:commandButton value="Kaydet" ajax="true" type="submit"
							id="sadasd"
							update="datatableExternalLayer dialogExternalId growl"
							oncomplete="if (!args.validationFailed){dialogExternalLayer.hide();dialogExternal.show();}dataExternalLayer.unselectAllRows();"
							process="formExternalLayer"
							actionListener="#{listOrderBean.saveSelectedLayerExternal}" />
						<p:commandButton value="İptal"
							onclick="dialogExternalLayer.hide()" type="button" />
					</div>
				</h:form>
			</p:dialog>

			<p:dialog header="Katman Düzenle" id="dialogUpdateExternalLayerId"
				widgetVar="dialogUpdateExternalLayer" resizable="false">
				<h:form id="formUpdateExternalLayer">
					<h:panelGrid border="0" columns="2" style="width:100%">

						<h:outputText value="Katman Numarası *"></h:outputText>
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.selectedLayer.number}"></p:inputText>

						<h:outputText value="İzolasyon Tipi *"></h:outputText>
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.selectedLayer.type}"></p:inputText>

						<h:outputText value="Min Kal. *"></h:outputText>
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.selectedLayer.minKalinlik}"></p:inputText>

						<h:outputText value="Nominal Kal. *"></h:outputText>
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.selectedLayer.nomKalinlik}"></p:inputText>

						<h:outputText value="Max Kal. *"></h:outputText>
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.selectedLayer.maxKalinlik}"></p:inputText>
					</h:panelGrid>
					<div style="float: right;">
						<p:commandButton value="Kaydet" ajax="true" type="submit"
							id="sadasd1"
							update="datatableExternalLayer dialogExternalId growl"
							oncomplete="if (!args.validationFailed){dialogExternalLayer.hide();dialogExternal.show();}"
							process="formUpdateExternalLayer"
							actionListener="#{listOrderBean.updateSelectedLayerExternal}" />
						<p:commandButton value="Sil" ajax="true" type="submit"
							id="sadasd123123"
							update="dialogUpdateExternalLayerId dialogExternalId growl"
							oncomplete="if (!args.validationFailed){dialogUpdateExternalLayer.hide();dialogExternal.show();}dataExternalLayer.unselectAllRows();"
							process="formUpdateExternalLayer"
							actionListener="#{listOrderBean.deleteSelectedLayerExternal}" />
						<p:commandButton value="İptal"
							onclick="dialogUpdateExternalLayer.hide()" type="button" />
					</div>
				</h:form>
			</p:dialog>

			<p:dialog header="Katman Ekle" id="dialogInternalLayerId"
				widgetVar="dialogInternalLayer" resizable="false">
				<h:form id="formInternalLayer">
					<h:panelGrid border="0" columns="2" style="width:100%">

						<h:outputText value="Katman Numarası *"></h:outputText>
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.newLayer.number}"></p:inputText>

						<h:outputText value="İzolasyon Tipi *"></h:outputText>
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.newLayer.type}"></p:inputText>

						<h:outputText value="Min Kalınlık *"></h:outputText>
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.newLayer.minKalinlik}"></p:inputText>

						<h:outputText value="Nominal Kalınlık *"></h:outputText>
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.newLayer.nomKalinlik}"></p:inputText>

						<h:outputText value="Max Kalınlık *"></h:outputText>
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.newLayer.maxKalinlik}"></p:inputText>

					</h:panelGrid>
					<div style="float: right;">
						<p:commandButton value="Kaydet" ajax="true" type="submit"
							update="datatableInternalLayer dialogInternalId growl"
							oncomplete="if (!args.validationFailed){dialogInternalLayer.hide();dialogInternal.show();}dataInternalLayer.unselectAllRows();"
							process="formInternalLayer"
							actionListener="#{listOrderBean.saveSelectedLayerInternal}" />
						<p:commandButton value="İptal"
							onclick="dialogInternalLayer.hide()" type="button" />
					</div>
				</h:form>
			</p:dialog>

			<p:dialog header="Katman Düzenle" id="dialogUpdateInternalLayerId"
				widgetVar="dialogUpdateInternalLayer" resizable="false">
				<h:form id="formUpdateInternalLayer">
					<h:panelGrid border="0" columns="2" style="width:100%">
						<h:outputText value="Katman Numarası *"></h:outputText>
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.selectedLayer.number}"></p:inputText>

						<h:outputText value="İzolasyon Tipi *"></h:outputText>
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.selectedLayer.type}"></p:inputText>

						<h:outputText value="Min Kal. *"></h:outputText>
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.selectedLayer.minKalinlik}"></p:inputText>

						<h:outputText value="Nominal Kal. *"></h:outputText>
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.selectedLayer.nomKalinlik}"></p:inputText>

						<h:outputText value="Max Kal. *"></h:outputText>
						<p:inputText maxlength="32"
							requiredMessage="#{language.RequiredMessage}" required="true"
							value="#{listOrderBean.selectedLayer.maxKalinlik}"></p:inputText>
					</h:panelGrid>
					<div style="float: right;">
						<p:commandButton value="Kaydet" ajax="true" type="submit"
							update="datatableInternalLayer dialogInternalId growl"
							oncomplete="if (!args.validationFailed){dialogInternalLayer.hide();dialogInternal.show();}"
							process="formUpdateInternalLayer"
							actionListener="#{listOrderBean.updateSelectedLayerInternal}" />
						<p:commandButton value="Sil" ajax="true" type="submit"
							update="dialogInternalId growl"
							oncomplete="dialogUpdateInternalLayer.hide();dialogInternal.show();"
							process="formUpdateInternalLayer"
							actionListener="#{listOrderBean.deleteSelectedLayerInternal}" />
						<p:commandButton value="İptal"
							onclick="dialogUpdateInternalLayer.hide()" type="button" />
					</div>
				</h:form>
			</p:dialog>
			<p:growl id="growl" showDetail="true" sticky="true" />
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>