<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">
				<!-- tab of the COMPANY LIST -->
				<p:tab id="companyTab" title="#{language.Customer}">
					<p:dataTable var="company" id="companyListDataTableId"
						widgetVar="companyListDataTableWidget"
						rowKey="#{company.customerId}" dblClickSelect="false"
						value="#{customerListBean.customers}" paginator="true" rows="20"
						selection="#{manageOrderBean.selectedCustomer}"
						emptyMessage="#{language.EmptyMessage}" selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect" listener="#{manageOrderBean.loadOrders}"
							process="companyListDataTableId">
						</p:ajax>
						<p:ajax event="rowSelect"
							update="orderAccordionPanelId orderDetailsPanelId">
						</p:ajax>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{company.name}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.BusinessId}"></h:outputText>
							</f:facet>
							<h:outputText value="#{company.businessId}"></h:outputText>
						</p:column>
					</p:dataTable>
				</p:tab>

				<!-- tab of the ORDER ITEMS LIST -->
				<p:tab id="orderTab" title="#{language.Order}">
					<p:dataTable var="order" id="itemListDataTableId"
						dblClickSelect="false" widgetVar="itemListDataTableWidget"
						value="#{manageOrderBean.orders}" paginator="true" rows="20"
						selection="#{manageOrderBean.selectedOrder}"
						selectionMode="single" rowKey="#{order.orderId}"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">
						<p:ajax event="rowSelect" process="itemListDataTableId"
							listener="#{manageOrderBean.loadAllocatedMaterials}"
							update="orderDetailsPanelId"></p:ajax>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Id}"></h:outputText>
							</f:facet>
							<h:outputText value="#{order.orderYear}/ #{order.orderNumber}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.PreparedBy}"></h:outputText>
							</f:facet>
							<h:outputText value="#{order.username}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Dimensions}"></h:outputText>
							</f:facet>
							<h:outputText value="#{order.etKalinligi}x #{order.disCap}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.StartDate}"></h:outputText>
							</f:facet>
							<p:calendar disabled="true" value="#{order.startDate}"
								pattern="#{userCredentialsBean.dateFormat}"></p:calendar>
						</p:column>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
		</ui:define>

		<!-- ORDER ITEM VIEW -->
		<ui:define name="showPanel">

			<p:panel header="#{language.Order} #{language.details}"
				id="orderDetailsPanelId">
				<p:toolbar rendered="#{manageOrderBean.selectedOrder.orderId > 0}">
					<p:toolbarGroup align="left">
						<p:commandButton value="#{language.Allocate} #{language.Coil}"
							actionListener="#{availRuloBean.loadAvailableRulos}"
							oncomplete="allocateCoilDialogWidget.show()"
							update="allocateCoilPanelId" process="@this" />

						<p:commandButton
							value="#{language.Allocate} #{language.Electrode}"
							actionListener="#{availElectrodeBean.loadAvailableElectrodes}"
							oncomplete="allocateElectrodeDialogWidget.show()"
							update="allocateElectrodePanelId" process="@this" />

						<p:commandButton value="#{language.Allocate} #{language.Dust}"
							actionListener="#{availDustBean.loadAvailableDusts}"
							oncomplete="allocateDustDialogWidget.show()"
							update="allocateDustPanelId" process="@this" />

						<p:commandButton value="#{language.Allocate} #{language.Wire}"
							actionListener="#{availWireBean.loadAvailableWires}"
							oncomplete="allocateWireDialogWidget.show()"
							update="allocateWirePanelId" process="@this" />
					</p:toolbarGroup>
				</p:toolbar>

				<p:panel style="width:100%" id="orderInfoPanelId">
					<h:panelGrid border="0" columns="4" cellspacing="5"
						style="width:100%">
						<h:outputLabel value="#{language.Company}: " />
						<p:inputText readonly="true"
							value="#{manageOrderBean.selectedCustomer.name}"></p:inputText>

						<h:outputLabel value="#{language.QualityPlan}: " />
						<p:inputText readonly="true"
							value="#{manageOrderBean.selectedOrder.kalite}"></p:inputText>

						<h:outputLabel value="#{language.Ordernumber}: " />
						<p:inputText readonly="true" id="orderDateInputTextId"
							style="font-size:20pt; width: 150px"
							value="#{manageOrderBean.selectedOrder.orderYear}/ #{manageOrderBean.selectedOrder.orderNumber}"></p:inputText>

						<h:outputLabel value="#{language.Status}: " />
						<p:selectOneMenu disabled="true"
							value="#{manageOrderBean.selectedOrder.statusId}"
							style="width: 140px">
							<c:forEach items="#{manageOrderBean.config.config.order.status}"
								var="st">
								<f:selectItem itemValue="#{st.id}" itemLabel="#{st.displayName}"></f:selectItem>
							</c:forEach>
						</p:selectOneMenu>
					</h:panelGrid>
				</p:panel>

				<!-- manufacturing part of the order item -->
				<p:panel style="width:100%" id="manufacturingPanelId"
					header="#{language.ManufacturingSection}" toggleable="true">
					<h:panelGrid border="0" columns="2" style="width:100%"
						id="manufacturingPanelGridId">
						<h:outputText value="#{language.Type} *: "></h:outputText>
						<p:inputText readonly="true"
							value="#{manageOrderBean.selectedOrder.pipeType}">
						</p:inputText>

						<h:outputText value="#{language.ExternalDiameter}(mm) *: "></h:outputText>
						<p:inputText id="externalDiameterTextInputId" readonly="true"
							value="#{manageOrderBean.selectedOrder.disCap}">
						</p:inputText>

						<h:outputText value="#{language.WallThickness}(mm) *: "></h:outputText>
						<p:inputText id="wallThicknessTextInputId" readonly="true"
							value="#{manageOrderBean.selectedOrder.etKalinligi}">
						</p:inputText>

						<h:outputText value="#{language.Amount}(m) *: "></h:outputText>
						<p:inputText id="amountTextInputId" readonly="true"
							value="#{manageOrderBean.selectedOrder.miktar}">
						</p:inputText>

						<h:outputText value="#{language.Quality} *: "></h:outputText>
						<p:inputText id="qualityTextInputId" readonly="true"
							value="#{manageOrderBean.selectedOrder.kalite}">
						</p:inputText>

						<h:outputText value="#{language.Length}(m) *: "></h:outputText>
						<p:inputText id="lengthTextInputId" readonly="true"
							value="#{manageOrderBean.selectedOrder.boy}">
						</p:inputText>

						<h:outputText value="#{language.TestPressure}(bar) :"></h:outputText>
						<p:inputText id="testPressureTextInputId" readonly="true"
							value="#{manageOrderBean.selectedOrder.isletmeBasinci}"></p:inputText>

						<h:outputText
							value="#{language.EstimatedDuration} (#{language.days}) :"></h:outputText>
						<p:inputText id="estimateedDurationTextInputId" readonly="true"
							value="#{manageOrderBean.selectedOrder.estimatedDurationTime}"></p:inputText>

						<h:outputText value="#{language.StartDate} (gg/aa/yyyy):"></h:outputText>
						<p:calendar mode="popup" autocomplete="false" readonly="true"
							pattern="#{userCredentialsBean.dateFormat}"
							value="#{manageOrderBean.selectedOrder.startDate}"></p:calendar>

						<h:outputText value="#{language.EndDate} (gg/aa/yyyy):"></h:outputText>
						<p:calendar mode="popup" autocomplete="false" readonly="true"
							value="#{manageOrderBean.selectedOrder.endDate}"
							pattern="#{userCredentialsBean.dateFormat}"></p:calendar>

						<h:outputText value="#{language.Note} :"></h:outputText>
						<p:inputTextarea id="noteTextInputId" autoResize="false"
							style="width:125px" readonly="true" rows="5"
							value="#{manageOrderBean.selectedOrder.note}"></p:inputTextarea>
					</h:panelGrid>
					<h:panelGrid border="0" columns="5" cellspacing="5">
						<p:commandLink title="#{language.ChangeStatus}"
							update="statusPanelId"
							disabled="#{manageOrderBean.selectedOrder.orderId == 0}"
							oncomplete="statusDialogWidget.show()" process="@this">
							<p:graphicImage value="/large_icons/change_status.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>

						<p:commandLink title="#{language.Delete}"
							update="deleteOrderPanelId"
							disabled="#{manageOrderBean.selectedOrder.orderId == 0}"
							oncomplete="deleteOrderDialogWidget.show()" process="@this">
							<p:graphicImage value="/large_icons/delete.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>

				</p:panel>

				<!-- Internal coating part of the order -->
				<p:panel style="width:100%" id="internalCoatingPanelId"
					header="#{language.InternalCoatingSection}" toggleable="true">
					<h:panelGrid border="0" columns="2" style="width:100%">
						<h:outputText value="#{language.Standard} :"></h:outputText>
						<p:inputText maxlength="32" readonly="true"
							value="#{manageOrderBean.selectedOrder.internalIsolation.standard}"></p:inputText>

						<h:outputText value="#{language.IzolationType} :"></h:outputText>
						<p:inputText maxlength="32" readonly="true"
							value="#{manageOrderBean.selectedOrder.internalIsolation.izolasyonSekli}"></p:inputText>

						<h:outputText value="#{language.Quality}"></h:outputText>
						<p:inputText maxlength="32" readonly="true"
							value="#{manageOrderBean.selectedOrder.internalIsolation.kalite}"></p:inputText>

						<h:outputText value="#{language.Color}"></h:outputText>
						<p:inputText maxlength="32" readonly="true"
							value="#{manageOrderBean.selectedOrder.internalIsolation.renk}"></p:inputText>

						<h:outputText value="#{language.BlastingSpec}"></h:outputText>
						<p:inputText maxlength="64" readonly="true"
							value="#{manageOrderBean.selectedOrder.internalIsolation.kumlamaSartlari}"></p:inputText>

						<h:outputText value="#{language.SurfaceProfile}"></h:outputText>
						<p:inputText maxlength="64" readonly="true"
							value="#{manageOrderBean.selectedOrder.internalIsolation.yuzeyProfili}"></p:inputText>

						<h:outputText value="#{language.SurfaceClean}"></h:outputText>
						<p:inputText maxlength="64" readonly="true"
							value="#{manageOrderBean.selectedOrder.internalIsolation.yuzeyTemizligi}"></p:inputText>

						<h:outputText value="#{language.AmbientConditions}"></h:outputText>
						<p:inputText maxlength="64" readonly="true"
							value="#{manageOrderBean.selectedOrder.internalIsolation.ortamSartlari}"></p:inputText>

						<h:outputText value="#{language.Note}"></h:outputText>
						<p:inputTextarea
							value="#{manageOrderBean.selectedOrder.internalIsolation.note}"
							rows="5" style="width:125px" maxLength="150" autoResize="false"
							maxHeight="5" readonly="true"></p:inputTextarea>
					</h:panelGrid>

					<p:dataGrid id="inLayerGridId" var="inLayer"
						widgetVar="inLayerGridWidget"
						value="#{manageOrderBean.selectedOrder.internalIsolation.layers}"
						columns="3" rows="2" paginator="true" effect="true"
						paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} ">
						<p:column>
							<p:panel header="#{language.HydrostaticTest}" toggleable="true"
								closable="false">
								<h:panelGrid border="0" columns="4" style="width:100%">
									<h:outputText value="#{language.Number}: "></h:outputText>
									<h:outputText value="#{inLayer.number}"></h:outputText>

									<h:outputText value="#{language.Type}: "></h:outputText>
									<p:selectOneMenu value="#{inLayer.type}" required="true"
										requiredMessage="#{language.RequiredMessage}"
										style="width: 140px">
										<c:forEach
											items="#{qualitySpecBean.config.config.pipe.coating.internal.types}"
											var="internalType">
											<f:selectItem itemValue="#{internalType.name}"
												itemLabel="#{internalType.description}"></f:selectItem>
										</c:forEach>
									</p:selectOneMenu>

									<h:outputText value="#{language.MinThickness}: "></h:outputText>
									<h:outputText value="#{inLayer.minKalinlik}"></h:outputText>

									<h:outputText value="#{language.NomThickness}: "></h:outputText>
									<h:outputText value="#{inLayer.nomKalinlik}"></h:outputText>

									<h:outputText value="#{language.MaxThickness}: "></h:outputText>
									<h:outputText value="#{inLayer.maxKalinlik}"></h:outputText>
								</h:panelGrid>

								<h:panelGrid border="0" columns="4" style="width:100%">
									<p:commandLink process="@this inLayerGridId"
										title="#{language.Delete}" update="inCoatingPanelId"
										action="#{qualitySpecBean.deleteLayer(inLayer)}">
										<p:graphicImage value="/large_icons/delete.png"
											style="border:0px"></p:graphicImage>
									</p:commandLink>
								</h:panelGrid>
							</p:panel>
						</p:column>
					</p:dataGrid>

				</p:panel>

				<!-- External coating part of the order -->
				<p:panel style="width:100%" id="externalCoatingPanelId"
					header="#{language.ExternalCoatingSection}" toggleable="true">
					<h:panelGrid border="0" columns="2" style="width:100%">
						<h:outputText value="#{language.Standard} :"></h:outputText>
						<p:inputText maxlength="32" readonly="true"
							value="#{manageOrderBean.selectedOrder.externalIsolation.standard}"></p:inputText>

						<h:outputText value="#{language.IzolationType} :"></h:outputText>
						<p:inputText maxlength="32" readonly="true"
							value="#{manageOrderBean.selectedOrder.externalIsolation.izolasyonSekli}"></p:inputText>

						<h:outputText value="#{language.Quality}"></h:outputText>
						<p:inputText maxlength="32" readonly="true"
							value="#{manageOrderBean.selectedOrder.externalIsolation.kalite}"></p:inputText>

						<h:outputText value="#{language.Color}"></h:outputText>
						<p:inputText maxlength="32" readonly="true"
							value="#{manageOrderBean.selectedOrder.externalIsolation.renk}"></p:inputText>

						<h:outputText value="#{language.BlastingSpec}"></h:outputText>
						<p:inputText maxlength="64" readonly="true"
							value="#{manageOrderBean.selectedOrder.externalIsolation.kumlamaSartlari}"></p:inputText>

						<h:outputText value="#{language.SurfaceProfile}"></h:outputText>
						<p:inputText maxlength="64" readonly="true"
							value="#{manageOrderBean.selectedOrder.externalIsolation.yuzeyProfili}"></p:inputText>

						<h:outputText value="#{language.SurfaceClean}"></h:outputText>
						<p:inputText maxlength="64" readonly="true"
							value="#{manageOrderBean.selectedOrder.externalIsolation.yuzeyTemizligi}"></p:inputText>

						<h:outputText value="#{language.AmbientConditions}"></h:outputText>
						<p:inputText maxlength="64" readonly="true"
							value="#{manageOrderBean.selectedOrder.externalIsolation.ortamSartlari}"></p:inputText>

						<h:outputText value="#{language.Note}"></h:outputText>
						<p:inputTextarea
							value="#{manageOrderBean.selectedOrder.externalIsolation.note}"
							rows="5" style="width:125px" maxLength="150" autoResize="false"
							maxHeight="5" readonly="true"></p:inputTextarea>
					</h:panelGrid>

					<p:dataGrid id="outLayerGridId" var="outLayer"
						widgetVar="outLayerGridWidget"
						value="#{manageOrderBean.selectedOrder.externalIsolation.layers}"
						columns="3" rows="2" paginator="true" effect="true"
						paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} ">
						<p:column>
							<p:panel header="#{language.Layers}" toggleable="true"
								closable="false">
								<h:panelGrid border="0" columns="4" style="width:100%">
									<h:outputText value="#{language.Number}: "></h:outputText>
									<h:outputText value="#{outLayer.number}"></h:outputText>

									<h:outputText value="#{language.Type}: "></h:outputText>
									<p:selectOneMenu value="#{outLayer.type}" required="true"
										requiredMessage="#{language.RequiredMessage}"
										style="width: 140px">
										<c:forEach
											items="#{qualitySpecBean.config.config.pipe.coating.external.types}"
											var="externalType">
											<f:selectItem itemValue="#{externalType.name}"
												itemLabel="#{externalType.description}"></f:selectItem>
										</c:forEach>
									</p:selectOneMenu>

									<h:outputText value="#{language.MinThickness}: "></h:outputText>
									<h:outputText value="#{outLayer.minKalinlik}"></h:outputText>

									<h:outputText value="#{language.NomThickness}: "></h:outputText>
									<h:outputText value="#{outLayer.nomKalinlik}"></h:outputText>

									<h:outputText value="#{language.MaxThickness}: "></h:outputText>
									<h:outputText value="#{outLayer.maxKalinlik}"></h:outputText>
								</h:panelGrid>

								<h:panelGrid border="0" columns="4" style="width:100%">
									<p:commandLink process="@this outLayerGridId"
										title="#{language.Delete}"
										update="outLayerGridId outCoatingPanelId"
										action="#{qualitySpecBean.deleteLayer(outLayer)}">
										<p:graphicImage value="/large_icons/delete.png"
											style="border:0px"></p:graphicImage>
									</p:commandLink>
								</h:panelGrid>
							</p:panel>
						</p:column>
					</p:dataGrid>
				</p:panel>

			</p:panel>

			<h:panelGrid id="allPanelGridId">
				<!-- Delete order confirm dialog  -->
				<p:dialog draggable="true" closable="true" resizable="false"
					dynamic="true" maximizable="true" header="#{language.Delete}"
					id="deleteOrderDialogId" widgetVar="deleteOrderDialogWidget">
					<p:panel id="deleteOrderPanelId"
						header="#{language.Order}: #{manageOrderBean.selectedOrder.orderYear}/ #{manageOrderBean.selectedOrder.orderNumber}"
						closable="false" toggleable="true" style="min-width:500px"
						visible="true">
						<h:panelGrid border="0" columns="5" style="width:100%">
							<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
						</h:panelGrid>
						<p:commandLink title="#{language.Submit}"
							actionListener="#{manageOrderBean.deleteOrder}"
							update="itemListDataTableId deleteOrderPanelId" process="@this">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink title="#{language.Cancel}" immediate="true"
							onclick="deleteOrderDialogWidget.hide()" process="@this">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:messages></p:messages>
					</p:panel>
				</p:dialog>

				<!-- CHANGE ORDER STATUS -->
				<p:dialog draggable="true" closable="true" resizable="false"
					dynamic="true" maximizable="true" header="#{language.ChangeStatus}"
					id="statusDialogId" widgetVar="statusDialogWidget">
					<p:panel id="statusPanelId"
						header="#{language.Order}: #{manageOrderBean.selectedOrder.orderYear}/ #{manageOrderBean.selectedOrder.orderNumber}"
						closable="false" toggleable="true" style="min-width:500px"
						visible="true">
						<h:panelGrid border="0" columns="2" style="width:100%">
							<h:outputText value="#{language.Status}"></h:outputText>
							<p:selectOneMenu
								value="#{manageOrderBean.selectedOrder.statusId}"
								style="width: 220px">
								<f:selectItems var="status" itemValue="#{status.id}"
									itemLabel="#{status.displayName} (#{status.description})"
									value="#{manageOrderBean.config.config.order.status}"></f:selectItems>
							</p:selectOneMenu>
						</h:panelGrid>

						<p:commandLink title="#{language.Submit}"
							actionListener="#{manageOrderBean.changeStatus}"
							update="itemListDataTableId statusPanelId" process="@this">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink title="#{language.Cancel}" immediate="true"
							onclick="statusDialogWidget.hide()" process="@this">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:messages></p:messages>
					</p:panel>
				</p:dialog>

				<!-- CHEMICAL REQUIREMENTS SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" dynamic="true"
					header="#{language.ChemicalRequirements}"
					id="chemicalRequirementsDialogId"
					widgetVar="chemicalRequirementsDialogWidget">
					<p:panel style="min-width:600px" id="chemicalRequirementsPanelId"
						header="#{language.Order}: #{manageOrderBean.selectedOrder.orderYear}/ #{manageOrderBean.selectedOrder.orderNumber}">
						<h:panelGrid border="0" columns="4" style="width:100%">
							<h:outputText value="C (%): "></h:outputText>
							<p:inputText value="#{manageOrderBean.chemicalRequirements.c}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="Si (%): "></h:outputText>
							<p:inputText value="#{manageOrderBean.chemicalRequirements.si}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="Mn (%): "></h:outputText>
							<p:inputText value="#{manageOrderBean.chemicalRequirements.mn}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="P (%): "></h:outputText>
							<p:inputText value="#{manageOrderBean.chemicalRequirements.p}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="S (%): "></h:outputText>
							<p:inputText value="#{manageOrderBean.chemicalRequirements.s}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="Cr (%): "></h:outputText>
							<p:inputText value="#{manageOrderBean.chemicalRequirements.cr}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="Ni (%): "></h:outputText>
							<p:inputText value="#{manageOrderBean.chemicalRequirements.mo}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="Mo (%): "></h:outputText>
							<p:inputText value="#{manageOrderBean.chemicalRequirements.mo}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="Cu (%): "></h:outputText>
							<p:inputText value="#{manageOrderBean.chemicalRequirements.cu}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="Al (%): "></h:outputText>
							<p:inputText value="#{manageOrderBean.chemicalRequirements.al}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="Ti (%): "></h:outputText>
							<p:inputText value="#{manageOrderBean.chemicalRequirements.ti}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="V (%): "></h:outputText>
							<p:inputText value="#{manageOrderBean.chemicalRequirements.v}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="Nb (%): "></h:outputText>
							<p:inputText value="#{manageOrderBean.chemicalRequirements.nb}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="B (%): "></h:outputText>
							<p:inputText value="#{manageOrderBean.chemicalRequirements.b}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="Co (%): "></h:outputText>
							<p:inputText value="#{manageOrderBean.chemicalRequirements.co}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="Ce (%): "></h:outputText>
							<p:inputText value="#{manageOrderBean.chemicalRequirements.ce}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="N (%): "></h:outputText>
							<p:inputText value="#{manageOrderBean.chemicalRequirements.n}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="#{language.Date} (gg/aa/yyyy): "></h:outputText>
							<p:calendar mode="popup" autocomplete="false" showOn="button"
								pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
								required="true" requiredMessage="#{language.RequiredMessage}"
								value="#{manageOrderBean.chemicalRequirements.date}"></p:calendar>

							<h:outputText value="#{language.Note} *: "></h:outputText>
							<p:inputTextarea rows="5" style="width:125px"
								converterMessage="#{language.nbLayersConverterError}"
								autoResize="false"
								value="#{manageOrderBean.chemicalRequirements.note}">
							</p:inputTextarea>
						</h:panelGrid>

						<!-- PANEL GRID section. -->
						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandLink title="#{language.Submit}"
								update="chemicalRequirementsMessages chemicalRequirementsPanelId completionPanelId"
								process="@this chemicalRequirementsPanelId"
								actionListener="#{manageOrderBean.submitChemicalRequirements}">
								<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink
								update="chemicalRequirementsMessages chemicalRequirementsPanelId completionPanelId"
								process="@this" title="#{language.Delete}"
								actionListener="#{manageOrderBean.deleteChemicalRequirements}">
								<p:graphicImage value="/large_icons/delete.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink
								update="chemicalRequirementsPanelId chemicalRequirementsMessages"
								process="@this" title="#{language.Cancel}"
								onclick="chemicalRequirementsDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
					</p:panel>
					<p:messages id="chemicalRequirementsMessages"></p:messages>
				</p:dialog>

				<!-- ALLOCATE COILS SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" dynamic="true" header="#{language.Allocate}"
					id="allocateCoilDialogId" widgetVar="allocateCoilDialogWidget">
					<p:panel style="min-width:700px" id="allocateCoilPanelId"
						header="#{language.Order}: #{manageOrderBean.selectedOrder.orderYear}/ #{manageOrderBean.selectedOrder.orderNumber}">
						<!--  AVAILABLE COILS FOR ALLOCATION -->
						<p:dataTable var="availRulo"
							rowKey="#{availRulo.ruloYil}/ #{availRulo.ruloId} - #{availRulo.ruloKimlikId}"
							id="availCoilsDataTableId"
							emptyMessage="#{language.EmptyMessage}"
							value="#{availRuloBean.availableRulos}" paginator="true"
							rows="20" selectionMode="single" dblClickSelect="false"
							selection="#{manageOrderBean.allocatedMaterials.selectedRulo}"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

							<p:ajax event="rowSelect" process="@this allocateCoilPanelId"
								listener="#{manageOrderBean.allocateRulo}"
								update="allocateCoilPanelId"></p:ajax>
							<p:ajax event="rowSelect" process="@this allocateCoilPanelId"
								update="allocateCoilPanelId"></p:ajax>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Coil} #{language.id}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{availRulo.ruloYil}/ #{availRulo.ruloId} - #{availRulo.ruloKimlikId}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.BobinNumber}"></h:outputText>
								</f:facet>
								<h:outputText value="#{availRulo.ruloBobinNo}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Dimensions}"></h:outputText>
								</f:facet>
								<h:outputText value="BOŞ-WiDTH x BOŞ-ÇAP"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.RemainingAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="BOŞ-KALAN MİKTAR"></h:outputText>
							</p:column>

							<p:column sortBy="#{recentRulo.ruloDokumNo}">
								<f:facet name="header">
									<h:outputText value="#{language.HeatNumber}"></h:outputText>
								</f:facet>
								<h:outputText value="#{availRulo.ruloDokumNo}"></h:outputText>
							</p:column>

							<f:facet name="header">
								<h:outputText value="#{language.Available} #{language.Coil}"></h:outputText>
							</f:facet>
						</p:dataTable>

						<!-- ALLOCATED COILS FOR THE SELECTED ORDER -->
						<p:dataGrid id="allocatedCoilDataGridId" var="allocatedRulo"
							widgetVar="allocatedCoilDataGridWidget"
							value="#{manageOrderBean.allocatedMaterials.rulos}" columns="2"
							rows="6" paginator="true" effect="true"
							paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} ">
							<p:column>
								<p:panel header="#{language.AllocatedCoils} " closable="false">
									<h:panelGrid border="0" columns="4" style="width:100%"
										cellspacing="5">
										<h:outputText value="#{language.Id} *: "></h:outputText>
										<h:outputText
											value="#{allocatedRulo.ruloYil}/ #{allocatedRulo.ruloId} - #{allocatedRulo.ruloKimlikId}"></h:outputText>

										<h:outputText value="#{language.BobinNumber}"></h:outputText>
										<h:outputText value="#{allocatedRulo.ruloBobinNo}"></h:outputText>

										<h:outputText value="#{language.HeatNumber}"></h:outputText>
										<h:outputText value="#{allocatedRulo.ruloDokumNo}"></h:outputText>

										<h:outputText value="#{language.Quality}"></h:outputText>
										<h:outputText value="#{allocatedRulo.ruloKalite}"></h:outputText>

										<h:outputText value="#{language.Dimensions}"></h:outputText>
										<h:outputText value="BOŞ-WIDTH x BOŞ-ÇAP"></h:outputText>

										<h:outputText value="#{language.InitialAmount}"></h:outputText>
										<h:outputText value="BOŞ-İLK MİKTAR"></h:outputText>

										<h:outputText value="#{language.RemainingAmount}"></h:outputText>
										<h:outputText value="BOŞ-KALAN MİKTAR"></h:outputText>
									</h:panelGrid>

									<h:panelGrid border="0" columns="4" style="width:100%">
										<p:commandLink process="@this" immediate="true"
											title="#{language.Delete}" update="allocateCoilPanelId"
											action="#{manageOrderBean.removeAllocatedRulo(allocatedRulo)}">
											<p:graphicImage value="/large_icons/delete.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
									</h:panelGrid>
								</p:panel>
							</p:column>
						</p:dataGrid>
					</p:panel>
				</p:dialog>

				<!-- ALLOCATE ELECTRODES SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" dynamic="true" header="#{language.Allocate}"
					id="allocateElectrodeDialogId"
					widgetVar="allocateElectrodeDialogWidget">
					<p:panel style="min-width:700px" id="allocateElectrodePanelId"
						header="#{language.Order}: #{manageOrderBean.selectedOrder.orderYear}/ #{manageOrderBean.selectedOrder.orderNumber}">
						<!--  AVAILABLE ELECTRODES FOR ALLOCATION -->
						<p:dataTable var="availableelectrode"
							emptyMessage="#{language.EmptyMessage}" dblClickSelect="false"
							rowKey="#{availableelectrode.electrodeDustWireId}"
							value="#{availElectrodeBean.availableElectrodes}"
							paginator="true" rows="20"
							selection="#{manageOrderBean.allocatedMaterials.selectedEdw}"
							selectionMode="single"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

							<p:ajax event="rowSelect"
								process="@this allocateElectrodePanelId"
								listener="#{manageOrderBean.allocateEdw}"
								update="allocateElectrodePanelId"></p:ajax>
							<p:ajax event="rowSelect"
								process="@this allocateElectrodePanelId"
								update="allocateElectrodePanelId"></p:ajax>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.PartNumber}"></h:outputText>
								</f:facet>
								<h:outputText value="#{availableelectrode.partNumber}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Date}"></h:outputText>
								</f:facet>
								<p:calendar mode="popup" autocomplete="false" disabled="true"
									pattern="#{userCredentialsBean.dateFormat}"
									value="#{availableelectrode.entranceDate}"></p:calendar>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.RemainingAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{availableelectrode.remainingAmount}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Quality}"></h:outputText>
								</f:facet>
								<h:outputText value="#{availableelectrode.kalite}"></h:outputText>
							</p:column>
						</p:dataTable>

						<!-- ALLOCATED ELECTRODES FOR THE SELECTED ORDER -->
						<p:dataGrid var="allocatedElectrode"
							value="#{manageOrderBean.allocatedMaterials.electrodes}"
							columns="2" rows="6" paginator="true" effect="true"
							paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} ">
							<p:column>
								<p:panel header="#{language.AllocatedElectrodes} "
									closable="false">
									<h:panelGrid border="0" columns="4" style="width:100%"
										cellspacing="5">
										<h:outputText value="#{language.Amount} (kg): "></h:outputText>
										<h:outputText value="#{allocatedElectrode.remainingAmount}"></h:outputText>

										<h:outputText value="#{language.TradeName} : "></h:outputText>
										<h:outputText value="#{allocatedElectrode.tradeName}"></h:outputText>

										<h:outputText value="#{language.PartNumber} *: "></h:outputText>
										<h:outputText value="#{allocatedElectrode.partNumber}"></h:outputText>

										<h:outputText value="#{language.Type} : "></h:outputText>
										<h:outputText value="#{allocatedElectrode.cinsi}"></h:outputText>

										<h:outputText value="#{language.Quality} : "></h:outputText>
										<h:outputText value="#{allocatedElectrode.kalite}"></h:outputText>

										<h:outputText value="#{language.Location}: "></h:outputText>
										<h:outputText value="#{allocatedElectrode.location}"></h:outputText>
									</h:panelGrid>

									<h:panelGrid border="0" columns="4" style="width:100%">
										<p:commandLink process="@this" immediate="true"
											title="#{language.Delete}" update="allocateElectrodePanelId"
											action="#{manageOrderBean.removeAllocatedEdw(allocatedElectrode)}">
											<p:graphicImage value="/large_icons/delete.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
									</h:panelGrid>
								</p:panel>
							</p:column>
						</p:dataGrid>
					</p:panel>
				</p:dialog>

				<!-- ALLOCATE DUST SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" dynamic="true" header="#{language.Allocate}"
					id="allocateDustDialogId" widgetVar="allocateDustDialogWidget">
					<p:panel style="min-width:700px" id="allocateDustPanelId"
						header="#{language.Order}: #{manageOrderBean.selectedOrder.orderYear}/ #{manageOrderBean.selectedOrder.orderNumber}">
						<!--  AVAILABLE DUST FOR ALLOCATION -->
						<p:dataTable var="avDust" emptyMessage="#{language.EmptyMessage}"
							dblClickSelect="false" rowKey="#{avDust.electrodeDustWireId}"
							value="#{availDustBean.availableDusts}" paginator="true"
							rows="20"
							selection="#{manageOrderBean.allocatedMaterials.selectedEdw}"
							selectionMode="single"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

							<p:ajax event="rowSelect" process="@this allocateDustPanelId"
								listener="#{manageOrderBean.allocateEdw}"
								update="allocateDustPanelId"></p:ajax>
							<p:ajax event="rowSelect" process="@this allocateDustPanelId"
								update="allocateDustPanelId"></p:ajax>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.PartNumber}"></h:outputText>
								</f:facet>
								<h:outputText value="#{avDust.partNumber}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Date}"></h:outputText>
								</f:facet>
								<p:calendar mode="popup" autocomplete="false" disabled="true"
									pattern="#{userCredentialsBean.dateFormat}"
									value="#{avDust.entranceDate}"></p:calendar>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.RemainingAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{avDust.remainingAmount}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Quality}"></h:outputText>
								</f:facet>
								<h:outputText value="#{avDust.kalite}"></h:outputText>
							</p:column>
						</p:dataTable>

						<!-- ALLOCATED DUST FOR THE SELECTED ORDER -->
						<p:dataGrid var="allocatedDust"
							value="#{manageOrderBean.allocatedMaterials.dusts}" columns="2"
							rows="6" paginator="true" effect="true"
							paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} ">
							<p:column>
								<p:panel header="#{language.AllocatedElectrodes} "
									closable="false">
									<h:panelGrid border="0" columns="4" style="width:100%"
										cellspacing="5">
										<h:outputText value="#{language.Amount} (kg): "></h:outputText>
										<h:outputText value="#{allocatedDust.remainingAmount}"></h:outputText>

										<h:outputText value="#{language.TradeName} : "></h:outputText>
										<h:outputText value="#{allocatedDust.tradeName}"></h:outputText>

										<h:outputText value="#{language.PartNumber} *: "></h:outputText>
										<h:outputText value="#{allocatedDust.partNumber}"></h:outputText>

										<h:outputText value="#{language.Type} : "></h:outputText>
										<h:outputText value="#{allocatedDust.cinsi}"></h:outputText>

										<h:outputText value="#{language.Quality} : "></h:outputText>
										<h:outputText value="#{allocatedDust.kalite}"></h:outputText>

										<h:outputText value="#{language.Location}: "></h:outputText>
										<h:outputText value="#{allocatedDust.location}"></h:outputText>
									</h:panelGrid>

									<h:panelGrid border="0" columns="4" style="width:100%">
										<p:commandLink process="@this" immediate="true"
											title="#{language.Delete}" update="allocateDustPanelId"
											action="#{manageOrderBean.removeAllocatedEdw(allocatedDust)}">
											<p:graphicImage value="/large_icons/delete.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
									</h:panelGrid>
								</p:panel>
							</p:column>
						</p:dataGrid>
					</p:panel>
				</p:dialog>

				<!-- ALLOCATE WIRE SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" dynamic="true" header="#{language.Allocate}"
					id="allocateWireDialogId" widgetVar="allocateWireDialogWidget">
					<p:panel style="min-width:700px" id="allocateWirePanelId"
						header="#{language.Order}: #{manageOrderBean.selectedOrder.orderYear}/ #{manageOrderBean.selectedOrder.orderNumber}">
						<!--  AVAILABLE ELECTRODES FOR ALLOCATION -->
						<p:dataTable var="avWire" emptyMessage="#{language.EmptyMessage}"
							dblClickSelect="false" rowKey="#{avWire.electrodeDustWireId}"
							value="#{availWireBean.availableWires}" paginator="true"
							rows="20"
							selection="#{manageOrderBean.allocatedMaterials.selectedEdw}"
							selectionMode="single"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

							<p:ajax event="rowSelect" process="@this allocateWirePanelId"
								listener="#{manageOrderBean.allocateEdw}"
								update="allocateWirePanelId"></p:ajax>
							<p:ajax event="rowSelect" process="@this allocateWirePanelId"
								update="allocateWirePanelId"></p:ajax>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.PartNumber}"></h:outputText>
								</f:facet>
								<h:outputText value="#{avWire.partNumber}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Date}"></h:outputText>
								</f:facet>
								<p:calendar mode="popup" autocomplete="false" disabled="true"
									pattern="#{userCredentialsBean.dateFormat}"
									value="#{avWire.entranceDate}"></p:calendar>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.RemainingAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{avWire.remainingAmount}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Quality}"></h:outputText>
								</f:facet>
								<h:outputText value="#{avWire.kalite}"></h:outputText>
							</p:column>
						</p:dataTable>

						<!-- ALLOCATED ELECTRODES FOR THE SELECTED ORDER -->
						<p:dataGrid var="allocatedWire"
							value="#{manageOrderBean.allocatedMaterials.wires}" columns="2"
							rows="6" paginator="true" effect="true"
							paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} ">
							<p:column>
								<p:panel header="#{language.AllocatedWires} " closable="false">
									<h:panelGrid border="0" columns="4" style="width:100%"
										cellspacing="5">
										<h:outputText value="#{language.Amount} (kg): "></h:outputText>
										<h:outputText value="#{allocatedWire.remainingAmount}"></h:outputText>

										<h:outputText value="#{language.TradeName} : "></h:outputText>
										<h:outputText value="#{allocatedWire.tradeName}"></h:outputText>

										<h:outputText value="#{language.PartNumber} *: "></h:outputText>
										<h:outputText value="#{allocatedWire.partNumber}"></h:outputText>

										<h:outputText value="#{language.Type} : "></h:outputText>
										<h:outputText value="#{allocatedWire.cinsi}"></h:outputText>

										<h:outputText value="#{language.Quality} : "></h:outputText>
										<h:outputText value="#{allocatedWire.kalite}"></h:outputText>

										<h:outputText value="#{language.Location}: "></h:outputText>
										<h:outputText value="#{allocatedWire.location}"></h:outputText>
									</h:panelGrid>

									<h:panelGrid border="0" columns="4" style="width:100%">
										<p:commandLink process="@this" immediate="true"
											title="#{language.Delete}" update="allocateWirePanelId"
											action="#{manageOrderBean.removeAllocatedEdw(allocatedWire)}">
											<p:graphicImage value="/large_icons/delete.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
									</h:panelGrid>
								</p:panel>
							</p:column>
						</p:dataGrid>
					</p:panel>
				</p:dialog>

			</h:panelGrid>

			<p:messages id="editorderMessages"></p:messages>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>