<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">


<h:body>
	<f:facet name="last">
		<h:outputStylesheet library="default" name="styles/mystyle.css" />
	</f:facet>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:panel header="#{language.NewOrder}" id="orderCompanyListId"
				styleClass="ui_still_panel">
				<p:panel id="orderCompanyList">
					<table class="ui_still_full_form">
						<tr>
							<td class="ui_still_full_form_left"><h:outputLabel
									value="#{language.Customer}: " /></td>
							<td class="ui_still_full_form_right"><p:selectOneMenu
									value="#{newOrderBean.selectedCustomer}" converter="customer"
									var="p" styleClass="ui_still_full_form_right_for_text">
									<f:selectItems value="#{customerListBean.customers}"
										var="customer" itemLabel="#{customer.name}"
										itemValue="#{customer}" />
									<p:column>  
                                            #{p.name} 
                                        </p:column>
								</p:selectOneMenu></td>
						</tr>
					</table>
				</p:panel>

				<br />
				<p:panel style="width:100%" id="manufacturingPanelId"
					header="#{language.ManufacturingSection}" toggleable="true">

					<table class="ui_still_full_form">
						<tr>
							<td class="ui_still_full_form_left"><h:outputLabel
									value="#{language.Date} (mm/dd/yyyy): " /></td>
							<td class="ui_still_full_form_right"><p:calendar
									mode="popup" showOn="button" autocomplete="false"
									pattern="#{userCredentialsBean.dateFormat}"
									value="#{newOrderBean.newOrder.startDate}" /></td>
						</tr>

						<tr>
							<td class="ui_still_full_form_left"><h:outputText
									value="#{language.Responsible} *: " /></td>
							<td class="ui_still_full_form_right"><p:selectOneMenu
									value="#{newOrderBean.newOrder.responsibleEmployee}"
									required="true" requiredMessage="#{language.RequiredMessage}"
									styleClass="ui_still_full_form_right_for_text">
									<c:forEach items="#{employeeListBean.employeeList}" var="emp">
										<f:selectItem itemValue="#{emp.employeeId}"
											itemLabel="#{emp.firstname} #{emp.lastname}" />
									</c:forEach>
								</p:selectOneMenu></td>
						</tr>

						<tr>
							<td class="ui_still_full_form_left"><h:outputText
									value="#{language.Type} *: " /></td>
							<td class="ui_still_full_form_right"><p:selectOneMenu
									value="#{newOrderBean.newOrder.pipeType}" required="true"
									requiredMessage="#{language.RequiredMessage}"
									styleClass="ui_still_full_form_right_for_text">
									<c:forEach items="#{newOrderBean.config.config.pipe.types}"
										var="pipeType">
										<f:selectItem itemValue="#{pipeType.name}"
											itemLabel="#{pipeType.description}" />
									</c:forEach>
								</p:selectOneMenu></td>
						</tr>
						<tr>
							<td class="ui_still_full_form_left"><h:outputText
									value="#{language.ExternalDiameter} (mm)*: " /></td>
							<td class="ui_still_full_form_right"><p:inputText
									id="externalDiameterTextInputId"
									requiredMessage="#{language.RequiredMessage}"
									converterMessage="#{language.externalDiameterConverteError}"
									value="#{newOrderBean.newOrder.disCap}" required="true"
									styleClass="ui_still_full_form_right_for_text">
								</p:inputText></td>
						</tr>

						<tr>
							<td class="ui_still_full_form_left"><h:outputText
									value="#{language.WallThickness} (mm)*: " /></td>
							<td class="ui_still_full_form_right"><p:inputText
									id="wallThicknessTextInputId" required="true"
									requiredMessage="#{RequiredMessage}"
									value="#{newOrderBean.newOrder.etKalinligi}"
									converterMessage="#{language.wallThicknessConverteError}"
									styleClass="ui_still_full_form_right_for_text">
								</p:inputText></td>
						</tr>

						<tr>
							<td class="ui_still_full_form_left"><h:outputText
									value="#{language.Amount} *: " /></td>
							<td class="ui_still_full_form_right"><p:inputText
									id="amountTextInputId" required="true"
									requiredMessage="#{language.RequiredMessage}"
									converterMessage="#{language.amountConverteError}"
									value="#{newOrderBean.newOrder.miktar}"
									styleClass="ui_still_full_form_right_for_text">
								</p:inputText></td>
						</tr>

						<tr>
							<td class="ui_still_full_form_left"><h:outputText
									value="#{language.Quality} *: "
									styleClass="ui_still_full_form_left_for_text" /></td>
							<td class="ui_still_full_form_right"><p:inputText
									id="qualityTextInputId" maxlength="20"
									value="#{newOrderBean.newOrder.kalite}" required="true"
									requiredMessage="#{language.RequiredMessage}"
									styleClass="ui_still_full_form_right_for_text">

								</p:inputText></td>
						</tr>
						<tr>
							<td class="ui_still_full_form_left"><h:outputText
									value="#{language.Length} : " /></td>
							<td class="ui_still_full_form_right"><p:inputText
									id="lengthTextInputId" value="#{newOrderBean.newOrder.boy}"
									converterMessage="#{language.lengthConverteError}"
									styleClass="ui_still_full_form_right_for_text">
								</p:inputText></td>
						</tr>
						<tr>
							<td class="ui_still_full_form_left"><h:outputText
									value="#{language.EstimatedDuration} #{language.days}" /></td>
							<td class="ui_still_full_form_right"><p:inputText
									id="estimateedDurationTextInputId"
									converterMessage="#{language.lengthConverteError}"
									value="#{newOrderBean.newOrder.estimatedDurationTime}"
									styleClass="ui_still_full_form_right_for_text" /></td>
						</tr>
						<tr>
							<td class="ui_still_full_form_left"><h:outputText
									value="#{language.Note}" /></td>
							<td class="ui_still_full_form_right"><p:inputTextarea
									id="noteTextInputId" autoResize="false" maxLength="150"
									maxHeight="5" rows="5" value="#{newOrderBean.newOrder.note}"
									styleClass="ui_still_full_form_right_for_text"></p:inputTextarea></td>
						</tr>
					</table>
				</p:panel>

				<!-- Internal coating part of the order item  -->
				<p:panel style="width:100%" id="internalCoatingPanelId"
					header="#{language.InternalCoatingSection}" toggleable="true">
					<h:panelGrid border="0" columns="2" style="width:100%">

						<h:outputText value="#{language.IncludeIntIso} :"></h:outputText>
						<p:selectBooleanCheckbox value="#{newOrderBean.includeIntIso}"></p:selectBooleanCheckbox>

						<h:outputText value="#{language.Standard} *:"></h:outputText>
						<p:selectOneMenu
							value="#{newOrderBean.internalIsolation.standard}"
							required="true" requiredMessage="#{language.RequiredMessage}"
							style="width: 140px">
							<f:selectItem itemValue="none" itemLabel="#{language.Select} ..."></f:selectItem>
							<c:forEach
								items="#{newOrderBean.config.config.pipe.coating.standards}"
								var="internalSt">
								<f:selectItem itemValue="#{internalSt.acronym}"
									itemLabel="#{internalSt.description}"></f:selectItem>
							</c:forEach>
						</p:selectOneMenu>

						<h:outputText value="#{language.IzolationType} *:"></h:outputText>
						<p:selectOneMenu
							value="#{newOrderBean.internalIsolation.izolasyonSekli}"
							required="true" requiredMessage="#{language.RequiredMessage}"
							style="width: 140px">
							<f:selectItem itemValue="none"
								itemLabel="#{language.Select} ... "></f:selectItem>
							<c:forEach
								items="#{newOrderBean.config.config.pipe.coating.internal.types}"
								var="internalType">
								<f:selectItem itemValue="#{internalType.name}"
									itemLabel="#{internalType.description}"></f:selectItem>
							</c:forEach>
						</p:selectOneMenu>

						<h:outputText value="#{language.Quality}"></h:outputText>
						<p:inputText maxlength="32"
							value="#{newOrderBean.internalIsolation.kalite}"></p:inputText>

						<h:outputText value="#{language.Color}"></h:outputText>
						<p:inputText maxlength="32"
							value="#{newOrderBean.internalIsolation.renk}"></p:inputText>

						<h:outputText value="#{language.BlastingSpec}"></h:outputText>
						<p:inputText maxlength="64"
							value="#{newOrderBean.internalIsolation.kumlamaSartlari}"></p:inputText>

						<h:outputText value="#{language.SurfaceProfile}"></h:outputText>
						<p:inputText maxlength="64"
							value="#{newOrderBean.internalIsolation.yuzeyProfili}"></p:inputText>

						<h:outputText value="#{language.SurfaceClean}"></h:outputText>
						<p:inputText maxlength="64"
							value="#{newOrderBean.internalIsolation.yuzeyTemizligi}"></p:inputText>

						<h:outputText value="#{language.AmbientConditions}"></h:outputText>
						<p:inputText maxlength="64"
							value="#{newOrderBean.internalIsolation.ortamSartlari}"></p:inputText>

						<h:outputText value="#{language.Note}"></h:outputText>
						<p:inputTextarea value="#{newOrderBean.internalIsolation.note}"
							rows="5" style="width:125px" maxLength="150" autoResize="false"
							maxHeight="5"></p:inputTextarea>

					</h:panelGrid>
				</p:panel>

				<!-- External coating part of the order item  -->
				<p:panel style="width:100%" id="externalCoatingPanelId"
					header="#{language.ExternalCoatingSection}" toggleable="true">
					<h:panelGrid border="0" columns="2" style="width:100%">

						<h:outputText value="#{language.IncludeExtIso} :"></h:outputText>
						<p:selectBooleanCheckbox value="#{newOrderBean.includeExtIso}"></p:selectBooleanCheckbox>

						<h:outputText value="#{language.Standard} *:"></h:outputText>
						<p:selectOneMenu
							value="#{newOrderBean.externalIsolation.standard}"
							required="true" requiredMessage="#{language.RequiredMessage}"
							style="width: 140px">
							<f:selectItem itemValue="none" itemLabel="#{language.Select} ..."></f:selectItem>
							<c:forEach
								items="#{newOrderBean.config.config.pipe.coating.standards}"
								var="externalSt">
								<f:selectItem itemValue="#{externalSt.acronym}"
									itemLabel="#{externalSt.description}"></f:selectItem>
							</c:forEach>
						</p:selectOneMenu>

						<h:outputText value="#{language.Type} *:"></h:outputText>
						<p:selectOneMenu
							value="#{newOrderBean.externalIsolation.izolasyonSekli}"
							required="true" requiredMessage="#{language.RequiredMessage}"
							style="width: 140px">
							<f:selectItem itemValue="none" itemLabel="#{language.Select} ..."></f:selectItem>
							<c:forEach
								items="#{newOrderBean.config.config.pipe.coating.external.types}"
								var="externalType">
								<f:selectItem itemValue="#{externalType.name}"
									itemLabel="#{externalType.description}"></f:selectItem>
							</c:forEach>
						</p:selectOneMenu>

						<h:outputText value="#{language.Quality}"></h:outputText>
						<p:inputText maxlength="32"
							value="#{newOrderBean.externalIsolation.kalite}"></p:inputText>

						<h:outputText value="#{language.Color}"></h:outputText>
						<p:inputText maxlength="32"
							value="#{newOrderBean.externalIsolation.renk}"></p:inputText>

						<h:outputText value="#{language.BlastingSpec}"></h:outputText>
						<p:inputText maxlength="64"
							value="#{newOrderBean.externalIsolation.kumlamaSartlari}"></p:inputText>

						<h:outputText value="#{language.SurfaceProfile}"></h:outputText>
						<p:inputText maxlength="64"
							value="#{newOrderBean.externalIsolation.yuzeyProfili}"></p:inputText>

						<h:outputText value="#{language.SurfaceClean}"></h:outputText>
						<p:inputText maxlength="64"
							value="#{newOrderBean.externalIsolation.yuzeyTemizligi}"></p:inputText>

						<h:outputText value="#{language.AmbientConditions}"></h:outputText>
						<p:inputText maxlength="64"
							value="#{newOrderBean.externalIsolation.ortamSartlari}"></p:inputText>

						<h:outputText value="#{language.Note}"></h:outputText>
						<p:inputTextarea value="#{newOrderBean.internalIsolation.note}"
							rows="5" style="width:125px" maxLength="150" autoResize="false"
							maxHeight="5"></p:inputTextarea>

					</h:panelGrid>
				</p:panel>

				<!-- Command link section. UPDATE the new order item -->
				<h:panelGrid border="0" columns="5" cellspacing="5"
					rendered="#{newOrderBean.selectedCustomer.customerId != null}"
					id="addOrderPanelGridId">
					<p:commandLink title="#{language.OrderItemSubmitInfo}"
						update="newOrderItemPanelId newOrderItemMessagesId orderAccordionPanelId"
						process="newOrderItemPanelId"
						actionListener="#{newOrderBean.addOrder}">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:commandLink update="newOrderItemPanelId" process="@this"
						immediate="true" title="#{language.OrderItemCancelInfo}">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
			</p:panel>

			<!-- Delete order confirm dialog  -->
			<p:dialog draggable="true" closable="true" dynamic="true"
				appendToBody="orderTabId" maximizable="true" resizable="false"
				header="#{language.Delete}: #{newOrderBean.selectedOrder.orderYear}/ #{newOrderBean.selectedOrder.orderNumber}"
				id="deleteOrderConfirmDialogId"
				widgetVar="deleteOrderConfirmDialogWidget">
				<p:panel id="deleteOrderPanelId" widgetVar="addOrderPanelWidget">
					<h:panelGrid border="0" columns="2" style="width:100%">
						<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
					</h:panelGrid>
					<h:panelGrid border="0" columns="3" cellspacing="5">
						<p:commandLink title="#{language.Submit}" process="@this"
							update="deleteOrderMessagesId newOrderItemPanelId orderAccordionPanelId"
							actionListener="#{newOrderBean.deleteOrder}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink title="#{language.Cancel}" immediate="true"
							update="deleteOrderMessagesId" process="@this"
							onclick="deleteOrderConfirmDialogWidget.hide()">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
					<p:messages id="deleteOrderMessagesId"></p:messages>
				</p:panel>
			</p:dialog>
			<p:messages id="newOrderItemMessagesId"></p:messages>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>