<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel id="machineAccordionPanelId" autoHeight="false"
				collapsible="true" style="padding:0px"
				widgetVar="machineAccorditionPanelWidget">
				<c:forEach items="#{machineListBean.coatMachineList}"
					var="coatMachine">
					<p:tab title="#{coatMachine.name}">
						<p:panel style="width:100%" header=" ">
							<h:panelGrid border="0" cellspacing="5" columns="2"
								style="width:100%">
								<h:outputLabel value="#{language.Type} *:  " />
								<p:selectOneMenu value="#{coatMachine.type}" disabled="true"
									style="width: 140px">
									<f:selectItem itemValue="10" itemLabel="#{language.Spiral}" />
									<f:selectItem itemValue="11"
										itemLabel="#{language.Hydrostatic}" />
									<f:selectItem itemValue="12" itemLabel="#{language.Bevelling}" />
									<f:selectItem itemValue="13"
										itemLabel="#{language.PipeEndPreparation}" />
									<f:selectItem itemValue="101"
										itemLabel="#{language.Polietilen}" />
									<f:selectItem itemValue="102"
										itemLabel="#{language.Polipropilen}" />
									<f:selectItem itemValue="103" itemLabel="#{language.EpoxyBoya}" />
									<f:selectItem itemValue="104"
										itemLabel="#{language.InnerBlasting}" />
									<f:selectItem itemValue="105"
										itemLabel="#{language.OuterBlasting}" />
									<f:selectItem itemValue="106" itemLabel="#{language.Cement}" />
								</p:selectOneMenu>

								<h:outputLabel value="#{language.MachineName} :  " />
								<h:outputText value="#{coatMachine.name}"></h:outputText>

								<h:outputLabel value="#{language.Brand} :  " />
								<h:outputText value="#{coatMachine.brand}"></h:outputText>

								<h:outputLabel value="#{language.Model} :  " />
								<h:outputText value="#{coatMachine.model}"></h:outputText>

								<h:outputLabel value="#{language.Status} :  " />
								<h:outputText value="#{coatMachine.status}"></h:outputText>

								<h:outputLabel value="#{language.SerialNumber} :  " />
								<h:outputText value="#{coatMachine.serialNumber}"></h:outputText>

								<h:outputLabel value="#{language.Description} :  " />
								<h:outputText value="#{coatMachine.description}"></h:outputText>
							</h:panelGrid>

							<h:panelGrid border="0" columns="5" cellspacing="5">
								<p:commandLink title="#{language.view}"
									process="@this machineAccordionPanelId"
									update="machinePanelId orderInfoPanelId pipeCoatDialogId"
									action="#{productionMachineBean.viewProductionMachine(coatMachine)}">
									<p:graphicImage value="/large_icons/view.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
								<!-- 
								<p:commandLink title="#{language.Parameters}"
									process="@this machineAccordionPanelId"
									oncomplete="displayParamDialog()"
									update="machinePanelId polietilenMachineParameterPanelId"
									action="#{parameterListBean.viewMachineParameters(coatMachine)}">
									<f:setPropertyActionListener value="#{productionMachine}"
										target="#{productionMachineBean.selectedMachine}" />
									<p:graphicImage value="/large_icons/parameter.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
								 -->
								<p:commandLink title="#{language.Errors}"
									update="machineErrorsPanelId errorMessages"
									onclick="machineErrorsDialogWidget.show()"
									process="@this machineErrorListDataTableId"
									action="#{productionMachineBean.loadMachineErrors(coatMachine)}">
									<p:graphicImage value="/large_icons/error.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</p:panel>
					</p:tab>
				</c:forEach>
			</p:accordionPanel>
		</ui:define>

		<!-- MACHINE pipe section -->
		<ui:define name="showPanel">
			<p:panel closable="false" toggleable="true" id="machinePanelId"
				widgetVar="machinePanelWidget">
				<p:panel style="width:100%" id="orderInfoPanelId">

					<script type="text/javascript">
						function displayParamDialog() {
							var machineType = '#{productionMachineBean.
						selectedMachine.type}';
							if (machineType == 106) {
								cementMachineParameterDialogWidget.show();
							} else if (machineType == 103) {
								epoxyMachineParameterDialogWidget.show();
							}

							else if (machineType == 101) {
								polietilenMachineParameterDialogWidget.show();
							}

							else {
								alert("#{language.NoParamsMessage}")
							}
						}
					</script>
					<h:panelGrid cellspacing="5" columns="8" style="width:100%">
						<p:selectOneMenu
							value="#{productionMachineBean.selectedMachine.type}"
							disabled="true" style="width: 125px">
							<f:selectItem itemValue="0" itemLabel="#{language.Type}" />
							<f:selectItem itemValue="10" itemLabel="#{language.Spiral}" />
							<f:selectItem itemValue="11" itemLabel="#{language.Hydrostatic}" />
							<f:selectItem itemValue="12" itemLabel="#{language.Bevelling}" />
							<f:selectItem itemValue="13"
								itemLabel="#{language.PipeEndPreparation}" />
							<f:selectItem itemValue="101" itemLabel="#{language.Polietilen}" />
							<f:selectItem itemValue="102"
								itemLabel="#{language.Polipropilen}" />
							<f:selectItem itemValue="103" itemLabel="#{language.EpoxyBoya}" />
							<f:selectItem itemValue="104"
								itemLabel="#{language.InnerBlasting}" />
							<f:selectItem itemValue="105"
								itemLabel="#{language.OuterBlasting}" />
							<f:selectItem itemValue="106" itemLabel="#{language.Cement}" />
						</p:selectOneMenu>
						<h:outputLabel value="#{language.Company} :" />
						<p:inputText readonly="false" onclick="displayParamDialog()"
							value="#{productionMachineBean.selectedSalesItem.proposal.customer.commercialName}"></p:inputText>
						<h:outputLabel value="#{language.Ordernumber} :" />
						<p:inputText readonly="true" style="font-size:20pt; width:150px"
							value="#{productionMachineBean.selectedSalesItem.proposal.salesOrder.orderNo} - #{productionMachineBean.selectedSalesItem.itemNo}"></p:inputText>
						<h:outputLabel id="sometext" />
					</h:panelGrid>
				</p:panel>

				<!-- ORDER LIST SECTION -->
				<p:dataTable var="activeOrder" id="activeOrderListDataTableId"
					widgetVar="activeOrderListDataTableWidget"
					rowKey="#{activeOrder.itemId}" dblClickSelect="false"
					emptyMessage="#{language.EmptyMessage}"
					value="#{productionMachineBean.activeItemList}" paginator="true"
					rows="10" selectionMode="single" paginatorPosition="top"
					selection="#{productionMachineBean.selectedSalesItem}"
					paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

					<p:ajax event="rowSelect" process="activeOrderListDataTableId"
						listener="#{productionMachineBean.loadFreePipes}"></p:ajax>
					<p:ajax event="rowSelect" update="machinePanelId"></p:ajax>
					<p:ajax event="rowSelect" update="orderInfoPanelId"></p:ajax>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Company}"></h:outputText>
						</f:facet>
						<h:outputText value="#{activeOrder.proposal.customer.shortName}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.StartDate}"></h:outputText>
						</f:facet>
						<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
							stepMinute="5" value="#{activeOrder.deliveryDate}"
							disabled="true">
						</p:calendar>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.TotalLength}"></h:outputText>
						</f:facet>
						<h:outputText value="#{activeOrder.totalLengthM}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Diameter}"></h:outputText>
						</f:facet>
						<h:outputText value="#{activeOrder.diameter}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.WallThickness}"></h:outputText>
						</f:facet>
						<h:outputText value="#{activeOrder.thickness}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Quality}"></h:outputText>
						</f:facet>
						<h:outputText value="#{activeOrder.quality}"></h:outputText>
					</p:column>

					<f:facet name="header">
						<h:outputText value="#{language.AvailableOrders}"></h:outputText>
					</f:facet>
				</p:dataTable>


				<!-- PIPE LIST SECTION -->
				<p:dataTable var="pipe" id="pipeListDataTableId"
					widgetVar="pipeListDataTableWidget" rowKey="#{pipe.pipeId}"
					value="#{productionMachineBean.freePipeList}" paginator="true"
					rows="10" selectionMode="single" paginatorPosition="top"
					dblClickSelect="false" sortBy="#{pipe.pipeIndex}"
					selection="#{productionMachineBean.currentPipe}"
					paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
					<p:ajax event="rowSelect" update="pipeListDataTableId"></p:ajax>
					<p:column sortBy="#{pipe.pipeIndex}">
						<f:facet name="header">
							<h:outputText value="#{language.PipeIndex}"></h:outputText>
						</f:facet>
						<h:outputText value="#{pipe.pipeIndex}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Status}"></h:outputText>
						</f:facet>
						<p:selectOneMenu value="#{pipe.status}" disabled="true"
							style="width: 250px">
							<f:selectItem itemValue="1" itemLabel="#{language.Finished}" />
							<f:selectItem itemValue="2" itemLabel="#{language.Free}" />
							<f:selectItem itemValue="3" itemLabel="#{language.OnRepair}" />

							<f:selectItem itemValue="10"
								itemLabel="#{language.OnSpiralMachine}" />
							<f:selectItem itemValue="11"
								itemLabel="#{language.OnHydrostaticMachine}" />
							<f:selectItem itemValue="12"
								itemLabel="#{language.OnBevellingMachine}" />
							<f:selectItem itemValue="13"
								itemLabel="#{language.OnEndPreparationMachine}" />
							<f:selectItem itemValue="101"
								itemLabel="#{language.OnPolietilenMachine}" />
							<f:selectItem itemValue="102"
								itemLabel="#{language.OnPolipropilenMachine}" />
							<f:selectItem itemValue="103"
								itemLabel="#{language.OnEpoxyBoyaMachine}" />
							<f:selectItem itemValue="104"
								itemLabel="#{language.OnBlastingMachine}" />
							<f:selectItem itemValue="105"
								itemLabel="#{language.OnCementMachine}" />
						</p:selectOneMenu>
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Diameter}"></h:outputText>
						</f:facet>
						<h:outputText value="#{pipe.disCap}"></h:outputText>
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Weight}"></h:outputText>
						</f:facet>
						<h:outputText value="#{pipe.agirligi}"></h:outputText>
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Length}"></h:outputText>
						</f:facet>
						<h:outputText value="#{pipe.boy}"></h:outputText>
					</p:column>
					<f:facet name="header">
						<h:outputText value="#{language.Pipe}"></h:outputText>
					</f:facet>
					<f:facet name="footer">
						<h:panelGrid border="0" columns="2" cellspacing="5">
							<p:commandButton value="#{language.Coat}"
								process="@this pipeListDataTableId"
								actionListener="#{productionMachineBean.loadPipeCoat}"
								oncomplete="pipeCoatDialogWidget.show()"
								update="pipeCoatPanelId pipeCoatMessages internalCoatPanelId externalCoatPanelId"
								rendered="#{productionMachineBean.currentPipe.pipeId != null}">
							</p:commandButton>

							<p:commandButton value="#{language.Load}"
								process="@this pipeListDataTableId"
								update="productionMachineMessages pipeListDataTableId"
								action="#{productionMachineBean.loadOrderPipes}"></p:commandButton>
						</h:panelGrid>
					</f:facet>
				</p:dataTable>


				<!-- MACHINE ERRORS SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					dynamic="true" resizable="false" header="#{language.Errors}"
					id="machineErrorsDialogId" widgetVar="machineErrorsDialogWidget">
					<p:panel style="min-width:600px"
						header="#{productionMachineBean.selectedMachine.name}"
						id="machineErrorsPanelId">
						<!-- MACHINE ERRORS LIST -->
						<p:dataTable var="error" id="machineErrorListDataTableId"
							widgetVar="machineErrorListDataTableWidget"
							emptyMessage="#{language.EmptyMessage}" rowKey="#{error.errorId}"
							value="#{productionMachineBean.errorList}" paginator="true"
							rows="10" selectionMode="single" paginatorPosition="top"
							selection="#{productionMachineBean.selectedError}"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<p:ajax event="rowSelect" update="newErrorPanelId"
								process="machineErrorListDataTableId"></p:ajax>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Error} #{language.id}"></h:outputText>
								</f:facet>
								<h:outputText value="#{error.errorId}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.StartDate}"></h:outputText>
								</f:facet>
								<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
									stepMinute="5" value="#{error.date}" disabled="true">
								</p:calendar>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Duration}(#{language.hours})"></h:outputText>
								</f:facet>
								<h:outputText value="#{error.duration}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Note}"></h:outputText>
								</f:facet>
								<p:inputTextarea autoResize="false" cols="5" style="width:140px"
									readonly="true" value="#{error.note}"></p:inputTextarea>
							</p:column>
						</p:dataTable>

						<p:panel id="newErrorPanelId">
							<h:panelGrid border="0" columns="2" cellspacing="5"
								id="newErrorPanelGridId">
								<h:outputText value="#{language.StartDate} (gg/aa/yyyy)*:"></h:outputText>
								<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
									stepMinute="5" required="true"
									requiredMessage="#{language.RequiredMessage}"
									value="#{productionMachineBean.selectedError.date}"
									showOn="button">
								</p:calendar>

								<h:outputText value="#{language.Duration}(#{language.hours}) *:"></h:outputText>
								<p:inputText required="true"
									requiredMessage="#{language.RequiredMessage}"
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedError.duration}"></p:inputText>

								<h:outputText value="#{language.Note} :"></h:outputText>
								<p:inputTextarea autoResize="false" cols="5" style="width:140px"
									value="#{productionMachineBean.selectedError.note}"></p:inputTextarea>
							</h:panelGrid>
						</p:panel>

						<h:panelGrid border="0" columns="5" cellspacing="5"
							id="machineErrorsPanelGridId">
							<p:commandLink title="#{language.Submit}"
								process="@this newErrorPanelId"
								update="newErrorPanelId errorMessages machineErrorListDataTableId"
								actionListener="#{productionMachineBean.submitError}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Delete}"
								update="errorMessages newErrorPanelGridId machineErrorListDataTableId"
								process="@this"
								actionListener="#{productionMachineBean.deleteError}">
								<p:graphicImage value="/large_icons/delete.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}"
								update="errorMessages newErrorPanelGridId" process="@this"
								immediate="true" oncomplete="machineErrorsDialogWidget.hide()"
								actionListener="#{productionMachineBean.cancelErrorSubmittion}">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
					</p:panel>
					<p:messages id="errorMessages"></p:messages>
				</p:dialog>


				<!-- CEMENT MACHINE PARAMETERS SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					dynamic="true" resizable="false" header="#{language.Parameters}"
					id="cementMachineParameterDialogId"
					widgetVar="cementMachineParameterDialogWidget">
					<p:panel style="min-width:600px"
						header="#{productionMachineBean.selectedMachine.name}"
						id="cementMachineParameterPanelId">
						<!-- MACHINE PARAMETERS LIST -->
						<p:dataTable var="cementMachineParameter"
							id="cementMachineParameterListDataTableId"
							widgetVar="cementMachineParameterListDataTableWidget"
							emptyMessage="#{language.EmptyMessage}"
							rowKey="#{cementMachineParameter.cementParametersId}"
							value="#{parameterListBean.cementMachineParameters}"
							paginator="true" rows="10" selectionMode="single"
							selection="#{productionMachineBean.selectedCementMachineParameter}"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<p:ajax event="rowSelect"
								update="newCementMachineParameterPanelId"
								process="cementMachineParameterListDataTableId"></p:ajax>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Parameters} #{language.id}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{cementMachineParameter.cementParametersId}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.MixtureNumber}"></h:outputText>
								</f:facet>
								<h:outputText value="#{cementMachineParameter.karasimNo}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Water}"></h:outputText>
								</f:facet>
								<h:outputText value="#{cementMachineParameter.su}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="MAD"></h:outputText>
								</f:facet>
								<h:outputText value="#{cementMachineParameter.mad}"></h:outputText>
							</p:column>
						</p:dataTable>

						<p:panel id="newCementMachineParameterPanelId">
							<h:panelGrid border="0" columns="2" cellspacing="5"
								style="width:100%" id="newCementMachineParameterPanelGridId">
								<h:outputText value="#{language.MixtureNumber} *:"></h:outputText>
								<p:inputText required="true"
									requiredMessage="#{language.RequiredMessage}"
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedCementMachineParameter.karasimNo}"></p:inputText>

								<h:outputText value="#{language.Water} *:"></h:outputText>
								<p:inputText required="true"
									requiredMessage="#{language.RequiredMessage}"
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedCementMachineParameter.su}"></p:inputText>

								<h:outputText value="MAD *:"></h:outputText>
								<p:inputText required="true"
									requiredMessage="#{language.RequiredMessage}"
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedCementMachineParameter.mad}"></p:inputText>

								<h:outputText value="#{language.Cement} *:"></h:outputText>
								<p:inputText required="true"
									requiredMessage="#{language.RequiredMessage}"
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedCementMachineParameter.cimento}"></p:inputText>

								<h:outputText value="#{language.Sand} :"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedCementMachineParameter.kum}"></p:inputText>

								<h:outputText value="#{language.MachineSpeed} :"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedCementMachineParameter.arabaHizi}"></p:inputText>

								<h:outputText value="#{language.Transfer} :"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedCementMachineParameter.boruDevri}"></p:inputText>

								<h:outputText value="#{language.PompLocation} :"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedCementMachineParameter.pompaKonumu}"></p:inputText>
							</h:panelGrid>
						</p:panel>

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandLink title="#{language.Submit}"
								process="@this newCementMachineParameterPanelGridId"
								update="cementMessages newCementMachineParameterPanelGridId cementMachineParameterListDataTableId"
								actionListener="#{productionMachineBean.submitCementMachineParameter}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Delete}"
								update="cementMessages newCementMachineParameterPanelGridId cementMachineParameterListDataTableId"
								process="@this"
								actionListener="#{productionMachineBean.deleteCementMachineParameter}">
								<p:graphicImage value="/large_icons/delete.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Reset}"
								update="cementMessages newCementMachineParameterPanelGridId"
								process="@this" immediate="true"
								actionListener="#{productionMachineBean.resetSelectedParam}">
								<p:graphicImage value="/large_icons/reset.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}" process="@this"
								immediate="true" update="cementMessages"
								oncomplete="cementMachineParameterDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
					</p:panel>
					<p:messages id="cementMessages"></p:messages>
				</p:dialog>


				<!-- EPOXY MACHINE PARAMETERS SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					dynamic="true" resizable="false" header="#{language.Parameters}"
					id="epoxyMachineParameterDialogId"
					widgetVar="epoxyMachineParameterDialogWidget">
					<p:panel style="min-width:600px"
						header="#{productionMachineBean.selectedMachine.name}"
						id="epoxyMachineParameterPanelId">
						<!-- MACHINE PARAMETERS LIST -->
						<p:dataTable var="epoxyMachineParameter"
							id="epoxyMachineParameterListDataTableId"
							widgetVar="epoxyMachineParameterListDataTableWidget"
							emptyMessage="#{language.EmptyMessage}"
							rowKey="#{epoxyMachineParameter.parametersId}"
							value="#{parameterListBean.epoxyMachineParameters}"
							paginator="true" rows="10" selectionMode="single"
							selection="#{productionMachineBean.selectedEpoxyMachineParameter}"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<p:ajax event="rowSelect"
								update="newEpoxyMachineParameterPanelId"
								process="epoxyMachineParameterListDataTableId"></p:ajax>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Parameters} #{language.id}"></h:outputText>
								</f:facet>
								<h:outputText value="#{epoxyMachineParameter.parametersId}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Fishtail} 1: "></h:outputText>
								</f:facet>
								<h:outputText value="#{epoxyMachineParameter.memeCapi1}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Fishtail} 2: "></h:outputText>
								</f:facet>
								<h:outputText value="#{epoxyMachineParameter.memeCapi2}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Pressure} : "></h:outputText>
								</f:facet>
								<h:outputText value="#{epoxyMachineParameter.basinc}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.MachineSpeed} : "></h:outputText>
								</f:facet>
								<h:outputText value="#{epoxyMachineParameter.arabaHizi}"></h:outputText>
							</p:column>
						</p:dataTable>
						<p:panel id="newEpoxyMachineParameterPanelId">
							<h:panelGrid border="0" columns="2" cellspacing="5"
								style="width:100%" id="newEpoxyMachineParameterPanelGridId">
								<h:outputText value="#{language.Fishtail} (1)*:"></h:outputText>
								<p:inputText required="true"
									requiredMessage="#{language.RequiredMessage}"
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedEpoxyMachineParameter.memeCapi1}"></p:inputText>

								<h:outputText value="#{language.Fishtail} (2):"></h:outputText>
								<p:inputText required="true"
									requiredMessage="#{language.RequiredMessage}"
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedEpoxyMachineParameter.memeCapi2}"></p:inputText>

								<h:outputText value="#{language.Pressure} :"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedEpoxyMachineParameter.basinc}"></p:inputText>

								<h:outputText value="#{language.MachineSpeed} (1)*:"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedEpoxyMachineParameter.arabaHizi}"></p:inputText>
							</h:panelGrid>
						</p:panel>

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandLink title="#{language.Submit}"
								process="@this newEpoxyMachineParameterPanelGridId"
								update="epoxyMessages newEpoxyMachineParameterPanelGridId epoxyMachineParameterListDataTableId"
								actionListener="#{productionMachineBean.submitEpoxyMachineParameter}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Delete}"
								update="epoxyMessages newEpoxyMachineParameterPanelGridId epoxyMachineParameterListDataTableId"
								process="@this"
								actionListener="#{productionMachineBean.deleteEpoxyMachineParameter}">
								<p:graphicImage value="/large_icons/delete.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Reset}"
								update="epoxyMessages newEpoxyMachineParameterPanelGridId"
								process="@this" immediate="true"
								actionListener="#{productionMachineBean.resetSelectedParam}">
								<p:graphicImage value="/large_icons/reset.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}" process="@this"
								immediate="true" update="epoxyMessages"
								oncomplete="epoxyMachineParameterDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
					</p:panel>
					<p:messages id="epoxyMessages"></p:messages>
				</p:dialog>


				<!-- POLIETILEN MACHINE PARAMETERS SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					dynamic="true" resizable="false" header="#{language.Parameters}"
					id="polietilenMachineParameterDialogId"
					widgetVar="polietilenMachineParameterDialogWidget">
					<p:panel style="min-width:600px"
						header="#{productionMachineBean.selectedMachine.name}"
						id="polietilenMachineParameterPanelId">
						<!-- MACHINE PARAMETERS LIST -->
						<p:dataTable var="polietilenMachineParameter"
							id="polietilenMachineParameterListDataTableId"
							widgetVar="polietilenMachineParameterListDataTableWidget"
							emptyMessage="#{language.EmptyMessage}"
							rowKey="#{polietilenMachineParameter.polietilenParametersId}"
							value="#{parameterListBean.polietilenMachineParameters}"
							paginator="true" rows="10" selectionMode="single"
							selection="#{productionMachineBean.selectedPolietilenMachineParameter}"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<p:ajax event="rowSelect"
								update="newPolietilenMachineParameterPanelId"
								process="polietilenMachineParameterListDataTableId"></p:ajax>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Parameters} #{language.id}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{polietilenMachineParameter.polietilenParametersId}"></h:outputText>
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Angle}"></h:outputText>
								</f:facet>
								<h:outputText value="#{polietilenMachineParameter.konvAcisi}"></h:outputText>
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.MinPitch}"></h:outputText>
								</f:facet>
								<h:outputText value="#{polietilenMachineParameter.hatveMin}"></h:outputText>
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.MaxPitch}"></h:outputText>
								</f:facet>
								<h:outputText value="#{polietilenMachineParameter.hatveMax}"></h:outputText>
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Speed}"></h:outputText>
								</f:facet>
								<h:outputText value="#{polietilenMachineParameter.boruHizi}"></h:outputText>
							</p:column>
						</p:dataTable>

						<p:panel id="newPolietilenMachineParameterPanelId">
							<h:panelGrid border="0" columns="2" cellspacing="5"
								style="width:100%" id="newPolietilenMachineParameterPanelGridId">
								<h:outputText value="#{language.Angle} *:"></h:outputText>
								<p:inputText required="true"
									requiredMessage="#{language.RequiredMessage}"
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedPolietilenMachineParameter.konvAcisi}"></p:inputText>
								<h:outputText value="#{language.MinPitch} *:"></h:outputText>
								<p:inputText required="true"
									requiredMessage="#{language.RequiredMessage}"
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedPolietilenMachineParameter.hatveMin}"></p:inputText>
								<h:outputText value="#{language.MaxPitch} *:"></h:outputText>
								<p:inputText required="true"
									requiredMessage="#{language.RequiredMessage}"
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedPolietilenMachineParameter.hatveMax}"></p:inputText>
								<h:outputText value="#{language.Speed} *:"></h:outputText>
								<p:inputText required="true"
									requiredMessage="#{language.RequiredMessage}"
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedPolietilenMachineParameter.boruHizi}"></p:inputText>
								<h:outputText value="#{language.Screw} A:"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedPolietilenMachineParameter.peVidaA}"></p:inputText>
								<h:outputText value="#{language.Screw} B:"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedPolietilenMachineParameter.peVidaB}"></p:inputText>
								<h:outputText value="#{language.AdhesiveScrew} :"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedPolietilenMachineParameter.yapistirciVida}"></p:inputText>
								<h:outputText value="#{language.MinFilmTemperature} :"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedPolietilenMachineParameter.peFilmSicakligiMin}"></p:inputText>
								<h:outputText value="#{language.MaxFilmTemperature} :"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedPolietilenMachineParameter.peFilmSicakligiMax}"></p:inputText>
								<h:outputText value="#{language.AdhesiveMinFilmTemperature} :"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedPolietilenMachineParameter.yapisFilmSicakligiMin}"></p:inputText>
								<h:outputText value="#{language.AdhesiveMaxFilmTemperature} :"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedPolietilenMachineParameter.yapisFilmSicakligiMax}"></p:inputText>
								<h:outputText value="#{language.PolietilenScrew} A:"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedPolietilenMachineParameter.polietilenVidaA}"></p:inputText>
								<h:outputText value="#{language.PolietilenScrew} B:"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedPolietilenMachineParameter.polietilenVidaB}"></p:inputText>
								<h:outputText value="#{language.Gene} :"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedPolietilenMachineParameter.cene}"></p:inputText>
								<h:outputText value="#{language.Adhesive} :"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedPolietilenMachineParameter.yapistirici}"></p:inputText>
							</h:panelGrid>
						</p:panel>

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandLink title="#{language.Submit}"
								process="@this newPolietilenMachineParameterPanelGridId"
								update="polietilenMessages newPolietilenMachineParameterPanelGridId polietilenMachineParameterListDataTableId"
								actionListener="#{productionMachineBean.submitPolietilenMachineParameter}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Delete}"
								update="polietilenMessages newPolietilenMachineParameterPanelGridId polietilenMachineParameterListDataTableId"
								process="@this"
								actionListener="#{productionMachineBean.deletePolietilenMachineParameter}">
								<p:graphicImage value="/large_icons/delete.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Reset}"
								update="polietilenMessages newPolietilenMachineParameterPanelGridId"
								process="@this" immediate="true"
								actionListener="#{productionMachineBean.resetSelectedParam}">
								<p:graphicImage value="/large_icons/reset.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}" process="@this"
								immediate="true" update="epoxyMessages"
								oncomplete="polietilenMachineParameterDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
					</p:panel>
					<p:messages id="polietilenMessages"></p:messages>
				</p:dialog>


				<!-- PIPE COAT SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					dynamic="true" resizable="false" header="#{language.PipeCoat}"
					id="pipeCoatDialogId" widgetVar="pipeCoatDialogWidget">
					<p:panel style="min-width:900px"
						header="#{language.Machine}: #{productionMachineBean.selectedMachine.name}"
						id="pipeCoatPanelId">
						<h:panelGrid border="0" columns="6" cellspacing="5"
							style="width:100%" id="pipeCoatPanelGridId">
							<c:if test="#{productionMachineBean.selectedMachine.type == 101}">
								<h:outputText value="#{language.PolietilenParameters} *:"></h:outputText>
								<p:selectOneMenu required="true" style="width:125px"
									id="polietilenSelectOneMenuId"
									value="#{parameterListBean.selectedCoat.polietilenParametersId}"
									requiredMessage="#{language.ReuqiredMessage}">
									<c:forEach
										items="#{parameterListBean.polietilenMachineParameters}"
										step="1" var="polietilenParam">
										<f:selectItem
											itemLabel="#{polietilenParam.konvAcisi} #{polietilenParam.hatveMin} #{polietilenParam.hatveMax} #{polietilenParam.boruHizi} #{polietilenParam.peVidaA} #{polietilenParam.peVidaB} #{polietilenParam.yapistirciVida} #{polietilenParam.peFilmSicakligiMin} #{polietilenParam.peFilmSicakligiMax} #{polietilenParam.yapisFilmSicakligiMin} #{polietilenParam.yapisFilmSicakligiMax} #{polietilenParam.polietilenVidaA} #{polietilenParam.polietilenVidaB} #{polietilenParam.cene} #{polietilenParam.yapistirici}"
											itemValue="#{polietilenParam.polietilenParametersId}"></f:selectItem>
									</c:forEach>
								</p:selectOneMenu>
							</c:if>

							<c:if test="#{productionMachineBean.selectedMachine.type == 103}">
								<h:outputText value="#{language.EpoxyParameters} *:"></h:outputText>
								<p:selectOneMenu required="true" style="width:125px"
									id="epoxySelectOneMenuId"
									value="#{parameterListBean.selectedCoat.parametersId}"
									requiredMessage="#{language.ReuqiredMessage}">
									<c:forEach items="#{parameterListBean.epoxyMachineParameters}"
										step="1" var="epoxyParam">
										<f:selectItem
											itemLabel="#{epoxyParam.memeCapi1} #{epoxyParam.memeCapi2} #{epoxyParam.basinc} #{epoxyParam.arabaHizi}"
											itemValue="#{epoxyParam.parametersId}"></f:selectItem>
									</c:forEach>
								</p:selectOneMenu>
							</c:if>

							<c:if test="#{productionMachineBean.selectedMachine.type == 106}">
								<h:outputText value="#{language.CementParameters} *:"></h:outputText>
								<p:selectOneMenu required="true" id="cementSelectOneMenuId"
									value="#{parameterListBean.selectedCoat.cementParametersId}"
									requiredMessage="#{language.ReuqiredMessage}"
									style="width:125px">
									<c:forEach items="#{parameterListBean.cementMachineParameters}"
										step="1" var="cementParam">
										<f:selectItem
											itemLabel="#{cementParam.karasimNo} #{cementParam.su} #{cementParam.mad} #{cementParam.cimento} #{cementParam.kum} #{cementParam.arabaHizi} #{cementParam.boruDevri} #{cementParam.pompaKonumu}"
											itemValue="#{cementParam.cementParametersId}"></f:selectItem>
									</c:forEach>
								</p:selectOneMenu>
							</c:if>
							<h:outputText value="#{language.CoatSide} *:"></h:outputText>
							<p:selectOneMenu required="true" style="width:125px"
								requiredMessage="#{language.RequiredMessage}"
								value="#{parameterListBean.selectedCoat.side}">
								<f:selectItem itemLabel="#{language.Internal}" itemValue="1" />
								<f:selectItem itemLabel="#{language.External}" itemValue="2" />
							</p:selectOneMenu>

							<h:outputText value="#{language.AdhesiveDiameter} A*:"></h:outputText>
							<p:inputText required="true"
								requiredMessage="#{language.RequiredMessage}"
								converterMessage="#{language.nbLayersConverterError}"
								value="#{parameterListBean.selectedCoat.yasCapA}"></p:inputText>

							<h:outputText value="#{language.AdhesiveDiameter} B:"></h:outputText>
							<p:inputText required="true"
								requiredMessage="#{language.RequiredMessage}"
								converterMessage="#{language.nbLayersConverterError}"
								value="#{parameterListBean.selectedCoat.yasCapB}"></p:inputText>

							<h:outputText value="#{language.GasControl} :"></h:outputText>
							<p:inputText maxlength="50"
								value="#{parameterListBean.selectedCoat.gozKontrol}"></p:inputText>

							<h:outputText value="#{language.HolidayTesti} :"></h:outputText>
							<p:inputText maxlength="50"
								value="#{parameterListBean.selectedCoat.repairHolidayTest}"></p:inputText>

							<h:outputText value="#{language.Date} (gg/aa/yyyy)*:"></h:outputText>
							<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
								stepMinute="5" required="true"
								requiredMessage="#{language.RequiredMessage}"
								value="#{parameterListBean.selectedCoat.date}" showOn="button">
							</p:calendar>
						</h:panelGrid>
						<p:panel footer="#{language.Layer} 1" id="layer1PanelId">
							<h:panelGrid border="0" columns="4" cellspacing="5"
								style="width:100%">
								<h:outputText value="#{language.AmountConsumed} (kg)*:"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.layer1.amountConsumed}"></p:inputText>
								<h:outputText value="#{language.CoatMaterial} *:"></h:outputText>
								<p:selectOneMenu id="layer1SelectOneMenuId" immediate="true"
									value="#{productionMachineBean.layer1.coatMaterialId}"
									style="width:125px">
									<c:forEach items="#{productionMachineBean.coatMaterialList}"
										step="1" var="coatMaterial1">
										<f:selectItem
											itemLabel="#{coatMaterial1.urun}-#{coatMaterial1.partiNo} - #{coatMaterial1.remainingAmount} "
											itemValue="#{coatMaterial1.coatMaterialId}"></f:selectItem>
									</c:forEach>
								</p:selectOneMenu>
							</h:panelGrid>
						</p:panel>
						<p:panel footer="#{language.Layer} 2" id="layer2PanelId">
							<h:panelGrid border="0" columns="4" cellspacing="5"
								style="width:100%">
								<h:outputText value="#{language.AmountConsumed} (kg)*:"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.layer2.amountConsumed}"></p:inputText>
								<h:outputText value="#{language.CoatMaterial} *:"></h:outputText>
								<p:selectOneMenu required="true" immediate="true"
									style="width:125px"
									value="#{productionMachineBean.layer2.coatMaterialId}"
									requiredMessage="#{language.RequiredMessage}">
									<c:forEach items="#{productionMachineBean.coatMaterialList}"
										step="1" var="coatMaterial2">
										<f:selectItem
											itemLabel="#{coatMaterial2.urun}-#{coatMaterial2.partiNo} - #{coatMaterial2.remainingAmount} "
											itemValue="#{coatMaterial2.coatMaterialId}"></f:selectItem>
									</c:forEach>
								</p:selectOneMenu>
							</h:panelGrid>
						</p:panel>
						<p:panel footer="#{language.Layer} 3" id="layer3PanelId">
							<h:panelGrid border="0" columns="4" cellspacing="5"
								style="width:100%">
								<h:outputText value="#{language.AmountConsumed} (kg)*:"></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.layer3.amountConsumed}"></p:inputText>
								<h:outputText value="#{language.CoatMaterial} *:"></h:outputText>
								<p:selectOneMenu required="true" immediate="true"
									style="width:125px"
									value="#{productionMachineBean.layer3.coatMaterialId}"
									requiredMessage="#{language.RequiredMessage}">
									<c:forEach items="#{productionMachineBean.coatMaterialList}"
										step="1" var="coatMaterial3">
										<f:selectItem
											itemLabel="#{coatMaterial3.urun}-#{coatMaterial3.partiNo} - #{coatMaterial3.remainingAmount} "
											itemValue="#{coatMaterial3.coatMaterialId}"></f:selectItem>
									</c:forEach>
								</p:selectOneMenu>
							</h:panelGrid>
						</p:panel>

						<h:panelGrid border="0" columns="3" cellspacing="5">
							<p:commandLink title="#{language.Submit}"
								actionListener="#{productionMachineBean.submitPipeCoat}"
								update="pipeCoatMessages internalCoatPanelId pipeCoatPanelId externalCoatPanelId"
								process="@this pipeCoatPanelId">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}"
								update="pipeCoatMessages pipeCoatPanelId"
								onclick="pipeCoatDialogWidget.hide()" process="@this">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
					</p:panel>

					<p:panel style="min-width:700px"
						header="#{language.InternalIsolation}" id="internalCoatPanelId">
						<h:panelGrid columns="6">
							<h:outputText value="#{language.CoatSide}:"></h:outputText>
							<p:selectOneMenu disabled="true"
								value="#{productionMachineBean.internalCoat.side}">
								<f:selectItem itemLabel="#{language.Internal}" itemValue="1" />
								<f:selectItem itemLabel="#{language.External}" itemValue="2" />
							</p:selectOneMenu>

							<h:outputText value="#{language.AdhesiveDiameter}:"></h:outputText>
							<p:inputText readonly="true"
								value="#{productionMachineBean.internalCoat.yasCapA}"></p:inputText>

							<h:outputText value="#{language.AdhesiveDiameter} :"></h:outputText>
							<p:inputText readonly="true"
								value="#{productionMachineBean.internalCoat.yasCapB}"></p:inputText>

							<h:outputText value="#{language.GasControl} :"></h:outputText>
							<p:inputText readonly="true"
								value="#{productionMachineBean.internalCoat.gozKontrol}"></p:inputText>

							<h:outputText value="#{language.HolidayTest} :"></h:outputText>
							<p:inputText readonly="true"
								value="#{productionMachineBean.internalCoat.repairHolidayTest}"></p:inputText>

							<h:outputText value="#{language.Date} (gg/aa/yyyy):"></h:outputText>
							<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
								stepMinute="5" disabled="true"
								value="#{productionMachineBean.internalCoat.date}">
							</p:calendar>
						</h:panelGrid>
						<p:dataGrid columns="4" rows="2" id="internalLayerDataGridId"
							value="#{productionMachineBean.internalLayerList}"
							var="internalCoatLayer">
							<p:column>
								<p:panel>
									<h:panelGrid columns="4">
										<h:outputText value="#{language.Location}:"></h:outputText>
										<p:inputText readonly="true"
											value="#{language.Layer} #{internalCoatLayer.layerNumber}"></p:inputText>
										<h:outputText value="#{language.AmountConsumed}:"></h:outputText>
										<p:inputText readonly="true"
											value="#{internalCoatLayer.amountConsumed}"></p:inputText>
									</h:panelGrid>
									<h:panelGrid border="0" columns="3" cellspacing="5">
										<p:commandLink title="#{language.Delete}"
											action="#{productionMachineBean.deleteCoatLayer(internalCoatLayer)}"
											update="pipeCoatMessages internalCoatPanelId"
											process="@this internalCoatPanelId">
											<p:graphicImage value="/large_icons/delete.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
									</h:panelGrid>
								</p:panel>
							</p:column>
						</p:dataGrid>
					</p:panel>

					<p:panel style="min-width:700px"
						header="#{language.ExternalIsolation}" id="externalCoatPanelId">
						<h:panelGrid columns="6">
							<h:outputText value="#{language.CoatSide}:"></h:outputText>
							<p:selectOneMenu disabled="true"
								value="#{productionMachineBean.externalCoat.side}">
								<f:selectItem itemLabel="#{language.Internal}" itemValue="1" />
								<f:selectItem itemLabel="#{language.External}" itemValue="2" />
							</p:selectOneMenu>

							<h:outputText value="#{language.AdhesiveDiameter}:"></h:outputText>
							<p:inputText readonly="true"
								value="#{productionMachineBean.externalCoat.yasCapA}"></p:inputText>

							<h:outputText value="#{language.AdhesiveDiameter} :"></h:outputText>
							<p:inputText readonly="true"
								value="#{productionMachineBean.externalCoat.yasCapB}"></p:inputText>

							<h:outputText value="#{language.GasControl} :"></h:outputText>
							<p:inputText readonly="true"
								value="#{productionMachineBean.externalCoat.gozKontrol}"></p:inputText>

							<h:outputText value="#{language.HolidayTest} :"></h:outputText>
							<p:inputText readonly="true"
								value="#{productionMachineBean.externalCoat.repairHolidayTest}"></p:inputText>

							<h:outputText value="#{language.Date} (gg/aa/yyyy):"></h:outputText>
							<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
								stepMinute="5" disabled="true"
								value="#{productionMachineBean.externalCoat.date}">
							</p:calendar>
						</h:panelGrid>
						<h:panelGrid columns="3">
							<c:forEach items="#{productionMachineBean.externalLayerList}"
								var="externalCoatLayer">
								<p:panel>
									<h:panelGrid columns="4">
										<h:outputText value="#{language.Location}:"></h:outputText>
										<p:inputText readonly="true"
											value="#{language.Layer} #{externalCoatLayer.layerNumber}"></p:inputText>
										<h:outputText value="#{language.AmountConsumed}:"></h:outputText>
										<p:inputText readonly="true"
											value="#{externalCoatLayer.amountConsumed}"></p:inputText>
									</h:panelGrid>
									<h:panelGrid border="0" columns="3" cellspacing="5">
										<p:commandLink title="#{language.Delete}"
											action="#{productionMachineBean.deleteCoatLayer(externalCoatLayer)}"
											update="pipeCoatMessages externalCoatPanelId"
											process="externalCoatPanelId">
											<p:graphicImage value="/large_icons/delete.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
									</h:panelGrid>
								</p:panel>
							</c:forEach>
						</h:panelGrid>
					</p:panel>
					<p:messages id="pipeCoatMessages"></p:messages>
				</p:dialog>
				<p:messages id="productionMachineMessages"></p:messages>
			</p:panel>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>

</html>


