<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">
				<!-- Polietilen -->
				<p:tab id="polietilenTabId"
					title=" POLİETİLEN KAPLAMA EKRANI *** #{kaplamaMakinesiPolietilenBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{kaplamaMakinesiPolietilenBean.selectedPipe.salesItem.itemNo} / #{kaplamaMakinesiPolietilenBean.selectedPipe.salesItem.proposal.customer.shortName} / #{kaplamaMakinesiPolietilenBean.selectedPipe.salesItem.diameter}x#{kaplamaMakinesiPolietilenBean.selectedPipe.salesItem.thickness} / #{kaplamaMakinesiPolietilenBean.selectedPipe.salesItem.quality} / #{kaplamaMakinesiPolietilenBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{kaplamaMakinesiPolietilenBean.barkodNo}">
					</p:inputText>
					<p:commandButton value="Boru Bul"
						actionListener="#{kaplamaMakinesiPolietilenBean.fillTestListFromBarkod(kaplamaMakinesiPolietilenBean.barkodNo)}"
						update="growl polietilenPanelGridId polietilen polietilenDataTableId orderAccordionPanelId"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>

					<!-- Koordinat Listesi -->
					<p:dataTable var="polietilen" id="polietilenDataTableId"
						rowKey="#{polietilen.id}" emptyMessage="#{language.EmptyMessage}"
						value="#{kaplamaMakinesiPolietilenBean.allKaplamaMakinesiPolietilenList}"
						paginator="true" rows="13" dynamic="true" dblClickSelect="false"
						selection="#{kaplamaMakinesiPolietilenBean.kaplamaMakinesiPolietilenForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{kaplamaMakinesiPolietilenBean.kaplamaListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="polietilenTabId polietilenAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="polietilenDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="POLİETİLEN KAPLAMALAR" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{kaplamaMakinesiPolietilenBean.selectedPipe.salesItem.itemNo} - #{kaplamaMakinesiPolietilenBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{polietilen.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kaplamaya Başlama Zamanı">
							<h:outputText value="#{polietilen.kaplamaBaslamaZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kaplamaya Başlayan Personel">
							<h:outputText
								value="#{polietilen.kaplamaBaslamaUser.employee.firstname} #{polietilen.kaplamaBaslamaUser.employee.lastname}"></h:outputText>
						</p:column>

						<p:column style="text-align: center;">
							<f:facet name="header">
								<h:outputText value="Kaplama İşlemi"></h:outputText>
							</f:facet>
							<p:graphicImage value="/small_icons/blank.png" style="border:0px"
								title="Boşta." rendered="#{polietilen.durum == null}"></p:graphicImage>
							<p:graphicImage value="/small_icons/next.png" style="border:0px"
								title="Polietilen Kaplamaya Başlanmış."
								rendered="#{polietilen.durum == false}"></p:graphicImage>
							<p:graphicImage value="/small_icons/done.png" style="border:0px"
								title="Polietilen Kaplama Bitmiş."
								rendered="#{polietilen.durum == true}"></p:graphicImage>
						</p:column>

						<p:column headerText="Kaplama Bitiş Zamanı">
							<h:outputText value="#{polietilen.kaplamaBitisZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kaplamayı Bitiren Personel">
							<h:outputText
								value="#{polietilen.kaplamaBitisUser.employee.firstname} #{polietilen.kaplamaBitisUser.employee.lastname}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="polietilenAddPanelGridId">
						<p:commandButton value="YENİ POLİETİLEN KAPLAMA EKLE"
							update="growl polietilenPanelGridId polietilen"
							process="@this polietilenPanelGridId"
							disabled="#{kaplamaMakinesiPolietilenBean.selectedPipe.pipeId==null}"
							onclick="warningNewPolietilenDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="POLİETİLEN KAPLAMA İŞ EMRİ"
							actionListener="#{kaplamaMakinesiPolietilenBean.isEmriGoster}"
							update="growl isEmriPanelGridId polietilenSicaklikId"
							disabled="#{kaplamaMakinesiPolietilenBean.selectedPipe.pipeId==null}"
							process="@this isEmriPanelGridId"
							onclick="isEmriDialogWidget.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
						<!-- 						<p:commandButton value="DÜZENLE" -->
						<!-- 							update="growl polietilenPanelGridId polietilen" -->
						<!-- 							process="@this polietilenPanelGridId" -->
						<!-- 							onclick="warningNewPolietilenDialog.show()" -->
						<!-- 							icon="ui-icon-circle-plus" -->
						<!-- 							rendered="#{kaplamaMakinesiPolietilenBean.updateButtonRender}"> -->
						<!-- 						</p:commandButton> -->
						<p:commandButton value="SEÇİLEN POLİETİLEN KAPLAMAYA BAŞLA"
							rendered="#{kaplamaMakinesiPolietilenBean.updateButtonRender}"
							update="growl polietilenPanelGridId polietilen" id="baslaButton"
							process="@this polietilenPanelGridId"
							onclick="warningStartPolietilenDialog.show()"
							icon="ui-icon-circle-plus"
							disabled="#{kaplamaMakinesiPolietilenBean.kaplamaMakinesiPolietilenForm.durum==false}">
						</p:commandButton>
						<p:commandButton value="SEÇİLEN POLİETİLEN KAPLAMAYI BİTİR"
							rendered="#{kaplamaMakinesiPolietilenBean.kaplamaMakinesiPolietilenForm.durum==false}"
							update="growl polietilenPanelGridId polietilen" id="bitirButton"
							process="@this polietilenPanelGridId"
							onclick="warningStopPolietilenDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="SİL"
							actionListener="#{kaplamaMakinesiPolietilenBean.deletePolietilenSonuc}"
							update="polietilenPanelGridId polietilenDataTableId growl pipeTestsDataTableId"
							process="@this polietilenPanelGridId" icon="ui-icon-trash"
							rendered="#{kaplamaMakinesiPolietilenBean.updateButtonRender}">
							<f:param id="polietilenDeletePipeId"
								value="#{kaplamaMakinesiPolietilenBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
						<p:commandButton value="VARDİYA RAPORU AL" update="growl"
							process="@this polietilenPanelGridId"
							disabled="#{kaplamaMakinesiPolietilenBean.selectedPipe.pipeId==null}"
							onclick="raporDialog.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
					</h:panelGrid>

					<p:dialog widgetVar="warningStartPolietilenDialog"
						header="#{language.salesWarning}">
						<h:outputText
							value="BORU İÇİN POLİETİLEN KAPLAMA BAŞLATILACAK, EMİN MİSİNİZ?" />
						<br />

						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningStartPolietilenDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{kaplamaMakinesiPolietilenBean.addPolietilenSonuc}"
							oncomplete="warningStartPolietilenDialog.hide();"
							update="growl polietilenPanelGridId polietilen polietilenDataTableId orderAccordionPanelId"
							process="@this polietilenPanelGridId">
							<f:param id="polietilenAllPipeId"
								value="#{kaplamaMakinesiPolietilenBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="warningStopPolietilenDialog"
						header="#{language.salesWarning}"
						id="warningStopPolietilenDialogId">
						<h:outputText
							value="BORU İÇİN POLİETİLEN KAPLAMA BİTİRİLECEK, EMİN MİSİNİZ?" />
						<br />
						<h:outputText value="#{language.Explanation}"
							style="font-weight: bold;"></h:outputText>
						<br />
						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningStopPolietilenDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{kaplamaMakinesiPolietilenBean.addPolietilenSonuc}"
							oncomplete="warningStopPolietilenDialog.hide();"
							update="growl polietilenPanelGridId polietilen polietilenDataTableId orderAccordionPanelId"
							process="@this polietilenPanelGridId warningStopPolietilenDialogId">
							<f:param id="prmAddPolietilen"
								value="#{kaplamaMakinesiPolietilenBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="warningNewPolietilenDialog"
						header="#{language.salesWarning}"
						id="warningNewPolietilenDialogId">
						<h:outputText
							value="BORU İÇİN YENİ POLİETİLEN KAPLAMA EKLEMEK İSTİYOR MUSUNUZ?" />
						<br />

						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningNewPolietilenDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{kaplamaMakinesiPolietilenBean.addPolietilen}"
							oncomplete="warningNewPolietilenDialog.hide();"
							update="growl polietilenPanelGridId polietilen polietilenDataTableId orderAccordionPanelId"
							process="@this polietilenPanelGridId warningNewPolietilenDialogId">
							<f:param id="selectedPipeId"
								value="#{kaplamaMakinesiPolietilenBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false"
						header="POLİETİLEN KAPLAMA İŞ EMRİ" id="isEmriDialogId"
						widgetVar="isEmriDialogWidget" showEffect="scale"
						hideEffect="scale">

						<h:panelGrid border="0" columns="4" cellspacing="5"
							style="text-align: center" id="isEmriPanelGridId">
							<f:facet name="header">
								<h:outputText value="İŞ EMRİ" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="Müşteri : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.salesItem.proposal.salesOrder.proposal.customer.shortName}"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="Sipariş No : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.salesItem.proposal.salesOrder.orderNo} - #{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.salesItem.itemNo}"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="Sipariş Miktarı : "
								style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.salesItem.totalLengthM} m"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="Dış Çap : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.salesItem.diameter} mm"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="Et Kalınlığı : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.salesItem.thickness} mm"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="Bağlantı Şekli : " style="font-weight: bold"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.salesItem.pipeHole}"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="Boru Boyu : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.salesItem.pipeLength} m"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="Toz Epoksi Cinsi : "
								style="font-weight: bold;"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.coatRawMaterialEpoksi.marka} #{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.coatRawMaterialEpoksi.urun}"></h:outputText>
							<h:outputText value="Hedeflenen Malzeme : (kg/m2)"
								style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.hedeflenenMalzemeEpoksi}"
								converter="doubleNumberConverter"
								style="color: red; font-weight: bold;">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>

							<h:outputText value="Toz Epoksi Kalınlığı (μm): "
								style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.tozEpoksiKalinligi}"
								style="color: red; font-weight: bold;"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="Kontrol Ünitesi Parametreleri : "
								style="font-weight: bold;"></h:outputText>
							<h:panelGrid border="0" columns="2" style="width:100%"
								id="kontrol1">

								<h:outputText value="Voltaj (kV) : " style="font-weight: bold;"></h:outputText>
								<h:outputText style="color: red; font-weight: bold;"
									value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaKontrolParametreleri.voltaj}"></h:outputText>
								<h:outputText value="Amper (μA) : " style="font-weight: bold;"></h:outputText>
								<h:outputText style="color: red; font-weight: bold;"
									value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaKontrolParametreleri.amper}"></h:outputText>

							</h:panelGrid>
							<h:panelGrid border="0" columns="2" style="width:100%"
								id="kontrol2">

								<h:outputText value="Boya Miktarı (%) : "
									style="font-weight: bold;"></h:outputText>
								<h:outputText style="color: red; font-weight: bold;"
									value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaKontrolParametreleri.boyaMiktari}"></h:outputText>
								<h:outputText value="Toplam Hava Debisi (Bar): "
									style="font-weight: bold;"></h:outputText>
								<h:outputText style="color: red; font-weight: bold;"
									value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaKontrolParametreleri.havaDebisi}"></h:outputText>

							</h:panelGrid>
							<h:panelGrid border="0" columns="2" style="width:100%"
								id="kontrol3">

								<h:outputText value="Elektrod Temizleme Havası : "
									style="font-weight: bold;"></h:outputText>
								<h:outputText style="color: red; font-weight: bold;"
									value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaKontrolParametreleri.elektrodTemizlemeHavasi}"
									converter="numberConverter"></h:outputText>
								<h:outputText value="Program : " style="font-weight: bold;"></h:outputText>
								<h:outputText style="color: red; font-weight: bold;"
									value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaKontrolParametreleri.program}"></h:outputText>

							</h:panelGrid>

							<h:outputText
								value="Toz Epoksi Arakat (Intercoat) Süresi : (Saniye)"
								style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.intercoatSuresi}"
								style="color: red; font-weight: bold;"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="Yapıştırıcı Cinsi : "
								style="font-weight: bold;"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.coatRawMaterialYapistirici.marka} #{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.coatRawMaterialYapistirici.urun}"></h:outputText>
							<h:outputText value="Hedeflenen Malzeme : (kg/m2)"
								style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.hedeflenenMalzemeYapistirici}"
								converter="doubleNumberConverter"
								style="color: red; font-weight: bold;">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>

							<h:outputText value="Yapıştırıcı Kalınlığı : "
								style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.yapistiriciKalinligi}"
								style="color: red; font-weight: bold;"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="Polietilen Cinsi : "
								style="font-weight: bold;"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.coatRawMaterialPolietilen.marka} #{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.coatRawMaterialPolietilen.urun}"></h:outputText>
							<h:outputText value="Hedeflenen Malzeme : (kg/m2)"
								style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.hedeflenenMalzemePolietilen}"
								converter="doubleNumberConverter"
								style="color: red; font-weight: bold;">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>

							<h:outputText value="Polietilen Kalınlığı : "
								style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.polietilenKalinligi}"
								style="color: red; font-weight: bold;width: 100px"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="Polietilen Film Hatvesi : (mm)"
								style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.hatve}"
								style="color: red; font-weight: bold;"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="Cut - Back : " style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

						</h:panelGrid>

						<h:panelGrid border="0" columns="8" id="polietilenSicaklikId">
							<h:outputText
								value="Polietilen Extruder 1 - 2 Bölgeleri Sıcaklıkları : "
								style="font-weight: bold;"></h:outputText>
							<h:outputText value="Kafa() : " style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaPolietilenSicaklik.kafaBir}"
								style="color: red; font-weight: bold;"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="Gövde() : " style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaPolietilenSicaklik.govdeBir}"
								style="color: red; font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaPolietilenSicaklik.govdeIki}"
								style="color: red; font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaPolietilenSicaklik.govdeUc}"
								style="color: red; font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaPolietilenSicaklik.govdeDort}"
								style="color: red; font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaPolietilenSicaklik.govdeBes}"
								style="color: red; font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaPolietilenSicaklik.govdeAlti}"
								style="color: red; font-weight: bold;"></h:outputText>

							<h:outputText
								value="Yapıştırıcı Extruder Bölgeleri Sıcaklıkları : "
								style="font-weight: bold;"></h:outputText>
							<h:outputText value="Kafa() : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaYapistiriciSicaklik.kafaBir}"
								style="color: red; font-weight: bold;"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="Gövde() : " style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaYapistiriciSicaklik.govdeBir}"
								style="color: red; font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaYapistiriciSicaklik.govdeIki}"
								style="color: red; font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaYapistiriciSicaklik.govdeUc}"
								style="color: red; font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaYapistiriciSicaklik.govdeDort}"
								style="color: red; font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiPolietilenBean.selectedIsEmriKaplama.isEmriPolietilenKaplamaYapistiriciSicaklik.govdeBes}"
								style="color: red; font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaYapistiriciSicaklik.govdeAlti}"
								style="color: red; font-weight: bold;"></h:outputText>
						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="isEmriDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>


					<p:dialog widgetVar="raporDialog"
						header="POLİETİLEN KAPLAMA TEZGAHI VARDİYA RAPORU"
						id="raporDialogId">

						<h:outputText value="VARDİYA" style="font-weight: bold;"></h:outputText>
						<p:selectOneMenu
							value="#{testCoatingMachineReportBean.raporVardiya}">
							<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
							<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
							<f:selectItem itemValue="0" itemLabel="GECE"></f:selectItem>
						</p:selectOneMenu>

						<h:outputText value="Test Zamanı (gg/aa/yyyy): "
							style="font-weight: bold;"></h:outputText>
						<h:outputText style="width:10px;" value="" />

						<p:calendar mode="popup" autocomplete="false" showOn="button"
							stepMinute="5" required="true"
							pattern="#{userCredentialsBean.dateFormat}"
							requiredMessage="#{language.RequiredMessage}"
							value="#{testCoatingMachineReportBean.raporTarihi}"></p:calendar>

						<p:spacer width="15" height="50" />

						<h:commandButton
							action="#{testCoatingMachineReportBean.fr71ReportXlsx(kaplamaMakinesiPolietilenBean.selectedPipe.pipeId)}"
							image="/large_icons/report.png" title="FR-71">
							<f:ajax execute="raporDialogId" />
						</h:commandButton>

						<h:commandButton
							action="#{testCoatingMachineReportBean.fr71_2ReportXlsx(kaplamaMakinesiPolietilenBean.selectedPipe.pipeId)}"
							image="/large_icons/report.png" title="FR-71-2">
							<f:ajax execute="raporDialogId" />
						</h:commandButton>

						<h:commandLink value="RAPORU İNDİRMEK İÇİN TIKLAYINIZ!"
							title="RAPORU İNDİR" immediate="true">
							<p:fileDownload
								value="#{testCoatingMachineReportBean.downloadedFile}" />
						</h:commandLink>
					</p:dialog>
				</p:tab>
			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>