<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">
				<!-- İç Kumlama -->
				<p:tab id="icKumlamaTabId"
					title=" İÇ KUMLAMA EKRANI *** #{kaplamaMakinesiIcKumlamaBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{kaplamaMakinesiIcKumlamaBean.selectedPipe.salesItem.itemNo} / #{kaplamaMakinesiIcKumlamaBean.selectedPipe.salesItem.proposal.customer.shortName} / #{kaplamaMakinesiIcKumlamaBean.selectedPipe.salesItem.diameter}x#{kaplamaMakinesiIcKumlamaBean.selectedPipe.salesItem.thickness} / #{kaplamaMakinesiIcKumlamaBean.selectedPipe.salesItem.quality} / #{kaplamaMakinesiIcKumlamaBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{kaplamaMakinesiIcKumlamaBean.barkodNo}">
					</p:inputText>
					<p:commandButton value="BORU BUL"
						actionListener="#{kaplamaMakinesiIcKumlamaBean.fillTestListFromBarkod(kaplamaMakinesiIcKumlamaBean.barkodNo)}"
						update="growl icKumlamaPanelGridId kumlama icKumlamaDataTableId orderAccordionPanelId"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>

					<!-- Koordinat Listesi -->
					<p:dataTable var="kumlama" id="icKumlamaDataTableId"
						rowKey="#{kumlama.id}" emptyMessage="#{language.EmptyMessage}"
						value="#{kaplamaMakinesiIcKumlamaBean.allKaplamaMakinesiIcKumlamaList}"
						paginator="true" rows="13" dynamic="true" dblClickSelect="false"
						selection="#{kaplamaMakinesiIcKumlamaBean.kaplamaMakinesiIcKumlamaForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{kaplamaMakinesiIcKumlamaBean.kumlamaListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="kumlamaTabId icKumlamaAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="icKumlamaDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="İÇ KUMLAMALAR" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{kaplamaMakinesiIcKumlamaBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{kaplamaMakinesiIcKumlamaBean.selectedPipe.salesItem.itemNo} - #{kaplamaMakinesiIcKumlamaBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{kumlama.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kumlamaya Başlama Zamanı">
							<h:outputText value="#{kumlama.kaplamaBaslamaZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kumlamaya Başlayan Personel">
							<h:outputText
								value="#{kumlama.kaplamaBaslamaUser.employee.firstname} #{kumlama.kaplamaBaslamaUser.employee.lastname}"></h:outputText>
						</p:column>

						<p:column style="text-align: center;">
							<f:facet name="header">
								<h:outputText value="Kumlama İşlemi"></h:outputText>
							</f:facet>
							<p:graphicImage value="/small_icons/blank.png" style="border:0px"
								title="Boşta." rendered="#{kumlama.durum == null}"></p:graphicImage>
							<p:graphicImage value="/small_icons/next.png" style="border:0px"
								title="Kumlamaya Başlamış." rendered="#{kumlama.durum == false}"></p:graphicImage>
							<p:graphicImage value="/small_icons/done.png" style="border:0px"
								title="Kumlama Bitmiş." rendered="#{kumlama.durum == true}"></p:graphicImage>
						</p:column>

						<p:column headerText="Kumlama Bitiş Zamanı">
							<h:outputText value="#{kumlama.kaplamaBitisZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kumlamayı Bitiren Personel">
							<h:outputText
								value="#{kumlama.kaplamaBitisUser.employee.firstname} #{kumlama.kaplamaBitisUser.employee.lastname}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="icKumlamaAddPanelGridId">
						<p:commandButton value="YENİ İÇ KUMLAMA EKLE"
							update="growl icKumlamaPanelGridId kumlama"
							process="@this icKumlamaPanelGridId"
							disabled="#{kaplamaMakinesiIcKumlamaBean.selectedPipe.pipeId==null}"
							onclick="warningNewIcKumlamaDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="İÇ KUMLAMA İŞ EMRİ"
							actionListener="#{kaplamaMakinesiIcKumlamaBean.isEmriGoster}"
							update="growl isEmriPanelGridId kumlama"
							disabled="#{kaplamaMakinesiIcKumlamaBean.selectedPipe.pipeId==null}"
							process="@this isEmriPanelGridId"
							onclick="isEmriDialogWidget.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
						<!-- 						<p:commandButton value="DÜZENLE" -->
						<!-- 							update="growl icKumlamaPanelGridId kumlama" -->
						<!-- 							process="@this icKumlamaPanelGridId" -->
						<!-- 							onclick="warningNewIcKumlamaDialog.show()" -->
						<!-- 							icon="ui-icon-circle-plus" -->
						<!-- 							rendered="#{kaplamaMakinesiIcKumlamaBean.updateButtonRender}"> -->
						<!-- 						</p:commandButton> -->
						<p:commandButton value="SEÇİLEN İÇ KUMLAMAYA BAŞLA"
							rendered="#{kaplamaMakinesiIcKumlamaBean.updateButtonRender}"
							update="growl icKumlamaPanelGridId kumlama" id="baslaButton"
							process="@this icKumlamaPanelGridId"
							onclick="warningStartIcKumlamaDialog.show()"
							icon="ui-icon-circle-plus"
							disabled="#{kaplamaMakinesiIcKumlamaBean.kaplamaMakinesiIcKumlamaForm.durum==false}">
						</p:commandButton>
						<p:commandButton value="SEÇİLEN İÇ KUMLAMAYI BİTİR"
							rendered="#{kaplamaMakinesiIcKumlamaBean.kaplamaMakinesiIcKumlamaForm.durum==false}"
							update="growl icKumlamaPanelGridId kumlama" id="bitirButton"
							process="@this icKumlamaPanelGridId"
							onclick="warningStopIcKumlamaDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="SİL"
							actionListener="#{kaplamaMakinesiIcKumlamaBean.deleteKumlamaSonuc}"
							update="icKumlamaPanelGridId icKumlamaDataTableId growl pipeTestsDataTableId"
							process="@this icKumlamaPanelGridId" icon="ui-icon-trash"
							rendered="#{kaplamaMakinesiIcKumlamaBean.updateButtonRender}">
							<f:param id="icKumlamaDeletePipeId"
								value="#{kaplamaMakinesiIcKumlamaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
						<p:commandButton value="VARDİYA RAPORU AL" update="growl"
							process="@this icKumlamaPanelGridId"
							disabled="#{kaplamaMakinesiIcKumlamaBean.selectedPipe.pipeId==null}"
							onclick="raporDialog.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
					</h:panelGrid>

					<p:dialog widgetVar="warningStartIcKumlamaDialog"
						header="#{language.salesWarning}">
						<h:outputText
							value="BORU İÇİN İÇ KUMLAMA BAŞLATILACAK, EMİN MİSİNİZ?" />
						<br />

						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningStartIcKumlamaDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{kaplamaMakinesiIcKumlamaBean.addKumlamaSonuc}"
							oncomplete="warningStartIcKumlamaDialog.hide();"
							update="growl icKumlamaPanelGridId kumlama icKumlamaDataTableId orderAccordionPanelId"
							process="@this icKumlamaPanelGridId">
							<f:param id="icKumlamaAllPipeId"
								value="#{kaplamaMakinesiIcKumlamaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="warningStopIcKumlamaDialog"
						header="#{language.salesWarning}"
						id="warningStopIcKumlamaDialogId">
						<h:outputText
							value="BORU İÇİN İÇ KUMLAMA BİTİRİLECEK, EMİN MİSİNİZ?" />
						<br />
						<h:outputText value="#{language.Explanation}"
							style="font-weight: bold;"></h:outputText>
						<br />
						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningStopIcKumlamaDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{kaplamaMakinesiIcKumlamaBean.addKumlamaSonuc}"
							oncomplete="warningStopIcKumlamaDialog.hide();"
							update="growl icKumlamaPanelGridId kumlama icKumlamaDataTableId orderAccordionPanelId"
							process="@this icKumlamaPanelGridId warningStopIcKumlamaDialogId">
							<f:param id="icKumlamaSelectedPipeId"
								value="#{kaplamaMakinesiIcKumlamaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="warningNewIcKumlamaDialog"
						header="#{language.salesWarning}" id="warningNewIcKumlamaDialogId">
						<h:outputText
							value="BORU İÇİN YENİ İÇ KUMLAMA EKLEMEK İSTİYOR MUSUNUZ?" />
						<br />

						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningNewIcKumlamaDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{kaplamaMakinesiIcKumlamaBean.addKumlama}"
							oncomplete="warningNewIcKumlamaDialog.hide();"
							update="growl icKumlamaPanelGridId kumlama icKumlamaDataTableId orderAccordionPanelId"
							process="@this icKumlamaPanelGridId warningNewIcKumlamaDialogId">
							<f:param id="selectedPipeId"
								value="#{kaplamaMakinesiIcKumlamaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<!-- Kaplama İş Emri -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false" header="İÇ KUMLAMA İŞ EMRİ"
						id="isEmriDialogId" widgetVar="isEmriDialogWidget"
						showEffect="scale" hideEffect="scale">

						<h:panelGrid border="0" columns="2" style="width:100%"
							id="isEmriPanelGridId">

							<h:outputText value="Sipariş No : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiIcKumlamaBean.selectedIsEmriKaplama.salesItem.proposal.salesOrder.orderNo} - #{kaplamaMakinesiIcKumlamaBean.selectedIsEmriKaplama.salesItem.itemNo}"></h:outputText>

							<h:outputText value="Müşteri : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiIcKumlamaBean.selectedIsEmriKaplama.salesItem.proposal.customer.shortName}"></h:outputText>

							<h:outputText value="Malzeme : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiIcKumlamaBean.selectedIsEmriKaplama.salesItem.quality}"></h:outputText>

							<h:outputText value="Boru Boyu : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiIcKumlamaBean.selectedIsEmriKaplama.salesItem.pipeLength} m"></h:outputText>

							<h:outputText value="Et Kalınlığı : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiIcKumlamaBean.selectedIsEmriKaplama.salesItem.thickness} mm"></h:outputText>

							<h:outputText value="Dış Çap : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiIcKumlamaBean.selectedIsEmriKaplama.salesItem.diameter} mm"></h:outputText>

							<h:outputText value="Sipariş Miktarı : "
								style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiIcKumlamaBean.selectedIsEmriKaplama.salesItem.totalLengthM} m"></h:outputText>

							<h:outputText value="Kumlama Kalitesi : "
								style="font-weight: bold"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="#{kaplamaMakinesiIcKumlamaBean.kumlamaKalitesi}"></h:outputText>

							<h:outputText value="Kumlama Malzemesi : "
								style="font-weight: bold;"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="#{kaplamaMakinesiIcKumlamaBean.selectedIsEmriKaplama.coatRawMaterial.marka} / #{kaplamaMakinesiIcKumlamaBean.selectedIsEmriKaplama.coatRawMaterial.urun}"></h:outputText>

							<h:outputText value="Hedeflenen Malzeme (gr/m2) : "
								style="font-weight: bold;"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="#{kaplamaMakinesiIcKumlamaBean.selectedIsEmriKaplama.hedeflenenMalzeme}"></h:outputText>

							<h:outputText value="İzolasyon Türü : " style="font-weight: bold"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="İÇ - #{kaplamaMakinesiIcKumlamaBean.selectedIsEmriKaplama.salesItem.internalCoveringType}, DIŞ - #{kaplamaMakinesiIcKumlamaBean.selectedIsEmriKaplama.salesItem.externalCoveringType}"></h:outputText>
						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="isEmriDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>

					<p:dialog widgetVar="raporDialog"
						header="POLİETİLEN KAPLAMA TEZGAHI VARDİYA RAPORU"
						id="raporDialogId">

						<h:outputText value="VARDİYA" style="font-weight: bold;"></h:outputText>
						<p:selectOneMenu
							value="#{testCoatingMachineReportBean.raporVardiya}">
							<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
							<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
							<f:selectItem itemValue="0" itemLabel="GECE"></f:selectItem>
						</p:selectOneMenu>

						<h:outputText value="Test Zamanı (gg/aa/yyyy): "
							style="font-weight: bold;"></h:outputText>
						<h:outputText style="width:10px;" value="" />

						<p:calendar mode="popup" autocomplete="false" showOn="button"
							stepMinute="5" required="true"
							pattern="#{userCredentialsBean.dateFormat}"
							requiredMessage="#{language.RequiredMessage}"
							value="#{testCoatingMachineReportBean.raporTarihi}"></p:calendar>

						<p:spacer width="15" height="50" />

						<h:commandButton
							action="#{testCoatingMachineReportBean.fr229ReportXlsx(kaplamaMakinesiIcKumlamaBean.selectedPipe.pipeId)}"
							image="/large_icons/report.png" title="FR-229">
							<f:ajax execute="raporDialogId" />
						</h:commandButton>

						<h:commandLink value="RAPORU İNDİRMEK İÇİN TIKLAYINIZ!"
							title="RAPORU İNDİR" immediate="true">
							<p:fileDownload
								value="#{testCoatingMachineReportBean.downloadedFile}" />
						</h:commandLink>
					</p:dialog>
				</p:tab>
			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>