<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">
				<!-- Fırçalama -->
				<p:tab id="fircalamaTabId"
					title=" FIRÇALAMA EKRANI *** #{kaplamaMakinesiFircalamaBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{kaplamaMakinesiFircalamaBean.selectedPipe.salesItem.itemNo} / #{kaplamaMakinesiFircalamaBean.selectedPipe.salesItem.proposal.customer.shortName} / #{kaplamaMakinesiFircalamaBean.selectedPipe.salesItem.diameter}x#{kaplamaMakinesiFircalamaBean.selectedPipe.salesItem.thickness} / #{kaplamaMakinesiFircalamaBean.selectedPipe.salesItem.quality} / #{kaplamaMakinesiFircalamaBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{kaplamaMakinesiFircalamaBean.barkodNo}">
					</p:inputText>
					<p:commandButton value="Boru Bul"
						actionListener="#{kaplamaMakinesiFircalamaBean.fillTestListFromBarkod(kaplamaMakinesiFircalamaBean.barkodNo)}"
						update="growl fircalamaPanelGridId fircalamaDataTableId orderAccordionPanelId"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>

					<!-- Koordinat Listesi -->
					<p:dataTable var="fircalama" id="fircalamaDataTableId"
						rowKey="#{fircalama.id}" emptyMessage="#{language.EmptyMessage}"
						value="#{kaplamaMakinesiFircalamaBean.allKaplamaMakinesiFircalamaList}"
						paginator="true" rows="13" dynamic="true" dblClickSelect="false"
						selection="#{kaplamaMakinesiFircalamaBean.kaplamaMakinesiFircalamaForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{kaplamaMakinesiFircalamaBean.kaplamaListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="fircalamaTabId fircalamaAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="fircalamaDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="FIRÇALAMALAR" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{kaplamaMakinesiFircalamaBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{kaplamaMakinesiFircalamaBean.selectedPipe.salesItem.itemNo} - #{kaplamaMakinesiFircalamaBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{fircalama.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Fırçalamaya Başlama Zamanı">
							<h:outputText value="#{fircalama.kaplamaBaslamaZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Fırçalamaya Başlayan Personel">
							<h:outputText
								value="#{fircalama.kaplamaBaslamaUser.employee.firstname} #{fircalama.kaplamaBaslamaUser.employee.lastname}"></h:outputText>
						</p:column>

						<p:column style="text-align: center;">
							<f:facet name="header">
								<h:outputText value="Fircalama İşlemi"></h:outputText>
							</f:facet>
							<p:graphicImage value="/small_icons/blank.png" style="border:0px"
								title="Boşta." rendered="#{fircalama.durum == null}"></p:graphicImage>
							<p:graphicImage value="/small_icons/next.png" style="border:0px"
								title="Fırçalama Başlamış."
								rendered="#{fircalama.durum == false}"></p:graphicImage>
							<p:graphicImage value="/small_icons/done.png" style="border:0px"
								title="Fircalama Bitmiş." rendered="#{fircalama.durum == true}"></p:graphicImage>
						</p:column>

						<p:column headerText="Fircalama Bitiş Zamanı">
							<h:outputText value="#{fircalama.kaplamaBitisZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Fırçalamayı Bitiren Personel">
							<h:outputText
								value="#{fircalama.kaplamaBitisUser.employee.firstname} #{fircalama.kaplamaBitisUser.employee.lastname}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="fircalamaAddPanelGridId">
						<p:commandButton value="YENİ FIRÇALAMA EKLE"
							update="growl fircalamaPanelGridId"
							process="@this fircalamaPanelGridId"
							disabled="#{kaplamaMakinesiFircalamaBean.selectedPipe.pipeId==null}"
							onclick="warningNewFircalamaDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<!-- 						<p:commandButton value="DÜZENLE" -->
						<!-- 							update="growl fircalamaPanelGridId" -->
						<!-- 							process="@this fircalamaPanelGridId" -->
						<!-- 							onclick="warningNewFircalamaDialog.show()" -->
						<!-- 							icon="ui-icon-circle-plus" -->
						<!-- 							rendered="#{kaplamaMakinesiFircalamaBean.updateButtonRender}"> -->
						<!-- 						</p:commandButton> -->
						<p:commandButton value="SEÇİLEN FIRÇALAMAYA BAŞLA"
							rendered="#{kaplamaMakinesiFircalamaBean.updateButtonRender}"
							update="growl fircalamaPanelGridId" id="baslaButton"
							process="@this fircalamaPanelGridId"
							onclick="warningStartFircalamaDialog.show()"
							icon="ui-icon-circle-plus"
							disabled="#{kaplamaMakinesiFircalamaBean.kaplamaMakinesiFircalamaForm.durum==false}">
						</p:commandButton>
						<p:commandButton value="SEÇİLEN FIRÇALAMAYI BİTİR"
							rendered="#{kaplamaMakinesiFircalamaBean.kaplamaMakinesiFircalamaForm.durum==false}"
							update="growl fircalamaPanelGridId" id="bitirButton"
							process="@this fircalamaPanelGridId"
							onclick="warningStopFircalamaDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="SİL"
							actionListener="#{kaplamaMakinesiFircalamaBean.deleteFircalamaSonuc}"
							update="fircalamaPanelGridId fircalamaDataTableId growl pipeTestsDataTableId"
							process="@this fircalamaPanelGridId" icon="ui-icon-trash"
							rendered="#{kaplamaMakinesiFircalamaBean.updateButtonRender}">
							<f:param id="fircalamaDeletePipeId"
								value="#{kaplamaMakinesiFircalamaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
						<p:commandButton value="VARDİYA RAPORU AL" update="growl"
							process="@this fircalamaPanelGridId"
							disabled="#{kaplamaMakinesiFircalamaBean.selectedPipe.pipeId==null}"
							onclick="raporDialog.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
					</h:panelGrid>

					<p:dialog widgetVar="warningStartFircalamaDialog"
						header="#{language.salesWarning}">
						<h:outputText
							value="BORU İÇİN FIRÇALAMA BAŞLATILACAK, EMİN MİSİNİZ?" />
						<br />

						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningStartFircalamaDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{kaplamaMakinesiFircalamaBean.addFircalamaSonuc}"
							oncomplete="warningStartFircalamaDialog.hide();"
							update="growl fircalamaPanelGridId fircalamaDataTableId orderAccordionPanelId"
							process="@this fircalamaPanelGridId">
							<f:param id="fircalamaAllPipeId"
								value="#{kaplamaMakinesiFircalamaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="warningStopFircalamaDialog"
						header="#{language.salesWarning}"
						id="warningStopFircalamaDialogId">
						<h:outputText
							value="BORU İÇİN FIRÇALAMA BİTİRİLECEK, EMİN MİSİNİZ?" />
						<br />
						<h:outputText value="#{language.Explanation}"
							style="font-weight: bold;"></h:outputText>
						<br />
						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningStopFircalamaDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{kaplamaMakinesiFircalamaBean.addFircalamaSonuc}"
							oncomplete="warningStopFircalamaDialog.hide();"
							update="growl fircalamaPanelGridId fircalamaDataTableId orderAccordionPanelId"
							process="@this fircalamaPanelGridId warningStopFircalamaDialogId">
							<f:param id="fircalamaSelectedPipeId"
								value="#{kaplamaMakinesiFircalamaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="warningNewFircalamaDialog"
						header="#{language.salesWarning}" id="warningNewFircalamaDialogId">
						<h:outputText
							value="BORU İÇİN YENİ FIRÇALAMA EKLEMEK İSTİYOR MUSUNUZ?" />
						<br />

						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningNewFircalamaDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{kaplamaMakinesiFircalamaBean.addFircalama}"
							oncomplete="warningNewFircalamaDialog.hide();"
							update="growl fircalamaPanelGridId fircalamaDataTableId orderAccordionPanelId"
							process="@this fircalamaPanelGridId warningNewFircalamaDialogId">
							<f:param id="selectedPipeId"
								value="#{kaplamaMakinesiFircalamaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="raporDialog"
						header="FIRÇALAMA TEZGAHI VARDİYA RAPORU" id="raporDialogId">

						<h:outputText value="VARDİYA" style="font-weight: bold;"></h:outputText>
						<p:selectOneMenu
							value="#{testCoatingMachineReportBean.raporVardiya}">
							<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
							<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
							<f:selectItem itemValue="0" itemLabel="GECE"></f:selectItem>
						</p:selectOneMenu>

						<h:outputText value="Test Zamanı (gg/aa/yyyy): "
							style="font-weight: bold;"></h:outputText>
						<h:outputText style="width:10px;" value="" />

						<p:calendar mode="popup" autocomplete="false" showOn="button"
							stepMinute="5" required="true"
							pattern="#{userCredentialsBean.dateFormat}"
							requiredMessage="#{language.RequiredMessage}"
							value="#{testCoatingMachineReportBean.raporTarihi}"></p:calendar>

						<p:spacer width="15" height="50" />

						<h:commandButton
							action="#{testCoatingMachineReportBean.fr146ReportXlsx(kaplamaMakinesiFircalamaBean.selectedPipe.pipeId)}"
							image="/large_icons/report.png" title="FR-146">
							<f:ajax execute="raporDialogId" />
						</h:commandButton>

						<h:commandLink value="RAPORU İNDİRMEK İÇİN TIKLAYINIZ!"
							title="RAPORU İNDİR" immediate="true">
							<p:fileDownload
								value="#{testCoatingMachineReportBean.downloadedFile}" />
						</h:commandLink>
					</p:dialog>

				</p:tab>
			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>