<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">
				<!-- Dış Kumlama -->
				<p:tab id="disKumlamaTabId"
					title=" DIŞ KUMLAMA EKRANI  *** #{kaplamaMakinesiDisKumlamaBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{kaplamaMakinesiDisKumlamaBean.selectedPipe.salesItem.itemNo} / #{kaplamaMakinesiDisKumlamaBean.selectedPipe.salesItem.proposal.customer.shortName} / #{kaplamaMakinesiDisKumlamaBean.selectedPipe.salesItem.diameter}x#{kaplamaMakinesiDisKumlamaBean.selectedPipe.salesItem.thickness} / #{kaplamaMakinesiDisKumlamaBean.selectedPipe.salesItem.quality} / #{kaplamaMakinesiDisKumlamaBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{kaplamaMakinesiDisKumlamaBean.barkodNo}">
					</p:inputText>
					<p:commandButton value="BORU BUL"
						actionListener="#{kaplamaMakinesiDisKumlamaBean.fillTestListFromBarkod(kaplamaMakinesiDisKumlamaBean.barkodNo)}"
						update="growl disKumlamaPanelGridId kumlama disKumlamaDataTableId orderAccordionPanelId"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>

					<!-- Koordinat Listesi -->
					<p:dataTable var="kumlama" id="disKumlamaDataTableId"
						rowKey="#{kumlama.id}" emptyMessage="#{language.EmptyMessage}"
						value="#{kaplamaMakinesiDisKumlamaBean.allKaplamaMakinesiDisKumlamaList}"
						paginator="true" rows="13" dynamic="true" dblClickSelect="false"
						selection="#{kaplamaMakinesiDisKumlamaBean.kaplamaMakinesiDisKumlamaForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{kaplamaMakinesiDisKumlamaBean.kumlamaListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="kumlamaTabId disKumlamaAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="disKumlamaDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="DIŞ KUMLAMALAR" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{kaplamaMakinesiDisKumlamaBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{kaplamaMakinesiDisKumlamaBean.selectedPipe.salesItem.itemNo} - #{kaplamaMakinesiDisKumlamaBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{kumlama.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kumlamaya Başlama Zamanı">
							<h:outputText value="#{kumlama.kaplamaBaslamaZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kumlamaya Başlayan Personel">
							<h:outputText
								value="#{kumlama.kaplamaBaslamaUser.employee.firstname} #{kumlama.kaplamaBaslamaUser.employee.lastname}"></h:outputText>
						</p:column>

						<p:column style="text-align: center;">
							<f:facet name="header">
								<h:outputText value="Kumlama İşlemi"></h:outputText>
							</f:facet>
							<p:graphicImage value="/small_icons/blank.png" style="border:0px"
								title="Boşta." rendered="#{kumlama.durum == null}"></p:graphicImage>
							<p:graphicImage value="/small_icons/next.png" style="border:0px"
								title="Kumlamaya Başlamış." rendered="#{kumlama.durum == false}"></p:graphicImage>
							<p:graphicImage value="/small_icons/done.png" style="border:0px"
								title="Kumlama Bitmiş." rendered="#{kumlama.durum == true}"></p:graphicImage>
						</p:column>

						<p:column headerText="Kumlama Bitiş Zamanı">
							<h:outputText value="#{kumlama.kaplamaBitisZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kumlamayı Bitiren Personel">
							<h:outputText
								value="#{kumlama.kaplamaBitisUser.employee.firstname} #{kumlama.kaplamaBitisUser.employee.lastname}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="disKumlamaAddPanelGridId">
						<p:commandButton value="YENİ DIŞ KUMLAMA EKLE"
							actionListener="#{kaplamaMakinesiDisKumlamaBean.addKumlama}"
							disabled="#{kaplamaMakinesiDisKumlamaBean.selectedPipe.pipeId==null}"
							update="growl disKumlamaPanelGridId kumlama disKumlamaDataTableId orderAccordionPanelId"
							process="@this disKumlamaPanelGridId warningNewDisKumlamaDialogId">
							<f:param id="eklePipeId"
								value="#{kaplamaMakinesiDisKumlamaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
						<p:commandButton value="DIŞ KUMLAMA İŞ EMRİ"
							actionListener="#{kaplamaMakinesiDisKumlamaBean.isEmriGoster}"
							update="growl isEmriPanelGridId kumlama"
							disabled="#{kaplamaMakinesiDisKumlamaBean.selectedPipe.pipeId==null}"
							process="@this isEmriPanelGridId"
							onclick="isEmriDialogWidget.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
						<!-- 						<p:commandButton value="DÜZENLE" -->
						<!-- 							update="growl disKumlamaPanelGridId kumlama" -->
						<!-- 							process="@this disKumlamaPanelGridId" -->
						<!-- 							onclick="warningNewDisKumlamaDialog.show()" -->
						<!-- 							icon="ui-icon-circle-plus" -->
						<!-- 							rendered="#{kaplamaMakinesiDisKumlamaBean.updateButtonRender}"> -->
						<!-- 						</p:commandButton> -->
						<p:commandButton value="SEÇİLEN DIŞ KUMLAMAYA BAŞLA"
							actionListener="#{kaplamaMakinesiDisKumlamaBean.addKumlamaSonuc}"
							update="growl disKumlamaPanelGridId kumlama disKumlamaDataTableId orderAccordionPanelId"
							process="@this disKumlamaPanelGridId"
							disabled="#{kaplamaMakinesiDisKumlamaBean.kaplamaMakinesiDisKumlamaForm.durum==false  || kaplamaMakinesiDisKumlamaBean.kaplamaMakinesiDisKumlamaForm.id==null}">
							<f:param id="baslaPipeId"
								value="#{kaplamaMakinesiDisKumlamaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
						<p:commandButton value="SEÇİLEN DIŞ KUMLAMAYI BİTİR"
							actionListener="#{kaplamaMakinesiDisKumlamaBean.addKumlamaSonuc}"
							disabled="#{kaplamaMakinesiDisKumlamaBean.kaplamaMakinesiDisKumlamaForm.durum || kaplamaMakinesiDisKumlamaBean.kaplamaMakinesiDisKumlamaForm.id==null || kaplamaMakinesiDisKumlamaBean.kaplamaMakinesiDisKumlamaForm.durum==null}"
							update="growl disKumlamaPanelGridId kumlama disKumlamaDataTableId orderAccordionPanelId"
							process="@this disKumlamaPanelGridId warningStopDisKumlamaDialogId">
							<f:param id="bitirPipeId"
								value="#{kaplamaMakinesiDisKumlamaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
						<p:commandButton value="SİL"
							actionListener="#{kaplamaMakinesiDisKumlamaBean.deleteKumlamaSonuc}"
							update="disKumlamaPanelGridId disKumlamaDataTableId growl pipeTestsDataTableId"
							process="@this disKumlamaPanelGridId" icon="ui-icon-trash"
							disabled="#{!kaplamaMakinesiDisKumlamaBean.updateButtonRender}">
							<f:param id="disKumlamaDeletePipeId"
								value="#{kaplamaMakinesiDisKumlamaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
						<p:commandButton value="VARDİYA RAPORU AL" update="growl"
							process="@this polietilenPanelGridId"
							disabled="#{kaplamaMakinesiDisKumlamaBean.selectedPipe.pipeId==null}"
							onclick="raporDialog.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
					</h:panelGrid>

					<!-- Kaplama İş Emri -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false" header="DIŞ KUMLAMA İŞ EMRİ"
						id="isEmriDialogId" widgetVar="isEmriDialogWidget"
						showEffect="scale" hideEffect="scale">

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="isEmriPanelGridId">
							<f:facet name="header">
								<h:outputText value="İŞ EMRİ" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="Sipariş No : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiDisKumlamaBean.selectedIsEmriKaplama.salesItem.proposal.salesOrder.orderNo} - #{kaplamaMakinesiDisKumlamaBean.selectedIsEmriKaplama.salesItem.itemNo}"></h:outputText>

							<h:outputText value="Müşteri : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiDisKumlamaBean.selectedIsEmriKaplama.salesItem.proposal.customer.shortName}"></h:outputText>

							<h:outputText value="Malzeme : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiDisKumlamaBean.selectedIsEmriKaplama.salesItem.quality}"></h:outputText>

							<h:outputText value="Boru Boyu : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiDisKumlamaBean.selectedIsEmriKaplama.salesItem.pipeLength} m"></h:outputText>

							<h:outputText value="Et Kalınlığı : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiDisKumlamaBean.selectedIsEmriKaplama.salesItem.thickness} mm"></h:outputText>

							<h:outputText value="Dış Çap : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiDisKumlamaBean.selectedIsEmriKaplama.salesItem.diameter} mm"></h:outputText>

							<h:outputText value="Sipariş Miktarı : "
								style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiDisKumlamaBean.selectedIsEmriKaplama.salesItem.totalLengthM} m"></h:outputText>

							<h:outputText value="Kumlama Kalitesi : "
								style="font-weight: bold"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="#{kaplamaMakinesiDisKumlamaBean.kumlamaKalitesi}"></h:outputText>

							<h:outputText value="Kumlama Malzemesi : "
								style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiDisKumlamaBean.selectedIsEmriKaplama.coatRawMaterial.marka} / #{kaplamaMakinesiDisKumlamaBean.selectedIsEmriKaplama.coatRawMaterial.urun}"
								style="color: red; font-weight: bold;">
							</h:outputText>

							<h:outputText value="Hedeflenen Malzeme (gr/m2) : "
								style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiDisKumlamaBean.selectedIsEmriKaplama.hedeflenenMalzeme} (gr/m2)"
								style="color: red; font-weight: bold;">
							</h:outputText>

							<h:outputText value="İzolasyon Türü : " style="font-weight: bold"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="İÇ - #{kaplamaMakinesiDisKumlamaBean.selectedIsEmriKaplama.salesItem.internalCoveringType}, DIŞ - #{kaplamaMakinesiDisKumlamaBean.selectedIsEmriKaplama.salesItem.externalCoveringType}"></h:outputText>
						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="isEmriDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>

					<p:dialog widgetVar="raporDialog"
						header="POLİETİLEN KAPLAMA TEZGAHI VARDİYA RAPORU"
						id="raporDialogId">

						<h:outputText value="VARDİYA" style="font-weight: bold;"></h:outputText>
						<p:selectOneMenu
							value="#{testCoatingMachineReportBean.raporVardiya}">
							<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
							<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
							<f:selectItem itemValue="0" itemLabel="GECE"></f:selectItem>
						</p:selectOneMenu>

						<h:outputText value="Test Zamanı (gg/aa/yyyy): "
							style="font-weight: bold;"></h:outputText>
						<h:outputText style="width:10px;" value="" />

						<p:calendar mode="popup" autocomplete="false" showOn="button"
							stepMinute="5" required="true"
							pattern="#{userCredentialsBean.dateFormat}"
							requiredMessage="#{language.RequiredMessage}"
							value="#{testCoatingMachineReportBean.raporTarihi}"></p:calendar>

						<p:spacer width="15" height="50" />

						<h:commandButton
							action="#{testCoatingMachineReportBean.fr230ReportXlsx(kaplamaMakinesiDisKumlamaBean.selectedPipe.pipeId)}"
							image="/large_icons/report.png" title="FR-230">
							<f:ajax execute="raporDialogId" />
						</h:commandButton>

						<h:commandLink value="RAPORU İNDİRMEK İÇİN TIKLAYINIZ!"
							title="RAPORU İNDİR" immediate="true">
							<p:fileDownload
								value="#{testCoatingMachineReportBean.downloadedFile}" />
						</h:commandLink>
					</p:dialog>
				</p:tab>
			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>