<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">
				<!-- Beton -->
				<p:tab id="betonTabId"
					title=" BETON KAPLAMA EKRANI *** #{kaplamaMakinesiBetonBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{kaplamaMakinesiBetonBean.selectedPipe.salesItem.itemNo} / #{kaplamaMakinesiBetonBean.selectedPipe.salesItem.proposal.customer.shortName} / #{kaplamaMakinesiBetonBean.selectedPipe.salesItem.diameter}x#{kaplamaMakinesiBetonBean.selectedPipe.salesItem.thickness} / #{kaplamaMakinesiBetonBean.selectedPipe.salesItem.quality} / #{kaplamaMakinesiBetonBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{kaplamaMakinesiBetonBean.barkodNo}">
					</p:inputText>
					<p:commandButton value="Boru Bul"
						actionListener="#{kaplamaMakinesiBetonBean.fillTestListFromBarkod(kaplamaMakinesiBetonBean.barkodNo)}"
						update="growl betonPanelGridId beton betonDataTableId orderAccordionPanelId"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>

					<!-- Koordinat Listesi -->
					<p:dataTable var="beton" id="betonDataTableId" rowKey="#{beton.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{kaplamaMakinesiBetonBean.allKaplamaMakinesiBetonList}"
						paginator="true" rows="13" dynamic="true" dblClickSelect="false"
						selection="#{kaplamaMakinesiBetonBean.kaplamaMakinesiBetonForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{kaplamaMakinesiBetonBean.kaplamaListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="betonTabId betonAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="betonDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="BETON KAPLAMALAR" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{kaplamaMakinesiBetonBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{kaplamaMakinesiBetonBean.selectedPipe.salesItem.itemNo} - #{kaplamaMakinesiBetonBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{beton.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Betona Başlama Zamanı">
							<h:outputText value="#{beton.kaplamaBaslamaZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Betona Başlayan Personel">
							<h:outputText
								value="#{beton.kaplamaBaslamaUser.employee.firstname} #{beton.kaplamaBaslamaUser.employee.lastname}"></h:outputText>
						</p:column>

						<p:column style="text-align: center;">
							<f:facet name="header">
								<h:outputText value="Beton İşlemi"></h:outputText>
							</f:facet>
							<p:graphicImage value="/small_icons/blank.png" style="border:0px"
								title="Boşta." rendered="#{beton.durum == null}"></p:graphicImage>
							<p:graphicImage value="/small_icons/next.png" style="border:0px"
								title="Betona Başlamış." rendered="#{beton.durum == false}"></p:graphicImage>
							<p:graphicImage value="/small_icons/done.png" style="border:0px"
								title="Beton Bitmiş." rendered="#{beton.durum == true}"></p:graphicImage>
						</p:column>

						<p:column headerText="Beton Bitiş Zamanı">
							<h:outputText value="#{beton.kaplamaBitisZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Betonu Bitiren Personel">
							<h:outputText
								value="#{beton.kaplamaBitisUser.employee.firstname} #{beton.kaplamaBitisUser.employee.lastname}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="betonAddPanelGridId">
						<p:commandButton value="YENİ BETON KAPLAMA EKLE"
							update="growl betonPanelGridId beton"
							process="@this betonPanelGridId"
							disabled="#{kaplamaMakinesiBetonBean.selectedPipe.pipeId==null}"
							onclick="warningNewBetonDialog.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="BETON KAPLAMA İŞ EMRİ"
							actionListener="#{kaplamaMakinesiBetonBean.isEmriGoster}"
							update="growl isEmriPanelGridId kumlama"
							disabled="#{kaplamaMakinesiBetonBean.selectedPipe.pipeId==null}"
							process="@this isEmriPanelGridId"
							onclick="isEmriDialogWidget.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
						<!-- 						<p:commandButton value="DÜZENLE" -->
						<!-- 							update="growl betonPanelGridId beton" -->
						<!-- 							process="@this betonPanelGridId" -->
						<!-- 							onclick="warningNewBetonDialog.show()" -->
						<!-- 							icon="ui-icon-circle-plus" -->
						<!-- 							rendered="#{kaplamaMakinesiBetonBean.updateButtonRender}"> -->
						<!-- 						</p:commandButton> -->
						<p:commandButton value="SEÇİLEN BETON KAPLAMAYA BAŞLA"
							rendered="#{kaplamaMakinesiBetonBean.updateButtonRender}"
							update="growl betonPanelGridId beton" id="baslaButton"
							process="@this betonPanelGridId"
							onclick="warningStartBetonDialog.show()"
							icon="ui-icon-circle-plus"
							disabled="#{kaplamaMakinesiBetonBean.kaplamaMakinesiBetonForm.durum==false}">
						</p:commandButton>
						<p:commandButton value="SEÇİLEN BETON KAPLAMAYI BİTİR"
							rendered="#{kaplamaMakinesiBetonBean.kaplamaMakinesiBetonForm.durum==false}"
							update="growl betonPanelGridId beton" id="bitirButton"
							process="@this betonPanelGridId"
							onclick="warningStopBetonDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="SİL"
							actionListener="#{kaplamaMakinesiBetonBean.deleteBetonSonuc}"
							update="betonPanelGridId betonDataTableId growl pipeTestsDataTableId"
							process="@this betonPanelGridId" icon="ui-icon-trash"
							rendered="#{kaplamaMakinesiBetonBean.updateButtonRender}">
							<f:param id="betonDeletePipeId"
								value="#{kaplamaMakinesiBetonBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
						<p:commandButton value="VARDİYA RAPORU AL" update="growl"
							process="@this betonPanelGridId"
							disabled="#{kaplamaMakinesiBetonBean.selectedPipe.pipeId==null}"
							onclick="raporDialog.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
					</h:panelGrid>

					<p:dialog widgetVar="warningStartBetonDialog"
						header="#{language.salesWarning}">
						<h:outputText
							value="BORU İÇİN BETON KAPLAMA BAŞLATILACAK, EMİN MİSİNİZ?" />
						<br />

						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningStartBetonDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{kaplamaMakinesiBetonBean.addBetonSonuc}"
							oncomplete="warningStartBetonDialog.hide();"
							update="growl betonPanelGridId beton betonDataTableId orderAccordionPanelId"
							process="@this betonPanelGridId">
							<f:param id="betonAllPipeId"
								value="#{kaplamaMakinesiBetonBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="warningStopBetonDialog"
						header="#{language.salesWarning}" id="warningStopBetonDialogId">
						<h:outputText
							value="BORU İÇİN BETON KAPLAMA BİTİRİLECEK, EMİN MİSİNİZ?" />
						<br />
						<h:outputText value="#{language.Explanation}"
							style="font-weight: bold;"></h:outputText>
						<br />
						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningStopBetonDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{kaplamaMakinesiBetonBean.addBetonSonuc}"
							oncomplete="warningStopBetonDialog.hide();"
							update="growl betonPanelGridId beton betonDataTableId orderAccordionPanelId"
							process="@this betonPanelGridId warningStopBetonDialogId">
							<f:param id="betonSelectedPipeId"
								value="#{kaplamaMakinesiBetonBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="warningNewBetonDialog"
						header="#{language.salesWarning}" id="warningNewBetonDialogId">
						<h:outputText
							value="BORU İÇİN YENİ BETON KAPLAMA EKLEMEK İSTİYOR MUSUNUZ?" />
						<br />

						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningNewBetonDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{kaplamaMakinesiBetonBean.addBeton}"
							oncomplete="warningNewBetonDialog.hide();"
							update="growl betonPanelGridId beton betonDataTableId orderAccordionPanelId"
							process="@this betonPanelGridId warningNewBetonDialogId">
							<f:param id="selectedPipeId"
								value="#{kaplamaMakinesiBetonBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<!-- Kaplama İş Emri -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false" header="BETON KAPLAMA İŞ EMRİ"
						id="isEmriDialogId" widgetVar="isEmriDialogWidget"
						showEffect="scale" hideEffect="scale">

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="isEmriPanelGridId">
							<f:facet name="header">
								<h:outputText value="İŞ EMRİ" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="Sipariş No : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiBetonBean.selectedIsEmriKaplama.salesItem.proposal.salesOrder.orderNo} - #{kaplamaMakinesiBetonBean.selectedIsEmriKaplama.salesItem.itemNo}"></h:outputText>

							<h:outputText value="Müşteri : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiBetonBean.selectedIsEmriKaplama.salesItem.proposal.customer.shortName}"></h:outputText>

							<h:outputText value="Dış Çap : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiBetonBean.selectedIsEmriKaplama.salesItem.diameter} mm"></h:outputText>

							<h:outputText value="Et Kalınlığı : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiBetonBean.selectedIsEmriKaplama.salesItem.thickness} mm"></h:outputText>

							<h:outputText value="Boru Boyu : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiBetonBean.selectedIsEmriKaplama.salesItem.pipeLength} m"></h:outputText>

							<h:outputText value="Sipariş Miktarı : "
								style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiBetonBean.selectedIsEmriKaplama.salesItem.totalLengthM} m"></h:outputText>

							<h:outputText value="Bağlantı Şekli : " style="font-weight: bold"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="$date$"></h:outputText>

							<h:outputText value="Kaplama Kalınlığı : "
								style="font-weight: bold"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="$date$"></h:outputText>

							<h:outputText value="Cut - Back : " style="font-weight: bold"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="#{kaplamaMakinesiBetonBean.selectedIsEmriKaplama.salesItem.pipeHole}"></h:outputText>

							<h:outputText value="Hedeflenen Malzeme : (kg/boru)"
								style="font-weight: bold;"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="#{kaplamaMakinesiBetonBean.selectedIsEmriKaplama.hedeflenenMalzeme}"></h:outputText>

							<h:outputText value="Karışım Oranı : " style="font-weight: bold;"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="Kum(kg): #{kaplamaMakinesiBetonBean.selectedIsEmriKaplama.kum} - Çimento(kg): #{kaplamaMakinesiBetonBean.selectedIsEmriKaplama.cimento} - Katkı(kg): #{kaplamaMakinesiBetonBean.selectedIsEmriKaplama.katki} - Su(kg): #{kaplamaMakinesiBetonBean.selectedIsEmriKaplama.su}"></h:outputText>
						</h:panelGrid>
						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="isEmriDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>

					<p:dialog widgetVar="raporDialog"
						header="BETON KAPLAMA TEZGAHI VARDİYA RAPORU" id="raporDialogId">

						<h:outputText value="VARDİYA" style="font-weight: bold;"></h:outputText>
						<p:selectOneMenu
							value="#{testCoatingMachineReportBean.raporVardiya}">
							<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
							<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
							<f:selectItem itemValue="0" itemLabel="GECE"></f:selectItem>
						</p:selectOneMenu>

						<h:outputText value="Test Zamanı (gg/aa/yyyy): "
							style="font-weight: bold;"></h:outputText>
						<h:outputText style="width:10px;" value="" />

						<p:calendar mode="popup" autocomplete="false" showOn="button"
							stepMinute="5" required="true"
							pattern="#{userCredentialsBean.dateFormat}"
							requiredMessage="#{language.RequiredMessage}"
							value="#{testCoatingMachineReportBean.raporTarihi}"></p:calendar>

						<p:spacer width="15" height="50" />

						<h:commandButton
							action="#{testCoatingMachineReportBean.fr72ReportXlsx(kaplamaMakinesiBetonBean.selectedPipe.pipeId)}"
							image="/large_icons/report.png" title="FR-72">
							<f:ajax execute="raporDialogId" />
						</h:commandButton>

						<h:commandLink value="RAPORU İNDİRMEK İÇİN TIKLAYINIZ!"
							title="RAPORU İNDİR" immediate="true">
							<p:fileDownload
								value="#{testCoatingMachineReportBean.downloadedFile}" />
						</h:commandLink>
					</p:dialog>
				</p:tab>

			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>