<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">
				<!-- Muflama -->
				<p:tab id="muflamaTabId"
					title=" MUFLAMA EKRANI *** #{kaplamaMakinesiMuflamaBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{kaplamaMakinesiMuflamaBean.selectedPipe.salesItem.itemNo} / #{kaplamaMakinesiMuflamaBean.selectedPipe.salesItem.proposal.customer.shortName} / #{kaplamaMakinesiMuflamaBean.selectedPipe.salesItem.diameter}x#{kaplamaMakinesiMuflamaBean.selectedPipe.salesItem.thickness} / #{kaplamaMakinesiMuflamaBean.selectedPipe.salesItem.quality} / #{kaplamaMakinesiMuflamaBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{kaplamaMakinesiMuflamaBean.barkodNo}">
					</p:inputText>
					<p:commandButton value="Boru Bul"
						actionListener="#{kaplamaMakinesiMuflamaBean.fillTestListFromBarkod(kaplamaMakinesiMuflamaBean.barkodNo)}"
						update="growl muflamaPanelGridId muflamaDataTableId orderAccordionPanelId"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>

					<!-- Koordinat Listesi -->
					<p:dataTable var="muflama" id="muflamaDataTableId"
						rowKey="#{muflama.id}" emptyMessage="#{language.EmptyMessage}"
						value="#{kaplamaMakinesiMuflamaBean.allKaplamaMakinesiMuflamaList}"
						paginator="true" rows="13" dynamic="true" dblClickSelect="false"
						selection="#{kaplamaMakinesiMuflamaBean.kaplamaMakinesiMuflamaForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{kaplamaMakinesiMuflamaBean.kaplamaListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="muflamaTabId muflamaAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="muflamaDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="MUFLAMA KAPLAMALAR" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{kaplamaMakinesiMuflamaBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{kaplamaMakinesiMuflamaBean.selectedPipe.salesItem.itemNo} - #{kaplamaMakinesiMuflamaBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{muflama.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Muflamaya Başlama Zamanı">
							<h:outputText value="#{muflama.kaplamaBaslamaZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Muflamaya Başlayan Personel">
							<h:outputText
								value="#{muflama.kaplamaBaslamaUser.employee.firstname} #{muflama.kaplamaBaslamaUser.employee.lastname}"></h:outputText>
						</p:column>

						<p:column style="text-align: center;">
							<f:facet name="header">
								<h:outputText value="Muflama İşlemi"></h:outputText>
							</f:facet>
							<p:graphicImage value="/small_icons/blank.png" style="border:0px"
								title="Boşta." rendered="#{muflama.durum == null}"></p:graphicImage>
							<p:graphicImage value="/small_icons/next.png" style="border:0px"
								title="Muflamaya Başlamış." rendered="#{muflama.durum == false}"></p:graphicImage>
							<p:graphicImage value="/small_icons/done.png" style="border:0px"
								title="Muflama Bitmiş." rendered="#{muflama.durum == true}"></p:graphicImage>
						</p:column>

						<p:column headerText="Muf Çapı">
							<h:outputText value="#{muflama.mufCapi}"></h:outputText>
						</p:column>

						<p:column headerText="Muflama Bitiş Zamanı">
							<h:outputText value="#{muflama.kaplamaBitisZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Muflamayı Bitiren Personel">
							<h:outputText
								value="#{muflama.kaplamaBitisUser.employee.firstname} #{muflama.kaplamaBitisUser.employee.lastname}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="muflamaAddPanelGridId">
						<p:commandButton value="YENİ MUFLAMA EKLE"
							update="growl muflamaPanelGridId"
							process="@this muflamaPanelGridId"
							disabled="#{kaplamaMakinesiMuflamaBean.selectedPipe.pipeId==null}"
							onclick="warningNewMuflamaDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<!-- 						<p:commandButton value="DÜZENLE" -->
						<!-- 							update="growl muflamaPanelGridId" -->
						<!-- 							process="@this muflamaPanelGridId" -->
						<!-- 							onclick="warningNewMuflamaDialog.show()" -->
						<!-- 							icon="ui-icon-circle-plus" -->
						<!-- 							rendered="#{kaplamaMakinesiMuflamaBean.updateButtonRender}"> -->
						<!-- 						</p:commandButton> -->
						<p:commandButton value="SEÇİLEN MUFLAMA BAŞLA"
							rendered="#{kaplamaMakinesiMuflamaBean.updateButtonRender}"
							update="growl muflamaPanelGridId" id="baslaButton"
							process="@this muflamaPanelGridId"
							onclick="warningStartMuflamaDialog.show()"
							icon="ui-icon-circle-plus"
							disabled="#{kaplamaMakinesiMuflamaBean.kaplamaMakinesiMuflamaForm.durum==false}">
						</p:commandButton>
						<p:commandButton value="SEÇİLEN MUFLAMA BİTİR"
							rendered="#{kaplamaMakinesiMuflamaBean.kaplamaMakinesiMuflamaForm.durum==false}"
							update="growl muflamaPanelGridId" id="bitirButton"
							process="@this muflamaPanelGridId"
							onclick="warningStopMuflamaDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="SİL"
							actionListener="#{kaplamaMakinesiMuflamaBean.deleteMuflamaSonuc}"
							update="muflamaPanelGridId muflamaDataTableId growl pipeTestsDataTableId"
							process="@this muflamaPanelGridId" icon="ui-icon-trash"
							rendered="#{kaplamaMakinesiMuflamaBean.updateButtonRender}">
							<f:param id="muflamaDeletePipeId"
								value="#{kaplamaMakinesiMuflamaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
						<p:commandButton value="VARDİYA RAPORU AL" update="growl"
							process="@this muflamaPanelGridId"
							disabled="#{kaplamaMakinesiMuflamaBean.selectedPipe.pipeId==null}"
							onclick="raporDialog.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
					</h:panelGrid>

					<p:dialog widgetVar="warningStartMuflamaDialog"
						header="#{language.salesWarning}">
						<h:outputText
							value="BORU İÇİN MUFLAMA BAŞLATILACAK, EMİN MİSİNİZ?" />
						<br />

						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningStartMuflamaDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{kaplamaMakinesiMuflamaBean.addMuflamaSonuc}"
							oncomplete="warningStartMuflamaDialog.hide();"
							update="growl muflamaPanelGridId muflamaDataTableId orderAccordionPanelId"
							process="@this muflamaPanelGridId">
							<f:param id="muflamaAllPipeId"
								value="#{kaplamaMakinesiMuflamaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="warningStopMuflamaDialog"
						header="#{language.salesWarning}" id="warningStopMuflamaDialogId">
						<h:outputText
							value="BORU İÇİN MUFLAMA KAPLAMA BİTİRİLECEK, EMİN MİSİNİZ?" />
						<br />
						<h:outputText value="MUF ÇAPI GİRİNİZ!" />
						<p:inputText
							value="#{kaplamaMakinesiMuflamaBean.kaplamaMakinesiMuflamaForm.mufCapi}"></p:inputText>
						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningStopMuflamaDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{kaplamaMakinesiMuflamaBean.addMuflamaSonuc}"
							oncomplete="warningStopMuflamaDialog.hide();"
							update="growl muflamaPanelGridId muflamaDataTableId orderAccordionPanelId"
							process="@this muflamaPanelGridId warningStopMuflamaDialogId">
							<f:param id="muflamaSelectedPipeId"
								value="#{kaplamaMakinesiMuflamaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="warningNewMuflamaDialog"
						header="#{language.salesWarning}" id="warningNewMuflamaDialogId">
						<h:outputText
							value="BORU İÇİN YENİ MUFLAMA EKLEMEK İSTİYOR MUSUNUZ?" />
						<br />

						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningNewMuflamaDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{kaplamaMakinesiMuflamaBean.addMuflama}"
							oncomplete="warningNewMuflamaDialog.hide();"
							update="growl muflamaPanelGridId muflamaDataTableId orderAccordionPanelId"
							process="@this muflamaPanelGridId warningNewMuflamaDialogId">
							<f:param id="selectedPipeId"
								value="#{kaplamaMakinesiMuflamaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="raporDialog"
						header="MUFLAMA KAPLAMA TEZGAHI VARDİYA RAPORU" id="raporDialogId">

						<h:outputText value="VARDİYA" style="font-weight: bold;"></h:outputText>
						<p:selectOneMenu
							value="#{testCoatingMachineReportBean.raporVardiya}">
							<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
							<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
							<f:selectItem itemValue="0" itemLabel="GECE"></f:selectItem>
						</p:selectOneMenu>

						<h:outputText value="Test Zamanı (gg/aa/yyyy): "
							style="font-weight: bold;"></h:outputText>
						<h:outputText style="width:10px;" value="" />

						<p:calendar mode="popup" autocomplete="false" showOn="button"
							stepMinute="5" required="true"
							pattern="#{userCredentialsBean.dateFormat}"
							requiredMessage="#{language.RequiredMessage}"
							value="#{testCoatingMachineReportBean.raporTarihi}"></p:calendar>

						<p:spacer width="15" height="50" />

						<h:commandButton
							action="#{testCoatingMachineReportBean.fr223ReportXlsx(kaplamaMakinesiMuflamaBean.selectedPipe.pipeId)}"
							image="/large_icons/report.png" title="FR-223">
							<f:ajax execute="raporDialogId" />
						</h:commandButton>

						<h:commandLink value="RAPORU İNDİRMEK İÇİN TIKLAYINIZ!"
							title="RAPORU İNDİR" immediate="true">
							<p:fileDownload
								value="#{testCoatingMachineReportBean.downloadedFile}" />
						</h:commandLink>
					</p:dialog>

				</p:tab>
			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>