<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget"
				activeIndex="2">
				<p:tab id="salesTabId" title="Şipariş ve Sipariş Kalemleri">

					<p:dataTable var="salesOrders" id="orderTable"
						value="#{salesOrderBean.orderList}"
						rowKey="#{salesOrders.orderId}"
						selection="#{salesOrderBean.selectedOrder}" selectionMode="single"
						update="orderSelected" paginator="true" rows="13"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesOrderBean.filteredList}">

						<p:ajax event="rowSelect"
							update="orderSelected,orderPanel,itemPanel,itemsTable"
							listener="#{salesMenuBean.showManageType1Menu}" />

						<p:ajax event="rowSelect"
							listener="#{qualitySpecBean.producedPipes}"
							process="listForm:orderTable orderTable"
							update="pipeForm producedPipesDataTableId salesTabId" />
						<p:ajax event="rowSelect" update="orderAccordionPanelId">
						</p:ajax>
						<p:ajax event="rowSelect" update="pipeTabId">
						</p:ajax>

						<f:facet name="header">
				  #{language.salesOrder}				
							<h:commandLink title="#{language.salesExcelExport}"
								immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="orderTable"
									fileName="#{language.salesOrderExcel}" />
							</h:commandLink>
						</f:facet>

						<p:column sortBy="#{salesOrders.salesOrderNo}"
							filterBy="#{salesOrders.orderNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText value="#{salesOrders.orderNo}" />
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.proposalNumber}"
							filterBy="#{salesOrders.proposal.proposalNumber}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesProposalNumber}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.proposalNumber}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.customer.shortName}"
							filterBy="#{salesOrders.proposal.customer.shortName}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesCustomer}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.customer.shortName}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.requestDate}"
							filterBy="#{salesOrders.proposal.requestDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesRequestDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.requestDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.formDate}"
							filterBy="#{salesOrders.proposal.formDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesFormDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.postDate}"
							filterBy="#{salesOrders.proposal.postDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesPostDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.postDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="salesItems" id="itemsTable"
						value="#{salesItemBean.itemsOfSelectedOrder}"
						rowKey="#{salesItems.itemId}"
						selection="#{tahribatsizTestOrderListBean.selectedSalesItem}"
						selectionMode="single" emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesItemBean.filteredList}">

						<p:ajax event="rowSelect"
							update="itemSelected,itemPanel,orderPanel"
							listener="#{salesMenuBean.showManageType2Menu}" />
						<p:ajax event="rowSelect"
							listener="#{tahribatsizTestOrderListBean.loadSelectedOrder}"
							process="orderAccordionPanelId:listOrderForm:datatableOrders datatableOrders"
							update="orderAccordionPanelId:listPipeForm:datatablePipes orderAccordionPanelId" />

						<f:facet name="header">
				  #{language.salesItem}			
							<h:commandLink title="#{language.salesExcelExport}"
								immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="itemsTable"
									fileName="#{language.salesOrderItemExcel}" />
							</h:commandLink>
							<p:spacer width="5120" height="5" />
						</f:facet>

						<p:column sortBy="#{salesItems.No}"
							filterBy="#{salesItems.itemNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesNumber}" />
							</f:facet>
							<h:outputText value="#{salesItems.itemNo}" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}"
							filterBy="#{salesItems.diameter}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.diameter}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.quality}"
							filterBy="#{salesItems.thickness}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesThickness}" />
							</f:facet>
							<h:outputText value="#{salesItems.thickness}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}"
							filterBy="#{salesItems.quality}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesQuality}" />
							</f:facet>
							<h:outputText value="#{salesItems.quality}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.pipeLength}"
							filterBy="#{salesItems.pipeLength}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesPipeLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.pipeLength}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalLengthM}"
							filterBy="#{salesItems.totalLengthM}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalLengthM}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.unitWeight}"
							filterBy="#{salesItems.unitWeight}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesUnitWeight}" />
							</f:facet>
							<h:outputText value="#{salesItems.unitWeight}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalTonnage}"
							filterBy="#{salesItems.totalTonnage}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalTonnage}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalTonnage}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.manufacturingStandard}"
							filterBy="#{salesItems.manufacturingStandard}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.manufacturingStandard}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.transportation}"
							filterBy="#{salesItems.transportation}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesManufacturingStandard}" />
							</f:facet>
							<h:outputText value="#{salesItems.transportation}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText value="#{salesOrderBean.selectedOrder.orderNo}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesProposalNumber}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.proposalNumber}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesCustomer}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.customer.shortName}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesRequestDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.requestDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesFormDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPostDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.postDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesValidityPeriod}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.validityPeriod}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPrepaidBy}" />
							</f:facet>
							<c:forEach items="#{salesItems.proposal.employeeList}"
								var="salesList">
								<h:outputText
									value="#{salesList.firstname} #{salesList.lastname}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								-
								<h:outputText value="#{salesList.amount}"
									converter="salesNumberConverter" />
								<h:outputText value=" " />
							</c:forEach>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesApproval}1" />
							</f:facet>
							<h:outputText rendered="#{salesItems.proposal.approval1 == true}"
								value="#{language.salesApproved}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesApproval}2" />
							</f:facet>
							<h:outputText rendered="#{salesItems.proposal.approval2 == true}"
								value="#{language.salesApproved}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesCurrencyUnit}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.currencyUnit.name}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesProposalRequestedDocuments}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.requestedDocuments}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesNotes}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.notes}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderFormDate}" />
							</f:facet>
							<h:outputText value="#{salesOrderBean.selectedOrder.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderDeliveryDate}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.deliveryDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope1}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope1 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope2}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope2 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope3}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope3 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope4}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope4 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope5}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope5 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderTransportationApproximateAmount}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountForTransportation}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderTransportationApproximateAmountDetail}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountDetailForTransportation}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderApproximateAmount}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmount}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderApproximateAmountDetail}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountDetail}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPayments}" />
							</f:facet>
							<c:forEach items="#{salesPaymentBean.paymentsOfSelectedOrder}"
								var="salesList">
								<h:outputText value="(" />
								<h:outputText value="#{salesList.paymentDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								-
								<h:outputText value="#{salesList.amount}"
									converter="salesNumberConverter" />
								<h:outputText value=") " />
							</c:forEach>
						</p:column>

					</p:dataTable>
				</p:tab>

				<p:tab id="pipeTabId" title="#{language.ProducedPipes}">
					<h:form id="listPipeForm">
						<p:dataTable id="datatablePipes" var="pipe"
							value="#{tahribatsizTestOrderListBean.selectedPipes}"
							tableStyle="width:100%;" paginator="true" rows="13"
							dynamic="true" widgetVar="data" rowKey="#{pipe.pipeId}"
							sortOrder="descending" selectionMode="single"
							selection="#{tahribatsizTestOrderListBean.selectedPipe}"
							sortBy="#{pipe.pipeId}"
							paginatorTemplate="#{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

							<p:ajax event="rowSelect"
								listener="#{tahribatsizTestOrderListBean.loadSelectedPipe}"
								process="orderAccordionPanelId:listPipeForm:datatablePipes datatablePipes"
								update="orderAccordionPanelId koordinatsTabId" />

							<p:ajax event="rowSelect"
								listener="#{kaplamaMakinesiAsitYikamaBean.fillTestList(tahribatsizTestOrderListBean.selectedPipe.pipeId)}"
								process="orderAccordionPanelId:listPipeForm:datatablePipes datatablePipes"
								update="orderAccordionPanelId koordinatsTabId asitYikamaTabId" />

							<p:ajax event="rowSelect" update="toolbarAnaId toolbarGroupId"></p:ajax>

							<f:facet name="header">
								<h:outputText value="#{language.ProducedPipes}" />
							</f:facet>

							<p:column headerText="#{language.PipeNumber}"
								sortBy="#{pipe.salesItem.proposal.salesOrder.orderNo}/#{pipe.salesItem.itemNo} - #{pipe.pipeIndex}"
								filterBy="#{pipe.salesItem.proposal.salesOrder.orderNo}/#{pipe.salesItem.itemNo} - #{pipe.pipeIndex}">
								<h:outputText
									value="#{pipe.salesItem.proposal.salesOrder.orderNo}/#{pipe.salesItem.itemNo} - #{pipe.pipeIndex}" />
							</p:column>

							<p:column headerText="Sipariş ve Sipariş Kalemi"
								sortBy="#{pipe.salesItem.proposal.salesOrder.orderNo}/#{pipe.salesItem.itemNo}"
								filterBy="#{pipe.salesItem.proposal.salesOrder.orderNo}/#{pipe.salesItem.itemNo}">
								<h:outputText
									value="#{pipe.salesItem.proposal.salesOrder.orderNo}/#{pipe.salesItem.itemNo}" />
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Diameter}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.disCap}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Weight}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.agirligi}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Length}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.boy}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Explanation}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.note}"></h:outputText>
							</p:column>

							<p:column style="text-align: center;">
								<f:facet name="header">
									<h:outputText value="#{language.TestBorusu}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px" rendered="#{pipe.tahribatsizTestSonuc}">
								</p:graphicImage>
							</p:column>
						</p:dataTable>
					</h:form>
				</p:tab>

				<!-- AsitYikama -->
				<p:tab id="asitYikamaTabId"
					title=" ASİT YIKAMA EKRANI *** #{kaplamaMakinesiAsitYikamaBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{kaplamaMakinesiAsitYikamaBean.selectedPipe.salesItem.itemNo} / #{kaplamaMakinesiAsitYikamaBean.selectedPipe.salesItem.proposal.customer.shortName} / #{kaplamaMakinesiAsitYikamaBean.selectedPipe.salesItem.diameter}x#{kaplamaMakinesiAsitYikamaBean.selectedPipe.salesItem.thickness} / #{kaplamaMakinesiAsitYikamaBean.selectedPipe.salesItem.quality} / #{kaplamaMakinesiAsitYikamaBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{kaplamaMakinesiAsitYikamaBean.barkodNo}">
					</p:inputText>
					<p:commandButton value="Boru Bul"
						actionListener="#{kaplamaMakinesiAsitYikamaBean.fillTestListFromBarkod(kaplamaMakinesiAsitYikamaBean.barkodNo)}"
						update="growl asitYikamaPanelGridId asitYikama asitYikamaDataTableId orderAccordionPanelId"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>

					<!-- Koordinat Listesi -->
					<p:dataTable var="asitYikama" id="asitYikamaDataTableId"
						rowKey="#{asitYikama.id}" emptyMessage="#{language.EmptyMessage}"
						value="#{kaplamaMakinesiAsitYikamaBean.allKaplamaMakinesiAsitYikamaList}"
						paginator="true" rows="13" dynamic="true" dblClickSelect="false"
						selection="#{kaplamaMakinesiAsitYikamaBean.kaplamaMakinesiAsitYikamaForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{kaplamaMakinesiAsitYikamaBean.kaplamaListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="asitYikamaTabId asitYikamaAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="asitYikamaDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="ASİT YIKAMALAR" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{kaplamaMakinesiAsitYikamaBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{kaplamaMakinesiAsitYikamaBean.selectedPipe.salesItem.itemNo} - #{kaplamaMakinesiAsitYikamaBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{asitYikama.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="AsitYikamaya Başlama Zamanı">
							<h:outputText value="#{asitYikama.kaplamaBaslamaZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="AsitYikamaya Başlayan Personel">
							<h:outputText
								value="#{asitYikama.kaplamaBaslamaUser.employee.firstname} #{asitYikama.kaplamaBaslamaUser.employee.lastname}"></h:outputText>
						</p:column>

						<p:column style="text-align: center;">
							<f:facet name="header">
								<h:outputText value="AsitYikama İşlemi"></h:outputText>
							</f:facet>
							<p:graphicImage value="/small_icons/blank.png" style="border:0px"
								title="Boşta." rendered="#{asitYikama.durum == null}"></p:graphicImage>
							<p:graphicImage value="/small_icons/next.png" style="border:0px"
								title="AsitYikamaa Başlamış."
								rendered="#{asitYikama.durum == false}"></p:graphicImage>
							<p:graphicImage value="/small_icons/done.png" style="border:0px"
								title="AsitYikama Bitmiş."
								rendered="#{asitYikama.durum == true}"></p:graphicImage>
						</p:column>

						<p:column headerText="Sıcaklık - 1">
							<h:outputText value="#{asitYikama.sicaklikA}"></h:outputText>
						</p:column>
						<p:column headerText="Sıcaklık - 2">
							<h:outputText value="#{asitYikama.sicaklikB}"></h:outputText>
						</p:column>
						<p:column headerText="Sıcaklık - 3">
							<h:outputText value="#{asitYikama.sicaklikC}"></h:outputText>
						</p:column>
						<p:column headerText="Konsantrasyon">
							<h:outputText value="#{asitYikama.konsantrasyon}"></h:outputText>
						</p:column>

						<p:column headerText="AsitYikama Bitiş Zamanı">
							<h:outputText value="#{asitYikama.kaplamaBitisZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="AsitYikamayı Bitiren Personel">
							<h:outputText
								value="#{asitYikama.kaplamaBitisUser.employee.firstname} #{asitYikama.kaplamaBitisUser.employee.lastname}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="asitYikamaAddPanelGridId">
						<p:commandButton value="YENİ ASİT YIKAMA EKLE"
							update="growl asitYikamaPanelGridId asitYikama"
							process="@this asitYikamaPanelGridId"
							disabled="#{kaplamaMakinesiAsitYikamaBean.selectedPipe.pipeId==null}"
							onclick="warningNewAsitYikamaDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="ASİT YIKAMA İŞ EMRİ"
							actionListener="#{kaplamaMakinesiAsitYikamaBean.isEmriGoster}"
							update="growl isEmriPanelGridId kumlama"
							disabled="#{kaplamaMakinesiAsitYikamaBean.selectedPipe.pipeId==null}"
							process="@this isEmriPanelGridId"
							onclick="isEmriDialogWidget.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
						<!-- 						<p:commandButton value="DÜZENLE" -->
						<!-- 							update="growl asitYikamaPanelGridId asitYikama" -->
						<!-- 							process="@this asitYikamaPanelGridId" -->
						<!-- 							onclick="warningNewAsitYikamaDialog.show()" -->
						<!-- 							icon="ui-icon-circle-plus" -->
						<!-- 							rendered="#{kaplamaMakinesiAsitYikamaBean.updateButtonRender}"> -->
						<!-- 						</p:commandButton> -->
						<p:commandButton value="SEÇİLEN ASİT YIKAMAYA BAŞLA"
							rendered="#{kaplamaMakinesiAsitYikamaBean.updateButtonRender}"
							update="growl asitYikamaPanelGridId asitYikama" id="baslaButton"
							process="@this asitYikamaPanelGridId"
							onclick="warningStartAsitYikamaDialog.show()"
							icon="ui-icon-circle-plus"
							disabled="#{kaplamaMakinesiAsitYikamaBean.kaplamaMakinesiAsitYikamaForm.durum==false}">
						</p:commandButton>
						<p:commandButton value="SEÇİLEN ASİT YIKAMAYI BİTİR"
							rendered="#{kaplamaMakinesiAsitYikamaBean.kaplamaMakinesiAsitYikamaForm.durum==false}"
							update="growl asitYikamaPanelGridId asitYikama" id="bitirButton"
							process="@this asitYikamaPanelGridId"
							onclick="warningStopAsitYikamaDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="SİL"
							actionListener="#{kaplamaMakinesiAsitYikamaBean.deleteAsitYikamaSonuc}"
							update="asitYikamaPanelGridId asitYikamaDataTableId growl pipeTestsDataTableId"
							process="@this asitYikamaPanelGridId" icon="ui-icon-trash"
							rendered="#{kaplamaMakinesiAsitYikamaBean.updateButtonRender}">
							<f:param id="asitYikamaDeletePipeId"
								value="#{kaplamaMakinesiAsitYikamaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</h:panelGrid>

				</p:tab>

			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />

			<p:dialog widgetVar="warningStartAsitYikamaDialog"
				header="#{language.salesWarning}">
				<h:outputText
					value="BORU İÇİN ASİT YIKAMA BAŞLATILACAK, EMİN MİSİNİZ?" />
				<br />

				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="warningStartAsitYikamaDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="KABUL ET - KAYDET"
					actionListener="#{kaplamaMakinesiAsitYikamaBean.addAsitYikamaSonuc}"
					oncomplete="warningStartAsitYikamaDialog.hide();"
					update="growl asitYikamaPanelGridId asitYikama asitYikamaDataTableId orderAccordionPanelId"
					process="@this asitYikamaPanelGridId">
					<f:param id="asitYikamaAllPipeId"
						value="#{kaplamaMakinesiAsitYikamaBean.selectedPipe.pipeId}"></f:param>
				</p:commandButton>
			</p:dialog>

			<p:dialog widgetVar="warningStopAsitYikamaDialog"
				header="#{language.salesWarning}" id="warningStopAsitYikamaDialogId">
				<h:outputText
					value="BORU İÇİN ASİT YIKAMA BİTİRİLECEK, EMİN MİSİNİZ?" />
				<br />
				<p:inputText
					value="#{kaplamaMakinesiAsitYikamaBean.kaplamaMakinesiAsitYikamaForm.sicaklikA}"
					style="font-weight: bold;">SICAKLIK - 1*</p:inputText>
				<p:inputText
					value="#{kaplamaMakinesiAsitYikamaBean.kaplamaMakinesiAsitYikamaForm.sicaklikB}"
					style="font-weight: bold;">SICAKLIK - 2*</p:inputText>
				<p:inputText
					value="#{kaplamaMakinesiAsitYikamaBean.kaplamaMakinesiAsitYikamaForm.sicaklikC}"
					style="font-weight: bold;">SICAKLIK - 3*</p:inputText>
				<p:inputText
					value="#{kaplamaMakinesiAsitYikamaBean.kaplamaMakinesiAsitYikamaForm.konsantrasyon}"
					style="font-weight: bold;">KONSANTRASYON*</p:inputText>
				<br />
				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="warningStopAsitYikamaDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="KABUL ET - KAYDET"
					actionListener="#{kaplamaMakinesiAsitYikamaBean.addAsitYikamaSonuc}"
					oncomplete="warningStopAsitYikamaDialog.hide();"
					update="growl asitYikamaPanelGridId asitYikama asitYikamaDataTableId orderAccordionPanelId"
					process="@this asitYikamaPanelGridId warningStopAsitYikamaDialogId">
					<f:param id="asitYikamaSelectedPipeId"
						value="#{kaplamaMakinesiAsitYikamaBean.selectedPipe.pipeId}"></f:param>
				</p:commandButton>
			</p:dialog>

			<p:dialog widgetVar="warningNewAsitYikamaDialog"
				header="#{language.salesWarning}" id="warningNewAsitYikamaDialogId">
				<h:outputText
					value="BORU İÇİN YENİ ASİT YIKAMA EKLEMEK İSTİYOR MUSUNUZ?" />
				<br />

				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="warningNewAsitYikamaDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="KABUL ET - KAYDET"
					actionListener="#{kaplamaMakinesiAsitYikamaBean.addAsitYikama}"
					oncomplete="warningNewAsitYikamaDialog.hide();"
					update="growl asitYikamaPanelGridId asitYikama asitYikamaDataTableId orderAccordionPanelId"
					process="@this asitYikamaPanelGridId warningNewAsitYikamaDialogId">
					<f:param id="selectedPipeId"
						value="#{kaplamaMakinesiAsitYikamaBean.selectedPipe.pipeId}"></f:param>
				</p:commandButton>
			</p:dialog>

			<!-- Kaplama İş Emri -->
			<!-- 			<p:dialog draggable="true" closable="true" maximizable="true" -->
			<!-- 				resizable="false" dynamic="false" header="ASİT YIKAMA İŞ EMRİ" -->
			<!-- 				id="isEmriDialogId" widgetVar="isEmriDialogWidget" -->
			<!-- 				showEffect="scale" hideEffect="scale"> -->

			<!-- 				<h:panelGrid border="0" columns="2" cellspacing="5" -->
			<!-- 					style="text-align: center" id="isEmriPanelGridId"> -->
			<!-- 					<f:facet name="header"> -->
			<!-- 						<h:outputText value="İŞ EMRİ" rendered="true"></h:outputText> -->
			<!-- 					</f:facet> -->

			<!-- 					<h:outputText value="Sipariş No : " style="font-weight: bold"></h:outputText> -->
			<!-- 					<h:outputText -->
			<!-- 						value="#{kaplamaMakinesiAsitYikamaBean.selectedIsEmriKaplama.salesItem.proposal.salesOrder.orderNo} - #{kaplamaMakinesiAsitYikamaBean.selectedIsEmriKaplama.salesItem.itemNo}"></h:outputText> -->

			<!-- 					<h:outputText value="Müşteri : " style="font-weight: bold"></h:outputText> -->
			<!-- 					<h:outputText -->
			<!-- 						value="#{kaplamaMakinesiAsitYikamaBean.selectedIsEmriKaplama.salesItem.proposal.customer.shortName}"></h:outputText> -->

			<!-- 					<h:outputText value="Dış Çap : " style="font-weight: bold"></h:outputText> -->
			<!-- 					<h:outputText -->
			<!-- 						value="#{kaplamaMakinesiAsitYikamaBean.selectedIsEmriKaplama.salesItem.diameter} mm"></h:outputText> -->

			<!-- 					<h:outputText value="Et Kalınlığı : " style="font-weight: bold"></h:outputText> -->
			<!-- 					<h:outputText -->
			<!-- 						value="#{kaplamaMakinesiAsitYikamaBean.selectedIsEmriKaplama.salesItem.thickness} mm"></h:outputText> -->

			<!-- 					<h:outputText value="Boru Boyu : " style="font-weight: bold"></h:outputText> -->
			<!-- 					<h:outputText -->
			<!-- 						value="#{kaplamaMakinesiAsitYikamaBean.selectedIsEmriKaplama.salesItem.pipeLength} m"></h:outputText> -->

			<!-- 					<h:outputText value="Sipariş Miktarı : " style="font-weight: bold"></h:outputText> -->
			<!-- 					<h:outputText -->
			<!-- 						value="#{kaplamaMakinesiAsitYikamaBean.selectedIsEmriKaplama.salesItem.totalLengthM} m"></h:outputText> -->

			<!-- 					<h:outputText value="Bağlantı Şekli : " style="font-weight: bold"></h:outputText> -->
			<!-- 					<h:outputText style="color: red; font-weight: bold;" value="$date$"></h:outputText> -->

			<!-- 					<h:outputText value="Kaplama Kalınlığı : " -->
			<!-- 						style="font-weight: bold"></h:outputText> -->
			<!-- 					<h:outputText style="color: red; font-weight: bold;" value="$date$"></h:outputText> -->

			<!-- 					<h:outputText value="Cut - Back : " style="font-weight: bold"></h:outputText> -->
			<!-- 					<h:outputText style="color: red; font-weight: bold;" -->
			<!-- 						value="#{kaplamaMakinesiAsitYikamaBean.selectedIsEmriKaplama.salesItem.pipeHole}"></h:outputText> -->

			<!-- 					<h:outputText value="Hedeflenen Malzeme : (kg/boru)" -->
			<!-- 						style="font-weight: bold;"></h:outputText> -->
			<!-- 					<h:outputText style="color: red; font-weight: bold;" -->
			<!-- 						value="#{kaplamaMakinesiAsitYikamaBean.selectedIsEmriKaplama.hedeflenenMalzeme}"></h:outputText> -->

			<!-- 					<h:outputText value="Karışım Oranı : " style="font-weight: bold;"></h:outputText> -->
			<!-- 					<h:outputText style="color: red; font-weight: bold;" -->
			<!-- 						value="Kum(kg): #{kaplamaMakinesiAsitYikamaBean.selectedIsEmriKaplama.kum} - Çimento(kg): #{kaplamaMakinesiAsitYikamaBean.selectedIsEmriKaplama.cimento} - Katkı(kg): #{kaplamaMakinesiAsitYikamaBean.selectedIsEmriKaplama.katki} - Su(kg): #{kaplamaMakinesiAsitYikamaBean.selectedIsEmriKaplama.su}"></h:outputText> -->
			<!-- 				</h:panelGrid> -->
			<!-- 				<p:separator /> -->

			<!-- 				<h:panelGrid border="0" columns="5" cellspacing="5"> -->
			<!-- 					<p:commandButton value="KAPAT" icon="ui-icon-circle-close" -->
			<!-- 						immediate="true" onclick="isEmriDialogWidget.hide()" /> -->
			<!-- 				</h:panelGrid> -->
			<!-- 			</p:dialog> -->

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>