<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">
				<!-- Epoksi -->
				<p:tab id="epoksiTabId"
					title=" EPOKSİ KAPLAMA EKRANI *** #{kaplamaMakinesiEpoksiBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{kaplamaMakinesiEpoksiBean.selectedPipe.salesItem.itemNo} / #{kaplamaMakinesiEpoksiBean.selectedPipe.salesItem.proposal.customer.shortName} / #{kaplamaMakinesiEpoksiBean.selectedPipe.salesItem.diameter}x#{kaplamaMakinesiEpoksiBean.selectedPipe.salesItem.thickness} / #{kaplamaMakinesiEpoksiBean.selectedPipe.salesItem.quality} / #{kaplamaMakinesiEpoksiBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{kaplamaMakinesiEpoksiBean.barkodNo}">
					</p:inputText>
					<p:commandButton value="Boru Bul"
						actionListener="#{kaplamaMakinesiEpoksiBean.fillTestListFromBarkod(kaplamaMakinesiEpoksiBean.barkodNo)}"
						update="growl epoksiKaplamaPanelGridId epoksi epoksiKaplamaDataTableId orderAccordionPanelId"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>

					<!-- Koordinat Listesi -->
					<p:dataTable var="epoksi" id="epoksiKaplamaDataTableId"
						rowKey="#{epoksi.id}" emptyMessage="#{language.EmptyMessage}"
						value="#{kaplamaMakinesiEpoksiBean.allKaplamaMakinesiEpoksiList}"
						paginator="true" rows="13" dynamic="true" dblClickSelect="false"
						selection="#{kaplamaMakinesiEpoksiBean.kaplamaMakinesiEpoksiForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{kaplamaMakinesiEpoksiBean.kaplamaListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="epoksiTabId epoksiKaplamaAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="epoksiKaplamaDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="EPOKSİ KAPLAMALAR" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{kaplamaMakinesiEpoksiBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{kaplamaMakinesiEpoksiBean.selectedPipe.salesItem.itemNo} - #{kaplamaMakinesiEpoksiBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{epoksi.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kaplama Yüzeyi">
							<h:outputText value="İÇ YÜZEY"
								rendered="#{epoksi.kaplamaYuzeyi==1}">
							</h:outputText>
							<h:outputText value="DIŞ YÜZEY"
								rendered="#{epoksi.kaplamaYuzeyi==0}">
							</h:outputText>
						</p:column>

						<p:column headerText="Kat Sayısı">
							<p:selectOneMenu value="#{epoksi.kaplamaKat}"
								style="width: 140px" disabled="true">
								<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="1. KAT"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="2. KAT"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="3. KAT"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="Kaplamaya Başlama Zamanı">
							<h:outputText value="#{epoksi.kaplamaBaslamaZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kaplama Başlayan Personel">
							<h:outputText
								value="#{epoksi.kaplamaBaslamaUser.employee.firstname} #{epoksi.kaplamaBaslamaUser.employee.lastname}"></h:outputText>
						</p:column>

						<p:column style="text-align: center;">
							<f:facet name="header">
								<h:outputText value="Kaplama İşlemi"></h:outputText>
							</f:facet>
							<p:graphicImage value="/small_icons/blank.png" style="border:0px"
								title="Boşta." rendered="#{epoksi.durum == null}"></p:graphicImage>
							<p:graphicImage value="/small_icons/next.png" style="border:0px"
								title="Kaplama Başlamış." rendered="#{epoksi.durum == false}"></p:graphicImage>
							<p:graphicImage value="/small_icons/done.png" style="border:0px"
								title="Kaplama Bitmiş." rendered="#{epoksi.durum == true}"></p:graphicImage>
						</p:column>

						<p:column headerText="Kaplamayı Bitiş Zamanı">
							<h:outputText value="#{epoksi.kaplamaBitisZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kaplamayı Bitiren Personel">
							<h:outputText
								value="#{epoksi.kaplamaBitisUser.employee.firstname} #{epoksi.kaplamaBitisUser.employee.lastname}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="epoksiKaplamaAddPanelGridId">
						<p:commandButton value="YENİ EPOKSİ KAPLAMA EKLE"
							update="growl epoksiKaplamaPanelGridId epoksi"
							process="@this epoksiKaplamaPanelGridId"
							disabled="#{kaplamaMakinesiEpoksiBean.selectedPipe.pipeId==null}"
							onclick="warningNewEpoksiKaplamaDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="EPOKSİ KAPLAMA İŞ EMRİ"
							actionListener="#{kaplamaMakinesiEpoksiBean.isEmriGoster}"
							update="growl isEmriPanelGridId kumlama"
							disabled="#{kaplamaMakinesiEpoksiBean.selectedPipe.pipeId==null}"
							process="@this isEmriPanelGridId"
							onclick="isEmriDialogWidget.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
						<!-- 						<p:commandButton value="DÜZENLE" -->
						<!-- 							update="growl epoksiKaplamaPanelGridId epoksi" -->
						<!-- 							process="@this epoksiKaplamaPanelGridId" -->
						<!-- 							onclick="warningNewEpoksiKaplamaDialog.show()" -->
						<!-- 							icon="ui-icon-circle-plus" -->
						<!-- 							rendered="#{kaplamaMakinesiEpoksiBean.updateButtonRender}"> -->
						<!-- 						</p:commandButton> -->
						<p:commandButton value="SEÇİLEN EPOKSİ KAPLAMAYA BAŞLA"
							rendered="#{kaplamaMakinesiEpoksiBean.updateButtonRender}"
							update="growl epoksiKaplamaPanelGridId epoksi" id="baslaButton"
							process="@this epoksiKaplamaPanelGridId"
							onclick="warningStartEpoksiKaplamaDialog.show()"
							icon="ui-icon-circle-plus"
							disabled="#{kaplamaMakinesiEpoksiBean.kaplamaMakinesiEpoksiForm.durum==false}">
						</p:commandButton>
						<p:commandButton value="SEÇİLEN EPOKSİ KAPLAMAYI BİTİR"
							rendered="#{kaplamaMakinesiEpoksiBean.kaplamaMakinesiEpoksiForm.durum==false}"
							update="growl epoksiKaplamaPanelGridId epoksi" id="bitirButton"
							process="@this epoksiKaplamaPanelGridId"
							onclick="warningStopEpoksiKaplamaDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="SİL"
							actionListener="#{kaplamaMakinesiEpoksiBean.deleteEpoksiSonuc}"
							update="epoksiKaplamaPanelGridId epoksiKaplamaDataTableId growl pipeTestsDataTableId"
							process="@this epoksiKaplamaPanelGridId" icon="ui-icon-trash"
							rendered="#{kaplamaMakinesiEpoksiBean.updateButtonRender}">
							<f:param id="epoksiDeletePipeId"
								value="#{kaplamaMakinesiEpoksiBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
						<p:commandButton value="VARDİYA RAPORU AL" update="growl"
							process="@this epoksiKaplamaPanelGridId"
							disabled="#{kaplamaMakinesiEpoksiBean.selectedPipe.pipeId==null}"
							onclick="raporDialog.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
					</h:panelGrid>

					<p:dialog widgetVar="warningStartEpoksiKaplamaDialog"
						header="#{language.salesWarning}">
						<h:outputText
							value="BORU İÇİN EPOKSİ KAPLAMA BAŞLATILACAK, EMİN MİSİNİZ?" />
						<br />

						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningStartEpoksiKaplamaDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{kaplamaMakinesiEpoksiBean.addEpoksiSonuc}"
							oncomplete="warningStartEpoksiKaplamaDialog.hide();"
							update="growl epoksiKaplamaPanelGridId epoksi epoksiKaplamaDataTableId orderAccordionPanelId"
							process="@this epoksiKaplamaPanelGridId">
							<f:param id="epoksiKaplamaAllPipeId"
								value="#{kaplamaMakinesiEpoksiBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="warningStopEpoksiKaplamaDialog"
						header="#{language.salesWarning}"
						id="warningStopEpoksiKaplamaDialogId">
						<h:outputText
							value="BORU İÇİN EPOKSİ KAPLAMA BİTİRİLECEK, EMİN MİSİNİZ?" />
						<br />
						<h:outputText value="#{language.Explanation}"
							style="font-weight: bold;"></h:outputText>
						<br />
						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningStopEpoksiKaplamaDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{kaplamaMakinesiEpoksiBean.addEpoksiSonuc}"
							oncomplete="warningStopEpoksiKaplamaDialog.hide();"
							update="growl epoksiKaplamaPanelGridId epoksi epoksiKaplamaDataTableId orderAccordionPanelId"
							process="@this epoksiKaplamaPanelGridId warningStopEpoksiKaplamaDialogId">
							<f:param id="epoksiKaplamaSelectedPipeId"
								value="#{kaplamaMakinesiEpoksiBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="warningNewEpoksiKaplamaDialog"
						header="#{language.salesWarning}"
						id="warningNewEpoksiKaplamaDialogId">
						<h:outputText
							value="BORU İÇİN YENİ EPOKSİ KAPLAMA EKLEMEK İSTİYOR MUSUNUZ?" />
						<br />
						<br />
						<br />
						<h:outputText value="KAPLAMA YAPILACAK YÜZEY " />
						<br />
						<br />
						<p:selectOneMenu
							value="#{kaplamaMakinesiEpoksiBean.newEpoksi.kaplamaYuzeyi}"
							style="width: 140px">
							<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
							<f:selectItem itemValue="1" itemLabel="İÇ YÜZEY"></f:selectItem>
							<f:selectItem itemValue="0" itemLabel="DIŞ YÜZEY"></f:selectItem>

						</p:selectOneMenu>
						<br />
						<br />
						<br />
						<h:outputText value="KAPLAMA KATI " />
						<br />
						<br />
						<p:selectOneMenu
							value="#{kaplamaMakinesiEpoksiBean.newEpoksi.kaplamaKat}"
							style="width: 140px">
							<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
							<f:selectItem itemValue="1" itemLabel="1. KAT"></f:selectItem>
							<f:selectItem itemValue="2" itemLabel="2. KAT"></f:selectItem>
							<f:selectItem itemValue="3" itemLabel="3. KAT"></f:selectItem>
						</p:selectOneMenu>

						<br />
						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningNewEpoksiKaplamaDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{kaplamaMakinesiEpoksiBean.addEpoksi}"
							oncomplete="warningNewEpoksiKaplamaDialog.hide();"
							update="growl epoksiKaplamaPanelGridId epoksi epoksiKaplamaDataTableId orderAccordionPanelId"
							process="@this epoksiKaplamaPanelGridId warningNewEpoksiKaplamaDialogId">
							<f:param id="selectedPipeId"
								value="#{kaplamaMakinesiEpoksiBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<!-- Kaplama İş Emri -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false" header="EPOKSİ KAPLAMA İŞ EMRİ"
						id="isEmriDialogId" widgetVar="isEmriDialogWidget"
						showEffect="scale" hideEffect="scale">

						<h:panelGrid border="0" columns="4" cellspacing="5"
							style="text-align: center" id="isEmriPanelGridId">
							<f:facet name="header">
								<h:outputText value="İŞ EMRİ" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="Sipariş No : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiEpoksiBean.selectedIsEmriKaplama.salesItem.proposal.salesOrder.orderNo} - #{kaplamaMakinesiEpoksiBean.selectedIsEmriKaplama.salesItem.itemNo}"></h:outputText>
							<h:outputText value="Meme Çapı : " style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiEpoksiBean.selectedIsEmriKaplama.memeCapi}"
								style="color: red; font-weight: bold;"></h:outputText>

							<h:outputText value="Müşteri : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiEpoksiBean.selectedIsEmriKaplama.salesItem.proposal.customer.shortName}"></h:outputText>
							<h:outputText value="Basınç(Bar) : " style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiEpoksiBean.selectedIsEmriKaplama.basinc}"
								style="color: red; font-weight: bold;"
								converter="doubleNumberConverter"></h:outputText>

							<h:outputText value="Dış Çap : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiEpoksiBean.selectedIsEmriKaplama.salesItem.diameter} mm"></h:outputText>
							<h:outputText value="Dönüş Hızı(Frekans) : "
								style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiEpoksiBean.selectedIsEmriKaplama.donusHizi}"
								style="color: red; font-weight: bold;"></h:outputText>

							<h:outputText value="Et Kalınlığı : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiEpoksiBean.selectedIsEmriKaplama.salesItem.thickness} mm"></h:outputText>
							<h:outputText value="Araba Hızı(Frekans) : "
								style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiEpoksiBean.selectedIsEmriKaplama.arabaHizi}"
								style="color: red; font-weight:bold;"></h:outputText>

							<h:outputText value="Boru Boyu : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiEpoksiBean.selectedIsEmriKaplama.salesItem.pipeLength} m"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="Sipariş Miktarı : "
								style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiEpoksiBean.selectedIsEmriKaplama.salesItem.totalLengthM} m"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="Bağlantı Şekli : " style="font-weight: bold"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="#{kaplamaMakinesiEpoksiBean.selectedIsEmriKaplama.salesItem.pipeHole}"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="İzolasyon Türü : " style="font-weight: bold"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="İÇ - #{kaplamaMakinesiEpoksiBean.selectedIsEmriKaplama.salesItem.internalCoveringType}, DIŞ - #{kaplamaMakinesiEpoksiBean.selectedIsEmriKaplama.salesItem.externalCoveringType}"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="İç Kaplama Kalınlığı"
								style="font-weight: bold"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;" value=""></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="İç Kaplama Boya Cinsi"
								style="font-weight: bold;"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="#{kaplamaMakinesiEpoksiBean.selectedIsEmriKaplama.coatRawMaterial.marka} #{kaplamaMakinesiEpoksiBean.selectedIsEmriKaplama.coatRawMaterial.urun}"></h:outputText>
							<h:outputText value="Hedeflenen Malzeme : (lt/m2)"
								style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{kaplamaMakinesiEpoksiBean.selectedIsEmriKaplama.hedeflenenMalzeme}"
								style="color: red; font-weight: bold;"
								converter="doubleNumberConverter">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>

							<h:outputText value="İç - Cut Back" style="font-weight: bold"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="%date%"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="Dış - Cut Back" style="font-weight: bold"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="%date%"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

						</h:panelGrid>
						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="isEmriDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>

					<p:dialog widgetVar="raporDialog"
						header="EPKSİ KAPLAMA TEZGAHI VARDİYA RAPORU" id="raporDialogId">

						<h:outputText value="VARDİYA" style="font-weight: bold;"></h:outputText>
						<p:selectOneMenu
							value="#{testCoatingMachineReportBean.raporVardiya}">
							<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
							<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
							<f:selectItem itemValue="0" itemLabel="GECE"></f:selectItem>
						</p:selectOneMenu>

						<h:outputText value="Test Zamanı (gg/aa/yyyy): "
							style="font-weight: bold;"></h:outputText>
						<h:outputText style="width:10px;" value="" />

						<p:calendar mode="popup" autocomplete="false" showOn="button"
							stepMinute="5" required="true"
							pattern="#{userCredentialsBean.dateFormat}"
							requiredMessage="#{language.RequiredMessage}"
							value="#{testCoatingMachineReportBean.raporTarihi}"></p:calendar>

						<p:spacer width="15" height="50" />

						<h:commandButton
							action="#{testCoatingMachineReportBean.fr68ReportXlsx(kaplamaMakinesiEpoksiBean.selectedPipe.pipeId)}"
							image="/large_icons/report.png" title="FR-68">
							<f:ajax execute="raporDialogId" />
						</h:commandButton>
						
						<h:commandButton
							action="#{testCoatingMachineReportBean.fr68_2ReportXlsx(kaplamaMakinesiEpoksiBean.selectedPipe.pipeId)}"
							image="/large_icons/report.png" title="FR-68-2">
							<f:ajax execute="raporDialogId" />
						</h:commandButton>

						<h:commandLink value="RAPORU İNDİRMEK İÇİN TIKLAYINIZ!"
							title="RAPORU İNDİR" immediate="true">
							<p:fileDownload
								value="#{testCoatingMachineReportBean.downloadedFile}" />
						</h:commandLink>
					</p:dialog>
				</p:tab>
			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>