<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">

				<p:tab id="disKumlamaTabId"
					title="DIŞ KUMLAMA MALZEMELERİ VARDİYA KULLANIM BİLGİLERİ">

					<p:dataTable var="disKumlamas" id="disKumlamaTableId"
						value="#{kaplamaMalzemeKullanmaDisKumlamaBean.allKaplamaMalzemeKullanmaDisKumlamaList}"
						rowKey="#{disKumlamas.id}"
						selection="#{kaplamaMalzemeKullanmaDisKumlamaBean.kaplamaMalzemeKullanmaDisKumlamaForm}"
						selectionMode="single" update="orderSelected" paginator="true"
						rows="5"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="DIŞ KUMLAMA MALZEMESİ KULLANIMI YOKTUR.">

						<p:ajax event="rowSelect"
							listener="#{kaplamaMalzemeKullanmaDisKumlamaBean.kaplamaListener}"
							process="listForm:disKumlamaTableId disKumlamaTableId"
							update="pipeForm producedPipesDataTableId disKumlamaTabId" />
						<p:ajax event="rowSelect" update="orderAccordionPanelId">
						</p:ajax>
						<p:ajax event="rowSelect" update="pipeTabId">
						</p:ajax>

						<f:facet name="header">
				  Dış Kumlama Malzemeleri Kullanım Bilgileri				
							<h:commandLink title="Excele Dök" immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="disKumlamaTableId"
									fileName="disKumlamaKullanim" />
							</h:commandLink>
						</f:facet>

						<p:column sortBy="#{disKumlamas.coatRawMaterial.coatMaterialId}"
							filterBy="#{disKumlamas.coatRawMaterial.coatMaterialId}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MALZEME KİMLİK NO" />
							</f:facet>
							<h:outputText
								value="#{disKumlamas.coatRawMaterial.coatMaterialId}" />
						</p:column>

						<p:column sortBy="#{disKumlamas.coatRawMaterial.marka}"
							filterBy="#{disKumlamas.coatRawMaterial.marka}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MARKA" />
							</f:facet>
							<h:outputText value="#{disKumlamas.coatRawMaterial.marka}"></h:outputText>
						</p:column>

						<p:column sortBy="#{disKumlamas.coatRawMaterial.urun}"
							filterBy="#{disKumlamas.coatRawMaterial.urun}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="ÜRÜN ADI" />
							</f:facet>
							<h:outputText value="#{disKumlamas.coatRawMaterial.urun}"></h:outputText>
						</p:column>

						<p:column sortBy="#{disKumlamas.coatRawMaterial.partiNo}"
							filterBy="#{disKumlamas.coatRawMaterial.partiNo}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="LOT" />
							</f:facet>
							<h:outputText value="#{disKumlamas.coatRawMaterial.partiNo}">
							</h:outputText>
						</p:column>

						<p:column sortBy="#{pes.coatRawMaterial.coatMaterialType.name}"
							filterBy="#{pes.coatRawMaterial.coatMaterialType.name}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="TÜRÜ" />
							</f:facet>
							<h:outputText
								value="#{pes.coatRawMaterial.coatMaterialType.name}">
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="HARCANAN MİKTAR" />
							</f:facet>
							<h:outputText value="#{disKumlamas.harcananMiktar}">
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="KULLANILAN %" />
							</f:facet>
							<h:outputText value="#{disKumlamas.kullanimYuzdesi}">
							</h:outputText>
						</p:column>

						<p:column sortBy="#{disKumlamas.harcanmaTarihi}"
							filterBy="#{disKumlamas.harcanmaTarihi}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="HARCANMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{disKumlamas.harcanmaTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="VARDİYA" />
							</f:facet>
							<h:outputText value="GÜNDÜZ" rendered="#{disKumlamas.vardiya==1}"></h:outputText>
							<h:outputText value="GECE" rendered="#{disKumlamas.vardiya==2}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="disKumlamaAddPanelGridId">

						<p:commandButton value="YENİ KULLANIM EKLE"
							actionListener="#{kaplamaMalzemeKullanmaDisKumlamaBean.addNew}"
							update="growl disKumlamaPanelGridId disKumlamaMaterialListDataTableId"
							process="@this" onclick="disKumlamaDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="KULLANIM GÜNCELLE"
							disabled="#{!kaplamaMalzemeKullanmaDisKumlamaBean.updateButtonRender}"
							update="growl disKumlamaPanelGridId" id="updateManuelUtButton"
							process="@this disKumlamaPanelGridId"
							onclick="disKumlamaDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="#{language.LISTEYIYENILE}"
							process="@this disKumlamaTableId"
							update="disKumlamaTableId growl"
							action="#{kaplamaMalzemeKullanmaDisKumlamaBean.fillTestList}">
						</p:commandButton>
						<p:commandButton
							actionListener="#{kaplamaMalzemeKullanmaDisKumlamaBean.deleteMalzemeKullanmaSonuc}"
							update="disKumlamaPanelGridId disKumlamaTableId growl disKumlamaMaterialListDataTableId"
							process="@this disKumlamaPanelGridId" icon="ui-icon-trash"
							value="KULLANIM SİL"
							disabled="#{!kaplamaMalzemeKullanmaDisKumlamaBean.updateButtonRender}">
						</p:commandButton>

					</h:panelGrid>

					<!-- test ekleme dialog -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false"
						header="DIŞ KUMLAMA MALZEMESI EKLEME" id="disKumlamaDialogId"
						widgetVar="disKumlamaDialogWidget" showEffect="scale"
						hideEffect="scale">

						<p:dataTable var="coatMaterial"
							id="disKumlamaMaterialListDataTableId"
							emptyMessage="HENÜZ MALZEME GİRİŞİ YOKTUR."
							dblClickSelect="false"
							value="#{kaplamaMalzemeKullanmaDisKumlamaBean.coatRawMaterialList}"
							rowKey="#{coatMaterial.coatMaterialId}" paginator="true" rows="5"
							selection="#{kaplamaMalzemeKullanmaDisKumlamaBean.selectedMaterial}"
							selectionMode="single"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<p:ajax event="rowSelect"
								update="viewCoatMaterialPanelId editItemPanelId"
								process="@this disKumlamaMaterialListDataTableId"></p:ajax>
							<p:ajax event="rowSelect"
								update="viewCoatMaterialPanelId editItemPanelId"
								process="@this disKumlamaMaterialListDataTableId"></p:ajax>
							<p:column>
								<f:facet name="header">
									<h:outputText
										value="#{language.CoatMaterial} #{language.Id} Numarası"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.coatMaterialId}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.marka}"
								filterBy="#{coatMaterial.marka}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Marka Adı"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.marka}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.urun}"
								filterBy="#{coatMaterial.urun}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Ürün Adı"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.urun}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.coatMaterialType.name}"
								filterBy="#{coatMaterial.coatMaterialType.name}"
								filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Türü"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.coatMaterialType.name}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.partiNo}"
								filterBy="#{coatMaterial.partiNo}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="#{language.PartNumber}"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.partiNo}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.InitialAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.miktari}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.RemainingAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.remainingAmount}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.IncomingDate}"></h:outputText>
								</f:facet>
								<p:calendar mode="popup"
									pattern="#{userCredentialsBean.dateFormat}" disabled="true"
									value="#{coatMaterial.entranceDate}"></p:calendar>
							</p:column>
						</p:dataTable>

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="disKumlamaPanelGridId">
							<f:facet name="header">
								<h:outputText value="DIŞ KUMLAMA MALZEMELERİ" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="Kullanım Miktarı" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{kaplamaMalzemeKullanmaDisKumlamaBean.kaplamaMalzemeKullanmaDisKumlamaForm.harcananMiktar}">
							</p:inputText>

							<h:outputText value="Kullanım Yüzdesi" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{kaplamaMalzemeKullanmaDisKumlamaBean.kaplamaMalzemeKullanmaDisKumlamaForm.kullanimYuzdesi}">
							</p:inputText>

							<h:outputText value="Kullanma Tarihi (gg/aa/yyyy)*: "
								style="font-weight: bold;"></h:outputText>
							<p:calendar mode="popup"
								pattern="#{userCredentialsBean.dateFormat}" required="true"
								requiredMessage="#{language.RequiredMessage}" showOn="button"
								value="#{kaplamaMalzemeKullanmaDisKumlamaBean.kaplamaMalzemeKullanmaDisKumlamaForm.harcanmaTarihi}"></p:calendar>

							<h:outputText value="Vardiya" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{kaplamaMalzemeKullanmaDisKumlamaBean.kaplamaMalzemeKullanmaDisKumlamaForm.vardiya}">
								<f:selectItem itemValue="" itemLabel="LÜTFEN SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="GECE"></f:selectItem>
							</p:selectOneMenu>

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAYDET"
								update="disKumlamaPanelGridId disKumlamaTableId growl disKumlamaMaterialListDataTableId"
								process="@this disKumlamaPanelGridId disKumlamaMaterialListDataTableId"
								actionListener="#{kaplamaMalzemeKullanmaDisKumlamaBean.addMalzemeKullanmaSonuc}"
								icon="ui-icon-circle-plus"
								oncomplete="if (!args.validationFailed){disKumlamaDialogWidget.hide();}">
							</p:commandButton>
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="disKumlamaDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>
				</p:tab>

				<p:tab id="peTabId"
					title="PE MALZEMELERİ VARDİYA KULLANIM BİLGİLERİ">

					<p:dataTable var="pes" id="peTableId"
						value="#{kaplamaMalzemeKullanmaPeBean.allKaplamaMalzemeKullanmaPeList}"
						rowKey="#{pes.id}"
						selection="#{kaplamaMalzemeKullanmaPeBean.kaplamaMalzemeKullanmaPeForm}"
						selectionMode="single" update="orderSelected" paginator="true"
						rows="5"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="PE MALZEMESİ KULLANIMI YOKTUR.">

						<p:ajax event="rowSelect"
							listener="#{kaplamaMalzemeKullanmaPeBean.kaplamaListener}"
							process="listForm:peTableId peTableId"
							update="pipeForm producedPipesDataTableId peTabId" />
						<p:ajax event="rowSelect" update="orderAccordionPanelId">
						</p:ajax>
						<p:ajax event="rowSelect" update="pipeTabId">
						</p:ajax>

						<f:facet name="header">
				  PE Malzemeleri Kullanım Bilgileri				
							<h:commandLink title="Excele Dök" immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="peTableId"
									fileName="peKullanim" />
							</h:commandLink>
						</f:facet>

						<p:column sortBy="#{pes.coatRawMaterial.coatMaterialId}"
							filterBy="#{pes.coatRawMaterial.coatMaterialId}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MALZEME KİMLİK NO" />
							</f:facet>
							<h:outputText value="#{pes.coatRawMaterial.coatMaterialId}" />
						</p:column>

						<p:column sortBy="#{pes.coatRawMaterial.marka}"
							filterBy="#{pes.coatRawMaterial.marka}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MARKA" />
							</f:facet>
							<h:outputText value="#{pes.coatRawMaterial.marka}"></h:outputText>
						</p:column>

						<p:column sortBy="#{pes.coatRawMaterial.urun}"
							filterBy="#{pes.coatRawMaterial.urun}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="ÜRÜN ADI" />
							</f:facet>
							<h:outputText value="#{pes.coatRawMaterial.urun}"></h:outputText>
						</p:column>

						<p:column sortBy="#{pes.coatRawMaterial.partiNo}"
							filterBy="#{pes.coatRawMaterial.partiNo}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="LOT" />
							</f:facet>
							<h:outputText value="#{pes.coatRawMaterial.partiNo}">
							</h:outputText>
						</p:column>

						<p:column sortBy="#{pes.coatRawMaterial.coatMaterialType.name}"
							filterBy="#{pes.coatRawMaterial.coatMaterialType.name}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="TÜRÜ" />
							</f:facet>
							<h:outputText
								value="#{pes.coatRawMaterial.coatMaterialType.name}">
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="HARCANAN MİKTAR" />
							</f:facet>
							<h:outputText value="#{pes.harcananMiktar}">
							</h:outputText>
						</p:column>

						<p:column sortBy="#{pes.harcanmaTarihi}"
							filterBy="#{pes.harcanmaTarihi}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="HARCANMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{pes.harcanmaTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="VARDİYA" />
							</f:facet>
							<h:outputText value="GÜNDÜZ" rendered="#{pes.vardiya==1}"></h:outputText>
							<h:outputText value="GECE" rendered="#{pes.vardiya==2}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="peAddPanelGridId">

						<p:commandButton value="YENİ KULLANIM EKLE"
							actionListener="#{kaplamaMalzemeKullanmaPeBean.addNew}"
							update="growl pePanelGridId peMaterialListDataTableId"
							process="@this" onclick="peDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<!-- 						<p:commandButton value="KULLANIM GÜNCELLE" -->
						<!-- 							disabled="#{!kaplamaMalzemeKullanmaPeBean.updateButtonRender}" -->
						<!-- 							update="growl pePanelGridId" id="updateManuelUtButton" -->
						<!-- 							process="@this pePanelGridId" -->
						<!-- 							onclick="peDialogWidget.show()" -->
						<!-- 							icon="ui-icon-circle-plus"> -->
						<!-- 						</p:commandButton> -->
						<p:commandButton value="#{language.LISTEYIYENILE}"
							process="@this peTableId" update="peTableId growl"
							action="#{kaplamaMalzemeKullanmaPeBean.fillTestList}">
						</p:commandButton>
						<p:commandButton
							actionListener="#{kaplamaMalzemeKullanmaPeBean.deleteMalzemeKullanmaSonuc}"
							update="pePanelGridId peTableId growl peMaterialListDataTableId"
							process="@this pePanelGridId" icon="ui-icon-trash"
							value="KULLANIM SİL"
							disabled="#{!kaplamaMalzemeKullanmaPeBean.updateButtonRender}">
						</p:commandButton>
					</h:panelGrid>

					<!-- test ekleme dialog -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false" header="PE MALZEMESI EKLEME"
						id="peDialogId" widgetVar="peDialogWidget" showEffect="scale"
						hideEffect="scale">

						<p:dataTable var="coatMaterial" id="peMaterialListDataTableId"
							emptyMessage="HENÜZ MALZEME GİRİŞİ YOKTUR."
							dblClickSelect="false"
							value="#{kaplamaMalzemeKullanmaPeBean.coatRawMaterialList}"
							rowKey="#{coatMaterial.coatMaterialId}" paginator="true" rows="5"
							selection="#{kaplamaMalzemeKullanmaPeBean.selectedMaterial}"
							selectionMode="single"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<p:ajax event="rowSelect"
								update="viewCoatMaterialPanelId editItemPanelId"
								process="@this peMaterialListDataTableId"></p:ajax>
							<p:ajax event="rowSelect"
								update="viewCoatMaterialPanelId editItemPanelId"
								process="@this peMaterialListDataTableId"></p:ajax>
							<p:column>
								<f:facet name="header">
									<h:outputText
										value="#{language.CoatMaterial} #{language.Id} Numarası"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.coatMaterialId}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.marka}"
								filterBy="#{coatMaterial.marka}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Marka Adı"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.marka}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.urun}"
								filterBy="#{coatMaterial.urun}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Ürün Adı"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.urun}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.coatMaterialType.name}"
								filterBy="#{coatMaterial.coatMaterialType.name}"
								filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Türü"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.coatMaterialType.name}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.partiNo}"
								filterBy="#{coatMaterial.partiNo}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="#{language.PartNumber}"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.partiNo}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.InitialAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.miktari}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.RemainingAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.remainingAmount}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.IncomingDate}"></h:outputText>
								</f:facet>
								<p:calendar mode="popup"
									pattern="#{userCredentialsBean.dateFormat}" disabled="true"
									value="#{coatMaterial.entranceDate}"></p:calendar>
							</p:column>
						</p:dataTable>

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="pePanelGridId">
							<f:facet name="header">
								<h:outputText value="PE MALZEMELERİ" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="Kullanım Miktarı" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{kaplamaMalzemeKullanmaPeBean.kaplamaMalzemeKullanmaPeForm.harcananMiktar}">
							</p:inputText>

							<h:outputText value="Kullanma Tarihi (gg/aa/yyyy)*: "
								style="font-weight: bold;"></h:outputText>
							<p:calendar mode="popup"
								pattern="#{userCredentialsBean.dateFormat}" required="true"
								requiredMessage="#{language.RequiredMessage}" showOn="button"
								value="#{kaplamaMalzemeKullanmaPeBean.kaplamaMalzemeKullanmaPeForm.harcanmaTarihi}"></p:calendar>

							<h:outputText value="Vardiya" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{kaplamaMalzemeKullanmaPeBean.kaplamaMalzemeKullanmaPeForm.vardiya}">
								<f:selectItem itemValue="" itemLabel="LÜTFEN SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="GECE"></f:selectItem>
							</p:selectOneMenu>

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAYDET"
								update="pePanelGridId peTableId growl peMaterialListDataTableId"
								process="@this pePanelGridId peMaterialListDataTableId"
								actionListener="#{kaplamaMalzemeKullanmaPeBean.addMalzemeKullanmaSonuc}"
								icon="ui-icon-circle-plus"
								oncomplete="if (!args.validationFailed){peDialogWidget.hide();}">
							</p:commandButton>
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="peDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>
				</p:tab>

				<p:tab id="icKumlamaTabId"
					title="İÇ KUMLAMA MALZEMELERİ VARDİYA KULLANIM BİLGİLERİ">

					<p:dataTable var="icKumlamas" id="icKumlamaTableId"
						value="#{kaplamaMalzemeKullanmaIcKumlamaBean.allKaplamaMalzemeKullanmaIcKumlamaList}"
						rowKey="#{icKumlamas.id}"
						selection="#{kaplamaMalzemeKullanmaIcKumlamaBean.kaplamaMalzemeKullanmaIcKumlamaForm}"
						selectionMode="single" update="orderSelected" paginator="true"
						rows="5"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="İÇ KUMLAMA MALZEMESİ KULLANIMI YOKTUR.">

						<p:ajax event="rowSelect"
							listener="#{kaplamaMalzemeKullanmaIcKumlamaBean.kaplamaListener}"
							process="listForm:icKumlamaTableId icKumlamaTableId"
							update="pipeForm producedPipesDataTableId icKumlamaTabId" />
						<p:ajax event="rowSelect" update="orderAccordionPanelId">
						</p:ajax>
						<p:ajax event="rowSelect" update="pipeTabId">
						</p:ajax>

						<f:facet name="header">
				  İç Kumlama Malzemeleri Kullanım Bilgileri				
							<h:commandLink title="Excele Dök" immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="icKumlamaTableId"
									fileName="icKumlamaKullanim" />
							</h:commandLink>
						</f:facet>

						<p:column sortBy="#{icKumlamas.coatRawMaterial.coatMaterialId}"
							filterBy="#{icKumlamas.coatRawMaterial.coatMaterialId}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MALZEME KİMLİK NO" />
							</f:facet>
							<h:outputText
								value="#{icKumlamas.coatRawMaterial.coatMaterialId}" />
						</p:column>

						<p:column sortBy="#{icKumlamas.coatRawMaterial.marka}"
							filterBy="#{icKumlamas.coatRawMaterial.marka}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MARKA" />
							</f:facet>
							<h:outputText value="#{icKumlamas.coatRawMaterial.marka}"></h:outputText>
						</p:column>

						<p:column sortBy="#{icKumlamas.coatRawMaterial.urun}"
							filterBy="#{icKumlamas.coatRawMaterial.urun}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="ÜRÜN ADI" />
							</f:facet>
							<h:outputText value="#{icKumlamas.coatRawMaterial.urun}"></h:outputText>
						</p:column>

						<p:column sortBy="#{icKumlamas.coatRawMaterial.partiNo}"
							filterBy="#{icKumlamas.coatRawMaterial.partiNo}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="LOT" />
							</f:facet>
							<h:outputText value="#{icKumlamas.coatRawMaterial.partiNo}">
							</h:outputText>
						</p:column>

						<p:column sortBy="#{pes.coatRawMaterial.coatMaterialType.name}"
							filterBy="#{pes.coatRawMaterial.coatMaterialType.name}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="TÜRÜ" />
							</f:facet>
							<h:outputText
								value="#{pes.coatRawMaterial.coatMaterialType.name}">
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="HARCANAN MİKTAR" />
							</f:facet>
							<h:outputText value="#{icKumlamas.harcananMiktar}">
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="KULLANILAN %" />
							</f:facet>
							<h:outputText value="#{icKumlamas.kullanimYuzdesi}">
							</h:outputText>
						</p:column>

						<p:column sortBy="#{icKumlamas.harcanmaTarihi}"
							filterBy="#{icKumlamas.harcanmaTarihi}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="HARCANMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{icKumlamas.harcanmaTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="VARDİYA" />
							</f:facet>
							<h:outputText value="GÜNDÜZ" rendered="#{icKumlamas.vardiya==1}"></h:outputText>
							<h:outputText value="GECE" rendered="#{icKumlamas.vardiya==2}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="icKumlamaAddPanelGridId">

						<p:commandButton value="YENİ KULLANIM EKLE"
							actionListener="#{kaplamaMalzemeKullanmaIcKumlamaBean.addNew}"
							update="growl icKumlamaPanelGridId icKumlamaMaterialListDataTableId"
							process="@this" onclick="icKumlamaDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<!-- 						<p:commandButton value="KULLANIM GÜNCELLE" -->
						<!-- 							icabled="#{!kaplamaMalzemeKullanmaIcKumlamaBean.updateButtonRender}" -->
						<!-- 							update="growl icKumlamaPanelGridId" id="updateManuelUtButton" -->
						<!-- 							process="@this icKumlamaPanelGridId" -->
						<!-- 							onclick="icKumlamaDialogWidget.show()" -->
						<!-- 							icon="ui-icon-circle-plus"> -->
						<!-- 						</p:commandButton> -->
						<p:commandButton value="#{language.LISTEYIYENILE}"
							process="@this icKumlamaTableId" update="icKumlamaTableId growl"
							action="#{kaplamaMalzemeKullanmaIcKumlamaBean.fillTestList}">
						</p:commandButton>
						<p:commandButton
							actionListener="#{kaplamaMalzemeKullanmaIcKumlamaBean.deleteMalzemeKullanmaSonuc}"
							update="icKumlamaPanelGridId icKumlamaTableId growl icKumlamaMaterialListDataTableId"
							process="@this icKumlamaPanelGridId" icon="ui-icon-trash"
							value="KULLANIM SİL"
							disabled="#{!kaplamaMalzemeKullanmaIcKumlamaBean.updateButtonRender}">
						</p:commandButton>
					</h:panelGrid>

					<!-- test ekleme dialog -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false"
						header="İÇ KUMLAMA MALZEMESI EKLEME" id="icKumlamaDialogId"
						widgetVar="icKumlamaDialogWidget" showEffect="scale"
						hideEffect="scale">

						<p:dataTable var="coatMaterial"
							id="icKumlamaMaterialListDataTableId"
							emptyMessage="HENÜZ MALZEME GİRİŞİ YOKTUR."
							dblClickSelect="false"
							value="#{kaplamaMalzemeKullanmaIcKumlamaBean.coatRawMaterialList}"
							rowKey="#{coatMaterial.coatMaterialId}" paginator="true" rows="5"
							selection="#{kaplamaMalzemeKullanmaIcKumlamaBean.selectedMaterial}"
							selectionMode="single"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<p:ajax event="rowSelect"
								update="viewCoatMaterialPanelId editItemPanelId"
								process="@this icKumlamaMaterialListDataTableId"></p:ajax>
							<p:ajax event="rowSelect"
								update="viewCoatMaterialPanelId editItemPanelId"
								process="@this icKumlamaMaterialListDataTableId"></p:ajax>
							<p:column>
								<f:facet name="header">
									<h:outputText
										value="#{language.CoatMaterial} #{language.Id} Numarası"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.coatMaterialId}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.marka}"
								filterBy="#{coatMaterial.marka}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Marka Adı"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.marka}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.urun}"
								filterBy="#{coatMaterial.urun}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Ürün Adı"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.urun}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.coatMaterialType.name}"
								filterBy="#{coatMaterial.coatMaterialType.name}"
								filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Türü"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.coatMaterialType.name}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.partiNo}"
								filterBy="#{coatMaterial.partiNo}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="#{language.PartNumber}"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.partiNo}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.InitialAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.miktari}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.RemainingAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.remainingAmount}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.IncomingDate}"></h:outputText>
								</f:facet>
								<p:calendar mode="popup"
									pattern="#{userCredentialsBean.dateFormat}" disabled="true"
									value="#{coatMaterial.entranceDate}"></p:calendar>
							</p:column>
						</p:dataTable>

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="icKumlamaPanelGridId">
							<f:facet name="header">
								<h:outputText value="İÇ KUMLAMA MALZEMELERİ" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="Kullanım Miktarı" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{kaplamaMalzemeKullanmaIcKumlamaBean.kaplamaMalzemeKullanmaIcKumlamaForm.harcananMiktar}">
							</p:inputText>

							<h:outputText value="Kullanım Yüzdesi" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{kaplamaMalzemeKullanmaIcKumlamaBean.kaplamaMalzemeKullanmaIcKumlamaForm.kullanimYuzdesi}">
							</p:inputText>

							<h:outputText value="Kullanma Tarihi (gg/aa/yyyy)*: "
								style="font-weight: bold;"></h:outputText>
							<p:calendar mode="popup"
								pattern="#{userCredentialsBean.dateFormat}" required="true"
								requiredMessage="#{language.RequiredMessage}" showOn="button"
								value="#{kaplamaMalzemeKullanmaIcKumlamaBean.kaplamaMalzemeKullanmaIcKumlamaForm.harcanmaTarihi}"></p:calendar>

							<h:outputText value="Vardiya" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{kaplamaMalzemeKullanmaIcKumlamaBean.kaplamaMalzemeKullanmaIcKumlamaForm.vardiya}">
								<f:selectItem itemValue="" itemLabel="LÜTFEN SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="GECE"></f:selectItem>
							</p:selectOneMenu>

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAYDET"
								update="icKumlamaPanelGridId icKumlamaTableId growl icKumlamaMaterialListDataTableId"
								process="@this icKumlamaPanelGridId icKumlamaMaterialListDataTableId"
								actionListener="#{kaplamaMalzemeKullanmaIcKumlamaBean.addMalzemeKullanmaSonuc}"
								icon="ui-icon-circle-plus"
								oncomplete="if (!args.validationFailed){icKumlamaDialogWidget.hide();}">
							</p:commandButton>
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="icKumlamaDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>
				</p:tab>

				<p:tab id="epoksiTabId"
					title="EPOKSİ MALZEMELERİ VARDİYA KULLANIM BİLGİLERİ">

					<p:dataTable var="epoksis" id="epoksiTableId"
						value="#{kaplamaMalzemeKullanmaEpoksiBean.allKaplamaMalzemeKullanmaEpoksiList}"
						rowKey="#{epoksis.id}"
						selection="#{kaplamaMalzemeKullanmaEpoksiBean.kaplamaMalzemeKullanmaEpoksiForm}"
						selectionMode="single" update="orderSelected" paginator="true"
						rows="5"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="EPOKSİ MALZEMESİ KULLANIMI YOKTUR.">

						<p:ajax event="rowSelect"
							listener="#{kaplamaMalzemeKullanmaEpoksiBean.kaplamaListener}"
							process="listForm:epoksiTableId epoksiTableId"
							update="pipeForm producedPipesDataTableId epoksiTabId" />
						<p:ajax event="rowSelect" update="orderAccordionPanelId">
						</p:ajax>
						<p:ajax event="rowSelect" update="pipeTabId">
						</p:ajax>

						<f:facet name="header">
				  Epoksi Malzemeleri Kullanım Bilgileri				
							<h:commandLink title="Excele Dök" immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="epoksiTableId"
									fileName="epoksiKullanim" />
							</h:commandLink>
						</f:facet>

						<p:column sortBy="#{epoksis.coatRawMaterial.coatMaterialId}"
							filterBy="#{epoksis.coatRawMaterial.coatMaterialId}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MALZEME KİMLİK NO" />
							</f:facet>
							<h:outputText value="#{epoksis.coatRawMaterial.coatMaterialId}" />
						</p:column>

						<p:column sortBy="#{epoksis.coatRawMaterial.marka}"
							filterBy="#{epoksis.coatRawMaterial.marka}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MARKA" />
							</f:facet>
							<h:outputText value="#{epoksis.coatRawMaterial.marka}"></h:outputText>
						</p:column>

						<p:column sortBy="#{epoksis.coatRawMaterial.urun}"
							filterBy="#{epoksis.coatRawMaterial.urun}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="ÜRÜN ADI" />
							</f:facet>
							<h:outputText value="#{epoksis.coatRawMaterial.urun}"></h:outputText>
						</p:column>

						<p:column sortBy="#{epoksis.coatRawMaterial.partiNo}"
							filterBy="#{epoksis.coatRawMaterial.partiNo}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="LOT" />
							</f:facet>
							<h:outputText value="#{epoksis.coatRawMaterial.partiNo}">
							</h:outputText>
						</p:column>

						<p:column sortBy="#{pes.coatRawMaterial.coatMaterialType.name}"
							filterBy="#{pes.coatRawMaterial.coatMaterialType.name}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="TÜRÜ" />
							</f:facet>
							<h:outputText
								value="#{pes.coatRawMaterial.coatMaterialType.name}">
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="HARCANAN MİKTAR" />
							</f:facet>
							<h:outputText value="#{epoksis.harcananMiktar}">
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="KOMPONENTİ" />
							</f:facet>
							<p:selectOneMenu value="#{epoksis.component}" disabled="true">
								<f:selectItem itemValue="" itemLabel="LÜTFEN SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="A KOMPONENTİ"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="B KOMPONENTİ"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="KAT" />
							</f:facet>
							<p:selectOneMenu value="#{epoksis.kat}" disabled="true">
								<f:selectItem itemValue="" itemLabel="LÜTFEN SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="1.KAT"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="2.KAT"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="3.KAT"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="4.KAT"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column sortBy="#{epoksis.harcanmaTarihi}"
							filterBy="#{epoksis.harcanmaTarihi}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="HARCANMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{epoksis.harcanmaTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="VARDİYA" />
							</f:facet>
							<h:outputText value="GÜNDÜZ" rendered="#{epoksis.vardiya==1}"></h:outputText>
							<h:outputText value="GECE" rendered="#{epoksis.vardiya==2}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="epoksiAddPanelGridId">

						<p:commandButton value="YENİ KULLANIM EKLE"
							actionListener="#{kaplamaMalzemeKullanmaEpoksiBean.addNew}"
							update="growl epoksiPanelGridId epoksiMaterialListDataTableId"
							process="@this" onclick="epoksiDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<!-- 						<p:commandButton value="KULLANIM GÜNCELLE" -->
						<!-- 							icabled="#{!kaplamaMalzemeKullanmaEpoksiBean.updateButtonRender}" -->
						<!-- 							update="growl epoksiPanelGridId" id="updateManuelUtButton" -->
						<!-- 							process="@this epoksiPanelGridId" -->
						<!-- 							onclick="epoksiDialogWidget.show()" -->
						<!-- 							icon="ui-icon-circle-plus"> -->
						<!-- 						</p:commandButton> -->
						<p:commandButton value="#{language.LISTEYIYENILE}"
							process="@this epoksiTableId" update="epoksiTableId growl"
							action="#{kaplamaMalzemeKullanmaEpoksiBean.fillTestList}">
						</p:commandButton>
						<p:commandButton
							actionListener="#{kaplamaMalzemeKullanmaEpoksiBean.deleteMalzemeKullanmaSonuc}"
							update="epoksiPanelGridId epoksiTableId growl epoksiMaterialListDataTableId"
							process="@this epoksiPanelGridId" icon="ui-icon-trash"
							value="KULLANIM SİL"
							disabled="#{!kaplamaMalzemeKullanmaEpoksiBean.updateButtonRender}">
						</p:commandButton>
					</h:panelGrid>

					<!-- test ekleme dialog -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false" header="EPOKSİ MALZEMESI EKLEME"
						id="epoksiDialogId" widgetVar="epoksiDialogWidget"
						showEffect="scale" hideEffect="scale">

						<p:dataTable var="coatMaterial" id="epoksiMaterialListDataTableId"
							emptyMessage="HENÜZ MALZEME GİRİŞİ YOKTUR."
							dblClickSelect="false"
							value="#{kaplamaMalzemeKullanmaEpoksiBean.coatRawMaterialList}"
							rowKey="#{coatMaterial.coatMaterialId}" paginator="true" rows="5"
							selection="#{kaplamaMalzemeKullanmaEpoksiBean.selectedMaterial}"
							selectionMode="single"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<p:ajax event="rowSelect"
								update="viewCoatMaterialPanelId editItemPanelId"
								process="@this epoksiMaterialListDataTableId"></p:ajax>
							<p:ajax event="rowSelect"
								update="viewCoatMaterialPanelId editItemPanelId"
								process="@this epoksiMaterialListDataTableId"></p:ajax>
							<p:column>
								<f:facet name="header">
									<h:outputText
										value="#{language.CoatMaterial} #{language.Id} Numarası"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.coatMaterialId}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.marka}"
								filterBy="#{coatMaterial.marka}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Marka Adı"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.marka}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.urun}"
								filterBy="#{coatMaterial.urun}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Ürün Adı"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.urun}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.coatMaterialType.name}"
								filterBy="#{coatMaterial.coatMaterialType.name}"
								filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Türü"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.coatMaterialType.name}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.partiNo}"
								filterBy="#{coatMaterial.partiNo}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="#{language.PartNumber}"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.partiNo}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.InitialAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.miktari}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.RemainingAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.remainingAmount}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.IncomingDate}"></h:outputText>
								</f:facet>
								<p:calendar mode="popup"
									pattern="#{userCredentialsBean.dateFormat}" disabled="true"
									value="#{coatMaterial.entranceDate}"></p:calendar>
							</p:column>
						</p:dataTable>

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="epoksiPanelGridId">
							<f:facet name="header">
								<h:outputText value="EPOKSİ MALZEMELERİ" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="Kullanım Miktarı" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{kaplamaMalzemeKullanmaEpoksiBean.kaplamaMalzemeKullanmaEpoksiForm.harcananMiktar}">
							</p:inputText>

							<h:outputText value="Kullanılan Komponent"
								style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{kaplamaMalzemeKullanmaEpoksiBean.kaplamaMalzemeKullanmaEpoksiForm.component}">
								<f:selectItem itemValue="" itemLabel="LÜTFEN SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="A KOMPONENTİ"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="B KOMPONENTİ"></f:selectItem>
							</p:selectOneMenu>

							<h:outputText value="Kullanılan Kat" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{kaplamaMalzemeKullanmaEpoksiBean.kaplamaMalzemeKullanmaEpoksiForm.kat}">
								<f:selectItem itemValue="" itemLabel="LÜTFEN SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="1.KAT"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="2.KAT"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="3.KAT"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="4.KAT"></f:selectItem>
							</p:selectOneMenu>

							<h:outputText value="Kullanma Tarihi (gg/aa/yyyy)*: "
								style="font-weight: bold;"></h:outputText>
							<p:calendar mode="popup"
								pattern="#{userCredentialsBean.dateFormat}" required="true"
								requiredMessage="#{language.RequiredMessage}" showOn="button"
								value="#{kaplamaMalzemeKullanmaEpoksiBean.kaplamaMalzemeKullanmaEpoksiForm.harcanmaTarihi}"></p:calendar>

							<h:outputText value="Vardiya" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{kaplamaMalzemeKullanmaEpoksiBean.kaplamaMalzemeKullanmaEpoksiForm.vardiya}">
								<f:selectItem itemValue="" itemLabel="LÜTFEN SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="GECE"></f:selectItem>
							</p:selectOneMenu>

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAYDET"
								update="epoksiPanelGridId epoksiTableId growl epoksiMaterialListDataTableId"
								process="@this epoksiPanelGridId epoksiMaterialListDataTableId"
								actionListener="#{kaplamaMalzemeKullanmaEpoksiBean.addMalzemeKullanmaSonuc}"
								icon="ui-icon-circle-plus"
								oncomplete="if (!args.validationFailed){epoksiDialogWidget.hide();}">
							</p:commandButton>
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="epoksiDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>
				</p:tab>

				<p:tab id="betonTabId"
					title="BETON MALZEMELERİ VARDİYA KULLANIM BİLGİLERİ">

					<p:dataTable var="betons" id="betonTableId"
						value="#{kaplamaMalzemeKullanmaAsitYikamaBean.allKaplamaMalzemeKullanmaAsitYikamaList}"
						rowKey="#{betons.id}"
						selection="#{kaplamaMalzemeKullanmaAsitYikamaBean.kaplamaMalzemeKullanmaAsitYikamaForm}"
						selectionMode="single" update="orderSelected" paginator="true"
						rows="5"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="BETON MALZEMESİ KULLANIMI YOKTUR.">

						<p:ajax event="rowSelect"
							listener="#{kaplamaMalzemeKullanmaAsitYikamaBean.kaplamaListener}"
							process="listForm:betonTableId betonTableId"
							update="pipeForm producedPipesDataTableId betonTabId" />
						<p:ajax event="rowSelect" update="orderAccordionPanelId">
						</p:ajax>
						<p:ajax event="rowSelect" update="pipeTabId">
						</p:ajax>

						<f:facet name="header">
				  AsitYikama Malzemeleri Kullanım Bilgileri				
							<h:commandLink title="Excele Dök" immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="betonTableId"
									fileName="betonKullanim" />
							</h:commandLink>
						</f:facet>

						<p:column sortBy="#{betons.coatRawMaterial.coatMaterialId}"
							filterBy="#{betons.coatRawMaterial.coatMaterialId}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MALZEME KİMLİK NO" />
							</f:facet>
							<h:outputText value="#{betons.coatRawMaterial.coatMaterialId}" />
						</p:column>

						<p:column sortBy="#{betons.coatRawMaterial.marka}"
							filterBy="#{betons.coatRawMaterial.marka}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MARKA" />
							</f:facet>
							<h:outputText value="#{betons.coatRawMaterial.marka}"></h:outputText>
						</p:column>

						<p:column sortBy="#{betons.coatRawMaterial.urun}"
							filterBy="#{betons.coatRawMaterial.urun}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="ÜRÜN ADI" />
							</f:facet>
							<h:outputText value="#{betons.coatRawMaterial.urun}"></h:outputText>
						</p:column>

						<p:column sortBy="#{betons.coatRawMaterial.partiNo}"
							filterBy="#{betons.coatRawMaterial.partiNo}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="LOT" />
							</f:facet>
							<h:outputText value="#{betons.coatRawMaterial.partiNo}">
							</h:outputText>
						</p:column>

						<p:column sortBy="#{pes.coatRawMaterial.coatMaterialType.name}"
							filterBy="#{pes.coatRawMaterial.coatMaterialType.name}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="TÜRÜ" />
							</f:facet>
							<h:outputText
								value="#{pes.coatRawMaterial.coatMaterialType.name}">
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="HARCANAN MİKTAR" />
							</f:facet>
							<h:outputText value="#{betons.harcananMiktar}">
							</h:outputText>
						</p:column>

						<p:column sortBy="#{betons.harcanmaTarihi}"
							filterBy="#{betons.harcanmaTarihi}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="HARCANMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{betons.harcanmaTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="VARDİYA" />
							</f:facet>
							<h:outputText value="GÜNDÜZ" rendered="#{betons.vardiya==1}"></h:outputText>
							<h:outputText value="GECE" rendered="#{betons.vardiya==2}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="betonAddPanelGridId">

						<p:commandButton value="YENİ KULLANIM EKLE"
							actionListener="#{kaplamaMalzemeKullanmaAsitYikamaBean.addNew}"
							update="growl betonPanelGridId betonMaterialListDataTableId"
							process="@this" onclick="betonDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<!-- 						<p:commandButton value="KULLANIM GÜNCELLE" -->
						<!-- 							disabled="#{!kaplamaMalzemeKullanmaAsitYikamaBean.updateButtonRender}" -->
						<!-- 							update="growl betonPanelGridId" id="updateManuelUtButton" -->
						<!-- 							process="@this betonPanelGridId" -->
						<!-- 							onclick="betonDialogWidget.show()" -->
						<!-- 							icon="ui-icon-circle-plus"> -->
						<!-- 						</p:commandButton> -->
						<p:commandButton value="#{language.LISTEYIYENILE}"
							process="@this betonTableId" update="betonTableId growl"
							action="#{kaplamaMalzemeKullanmaAsitYikamaBean.fillTestList}">
						</p:commandButton>
						<p:commandButton
							actionListener="#{kaplamaMalzemeKullanmaAsitYikamaBean.deleteMalzemeKullanmaSonuc}"
							update="betonPanelGridId betonTableId growl betonMaterialListDataTableId"
							process="@this betonPanelGridId" icon="ui-icon-trash"
							value="KULLANIM SİL"
							disabled="#{!kaplamaMalzemeKullanmaAsitYikamaBean.updateButtonRender}">
						</p:commandButton>
					</h:panelGrid>

					<!-- test ekleme dialog -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false" header="BETON MALZEMESI EKLEME"
						id="betonDialogId" widgetVar="betonDialogWidget"
						showEffect="scale" hideEffect="scale">

						<p:dataTable var="coatMaterial" id="betonMaterialListDataTableId"
							emptyMessage="HENÜZ MALZEME GİRİŞİ YOKTUR."
							dblClickSelect="false"
							value="#{kaplamaMalzemeKullanmaAsitYikamaBean.coatRawMaterialList}"
							rowKey="#{coatMaterial.coatMaterialId}" paginator="true" rows="5"
							selection="#{kaplamaMalzemeKullanmaAsitYikamaBean.selectedMaterial}"
							selectionMode="single"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<p:ajax event="rowSelect"
								update="viewCoatMaterialPanelId editItemPanelId"
								process="@this betonMaterialListDataTableId"></p:ajax>
							<p:ajax event="rowSelect"
								update="viewCoatMaterialPanelId editItemPanelId"
								process="@this betonMaterialListDataTableId"></p:ajax>
							<p:column>
								<f:facet name="header">
									<h:outputText
										value="#{language.CoatMaterial} #{language.Id} Numarası"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.coatMaterialId}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.marka}"
								filterBy="#{coatMaterial.marka}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Marka Adı"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.marka}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.urun}"
								filterBy="#{coatMaterial.urun}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Ürün Adı"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.urun}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.coatMaterialType.name}"
								filterBy="#{coatMaterial.coatMaterialType.name}"
								filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Türü"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.coatMaterialType.name}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.partiNo}"
								filterBy="#{coatMaterial.partiNo}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="#{language.PartNumber}"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.partiNo}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.InitialAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.miktari}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.RemainingAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.remainingAmount}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.IncomingDate}"></h:outputText>
								</f:facet>
								<p:calendar mode="popup"
									pattern="#{userCredentialsBean.dateFormat}" disabled="true"
									value="#{coatMaterial.entranceDate}"></p:calendar>
							</p:column>
						</p:dataTable>

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="betonPanelGridId">
							<f:facet name="header">
								<h:outputText value="BETON MALZEMELERİ" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="Kullanım Miktarı" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{kaplamaMalzemeKullanmaAsitYikamaBean.kaplamaMalzemeKullanmaAsitYikamaForm.harcananMiktar}">
							</p:inputText>

							<h:outputText value="Kullanma Tarihi (gg/aa/yyyy)*: "
								style="font-weight: bold;"></h:outputText>
							<p:calendar mode="popup"
								pattern="#{userCredentialsBean.dateFormat}" required="true"
								requiredMessage="#{language.RequiredMessage}" showOn="button"
								value="#{kaplamaMalzemeKullanmaAsitYikamaBean.kaplamaMalzemeKullanmaAsitYikamaForm.harcanmaTarihi}"></p:calendar>

							<h:outputText value="Vardiya" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{kaplamaMalzemeKullanmaAsitYikamaBean.kaplamaMalzemeKullanmaAsitYikamaForm.vardiya}">
								<f:selectItem itemValue="" itemLabel="LÜTFEN SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="GECE"></f:selectItem>
							</p:selectOneMenu>

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAYDET"
								update="betonPanelGridId betonTableId growl betonMaterialListDataTableId"
								process="@this betonPanelGridId betonMaterialListDataTableId"
								actionListener="#{kaplamaMalzemeKullanmaAsitYikamaBean.addMalzemeKullanmaSonuc}"
								icon="ui-icon-circle-plus"
								oncomplete="if (!args.validationFailed){betonDialogWidget.hide();}">
							</p:commandButton>
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="betonDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>
				</p:tab>

				<p:tab id="asidikTabId"
					title="ASİDİK YIKAMA MALZEMELERİ VARDİYA KULLANIM BİLGİLERİ">

					<p:dataTable var="asidiks" id="asidikTableId"
						value="#{kaplamaMalzemeKullanmaAsitYikamaBean.allKaplamaMalzemeKullanmaAsitYikamaList}"
						rowKey="#{asidiks.id}"
						selection="#{kaplamaMalzemeKullanmaAsitYikamaBean.kaplamaMalzemeKullanmaAsitYikamaForm}"
						selectionMode="single" update="orderSelected" paginator="true"
						rows="5"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="ASİT MALZEMESİ KULLANIMI YOKTUR.">

						<p:ajax event="rowSelect"
							listener="#{kaplamaMalzemeKullanmaAsitYikamaBean.kaplamaListener}"
							process="listForm:asidikTableId asidikTableId"
							update="pipeForm producedPipesDataTableId asidikTabId" />
						<p:ajax event="rowSelect" update="orderAccordionPanelId">
						</p:ajax>
						<p:ajax event="rowSelect" update="pipeTabId">
						</p:ajax>

						<f:facet name="header">
				  Asit Yıkama Malzemeleri Kullanım Bilgileri				
							<h:commandLink title="Excele Dök" immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="asidikTableId"
									fileName="asidikKullanim" />
							</h:commandLink>
						</f:facet>

						<p:column sortBy="#{asidiks.coatRawMaterial.coatMaterialId}"
							filterBy="#{asidiks.coatRawMaterial.coatMaterialId}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MALZEME KİMLİK NO" />
							</f:facet>
							<h:outputText value="#{asidiks.coatRawMaterial.coatMaterialId}" />
						</p:column>

						<p:column sortBy="#{asidiks.coatRawMaterial.marka}"
							filterBy="#{asidiks.coatRawMaterial.marka}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MARKA" />
							</f:facet>
							<h:outputText value="#{asidiks.coatRawMaterial.marka}"></h:outputText>
						</p:column>

						<p:column sortBy="#{asidiks.coatRawMaterial.urun}"
							filterBy="#{asidiks.coatRawMaterial.urun}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="ÜRÜN ADI" />
							</f:facet>
							<h:outputText value="#{asidiks.coatRawMaterial.urun}"></h:outputText>
						</p:column>

						<p:column sortBy="#{asidiks.coatRawMaterial.partiNo}"
							filterBy="#{asidiks.coatRawMaterial.partiNo}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="LOT" />
							</f:facet>
							<h:outputText value="#{asidiks.coatRawMaterial.partiNo}">
							</h:outputText>
						</p:column>

						<p:column sortBy="#{pes.coatRawMaterial.coatMaterialType.name}"
							filterBy="#{pes.coatRawMaterial.coatMaterialType.name}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="TÜRÜ" />
							</f:facet>
							<h:outputText
								value="#{pes.coatRawMaterial.coatMaterialType.name}">
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="HARCANAN MİKTAR" />
							</f:facet>
							<h:outputText value="#{asidiks.harcananMiktar}">
							</h:outputText>
						</p:column>

						<p:column sortBy="#{asidiks.harcanmaTarihi}"
							filterBy="#{asidiks.harcanmaTarihi}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="HARCANMA TARİHİ" />
							</f:facet>
							<h:outputText value="#{asidiks.harcanmaTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="VARDİYA" />
							</f:facet>
							<h:outputText value="GÜNDÜZ" rendered="#{asidiks.vardiya==1}"></h:outputText>
							<h:outputText value="GECE" rendered="#{asidiks.vardiya==2}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="asidikAddPanelGridId">

						<p:commandButton value="YENİ KULLANIM EKLE"
							actionListener="#{kaplamaMalzemeKullanmaAsitYikamaBean.addNew}"
							update="growl asidikPanelGridId asidikMaterialListDataTableId"
							process="@this" onclick="asidikDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<!-- 						<p:commandButton value="KULLANIM GÜNCELLE" -->
						<!-- 							disabled="#{!kaplamaMalzemeKullanmaAsitYikamaBean.updateButtonRender}" -->
						<!-- 							update="growl asidikPanelGridId" id="updateManuelUtButton" -->
						<!-- 							process="@this asidikPanelGridId" -->
						<!-- 							onclick="asidikDialogWidget.show()" -->
						<!-- 							icon="ui-icon-circle-plus"> -->
						<!-- 						</p:commandButton> -->
						<p:commandButton value="#{language.LISTEYIYENILE}"
							process="@this asidikTableId" update="asidikTableId growl"
							action="#{kaplamaMalzemeKullanmaAsitYikamaBean.fillTestList}">
						</p:commandButton>
						<p:commandButton
							actionListener="#{kaplamaMalzemeKullanmaAsitYikamaBean.deleteMalzemeKullanmaSonuc}"
							update="asidikPanelGridId asidikTableId growl asidikMaterialListDataTableId"
							process="@this asidikPanelGridId" icon="ui-icon-trash"
							value="KULLANIM SİL"
							disabled="#{!kaplamaMalzemeKullanmaAsitYikamaBean.updateButtonRender}">
						</p:commandButton>
					</h:panelGrid>

					<!-- test ekleme dialog -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false" header="ASİT MALZEMESI EKLEME"
						id="asidikDialogId" widgetVar="asidikDialogWidget"
						showEffect="scale" hideEffect="scale">

						<p:dataTable var="coatMaterial" id="asidikMaterialListDataTableId"
							emptyMessage="HENÜZ MALZEME GİRİŞİ YOKTUR."
							dblClickSelect="false"
							value="#{kaplamaMalzemeKullanmaAsitYikamaBean.coatRawMaterialList}"
							rowKey="#{coatMaterial.coatMaterialId}" paginator="true" rows="5"
							selection="#{kaplamaMalzemeKullanmaAsitYikamaBean.selectedMaterial}"
							selectionMode="single"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<p:ajax event="rowSelect"
								update="viewCoatMaterialPanelId editItemPanelId"
								process="@this asidikMaterialListDataTableId"></p:ajax>
							<p:ajax event="rowSelect"
								update="viewCoatMaterialPanelId editItemPanelId"
								process="@this asidikMaterialListDataTableId"></p:ajax>
							<p:column>
								<f:facet name="header">
									<h:outputText
										value="#{language.CoatMaterial} #{language.Id} Numarası"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.coatMaterialId}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.marka}"
								filterBy="#{coatMaterial.marka}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Marka Adı"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.marka}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.urun}"
								filterBy="#{coatMaterial.urun}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Ürün Adı"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.urun}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.coatMaterialType.name}"
								filterBy="#{coatMaterial.coatMaterialType.name}"
								filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Türü"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.coatMaterialType.name}"></h:outputText>
							</p:column>

							<p:column sortBy="#{coatMaterial.partiNo}"
								filterBy="#{coatMaterial.partiNo}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="#{language.PartNumber}"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.partiNo}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.InitialAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.miktari}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.RemainingAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{coatMaterial.remainingAmount}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.IncomingDate}"></h:outputText>
								</f:facet>
								<p:calendar mode="popup"
									pattern="#{userCredentialsBean.dateFormat}" disabled="true"
									value="#{coatMaterial.entranceDate}"></p:calendar>
							</p:column>
						</p:dataTable>

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="asidikPanelGridId">
							<f:facet name="header">
								<h:outputText value="ASİT MALZEMELERİ" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="Kullanım Miktarı" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{kaplamaMalzemeKullanmaAsitYikamaBean.kaplamaMalzemeKullanmaAsitYikamaForm.harcananMiktar}">
							</p:inputText>

							<h:outputText value="Kullanma Tarihi (gg/aa/yyyy)*: "
								style="font-weight: bold;"></h:outputText>
							<p:calendar mode="popup"
								pattern="#{userCredentialsBean.dateFormat}" required="true"
								requiredMessage="#{language.RequiredMessage}" showOn="button"
								value="#{kaplamaMalzemeKullanmaAsitYikamaBean.kaplamaMalzemeKullanmaAsitYikamaForm.harcanmaTarihi}"></p:calendar>

							<h:outputText value="Vardiya" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{kaplamaMalzemeKullanmaAsitYikamaBean.kaplamaMalzemeKullanmaAsitYikamaForm.vardiya}">
								<f:selectItem itemValue="" itemLabel="LÜTFEN SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="GECE"></f:selectItem>
							</p:selectOneMenu>

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAYDET"
								update="asidikPanelGridId asidikTableId growl asidikMaterialListDataTableId"
								process="@this asidikPanelGridId asidikMaterialListDataTableId"
								actionListener="#{kaplamaMalzemeKullanmaAsitYikamaBean.addMalzemeKullanmaSonuc}"
								icon="ui-icon-circle-plus"
								oncomplete="if (!args.validationFailed){asidikDialogWidget.hide();}">
							</p:commandButton>
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="asidikDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>
				</p:tab>

			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>