<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main.xhtml">

		<ui:define name="sideMenu">
			<p:growl id="growl" />
			<p:panel style="width:100%" id="addPanelId"
				header="ÜRETİM MAKİNELERİ DURAKLAMALAR - ARIZALAR EKLEME/DÜZENLEME EKRANI">
				<h:panelGrid border="0" cellspacing="5" columns="4"
					style="width:100%" id="addPanelGridId"
					title="ÜRETİM MAKİNELERİ DURAKLAMALAR - ARIZALAR EKRANI">

					<h:outputLabel value="Başlangıç Tarihi (gg/aa/yyyy)*:" />
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
						value="#{machineDuruslarArizaBean.machineDuruslarArizaForm.baslamaZamani}"></p:calendar>

					<h:outputLabel value="Bitiş Tarihi (gg/aa/yyyy)*:" />
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
						value="#{machineDuruslarArizaBean.machineDuruslarArizaForm.bitisZamani}"></p:calendar>

					<h:outputLabel value="Makine Adı *:  " />
					<p:selectOneMenu
						value="#{machineDuruslarArizaBean.machineDuruslarArizaForm.machine.machineId}"
						style="width: 180px">
						<f:selectItem itemLabel="LÜTFEN MAKİNA SEÇİNİZ!" itemValue="" />
						<c:forEach items="#{machineDuruslarArizaBean.allMachineList}"
							var="machine">
							<f:selectItem itemLabel="#{machine.name}"
								itemValue="#{machine.machineId}" />
						</c:forEach>
					</p:selectOneMenu>

					<h:outputLabel value="Vardiya *:  " />
					<p:selectOneMenu
						value="#{machineDuruslarArizaBean.machineDuruslarArizaForm.vardiya}"
						style="width: 180px">
						<f:selectItem itemLabel="LÜTFEN VARDİYA SEÇİNİZ!" itemValue="" />
						<f:selectItem itemLabel="GÜNDÜZ VARDİYASI" itemValue="1" />
						<f:selectItem itemLabel="GECE VARDİYASI" itemValue="0" />
					</p:selectOneMenu>

					<h:outputLabel value="Açıklamalar: " />
					<p:inputTextarea
						value="#{machineDuruslarArizaBean.machineDuruslarArizaForm.aciklama}"
						autoResize="false" cols="14" rows="5"></p:inputTextarea>
				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton title="KAYDET/GÜNCELLE" label="KAYDET/GÜNCELLE"
						value="KAYDET/GÜNCELLE"
						update="arizaAccordionPanelId machineDuruslarArizaFormPanelGridId growl addPanelGridId addMachinePanelId"
						action="#{machineDuruslarArizaBean.addArizaDuraklama}"
						process="@this addPanelId">
					</p:commandButton>

					<p:commandButton title="SİL" label="SİL" value="SİL"
						update="arizaAccordionPanelId machineDuruslarArizaFormPanelGridId growl addPanelGridId addMachinePanelId"
						action="#{machineDuruslarArizaBean.deleteAriza}"
						process="@this addPanelId">
					</p:commandButton>

					<p:commandButton title="YENİLE" label="YENİLE"
						value="YENİLE/SIFIRLA"
						update="arizaAccordionPanelId machineDuruslarArizaFormPanelGridId growl addPanelGridId addMachinePanelId"
						action="#{machineDuruslarArizaBean.yenile}" process="@this">
					</p:commandButton>
				</h:panelGrid>
			</p:panel>
		</ui:define>

		<ui:define name="showPanel">

			<p:panel
				header="ÜRETİM MAKİNELERİ DURAKLAMALAR - ARIZALAR SORGULAMA EKRANI"
				id="addMachinePanelId">
				<h:panelGrid border="0" cellspacing="5" columns="4"
					style="width:100%" id="machineDuruslarArizaFormPanelGridId">

					<h:outputLabel value="Başlangıç Tarihi (gg/aa/yyyy)*:" />
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
						value="#{machineDuruslarArizaBean.machineDuruslarArizaAramaForm.baslamaZamani}"></p:calendar>

					<h:outputLabel value="" />
					<h:outputLabel value="" />

					<h:outputLabel value="Bitiş Tarihi (gg/aa/yyyy)*:" />
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
						value="#{machineDuruslarArizaBean.machineDuruslarArizaAramaForm.bitisZamani}"></p:calendar>

					<h:outputLabel value="" />
					<h:outputLabel value="" />

					<h:outputLabel value="Makine Adı *:  " />
					<p:selectOneMenu
						value="#{machineDuruslarArizaBean.machineDuruslarArizaAramaForm.machine}"
						style="width: 140px">
						<f:selectItem itemLabel="TÜM MAKİNALAR" itemValue="" />
						<c:forEach items="#{machineDuruslarArizaBean.allMachineList}"
							var="machine">
							<f:selectItem itemLabel="#{machine.name}" itemValue="#{machine}" />
						</c:forEach>
					</p:selectOneMenu>

					<h:outputLabel value="" />
					<h:outputLabel value="" />

					<h:outputLabel value="Vardiya *:  " />
					<p:selectOneMenu
						value="#{machineDuruslarArizaBean.machineDuruslarArizaForm.vardiya}"
						style="width: 180px">
						<f:selectItem itemLabel="TÜM VARDİYALAR" itemValue="-1" />
						<f:selectItem itemLabel="GÜNDÜZ VARDİYASI" itemValue="1" />
						<f:selectItem itemLabel="GECE VARDİYASI" itemValue="0" />
					</p:selectOneMenu>

					<h:panelGrid border="0" columns="5" cellspacing="5">
						<p:commandButton title="SORGULA" label="SORGULA" value="SORGULA"
							update="arizaAccordionPanelId machineDuruslarArizaFormPanelGridId growl"
							actionListener="#{machineDuruslarArizaBean.sorgula}">
						</p:commandButton>

						<p:commandButton title="YENİLE" label="YENİLE"
							value="YENİLE/SIFIRLA"
							update="arizaAccordionPanelId machineDuruslarArizaFormPanelGridId growl addPanelGridId addMachinePanelId"
							action="#{machineDuruslarArizaBean.yenile}" process="@this">
						</p:commandButton>
					</h:panelGrid>

				</h:panelGrid>

				<p:panel header="DURAKLAMALAR - ARIZALAR SORGULAMA LİSTESİ"
					id="sorguListPanelId">

					<p:dataTable var="sorguItem" id="sorguListTable"
						value="#{machineDuruslarArizaBean.allMachineDuruslarArizaList}"
						rowKey="#{sorguItem.id}" paginator="true" rows="20"
						selection="#{machineDuruslarArizaBean.machineDuruslarArizaForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="arizaAccordionPanelId machineDuruslarArizaFormPanelGridId growl addPanelGridId addMachinePanelId">
						</p:ajax>

						<p:column sortBy="#{sorguItem.baslamaZamani}"
							filterBy="#{sorguItem.baslamaZamani}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Başlangıç Tarihi" />
							</f:facet>
							<h:outputText value="#{sorguItem.baslamaZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{sorguItem.bitisZamani}"
							filterBy="#{sorguItem.bitisZamani}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Bitiş Tarihi" />
							</f:facet>
							<h:outputText value="#{sorguItem.bitisZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{sorguItem.bitisZamani}"
							filterBy="#{sorguItem.bitisZamani}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Makine Adı" />
							</f:facet>
							<h:outputText value="#{sorguItem.machine.name}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Açıklamalar" />
							</f:facet>
							<h:outputText value="#{sorguItem.aciklama}" />
						</p:column>

						<p:column sortBy="#{sorguItem.bitisZamani}"
							filterBy="#{sorguItem.bitisZamani}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Ekleyen Personel" />
							</f:facet>
							<h:outputText
								value="#{sorguItem.ekleyenEmployee.employee.firstname} #{sorguItem.ekleyenEmployee.employee.lastname}" />
						</p:column>

					</p:dataTable>
				</p:panel>
			</p:panel>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>