<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<!-- ALL MACHINES LIST section -->
		<ui:define name="sideMenu">
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px" id="machineTypesAccordionPanelId">
				<p:tab title="#{language.MachineTypes}">
					<p:dataTable id="machineTypesListDataTableId" var="machineType"
						widgetVar="machineTypesListDataTableWidget"
						value="#{machineUtilsListBean.allMachineTypeList}"
						paginator="true"
						selection="#{machineTypeBean.selectedMachineType}"
						selectionMode="single" rows="20"
						rowKey="#{machineType.machineTypeId}" resizableColumns="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:ajax event="rowSelect" update="machineTypesListDataTableId "></p:ajax>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.MachineTypeName}"></h:outputText>
							</f:facet>
							<h:outputText value="#{machineType.typeName}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Description}"></h:outputText>
							</f:facet>
							<h:outputText value="#{machineType.shortDesc}"></h:outputText>
						</p:column>
						<f:facet name="footer">
							<h:panelGrid border="0" columns="3" cellspacing="5"
								style="align: right;">
								<p:commandLink title="#{language.Update}"
									process="@this machineTypesListDataTableId"
									update="updateMachineTypePanelId"
									disabled="#{machineTypeBean.selectedMachineType.machineTypeId == null}"
									onclick="updateMachineTypeDialogWidget.show()">
									<p:graphicImage value="/large_icons/update.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>

								<p:commandLink title="#{language.Delete}"
									process="@this machineTypesListDataTableId"
									disabled="#{machineTypeBean.selectedMachineType.machineTypeId== null}"
									onclick="deleteMachineTypeDialogWidget.show()">
									<p:graphicImage value="/large_icons/delete.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>


							</h:panelGrid>
						</f:facet>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px" id="machineMaintenancePlanTypesAccordionPanelId">
				<p:tab title="#{language.MachineMaintenancePlanType}">
					<p:dataTable id="maintenancePlanTypesListDataTableId"
						var="maintenancePlanType"
						widgetVar="maintenancePlanTypesListDataTableWidget"
						value="#{machineUtilsListBean.allMaintenancePlanTypeList}"
						paginator="true"
						selection="#{maintenancePlanTypeBean.selectedPlanType}"
						selectionMode="single" rows="20"
						rowKey="#{maintenancePlanType.maintenancePlanTypeId}"
						resizableColumns="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:ajax event="rowSelect"
							update="maintenancePlanTypesListDataTableId "></p:ajax>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.MachineMaintenancePlanName}"></h:outputText>
							</f:facet>
							<h:outputText value="#{maintenancePlanType.planName}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Description}"></h:outputText>
							</f:facet>
							<h:outputText value="#{maintenancePlanType.shortDesc}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.MachineMaintenanceFrequencyInWeeks}"></h:outputText>
							</f:facet>
							<h:outputText value="#{maintenancePlanType.frequencyInWeeks}"></h:outputText>
						</p:column>
						<f:facet name="footer">
							<h:panelGrid border="0" columns="3" cellspacing="5"
								style="align: right;">
								<p:commandLink title="#{language.Update}"
									process="@this maintenancePlanTypesListDataTableId"
									update="updateMaintenancePlanTypePanelId"
									disabled="#{maintenancePlanTypeBean.selectedPlanType.maintenancePlanTypeId == null}"
									onclick="updateMaintenancePlanTypeDialogWidget.show()">
									<p:graphicImage value="/large_icons/update.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>

								<p:commandLink title="#{language.Delete}"
									process="@this maintenancePlanTypesListDataTableId"
									disabled="#{maintenancePlanTypeBean.selectedPlanType.maintenancePlanTypeId == null}"
									onclick="deleteMaintenancePlanTypeDialogWidget.show()">
									<p:graphicImage value="/large_icons/delete.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>


							</h:panelGrid>
						</f:facet>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px"
				id="machineMaintenanceActivitiesAccordionPanelId">
				<p:tab title="#{language.MachineMaintenanceActivities}">
					<p:dataTable id="maintenanceActivitiesListDataTableId"
						var="maintenanceActivity"
						widgetVar="maintenanceActivitiesListDataTableWidget"
						value="#{machineUtilsListBean.allMaintenanceActivities}"
						paginator="true"
						selection="#{maintenanceActivityBean.selectedActivity}"
						selectionMode="single" rows="20"
						rowKey="#{maintenanceActivity.maintenanceActivityId}"
						resizableColumns="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:ajax event="rowSelect"
							update="maintenanceActivitiesListDataTableId "></p:ajax>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{maintenanceActivity.name}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Description}"></h:outputText>
							</f:facet>
							<h:outputText value="#{maintenanceActivity.shortDesc}"></h:outputText>
						</p:column>
						<f:facet name="footer">
							<h:panelGrid border="0" columns="3" cellspacing="5"
								style="align: right;">
								<p:commandLink title="#{language.Update}"
									process="@this maintenanceActivitiesListDataTableId"
									update="updateMaintenanceActivitiesPanelId"
									disabled="#{maintenanceActivityBean.selectedActivity.maintenanceActivityId == null}"
									onclick="updateMaintenanceActivitiesDialogWidget.show()">
									<p:graphicImage value="/large_icons/update.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>

								<p:commandLink title="#{language.Delete}"
									process="@this maintenanceActivitiesListDataTableId"
									disabled="#{maintenanceActivityBean.selectedActivity.maintenanceActivityId == null}"
									onclick="deleteMaintenanceActivitiesDialogWidget.show()">
									<p:graphicImage value="/large_icons/delete.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</f:facet>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px" id="machinePlanCategoriesAccordionPanelId">
				<p:tab title="#{language.MachinePartCategories}">
					<p:dataTable id="machinePartCategoriesListDataTableId"
						var="machinePartCategory"
						widgetVar="machinePartCategoriesListDataTableWidget"
						value="#{machineUtilsListBean.allMachinePartCategories}"
						paginator="true"
						selection="#{machinePartCategoryBean.selectedPart}"
						selectionMode="single" rows="20"
						rowKey="#{machinePartCategory.machinePartCategoryId}"
						resizableColumns="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:ajax event="rowSelect"
							update="machinePartCategoriesListDataTableId "></p:ajax>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{machinePartCategory.categoryName}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Description}"></h:outputText>
							</f:facet>
							<h:outputText value="#{machinePartCategory.shortDesc}"></h:outputText>
						</p:column>
						<f:facet name="footer">
							<h:panelGrid border="0" columns="3" cellspacing="5"
								style="align: right;">
								<p:commandLink title="#{language.Update}"
									process="@this machinePartCategoriesListDataTableId"
									update="updateMachinePartCategoriesPanelId"
									disabled="#{machinePartCategoryBean.selectedPart.machinePartCategoryId == null}"
									onclick="updateMachinePartCategoriesDialogWidget.show()">
									<p:graphicImage value="/large_icons/update.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>

								<p:commandLink title="#{language.Delete}"
									process="@this machinePartCategoriesListDataTableId"
									disabled="#{machinePartCategoryBean.selectedPart.machinePartCategoryId == null}"
									onclick="deleteMachinePartCategoriesDialogWidget.show()">
									<p:graphicImage value="/large_icons/delete.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</f:facet>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>

		</ui:define>

		<ui:define name="showPanel">
			<p:panel header="#{language.AddMachineTypeForm}"
				id="addMachineTypePanelId">
				<h:panelGrid border="0" cellspacing="3" columns="2"
					style="width:100%" id="newMachineTypeGridId">
					<h:outputLabel value="#{language.MachineTypeName} *:  " />
					<p:inputText value="#{machineTypeBean.newMachineType.typeName}"
						id="machineTypeNameInputTextId" required="true"
						requiredMessage="#{language.RequiredMessage}" maxlength="32">
						<f:validator validatorId="emptyFieldValidator"></f:validator>
					</p:inputText>
					<h:outputLabel value="#{language.Description} :  " />
					<p:inputTextarea
						value="#{machineTypeBean.newMachineType.shortDesc}"
						id="machineTypeDescriptionInputTextAreaId" autoResize="false"
						cols="14" rows="5" maxlength="120">
					</p:inputTextarea>
				</h:panelGrid>
				<h:panelGrid border="0" columns="3" cellspacing="5"
					id="addUpdateMachineTypePanelGridId">
					<p:commandLink title="#{language.Add}"
						update="machineTypesAccordionPanelId newMachineTypeGridId newMachineMessages"
						process="@this addMachineTypePanelId"
						actionListener="#{machineTypeBean.submitNewMachineType}">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
					<p:commandLink title="#{language.Cancel}" immediate="true"
						process="@this"
						actionListener="#{machineTypeBean.cancelMachineTypeSubmittion}"
						update="newMachineMessages newMachineTypeGridId">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
				<p:messages showDetail="true" showSummary="true"
					id="newMachineMessages"></p:messages>
			</p:panel>

			<p:panel header="#{language.AddMaintenancePlanTypeForm}"
				id="addMaintenancePlanTypePanelId">
				<h:panelGrid border="0" cellspacing="3" columns="2"
					style="width:100%" id="newMaintenancePlanTypeGridId">
					<h:outputLabel value="#{language.MachineMaintenancePlanName} *:  " />
					<p:inputText
						value="#{maintenancePlanTypeBean.newPlanType.planName}"
						id="maintenancePlanTypeNameInputTextId" required="true"
						requiredMessage="#{language.RequiredMessage}" maxlength="32">
						<f:validator validatorId="emptyFieldValidator"></f:validator>
					</p:inputText>
					<h:outputLabel value="#{language.Description} :  " />
					<p:inputTextarea
						value="#{maintenancePlanTypeBean.newPlanType.shortDesc}"
						id="maintenancePlanTypeDescriptionInputTextAreaId"
						autoResize="false" cols="14" rows="5" maxlength="120">
					</p:inputTextarea>
					<h:outputLabel
						value="#{language.MachineMaintenanceFrequencyInWeeks} *:  " />
					<p:inputText
						value="#{maintenancePlanTypeBean.newPlanType.frequencyInWeeks}"
						id="maintenancePlanTypeFrequencyInWeeksInputTextId"
						required="true"
						converterMessage="#{language.nbLayersConverterError}"
						maxlength="2">
						<f:validator validatorId="emptyFieldValidator"></f:validator>
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid border="0" columns="3" cellspacing="5"
					id="addUpdateMaintenancePlanTypePanelGridId">
					<p:commandLink title="#{language.Add}"
						update="machineMaintenancePlanTypesAccordionPanelId newMaintenancePlanTypeGridId newMaintenancePlanTypeMessages"
						process="@this addMaintenancePlanTypePanelId"
						actionListener="#{maintenancePlanTypeBean.submitNewMaintenancePlanType}">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
					<p:commandLink title="#{language.Cancel}" immediate="true"
						process="@this"
						actionListener="#{maintenancePlanTypeBean.cancelMaintenancePlanTypeSubmittion}"
						update="newMaintenancePlanTypeMessages newMaintenancePlanTypeGridId">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
				<p:messages showDetail="true" showSummary="true"
					id="newMaintenancePlanTypeMessages"></p:messages>
			</p:panel>

			<p:panel header="#{language.AddMaintenanceActivitiesForm}"
				id="addMaintenanceActivitiesPanelId">
				<h:panelGrid border="0" cellspacing="3" columns="2"
					style="width:100%" id="newMaintenanceActivityGridId">
					<h:outputLabel value="#{language.Name} *:  " />
					<p:inputText value="#{maintenanceActivityBean.newActivity.name}"
						id="maintenanceActivityNameInputTextId" required="true"
						requiredMessage="#{language.RequiredMessage}" maxlength="32">
						<f:validator validatorId="emptyFieldValidator"></f:validator>
					</p:inputText>
					<h:outputLabel value="#{language.Description} :  " />
					<p:inputTextarea
						value="#{maintenanceActivityBean.newActivity.shortDesc}"
						id="maintenanceActivityDescriptionInputTextAreaId"
						autoResize="false" cols="14" rows="5" maxlength="120">
					</p:inputTextarea>
				</h:panelGrid>
				<h:panelGrid border="0" columns="3" cellspacing="5"
					id="addUpdateMaintenanceActivityPanelGridId">
					<p:commandLink title="#{language.Add}"
						update="machineMaintenanceActivitiesAccordionPanelId newMaintenanceActivityGridId newMaintenanceActivityMessages"
						process="@this addMaintenanceActivitiesPanelId"
						actionListener="#{maintenanceActivityBean.submitNewMaintenanceActivity}">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
					<p:commandLink title="#{language.Cancel}" immediate="true"
						process="@this"
						actionListener="#{maintenanceActivityBean.cancelMaintenanceActivitySubmittion}"
						update="newMaintenanceActivityMessages newMaintenanceActivityGridId">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
				<p:messages showDetail="true" showSummary="true"
					id="newMaintenanceActivityMessages"></p:messages>
			</p:panel>

			<p:panel header="#{language.AddMachinePartCategoriesForm}"
				id="addMachinePartCategoriesPanelId">
				<h:panelGrid border="0" cellspacing="3" columns="2"
					style="width:100%" id="newMachinePartCategoriesGridId">
					<h:outputLabel value="#{language.Name} *:  " />
					<p:inputText
						value="#{machinePartCategoryBean.newPart.categoryName}"
						id="machinePartCategoryNameInputTextId" required="true"
						requiredMessage="#{language.RequiredMessage}" maxlength="32">
						<f:validator validatorId="emptyFieldValidator"></f:validator>
					</p:inputText>
					<h:outputLabel value="#{language.Description} :  " />
					<p:inputTextarea
						value="#{machinePartCategoryBean.newPart.shortDesc}"
						id="machinePartCategoryDescriptionInputTextAreaId"
						autoResize="false" cols="14" rows="5" maxlength="120">
					</p:inputTextarea>
				</h:panelGrid>
				<h:panelGrid border="0" columns="3" cellspacing="5"
					id="addUpdateMachinePartCategoryPanelGridId">
					<p:commandLink title="#{language.Add}"
						update="machinePlanCategoriesAccordionPanelId newMachinePartCategoriesGridId newMachinePartCategoriesMessages"
						process="@this addMachinePartCategoriesPanelId"
						actionListener="#{machinePartCategoryBean.submitNewMachinePartCategory}">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
					<p:commandLink title="#{language.Cancel}" immediate="true"
						process="@this"
						actionListener="#{machinePartCategoryBean.cancelMachinePartCategorySubmittion}"
						update="newMachinePartCategoriesMessages newMachinePartCategoriesGridId">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
				<p:messages showDetail="true" showSummary="true"
					id="newMachinePartCategoriesMessages"></p:messages>
			</p:panel>



			<h:panelGrid cellspacing="0" id="allPanelGridId">
				<!--  UPDATE MACHINE TYPE -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" header="#{language.Update}"
					id="updateMachineTypeDialogId"
					widgetVar="updateMachineTypeDialogWidget">
					<p:panel style="min-width:600px" id="updateMachineTypePanelId"
						closable="false" toggleable="true">
						<h:panelGrid border="0" columns="2" style="width:100%">

							<h:outputLabel value="#{language.MachineTypeName} : "></h:outputLabel>
							<p:inputText required="true"
								requiredMessage="#{language.RequiredMessage}"
								value="#{machineTypeBean.selectedMachineType.typeName}"></p:inputText>

							<h:outputLabel value="#{language.Description} : "></h:outputLabel>
							<p:inputTextarea
								value="#{machineTypeBean.selectedMachineType.shortDesc}"
								autoResize="false" cols="5" style="width:130px"></p:inputTextarea>
						</h:panelGrid>
						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.Submit}"
								update="updateMachineTypePanelId machineTypesAccordionPanelId"
								process="@this updateMachineTypePanelId"
								actionListener="#{machineTypeBean.updateMachineType}">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="updateMachineTypeMessages" process="@this"
								onclick="updateMachineTypeDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="updateMachineTypeMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- DELETE MACHINE TYPE SECTION -->
				<p:dialog id="deleteMachineTypeDialogId" resizable="false"
					widgetVar="deleteMachineTypeDialogWidget" closable="true"
					maximizable="true" dynamic="true" draggable="true"
					header="#{language.Delete}">
					<p:panel style="min-width:600px"
						header="#{eventTypes.selected.name}" closable="true"
						toggleable="true" id="deleteMachineTypePanelId" visible="true">
						<h:panelGrid border="0" columns="2" style="width:100%">
							<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.ok}"
								update="deleteMachineTypePanelId machineTypesAccordionPanelId"
								process="@this machineTypeDataTableId"
								actionListener="#{machineTypeBean.deleteMachineType}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="deleteMachineTypeMessages" process="@this"
								onclick="deleteMachineTypeDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="deleteMachineTypeMessages"></p:messages>
					</p:panel>
				</p:dialog>

			</h:panelGrid>

			<h:panelGrid cellspacing="0" id="maintenanceAllPanelGridId">
				<!--  UPDATE MACHINE MAINTENANCE PLAN TYPE SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" header="#{language.Update}"
					id="updateMaintenancePlanTypeDialogId"
					widgetVar="updateMaintenancePlanTypeDialogWidget">
					<p:panel style="min-width:600px"
						id="updateMaintenancePlanTypePanelId" closable="false"
						toggleable="true">
						<h:panelGrid border="0" columns="2" style="width:100%">

							<h:outputLabel value="#{language.MachineMaintenancePlanName} : "></h:outputLabel>
							<p:inputText required="true"
								requiredMessage="#{language.RequiredMessage}"
								value="#{maintenancePlanTypeBean.selectedPlanType.planName}"></p:inputText>

							<h:outputLabel value="#{language.Description} : "></h:outputLabel>
							<p:inputTextarea
								value="#{maintenancePlanTypeBean.selectedPlanType.shortDesc}"
								autoResize="false" cols="5" style="width:130px"></p:inputTextarea>

							<h:outputLabel
								value="#{language.MachineMaintenanceFrequencyInWeeks} : "></h:outputLabel>
							<p:inputTextarea
								value="#{maintenancePlanTypeBean.selectedPlanType.frequencyInWeeks}"
								autoResize="false" cols="5" style="width:130px"></p:inputTextarea>
						</h:panelGrid>
						<h:panelGrid border="0" columns="2">
							<p:commandLink title="#{language.Submit}"
								update="updateMaintenancePlanTypePanelId machineMaintenancePlanTypesAccordionPanelId"
								process="@this updateMaintenancePlanTypePanelId"
								actionListener="#{maintenancePlanTypeBean.updateMaintenancePlanType}">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="updateMaintenancePlanTypeMessages" process="@this"
								onclick="updateMaintenancePlanTypeDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="updateMaintenancePlanTypeMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- DELETE MACHINE MAINTENANCE PLAN TYPE SECTION -->
				<p:dialog id="deleteMaintenancePlanTypeDialogId" resizable="false"
					widgetVar="deleteMaintenancePlanTypeDialogWidget" closable="true"
					maximizable="true" dynamic="true" draggable="true"
					header="#{language.Delete}">
					<p:panel style="min-width:600px"
						header="#{eventTypes.selected.name}" closable="true"
						toggleable="true" id="deleteMaintenancePlanTypePanelId"
						visible="true">
						<h:panelGrid border="0" columns="2" style="width:100%">
							<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.ok}"
								update="deleteMaintenancePlanTypePanelId machineMaintenancePlanTypesAccordionPanelId"
								process="@this maintenancePlanTypesListDataTableId"
								actionListener="#{maintenancePlanTypeBean.deleteMaintenancePlanType}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="deleteMaintenancePlanTypeMessages" process="@this"
								onclick="deleteMaintenancePlanTypeDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="deleteMaintenancePlanTypeMessages"></p:messages>
					</p:panel>
				</p:dialog>

			</h:panelGrid>

			<h:panelGrid cellspacing="0" id="maintenanceActivitiesAllPanelGridId">
				<!--  UPDATE MACHINE MAINTENANCE ACTIVITIES SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" header="#{language.Update}"
					id="updateMaintenanceActivitiesDialogId"
					widgetVar="updateMaintenanceActivitiesDialogWidget">
					<p:panel style="min-width:600px"
						id="updateMaintenanceActivitiesPanelId" closable="false"
						toggleable="true">
						<h:panelGrid border="0" columns="2" style="width:100%">

							<h:outputLabel value="#{language.Name} : "></h:outputLabel>
							<p:inputText required="true"
								requiredMessage="#{language.RequiredMessage}"
								value="#{maintenanceActivityBean.selectedActivity.name}"></p:inputText>

							<h:outputLabel value="#{language.Description} : "></h:outputLabel>
							<p:inputTextarea
								value="#{maintenanceActivityBean.selectedActivity.shortDesc}"
								autoResize="false" cols="5" style="width:130px"></p:inputTextarea>
						</h:panelGrid>
						<h:panelGrid border="0" columns="2">
							<p:commandLink title="#{language.Submit}"
								update="updateMaintenanceActivitiesPanelId machineMaintenanceActivitiesAccordionPanelId"
								process="@this updateMaintenanceActivitiesPanelId"
								actionListener="#{maintenanceActivityBean.updateMaintenanceActivity}">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="updateMaintenanceActivityMessages" process="@this"
								onclick="updateMaintenanceActivitiesDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="updateMaintenanceActivityMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- DELETE MACHINE MAINTENANCE ACTIVITIES SECTION -->
				<p:dialog id="deleteMaintenanceActivitiesDialogId" resizable="false"
					widgetVar="deleteMaintenanceActivitiesDialogWidget" closable="true"
					maximizable="true" dynamic="true" draggable="true"
					header="#{language.Delete}">
					<p:panel style="min-width:600px"
						header="#{eventTypes.selected.name}" closable="true"
						toggleable="true" id="deleteMaintenanceActivityPanelId"
						visible="true">
						<h:panelGrid border="0" columns="2" style="width:100%">
							<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.ok}"
								update="deleteMaintenanceActivityPanelId machineMaintenanceActivitiesAccordionPanelId"
								process="@this maintenanceActivitiesListDataTableId"
								actionListener="#{maintenanceActivityBean.deleteMaintenanceActivity}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="deleteMaintenanceActivityMessages" process="@this"
								onclick="deleteMaintenanceActivitiesDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="deleteMaintenanceActivityMessages"></p:messages>
					</p:panel>
				</p:dialog>

			</h:panelGrid>

			<h:panelGrid cellspacing="0" id="partCategoriesAllPanelGridId">
				<!--  UPDATE MACHINE PART CATEGORIES SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" header="#{language.Update}"
					id="updateMachinePartCategoriesDialogId"
					widgetVar="updateMachinePartCategoriesDialogWidget">
					<p:panel style="min-width:600px"
						id="updateMachinePartCategoriesPanelId" closable="false"
						toggleable="true">
						<h:panelGrid border="0" columns="2" style="width:100%">

							<h:outputLabel value="#{language.Name} : "></h:outputLabel>
							<p:inputText required="true"
								requiredMessage="#{language.RequiredMessage}"
								value="#{machinePartCategoryBean.selectedPart.categoryName}"></p:inputText>

							<h:outputLabel value="#{language.Description} : "></h:outputLabel>
							<p:inputTextarea
								value="#{machinePartCategoryBean.selectedPart.shortDesc}"
								autoResize="false" cols="5" style="width:130px"></p:inputTextarea>
						</h:panelGrid>
						<h:panelGrid border="0" columns="2">
							<p:commandLink title="#{language.Submit}"
								update="updateMachinePartCategoriesPanelId machinePlanCategoriesAccordionPanelId"
								process="@this updateMachinePartCategoriesPanelId"
								actionListener="#{machinePartCategoryBean.updateMachinePartCategory}">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="updateMachinePartCategoryMessages" process="@this"
								onclick="updateMachinePartCategoriesDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="updateMachinePartCategoryMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- DELETE MACHINE PART CATEGORIES SECTION -->
				<p:dialog id="deleteMachinePartCategoriesDialogId" resizable="false"
					widgetVar="deleteMachinePartCategoriesDialogWidget" closable="true"
					maximizable="true" dynamic="true" draggable="true"
					header="#{language.Delete}">
					<p:panel style="min-width:600px"
						header="#{eventTypes.selected.name}" closable="true"
						toggleable="true" id="deleteMachinePartCategoriesPanelId"
						visible="true">
						<h:panelGrid border="0" columns="2" style="width:100%">
							<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.ok}"
								update="deleteMachinePartCategoriesPanelId machinePlanCategoriesAccordionPanelId"
								process="@this deleteMachinePartCategoriesPanelId"
								actionListener="#{machinePartCategoryBean.deleteMachinePartCategory}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="deleteMachinePartCategoryMessages" process="@this"
								onclick="deleteMachinePartCategoriesDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="deleteMachinePartCategoryMessages"></p:messages>
					</p:panel>
				</p:dialog>

			</h:panelGrid>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>