<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<!-- ALL MACHINES LIST section -->
		<ui:define name="sideMenu">
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px" id="accordionPanelId">
				<p:tab title="#{language.MachineList}">
					<p:dataTable id="machineListDataTableId" var="machine"
						widgetVar="machineListDataTableWidget"
						value="#{machineListBean.allMachineList}" paginator="true"
						rows="20" rowKey="#{machine.machineId}" resizableColumns="true"
						selection="#{newMachineBean.newMachine}" selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">
						<p:ajax event="rowSelect"
							update="machineListDataTableId newMachinePanelGridId"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.MachineName}"></h:outputText>
							</f:facet>
							<h:outputText value="#{machine.name}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Type}"></h:outputText>
							</f:facet>
							<h:outputText value="#{machine.machineType.typeName}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Brand}"></h:outputText>
							</f:facet>
							<h:outputText value="#{machine.brand}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Model}"></h:outputText>
							</f:facet>
							<h:outputText value="#{machine.model}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Description}"></h:outputText>
							</f:facet>
							<h:outputText value="#{machine.description}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Status}"></h:outputText>
							</f:facet>
							<h:outputText value="#{machine.status}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.SerialNumber}"></h:outputText>
							</f:facet>
							<h:outputText value="#{machine.serialNumber}"></h:outputText>
						</p:column>
						<f:facet name="footer">
							<h:panelGrid border="0" columns="2" cellspacing="5">
								<p:commandLink title="#{language.MachineViewParts}"
									rendered="#{userCredentialsBean.generalPrivileges.machineP >= 4}"
									process="@this machineListDataTableId"
									actionListener="#{newMachineBean.displayMachineParts}"
									update="accordionPanelId viewMachinePartsPanelId"
									onclick="viewMachinePartsConfirmDialogWidget.show()">
									<p:graphicImage value="/small_icons/view.gif"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
								<p:commandLink title="#{language.Delete}"
									process="@this machineListDataTableId"
									onclick="deleteMachineConfirmDialogWidget.show()"
									rendered="#{userCredentialsBean.generalPrivileges.machineP >= 5}">
									<p:graphicImage value="/small_icons/delete.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</f:facet>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
		</ui:define>

		<!-- MACHINE NEW section -->
		<ui:define name="showPanel">
			<!-- View machine parts confirm dialog  -->
			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" style="min-width:600px"
				id="viewMachinePartsConfirmDialogId"
				widgetVar="viewMachinePartsConfirmDialogWidget">
				<p:panel style="width:100%; text-align:center; padding:0px"
					id="viewMachinePartsPanelId">
					<p:dataTable id="machinePartsListDataTableId" var="machinePart"
						widgetVar="machinePartsListDataTableWidget" style="width:100%"
						value="#{newMachineBean.machineParts}" paginator="true" rows="20"
						rowKey="#{machinePart.machinePartId}" resizableColumns="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">
						<f:facet name="header">  
				            #{newMachineBean.newMachine.name} #{language.MachineParts}
				        </f:facet>

						<p:column style="width:200px">
							<f:facet name="header">
								<h:outputText value="#{language.Category}" style="width:100%"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{machinePart.machinePartCategory.categoryName}"></h:outputText>
						</p:column>

						<p:column style="width:200px">
							<f:facet name="header">
								<h:outputText value="#{language.Name}" style="width:100%"></h:outputText>
							</f:facet>
							<h:outputText value="#{machinePart.partName}"></h:outputText>
						</p:column>

						<p:column style="width:300px">
							<f:facet name="header">
								<h:outputText value="#{language.Description}" style="width:100%"></h:outputText>
							</f:facet>
							<h:outputText value="#{machinePart.shortDesc}"></h:outputText>
						</p:column>
					</p:dataTable>
				</p:panel>
			</p:dialog>

			<!-- Delete order confirm dialog  -->
			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" style="min-width:600px"
				header="#{language.delete} #{language.machine}"
				id="deleteMachineConfirmDialogId"
				widgetVar="deleteMachineConfirmDialogWidget">
				<p:panel closable="false" toggleable="true"
					id="deleteMachinePanelId" style="width:100%"
					widgetVar="deleteMachinePanelWidget" visible="true">
					<h:panelGrid border="0" columns="5" style="width:100%">
						<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
					</h:panelGrid>
					<h:panelGrid cellspacing="5" columns="5">
						<p:commandLink title="#{language.ok}"
							update="deleteMachinePanelId accordionPanelId"
							process="@this machineListDataTableId"
							actionListener="#{newMachineBean.deleteMachine}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink title="#{language.Cancel}" process="@this"
							update="deleteMachineMessage" immediate="true"
							onclick="deleteMachineConfirmDialogWidget.hide()">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
					<p:messages showDetail="false" showSummary="true"
						id="deleteMachineMessage"></p:messages>
				</p:panel>
			</p:dialog>

			<!-- Add machine form dialog  -->
			<p:panel header="#{language.AddMachineForm}" id="addMachinePanelId">
				<h:panelGrid border="0" cellspacing="5" columns="2"
					style="width:100%" id="newMachinePanelGridId">
					<h:outputLabel value="#{language.MachineName} *:  " />
					<p:inputText value="#{newMachineBean.newMachine.name}"
						id="machineNameInputTextId" required="true"
						requiredMessage="#{language.RequiredMessage}" maxlength="20">
						<f:validator validatorId="emptyFieldValidator"></f:validator>
					</p:inputText>

					<h:outputLabel value="#{language.Brand} :  " />
					<p:inputText value="#{newMachineBean.newMachine.brand}"
						maxlength="20"></p:inputText>

					<h:outputLabel value="#{language.Type} *:  " />
					<p:selectOneMenu value="#{newMachineBean.newMachine.machineType}"
						style="width: 140px" id="machineTypeSelectMenuId">
						<f:selectItem itemValue="10" itemLabel="#{language.Spiral}" />
						<f:selectItem itemValue="11" itemLabel="#{language.Hydrostatic}" />
						<f:selectItem itemValue="12" itemLabel="#{language.Bevelling}" />
						<f:selectItem itemValue="13"
							itemLabel="#{language.PipeEndPreparation}" />
						<f:selectItem itemValue="101" itemLabel="#{language.Polietilen}" />
						<f:selectItem itemValue="102" itemLabel="#{language.Polipropilen}" />
						<f:selectItem itemValue="103" itemLabel="#{language.EpoxyBoya}" />
						<f:selectItem itemValue="104"
							itemLabel="#{language.InnerBlasting}" />
						<f:selectItem itemValue="105"
							itemLabel="#{language.OuterBlasting}" />
						<f:selectItem itemValue="106" itemLabel="#{language.Cement}" />
					</p:selectOneMenu>

					<h:outputLabel value="#{language.Model} :  " />
					<p:inputText value="#{newMachineBean.newMachine.model}"
						maxlength="20"></p:inputText>

					<h:outputLabel value="#{language.Status} *:" />
					<p:selectOneMenu value="#{newMachineBean.newMachine.status}"
						id="machineStatusSelectMenuId" style="width: 140px">
						<f:selectItem itemValue="1" itemLabel="#{language.Active}" />
						<f:selectItem itemValue="2" itemLabel="#{language.Replaced}" />
					</p:selectOneMenu>

					<h:outputLabel value="#{language.IncomingDate} (gg/aa/yyyy)*:" />
					<p:calendar value="#{newMachineBean.newMachine.incomingDate}"
						pattern="#{userCredentialsBean.dateFormat}"
						id="machineDateCalendarId" mode="popup" showOn="button"
						converterMessage="#{language.nbLayersConverterError}">
						<f:validator validatorId="itemEndDateValidator"></f:validator>
					</p:calendar>

					<h:outputLabel value="#{language.SerialNumber} :  " />
					<p:inputText value="#{newMachineBean.newMachine.serialNumber}"
						maxlength="30"></p:inputText>

					<h:outputLabel value="#{language.Value} :  " />
					<p:inputText value="#{newMachineBean.newMachine.value}"
						converterMessage="#{language.nbLayersConverterError}"></p:inputText>

					<h:outputLabel value="#{language.Description} :  " />
					<p:inputTextarea value="#{newMachineBean.newMachine.description}"
						id="machineDescriptionInputTextAreaId" autoResize="false"
						cols="14" rows="5"></p:inputTextarea>
				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandLink title="#{language.Add}"
						update="accordionPanelId newMachinePanelGridId newMachineMessages"
						actionListener="#{newMachineBean.submitNewMachine}">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:commandLink title="#{language.Cancel}"
						update="newMachinePanelGridId newMachineMessages" process="@this"
						actionListener="#{newMachineBean.cancelNewMachine}">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
				<p:messages showDetail="true" showSummary="true"
					id="newMachineMessages"></p:messages>
			</p:panel>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>