<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<!-- ALL MACHINES LIST section -->
		<ui:define name="sideMenu">
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px" id="machineTypesAccordionPanelId">
				<p:tab title="#{language.MachineTypes}">
					<p:dataTable id="machineTypesListDataTableId" var="machineType"
						widgetVar="machineTypesListDataTableWidget"
						value="#{machineUtilsListBean.allMachineTypeList}"
						paginator="true"
						selection="#{machineTypeBean.selectedMachineType}"
						selectionMode="single" rows="20"
						rowKey="#{machineType.machineTypeId}" resizableColumns="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">
						<p:ajax event="rowSelect"
							update="newMachineTypeGridId addMachineTypePanelId"></p:ajax>-->
						<!-- <p:ajax process="@this" event="rowSelect"
							update="updateUserPanelGridId newUserMessages"></p:ajax> -->
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.MachineTypeName}"></h:outputText>
							</f:facet>
							<h:outputText value="#{machineType.typeName}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Description}"></h:outputText>
							</f:facet>
							<h:outputText value="#{machineType.shortDesc}"></h:outputText>
						</p:column>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px" id="machineMaintenancePlanTypesAccordionPanelId">
				<p:tab title="#{language.MachineMaintenancePlanTypes}">
					<p:dataTable id="maintenancePlanTypesListDataTableId"
						var="maintenancePlanType"
						widgetVar="maintenancePlanTypesListDataTableWidget"
						value="#{machineUtilsListBean.allMaintenancePlanTypeList}"
						paginator="true"
						selection="#{maintenancePlanTypeBean.selectedPlanType}"
						selectionMode="single" rows="20"
						rowKey="#{maintenancePlanType.maintenancePlanTypeId}"
						resizableColumns="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">
						<!--  <p:ajax event="rowSelect"
							update="newMachineTypeGridId addMachineTypePanelId"></p:ajax>-->
						<!-- <p:ajax process="@this" event="rowSelect"
							update="updateUserPanelGridId newUserMessages"></p:ajax> -->
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.MachineMaintenancePlanName}"></h:outputText>
							</f:facet>
							<h:outputText value="#{maintenancePlanType.planName}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Description}"></h:outputText>
							</f:facet>
							<h:outputText value="#{maintenancePlanType.shortDesc}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.MachineMaintenanceFrequencyInWeeks}"></h:outputText>
							</f:facet>
							<h:outputText value="#{maintenancePlanType.frequencyInWeeks}"></h:outputText>
						</p:column>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px"
				id="machineMaintenanceActivitiesAccordionPanelId">
				<p:tab title="#{language.MachineMaintenanceActivities}">
					<p:dataTable id="maintenanceActivitiesListDataTableId"
						var="maintenanceActivity"
						widgetVar="maintenanceActivitiesListDataTableWidget"
						value="#{machineUtilsListBean.allMaintenanceActivities}"
						paginator="true"
						selection="#{maintenanceActivityBean.selectedActivity}"
						selectionMode="single" rows="20"
						rowKey="#{maintenanceActivity.maintenanceActivityId}"
						resizableColumns="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">
						<!--  <p:ajax event="rowSelect"
							update="newMachineTypeGridId addMachineTypePanelId"></p:ajax>-->
						<!-- <p:ajax process="@this" event="rowSelect"
							update="updateUserPanelGridId newUserMessages"></p:ajax> -->
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{maintenanceActivity.name}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Description}"></h:outputText>
							</f:facet>
							<h:outputText value="#{maintenanceActivity.shortDesc}"></h:outputText>
						</p:column>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px" id="machinePlanCategoriesAccordionPanelId">
				<p:tab title="#{language.MachinePartCategories}">
					<p:dataTable id="machinePartCategoriesListDataTableId"
						var="machinePartCategory"
						widgetVar="machinePartCategoriesListDataTableWidget"
						value="#{machineUtilsListBean.allMachinePartCategories}"
						paginator="true"
						selection="#{machinePartCategoryBean.selectedPart}"
						selectionMode="single" rows="20"
						rowKey="#{machinePartCategory.machinePartCategoryId}"
						resizableColumns="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">
						<!--  <p:ajax event="rowSelect"
							update="newMachineTypeGridId addMachineTypePanelId"></p:ajax>-->
						<!-- <p:ajax process="@this" event="rowSelect"
							update="updateUserPanelGridId newUserMessages"></p:ajax> -->
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{machinePartCategory.categoryName}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Description}"></h:outputText>
							</f:facet>
							<h:outputText value="#{machinePartCategory.shortDesc}"></h:outputText>
						</p:column>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
		</ui:define>

		<ui:define name="showPanel">
			<p:panel header="#{language.AddMachineTypeForm}"
				id="addMachineTypePanelId">
				<h:panelGrid border="0" cellspacing="3" columns="2"
					style="width:100%" id="newMachineTypeGridId">
					<h:outputLabel value="#{language.MachineTypeName} *:  " />
					<p:inputText
						value="#{machineTypeBean.selectedMachineType.typeName}"
						id="machineTypeNameInputTextId" required="true"
						requiredMessage="#{language.RequiredMessage}" maxlength="32">
						<f:validator validatorId="emptyFieldValidator"></f:validator>
					</p:inputText>
					<h:outputLabel value="#{language.Description} :  " />
					<p:inputTextarea
						value="#{machineTypeBean.selectedMachineType.shortDesc}"
						id="machineTypeDescriptionInputTextAreaId" autoResize="false"
						cols="14" rows="5" maxlength="120">
					</p:inputTextarea>
				</h:panelGrid>
				<h:panelGrid border="0" columns="3" cellspacing="5"
					id="addUpdateMachineTypePanelGridId">
					<p:commandLink title="#{language.Update}"
						update="machineTypesAccordionPanelId newMachineTypeGridId newMachineMessages"
						process="@this addMachineTypePanelId"
						actionListener="#{machineTypeBean.updateMachineType}">
						<p:graphicImage value="/large_icons/update.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
					<p:commandLink title="#{language.Delete}" immediate="true"
						process="@this"
						actionListener="#{machineTypeBean.deleteMachineType}"
						update="newMachineMessages newMachineTypeGridId">
						<p:graphicImage value="/large_icons/delete.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
				<p:messages showDetail="true" showSummary="true"
					id="newMachineMessages"></p:messages>
			</p:panel>

			<p:panel header="#{language.AddMaintenancePlanTypeForm}"
				id="addMaintenancePlanTypePanelId">
				<h:panelGrid border="0" cellspacing="3" columns="2"
					style="width:100%" id="newMaintenancePlanTypeGridId">
					<h:outputLabel value="#{language.MachineMaintenancePlanName} *:  " />
					<p:inputText
						value="#{maintenancePlanTypeBean.newPlanType.planName}"
						id="maintenancePlanTypeNameInputTextId" required="true"
						requiredMessage="#{language.RequiredMessage}" maxlength="32">
						<f:validator validatorId="emptyFieldValidator"></f:validator>
					</p:inputText>
					<h:outputLabel value="#{language.Description} :  " />
					<p:inputTextarea
						value="#{maintenancePlanTypeBean.newPlanType.shortDesc}"
						id="maintenancePlanTypeDescriptionInputTextAreaId"
						autoResize="false" cols="14" rows="5" maxlength="120">
					</p:inputTextarea>
					<h:outputLabel
						value="#{language.MachineMaintenanceFrequencyInWeeks} *:  " />
					<p:inputText
						value="#{maintenancePlanTypeBean.newPlanType.frequencyInWeeks}"
						id="maintenancePlanTypeFrequencyInWeeksInputTextId"
						required="true"
						converterMessage="#{language.nbLayersConverterError}"
						maxlength="2">
						<f:validator validatorId="emptyFieldValidator"></f:validator>
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid border="0" columns="3" cellspacing="5"
					id="addUpdateMaintenancePlanTypePanelGridId">
					<p:commandLink title="#{language.Add}"
						update="machineMaintenancePlanTypesAccordionPanelId newMaintenancePlanTypeGridId newMaintenancePlanTypeMessages"
						process="@this addMaintenancePlanTypePanelId"
						actionListener="#{maintenancePlanTypeBean.submitNewMaintenancePlanType}">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
					<p:commandLink title="#{language.Cancel}" immediate="true"
						process="@this"
						actionListener="#{maintenancePlanTypeBean.cancelMaintenancePlanTypeSubmittion}"
						update="newMaintenancePlanTypeMessages newMaintenancePlanTypeGridId">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
				<p:messages showDetail="true" showSummary="true"
					id="newMaintenancePlanTypeMessages"></p:messages>
			</p:panel>

			<p:panel header="#{language.AddMaintenanceActivitiesForm}"
				id="addMaintenanceActivitiesPanelId">
				<h:panelGrid border="0" cellspacing="3" columns="2"
					style="width:100%" id="newMaintenanceActivityGridId">
					<h:outputLabel value="#{language.Name} *:  " />
					<p:inputText value="#{maintenanceActivityBean.newActivity.name}"
						id="maintenanceActivityNameInputTextId" required="true"
						requiredMessage="#{language.RequiredMessage}" maxlength="32">
						<f:validator validatorId="emptyFieldValidator"></f:validator>
					</p:inputText>
					<h:outputLabel value="#{language.Description} :  " />
					<p:inputTextarea
						value="#{maintenanceActivityBean.newActivity.shortDesc}"
						id="maintenanceActivityDescriptionInputTextAreaId"
						autoResize="false" cols="14" rows="5" maxlength="120">
					</p:inputTextarea>
				</h:panelGrid>
				<h:panelGrid border="0" columns="3" cellspacing="5"
					id="addUpdateMaintenanceActivityPanelGridId">
					<p:commandLink title="#{language.Add}"
						update="machineMaintenanceActivitiesAccordionPanelId newMaintenanceActivityGridId newMaintenanceActivityMessages"
						process="@this addMaintenanceActivitiesPanelId"
						actionListener="#{maintenanceActivityBean.submitNewMaintenanceActivity}">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
					<p:commandLink title="#{language.Cancel}" immediate="true"
						process="@this"
						actionListener="#{maintenanceActivityBean.cancelMaintenanceActivitySubmittion}"
						update="newMaintenanceActivityMessages newMaintenanceActivityGridId">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
				<p:messages showDetail="true" showSummary="true"
					id="newMaintenanceActivityMessages"></p:messages>
			</p:panel>

			<p:panel header="#{language.AddMachinePartCategoriesForm}"
				id="addMachinePartCategoriesPanelId">
				<h:panelGrid border="0" cellspacing="3" columns="2"
					style="width:100%" id="newMachinePartCategoriesGridId">
					<h:outputLabel value="#{language.Name} *:  " />
					<p:inputText
						value="#{machinePartCategoryBean.newPart.categoryName}"
						id="machinePartCategoryNameInputTextId" required="true"
						requiredMessage="#{language.RequiredMessage}" maxlength="32">
						<f:validator validatorId="emptyFieldValidator"></f:validator>
					</p:inputText>
					<h:outputLabel value="#{language.Description} :  " />
					<p:inputTextarea
						value="#{machinePartCategoryBean.newPart.shortDesc}"
						id="machinePartCategoryDescriptionInputTextAreaId"
						autoResize="false" cols="14" rows="5" maxlength="120">
					</p:inputTextarea>
				</h:panelGrid>
				<h:panelGrid border="0" columns="3" cellspacing="5"
					id="addUpdateMachinePartCategoryPanelGridId">
					<p:commandLink title="#{language.Add}"
						update="machinePlanCategoriesAccordionPanelId newMachinePartCategoriesGridId newMachinePartCategoriesMessages"
						process="@this addMachinePartCategoriesPanelId"
						actionListener="#{machinePartCategoryBean.submitNewMachinePartCategory}">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
					<p:commandLink title="#{language.Cancel}" immediate="true"
						process="@this"
						actionListener="#{machinePartCategoryBean.cancelMachinePartCategorySubmittion}"
						update="newMachinePartCategoriesMessages newMachinePartCategoriesGridId">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
				<p:messages showDetail="true" showSummary="true"
					id="newMachinePartCategoriesMessages"></p:messages>
			</p:panel>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>