<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">

				<p:tab id="markalamaTabId"
					title="İÇ MARKALAMA - MARKALAMA ROBOT EKRANI">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{markalamaPrint.barkodNo}">
					</p:inputText>
					<p:commandButton value="BORU BUL"
						update="growl orderAccordionPanelId markalamaPanelGridId"
						process="@this inputBarkod"
						actionListener="#{markalamaPrint.fillTestListFromBarkod(markalamaPrint.barkodNo)}"
						icon="ui-icon-circle-plus" styleClass="foo">
					</p:commandButton>

					<h:panelGrid border="0" columns="1" cellspacing="5"
						id="markalamaPanelGridId">

						<h:outputText
							value=" BORU NO : #{markalamaPrint.selectedPipe.pipeBarkodNo}"
							style="font-weight: bold;"></h:outputText>
						<h:outputText
							value=" BORU AĞIRLIĞI : #{markalamaPrint.selectedGozOlcu.boruAgirlik} kg"
							style="font-weight: bold;"></h:outputText>
						<h:outputText
							value=" BORU BOYU : #{markalamaPrint.selectedGozOlcu.boruUzunluk} mm"
							style="font-weight: bold;"></h:outputText>

					</h:panelGrid>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="markalamaAddPanelGridId">
						<p:commandLink value="TANAP BARKODU ÜRET"
							style="color: red; font-weight: bold;"
							process="@this gozOlcuPanelGridId"
							update="gozOlcuPanelGridId gozOlcuTestsDataTableId growl pipeTestsDataTableId"
							actionListener="#{markalamaPrint.tanapBarkoduBas}">
						</p:commandLink>
						<h:commandButton value="#{language.YAZICIDANBARKODYAZDIRMAK}"
							action="#{markalamaPrint.barcodeYazdir()}" immediate="true"
							icon="ui-icon-circle-plus">
						</h:commandButton>
						<p:commandButton value="MARKALAMA ROBOTUNA GÖNDER"
							action="#{markalamaPrint.degiskenGonder}"
							update="growl markalamaPanelGridId markalamaMaterialListDataTableId"
							process="@this" icon="ui-icon-circle-plus">
						</p:commandButton>
					</h:panelGrid>
				</p:tab>


			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>