<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<!-- ALL MACHINE PARTS LIST SECTION -->
		<ui:define name="sideMenu">
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px" id="machinePartsAccordionPanelId">
				<p:tab title="#{language.MachineParts}">
					<p:dataTable id="machinePartsListDataTableId" var="machinePart"
						widgetVar="machinePartsListDataTableWidget"
						value="#{machineUtilsListBean.allMachineParts}" paginator="true"
						selection="#{machinePartBean.selectedPart}" selectionMode="single"
						rows="20" rowKey="#{machinePart.machinePartId}"
						resizableColumns="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:ajax event="rowSelect" update="machinePartsListDataTableId "></p:ajax>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Machine}"></h:outputText>
							</f:facet>
							<h:outputText value="#{machinePart.machine.name}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Category}"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{machinePart.machinePartCategory.categoryName}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{machinePart.partName}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Description}"></h:outputText>
							</f:facet>
							<h:outputText value="#{machinePart.shortDesc}"></h:outputText>
						</p:column>
						<f:facet name="footer">
							<h:panelGrid border="0" columns="3" cellspacing="5"
								style="align: right;">
								<p:commandLink title="#{language.Update}"
									process="@this machinePartsListDataTableId"
									update="updateMachinePartsPanelId"
									disabled="#{machinePartBean.selectedPart.machinePartId == null}"
									onclick="updateMachinePartsDialogWidget.show()">
									<p:graphicImage value="/large_icons/update.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>

								<p:commandLink title="#{language.Delete}"
									process="@this machinePartsListDataTableId"
									disabled="#{machinePartBean.selectedPart.machinePartId == null}"
									onclick="deleteMachinePartsDialogWidget.show()">
									<p:graphicImage value="/large_icons/delete.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</f:facet>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
		</ui:define>

		<ui:define name="showPanel">
			<p:panel header="#{language.AddMachinePartsForm}"
				id="addMachinePartsPanelId">
				<h:panelGrid border="0" cellspacing="3" columns="2"
					style="width:100%" id="newMachinePartsGridId">
					<h:outputLabel value="#{language.Machine} *:  " />
					<p:selectOneMenu layout="lineDirection" style="width: 140px"
						value="#{machinePartBean.newPart.machine.machineId}"
						required="true" requiredMessage="#{language.RequiredMessage}">
						<c:forEach items="#{machineUtilsListBean.allMachineList}"
							var="machine">
							<f:selectItem itemValue="#{machine.machineId}"
								itemLabel="#{machine.name}"></f:selectItem>
						</c:forEach>
					</p:selectOneMenu>

					<h:outputLabel value="#{language.Category} *:  " />
					<p:selectOneMenu layout="lineDirection" style="width: 140px"
						value="#{machinePartBean.newPart.machinePartCategory.machinePartCategoryId}"
						required="true" requiredMessage="#{language.RequiredMessage}">
						<c:forEach
							items="#{machineUtilsListBean.allMachinePartCategories}"
							var="category">
							<f:selectItem itemValue="#{category.machinePartCategoryId}"
								itemLabel="#{category.categoryName}"></f:selectItem>
						</c:forEach>
					</p:selectOneMenu>

					<h:outputLabel value="#{language.Name} *:  " />
					<p:inputText value="#{machinePartBean.newPart.partName}"
						id="machinePartNameInputTextId" required="true"
						requiredMessage="#{language.RequiredMessage}" maxlength="32">
					</p:inputText>

					<h:outputLabel value="#{language.Description} :  " />
					<p:inputTextarea value="#{machinePartBean.newPart.shortDesc}"
						id="machinePartDescriptionInputTextAreaId" autoResize="false"
						cols="14" rows="5" maxlength="120">
					</p:inputTextarea>
				</h:panelGrid>
				<h:panelGrid border="0" columns="3" cellspacing="5">
					<p:commandLink title="#{language.Add}"
						update="machinePartsAccordionPanelId newMachinePartsGridId newMachinePartsMessages"
						process="@this addMachinePartsPanelId"
						actionListener="#{machinePartBean.submitNewMachinePart}">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
					<p:commandLink title="#{language.Cancel}" immediate="true"
						process="@this"
						actionListener="#{machinePartBean.cancelMachinePartSubmittion}"
						update="newMachinePartsMessages newMachinePartsGridId">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
				<p:messages showDetail="true" showSummary="true"
					id="newMachinePartsMessages"></p:messages>
			</p:panel>

			<h:panelGrid cellspacing="0" id="machinePartsAllPanelGridId">
				<!--  UPDATE MACHINE PARTS SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" header="#{language.Update}"
					id="updateMachinePartsDialogId"
					widgetVar="updateMachinePartsDialogWidget">
					<p:panel style="min-width:600px" id="updateMachinePartsPanelId"
						closable="false" toggleable="true">
						<h:panelGrid border="0" columns="2" style="width:100%">
							<h:outputLabel value="#{language.Machine} *:  " />
							<p:selectOneMenu layout="lineDirection" style="width: 140px"
								value="#{machinePartBean.selectedPart.machine.machineId}"
								required="true" requiredMessage="#{language.RequiredMessage}">
								<c:forEach items="#{machineUtilsListBean.allMachineList}"
									var="machine">
									<f:selectItem itemValue="#{machine.machineId}"
										itemLabel="#{machine.name}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel value="#{language.Category} *:  " />
							<p:selectOneMenu layout="lineDirection" style="width: 140px"
								value="#{machinePartBean.selectedPart.machinePartCategory.machinePartCategoryId}"
								required="true" requiredMessage="#{language.RequiredMessage}">
								<c:forEach
									items="#{machineUtilsListBean.allMachinePartCategories}"
									var="category">
									<f:selectItem itemValue="#{category.machinePartCategoryId}"
										itemLabel="#{category.categoryName}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel value="#{language.Name} : "></h:outputLabel>
							<p:inputText required="true"
								requiredMessage="#{language.RequiredMessage}"
								value="#{machinePartBean.selectedPart.partName}">
							</p:inputText>

							<h:outputLabel value="#{language.Description} : "></h:outputLabel>
							<p:inputTextarea
								value="#{machinePartBean.selectedPart.shortDesc}"
								autoResize="false" cols="5" style="width:130px">
							</p:inputTextarea>
						</h:panelGrid>
						<h:panelGrid border="0" columns="2">
							<p:commandLink title="#{language.Submit}"
								update="machinePartsAccordionPanelId updateMachinePartsPanelId updateMachinePartMessages"
								process="@this updateMachinePartsPanelId"
								actionListener="#{machinePartBean.updateMachinePart}">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="updateMachinePartMessages" process="@this"
								onclick="updateMachinePartsDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="updateMachinePartMessages"></p:messages>
					</p:panel>
				</p:dialog>
				<!-- DELETE MACHINE PARTS SECTION -->
				<p:dialog id="deleteMachinePartsDialogId" resizable="false"
					widgetVar="deleteMachinePartsDialogWidget" closable="true"
					maximizable="true" dynamic="true" draggable="true"
					header="#{language.Delete}">
					<p:panel style="min-width:600px"
						header="#{eventTypes.selected.name}" closable="true"
						toggleable="true" id="deleteMachinePartsPanelId" visible="true">
						<h:panelGrid border="0" columns="2" style="width:100%">
							<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.ok}"
								update="machinePartsAccordionPanelId deleteMachinePartsPanelId deleteMachinePartMessages"
								process="@this deleteMachinePartsPanelId"
								actionListener="#{machinePartBean.deleteMachinePart}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="deleteMachinePartMessages" process="@this"
								onclick="deleteMachinePartsDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="deleteMachinePartMessages"></p:messages>
					</p:panel>
				</p:dialog>
			</h:panelGrid>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>