<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main.xhtml">

		<ui:define name="sideMenu">
			<p:accordionPanel id="machineAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="machineAccorditionPanelWidget">
				<c:forEach items="#{machineListBean.allMachineList}" var="machine">
					<p:tab title="#{machine.name} ">
						<p:panel style="width:100%" header=" ">
							<h:panelGrid border="0" cellspacing="5" columns="2"
								style="width:100%">
								<h:outputLabel value="#{language.MachineName}:  " />
								<h:outputText value="#{machine.name}"></h:outputText>

								<h:outputLabel value="#{language.Brand}:  " />
								<h:outputText value="#{machine.brand}"></h:outputText>

								<h:outputLabel value="#{language.Model}:  " />
								<h:outputText value="#{machine.model}"></h:outputText>

								<h:outputLabel value="#{language.Description}:  " />
								<h:outputText value="#{machine.description}"></h:outputText>

								<h:outputLabel value="#{language.Status}:  " />
								<h:outputText value="#{machine.status}"></h:outputText>

								<h:outputLabel value="#{language.SerialNumber}:  " />
								<h:outputText value="#{machine.serialNumber}"></h:outputText>

								<h:outputLabel value="#{language.Type}:  " />
								<h:outputText value="#{machine.machineType.displayName}"></h:outputText>
							</h:panelGrid>
							<h:panelGrid border="0" columns="2" cellspacing="5">
								<p:commandLink title="#{language.OrderItemSubmitInfo}"
									oncomplete="updateMachineDialogWidget.show()"
									rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].machineP >= 4}"
									update="updateMachinePanelId" process="machineAccordionPanelId"
									action="#{newMachineBean.beforeUpdate(machine)}">
									<p:graphicImage value="/small_icons/edit.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
								<p:commandLink immediate="true"
									onclick="deleteMachineConfirmDialogWidget.show()"
									rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].machineP >= 5}"
									update="deleteMachineMessage" title="#{language.Delete}"
									action="#{newMachineBean.beforeDelete(machine)}">
									<p:graphicImage value="/small_icons/delete.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</p:panel>
					</p:tab>
				</c:forEach>
			</p:accordionPanel>
		</ui:define>

		<!-- MACHINE NEW section -->
		<ui:define name="showPanel">

			<p:panel header="#{language.AddMachineForm}" id="addMachinePanelId">
				<h:panelGrid border="0" cellspacing="5" columns="2"
					style="width:100%" id="newMachinePanelGridId">
					<h:outputLabel value="#{language.MachineName} *:  " />
					<p:inputText value="#{newMachineBean.newMachine.name}"
						required="true" requiredMessage="#{language.RequiredMessage}"
						maxlength="20">
						<f:validator validatorId="emptyFieldValidator"></f:validator>
					</p:inputText>

					<h:outputLabel value="#{language.Brand} :  " />
					<p:inputText value="#{newMachineBean.newMachine.brand}"
						maxlength="20"></p:inputText>

					<h:outputLabel value="#{language.Type} *:  " />
					<p:selectOneMenu
						value="#{newMachineBean.newMachine.machineType.machineTypeId}"
						style="width: 140px">
						<c:forEach items="#{machineTypeListBean.machineTypes}"
							var="machineType">
							<f:selectItem itemLabel="#{machineType.displayName}"
								itemValue="#{machineType.machineTypeId}" />
						</c:forEach>
					</p:selectOneMenu>

					<h:outputLabel value="#{language.Model} :  " />
					<p:inputText value="#{newMachineBean.newMachine.model}"
						maxlength="20"></p:inputText>

					<h:outputLabel value="#{language.Status} *:" />
					<p:selectOneMenu value="#{newMachineBean.newMachine.status}"
						style="width: 140px">
						<f:selectItem itemValue="1" itemLabel="#{language.Active}" />
						<f:selectItem itemValue="2" itemLabel="#{language.Replaced}" />
					</p:selectOneMenu>

					<h:outputLabel value="#{language.IncomingDate} (gg/aa/yyyy)*:" />
					<p:calendar value="#{newMachineBean.newMachine.incomingDate}"
						pattern="#{userCredentialsBean.dateFormat}" mode="popup"
						showOn="button"
						converterMessage="#{language.nbLayersConverterError}">
						<f:validator validatorId="itemEndDateValidator"></f:validator>
					</p:calendar>

					<h:outputLabel value="#{language.SerialNumber} :  " />
					<p:inputText value="#{newMachineBean.newMachine.serialNumber}"
						maxlength="30"></p:inputText>

					<h:outputLabel value="#{language.Value} :  " />
					<p:inputText value="#{newMachineBean.newMachine.value}"
						converterMessage="#{language.nbLayersConverterError}"></p:inputText>

					<h:outputLabel value="#{language.Description} :  " />
					<p:inputTextarea value="#{newMachineBean.newMachine.description}"
						autoResize="false" cols="14" rows="5"></p:inputTextarea>
				</h:panelGrid>

				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandLink title="#{language.OrderItemSubmitInfo}"
						update="machineAccordionPanelId newMachinePanelGridId newMachineMessages"
						actionListener="#{newMachineBean.submitNewMachine}">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:commandLink update="newMachinePanelGridId newMachineMessages"
						process="@this"
						actionListener="#{newMachineBean.cancelNewMachine}">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
				<p:messages showSummary="true" id="newMachineMessages"></p:messages>
			</p:panel>


			<!-- UPDATE MACHINE -->
			<p:dialog draggable="true" closable="true" resizable="false"
				dynamic="true" maximizable="true" header="#{language.Update}"
				id="updateMachineDialogId" widgetVar="updateMachineDialogWidget">
				<p:panel id="updateMachinePanelId"
					header="#{language.Machine}: #{newMachineBean.selectedMachine.name}"
					closable="false" toggleable="true" style="min-width:500px"
					visible="true">
					<h:panelGrid border="0" cellspacing="5" columns="2"
						style="width:100%">

						<h:outputLabel value="#{language.MachineName} *:  " />
						<p:inputText value="#{newMachineBean.selectedMachine.name}"
							required="true" requiredMessage="#{language.RequiredMessage}"
							maxlength="20">
							<f:validator validatorId="emptyFieldValidator"></f:validator>
						</p:inputText>

						<h:outputLabel value="#{language.Brand} :  " />
						<p:inputText value="#{newMachineBean.selectedMachine.brand}"
							maxlength="20"></p:inputText>

						<h:outputLabel value="#{language.Type} *:  " />
						<p:selectOneMenu
							value="#{newMachineBean.selectedMachine.machineType.machineTypeId}"
							style="width: 140px">
							<c:forEach items="#{machineTypeListBean.machineTypes}"
								var="machineType">
								<f:selectItem itemLabel="#{machineType.displayName}"
									itemValue="#{machineType.machineTypeId}" />
							</c:forEach>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.Model} :  " />
						<p:inputText value="#{newMachineBean.selectedMachine.model}"
							maxlength="20"></p:inputText>

						<h:outputLabel value="#{language.Status} *:" />
						<p:selectOneMenu value="#{newMachineBean.selectedMachine.status}"
							style="width: 140px">
							<f:selectItem itemValue="1" itemLabel="#{language.Active}" />
							<f:selectItem itemValue="2" itemLabel="#{language.Replaced}" />
						</p:selectOneMenu>

						<h:outputLabel value="#{language.IncomingDate} (gg/aa/yyyy)*:" />
						<p:calendar value="#{newMachineBean.selectedMachine.incomingDate}"
							pattern="#{userCredentialsBean.dateFormat}" mode="popup"
							showOn="button"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.SerialNumber} :  " />
						<p:inputText
							value="#{newMachineBean.selectedMachine.serialNumber}"
							maxlength="30"></p:inputText>

						<h:outputLabel value="#{language.Value} :  " />
						<p:inputText value="#{newMachineBean.selectedMachine.value}"
							converterMessage="#{language.nbLayersConverterError}"></p:inputText>

						<h:outputLabel value="#{language.Description} :  " />
						<p:inputTextarea
							value="#{newMachineBean.selectedMachine.description}"
							autoResize="false" cols="14" rows="5"></p:inputTextarea>
					</h:panelGrid>

					<p:commandLink title="#{language.Submit}"
						actionListener="#{newMachineBean.updateMachine}"
						update="updateMachinePanelId machineAccordionPanelId"
						process="@this updateMachinePanelId">
						<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
					<p:commandLink title="#{language.Cancel}" immediate="true"
						onclick="updateMachineDialogWidget.hide()" process="@this">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
					<p:messages></p:messages>
				</p:panel>
			</p:dialog>



			<!-- Delete order confirm dialog  -->
			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" style="min-width:600px"
				header="#{language.delete} #{language.machine}"
				id="deleteMachineConfirmDialogId"
				widgetVar="deleteMachineConfirmDialogWidget">
				<p:panel closable="false" toggleable="true"
					id="deleteMachinePanelId" style="width:100%"
					widgetVar="deleteMachinePanelWidget" visible="true">
					<h:panelGrid border="0" columns="5" style="width:100%">
						<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
					</h:panelGrid>
					<h:panelGrid cellspacing="5" columns="5">
						<p:commandLink title="#{language.Submit}"
							update="machineAccordionPanelId deleteMachineMessage"
							process="@this" action="#{newMachineBean.deleteMachine()}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink title="#{language.Cancel}" process="@this"
							update="deleteMachineMessage" immediate="true"
							onclick="deleteMachineConfirmDialogWidget.hide()">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
					<p:messages showDetail="true" showSummary="true"
						id="deleteMachineMessage"></p:messages>
				</p:panel>
			</p:dialog>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>