<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel id="periodicPlanAccordionPanelId"
				autoHeight="false" style="padding:0px"
				widgetVar="periodicPlanAccordionPanelWidget">
				<c:forEach items="#{machineMaintenanceBean.allPeriodicPlanList}"
					var="plan">
					<p:tab title="#{plan.machine.name} => #{plan.machinePart.partName}">
						<p:panel style="width:100%">
							<h:panelGrid border="0" cellspacing="5" columns="2"
								style="width:100%">
								<h:outputLabel value="#{language.MachineMaintenancePlanType}:  " />
								<h:outputText value="#{plan.maintenancePlanType.planName}" />

								<h:outputLabel value="#{language.Year}:  " />
								<h:outputText value="#{plan.year}" />

								<h:outputLabel value="#{language.MaintenancePeriod}:  " />
								<h:outputText value="#{language.Monthly}"
									rendered="#{plan.planPeriod == '1'}" />
								<h:outputText value="#{language.ThreeMensal}"
									rendered="#{plan.planPeriod == '3'}" />
								<h:outputText value="#{language.SixMensal}"
									rendered="#{plan.planPeriod == '6'}" />

								<h:outputLabel value="#{language.StartDate}:  " />
								<h:outputText value="#{plan.startDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" type="date"
										timeZone="#{periodicPlanBean.systemTimeZone}" />
								</h:outputText>

								<h:outputLabel value="#{language.EndDate}:  " />
								<h:outputText value="#{plan.endDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" type="date"
										timeZone="#{periodicPlanBean.systemTimeZone}" />
								</h:outputText>

								<h:outputLabel value="#{language.Description}:  " />
								<h:outputText value="#{plan.shortDesc}" />
							</h:panelGrid>
							<h:panelGrid border="0" columns="9" cellspacing="5">
								<p:commandLink title="#{language.Update}"
									oncomplete="updatePeriodicPlanDialogWidget.show()"
									rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].machineP >= 4}"
									update="periodicPlanAccordionPanelId updatePeriodicPlanPanelId"
									process="periodicPlanAccordionPanelId"
									action="#{periodicPlanBean.beforeUpdate(plan)}">
									<p:graphicImage value="/small_icons/edit.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>

								<p:commandLink title="#{language.Delete}" immediate="true"
									onclick="deletePeriodicPlanConfirmDialogWidget.show()"
									rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].machineP >= 5}"
									update="periodicPlanAccordionPanelId deletePeriodicPlanPanelId"
									process="periodicPlanAccordionPanelId"
									action="#{periodicPlanBean.beforeDelete(plan)}">
									<p:graphicImage value="/small_icons/delete.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>

								<p:commandLink title="#{language.ViewPeriodicPlanDates}"
									rendered="#{userCredentialsBean.generalPrivileges.machineP >= 4}"
									process="@this periodicPlanAccordionPanelId"
									action="#{periodicPlanBean.beforeDisplayPlanDates(plan)}"
									update="periodicPlanAccordionPanelId viewPeriodicPlanDatesDialogId viewPeriodicPlanDatesPanelId"
									oncomplete="viewPeriodicPlanDatesDialogWidget.show()">
									<p:graphicImage value="/small_icons/view.gif"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</p:panel>
					</p:tab>
				</c:forEach>
			</p:accordionPanel>
		</ui:define>

		<!-- PERIODIC PLAN NEW SECTION -->
		<ui:define name="showPanel">
			<p:panel header="#{language.AddPeriodicPlan}"
				id="addPeriodicPlanPanelId">
				<h:panelGrid border="0" cellspacing="5" columns="2"
					style="width:100%" id="newPeriodicPlanPanelGridId">
					<h:outputLabel value="#{language.Machine} *:  " />
					<p:selectOneMenu layout="lineDirection" style="width: 140px"
						value="#{periodicPlanBean.newPlan.machine.machineId}"
						required="true" requiredMessage="#{language.RequiredMessage}">
						<c:forEach items="#{machineMaintenanceBean.allMachineList}"
							var="machine">
							<f:selectItem itemValue="#{machine.machineId}"
								itemLabel="#{machine.name}"></f:selectItem>
						</c:forEach>
						<p:ajax update="machinePartSelectOneMenuId"
							listener="#{machineMaintenanceBean.loadAllPartsOfMachine(periodicPlanBean.newPlan.machine.machineId)}" />
					</p:selectOneMenu>

					<h:outputLabel value="#{language.MachinePart} *:  " />
					<p:selectOneMenu layout="lineDirection" style="width: 140px"
						id="machinePartSelectOneMenuId"
						value="#{periodicPlanBean.newPlan.machinePart.machinePartId}"
						required="true" requiredMessage="#{language.RequiredMessage}">

						<f:selectItem itemValue="0" itemLabel="#{language.AllMachine}"></f:selectItem>

						<c:forEach items="#{machineMaintenanceBean.partsOfMachineList}"
							var="machinePart">
							<f:selectItem itemValue="#{machinePart.machinePartId}"
								itemLabel="#{machinePart.partName}"></f:selectItem>
						</c:forEach>
					</p:selectOneMenu>

					<h:outputLabel value="#{language.MachineMaintenancePlanType} *:  " />
					<p:selectOneMenu layout="lineDirection" style="width: 140px"
						value="#{periodicPlanBean.newPlan.maintenancePlanType.maintenancePlanTypeId}"
						required="true" requiredMessage="#{language.RequiredMessage}">
						<c:forEach
							items="#{machineMaintenanceBean.allMaintenancePlanTypeList}"
							var="planType">
							<f:selectItem itemValue="#{planType.maintenancePlanTypeId}"
								itemLabel="#{planType.planName}"></f:selectItem>
						</c:forEach>
					</p:selectOneMenu>

					<h:outputLabel value="#{language.Year} *:  " />
					<p:selectOneMenu layout="lineDirection" style="width: 140px"
						value="#{periodicPlanBean.newPlan.year}" required="true"
						requiredMessage="#{language.RequiredMessage}">
						<f:selectItems value="#{machineMaintenanceBean.yearList}"></f:selectItems>
					</p:selectOneMenu>

					<h:outputLabel value="#{language.MaintenancePeriod}: *:  " />
					<p:selectOneMenu layout="lineDirection" style="width: 140px"
						value="#{periodicPlanBean.newPlan.planPeriod}" required="true"
						requiredMessage="#{language.RequiredMessage}">
						<f:selectItem itemValue="1" itemLabel="#{language.Monthly}"></f:selectItem>
						<f:selectItem itemValue="3" itemLabel="#{language.ThreeMensal}"></f:selectItem>
						<f:selectItem itemValue="6" itemLabel="#{language.SixMensal}"></f:selectItem>
					</p:selectOneMenu>

					<h:outputLabel
						value="#{language.StartDate} (#{language.DateFormat}) *:  " />
					<p:calendar mode="popup" style="width: 140px"
						value="#{periodicPlanBean.newPlan.startDate}"
						pattern="#{userCredentialsBean.dateFormat}" required="true"
						requiredMessage="#{language.RequiredMessage}"
						converterMessage="#{language.nbLayersConverterError}">
						<f:validator validatorId="itemEndDateValidator"></f:validator>
					</p:calendar>

					<h:outputLabel
						value="#{language.EndDate} (#{language.DateFormat}) *:  " />
					<p:calendar mode="popup" style="width: 140px"
						value="#{periodicPlanBean.newPlan.endDate}"
						pattern="#{userCredentialsBean.dateFormat}" required="true"
						requiredMessage="#{language.RequiredMessage}"
						converterMessage="#{language.nbLayersConverterError}">
						<f:validator validatorId="itemEndDateValidator"></f:validator>
					</p:calendar>

					<h:outputLabel value="#{language.Description} :  " />
					<p:inputTextarea style="width: 140px"
						value="#{periodicPlanBean.newPlan.shortDesc}" autoResize="false"
						cols="14" rows="5" />
				</h:panelGrid>

				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandLink title="#{language.Add}"
						update="periodicPlanAccordionPanelId newPeriodicPlanPanelGridId newPeriodicPlanMessage"
						process="@this addPeriodicPlanPanelId"
						actionListener="#{periodicPlanBean.submitNewPlan}">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:commandLink title="#{language.Cancel}" immediate="true"
						update="newPeriodicPlanPanelGridId newPeriodicPlanMessage"
						process="@this" actionListener="#{periodicPlanBean.cancelNewPlan}">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>

				<p:messages showSummary="true" id="newPeriodicPlanMessage" />
			</p:panel>

			<!-- UPDATE PERIODIC PLAN SECTION -->
			<p:dialog draggable="true" closable="true" resizable="false"
				dynamic="true" maximizable="true" header="#{language.Update}"
				id="updatePeriodicPlanDialogId"
				widgetVar="updatePeriodicPlanDialogWidget">
				<p:panel id="updatePeriodicPlanPanelId" closable="false"
					toggleable="true" style="min-width:500px" visible="true">
					<h:panelGrid border="0" cellspacing="5" columns="2"
						style="width:100%">
						<h:outputLabel value="#{language.Machine} *:  " />
						<p:selectOneMenu layout="lineDirection" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.machine.machineId}"
							required="true" requiredMessage="#{language.RequiredMessage}">
							<c:forEach items="#{machineMaintenanceBean.allMachineList}"
								var="machine">
								<f:selectItem itemValue="#{machine.machineId}"
									itemLabel="#{machine.name}"></f:selectItem>
							</c:forEach>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.MachinePart} *:  " />
						<p:selectOneMenu layout="lineDirection" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.machinePart.machinePartId}"
							required="true" requiredMessage="#{language.RequiredMessage}">
							<c:forEach items="#{machineMaintenanceBean.allMachinePartList}"
								var="machinePart">
								<f:selectItem itemValue="#{machinePart.machinePartId}"
									itemLabel="#{machinePart.partName}"></f:selectItem>
							</c:forEach>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.MachineMaintenancePlanType} *:  " />
						<p:selectOneMenu layout="lineDirection" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.maintenancePlanType.maintenancePlanTypeId}"
							required="true" requiredMessage="#{language.RequiredMessage}">
							<c:forEach
								items="#{machineMaintenanceBean.allMaintenancePlanTypeList}"
								var="planType">
								<f:selectItem itemValue="#{planType.maintenancePlanTypeId}"
									itemLabel="#{planType.planName}"></f:selectItem>
							</c:forEach>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.Year} *:  " />
						<p:selectOneMenu layout="lineDirection" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.year}" required="true"
							requiredMessage="#{language.RequiredMessage}">
							<f:selectItems value="#{machineMaintenanceBean.yearList}"></f:selectItems>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.MaintenancePeriod}: *:  " />
						<p:selectOneMenu layout="lineDirection" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.planPeriod}"
							required="true" requiredMessage="#{language.RequiredMessage}">
							<f:selectItem itemValue="1" itemLabel="#{language.Monthly}"></f:selectItem>
							<f:selectItem itemValue="3" itemLabel="#{language.ThreeMensal}"></f:selectItem>
							<f:selectItem itemValue="6" itemLabel="#{language.SixMensal}"></f:selectItem>
						</p:selectOneMenu>

						<h:outputLabel
							value="#{language.StartDate} (#{language.DateFormat}) *:  " />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.startDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel
							value="#{language.EndDate} (#{language.DateFormat}) *:  " />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.endDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.Description} :  " />
						<p:inputTextarea style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.shortDesc}"
							autoResize="false" cols="14" rows="5" />
					</h:panelGrid>

					<h:panelGrid border="0" columns="5" cellspacing="5">
						<p:commandLink title="#{language.Submit}"
							actionListener="#{periodicPlanBean.updatePlan}"
							update="periodicPlanAccordionPanelId updatePeriodicPlanPanelId updatePeriodicPlanMessage"
							process="@this updatePeriodicPlanPanelId">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>

						<p:commandLink title="#{language.Cancel}" immediate="true"
							onclick="updatePeriodicPlanDialogWidget.hide()" process="@this">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>

					<p:messages showSummary="true" id="updatePeriodicPlanMessage" />
				</p:panel>
			</p:dialog>


			<!-- DELETE PERIODIC PLAN SECTION -->
			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" style="min-width:600px"
				header="#{language.Delete}" id="deletePeriodicPlanConfirmDialogId"
				widgetVar="deletePeriodicPlanConfirmDialogWidget">
				<p:panel closable="false" toggleable="true"
					id="deletePeriodicPlanPanelId" style="width:100%"
					widgetVar="deletePeriodicPlanPanelWidget" visible="true">
					<h:panelGrid border="0" columns="5" style="width:100%">
						<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
					</h:panelGrid>

					<h:panelGrid cellspacing="5" columns="5">
						<p:commandLink title="#{language.Submit}"
							actionListener="#{periodicPlanBean.deletePlan}"
							update="periodicPlanAccordionPanelId deletePeriodicPlanPanelId"
							process="@this deletePeriodicPlanPanelId">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>

						<p:commandLink title="#{language.Cancel}" immediate="true"
							onclick="deletePeriodicPlanConfirmDialogWidget.hide()"
							process="@this">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
				</p:panel>
			</p:dialog>

			<!-- VIEW PERIODIC PLAN DATES SECTION  -->
			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" style="min-width:600px"
				header="#{periodicPlanBean.selectedPlan.machine.name} => #{periodicPlanBean.selectedPlan.machinePart.partName} #{language.PeriodicMaintenanceDates}"
				id="viewPeriodicPlanDatesDialogId"
				widgetVar="viewPeriodicPlanDatesDialogWidget">
				<p:panel style="width:100%; text-align:center; padding:0px"
					id="viewPeriodicPlanDatesPanelId">
					<h:panelGrid border="0" columns="3" style="width:100%">
						<h:outputLabel value="" />
						<h:outputLabel value="#{language.StartDate}"
							timeZone="#{periodicPlanBean.systemTimeZone}" />
						<h:outputLabel value="#{language.EndDate}"
							timeZone="#{periodicPlanBean.systemTimeZone}" />

						<h:outputLabel value="#{language.January}"
							rendered="#{periodicPlanBean.selectedPlan.janStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.janStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.janStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>

						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.janEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.janEndDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.February}"
							rendered="#{periodicPlanBean.selectedPlan.febStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.febStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.febStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.febEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.febEndDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.March}"
							rendered="#{periodicPlanBean.selectedPlan.marStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.marStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.marStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.marEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.marStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.April}"
							rendered="#{periodicPlanBean.selectedPlan.aprStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.aprStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.aprStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.aprEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.aprStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.May}"
							rendered="#{periodicPlanBean.selectedPlan.mayStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.mayStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.mayStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.mayEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.mayStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.June}"
							rendered="#{periodicPlanBean.selectedPlan.junStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.junStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.junStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.junEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.junStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.July}"
							rendered="#{periodicPlanBean.selectedPlan.julStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.julStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.julStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.julEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.julStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.August}"
							rendered="#{periodicPlanBean.selectedPlan.augStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.augStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.augStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.augEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.augStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.September}"
							rendered="#{periodicPlanBean.selectedPlan.sepStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.sepStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.sepStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.sepEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.sepStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.October}"
							rendered="#{periodicPlanBean.selectedPlan.octStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.octStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.octStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.octEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.octStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.November}"
							rendered="#{periodicPlanBean.selectedPlan.novStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.novStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.novStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.novEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.novStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.December}"
							rendered="#{periodicPlanBean.selectedPlan.decStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.decStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.decStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.decEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.decStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
					</h:panelGrid>

					<h:panelGrid cellspacing="5" columns="5">
						<p:commandLink title="#{language.Submit}"
							actionListener="#{periodicPlanBean.updatePlanDates}"
							update="periodicPlanAccordionPanelId viewPeriodicPlanDatesDialogId viewPeriodicPlanDatesPanelId"
							process="@this viewPeriodicPlanDatesPanelId">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>

						<p:commandLink title="#{language.Cancel}" immediate="true"
							onclick="viewPeriodicPlanDatesDialogWidget.hide()"
							process="@this">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
				</p:panel>
			</p:dialog>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>
