<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px; width:100%" id="accordionPanelId">
				<p:tab title="PLAZMA SARF MALZEMELERİ KULLANIMI">
					<p:dataTable var="sarfMalzemeleri"
						widgetVar="sarfMalzemeleriListDataTableWidget"
						id="sarfMalzemeleriListDataTableId"
						value="#{plazmaSarfMalzemeleriKullanimiBean.allSarfMalzemeleri}"
						paginator="true" rows="10"
						selection="#{plazmaSarfMalzemeleriKullanimiBean.sarfMalzemeleriForm}"
						rowKey="#{sarfMalzemeleri.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect" update="sarfMalzemeleriDialogId"
							process="@this sarfMalzemeleriListDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{plazmaSarfMalzemeleriKullanimiBean.formListener}"
							process="listForm:sarfMalzemeleriListDataTableId sarfMalzemeleriListDataTableId"
							update="sarfMalzemeleriDialogId" />
						<p:ajax event="rowSelect" update="sarfMalzemeleriListDataTableId">
						</p:ajax>

						<p:column>
							<f:facet name="header">
								<h:outputText value="VARDİYA"></h:outputText>
							</f:facet>
							<p:selectOneMenu value="#{sarfMalzemeleri.vardiya}"
								disabled="true">
								<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="GECE"></f:selectItem>
							</p:selectOneMenu>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="VARDİYA TARİHİ (gg/aa/yyyy)"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" autocomplete="false" showOn="button"
								stepMinute="5" disabled="true"
								pattern="#{userCredentialsBean.dateFormat}"
								requiredMessage="#{language.RequiredMessage}"
								value="#{sarfMalzemeleri.vardiyaTarihi}"></p:calendar>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="MAKİNA"></h:outputText>
							</f:facet>
							<p:selectOneMenu value="#{sarfMalzemeleri.machine.machineId}"
								disabled="true">
								<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="53" itemLabel="SPİRAL 2 MAKİNASI"></f:selectItem>
								<f:selectItem itemValue="54" itemLabel="SPİRAL 3 MAKİNAS"></f:selectItem>
								<f:selectItem itemValue="55" itemLabel="SPİRAL 5 MAKİNAS"></f:selectItem>
							</p:selectOneMenu>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="SHIELD - 020424"></h:outputText>
							</f:facet>
							<h:outputText value="#{sarfMalzemeleri.shield}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="SHIELD CAP"></h:outputText>
							</f:facet>
							<h:outputText value="#{sarfMalzemeleri.shieldCap}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="NOZZLE 200 A - 020608"></h:outputText>
							</f:facet>
							<h:outputText value="#{sarfMalzemeleri.nozzle}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="MAIN BODY - 120584"></h:outputText>
							</f:facet>
							<h:outputText value="#{sarfMalzemeleri.mainBody}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="ELECTRODE 200 A - 0120667"></h:outputText>
							</f:facet>
							<h:outputText value="#{sarfMalzemeleri.electrode}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="PLAZMA SUYU"></h:outputText>
							</f:facet>
							<h:outputText value="#{sarfMalzemeleri.plazmaSuyu}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="SWIRL RING - 020607"></h:outputText>
							</f:facet>
							<h:outputText value="#{sarfMalzemeleri.swirlingRing}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="260 A PLAZMA MEMESİ"></h:outputText>
							</f:facet>
							<h:outputText value="#{sarfMalzemeleri.plazmaMemesi}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="BANT KENAR FREZELEME - ELMAS"></h:outputText>
							</f:facet>
							<h:outputText value="#{sarfMalzemeleri.bantKenarFrezelemeElmas}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="BANT KENAR FREZELEME - ALTLIK"></h:outputText>
							</f:facet>
							<h:outputText value="#{sarfMalzemeleri.bantKenarFrezelemeAltlik}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="KAYNAK YÜKSEKLİĞİ FREZELEME - ELMAS"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{sarfMalzemeleri.kaynakYuksekligiFrezelemeElmas}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="KAYNAK YÜKSEKLİĞİ FREZELEME - ALTLIK"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{sarfMalzemeleri.kaynakYuksekligiFrezelemeAltlik}"></h:outputText>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="#{language.RefreshList}"
								process="sarfMalzemeleriListDataTableId"
								update="sarfMalzemeleriListDataTableId"
								action="#{plazmaSarfMalzemeleriKullanimiBean.fillTestList}">
							</p:commandButton>
							<p:commandButton value="SARF #{language.Add}"
								update="sarfMalzemeleriListDataTableId accordionPanelId sarfMalzemeleriPanelGridId"
								process="@this"
								actionListener="#{plazmaSarfMalzemeleriKullanimiBean.addSarfMalzemeleri}"
								icon="ui-icon-circle-plus"
								onclick="sarfMalzemeleriDialogWidget.show()">
							</p:commandButton>
							<p:commandButton value="SARF #{language.Update}"
								rendered="#{plazmaSarfMalzemeleriKullanimiBean.updateButtonRender}"
								update="sarfMalzemeleriListDataTableId accordionPanelId sarfMalzemeleriPanelGridId"
								id="updateIncelemeGrubuButton"
								process="@this sarfMalzemeleriDialogId"
								onclick="sarfMalzemeleriDialogWidget.show()"
								icon="ui-icon-circle-plus">
							</p:commandButton>
						</f:facet>
					</p:dataTable>

					<h:panelGrid border="0" columns="3">

					</h:panelGrid>

				</p:tab>
			</p:accordionPanel>

			<!-- inceleme grubu ekleme -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="SARF #{language.Add}"
				id="sarfMalzemeleriDialogId" widgetVar="sarfMalzemeleriDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="sarfMalzemeleriPanelGridId">
					<h:outputText value="VARDİYA: " />
					<p:selectOneMenu
						value="#{plazmaSarfMalzemeleriKullanimiBean.sarfMalzemeleriForm.vardiya}">
						<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
						<f:selectItem itemValue="0" itemLabel="GECE"></f:selectItem>
					</p:selectOneMenu>

					<h:outputLabel value="MAKİNA *:  " />
					<p:selectOneMenu
						value="#{plazmaSarfMalzemeleriKullanimiBean.sarfMalzemeleriForm.machine.machineId}"
						style="width: 180px">
						<f:selectItem itemLabel="LÜTFEN MAKİNA SEÇİNİZ!" itemValue="" />
						<c:forEach
							items="#{plazmaSarfMalzemeleriKullanimiBean.allUretimMachineList}"
							var="machine">
							<f:selectItem itemLabel="#{machine.name}"
								itemValue="#{machine.machineId}" />
						</c:forEach>
					</p:selectOneMenu>

					<h:outputText value="SHIELD CAP MİKTARI: " />
					<p:inputText
						value="#{plazmaSarfMalzemeleriKullanimiBean.sarfMalzemeleriForm.shieldCap}">
					</p:inputText>

					<h:outputText value="SHIELD MİKTARI: " />
					<p:inputText
						value="#{plazmaSarfMalzemeleriKullanimiBean.sarfMalzemeleriForm.shield}">
					</p:inputText>

					<h:outputText value="NOZZLE 200 A MİKTARI: " />
					<p:inputText
						value="#{plazmaSarfMalzemeleriKullanimiBean.sarfMalzemeleriForm.nozzle}">
					</p:inputText>

					<h:outputText value="MAIN BODY MİKTARI: " />
					<p:inputText
						value="#{plazmaSarfMalzemeleriKullanimiBean.sarfMalzemeleriForm.mainBody}">
					</p:inputText>

					<h:outputText value="ELECTRODE 200 AMİKTARI: " />
					<p:inputText
						value="#{plazmaSarfMalzemeleriKullanimiBean.sarfMalzemeleriForm.electrode}">
					</p:inputText>

					<h:outputText value="PLAZMA SUYU MİKTARI: " />
					<p:inputText
						value="#{plazmaSarfMalzemeleriKullanimiBean.sarfMalzemeleriForm.plazmaSuyu}">
					</p:inputText>

					<h:outputText value="SWIRL RING MİKTARI: " />
					<h:column>
						<p:inputText
							value="#{plazmaSarfMalzemeleriKullanimiBean.sarfMalzemeleriForm.swirlingRing}">
						</p:inputText>
					</h:column>

					<h:outputText value="260 A PLAZMA MEMESI MİKTARI: " />
					<h:column>
						<p:inputText
							value="#{plazmaSarfMalzemeleriKullanimiBean.sarfMalzemeleriForm.plazmaMemesi}">
						</p:inputText>
					</h:column>

					<h:outputText value="BANT KENAR FREZELEME - ELMAS MİKTARI: " />
					<h:column>
						<p:inputText
							value="#{plazmaSarfMalzemeleriKullanimiBean.sarfMalzemeleriForm.bantKenarFrezelemeElmas}">
						</p:inputText>
					</h:column>

					<h:outputText value="BANT KENAR FREZELEME - ALTLIK MİKTARI: " />
					<h:column>
						<p:inputText
							value="#{plazmaSarfMalzemeleriKullanimiBean.sarfMalzemeleriForm.bantKenarFrezelemeAltlik}">
						</p:inputText>
					</h:column>

					<h:outputText value="KAYNAK YÜKSEKLIĞI FREZELEME - ELMAS MİKTARI: " />
					<h:column>
						<p:inputText
							value="#{plazmaSarfMalzemeleriKullanimiBean.sarfMalzemeleriForm.kaynakYuksekligiFrezelemeElmas}">
						</p:inputText>
					</h:column>

					<h:outputText
						value="KAYNAK YÜKSEKLIĞI FREZELEME - ALTLIK MİKTARI: " />
					<h:column>
						<p:inputText
							value="#{plazmaSarfMalzemeleriKullanimiBean.sarfMalzemeleriForm.kaynakYuksekligiFrezelemeAltlik}">
						</p:inputText>
					</h:column>

					<h:outputText value="VARDİYA TARİHİ (gg/aa/yyyy): *"
						style="font-weight: bold;"></h:outputText>
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
						required="true" requiredMessage="#{language.RequiredMessage}"
						value="#{plazmaSarfMalzemeleriKullanimiBean.sarfMalzemeleriForm.vardiyaTarihi}"></p:calendar>

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="KAYDET"
						update="sarfMalzemeleriListDataTableId accordionPanelId growl"
						process="@this sarfMalzemeleriDialogId"
						actionListener="#{plazmaSarfMalzemeleriKullanimiBean.addOrUpdateSarfMalzemeleri}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){sarfMalzemeleriDialogWidget.hide();}">
					</p:commandButton>
					<p:messages id="sarfMalzemeleriMessagesId" showDetail="false"
						showSummary="false"></p:messages>
				</h:panelGrid>
			</p:dialog>
			<!-- inceleme grubu ekleme -->
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>