<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel id="machineAccordionPanelId" autoHeight="false"
				collapsible="true" style="padding:0px"
				widgetVar="machineAccorditionPanelWidget">
				<c:forEach items="#{machineListBean.productionMachineList}"
					var="productionMachine">
					<p:tab title="#{productionMachine.name}">
						<p:panel style="width:100%" header=" ">
							<h:panelGrid border="0" cellspacing="5" columns="2"
								style="width:100%">

								<h:outputLabel value="#{language.Type} *:  " />
								<p:inputText readonly="true"
									value="#{productionMachine.machineType.displayName}"></p:inputText>

								<h:outputLabel value="#{language.MachineName} :  " />
								<h:outputText value="#{productionMachine.name}"></h:outputText>

								<h:outputLabel value="#{language.Brand} :  " />
								<h:outputText value="#{productionMachine.brand}"></h:outputText>

								<h:outputLabel value="#{language.Model} :  " />
								<h:outputText value="#{productionMachine.model}"></h:outputText>

								<h:outputLabel value="#{language.Status} :  " />
								<h:outputText value="#{productionMachine.status}"></h:outputText>

								<h:outputLabel value="#{language.SerialNumber} :  " />
								<h:outputText value="#{productionMachine.serialNumber}"></h:outputText>

								<h:outputLabel value="#{language.Description} :  " />
								<h:outputText value="#{productionMachine.description}"></h:outputText>
							</h:panelGrid>

							<h:panelGrid border="0" columns="3" cellspacing="5">
								<p:commandLink title="#{language.view}"
									process="machineAccordionPanelId" update="machinePanelId"
									action="#{productionMachineBean.viewProductionMachine(productionMachine)}">
									<p:graphicImage value="/large_icons/view.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
								<p:commandLink title="#{language.Errors}"
									update="machineErrorsPanelId errorMessages"
									onclick="machineErrorsDialogWidget.show()"
									process="@this machineErrorListDataTableId"
									action="#{productionMachineBean.loadMachineErrors(productionMachine)}">
									<p:graphicImage value="/large_icons/error.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</p:panel>
					</p:tab>
				</c:forEach>
			</p:accordionPanel>
		</ui:define>

		<!-- MACHINE pipe section -->
		<ui:define name="showPanel">
			<p:panel closable="false" toggleable="true" id="machinePanelId"
				widgetVar="machinePanelWidget">
				<p:panel style="width:100%" id="orderInfoPanelId">
					<h:outputLabel value="#{language.Company} :" />
					<p:inputText readonly="true"
						value="#{productionMachineBean.selectedSalesItem.proposal.customer.commercialName}"></p:inputText>
					<h:outputLabel value="#{language.Ordernumber} :" />
					<p:inputText readonly="true" style="font-size:20pt; width:150px"
						value="#{productionMachineBean.selectedSalesItem.proposal.salesOrder.orderNo}"></p:inputText>
				</p:panel>


				<!-- ORDER LIST SECTION -->
				<p:dataTable var="activeOrder" id="activeOrderListDataTableId"
					widgetVar="activeOrderListDataTableWidget"
					rowKey="#{activeOrder.itemId}" dblClickSelect="false"
					emptyMessage="#{language.EmptyMessage}"
					value="#{productionMachineBean.activeItemList}" paginator="true"
					rows="10" selectionMode="single" paginatorPosition="top"
					selection="#{productionMachineBean.selectedSalesItem}"
					paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
					<p:ajax event="rowSelect" process="activeOrderListDataTableId"
						listener="#{productionMachineBean.loadFreePipes}"></p:ajax>
					<p:ajax event="rowSelect" update="machinePanelId"></p:ajax>
					<p:ajax event="rowSelect" update="orderInfoPanelId"></p:ajax>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Company}"></h:outputText>
						</f:facet>
						<h:outputText value="#{activeOrder.proposal.customer.shortName}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.StartDate}"></h:outputText>
						</f:facet>
						<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
							stepMinute="5" value="#{activeOrder.deliveryDate}"
							disabled="true">
						</p:calendar>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.TotalLength}"></h:outputText>
						</f:facet>
						<h:outputText value="#{activeOrder.totalLengthM}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Diameter}"></h:outputText>
						</f:facet>
						<h:outputText value="#{activeOrder.diameter}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.WallThickness}"></h:outputText>
						</f:facet>
						<h:outputText value="#{activeOrder.thickness}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Quality}"></h:outputText>
						</f:facet>
						<h:outputText value="#{activeOrder.quality}"></h:outputText>
					</p:column>

					<f:facet name="header">
						<h:outputText value="#{language.AvailableOrders}"></h:outputText>
					</f:facet>
				</p:dataTable>


				<!-- PIPE LIST SECTION -->
				<p:dataTable var="pipe" id="pipeListDataTableId"
					widgetVar="pipeListDataTableWidget" rowKey="#{pipe.pipeId}"
					value="#{productionMachineBean.freePipeList}" paginator="true"
					rows="10" selectionMode="single" paginatorPosition="top"
					selection="#{productionMachineBean.currentPipe}"
					paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
					<p:ajax event="rowSelect" update="pipeListDataTableId"></p:ajax>
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Index}"></h:outputText>
						</f:facet>
						<h:outputText value="#{pipe.pipeIndex}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Status}"></h:outputText>
						</f:facet>
						<p:selectOneMenu value="#{pipe.status}" disabled="true"
							style="width: 250px">
							<f:selectItem itemValue="1" itemLabel="#{language.Finished}" />
							<f:selectItem itemValue="2" itemLabel="#{language.Free}" />
							<f:selectItem itemValue="3" itemLabel="#{language.OnRepair}" />

							<f:selectItem itemValue="10"
								itemLabel="#{language.OnSpiralMachine}" />
							<f:selectItem itemValue="11"
								itemLabel="#{language.OnHydrostaticMachine}" />
							<f:selectItem itemValue="12"
								itemLabel="#{language.OnBevellingMachine}" />
							<f:selectItem itemValue="13"
								itemLabel="#{language.OnEndPreparationMachine}" />

							<f:selectItem itemValue="101"
								itemLabel="#{language.OnPolietilenMachine}" />
							<f:selectItem itemValue="102"
								itemLabel="#{language.OnPolipropilenMachine}" />
							<f:selectItem itemValue="103"
								itemLabel="#{language.OnEpoxyBoyaMachine}" />
							<f:selectItem itemValue="104"
								itemLabel="#{language.OnBlastingMachine}" />
							<f:selectItem itemValue="105"
								itemLabel="#{language.OnCementMachine}" />
						</p:selectOneMenu>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Diameter}"></h:outputText>
						</f:facet>
						<h:outputText value="#{pipe.disCap}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Weight}"></h:outputText>
						</f:facet>
						<h:outputText value="#{pipe.agirligi}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Length}"></h:outputText>
						</f:facet>
						<h:outputText value="#{pipe.boy}"></h:outputText>
					</p:column>

					<f:facet name="header">
						<h:outputText value="#{language.Pipe}"></h:outputText>
					</f:facet>
					<f:facet name="footer">
						<h:panelGrid border="0" columns="2" cellspacing="5">
							<p:commandButton value="#{language.Process}"
								process="@this pipeListDataTableId"
								onclick="sendPipesDialogWidget.show()" update="sendPipesPanelId"
								rendered="#{productionMachineBean.currentPipe.pipeId > 0}">
							</p:commandButton>
							<p:commandButton value="#{language.Load}"
								process="@this pipeListDataTableId"
								update="productionMachineMessages pipeListDataTableId"
								action="#{productionMachineBean.loadFreePipes}"></p:commandButton>
						</h:panelGrid>
					</f:facet>
				</p:dataTable>


				<!-- Section of the machine Current SITUATION (so which pipes are in this machine)-->
				<p:panel closable="false" toggleable="true"
					style="background-color:#6D7B8D" header="#{language.MachineStatus}"
					id="inMachinePipeListPanelId"
					widgetVar="inMachinePipeListPanelWidget">
					<p:dataTable var="inMachinePipe" id="inMachinePipeListDataTableId"
						widgetVar="inMachinePipeListDataTableWidget"
						rowKey="#{inMachinePipe.pipeId}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{productionMachineBean.inMachinePipeList}"
						paginator="true" rows="10" selectionMode="single"
						selection="#{productionMachineBean.inMachineSelectedPipe}"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Index}"></h:outputText>
							</f:facet>
							<h:outputText value="#{inMachinePipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Status}"></h:outputText>
							</f:facet>
							<p:selectOneMenu value="#{inMachinePipe.status}" disabled="true"
								style="width: 140px">
								<f:selectItem itemValue="1" itemLabel="#{language.Finished}" />
								<f:selectItem itemValue="2" itemLabel="#{language.Free}" />
								<f:selectItem itemValue="3" itemLabel="#{language.OnRepair}" />

								<f:selectItem itemValue="10"
									itemLabel="#{language.OnSpiralMachine}" />
								<f:selectItem itemValue="11"
									itemLabel="#{language.OnHydrostaticMachine}" />
								<f:selectItem itemValue="12"
									itemLabel="#{language.OnBevellingMachine}" />
								<f:selectItem itemValue="13"
									itemLabel="#{language.OnEndPreparationMachine}" />

								<f:selectItem itemValue="101"
									itemLabel="#{language.OnPolietilenMachine}" />
								<f:selectItem itemValue="102"
									itemLabel="#{language.OnPolipropilenMachine}" />
								<f:selectItem itemValue="103"
									itemLabel="#{language.OnEpoxyBoyaMachine}" />
								<f:selectItem itemValue="104"
									itemLabel="#{language.OnBlastingMachine}" />
								<f:selectItem itemValue="105"
									itemLabel="#{language.OnCementMachine}" />
							</p:selectOneMenu>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Diameter}"></h:outputText>
							</f:facet>
							<h:outputText value="#{inMachinePipe.disCap}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Weight}"></h:outputText>
							</f:facet>
							<h:outputText value="#{inMachinePipe.agirligi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Length}"></h:outputText>
							</f:facet>
							<h:outputText value="#{inMachinePipe.boy}"></h:outputText>
						</p:column>
						<f:facet name="footer">
							<h:panelGrid border="0" columns="2" cellspacing="5">
								<p:commandButton value="#{language.Finish}"
									process="@this inMachinePipeListDataTableId"
									onclick="finishProcessDialogWidget.show()"
									rendered="#{productionMachineBean.inMachineSelectedPipe.pipeId != null}"></p:commandButton>
								<p:commandButton value="#{language.Remove}"
									process="@this pipeListDataTableId inMachinePipeListDataTableId"
									update="productionMachineMessages machinePanelId"
									actionListener="#{productionMachineBean.removePipeFromMachine}"></p:commandButton>
							</h:panelGrid>
						</f:facet>
					</p:dataTable>
				</p:panel>


				<!-- SEND PIPES TO MACHINE SECTION -->
				<p:dialog draggable="true" closable="true" resizable="false"
					dynamic="true" maximizable="true" id="sendPipesDialogId"
					widgetVar="sendPipesDialogWidget" header="#{language.Machine}">
					<p:panel id="sendPipesPanelId" style="min-width:600px"
						header="#{productionMachineBean.selectedMachine.name}">
						<h:panelGrid border="0" columns="2" cellspacing="5">
							<h:outputText value="#{language.Purpose} *:"></h:outputText>
							<p:inputTextarea required="true" autoResize="false" cols="5"
								style="width:250px"
								requiredMessage="#{language.RequiredMessage}"
								value="#{productionMachineBean.machinePipeLink.purpose}"></p:inputTextarea>
							<h:outputText value="#{language.StartDate} (gg/aa/yyyy)*:"></h:outputText>
							<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
								stepMinute="5" required="true"
								requiredMessage="#{language.RequiredMessage}"
								value="#{productionMachineBean.machinePipeLink.date}"
								showOn="button" style="width:250px">
							</p:calendar>
							<h:outputText value="#{language.Status}"></h:outputText>
							<p:selectOneMenu
								value="#{productionMachineBean.currentPipe.status}"
								style="width: 140px">
								<f:selectItem itemValue="11"
									itemLabel="#{language.OnHydrostaticMachine}" />
								<f:selectItem itemValue="12"
									itemLabel="#{language.OnBevellingMachine}" />
								<f:selectItem itemValue="13"
									itemLabel="#{language.OnEndPreparationMachine}" />

								<f:selectItem itemValue="101"
									itemLabel="#{language.OnPolietilenMachine}" />
								<f:selectItem itemValue="102"
									itemLabel="#{language.OnPolipropilenMachine}" />
								<f:selectItem itemValue="103"
									itemLabel="#{language.OnEpoxyBoyaMachine}" />
								<f:selectItem itemValue="104"
									itemLabel="#{language.OnBlastingMachine}" />
								<f:selectItem itemValue="105"
									itemLabel="#{language.OnCementMachine}" />
							</p:selectOneMenu>

						</h:panelGrid>

						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="sendPipesPanelGridId">
							<p:commandLink title="#{language.Submit}"
								process="@this sendPipesPanelId" update="machinePanelId"
								action="#{productionMachineBean.sendPipesToMachine}"
								oncomplete="sendPipesDialogWidget.hide()">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}"
								update="productionMachineMessages sendPipesPanelId"
								process="@this" immediate="true"
								onclick="sendPipesDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
					</p:panel>
				</p:dialog>


				<!-- FINISH PIPE PROCESSING FROM THE MACHINE-->
				<p:dialog draggable="true" closable="true" maximizable="true"
					dynamic="true" resizable="false" header="#{language.FinishProcess}"
					id="finishProcessDialogId" widgetVar="finishProcessDialogWidget">
					<p:panel header="#{productionMachineBean.selectedMachine.name}"
						id="finishProcessPanelId" style="min-width:600px">
						<h:panelGrid border="0" columns="2" cellspacing="5">
							<h:outputText value="#{language.WastedAmount}(kg) *:"></h:outputText>
							<p:inputText required="true" autoResize="false" cols="5"
								converterMessage="#{language.nbLayersConverterError}"
								requiredMessage="#{language.RequiredMessage}"
								value="#{productionMachineBean.wastedAmount}"></p:inputText>
							<h:outputText value="#{language.EndDate} (gg/aa/yyyy)*:"></h:outputText>
							<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
								stepMinute="5" required="true"
								requiredMessage="#{language.RequiredMessage}"
								value="#{productionMachineBean.endDate}" showOn="button">
							</p:calendar>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="finishProcessPanelGridId">
							<p:commandLink title="#{language.Submit}"
								process="@this finishProcessPanelId" update="machinePanelId"
								action="#{productionMachineBean.finishPipeProcess}"
								oncomplete="finishProcessDialogWidget.hide()">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}"
								update="productionMachineMessages finishProcessPanelId"
								process="@this" immediate="true"
								onclick="finishProcessDialogWidget.hide()"
								actionListener="#{productionMachineBean.cancelProcessFinishing}">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
					</p:panel>
				</p:dialog>


				<!-- MACHINE ERRORS SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					dynamic="true" resizable="false" header="#{language.Errors}"
					id="machineErrorsDialogId" widgetVar="machineErrorsDialogWidget">
					<p:panel style="min-width:600px"
						header="#{productionMachineBean.selectedMachine.name}"
						id="machineErrorsPanelId">
						<!-- MACHINE ERRORS LIST -->
						<p:dataTable var="error" id="machineErrorListDataTableId"
							widgetVar="machineErrorListDataTableWidget"
							emptyMessage="#{language.EmptyMessage}" rowKey="#{error.errorId}"
							value="#{productionMachineBean.errorList}" paginator="true"
							rows="10" selectionMode="single" paginatorPosition="top"
							selection="#{productionMachineBean.selectedError}"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<p:ajax event="rowSelect" update="newErrorPanelId"
								process="machineErrorListDataTableId"></p:ajax>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Error} #{language.id}"></h:outputText>
								</f:facet>
								<h:outputText value="#{error.errorId}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.StartDate}"></h:outputText>
								</f:facet>
								<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
									stepMinute="5" value="#{error.date}" disabled="true">
								</p:calendar>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Duration}(#{language.hours})"></h:outputText>
								</f:facet>
								<h:outputText value="#{error.duration}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Note}"></h:outputText>
								</f:facet>
								<p:inputTextarea autoResize="false" cols="5" style="width:140px"
									readonly="true" value="#{error.note}"></p:inputTextarea>
							</p:column>
						</p:dataTable>

						<p:panel id="newErrorPanelId">
							<h:panelGrid border="0" columns="2" cellspacing="5"
								id="newErrorPanelGridId">
								<h:outputText value="#{language.StartDate} (gg/aa/yyyy)*:"></h:outputText>
								<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
									stepMinute="5" required="true"
									requiredMessage="#{language.RequiredMessage}"
									value="#{productionMachineBean.selectedError.date}"
									showOn="button">
								</p:calendar>

								<h:outputText value="#{language.Duration}(#{language.hours}) *:"></h:outputText>
								<p:inputText required="true"
									requiredMessage="#{language.RequiredMessage}"
									converterMessage="#{language.nbLayersConverterError}"
									value="#{productionMachineBean.selectedError.duration}"></p:inputText>

								<h:outputText value="#{language.Note} :"></h:outputText>
								<p:inputTextarea autoResize="false" cols="5" style="width:140px"
									value="#{productionMachineBean.selectedError.note}"></p:inputTextarea>
							</h:panelGrid>
						</p:panel>

						<h:panelGrid border="0" columns="5" cellspacing="5"
							id="machineErrorsPanelGridId">
							<p:commandLink title="#{language.Submit}"
								process="@this newErrorPanelId"
								update="newErrorPanelId errorMessages machineErrorListDataTableId"
								actionListener="#{productionMachineBean.submitError}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Delete}"
								update="errorMessages newErrorPanelGridId machineErrorListDataTableId"
								process="@this"
								actionListener="#{productionMachineBean.deleteError}">
								<p:graphicImage value="/large_icons/delete.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}"
								update="errorMessages newErrorPanelGridId" process="@this"
								immediate="true" oncomplete="machineErrorsDialogWidget.hide()"
								actionListener="#{productionMachineBean.cancelErrorSubmittion}">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
					</p:panel>
					<p:messages id="errorMessages" showDetail="true" showSummary="true"></p:messages>
				</p:dialog>


				<p:messages id="productionMachineMessages" showDetail="true"
					showSummary="true"></p:messages>

			</p:panel>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>


