<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">

				<!-- Dilme -->
				<p:tab id="dilmeTabId" title=" DİLME EKRANI "
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:panelGrid border="0" columns="7" cellspacing="5"
						id="dilmePanelGridId">
						<h:outputText value=" Dilinecek Rulo " style="font-weight: bold;"></h:outputText>
						<p:inputText style="width:100px;"
							value="#{ruloDilmeMakinasiBean.ruloDilmeMakinasiForm.rulo}"
							disabled="true">
						</p:inputText>
						<p:commandButton value="Rulo Listesi Getir"
							oncomplete="coilAddConfirmDialogWidget.show()" process="@this"
							update="addCoilPanelId"
							actionListener="#{ruloDilmeMakinasiBean.loadAllocatedRulos}">
						</p:commandButton>
						<h:outputText value="" style="font-weight: bold;"></h:outputText>
						<h:outputText value="" style="font-weight: bold;"></h:outputText>
						<h:outputText value="" style="font-weight:bold;"></h:outputText>
						<h:outputText value="" style="font-weight:bold;"></h:outputText>

						<h:outputText value=" Dilinecek Miktar "
							style="font-weight: bold;"></h:outputText>
						<p:inputText style="width:100px;"
							value="#{ruloDilmeMakinasiBean.ruloDilmeMakinasiForm.ruloDilinecekMiktar}">
						</p:inputText>
						<p:selectBooleanCheckbox
							value="#{ruloDilmeMakinasiBean.ruloDilmeMakinasiForm.tumu}"
							itemLabel="TÜMÜ" />

						<p:selectOneMenu
							value="#{ruloDilmeMakinasiBean.ruloDilmeMakinasiForm.ruloDilmeSayisi}">
							<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
							<f:selectItem itemValue="3" itemLabel="2 Parça"></f:selectItem>
							<f:selectItem itemValue="2" itemLabel="3 Parça"></f:selectItem>
							<f:selectItem itemValue="1" itemLabel="4 Parça"></f:selectItem>
							<f:ajax render="groups" />
						</p:selectOneMenu>

						<h:panelGroup id="groups">
							<p:inputText style="width:100px;" id="bir"
								rendered="#{ruloDilmeMakinasiBean.ruloDilmeMakinasiForm.ruloDilmeSayisi!=null and ruloDilmeMakinasiBean.ruloDilmeMakinasiForm.ruloDilmeSayisi lt 2}"
								value="#{ruloDilmeMakinasiBean.ruloDilmeMakinasiForm.dilmeEbadiBir}">
							</p:inputText>
							<p:inputText style="width:100px;" id="iki"
								rendered="#{ruloDilmeMakinasiBean.ruloDilmeMakinasiForm.ruloDilmeSayisi!=null and ruloDilmeMakinasiBean.ruloDilmeMakinasiForm.ruloDilmeSayisi lt 3}"
								value="#{ruloDilmeMakinasiBean.ruloDilmeMakinasiForm.dilmeEbadiIki}">
							</p:inputText>
							<p:inputText style="width:100px;" id="uc"
								rendered="#{ruloDilmeMakinasiBean.ruloDilmeMakinasiForm.ruloDilmeSayisi!=null and ruloDilmeMakinasiBean.ruloDilmeMakinasiForm.ruloDilmeSayisi lt 4}"
								value="#{ruloDilmeMakinasiBean.ruloDilmeMakinasiForm.dilmeEbadiUc}">
							</p:inputText>
							<p:inputText style="width:100px;" id="dort"
								rendered="#{ruloDilmeMakinasiBean.ruloDilmeMakinasiForm.ruloDilmeSayisi!=null and ruloDilmeMakinasiBean.ruloDilmeMakinasiForm.ruloDilmeSayisi lt 5}"
								value="#{ruloDilmeMakinasiBean.ruloDilmeMakinasiForm.dilmeEbadiDort}">
							</p:inputText>
						</h:panelGroup>
						<h:outputText value="" style="font-weight: bold;"></h:outputText>
						<h:outputText value="" style="font-weight:bold;"></h:outputText>
						<h:outputText value="" style="font-weight:bold;"></h:outputText>
					</h:panelGrid>

					<p:dataTable var="rulo" id="ruloDataTableId" rowKey="#{rulo.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{ruloDilmeMakinasiBean.selectedRulos}">

						<f:facet name="header">
							<h:outputText value="SEÇİLMİŞ RULO" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="Kimlik No">
							<h:outputText value="#{rulo.ruloYilAndRuloKimlikId}" />
						</p:column>
						<p:column headerText="Döküm  No">
							<h:outputText value="#{rulo.ruloDokumNo}" />
						</p:column>
						<p:column headerText="Ebatlar">
							<h:outputText
								value="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalGenislik} X 
											 #{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalEtKalinligi}" />
						</p:column>
						<p:column headerText="Kalite">
							<h:outputText value="#{rulo.ruloKalite}" />
						</p:column>
						<p:column headerText="İlk Miktar(kg)">
							<h:outputText
								value="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalMiktar}" />
						</p:column>
						<p:column headerText="Kalan Miktar(kg)">
							<h:outputText
								value="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalKalanMiktar}" />
						</p:column>
						<p:column sortBy="#{rulo.ruloDurum}">
							<f:facet name="header">
								<h:outputText value="#{language.Status}"></h:outputText>
							</f:facet>
							<p:selectOneMenu value="#{rulo.ruloDurum}" disabled="true"
								style="width: 140px">
								<f:selectItems var="status" itemValue="#{status.id}"
									itemLabel="#{status.displayName}"
									value="#{ruloBean.config.config.materials.statuses}"></f:selectItems>
							</p:selectOneMenu>
						</p:column>
						<p:column headerText="Rulo Genel Durumu"
							sortBy="#{rulo.ruloGenelDurum}">
							<h:outputLabel value="Beklemede"
								rendered="#{empty rulo.ruloGenelDurum}" />
							<h:outputLabel value="Beklemede"
								rendered="#{rulo.ruloGenelDurum==0}" />
							<h:outputLabel value="Açık" rendered="#{rulo.ruloGenelDurum==1}" />
							<h:outputLabel value="Kapalı"
								rendered="#{rulo.ruloGenelDurum==2}" />
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="tornaTestAddPanelGridId">
						<p:commandButton value="RULO DİLİMLE"
							update="growl tornaPanelGridId tornaTests warningSelectedTornaDialogId"
							id="baslaButton" process="@all"
							oncomplete="warningSelectedTornaDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
					</h:panelGrid>

				</p:tab>

			</p:accordionPanel>

			<p:dialog draggable="true" closable="true" dynamic="true"
				resizable="false" header="#{language.Coil}" maximizable="true"
				id="coilAddConfirmDialogId" widgetVar="coilAddConfirmDialogWidget">
				<p:panel id="addCoilPanelId" style="min-width:600px">
					<p:dataTable var="rulo" id="coilListDataTableId"
						widgetVar="coilListDataTableWidget"
						emptyMessage="#{language.EmptyMessage}"
						rowKey="#{rulo.ruloYilAndRuloKimlikId}"
						value="#{ruloDilmeMakinasiBean.allRulos}" paginator="true"
						rows="12" selection="#{ruloDilmeMakinasiBean.selectedRulo}"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:column selectionMode="single" style="width:20px" />

						<p:column headerText="Kimlik No"
							sortBy="#{rulo.ruloYilAndRuloKimlikId}"
							filterBy="#{rulo.ruloYilAndRuloKimlikId}">
							<h:outputText value="#{rulo.ruloYilAndRuloKimlikId}" />
						</p:column>
						<p:column headerText="Döküm  No" sortBy="#{rulo.ruloDokumNo}"
							filterBy="#{rulo.ruloDokumNo}">
							<h:outputText value="#{rulo.ruloDokumNo}" />
						</p:column>
						<p:column headerText="Bobin No" sortBy="#{rulo.ruloBobinNo}"
							filterBy="#{rulo.ruloBobinNo}">
							<h:outputText value="#{rulo.ruloBobinNo}" />
						</p:column>
						<p:column headerText="Ebatlar"
							sortBy="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalEtKalinligi}"
							filterBy="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalEtKalinligi}">
							<h:outputText
								value="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalGenislik} X 
											 #{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalEtKalinligi}" />
						</p:column>
						<p:column headerText="Kalite" sortBy="#{rulo.ruloKalite}"
							filterBy="#{rulo.ruloKalite}">
							<h:outputText value="#{rulo.ruloKalite}" />
						</p:column>
						<p:column headerText="Kalan Miktar(kg)">
							<h:outputText
								value="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalKalanMiktar}" />
						</p:column>
						<p:column headerText="İlk Miktar(kg)">
							<h:outputText
								value="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalMiktar}" />
						</p:column>
						<p:column sortBy="#{rulo.ruloDurum}">
							<f:facet name="header">
								<h:outputText value="#{language.Status}"></h:outputText>
							</f:facet>
							<p:selectOneMenu value="#{rulo.ruloDurum}" disabled="true"
								style="width: 140px">
								<f:selectItems var="status" itemValue="#{status.id}"
									itemLabel="#{status.displayName}"
									value="#{ruloBean.config.config.materials.statuses}"></f:selectItems>
							</p:selectOneMenu>
						</p:column>
						<p:column headerText="Rulo Genel Durumu"
							sortBy="#{rulo.ruloGenelDurum}">
							<h:outputLabel value="Beklemede"
								rendered="#{empty rulo.ruloGenelDurum}" />
							<h:outputLabel value="Beklemede"
								rendered="#{rulo.ruloGenelDurum==0}" />
							<h:outputLabel value="Açık" rendered="#{rulo.ruloGenelDurum==1}" />
							<h:outputLabel value="Kapalı"
								rendered="#{rulo.ruloGenelDurum==2}" />
						</p:column>

					</p:dataTable>
					<!-- ADD COIL COMMAND LINK section -->
					<h:panelGrid border="0" columns="3" cellspacing="5"
						id="addCoilPanelGridId">
						<p:commandLink title="Ruloyu Seç"
							process="@this coilListDataTableId addCoilDatePanelGridId newCoilMessages"
							update="orderAccordionPanelId growl"
							actionListener="#{ruloDilmeMakinasiBean.sendRulosToMachine}"
							oncomplete="coilAddConfirmDialogWidget.hide()">
							<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink title="#{language.Cancel}"
							onclick="coilAddConfirmDialogWidget.hide()" process="@this">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
					<p:messages id="newCoilMessages"></p:messages>
				</p:panel>
			</p:dialog>


			<p:dialog widgetVar="warningSelectedTornaDialog"
				header="#{language.salesWarning}" id="warningSelectedTornaDialogId">
				<h:outputText
					value="SEÇİLEN RULO İÇİN DİLİMLEME İŞLEMİ BAŞLATILACAKTIR, EMİN MİSİNİZ?" />
				<br />
				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="warningSelectedTornaDialog.hide();" />
				<p:spacer width="15" height="50" />
				<p:commandButton value="BAŞLAT"
					actionListener="#{ruloDilmeMakinasiBean.ruloDilimle}"
					oncomplete="warningSelectedTornaDialog.hide();"
					update="growl tornaPanelGridId tornaTests tornaTestsDataTableId orderAccordionPanelId"
					process="@this tornaPanelGridId">
					<f:param id="tornaSelectedPipeId"
						value="#{testTahribatsizTornaBean.selectedPipe.pipeId}"></f:param>
				</p:commandButton>
			</p:dialog>

			<p:dialog widgetVar="addTornaDialog"
				header="#{language.salesWarning}" id="addTornaDialogId">
				<br />
				<h:outputText
					value="SEÇİLEN BORUYA YENİ TORNA İŞLEMİ EKLENECEKTİR, EMİN MİSİNİZ?" />
				<br />
				<br />
				<br />
				<h:outputText value="TORNA YAPILACAK UÇ " />
				<br />
				<br />
				<p:selectOneMenu
					value="#{testTahribatsizTornaBean.newTorna.islemYapilanUc}"
					style="width: 140px">
					<f:selectItem itemValue="0" itemLabel="A Ucu"></f:selectItem>
					<f:selectItem itemValue="1" itemLabel="B Ucu"></f:selectItem>
					<f:selectItem itemValue="2" itemLabel="A-B Ucu"></f:selectItem>
				</p:selectOneMenu>
				<br />
				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="addTornaDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="KABUL ET - KAYDET"
					actionListener="#{testTahribatsizTornaBean.addTorna}"
					oncomplete="addTornaDialog.hide();"
					update="growl tornaPanelGridId tornaTests tornaTestsDataTableId orderAccordionPanelId"
					process="@this tornaPanelGridId addTornaDialogId">
					<f:param id="PipeId"
						value="#{testTahribatsizTornaBean.selectedPipe.pipeId}"></f:param>
				</p:commandButton>
			</p:dialog>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
			<p:growl id="growl" sticky="true" />
		</ui:define>
	</ui:composition>
</h:body>
</html>