<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<h3>#{language.MachineList}</h3>
			<p:accordionPanel id="machineAccordionPanelId" autoHeight="false"
				collapsible="true" style="padding:0px"
				widgetVar="machineAccorditionPanelWidget">
				<c:forEach items="#{machineListBean.spiralMachineList}"
					var="machine">
					<p:tab title="#{machine.name}">
						<p:panel style="width:100%" header=" ">
							<h:panelGrid border="0" cellspacing="5" columns="2"
								style="width:100%">
								<h:outputLabel value="#{language.MachineName} :  " />
								<h:outputText value="#{machine.name}"></h:outputText>

								<h:outputLabel value="#{language.Brand} :  " />
								<h:outputText value="#{machine.brand}"></h:outputText>

								<h:outputLabel value="#{language.Model} :  " />
								<h:outputText value="#{machine.model}"></h:outputText>

								<h:outputLabel value="#{language.Description} :  " />
								<h:outputText value="#{machine.description}"></h:outputText>

								<h:outputLabel value="#{language.Status} :  " />
								<h:outputText value="#{machine.status}"></h:outputText>

								<h:outputLabel value="#{language.SerialNumber} :  " />
								<h:outputText value="#{machine.serialNumber}"></h:outputText>

								<h:outputLabel value="#{language.Type} :  " />
								<h:outputText value="#{machine.machineType.displayName}"></h:outputText>
							</h:panelGrid>

							<h:panelGrid border="0" columns="2" cellspacing="5">
								<p:commandLink process="@this" title="#{language.View}"
									update="growl machinePanelId pbAjax pipeNoInfoPanelGridId"
									oncomplete="machinePanelWidget.show(); addPipePanelWidget.close(); doubleCoilPanelWidget.close()"
									action="#{spiralMachineBean.viewMachine(machine)}">
									<p:graphicImage value="/large_icons/view.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>

							</h:panelGrid>
						</p:panel>
					</p:tab>
				</c:forEach>
			</p:accordionPanel>
		</ui:define>

		<!-- MACHINE COIL section -->
		<ui:define name="showPanel">
			<!-- ADD ORDER CONFIRM DIALOG section -->
			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" header="#{language.Order}" resizable="false"
				id="orderAddConfirmDialogId" widgetVar="orderAddConfirmDialogWidget">
				<p:panel id="addOrderPanelId" style="min-width:600px">
					<p:dataTable var="order" id="orderListDataTableId"
						widgetVar="orderListDataTableWidget" rowKey="#{order.itemId}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{spiralMachineBean.allocated.allocatedSalesItemsLazy}"
						paginator="true" rows="13"
						selection="#{spiralMachineBean.allocated.selectedSalesItems}"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:column selectionMode="single" style="width:20px" />

						<p:column sortBy="#{order.proposal.salesOrder.orderNo}"
							filterBy="#{order.proposal.salesOrder.orderNo}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.Order} Numarası"></h:outputText>
							</f:facet>
							<h:outputText value="#{order.proposal.salesOrder.orderNo}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Order} Kalemleri"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{order.proposal.salesOrder.orderNo} - #{order.itemNo}"></h:outputText>
						</p:column>

						<p:column sortBy="#{order.proposal.customer.commercialName}"
							filterBy="#{order.proposal.customer.commercialName}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.Customer}"></h:outputText>
							</f:facet>
							<h:outputText value="#{order.proposal.customer.commercialName}"></h:outputText>
						</p:column>

					</p:dataTable>

					<!-- ORDER COMMAND LINK section -->
					<h:panelGrid border="0" columns="3" cellspacing="5"
						id="addOrderPanelGridId">
						<p:commandLink title="#{language.OrderItemSubmitInfo}"
							process="@this addOrderPanelId"
							update="growl machinePanelId addOrderPanelId"
							oncomplete="orderAddConfirmDialogWidget.hide()"
							actionListener="#{spiralMachineBean.makineyeSiparisEkle}">
							<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink title="#{language.OrderItemSubmitInfo}"
							onclick="orderAddConfirmDialogWidget.hide()" process="@this">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
					<p:messages id="newOrderMessages"></p:messages>
				</p:panel>
			</p:dialog>

			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" header="BORU NUMARALARI" resizable="false"
				id="pipeNoDialogId" widgetVar="pipeNoDialogWidget">
				<p:panel id="pipeNoPanelId" style="min-width:600px">

					<p:inputText
						value="#{spiralMachineBean.siralamaObjesi.firstPipeNo}">ÜRETİLECEK İLK BORU NUMARASI : </p:inputText>

					<p:inputText value="#{spiralMachineBean.siralamaObjesi.lastPipeNo}">ÜRETİLECEK SON BORU NUMARASI : </p:inputText>

					<!-- ORDER COMMAND LINK section -->
					<h:panelGrid border="0" columns="3" cellspacing="5"
						id="pipeNoPanelGridId">
						<p:commandButton title="EKLE/DÜZENLE" value="EKLE/DÜZENLE"
							process="@this pipeNoDialogId"
							update="growl orderListDataTableId pipeNoPanelGridId newOrderMessages coilInfoPanelId orderProcessedPanelId  machinePanelId pipeNoInfoPanelGridId"
							actionListener="#{spiralMachineBean.setMachineSalesItemPipeNo}"
							onclick="pipeNoDialogWidget.hide()">
						</p:commandButton>
						<p:commandButton title="SİL" value="SİL"
							process="@this pipeNoDialogId"
							update="growl orderListDataTableId pipeNoPanelGridId newOrderMessages coilInfoPanelId orderProcessedPanelId  machinePanelId pipeNoInfoPanelGridId"
							actionListener="#{spiralMachineBean.deleteMachineSalesItemPipeNo}"
							onclick="pipeNoDialogWidget.hide()">
						</p:commandButton>
					</h:panelGrid>
				</p:panel>
			</p:dialog>
			<!-- alper -->
			<p:panel closable="true"
				header="#{language.Machine}: #{spiralMachineBean.selectedMachine.name}"
				id="machinePanelId" widgetVar="machinePanelWidget">

				<h:panelGrid border="0" cellspacing="5" columns="4"
					style="width:100%" id="machinePanelGridId">
					<p:graphicImage value="/large_icons/materials.png"
						rendered="#{spiralMachineBean.hasRulo == true}"></p:graphicImage>
					<p:graphicImage value="/large_icons/no_coil.jpg"
						rendered="#{spiralMachineBean.hasRulo == false}"></p:graphicImage>
					<p:graphicImage value="/large_icons/right_arrow.png"></p:graphicImage>
					<p:panel header="#{language.Machine}">
						<h:outputText value="#{spiralMachineBean.selectedMachine.name}"
							style="font-size:40pt; font-style:bold;"></h:outputText>
					</p:panel>
				</h:panelGrid>
				<p:messages id="deleteLinkMessages"></p:messages>

				<h:panelGrid border="0" cellspacing="5" columns="1"
					style="width: 100%" id="pipeNoInfoPanelGridId"
					rendered="#{spiralMachineBean.siralamaObjesi.id != null}">

					<h:outputLabel
						value="#{spiralMachineBean.selectedMachine.name}NDA ÜRETİLECEK BORULARIN BAŞLANGIÇ NUMARALARI AŞAĞIDADIR. BU NUMARALARA DİKKAT EDİNİZ!"
						style="font-size:10pt; font-style:bold;" />
					<h:outputText
						value="BU MAKİNA İÇİN BORU BAŞLANGIÇ NUMARASI : #{spiralMachineBean.siralamaObjesi.firstPipeNo}"
						style="font-size:10pt; font-style:bold;"></h:outputText>
					<h:outputText
						value="BU MAKİNA İÇİN BORU BİTİŞ NUMARASI : #{spiralMachineBean.siralamaObjesi.lastPipeNo}"
						style="font-size:10pt; font-style:bold;"></h:outputText>

				</h:panelGrid>

				<!-- MATERIAL INFO section -->
				<h:panelGrid border="0" cellspacing="5" columns="1"
					style="width: 100%" id="materialsInfoPanelGridId">
					<!-- COIL INFO section -->
					<h:panelGrid border="0" columns="1" cellspacing="5">
						<p:dataGrid var="rulo" value="#{spiralMachineBean.selectedRulos}"
							columns="1" rows="1">
							<p:column>
								<p:panel toggleable="true"
									header="#{language.Coil} #{language.Informations}">
									<h:panelGrid border="0" columns="2" style="width:100%">
										<p:column>
											<p:graphicImage value="/large_icons/32x32/coil.jpg"
												style="border:0px"></p:graphicImage>
										</p:column>
										<p:column>
											<h:panelGrid border="0" columns="2">
												<h:outputLabel value="#{language.Coil} #{language.id} : "
													style="color: red; font-weight: bold;" />
												<h:outputText value="#{rulo.ruloYilAndRuloKimlikId}"></h:outputText>

												<h:outputLabel value="#{language.DokumNumber} : "
													style="color: red; font-weight: bold;" />
												<h:outputText value="#{rulo.ruloDokumNo}"></h:outputText>

												<h:outputLabel value="#{language.BobinNumber} : "
													style="color: red; font-weight: bold;" />
												<h:outputText value="#{rulo.ruloBobinNo}"></h:outputText>

												<h:outputLabel value="#{language.Width} :  "
													style="color: red; font-weight: bold;" />
												<h:outputText
													value="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalGenislik}"></h:outputText>

												<h:outputLabel value="#{language.WallThickness} : "
													style="color: red; font-weight: bold;" />
												<h:outputText
													value="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalEtKalinligi}"></h:outputText>

												<h:outputLabel value="#{language.InitialAmount} : "
													style="color: red; font-weight: bold;" />
												<h:outputText
													value="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalMiktar}"></h:outputText>

												<h:outputLabel value="#{language.RemainingAmount} : "
													style="color: red; font-weight: bold;" />
												<h:outputText
													value="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalKalanMiktar}"></h:outputText>

												<h:outputLabel value="Rulo Genel Durumu : "
													style="color: red; font-weight: bold;" />
												<p:column headerText="Rulo Genel Durumu">
													<h:outputLabel value="Yeni Girişi Yapıldı"
														rendered="#{rulo.ruloDurum==1}" />
													<h:outputLabel value="Onay için bekliyor"
														rendered="#{rulo.ruloDurum==2}" />
													<h:outputLabel value="Kalite Kontrol tarafından onaylandı"
														rendered="#{rulo.ruloDurum==3}" />
													<h:outputLabel value="Kalite Kontrol tarafından reddedildi"
														rendered="#{rulo.ruloDurum==4}" />
													<h:outputLabel value="Üretimde"
														rendered="#{rulo.ruloDurum==5}" />
													<h:outputLabel value="Stokta beklemede"
														rendered="#{rulo.ruloDurum==6}" />
													<h:outputLabel value="Satıldı"
														rendered="#{rulo.ruloDurum==7}" />
													<h:outputLabel value="Hurdaya ayrıldı"
														rendered="#{rulo.ruloDurum==8}" />
													<h:outputLabel value="Tüketildi"
														rendered="#{rulo.ruloDurum==9}" />
													<h:outputLabel value="Rezerve Edildi"
														rendered="#{rulo.ruloDurum==10}" />
												</p:column>

											</h:panelGrid>
										</p:column>
									</h:panelGrid>
									<h:panelGrid border="0" cellspacing="5" columns="7"
										style="width:100%">
										<p:commandButton value="RULOYU BİTİR" process="@this"
											update="growl finishCoilPanelId addCoilLinkPanelGridId finishCoilCutPanelId cutCoilLinkPanelGridId"
											oncomplete="finishCoilDialogWidget.show()"
											action="#{spiralMachineBean.beforeRuloProduction(rulo)}">
										</p:commandButton>

										<!-- 										<p:commandLink title="RULOYU MAKİNEDEN ÇIKART!" -->
										<!-- 											update="growl deleteLinkMessages machinePanelId materialsInfoPanelGridId" -->
										<!-- 											process="@this" -->
										<!-- 											action="#{spiralMachineBean.cancelRuloProduction(rulo)}"> -->
										<!-- 											<p:graphicImage value="/large_icons/delete.png" -->
										<!-- 												style="border:0px"></p:graphicImage> -->
										<!-- 										</p:commandLink> -->
									</h:panelGrid>
								</p:panel>
							</p:column>
						</p:dataGrid>
						<p:commandButton title="RULO EKLE" value="RULO EKLE"
							oncomplete="coilAddConfirmDialogWidget.show()" process="@this"
							update="growl addCoilPanelId"
							disabled="#{spiralMachineBean.selectedMachine.machineId == 0}"
							actionListener="#{spiralMachineBean.loadAllocatedRulos}">
						</p:commandButton>
					</h:panelGrid>

					<!-- WIRE INFO section -->
					<h:panelGrid border="0" columns="1" cellspacing="5"
						style="width:100%">
						<p:dataGrid var="wire"
							value="#{spiralMachineBean.selectedWiresIcAc}" columns="1"
							rows="2" effect="true">
							<p:column>
								<p:panel toggleable="true" closable="false"
									header="İÇ KISIM - AC - #{language.Wire} #{language.Informations}">
									<h:panelGrid border="0" columns="12" style="width:100%">

										<h:outputLabel value="Kalite : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.kalite}"></h:outputText>

										<h:outputLabel value="#{language.PartNumber} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.partNumber}"></h:outputText>

										<h:outputLabel value="Çap : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.cinsi}"></h:outputText>

										<h:outputLabel value="#{language.InitialAmount} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.miktari}"></h:outputText>

										<h:outputLabel value="#{language.RemainingAmount} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.remainingAmount}"></h:outputText>

										<p:commandButton value="TEL BİTİR!"
											process="@this finishWirePanelId"
											update="growl finishWirePanelId coilInfoPanelId"
											onclick="finishWireDialogWidget.show()"
											action="#{spiralMachineBean.beforeWireProduction(wire)}">
										</p:commandButton>
										<!-- 										<p:commandButton value="TEL ÇIKART!" process="@this" -->
										<!-- 											update="growl deleteLinkMessages machinePanelId" -->
										<!-- 											action="#{spiralMachineBean.cancelWireProduction(wire)}" -->
										<!-- 											rendered="#{spiralMachineBean.wireMachineLink.id != null}"> -->
										<!-- 										</p:commandButton> -->
									</h:panelGrid>
								</p:panel>
							</p:column>
						</p:dataGrid>
						<p:dataGrid var="wire"
							value="#{spiralMachineBean.selectedWiresIcDc}" columns="1"
							rows="2" effect="true">
							<p:column>
								<p:panel toggleable="true" closable="false"
									header="İÇ KAYNAK - DC - #{language.Wire} #{language.Informations}">
									<h:panelGrid border="0" columns="12" style="width:100%">

										<h:outputLabel value="Kalite : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.kalite}"></h:outputText>

										<h:outputLabel value="#{language.PartNumber} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.partNumber}"></h:outputText>

										<h:outputLabel value="Çap : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.cinsi}"></h:outputText>

										<h:outputLabel value="#{language.InitialAmount} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.miktari}"></h:outputText>

										<h:outputLabel value="#{language.RemainingAmount} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.remainingAmount}"></h:outputText>

										<p:commandButton value="TEL BİTİR!"
											process="@this finishWirePanelId"
											update="growl finishWirePanelId coilInfoPanelId"
											onclick="finishWireDialogWidget.show()"
											action="#{spiralMachineBean.beforeWireProduction(wire)}">
										</p:commandButton>
										<!-- 										<p:commandButton value="TEL ÇIKART!" process="@this" -->
										<!-- 											update="growl deleteLinkMessages machinePanelId" -->
										<!-- 											action="#{spiralMachineBean.cancelWireProduction(wire)}" -->
										<!-- 											rendered="#{spiralMachineBean.wireMachineLink.id != null}"> -->
										<!-- 										</p:commandButton> -->
									</h:panelGrid>
								</p:panel>
							</p:column>
						</p:dataGrid>
						<p:dataGrid var="wire"
							value="#{spiralMachineBean.selectedWiresDisAc}" columns="1"
							rows="2" effect="true">
							<p:column>
								<p:panel toggleable="true" closable="false"
									header="DIŞ KAYNAK - AC - #{language.Wire} #{language.Informations}">
									<h:panelGrid border="0" columns="12" style="width:100%">
										<h:outputLabel value="Kalite : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.kalite}"></h:outputText>

										<h:outputLabel value="#{language.PartNumber} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.partNumber}"></h:outputText>

										<h:outputLabel value="Çap : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.cinsi}"></h:outputText>

										<h:outputLabel value="#{language.InitialAmount} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.miktari}"></h:outputText>

										<h:outputLabel value="#{language.RemainingAmount} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.remainingAmount}"></h:outputText>

										<p:commandButton value="TEL BİTİR!"
											process="@this finishWirePanelId"
											update="growl finishWirePanelId coilInfoPanelId"
											onclick="finishWireDialogWidget.show()"
											action="#{spiralMachineBean.beforeWireProduction(wire)}">
										</p:commandButton>
										<!-- 										<p:commandButton value="TEL ÇIKART!" process="@this" -->
										<!-- 											update="growl deleteLinkMessages machinePanelId" -->
										<!-- 											action="#{spiralMachineBean.cancelWireProduction(wire)}" -->
										<!-- 											rendered="#{spiralMachineBean.wireMachineLink.id != null}"> -->
										<!-- 										</p:commandButton> -->
									</h:panelGrid>
								</p:panel>
							</p:column>
						</p:dataGrid>
						<p:dataGrid var="wire"
							value="#{spiralMachineBean.selectedWiresDisDc}" columns="1"
							rows="2" effect="true">
							<p:column>
								<p:panel toggleable="true" closable="false"
									header="DIŞ KAYNAK - DC - #{language.Wire} #{language.Informations}">
									<h:panelGrid border="0" columns="12" style="width:100%">
										<h:outputLabel value="Kalite : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.kalite}"></h:outputText>

										<h:outputLabel value="#{language.PartNumber} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.partNumber}"></h:outputText>

										<h:outputLabel value="Çap : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.cinsi}"></h:outputText>

										<h:outputLabel value="#{language.InitialAmount} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.miktari}"></h:outputText>

										<h:outputLabel value="#{language.RemainingAmount} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{wire.remainingAmount}"></h:outputText>

										<p:commandButton value="TEL BİTİR!"
											process="@this finishWirePanelId"
											update="growl finishWirePanelId coilInfoPanelId"
											onclick="finishWireDialogWidget.show()"
											action="#{spiralMachineBean.beforeWireProduction(wire)}">
										</p:commandButton>
										<!-- 										<p:commandButton value="TEL ÇIKART!" process="@this" -->
										<!-- 											update="growl deleteLinkMessages machinePanelId" -->
										<!-- 											action="#{spiralMachineBean.cancelWireProduction(wire)}" -->
										<!-- 											rendered="#{spiralMachineBean.wireMachineLink.id != null}"> -->
										<!-- 										</p:commandButton> -->
									</h:panelGrid>
								</p:panel>
							</p:column>
						</p:dataGrid>
						<!-- WIRE command LINK section -->
						<h:panelGrid border="0" cellspacing="5" columns="4"
							style="width:100%">
							<p:commandButton value="KAYNAK TELİ EKLE"
								oncomplete="wireAddConfirmDialogWidget.show()" process="@this"
								disabled="#{spiralMachineBean.selectedMachine.machineId == 0}"
								update="growl wireListDataTableId addWirePanelGridId newWireMessages wireDatePanelGridId coilInfoPanelId"
								actionListener="#{spiralMachineBean.loadAllocatedWires}">
							</p:commandButton>
						</h:panelGrid>
					</h:panelGrid>
					<!-- DUST INFO section -->
					<h:panelGrid border="0" columns="1" cellspacing="5"
						style="width:100%">
						<p:dataGrid var="dust"
							value="#{spiralMachineBean.selectedDustsIc}" columns="1" rows="2"
							effect="true">
							<p:column>
								<p:panel toggleable="true" closable="false"
									header="İÇ KAYNAK - #{language.Dust} #{language.Informations}">
									<h:panelGrid border="0" columns="12" style="width:100%">

										<h:outputLabel value="Kalite : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{dust.kalite}"></h:outputText>

										<h:outputLabel value="#{language.PartNumber} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{dust.partNumber}"></h:outputText>

										<h:outputLabel value="#{language.Type} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{dust.cinsi}"></h:outputText>

										<h:outputLabel value="#{language.InitialAmount} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{dust.miktari}"></h:outputText>

										<h:outputLabel value="#{language.RemainingAmount} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{dust.remainingAmount}"></h:outputText>

										<p:commandButton value="TOZ BİTİR!"
											process="@this finishDustPanelId"
											update="growl finishDustPanelId coilInfoPanelId"
											onclick="finishDustDialogWidget.show()"
											action="#{spiralMachineBean.beforeDustProduction(dust)}">
										</p:commandButton>
										<!-- 										<p:commandButton title="KAYNAK TOZUNU ÇIKART!" process="@this" -->
										<!-- 											update="growl deleteLinkMessages machinePanelId" -->
										<!-- 											action="#{spiralMachineBean.cancelDustProduction(dust)}" -->
										<!-- 											rendered="#{spiralMachineBean.dustMachineLink.id != null}"> -->
										<!-- 											<p:graphicImage value="/large_icons/delete.png" -->
										<!-- 												style="border:0px"></p:graphicImage> -->
										<!-- 										</p:commandButton> -->
									</h:panelGrid>
								</p:panel>
							</p:column>
						</p:dataGrid>
						<p:dataGrid var="dust"
							value="#{spiralMachineBean.selectedDustsDis}" columns="1"
							rows="2" effect="true">
							<p:column>
								<p:panel toggleable="true" closable="false"
									header="DIŞ KAYNAK - #{language.Dust} #{language.Informations}">
									<h:panelGrid border="0" columns="12" style="width:100%">

										<h:outputLabel value="Kalite : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{dust.kalite}"></h:outputText>

										<h:outputLabel value="#{language.PartNumber} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{dust.partNumber}"></h:outputText>

										<h:outputLabel value="#{language.Type} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{dust.cinsi}"></h:outputText>

										<h:outputLabel value="#{language.InitialAmount} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{dust.miktari}"></h:outputText>

										<h:outputLabel value="#{language.RemainingAmount} : "
											style="color: red; font-weight: bold;" />
										<h:outputText value="#{dust.remainingAmount}"></h:outputText>

										<p:commandButton value="TOZ BİTİR!"
											process="@this finishDustPanelId"
											update="growl finishDustPanelId coilInfoPanelId"
											onclick="finishDustDialogWidget.show()"
											action="#{spiralMachineBean.beforeDustProduction(dust)}">
										</p:commandButton>
										<!-- 										<p:commandButton title="KAYNAK TOZUNU ÇIKART!" process="@this" -->
										<!-- 											update="growl deleteLinkMessages machinePanelId" -->
										<!-- 											action="#{spiralMachineBean.cancelDustProduction(dust)}" -->
										<!-- 											rendered="#{spiralMachineBean.dustMachineLink.id != null}"> -->
										<!-- 											<p:graphicImage value="/large_icons/delete.png" -->
										<!-- 												style="border:0px"></p:graphicImage> -->
										<!-- 										</p:commandButton> -->

									</h:panelGrid>
								</p:panel>
							</p:column>
						</p:dataGrid>
						<!-- DUST command LINK section -->
						<h:panelGrid border="0" cellspacing="5" columns="4"
							style="width:100%">
							<p:commandButton value="TOZ EKLE"
								oncomplete="dustAddConfirmDialogWidget.show()" process="@this"
								disabled="#{spiralMachineBean.selectedMachine.machineId == 0}"
								update="growl dustListDataTableId addDustPanelGridId newDustMessages dustDatePanelGridId coilInfoPanelId"
								actionListener="#{spiralMachineBean.loadAllocatedDusts}">
							</p:commandButton>
						</h:panelGrid>
					</h:panelGrid>
				</h:panelGrid>
				<!-- PRODUCE PIPE -->
				<p:commandLink title="#{language.ManufacturePipe}" process="@this"
					update="addPipePanelId deleteLinkMessages pipePanelId growl"
					oncomplete="machinePanelWidget.close(); addPipePanelWidget.show(); doubleCoilPanelWidget.close()"
					actionListener="#{spiralMachineBean.beforePipeProduction}"
					disabled="#{spiralMachineBean.canProducePipe==false}">
					<p:graphicImage value="/large_icons/pipe.png" style="border:0px"></p:graphicImage>
				</p:commandLink>
				<p:commandButton title="#{language.AddOrder}"
					value="#{language.AddOrder}"
					oncomplete="orderAddConfirmDialogWidget.show()" process="@this"
					disabled="#{spiralMachineBean.selectedMachine.machineId == 0}"
					update="growl orderListDataTableId addOrderPanelGridId newOrderMessages coilInfoPanelId orderProcessedPanelId machinePanelId pipeNoInfoPanelGridId"
					actionListener="#{spiralMachineBean.loadOrders()}"
					icon="ui-icon-cart">
				</p:commandButton>
				<h:outputLabel value="Seçilen Sipariş :  " />
				<h:outputText
					value="#{spiralMachineBean.allocated.selectedSalesItems.proposal.salesOrder.orderNo}-#{spiralMachineBean.allocated.selectedSalesItems.itemNo}"></h:outputText>
				<p:commandButton title="BAŞLANGIÇ-BİTİŞ NUMARASI EKLE/DÜZENLE"
					value="BAŞLANGIÇ-BİTİŞ NUMARASI EKLE/DÜZENLE"
					oncomplete="pipeNoDialogWidget.show()" process="@this"
					disabled="#{spiralMachineBean.salesItem.itemId == 0}"
					update="growl orderListDataTableId addOrderPanelGridId newOrderMessages coilInfoPanelId orderProcessedPanelId">
				</p:commandButton>
			</p:panel>

			<!-- ADD PIPE SECTION -->
			<p:panel closable="true"
				header="#{language.Machine}: #{spiralMachineBean.selectedMachine.name}"
				id="addPipePanelId" widgetVar="addPipePanelWidget" visible="false">

				<p:panel
					header="SİPARİŞ : #{spiralMachineBean.salesItem.proposal.salesOrder.orderNo} - #{spiralMachineBean.salesItem.itemNo}"
					id="orderProcessedPanelId">
					<h:panelGrid border="0" cellspacing="5" columns="2"
						style="width:100%">
						<h:outputLabel value="#{language.Company} :  " />
						<h:outputLabel
							value="#{spiralMachineBean.salesItem.proposal.customer.commercialName} - #{spiralMachineBean.salesItem.proposal.customer.classification.name}"></h:outputLabel>

						<h:outputLabel value="#{language.Order} #{language.id} : " />
						<h:outputLabel style="font-size: 16pt; width: 125px"
							value="#{spiralMachineBean.salesItem.proposal.salesOrder.orderNo} - #{spiralMachineBean.salesItem.itemNo}"></h:outputLabel>

						<!-- 						<h:outputText value="#{language.Type} *: "></h:outputText> -->
						<!-- 						<p:selectOneMenu disabled="true" -->
						<!-- 							value="#{spiralMachineBean.order.pipeType}" style="width: 140px"> -->
						<!-- 							<c:forEach items="#{machineListBean.config.config.pipe.types}" -->
						<!-- 								var="pipeType"> -->
						<!-- 								<f:selectItem itemValue="#{pipeType.name}" -->
						<!-- 									itemLabel="#{pipeType.description}"></f:selectItem> -->
						<!-- 							</c:forEach> -->
						<!-- 						</p:selectOneMenu> -->

						<h:outputText value="#{language.ExternalDiameter}(mm) *: "></h:outputText>
						<h:outputLabel value="#{spiralMachineBean.salesItem.diameter}">
						</h:outputLabel>

						<h:outputText value="#{language.WallThickness}(mm) *: "></h:outputText>
						<h:outputLabel value="#{spiralMachineBean.salesItem.thickness}">
						</h:outputLabel>

						<h:outputText value="Genişlik (mm) *: "></h:outputText>
						<h:outputLabel
							value="#{spiralMachineBean.selectedRulos[0].ruloOzellikBoyutsal.ruloOzellikBoyutsalGenislik}">
						</h:outputLabel>

						<h:outputText value="Uzunluk(m) *: "></h:outputText>
						<h:outputLabel value="#{spiralMachineBean.salesItem.pipeLength}">
						</h:outputLabel>

						<h:outputText value="#{language.Quality} *: "></h:outputText>
						<h:outputLabel value="#{spiralMachineBean.salesItem.quality}">
						</h:outputLabel>

						<h:outputText value="#{language.Length}(m) *: "></h:outputText>
						<h:outputLabel value="#{spiralMachineBean.salesItem.totalLengthM}">
						</h:outputLabel>

						<h:outputText
							value="MAKİNADA ÜRETİLECEK BORU NUMARA KISITLAMASI : "
							style="color: red; font-weight: bold;"
							rendered="#{spiralMachineBean.siralamaObjesi.firstPipeNo != null}"></h:outputText>
						<h:outputLabel
							value="ÜRETİLECEK İLK BORU NUMARASI : #{spiralMachineBean.siralamaObjesi.firstPipeNo} - ÜRETİLECEK SON BORU NUMARASI : #{spiralMachineBean.siralamaObjesi.lastPipeNo}"
							style="color: red; font-weight: bold;"
							rendered="#{spiralMachineBean.siralamaObjesi.firstPipeNo != null}">
						</h:outputLabel>
					</h:panelGrid>
				</p:panel>

				<p:panel header="KAYNAK PARAMETRELERİ" id="parametrePanelIdDeneme"
					widgetVar="pipePanelWidget">
					<p:dataTable id="kaynakParametreileriTableId" var="wire"
						value="#{spiralMachineBean.allWireMachineLink}"
						selection="#{spiralMachineBean.selectedWireMachineLink}"
						widgetVar="kaynakParametreileriWidgetId">

						<p:ajax event="rowEdit" process="kaynakParametreileriTableId"
							listener="#{spiralMachineBean.onRowEdit}"
							update="growl kaynakParametreileriTableId" />

						<p:column headerText="Kaynak :">
							<h:outputText value="İÇ" rendered="#{wire.icDis==1}"
								style="width:3%"></h:outputText>
							<h:outputText value="DIŞ" rendered="#{wire.icDis==0}"
								style="width:3%"></h:outputText>
						</p:column>

						<p:column headerText="AC/DC :">
							<h:outputText value="AC" rendered="#{wire.acDc==1}"
								style="width:3%"></h:outputText>
							<h:outputText value="DC" rendered="#{wire.acDc==2}"
								style="width:3%"></h:outputText>
						</p:column>

						<p:column headerText="Tel Kalitesi :">
							<h:outputText value="#{wire.edw.kalite}"></h:outputText>
						</p:column>

						<p:column headerText="Akım :">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{wire.akim}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="akimInput" value="#{wire.akim}"
										style="width:96%" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column headerText="Volt :">
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{wire.volt}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="voltInput" value="#{wire.volt}"
										style="width:96%" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column style="width:32px">
							<p:rowEditor />
						</p:column>

					</p:dataTable>
				</p:panel>

				<!-- 				<p:panel header="KAYNAK PARAMETRELERİ" id="parametrePanelId" -->
				<!-- 					widgetVar="pipePanelWidget"> -->
				<!-- 					<p:dataGrid var="wire" -->
				<!-- 						value="#{spiralMachineBean.allWireMachineLink}" columns="1" -->
				<!-- 						effect="true"> -->

				<!-- 						<h:outputLabel value="Kaynak : " -->
				<!-- 							style="color: red; font-weight: bold;" /> -->
				<!-- 						<p:inputText value="İÇ" rendered="#{wire.icDis==1}" -->
				<!-- 							disabled="true" style="width:3%"></p:inputText> -->
				<!-- 						<p:inputText value="DIŞ" rendered="#{wire.icDis==0}" -->
				<!-- 							disabled="true" style="width:3%"></p:inputText> -->

				<!-- 						<h:outputLabel value="AC / DC : " -->
				<!-- 							style="color: red; font-weight: bold;" /> -->
				<!-- 						<p:inputText value="AC" rendered="#{wire.acDc==1}" disabled="true" -->
				<!-- 							style="width:3%"></p:inputText> -->
				<!-- 						<p:inputText value="DC" rendered="#{wire.acDc==2}" disabled="true" -->
				<!-- 							style="width:3%"></p:inputText> -->

				<!-- 						<h:outputLabel value="Tel Kalitesi : " -->
				<!-- 							style="color: red; font-weight: bold;" /> -->
				<!-- 						<p:inputText value="#{wire.edw.kalite}" disabled="true"></p:inputText> -->

				<!-- 						<h:outputLabel value="Akım : " -->
				<!-- 							style="color: red; font-weight: bold;" /> -->
				<!-- 						<p:inputText value="#{wire.akim}"></p:inputText> -->

				<!-- 						<h:outputLabel value="Volt : " -->
				<!-- 							style="color: red; font-weight: bold;" /> -->
				<!-- 						<p:inputText value="#{wire.volt}"></p:inputText> -->

				<!-- 					</p:dataGrid> -->
				<!-- 				</p:panel> -->

				<p:panel header="BORU ÜRETİM BİLGİLERİ" id="pipePanelId"
					widgetVar="pipePanelWidget">
					<h:panelGrid border="0" cellspacing="5" columns="4"
						style="width:100%" id="pipePanelGridId">

						<h:outputText value="#{language.Diameter} (mm) *: "></h:outputText>
						<p:inputText converterMessage="#{language.nbLayersConverterError}"
							value="#{spiralMachineBean.pipe.disCap}">
						</p:inputText>

						<h:outputText value="#{language.Weight} (kg) *: "></h:outputText>
						<p:inputText converterMessage="#{language.nbLayersConverterError}"
							value="#{spiralMachineBean.pipe.agirligi}" required="true"
							requiredMessage="#{language.RequiredMessage}">
						</p:inputText>

						<h:outputText value="#{language.Length} (mm) *: "></h:outputText>
						<p:inputText converterMessage="#{language.nbLayersConverterError}"
							value="#{spiralMachineBean.pipe.boy}">
						</p:inputText>

						<h:outputText value="#{language.WeldLength} (mm) : "></h:outputText>
						<p:inputText converterMessage="#{language.nbLayersConverterError}"
							value="#{spiralMachineBean.pipe.kaynakBoy}">
						</p:inputText>

						<!-- 						<h:outputText value="#{language.RadialOffset} (mm) : "></h:outputText> -->
						<!-- 						<p:inputText converterMessage="#{language.nbLayersConverterError}" -->
						<!-- 							value="#{spiralMachineBean.pipe.radialKacik}"> -->
						<!-- 						</p:inputText> -->

						<h:outputText value="#{language.WallThickness} (mm) *: "></h:outputText>
						<p:inputText converterMessage="#{language.nbLayersConverterError}"
							value="#{spiralMachineBean.pipe.etKalinligi}">
						</p:inputText>

						<!-- 						<h:outputText value="#{language.ResidualMagnetic} : "></h:outputText> -->
						<!-- 						<p:inputText converterMessage="#{language.nbLayersConverterError}" -->
						<!-- 							value="#{spiralMachineBean.pipe.magneticKalici}"> -->
						<!-- 						</p:inputText> -->

						<h:outputText value="#{language.WeldHeight} (mm) : "></h:outputText>
						<p:inputText converterMessage="#{language.nbLayersConverterError}"
							value="#{spiralMachineBean.pipe.kaynakDikici}">
						</p:inputText>

						<!-- 						<h:outputText value="Tezgah Hızı : "></h:outputText> -->
						<!-- 						<p:inputText converterMessage="#{language.nbLayersConverterError}" -->
						<!-- 							value=""> -->
						<!-- 						</p:inputText> -->

						<!-- 						<h:outputText value="#{language.Straightness} (%) : "></h:outputText> -->
						<!-- 						<p:inputText converterMessage="#{language.nbLayersConverterError}" -->
						<!-- 							value="#{spiralMachineBean.pipe.dogrusalik}"> -->
						<!-- 						</p:inputText> -->

						<!-- 						<h:outputText value="#{language.LotNumber} (mm)*: "></h:outputText> -->
						<!-- 						<p:inputText requiredMessage="#{language.RequiredMessage}" -->
						<!-- 							id="numberOfLotsId" -->
						<!-- 							converterMessage="#{language.externalDiameterConverteError}" -->
						<!-- 							value="#{spiralMachineBean.pipe.lotNo}" required="true"> -->
						<!-- 						</p:inputText> -->

						<!-- 						<h:outputText value="#{language.ProductionDate} (gg/aa/yyyy): "></h:outputText> -->
						<!-- 						<p:calendar mode="popup" autocomplete="false" showOn="button" -->
						<!-- 							pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5" -->
						<!-- 							value="#{spiralMachineBean.pipe.productionDate}"></p:calendar> -->

						<h:outputText value="#{language.ProductionDate} (gg/aa/yyyy): "></h:outputText>
						<p:calendar mode="popup" autocomplete="false" showOn="button"
							pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="1"
							value="#{spiralMachineBean.pipe.productionDate}"></p:calendar>

						<h:outputText value="#{language.Note} : "></h:outputText>
						<p:inputTextarea autoResize="false" style="width:125px"
							value="#{spiralMachineBean.pipe.note}" rows="5" maxLength="150">
						</p:inputTextarea>

						<h:outputText value="#{language.BandEkiVar}" />
						<p:selectBooleanCheckbox value="#{spiralMachineBean.pipe.bandEki}" />
					</h:panelGrid>

					<p:separator />

					<!-- PIPE command LINK section -->
					<h:panelGrid border="0" cellspacing="5" columns="4"
						style="width:100%">
						<h:panelGrid border="0" cellspacing="5" columns="8">
							<p:commandLink title="GERİ" process="@this"
								update="growl pipePanelId deleteLinkMessages coilInfoPanelId"
								oncomplete="machinePanelWidget.show(); addPipePanelWidget.close()">
								<p:graphicImage value="/large_icons/back.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="YENI BORU" process="@this pipePanelGridId"
								update="growl pipePanelId producedPipesDataTableId deleteLinkMessages parametrePanelId"
								actionListener="#{spiralMachineBean.pipeNew}">
								<p:graphicImage value="/large_icons/renew.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>

							<!-- 							<p:commandLink title="Boru Üret" process="@this pipePanelGridId" -->
							<!-- 								disabled="#{spiralMachineBean.canProducePipe == false}" -->
							<!-- 								update="pipePanelId producedPipesDataTableId deleteLinkMessages growl" -->
							<!-- 								actionListener="#{spiralMachineBean.pipeProduction}"> -->
							<!-- 								<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage> -->
							<!-- 							</p:commandLink> -->

							<p:commandLink title="BORU ÜRET"
								process="@this pipePanelGridId parametrePanelId"
								disabled="#{spiralMachineBean.pipe.pipeId != null}"
								update="pipePanelId producedPipesDataTableId deleteLinkMessages growl"
								actionListener="#{spiralMachineBean.pipeProduction}">
								<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="BORU DÜZENLE"
								process="@this pipePanelGridId parametrePanelId"
								disabled="#{spiralMachineBean.pipe.pipeId == null}"
								update="growl pipePanelId producedPipesDataTableId deleteLinkMessages"
								actionListener="#{spiralMachineBean.pipeEdit}">
								<p:graphicImage value="/large_icons/change_status.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="SON BORUYU BÖL"
								process="@this pipePanelGridId parametrePanelId"
								disabled="#{spiralMachineBean.pipe.pipeId == null}"
								update="growl pipePanelId producedPipesDataTableId deleteLinkMessages"
								actionListener="#{spiralMachineBean.cutLastPipe}">
								<p:graphicImage value="/large_icons/cut.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<!-- 							<p:commandLink title="#{language.OrderItemSubmitInfo}" -->
							<!-- 								update="growl deleteLinkMessages pipePanelId" process="@this"> -->
							<!-- 								<p:graphicImage value="/large_icons/cancel.png" -->
							<!-- 									style="border:0px"></p:graphicImage> -->
							<!-- 							</p:commandLink> -->

							<p:commandLink title="BARKOD ÜRETMEK İÇİN TIKLAYINIZ!"
								style="color: blue; font-weight: bold;" value="BARKOD ÜRET"
								process="@this pipePanelGridId"
								update="pipePanelId producedPipesDataTableId deleteLinkMessages growl"
								actionListener="#{spiralMachineBean.barcodeBas}">
							</p:commandLink>

							<p:commandLink value="TANAP BARKODU ÜRET"
								style="color: red; font-weight: bold;"
								process="@this pipePanelGridId"
								update="pipePanelId producedPipesDataTableId deleteLinkMessages growl"
								actionListener="#{spiralMachineBean.tanapBarkoduBas}">
							</p:commandLink>

							<h:commandLink id="barkodBasId"
								style="color: blue; font-weight: bold;"
								value="YAZICIDAN BARKOD YAZDIRMAK İÇİN TIKLAYINIZ!"
								title="BARKOD YAZDIR" immediate="true">
								<p:fileDownload value="#{spiralMachineBean.downloadedFile}" />
							</h:commandLink>
						</h:panelGrid>
						<h:panelGrid border="0" cellspacing="5" columns="4"
							style="width:100%">
							<h:panelGrid border="0" cellspacing="5" columns="7">

								<p:separator />
								<p:commandButton value="VARDİYA RAPORLARI" update="growl"
									process="@this pipePanelGridId"
									disabled="#{spiralMachineBean.pipe.pipeId == null}"
									onclick="ImalatDialog.show()" icon="ui-icon-circle-plus">
								</p:commandButton>
							</h:panelGrid>
						</h:panelGrid>

						<!-- INTENTIONALLY WE JUST DONT DISPLAY THIS PART BECAUSE THE DOUBLE COIL
                            PRODUCTION IS SUPPOSED TO BE COMPLETED BY JUST ADDING 2 COILS IN THE MACHINE
                            AND THEN JUST COMPLETE ONE COIL-->
						<!-- DOUBLE COIL SECTION -->
						<h:panelGrid border="0" cellspacing="5" columns="2"
							style="float:right; text-align:right" rendered="false">
							<p:commandLink title="#{language.DoubleCoil}" process="@this"
								onclick="doubleCoilPanelWidget.show()"
								update="growl doubleCoilDataTableId coilInfoPanelId pipePanelId"
								actionListener="#{spiralMachineBean.doubleRuloList}">
								<p:graphicImage value="/large_icons/double.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
					</h:panelGrid>
				</p:panel>

				<p:dataTable var="producedPipe" id="producedPipesDataTableId"
					rowKey="#{producedPipe.pipeId}"
					emptyMessage="#{language.EmptyMessage}"
					value="#{spiralMachineBean.producedPipes}" paginator="true"
					rows="10" selectionMode="single" dblClickSelect="false"
					selection="#{spiralMachineBean.pipe}" dynamic="true"
					paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

					<!-- 					<p:ajax event="rowSelect" -->
					<!-- 						process="listForm:producedPipesDataTableId producedPipesDataTableId @this" -->
					<!-- 						listener="#{ruloBean.loadSelectedRulo}" -->
					<!-- 						update="growl producedPipesDataTableId" /> -->

					<p:ajax event="rowSelect"
						listener="#{spiralMachineBean.setFirstPipeIndex}"
						update="growl producedPipesDataTableId pipePanelId">
					</p:ajax>

					<p:ajax event="rowEdit"
						listener="#{spiralMachineBean.onRowEditPipe}" update="growl" />

					<p:column style="width:32px">
						<p:rowEditor />
					</p:column>

					<p:column sortBy="#{producedPipe.pipeIndex}"
						filterMatchMode="contains">
						<f:facet name="header">
							<h:outputText value="Boru No"></h:outputText>
						</f:facet>
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{producedPipe.pipeIndex}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{producedPipe.pipeIndex}"
									style="width:100%" />
							</f:facet>
						</p:cellEditor>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Boru Barkod"></h:outputText>
						</f:facet>
						<h:outputText value="#{producedPipe.pipeBarkodNo}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Rulo No"></h:outputText>
						</f:facet>
						<h:outputText
							value="#{producedPipe.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Diameter}"></h:outputText>
						</f:facet>
						<h:outputText value="#{producedPipe.disCap}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.WallThickness}"></h:outputText>
						</f:facet>
						<h:outputText value="#{producedPipe.etKalinligi}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Kaynak Uzunluğu"></h:outputText>
						</f:facet>
						<h:outputText value="#{producedPipe.kaynakBoy}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Weight}"></h:outputText>
						</f:facet>
						<h:outputText value="#{producedPipe.agirligi}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Length}"></h:outputText>
						</f:facet>
						<h:outputText value="#{producedPipe.boy}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Explanation}"></h:outputText>
						</f:facet>
						<h:outputText value="#{producedPipe.note}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Band Eki"></h:outputText>
						</f:facet>
						<h:outputText value="VAR" rendered="#{producedPipe.bandEki}"></h:outputText>
						<h:outputText value="YOK"
							rendered="#{producedPipe.bandEki==false}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Barkod"></h:outputText>
						</f:facet>
						<h:outputText value="VAR" style="color: green; font-weight: bold;"
							rendered="#{producedPipe.pipeBarkodNo!=null}"></h:outputText>
						<h:outputText value="YOK" style="color: red; font-weight: bold;"
							rendered="#{producedPipe.pipeBarkodNo==null}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Üretim Tarihi"></h:outputText>
						</f:facet>
						<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
							disabled="true" value="#{producedPipe.productionDate}">
						</p:calendar>
					</p:column>

					<f:facet name="header">
						<h:outputText value="#{language.ProducedPipes}"></h:outputText>
					</f:facet>
				</p:dataTable>

				<!-- IT IS NEVER BEEN DISPLAYED. WAS NOT REMOVED JUST IN CASE WE MIGHT
                    WANT TO RETURN BACK TO THIS SOLUTION -->
				<!-- double coil section -->
				<p:panel header="#{language.Coil}" id="doubleCoilPanelId"
					widgetVar="doubleCoilPanelWidget" closable="true" visible="false">
					<p:dataTable var="rulo" id="doubleCoilDataTableId"
						widgetVar="doubleCoilDataTableWidget"
						emptyMessage="#{language.EmptyMessage}"
						rowKey="#{rulo.ruloYilAndRuloKimlikId}"
						value="#{spiralMachineBean.doubleRuloList}" paginator="true"
						rows="10" selection="#{spiralMachineBean.doubleRulo}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Coil} #{language.id}"></h:outputText>
							</f:facet>
							<h:outputText value="#{rulo.ruloYilAndRuloKimlikId}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.BobinNumber}"></h:outputText>
							</f:facet>
							<h:outputText value="#{rulo.bobinNo}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Dimensions}"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalGenislik} x #{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalEtKalinligi}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.RemainingAmount}"></h:outputText>
							</f:facet>
							<h:outputText value="#{rulo.remainingAmount}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:panel header=" ">
						<h:panelGrid border="0" columns="2" cellspacing="5">
							<h:outputText value="#{language.EndDate} (gg/aa/yyyy)*:"></h:outputText>
							<p:calendar mode="popup" autocomplete="false" showOn="button"
								pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
								value="#{spiralMachineBean.ruloMachineLink.endDate}">
							</p:calendar>

							<h:outputText value="#{language.AmountScraped} (kg) *:"></h:outputText>
							<p:inputText
								converterMessage="#{language.nbLayersConverterError}"
								value="#{spiralMachineBean.ruloMachineLink.amountScrap}">
							</p:inputText>
						</h:panelGrid>
					</p:panel>

					<!-- DOUBLE COIL SECTION -->
					<h:panelGrid border="0" cellspacing="5" columns="3">
						<p:commandLink title="#{language.DoubleCoil}"
							process="@this doubleCoilPanelId pipePanelId"
							update="growl doubleCoilPanelId deleteLinkMessages producedPipesDataTableId"
							actionListener="#{spiralMachineBean.submitDoubleRulo}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
				</p:panel>
			</p:panel>



			<h:panelGrid>
				<!-- ADD ALLOCATED COIL CONFIRM DIALOG section -->
				<p:dialog draggable="true" closable="true" dynamic="true"
					resizable="false" header="#{language.Coil}" maximizable="true"
					id="coilAddConfirmDialogId" widgetVar="coilAddConfirmDialogWidget">
					<p:panel id="addCoilPanelId" style="min-width:600px">
						<p:dataTable var="rulo" id="coilListDataTableId"
							widgetVar="coilListDataTableWidget"
							emptyMessage="#{language.EmptyMessage}"
							rowKey="#{rulo.ruloYilAndRuloKimlikId}"
							rowStyleClass="#{rulo.reservedSalesItem.itemId eq spiralMachineBean.salesItem.itemId ? 'highlightedRowGreen' : rulo.ruloDurum eq 10 ? 'highlightedRowRed' : '' }"
							value="#{spiralMachineBean.allocated.allocatedRulosLazy}"
							paginator="true" rows="12"
							selection="#{spiralMachineBean.allocated.selectedRulos}"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<p:column selectionMode="multiple" style="width:20px" />

							<p:column headerText="Kimlik No"
								sortBy="#{rulo.ruloYilAndRuloKimlikId}"
								filterBy="#{rulo.ruloYilAndRuloKimlikId}">
								<h:outputText value="#{rulo.ruloYilAndRuloKimlikId}" />
							</p:column>
							<p:column headerText="Döküm  No" sortBy="#{rulo.ruloDokumNo}"
								filterBy="#{rulo.ruloDokumNo}">
								<h:outputText value="#{rulo.ruloDokumNo}" />
							</p:column>
							<p:column headerText="Bobin No" sortBy="#{rulo.ruloBobinNo}"
								filterBy="#{rulo.ruloBobinNo}">
								<h:outputText value="#{rulo.ruloBobinNo}" />
							</p:column>
							<p:column headerText="Ebatlar">
								<h:outputText
									value="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalGenislik} X 
											 #{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalEtKalinligi}" />
							</p:column>
							<p:column headerText="Kalite" sortBy="#{rulo.ruloKalite}"
								filterBy="#{rulo.ruloKalite}">
								<h:outputText value="#{rulo.ruloKalite}" />
							</p:column>
							<p:column headerText="Kalan Miktar(kg)">
								<h:outputText
									value="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalKalanMiktar}" />
							</p:column>
							<p:column headerText="İlk Miktar(kg)">
								<h:outputText
									value="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalMiktar}" />
							</p:column>
							<!-- 							<p:column sortBy="#{rulo.ruloDurum}"> -->
							<!-- 								<f:facet name="header"> -->
							<!-- 									<h:outputText value="#{language.Status}"></h:outputText> -->
							<!-- 								</f:facet> -->
							<!-- 								<p:selectOneMenu value="#{rulo.ruloDurum}" disabled="true" -->
							<!-- 									style="width: 140px"> -->
							<!-- 									<f:selectItems var="status" itemValue="#{status.id}" -->
							<!-- 										itemLabel="#{status.displayName}" -->
							<!-- 										value="#{ruloBean.config.config.materials.statuses}"></f:selectItems> -->
							<!-- 								</p:selectOneMenu> -->
							<!-- 							</p:column> -->
							<p:column headerText="Rulo Genel Durumu"
								sortBy="#{rulo.ruloGenelDurum}">
								<h:outputLabel value="Beklemede"
									rendered="#{empty rulo.ruloGenelDurum}" />
								<h:outputLabel value="Beklemede"
									rendered="#{rulo.ruloGenelDurum==0}" />
								<h:outputLabel value="Açık" rendered="#{rulo.ruloGenelDurum==1}" />
								<h:outputLabel value="Kapalı"
									rendered="#{rulo.ruloGenelDurum==2}" />
							</p:column>
							<p:column headerText="Ayrıldığı Teklif"
								sortBy="#{rulo.reservedSalesItem.itemNo}"
								filterBy="#{rulo.reservedSalesItem.itemNo}">
								<h:outputText
									value="#{rulo.reservedSalesItem.proposal.proposalNumber}-#{rulo.reservedSalesItem.itemNo}" />
							</p:column>
							<p:column headerText="Rezervasyon Tarihi"
								sortBy="#{rulo.reservationDate}"
								filterBy="#{rulo.reservationDate}" filterMatchMode="contains">
								<h:outputText value="#{rulo.reservationDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" type="date"
										timeZone="Europe/Istanbul" />
								</h:outputText>
							</p:column>

						</p:dataTable>

						<h:panelGrid border="0" columns="4" cellspacing="5">
							<h:outputText value="#{language.StartDate} (gg/aa/yyyy):"></h:outputText>
							<p:calendar mode="popup" autocomplete="false" showOn="button"
								pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
								value="#{spiralMachineBean.startDate}"></p:calendar>
						</h:panelGrid>

						<!-- ADD COIL COMMAND LINK section -->
						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="addCoilPanelGridId">
							<p:commandLink title="Ruloyu Makineye Ekle"
								process="@this coilListDataTableId addCoilDatePanelGridId newCoilMessages"
								update="growl machinePanelId addCoilPanelId"
								actionListener="#{spiralMachineBean.sendRulosToMachine}"
								oncomplete="coilAddConfirmDialogWidget.hide()">
								<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}"
								onclick="coilAddConfirmDialogWidget.hide()" process="@this">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="newCoilMessages"></p:messages>
					</p:panel>
				</p:dialog>


				<!-- ADD DUST CONFIRM DIALOG section -->
				<p:dialog draggable="true" closable="true" dynamic="true"
					maximizable="true" header="#{language.Dust}" resizable="false"
					id="dustAddConfirmDialogId" widgetVar="dustAddConfirmDialogWidget">
					<p:panel id="addDustPanelId" style="min-width:600px">
						<p:dataTable var="dust" id="dustListDataTableId"
							widgetVar="dustListDataTableWidget"
							rowKey="#{dust.electrodeDustWireId}"
							emptyMessage="#{language.EmptyMessage}"
							value="#{spiralMachineBean.allocated.allocatedDusts}"
							paginator="true" rows="10"
							selection="#{spiralMachineBean.allocated.selectedDusts}"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<p:column selectionMode="multiple" style="width:20px" />

							<p:column sortBy="#{dust.kalite}" filterBy="#{dust.kalite}"
								filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Kalite"></h:outputText>
								</f:facet>
								<h:outputText value="#{dust.kalite}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dust.partNumber}"
								filterBy="#{dust.partNumber}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="#{language.PartNumber}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dust.partNumber}"></h:outputText>
							</p:column>

							<!-- 							<p:column> -->
							<!-- 								<f:facet name="header"> -->
							<!-- 									<h:outputText value="#{language.IncomingDate}"></h:outputText> -->
							<!-- 								</f:facet> -->
							<!-- 								<h:outputText value="#{dust.entranceDate}"></h:outputText> -->
							<!-- 							</p:column> -->

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.InitialAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dust.miktari}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.RemainingAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dust.remainingAmount}"></h:outputText>
							</p:column>
						</p:dataTable>
						<h:panelGrid border="0" columns="4" cellspacing="5"
							id="dustDatePanelGridId">
							<h:outputText value="#{language.StartDate} (gg/aa/yyyy):"></h:outputText>
							<p:calendar mode="popup" autocomplete="false" showOn="button"
								pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
								value="#{spiralMachineBean.dustMachineLink.startDate}"></p:calendar>
							<h:outputText value="" />
							<h:outputText value="" />
							<h:outputText value="İÇ / DIŞ *" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{spiralMachineBean.dustMachineLink.icDis}"
								requiredMessage="Kaynak Tozu Kayıt Edilemedi. İÇ/DIŞ durumunu seçiniz!">
								<f:selectItem itemValue="" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="İÇ KISIMA"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="DIŞ KISIMA"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText value="" />
							<h:outputText value="" />
						</h:panelGrid>

						<!-- DUST COIL COMMAND LINK section -->
						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="addDustPanelGridId">
							<p:commandLink title="#{language.OrderItemSubmitInfo}"
								process="@this addDustPanelId"
								update="growl machinePanelId addDustPanelId"
								actionListener="#{spiralMachineBean.sendDustsToMachine}"
								oncomplete="dustAddConfirmDialogWidget.hide()">
								<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.OrderItemSubmitInfo}"
								onclick="dustAddConfirmDialogWidget.hide()" process="@this">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="newDustMessages"></p:messages>
					</p:panel>
				</p:dialog>


				<!-- ADD WIRE CONFIRM DIALOG section -->
				<p:dialog draggable="true" closable="true" dynamic="true"
					maximizable="true" resizable="false" header="#{language.Wire}"
					id="wireAddConfirmDialogId" widgetVar="wireAddConfirmDialogWidget">
					<p:panel id="addWirePanelId" style="min-width:600px">
						<p:dataTable var="wire" id="wireListDataTableId"
							widgetVar="wireListDataTableWidget"
							emptyMessage="#{language.EmptyMessage}"
							rowKey="#{wire.electrodeDustWireId}"
							value="#{spiralMachineBean.allocated.allocatedWires}"
							paginator="true" rows="10" selectionMode="single"
							selection="#{spiralMachineBean.allocated.selectedWire}"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<!-- 							<p:column selectionMode="multiple" style="width:20px" /> -->

							<p:column sortBy="#{wire.kalite}" filterBy="#{wire.kalite}"
								filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Kalite"></h:outputText>
								</f:facet>
								<h:outputText value="#{wire.kalite}"></h:outputText>
							</p:column>


							<p:column sortBy="#{wire.cinsi}" filterBy="#{wire.cinsi}"
								filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Çap"></h:outputText>
								</f:facet>
								<h:outputText value="#{wire.cinsi}"></h:outputText>
							</p:column>


							<p:column sortBy="#{wire.partNumber}"
								filterBy="#{wire.partNumber}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="#{language.PartNumber}"></h:outputText>
								</f:facet>
								<h:outputText value="#{wire.partNumber}"></h:outputText>
							</p:column>

							<!-- 							<p:column> -->
							<!-- 								<f:facet name="header"> -->
							<!-- 									<h:outputText value="#{language.IncomingDate}"></h:outputText> -->
							<!-- 								</f:facet> -->
							<!-- 								<h:outputText value="#{wire.entranceDate}"></h:outputText> -->
							<!-- 							</p:column> -->

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.InitialAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{wire.miktari}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.RemainingAmount}"></h:outputText>
								</f:facet>
								<h:outputText value="#{wire.remainingAmount}"></h:outputText>
							</p:column>
						</p:dataTable>

						<h:panelGrid border="0" columns="4" cellspacing="5"
							id="wireDatePanelGridId">
							<h:outputText value="#{language.StartDate} (gg/aa/yyyy):"></h:outputText>
							<p:calendar mode="popup" autocomplete="false" showOn="button"
								pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
								value="#{spiralMachineBean.wireMachineLink.startDate}"></p:calendar>
							<h:outputText value="" />
							<h:outputText value="" />
							<h:outputText value="İÇ / DIŞ *" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{spiralMachineBean.wireMachineLink.icDis}"
								requiredMessage="Kaynak Teli Kayıt Edilemedi. İÇ/DIŞ durumunu seçiniz!">
								<f:selectItem itemValue="" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="İÇ KISIMA"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="DIŞ KISIMA"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText value="" />
							<h:outputText value="" />
							<h:outputText value="AC / DC *" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{spiralMachineBean.wireMachineLink.acDc}"
								requiredMessage="Kaynak Teli Kayıt Edilemedi. AC/DC durumunu seçiniz!">
								<f:selectItem itemValue="" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="AC"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="DC"></f:selectItem>
							</p:selectOneMenu>
						</h:panelGrid>

						<!-- WIRE COIL COMMAND LINK section -->
						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="addWirePanelGridId">
							<p:commandLink title="#{language.OrderItemSubmitInfo}"
								process="@this addWirePanelId"
								update="growl machinePanelId addWirePanelId"
								actionListener="#{spiralMachineBean.sendWiresToMachine}"
								oncomplete="wireAddConfirmDialogWidget.hide()">
								<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.OrderItemSubmitInfo}"
								onclick="wireAddConfirmDialogWidget.hide()" process="@this">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="newWireMessages"></p:messages>
					</p:panel>
				</p:dialog>


				<!-- FINISH COIL FROM MACHINES and CUT COIL section -->
				<p:dialog draggable="true" closable="true" dynamic="true"
					maximizable="true" resizable="false" header="#{language.Coil}"
					id="finishCoilDialogId" widgetVar="finishCoilDialogWidget">
					<p:panel id="finishCoilPanelId" style="min-width:600px">
						<h:panelGrid border="0" columns="2" cellspacing="5">
							<h:outputText value="#{language.EndDate} (gg/aa/yyyy)*:"></h:outputText>
							<p:calendar mode="popup" autocomplete="false" showOn="button"
								pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
								mindate="#{spiralMachineBean.ruloMachineLink.startDate}"
								value="#{spiralMachineBean.ruloMachineLink.endDate}">
							</p:calendar>

							<h:outputText value="#{language.AmountConsumed}(kg) *:"></h:outputText>
							<p:inputText
								converterMessage="#{language.nbLayersConverterError}"
								value="#{spiralMachineBean.ruloMachineLink.amountConsumed}">
								<f:validator validatorId="emptyFieldValidator"></f:validator>
							</p:inputText>

							<h:outputText value="#{language.AmountScraped} (kg) *:"></h:outputText>
							<p:inputText
								converterMessage="#{language.nbLayersConverterError}"
								value="#{spiralMachineBean.ruloMachineLink.amountScrap}">
								<f:validator validatorId="emptyFieldValidator"></f:validator>
							</p:inputText>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="addCoilLinkPanelGridId">
							<p:commandLink title="#{language.OrderItemSubmitInfo}"
								process="@this finishCoilPanelId"
								update="growl finishCoilPanelId machinePanelId"
								disabled="#{spiralMachineBean.ruloMachineLink.id == 0}"
								actionListener="#{spiralMachineBean.ruloProduction}">
								<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.Cancel}"
								update="growl updateCoilMessages" immediate="true"
								onclick="finishCoilDialogWidget.hide()" process="@this">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="updateCoilMessages"></p:messages>
					</p:panel>
				</p:dialog>


				<!-- FINISH DUST processing FROM MACHINES -->
				<p:dialog draggable="true" closable="true" dynamic="true"
					maximizable="true" resizable="false" header="#{language.Electrode}"
					id="finishDustDialogId" widgetVar="finishDustDialogWidget">
					<p:panel id="finishDustPanelId" style="min-width:600px">
						<h:panelGrid border="0" columns="2" cellspacing="5">
							<h:outputText value="#{language.EndDate} (gg/aa/yyyy)*:"></h:outputText>
							<p:calendar mode="popup" autocomplete="false" showOn="button"
								pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
								converterMessage="#{language.nbLayersConverterError}"
								value="#{spiralMachineBean.dustMachineLink.endDate}"
								mindate="#{spiralMachineBean.dustMachineLink.startDate}">
							</p:calendar>

							<h:outputText value="#{language.AmountConsumed}(kg) *:"></h:outputText>
							<p:inputText
								converterMessage="#{language.nbLayersConverterError}"
								value="#{spiralMachineBean.dustMachineLink.amountConsumed}">
								<f:validator validatorId="emptyFieldValidator"></f:validator>
							</p:inputText>
						</h:panelGrid>

						<!-- FINISH DUST PROCESS PANEL GRID section-->
						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="finishDustLinkPanelGridId">
							<p:commandLink title="#{language.OrderItemSubmitInfo}"
								process="@this finishDustDialogId"
								disabled="#{spiralMachineBean.dustMachineLink.id == 0}"
								rendered="#{spiralMachineBean.dustMachineLink.id != null}"
								update="growl dustInfoPanelId finishDustPanelId coilInfoPanelId machinePanelId"
								actionListener="#{spiralMachineBean.dustProduction}">
								<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.OrderItemSubmitInfo}"
								update="growl finishDustMessages"
								onclick="finishDustDialogWidget.hide()" process="@this">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="finishDustMessages"></p:messages>
					</p:panel>
				</p:dialog>


				<!-- FINISH WIRE processing FROM MACHINES -->
				<p:dialog draggable="true" closable="true" dynamic="true"
					maximizable="true" resizable="false" header="#{language.Wire}"
					id="finishWireDialogId" widgetVar="finishWireDialogWidget">
					<p:panel id="finishWirePanelId" style="min-width:600px">
						<h:panelGrid border="0" columns="2" cellspacing="5">
							<h:outputText value="#{language.EndDate} (gg/aa/yyyy)*:"></h:outputText>
							<p:calendar mode="popup" autocomplete="false" showOn="button"
								pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
								converterMessage="#{language.nbLayersConverterError}"
								value="#{spiralMachineBean.wireMachineLink.endDate}"
								mindate="#{spiralMachineBean.wireMachineLink.startDate}">
							</p:calendar>

							<h:outputText value="#{language.AmountConsumed}(kg) *:"></h:outputText>
							<p:inputText
								converterMessage="#{language.nbLayersConverterError}"
								value="#{spiralMachineBean.wireMachineLink.amountConsumed}">
								<f:validator validatorId="emptyFieldValidator"></f:validator>
							</p:inputText>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="finishWireLinkPanelGridId">
							<p:commandLink title="#{language.OrderItemSubmitInfo}"
								process="@this finishWireDialogId"
								disabled="#{spiralMachineBean.wireMachineLink.id == 0}"
								rendered="#{spiralMachineBean.wireMachineLink.id != null}"
								update="growl wireInfoPanelId finishWirePanelId coilInfoPanelId machinePanelId"
								actionListener="#{spiralMachineBean.wireProduction}">
								<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.OrderItemSubmitInfo}"
								update="growl finishWireMessages"
								onclick="finishWireDialogWidget.hide()" process="@this">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="finishWireMessages"></p:messages>
					</p:panel>
				</p:dialog>


				<!-- CUT COIL PROCESS section-->
				<p:dialog draggable="true" closable="true" dynamic="true"
					maximizable="true" resizable="false" header="#{language.Coil}"
					id="cutCoilDialogId" widgetVar="cutCoilDialogWidget">
					<p:panel header="" id="cutCoilPanelId">
						<h:panelGrid border="0" columns="2" cellspacing="5">
							<h:outputText value="#{language.EndDate} (gg/aa/yyyy)*:"></h:outputText>
							<p:calendar mode="popup" autocomplete="false" showOn="button"
								pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5"
								converterMessage="#{language.nbLayersConverterError}"
								value="#{spiralMachineBean.ruloMachineLink.endDate}">
							</p:calendar>

							<h:outputText value="#{language.NewCoilWeight}(kg) *:"></h:outputText>
							<p:inputText
								converterMessage="#{language.nbLayersConverterError}"
								value="#{spiralMachineBean.ruloMachineLink.amountConsumed}">
								<f:validator validatorId="emptyFieldValidator"></f:validator>
							</p:inputText>

							<h:outputText value="#{language.AmountScraped} (kg) *:"></h:outputText>
							<p:inputText
								converterMessage="#{language.nbLayersConverterError}"
								value="#{spiralMachineBean.ruloMachineLink.amountScrap}">
								<f:validator validatorId="emptyFieldValidator"></f:validator>
							</p:inputText>

							<h:outputText value="New coil width: "></h:outputText>
							<h:outputText id="newCoilWidthOutputTextId"
								value="#{currentMachineStatus.cuttedRuloWidth}"></h:outputText>
							<h:inputHidden id="hiddenWidthInput"
								value="#{spiralMachineBean.cuttedRuloWidth}" />
							<p:slider minValue="0" for="hiddenWidthInput"
								display="newCoilWidthOutputTextId"
								maxValue="#{spiralMachineBean.currentRulo.width}"
								style="width:200px"></p:slider>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="cutCoilLinkPanelGridId">
							<p:commandLink title="#{language.OrderItemSubmitInfo}"
								process="cutCoilPanelId" update="growl cutCoilPanelId"
								actionListener="#{spiralMachineBean.cutRulo}">
								<p:graphicImage value="/large_icons/cut.png" style="border:0px"></p:graphicImage>
							</p:commandLink>
							<p:commandLink title="#{language.OrderItemSubmitInfo}"
								update="growl updateCoilMessages"
								onclick="cutCoilDialogWidget.hide()" process="@this">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages></p:messages>
					</p:panel>
				</p:dialog>
			</h:panelGrid>

			<p:dialog widgetVar="ImalatDialog" header="İMALAT VARDİYA RAPORU"
				id="ImalatDialogId">

				<h:outputText value="VARDİYA" style="font-weight: bold;"></h:outputText>
				<p:selectOneMenu value="#{testProductionReportBean.raporVardiya}">
					<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
					<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
					<f:selectItem itemValue="0" itemLabel="GECE"></f:selectItem>
				</p:selectOneMenu>

				<h:outputText value="Test Zamanı (gg/aa/yyyy): "
					style="font-weight: bold;"></h:outputText>
				<h:outputText style="width:10px;" value="" />

				<p:calendar mode="popup" autocomplete="false" showOn="button"
					stepMinute="5" required="true"
					pattern="#{userCredentialsBean.dateFormat}"
					requiredMessage="#{language.RequiredMessage}"
					value="#{testProductionReportBean.raporTarihi}"></p:calendar>

				<p:spacer width="15" height="50" />

				<h:commandButton
					action="#{testProductionReportBean.imalatVardiyaReportXlsx()}"
					title="FR-08" value="FR-08 İMALAT VARDİYA RAPORU">
					<f:ajax execute="ImalatDialogId" />
				</h:commandButton>

				<h:commandButton
					action="#{testProductionReportBean.plazmaKesimReportXlsx()}"
					title="FR-262" value="FR-262 PLAZMA KESİM BOYLARI RAPORU">
					<f:ajax execute="ImalatDialogId" />
				</h:commandButton>

				<h:commandLink value="RAPORU İNDİRMEK İÇİN TIKLAYINIZ!"
					title="RAPORU İNDİR" immediate="true">
					<p:fileDownload value="#{testProductionReportBean.downloadedFile}" />
				</h:commandLink>
			</p:dialog>

			<p:growl id="growl" />
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>

