@CHARSET "ISO-8859-1";

body {
	margin: 0px auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #4e4e4e;
}

.background {
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	width: 800px;
	height: 500px;
	margin: 0 auto;
}

.baslik {
	position: absolute;
	right: 50%;
	margin-right: -300px;
	margin-top: 150px;
	width: 400px;
	font-size: 22px;
	color: #59a8cb;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
}

.text {
	padding-right: -100px;
	float: left;
}

.textbox {
	float: left;
	padding-left: 25px;
}

.clear {
	clear: both;
}

.satir {
	width: 262px;
	padding-left: 193px;
}

.form {
	position: absolute;
	margin-top: 22px;
	height: 380px;
	margin-left: 9px;
	width: 605px;
}

.warning {
	position: absolute;
	width: 300px;
	right: 50%;
	margin-right: -200px;
	margin-top: 400px;
	width: 350px;
}

.login {
	margin-left: 120px;
	float: left;
}

.cancel {
	float: left;
}

.centered {
	position: absolute;
	width: 300px;
	right: 50%;
	margin-right: -300px;
	margin-top: 220px;
	width: 400px;
}

.layout {
	top: 20px;
	height: 1000px;
	width: 1150px;
}

.importantText {
	font-size: 14;
	font-style: oblique;
	font-weight: bold;
}

.form_large_left {
	width: 20%;
}

.form_large_right {
	width: 80%;
}

.turkish1 {
	background-image: url("/images/turkish.jpg");
}

.highlightedRowGreen {
	font-size: 14;
	font-style: oblique;
	font-weight: bold;
	background-color: #86BF8A;
}

.highlightedRowBlue {
	font-size: 14;
	font-style: oblique;
	font-weight: bold;
	background-color: #59A6BF;
}

.highlightedRowRed {
	font-size: 14;
	font-style: oblique;
	font-weight: bold;
	background-color: #E56660;
}

.highlightedRowYellow {
	font-size: 14;
	font-style: oblique;
	font-weight: bold;
	background-color: #FFFF00;
}

.highlightedRowOrange {
	font-size: 14;
	font-style: oblique;
	font-weight: bold;
	background-color: #FFA500;
}

.ui-growl {
	position: fixed;
	width: 360px;
	height: 110px;
	/* 	top: 0; */
	/* 	bottom: 0; */
	/* 	left: 0; */
	/* 	right: 0; */
	margin: auto;
	font-weight: bold;
	font: 28px "Lucida Console", Monaco, monospace;
	text-align: center;
}