<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">

		<ui:define name="showPanel">

			<p:panel header="#{language.Maintenance} #{language.Schedule}"
				multiple="true" autoHeight="false" closable="true" toggleable="true"
				style="padding:0px; width:100%;" id="maintenanceSchedulePanelId"
				widgetVar="maintenanceSchedulePanelWidget" visible="true">

				<p:dataTable var="plan" value="#{periodicPlanBean.allPlanList}"
					scrollable="false" dblClickSelect="false"
					widgetVar="planListDataTableWidget" rowKey="#{plan.periodicPlanId}"
					paginator="true" rows="10"
					selection="#{periodicPlanBean.selectedPlan}"
					resizableColumns="true" liveResize="true" liveScroll="true"
					paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
					selectionMode="single" id="planListDataTableId">

					<p:ajax process="@this planListDataTableId" event="rowSelect"
						update="planUpdatePanelId planUpdatePanelGridId"
						oncomplete="planUpdatePanelWidget.show()"></p:ajax>

					<f:facet name="header">
						<h:outputText value="#{language.Plan} #{language.List}"></h:outputText>
					</f:facet>

					<p:column headerText="#{language.Machine}"
						sortBy="#{plan.machine.name}" filterBy="#{plan.machine.name}">
						<h:outputText value="#{plan.machine.name}"></h:outputText>
					</p:column>

					<p:column headerText="#{language.MachinePart}"
						sortBy="#{plan.machinePart.partName}"
						filterBy="#{plan.machinePart.partName}">
						<h:outputText value="#{plan.machinePart.partName}"></h:outputText>
					</p:column>

					<p:column headerText="#{language.Year}" sortBy="#{plan.year}"
						filterBy="#{plan.year}">
						<h:outputText value="#{plan.year}"></h:outputText>
					</p:column>

					<p:column headerText="#{language.MaintenancePeriod}"
						sortBy="#{plan.planPeriod}" filterBy="#{plan.planPeriod}">
						<h:outputText value="#{language.Monthly}"
							rendered="#{plan.planPeriod == '1'}" />
						<h:outputText value="#{language.ThreeMensal}"
							rendered="#{plan.planPeriod == '3'}" />
						<h:outputText value="#{language.SixMensal}"
							rendered="#{plan.planPeriod == '6'}" />
					</p:column>

					<p:column styleClass="smallColumn">
						<f:facet name="header">
							<h:outputText value="#{language.January}" />
						</f:facet>
						<h:outputText value="#{plan.janStartDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="#{periodicPlanBean.systemTimeZone}" />
						</h:outputText>
						<h:outputText value=" "></h:outputText>
						<h:outputText value="#{plan.janEndDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="#{periodicPlanBean.systemTimeZone}" />
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.February}" />
						</f:facet>
						<h:outputText value="#{plan.febStartDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
						<h:outputText value=" "></h:outputText>
						<h:outputText value="#{plan.febEndDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.March}" />
						</f:facet>
						<h:outputText value="#{plan.marStartDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
						<h:outputText value=" "></h:outputText>
						<h:outputText value="#{plan.marEndDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.April}" />
						</f:facet>
						<h:outputText value="#{plan.aprStartDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
						<h:outputText value=" "></h:outputText>
						<h:outputText value="#{plan.aprEndDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.May}" />
						</f:facet>
						<h:outputText value="#{plan.mayStartDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
						<h:outputText value=" "></h:outputText>
						<h:outputText value="#{plan.mayEndDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.June}" />
						</f:facet>
						<h:outputText value="#{plan.junStartDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
						<h:outputText value=" "></h:outputText>
						<h:outputText value="#{plan.junEndDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.July}" />
						</f:facet>
						<h:outputText value="#{plan.julStartDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
						<h:outputText value=" "></h:outputText>
						<h:outputText value="#{plan.julEndDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.August}" />
						</f:facet>
						<h:outputText value="#{plan.augStartDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
						<h:outputText value=" "></h:outputText>
						<h:outputText value="#{plan.augEndDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.September}" />
						</f:facet>
						<h:outputText value="#{plan.sepStartDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
						<h:outputText value=" "></h:outputText>
						<h:outputText value="#{plan.sepEndDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.October}" />
						</f:facet>
						<h:outputText value="#{plan.octStartDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
						<h:outputText value=" "></h:outputText>
						<h:outputText value="#{plan.octEndDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.November}" />
						</f:facet>
						<h:outputText value="#{plan.novStartDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
						<h:outputText value=" "></h:outputText>
						<h:outputText value="#{plan.novEndDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.December}" />
						</f:facet>
						<h:outputText value="#{plan.decStartDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
						<h:outputText value=" "></h:outputText>
						<h:outputText value="#{plan.decEndDate}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="Europe/Istanbul" />
						</h:outputText>
					</p:column>

				</p:dataTable>



				<!-- PLAN UPDATE DIALOG -->
				<p:dialog header="#{language.Plan} #{language.Update}"
					resizable="true" closable="true" toggleable="true"
					id="planUpdatePanelId" widgetVar="planUpdatePanelWidget"
					visible="false" width="450">

					<h:panelGrid id="planUpdatePanelGridId" columns="3" cellpadding="5">

						<h:outputLabel value="#{language.January}"
							rendered="#{periodicPlanBean.selectedPlan.janStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.janStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.janStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.janEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.janStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.February}"
							rendered="#{periodicPlanBean.selectedPlan.febStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.febStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.febStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.febEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.febStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.March}"
							rendered="#{periodicPlanBean.selectedPlan.marStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.marStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.marStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.marEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.marStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.April}"
							rendered="#{periodicPlanBean.selectedPlan.aprStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.aprStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.aprStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.aprEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.aprStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.May}"
							rendered="#{periodicPlanBean.selectedPlan.mayStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.mayStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.mayStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.mayEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.mayStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.June}"
							rendered="#{periodicPlanBean.selectedPlan.junStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.junStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.junStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.junEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.junStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.July}"
							rendered="#{periodicPlanBean.selectedPlan.julStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.julStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.julStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.julEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.julStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.August}"
							rendered="#{periodicPlanBean.selectedPlan.augStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.augStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.augStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.augEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.augStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.September}"
							rendered="#{periodicPlanBean.selectedPlan.sepStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.sepStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.sepStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.sepEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.sepStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.October}"
							rendered="#{periodicPlanBean.selectedPlan.octStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.octStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.octStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.octEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.octStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.November}"
							rendered="#{periodicPlanBean.selectedPlan.novStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.novStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.novStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.novEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.novStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

						<h:outputLabel value="#{language.December}"
							rendered="#{periodicPlanBean.selectedPlan.decStartDate != null}" />
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.decStartDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.decStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>
						<p:calendar mode="popup" style="width: 140px"
							value="#{periodicPlanBean.selectedPlan.decEndDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							rendered="#{periodicPlanBean.selectedPlan.decStartDate != null}"
							converterMessage="#{language.nbLayersConverterError}">
							<f:validator validatorId="itemEndDateValidator"></f:validator>
						</p:calendar>

					</h:panelGrid>

					<h:panelGrid cellspacing="5" columns="5">
						<p:commandLink title="#{language.Submit}"
							actionListener="#{periodicPlanBean.updatePlanDates}"
							update="planListDataTableId planUpdatePanelId maintenanceSchedulePanelId"
							process="planUpdatePanelGridId">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>

						<p:commandLink title="#{language.Cancel}" immediate="true"
							onclick="planUpdatePanelWidget.hide()" process="@this">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
				</p:dialog>
			</p:panel>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>

	</ui:composition>
</h:body>
</html>