<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel id="accordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="accordionPanelWidget">
				<c:forEach items="#{machineListBean.spiralMachineList}"
					var="machine">
					<p:tab title="#{machine.name}">
						<p:panel style="width:100%" header=" ">
							<h:panelGrid border="0" cellspacing="10" columns="2"
								style="width:100%">
								<h:outputLabel value="#{language.MachineName} :  " />
								<h:outputText value="#{machine.name}"></h:outputText>

								<h:outputLabel value="#{language.Brand} :  " />
								<h:outputText value="#{machine.brand}"></h:outputText>

								<h:outputLabel value="#{language.Model} :  " />
								<h:outputText value="#{machine.model}"></h:outputText>

								<h:outputLabel value="#{language.Description} :  " />
								<h:outputText value="#{machine.description}"></h:outputText>

								<h:outputLabel value="#{language.Status} :  " />
								<h:outputText value="#{machine.status}"></h:outputText>

								<h:outputLabel value="#{language.SerialNumber} :  " />
								<h:outputText value="#{machine.serialNumber}"></h:outputText>
							</h:panelGrid>
						</p:panel>
					</p:tab>
				</c:forEach>
			</p:accordionPanel>
		</ui:define>

		<!-- REPORT SECTION -->
		<ui:define name="showPanel">
			<p:panel header="#{language.Pipe}" id="pipePanelId">
				<!-- REPORT CONTROL -->
				<p:panel
					header="#{language.Machine}: #{pipeProductionMachineBean.selectedMachine.name}"
					id="reportPanelId" widgetVar="reportPanelWidged">
					<h:panelGrid columns="2" border="0" cellspacing="10"
						style="width:100%">
						<h:outputText value="#{language.Machine}: "></h:outputText>
						<p:selectOneMenu style="width: 140px"
							value="#{pipeProductionReportBean.selectedMachine.machineId}">
							<c:forEach items="#{machineListBean.spiralMachineList}" step="1"
								var="spiralMachine">
								<f:selectItem itemValue="#{spiralMachine.machineId}"
									itemLabel="#{spiralMachine.name}" />
							</c:forEach>
						</p:selectOneMenu>

						<h:outputText value="#{language.Language}: "></h:outputText>
						<p:selectOneMenu style="width: 140px"
							value="#{pipeProductionReportBean.language}">
							<f:selectItem itemValue="tr" itemLabel="TR" />
							<f:selectItem itemValue="en" itemLabel="EN" />
						</p:selectOneMenu>

						<h:outputText value="#{language.SortingOrder}: "></h:outputText>
						<p:selectOneMenu style="width: 140px"
							value="#{pipeProductionReportBean.sortingOrder}">
							<f:selectItem itemValue="ASC" itemLabel="#{language.Ascendance}" />
							<f:selectItem itemValue="DESC"
								itemLabel="#{language.Descendance}" />
						</p:selectOneMenu>

						<h:outputText value="#{language.StartDate} (mm/dd/yyyy): "></h:outputText>
						<p:calendar pattern="MM/dd/yyyy HH:mm" stepMinute="5"
							required="true" requiredMessage="#{language.RequiredMessage}"
							value="#{pipeProductionReportBean.startDate}" showOn="button">
						</p:calendar>

						<h:outputText value="#{language.EndDate} (mm/dd/yyyy): "></h:outputText>
						<p:calendar pattern="MM/dd/yyyy HH:mm" stepMinute="5"
							required="true" requiredMessage="#{language.RequiredMessage}"
							value="#{pipeProductionReportBean.endDate}" showOn="button">
						</p:calendar>
					</h:panelGrid>

					<!-- COMMAND LINK SECTION -->
					<h:panelGrid border="0" columns="5" cellspacing="5">
						<p:commandLink title="#{language.Submit}"
							process="@this reportPanelId"
							actionListener="#{pipeProductionReportBean.genPipeProductionReport}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink process="@this" title="#{language.Cancel}"
							update="reportMessages">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
				</p:panel>
			</p:panel>
			<p:messages showDetail="true" showSummary="true" id="reportMessages"></p:messages>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>