<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel id="accordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="accordionPanelWidget">
				<c:forEach items="#{coatTypeListBean.typeList}" var="type">
					<p:tab title="#{type.name}">
						<p:panel closable="false" toggleable="false">
							<h:panelGrid columns="2" cellspacing="5">
								<h:outputText value="#{language.Name}: "></h:outputText>
								<p:inputText value="#{type.name}" readonly="true">
								</p:inputText>

								<h:outputText value="#{language.Description}: "></h:outputText>
								<p:inputTextarea value="#{type.description}" autoResize="false"
									maxHeight="5" readonly="true" style="width:125px">
								</p:inputTextarea>
							</h:panelGrid>
						</p:panel>
					</p:tab>
				</c:forEach>
			</p:accordionPanel>
		</ui:define>

		<!-- REPORT SECTION -->
		<ui:define name="showPanel">
			<!-- REPORT AREA -->
			<p:panel header="#{language.ManMaterials}" id="reportPanelId"
				widgetVar="reportPanelWidged">
				<h:panelGrid columns="2" border="0" cellspacing="10"
					style="width:100%">
					<h:outputText value="#{language.Language}: "></h:outputText>
					<p:selectOneMenu style="width: 140px"
						value="#{stockReportBean.language}">
						<f:selectItem itemValue="en" itemLabel="EN" />
						<f:selectItem itemValue="tr" itemLabel="TR" />
					</p:selectOneMenu>

					<h:outputText value="#{language.Material}: "></h:outputText>
					<p:selectOneMenu style="width: 140px"
						value="#{stockReportBean.materialName}">
						<f:selectItem itemValue="coil" itemLabel="#{language.Coil}" />
						<f:selectItem itemValue="electrode"
							itemLabel="#{language.Electrode}" />
						<f:selectItem itemValue="dust" itemLabel="#{language.Dust}" />
						<f:selectItem itemValue="wire" itemLabel="#{language.Wire}" />
					</p:selectOneMenu>

					<h:outputText value="#{language.OrderBy}: "></h:outputText>
					<p:selectOneMenu style="width: 140px"
						value="#{stockReportBean.orderBy}">
						<f:selectItem itemValue="width"
							itemLabel="#{language.Diameter}  (mm)" />
						<f:selectItem itemValue="initialAgirlik"
							itemLabel="#{language.InitialWeight} (kg)" />
						<f:selectItem itemValue="remainingAmount"
							itemLabel="#{language.RemainingAmount} (kg)" />
						<f:selectItem itemValue="kalinlik"
							itemLabel="#{language.WallThickness} (mm)" />
					</p:selectOneMenu>

					<h:outputText value="#{language.SortingOrder}: "></h:outputText>
					<p:selectOneMenu style="width: 140px"
						value="#{stockReportBean.sortingOrder}">
						<f:selectItem itemValue="true" itemLabel="#{language.Ascendance}" />
						<f:selectItem itemValue="false"
							itemLabel="#{language.Descendance}" />
					</p:selectOneMenu>

					<h:outputText value="#{language.StartDate} (mm/dd/yyyy): "></h:outputText>
					<p:calendar pattern="MM/dd/yyyy HH:mm" stepMinute="5"
						value="#{stockReportBean.startDate}" showOn="button">
					</p:calendar>

					<h:outputText value="#{language.EndDate} (mm/dd/yyyy): "></h:outputText>
					<p:calendar pattern="MM/dd/yyyy HH:mm" stepMinute="5"
						value="#{stockReportBean.endDate}" showOn="button">
					</p:calendar>
				</h:panelGrid>

				<!-- COMMAND LINK SECTION -->
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandLink title="#{language.Submit}"
						process="@this reportPanelId" update="reportPanelId"
						actionListener="#{stockReportBean.genStockReport}">
						<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
					<p:commandLink process="@this" title="#{language.Cancel}"
						update="reportMessages">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
			</p:panel>

			<!-- COAT REPORT AREA -->
			<p:panel header="#{language.CoatMaterial}" id="coatReportPanelId"
				widgetVar="coatReportPanelWidged">
				<h:panelGrid columns="2" border="0" cellspacing="10"
					style="width:100%">
					<h:outputText value="#{language.Language}: "></h:outputText>
					<p:selectOneMenu style="width: 140px"
						value="#{coatStockReportBean.language}">
						<f:selectItem itemValue="en" itemLabel="EN" />
						<f:selectItem itemValue="tr" itemLabel="TR" />
					</p:selectOneMenu>

					<h:outputText value="#{language.Material}: "></h:outputText>
					<p:selectOneMenu style="width: 140px"
						value="#{coatStockReportBean.coatTypeName}">
						<c:forEach items="#{coatTypeListBean.typeList}" var="type">
							<f:selectItem itemValue="#{type.name}" itemLabel="#{type.name}" />
						</c:forEach>
						<f:selectItem itemValue="all" itemLabel="#{language.All}" />
					</p:selectOneMenu>

					<h:outputText value="#{language.OrderBy}: "></h:outputText>
					<p:selectOneMenu style="width: 140px"
						value="#{coatStockReportBean.orderBy}">
						<f:selectItem itemValue="1"
							itemLabel="#{language.InitialWeight} (kg)" />
						<f:selectItem itemValue="2"
							itemLabel="#{language.RemainingAmount} (kg)" />
						<f:selectItem itemValue="3" itemLabel="#{language.EntranceDate}" />
						<f:selectItem itemValue="4" itemLabel="#{language.Type}" />
					</p:selectOneMenu>

					<h:outputText value="#{language.SortingOrder}: "></h:outputText>
					<p:selectOneMenu style="width: 140px"
						value="#{coatStockReportBean.sortingOrder}">
						<f:selectItem itemValue="ASC" itemLabel="#{language.Ascendance}" />
						<f:selectItem itemValue="DESC" itemLabel="#{language.Descendance}" />
					</p:selectOneMenu>

					<h:outputText value="#{language.StartDate} (mm/dd/yyyy): "></h:outputText>
					<p:calendar pattern="MM/dd/yyyy HH:mm" stepMinute="5"
						value="#{coatStockReportBean.startDate}" showOn="button">
					</p:calendar>

					<h:outputText value="#{language.EndDate} (mm/dd/yyyy): "></h:outputText>
					<p:calendar pattern="MM/dd/yyyy HH:mm" stepMinute="5"
						value="#{coatStockReportBean.endDate}" showOn="button">
					</p:calendar>
				</h:panelGrid>

				<!-- COMMAND LINK SECTION -->
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandLink title="#{language.Submit}"
						process="@this reportPanelId"
						actionListener="#{pipeProductionReportBean.genPipeProductionReport}">
						<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
					<p:commandLink process="@this" title="#{language.Cancel}"
						update="reportMessages">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
			</p:panel>
			<p:messages showDetail="true" showSummary="true" id="reportMessages"></p:messages>
		</ui:define>
	</ui:composition>
</h:body>
</html>