<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel id="consumableMaterialsAccordionPanelId"
				autoHeight="false" style="padding:0px"
				widgetVar="accordionPanelWidget">
				<c:forEach items="#{materialCategoryListBean.consumableCategories}"
					var="consumableMaterials">
					<p:tab title="#{consumableMaterials.categoryName}">
						<p:panel style="width:100%" header=" ">
							<h:panelGrid border="0" cellspacing="10" columns="2"
								style="width:100%">
								<h:outputLabel value="#{language.CategoryName} :  " />
								<h:outputText value="#{consumableMaterials.categoryName}"></h:outputText>

								<h:outputLabel value="#{language.Code} :  " />
								<h:outputText value="#{consumableMaterials.code}"></h:outputText>

								<h:outputLabel value="#{language.vat} :  " />
								<h:outputText value="#{consumableMaterials.kdv}"></h:outputText>

								<h:outputLabel value="#{language.Consumable} :  " />

								<c:if test="#{consumableMaterials.consumable == true}">
									<h:outputText value="#{language.Yes}"></h:outputText>
								</c:if>
								<c:if test="#{consumableMaterials.consumable == false}">
									<h:outputText value="#{language.No}"></h:outputText>
								</c:if>

								<h:outputLabel value="#{language.MachineMaintenance} :  " />

								<c:if test="#{consumableMaterials.machineMaintenance == true}">
									<h:outputText value="#{language.Yes}"></h:outputText>
								</c:if>
								<c:if test="#{consumableMaterials.machineMaintenance == false}">
									<h:outputText value="#{language.No}"></h:outputText>
								</c:if>

							</h:panelGrid>

							<h:panelGrid border="0" columns="2" cellspacing="5">
								<p:commandLink immediate="true" title="#{language.Add}"
									process="@this addMaterialOrderConfirmDialogId"
									oncomplete="addMaterialOrderConfirmDialogWidget.show()"
									actionListener="#{consumableMaterialsBean.prepareAdd(consumableMaterials,false)}"
									update="addMaterialOrderPanelId">
									<p:graphicImage value="/small_icons/add.png" style="border:0px"></p:graphicImage>
								</p:commandLink>
								<p:commandLink immediate="true" title="#{language.List}"
									process="@this consumableMaterialsAccordionPanelId"
									update="orderListDataTableId orderDetailPanelId"
									actionListener="#{consumableMaterialsBean.setViewEnable(true)}"
									action="#{materialOrderedBean.getCategoryOrders(consumableMaterials)}">
									<p:graphicImage value="/small_icons/view.gif"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</p:panel>
					</p:tab>
				</c:forEach>
			</p:accordionPanel>
		</ui:define>

		<ui:define name="showPanel">
			<!-- Add Material Order Dialog  -->
			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" style="min-width:600px"
				header="#{language.Add} #{language.Order}"
				id="addMaterialOrderConfirmDialogId"
				widgetVar="addMaterialOrderConfirmDialogWidget">
				<p:panel closable="false" toggleable="true"
					id="addMaterialOrderPanelId" style="width:100%"
					widgetVar="addMaterialOrderPanelWidget" visible="true">

					<h:panelGrid columns="2" border="0" cellspacing="10"
						style="width:100%">
						<!-- details here -->
						<c:if test="#{consumableMaterialsBean.showCategory == true}">
							<h:outputText value="#{language.Category} :"></h:outputText>
							<p:selectOneMenu
								value="#{consumableMaterialsBean.materialCategory.materialCategoryId}"
								style="width: 140px">
								<c:forEach
									items="#{materialCategoryListBean.consumableCategories}"
									var="categories">
									<f:selectItem itemValue="#{categories.materialCategoryId}"
										itemLabel="#{categories.categoryName}" />
								</c:forEach>

							</p:selectOneMenu>
						</c:if>
						<h:outputLabel value="#{language.Supplier} :"></h:outputLabel>
						<p:selectOneMenu style="width: 140px"
							value="#{consumableMaterialsBean.materialOrdered.supplier.supplierId}"
							converterMessage="#{language.ConverterMessage}">
							<c:forEach items="#{supplierListBean.suppliers}" var="suplist">
								<f:selectItem itemValue="#{suplist.supplierId}"
									itemLabel="#{suplist.name}" />
							</c:forEach>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.Measure} :"></h:outputLabel>
						<p:selectOneMenu style="width: 140px"
							value="#{consumableMaterialsBean.materialOrdered.unitMeasure.measureCode}">
							<c:forEach items="#{unitMeasureListBean.unitMeasures}" var="unit">
								<f:selectItem itemValue="#{unit.measureCode}"
									itemLabel="#{unit.fullName}" />
							</c:forEach>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.Currency} :"></h:outputLabel>
						<p:selectOneMenu style="width: 140px"
							value="#{consumableMaterialsBean.materialOrdered.currency.currencyCode}">
							<c:forEach items="#{currencyListBean.currencyList}"
								var="currency">
								<f:selectItem itemValue="#{currency.currencyCode}"
									itemLabel="#{currency.currencyName}" />
							</c:forEach>
						</p:selectOneMenu>


						<h:outputLabel value="#{language.MaterialCode} :"></h:outputLabel>
						<p:inputText
							value="#{consumableMaterialsBean.materialOrdered.materialCode}"></p:inputText>

						<h:outputLabel value="#{language.OrginalUnitPrice} :"></h:outputLabel>
						<p:inputText
							value="#{consumableMaterialsBean.materialOrdered.originalUnitPrice}"></p:inputText>

						<h:outputLabel value="#{language.AmountInUnits} :"></h:outputLabel>
						<p:inputText
							value="#{consumableMaterialsBean.materialOrdered.amountInUnits}"></p:inputText>

						<h:outputLabel value="#{language.OrderDate} (dd/mm/yyyy)*: "></h:outputLabel>
						<p:calendar mode="popup" showOn="button" autocomplete="false"
							value="#{consumableMaterialsBean.materialOrdered.orderDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"></p:calendar>

						<h:outputLabel
							value="#{language.Order} #{language.ExchangeRate} :"></h:outputLabel>
						<p:inputText
							value="#{consumableMaterialsBean.materialOrdered.orderExchangeRate}"></p:inputText>

						<h:outputLabel value="#{language.Brand} :"></h:outputLabel>
						<p:inputText
							value="#{consumableMaterialsBean.materialOrdered.marka}"></p:inputText>

						<h:outputLabel value="#{language.Discount} :"></h:outputLabel>
						<p:inputText
							value="#{consumableMaterialsBean.materialOrdered.discount}"></p:inputText>

						<h:outputLabel value="#{language.Explanation} :" />
						<p:inputTextarea
							value="#{consumableMaterialsBean.materialOrdered.explanation}"
							maxlength="100" autoResize="false" style="width:125px" rows="5"></p:inputTextarea>
					</h:panelGrid>

					<!-- COMMAND LINK SECTION -->
					<h:panelGrid border="0" columns="5" cellspacing="5">
						<p:commandLink title="#{language.Submit}"
							process="@this addMaterialOrderPanelId orderListDataTableId"
							update="addMaterialOrderMessage orderListDataTableId"
							actionListener="#{consumableMaterialsBean.addMaterialOrder}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink process="@this" title="#{language.Cancel}"
							update="addMaterialOrderMessage addMaterialOrderConfirmDialogId">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>

					<p:messages id="addMaterialOrderMessage"></p:messages>
				</p:panel>
			</p:dialog>

			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" style="min-width:600px"
				header="#{language.Add} #{language.Order}"
				id="addMaterial2OrderConfirmDialogId"
				widgetVar="addMaterial2OrderConfirmDialogWidget">
				<p:panel closable="false" toggleable="true"
					id="addMaterial2OrderPanelId" style="width:100%"
					widgetVar="addMaterial2OrderPanelWidget" visible="true">

					<h:panelGrid columns="2" border="0" cellspacing="10"
						style="width:100%">
						<!-- details here -->
						<h:outputText value="#{language.Category} :"></h:outputText>
						<p:selectOneMenu
							value="#{consumableMaterialsBean.materialOrdered.materialCategory.materialCategoryId}"
							style="width: 140px">
							<c:forEach
								items="#{materialCategoryListBean.consumableCategories}"
								var="categories">
								<f:selectItem itemValue="#{categories.materialCategoryId}"
									itemLabel="#{categories.categoryName}" />
							</c:forEach>

						</p:selectOneMenu>

						<h:outputLabel value="#{language.Supplier} :"></h:outputLabel>
						<p:selectOneMenu style="width: 140px"
							value="#{consumableMaterialsBean.materialOrdered.supplier.supplierId}"
							converterMessage="#{language.ConverterMessage}">
							<c:forEach items="#{supplierListBean.suppliers}" var="suplist">
								<f:selectItem itemValue="#{suplist.supplierId}"
									itemLabel="#{suplist.name}" />
							</c:forEach>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.Measure} :"></h:outputLabel>
						<p:selectOneMenu style="width: 140px"
							value="#{consumableMaterialsBean.materialOrdered.unitMeasure.measureCode}">
							<c:forEach items="#{unitMeasureListBean.unitMeasures}" var="unit">
								<f:selectItem itemValue="#{unit.measureCode}"
									itemLabel="#{unit.fullName}" />
							</c:forEach>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.Currency} :"></h:outputLabel>
						<p:selectOneMenu style="width: 140px"
							value="#{consumableMaterialsBean.materialOrdered.currency.currencyCode}">
							<c:forEach items="#{currencyListBean.currencyList}"
								var="currency">
								<f:selectItem itemValue="#{currency.currencyCode}"
									itemLabel="#{currency.currencyName}" />
							</c:forEach>
						</p:selectOneMenu>


						<h:outputLabel value="#{language.MaterialCode} :"></h:outputLabel>
						<p:inputText
							value="#{consumableMaterialsBean.materialOrdered.materialCode}"></p:inputText>

						<h:outputLabel value="#{language.OrginalUnitPrice} :"></h:outputLabel>
						<p:inputText
							value="#{consumableMaterialsBean.materialOrdered.originalUnitPrice}"></p:inputText>

						<h:outputLabel value="#{language.AmountInUnits} :"></h:outputLabel>
						<p:inputText
							value="#{consumableMaterialsBean.materialOrdered.amountInUnits}"></p:inputText>

						<h:outputLabel value="#{language.OrderDate} (dd/mm/yyyy)*: "></h:outputLabel>
						<p:calendar mode="popup" showOn="button" autocomplete="false"
							value="#{consumableMaterialsBean.materialOrdered.orderDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"></p:calendar>

						<h:outputLabel
							value="#{language.Order} #{language.ExchangeRate} :"></h:outputLabel>
						<p:inputText
							value="#{consumableMaterialsBean.materialOrdered.orderExchangeRate}"></p:inputText>

						<h:outputLabel value="#{language.Brand} :"></h:outputLabel>
						<p:inputText
							value="#{consumableMaterialsBean.materialOrdered.marka}"></p:inputText>

						<h:outputLabel value="#{language.Discount} :"></h:outputLabel>
						<p:inputText
							value="#{consumableMaterialsBean.materialOrdered.discount}"></p:inputText>

						<h:outputLabel value="#{language.Explanation} :" />
						<p:inputTextarea
							value="#{consumableMaterialsBean.materialOrdered.explanation}"
							maxlength="100" autoResize="false" style="width:125px" rows="5"></p:inputTextarea>
					</h:panelGrid>

					<!-- COMMAND LINK SECTION -->
					<h:panelGrid border="0" columns="5" cellspacing="5">
						<p:commandLink title="#{language.Submit}"
							process="@this addMaterial2OrderPanelId orderListDataTableId"
							update="addMaterial2OrderMessage orderListDataTableId"
							action="#{materialOrderedBean.reload()}"
							actionListener="#{consumableMaterialsBean.addMaterialOrder}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink process="@this" title="#{language.Cancel}"
							update="addMaterial2OrderMessage addMaterial2OrderConfirmDialogId">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>

					<p:messages id="addMaterial2OrderMessage"></p:messages>
				</p:panel>
			</p:dialog>


			<p:dataTable var="order" widgetVar="orderListDataTableWidget"
				id="orderListDataTableId" rowKey="#{order.materialOrderedId}"
				value="#{materialOrderedBean.orderList}" paginator="true"
				dblClickSelect="false" rows="10"
				selection="#{consumableMaterialsBean.selectedOrder}"
				selectionMode="single" emptyMessage="#{language.EmptyMessage}"
				paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
				<p:ajax process="@this" event="rowSelect" immediate="true"
					listener="#{consumableMaterialsBean.setViewEnable(false)}"
					update="viewButton deleteButton"></p:ajax>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.Category}"></h:outputText>
					</f:facet>
					<h:outputText value="#{order.materialCategory.categoryName}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.Supplier}"></h:outputText>
					</f:facet>
					<p:selectOneMenu value="#{order.supplier.supplierId}"
						style="width: 140px" disabled="true">
						<c:forEach items="#{supplierListBean.suppliers}" var="suplist">
							<f:selectItem itemValue="#{suplist.supplierId}"
								itemLabel="#{suplist.name}" />
						</c:forEach>
					</p:selectOneMenu>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.Measure}"></h:outputText>
					</f:facet>
					<p:selectOneMenu style="width: 140px"
						value="#{order.unitMeasure.measureCode}" disabled="true">
						<c:forEach items="#{unitMeasureListBean.unitMeasures}" var="unit">
							<f:selectItem itemValue="#{unit.measureCode}"
								itemLabel="#{unit.fullName}" />
						</c:forEach>
					</p:selectOneMenu>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.Currency}"></h:outputText>
					</f:facet>
					<p:selectOneMenu style="width: 140px"
						value="#{order.currency.currencyCode}" disabled="true">
						<c:forEach items="#{currencyListBean.currencyList}" var="currency">
							<f:selectItem itemValue="#{currency.currencyCode}"
								itemLabel="#{currency.currencyName}" />
						</c:forEach>
					</p:selectOneMenu>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.OrderDate}"></h:outputText>
					</f:facet>
					<p:calendar autocomplete="false"
						pattern="#{userCredentialsBean.dateFormat}"
						value="#{order.orderDate}" disabled="true"></p:calendar>
				</p:column>

				<f:facet name="footer">
					<p:commandLink immediate="true" title="#{language.Add}"
						process="@this addMaterialOrderConfirmDialogId"
						actionListener="#{consumableMaterialsBean.setShowCategory(true)}"
						oncomplete="addMaterial2OrderConfirmDialogWidget.show()"
						update="addMaterialOrderPanelId">

						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
					<p:commandLink process="@this orderListDataTableId"
						title="#{language.View}" id="viewButton"
						update="orderDetailPanelId"
						disabled="#{consumableMaterialsBean.viewEnable}"
						style="padding-left:15px">
						<p:graphicImage value="/large_icons/view.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:commandLink process="@this orderListDataTableId"
						title="#{language.Delete}" id="deleteButton"
						update="orderListDataTableId deleteMaterialOrderMessage"
						disabled="#{consumableMaterialsBean.viewEnable}"
						actionListener="#{consumableMaterialsBean.deleteOrder}"
						style="padding-left:15px">
						<p:graphicImage value="/large_icons/delete.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</f:facet>

			</p:dataTable>
			<p:messages id="deleteMaterialOrderMessage"></p:messages>

			<h:outputLabel value="#{language.Order} #{language.Details}: "
				style="font-size:medium;font-weight:bold"></h:outputLabel>

			<p:panel header="#{language.Details}" id="orderDetailPanelId">
				<!-- ORDER DETAILS -->
				<h:panelGrid border="0" columns="2" style="width:100%">
					<h:outputText value="#{language.Category} :"></h:outputText>
					<p:selectOneMenu
						value="#{consumableMaterialsBean.selectedOrder.materialCategory.materialCategoryId}"
						style="width: 140px">
						<c:forEach
							items="#{materialCategoryListBean.consumableCategories}"
							var="categories">
							<f:selectItem itemValue="#{categories.materialCategoryId}"
								itemLabel="#{categories.categoryName}" />
						</c:forEach>
					</p:selectOneMenu>
					<h:outputText value="#{language.Supplier} :"></h:outputText>
					<p:selectOneMenu
						value="#{consumableMaterialsBean.selectedOrder.supplier.supplierId}"
						style="width: 140px">
						<c:forEach items="#{supplierListBean.suppliers}" var="suplist">
							<f:selectItem itemValue="#{suplist.supplierId}"
								itemLabel="#{suplist.name}" />
						</c:forEach>
					</p:selectOneMenu>

					<h:outputText value="#{language.Measure} :"></h:outputText>
					<p:selectOneMenu
						value="#{consumableMaterialsBean.selectedOrder.unitMeasure.measureCode}"
						style="width: 140px">
						<c:forEach items="#{unitMeasureListBean.unitMeasures}" var="unit">
							<f:selectItem itemValue="#{unit.measureCode}"
								itemLabel="#{unit.fullName}" />
						</c:forEach>
					</p:selectOneMenu>

					<h:outputText value="#{language.Currency} :"></h:outputText>
					<p:selectOneMenu
						value="#{consumableMaterialsBean.selectedOrder.currency.currencyCode}"
						style="width: 140px">
						<c:forEach items="#{currencyListBean.currencyList}" var="currency">
							<f:selectItem itemValue="#{currency.currencyCode}"
								itemLabel="#{currency.currencyName}" />
						</c:forEach>
					</p:selectOneMenu>

					<h:outputText value="#{language.MaterialCode} :"></h:outputText>
					<p:inputText
						value="#{consumableMaterialsBean.selectedOrder.materialCode}"></p:inputText>

					<h:outputText value="#{language.OrginalUnitPrice} :"></h:outputText>
					<p:inputText
						value="#{consumableMaterialsBean.selectedOrder.originalUnitPrice}"></p:inputText>

					<h:outputText value="#{language.AmountInUnits} :"></h:outputText>
					<p:inputText
						value="#{consumableMaterialsBean.selectedOrder.amountInUnits}"></p:inputText>

					<h:outputLabel value="#{language.OrderDate} (dd/mm/yyyy)*: "></h:outputLabel>
					<p:calendar mode="popup" showOn="button" autocomplete="false"
						value="#{consumableMaterialsBean.selectedOrder.orderDate}"
						pattern="#{userCredentialsBean.dateFormat}" required="true"></p:calendar>

					<h:outputText value="#{language.ExchangeRate} :"></h:outputText>
					<p:inputText
						value="#{consumableMaterialsBean.selectedOrder.orderExchangeRate}"></p:inputText>

					<h:outputText value="#{language.Brand} :"></h:outputText>
					<p:inputText value="#{consumableMaterialsBean.selectedOrder.marka}"></p:inputText>

					<h:outputText value="#{language.Discount} :"></h:outputText>
					<p:inputText
						value="#{consumableMaterialsBean.selectedOrder.discount}"></p:inputText>

					<h:outputLabel value="#{language.Explanation} :" />
					<p:inputTextarea
						value="#{consumableMaterialsBean.selectedOrder.explanation}"
						maxlength="100" autoResize="false" style="width:125px" rows="5"></p:inputTextarea>

				</h:panelGrid>
				<!-- COMMAND LINK SECTION -->
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandLink title="#{language.Submit}"
						process="@this orderDetailPanelId"
						action="#{materialOrderedBean.reload()}"
						update="editMaterialOrderMessage orderListDataTableId orderDetailPanelId viewButton"
						actionListener="#{consumableMaterialsBean.editMaterialOrder}">
						<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
					<p:commandLink process="@this" title="#{language.Cancel}"
						update="editMaterialOrderMessage addMaterialOrderConfirmDialogId">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>

				<p:messages id="editMaterialOrderMessage"></p:messages>
			</p:panel>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>