<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:body>
	<ui:composition template="/templates/main.xhtml">
		<!-- CATEGORY LIST -->
		<ui:define name="sideMenu">
			<p:accordionPanel id="accordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="accordionPanelWidget">
				<c:forEach items="#{materialCategoryListBean.materialCategories}"
					var="materials">
					<p:tab title="#{materials.categoryName}">
						<p:panel style="width:100%" header=" ">
							<h:panelGrid border="0" cellspacing="10" columns="2"
								style="width:100%">
								<h:outputLabel value="#{language.CategoryName} :  " />
								<h:outputText value="#{materials.categoryName}"></h:outputText>

								<h:outputLabel value="#{language.Code} :  " />
								<h:outputText value="#{materials.code}"></h:outputText>

								<h:outputLabel value="#{language.vat} :  " />
								<h:outputText value="#{materials.kdv}"></h:outputText>

								<h:outputLabel value="#{language.Consumable} :  " />

								<c:if test="#{materials.consumable == true}">
									<h:outputText value="#{language.Yes}"></h:outputText>
								</c:if>
								<c:otherwise>
									<h:outputText value="#{language.No}"></h:outputText>
								</c:otherwise>

								<h:outputLabel value="#{language.MachineMaintenance} :  " />

								<c:if test="#{materials.machineMaintenance == true}">
									<h:outputText value="#{language.Yes}"></h:outputText>
								</c:if>
								<c:otherwise>
									<h:outputText value="#{language.No}"></h:outputText>
								</c:otherwise>

							</h:panelGrid>
							<h:panelGrid border="0" columns="2" cellspacing="5">
								<p:commandLink title="#{language.Edit}"
									onclick="updateMaterialCategoryConfirmDialogWidget.show()"
									update="updateMaterialCategoryPanelId"
									process="accordionPanelId"
									action="#{materialCategoryListBean.prepareUpdate(materials)}">
									<p:graphicImage value="/small_icons/edit.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
								<p:commandLink immediate="true"
									onclick="deleteMaterialCategoryConfirmDialogWidget.show()"
									update="deleteMaterialCategoryMessage"
									title="#{language.Delete}"
									action="#{materialCategoryListBean.prepareDeletion(materials)}">
									<p:graphicImage value="/small_icons/delete.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</p:panel>
					</p:tab>
				</c:forEach>
			</p:accordionPanel>
		</ui:define>

		<!-- CATEGORY SECTION -->
		<ui:define name="showPanel">
			<!-- Delete material category dialog  -->
			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" style="min-width:600px"
				header="#{language.Delete} #{language.Category}"
				id="deleteMaterialCategoryConfirmDialogId"
				widgetVar="deleteMaterialCategoryConfirmDialogWidget">
				<p:panel closable="false" toggleable="true"
					id="deleteMaterialCategoryPanelId" style="width:100%"
					widgetVar="deleteMaterialCategoryPanelWidget" visible="true">
					<h:panelGrid border="0" columns="5" style="width:100%">
						<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
					</h:panelGrid>
					<h:panelGrid cellspacing="5" columns="5">
						<p:commandLink title="#{language.Submit}"
							update="accordionPanelId deleteMaterialCategoryMessage"
							process="@this"
							action="#{materialCategoryListBean.deleteCategory(materials)}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink title="#{language.Cancel}" process="@this"
							update="deleteMaterialCategoryMessage" immediate="true"
							onclick="deleteMaterialCategoryConfirmDialogWidget.hide()">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
					<p:messages showDetail="true" showSummary="true"
						id="deleteMaterialCategoryMessage"></p:messages>
				</p:panel>
			</p:dialog>

			<!-- Update material category dialog  -->
			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" style="min-width:600px"
				header="#{language.Edit} #{language.Category}"
				id="updateMaterialCategoryConfirmDialogId"
				widgetVar="updateMaterialCategoryConfirmDialogWidget">
				<p:panel closable="false" toggleable="true"
					id="updateMaterialCategoryPanelId" style="width:100%"
					widgetVar="updateMaterialCategoryPanelWidget" visible="true">

					<h:panelGrid columns="2" border="0" cellspacing="10"
						style="width:100%">
						<h:outputText value="#{language.CategoryName}: "></h:outputText>
						<p:inputText
							value="#{materialCategoryListBean.selectedCategory.categoryName}"></p:inputText>

						<h:outputText value="#{language.Code}: "></h:outputText>
						<p:inputText
							value="#{materialCategoryListBean.selectedCategory.code}"></p:inputText>

						<h:outputText value="#{language.vat}: "></h:outputText>
						<p:inputText
							value="#{materialCategoryListBean.selectedCategory.kdv}"></p:inputText>

						<h:outputText value="#{language.Consumable}: "></h:outputText>
						<p:selectOneMenu style="width: 140px"
							value="#{materialCategoryListBean.selectedCategory.consumable}">
							<f:selectItem itemValue="true" itemLabel="#{language.Yes}" />
							<f:selectItem itemValue="false" itemLabel="#{language.No}" />
						</p:selectOneMenu>

						<h:outputText value="#{language.MachineMaintenance}: "></h:outputText>
						<p:selectOneMenu style="width: 140px"
							value="#{materialCategoryListBean.selectedCategory.machineMaintenance}">
							<f:selectItem itemValue="true" itemLabel="#{language.Yes}" />
							<f:selectItem itemValue="false" itemLabel="#{language.No}" />
						</p:selectOneMenu>
					</h:panelGrid>

					<!-- COMMAND LINK SECTION -->
					<h:panelGrid border="0" columns="5" cellspacing="5">
						<p:commandLink title="#{language.Submit}"
							process="@this updateMaterialCategoryConfirmDialogId"
							update="accordionPanelId updateMaterialCategoryMessage"
							actionListener="#{materialCategoryListBean.updateMaterialCategory}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink process="@this" title="#{language.Cancel}"
							update="updateMaterialCategoryMessage updateMaterialCategoryConfirmDialogId">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>

					<p:messages showDetail="true" showSummary="true"
						id="updateMaterialCategoryMessage"></p:messages>
				</p:panel>
			</p:dialog>

			<p:panel header="#{language.CategoriesOther}" id="categoryPanelId">
				<!-- REPORT CONTROL -->
				<p:panel
					header="#{language.Category}: #{materialCategoryBean.newCategory.categoryName}"
					id="materialCategoryPanelId"
					widgetVar="materialCategoryPanelWidged">
					<h:panelGrid columns="2" border="0" cellspacing="10"
						style="width:100%">
						<h:outputText value="#{language.CategoryName}: "></h:outputText>
						<p:inputText
							value="#{materialCategoryBean.newCategory.categoryName}"></p:inputText>

						<h:outputText value="#{language.Code}: "></h:outputText>
						<p:inputText value="#{materialCategoryBean.newCategory.code}"></p:inputText>

						<h:outputText value="#{language.vat}: "></h:outputText>
						<p:inputText value="#{materialCategoryBean.newCategory.kdv}"></p:inputText>

						<h:outputText value="#{language.Consumable}: "></h:outputText>
						<p:selectOneMenu style="width: 140px"
							value="#{materialCategoryBean.newCategory.consumable}">
							<f:selectItem itemValue="true" itemLabel="#{language.Yes}" />
							<f:selectItem itemValue="false" itemLabel="#{language.No}" />
						</p:selectOneMenu>

						<h:outputText value="#{language.MachineMaintenance}: "></h:outputText>
						<p:selectOneMenu style="width: 140px"
							value="#{materialCategoryBean.newCategory.machineMaintenance}">
							<f:selectItem itemValue="true" itemLabel="#{language.Yes}" />
							<f:selectItem itemValue="false" itemLabel="#{language.No}" />
						</p:selectOneMenu>
					</h:panelGrid>

					<!-- COMMAND LINK SECTION -->
					<h:panelGrid border="0" columns="5" cellspacing="5">
						<p:commandLink title="#{language.Submit}"
							process="@this materialCategoryPanelId"
							update="accordionPanelId reportMessages materialCategoryPanelId"
							actionListener="#{materialCategoryListBean.addMaterialCategory}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink process="@this" title="#{language.Cancel}"
							update="reportMessages materialCategoryPanelId">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
				</p:panel>
			</p:panel>
			<p:messages showDetail="true" showSummary="true" id="reportMessages"></p:messages>

			<h:outputLabel value="#{language.Orders}: "
				style="font-size:medium;font-weight:bold"></h:outputLabel>


			<p:dataTable var="employee" widgetVar="employeeListDataTableWidget"
				id="employeeListDataTableId" rowKey="#{employee.employeeId}"
				value="#{departmentBean.currentDepartment.employees}"
				paginator="true" rows="20"
				selection="#{departmentBean.selectedEmployee}"
				selectionMode="single" emptyMessage="#{language.EmptyMessage}"
				paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.Name}"></h:outputText>
					</f:facet>
					<h:outputText value="#{employee.firstname} #{employee.lastname}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.Status}"></h:outputText>
					</f:facet>
					<p:selectOneMenu value="#{employee.active}" style="width: 140px"
						disabled="true">
						<f:selectItem itemValue="true" itemLabel="#{language.Active}" />
						<f:selectItem itemValue="false" itemLabel="#{language.NonActive}" />
					</p:selectOneMenu>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.DateOfBirth}"></h:outputText>
					</f:facet>
					<p:calendar autocomplete="false"
						pattern="#{userCredentialsBean.dateFormat}"
						value="#{employee.dateOfBirth}" disabled="true"></p:calendar>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.StartDate}"></h:outputText>
					</f:facet>
					<p:calendar autocomplete="false"
						pattern="#{userCredentialsBean.dateFormat}"
						value="#{employee.startDate}" disabled="true"></p:calendar>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.EndDate}"></h:outputText>
					</f:facet>
					<p:calendar autocomplete="false"
						pattern="#{userCredentialsBean.dateFormat}"
						value="#{employee.endDate}" disabled="true"></p:calendar>
				</p:column>
			</p:dataTable>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>