<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:body>

	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel id="notconsumableMaterialsAccordionPanelId"
				autoHeight="false" style="padding:0px"
				widgetVar="accordionPanelWidget">
				<c:forEach
					items="#{materialCategoryListBean.notConsumableCategories}"
					var="notconsumableMaterials">
					<p:tab title="#{notconsumableMaterials.categoryName}">
						<p:panel style="width:100%" header=" ">
							<h:panelGrid border="0" cellspacing="10" columns="2"
								style="width:100%">
								<h:outputLabel value="#{language.CategoryName} :  " />
								<h:outputText value="#{notconsumableMaterials.categoryName}"></h:outputText>

								<h:outputLabel value="#{language.Code} :  " />
								<h:outputText value="#{notconsumableMaterials.code}"></h:outputText>

								<h:outputLabel value="#{language.vat} :  " />
								<h:outputText value="#{notconsumableMaterials.kdv}"></h:outputText>

								<h:outputLabel value="#{language.Consumable} :  " />

								<c:if test="#{notconsumableMaterials.consumable == true}">
									<h:outputText value="#{language.Yes}"></h:outputText>
								</c:if>
								<c:if test="#{notconsumableMaterials.consumable == false}">
									<h:outputText value="#{language.No}"></h:outputText>
								</c:if>

								<h:outputLabel value="#{language.MachineMaintenance} :  " />

								<c:if
									test="#{notconsumableMaterials.machineMaintenance == true}">
									<h:outputText value="#{language.Yes}"></h:outputText>
								</c:if>
								<c:if
									test="#{notconsumableMaterials.machineMaintenance == false}">
									<h:outputText value="#{language.No}"></h:outputText>
								</c:if>

							</h:panelGrid>

							<h:panelGrid border="0" columns="3" cellspacing="5">
								<p:commandLink immediate="true" title="#{language.Add}"
									process="@this addMaterialOrderConfirmDialogId"
									oncomplete="addMaterialOrderConfirmDialogWidget.show()"
									actionListener="#{notnotconsumableMaterialsBean.prepareAdd(notconsumableMaterials,false)}"
									update="addMaterialOrderPanelId">
									<p:graphicImage value="/small_icons/add.png" style="border:0px"></p:graphicImage>
								</p:commandLink>
								<p:commandLink immediate="true" title="#{language.List}"
									process="@this notconsumableMaterialsAccordionPanelId orderListDataTableId"
									update="orderListDataTableId orderDetailPanelId"
									actionListener="#{materialOrderedBean.getCategoryOrders(notconsumableMaterials)}"
									action="#{notConsumableMaterialsBean.setViewEnable(true)}">
									<p:graphicImage value="/small_icons/view.gif"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</p:panel>
					</p:tab>
				</c:forEach>
			</p:accordionPanel>
		</ui:define>

		<ui:define name="showPanel">
			<!-- Add Material Order Dialog  -->
			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" style="min-width:600px"
				header="#{language.Add} #{language.Order}"
				id="addMaterialOrderConfirmDialogId"
				widgetVar="addMaterialOrderConfirmDialogWidget">
				<p:panel closable="false" toggleable="true"
					id="addMaterialOrderPanelId" style="width:100%"
					widgetVar="addMaterialOrderPanelWidget" visible="true">

					<h:panelGrid columns="2" border="0" cellspacing="10"
						style="width:100%">
						<!-- details here -->
						<c:if test="#{notConsumableMaterialsBean.showCategory == true}">
							<h:outputText value="#{language.Category} :"></h:outputText>
							<p:selectOneMenu
								value="#{notConsumableMaterialsBean.materialCategory.materialCategoryId}"
								style="width: 140px">
								<c:forEach
									items="#{materialCategoryListBean.notConsumableCategories}"
									var="categories">
									<f:selectItem itemValue="#{categories.materialCategoryId}"
										itemLabel="#{categories.categoryName}" />
								</c:forEach>

							</p:selectOneMenu>
						</c:if>
						<h:outputLabel value="#{language.Supplier} :"></h:outputLabel>
						<p:selectOneMenu style="width: 140px"
							value="#{notConsumableMaterialsBean.materialOrdered.supplier.supplierId}"
							converterMessage="#{language.ConverterMessage}">
							<c:forEach items="#{supplierListBean.suppliers}" var="suplist">
								<f:selectItem itemValue="#{suplist.supplierId}"
									itemLabel="#{suplist.name}" />
							</c:forEach>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.Measure} :"></h:outputLabel>
						<p:selectOneMenu style="width: 140px"
							value="#{notConsumableMaterialsBean.materialOrdered.unitMeasure.measureCode}">
							<c:forEach items="#{unitMeasureListBean.unitMeasures}" var="unit">
								<f:selectItem itemValue="#{unit.measureCode}"
									itemLabel="#{unit.fullName}" />
							</c:forEach>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.Currency} :"></h:outputLabel>
						<p:selectOneMenu style="width: 140px"
							value="#{notConsumableMaterialsBean.materialOrdered.currency.currencyCode}">
							<c:forEach items="#{currencyListBean.currencyList}"
								var="currency">
								<f:selectItem itemValue="#{currency.currencyCode}"
									itemLabel="#{currency.currencyName}" />
							</c:forEach>
						</p:selectOneMenu>


						<h:outputLabel value="#{language.MaterialCode} :"></h:outputLabel>
						<p:inputText
							value="#{notConsumableMaterialsBean.materialOrdered.materialCode}"></p:inputText>

						<h:outputLabel value="#{language.OrginalUnitPrice} :"></h:outputLabel>
						<p:inputText
							value="#{notConsumableMaterialsBean.materialOrdered.originalUnitPrice}"></p:inputText>

						<h:outputLabel value="#{language.AmountInUnits} :"></h:outputLabel>
						<p:inputText
							value="#{notConsumableMaterialsBean.materialOrdered.amountInUnits}"></p:inputText>

						<h:outputLabel value="#{language.OrderDate} (dd/mm/yyyy)*: "></h:outputLabel>
						<p:calendar mode="popup" showOn="button" autocomplete="false"
							value="#{notConsumableMaterialsBean.materialOrdered.orderDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"></p:calendar>

						<h:outputLabel
							value="#{language.Order} #{language.ExchangeRate} :"></h:outputLabel>
						<p:inputText
							value="#{notConsumableMaterialsBean.materialOrdered.orderExchangeRate}"></p:inputText>

						<h:outputLabel value="#{language.Brand} :"></h:outputLabel>
						<p:inputText
							value="#{notConsumableMaterialsBean.materialOrdered.marka}"></p:inputText>

						<h:outputLabel value="#{language.Discount} :"></h:outputLabel>
						<p:inputText
							value="#{notConsumableMaterialsBean.materialOrdered.discount}"></p:inputText>

						<h:outputLabel value="#{language.Explanation} :" />
						<p:inputTextarea
							value="#{notConsumableMaterialsBean.materialOrdered.explanation}"
							maxlength="100" autoResize="false" style="width:125px" rows="5"></p:inputTextarea>
					</h:panelGrid>

					<!-- COMMAND LINK SECTION -->
					<h:panelGrid border="0" columns="5" cellspacing="5">
						<p:commandLink title="#{language.Submit}"
							process="@this addMaterialOrderPanelId orderListDataTableId"
							update="addMaterialOrderMessage orderListDataTableId"
							actionListener="#{notConsumableMaterialsBean.addMaterialOrder}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink process="@this" title="#{language.Cancel}"
							update="addMaterialOrderMessage addMaterialOrderConfirmDialogId">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>

					<p:messages id="addMaterialOrderMessage"></p:messages>
				</p:panel>
			</p:dialog>

			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" resizable="true" position="center,10"
				header="#{language.AddOffer}" id="addMaterialOfferConfirmDialogId"
				widgetVar="addMaterialOfferConfirmDialogWidget">

				<p:scrollPanel id="addMaterialOfferMainPanelId"
					style="width:1000px;height:600px;">
					<p:dataTable var="offer" widgetVar="offerListDataTableWidget"
						id="offerListDataTableId" rowKey="#{offer.materialOfferId}"
						value="#{notConsumableMaterialsBean.offerList}" paginator="true"
						style="margin-left:50px;margin-right:50px; width:90%;"
						dblClickSelect="false" rows="5"
						selection="#{notConsumableMaterialsBean.selectedOffer}"
						selectionMode="single" emptyMessage="#{language.EmptyMessage}"
						rowStyleClass="#{offer.selected ? 'selectedOffer' : offer.unitOriginalPrice le notConsumableMaterialsBean.price ? 'cheapOffer' :  null}"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax process="@this" event="rowSelect" immediate="true"
							listener="#{notConsumableMaterialsBean.setViewOfferEnable(false)}"
							update="selectButton offerEditButton offerDeleteButton"></p:ajax>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Supplier}"></h:outputText>
							</f:facet>
							<p:selectOneMenu value="#{offer.supplier.supplierId}"
								style="width: 140px" disabled="true">
								<c:forEach items="#{supplierListBean.suppliers}" var="suplist">
									<f:selectItem itemValue="#{suplist.supplierId}"
										itemLabel="#{suplist.name}" />
								</c:forEach>
							</p:selectOneMenu>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Supplier}"></h:outputText>
							</f:facet>
							<p:selectOneMenu style="width: 140px" disabled="true"
								value="#{offer.unitMeasure.measureCode}">
								<c:forEach items="#{unitMeasureListBean.unitMeasures}"
									var="unit">
									<f:selectItem itemValue="#{unit.measureCode}"
										itemLabel="#{unit.fullName}" />
								</c:forEach>
							</p:selectOneMenu>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Currency}"></h:outputText>
							</f:facet>
							<p:selectOneMenu style="width: 140px"
								value="#{offer.currency.currencyCode}" disabled="true">
								<c:forEach items="#{currencyListBean.currencyList}"
									var="currency">
									<f:selectItem itemValue="#{currency.currencyCode}"
										itemLabel="#{currency.currencyName}" />
								</c:forEach>
							</p:selectOneMenu>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.OrginalUnitPrice}"></h:outputText>
							</f:facet>
							<h:outputText value="#{offer.unitOriginalPrice}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.AmountInUnits}"></h:outputText>
							</f:facet>
							<h:outputText value="#{offer.amountInUnits}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Date}"></h:outputText>
							</f:facet>
							<p:calendar autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat}"
								value="#{offer.offerDate}" disabled="true"></p:calendar>
						</p:column>

						<f:facet name="footer">

							<p:commandLink process="@this orderListDataTableId"
								title="#{language.Edit}" id="offerEditButton"
								update="selectButton offerEditButton offerDeleteButton offerListDataTableId materialOfferTableId editMaterialOfferPanelId"
								disabled="#{notConsumableMaterialsBean.viewOfferEnable}"
								oncomplete="editMaterialOfferDialogWidget.show()"
								style="padding-left:10px;padding-right:10px">
								<p:graphicImage value="/large_icons/view.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink process="@this orderListDataTableId"
								immediate="true" title="#{language.Delete}"
								id="offerDeleteButton"
								update="selectButton offerEditButton offerDeleteButton offerListDataTableId materialOfferTableId"
								disabled="#{notConsumableMaterialsBean.viewOfferEnable}"
								action="#{materialOrderedBean.reload()}"
								actionListener="#{notConsumableMaterialsBean.deleteOffer}"
								style="padding-right:10px;">
								<p:graphicImage value="/large_icons/delete.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink immediate="true"
								title="#{language.Select} / #{language.Cancel}"
								id="selectButton" process="@this offerListDataTableId"
								disabled="#{notConsumableMaterialsBean.viewOfferEnable}"
								update="selectButton offerListDataTableId materialOfferTableId"
								actionListener="#{notConsumableMaterialsBean.setSelectedOffer}">
								<c:choose>
									<c:when test="#{notConsumableMaterialsBean.gotSelectedOffer}">
										<p:graphicImage value="/large_icons/32x32/notok32x32.png"
											style="border:0px"></p:graphicImage>
									</c:when>
									<c:otherwise>
										<p:graphicImage value="/large_icons/32x32/ok32x32.png"
											style="border:0px"></p:graphicImage>
									</c:otherwise>
								</c:choose>

							</p:commandLink>

						</f:facet>

					</p:dataTable>

					<h:panelGrid columns="1" border="0"
						style="width:900px; margin-left:50px; margin-right:50px;">
						<p:messages id="materialOfferTableId"></p:messages>
					</h:panelGrid>

					<h:panelGrid columns="2" border="0"
						style="width:900px; margin-left:50px; margin-right:50px; margin-top:10px;">
						<p:panel closable="false" toggleable="true"
							id="addMaterialOfferPanelId"
							widgetVar="addMaterialOfferPanelWidget" visible="true">

							<h:panelGrid columns="2" border="0" cellspacing="0"
								style="width:100%">
								<!-- details here -->

								<h:outputLabel value="#{language.Supplier} :"></h:outputLabel>
								<p:selectOneMenu style="width: 140px"
									value="#{notConsumableMaterialsBean.materialOffer.supplier.supplierId}"
									converterMessage="#{language.ConverterMessage}">
									<c:forEach items="#{supplierListBean.suppliers}" var="suplist">
										<f:selectItem itemValue="#{suplist.supplierId}"
											itemLabel="#{suplist.name}" />
									</c:forEach>
								</p:selectOneMenu>

								<h:outputLabel value="#{language.Measure} :"></h:outputLabel>
								<p:selectOneMenu style="width: 140px"
									value="#{notConsumableMaterialsBean.materialOffer.unitMeasure.measureCode}">
									<c:forEach items="#{unitMeasureListBean.unitMeasures}"
										var="unit">
										<f:selectItem itemValue="#{unit.measureCode}"
											itemLabel="#{unit.fullName}" />
									</c:forEach>
								</p:selectOneMenu>

								<h:outputLabel value="#{language.Currency} :"></h:outputLabel>
								<p:selectOneMenu style="width: 140px"
									value="#{notConsumableMaterialsBean.materialOffer.currency.currencyCode}">
									<c:forEach items="#{currencyListBean.currencyList}"
										var="currency">
										<f:selectItem itemValue="#{currency.currencyCode}"
											itemLabel="#{currency.currencyName}" />
									</c:forEach>
								</p:selectOneMenu>

								<h:outputLabel value="#{language.OrginalUnitPrice} :"></h:outputLabel>
								<p:inputText
									value="#{notConsumableMaterialsBean.materialOffer.unitOriginalPrice}"></p:inputText>

								<h:outputLabel value="#{language.AmountInUnits} :"></h:outputLabel>
								<p:inputText
									value="#{notConsumableMaterialsBean.materialOffer.amountInUnits}"></p:inputText>


								<h:outputLabel
									value="#{language.Offer} #{language.ExchangeRate} :"></h:outputLabel>
								<p:inputText
									value="#{notConsumableMaterialsBean.materialOffer.offerExchangeRate}"></p:inputText>

								<h:outputLabel value="#{language.OfferDate} (dd/mm/yyyy)*: "></h:outputLabel>
								<p:calendar mode="popup" showOn="button" autocomplete="false"
									value="#{notConsumableMaterialsBean.materialOffer.offerDate}"
									pattern="#{userCredentialsBean.dateFormat}" required="true"></p:calendar>

								<h:outputLabel value="#{language.Discount} :"></h:outputLabel>
								<p:inputText
									value="#{notConsumableMaterialsBean.materialOffer.discount}"></p:inputText>

								<h:outputLabel value="#{language.DeliveryPlace} :"></h:outputLabel>
								<p:inputText
									value="#{notConsumableMaterialsBean.materialOffer.deliveryPlace}"></p:inputText>

								<h:outputLabel value="#{language.DeliveryDate} (dd/mm/yyyy)*: "></h:outputLabel>
								<p:calendar mode="popup" showOn="button" autocomplete="false"
									value="#{notConsumableMaterialsBean.materialOffer.estimatedDeliveryDate}"
									pattern="#{userCredentialsBean.dateFormat}" required="true"></p:calendar>

								<h:outputLabel value="#{language.Explanation} :" />
								<p:inputTextarea
									value="#{notConsumableMaterialsBean.materialOffer.explanation}"
									maxlength="100" autoResize="false" style="width:140px" rows="2"></p:inputTextarea>
							</h:panelGrid>

							<!-- COMMAND LINK SECTION -->
							<h:panelGrid border="0" columns="5" cellspacing="5">
								<p:commandLink title="#{language.Submit}"
									process="@this addMaterialOfferPanelId" immediate="false"
									update="addMaterialOfferMessage addMaterialOfferPanelId offerListDataTableId"
									actionListener="#{notConsumableMaterialsBean.addMaterialOffer}">
									<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
								</p:commandLink>
								<p:commandLink process="@this" title="#{language.Cancel}"
									update="addMaterialOfferMessage addMaterialOfferPanelId">
									<p:graphicImage value="/large_icons/cancel.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>

							<p:messages id="addMaterialOfferMessage"></p:messages>
						</p:panel>

						<p:panel closable="false" toggleable="true"
							id="viewMaterialOfferPanelId"
							widgetVar="viewMaterialOfferPanelWidget" visible="true">

							<h:panelGrid columns="2" border="0" cellspacing="10"
								style="width:100%">
								<!-- details here -->

								<h:outputLabel value="#{language.Supplier} :" />
								<h:outputLabel style="width: 140px"
									value="#{notConsumableMaterialsBean.bestOffer.supplier.name}">
								</h:outputLabel>


								<h:outputLabel value="#{language.Measure} :"></h:outputLabel>
								<h:outputLabel style="width: 140px"
									value="#{notConsumableMaterialsBean.bestOffer.unitMeasure.fullName}">
								</h:outputLabel>

								<h:outputLabel value="#{language.Currency} :"></h:outputLabel>
								<h:outputLabel style="width: 140px"
									value="#{notConsumableMaterialsBean.bestOffer.currency.currencyName}">
								</h:outputLabel>

								<h:outputLabel value="#{language.OrginalUnitPrice} :"></h:outputLabel>
								<h:outputLabel
									value="#{notConsumableMaterialsBean.bestOffer.unitOriginalPrice}"></h:outputLabel>

								<h:outputLabel value="#{language.AmountInUnits} :"></h:outputLabel>
								<h:outputLabel
									value="#{notConsumableMaterialsBean.bestOffer.amountInUnits}"></h:outputLabel>


								<h:outputLabel
									value="#{language.Offer} #{language.ExchangeRate} :"></h:outputLabel>
								<h:outputLabel
									value="#{notConsumableMaterialsBean.bestOffer.offerExchangeRate}"></h:outputLabel>

								<h:outputLabel value="#{language.OfferDate}"></h:outputLabel>
								<h:outputLabel
									value="#{notConsumableMaterialsBean.bestOffer.offerDate}">
									<f:convertDateTime pattern="#{userCredentialsBean.dateFormat}" />
								</h:outputLabel>

								<h:outputLabel value="#{language.Discount} :"></h:outputLabel>
								<h:outputLabel
									value="#{notConsumableMaterialsBean.bestOffer.discount}"></h:outputLabel>

								<h:outputLabel value="#{language.DeliveryPlace} :"></h:outputLabel>
								<h:outputLabel
									value="#{notConsumableMaterialsBean.bestOffer.deliveryPlace}"></h:outputLabel>

								<h:outputLabel value="#{language.DeliveryDate}: "></h:outputLabel>
								<h:outputLabel
									value="#{notConsumableMaterialsBean.bestOffer.estimatedDeliveryDate}">
									<f:convertDateTime pattern="#{userCredentialsBean.dateFormat}" />
								</h:outputLabel>

								<h:outputLabel value="#{language.Explanation} :" />
								<h:outputLabel
									value="#{notConsumableMaterialsBean.bestOffer.explanation}"></h:outputLabel>
							</h:panelGrid>
						</p:panel>

					</h:panelGrid>
				</p:scrollPanel>
			</p:dialog>

			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" style="min-width:600px"
				header="#{language.Edit} #{language.Offer}" id="editMaterialOfferId"
				widgetVar="editMaterialOfferDialogWidget">
				<p:panel closable="false" toggleable="true"
					id="editMaterialOfferPanelId"
					widgetVar="editMaterialOfferPanelWidget" visible="true">

					<h:panelGrid columns="2" border="0" cellspacing="0"
						style="width:100%">
						<!-- details here -->

						<h:outputLabel value="#{language.Supplier} :"></h:outputLabel>
						<p:selectOneMenu style="width: 140px"
							value="#{notConsumableMaterialsBean.selectedOffer.supplier.supplierId}"
							converterMessage="#{language.ConverterMessage}">
							<c:forEach items="#{supplierListBean.suppliers}" var="suplist">
								<f:selectItem itemValue="#{suplist.supplierId}"
									itemLabel="#{suplist.name}" />
							</c:forEach>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.Measure} :"></h:outputLabel>
						<p:selectOneMenu style="width: 140px"
							value="#{notConsumableMaterialsBean.selectedOffer.unitMeasure.measureCode}">
							<c:forEach items="#{unitMeasureListBean.unitMeasures}" var="unit">
								<f:selectItem itemValue="#{unit.measureCode}"
									itemLabel="#{unit.fullName}" />
							</c:forEach>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.Currency} :"></h:outputLabel>
						<p:selectOneMenu style="width: 140px"
							value="#{notConsumableMaterialsBean.selectedOffer.currency.currencyCode}">
							<c:forEach items="#{currencyListBean.currencyList}"
								var="currency">
								<f:selectItem itemValue="#{currency.currencyCode}"
									itemLabel="#{currency.currencyName}" />
							</c:forEach>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.OrginalUnitPrice} :"></h:outputLabel>
						<p:inputText
							value="#{notConsumableMaterialsBean.selectedOffer.unitOriginalPrice}"></p:inputText>

						<h:outputLabel value="#{language.AmountInUnits} :"></h:outputLabel>
						<p:inputText
							value="#{notConsumableMaterialsBean.selectedOffer.amountInUnits}"></p:inputText>


						<h:outputLabel
							value="#{language.Offer} #{language.ExchangeRate} :"></h:outputLabel>
						<p:inputText
							value="#{notConsumableMaterialsBean.selectedOffer.offerExchangeRate}"></p:inputText>

						<h:outputLabel value="#{language.OfferDate} (dd/mm/yyyy)*: "></h:outputLabel>
						<p:calendar mode="popup" showOn="button" autocomplete="false"
							value="#{notConsumableMaterialsBean.selectedOffer.offerDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"></p:calendar>

						<h:outputLabel value="#{language.Discount} :"></h:outputLabel>
						<p:inputText
							value="#{notConsumableMaterialsBean.selectedOffer.discount}"></p:inputText>

						<h:outputLabel value="#{language.DeliveryPlace} :"></h:outputLabel>
						<p:inputText
							value="#{notConsumableMaterialsBean.selectedOffer.deliveryPlace}"></p:inputText>

						<h:outputLabel value="#{language.DeliveryDate} (dd/mm/yyyy)*: "></h:outputLabel>
						<p:calendar mode="popup" showOn="button" autocomplete="false"
							value="#{notConsumableMaterialsBean.selectedOffer.estimatedDeliveryDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"></p:calendar>

						<h:outputLabel value="#{language.Explanation} :" />
						<p:inputTextarea
							value="#{notConsumableMaterialsBean.selectedOffer.explanation}"
							maxlength="100" autoResize="false" style="width:140px" rows="2"></p:inputTextarea>
					</h:panelGrid>

					<!-- COMMAND LINK SECTION -->
					<h:panelGrid border="0" columns="5" cellspacing="5">
						<p:commandLink title="#{language.Submit}"
							process="@this editMaterialOfferPanelId" immediate="false"
							update="editMaterialOfferMessage editMaterialOfferPanelId offerListDataTableId"
							actionListener="#{notConsumableMaterialsBean.editMaterialOffer}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink process="@this" title="#{language.Cancel}"
							update="editMaterialOfferMessage editMaterialOfferPanelId">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>

					<p:messages id="editMaterialOfferMessage"></p:messages>
				</p:panel>
			</p:dialog>

			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" style="min-width:600px"
				header="#{language.Add} #{language.Order}"
				id="addMaterial2OrderConfirmDialogId"
				widgetVar="addMaterial2OrderConfirmDialogWidget">
				<p:panel closable="false" toggleable="true"
					id="addMaterial2OrderPanelId" style="width:100%"
					widgetVar="addMaterial2OrderPanelWidget" visible="true">

					<h:panelGrid columns="2" border="0" cellspacing="10"
						style="width:100%">
						<!-- details here -->
						<h:outputText value="#{language.Category} :"></h:outputText>
						<p:selectOneMenu
							value="#{notConsumableMaterialsBean.materialOrdered.materialCategory.materialCategoryId}"
							style="width: 140px">
							<c:forEach
								items="#{materialCategoryListBean.notConsumableCategories}"
								var="categories">
								<f:selectItem itemValue="#{categories.materialCategoryId}"
									itemLabel="#{categories.categoryName}" />
							</c:forEach>

						</p:selectOneMenu>

						<h:outputLabel value="#{language.Supplier} :"></h:outputLabel>
						<p:selectOneMenu style="width: 140px"
							value="#{notConsumableMaterialsBean.materialOrdered.supplier.supplierId}"
							converterMessage="#{language.ConverterMessage}">
							<c:forEach items="#{supplierListBean.suppliers}" var="suplist">
								<f:selectItem itemValue="#{suplist.supplierId}"
									itemLabel="#{suplist.name}" />
							</c:forEach>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.Measure} :"></h:outputLabel>
						<p:selectOneMenu style="width: 140px"
							value="#{notConsumableMaterialsBean.materialOrdered.unitMeasure.measureCode}">
							<c:forEach items="#{unitMeasureListBean.unitMeasures}" var="unit">
								<f:selectItem itemValue="#{unit.measureCode}"
									itemLabel="#{unit.fullName}" />
							</c:forEach>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.Currency} :"></h:outputLabel>
						<p:selectOneMenu style="width: 140px"
							value="#{notConsumableMaterialsBean.materialOrdered.currency.currencyCode}">
							<c:forEach items="#{currencyListBean.currencyList}"
								var="currency">
								<f:selectItem itemValue="#{currency.currencyCode}"
									itemLabel="#{currency.currencyName}" />
							</c:forEach>
						</p:selectOneMenu>


						<h:outputLabel value="#{language.MaterialCode} :"></h:outputLabel>
						<p:inputText
							value="#{notConsumableMaterialsBean.materialOrdered.materialCode}"></p:inputText>

						<h:outputLabel value="#{language.OrginalUnitPrice} :"></h:outputLabel>
						<p:inputText
							value="#{notConsumableMaterialsBean.materialOrdered.originalUnitPrice}"></p:inputText>

						<h:outputLabel value="#{language.AmountInUnits} :"></h:outputLabel>
						<p:inputText
							value="#{notConsumableMaterialsBean.materialOrdered.amountInUnits}"></p:inputText>

						<h:outputLabel value="#{language.OrderDate} (dd/mm/yyyy)*: "></h:outputLabel>
						<p:calendar mode="popup" showOn="button" autocomplete="false"
							value="#{notConsumableMaterialsBean.materialOrdered.orderDate}"
							pattern="#{userCredentialsBean.dateFormat}" required="true"></p:calendar>

						<h:outputLabel
							value="#{language.Order} #{language.ExchangeRate} :"></h:outputLabel>
						<p:inputText
							value="#{notConsumableMaterialsBean.materialOrdered.orderExchangeRate}"></p:inputText>

						<h:outputLabel value="#{language.Brand} :"></h:outputLabel>
						<p:inputText
							value="#{notConsumableMaterialsBean.materialOrdered.marka}"></p:inputText>

						<h:outputLabel value="#{language.Discount} :"></h:outputLabel>
						<p:inputText
							value="#{notConsumableMaterialsBean.materialOrdered.discount}"></p:inputText>

						<h:outputLabel value="#{language.Explanation} :" />
						<p:inputTextarea
							value="#{notConsumableMaterialsBean.materialOrdered.explanation}"
							maxlength="100" autoResize="false" style="width:125px" rows="5"></p:inputTextarea>
					</h:panelGrid>

					<!-- COMMAND LINK SECTION -->
					<h:panelGrid border="0" columns="5" cellspacing="5">
						<p:commandLink title="#{language.Submit}"
							process="@this addMaterial2OrderPanelId orderListDataTableId"
							update="addMaterial2OrderMessage orderListDataTableId"
							action="#{materialOrderedBean.reload()}"
							actionListener="#{notConsumableMaterialsBean.addMaterialOrder}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink process="@this" title="#{language.Cancel}"
							update="addMaterial2OrderMessage addMaterial2OrderConfirmDialogId">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>

					<p:messages id="addMaterial2OrderMessage"></p:messages>
				</p:panel>
			</p:dialog>


			<p:dataTable var="order" widgetVar="orderListDataTableWidget"
				id="orderListDataTableId" rowKey="#{order.materialOrderedId}"
				value="#{materialOrderedBean.orderList}" paginator="true"
				dblClickSelect="false" rows="10"
				selection="#{notConsumableMaterialsBean.selectedOrder}"
				selectionMode="single" emptyMessage="#{language.EmptyMessage}"
				paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
				<p:ajax process="@this" event="rowSelect" immediate="true"
					listener="#{notConsumableMaterialsBean.setViewEnable(false)}"
					update="viewButton deleteButton addOfferButton"></p:ajax>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.Category}"></h:outputText>
					</f:facet>
					<h:outputText value="#{order.materialCategory.categoryName}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.Supplier}"></h:outputText>
					</f:facet>
					<p:selectOneMenu value="#{order.supplier.supplierId}"
						style="width: 140px" disabled="true">
						<c:forEach items="#{supplierListBean.suppliers}" var="suplist">
							<f:selectItem itemValue="#{suplist.supplierId}"
								itemLabel="#{suplist.name}" />
						</c:forEach>
					</p:selectOneMenu>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.Measure}"></h:outputText>
					</f:facet>
					<p:selectOneMenu style="width: 140px"
						value="#{order.unitMeasure.measureCode}" disabled="true">
						<c:forEach items="#{unitMeasureListBean.unitMeasures}" var="unit">
							<f:selectItem itemValue="#{unit.measureCode}"
								itemLabel="#{unit.fullName}" />
						</c:forEach>
					</p:selectOneMenu>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.Currency}"></h:outputText>
					</f:facet>
					<p:selectOneMenu style="width: 140px"
						value="#{order.currency.currencyCode}" disabled="true">
						<c:forEach items="#{currencyListBean.currencyList}" var="currency">
							<f:selectItem itemValue="#{currency.currencyCode}"
								itemLabel="#{currency.currencyName}" />
						</c:forEach>
					</p:selectOneMenu>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.OrderDate}"></h:outputText>
					</f:facet>
					<p:calendar autocomplete="false"
						pattern="#{userCredentialsBean.dateFormat}"
						value="#{order.orderDate}" disabled="true"></p:calendar>
				</p:column>

				<f:facet name="footer">
					<p:commandLink immediate="true" title="#{language.Add}"
						process="@this addMaterialOrderConfirmDialogId"
						actionListener="#{notConsumableMaterialsBean.setShowCategory(true)}"
						oncomplete="addMaterial2OrderConfirmDialogWidget.show()"
						update="addMaterialOrderPanelId">

						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
					<p:commandLink process="@this orderListDataTableId"
						title="#{language.View}" id="viewButton"
						update="orderDetailPanelId"
						disabled="#{notConsumableMaterialsBean.viewEnable}"
						style="padding-left:10px;padding-right:10px">
						<p:graphicImage value="/large_icons/view.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:commandLink process="@this orderListDataTableId"
						immediate="true" title="#{language.Delete}" id="deleteButton"
						update="orderListDataTableId deleteButton viewButton deleteMaterialOrderMessage"
						disabled="#{notConsumableMaterialsBean.viewEnable}"
						action="#{materialOrderedBean.reload()}"
						actionListener="#{notConsumableMaterialsBean.deleteOrder}"
						style="padding-right:10px;">
						<p:graphicImage value="/large_icons/delete.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:commandLink immediate="true" title="#{language.AddOffer}"
						process="@this orderListDataTableId offerListDataTableId"
						id="addOfferButton"
						disabled="#{notConsumableMaterialsBean.viewEnable}"
						update="offerListDataTableId selectButton"
						oncomplete="addMaterialOfferConfirmDialogWidget.show()"
						actionListener="#{notConsumableMaterialsBean.getOffers}">
						<p:graphicImage value="/large_icons/32x32/plus32x32.png"
							style="border:0px"></p:graphicImage>
					</p:commandLink>
				</f:facet>
			</p:dataTable>
			<p:messages id="deleteMaterialOrderMessage"></p:messages>

			<h:outputLabel value="#{language.Order} #{language.Details}: "
				style="font-size:medium;font-weight:bold"></h:outputLabel>

			<p:panel header="#{language.Details}" id="orderDetailPanelId">
				<!-- ORDER DETAILS -->
				<h:panelGrid border="0" columns="2" style="width:100%">
					<h:outputText value="#{language.Category} :"></h:outputText>
					<p:selectOneMenu
						value="#{notConsumableMaterialsBean.selectedOrder.materialCategory.materialCategoryId}"
						style="width: 140px">
						<c:forEach
							items="#{materialCategoryListBean.notConsumableCategories}"
							var="categories">
							<f:selectItem itemValue="#{categories.materialCategoryId}"
								itemLabel="#{categories.categoryName}" />
						</c:forEach>
					</p:selectOneMenu>
					<h:outputText value="#{language.Supplier} :"></h:outputText>
					<p:selectOneMenu
						value="#{notConsumableMaterialsBean.selectedOrder.supplier.supplierId}"
						style="width: 140px">
						<c:forEach items="#{supplierListBean.suppliers}" var="suplist">
							<f:selectItem itemValue="#{suplist.supplierId}"
								itemLabel="#{suplist.name}" />
						</c:forEach>
					</p:selectOneMenu>

					<h:outputText value="#{language.Measure} :"></h:outputText>
					<p:selectOneMenu
						value="#{notConsumableMaterialsBean.selectedOrder.unitMeasure.measureCode}"
						style="width: 140px">
						<c:forEach items="#{unitMeasureListBean.unitMeasures}" var="unit">
							<f:selectItem itemValue="#{unit.measureCode}"
								itemLabel="#{unit.fullName}" />
						</c:forEach>
					</p:selectOneMenu>

					<h:outputText value="#{language.Currency} :"></h:outputText>
					<p:selectOneMenu
						value="#{notConsumableMaterialsBean.selectedOrder.currency.currencyCode}"
						style="width: 140px">
						<c:forEach items="#{currencyListBean.currencyList}" var="currency">
							<f:selectItem itemValue="#{currency.currencyCode}"
								itemLabel="#{currency.currencyName}" />
						</c:forEach>
					</p:selectOneMenu>

					<h:outputText value="#{language.MaterialCode} :"></h:outputText>
					<p:inputText
						value="#{notConsumableMaterialsBean.selectedOrder.materialCode}"></p:inputText>

					<h:outputText value="#{language.OrginalUnitPrice} :"></h:outputText>
					<p:inputText
						value="#{notConsumableMaterialsBean.selectedOrder.originalUnitPrice}"></p:inputText>

					<h:outputText value="#{language.AmountInUnits} :"></h:outputText>
					<p:inputText
						value="#{notConsumableMaterialsBean.selectedOrder.amountInUnits}"></p:inputText>

					<h:outputLabel value="#{language.OrderDate} (dd/mm/yyyy)*: "></h:outputLabel>
					<p:calendar mode="popup" showOn="button" autocomplete="false"
						value="#{notConsumableMaterialsBean.selectedOrder.orderDate}"
						pattern="#{userCredentialsBean.dateFormat}" required="true"></p:calendar>

					<h:outputText value="#{language.ExchangeRate} :"></h:outputText>
					<p:inputText
						value="#{notConsumableMaterialsBean.selectedOrder.orderExchangeRate}"></p:inputText>

					<h:outputText value="#{language.Brand} :"></h:outputText>
					<p:inputText
						value="#{notConsumableMaterialsBean.selectedOrder.marka}"></p:inputText>

					<h:outputText value="#{language.Discount} :"></h:outputText>
					<p:inputText
						value="#{notConsumableMaterialsBean.selectedOrder.discount}"></p:inputText>

					<h:outputLabel value="#{language.Explanation} :" />
					<p:inputTextarea
						value="#{notConsumableMaterialsBean.selectedOrder.explanation}"
						maxlength="100" autoResize="false" style="width:125px" rows="5"></p:inputTextarea>

				</h:panelGrid>
				<!-- COMMAND LINK SECTION -->
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandLink title="#{language.Submit}"
						process="@this orderDetailPanelId"
						action="#{materialOrderedBean.reload()}"
						update="editMaterialOrderMessage orderListDataTableId orderDetailPanelId viewButton"
						actionListener="#{notConsumableMaterialsBean.editMaterialOrder}">
						<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
					<p:commandLink process="@this" title="#{language.Cancel}"
						update="editMaterialOrderMessage addMaterialOrderConfirmDialogId">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>

				<p:messages id="editMaterialOrderMessage"></p:messages>
			</p:panel>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>