<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px; width:100%" id="accordionPanelId">
				<p:tab
					title="#{language.BoruRuloDuzenle} - ÖNCE RULO SEÇ SONRA BORU ARATTIR!">

					<p:growl id="growl" />

					<h:outputText value="#{language.boruNoGir}"
						style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{boruRuloDuzenleBean.barkodNo}">
					</p:inputText>
					<p:commandButton
						value="RULO DEĞİŞTİRMEK İÇİN ÖNCE RULO SEÇ, SONRA BU TUŞA BAS"
						update="datatableRulo growl orderAccordionPanelId"
						process="@this inputBarkod datatableRulo"
						actionListener="#{boruRuloDuzenleBean.boruBul(boruRuloDuzenleBean.barkodNo)}"
						icon="ui-icon-circle-plus" styleClass="foo">
					</p:commandButton>

					<h:outputText value="#{language.RuloNo}" style="font-weight: bold"></h:outputText>
					<p:inputText value="#{boruRuloDuzenleBean.selectedPipe.pipeId}"
						style="width: 190px" disabled="true">
					</p:inputText>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="manuelUtTestAddPanelGridId">

						<p:dataTable id="datatableRulo" var="rulo"
							value="#{ruloBean.rulos}" tableStyle="width:100%;" rows="15"
							selectionMode="single" dynamic="true" widgetVar="data"
							selection="#{boruRuloDuzenleBean.selectedRulo}"
							rowKey="#{rulo.ruloId}" sortOrder="descending"
							sortBy="#{rulo.ruloYilAndRuloKimlikId}">

							<p:column headerText="Kimlik Numarası"
								sortBy="#{rulo.ruloYilAndRuloKimlikId}"
								filterBy="#{rulo.ruloYilAndRuloKimlikId}">
								<h:outputText value="#{rulo.ruloYilAndRuloKimlikId}" />
							</p:column>
							<p:column headerText="Döküm Numarası"
								sortBy="#{rulo.ruloDokumNo}" filterBy="#{rulo.ruloDokumNo}">
								<h:outputText value="#{rulo.ruloDokumNo}" />
							</p:column>
							<p:column headerText="Bobin Numarası"
								sortBy="#{rulo.ruloBobinNo}" filterBy="#{rulo.ruloBobinNo}">
								<h:outputText value="#{rulo.ruloBobinNo}" />
							</p:column>
							<p:column headerText="Etiket Numarası"
								sortBy="#{rulo.ruloEtiketNo}" filterBy="#{rulo.ruloEtiketNo}">
								<h:outputText value="#{rulo.ruloEtiketNo}" />
							</p:column>
							<p:column headerText="Ebatlar"
								sortBy="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalEtKalinligi}"
								filterBy="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalEtKalinligi}">
								<h:outputText
									value="#{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalGenislik} X 
											 #{rulo.ruloOzellikBoyutsal.ruloOzellikBoyutsalEtKalinligi}" />
							</p:column>
							<p:column headerText="Kalite" sortBy="#{rulo.ruloKalite}"
								filterBy="#{rulo.ruloKalite}">
								<h:outputText value="#{rulo.ruloKalite}" />
							</p:column>
							<p:column sortBy="#{rulo.ruloDurum}">
								<f:facet name="header">
									<h:outputText value="#{language.Status}"></h:outputText>
								</f:facet>
								<p:selectOneMenu value="#{rulo.ruloDurum}" disabled="true"
									style="width: 140px">
									<f:selectItems var="status" itemValue="#{status.id}"
										itemLabel="#{status.displayName}"
										value="#{ruloBean.config.config.materials.statuses}"></f:selectItems>
								</p:selectOneMenu>
							</p:column>
							<p:column headerText="Rulo Genel Durumu"
								sortBy="#{rulo.ruloGenelDurum}">
								<h:outputLabel value="Beklemede"
									rendered="#{empty rulo.ruloGenelDurum}" />
								<h:outputLabel value="Beklemede"
									rendered="#{rulo.ruloGenelDurum==0}" />
								<h:outputLabel value="Açık" rendered="#{rulo.ruloGenelDurum==1}" />
								<h:outputLabel value="Kapalı"
									rendered="#{rulo.ruloGenelDurum==2}" />
							</p:column>
						</p:dataTable>
					</h:panelGrid>
				</p:tab>
			</p:accordionPanel>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>