<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel multiple="false" autoHeight="false"
				style="padding:0px" id="accordionPanelId">
				<p:tab title="#{language.EventTypes}" id="eventTypeTabId">
					<p:dataTable var="eventType" id="eventTypeDataTableId"
						rowKey="#{eventType.eventTypeId}" dblClickSelect="false"
						value="#{eventTypes.eventTypes}" paginator="true" rows="20"
						selection="#{eventTypes.selected}" selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect"
							update="eventTypeDataTableId crmMessages"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{eventType.name}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Description}"></h:outputText>
							</f:facet>
							<p:inputTextarea value="#{eventType.shortDesc}" rows="5"
								readonly="true" style="width:125px" autoResize="false" cols="10"></p:inputTextarea>
						</p:column>
						<f:facet name="footer">
							<h:panelGrid border="0" columns="3" cellspacing="5"
								style="align: right;">
								<p:commandLink title="#{language.Update}"
									process="@this eventTypeDataTableId"
									update="updateEventTypePanelId"
									disabled="#{eventTypes.selected.eventTypeId == null}"
									onclick="updateEventTypeDialogWidget.show()">
									<p:graphicImage value="/large_icons/update.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>

								<p:commandLink title="#{language.Delete}"
									process="@this eventTypeDataTableId"
									disabled="#{eventTypes.selected.eventTypeId == null}"
									onclick="deleteEventTypeDialogWidget.show()">
									<p:graphicImage value="/large_icons/delete.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</f:facet>

					</p:dataTable>
				</p:tab>

				<p:tab title="#{language.ContactTypes}" id="contactTypeTabId">
					<p:dataTable var="contactType" id="contactTypeDataTableId"
						rowKey="#{contactType.contactTypeId}" dblClickSelect="false"
						value="#{contactTypes.contactTypes}" paginator="true" rows="20"
						selection="#{contactTypes.selected}" selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect"
							update="contactTypeDataTableId crmMessages"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{contactType.name}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Description}"></h:outputText>
							</f:facet>
							<p:inputTextarea value="#{contactType.shortDesc}" rows="5"
								readonly="true" style="width:125px" autoResize="false" cols="10"></p:inputTextarea>
						</p:column>
						<f:facet name="footer">
							<h:panelGrid border="0" columns="3" cellspacing="5"
								style="align: right;">
								<p:commandLink title="#{language.Update}"
									process="@this contactTypeDataTableId"
									update="updateContactTypePanelId"
									disabled="#{contactTypes.selected.contactTypeId == null}"
									onclick="updateContactTypeDialogWidget.show()">
									<p:graphicImage value="/large_icons/update.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>

								<p:commandLink title="#{language.Delete}"
									process="@this contactTypeDataTableId"
									disabled="#{contactTypes.selected.contactTypeId == null}"
									onclick="deleteContactTypeDialogWidget.show()">
									<p:graphicImage value="/large_icons/delete.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</f:facet>

					</p:dataTable>
				</p:tab>

				<p:tab title="#{language.CostTypes}" id="costTypeTabId">
					<p:dataTable var="costType" id="costTypeDataTableId"
						rowKey="#{costType.costTypeId}" dblClickSelect="false"
						value="#{costTypes.costTypes}" paginator="true" rows="20"
						selection="#{costTypes.selected}" selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect" update="costTypeDataTableId crmMessages"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{costType.name}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Description}"></h:outputText>
							</f:facet>
							<p:inputTextarea value="#{costType.shortDesc}" rows="5"
								readonly="true" style="width:125px" autoResize="false" cols="10"></p:inputTextarea>
						</p:column>
						<f:facet name="footer">
							<h:panelGrid border="0" columns="3" cellspacing="5"
								style="align: right;">
								<p:commandLink title="#{language.Update}"
									process="@this costTypeDataTableId"
									update="updateCostTypePanelId"
									disabled="#{costTypes.selected.costTypeId == null}"
									onclick="updateCostTypeDialogWidget.show()">
									<p:graphicImage value="/large_icons/update.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>

								<p:commandLink title="#{language.Delete}"
									process="@this costTypeDataTableId"
									disabled="#{costTypes.selected.costTypeId == null}"
									onclick="deleteCostTypeDialogWidget.show()">
									<p:graphicImage value="/large_icons/delete.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</f:facet>

					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
		</ui:define>

		<ui:define name="showPanel">
			<p:panel header="#{language.EventType}" id="eventTypePanelId"
				visible="true">
				<h:panelGrid border="0" columns="2" style="width:100%">
					<h:outputLabel value="#{language.Name} *: "></h:outputLabel>
					<p:inputText value="#{eventTypes.newType.name}" required="true"
						requiredMessage="#{language.RequiredMessage}" maxlength="32"></p:inputText>

					<h:outputLabel value="#{language.Description}:  " />
					<p:inputTextarea value="#{eventTypes.newType.shortDesc}" rows="5"
						style="width:125px" autoResize="false" cols="10"></p:inputTextarea>
				</h:panelGrid>

				<h:panelGrid border="0" columns="11">
					<p:commandLink title="#{language.Add}"
						process="@this eventTypePanelId"
						update="eventTypePanelId accordionPanelId crmMessages"
						actionListener="#{eventTypes.add}">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
			</p:panel>

			<p:panel header="#{language.ContactType}" id="contactTypePanelId"
				visible="true">
				<h:panelGrid border="0" columns="2" style="width:100%">
					<h:outputLabel value="#{language.Name} *: "></h:outputLabel>
					<p:inputText value="#{contactTypes.newType.name}" required="true"
						requiredMessage="#{language.RequiredMessage}" maxlength="32"></p:inputText>

					<h:outputLabel value="#{language.Description}:  " />
					<p:inputTextarea value="#{contactTypes.newType.shortDesc}" rows="5"
						style="width:125px" autoResize="false" cols="10"></p:inputTextarea>
				</h:panelGrid>

				<h:panelGrid border="0" columns="11">
					<p:commandLink title="#{language.Add}"
						process="@this contactTypePanelId"
						update="contactTypePanelId accordionPanelId crmMessages"
						actionListener="#{contactTypes.add}">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
			</p:panel>

			<p:panel header="#{language.CostType}" id="costTypePanelId"
				visible="true">
				<h:panelGrid border="0" columns="2" style="width:100%">
					<h:outputLabel value="#{language.Name} *: "></h:outputLabel>
					<p:inputText value="#{costTypes.newType.name}" required="true"
						requiredMessage="#{language.RequiredMessage}" maxlength="32"></p:inputText>

					<h:outputLabel value="#{language.Description}:  " />
					<p:inputTextarea value="#{costTypes.newType.shortDesc}" rows="5"
						style="width:125px" autoResize="false" cols="10"></p:inputTextarea>
				</h:panelGrid>

				<h:panelGrid border="0" columns="11">
					<p:commandLink title="#{language.Add}"
						process="@this costTypePanelId"
						update="costTypePanelId accordionPanelId crmMessages"
						actionListener="#{costTypes.add}">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
			</p:panel>

			<h:panelGrid cellspacing="0" id="allPanelGridId">

				<!-- UPDATE AN EVENT  TYPE -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" header="#{language.Update}"
					id="updateEventTypeDialogId"
					widgetVar="updateEventTypeDialogWidget">
					<p:panel style="min-width:600px" id="updateEventTypePanelId"
						closable="false" toggleable="true">
						<h:panelGrid border="0" columns="2" style="width:100%">

							<h:outputLabel value="#{language.Name} : "></h:outputLabel>
							<p:inputText required="true"
								requiredMessage="#{language.RequiredMessage}"
								value="#{eventTypes.selected.name}"></p:inputText>

							<h:outputLabel value="#{language.Description} : "></h:outputLabel>
							<p:inputTextarea value="#{eventTypes.selected.shortDesc}"
								autoResize="false" cols="5" style="width:130px"></p:inputTextarea>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.Submit}"
								update="updateEventTypePanelId accordionPanelId"
								process="@this updateEventTypePanelId"
								actionListener="#{eventTypes.update}">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="updateEventTypeMessages" process="@this"
								onclick="updateEventTypeDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>

						<p:messages id="updateEventTypeMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- UPDATE A CONTACT  TYPE -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" header="#{language.Update}"
					id="updateContactTypeDialogId"
					widgetVar="updateContactTypeDialogWidget">
					<p:panel style="min-width:600px" id="updateContactTypePanelId"
						closable="false" toggleable="true">
						<h:panelGrid border="0" columns="2" style="width:100%">

							<h:outputLabel value="#{language.Name} : "></h:outputLabel>
							<p:inputText required="true"
								requiredMessage="#{language.RequiredMessage}"
								value="#{contactTypes.selected.name}"></p:inputText>

							<h:outputLabel value="#{language.Description} : "></h:outputLabel>
							<p:inputTextarea value="#{contactTypes.selected.shortDesc}"
								autoResize="false" cols="5" style="width:130px"></p:inputTextarea>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.Submit}"
								update="updateContactTypePanelId accordionPanelId"
								process="@this updateContactTypePanelId"
								actionListener="#{contactTypes.update}">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="udpateContactTypeMessages" process="@this"
								onclick="updateContactTypeDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>

						<p:messages id="udpateContactTypeMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- UPDATE A COST  TYPE -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" header="#{language.Update}"
					id="updateCostTypeDialogId" widgetVar="updateCostTypeDialogWidget">
					<p:panel style="min-width:600px" id="updateCostTypePanelId"
						closable="false" toggleable="true">
						<h:panelGrid border="0" columns="2" style="width:100%">

							<h:outputLabel value="#{language.Name} : "></h:outputLabel>
							<p:inputText required="true"
								requiredMessage="#{language.RequiredMessage}"
								value="#{costTypes.selected.name}"></p:inputText>

							<h:outputLabel value="#{language.Description} : "></h:outputLabel>
							<p:inputTextarea value="#{costTypes.selected.shortDesc}"
								autoResize="false" cols="5" style="width:130px"></p:inputTextarea>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.Submit}"
								update="updateCostTypePanelId accordionPanelId"
								process="@this updateCostTypePanelId"
								actionListener="#{costTypes.update}">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="updateCostTypeMessages" process="@this"
								onclick="updateCostTypeDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>

						<p:messages id="updateCostTypeMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- DELETE EVENT TYPE SECTION -->
				<p:dialog id="deleteEventTypeDialogId" resizable="false"
					widgetVar="deleteEventTypeDialogWidget" closable="true"
					maximizable="true" dynamic="true" draggable="true"
					header="#{language.Delete}">
					<p:panel style="min-width:600px"
						header="#{eventTypes.selected.name}" closable="true"
						toggleable="true" id="deleteEventTypePanelId" visible="true">
						<h:panelGrid border="0" columns="2" style="width:100%">
							<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.ok}"
								update="deleteEventTypePanelId accordionPanelId"
								process="@this eventTypeDataTableId"
								actionListener="#{eventTypes.delete}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="deleteEventTypeMessages" process="@this"
								onclick="deleteEventTypeDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="deleteEventTypeMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- DELETE CONTACT TYPE SECTION -->
				<p:dialog id="deleteContactTypeDialogId" resizable="false"
					widgetVar="deleteContactTypeDialogWidget" closable="true"
					maximizable="true" dynamic="true" draggable="true"
					header="#{language.Delete}">
					<p:panel style="min-width:600px"
						header="#{contactTypes.selected.name}" closable="true"
						toggleable="true" id="deleteContactTypePanelId" visible="true">
						<h:panelGrid border="0" columns="2" style="width:100%">
							<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.ok}"
								update="deleteContactTypePanelId accordionPanelId"
								process="@this deleteContactTypePanelId"
								actionListener="#{contactTypes.delete}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="deleteContactTypeMessages" process="@this"
								onclick="deleteContactTypeDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="deleteContactTypeMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- DELETE COST TYPE SECTION -->
				<p:dialog id="deleteCostTypeDialogId" resizable="false"
					widgetVar="deleteCostTypeDialogWidget" closable="true"
					maximizable="true" dynamic="true" draggable="true"
					header="#{language.Delete}">
					<p:panel style="min-width:600px"
						header="#{costTypes.selected.name}" closable="true"
						toggleable="true" id="deleteCostTypePanelId" visible="true">
						<h:panelGrid border="0" columns="2" style="width:100%">
							<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.ok}"
								update="deleteCostTypePanelId accordionPanelId"
								process="@this deleteCostTypePanelId"
								actionListener="#{costTypes.delete}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="deleteCostTypeMessages" process="@this"
								onclick="deleteCostTypeDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="deleteCostTypeMessages"></p:messages>
					</p:panel>
				</p:dialog>
			</h:panelGrid>
			<p:messages id="crmMessages"></p:messages>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>
