<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px; width:100%" id="accordionPanelId">
				<p:tab title="#{language.Frequency}">
					<p:dataTable var="incelemeGrubu"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="incelemeGrubuListDataTableId"
						value="#{incelemeGrubuBean.allIncelemeGrubuList}" paginator="true"
						rows="10" selection="#{incelemeGrubuBean.incelemeGrubuForm}"
						rowKey="#{incelemeGrubu.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="viewIncelemeGrubuPanelId newIncelemeGrubuPanelId incelemeGrubuDialogId"
							process="@this incelemeGrubuListDataTableId"></p:ajax>
						<p:ajax event="rowSelect"
							listener="#{incelemeGrubuBean.incelemeGrubuListener}"
							process="listForm:incelemeGrubuListDataTableId incelemeGrubuListDataTableId"
							update="viewIncelemeGrubuPanelId newIncelemeGrubuPanelId incelemeGrubuDialogId" />
						<p:ajax event="rowSelect"
							update="incelemeGrubuListDataTableId orderAccordionPanelId">
						</p:ajax>

						<p:column>
							<p:commandButton
								actionListener="#{incelemeGrubuBean.deleteIncelemeGrubu}"
								update="newIncelemeGrubuMessages incelemeGrubuListDataTableId newIncelemeGrubuPanelId accordionPanelId growl"
								process="@this incelemeGrubuDialogId" icon="ui-icon-trash" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Adi}"></h:outputText>
							</f:facet>
							<h:outputText value="#{incelemeGrubu.adi}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Tanimi}"></h:outputText>
							</f:facet>
							<h:outputText value="#{incelemeGrubu.tanimi}"></h:outputText>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="#{language.RefreshList}"
								process="incelemeGrubuListDataTableId"
								update="incelemeGrubuListDataTableId viewIncelemeGrubuPanelId newIncelemeGrubuMessages"
								action="#{incelemeGrubuBean.fillTestList}">
							</p:commandButton>
							<p:commandButton value="Sıklık #{language.Add}"
								update="newincelemeGrubuMessages incelemeGrubuListDataTableId accordionPanelId incelemeGrubuPanelGridId"
								process="@this incelemeGrubuDialogId"
								actionListener="#{incelemeGrubuBean.addIncelemeGrubu}"
								icon="ui-icon-circle-plus"
								onclick="incelemeGrubuDialogWidget.show()">
							</p:commandButton>
							<p:commandButton value="Sıklık #{language.Update}"
								rendered="#{incelemeGrubuBean.updateButtonRender}"
								update="newincelemeGrubuMessages incelemeGrubuListDataTableId accordionPanelId incelemeGrubuPanelGridId"
								id="updateIncelemeGrubuButton"
								process="@this incelemeGrubuDialogId"
								onclick="incelemeGrubuDialogWidget.show()"
								icon="ui-icon-circle-plus">
							</p:commandButton>
						</f:facet>
					</p:dataTable>

					<h:panelGrid border="0" columns="3">

					</h:panelGrid>

				</p:tab>
			</p:accordionPanel>

			<!-- inceleme grubu ekleme -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="Sıklık #{language.Add}"
				id="incelemeGrubuDialogId" widgetVar="incelemeGrubuDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="incelemeGrubuPanelGridId">
					<f:facet name="header">
						<h:outputText value="Sıklık"></h:outputText>
					</f:facet>

					<h:outputText value="#{language.Frequency} Adı"
						style="font-weight: bold;"></h:outputText>
					<p:inputText value="#{incelemeGrubuBean.incelemeGrubuForm.adi}">
					</p:inputText>

					<h:outputText value="#{language.Frequency} Tanımı"
						style="font-weight: bold;"></h:outputText>
					<p:inputText value="#{incelemeGrubuBean.incelemeGrubuForm.tanimi}">
					</p:inputText>

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="KAYDET"
						update="newIncelemeGrubuMessages incelemeGrubuListDataTableId newIncelemeGrubuPanelId accordionPanelId growl"
						process="@this incelemeGrubuDialogId"
						actionListener="#{incelemeGrubuBean.addOrUpdateIncelemeGrubu}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){incelemeGrubuDialogWidget.hide();}">
					</p:commandButton>
					<p:messages id="incelemeGrubuMessagesId" showDetail="false"
						showSummary="false"></p:messages>
				</h:panelGrid>
			</p:dialog>
			<!-- inceleme grubu ekleme -->
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>