<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">

			<p:messages id="countryMessagesId" showDetail="false"
				showSummary="false"></p:messages>

			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px; width:100%" id="accordionPanelId">
				<p:tab title="#{language.Countries}">
					<p:dataTable var="ulkeler" widgetVar="ulkelerListDataTableWidget"
						id="ulkelerListDataTableId" value="#{ulkelerBean.allUlkelerList}"
						paginator="true" rows="10" selection="#{ulkelerBean.ulkelerForm}"
						rowKey="#{ulkeler.id}" selectionMode="single"
						dblClickSelect="false" style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							update="viewUlkelerPanelId newUlkelerPanelId countryDialogId"
							process="@this ulkelerListDataTableId"></p:ajax>
						<p:ajax event="rowSelect" listener="#{ulkelerBean.ulkeListener}"
							process="listForm:ulkelerListDataTableId ulkelerListDataTableId"
							update="viewUlkelerPanelId newUlkelerPanelId countryDialogId" />
						<p:ajax event="rowSelect"
							update="ulkelerListDataTableId orderAccordionPanelId">
						</p:ajax>

						<p:column>
							<p:commandButton actionListener="#{ulkelerBean.deleteUlkeler}"
								update="ulkelerListDataTableId" process="@this countryDialogId"
								icon="ui-icon-trash" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.UlkeKodu}"></h:outputText>
							</f:facet>
							<h:outputText value="#{ulkeler.ulkeKodu}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.UlkeAdi}"></h:outputText>
							</f:facet>
							<h:outputText value="#{ulkeler.ulkeIsmi}"></h:outputText>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="#{language.RefreshList}"
								process="ulkelerListDataTableId"
								update="ulkelerListDataTableId viewUlkelerPanelId newUlkelerMessages"
								action="#{ulkelerBean.fillTestList}">
							</p:commandButton>
							<p:commandButton value="#{language.Country} #{language.Add}"
								update="newUlkelerMessages ulkelerListDataTableId accordionPanelId countryPanelGridId"
								process="@this countryDialogId"
								actionListener="#{ulkelerBean.addUlkeler}"
								icon="ui-icon-circle-plus" onclick="countryDialogWidget.show()">
							</p:commandButton>
							<p:commandButton value="#{language.Country} #{language.Update}"
								rendered="#{ulkelerBean.updateButtonRender}"
								update="newUlkelerMessages ulkelerListDataTableId accordionPanelId countryPanelGridId"
								id="updateUlkelerButton" process="@this countryDialogId"
								onclick="countryDialogWidget.show()" icon="ui-icon-circle-plus">
							</p:commandButton>
						</f:facet>
					</p:dataTable>

					<h:panelGrid border="0" columns="3">

					</h:panelGrid>

				</p:tab>
			</p:accordionPanel>

			<!-- ülke ekleme -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="Ülke #{language.Add}"
				id="countryDialogId" widgetVar="countryDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="countryPanelGridId">
					<f:facet name="header">
						<h:outputText value="#{Country}"></h:outputText>
					</f:facet>

					<h:outputText value="Ülke Kodu" style="font-weight: bold;"></h:outputText>
					<p:inputText value="#{ulkelerBean.ulkelerForm.ulkeKodu}">
					</p:inputText>

					<h:outputText value="Ülke Adı" style="font-weight: bold;"></h:outputText>
					<p:inputText value="#{ulkelerBean.ulkelerForm.ulkeIsmi}">
					</p:inputText>

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="Ülke #{language.Add}"
						update="newUlkelerMessages ulkelerListDataTableId newUlkelerPanelId accordionPanelId growl"
						process="@this countryDialogId"
						actionListener="#{ulkelerBean.addOrUpdateUlkeler}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){countryDialogWidget.hide();}">
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>
			<!-- ülke ekleme -->
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>