<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">

			<p:growl id="growl" />

			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px; width:100%" id="accordionPanelId"
				activeIndex="1">
				<p:tab
					title="#{language.SPIRALMAKINELERI} - İKİ GÜNLÜK BORU ÜRETİMİ">

					<p:tabView dynamic="true" cache="true">
						<p:ajax event="tabChange"
							listener="#{yonetimSayfasiBean.onTabChange1}" update=":growl" />
						<p:tab title="SPİRAL MAKİNESİ 2" id="sp2Tab1Id">
							<h:panelGrid columns="2" cellpadding="10">
								<p:dataTable var="producedPipe" id="sp2PipesDataTableId"
									rowKey="#{producedPipe.pipeId}"
									emptyMessage="#{language.EmptyMessage}"
									value="#{yonetimSayfasiBean.tab1ProducedPipes}"
									paginator="true" rows="10" selectionMode="single"
									dblClickSelect="false" selection="#{yonetimSayfasiBean.pipe}"
									dynamic="true"
									paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

									<!-- 					<p:ajax event="rowSelect" -->
									<!-- 						process="listForm:sp2PipesDataTableId sp2PipesDataTableId @this" -->
									<!-- 						listener="#{ruloBean.loadSelectedRulo}" -->
									<!-- 						update="growl sp2PipesDataTableId" /> -->

									<p:ajax event="rowSelect"
										update="growl sp2PipesDataTableId pipePanelId">
									</p:ajax>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Boru No"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.pipeIndex}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Sipariş No"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{producedPipe.salesItem.proposal.salesOrder.orderNo} - #{producedPipe.salesItem.itemNo}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Rulo No"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{producedPipe.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="#{language.Diameter}"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.disCap}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="#{language.WallThickness}"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.etKalinligi}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Kaynak Uzunluğu"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.kaynakBoy}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="#{language.Weight}"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.agirligi}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="#{language.Length}"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.boy}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="#{language.Explanation}"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.note}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Band Eki"></h:outputText>
										</f:facet>
										<h:outputText value="VAR" rendered="#{producedPipe.bandEki}"></h:outputText>
										<h:outputText value="YOK"
											rendered="#{producedPipe.bandEki==false}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Barkod"></h:outputText>
										</f:facet>
										<h:outputText value="VAR"
											style="color: green; font-weight: bold;"
											rendered="#{producedPipe.pipeBarkodNo!=null}"></h:outputText>
										<h:outputText value="YOK"
											style="color: red; font-weight: bold;"
											rendered="#{producedPipe.pipeBarkodNo==null}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Üretim Tarihi"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{producedPipe.productionDate}">
										</p:calendar>
									</p:column>

									<f:facet name="header">
										<h:outputText value="#{language.ProducedPipes}"></h:outputText>
									</f:facet>
								</p:dataTable>
							</h:panelGrid>
						</p:tab>
						<p:tab title="SPİRAL MAKİNESİ 3" id="sp3Tab1Id">
							<h:panelGrid columns="2" cellpadding="10">
								<p:dataTable var="producedPipe" id="sp3PipesDataTableId"
									rowKey="#{producedPipe.pipeId}"
									emptyMessage="#{language.EmptyMessage}"
									value="#{yonetimSayfasiBean.tab1ProducedPipes}"
									paginator="true" rows="10" selectionMode="single"
									dblClickSelect="false" selection="#{yonetimSayfasiBean.pipe}"
									dynamic="true"
									paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

									<!-- 					<p:ajax event="rowSelect" -->
									<!-- 						process="listForm:sp3PipesDataTableId sp3PipesDataTableId @this" -->
									<!-- 						listener="#{ruloBean.loadSelectedRulo}" -->
									<!-- 						update="growl sp3PipesDataTableId" /> -->

									<p:ajax event="rowSelect"
										update="growl sp3PipesDataTableId pipePanelId">
									</p:ajax>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Boru No"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.pipeIndex}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Sipariş No"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{producedPipe.salesItem.proposal.salesOrder.orderNo} - #{producedPipe.salesItem.itemNo}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Rulo No"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{producedPipe.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="#{language.Diameter}"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.disCap}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="#{language.WallThickness}"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.etKalinligi}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Kaynak Uzunluğu"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.kaynakBoy}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="#{language.Weight}"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.agirligi}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="#{language.Length}"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.boy}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="#{language.Explanation}"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.note}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Band Eki"></h:outputText>
										</f:facet>
										<h:outputText value="VAR" rendered="#{producedPipe.bandEki}"></h:outputText>
										<h:outputText value="YOK"
											rendered="#{producedPipe.bandEki==false}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Barkod"></h:outputText>
										</f:facet>
										<h:outputText value="VAR"
											style="color: green; font-weight: bold;"
											rendered="#{producedPipe.pipeBarkodNo!=null}"></h:outputText>
										<h:outputText value="YOK"
											style="color: red; font-weight: bold;"
											rendered="#{producedPipe.pipeBarkodNo==null}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Üretim Tarihi"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{producedPipe.productionDate}">
										</p:calendar>
									</p:column>

									<f:facet name="header">
										<h:outputText value="#{language.ProducedPipes}"></h:outputText>
									</f:facet>
								</p:dataTable>
							</h:panelGrid>
						</p:tab>
						<p:tab title="SPİRAL MAKİNESİ 5" id="sp5Tab1Id">
							<h:panelGrid columns="2" cellpadding="10">
								<p:dataTable var="producedPipe" id="sp5PipesDataTableId"
									rowKey="#{producedPipe.pipeId}"
									emptyMessage="#{language.EmptyMessage}"
									value="#{yonetimSayfasiBean.tab1ProducedPipes}"
									paginator="true" rows="10" selectionMode="single"
									dblClickSelect="false" selection="#{yonetimSayfasiBean.pipe}"
									dynamic="true"
									paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

									<!-- 					<p:ajax event="rowSelect" -->
									<!-- 						process="listForm:sp5PipesDataTableId sp5PipesDataTableId @this" -->
									<!-- 						listener="#{ruloBean.loadSelectedRulo}" -->
									<!-- 						update="growl sp5PipesDataTableId" /> -->

									<p:ajax event="rowSelect"
										update="growl sp5PipesDataTableId pipePanelId">
									</p:ajax>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Boru No"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.pipeIndex}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Sipariş No"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{producedPipe.salesItem.proposal.salesOrder.orderNo} - #{producedPipe.salesItem.itemNo}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Rulo No"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{producedPipe.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="#{language.Diameter}"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.disCap}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="#{language.WallThickness}"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.etKalinligi}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Kaynak Uzunluğu"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.kaynakBoy}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="#{language.Weight}"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.agirligi}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="#{language.Length}"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.boy}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="#{language.Explanation}"></h:outputText>
										</f:facet>
										<h:outputText value="#{producedPipe.note}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Band Eki"></h:outputText>
										</f:facet>
										<h:outputText value="VAR" rendered="#{producedPipe.bandEki}"></h:outputText>
										<h:outputText value="YOK"
											rendered="#{producedPipe.bandEki==false}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Barkod"></h:outputText>
										</f:facet>
										<h:outputText value="VAR"
											style="color: green; font-weight: bold;"
											rendered="#{producedPipe.pipeBarkodNo!=null}"></h:outputText>
										<h:outputText value="YOK"
											style="color: red; font-weight: bold;"
											rendered="#{producedPipe.pipeBarkodNo==null}"></h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Üretim Tarihi"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{producedPipe.productionDate}">
										</p:calendar>
									</p:column>

									<f:facet name="header">
										<h:outputText value="#{language.ProducedPipes}"></h:outputText>
									</f:facet>
								</p:dataTable>
							</h:panelGrid>
						</p:tab>
					</p:tabView>

				</p:tab>

				<p:tab
					title="#{language.SPIRALMAKINELERI} - ÜRETİLEN SİPARİŞ BİLGİLERİ">

					<p:tabView dynamic="true" cache="true">
						<p:ajax event="tabChange"
							listener="#{yonetimSayfasiBean.onTabChange2}" update=":growl" />
						<p:tab title="SPİRAL MAKİNESİ 2" id="sp2Tab2Id">
							<h:panelGrid columns="2" cellpadding="10">
								<p:dataTable var="producedPipe" id="sp2PipesDataTable2Id"
									rowKey="#{producedPipe.pipeId}"
									emptyMessage="#{language.EmptyMessage}"
									value="#{yonetimSayfasiBean.tab2Sp2ProducedPipes}"
									paginator="true" rows="10" selectionMode="single"
									dblClickSelect="false" selection="#{yonetimSayfasiBean.pipe}"
									dynamic="true"
									paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

									<p:ajax event="rowSelect"
										update="growl sp2PipesDataTable2Id pipePanelId">
									</p:ajax>
									<p:ajax event="rowSelect"
										listener="#{yonetimSayfasiBean.itemDurum(yonetimSayfasiBean.pipe.salesItem)}"
										update="orderAccordionPanelId:listPipeForm:datatablePipes orderAccordionPanelId growl">
									</p:ajax>

									<p:column style="width:2%" headerText="#{language.Ayrintilar}">
										<p:rowToggler>
											<!-- 								<p:ajax event="rowToggle" -->
											<!-- 									listener="#{yonetimSayfasiBean.onRowToggle}" -->
											<!-- 									update=":form:growl" /> -->
											<!-- 								<p:ajax -->
											<!-- 									listener="#{yonetimSayfasiBean.itemDurum(salesItems.itemId)}"> -->
											<!-- 								</p:ajax> -->
											<!-- 								<f:param id="prmItemId" value="#{salesItems.itemId}"></f:param> -->
										</p:rowToggler>
									</p:column>

									<p:column headerText="#{language.salesOrderNo}">
										<h:outputText
											value="#{producedPipe.salesItem.proposal.salesOrder.orderNo}" />
									</p:column>

									<p:column headerText="#{language.salesCustomer}">
										<h:outputText
											value="#{producedPipe.salesItem.proposal.customer.shortName}" />
									</p:column>

									<p:column headerText="#{language.salesNumber}">
										<h:outputText value="#{producedPipe.salesItem.itemNo}" />
									</p:column>

									<p:column headerText="#{language.salesDiameter}">

										<h:outputText value="#{producedPipe.salesItem.diameter}"
											converter="salesNumberConverter" />
									</p:column>

									<p:column headerText="#{language.salesThickness}">

										<h:outputText value="#{producedPipe.salesItem.thickness}"
											converter="salesNumberConverter" />
									</p:column>

									<p:column headerText="#{language.salesQuality}">

										<h:outputText value="#{producedPipe.salesItem.quality}"></h:outputText>
									</p:column>

									<p:column headerText="#{language.salesPipeLength}">

										<h:outputText value="#{producedPipe.salesItem.pipeLength}"
											converter="salesNumberConverter" />
									</p:column>

									<p:column headerText="#{language.salesTotalLength} (m)">

										<h:outputText value="#{producedPipe.salesItem.totalLengthM}"
											converter="salesNumberConverter" />
									</p:column>

									<p:column headerText="#{language.salesTotalTonnage} (kg)">

										<h:outputText value="#{producedPipe.salesItem.totalTonnage}"
											converter="salesNumberConverter" />
									</p:column>

									<p:column headerText="#{language.salesManufacturingStandard}">

										<h:outputText
											value="#{producedPipe.salesItem.manufacturingStandard}"></h:outputText>
									</p:column>

									<p:column headerText="#{language.salesRequestDate}">

										<h:outputText
											value="#{producedPipe.salesItem.proposal.requestDate}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{language.salesFormDate}">

										<h:outputText
											value="#{producedPipe.salesItem.proposal.formDate}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{language.salesPostDate}">

										<h:outputText
											value="#{producedPipe.salesItem.proposal.postDate}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{language.salesNotes}">
										<f:facet name="header">
											<h:outputText value="#{language.salesNotes}" />
										</f:facet>
										<h:outputText value="#{producedPipe.salesItem.proposal.notes}" />
									</p:column>

									<p:column headerText="#{language.salesOrderFormDate}">

										<h:outputText value="#{salesOrderBean.selectedOrder.formDate}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{language.salesOrderDeliveryDate}">

										<h:outputText
											value="#{salesOrderBean.selectedOrder.deliveryDate}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>

									<f:facet name="header">
										<h:outputText value="MAKİNADA ÜRETİLEN SİPARİŞ BİLGİLERİ"></h:outputText>
									</f:facet>

									<p:rowExpansion>

										<p:dataTable var="pipeDurum" id="pipeDurumTable" value=""
											rowKey="" emptyMessage="BORU ÜRETİMİ YOKTUR!"
											style="width:700px">

											<p:column headerText="#{language.PLANLANANMETRAJ} (m)">

												<h:outputText value="#{producedPipe.salesItem.totalLengthM}"
													converter="doubleNumberConverter" />
											</p:column>

											<p:column headerText="#{language.YUZDELIK}">
												<!-- 									<p:chart type="pie" model="#{chartView.pieModel2}" -->
												<!-- 										style="width:400px;height:300px" /> -->
											</p:column>

											<p:column headerText="#{language.YAPILANMETRAJ} (m)">

												<h:outputText value="#{yonetimSayfasiBean.yapilanMetraj}" />
											</p:column>

											<p:column headerText="#{language.KABULMETRAJ} (m)">

												<h:outputText value="#{yonetimSayfasiBean.kabulMetraj}" />
											</p:column>

											<p:column headerText="#{language.KALANMETRAJ} (m)">

												<h:outputText value="#{yonetimSayfasiBean.kalanMetraj}" />
											</p:column>

										</p:dataTable>
									</p:rowExpansion>
								</p:dataTable>
							</h:panelGrid>
						</p:tab>
						<p:tab title="SPİRAL MAKİNESİ 3" id="sp3Tab2Id">
							<h:panelGrid columns="2" cellpadding="10">
								<p:dataTable var="producedPipe" id="sp3PipesDataTable3Id"
									rowKey="#{producedPipe.pipeId}"
									emptyMessage="#{language.EmptyMessage}"
									value="#{yonetimSayfasiBean.tab2Sp3ProducedPipes}"
									paginator="true" rows="10" selectionMode="single"
									dblClickSelect="false" selection="#{yonetimSayfasiBean.pipe}"
									dynamic="true"
									paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

									<p:ajax event="rowSelect"
										update="growl sp3PipesDataTable3Id pipePanelId">
									</p:ajax>
									<p:ajax event="rowSelect"
										listener="#{yonetimSayfasiBean.itemDurum(yonetimSayfasiBean.pipe.salesItem)}"
										update="orderAccordionPanelId:listPipeForm:datatablePipes orderAccordionPanelId growl">
									</p:ajax>

									<p:column style="width:2%" headerText="#{language.Ayrintilar}">
										<p:rowToggler>
											<!-- 								<p:ajax event="rowToggle" -->
											<!-- 									listener="#{yonetimSayfasiBean.onRowToggle}" -->
											<!-- 									update=":form:growl" /> -->
											<!-- 								<p:ajax -->
											<!-- 									listener="#{yonetimSayfasiBean.itemDurum(salesItems.itemId)}"> -->
											<!-- 								</p:ajax> -->
											<!-- 								<f:param id="prmItemId" value="#{salesItems.itemId}"></f:param> -->
										</p:rowToggler>
									</p:column>

									<p:column headerText="#{language.salesOrderNo}">
										<h:outputText
											value="#{producedPipe.salesItem.proposal.salesOrder.orderNo}" />
									</p:column>

									<p:column headerText="#{language.salesCustomer}">
										<h:outputText
											value="#{producedPipe.salesItem.proposal.customer.shortName}" />
									</p:column>

									<p:column headerText="#{language.salesNumber}">
										<h:outputText value="#{producedPipe.salesItem.itemNo}" />
									</p:column>

									<p:column headerText="#{language.salesDiameter}">

										<h:outputText value="#{producedPipe.salesItem.diameter}"
											converter="salesNumberConverter" />
									</p:column>

									<p:column headerText="#{language.salesThickness}">

										<h:outputText value="#{producedPipe.salesItem.thickness}"
											converter="salesNumberConverter" />
									</p:column>

									<p:column headerText="#{language.salesQuality}">

										<h:outputText value="#{producedPipe.salesItem.quality}"></h:outputText>
									</p:column>

									<p:column headerText="#{language.salesPipeLength}">

										<h:outputText value="#{producedPipe.salesItem.pipeLength}"
											converter="salesNumberConverter" />
									</p:column>

									<p:column headerText="#{language.salesTotalLength} (m)">

										<h:outputText value="#{producedPipe.salesItem.totalLengthM}"
											converter="salesNumberConverter" />
									</p:column>

									<p:column headerText="#{language.salesTotalTonnage} (kg)">

										<h:outputText value="#{producedPipe.salesItem.totalTonnage}"
											converter="salesNumberConverter" />
									</p:column>

									<p:column headerText="#{language.salesManufacturingStandard}">

										<h:outputText
											value="#{producedPipe.salesItem.manufacturingStandard}"></h:outputText>
									</p:column>

									<p:column headerText="#{language.salesRequestDate}">

										<h:outputText
											value="#{producedPipe.salesItem.proposal.requestDate}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{language.salesFormDate}">

										<h:outputText
											value="#{producedPipe.salesItem.proposal.formDate}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{language.salesPostDate}">

										<h:outputText
											value="#{producedPipe.salesItem.proposal.postDate}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{language.salesNotes}">
										<f:facet name="header">
											<h:outputText value="#{language.salesNotes}" />
										</f:facet>
										<h:outputText value="#{producedPipe.salesItem.proposal.notes}" />
									</p:column>

									<p:column headerText="#{language.salesOrderFormDate}">

										<h:outputText value="#{salesOrderBean.selectedOrder.formDate}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{language.salesOrderDeliveryDate}">

										<h:outputText
											value="#{salesOrderBean.selectedOrder.deliveryDate}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>

									<f:facet name="header">
										<h:outputText value="MAKİNADA ÜRETİLEN SİPARİŞ BİLGİLERİ"></h:outputText>
									</f:facet>
									<p:rowExpansion>

										<p:dataTable var="pipeDurum" id="pipeDurumTable" value=""
											rowKey="" emptyMessage="BORU ÜRETİMİ YOKTUR!"
											style="width:700px">

											<p:column headerText="#{language.PLANLANANMETRAJ} (m)">

												<h:outputText value="#{producedPipe.salesItem.totalLengthM}"
													converter="doubleNumberConverter" />
											</p:column>

											<p:column headerText="#{language.YUZDELIK}">
												<!-- 									<p:chart type="pie" model="#{chartView.pieModel2}" -->
												<!-- 										style="width:400px;height:300px" /> -->
											</p:column>

											<p:column headerText="#{language.YAPILANMETRAJ} (m)">

												<h:outputText value="#{yonetimSayfasiBean.yapilanMetraj}" />
											</p:column>

											<p:column headerText="#{language.KABULMETRAJ} (m)">

												<h:outputText value="#{yonetimSayfasiBean.kabulMetraj}" />
											</p:column>

											<p:column headerText="#{language.KALANMETRAJ} (m)">

												<h:outputText value="#{yonetimSayfasiBean.kalanMetraj}" />
											</p:column>

										</p:dataTable>
									</p:rowExpansion>
								</p:dataTable>
							</h:panelGrid>
						</p:tab>
						<p:tab title="SPİRAL MAKİNESİ 5" id="sp5Tab2Id">
							<h:panelGrid columns="2" cellpadding="10">
								<p:dataTable var="producedPipe" id="sp5PipesDataTable5Id"
									rowKey="#{producedPipe.pipeId}"
									emptyMessage="#{language.EmptyMessage}"
									value="#{yonetimSayfasiBean.tab2Sp5ProducedPipes}"
									paginator="true" rows="10" selectionMode="single"
									dblClickSelect="false" selection="#{yonetimSayfasiBean.pipe}"
									dynamic="true"
									paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

									<p:ajax event="rowSelect"
										update="growl sp5PipesDataTable5Id pipePanelId">
									</p:ajax>
									<p:ajax event="rowSelect"
										listener="#{yonetimSayfasiBean.itemDurum(yonetimSayfasiBean.pipe.salesItem)}"
										update="orderAccordionPanelId:listPipeForm:datatablePipes orderAccordionPanelId growl">
									</p:ajax>

									<p:column style="width:2%" headerText="#{language.Ayrintilar}">
										<p:rowToggler>
											<!-- 								<p:ajax event="rowToggle" -->
											<!-- 									listener="#{yonetimSayfasiBean.onRowToggle}" -->
											<!-- 									update=":form:growl" /> -->
											<!-- 								<p:ajax -->
											<!-- 									listener="#{yonetimSayfasiBean.itemDurum(salesItems.itemId)}"> -->
											<!-- 								</p:ajax> -->
											<!-- 								<f:param id="prmItemId" value="#{salesItems.itemId}"></f:param> -->
										</p:rowToggler>
									</p:column>

									<p:column headerText="#{language.salesOrderNo}">
										<h:outputText
											value="#{producedPipe.salesItem.proposal.salesOrder.orderNo}" />
									</p:column>

									<p:column headerText="#{language.salesCustomer}">
										<h:outputText
											value="#{producedPipe.salesItem.proposal.customer.shortName}" />
									</p:column>

									<p:column headerText="#{language.salesNumber}">
										<h:outputText value="#{producedPipe.salesItem.itemNo}" />
									</p:column>

									<p:column headerText="#{language.salesDiameter}">

										<h:outputText value="#{producedPipe.salesItem.diameter}"
											converter="salesNumberConverter" />
									</p:column>

									<p:column headerText="#{language.salesThickness}">

										<h:outputText value="#{producedPipe.salesItem.thickness}"
											converter="salesNumberConverter" />
									</p:column>

									<p:column headerText="#{language.salesQuality}">

										<h:outputText value="#{producedPipe.salesItem.quality}"></h:outputText>
									</p:column>

									<p:column headerText="#{language.salesPipeLength}">

										<h:outputText value="#{producedPipe.salesItem.pipeLength}"
											converter="salesNumberConverter" />
									</p:column>

									<p:column headerText="#{language.salesTotalLength} (m)">

										<h:outputText value="#{producedPipe.salesItem.totalLengthM}"
											converter="salesNumberConverter" />
									</p:column>

									<p:column headerText="#{language.salesTotalTonnage} (kg)">

										<h:outputText value="#{producedPipe.salesItem.totalTonnage}"
											converter="salesNumberConverter" />
									</p:column>

									<p:column headerText="#{language.salesManufacturingStandard}">

										<h:outputText
											value="#{producedPipe.salesItem.manufacturingStandard}"></h:outputText>
									</p:column>

									<p:column headerText="#{language.salesRequestDate}">

										<h:outputText
											value="#{producedPipe.salesItem.proposal.requestDate}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{language.salesFormDate}">

										<h:outputText
											value="#{producedPipe.salesItem.proposal.formDate}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{language.salesPostDate}">

										<h:outputText
											value="#{producedPipe.salesItem.proposal.postDate}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{language.salesNotes}">
										<f:facet name="header">
											<h:outputText value="#{language.salesNotes}" />
										</f:facet>
										<h:outputText value="#{producedPipe.salesItem.proposal.notes}" />
									</p:column>

									<p:column headerText="#{language.salesOrderFormDate}">

										<h:outputText value="#{salesOrderBean.selectedOrder.formDate}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{language.salesOrderDeliveryDate}">

										<h:outputText
											value="#{salesOrderBean.selectedOrder.deliveryDate}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>

									<f:facet name="header">
										<h:outputText value="MAKİNADA ÜRETİLEN SİPARİŞ BİLGİLERİ"></h:outputText>
									</f:facet>
									<p:rowExpansion>

										<p:dataTable var="pipeDurum" id="pipeDurumTable" value=""
											rowKey="" emptyMessage="BORU ÜRETİMİ YOKTUR!"
											style="width:700px">

											<p:column headerText="#{language.PLANLANANMETRAJ} (m)">

												<h:outputText value="#{producedPipe.salesItem.totalLengthM}"
													converter="doubleNumberConverter" />
											</p:column>

											<p:column headerText="#{language.YUZDELIK}">
												<!-- 									<p:chart type="pie" model="#{chartView.pieModel2}" -->
												<!-- 										style="width:400px;height:300px" /> -->
											</p:column>

											<p:column headerText="#{language.YAPILANMETRAJ} (m)">

												<h:outputText value="#{yonetimSayfasiBean.yapilanMetraj}" />
											</p:column>

											<p:column headerText="#{language.KABULMETRAJ} (m)">

												<h:outputText value="#{yonetimSayfasiBean.kabulMetraj}" />
											</p:column>

											<p:column headerText="#{language.KALANMETRAJ} (m)">

												<h:outputText value="#{yonetimSayfasiBean.kalanMetraj}" />
											</p:column>

										</p:dataTable>
									</p:rowExpansion>
								</p:dataTable>
							</h:panelGrid>
						</p:tab>
					</p:tabView>

				</p:tab>

				<p:tab id="pipeDurumTabId" title="TÜM SİPARİŞLERİN ÜRETİM DURUMU">

					<p:dataTable var="salesItems" id="itemsDurumTable"
						value="#{yonetimSayfasiBean.itemList}"
						rowKey="#{salesItems.itemId}"
						selection="#{tahribatsizTestOrderListBean.selectedSalesItem}"
						selectionMode="single" emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesItemBean.filteredList}" stickyHeader="true">

						<p:ajax event="rowSelect"
							listener="#{tahribatsizTestOrderListBean.loadSelectedOrder}"
							process="orderAccordionPanelId:listOrderForm:datatableOrders datatableOrders"
							update="orderAccordionPanelId:listPipeForm:datatablePipes orderAccordionPanelId" />

						<p:ajax event="rowSelect"
							listener="#{yonetimSayfasiBean.itemDurum(tahribatsizTestOrderListBean.selectedSalesItem)}"
							update="orderAccordionPanelId:listPipeForm:datatablePipes orderAccordionPanelId growl">
						</p:ajax>

						<p:column style="width:2%" headerText="#{language.Ayrintilar}">
							<p:rowToggler>
								<!-- 								<p:ajax event="rowToggle" -->
								<!-- 									listener="#{yonetimSayfasiBean.onRowToggle}" -->
								<!-- 									update=":form:growl" /> -->
								<!-- 								<p:ajax -->
								<!-- 									listener="#{yonetimSayfasiBean.itemDurum(salesItems.itemId)}"> -->
								<!-- 								</p:ajax> -->
								<!-- 								<f:param id="prmItemId" value="#{salesItems.itemId}"></f:param> -->
							</p:rowToggler>
						</p:column>

						<p:column headerText="#{language.salesOrderNo}"
							sortBy="#{salesItems.proposal.salesOrder.orderNo}"
							filterBy="#{salesItems.proposal.salesOrder.orderNo}"
							filterMatchMode="contains">
							<h:outputText value="#{salesItems.proposal.salesOrder.orderNo}" />
						</p:column>

						<p:column headerText="#{language.salesCustomer}"
							sortBy="#{salesItems.proposal.customer.shortName}"
							filterBy="#{salesItems.proposal.customer.shortName}"
							filterMatchMode="contains">
							<h:outputText value="#{salesItems.proposal.customer.shortName}" />
						</p:column>

						<p:column headerText="#{language.salesNumber}">
							<h:outputText value="#{salesItems.itemNo}" />
						</p:column>

						<p:column headerText="#{language.salesDiameter}">

							<h:outputText value="#{salesItems.diameter}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column headerText="#{language.salesThickness}">

							<h:outputText value="#{salesItems.thickness}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column headerText="#{language.salesQuality}">

							<h:outputText value="#{salesItems.quality}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.salesPipeLength}">

							<h:outputText value="#{salesItems.pipeLength}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column headerText="#{language.salesTotalLength} (m)">

							<h:outputText value="#{salesItems.totalLengthM}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column headerText="#{language.salesTotalTonnage} (kg)">

							<h:outputText value="#{salesItems.totalTonnage}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column headerText="#{language.salesManufacturingStandard}">

							<h:outputText value="#{salesItems.manufacturingStandard}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.salesRequestDate}">

							<h:outputText value="#{salesItems.proposal.requestDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{language.salesFormDate}">

							<h:outputText value="#{salesItems.proposal.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{language.salesPostDate}">

							<h:outputText value="#{salesItems.proposal.postDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{language.salesNotes}">
							<f:facet name="header">
								<h:outputText value="#{language.salesNotes}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.notes}" />
						</p:column>

						<p:column headerText="#{language.salesOrderFormDate}">

							<h:outputText value="#{salesOrderBean.selectedOrder.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{language.salesOrderDeliveryDate}">

							<h:outputText
								value="#{salesOrderBean.selectedOrder.deliveryDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:rowExpansion>

							<p:dataTable var="pipeDurum" id="pipeDurumTable" value=""
								rowKey="" emptyMessage="BORU ÜRETİMİ YOKTUR!"
								style="width:700px">

								<p:column headerText="#{language.PLANLANANMETRAJ} (m)">

									<h:outputText value="#{salesItems.totalLengthM}"
										converter="doubleNumberConverter" />
								</p:column>

								<p:column headerText="#{language.YUZDELIK}">
									<!-- 									<p:chart type="pie" model="#{chartView.pieModel2}" -->
									<!-- 										style="width:400px;height:300px" /> -->
								</p:column>

								<p:column headerText="#{language.YAPILANMETRAJ} (m)">

									<h:outputText value="#{yonetimSayfasiBean.yapilanMetraj}" />
								</p:column>

								<p:column headerText="#{language.KABULMETRAJ} (m)">

									<h:outputText value="#{yonetimSayfasiBean.kabulMetraj}" />
								</p:column>

								<p:column headerText="#{language.KALANMETRAJ} (m)">

									<h:outputText value="#{yonetimSayfasiBean.kalanMetraj}" />
								</p:column>

							</p:dataTable>
						</p:rowExpansion>

					</p:dataTable>

				</p:tab>

			</p:accordionPanel>

			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget"
				binding="#{salesItemBean.accordionPanel}" activeIndex="-1"
				rendered="false">
				<p:tab id="salesTabId" title="Şipariş ve Sipariş Kalemleri">
					<p:dataTable var="salesOrders" id="orderTable"
						value="#{salesOrderBean.orderList}"
						rowKey="#{salesOrders.orderId}"
						selection="#{salesOrderBean.selectedOrder}" selectionMode="single"
						update="orderSelected" paginator="true" rows="20"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesOrderBean.filteredList}">

						<p:ajax event="rowSelect"
							update="orderSelected,orderPanel,itemPanel,itemsTable"
							listener="#{salesMenuBean.showManageType1Menu}" />

						<p:ajax event="rowSelect"
							listener="#{qualitySpecBean.producedPipes}"
							process="listForm:orderTable orderTable"
							update="pipeForm producedPipesDataTableId salesTabId" />
						<p:ajax event="rowSelect" update="orderAccordionPanelId">
						</p:ajax>
						<p:ajax event="rowSelect" update="pipeTabId">
						</p:ajax>

						<f:facet name="header">
				  #{language.salesOrder}				
							<h:commandLink title="#{language.salesExcelExport}"
								immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="orderTable"
									fileName="#{language.salesOrderExcel}" />
							</h:commandLink>
						</f:facet>

						<p:column sortBy="#{salesOrders.orderNo}"
							filterBy="#{salesOrders.orderNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText value="#{salesOrders.orderNo}" />
						</p:column>

						<!-- 						<p:column sortBy="#{salesOrders.proposal.proposalNumber}" -->
						<!-- 							filterBy="#{salesOrders.proposal.proposalNumber}" -->
						<!-- 							filterMatchMode="contains"> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="#{language.salesProposalNumber}" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<h:outputText value="#{salesOrders.proposal.proposalNumber}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column sortBy="#{salesOrders.proposal.customer.shortName}"
							filterBy="#{salesOrders.proposal.customer.shortName}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesCustomer}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.customer.shortName}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.requestDate}"
							filterBy="#{salesOrders.proposal.requestDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesRequestDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.requestDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.formDate}"
							filterBy="#{salesOrders.proposal.formDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesFormDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.postDate}"
							filterBy="#{salesOrders.proposal.postDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesPostDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.postDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="salesItems" id="itemsTable"
						value="#{salesItemBean.itemsOfSelectedOrder}"
						rowKey="#{salesItems.itemId}"
						selection="#{tahribatsizTestOrderListBean.selectedSalesItem}"
						selectionMode="single" emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesItemBean.filteredList}">

						<p:ajax event="rowSelect"
							listener="#{tahribatsizTestOrderListBean.loadSelectedOrder}"
							process="orderAccordionPanelId:listOrderForm:datatableOrders datatableOrders"
							update="orderAccordionPanelId:listPipeForm:datatablePipes orderAccordionPanelId" />

						<p:ajax event="rowSelect"
							listener="#{salesItemBean.activeIndex(1)}"
							update="orderAccordionPanelId:listPipeForm:datatablePipes orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
				  #{language.salesItem}			
							<h:commandLink title="#{language.salesExcelExport}"
								immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="itemsTable"
									fileName="#{language.salesOrderItemExcel}" />
							</h:commandLink>
							<p:spacer width="5120" height="5" />
						</f:facet>

						<p:column sortBy="#{salesItems.No}"
							filterBy="#{salesItems.itemNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesNumber}" />
							</f:facet>
							<h:outputText value="#{salesItems.itemNo}" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}"
							filterBy="#{salesItems.diameter}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.diameter}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.quality}"
							filterBy="#{salesItems.thickness}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesThickness}" />
							</f:facet>
							<h:outputText value="#{salesItems.thickness}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}"
							filterBy="#{salesItems.quality}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesQuality}" />
							</f:facet>
							<h:outputText value="#{salesItems.quality}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.pipeLength}"
							filterBy="#{salesItems.pipeLength}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesPipeLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.pipeLength}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalLengthM}"
							filterBy="#{salesItems.totalLengthM}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalLengthM}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.unitWeight}"
							filterBy="#{salesItems.unitWeight}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesUnitWeight}" />
							</f:facet>
							<h:outputText value="#{salesItems.unitWeight}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalTonnage}"
							filterBy="#{salesItems.totalTonnage}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalTonnage}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalTonnage}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.manufacturingStandard}"
							filterBy="#{salesItems.manufacturingStandard}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.manufacturingStandard}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.transportation}"
							filterBy="#{salesItems.transportation}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesManufacturingStandard}" />
							</f:facet>
							<h:outputText value="#{salesItems.transportation}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText value="#{salesOrderBean.selectedOrder.orderNo}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesProposalNumber}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.proposalNumber}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesCustomer}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.customer.shortName}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesRequestDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.requestDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesFormDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPostDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.postDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesValidityPeriod}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.validityPeriod}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPrepaidBy}" />
							</f:facet>
							<c:forEach items="#{salesItems.proposal.employeeList}"
								var="salesList">
								<h:outputText
									value="#{salesList.firstname} #{salesList.lastname}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								-
								<h:outputText value="#{salesList.amount}"
									converter="salesNumberConverter" />
								<h:outputText value=" " />
							</c:forEach>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesApproval}1" />
							</f:facet>
							<h:outputText rendered="#{salesItems.proposal.approval1 == true}"
								value="#{language.salesApproved}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesApproval}2" />
							</f:facet>
							<h:outputText rendered="#{salesItems.proposal.approval2 == true}"
								value="#{language.salesApproved}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesCurrencyUnit}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.currencyUnit.name}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesProposalRequestedDocuments}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.requestedDocuments}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesNotes}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.notes}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderFormDate}" />
							</f:facet>
							<h:outputText value="#{salesOrderBean.selectedOrder.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderDeliveryDate}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.deliveryDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope1}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope1 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope2}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope2 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope3}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope3 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope4}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope4 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope5}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope5 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderTransportationApproximateAmount}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountForTransportation}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderTransportationApproximateAmountDetail}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountDetailForTransportation}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderApproximateAmount}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmount}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderApproximateAmountDetail}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountDetail}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPayments}" />
							</f:facet>
							<c:forEach items="#{salesPaymentBean.paymentsOfSelectedOrder}"
								var="salesList">
								<h:outputText value="(" />
								<h:outputText value="#{salesList.paymentDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								-
								<h:outputText value="#{salesList.amount}"
									converter="salesNumberConverter" />
								<h:outputText value=") " />
							</c:forEach>
						</p:column>

					</p:dataTable>
				</p:tab>

				<p:tab id="pipeTabId" title="#{language.ProducedPipes}">
					<h:form id="listPipeForm">
						<p:dataTable id="datatablePipes" var="pipe"
							value="#{tahribatsizTestOrderListBean.selectedPipes}"
							tableStyle="width:100%;" paginator="true" rows="15"
							dynamic="true" widgetVar="data" rowKey="#{pipe.pipeId}"
							sortOrder="descending" sortBy="#{pipe.pipeId}"
							paginatorTemplate="#{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

							<f:facet name="header">
								<h:outputText value="#{language.ProducedPipes}" />
							</f:facet>

							<p:column style="width:2%">
								<f:facet name="header">
									<h:outputText value="Ayrıntılar"></h:outputText>
								</f:facet>
								<p:rowToggler />
							</p:column>

							<p:column headerText="#{language.PipeNumber}" style="width:10%"
								sortBy="#{pipe.salesItem.proposal.salesOrder.orderNo} / #{pipe.salesItem.itemNo} - #{pipe.pipeIndex}"
								filterBy="#{pipe.salesItem.proposal.salesOrder.orderNo} / #{pipe.salesItem.itemNo} - #{pipe.pipeIndex}">
								<h:outputText
									value="#{pipe.salesItem.proposal.salesOrder.orderNo} / #{pipe.salesItem.itemNo} - #{pipe.pipeIndex}" />
							</p:column>

							<!-- 							<p:column headerText="#{language.Ordernumber}"> -->
							<!-- 								<h:outputText -->
							<!-- 									value="#{pipe.salesItem.proposal.salesOrder.orderNo} / #{pipe.salesItem.itemNo}" /> -->
							<!-- 							</p:column> -->

							<p:column headerText="Rulo No" style="width:10%"
								sortBy="#{pipe.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}"
								filterBy="#{pipe.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}">
								<h:outputText
									value="#{pipe.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}" />
							</p:column>

							<p:column headerText="Döküm No" style="width:10%"
								sortBy="#{pipe.ruloPipeLink.rulo.ruloDokumNo}"
								filterBy="#{pipe.ruloPipeLink.rulo.ruloDokumNo}">
								<h:outputText value="#{pipe.ruloPipeLink.rulo.ruloDokumNo}" />
							</p:column>

							<p:column style="width:10%">
								<f:facet name="header">
									<h:outputText value="Üretim Tarihi"></h:outputText>
								</f:facet>
								<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
									disabled="true" value="#{pipe.productionDate}">
								</p:calendar>
							</p:column>

							<p:column style="width:10%">
								<f:facet name="header">
									<h:outputText value="Sisteme Kayıt Tarihi"></h:outputText>
								</f:facet>
								<p:calendar disabled="true" value="#{pipe.eklemeZamani}">
									<f:convertDateTime pattern="dd/MM/yyyy HH:mm" timeZone="GMT+2" />
								</p:calendar>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Diameter}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.disCap}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Weight}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.agirligi}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Length}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.boy}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Explanation}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.note}"></h:outputText>
							</p:column>

							<p:column style="text-align: center;">
								<f:facet name="header">
									<h:outputText value="Torna"></h:outputText>
								</f:facet>
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px"
									rendered="#{pipe.testTahribatsizTorna.durum}">
								</p:graphicImage>
							</p:column>
							<p:column style="text-align: center;">
								<f:facet name="header">
									<h:outputText value="Hidrostatik"></h:outputText>
								</f:facet>
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px"
									rendered="#{pipe.testTahribatsizHidrostatik.durum}">
								</p:graphicImage>
							</p:column>
							<p:column style="text-align: center;">
								<f:facet name="header">
									<h:outputText value="Göz Ölçü"></h:outputText>
								</f:facet>
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px"
									rendered="#{pipe.testTahribatsizGozOlcuSonuc.result==1}">
								</p:graphicImage>
							</p:column>

							<p:column headerText="Band Eki">
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px" rendered="#{pipe.bandEki==true}">
								</p:graphicImage>
							</p:column>

							<p:rowExpansion>
								<p:dataTable var="manuel"
									value="#{pipe.testTahribatsizManuelUtSonuclar}"
									rowKey="#{manuel.id}" sortOrder="descending">
									<f:facet name="header">
										<h:outputText value="MANUEL UT"></h:outputText>
									</f:facet>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Eklenme Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{manuel.eklemeZamani}">
										</p:calendar>
									</p:column>

									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Koordinat"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{manuel.koordinatQ} x #{manuel.koordinatL}"></h:outputText>
									</p:column>

									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Değerlendirme"></h:outputText>
										</f:facet>
										<h:outputText rendered="#{manuel.degerlendirme==-1}"
											style="color: brown; font-weight: bold;" value="SEÇİNİZ!"></h:outputText>
										<h:outputText rendered="#{manuel.degerlendirme==1}"
											style="color: green; font-weight: bold;" value="KABUL"></h:outputText>
										<h:outputText rendered="#{manuel.degerlendirme==0}"
											value="RED"></h:outputText>
										<h:outputText rendered="#{manuel.degerlendirme==2}"
											style="color: red; font-weight: bold;" value="TAMİR"></h:outputText>
									</p:column>

									<p:column headerText="Tamir Gönderme Zamanı">
										<h:outputText
											value="#{manuel.testTahribatsizTamir.eklemeZamani}">
											<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
												timeZone="Europe/Istanbul" />
										</h:outputText>
									</p:column>

									<p:column headerText="Tamire Gönderen Kullanıcı">
										<h:outputText
											value="#{manuel.testTahribatsizTamir.user.employee.firstname} #{manuel.testTahribatsizTamir.user.employee.lastname}"></h:outputText>
									</p:column>

									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Tamir Sonrası Durum"></h:outputText>
										</f:facet>
										<h:outputText rendered="#{manuel.tamirSonrasiDurum==-1}"
											style="color: brown; font-weight: bold;" value="SEÇİNİZ!"></h:outputText>
										<h:outputText rendered="#{manuel.tamirSonrasiDurum==1}"
											style="color: green; font-weight: bold;" value="KABUL"></h:outputText>
										<h:outputText rendered="#{manuel.tamirSonrasiDurum==0}"
											style="color: red; font-weight: bold;" value="RED"></h:outputText>
									</p:column>

									<p:column headerText="Tamir Kabul Zamanı">
										<h:outputText value="#{manuel.tamirKabulZamani}">
											<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
												timeZone="Europe/Istanbul" />
										</h:outputText>
									</p:column>

									<p:column headerText="Tamiri Kabul Eden Kullanıcı">
										<h:outputText
											value="#{manuel.tamirKabulEmployee.employee.firstname} #{manuel.tamirKabulEmployee.employee.lastname}"></h:outputText>
									</p:column>
								</p:dataTable>

								<p:dataTable var="tamir" value="#{pipe.testTahribatsizTamirler}"
									rowKey="#{tamir.id}" sortOrder="descending">
									<f:facet name="header">
										<h:outputText value="TAMİRLER"></h:outputText>
									</f:facet>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Eklenme Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{tamir.eklemeZamani}">
										</p:calendar>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Koordinat"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{tamir.testTahribatsizManuelUtSonuc.koordinatQ} x #{tamir.testTahribatsizManuelUtSonuc.koordinatL}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Durum"></h:outputText>
										</f:facet>
										<h:outputText rendered="#{tamir.durum==true}"
											style="color: green; font-weight: bold;"
											value="TAMİR TAMAMLANDI."></h:outputText>
										<h:outputText rendered="#{tamir.durum==false}"
											style="color: brown; font-weight: bold;"
											value="TAMİR BİTİRİLMEDİ."></h:outputText>
										<h:outputText rendered="#{tamir.durum==null}"
											style="color: red; font-weight: bold;"
											value="TAMİR BAŞLANMADI."></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Tamire Başlama Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{tamir.muayeneBaslamaZamani}">
										</p:calendar>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Tamire Başlayan Personel"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{tamir.muayeneBaslamaUser.firstname} #{tamir.muayeneBaslamaUser.lastname}"></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Tamiri Bitirme Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{tamir.muayeneBitisZamani}">
										</p:calendar>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Tamiri Bitiren Personel"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{tamir.muayeneBitisUser.firstname} #{tamir.muayeneBitisUser.lastname}"></h:outputText>
									</p:column>
								</p:dataTable>

								<p:dataTable var="floroskopi"
									value="#{pipe.testTahribatsizFloroskopikSonuclar}"
									rowKey="#{floroskopi.id}" sortOrder="descending">
									<f:facet name="header">
										<h:outputText value="FLOROSKOPİK MUAYENE"></h:outputText>
									</f:facet>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Eklenme Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{floroskopi.eklemeZamani}">
										</p:calendar>
									</p:column>

									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Koordinat"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{floroskopi.koordinatQ} x #{floroskopi.koordinatL}"></h:outputText>
									</p:column>

									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Tamir/Kesim"></h:outputText>
										</f:facet>
										<h:outputText rendered="#{floroskopi.tamirKesim==-1}"
											style="color: brown; font-weight: bold;" value="SEÇİNİZ!"></h:outputText>
										<h:outputText rendered="#{floroskopi.tamirKesim==1}"
											style="color: green; font-weight: bold;" value="TAMİR"></h:outputText>
										<h:outputText rendered="#{floroskopi.tamirKesim==0}"
											value="KESİM"></h:outputText>
									</p:column>

									<p:column headerText="Tamir Gönderme Zamanı">
										<h:outputText
											value="#{floroskopi.testTahribatsizTamir.eklemeZamani}">
											<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
												timeZone="Europe/Istanbul" />
										</h:outputText>
									</p:column>

									<p:column headerText="Tamire Gönderen Kullanıcı">
										<h:outputText
											value="#{floroskopi.testTahribatsizTamir.user.employee.firstname} #{floroskopi.testTahribatsizTamir.user.employee.lastname}"></h:outputText>
									</p:column>

									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Tamir Sonrası Durum"></h:outputText>
										</f:facet>
										<h:outputText rendered="#{floroskopi.result==-1}"
											style="color: brown; font-weight: bold;" value="SEÇİNİZ!"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==1}"
											style="color: green; font-weight: bold;" value="KABUL"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==0}"
											style="color: red; font-weight: bold;" value="RED"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==2}"
											style="color: red; font-weight: bold;" value="TAMİR"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==3}"
											style="color: red; font-weight: bold;" value="TORNA"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==4}"
											style="color: red; font-weight: bold;" value="KESİM"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==5}"
											style="color: red; font-weight: bold;" value="HİDROSTATİK"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==6}"
											style="color: red; font-weight: bold;" value="GÖZ ÖLÇÜ"></h:outputText>
									</p:column>

									<p:column headerText="Tamir Kabul Zamanı">
										<h:outputText value="#{floroskopi.tamirKabulZamani}">
											<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
												timeZone="Europe/Istanbul" />
										</h:outputText>
									</p:column>

									<p:column headerText="Tamiri Kabul Eden Kullanıcı">
										<h:outputText
											value="#{floroskopi.tamirKabulEmployee.employee.firstname} #{floroskopi.tamirKabulEmployee.employee.lastname}"></h:outputText>
									</p:column>
								</p:dataTable>

								<p:dataTable var="kesim"
									value="#{pipe.testTahribatsizKesimSonuclar}"
									rowKey="#{kesim.id}" sortOrder="descending">
									<f:facet name="header">
										<h:outputText value="KESİMLER"></h:outputText>
									</f:facet>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Eklenme Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{kesim.eklemeZamani}">
										</p:calendar>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Kesime Gönderen"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{kesim.user.employee.firstname} #{kesim.user.employee.lastname}"></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Kesime Başlama Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{kesim.eklemeZamani}">
										</p:calendar>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Kesime Başlayan Personel"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{kesim.muayeneBaslamaUser.employee.firstname} #{kesim.muayeneBaslamaUser.employee.lastname}"></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Kesim İşlemi Durumu"></h:outputText>
										</f:facet>

									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Kesim Bitiş Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{kesim.eklemeZamani}">
										</p:calendar>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Kesimi Yapan Kullanıcı"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{kesim.muayeneBitisUser.employee.firstname} #{kesim.muayeneBitisUser.employee.lastname}"></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Açıklama"></h:outputText>
										</f:facet>
										<h:outputText value="#{kesim.aciklama}"></h:outputText>
									</p:column>
								</p:dataTable>

							</p:rowExpansion>

						</p:dataTable>
					</h:form>
				</p:tab>

			</p:accordionPanel>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>