<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main.xhtml">

		<ui:define name="sideMenu">
			<!-- <p:messages showDetail="false" showSummary="true" id="salesMessages" autoUpdate="true" /> -->
			<p:growl id="salesGrowl" showDetail="true" sticky="true"
				autoUpdate="true" />

			<p:accordionPanel dynamic="true" cache="true" id="crmAccordionPanel">

				<p:tab id="salesMeetingTab" title="#{language.salesMeeting}">

					<p:dataTable var="meeting" id="meetingTable"
						value="#{salesCRMMeetingBean.meetingsOfCustomer}"
						rowKey="#{meeting.salesCRMMeetingId}"
						selection="#{salesCRMMeetingBean.selectedMeeting}"
						selectionMode="single" paginator="true" rows="20"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesCRMMeetingBean.filteredList}">

						<p:ajax event="rowSelect"
							update="meetingOutputPanel,callOutputPanel,visitOutputPanel,selectedMeetingTab,deleteMeetingDocumentDialogId"
							listener="#{salesMenuBean.showManageType1Menu}" />

						<f:facet name="header"> #{language.salesMeeting}
								</f:facet>

						<f:facet name="footer">

							<p:commandButton id="newButton"
								value="#{language.salesNewMeeting}" style="width:100px"
								process="@all"
								update="meetingOutputPanel,callOutputPanel,visitOutputPanel">
								<f:setPropertyActionListener value="#{true}"
									target="#{salesMenuBean.newType1Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.manageType1Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.newType2Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.manageType2Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.newType3Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.manageType3Menu}" />
							</p:commandButton>

							<p:spacer width="25" height="5" />

							<p:commandButton id="manageButton"
								value="#{language.salesManage}" style="width:100px"
								process="@all"
								update="meetingOutputPanel,callOutputPanel,visitOutputPanel,selectedMeetingTab">
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.newType1Menu}" />
								<f:setPropertyActionListener value="#{true}"
									target="#{salesMenuBean.manageType1Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.newType2Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.manageType2Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.newType3Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.manageType3Menu}" />
							</p:commandButton>
						</f:facet>

						<p:column headerText="#{language.salesMeetingAgenda}"
							sortBy="#{meeting.meetingAgenda}"
							filterBy="#{meeting.meetingAgenda}" filterMatchMode="contains">
							<h:outputText value="#{meeting.meetingAgenda}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.salesDate}"
							sortBy="#{meeting.meetingDate}" filterBy="#{meeting.meetingDate}"
							filterMatchMode="contains">
							<h:outputText value="#{meeting.meetingDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{language.salesTime}"
							sortBy="#{meeting.meetingTime}" filterBy="#{meeting.meetingTime}"
							filterMatchMode="contains">
							<h:outputText value="#{meeting.meetingTime}">
								<f:convertDateTime pattern="HH:mm" />
							</h:outputText>
						</p:column>
						<!-- 
						<p:column headerText="#{language.salesPlace}" sortBy="#{meeting.place}"
									filterBy="#{meeting.place}"
									filterMatchMode="contains">
							<h:outputText value="#{meeting.place}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.salesNotes}" sortBy="#{meeting.notes}"
									filterBy="#{meeting.notes}"
									filterMatchMode="contains">
							<h:outputText value="#{meeting.notes}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.salesDocuments}" sortBy="#{meeting.documents}"
									filterBy="#{meeting.documents}"
									filterMatchMode="contains">
							<h:outputText value="#{meeting.documents}"></h:outputText>
						</p:column>

								<p:column 
									headerText="#{language.salesCustomerCompanyParticipants}">
									
									<h:dataTable
										value="#{meeting.contactPeopleList}"
										var="salesList" style="border:0px transparent">
										<p:column>
											<h:outputText
												value="#{salesList.name} #{salesList.surname}" />
										</p:column>
									</h:dataTable>
								</p:column>

								<p:column headerText="#{language.salesEmekBoruParticipants}" >
									<h:dataTable
										value="#{meeting.participantList}"
										var="salesList" style="border:0px transparent">
										<p:column>
											<h:outputText
												value="#{salesList.name} #{salesList.surname}" />
										</p:column>
									</h:dataTable>
								</p:column>
 -->
						<p:column headerText="#{language.salesCustomer}"
							sortBy="#{meeting.salesCustomer.shortName}"
							filterBy="#{meeting.salesCustomer.shortName}"
							filterMatchMode="contains">
							<h:outputText value="#{meeting.salesCustomer.shortName}"></h:outputText>
						</p:column>
					</p:dataTable>

				</p:tab>
				<p:tab id="callTab" title="#{language.salesCall}">

					<p:dataTable var="call" id="callTable"
						value="#{salesCRMCallBean.callsOfCustomer}"
						rowKey="#{call.salesCRMCallId}"
						selection="#{salesCRMCallBean.selectedCall}"
						selectionMode="single" paginator="true" rows="20"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesCRMCallBean.filteredList}">

						<p:ajax event="rowSelect"
							update="meetingOutputPanel,callOutputPanel,visitOutputPanel,selectedCallTab"
							listener="#{salesMenuBean.showManageType2Menu}" />

						<f:facet name="header"> #{language.salesCall}
								</f:facet>

						<f:facet name="footer">

							<p:commandButton id="newButton" value="#{language.salesNewCall}"
								style="width:100px" process="@all"
								update="meetingOutputPanel,callOutputPanel,visitOutputPanel">
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.newType1Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.manageType1Menu}" />
								<f:setPropertyActionListener value="#{true}"
									target="#{salesMenuBean.newType2Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.manageType2Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.newType3Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.manageType3Menu}" />
							</p:commandButton>

							<p:spacer width="25" height="5" />

							<p:commandButton id="manageButton"
								value="#{language.salesManage}" style="width:100px"
								process="@all"
								update="meetingOutputPanel,callOutputPanel,visitOutputPanel,selectedCallTab">
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.newType1Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.manageType1Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.newType2Menu}" />
								<f:setPropertyActionListener value="#{true}"
									target="#{salesMenuBean.manageType2Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.newType3Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.manageType3Menu}" />
							</p:commandButton>
						</f:facet>

						<p:column headerText="#{language.salesCallAgenda}"
							sortBy="#{call.meetingAgenda}" filterBy="#{call.meetingAgenda}"
							filterMatchMode="contains">
							<h:outputText value="#{call.meetingAgenda}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.salesDate}"
							sortBy="#{call.callDate}" filterBy="#{call.callDate}"
							filterMatchMode="contains">
							<h:outputText value="#{call.callDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{language.salesTime}"
							sortBy="#{call.callTime}" filterBy="#{call.callTime}"
							filterMatchMode="contains">
							<h:outputText value="#{call.callTime}">
								<f:convertDateTime pattern="HH:mm" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{language.salesNotes}"
							sortBy="#{call.notes}" filterBy="#{call.notes}"
							filterMatchMode="contains">
							<h:outputText value="#{call.notes}"></h:outputText>
						</p:column>
						<!-- 
								<p:column 
									headerText="#{language.salesCustomerCompanyParticipants}">
									<h:dataTable
										value="#{call.contactPeopleList}"
										var="salesList" style="border:0px transparent">
										<p:column>
											<h:outputText
												value="#{salesList.name} #{salesList.surname}" />
										</c:forEach>
									</h:panelGrid>
								</p:column>

								<p:column headerText="#{language.salesEmekBoruParticipants}" >
									<h:dataTable
										value="#{call.participantList}"
										var="salesList" style="border:0px transparent">
										<p:column>
											<h:outputText
												value="#{salesList.name} #{salesList.surname}" />
										</c:forEach>
									</h:panelGrid>
								</p:column>

 -->
						<p:column headerText="#{language.salesCustomer}"
							sortBy="#{call.salesCustomer.shortName}"
							filterBy="#{call.salesCustomer.shortName}"
							filterMatchMode="contains">
							<h:outputText value="#{call.salesCustomer.shortName}"></h:outputText>
						</p:column>
					</p:dataTable>

				</p:tab>

				<p:tab id="visitTab" title="#{language.salesVisit}">

					<p:dataTable var="visit" id="visitTable"
						value="#{salesCRMVisitBean.visitsOfCustomer}"
						rowKey="#{visit.salesCRMVisitId}"
						selection="#{salesCRMVisitBean.selectedVisit}"
						selectionMode="single" paginator="true" rows="20"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesCRMVisitBean.filteredList}">

						<p:ajax event="rowSelect"
							update="meetingOutputPanel,callOutputPanel,visitOutputPanel,selectedVisitTab,deleteVisitDocumentDialogId"
							listener="#{salesMenuBean.showManageType3Menu}" />

						<f:facet name="header"> #{language.salesVisit}
								</f:facet>

						<f:facet name="footer">

							<p:commandButton id="newButton" value="#{language.salesNewVisit}"
								style="width:100px" process="@all"
								update="meetingOutputPanel,callOutputPanel,visitOutputPanel">
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.newType1Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.manageType1Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.newType2Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.manageType2Menu}" />
								<f:setPropertyActionListener value="#{true}"
									target="#{salesMenuBean.newType3Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.manageType3Menu}" />
							</p:commandButton>

							<p:spacer width="25" height="5" />

							<p:commandButton id="manageButton"
								value="#{language.salesManage}" style="width:100px"
								process="@all"
								update="meetingOutputPanel,callOutputPanel,visitOutputPanel,selectedVisitTab">
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.newType1Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.manageType1Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.newType2Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.manageType2Menu}" />
								<f:setPropertyActionListener value="#{false}"
									target="#{salesMenuBean.newType3Menu}" />
								<f:setPropertyActionListener value="#{true}"
									target="#{salesMenuBean.manageType3Menu}" />
							</p:commandButton>
						</f:facet>
						<!--  
								<p:column headerText="#{language.salesVisitingFrequency}" sortBy="#{visit.meetingAgenda}"
									filterBy="#{visit.visitingFrequency.frequency}"
									filterMatchMode="contains">
									<h:outputText value="#{visit.visitingFrequency.frequency}" />
								</p:column>
-->
						<p:column headerText="#{language.salesVisitAgenda}"
							sortBy="#{visit.meetingAgenda}" filterBy="#{visit.meetingAgenda}"
							filterMatchMode="contains">
							<h:outputText value="#{visit.meetingAgenda}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.salesDate}"
							sortBy="#{visit.visitDate}" filterBy="#{visit.visitDate}"
							filterMatchMode="contains">
							<h:outputText value="#{visit.visitDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<!--  
								<p:column headerText="#{language.salesTime}" sortBy="#{visit.visitTime}"
									filterBy="#{visit.visitTime}" filterMatchMode="contains">
									<h:outputText value="#{visit.visitTime}">
										<f:convertDateTime pattern="HH:mm" />
									</h:outputText>
								</p:column>
								
			            <p:column headerText="#{language.salesPlace}" sortBy="#{visit.place}"
									filterBy="#{visit.place}"
									filterMatchMode="contains">  
            				<h:outputText value="#{visit.place}"></h:outputText>
			            </p:column>  
			 
			            <p:column headerText="#{language.salesNotes}" sortBy="#{visit.notes}"
									filterBy="#{visit.notes}"
									filterMatchMode="contains">  
            				<h:outputText value="#{visit.notes}"></h:outputText>
			            </p:column>  
			
			            <p:column headerText="#{language.salesDocuments}" sortBy="#{visit.documents}"
									filterBy="#{visit.documents}"
									filterMatchMode="contains"> 
            				<h:outputText value="#{visit.documents}"></h:outputText>
			            </p:column>  
			   
								<p:column
									headerText="#{language.salesCustomerCompanyParticipants}" 
									>
								<h:dataTable
										value="#{visit.contactPeopleList}"
										var="salesList" style="border:0px transparent">
										<p:column>
											<h:outputText
												value="#{salesList.name} #{salesList.surname}" />
										</p:column>
									</h:dataTable>
								</p:column>

								<p:column headerText="#{language.salesEmekBoruParticipants}" >
									<h:dataTable
										value="#{visit.participantList}"
										var="salesList" style="border:0px transparent">
										<p:column>
											<h:outputText
												value="#{salesList.name} #{salesList.surname}" />
										</p:column>
									</h:dataTable>
								</p:column>
-->
						<p:column headerText="#{language.salesStatus}"
							sortBy="#{visit.status.status}" filterBy="#{visit.status.status}"
							filterMatchMode="contains">
							<h:outputText value="#{visit.status.status}" />
						</p:column>

						<p:column headerText="#{language.salesCustomer}"
							sortBy="#{visit.salesCustomer.shortName}"
							filterBy="#{visit.salesCustomer.shortName}"
							filterMatchMode="contains">
							<h:outputText value="#{visit.salesCustomer.shortName}"></h:outputText>
						</p:column>
					</p:dataTable>

				</p:tab>
			</p:accordionPanel>

		</ui:define>
		<ui:define name="showPanel">

			<p:spacer width="500" height="20" />

			<p:outputPanel id="meetingOutputPanel" autoUpdate="false">
				<!--  UPDATE METTING RECORD -->
				<p:panel id="selectedMeetingTab"
					header="#{language.salesMeeting} (#{language.salesManage})"
					rendered="#{salesMenuBean.manageType1Menu}">

					<h:panelGrid border="0" columns="3" style="width:100%"
						id="selectedMeetingPanel">

						<h:panelGrid border="0" columns="2" style="width:100%"
							id="selectedMeetingColumn1Id">

							<h:outputLabel value="#{language.salesMeetingAgenda}" />
							<p:inputTextarea
								value="#{salesCRMMeetingBean.selectedMeeting.meetingAgenda}"
								rows="5" maxLength="150" style="width:106px" autoResize="false"
								cols="10" maxHeight="10" />

							<h:outputLabel value="*#{language.salesDate}" />
							<p:calendar
								value="#{salesCRMMeetingBean.selectedMeeting.meetingDate}"
								pattern="dd/MM/yyyy" />

							<h:outputLabel value="*#{language.salesTime}" />
							<p:calendar
								value="#{salesCRMMeetingBean.selectedMeeting.meetingTime}"
								pattern="HH:mm" timeOnly="true" />

							<h:outputLabel value="#{language.salesPlace}" />
							<p:inputText value="#{salesCRMMeetingBean.selectedMeeting.place}" />


							<!-- 
										</h:panelGrid>

										<p:spacer width="25" height="50" />
										
										<h:panelGrid border="0" columns="2" style="width:100%"
											id="selectedMeetingColumn2Id">
 -->
							<h:outputLabel value="#{language.salesNotes}" />
							<p:inputTextarea
								value="#{salesCRMMeetingBean.selectedMeeting.notes}" rows="5"
								maxLength="150" style="width:106px" autoResize="false" cols="10"
								maxHeight="10" />

							<h:outputLabel value="#{language.salesCustomer}" />
							<p:selectOneMenu
								value="#{salesCRMMeetingBean.selectedMeeting.salesCustomer}"
								layout="lineDirection" style=" width:113px">
								<f:converter converterId="salesCustomerConverter" />
								<c:forEach items="#{salesCustomerBean.customerList}"
									var="customers">
									<f:selectItem itemValue="#{customers}"
										itemLabel="#{customers.shortName}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel
								value="#{language.salesCustomerCompanyParticipants}" />
							<p:selectManyMenu
								value="#{salesCRMMeetingBean.selectedMeeting.contactPeopleList}"
								layout="lineDirection" style=" width:113px;height:70px">
								<f:converter converterId="salesContactPeopleConverter" />
								<c:forEach items="#{salesContactPeopleBean.contactList}"
									var="contacts">
									<f:selectItem itemValue="#{contacts}"
										itemLabel="#{contacts.name} #{contacts.surname}"></f:selectItem>
								</c:forEach>
							</p:selectManyMenu>

							<h:outputLabel value="#{language.salesDocumentsResponsible}" />
							<p:dataTable var="user" dblClickSelect="false"
								id="userListSelectedMeetingTableId"
								value="#{employeeListBean.employeeList}"
								selection="#{salesCRMMeetingBean.selectedEmployees}" rows="10"
								rowKey="#{user.employeeId}" selectionMode="multiple"
								rowIndexVar="rowIndex">

								<p:column sortBy="#{user.firstname} #{user.lastname}"
									filterBy="#{user.firstname} #{user.lastname}">
									<f:facet name="header">
										<h:outputText value="İsim Soyad"></h:outputText>
									</f:facet>
									<h:outputText value="#{user.firstname} #{user.lastname}"></h:outputText>
								</p:column>
							</p:dataTable>

							<!-- 							<h:outputText value="#{language.Department}*: "></h:outputText> -->
							<!-- 							<p:selectOneMenu value="#{salesCRMMeetingBean.departmentId}" -->
							<!-- 								style="width: 140px" required="true" -->
							<!-- 								requiredMessage="#{language.RequiredMessage}"> -->

							<!-- 								<p:ajax update="selectedMeetingTab" process="@all" -->
							<!-- 									listener="#{salesCRMMeetingBean.loadEmployeeListForNewEvent}" /> -->

							<!-- 								<c:forEach step="1" items="#{employeeBean.departmentList}" -->
							<!-- 									var="department"> -->
							<!-- 									<f:selectItem itemValue="#{department.departmentId}" -->
							<!-- 										itemLabel="#{department.name}" /> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectOneMenu> -->

							<!-- 							<h:outputLabel value="#{language.salesEmekBoruParticipants}" /> -->
							<!-- 							<p:selectManyMenu -->
							<!-- 								value="#{salesCRMMeetingBean.selectedMeeting.participantList}" -->
							<!-- 								layout="lineDirection" style=" width:113px;height:70px"> -->
							<!-- 								<f:converter converterId="salesEmployeeConverter" /> -->
							<!-- 								<c:forEach items="#{salesCRMMeetingBean.employeeList}" -->
							<!-- 									var="employees"> -->
							<!-- 									<f:selectItem itemValue="#{employees}" -->
							<!-- 										itemLabel="#{employees.firstname} #{employees.lastname}"></f:selectItem> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectManyMenu> -->

							<h:outputLabel value="#{language.salesDocuments}" />
						</h:panelGrid>
					</h:panelGrid>

					<p:panel id="selectedMeetingDocumentName"
						style="border:0px transparent">
						<c:forEach var="i" begin="0"
							end="#{salesCRMMeetingBean.selectedMeeting.fileNumber}">
							<p:spacer width="260" height="10" />
							<h:commandLink
								value="#{salesCRMMeetingBean.selectedMeeting.fileNames[i]}">
								<f:setPropertyActionListener
									value="#{salesCRMMeetingBean.selectedMeeting.fileNames[i]}"
									target="#{salesCRMMeetingBean.downloadedFileName}" />
								<p:fileDownload value="#{salesCRMMeetingBean.downloadedFile}" />
							</h:commandLink>
							<br />
						</c:forEach>
					</p:panel>
					<p:fileUpload mode="advanced" multiple="false"
						label="#{language.salesAddDocument}" showButtons="false"
						auto="true" process="@all"
						update="meetingTable,selectedMeetingDocumentName,deleteMeetingDocumentDialogId"
						allowTypes="/(\.|\/)(gif|jpg|jpeg|gif|png|PNG|GIF|JPG|JPEG|doc|docx|pdf|txt|xls|xlsx|ppt|pps|pptx|ppsx|zip|rar|RAR|ZIP)$/"
						fileUploadListener="#{salesCRMMeetingBean.addUploadedFile}"
						style="width:480px" />

					<p:spacer width="15" height="50" />
					<p:commandLink title="#{language.Update}"
						onclick="updateMeetingDialog.show();">
						<p:graphicImage value="/large_icons/update.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:spacer width="15" height="50" />

					<p:commandLink title="#{language.Delete}"
						onclick="deleteMeetingDialog.show();">
						<p:graphicImage value="/large_icons/delete.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:spacer width="15" height="50" />

					<p:commandLink title="#{language.salesDeleteDocument}"
						onclick="deleteMeetingDocumentDialog.show();">
						<p:graphicImage value="/sales_icons/deleteDocument.png"
							width="36px" height="36px" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:spacer width="15" height="50" />

					<p:commandLink title="#{language.Cancel}" immediate="true"
						process="@none" update="newMeetingPanel">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

				</p:panel>

				<!--  NEW MEETING RECORD -->
				<p:panel id="newMeetingTab"
					header="#{language.salesMeeting} (#{language.salesNewMeeting})"
					rendered="#{salesMenuBean.newType1Menu}">

					<h:panelGrid border="0" columns="3" style="width:100%"
						id="newMeetingPanel">
						<h:panelGrid border="0" columns="2" style="width:100%"
							id="newMeetingColumn1Id">

							<h:outputLabel value="#{language.salesMeetingAgenda}" />
							<p:inputTextarea
								value="#{salesCRMMeetingBean.newMeeting.meetingAgenda}" rows="5"
								maxLength="150" style="width:106px" autoResize="false" cols="10"
								maxHeight="10" />

							<h:outputLabel value="*#{language.salesDate}" />
							<p:calendar value="#{salesCRMMeetingBean.newMeeting.meetingDate}"
								pattern="dd/MM/yyyy" />

							<h:outputLabel value="*#{language.salesTime}" />
							<p:calendar value="#{salesCRMMeetingBean.newMeeting.meetingTime}"
								pattern="HH:mm" timeOnly="true" />

							<h:outputLabel value="#{language.salesPlace}" />
							<p:inputText value="#{salesCRMMeetingBean.newMeeting.place}" />

							<h:outputLabel value="#{language.salesNotes}" />
							<p:inputTextarea value="#{salesCRMMeetingBean.newMeeting.notes}"
								rows="5" maxLength="150" style="width:106px" autoResize="false"
								cols="10" maxHeight="10" />

							<!--
										</h:panelGrid>

										 <p:spacer width="25" height="50" />  
										
										<h:panelGrid border="0" columns="2" style="width:100%"
											id="newMeetingColumn2Id">
-->
							<h:outputLabel value="#{language.salesCustomer}" />
							<p:selectOneMenu
								value="#{salesCRMMeetingBean.newMeeting.salesCustomer}"
								layout="lineDirection" style=" width:113px">
								<f:converter converterId="salesCustomerConverter" />

								<p:ajax update="newMeetingTab" process="@all"
									listener="#{salesCRMMeetingBean.loadContactListForNewEvent}" />

								<c:forEach items="#{salesCustomerBean.customerList}"
									var="customers">
									<f:selectItem itemValue="#{customers}"
										itemLabel="#{customers.shortName}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel
								value="#{language.salesCustomerCompanyParticipants}" />
							<p:selectManyMenu
								value="#{salesCRMMeetingBean.newMeeting.contactPeopleList}"
								layout="lineDirection" style=" width:113px;height:70px">
								<f:converter converterId="salesContactPeopleConverter" />
								<c:forEach items="#{salesCRMMeetingBean.newContactPeopleList}"
									var="contacts">
									<f:selectItem itemValue="#{contacts}"
										itemLabel="#{contacts.name} #{contacts.surname}"></f:selectItem>
								</c:forEach>
							</p:selectManyMenu>

							<h:outputLabel value="#{language.salesDocumentsResponsible}" />
							<p:dataTable var="user" dblClickSelect="false"
								id="userListNewMeetingTableId"
								value="#{employeeListBean.employeeList}"
								selection="#{salesCRMMeetingBean.selectedEmployees}" rows="10"
								rowKey="#{user.employeeId}" selectionMode="multiple"
								rowIndexVar="rowIndex">

								<p:column sortBy="#{user.firstname} #{user.lastname}"
									filterBy="#{user.firstname} #{user.lastname}">
									<f:facet name="header">
										<h:outputText value="İsim Soyad"></h:outputText>
									</f:facet>
									<h:outputText value="#{user.firstname} #{user.lastname}"></h:outputText>
								</p:column>
							</p:dataTable>

							<!-- 							<h:outputText value="#{language.Department}*: "></h:outputText> -->
							<!-- 							<p:selectOneMenu value="#{salesCRMMeetingBean.departmentId}" -->
							<!-- 								style="width: 140px" required="true" -->
							<!-- 								requiredMessage="#{language.RequiredMessage}"> -->

							<!-- 								<p:ajax update="newMeetingTab" process="@all" -->
							<!-- 									listener="#{salesCRMMeetingBean.loadEmployeeListForNewEvent}" /> -->

							<!-- 								<c:forEach step="1" items="#{employeeBean.departmentList}" -->
							<!-- 									var="department"> -->
							<!-- 									<f:selectItem itemValue="#{department.departmentId}" -->
							<!-- 										itemLabel="#{department.name}" /> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectOneMenu> -->

							<!-- 							<h:outputLabel value="#{language.salesEmekBoruParticipants}" /> -->
							<!-- 							<p:selectManyMenu -->
							<!-- 								value="#{salesCRMMeetingBean.newMeeting.participantList}" -->
							<!-- 								layout="lineDirection" style=" width:113px;height:70px"> -->
							<!-- 								<f:converter converterId="salesEmployeeConverter" /> -->
							<!-- 								<c:forEach items="#{salesCRMMeetingBean.employeeList}" -->
							<!-- 									var="employees"> -->
							<!-- 									<f:selectItem itemValue="#{employees}" -->
							<!-- 										itemLabel="#{employees.firstname} #{employees.lastname}"></f:selectItem> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectManyMenu> -->

							<h:outputLabel value="#{language.salesDocuments}"
								id="newMeetingDocumentName" />
							<h:outputText value="#{salesCRMMeetingBean.newMeeting.documents}" />

						</h:panelGrid>

					</h:panelGrid>

					<p:fileUpload mode="advanced" multiple="false" auto="true"
						label="#{language.salesChoose}" showButtons="false" process="@all"
						update="meetingTable,newMeetingDocumentName,deleteMeetingDocumentDialogId"
						allowTypes="/(\.|\/)(gif|jpg|jpeg|gif|png|PNG|GIF|JPG|JPEG|doc|docx|pdf|txt|xls|xlsx|ppt|pps|pptx|ppsx|zip|rar|RAR|ZIP)$/"
						fileUploadListener="#{salesCRMMeetingBean.upload}"
						style="width:480px" />

					<p:spacer width="15" height="50" />

					<p:commandLink title="#{language.Add}"
						action="#{salesCRMMeetingBean.add}" process="@all"
						update="meetingTable,crmAccordionPanel,meetingOutputPanel">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:spacer width="15" height="50" />

					<p:commandLink title="#{language.Cancel}" immediate="true"
						process="@none" update="newMeetingPanel">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

				</p:panel>
			</p:outputPanel>

			<p:dialog widgetVar="updateMeetingDialog"
				header="#{language.salesWarning}">
				<h:outputText value="#{language.salesConfirmation}" />
				<br />

				<p:commandButton value="#{language.cancel}"
					oncomplete="updateMeetingDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.submit}"
					action="#{salesCRMMeetingBean.update}"
					oncomplete="updateMeetingDialog.hide();" process="@all"
					update="meetingTable,selectedMeetingTab,crmAccordionPanel" />

			</p:dialog>
			<p:dialog widgetVar="deleteMeetingDialog"
				header="#{language.salesWarning}">
				<h:outputText value="#{language.salesConfirmation}" />
				<br />

				<p:commandButton value="#{language.cancel}"
					oncomplete="deleteMeetingDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.submit}"
					action="#{salesCRMMeetingBean.delete}"
					oncomplete="deleteMeetingDialog.hide();" process="@all"
					update="meetingTable,selectedMeetingTab,crmAccordionPanel" />

			</p:dialog>

			<p:outputPanel id="callOutputPanel" autoUpdate="false">


				<!--  NEW CALL RECORD -->
				<p:panel
					header="#{language.salesPhoneCall} (#{language.salesNewCall})"
					rendered="#{salesMenuBean.newType2Menu}" id="newCallPanel">

					<h:panelGrid border="0" columns="3" style="width:100%"
						id="callGridId">
						<h:panelGrid border="0" columns="2" style="width:100%"
							id="callColumn1Id">

							<h:outputLabel value="#{language.salesCallAgenda}" />
							<p:inputTextarea
								value="#{salesCRMCallBean.newCall.meetingAgenda}" rows="5"
								maxLength="150" style="width:106px" autoResize="false" cols="10"
								maxHeight="10" />

							<h:outputLabel value="#{language.salesDate}" />
							<p:calendar value="#{salesCRMCallBean.newCall.callDate}"
								pattern="dd/MM/yyyy" />

							<h:outputLabel value="#{language.salesTime}" />
							<p:calendar value="#{salesCRMCallBean.newCall.callTime}"
								pattern="HH:mm" timeOnly="true" />

							<!-- 
										</h:panelGrid>
										<p:spacer width="25" height="50" />
										<h:panelGrid border="0" columns="2" style="width:100%"
											id="callColumn2Id">
 -->

							<h:outputLabel value="#{language.salesCustomer}" />
							<p:selectOneMenu
								value="#{salesCRMCallBean.newCall.salesCustomer}"
								layout="lineDirection" style=" width:113px">
								<f:converter converterId="salesCustomerConverter" />

								<p:ajax update="newCallPanel" process="@all"
									listener="#{salesCRMCallBean.loadContactListForNewCall}" />

								<c:forEach items="#{salesCustomerBean.customerList}"
									var="customers">
									<f:selectItem itemValue="#{customers}"
										itemLabel="#{customers.shortName}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel
								value="#{language.salesCustomerCompanyParticipants}" />
							<p:selectManyMenu
								value="#{salesCRMCallBean.newCall.contactPeopleList}"
								layout="lineDirection" style=" width:113px;height:70px">
								<f:converter converterId="salesContactPeopleConverter" />
								<c:forEach items="#{salesCRMCallBean.newContactPeopleList}"
									var="contacts">
									<f:selectItem itemValue="#{contacts}"
										itemLabel="#{contacts.name} #{contacts.surname}"></f:selectItem>
								</c:forEach>
							</p:selectManyMenu>

							<h:outputLabel value="#{language.salesDocumentsResponsible}" />
							<p:dataTable var="user" dblClickSelect="false"
								id="userListNewCallTableId"
								value="#{employeeListBean.employeeList}"
								selection="#{salesCRMCallBean.selectedEmployees}" rows="10"
								rowKey="#{user.employeeId}" selectionMode="multiple"
								rowIndexVar="rowIndex">

								<p:column sortBy="#{user.firstname} #{user.lastname}"
									filterBy="#{user.firstname} #{user.lastname}">
									<f:facet name="header">
										<h:outputText value="İsim Soyad"></h:outputText>
									</f:facet>
									<h:outputText value="#{user.firstname} #{user.lastname}"></h:outputText>
								</p:column>
							</p:dataTable>

							<!-- 							<h:outputText value="#{language.Department}*: "></h:outputText> -->
							<!-- 							<p:selectOneMenu value="#{salesCRMCallBean.departmentId}" -->
							<!-- 								style="width: 140px" required="true" -->
							<!-- 								requiredMessage="#{language.RequiredMessage}"> -->

							<!-- 								<p:ajax update="newCallPanel" process="@all" -->
							<!-- 									listener="#{salesCRMCallBean.loadEmployeeListForNewEvent}" /> -->

							<!-- 								<c:forEach step="1" items="#{employeeBean.departmentList}" -->
							<!-- 									var="department"> -->
							<!-- 									<f:selectItem itemValue="#{department.departmentId}" -->
							<!-- 										itemLabel="#{department.name}" /> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectOneMenu> -->

							<!-- 							<h:outputLabel value="#{language.salesEmekBoruResponsible}" /> -->
							<!-- 							<p:selectManyMenu -->
							<!-- 								value="#{salesCRMCallBean.newCall.participantList}" -->
							<!-- 								layout="lineDirection" style=" width:113px;height:70px"> -->
							<!-- 								<f:converter converterId="salesEmployeeConverter" /> -->
							<!-- 								<c:forEach items="#{salesCRMCallBean.employeeList}" -->
							<!-- 									var="employees"> -->
							<!-- 									<f:selectItem itemValue="#{employees}" -->
							<!-- 										itemLabel="#{employees.firstname} #{employees.lastname}"></f:selectItem> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectManyMenu> -->

							<h:outputLabel value="#{language.salesNotes}" />
							<p:inputTextarea value="#{salesCRMCallBean.newCall.notes}"
								rows="5" maxLength="150" style="width:106px" autoResize="false"
								cols="10" maxHeight="10" />
						</h:panelGrid>
					</h:panelGrid>

					<p:spacer width="15" height="50" />
					<p:commandLink title="#{language.Add}"
						action="#{salesCRMCallBean.add}" process="@all"
						update="callTable,crmAccordionPanel,callOutputPanel">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:spacer width="15" height="50" />
					<p:commandLink title="#{language.Cancel}" immediate="true"
						process="@none" update="newCallPanel">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</p:panel>

				<!--  UPDATE CALL RECORD -->
				<p:panel
					header="#{language.salesPhoneCall} (#{language.salesManage})"
					rendered="#{salesMenuBean.manageType2Menu}" id="selectedCallTab">

					<h:panelGrid border="0" columns="3" style="width:100%"
						id="selectedCallPanel">
						<h:panelGrid border="0" columns="2" style="width:100%"
							id="selectedCallColumn1Id">

							<h:outputLabel value="#{language.salesCallAgenda}" />
							<p:inputTextarea
								value="#{salesCRMCallBean.selectedCall.meetingAgenda}" rows="5"
								maxLength="150" style="width:106px" autoResize="false" cols="10"
								maxHeight="10" />

							<h:outputLabel value="#{language.salesDate}" />
							<p:calendar value="#{salesCRMCallBean.selectedCall.callDate}"
								pattern="dd/MM/yyyy" />

							<h:outputLabel value="#{language.salesTime}" />
							<p:calendar value="#{salesCRMCallBean.selectedCall.callTime}"
								pattern="HH:mm" timeOnly="true" />

							<h:outputLabel value="#{language.salesCustomer}" />
							<p:selectOneMenu
								value="#{salesCRMCallBean.selectedCall.salesCustomer}"
								layout="lineDirection" style=" width:113px">
								<f:converter converterId="salesCustomerConverter" />
								<c:forEach items="#{salesCustomerBean.customerList}"
									var="customers">
									<f:selectItem itemValue="#{customers}"
										itemLabel="#{customers.shortName}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>
							<!-- 
										</h:panelGrid>

										<p:spacer width="25" height="50" />

										<h:panelGrid border="0" columns="2" style="width:100%"
											id="selectedCallColumn2Id">
 -->
							<h:outputLabel value="#{language.salesContactPerson}" />
							<p:selectManyMenu
								value="#{salesCRMCallBean.selectedCall.contactPeopleList}"
								layout="lineDirection" style=" width:113px;height:70px">
								<f:converter converterId="salesContactPeopleConverter" />
								<c:forEach items="#{salesContactPeopleBean.contactList}"
									var="contacts">
									<f:selectItem itemValue="#{contacts}"
										itemLabel="#{contacts.name} #{contacts.surname}"></f:selectItem>
								</c:forEach>
							</p:selectManyMenu>

							<h:outputLabel value="#{language.salesDocumentsResponsible}" />
							<p:dataTable var="user" dblClickSelect="false"
								id="userListSelectedCallTableId"
								value="#{employeeListBean.employeeList}"
								selection="#{salesCRMCallBean.selectedEmployees}" rows="10"
								rowKey="#{user.employeeId}" selectionMode="multiple"
								rowIndexVar="rowIndex">

								<p:column sortBy="#{user.firstname} #{user.lastname}"
									filterBy="#{user.firstname} #{user.lastname}">
									<f:facet name="header">
										<h:outputText value="İsim Soyad"></h:outputText>
									</f:facet>
									<h:outputText value="#{user.firstname} #{user.lastname}"></h:outputText>
								</p:column>
							</p:dataTable>

							<!-- 							<h:outputText value="#{language.Department}*: "></h:outputText> -->
							<!-- 							<p:selectOneMenu value="#{salesCRMCallBean.departmentId}" -->
							<!-- 								style="width: 140px" required="true" -->
							<!-- 								requiredMessage="#{language.RequiredMessage}"> -->

							<!-- 								<p:ajax update="selectedCallTab" process="@all" -->
							<!-- 									listener="#{salesCRMCallBean.loadEmployeeListForNewEvent}" /> -->

							<!-- 								<c:forEach step="1" items="#{employeeBean.departmentList}" -->
							<!-- 									var="department"> -->
							<!-- 									<f:selectItem itemValue="#{department.departmentId}" -->
							<!-- 										itemLabel="#{department.name}" /> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectOneMenu> -->

							<!-- 							<h:outputLabel value="#{language.salesEmekBoruResponsible}" /> -->
							<!-- 							<p:selectManyMenu -->
							<!-- 								value="#{salesCRMCallBean.selectedCall.participantList}" -->
							<!-- 								layout="lineDirection" style=" width:113px;height:70px"> -->
							<!-- 								<f:converter converterId="salesEmployeeConverter" /> -->
							<!-- 								<c:forEach items="#{salesCRMMeetingBean.employeeList}" -->
							<!-- 									var="employees"> -->
							<!-- 									<f:selectItem itemValue="#{employees}" -->
							<!-- 										itemLabel="#{employees.firstname} #{employees.lastname}"></f:selectItem> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectManyMenu> -->

							<h:outputLabel value="#{language.salesNotes}" />
							<p:inputTextarea value="#{salesCRMCallBean.selectedCall.notes}"
								rows="5" maxLength="150" style="width:106px" autoResize="false"
								cols="10" maxHeight="10" />
						</h:panelGrid>
					</h:panelGrid>


					<p:spacer width="15" height="50" />
					<p:commandLink title="#{language.Update}"
						onclick="updateCallDialog.show();">
						<p:graphicImage value="/large_icons/update.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:spacer width="15" height="50" />

					<p:commandLink title="#{language.Delete}"
						onclick="deleteCallDialog.show();">
						<p:graphicImage value="/large_icons/delete.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:spacer width="15" height="50" />

					<p:commandLink title="#{language.Cancel}" immediate="true"
						process="@none" update="newCallPanel">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</p:panel>

			</p:outputPanel>

			<p:dialog widgetVar="updateCallDialog"
				header="#{language.salesWarning}">
				<h:outputText value="#{language.salesConfirmation}" />
				<br />

				<p:commandButton value="#{language.cancel}"
					oncomplete="updateCallDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.submit}"
					action="#{salesCRMCallBean.update}"
					oncomplete="updateCallDialog.hide();" process="@all"
					update="callTable,crmAccordionPanel,callOutputPanel" />

			</p:dialog>
			<p:dialog widgetVar="deleteCallDialog"
				header="#{language.salesWarning}">
				<h:outputText value="#{language.salesConfirmation}" />
				<br />

				<p:commandButton value="#{language.cancel}"
					oncomplete="deleteCallDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.submit}"
					action="#{salesCRMCallBean.delete}"
					oncomplete="deleteCallDialog.hide();" process="@all"
					update="callLayout,crmAccordionPanel,selectedCallTab" />

			</p:dialog>



			<p:outputPanel id="visitOutputPanel" autoUpdate="false">
				<!--  UPDATE VISIT RECORD -->
				<p:panel id="selectedVisitTab"
					header="#{language.salesMeetingPlan} (#{language.salesManage})"
					rendered="#{salesMenuBean.manageType3Menu}">

					<h:panelGrid border="0" columns="3" style="width:100%"
						id="selectedVisitPanel">
						<h:panelGrid border="0" columns="2" style="width:100%"
							id="selectedVisitColumn1Id">

							<h:outputLabel value="#{language.salesVisitAgenda}" />
							<p:inputTextarea
								value="#{salesCRMVisitBean.selectedVisit.meetingAgenda}"
								rows="5" maxLength="150" style="width:106px" autoResize="false"
								cols="10" maxHeight="10" />

							<h:outputLabel value="#{language.salesDate}" />
							<p:calendar value="#{salesCRMVisitBean.selectedVisit.visitDate}"
								pattern="dd/MM/yyyy" />

							<h:outputLabel value="#{language.salesTime}" />
							<p:calendar value="#{salesCRMVisitBean.selectedVisit.visitTime}"
								pattern="HH:mm" timeOnly="true" />

							<h:outputLabel value="#{language.salesPlace}" />
							<p:inputText value="#{salesCRMVisitBean.selectedVisit.place}" />

							<h:outputLabel value="#{language.salesNotes}" />
							<p:inputTextarea value="#{salesCRMVisitBean.selectedVisit.notes}"
								rows="5" maxLength="150" style="width:106px" autoResize="false"
								cols="10" maxHeight="10" />
							<!-- 
										</h:panelGrid>


										<p:spacer width="25" height="50" />
										<h:panelGrid border="0" columns="2" style="width:100%"
											id="selectedVisitColumn2Id">
 -->

							<h:outputLabel value="#{language.salesVisitingFrequency}" />
							<p:selectOneMenu
								value="#{salesCRMVisitBean.selectedVisit.visitingFrequency}"
								layout="lineDirection" style=" width:113px">
								<f:converter
									converterId="salesCustomerVisitingFrequencyConverter" />
								<c:forEach
									items="#{salesCustomerVisitingFrequencyBean.visitingFrequencyList}"
									var="frequencies">
									<f:selectItem itemValue="#{frequencies}"
										itemLabel="#{frequencies.frequency}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel value="#{language.salesCustomer}" />
							<p:selectOneMenu
								value="#{salesCRMVisitBean.selectedVisit.salesCustomer}"
								layout="lineDirection" style=" width:113px">
								<f:converter converterId="salesCustomerConverter" />
								<c:forEach items="#{salesCustomerBean.customerList}"
									var="customers">
									<f:selectItem itemValue="#{customers}"
										itemLabel="#{customers.shortName}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel
								value="#{language.salesCustomerCompanyParticipants}" />
							<p:selectManyMenu
								value="#{salesCRMVisitBean.selectedVisit.contactPeopleList}"
								layout="lineDirection" style=" width:113px;height:70px">
								<f:converter converterId="salesContactPeopleConverter" />
								<c:forEach items="#{salesContactPeopleBean.contactList}"
									var="contacts">
									<f:selectItem itemValue="#{contacts}"
										itemLabel="#{contacts.name} #{contacts.surname}"></f:selectItem>
								</c:forEach>
							</p:selectManyMenu>

							<h:outputLabel value="#{language.salesDocumentsResponsible}" />
							<p:dataTable var="user" dblClickSelect="false"
								id="userListSelectedVisitTableId"
								value="#{employeeListBean.employeeList}"
								selection="#{salesCRMVisitBean.selectedEmployees}" rows="10"
								rowKey="#{user.employeeId}" selectionMode="multiple"
								rowIndexVar="rowIndex">

								<p:column sortBy="#{user.firstname} #{user.lastname}"
									filterBy="#{user.firstname} #{user.lastname}">
									<f:facet name="header">
										<h:outputText value="İsim Soyad"></h:outputText>
									</f:facet>
									<h:outputText value="#{user.firstname} #{user.lastname}"></h:outputText>
								</p:column>
							</p:dataTable>

							<!-- 							<h:outputText value="#{language.Department}*: "></h:outputText> -->
							<!-- 							<p:selectOneMenu value="#{salesCRMVisitBean.departmentId}" -->
							<!-- 								style="width: 140px" required="true" -->
							<!-- 								requiredMessage="#{language.RequiredMessage}"> -->

							<!-- 								<p:ajax update="selectedVisitTab" process="@all" -->
							<!-- 									listener="#{salesCRMVisitBean.loadEmployeeListForNewEvent}" /> -->

							<!-- 								<c:forEach step="1" items="#{employeeBean.departmentList}" -->
							<!-- 									var="department"> -->
							<!-- 									<f:selectItem itemValue="#{department.departmentId}" -->
							<!-- 										itemLabel="#{department.name}" /> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectOneMenu> -->

							<!-- 							<h:outputLabel value="#{language.salesEmekBoruParticipants}" /> -->
							<!-- 							<p:selectManyMenu -->
							<!-- 								value="#{salesCRMVisitBean.selectedVisit.participantList}" -->
							<!-- 								layout="lineDirection" style=" width:113px;height:70px"> -->
							<!-- 								<f:converter converterId="salesEmployeeConverter" /> -->
							<!-- 								<c:forEach items="#{salesCRMVisitBean.employeeList}" -->
							<!-- 									var="employees"> -->
							<!-- 									<f:selectItem itemValue="#{employees}" -->
							<!-- 										itemLabel="#{employees.firstname} #{employees.lastname}"></f:selectItem> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectManyMenu> -->

							<h:outputLabel value="#{language.salesStatus}" />
							<p:selectOneMenu
								value="#{salesCRMVisitBean.selectedVisit.status}"
								layout="lineDirection" style=" width:113px">
								<f:converter converterId="salesStatusConverter" />
								<c:forEach items="#{salesStatusBean.statusList}" var="statuses">
									<f:selectItem itemValue="#{statuses}"
										itemLabel="#{statuses.status}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel value="#{language.salesDocuments}" />
						</h:panelGrid>
					</h:panelGrid>

					<p:panel id="selectedVisitDocumentName"
						style="border:0px transparent">
						<c:forEach var="i" begin="0"
							end="#{salesCRMVisitBean.selectedVisit.fileNumber}">
							<p:spacer width="260" height="10" />
							<h:commandLink
								value="#{salesCRMVisitBean.selectedVisit.fileNames[i]}">
								<f:setPropertyActionListener
									value="#{salesCRMVisitBean.selectedVisit.fileNames[i]}"
									target="#{salesCRMVisitBean.downloadedFileName}" />
								<p:fileDownload value="#{salesCRMVisitBean.downloadedFile}" />
							</h:commandLink>
							<br />
						</c:forEach>
					</p:panel>

					<p:fileUpload mode="advanced" multiple="false"
						label="#{language.salesAddDocument}" showButtons="false"
						auto="true" process="@all"
						update="visitTable,selectedVisitDocumentName,deleteVisitDocumentDialogId"
						allowTypes="/(\.|\/)(gif|jpg|jpeg|gif|png|PNG|GIF|JPG|JPEG|doc|docx|pdf|txt|xls|xlsx|ppt|pps|pptx|ppsx|zip|rar|RAR|ZIP)$/"
						fileUploadListener="#{salesCRMVisitBean.addUploadedFile}"
						style="width:480px" />

					<p:spacer width="15" height="50" />
					<p:commandLink title="#{language.Update}"
						onclick="updateVisitDialog.show();">
						<p:graphicImage value="/large_icons/update.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:spacer width="15" height="50" />

					<p:commandLink title="#{language.Delete}"
						onclick="deleteVisitDialog.show();">
						<p:graphicImage value="/large_icons/delete.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:spacer width="15" height="50" />

					<p:commandLink title="#{language.salesDeleteDocument}"
						onclick="deleteVisitDocumentDialog.show();">
						<p:graphicImage value="/sales_icons/deleteDocument.png"
							width="36px" height="36px" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:spacer width="15" height="50" />

					<p:commandLink title="#{language.Cancel}" immediate="true"
						process="@none" update="newVisitPanel">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</p:panel>

				<!--  NEW VISIT RECORD -->
				<p:panel
					header="#{language.salesMeetingPlan} (#{language.salesNewVisit})"
					rendered="#{salesMenuBean.newType3Menu}" id="newVisitTab">

					<h:panelGrid border="0" columns="3" style="width:100%"
						id="newVisitPanel">
						<h:panelGrid border="0" columns="2" style="width:100%"
							id="newVisitColumn1Id">

							<h:outputLabel value="#{language.salesVisitAgenda}" />
							<p:inputTextarea
								value="#{salesCRMVisitBean.newVisit.meetingAgenda}" rows="5"
								maxLength="150" style="width:106px" autoResize="false" cols="10"
								maxHeight="10" />

							<h:outputLabel value="#{language.salesDate}" />
							<p:calendar value="#{salesCRMVisitBean.newVisit.visitDate}"
								pattern="dd/MM/yyyy" />

							<h:outputLabel value="#{language.salesTime}" />
							<p:calendar value="#{salesCRMVisitBean.newVisit.visitTime}"
								pattern="HH:mm" timeOnly="true" />

							<h:outputLabel value="#{language.salesPlace}" />
							<p:inputText value="#{salesCRMVisitBean.newVisit.place}" />

							<h:outputLabel value="#{language.salesNotes}" />
							<p:inputTextarea value="#{salesCRMVisitBean.newVisit.notes}"
								rows="5" maxLength="150" style="width:106px" autoResize="false"
								cols="10" maxHeight="10" />
							<!-- 										
										</h:panelGrid>

										<p:spacer width="25" height="50" />
										<h:panelGrid border="0" columns="2" style="width:100%"
											id="newVisitColumn2Id">
 -->
							<h:outputLabel value="#{language.salesDocuments}"
								id="newVisitDocumentName" />
							<h:outputText value="#{salesCRMVisitBean.newVisit.documents}" />

							<h:outputLabel value="#{language.salesVisitingFrequency}" />
							<p:selectOneMenu
								value="#{salesCRMVisitBean.newVisit.visitingFrequency}"
								layout="lineDirection" style=" width:113px">
								<f:converter
									converterId="salesCustomerVisitingFrequencyConverter" />
								<c:forEach
									items="#{salesCustomerVisitingFrequencyBean.visitingFrequencyList}"
									var="frequencies">
									<f:selectItem itemValue="#{frequencies}"
										itemLabel="#{frequencies.frequency}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel value="#{language.salesCustomer}" />
							<p:selectOneMenu
								value="#{salesCRMVisitBean.newVisit.salesCustomer}"
								layout="lineDirection" style=" width:113px">
								<f:converter converterId="salesCustomerConverter" />

								<p:ajax update="newVisitTab" process="@all"
									listener="#{salesCRMVisitBean.loadContactListForNewVisit}" />

								<c:forEach items="#{salesCustomerBean.customerList}"
									var="customers">
									<f:selectItem itemValue="#{customers}"
										itemLabel="#{customers.shortName}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel
								value="#{language.salesCustomerCompanyParticipants}" />
							<p:selectManyMenu
								value="#{salesCRMVisitBean.newVisit.contactPeopleList}"
								layout="lineDirection" style=" width:113px;height:70px">
								<f:converter converterId="salesContactPeopleConverter" />
								<c:forEach items="#{salesCRMVisitBean.newContactPeopleList}"
									var="contacts">
									<f:selectItem itemValue="#{contacts}"
										itemLabel="#{contacts.name} #{contacts.surname}"></f:selectItem>
								</c:forEach>
							</p:selectManyMenu>

							<h:outputLabel value="#{language.salesDocumentsResponsible}" />
							<p:dataTable var="user" dblClickSelect="false"
								id="userListNewVisitTableId"
								value="#{employeeListBean.employeeList}"
								selection="#{salesCRMVisitBean.selectedEmployees}" rows="10"
								rowKey="#{user.employeeId}" selectionMode="multiple"
								rowIndexVar="rowIndex">

								<p:column sortBy="#{user.firstname} #{user.lastname}"
									filterBy="#{user.firstname} #{user.lastname}">
									<f:facet name="header">
										<h:outputText value="İsim Soyad"></h:outputText>
									</f:facet>
									<h:outputText value="#{user.firstname} #{user.lastname}"></h:outputText>
								</p:column>
							</p:dataTable>

							<!-- 							<h:outputText value="#{language.Department}*: "></h:outputText> -->
							<!-- 							<p:selectOneMenu value="#{salesCRMVisitBean.departmentId}" -->
							<!-- 								style="width: 140px" required="true" -->
							<!-- 								requiredMessage="#{language.RequiredMessage}"> -->

							<!-- 								<p:ajax update="newVisitTab" process="@all" -->
							<!-- 									listener="#{salesCRMVisitBean.loadEmployeeListForNewVisit}" /> -->

							<!-- 								<c:forEach step="1" items="#{employeeBean.departmentList}" -->
							<!-- 									var="department"> -->
							<!-- 									<f:selectItem itemValue="#{department.departmentId}" -->
							<!-- 										itemLabel="#{department.name}" /> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectOneMenu> -->


							<!-- 							<h:outputLabel value="#{language.salesEmekBoruParticipants}" /> -->
							<!-- 							<p:selectManyMenu -->
							<!-- 								value="#{salesCRMVisitBean.newVisit.participantList}" -->
							<!-- 								layout="lineDirection" style=" width:113px;height:70px"> -->
							<!-- 								<f:converter converterId="salesEmployeeConverter" /> -->
							<!-- 								<c:forEach items="#{salesCRMVisitBean.employeeList}" -->
							<!-- 									var="employees"> -->
							<!-- 									<f:selectItem itemValue="#{employees}" -->
							<!-- 										itemLabel="#{employees.firstname} #{employees.lastname}"></f:selectItem> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectManyMenu> -->

							<h:outputLabel value="#{language.salesStatus}" />
							<p:selectOneMenu value="#{salesCRMVisitBean.newVisit.status}"
								layout="lineDirection" style=" width:113px">
								<f:converter converterId="salesStatusConverter" />
								<c:forEach items="#{salesStatusBean.statusList}" var="statuses">
									<f:selectItem itemValue="#{statuses}"
										itemLabel="#{statuses.status}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>
						</h:panelGrid>

					</h:panelGrid>


					<p:fileUpload mode="advanced" multiple="false" auto="true"
						label="#{language.salesChoose}" showButtons="false" process="@all"
						update="visitTable,newVisitDocumentName,deleteVisitDocumentDialogId"
						allowTypes="/(\.|\/)(gif|jpg|jpeg|gif|png|PNG|GIF|JPG|JPEG|doc|docx|pdf|txt|xls|xlsx|ppt|pps|pptx|ppsx|zip|rar|RAR|ZIP)$/"
						fileUploadListener="#{salesCRMVisitBean.upload}"
						style="width:480px" />


					<p:commandLink title="#{language.Add}"
						action="#{salesCRMVisitBean.add}" process="@all"
						update="visitTable,crmAccordionPanel,visitOutputPanel">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:spacer width="15" height="50" />

					<p:commandLink title="#{language.Cancel}" immediate="true"
						process="@none" update="newVisitPanel">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

				</p:panel>
			</p:outputPanel>

			<p:dialog widgetVar="updateVisitDialog"
				header="#{language.salesWarning}">
				<h:outputText value="#{language.salesConfirmation}" />
				<br />

				<p:commandButton value="#{language.cancel}"
					oncomplete="visitDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.submit}"
					action="#{salesCRMVisitBean.update}"
					oncomplete="updateVisitDialog.hide();" process="@all"
					update="visitTable,selectedVisitTab,crmAccordionPanel" />

			</p:dialog>
			<p:dialog widgetVar="deleteVisitDialog"
				header="#{language.salesWarning}">
				<h:outputText value="#{language.salesConfirmation}" />
				<br />

				<p:commandButton value="#{language.cancel}"
					oncomplete="deleteVisitDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.submit}"
					action="#{salesCRMVisitBean.delete}"
					oncomplete="deleteVisitDialog.hide();" process="@all"
					update="visitTable,selectedVisitTab,crmAccordionPanel" />

			</p:dialog>




			<p:dialog widgetVar="deleteMeetingDocumentDialog"
				id="deleteMeetingDocumentDialogId" header="#{language.salesWarning}">
				<br />
				<h:outputText value="#{language.salesDeleteDocumentConfirmation}" />
				<br />
				<br />
				<p:selectOneMenu value="#{salesCRMMeetingBean.toBeDeleted}"
					layout="lineDirection" style="width:150px;">
					<c:forEach begin="0"
						end="#{salesCRMMeetingBean.selectedMeeting.fileNumber}" var="i">
						<f:selectItem
							itemValue="#{salesCRMMeetingBean.selectedMeeting.fileNames[i]}"
							itemLabel="#{salesCRMMeetingBean.selectedMeeting.fileNames[i]}"></f:selectItem>
					</c:forEach>
				</p:selectOneMenu>
				<br />

				<p:commandButton value="#{language.cancel}"
					oncomplete="deleteMeetingDocumentDialog.hide();" />
				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.salesDeleteDocument}"
					action="#{salesCRMMeetingBean.deleteTheSelectedFile}"
					oncomplete="deleteMeetingDocumentDialog.hide();"
					update="selectedMeetingDocumentName" />

			</p:dialog>



			<p:dialog widgetVar="deleteVisitDocumentDialog"
				id="deleteVisitDocumentDialogId" header="#{language.salesWarning}">
				<br />
				<h:outputText value="#{language.salesDeleteDocumentConfirmation}" />
				<br />
				<h:outputText value="#{language.salesDeleteDocumentConfirmation}" />
				<br />
				<br />
				<p:selectOneMenu value="#{salesCRMVisitBean.toBeDeleted}"
					layout="lineDirection" style="width:150px;">
					<c:forEach begin="0"
						end="#{salesCRMVisitBean.selectedVisit.fileNumber}" var="i">
						<f:selectItem
							itemValue="#{salesCRMVisitBean.selectedVisit.fileNames[i]}"
							itemLabel="#{salesCRMVisitBean.selectedVisit.fileNames[i]}"></f:selectItem>
					</c:forEach>
				</p:selectOneMenu>
				<br />


				<p:commandButton value="#{language.cancel}"
					oncomplete="deleteVisitDocumentDialog.hide();" />
				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.salesDeleteDocument}"
					action="#{salesCRMVisitBean.deleteTheSelectedFile}"
					oncomplete="deleteVisitDocumentDialog.hide();"
					update="selectedVisitDocumentName" />

			</p:dialog>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>