<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">

		<ui:define name="showPanel">
			<p:growl id="salesGrowl" showDetail="true" sticky="true"
				autoUpdate="true" />

			<p:accordionPanel dynamic="true" cache="true"
				id="customerAccordionPanel">
				<!-- CUSTOMERS -->
				<p:tab id="customerTab" title="#{language.salesCustomer}">
					<p:layout fullPage="false" id="customerLayout"
						style="height:650px; margin-left:auto; margin-right:auto; position:relative">
						<p:layoutUnit position="center">

							<p:dataTable var="salesCustomer" id="customerTable"
								value="#{salesCustomerBean.customerList}"
								rowKey="#{salesCustomer.salesCustomerId}"
								selection="#{salesCustomerBean.selectedCustomer}"
								selectionMode="single" paginator="true" rows="20"
								paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
								emptyMessage="#{language.salesNoItem}"
								filteredValue="#{salesCustomerBean.filteredCustomerList}">

								<p:ajax event="rowSelect" update="customerAccordionPanel"
									listener="#{salesMenuBean.showManageType1Menu}" />

								<f:facet name="header"> #{language.salesCustomer}
								</f:facet>

								<f:facet name="footer">

									<p:commandButton id="newButton"
										value="#{language.salesNewCustomer}">
										<f:setPropertyActionListener value="#{true}"
											target="#{salesMenuBean.newType1Menu}" />
										<f:setPropertyActionListener value="#{false}"
											target="#{salesMenuBean.manageType1Menu}" />
									</p:commandButton>

									<p:spacer width="25" height="5" />

									<p:commandButton id="manageButton"
										value="#{language.salesManageCustomer}">
										<f:setPropertyActionListener value="#{false}"
											target="#{salesMenuBean.newType1Menu}" />
										<f:setPropertyActionListener value="#{true}"
											target="#{salesMenuBean.manageType1Menu}" />
									</p:commandButton>
								</f:facet>

								<p:column headerText="#{language.salesShortName}"
									sortBy="#{salesCustomer.shortName}"
									filterBy="#{salesCustomer.shortName}"
									filterMatchMode="contains">
									<h:outputText value="#{salesCustomer.shortName}"></h:outputText>
								</p:column>

								<p:column headerText="#{language.salesCommercialName}"
									sortBy="#{salesCustomer.commercialName}"
									filterBy="#{salesCustomer.commercialName}"
									filterMatchMode="contains">
									<h:outputText value="#{salesCustomer.commercialName}"></h:outputText>
								</p:column>
								<!--
								<p:column headerText="#{language.salesCompanyCode}" sortBy="#{salesCustomer.code}"
									filterBy="#{salesCustomer.code}"
									filterMatchMode="contains">
									<h:outputText value="#{salesCustomer.code}"></h:outputText>
								</p:column>
-->
								<p:column headerText="#{language.salesTypeOfFunction}">
									<h:dataTable value="#{salesCustomer.functionTypeList}"
										var="salesList" style="border:0px transparent">
										<p:column>
											<h:outputText value="#{salesList.subject}" />
										</p:column>
									</h:dataTable>
								</p:column>

								<!-- 
								<p:column headerText="#{language.salesClassification}" sortBy="#{salesCustomer.classification.name}"
									filterBy="#{salesCustomer.classification.name}"
									filterMatchMode="contains">
									<h:outputText value="#{salesCustomer.classification.name}"></h:outputText>
								</p:column>
								 -->
								<!--
								<p:column headerText="#{language.Address}" sortBy="#{salesCustomer.address}"
									filterBy="#{salesCustomer.address}"
									filterMatchMode="contains">
									<h:outputText value="#{salesCustomer.ress}"></h:outputText>
								</p:column>
-->
								<p:column headerText="#{language.City}"
									sortBy="#{salesCustomer.city}" filterBy="#{salesCustomer.city}"
									filterMatchMode="contains">
									<h:outputText value="#{salesCustomer.city}"></h:outputText>
								</p:column>

								<p:column headerText="#{language.Country}"
									sortBy="#{salesCustomer.ulkeler.ulkeIsmi}"
									filterBy="#{salesCustomer.ulkeler.ulkeIsmi}"
									filterMatchMode="contains">
									<h:outputText value="#{salesCustomer.ulkeler.ulkeIsmi}"></h:outputText>
								</p:column>
								<!--
								<p:column headerText="#{language.salesTaxOffice}" sortBy="#{salesCustomer.taxOffice}"
									filterBy="#{salesCustomer.taxOffice}"
									filterMatchMode="contains">
									<h:outputText value="#{salesCustomer.taxOffice}"></h:outputText>
								</p:column>

								<p:column headerText="#{language.salesTaxNumber}" sortBy="#{salesCustomer.taxNumber}"
									filterBy="#{salesCustomer.taxNumber}"
									filterMatchMode="contains">
									<h:outputText value="#{salesCustomer.taxNumber}"></h:outputText>
								</p:column>

								<p:column headerText="#{language.salesRecordDate}" sortBy="#{salesCustomer.recordDate}"
									filterBy="#{salesCustomer.recordDate}"
									filterMatchMode="contains">
									<h:outputText value="#{salesCustomer.recordDate}"></h:outputText>
								</p:column>
-->
							</p:dataTable>

						</p:layoutUnit>

						<p:layoutUnit position="east" id="customerManage">
							<p:spacer width="450" height="20" />

							<p:outputPanel id="panelCustomer" autoUpdate="true">
								<!--  NEW CUSTOMER RECORD -->
								<p:panel id="newCustomerTab"
									rendered="#{salesMenuBean.newType1Menu}"
									header="#{language.salesCustomerInfo} (#{language.salesNewCustomer})">

									<h:panelGrid border="0" columns="3" style="width:100%"
										id="newCustomerPanel">
										<h:panelGrid border="0" columns="2" style="width:100%"
											id="newSalesColumn1Id">

											<h:outputLabel value="#{language.salesShortName}*: "></h:outputLabel>
											<p:inputText
												value="#{salesCustomerBean.newCustomer.shortName}" />

											<h:outputLabel value="#{language.salesCommercialName}*: "></h:outputLabel>
											<p:inputText
												value="#{salesCustomerBean.newCustomer.commercialName}" />

											<h:outputLabel value="#{language.salesCompanyCode} : "></h:outputLabel>
											<p:inputMask value="#{salesCustomerBean.newCustomer.code}"
												mask="999999" />

											<h:outputLabel value="#{language.salesClassification} : "></h:outputLabel>
											<p:selectOneMenu
												value="#{salesCustomerBean.newCustomer.classification}"
												style=" width:113px">
												<f:converter converterId="salesCustomerClassConverter" />
												<c:forEach items="#{salesCustomerClassBean.classList}"
													var="class">
													<f:selectItem itemValue="#{class}"
														itemLabel="#{class.name}"></f:selectItem>
												</c:forEach>
											</p:selectOneMenu>

											<h:outputLabel value="#{language.salesTypeOfFunction} : "></h:outputLabel>
											<p:selectManyMenu
												value="#{salesCustomerBean.newCustomer.functionTypeList}"
												layout="lineDirection" style=" width:113px;height:70px"
												disabled="#{salesCustomerBean.newCustomer.salesCustomerId!=null}">
												<f:converter
													converterId="salesCustomerFunctionTypeConverter" />
												<c:forEach
													items="#{salesCustomerFunctionTypeBean.functionTypeList}"
													var="functions">
													<f:selectItem itemValue="#{functions}"
														itemLabel="#{functions.subject}"></f:selectItem>
												</c:forEach>
											</p:selectManyMenu>
											<!-- 										
										</h:panelGrid>

										<p:spacer width="25" height="50" />

										<h:panelGrid border="0" columns="2" style="width:100%"
											id="newSalesColumn2Id">
 -->
											<h:outputLabel value="#{language.Address}:  "></h:outputLabel>
											<p:inputTextarea
												value="#{salesCustomerBean.newCustomer.address}" rows="5"
												maxLength="150" style="width:106px" autoResize="false"
												cols="10" maxHeight="10">
											</p:inputTextarea>

											<h:outputLabel value="#{language.Country}*: "></h:outputLabel>
											<p:selectOneMenu layout="lineDirection" style="width: 140px"
												value="#{salesCustomerBean.newCustomer.ulkeler.id}"
												required="true"
												requiredMessage="#{language.RequiredMessage}">
												<!-- <f:converter converterId="salesCustomerCountryConverter" /> -->
												<c:forEach items="#{ulkelerBean.allUlkelerList}" var="ulke">
													<f:selectItem itemValue="#{ulke.id}"
														itemLabel="#{ulke.ulkeIsmi}"></f:selectItem>
												</c:forEach>
											</p:selectOneMenu>

											<h:outputLabel value="#{language.City}: "></h:outputLabel>
											<p:inputText value="#{salesCustomerBean.newCustomer.city}">
											</p:inputText>

											<h:outputLabel value="#{language.salesTaxOffice} : "></h:outputLabel>
											<p:inputText
												value="#{salesCustomerBean.newCustomer.taxOffice}">
											</p:inputText>

											<h:outputLabel value="#{language.salesTaxNumber} : "></h:outputLabel>
											<p:inputMask
												value="#{salesCustomerBean.newCustomer.taxNumber}"
												mask="999 999 9999">
											</p:inputMask>

											<h:outputLabel value="#{language.salesDomestic}: "></h:outputLabel>
											<p:selectBooleanCheckbox
												value="#{salesCustomerBean.newCustomer.domestic}" />

											<h:outputLabel value="#{language.salesAbroad}: "></h:outputLabel>
											<p:selectBooleanCheckbox
												value="#{salesCustomerBean.newCustomer.abroad}" />

											<h:outputLabel value="#{language.salesRecordDate}: "></h:outputLabel>
											<p:inputText
												value="#{salesCustomerBean.newCustomer.recordDate}"
												readonly="true">
											</p:inputText>
										</h:panelGrid>

									</h:panelGrid>

									<p:spacer width="15" height="50" />

									<p:commandLink title="#{language.Add}"
										action="#{salesCustomerBean.add}" process="@all"
										update="customerTable">
										<p:graphicImage value="/large_icons/add.png"
											style="border:0px"></p:graphicImage>
									</p:commandLink>

									<p:spacer width="15" height="50" />

									<p:commandLink title="#{language.Cancel}" immediate="true"
										process="@none" update="newCustomerPanel">
										<p:graphicImage value="/large_icons/cancel.png"
											style="border:0px"></p:graphicImage>
									</p:commandLink>

								</p:panel>

								<!--  UPDATE CUSTOMER RECORD -->
								<p:panel id="selectedCustomerTab"
									rendered="#{salesMenuBean.manageType1Menu}"
									header="#{language.salesCustomerInfo} (#{language.salesManage})">

									<h:panelGrid border="0" columns="3" style="width:100%"
										id="selectedCustomerPanel">
										<h:panelGrid border="0" columns="2" style="width:100%"
											id="selectedCustomerColumn1Id">

											<h:outputLabel value="#{language.salesShortName}: "></h:outputLabel>
											<p:inputText
												value="#{salesCustomerBean.selectedCustomer.shortName}">
											</p:inputText>

											<h:outputLabel value="#{language.salesCommercialName}: "></h:outputLabel>
											<p:inputText
												value="#{salesCustomerBean.selectedCustomer.commercialName}">
											</p:inputText>

											<h:outputLabel value="#{language.salesCompanyCode} : "></h:outputLabel>
											<p:inputMask
												value="#{salesCustomerBean.selectedCustomer.code}"
												mask="999999">
											</p:inputMask>

											<h:outputLabel value="#{language.salesClassification} : "></h:outputLabel>
											<p:selectOneMenu
												value="#{salesCustomerBean.selectedCustomer.classification}"
												style=" width:113px">
												<f:converter converterId="salesCustomerClassConverter" />
												<c:forEach items="#{salesCustomerClassBean.classList}"
													var="class">
													<f:selectItem itemValue="#{class}"
														itemLabel="#{class.name}"></f:selectItem>
												</c:forEach>
											</p:selectOneMenu>

											<h:outputLabel value="#{language.salesTypeOfFunction} : "></h:outputLabel>
											<p:selectManyMenu
												value="#{salesCustomerBean.selectedCustomer.functionTypeList}"
												layout="lineDirection" style=" width:113px;height:70px">
												<f:converter
													converterId="salesCustomerFunctionTypeConverter" />
												<c:forEach
													items="#{salesCustomerFunctionTypeBean.functionTypeList}"
													var="functions">
													<f:selectItem itemValue="#{functions}"
														itemLabel="#{functions.subject}"></f:selectItem>
												</c:forEach>
											</p:selectManyMenu>
											<!-- 											 
										</h:panelGrid>

										<p:spacer width="25" height="50" />

										<h:panelGrid border="0" columns="2" style="width:100%"
											id="selectedCustomerColumn2Id">
-->
											<h:outputLabel value="#{language.Address}:  "></h:outputLabel>
											<p:inputTextarea
												value="#{salesCustomerBean.selectedCustomer.address}"
												rows="5" maxLength="150" style="width:106px"
												autoResize="false" cols="10" maxHeight="10">
											</p:inputTextarea>

											<h:outputLabel value="#{language.City} : "></h:outputLabel>
											<p:inputText
												value="#{salesCustomerBean.selectedCustomer.city}">
											</p:inputText>

											<h:outputLabel value="#{language.Country} : "></h:outputLabel>
											<p:selectOneMenu
												value="#{salesCustomerBean.selectedCustomer.ulkeler.id}"
												layout="lineDirection" style=" width:113px">
												<!-- <f:converter converterId="salesCustomerCountryConverter" /> -->
												<c:forEach items="#{ulkelerBean.allUlkelerList}" var="ulke">
													<f:selectItem itemValue="#{ulke.id}"
														itemLabel="#{ulke.ulkeIsmi}"></f:selectItem>
												</c:forEach>
											</p:selectOneMenu>

											<h:outputLabel value="#{language.salesTaxOffice} : "></h:outputLabel>
											<p:inputText
												value="#{salesCustomerBean.selectedCustomer.taxOffice}">
											</p:inputText>

											<h:outputLabel value="#{language.salesTaxNumber} : "></h:outputLabel>
											<p:inputMask
												value="#{salesCustomerBean.selectedCustomer.taxNumber}"
												mask="999 999 9999">
											</p:inputMask>

											<h:outputLabel value="#{language.salesDomestic}: "></h:outputLabel>
											<p:selectBooleanCheckbox
												value="#{salesCustomerBean.selectedCustomer.domestic}" />

											<h:outputLabel value="#{language.salesAbroad}: "></h:outputLabel>
											<p:selectBooleanCheckbox
												value="#{salesCustomerBean.selectedCustomer.abroad}" />

											<h:outputLabel value="#{language.salesRecordDate}: "></h:outputLabel>
											<p:inputText
												value="#{salesCustomerBean.selectedCustomer.recordDate}"
												readonly="true">
											</p:inputText>

											<h:outputLabel value="#{language.salesUserLastUpdate}: "></h:outputLabel>
											<p:inputText
												value="#{salesCustomerBean.selectedCustomer.userLastUpdate}"
												readonly="true">
											</p:inputText>
										</h:panelGrid>
									</h:panelGrid>
									<p:spacer width="15" height="50" />
									<p:commandLink title="#{language.Update}"
										onclick="updateCustomerDialog.show();">
										<p:graphicImage value="/large_icons/update.png"
											style="border:0px"></p:graphicImage>
									</p:commandLink>

									<p:spacer width="15" height="50" />

									<p:commandLink title="#{language.Delete}"
										onclick="deleteCustomerDialog.show();">
										<p:graphicImage value="/large_icons/delete.png"
											style="border:0px"></p:graphicImage>
									</p:commandLink>

									<p:spacer width="15" height="50" />

									<p:commandLink title="#{language.Cancel}" immediate="true"
										process="@none" update="selectedCustomerPanel">
										<p:graphicImage value="/large_icons/cancel.png"
											style="border:0px"></p:graphicImage>
									</p:commandLink>
								</p:panel>
							</p:outputPanel>


							<p:dialog widgetVar="updateCustomerDialog"
								header="#{language.salesWarning}">
								<h:outputText value="#{language.salesConfirmation}" />
								<br />

								<p:commandButton value="#{language.cancel}"
									oncomplete="updateCustomerDialog.hide();" />

								<p:spacer width="15" height="50" />

								<p:commandButton value="#{language.submit}"
									action="#{salesCustomerBean.update}"
									oncomplete="updateCustomerDialog.hide();"
									update="customerTable" />

							</p:dialog>

							<p:dialog widgetVar="deleteCustomerDialog"
								header="#{language.salesWarning}">
								<h:outputText value="#{language.salesConfirmation}" />
								<br />

								<p:commandButton value="#{language.cancel}"
									oncomplete="deleteCustomerDialog.hide();" />

								<p:spacer width="15" height="50" />

								<p:commandButton value="#{language.submit}"
									action="#{salesCustomerBean.delete}"
									oncomplete="deleteCustomerDialog.hide();"
									update="customerAccordionPanel" />

							</p:dialog>

						</p:layoutUnit>

					</p:layout>
				</p:tab>
				<!-- PEOPLE TO COMMUNICATE -->
				<p:tab id="contactPeopleTab"
					title="#{language.salesPeopleToCommunicate}">
					<p:layout fullPage="false" id="contactPeopleLayout"
						style="height:650px; margin-left:auto; margin-right:auto; position:relative">
						<p:layoutUnit position="center">
							<p:dataTable var="salesContactPeople" id="contactPeopleTable"
								value="#{salesContactPeopleBean.contactsOfCustomer}"
								rowKey="#{salesContactPeople.salesContactPeopleId}"
								selectionMode="single"
								selection="#{salesContactPeopleBean.selectedContact}"
								paginator="true" rows="20"
								paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
								emptyMessage="#{language.salesNoItem}"
								filteredValue="#{salesCustomerBean.filteredList}">

								<p:ajax event="rowSelect" update="contactPeopleLayout"
									listener="#{salesMenuBean.showManageType1Menu}" />

								<f:facet name="header">#{language.salesPeopleToCommunicate}
									</f:facet>

								<f:facet name="footer">

									<p:commandButton id="newButton"
										value="#{language.salesNewPeopleToCommunicate}">
										<f:setPropertyActionListener value="#{true}"
											target="#{salesMenuBean.newType1Menu}" />
										<f:setPropertyActionListener value="#{false}"
											target="#{salesMenuBean.manageType1Menu}" />
									</p:commandButton>

									<p:spacer width="25" height="5" />

									<p:commandButton id="manageButton"
										value="#{language.salesManage}" style="width:100px">
										<f:setPropertyActionListener value="#{false}"
											target="#{salesMenuBean.newType1Menu}" />
										<f:setPropertyActionListener value="#{true}"
											target="#{salesMenuBean.manageType1Menu}" />
									</p:commandButton>
								</f:facet>

								<p:column headerText="#{language.salesName}"
									sortBy="#{salesContactPeople.name}"
									filterBy="#{salesContactPeople.name}"
									filterMatchMode="contains">
									<h:outputText value="#{salesContactPeople.name}"></h:outputText>
								</p:column>

								<p:column headerText="#{language.salesSurname}"
									sortBy="#{salesContactPeople.surname}"
									filterBy="#{salesContactPeople.surname}"
									filterMatchMode="contains">
									<h:outputText value="#{salesContactPeople.surname}"></h:outputText>
								</p:column>

								<p:column headerText="#{language.salesPosition}"
									sortBy="#{salesContactPeople.job}"
									filterBy="#{salesContactPeople.job}" filterMatchMode="contains">
									<h:outputText value="#{salesContactPeople.job}"></h:outputText>
								</p:column>
								<!--
								<p:column headerText="#{language.salesPhone}" sortBy="#{salesContactPeople.phone}"
									filterBy="#{salesContactPeople.phone}"
									filterMatchMode="contains" >
		            				<h:outputText value="#{salesContactPeople.phone}"></h:outputText>
								</p:column>
		
								<p:column headerText="#{language.salesMobile}"  sortBy="#{salesContactPeople.mobile}"
									filterBy="#{salesContactPeople.mobile}"
									filterMatchMode="contains">
		            				<h:outputText value="#{salesContactPeople.mobile}"></h:outputText>
								</p:column>
		
								<p:column headerText="#{language.salesEmail}"  sortBy="#{salesContactPeople.email}"
									filterBy="#{salesContactPeople.email}"
									filterMatchMode="contains">
		            				<h:outputText value="#{salesContactPeople.email}"></h:outputText>
								</p:column>
		
								<p:column headerText="#{language.salesPreferences}"  sortBy="#{salesContactPeople.personalCharacteristic}"
									filterBy="#salesContactPeople.personalCharacteristic}"
									filterMatchMode="contains">
		            				<h:outputText value="#{salesContactPeople.personalCharacteristic}"></h:outputText>
								</p:column>
-->
								<p:column headerText="#{language.salesCustomer}"
									sortBy="#{salesContactPeople.salesCustomer.shortName}"
									filterBy="#{salesContactPeople.salesCustomer.shortName}"
									filterMatchMode="contains">
									<h:outputText
										value="#{salesContactPeople.salesCustomer.shortName}"></h:outputText>
								</p:column>
							</p:dataTable>
						</p:layoutUnit>
						<p:layoutUnit position="east">

							<p:spacer width="500" height="20" />

							<p:outputPanel id="panelContactPeople" autoUpdate="true">
								<!--  NEW PEOPLE TO COMMUNICATE RECORD -->
								<p:panel id="newContactPeopleTab"
									rendered="#{salesMenuBean.newType1Menu}"
									header="#{language.salesPeopleToCommunicate} (#{language.salesNewPeopleToCommunicate})">
									<h:panelGrid border="0" columns="3" style="width:100%"
										id="newContactPeoplePanel">
										<h:panelGrid border="0" columns="2" style="width:100%"
											id="newContactPeopleColumn1Id">

											<h:outputLabel value="#{language.salesName} *" />
											<p:inputText
												value="#{salesContactPeopleBean.newContact.name}"></p:inputText>

											<h:outputLabel value="#{language.salesSurname} *" />
											<p:inputText
												value="#{salesContactPeopleBean.newContact.surname}"></p:inputText>

											<h:outputLabel value="#{language.salesPosition}" />
											<p:inputText value="#{salesContactPeopleBean.newContact.job}"></p:inputText>

											<h:outputLabel value="#{language.salesMobile} *" />
											<p:inputText
												value="#{salesContactPeopleBean.newContact.mobile}"></p:inputText>

											<h:outputLabel value="#{language.salesEmail}" />
											<p:inputText
												value="#{salesContactPeopleBean.newContact.email}"></p:inputText>
											<!-- 
										</h:panelGrid>

										<p:spacer width="25" height="50" />

										<h:panelGrid border="0" columns="2" style="width:100%"
											id="newContactPeopleColumn2Id">
 -->
											<h:outputLabel value="#{language.salesPhone} *" />
											<p:inputText
												value="#{salesContactPeopleBean.newContact.phone}"></p:inputText>

											<h:outputLabel value="#{language.salesPreferences}" />
											<p:inputTextarea
												value="#{salesContactPeopleBean.newContact.personalCharacteristic}"
												rows="5" maxLength="150" style="width:106px"
												autoResize="false" cols="10" maxHeight="10">
											</p:inputTextarea>

											<h:outputLabel value="#{language.salesCustomer}" />
											<p:selectOneMenu
												value="#{salesContactPeopleBean.newContact.salesCustomer}"
												layout="lineDirection" style=" width:113px">
												<f:converter converterId="salesCustomerConverter" />
												<c:forEach items="#{salesCustomerBean.customerList}"
													var="customers">
													<f:selectItem itemValue="#{customers}"
														itemLabel="#{customers.shortName}"></f:selectItem>
												</c:forEach>
											</p:selectOneMenu>
										</h:panelGrid>

									</h:panelGrid>

									<p:spacer width="15" height="50" />

									<p:commandLink title="#{language.Add}"
										action="#{salesContactPeopleBean.add}" process="@all"
										update="contactPeopleTable">
										<p:graphicImage value="/large_icons/add.png"
											style="border:0px"></p:graphicImage>
									</p:commandLink>

									<p:spacer width="15" height="50" />

									<p:commandLink title="#{language.Cancel}" immediate="true"
										process="@none" update="newContactPeoplePanel">
										<p:graphicImage value="/large_icons/cancel.png"
											style="border:0px"></p:graphicImage>
									</p:commandLink>
								</p:panel>

								<!--  UPDATE PEOPLE TO COMMUNICATE RECORD -->
								<p:panel id="selectedContactPeopleTab"
									rendered="#{salesMenuBean.manageType1Menu}"
									header="#{language.salesPeopleToCommunicate} (#{language.salesManage})">

									<h:panelGrid border="0" columns="3" style="width:100%"
										id="selectedContactPeoplePanel">
										<h:panelGrid border="0" columns="2" style="width:100%"
											id="selectedContactPeopleColumn1Id">

											<h:outputLabel value="#{language.salesName}" />
											<p:inputText
												value="#{salesContactPeopleBean.selectedContact.name}"></p:inputText>

											<h:outputLabel value="#{language.salesSurname}" />
											<p:inputText
												value="#{salesContactPeopleBean.selectedContact.surname}"></p:inputText>

											<h:outputLabel value="#{language.salesPosition}" />
											<p:inputText
												value="#{salesContactPeopleBean.selectedContact.job}"></p:inputText>

											<h:outputLabel value="#{language.salesMobile}" />
											<p:inputText
												value="#{salesContactPeopleBean.selectedContact.mobile}"></p:inputText>

											<h:outputLabel value="#{language.salesEmail}" />
											<p:inputText
												value="#{salesContactPeopleBean.selectedContact.email}"></p:inputText>
											<!-- 
										</h:panelGrid>

										<p:spacer width="25" height="50" />

										<h:panelGrid border="0" columns="2" style="width:100%"
											id="selectedContactPeopleColumn2Id">
 -->
											<h:outputLabel value="#{language.salesPhone}" />
											<p:inputText
												value="#{salesContactPeopleBean.selectedContact.phone}"></p:inputText>

											<h:outputLabel value="#{language.salesPreferences}" />
											<p:inputTextarea
												value="#{salesContactPeopleBean.selectedContact.personalCharacteristic}"
												rows="5" maxLength="150" style="width:106px"
												autoResize="false" cols="10" maxHeight="10">
											</p:inputTextarea>

											<h:outputLabel value="#{language.salesCustomer}" />
											<p:selectOneMenu
												value="#{salesContactPeopleBean.selectedContact.salesCustomer}"
												layout="lineDirection" style=" width:113px">
												<f:converter converterId="salesCustomerConverter" />
												<c:forEach items="#{salesCustomerBean.customerList}"
													var="customers">
													<f:selectItem itemValue="#{customers}"
														itemLabel="#{customers.shortName}"></f:selectItem>
												</c:forEach>
											</p:selectOneMenu>
										</h:panelGrid>
									</h:panelGrid>


									<p:spacer width="15" height="50" />
									<p:commandLink title="#{language.Update}"
										onclick="updateContactDialog.show();">
										<p:graphicImage value="/large_icons/update.png"
											style="border:0px"></p:graphicImage>
									</p:commandLink>

									<p:spacer width="15" height="50" />

									<p:commandLink title="#{language.Delete}"
										onclick="deleteContactDialog.show();">
										<p:graphicImage value="/large_icons/delete.png"
											style="border:0px"></p:graphicImage>
									</p:commandLink>

									<p:spacer width="15" height="50" />

									<p:commandLink title="#{language.Cancel}" immediate="true"
										process="@none" update="newContactPeoplePanel">
										<p:graphicImage value="/large_icons/cancel.png"
											style="border:0px"></p:graphicImage>
									</p:commandLink>

								</p:panel>
							</p:outputPanel>
							<p:dialog widgetVar="updateContactDialog"
								header="#{language.salesWarning}">
								<h:outputText value="#{language.salesConfirmation}" />
								<br />

								<p:commandButton value="#{language.cancel}"
									oncomplete="updateContactDialog.hide();" />

								<p:spacer width="15" height="50" />

								<p:commandButton value="#{language.submit}"
									action="#{salesContactPeopleBean.update}"
									oncomplete="updateContactDialog.hide();"
									update="contactPeopleTable" />

							</p:dialog>
							<p:dialog widgetVar="deleteContactDialog"
								header="#{language.salesWarning}">
								<h:outputText value="#{language.salesConfirmation}" />
								<br />

								<p:commandButton value="#{language.cancel}"
									oncomplete="deleteContactDialog.hide();" />

								<p:spacer width="15" height="50" />

								<p:commandButton value="#{language.submit}"
									action="#{salesContactPeopleBean.delete}"
									oncomplete="deleteContactDialog.hide();"
									update="contactPeopleLayout" />

							</p:dialog>
						</p:layoutUnit>
					</p:layout>

				</p:tab>

				<!-- COMPANY TO COMMUNICATE -->
				<p:tab id="contactCompanyTab"
					title="#{language.salesContactCompany}">
					<p:layout fullPage="false" id="contactCompanyLayout"
						style="height:650px; margin-left:auto; margin-right:auto; position:relative">
						<p:layoutUnit position="center">
							<p:dataTable var="salesContactCompany" id="contactCompanyTable"
								value="#{salesContactCompanyBean.contactsOfCustomer}"
								rowKey="#{salesContactCompany.salesContactCompanyId}"
								selection="#{salesContactCompanyBean.selectedContact}"
								selectionMode="single" paginator="true" rows="20"
								paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
								emptyMessage="#{language.salesNoItem}"
								filteredValue="#{salesCustomerBean.filteredList}">

								<p:ajax event="rowSelect" update="contactCompanyLayout"
									listener="#{salesMenuBean.showManageType1Menu}" />
								<!-- <p:ajax event="rowSelect" update="contactCompanyLayout" />
 -->
								<f:facet name="header">#{language.salesContactCompany}
									</f:facet>

								<f:facet name="footer">

									<p:commandButton id="newButton"
										value="#{language.salesNewContactCompany}">
										<f:setPropertyActionListener value="#{true}"
											target="#{salesMenuBean.newType1Menu}" />
										<f:setPropertyActionListener value="#{false}"
											target="#{salesMenuBean.manageType1Menu}" />
									</p:commandButton>

									<p:spacer width="25" height="5" />

									<p:commandButton id="manageButton"
										value="#{language.salesManage}" style="width:100px">
										<f:setPropertyActionListener value="#{false}"
											target="#{salesMenuBean.newType1Menu}" />
										<f:setPropertyActionListener value="#{true}"
											target="#{salesMenuBean.manageType1Menu}" />
									</p:commandButton>
								</f:facet>

								<p:column headerText="#{language.salesShortName}"
									sortBy="#{salesContactCompany.shortName}"
									filterBy="#{salesContactCompany.shortName}"
									filterMatchMode="contains">
									<h:outputText value="#{salesContactCompany.shortName}"></h:outputText>
								</p:column>

								<p:column headerText="#{language.salesCommercialName}"
									sortBy="#{salesContactCompany.commercialName}"
									filterBy="#{salesContactCompany.commercialName}"
									filterMatchMode="contains">
									<h:outputText value="#{salesContactCompany.commercialName}"></h:outputText>
								</p:column>

								<p:column headerText="#{language.salesCompanyCode}"
									sortBy="#{salesContactCompany.code}"
									filterBy="#{salesContactCompany.code}"
									filterMatchMode="contains">
									<h:outputText value="#{salesContactCompany.code}"></h:outputText>
								</p:column>

								<p:column headerText="#{language.salesTypeOfFunction}">
									<h:dataTable value="#{salesContactCompany.functionTypeList}"
										var="salesList" style="border:0px transparent">
										<p:column>
											<h:outputText value="#{salesList.subject}" />
										</p:column>
									</h:dataTable>
								</p:column>
								<!--
								<p:column headerText="#{language.salesClassification}" sortBy="#{salesContactCompany.classification.name}"
									filterBy="#{salesContactCompany.classification.name}"
									filterMatchMode="contains">
									<h:outputText
										value="#{salesContactCompany.classification.name}"></h:outputText>
								</p:column>
 -->
								<!--
								<p:column headerText="#{language.Address}" sortBy="#{salesContactCompany.address}"
									filterBy="#{salesContactCompany.address}"
									filterMatchMode="contains">
            						<h:outputText value="#{salesContactCompany.address}"></h:outputText>
								</p:column>
-->
								<p:column headerText="#{language.City}"
									sortBy="#{salesContactCompany.city}"
									filterBy="#{salesContactCompany.city}"
									filterMatchMode="contains">
									<h:outputText value="#{salesContactCompany.city}"></h:outputText>
								</p:column>
								<!--
								<p:column headerText="#{language.Country}" sortBy="#{salesContactCompany.country.name}"
									filterBy="#{salesContactCompany.country.name}"
									filterMatchMode="contains">
            						<h:outputText value="#{salesContactCompany.country.name}"></h:outputText>
								</p:column>
 
								<p:column headerText="#{language.salesTaxOffice}" sortBy="#{salesContactCompany.taxOffice}"
									filterBy="#{salesContactCompany.taxOffice}"
									filterMatchMode="contains">
            						<h:outputText value="#{salesContactCompany.taxOffice}"></h:outputText>
								</p:column>

								<p:column headerText="#{language.salesTaxNumber}" sortBy="#{salesContactCompany.taxNumber}"
									filterBy="#{salesContactCompany.taxNumber}"
									filterMatchMode="contains">
           							<h:outputText value="#{salesContactCompany.taxNumber}"></h:outputText>
								</p:column>

								<p:column headerText="#{language.salesRecordDate}" sortBy="#{salesContactCompany.recordDate}"
									filterBy="#{salesContactCompany.recordDate}"
									filterMatchMode="contains">
            						<h:outputText value="#{salesContactCompany.recordDate}"></h:outputText>
								</p:column>
-->
								<p:column headerText="#{language.salesCustomer}"
									sortBy="#{salesContactCompany.salesCustomer.shortName}"
									filterBy="#{salesContactCompany.salesCustomer.shortName}"
									filterMatchMode="contains">
									<h:outputText
										value="#{salesContactCompany.salesCustomer.shortName}"></h:outputText>
								</p:column>
							</p:dataTable>

						</p:layoutUnit>
						<p:layoutUnit position="east">

							<p:spacer width="500" height="20" />

							<p:outputPanel id="panelContactCompany" autoUpdate="true">
								<!--  NEW CONTACT COMPANY -->
								<p:panel id="newContactCompanyTab"
									header="#{language.salesContactCompany} (#{language.salesNewContactCompany})"
									rendered="#{salesMenuBean.newType1Menu}">

									<h:panelGrid border="0" columns="3" style="width:100%"
										id="newContactCompanyPanel">

										<h:panelGrid border="0" columns="2" style="width:100%"
											id="newContactCompanyColumn1Id">

											<h:outputLabel value="#{language.salesShortName}: "></h:outputLabel>
											<p:inputText
												value="#{salesContactCompanyBean.newContact.shortName}">
											</p:inputText>


											<h:outputLabel value="#{language.salesCommercialName}: "></h:outputLabel>
											<p:inputText
												value="#{salesContactCompanyBean.newContact.commercialName}">
											</p:inputText>

											<h:outputLabel value="#{language.salesCompanyCode} : "></h:outputLabel>
											<p:inputMask
												value="#{salesContactCompanyBean.newContact.code}"
												mask="999999">
											</p:inputMask>

											<h:outputLabel value="#{language.salesTypeOfFunction} : "></h:outputLabel>
											<p:selectManyMenu
												value="#{salesContactCompanyBean.newContact.functionTypeList}"
												layout="lineDirection" style=" width:113px;height:70px"
												disabled="#{salesContactCompanyBean.newContact.salesContactCompanyId!=null}">
												<f:converter
													converterId="salesCustomerFunctionTypeConverter" />
												<c:forEach
													items="#{salesCustomerFunctionTypeBean.functionTypeList}"
													var="functions">
													<f:selectItem itemValue="#{functions}"
														itemLabel="#{functions.subject}"></f:selectItem>
												</c:forEach>
											</p:selectManyMenu>

											<h:outputLabel value="#{language.salesClassification} : "></h:outputLabel>
											<p:selectOneMenu
												value="#{salesContactCompanyBean.newContact.classification}"
												style=" width:113px">
												<f:converter converterId="salesCustomerClassConverter" />
												<c:forEach items="#{salesCustomerClassBean.classList}"
													var="class">
													<f:selectItem itemValue="#{class}"
														itemLabel="#{class.name}"></f:selectItem>
												</c:forEach>
											</p:selectOneMenu>
											<!-- 
										</h:panelGrid>

										<p:spacer width="25" height="50" />

										<h:panelGrid border="0" columns="2" style="width:100%"
											id="newContactCompanyColumn2Id">
 -->
											<h:outputLabel value="#{language.Address}:  "></h:outputLabel>
											<p:inputTextarea
												value="#{salesContactCompanyBean.newContact.address}"
												rows="5" maxLength="150" style="width:106px"
												autoResize="false" cols="10" maxHeight="10">
											</p:inputTextarea>

											<h:outputLabel value="#{language.City} : "></h:outputLabel>
											<p:inputText
												value="#{salesContactCompanyBean.newContact.city}">
											</p:inputText>

											<h:outputLabel value="#{language.Country} : "></h:outputLabel>
											<p:selectOneMenu
												value="#{salesContactCompanyBean.newContact.ulkeler.id}"
												layout="lineDirection" style=" width:113px">
												<!-- <f:converter converterId="salesCustomerCountryConverter" /> -->
												<c:forEach items="#{ulkelerBean.allUlkelerList}" var="ulke">
													<f:selectItem itemValue="#{ulke.id}"
														itemLabel="#{ulke.ulkeIsmi}"></f:selectItem>
												</c:forEach>
											</p:selectOneMenu>

											<h:outputLabel value="#{language.salesTaxOffice} : "></h:outputLabel>
											<p:inputText
												value="#{salesContactCompanyBean.newContact.taxOffice}">
											</p:inputText>

											<h:outputLabel value="#{language.salesTaxNumber} : "></h:outputLabel>
											<p:inputMask
												value="#{salesContactCompanyBean.newContact.taxNumber}"
												mask="999 999 9999">
											</p:inputMask>

											<h:outputLabel value="#{language.salesCustomer}: "></h:outputLabel>
											<p:selectOneMenu
												value="#{salesContactCompanyBean.newContact.salesCustomer}"
												layout="lineDirection" style=" width:113px">
												<f:converter converterId="salesCustomerConverter" />
												<c:forEach items="#{salesCustomerBean.customerList}"
													var="customers">
													<f:selectItem itemValue="#{customers}"
														itemLabel="#{customers.shortName}"></f:selectItem>
												</c:forEach>
											</p:selectOneMenu>
										</h:panelGrid>
									</h:panelGrid>

									<p:spacer width="15" height="50" />

									<p:commandLink title="#{language.Add}"
										action="#{salesContactCompanyBean.add}" process="@all"
										update="contactCompanyTable">
										<p:graphicImage value="/large_icons/add.png"
											style="border:0px"></p:graphicImage>
									</p:commandLink>

									<p:spacer width="15" height="50" />

									<p:commandLink title="#{language.Cancel}" immediate="true"
										process="@none" update="newContactCompanyPanel">
										<p:graphicImage value="/large_icons/cancel.png"
											style="border:0px"></p:graphicImage>
									</p:commandLink>

								</p:panel>

								<!--  UPDATE CONTACT COMPANY RECORD -->
								<p:panel id="selectedContactCompanyTab"
									rendered="#{salesMenuBean.manageType1Menu}"
									header="#{language.salesContactCompany}  (#{language.salesManage})">

									<h:panelGrid border="0" columns="3" style="width:100%"
										id="selectedContactCompanyPanel">

										<h:panelGrid border="0" columns="2" style="width:100%"
											id="selectedContactCompanyColumn1Id">

											<h:outputLabel value="#{language.salesShortName}: "></h:outputLabel>
											<p:inputText
												value="#{salesContactCompanyBean.selectedContact.shortName}">
											</p:inputText>


											<h:outputLabel value="#{language.salesCommercialName}: "></h:outputLabel>
											<p:inputText
												value="#{salesContactCompanyBean.selectedContact.commercialName}">
											</p:inputText>

											<h:outputLabel value="#{language.salesCompanyCode} : "></h:outputLabel>
											<p:inputMask
												value="#{salesContactCompanyBean.selectedContact.code}"
												mask="999999">
											</p:inputMask>

											<h:outputLabel value="#{language.salesClassification} : "></h:outputLabel>
											<p:selectOneMenu
												value="#{salesContactCompanyBean.selectedContact.classification}"
												style=" width:113px">
												<f:converter converterId="salesCustomerClassConverter" />
												<c:forEach items="#{salesCustomerClassBean.classList}"
													var="class">
													<f:selectItem itemValue="#{class}"
														itemLabel="#{class.name}"></f:selectItem>
												</c:forEach>
											</p:selectOneMenu>

											<h:outputLabel value="#{language.salesTypeOfFunction} : "></h:outputLabel>
											<p:selectManyMenu
												value="#{salesContactCompanyBean.selectedContact.functionTypeList}"
												layout="lineDirection" style=" width:113px;height:70px">
												<f:converter
													converterId="salesCustomerFunctionTypeConverter" />
												<c:forEach
													items="#{salesCustomerFunctionTypeBean.functionTypeList}"
													var="functions">
													<f:selectItem itemValue="#{functions}"
														itemLabel="#{functions.subject}"></f:selectItem>
												</c:forEach>
											</p:selectManyMenu>
											<!-- 											
										</h:panelGrid>

										<p:spacer width="25" height="50" />

										<h:panelGrid border="0" columns="2" style="width:100%"
											id="selectedContactCompanyColumn2Id">
 -->
											<h:outputLabel value="#{language.Address}:  "></h:outputLabel>
											<p:inputTextarea
												value="#{salesContactCompanyBean.selectedContact.address}"
												rows="5" maxLength="150" style="width:106px"
												autoResize="false" cols="10" maxHeight="10" />

											<h:outputLabel value="#{language.City} : "></h:outputLabel>
											<p:inputText
												value="#{salesContactCompanyBean.selectedContact.city}">
											</p:inputText>

											<h:outputLabel value="#{language.Country} : "></h:outputLabel>
											<p:selectOneMenu
												value="#{salesContactCompanyBean.selectedContact.ulkeler.id}"
												layout="lineDirection" style=" width:113px">
												<!-- <f:converter converterId="salesCustomerCountryConverter" /> -->
												<c:forEach items="#{ulkelerBean.allUlkelerList}" var="ulke">
													<f:selectItem itemValue="#{ulke.id}"
														itemLabel="#{ulke.ulkeIsmi}"></f:selectItem>
												</c:forEach>
											</p:selectOneMenu>

											<h:outputLabel value="#{language.salesTaxOffice} : "></h:outputLabel>
											<p:inputText
												value="#{salesContactCompanyBean.selectedContact.taxOffice}">
											</p:inputText>

											<h:outputLabel value="#{language.salesTaxNumber} : "></h:outputLabel>
											<p:inputMask
												value="#{salesContactCompanyBean.selectedContact.taxNumber}"
												mask="999 999 9999">
											</p:inputMask>

											<h:outputLabel value="#{language.salesCustomer}: "></h:outputLabel>
											<p:selectOneMenu
												value="#{salesContactCompanyBean.selectedContact.salesCustomer}"
												layout="lineDirection" style=" width:113px">
												<f:converter converterId="salesCustomerConverter" />
												<c:forEach items="#{salesCustomerBean.customerList}"
													var="customers">
													<f:selectItem itemValue="#{customers}"
														itemLabel="#{customers.shortName}"></f:selectItem>
												</c:forEach>
											</p:selectOneMenu>

										</h:panelGrid>
									</h:panelGrid>

									<p:spacer width="15" height="50" />
									<p:commandLink title="#{language.Update}"
										onclick="updateCompanyDialog.show();">
										<p:graphicImage value="/large_icons/update.png"
											style="border:0px"></p:graphicImage>
									</p:commandLink>

									<p:spacer width="15" height="50" />

									<p:commandLink title="#{language.Delete}"
										onclick="deleteCompanyDialog.show();">
										<p:graphicImage value="/large_icons/delete.png"
											style="border:0px"></p:graphicImage>
									</p:commandLink>

									<p:spacer width="15" height="50" />

									<p:commandLink title="#{language.Cancel}" immediate="true"
										process="@none" update="selectedContactCompanyPanel">
										<p:graphicImage value="/large_icons/cancel.png"
											style="border:0px"></p:graphicImage>
									</p:commandLink>
								</p:panel>
							</p:outputPanel>

							<p:dialog widgetVar="updateCompanyDialog"
								header="#{language.salesWarning}">
								<h:outputText value="#{language.salesConfirmation}" />
								<br />

								<p:commandButton value="#{language.cancel}"
									oncomplete="updateCompanyDialog.hide();" />

								<p:spacer width="15" height="50" />

								<p:commandButton value="#{language.submit}"
									action="#{salesContactCompanyBean.update}"
									oncomplete="updateCompanyDialog.hide();"
									update="contactCompanyTable" />

							</p:dialog>

							<p:dialog widgetVar="deleteCompanyDialog"
								header="#{language.salesWarning}">
								<h:outputText value="#{language.salesConfirmation}" />
								<br />

								<p:commandButton value="#{language.cancel}"
									oncomplete="deleteCompanyDialog.hide();" />

								<p:spacer width="15" height="50" />

								<p:commandButton value="#{language.submit}"
									action="#{salesContactCompanyBean.delete}"
									oncomplete="deleteCompanyDialog.hide();"
									update="contactCompanyLayout" />

							</p:dialog>
						</p:layoutUnit>
					</p:layout>

				</p:tab>

			</p:accordionPanel>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>

	</ui:composition>
</h:body>
</html>