<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main.xhtml">

		<ui:define name="sideMenu">
			<p:dataTable var="salesDocuments" id="documentsTable"
				value="#{salesDocumentBean.documentList}"
				rowKey="#{salesDocuments.documentId}"
				selection="#{salesDocumentBean.selectedDocument}"
				selectionMode="single" paginator="true" rows="20"
				paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
				emptyMessage="#{language.salesNoItem}"
				filteredValue="#{salesDocumentBean.filteredList}">

				<p:ajax event="rowSelect" process="@all"
					update="documentSelected, panelNew,deleteDocumentDialogId"
					listener="#{salesMenuBean.showManageType1Menu}" />

				<f:facet name="header">
				  #{language.salesDocuments}
				  </f:facet>
				<f:facet name="footer">

					<p:commandButton id="newButton"
						value="#{language.salesNewDocuments}" style="width:100px"
						process="@all" update="panelNew">
						<f:setPropertyActionListener value="#{true}"
							target="#{salesMenuBean.newType1Menu}" />
						<f:setPropertyActionListener value="#{false}"
							target="#{salesMenuBean.manageType1Menu}" />
					</p:commandButton>

					<p:spacer width="15" height="5" />

					<p:commandButton id="manageButton" value="#{language.salesManage}"
						style="width:100px" process="@all" update="panelNew">
						<f:setPropertyActionListener value="#{false}"
							target="#{salesMenuBean.newType1Menu}" />
						<f:setPropertyActionListener value="#{true}"
							target="#{salesMenuBean.manageType1Menu}" />
					</p:commandButton>
				</f:facet>

				<p:column headerText="#{language.salesDocumentsTitle}"
					sortBy="#{salesDocuments.title}" filterBy="#{salesDocuments.title}"
					filterMatchMode="contains">
					<h:outputText value="#{salesDocuments.title}"></h:outputText>
				</p:column>
				<!-- 
				<p:column headerText="#{language.salesDocumentsName}" sortBy="#{salesDocuments.name}"
					filterBy="#{salesDocuments.name}" filterMatchMode="contains">
					<h:outputText value="#{salesDocuments.name}"></h:outputText>
				</p:column>
 -->
				<p:column headerText="#{language.salesDocumentsType}"
					sortBy="#{salesDocuments.documentType.name}"
					filterBy="#{salesDocuments.documentType.name}"
					filterMatchMode="contains">
					<h:outputText value="#{salesDocuments.documentType.name}"></h:outputText>
				</p:column>

				<p:column headerText="#{language.salesDocumentsResponsible}">
					<h:dataTable value="#{salesDocuments.responsibleList}"
						var="salesList" style="border:0px transparent">
						<p:column>
							<h:outputText
								value="#{salesDocuments.responsibleList[i].firstname} #{salesDocuments.responsibleList[i].lastname}" />
						</p:column>
					</h:dataTable>
				</p:column>

				<p:column headerText="#{language.salesDocumentsLanguage}"
					sortBy="#{salesDocuments.language}"
					filterBy="#{salesDocuments.language}" filterMatchMode="contains">
					<h:outputText value="#{salesDocuments.language}"></h:outputText>
				</p:column>

				<p:column headerText="#{language.salesDocumentsStartDate}"
					sortBy="#{salesDocuments.startDate}"
					filterBy="#{salesDocuments.startDate}" filterMatchMode="contains">
					<h:outputText value="#{salesDocuments.startDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{language.salesDocumentsEndDate}"
					sortBy="#{salesDocuments.endDate}"
					filterBy="#{salesDocuments.endDate}" filterMatchMode="contains">
					<h:outputText value="#{salesDocuments.endDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>
			</p:dataTable>

		</ui:define>
		<ui:define name="showPanel">
			<!--  UPDATE EVENTS RECORD -->
			<!-- <p:messages showDetail="false" showSummary="true" id="salesMessages" autoUpdate="true" /> -->
			<p:growl id="salesGrowl" showDetail="true" sticky="true"
				autoUpdate="true" />

			<p:spacer width="500" height="20" />
			<p:outputPanel id="panelManage" autoUpdate="true">
				<p:panel rendered="#{salesMenuBean.manageType1Menu}"
					header="#{language.salesDocuments} (#{language.salesManage})"
					id="documentSelected">
					<br />
					<h:panelGrid border="0" columns="3" id="selectedGridColumnSelected">
						<h:panelGrid border="0" columns="2"
							id="selectedGridColumn1Selected">
							<h:outputLabel value="#{language.salesDocumentsTitle}" />
							<p:inputText value="#{salesDocumentBean.selectedDocument.title}" />

							<h:outputLabel value="#{language.salesDocumentsStartDate}" />
							<p:calendar
								value="#{salesDocumentBean.selectedDocument.startDate}"
								pattern="dd/MM/yyyy" />

							<h:outputLabel value="#{language.salesDocumentsEndDate}" />
							<p:calendar value="#{salesDocumentBean.selectedDocument.endDate}"
								pattern="dd/MM/yyyy" />

							<h:outputLabel value="#{language.salesDocumentsLanguage}" />
							<p:inputText
								value="#{salesDocumentBean.selectedDocument.language}" />

							<h:outputLabel value="#{language.salesDocumentsType}" />
							<p:selectOneMenu
								value="#{salesDocumentBean.selectedDocument.documentType}"
								layout="lineDirection" style="width:115px">
								<f:converter converterId="salesDocumentTypeConverter" />
								<c:forEach items="#{salesDocumentTypeBean.documentTypeList}"
									var="typeList">
									<f:selectItem itemValue="#{typeList}"
										itemLabel="#{typeList.name}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>
							<!-- 							
						</h:panelGrid>

						<p:spacer width="25" height="50" />

						<h:panelGrid border="0" columns="2"
							id="selectedGridColumn2Selected">
 -->

							<h:outputLabel value="#{language.salesDocumentsResponsible}" />
							<p:dataTable var="user" dblClickSelect="false"
								id="userListSelectedDataTableId"
								value="#{employeeListBean.employeeList}"
								selection="#{salesDocumentBean.selectedEmployees}" rows="10"
								rowKey="#{user.employeeId}" selectionMode="multiple"
								rowIndexVar="rowIndex">

								<p:column sortBy="#{user.firstname} #{user.lastname}"
									filterBy="#{user.firstname} #{user.lastname}">
									<f:facet name="header">
										<h:outputText value="İsim Soyad"></h:outputText>
									</f:facet>
									<h:outputText value="#{user.firstname} #{user.lastname}"></h:outputText>
								</p:column>

								<p:column sortBy="#{user.department.name}"
									filterBy="#{user.department.name}">
									<f:facet name="header">
										<h:outputText value="Departman"></h:outputText>
									</f:facet>
									<h:outputText value="#{user.department.name}"></h:outputText>
								</p:column>
							</p:dataTable>

							<!-- 							<h:outputText value="#{language.Department}*: "></h:outputText> -->
							<!-- 							<p:selectOneMenu value="#{employeeListBean.departmentId}" -->
							<!-- 								style="width: 140px" required="true" -->
							<!-- 								requiredMessage="#{language.RequiredMessage}"> -->

							<!-- 								<p:ajax update="documentSelected" process="@all" -->
							<!-- 									listener="#{employeeListBean.loadEmployeeListByDepartment}" /> -->

							<!-- 								<c:forEach step="1" items="#{employeeBean.departmentList}" -->
							<!-- 									var="department"> -->
							<!-- 									<f:selectItem itemValue="#{department.departmentId}" -->
							<!-- 										itemLabel="#{department.name}" /> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectOneMenu> -->

							<!-- 							<h:outputLabel value="#{language.salesDocumentsResponsible}" /> -->
							<!-- 							<p:selectManyMenu -->
							<!-- 								value="#{salesDocumentBean.selectedDocument.responsibleList}" -->
							<!-- 								layout="lineDirection" showCheckbox="true" -->
							<!-- 								style="width:125px;height:100px"> -->
							<!-- 								<f:converter converterId="salesEmployeeConverter" /> -->
							<!-- 								<c:forEach items="#{employeeListBean.employeeList}" -->
							<!-- 									var="employees"> -->
							<!-- 									<f:selectItem itemValue="#{employees}" -->
							<!-- 										itemLabel="#{employees.firstname} #{employees.lastname}"></f:selectItem> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectManyMenu> -->

							<h:outputLabel value="#{language.salesDocumentsName}" />
						</h:panelGrid>
					</h:panelGrid>

					<p:panel id="nameOfSelectedDocument" style="border:0px transparent">
						<c:forEach var="i" begin="0"
							end="#{salesDocumentBean.selectedDocument.fileNumber}">
							<p:spacer width="90" height="10" />
							<h:commandLink
								value="#{salesDocumentBean.selectedDocument.fileNames[i]}">
								<f:setPropertyActionListener
									value="#{salesDocumentBean.selectedDocument.fileNames[i]}"
									target="#{salesDocumentBean.downloadedFileName}" />
								<p:fileDownload value="#{salesDocumentBean.downloadedFile}" />
							</h:commandLink>
							<br />
						</c:forEach>
					</p:panel>
					<br />
					<p:spacer width="20" height="20" />

					<p:fileUpload mode="advanced" multiple="false"
						label="#{language.salesAddDocument}" showButtons="false"
						auto="true" process="@all"
						update="documentsTable,deleteDocumentDialogId,nameOfSelectedDocument"
						allowTypes="/(\.|\/)(gif|jpg|jpeg|gif|png|PNG|GIF|JPG|JPEG|doc|docx|pdf|txt|xls|xlsx|ppt|pps|pptx|ppsx|zip|rar|RAR|ZIP)$/"
						fileUploadListener="#{salesDocumentBean.addUploadedFile}" />

					<p:spacer width="250" height="50" />

					<p:commandLink title="#{language.Update}" process="@all"
						update="documentsTable,documentSelected"
						action="#{salesDocumentBean.update}">
						<p:graphicImage value="/large_icons/update.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:spacer width="15" height="50" />

					<p:commandLink title="#{language.Delete}"
						onclick="deleteDialog.show();">
						<p:graphicImage value="/large_icons/delete.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:spacer width="15" height="50" />

					<p:commandLink title="#{language.salesDeleteDocument}"
						onclick="deleteDocumentDialog.show();">
						<p:graphicImage value="/sales_icons/deleteDocument.png"
							width="36px" height="36px" style="border:0px"></p:graphicImage>
					</p:commandLink>

				</p:panel>
			</p:outputPanel>

			<p:outputPanel id="panelNew">

				<p:panel rendered="#{salesMenuBean.newType1Menu}"
					header="#{language.salesDocuments} (#{language.salesNewDocuments})"
					id="documentNew">
					<br />
					<h:panelGrid border="0" columns="3" id="selectedGridColumnNew">
						<h:panelGrid border="0" columns="2" id="selectedGridColumn1New">
							<h:outputLabel value="#{language.salesDocumentsTitle}" />
							<p:inputText value="#{salesDocumentBean.newDocument.title}"
								required="true" requiredMessage="#{language.RequiredMessage}" />

							<h:outputLabel value="#{language.salesDocumentsStartDate}" />
							<p:calendar value="#{salesDocumentBean.newDocument.startDate}"
								pattern="dd/MM/yyyy" />

							<h:outputLabel value="#{language.salesDocumentsEndDate}" />
							<p:calendar value="#{salesDocumentBean.newDocument.endDate}"
								pattern="dd/MM/yyyy" />

							<h:outputLabel value="#{language.salesDocumentsLanguage}" />
							<p:inputText value="#{salesDocumentBean.newDocument.language}" />

							<h:outputLabel value="#{language.salesDocumentsType}" />
							<p:selectOneMenu
								value="#{salesDocumentBean.newDocument.documentType}"
								layout="lineDirection" style="width:115px">
								<f:converter converterId="salesDocumentTypeConverter" />
								<c:forEach items="#{salesDocumentTypeBean.documentTypeList}"
									var="typeList">
									<f:selectItem itemValue="#{typeList}"
										itemLabel="#{typeList.name}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<!-- 
						</h:panelGrid>

						<p:spacer width="25" height="50" />

						<h:panelGrid border="0" columns="2" id="newGridColumn2Selected">
 -->
							<h:outputLabel value="#{language.salesDocumentsResponsible}" />
							<p:dataTable var="user" dblClickSelect="false"
								id="userListNewDataTableId"
								value="#{employeeListBean.employeeList}"
								selection="#{salesDocumentBean.selectedEmployees}" rows="10"
								rowKey="#{user.employeeId}" selectionMode="multiple"
								rowIndexVar="rowIndex">

								<p:column sortBy="#{user.firstname} #{user.lastname}"
									filterBy="#{user.firstname} #{user.lastname}">
									<f:facet name="header">
										<h:outputText value="İsim Soyad"></h:outputText>
									</f:facet>
									<h:outputText value="#{user.firstname} #{user.lastname}"></h:outputText>
								</p:column>

								<p:column sortBy="#{user.department.name}"
									filterBy="#{user.department.name}">
									<f:facet name="header">
										<h:outputText value="Departman"></h:outputText>
									</f:facet>
									<h:outputText value="#{user.department.name}"></h:outputText>
								</p:column>
							</p:dataTable>

							<!-- 							<h:outputText value="#{language.Department}*: "></h:outputText> -->
							<!-- 							<p:selectOneMenu value="#{employeeListBean.departmentId}" -->
							<!-- 								style="width: 140px" required="true" -->
							<!-- 								requiredMessage="#{language.RequiredMessage}"> -->

							<!-- 								<p:ajax update="documentNew" process="@all" -->
							<!-- 									listener="#{employeeListBean.loadEmployeeListByDepartment}" /> -->

							<!-- 								<c:forEach step="1" items="#{employeeBean.departmentList}" -->
							<!-- 									var="department"> -->
							<!-- 									<f:selectItem itemValue="#{department.departmentId}" -->
							<!-- 										itemLabel="#{department.name}" /> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectOneMenu> -->

							<!-- 							<h:outputLabel value="#{language.salesDocumentsResponsible}" /> -->
							<!-- 							<p:selectManyMenu -->
							<!-- 								value="#{salesDocumentBean.newDocument.responsibleList}" -->
							<!-- 								layout="lineDirection" showCheckbox="true" -->
							<!-- 								style="width:125px;height:100px"> -->
							<!-- 								<f:converter converterId="salesEmployeeConverter" /> -->
							<!-- 								<c:forEach items="#{employeeListBean.employeeList}" -->
							<!-- 									var="employees"> -->
							<!-- 									<f:selectItem itemValue="#{employees}" -->
							<!-- 										itemLabel="#{employees.firstname} #{employees.lastname}"></f:selectItem> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectManyMenu> -->

							<h:outputLabel value="#{language.salesDocumentsName}" />

						</h:panelGrid>
					</h:panelGrid>

					<p:panel id="nameOfNewDocument" style="border:0px transparent">
						<c:forEach var="i" begin="0"
							end="#{salesDocumentBean.newDocument.fileNumber}">
							<p:spacer width="90" height="10" />
							<h:outputText
								value="#{salesDocumentBean.newDocument.fileNames[i]}">
							</h:outputText>
							<br />
						</c:forEach>
					</p:panel>
					<br />
					<p:spacer width="20" height="20" />

					<p:fileUpload mode="advanced" multiple="false"
						label="#{language.salesChoose}" showButtons="false" auto="true"
						process="@all" update="nameOfNewDocument,deleteDocumentDialogId"
						allowTypes="/(\.|\/)(gif|jpg|jpeg|gif|png|PNG|GIF|JPG|JPEG|doc|docx|pdf|txt|xls|xlsx|ppt|pps|pptx|ppsx|zip|rar|RAR|ZIP)$/"
						fileUploadListener="#{salesDocumentBean.upload}" />

					<p:spacer width="300" height="50" />

					<p:commandLink title="#{language.Add}" process="@all"
						update="documentsTable,panelNew" action="#{salesDocumentBean.add}">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

				</p:panel>

			</p:outputPanel>

			<p:dialog widgetVar="deleteDialog" header="#{language.salesWarning}">
				<h:outputText value="#{language.salesConfirmation}" />
				<br />

				<p:commandButton value="#{language.cancel}"
					oncomplete="deleteDialog.hide();" />
				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.submit}"
					action="#{salesDocumentBean.delete}"
					oncomplete="deleteDialog.hide();" process="@all"
					update="documentsTable,documentSelected" ajax="false" />

			</p:dialog>

			<p:dialog widgetVar="deleteDocumentDialog"
				id="deleteDocumentDialogId" header="#{language.salesWarning}">
				<br />
				<h:outputText value="#{language.salesDeleteDocumentConfirmation}" />
				<br />
				<br />
				<p:selectOneMenu value="#{salesDocumentBean.toBeDeleted}"
					layout="lineDirection" style="width:150px;">
					<c:forEach items="#{salesDocumentBean.selectedDocument.fileNames}"
						var="fileNames">
						<f:selectItem itemValue="#{fileNames}" itemLabel="#{fileNames}"></f:selectItem>
					</c:forEach>
				</p:selectOneMenu>
				<br />

				<p:commandButton value="#{language.cancel}"
					oncomplete="deleteDocumentDialog.hide();" />
				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.salesDeleteDocument}"
					action="#{salesDocumentBean.deleteTheSelectedFile}"
					oncomplete="deleteDocumentDialog.hide();"
					update="nameOfSelectedDocument" />

			</p:dialog>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>