<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main.xhtml">

		<p:growl id="salesGrowl" showDetail="true" sticky="true"
			autoUpdate="true" />

		<ui:define name="sideMenu">
			<p:dataTable var="salesEvents" id="eventsTable"
				value="#{salesEventBean.eventList}" rowKey="#{salesEvents.eventId}"
				selection="#{salesEventBean.selectedEvent}" selectionMode="single"
				paginator="true" rows="20"
				paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
				emptyMessage="#{language.salesNoItem}"
				filteredValue="#{salesEventBean.filteredList}" scrollable="true">

				<p:ajax event="rowSelect" update="eventSelected"
					listener="#{salesMenuBean.showManageType1Menu}" />
				<p:ajax event="rowSelect" update="eventSelected"
					listener="#{salesEventBean.loadContactListForSelectedEvent}" />

				<f:facet name="header"> #{language.salesEvents}
				  </f:facet>
				<f:facet name="footer">

					<p:commandButton id="newButton" value="#{language.salesNewEvents}"
						style="width:100px">
						<f:setPropertyActionListener value="#{true}"
							target="#{salesMenuBean.newType1Menu}" />
						<f:setPropertyActionListener value="#{false}"
							target="#{salesMenuBean.manageType1Menu}" />
					</p:commandButton>

					<p:spacer width="15" height="5" />

					<p:commandButton id="manageButton" value="#{language.salesManage}"
						style="width:100px">
						<f:setPropertyActionListener value="#{false}"
							target="#{salesMenuBean.newType1Menu}" />
						<f:setPropertyActionListener value="#{true}"
							target="#{salesMenuBean.manageType1Menu}" />
					</p:commandButton>
				</f:facet>

				<p:column headerText="#{language.salesEventsTitle}"
					sortBy="#{salesEvents.title}" filterBy="#{salesEvents.title}"
					filterMatchMode="contains">
					<h:outputText value="#{salesEvents.title}"></h:outputText>
				</p:column>

				<p:column headerText="#{language.salesEventsType}"
					sortBy="#{salesEvents.eventType.name}"
					filterBy="#{salesEvents.eventType.name}" filterMatchMode="contains">
					<h:outputText value="#{salesEvents.eventType.name}"></h:outputText>
				</p:column>
				<!-- 
				<p:column headerText="#{language.salesEventsParticipant}"  >
				<h:dataTable
						value="#{salesEvents.participantList}"
						var="salesList" style="border:0px transparent">
						<p:column>
							<h:outputText
								value="#{salesList.name} #{salesList.surname}" />
						</p:column>
					</h:dataTable>
				</p:column>
 -->
				<p:column headerText="#{language.salesEventsLocation}"
					sortBy="#{salesEvents.location}" filterBy="#{salesEvents.location}"
					filterMatchMode="contains">
					<h:outputText value="#{salesEvents.location}"></h:outputText>
				</p:column>

				<p:column headerText="#{language.salesDate}"
					sortBy="#{salesEvents.eventDate}"
					filterBy="#{salesEvents.eventDate}" filterMatchMode="contains">
					<h:outputText value="#{salesEvents.eventDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>
				<!-- 
				<p:column headerText="#{language.salesTime}" sortBy="#{salesEvents.time}"
					filterBy="#{salesEvents.time}" filterMatchMode="contains">
					<h:outputText value="#{salesEvents.time}">
						<f:convertDateTime pattern="HH:mm" />
					</h:outputText>
				</p:column>
 -->
				<p:column headerText="#{language.salesEventsTotal}"
					sortBy="#{salesEvents.total}" filterBy="#{salesEvents.total}"
					filterMatchMode="contains">
					<h:outputText value="#{salesEvents.total}"></h:outputText>
				</p:column>
				<!-- 
				<p:column headerText="#{language.salesEventsItems}" sortBy="#{salesEvents.items}"
									filterBy="#{salesEvents.items}"
									filterMatchMode="contains">
					<h:outputText value="#{salesEvents.items}"></h:outputText>
				</p:column>

				<p:column headerText="#{language.salesEventsKazanim}" sortBy="#{salesEvents.kazanim}"
									filterBy="#{salesEvents.kazanim}"
									filterMatchMode="contains">
					<h:outputText value="#{salesEvents.kazanim}"></h:outputText>
				</p:column>
 
				<p:column headerText="#{language.salesEventsCompanies}" sortBy="#{salesEvents.theCompany.shortName}"
					filterBy="#{salesEvents.theCompany.shortName}"
					filterMatchMode="contains">
					<h:outputText
						value="#{salesEvents.theCompany.shortName}"></h:outputText>
				</p:column>
 
 -->
				<p:column headerText="#{language.salesEventsParticipant}">
					<h:dataTable value="#{salesEvents.contactPeopleList}"
						var="salesList" style="border:0px transparent">
						<p:column>
							<h:outputText value="#{salesList.name} #{salesList.surname}" />
						</p:column>
					</h:dataTable>
				</p:column>

				<p:column headerText="#{language.salesEventsStatus}"
					sortBy="#{salesEvents.status.status}"
					filterBy="#{salesEvents.status.status}" filterMatchMode="contains">
					<h:outputText value="#{salesEvents.status.status}"></h:outputText>
				</p:column>
				<!-- 
				<p:column headerText="#{language.salesEventsPreparation}" sortBy="#{salesEvents.preparation}"
									filterBy="#{salesEvents.preparation}"
									filterMatchMode="contains">
					<h:outputText value="#{salesEvents.preparation}"></h:outputText>
				</p:column>
 -->
			</p:dataTable>


		</ui:define>

		<ui:define name="showPanel">
			<!--  UPDATE EVENTS RECORD -->
			<p:spacer width="500" height="20" />

			<p:outputPanel id="panel" autoUpdate="true">

				<p:panel header="#{language.salesEvents} (#{language.salesManage})"
					rendered="#{salesMenuBean.manageType1Menu}" id="eventSelected">

					<h:panelGrid border="0" columns="3" id="selectedGridColumnSelected">
						<h:panelGrid border="0" columns="2"
							id="selectedGridColumn1Selected">
							<h:outputLabel value="#{language.salesEventsTitle}" />
							<p:inputText value="#{salesEventBean.selectedEvent.title}"
								style="width:125px" />

							<h:outputLabel value="#{language.salesEventsLocation}" />
							<p:inputText value="#{salesEventBean.selectedEvent.location}"
								style="width:125px" />

							<h:outputLabel value="#{language.salesEventsPreparation}" />
							<p:inputTextarea
								value="#{salesEventBean.selectedEvent.preparation}" rows="5"
								maxLength="150" style="width:125px" autoResize="false" cols="10"
								maxHeight="10">
							</p:inputTextarea>

							<h:outputLabel value="#{language.salesEventsItems}" />
							<p:inputTextarea value="#{salesEventBean.selectedEvent.items}"
								rows="5" maxLength="150" style="width:125px" autoResize="false"
								cols="10" maxHeight="10">
							</p:inputTextarea>

							<h:outputLabel value="#{language.salesEventsKazanim}" />
							<p:inputTextarea value="#{salesEventBean.selectedEvent.kazanim}"
								rows="5" maxLength="150" style="width:125px" autoResize="false"
								cols="10" maxHeight="10">
							</p:inputTextarea>

							<h:outputLabel value="#{language.salesEventsTotal}" />
							<p:inputText value="#{salesEventBean.selectedEvent.total}"
								style="width:125px" />

						</h:panelGrid>

						<p:spacer width="25" height="50" />

						<h:panelGrid border="0" columns="2"
							id="selectedGridColumn2Selected">

							<h:outputLabel value="#{language.salesDate}" />
							<p:calendar value="#{salesEventBean.selectedEvent.eventDate}"
								pattern="dd/MM/yyyy" required="true"
								requiredMessage="#{language.RequiredMessage}" />

							<h:outputLabel value="#{language.salesTime}" />
							<p:calendar value="#{salesEventBean.selectedEvent.time}"
								pattern="HH:mm" timeOnly="true" />

							<h:outputLabel value="#{language.salesEventsType}" />
							<p:selectOneMenu
								value="#{salesEventBean.selectedEvent.eventType}"
								layout="lineDirection" style="width:125px">
								<f:converter converterId="salesEventTypeConverter" />
								<c:forEach items="#{salesEventTypeBean.eventTypeList}"
									var="typeList">
									<f:selectItem itemValue="#{typeList}"
										itemLabel="#{typeList.name}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel value="#{language.salesDocumentsResponsible}" />
							<p:dataTable var="user" dblClickSelect="false"
								id="userListSelectedDataTableId"
								value="#{employeeListBean.employeeList}"
								selection="#{salesEventBean.selectedEmployees}" rows="10"
								rowKey="#{user.employeeId}" selectionMode="multiple"
								rowIndexVar="rowIndex">

								<p:column sortBy="#{user.firstname} #{user.lastname}"
									filterBy="#{user.firstname} #{user.lastname}">
									<f:facet name="header">
										<h:outputText value="İsim Soyad"></h:outputText>
									</f:facet>
									<h:outputText value="#{user.firstname} #{user.lastname}"></h:outputText>
								</p:column>

								<!-- 								<p:column sortBy="#{user.department.name}" -->
								<!-- 									filterBy="#{user.department.name}"> -->
								<!-- 									<f:facet name="header"> -->
								<!-- 										<h:outputText value="Departman"></h:outputText> -->
								<!-- 									</f:facet> -->
								<!-- 									<h:outputText value="#{user.department.name}"></h:outputText> -->
								<!-- 								</p:column> -->
							</p:dataTable>


							<!-- 							<h:outputText value="#{language.Department}: "></h:outputText> -->
							<!-- 							<p:selectOneMenu value="#{employeeListBean.departmentId}" -->
							<!-- 								style="width: 140px" required="true" -->
							<!-- 								requiredMessage="#{language.RequiredMessage}"> -->

							<!-- 								<p:ajax update="eventNew" process="@all" -->
							<!-- 									listener="#{employeeListBean.loadEmployeeListByDepartment}" /> -->

							<!-- 								<c:forEach step="1" items="#{employeeBean.departmentList}" -->
							<!-- 									var="department"> -->
							<!-- 									<f:selectItem itemValue="#{department.departmentId}" -->
							<!-- 										itemLabel="#{department.name}" /> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectOneMenu> -->

							<!-- 							<h:outputLabel value="#{language.salesEventsParticipant}" /> -->
							<!-- 							<p:selectManyMenu -->
							<!-- 								value="#{salesEventBean.selectedEvent.participantList}" -->
							<!-- 								layout="lineDirection" style="width:125px;height:70px"> -->
							<!-- 								<f:converter converterId="salesEmployeeConverter" /> -->
							<!-- 								<c:forEach items="#{employeeListBean.employeeList}" -->
							<!-- 									var="employees"> -->
							<!-- 									<f:selectItem itemValue="#{employees}" -->
							<!-- 										itemLabel="#{employees.firstname} #{employees.lastname}"></f:selectItem> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectManyMenu> -->

							<h:outputLabel value="#{language.salesEventsStatus}" />
							<p:selectOneMenu value="#{salesEventBean.selectedEvent.status}"
								layout="lineDirection" style=" width:125px">
								<f:converter converterId="salesStatusConverter" />
								<c:forEach items="#{salesStatusBean.statusList}" var="statuses">
									<f:selectItem itemValue="#{statuses}"
										itemLabel="#{statuses.status}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel value="#{language.salesEventsCompanies}" />
							<p:selectOneMenu
								value="#{salesEventBean.selectedEvent.theCustomer}"
								layout="lineDirection" style="width:125px">
								<f:converter converterId="salesCustomerConverter" />
								<p:ajax update="eventSelected" process="@all"
									listener="#{salesEventBean.loadContactListForSelectedEvent}" />
								<c:forEach items="#{salesCustomerBean.customerList}"
									var="customerList">
									<f:selectItem itemValue="#{customerList}"
										itemLabel="#{customerList.shortName}">
									</f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel value="#{language.salesContactPerson}" />
							<p:selectManyMenu
								value="#{salesEventBean.selectedEvent.contactPeopleList}"
								layout="lineDirection" style="width:125px;height:70px">

								<f:converter converterId="salesContactPeopleConverter" />
								<c:forEach items="#{salesEventBean.selectedContactPeopleList}"
									var="peopleList">
									<f:selectItem itemValue="#{peopleList}"
										itemLabel="#{peopleList.name} #{peopleList.surname}"></f:selectItem>
								</c:forEach>
							</p:selectManyMenu>

						</h:panelGrid>
					</h:panelGrid>

					<p:spacer width="300" height="50" />

					<p:commandLink title="#{language.Update}"
						update="eventsTable,eventSelected"
						action="#{salesEventBean.update}">
						<p:graphicImage value="/large_icons/update.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:spacer width="15" height="50" />

					<p:commandLink title="#{language.Delete}"
						onclick="deleteDialog.show();">
						<p:graphicImage value="/large_icons/delete.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

				</p:panel>

				<!--  NEW EVENTS RECORD -->

				<p:panel
					header="#{language.salesEvents} (#{language.salesNewEvents})"
					rendered="#{salesMenuBean.newType1Menu}" id="eventNew">

					<h:panelGrid border="0" columns="3" id="selectedGridColumnNew">
						<h:panelGrid border="0" columns="2" id="selectedGridColumn1New">

							<h:outputLabel value="*#{language.salesEventsTitle}" />
							<p:inputText value="#{salesEventBean.newEvent.title}"
								style="width:125px" required="true"
								requiredMessage="#{language.RequiredMessage}" />

							<h:outputLabel value="#{language.salesEventsLocation}" />
							<p:inputText value="#{salesEventBean.newEvent.location}"
								style="width:125px" />

							<h:outputLabel value="#{language.salesEventsPreparation}" />
							<p:inputTextarea value="#{salesEventBean.newEvent.preparation}"
								rows="5" maxLength="150" style="width:125px" autoResize="false"
								cols="10" maxHeight="10">
							</p:inputTextarea>

							<h:outputLabel value="#{language.salesEventsItems}" />
							<p:inputTextarea value="#{salesEventBean.newEvent.items}"
								rows="5" maxLength="150" style="width:125px" autoResize="false"
								cols="10" maxHeight="10">
							</p:inputTextarea>

							<h:outputLabel value="#{language.salesEventsKazanim}" />
							<p:inputTextarea value="#{salesEventBean.newEvent.kazanim}"
								rows="5" maxLength="150" style="width:125px" autoResize="false"
								cols="10" maxHeight="10">
							</p:inputTextarea>

							<h:outputLabel value="#{language.salesEventsTotal}" />
							<p:inputText value="#{salesEventBean.newEvent.total}"
								style="width:125px" />

						</h:panelGrid>

						<p:spacer width="25" height="50" />

						<h:panelGrid border="0" columns="2" id="selectedGridColumn2New">

							<h:outputLabel value="*#{language.salesDate}" />
							<p:calendar value="#{salesEventBean.newEvent.eventDate}"
								pattern="dd/MM/yyyy" required="true"
								requiredMessage="#{language.RequiredMessage}" />

							<h:outputLabel value="*#{language.salesTime}" />
							<p:calendar value="#{salesEventBean.newEvent.time}"
								pattern="HH:mm" timeOnly="true" />

							<h:outputLabel value="*#{language.salesEventsType}" />
							<p:selectOneMenu value="#{salesEventBean.newEvent.eventType}"
								layout="lineDirection" style="width:125px">
								<f:converter converterId="salesEventTypeConverter" />
								<c:forEach items="#{salesEventTypeBean.eventTypeList}"
									var="typeList">
									<f:selectItem itemValue="#{typeList}"
										itemLabel="#{typeList.name}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel value="#{language.salesDocumentsResponsible}" />
							<p:dataTable var="user" dblClickSelect="false"
								id="userListNewDataTableId"
								value="#{employeeListBean.employeeList}"
								selection="#{salesEventBean.selectedEmployees}" rows="10"
								rowKey="#{user.employeeId}" selectionMode="multiple"
								rowIndexVar="rowIndex">

								<p:column sortBy="#{user.firstname} #{user.lastname}"
									filterBy="#{user.firstname} #{user.lastname}">
									<f:facet name="header">
										<h:outputText value="İsim Soyad"></h:outputText>
									</f:facet>
									<h:outputText value="#{user.firstname} #{user.lastname}"></h:outputText>
								</p:column>

								<!-- 								<p:column sortBy="#{user.department.name}" -->
								<!-- 									filterBy="#{user.department.name}"> -->
								<!-- 									<f:facet name="header"> -->
								<!-- 										<h:outputText value="Departman"></h:outputText> -->
								<!-- 									</f:facet> -->
								<!-- 									<h:outputText value="#{user.department.name}"></h:outputText> -->
								<!-- 								</p:column> -->
							</p:dataTable>

							<!-- 							<h:outputText value="#{language.Department}*: "></h:outputText> -->
							<!-- 							<p:selectOneMenu value="#{employeeListBean.departmentId}" -->
							<!-- 								style="width: 140px" required="true" -->
							<!-- 								requiredMessage="#{language.RequiredMessage}"> -->

							<!-- 								<p:ajax update="eventNew" process="@all" -->
							<!-- 									listener="#{employeeListBean.loadEmployeeListByDepartment}" /> -->

							<!-- 								<c:forEach step="1" items="#{employeeBean.departmentList}" -->
							<!-- 									var="department"> -->
							<!-- 									<f:selectItem itemValue="#{department.departmentId}" -->
							<!-- 										itemLabel="#{department.name}" /> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectOneMenu> -->

							<!-- 							<h:outputLabel value="*#{language.salesEventsParticipant}" /> -->
							<!-- 							<p:selectManyMenu -->
							<!-- 								value="#{salesEventBean.newEvent.participantList}" -->
							<!-- 								layout="lineDirection" style="width:125px;height:70px"> -->
							<!-- 								<f:converter converterId="salesEmployeeConverter" /> -->
							<!-- 								<c:forEach items="#{employeeListBean.employeeList}" -->
							<!-- 									var="employees"> -->
							<!-- 									<f:selectItem itemValue="#{employees}" -->
							<!-- 										itemLabel="#{employees.firstname} #{employees.lastname}"></f:selectItem> -->
							<!-- 								</c:forEach> -->
							<!-- 							</p:selectManyMenu> -->

							<h:outputLabel value="*#{language.salesEventsStatus}" />
							<p:selectOneMenu value="#{salesEventBean.newEvent.status}"
								layout="lineDirection" style=" width:125px">
								<f:converter converterId="salesStatusConverter" />
								<c:forEach items="#{salesStatusBean.statusList}" var="statuses">
									<f:selectItem itemValue="#{statuses}"
										itemLabel="#{statuses.status}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel value="*#{language.salesCustomer}" />
							<p:selectOneMenu value="#{salesEventBean.newEvent.theCustomer}"
								layout="lineDirection" style="width:125px">

								<f:converter converterId="salesCustomerConverter" />

								<p:ajax update="eventNew" process="@all"
									listener="#{salesEventBean.loadContactListForNewEvent}" />

								<c:forEach items="#{salesCustomerBean.customerList}"
									var="customerList">
									<f:selectItem itemValue="#{customerList}"
										itemLabel="#{customerList.shortName}">
									</f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel value="*#{language.salesContactPerson}" />
							<p:selectManyMenu
								value="#{salesEventBean.newEvent.contactPeopleList}"
								layout="lineDirection" style="width:125px;height:70px">
								<f:converter converterId="salesContactPeopleConverter" />
								<c:forEach items="#{salesEventBean.newContactPeopleList}"
									var="peoples">
									<f:selectItem itemValue="#{peoples}"
										itemLabel="#{peoples.name} #{peoples.surname}"></f:selectItem>
								</c:forEach>
							</p:selectManyMenu>
						</h:panelGrid>
					</h:panelGrid>

					<p:spacer width="300" height="50" />

					<p:commandLink title="#{language.Add}"
						update="eventsTable,eventNew" action="#{salesEventBean.add}"
						immediate="true">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

				</p:panel>
			</p:outputPanel>

			<p:dialog widgetVar="deleteDialog" header="#{language.salesWarning}">

				<h:outputText value="#{language.salesConfirmation}" />
				<br />

				<p:commandButton value="#{language.cancel}"
					oncomplete="deleteDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.submit}"
					action="#{salesEventBean.delete}" oncomplete="deleteDialog.hide();"
					update="eventsTable,eventSelected" ajax="false" />

			</p:dialog>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>