<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main.xhtml">

		<ui:define name="sideMenu">
			<p:dataTable var="salesInvoices" id="invoiceTable"
				value="#{salesInvoiceBean.invoiceList}"
				rowKey="#{salesInvoices.invoiceId}"
				selection="#{salesInvoiceBean.selectedInvoice}"
				selectionMode="single" paginator="true" rows="20"
				paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
				emptyMessage="#{language.salesNoItem}"
				filteredValue="#{salesInvoiceBean.filteredList}">

				<p:ajax event="rowSelect"
					update="invoiceOutputSelected,invoiceOutputNew,invoiceSelected"
					listener="#{salesMenuBean.showManageType1Menu}" />

				<f:facet name="header"> #{language.salesInvoices}				
					<h:commandLink title="#{language.salesExcelExport}"
						immediate="true">
						<p:graphicImage value="/sales_icons/excel.jpg"
							style="border:0px;height:20px" />
						<p:dataExporter type="xls" target="invoiceTable"
							fileName="#{language.salesInvoices}" />
					</h:commandLink>
				</f:facet>
				<f:facet name="footer">

					<p:commandButton id="newButton" value="#{language.salesNewInvoice}"
						style="width:100px" process="@all"
						update="invoiceOutputSelected,invoiceOutputNew">
						<f:setPropertyActionListener value="#{true}"
							target="#{salesMenuBean.newType1Menu}" />
						<f:setPropertyActionListener value="#{false}"
							target="#{salesMenuBean.manageType1Menu}" />
					</p:commandButton>

					<p:spacer width="15" height="5" />

					<p:commandButton id="manageButton" value="#{language.salesManage}"
						style="width:100px" process="@all"
						update="invoiceOutputSelected,invoiceOutputNew">
						<f:setPropertyActionListener value="#{false}"
							target="#{salesMenuBean.newType1Menu}" />
						<f:setPropertyActionListener value="#{true}"
							target="#{salesMenuBean.manageType1Menu}" />
					</p:commandButton>

					<p:spacer width="15" height="5" />

				</f:facet>

				<p:column sortBy="#{salesInvoices.orderNo}"
					filterBy="#{salesInvoices.order.orderNo}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="#{language.salesOrderNo}" />
					</f:facet>
					<h:outputText value="#{salesInvoices.order.orderNo}"></h:outputText>
				</p:column>

				<p:column
					sortBy="#{salesInvoices.order.proposal.customer.shortName}"
					filterBy="#{salesInvoices.order.proposal.customer}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="#{language.salesCustomer}" />
					</f:facet>
					<h:outputText
						value="#{salesInvoices.order.proposal.customer.shortName}"></h:outputText>
				</p:column>

				<p:column sortBy="#{language.salesInvoiceNo}"
					filterBy="#{salesInvoices.invoiceNo}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="#{language.salesInvoiceNo}" />
					</f:facet>
					<h:outputText value="#{salesInvoices.invoiceNo}"></h:outputText>
				</p:column>

				<p:column sortBy="#{salesInvoices.invoiceDate}"
					filterBy="#{salesInvoices.invoiceDate}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="#{language.salesInvoiceDate}" />
					</f:facet>
					<h:outputText value="#{salesInvoices.invoiceDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>

				<p:column sortBy="#{salesInvoices.totalAmount}"
					filterBy="#{salesInvoices.totalAmount}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="#{language.salesInvoiceTotal1}" />
					</f:facet>
					<f:facet name="footer">
						<h:outputText
							value="#{language.salesInvoiceTotal3} #{language.salesInvoiceTotal2}" />
					</f:facet>
					<h:outputText value="#{salesInvoices.totalAmount}"></h:outputText>
				</p:column>

				<p:column sortBy="#{salesInvoices.paid}"
					filterBy="#{salesInvoices.paid}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="#{language.salesPaid}" />
					</f:facet>
					<h:outputText value="#{salesInvoices.paid}"></h:outputText>
				</p:column>

				<p:column sortBy="#{salesInvoices.rest}"
					filterBy="#{salesInvoices.rest}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="#{language.salesRest}" />
					</f:facet>
					<h:outputText value="#{salesInvoices.rest}"></h:outputText>
				</p:column>
			</p:dataTable>
		</ui:define>
		<ui:define name="showPanel">
			<!--  UPDATE INVOICE RECORD -->
			<!-- <p:messages showDetail="false" showSummary="true" id="salesMessages" autoUpdate="true" /> -->
			<p:growl id="salesGrowl" showDetail="true" sticky="true"
				autoUpdate="true" />


			<p:spacer width="215" height="20" />



			<p:outputPanel id="invoiceOutputSelected" autoUpdate="false">
				<p:panel id="invoiceSelected"
					header="#{language.salesInvoices} (#{language.salesManage})"
					rendered="#{salesMenuBean.manageType1Menu}">

					<h:panelGrid border="0" columns="3" id="selectedColumnSelected">
						<h:panelGrid border="0" columns="2" id="selectedColumn1Selected">
							<h:outputLabel value="#{language.salesOrderNo}" />
							<p:selectOneMenu
								value="#{salesInvoiceBean.selectedInvoice.order}"
								layout="lineDirection" style="width:113px">
								<f:converter converterId="salesOrderConverter" />
								<p:ajax update="selectedCustomerOfOrder" process="@all" />
								<c:forEach items="#{salesOrderBean.orderList}" var="salesList">
									<f:selectItem itemValue="#{salesList}"
										itemLabel="#{salesList.orderNo}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel value="#{language.salesCustomer}" />
							<p:inputText id="selectedCustomerOfOrder"
								value="#{salesInvoiceBean.selectedInvoice.order.proposal.customer.shortName}"
								style="width:106px" readonly="true" />
							<!-- 
							<h:outputLabel value="#{language.salesCustomer}" />
							<p:selectOneMenu
								value="#{salesInvoiceBean.selectedInvoice.customer}"
								layout="lineDirection" style="width:113px">
								<f:converter converterId="salesCustomerConverter" />
								<c:forEach items="#{salesCustomerBean.customerList}"
									var="customerList">
									<f:selectItem itemValue="#{customerList}"
										itemLabel="#{customerList.shortName}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>
 -->
							<h:outputLabel value="#{language.salesInvoiceNo}" />
							<p:inputText
								value="#{salesInvoiceBean.selectedInvoice.invoiceNo}"
								style="width:106px" />

							<h:outputLabel value="#{language.salesDate}" />
							<p:calendar
								value="#{salesInvoiceBean.selectedInvoice.invoiceDate}"
								pattern="dd/MM/yyyy" />

							<h:outputText
								title="#{language.salesInvoiceTotal3} #{language.salesInvoiceTotal2}"
								value="#{language.salesInvoiceTotal1}" />
							<p:inputText
								value="#{salesInvoiceBean.selectedInvoice.totalAmount}"
								style="width:106px">
								<p:ajax event="change" update="remainderOfSelected"
									process="@all"
									listener="#{salesInvoiceBean.calculateRemainderSelected}" />
							</p:inputText>

							<h:outputLabel value="#{language.salesPaid}" />
							<p:inputText value="#{salesInvoiceBean.selectedInvoice.paid}"
								style="width:106px">
								<p:ajax event="change" update="remainderOfSelected"
									process="@all"
									listener="#{salesInvoiceBean.calculateRemainderSelected}" />
							</p:inputText>

							<h:outputLabel value="#{language.salesRest}" />
							<p:inputText value="#{salesInvoiceBean.selectedInvoice.rest}"
								id="remainderOfSelected" style="width:106px" readonly="true" />

						</h:panelGrid>

						<p:spacer width="25" height="50" />
						<h:panelGrid border="0" columns="2" id="selectedColumn2Selected">
						</h:panelGrid>
					</h:panelGrid>

					<p:spacer width="160" height="50" />

					<p:commandLink title="#{language.Update}" process="@all"
						update="invoiceTable,invoiceOutputSelected,invoiceOutputNew"
						action="#{salesInvoiceBean.update}">
						<p:graphicImage value="/large_icons/update.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:spacer width="15" height="50" />

					<p:commandLink title="#{language.Delete}"
						onclick="deleteDialog.show();">
						<p:graphicImage value="/large_icons/delete.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</p:panel>
			</p:outputPanel>
			<p:outputPanel id="invoiceOutputNew">
				<p:panel id="invoiceNew"
					header="#{language.salesInvoices} (#{language.salesNewInvoice})"
					rendered="#{salesMenuBean.newType1Menu}">

					<h:panelGrid border="0" columns="3" id="newColumn">
						<h:panelGrid border="0" columns="2" id="newColumn1">
							<h:outputLabel value="#{language.salesOrderNo}" />
							<p:selectOneMenu value="#{salesInvoiceBean.newInvoice.order}"
								layout="lineDirection" style="width:113px">
								<f:converter converterId="salesOrderConverter" />
								<p:ajax update="newCustomerOfOrder" process="@all" />
								<c:forEach items="#{salesOrderBean.orderList}" var="salesList">
									<f:selectItem itemValue="#{salesList}"
										itemLabel="#{salesList.orderNo}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel value="#{language.salesCustomer}" />
							<p:inputText id="newCustomerOfOrder"
								value="#{salesInvoiceBean.newInvoice.order.proposal.customer.shortName}"
								style="width:106px" readonly="true" />
							<!-- 
							<h:outputLabel value="#{language.salesCustomer}" />
							<p:selectOneMenu value="#{salesInvoiceBean.newInvoice.customer}"
								layout="lineDirection" style="width:113px">
								<f:converter converterId="salesCustomerConverter" />
								<c:forEach items="#{salesCustomerBean.customerList}"
									var="customerList">
									<f:selectItem itemValue="#{customerList}"
										itemLabel="#{customerList.shortName}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>
 -->
							<h:outputLabel value="#{language.salesInvoiceNo}" />
							<p:inputText value="#{salesInvoiceBean.newInvoice.invoiceNo}"
								style="width:106px" />

							<h:outputLabel value="#{language.salesDate}" />
							<p:calendar value="#{salesInvoiceBean.newInvoice.invoiceDate}"
								pattern="dd/MM/yyyy" />

							<h:outputLabel
								title="#{language.salesInvoiceTotal3} #{language.salesInvoiceTotal2}"
								value="#{language.salesInvoiceTotal1}" />
							<p:inputText value="#{salesInvoiceBean.newInvoice.totalAmount}"
								style="width:106px">
								<p:ajax event="change" update="remainderOfNew" process="@all"
									listener="#{salesInvoiceBean.calculateRemainderNew}" />
							</p:inputText>

							<h:outputLabel value="#{language.salesPaid}" />
							<p:inputText value="#{salesInvoiceBean.newInvoice.paid}"
								style="width:106px">
								<p:ajax event="change" update="remainderOfNew" process="@all"
									listener="#{salesInvoiceBean.calculateRemainderNew}" />
							</p:inputText>

							<h:outputLabel value="#{language.salesRest}" />
							<p:inputText value="#{salesInvoiceBean.newInvoice.rest}"
								id="remainderOfNew" style="width:106px" readonly="true" />


						</h:panelGrid>

						<p:spacer width="25" height="50" />

						<h:panelGrid border="0" columns="2" id="newColumn2">
						</h:panelGrid>
					</h:panelGrid>


					<p:spacer width="200" height="50" />

					<p:commandLink title="#{language.Add}" process="@all"
						update="invoiceTable,invoiceOutputSelected,invoiceOutputNew"
						action="#{salesInvoiceBean.add}">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</p:panel>
			</p:outputPanel>

			<p:dialog widgetVar="deleteDialog" header="#{language.salesWarning}">

				<h:outputText value="#{language.salesConfirmation}" />
				<br />

				<p:commandButton value="#{language.cancel}"
					oncomplete="deleteDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.submit}"
					action="#{salesInvoiceBean.delete}"
					oncomplete="deleteDialog.hide();" process="@all"
					update="invoiceTable,invoiceOutputSelected,invoiceOutputNew"
					ajax="false" />

			</p:dialog>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>