<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">

		<ui:define name="showPanel">

			<!-- <p:messages showDetail="false" showSummary="true" id="salesMessages" autoUpdate="true" /> -->
			<p:growl id="salesGrowl" showDetail="true" sticky="true"
				autoUpdate="true" />

			<p:fieldset legend="#{language.salesVisit}" toggleable="true"
				id="visit" toggleSpeed="500">
				<p:dataTable var="visit" id="visitDataTableId"
					value="#{salesCRMVisitBean.visitList}"
					rowKey="#{visit.salesCRMVisitId}"
					selection="#{salesCRMVisitBean.reminderVisit}"
					selectionMode="single" paginator="true" rows="20"
					paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

					<p:ajax event="rowSelect" update="visitPanel" immediate="true"
						oncomplete="visitDialog.show();" />

					<p:column headerText="#{language.salesMeetingAgenda}"
						sortBy="#{visit.meetingAgenda}">
						<h:outputText value="#{visit.meetingAgenda}"></h:outputText>
					</p:column>

					<p:column headerText="#{language.salesDate}"
						sortBy="#{visit.visitDate}">
						<h:outputText value="#{visit.visitDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>

					<p:column headerText="#{language.salesVisitingFrequency}"
						sortBy="#{visit.visitingFrequency.frequency}">
						<h:outputText value="#{visit.visitingFrequency.frequency}" />
					</p:column>

					<p:column headerText="#{language.salesTime}"
						sortBy="#{visit.visitTime}">
						<h:outputText value="#{visit.visitTime}">
							<f:convertDateTime pattern="HH:mm" />
						</h:outputText>
					</p:column>
					<!--
			 <p:column headerText="#{language.salesPlace}" sortBy="#{visit.place}"> 
 				<h:outputText value="#{visit.place}"></h:outputText>
			 </p:column> 
			 
			 <p:column headerText="#{language.salesNotes}" sortBy="#{visit.notes}"> 
 				<h:outputText value="#{visit.notes}"></h:outputText>
			 </p:column> 
			
			 <p:column headerText="#{language.salesDocuments}" sortBy="#{visit.documents}"> 
 				<h:outputText value="#{visit.documents}"></h:outputText>
			 </p:column>
-->
					<p:column headerText="#{language.salesCustomerCompanyParticipants}">
						<h:dataTable value="#{visit.contactPeopleList}" var="salesList"
							style="border:0px transparent">
							<p:column>
								<h:outputText value="#{salesList.name} #{salesList.surname}" />
							</p:column>
						</h:dataTable>
					</p:column>

					<p:column headerText="#{language.salesEmekBoruParticipants}">
						<h:dataTable value="#{visit.participantList}" var="salesList"
							style="border:0px transparent">
							<p:column>
								<h:outputText
									value="#{salesList.firstname} #{salesList.lastname}" />
							</p:column>
						</h:dataTable>
					</p:column>

					<p:column headerText="#{language.salesStatus}"
						sortBy="#{visit.status.status}">
						<h:outputText value="#{visit.status.status}" />
					</p:column>

					<p:column headerText="#{language.salesCustomer}"
						sortBy="#{visit.salesCustomer.shortName}">
						<h:outputText value="#{visit.salesCustomer.shortName}"></h:outputText>
					</p:column>
				</p:dataTable>
			</p:fieldset>

			<p:fieldset legend="#{language.salesEvents}" toggleable="true"
				id="event" toggleSpeed="500">
				<p:dataTable var="salesEvents" id="eventsTable"
					value="#{salesEventBean.reminderList}"
					rowKey="#{salesEvents.eventId}"
					selection="#{salesEventBean.reminderEvent}" selectionMode="single"
					paginator="true" rows="20"
					paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

					<p:ajax event="rowSelect" update="eventPanel"
						oncomplete="eventDialog.show();" />

					<f:facet name="header"> #{language.salesEvents}</f:facet>

					<p:column headerText="#{language.salesEventsTitle}"
						sortBy="#{salesEvents.title}">
						<h:outputText value="#{salesEvents.title}"></h:outputText>
					</p:column>

					<p:column headerText="#{language.salesEventsType}"
						sortBy="#{salesEvents.eventType.name}">
						<h:outputText value="#{salesEvents.eventType.name}"></h:outputText>
					</p:column>

					<p:column headerText="#{language.salesEventsParticipant}">
						<h:dataTable value="#{salesEvents.participantList}"
							var="salesList" style="border:0px transparent">
							<p:column>
								<h:outputText
									value="#{salesList.firstname} #{salesList.lastname}" />
							</p:column>
						</h:dataTable>
					</p:column>

					<p:column headerText="#{language.salesEventsLocation}"
						sortBy="#{salesEvents.location}">
						<h:outputText value="#{salesEvents.location}"></h:outputText>
					</p:column>

					<p:column headerText="#{language.salesDate}"
						sortBy="#{salesEvents.eventDate}">
						<h:outputText value="#{salesEvents.eventDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>

					<p:column headerText="#{language.salesTime}"
						sortBy="#{salesEvents.time}">
						<h:outputText value="#{salesEvents.time}">
							<f:convertDateTime pattern="HH:mm" />
						</h:outputText>
					</p:column>

					<p:column headerText="#{language.salesEventsTotal}"
						sortBy="#{salesEvents.total}">
						<h:outputText value="#{salesEvents.total}"></h:outputText>
					</p:column>
					<!-- 
				<p:column headerText="#{language.salesEventsItems}" sortBy="#{salesEvents.items}">
					<h:outputText value="#{salesEvents.items}"></h:outputText>
				</p:column>

				<p:column headerText="#{language.salesEventsKazanim}" sortBy="#{salesEvents.kazanim}">
					<h:outputText value="#{salesEvents.kazanim}"></h:outputText>
				</p:column>
 -->

					<p:column headerText="#{language.salesEventsCompanies}">
						<h:dataTable value="#{salesEvents.contactPeopleList}"
							var="salesList" style="border:0px transparent">
							<p:column>
								<h:outputText value="#{salesList.name} #{salesList.surname}" />
							</p:column>
						</h:dataTable>
					</p:column>

					<p:column headerText="#{language.salesEventsStatus}"
						sortBy="#{salesEvents.status.status}">
						<h:outputText value="#{salesEvents.status.status}"></h:outputText>
					</p:column>
					<!-- 
				<p:column headerText="#{language.salesEventsPreparation}" sortBy="#{salesEvents.preparation}">
					<h:outputText value="#{salesEvents.preparation}"></h:outputText>
				</p:column>
 -->
				</p:dataTable>

			</p:fieldset>

			<p:fieldset legend="#{language.salesDocuments}" toggleable="true"
				id="document" toggleSpeed="500">
				<p:dataTable var="salesDocuments" id="documentsTable"
					value="#{salesDocumentBean.reminderList}"
					rowKey="#{salesDocuments.documentId}"
					selection="#{salesDocumentBean.reminderDocument}"
					selectionMode="single" update="documentSelected" paginator="true"
					rows="20"
					paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

					<p:ajax event="rowSelect" update="documentPanel"
						oncomplete="documentDialog.show();" />

					<f:facet name="header"> #{language.salesDocuments}</f:facet>

					<p:column headerText="#{language.salesDocumentsTitle}"
						sortBy="#{salesDocuments.title}">
						<h:outputText value="#{salesDocuments.title}"></h:outputText>
					</p:column>

					<p:column headerText="#{language.salesDocumentsName}">
						<h:dataTable value="#{salesDocuments.fileNames}" var="salesList"
							style="border:0px transparent">
							<p:column>
								<h:outputText value="#{salesList}" />
							</p:column>
						</h:dataTable>
					</p:column>

					<p:column headerText="#{language.salesDocumentsType}"
						sortBy="#{salesDocuments.documentType.name}">
						<h:outputText value="#{salesDocuments.documentType.name}"></h:outputText>
					</p:column>

					<p:column headerText="#{language.salesDocumentsResponsible}">
						<h:dataTable value="#{salesDocuments.responsibleList}"
							var="salesList" style="border:0px transparent">
							<p:column>
								<h:outputText
									value="#{salesList.firstname} #{salesList.lastname}"></h:outputText>
							</p:column>
						</h:dataTable>
					</p:column>

					<p:column headerText="#{language.salesDocumentsLanguage}"
						sortBy="#{salesDocuments.language}">
						<h:outputText value="#{salesDocuments.language}"></h:outputText>
					</p:column>

					<p:column headerText="#{language.salesDocumentsStartDate}"
						sortBy="#{salesDocuments.startDate}">
						<h:outputText value="#{salesDocuments.startDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>

					<p:column headerText="#{language.salesDocumentsEndDate}"
						sortBy="#{salesDocuments.endDate}">
						<h:outputText value="#{salesDocuments.endDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>
				</p:dataTable>

			</p:fieldset>

			<p:fieldset legend="#{language.salesProposal}" toggleable="true"
				id="proposal" toggleSpeed="500">
				<p:dataTable var="salesProposals" id="proposalTable"
					value="#{salesProposalBean.reminderList}"
					rowKey="#{salesProposals.proposalId}"
					selection="#{salesProposalBean.reminderProposal}"
					selectionMode="single" update="proposalSelected" paginator="true"
					rows="20"
					paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
					emptyMessage="#{language.salesNoItem}"
					filteredValue="#{salesProposalBean.filteredList}">

					<p:ajax event="rowSelect" update="proposalPanel"
						oncomplete="proposalDialog.show();" />

					<f:facet name="header">
				  #{language.salesProposal}									
						</f:facet>

					<p:column sortBy="#{salesProposals.proposalNumber}">
						<f:facet name="header">
							<h:outputText value="#{language.salesProposalNumber}" />
						</f:facet>
						<h:outputText value="#{salesProposals.proposalNumber}"></h:outputText>
					</p:column>

					<p:column sortBy="#{salesProposals.customer.shortName}">
						<f:facet name="header">
							<h:outputText value="#{language.salesCustomer}" />
						</f:facet>
						<h:outputText value="#{salesProposals.customer.shortName}"></h:outputText>
					</p:column>

					<p:column sortBy="#{salesProposals.requestDate}">
						<f:facet name="header">
							<h:outputText value="#{language.salesRequestDate}" />
						</f:facet>
						<h:outputText value="#{salesProposals.requestDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>

					<p:column sortBy="#{salesProposals.formDate}">
						<f:facet name="header">
							<h:outputText value="#{language.salesFormDate}" />
						</f:facet>
						<h:outputText value="#{salesProposals.formDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>

					<p:column sortBy="#{salesProposals.postDate}">
						<f:facet name="header">
							<h:outputText value="#{language.salesPostDate}" />
						</f:facet>
						<h:outputText value="#{salesProposals.postDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>

					<p:column sortBy="#{salesProposals.validityPeriod}">
						<f:facet name="header">
							<h:outputText value="#{language.salesValidityPeriod}" />
						</f:facet>
						<h:outputText value="#{salesProposals.validityPeriod}"></h:outputText>
					</p:column>
					<!-- 
				<p:column  >
					<f:facet name="header">
						<h:outputText value="#{language.salesPrepaidBy}" />
					</f:facet>
					<h:dataTable
						value="#{salesProposals.employeeList}"
						var="salesList" style="border:0px transparent">
						<p:column>
							<h:outputText
								value="#{salesList.firstname} #{salesList.lastname}" />
						</p:column>
					</h:dataTable>
				</p:column>	
				
				<p:column sortBy="#{salesProposals.approval1}">
							<f:facet name="header">
								<h:outputText value="#{language.salesApproval}1" />
							</f:facet>
							<h:outputText value="#{salesProposals.approval1}"></h:outputText>
						</p:column>
				
				<p:column sortBy="#{salesProposals.approval2}">
							<f:facet name="header">
								<h:outputText value="#{language.salesApproval}2" />
							</f:facet>
							<h:outputText value="#{salesProposals.approval2}"></h:outputText>
						</p:column>

				<p:column sortBy="#{salesProposals.currencyUnit}">
					<f:facet name="header">
						<h:outputText value="#{language.salesCurrencyUnit}" />
					</f:facet>
					<h:outputText value="#{salesProposals.currencyUnit.name}"></h:outputText>
				</p:column>

				<p:column sortBy="#{salesProposals.requestedDocuments}">
					<f:facet name="header">
						<h:outputText value="#{language.salesProposalRequestedDocuments}" />
					</f:facet>
					<h:outputText value="#{salesProposals.requestedDocuments}"></h:outputText>
				</p:column>
-->
					<p:column sortBy="#{salesProposals.status}">
						<f:facet name="header">
							<h:outputText value="#{language.salesStatus}" />
						</f:facet>
						<h:outputText value="#{salesProposals.status.name}"></h:outputText>
					</p:column>
					<!-- 
				<p:column sortBy="#{salesProposals.notes}">
					<f:facet name="header">
						<h:outputText value="#{language.salesNotes}" />
					</f:facet>
					<h:outputText value="#{salesProposals.notes}"></h:outputText>
				</p:column>
 -->
				</p:dataTable>
			</p:fieldset>

			<p:dialog widgetVar="visitDialog" header="#{language.salesReminder}">

				<h:panelGrid columns="2" id="visitPanel" border="1" cellpadding="5"
					bgcolor="yellow">

					<h:outputLabel value="#{language.salesVisitingFrequency}" />
					<h:outputText
						value="#{salesCRMVisitBean.reminderVisit.visitingFrequency.frequency}" />

					<h:outputLabel value="#{language.salesMeetingAgenda}" />
					<h:outputText
						value="#{salesCRMVisitBean.reminderVisit.meetingAgenda}"></h:outputText>

					<h:outputLabel value="#{language.salesDate}" />
					<h:outputText value="#{salesCRMVisitBean.reminderVisit.visitDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>

					<h:outputLabel value="#{language.salesTime}" />
					<h:outputText value="#{salesCRMVisitBean.reminderVisit.visitTime}">
						<f:convertDateTime pattern="HH:mm" />
					</h:outputText>

					<h:outputLabel value="#{language.salesPlace}" />
					<h:outputText value="#{salesCRMVisitBean.reminderVisit.place}"></h:outputText>

					<h:outputLabel value="#{language.salesNotes}" />
					<h:outputText value="#{salesCRMVisitBean.reminderVisit.notes}"></h:outputText>

					<h:outputLabel value="#{language.salesDocuments}" />
					<h:outputText value="#{salesCRMVisitBean.reminderVisit.documents}"></h:outputText>

					<h:outputLabel value="#{language.salesCustomerCompanyParticipants}" />
					<h:dataTable
						value="#{salesCRMVisitBean.reminderVisit.contactPeopleList}"
						var="salesList" style="border:0px transparent">
						<p:column>
							<h:outputText value="#{salesList.name} #{salesList.surname}" />
						</p:column>
					</h:dataTable>

					<h:outputLabel value="#{language.salesEmekBoruParticipants}" />
					<h:dataTable
						value="#{salesCRMVisitBean.reminderVisit.participantList}"
						var="salesList" style="border:0px transparent">
						<p:column>
							<h:outputText
								value="#{salesList.firstname} #{salesList.lastname}" />
						</p:column>
					</h:dataTable>

					<h:outputLabel value="#{language.salesStatus}" />
					<h:outputText
						value="#{salesCRMVisitBean.reminderVisit.status.status}" />

					<h:outputLabel value="#{language.salesCustomer}" />
					<h:outputText
						value="#{salesCRMVisitBean.reminderVisit.salesCustomer.shortName}"></h:outputText>

				</h:panelGrid>
				<br />

				<p:commandButton value="#{language.salesSubmit}"
					oncomplete="visitDialog.hide();"
					actionListener="#{salesCRMVisitBean.selectNothing}"
					update="visitDataTableId" />

			</p:dialog>

			<p:dialog widgetVar="eventDialog" header="#{language.salesReminder}">
				<h:panelGrid columns="2" id="eventPanel" border="1" cellpadding="5"
					bgcolor="yellow">
					<h:outputLabel value="#{language.salesEventsTitle}" />
					<h:outputText value="#{salesEventBean.reminderEvent.title}"></h:outputText>

					<h:outputLabel value="#{language.salesEventsType}" />
					<h:outputText
						value="#{salesEventBean.reminderEvent.eventType.name}"></h:outputText>

					<h:outputLabel value="#{language.salesEventsParticipant}" />
					<h:dataTable
						value="#{salesEventBean.reminderEvent.participantList}"
						var="salesList" style="border:0px transparent">
						<p:column>
							<h:outputText
								value="#{salesList.firstname} #{salesList.lastname}" />
						</p:column>
					</h:dataTable>

					<h:outputLabel value="#{language.salesEventsLocation}" />
					<h:outputText value="#{salesEventBean.reminderEvent.location}"></h:outputText>


					<h:outputLabel value="#{language.salesDate}" />
					<h:outputText value="#{salesEventBean.reminderEvent.eventDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>


					<h:outputLabel value="#{language.salesTime}" />
					<h:outputText value="#{salesEventBean.reminderEvent.time}">
						<f:convertDateTime pattern="HH:mm" />
					</h:outputText>

					<h:outputLabel value="#{language.salesEventsTotal}" />
					<h:outputText value="#{salesEventBean.reminderEvent.total}"></h:outputText>

					<h:outputLabel value="#{language.salesEventsItems}" />
					<h:outputText value="#{salesEventBean.reminderEvent.items}"></h:outputText>

					<h:outputLabel value="#{language.salesEventsCompanies}" />
					<h:dataTable
						value="#{salesEventBean.reminderEvent.contactPeopleList}"
						var="salesList" style="border:0px transparent">
						<p:column>
							<h:outputText value="#{salesList.name} #{salesList.surname}" />
						</p:column>
					</h:dataTable>

					<h:outputLabel value="#{language.salesEventsStatus}" />
					<h:outputText value="#{salesEventBean.reminderEvent.status.status}"></h:outputText>


					<h:outputLabel value="#{language.salesEventsPreparation}" />
					<h:outputText value="#{salesEventBean.reminderEvent.preparation}"></h:outputText>

				</h:panelGrid>
				<br />

				<p:commandButton value="#{language.salesSubmit}"
					oncomplete="eventDialog.hide();"
					actionListener="#{salesEventBean.selectNothing}"
					update="eventsTable" />

			</p:dialog>

			<p:dialog widgetVar="documentDialog"
				header="#{language.salesReminder}">
				<h:panelGrid columns="2" id="documentPanel" border="1"
					cellpadding="5" bgcolor="yellow">
					<h:outputLabel value="#{language.salesDocumentsTitle}" />
					<h:outputText value="#{salesDocumentBean.reminderDocument.title}" />

					<h:outputLabel value="#{language.salesDocumentsName}" />
					<h:dataTable
						value="#{salesDocumentBean.reminderDocument.fileNames}"
						var="salesList" style="border:0px transparent">
						<p:column>
							<h:outputText value="#{salesList}" />
						</p:column>
					</h:dataTable>

					<h:outputLabel value="#{language.salesDocumentsType}" />
					<h:outputText
						value="#{salesDocumentBean.reminderDocument.documentType.name}" />

					<h:outputLabel value="#{language.salesDocumentsResponsible}" />
					<h:dataTable
						value="#{salesDocumentBean.reminderDocument.responsibleList}"
						var="salesList" style="border:0px transparent">
						<p:column>
							<h:outputText
								value="#{salesList.firstname} #{salesList.lastname}" />
						</p:column>
					</h:dataTable>

					<h:outputLabel value="#{language.salesDocumentsLanguage}" />
					<h:outputText
						value="#{salesDocumentBean.reminderDocument.language}" />

					<h:outputLabel value="#{language.salesDocumentsStartDate}" />
					<h:outputText
						value="#{salesDocumentBean.reminderDocument.startDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>

					<h:outputLabel value="#{language.salesDocumentsEndDate}" />
					<h:outputText value="#{salesDocumentBean.reminderDocument.endDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</h:panelGrid>
				<br />

				<p:commandButton value="#{language.salesSubmit}"
					oncomplete="documentDialog.hide();"
					actionListener="#{salesDocumentBean.selectNothing}"
					update="documentsTable" />

			</p:dialog>

			<p:dialog widgetVar="proposalDialog"
				header="#{language.salesReminder}">
				<br />
				<h:panelGrid columns="2" id="proposalPanel" border="1"
					cellpadding="5" bgcolor="yellow">

					<h:outputLabel value="#{language.salesProposalNumber}" />
					<h:outputText
						value="#{salesProposalBean.reminderProposal.proposalNumber}"
						readonly="true" />

					<h:outputLabel value="#{language.salesCustomer}" />
					<h:outputText
						value="#{salesProposalBean.reminderProposal.customer.shortName}" />

					<h:outputLabel value="#{language.salesRequestDate}" />
					<h:outputText
						value="#{salesProposalBean.reminderProposal.requestDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>


					<h:outputLabel value="#{language.salesFormDate}" />
					<h:outputText
						value="#{salesProposalBean.reminderProposal.formDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>

					<h:outputLabel value="#{language.salesPostDate}" />
					<h:outputText
						value="#{salesProposalBean.reminderProposal.postDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>

					<h:outputLabel value="#{language.salesValidityPeriod}" />
					<h:outputText
						value="#{salesProposalBean.reminderProposal.validityPeriod}" />

					<h:outputLabel value="#{language.salesPrepaidBy}" />
					<h:dataTable
						value="#{salesProposalBean.reminderProposal.employeeList}"
						var="salesList" style="border:0px transparent">
						<p:column>
							<h:outputText
								value="#{salesList.firstname} #{salesList.lastname}" />
						</p:column>
					</h:dataTable>

					<h:outputLabel value="#{language.salesApproval}1" />
					<h:outputText
						rendered="#{salesProposalBean.reminderProposal.approval1==true}"
						value="#{language.salesApproved}" />
					<h:outputText
						rendered="#{salesProposalBean.reminderProposal.approval1!=true}"
						value="#{language.salesNotApproved}" />

					<h:outputLabel value="#{language.salesApproval}2" />
					<h:outputText
						rendered="#{salesProposalBean.reminderProposal.approval1==true}"
						value="#{language.salesApproved}" />
					<h:outputText
						rendered="#{salesProposalBean.reminderProposal.approval1!=true}"
						value="#{language.salesNotApproved}" />

					<h:outputLabel value="#{language.salesCurrencyUnit}" />
					<h:outputText
						value="#{salesProposalBean.reminderProposal.currencyUnit.name}" />

					<h:outputLabel value="#{language.salesProposalRequestedDocuments}" />
					<h:outputText
						value="#{salesProposalBean.reminderProposal.requestedDocuments}" />

					<h:outputLabel value="#{language.salesStatus}" />
					<h:outputText
						value="#{salesProposalBean.reminderProposal.status.name}" />


					<h:outputText value="#{language.salesProposalLanguage}" />
					<h:outputText
						value="#{salesProposalBean.reminderProposal.proposalLanguage}" />

					<h:outputText value="#{language.salesRevisionNumber}" />
					<h:outputText
						value="#{salesProposalBean.reminderProposal.revisionNumber}" />

					<h:outputText value="#{language.salesRevisionNotes}" />
					<h:outputText
						value="#{salesProposalBean.reminderProposal.revisionNotes}" />


					<h:outputLabel value="#{language.salesNotes}" />
					<h:outputText value="#{salesProposalBean.reminderProposal.notes}" />

				</h:panelGrid>
				<br />

				<p:commandButton value="#{language.salesSubmit}"
					oncomplete="proposalDialog.hide();"
					actionListener="#{salesProposalBean.selectNothing}"
					update="proposalTable" />

			</p:dialog>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>