<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget"
				binding="#{salesItemBean.accordionPanel}">
				<p:tab id="salesTabId" title="Şipariş ve Sipariş Kalemleri">
					<p:dataTable var="salesOrders" id="orderTable"
						value="#{salesOrderBean.orderList}"
						rowKey="#{salesOrders.orderId}"
						selection="#{salesOrderBean.selectedOrder}" selectionMode="single"
						update="orderSelected" paginator="true" rows="20"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesOrderBean.filteredList}">

						<p:ajax event="rowSelect"
							update="orderSelected,orderPanel,itemPanel,itemsTable"
							listener="#{salesMenuBean.showManageType1Menu}" />

						<p:ajax event="rowSelect"
							listener="#{qualitySpecBean.producedPipes}"
							process="listForm:orderTable orderTable"
							update="pipeForm producedPipesDataTableId salesTabId" />
						<p:ajax event="rowSelect" update="orderAccordionPanelId">
						</p:ajax>
						<p:ajax event="rowSelect" update="pipeTabId">
						</p:ajax>

						<p:column sortBy="#{salesOrders.orderNo}"
							filterBy="#{salesOrders.orderNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText value="#{salesOrders.orderNo}" />
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.referenceNumber}"
							filterBy="#{salesOrders.proposal.referenceNumber}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesReferanceNumber}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.referenceNumber}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.customer.shortName}"
							filterBy="#{salesOrders.proposal.customer.shortName}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesCustomer}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.customer.shortName}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.requestDate}"
							filterBy="#{salesOrders.proposal.requestDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesRequestDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.requestDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.formDate}"
							filterBy="#{salesOrders.proposal.formDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesFormDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.postDate}"
							filterBy="#{salesOrders.proposal.postDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesPostDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.postDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="salesItems" id="itemsTable"
						value="#{salesItemBean.itemsOfSelectedOrder}"
						rowKey="#{salesItems.itemId}"
						emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesItemBean.filteredList}">

						<p:ajax event="rowSelect"
							listener="#{tahribatsizTestOrderListBean.loadSelectedOrder}"
							process="orderAccordionPanelId:listOrderForm:datatableOrders datatableOrders"
							update="orderAccordionPanelId:listPipeForm:datatablePipes orderAccordionPanelId" />

						<p:ajax event="rowSelect"
							listener="#{salesItemBean.activeIndex(1)}"
							update="orderAccordionPanelId:listPipeForm:datatablePipes orderAccordionPanelId">
						</p:ajax>

						<p:column sortBy="#{salesItems.itemNo}">
							<f:facet name="header">
								<h:outputText value="#{language.salesNumber}" />
							</f:facet>
							<h:outputText value="#{salesItems.itemNo}" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.diameter}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.quality}">
							<f:facet name="header">
								<h:outputText value="#{language.salesThickness}" />
							</f:facet>
							<h:outputText value="#{salesItems.thickness}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}">
							<f:facet name="header">
								<h:outputText value="#{language.salesQuality}" />
							</f:facet>
							<h:outputText value="#{salesItems.quality}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.pipeLength}">
							<f:facet name="header">
								<h:outputText value="#{language.salesPipeLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.pipeLength}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalLengthM}">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalLengthM}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.unitWeight}">
							<f:facet name="header">
								<h:outputText value="#{language.salesUnitWeight}" />
							</f:facet>
							<h:outputText value="#{salesItems.unitWeight}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalTonnage}">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalTonnage}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalTonnage}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.manufacturingStandard}">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.manufacturingStandard}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.transportation}">
							<f:facet name="header">
								<h:outputText value="#{language.salesManufacturingStandard}" />
							</f:facet>
							<h:outputText value="#{salesItems.transportation}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesValidityPeriod}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.validityPeriod}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPrepaidBy}" />
							</f:facet>
							<c:forEach items="#{salesItems.proposal.employeeList}"
								var="salesList">
								<h:outputText
									value="#{salesList.firstname} #{salesList.lastname}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								-
								<h:outputText value="#{salesList.amount}"
									converter="salesNumberConverter" />
								<h:outputText value=" " />
							</c:forEach>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesApproval}1" />
							</f:facet>
							<h:outputText rendered="#{salesItems.proposal.approval1 == true}"
								value="#{language.salesApproved}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesApproval}2" />
							</f:facet>
							<h:outputText rendered="#{salesItems.proposal.approval2 == true}"
								value="#{language.salesApproved}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesCurrencyUnit}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.currencyUnit.name}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesProposalRequestedDocuments}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.requestedDocuments}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesNotes}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.notes}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderFormDate}" />
							</f:facet>
							<h:outputText value="#{salesOrderBean.selectedOrder.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderDeliveryDate}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.deliveryDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope1}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope1 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope2}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope2 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope3}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope3 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope4}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope4 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope5}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope5 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderTransportationApproximateAmount}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountForTransportation}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderTransportationApproximateAmountDetail}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountDetailForTransportation}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderApproximateAmount}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmount}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderApproximateAmountDetail}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountDetail}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPayments}" />
							</f:facet>
							<c:forEach items="#{salesPaymentBean.paymentsOfSelectedOrder}"
								var="salesList">
								<h:outputText value="(" />
								<h:outputText value="#{salesList.paymentDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								-
								<h:outputText value="#{salesList.amount}"
									converter="salesNumberConverter" />
								<h:outputText value=") " />
							</c:forEach>
						</p:column>

					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>