<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel id="pipeAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="pipeAccorditionPanelWidget">
				<p:tab id="companyTab" title="#{language.Customer}">
					<p:dataTable var="company" id="companyListDataTableId"
						rowKey="#{company.companyId}" widgetVar="companyListDataTableId"
						emptyMessage="#{language.EmptyMessage}" dblClickSelect="false"
						value="#{companyListBean.companyList}" paginator="true" rows="20"
						selection="#{lotViewBean.currentCompany}" selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect" process="companyListDataTableId"
							listener="#{lotViewBean.viewAvailableOrders}"></p:ajax>
						<p:ajax event="rowSelect"
							update="pipeAccordionPanelId allPanelGridId"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Customer} #{language.Id}"></h:outputText>
							</f:facet>
							<h:outputText value="#{company.companyId}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{company.name}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.BusinessId}"></h:outputText>
							</f:facet>
							<h:outputText value="#{company.businessId}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.PhoneNumber}"></h:outputText>
							</f:facet>
							<h:outputText value="#{company.phoneNumber}"></h:outputText>
						</p:column>
					</p:dataTable>
				</p:tab>

				<p:tab id="orderTab" title="#{language.Order}">
					<p:dataTable var="order" id="orderListDataTableId"
						widgetVar="orderListDataTableWidget" rowKey="#{order.orderItemId}"
						emptyMessage="#{language.EmptyMessage}" dblClickSelect="false"
						value="#{lotViewBean.orderList}" paginator="true" rows="20"
						selection="#{lotViewBean.currentOrderItem}" selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect"
							listener="#{lotViewBean.loadOrderDetails}"
							process="orderListDataTableId"></p:ajax>
						<p:ajax event="rowSelect" process="orderListDataTableId"
							update="pipeAccordionPanelId allPanelGridId"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Number}"></h:outputText>
							</f:facet>
							<h:outputText value="#{order.orderItemId}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Number}"></h:outputText>
							</f:facet>
							<h:outputText value="#{order.itemIndex}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Dimensions}"></h:outputText>
							</f:facet>
							<h:outputText value="#{order.etKalinligi}x #{order.disCap}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.TotalLength}"></h:outputText>
							</f:facet>
							<h:outputText value="#{order.toplanMetraj}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Quality}"></h:outputText>
							</f:facet>
							<h:outputText value="#{order.kalite}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.NumberOfLots}"></h:outputText>
							</f:facet>
							<h:outputText value="#{order.numberOfLots}"></h:outputText>
						</p:column>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
		</ui:define>

		<!-- LOT VIEW SECTION -->
		<ui:define name="showPanel">
			<h:panelGrid border="0" columns="9" id="allPanelGridId"
				style="width:100%">
				<p:panel header="#{language.Pipe}" id="pipePanelId">
					<p:panel style="width:100%" id="orderInfoPanelId">
						<h:outputLabel value="#{language.Company}: " />
						<p:inputText readonly="true"
							value="#{lotViewBean.currentCompany.name}"></p:inputText>
						<h:outputLabel value="#{language.QualityPlan}: " />
						<p:inputText readonly="true"
							value="#{lotViewBean.productionSpecification.kalitePlan}"></p:inputText>
						<h:outputLabel value="#{language.Ordernumber}: " />
						<p:inputText readonly="true" id="orderDateInputTextId"
							style="font-size:20pt; width: 150px"
							value="#{lotViewBean.selectedOrder.orderYear}/ #{lotViewBean.selectedOrder.orderNumber} - #{lotViewBean.currentOrderItem.itemIndex}"></p:inputText>
					</p:panel>

					<p:panel style="width:100%" id="pipeInfoPanelId">
						<h:panelGrid border="0" columns="2" style="width:100%">
							<h:outputText value="#{language.Type} *: "></h:outputText>
							<p:selectOneMenu value="#{lotViewBean.currentOrderItem.type}"
								disabled="true" style="width:140px">
								<f:selectItem itemValue="1" itemLabel="#{language.Oil}" />
								<f:selectItem itemValue="2" itemLabel="#{language.Gas}" />
								<f:selectItem itemValue="3" itemLabel="#{language.Water}" />
							</p:selectOneMenu>

							<h:outputText value="#{language.ExternalDiameter}(mm) *: "></h:outputText>
							<p:inputText readonly="true"
								value="#{lotViewBean.currentOrderItem.disCap}">
							</p:inputText>

							<h:outputText value="#{language.WallThickness}(mm) *: "></h:outputText>
							<p:inputText readonly="true"
								value="#{lotViewBean.currentOrderItem.etKalinligi}">
							</p:inputText>

							<h:outputText value="#{language.Amount}(m) *: "></h:outputText>
							<p:inputText id="amountTextInputId" readonly="true"
								value="#{lotViewBean.currentOrderItem.miktar}">
							</p:inputText>

							<h:outputText value="#{language.Quality} *: "></h:outputText>
							<p:inputText id="qualityTextInputId" readonly="true"
								value="#{lotViewBean.currentOrderItem.kalite}">
							</p:inputText>

							<h:outputText value="#{language.Length}(m) *: "></h:outputText>
							<p:inputText id="lengthTextInputId" readonly="true"
								value="#{lotViewBean.currentOrderItem.boy}">
							</p:inputText>

							<h:outputText value="#{language.TestPressure}(bar) :"></h:outputText>
							<p:inputText id="testPressureTextInputId" readonly="true"
								value="#{lotViewBean.currentOrderItem.isletmeBasinci}"></p:inputText>

							<h:outputText
								value="#{language.EstimatedDuration} (#{language.days}) :"></h:outputText>
							<p:inputText readonly="true"
								value="#{lotViewBean.currentOrderItem.estimatedDurationTime}"></p:inputText>

							<h:outputText value="#{language.StartDate} (gg/aa/yyyy):"></h:outputText>
							<p:calendar mode="popup" autocomplete="false" readonly="true"
								pattern="#{userCredentialsBean.dateFormat}"
								value="#{lotViewBean.currentOrderItem.startDate}"></p:calendar>

							<h:outputText value="#{language.EndDate} (gg/aa/yyyy):"></h:outputText>
							<p:calendar mode="popup" autocomplete="false" disabled="true"
								pattern="#{userCredentialsBean.dateFormat}"
								value="#{lotViewBean.currentOrderItem.endDate}"></p:calendar>

							<h:outputText value="#{language.Note} :"></h:outputText>
							<p:inputTextarea autoResize="false" style="width:125px"
								readonly="true" rows="5"
								value="#{lotViewBean.currentOrderItem.note}"></p:inputTextarea>

							<h:outputText value="#{language.NumberOfLots} :"></h:outputText>
							<p:selectOneMenu style="width:140px">
								<c:forEach items="#{lotListBean.lotList}" var="lot">
									<f:selectItem itemValue="#{lot}" itemLabel="#{lot}" />
								</c:forEach>
								<p:ajax listener="#{lotViewBean.loadLotPipes}" event="change"
									update="pipeListDataTableId" process="@this pipeInfoPanelId">
								</p:ajax>
							</p:selectOneMenu>
						</h:panelGrid>

						<p:dataTable var="pipe" id="pipeListDataTableId"
							emptyMessage="#{language.EmptyMessage}" dblClickSelect="false"
							widgetVar="pipeListDataTableWidget" rowKey="#{pipe.pipeId}"
							value="#{lotViewBean.lotPipeList}" paginator="true" rows="20"
							selection="#{lotViewBean.currentPipe}" selectionMode="single"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<p:ajax event="rowSelect" update="pipeListDataTableId"
								process="@this pipeListDataTableId"></p:ajax>
							<p:ajax event="rowSelect" update="pipeListDataTableId"
								process="@this pipeListDataTableId"></p:ajax>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Number}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.pipeIndex}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Dimensions}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{pipe.etKalinligi}x #{pipe.disCap}x #{pipe.boy}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Status}"></h:outputText>
								</f:facet>
								<p:selectOneMenu disabled="true" value="#{pipe.status}"
									style="width: 140px">
									<f:selectItem itemValue="1" itemLabel="#{language.Finished}" />
									<f:selectItem itemValue="2" itemLabel="#{language.Free}" />
									<f:selectItem itemValue="3" itemLabel="#{language.OnRepair}" />
									<f:selectItem itemValue="10"
										itemLabel="#{language.OnSpiralMachine}" />
									<f:selectItem itemValue="11"
										itemLabel="#{language.OnHydrostaticMachine}" />
									<f:selectItem itemValue="12"
										itemLabel="#{language.OnBevellingMachine}" />
									<f:selectItem itemValue="13"
										itemLabel="#{language.OnPipeEndPreparationMachine}" />
									<f:selectItem itemValue="101"
										itemLabel="#{language.OnPolietilenMachine}" />
									<f:selectItem itemValue="102"
										itemLabel="#{language.OnPolipropilenMachine}" />
									<f:selectItem itemValue="103"
										itemLabel="#{language.OnEpoxyBoyaMachine}" />
									<f:selectItem itemValue="104"
										itemLabel="#{language.OnSandblastingMachine}" />
									<f:selectItem itemValue="105"
										itemLabel="#{language.OnCementMachine}" />
								</p:selectOneMenu>
							</p:column>

							<f:facet name="footer">
								<h:panelGrid border="0" columns="4" cellspacing="5"
									id="pipePanelGridId"
									rendered="#{lotViewBean.currentPipe.pipeId > 0}">
									<p:commandButton value="#{language.View}"
										process="pipeListDataTableId"
										oncomplete="pipeDialogWidget.show()"
										actionListener="#{lotViewBean.viewPipeDetails}"
										update="viewPipePanelId">
									</p:commandButton>
									<p:commandButton value="#{language.Load}" process="@this"
										update="accordionPanelId"
										actionListener="#{locationListBean.loadLocationList}">
									</p:commandButton>
								</h:panelGrid>
							</f:facet>
						</p:dataTable>
					</p:panel>
				</p:panel>

				<!-- PIPE SECTION -->
				<p:dialog draggable="true" closable="true" dynamic="true"
					resizable="false" maximizable="true" header="#{language.Pipe} "
					id="pipeDialogId" widgetVar="pipeDialogWidget">
					<p:panel style="min-width:700px" id="viewPipePanelId"
						header="#{lotViewBean.selectedOrder.orderNumber}/ #{lotVieweBean.currentOrderItem.itemIndex}- #{lotViewBean.currentPipe.pipeIndex}"
						toggleable="false">
						<!-- PIPE INFO SECTION -->
						<p:panel style="width:100%" toggleable="true">
							<h:panelGrid border="0" cellspacing="5" columns="4"
								style="width:100%" id="pipePanelGridId">
								<h:outputText value="#{language.Location}: "></h:outputText>
								<p:selectOneMenu value="#{lotViewBean.currentPipe.locationId}"
									style="width: 140px">
									<c:forEach step="1" items="#{locationListBean.locationList}"
										var="location">
										<f:selectItem itemValue="#{location.locationId}"
											itemLabel="#{location.sector} #{location.subsector}" />
									</c:forEach>
								</p:selectOneMenu>

								<h:outputText value="#{language.Diameter} (mm) *: "></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{lotViewBean.currentPipe.disCap}" required="true"
									requiredMessage="#{language.RequiredMessage}">
								</p:inputText>

								<h:outputText value="#{language.Weight} (kg) *: "></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{lotViewBean.currentPipe.agirligi}" required="true"
									requiredMessage="#{language.RequiredMessage}">
								</p:inputText>

								<h:outputText value="#{language.Length} (m) *: "></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{lotViewBean.currentPipe.boy}" required="true"
									requiredMessage="#{language.RequiredMessage}">
								</p:inputText>

								<h:outputText value="#{language.WeldLength} (mm) : "></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{lotViewBean.currentPipe.kaynakBoy}">
								</p:inputText>

								<h:outputText value="#{language.RadialOffset} (mm) : "></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{lotViewBean.currentPipe.radialKacik}">
								</p:inputText>

								<h:outputText value="#{language.WallThickness} (mm) *: "></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{lotViewBean.currentPipe.etKalinligi}" required="true"
									requiredMessage="#{language.RequiredMessage}">
								</p:inputText>

								<h:outputText value="#{language.ResidualMagnetic} : "></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{lotViewBean.currentPipe.magneticKalici}">
								</p:inputText>

								<h:outputText value="#{language.WeldHeight} (mm) : "></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{lotViewBean.currentPipe.kaynakDikici}">
								</p:inputText>

								<h:outputText value="#{language.Straightness} (%) : "></h:outputText>
								<p:inputText
									converterMessage="#{language.nbLayersConverterError}"
									value="#{lotViewBean.currentPipe.dogrusalik}">
								</p:inputText>

								<h:outputText value="#{language.LotNumber} (mm)*: "></h:outputText>
								<p:inputText requiredMessage="#{language.RequiredMessage}"
									id="numberOfLotsId"
									converterMessage="#{language.externalDiameterConverteError}"
									value="#{lotViewBean.currentPipe.lotNo}" required="true">
								</p:inputText>
								<h:inputHidden value="" />
								<h:inputHidden value="" />
								<h:inputHidden value="" />
								<p:slider
									maxValue="#{lotViewBean.currentOrderItem.numberOfLots}"
									step="1" minValue="1" for="numberOfLotsId" style="width:125px"></p:slider>

								<h:outputText value="#{language.Note} : "></h:outputText>
								<p:inputTextarea autoResize="false" style="width:125px"
									value="#{lotViewBean.currentPipe.note}" rows="5"
									maxLength="150">
								</p:inputTextarea>
							</h:panelGrid>

							<h:panelGrid border="0" columns="5" cellspacing="5">
								<p:commandLink title="#{language.Update}"
									process="viewPipePanelId" update="viewPipePanelId pipePanelId"
									actionListener="#{lotViewBean.updatePipe}">
									<p:graphicImage value="/large_icons/update.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
								<p:commandLink process="@this" title="#{language.Cancel}"
									immediate="true" onclick="pipeDialogWidget.hide()">
									<p:graphicImage value="/large_icons/cancel.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</p:panel>

						<p:panel style="width:100%">
							<h:panelGrid border="0" columns="10" cellspacing="5">
								<h:outputLabel value="#{language.VisualTest} :" />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.currentPipe.sonuc != 0}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{lotViewBean.currentPipe.sonuc == 0}"></p:graphicImage>

								<h:outputLabel value="#{language.ChemicalAnalysis}: " />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedProductionTests.chemicalAnalysis}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedProductionTests.chemicalAnalysis}"></p:graphicImage>

								<h:outputLabel value="#{language.TensileTest}: " />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedProductionTests.tensileTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedProductionTests.tensileTest}"></p:graphicImage>

								<h:outputLabel value="#{language.StripTensileTest}: " />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedProductionTests.stripTensileTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedProductionTests.stripTensileTest}"></p:graphicImage>

								<h:outputLabel value="#{language.WeldTensileTest}: " />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedProductionTests.weldTensileTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedProductionTests.weldTensileTest}"></p:graphicImage>

								<h:outputLabel value="#{language.AllWeldTensileTest}: " />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedProductionTests.allWeldTensileTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedProductionTests.allWeldTensileTest}"></p:graphicImage>

								<h:outputLabel value="#{language.DropWeightTest}: " />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedProductionTests.dropWeightTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedProductionTests.dropWeightTest}"></p:graphicImage>

								<h:outputLabel value="#{language.ToughnessTest}: " />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedProductionTests.toughnessTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedProductionTests.toughnessTest}"></p:graphicImage>

								<h:outputLabel value="#{language.GuidedBendTest}: " />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedProductionTests.guidedBendTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedProductionTests.guidedBendTest}"></p:graphicImage>

								<h:outputLabel value="#{language.WeldMacrographicTest}: " />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedProductionTests.weldMacrographicTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedProductionTests.weldMacrographicTest}"></p:graphicImage>

								<h:outputLabel value="#{language.ManualUltrasonicTest}: " />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedProductionTests.manualUltrasonicTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedProductionTests.manualUltrasonicTest}"></p:graphicImage>

								<h:outputLabel value="#{language.MagneticPenetrantTest}: " />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedProductionTests.magneticPenetrantTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedProductionTests.magneticPenetrantTest}"></p:graphicImage>

								<h:outputLabel value="#{language.RadiographicTestCertificate}: " />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedProductionTests.radiographicTestCertificate}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedProductionTests.radiographicTestCertificate}"></p:graphicImage>

								<h:outputLabel value="#{language.HydrostaticTest}: " />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedProductionTests.hydrostaticTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedProductionTests.hydrostaticTest}"></p:graphicImage>

								<h:outputLabel value="#{language.FluoroscopicTest}: " />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedProductionTests.fluoroscopicTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedProductionTests.fluoroscopicTest}"></p:graphicImage>
							</h:panelGrid>
						</p:panel>

						<p:panel style="width:100%">
							<h:panelGrid border="0" columns="10" cellspacing="5">
								<h:outputLabel value="#{language.HotWaterTest} :" />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedCoatingTests.hotWaterTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedCoatingTests.hotWaterTest}"></p:graphicImage>

								<h:outputLabel value="#{language.CathodicTest} :" />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedCoatingTests.cathodicTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedCoatingTests.cathodicTest}"></p:graphicImage>

								<h:outputLabel value="#{language.CutTest} :" />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedCoatingTests.cutTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedCoatingTests.cutTest}"></p:graphicImage>

								<h:outputLabel value="#{language.EtilenPropilenCoatTest} :" />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedCoatingTests.etilenPropilenCoatTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedCoatingTests.etilenPropilenCoatTest}"></p:graphicImage>

								<h:outputLabel value="#{language.FusionBondEpoxyTest} :" />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedCoatingTests.fusionBondEpoxyTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedCoatingTests.fusionBondEpoxyTest}"></p:graphicImage>

								<h:outputLabel value="#{language.EpoxyDscTest} :" />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{coatingTestsBean.completedCoatingTests.epoxyDscTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedCoatingTests.epoxyDscTest}"></p:graphicImage>

								<h:outputLabel value="#{language.SurfaceBlastCleaningTest} :" />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedCoatingTests.surfaceBlastCleaningTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedCoatingTests.surfaceBlastCleaningTest}"></p:graphicImage>

								<h:outputLabel value="#{language.EtilenPropilenHardnessTest} :" />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedCoatingTests.etilenPropilenHardnessTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedCoatingTests.etilenPropilenHardnessTest}"></p:graphicImage>

								<h:outputLabel value="#{language.SaltContentTest} :" />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedCoatingTests.saltContentTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedCoatingTests.saltContentTest}"></p:graphicImage>

								<h:outputLabel value="#{language.SurfaceProfileTest} :" />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedCoatingTests.surfaceProfileTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedCoatingTests.surfaceProfileTest}"></p:graphicImage>

								<h:outputLabel value="#{language.AmbientConditionTest} :" />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedCoatingTests.ambientConditionTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedCoatingTests.ambientConditionTest}"></p:graphicImage>

								<h:outputLabel value="#{language.CementMortarTest} :" />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedCoatingTests.cementMortarTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedCoatingTests.cementMortarTest}"></p:graphicImage>

								<h:outputLabel value="#{language.EpoxyLiningTest} :" />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedCoatingTests.epoxyLiningTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedCoatingTests.epoxyLiningTest}"></p:graphicImage>

								<h:outputLabel
									value="#{language.EtilenPropilenResistanceTest} :" />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedCoatingTests.etilenPropilenResistanceTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedCoatingTests.etilenPropilenResistanceTest}"></p:graphicImage>

								<h:outputLabel value="#{language.LiquidEpoxyTest} :" />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedCoatingTests.liquidEpoxyTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedCoatingTests.liquidEpoxyTest}"></p:graphicImage>

								<h:outputLabel value="#{language.EtilenPropilenTest} :" />
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{lotViewBean.completedCoatingTests.etilenPropilenTest}"></p:graphicImage>
								<p:graphicImage value="/large_icons/missing.png"
									style="border:0px"
									rendered="#{!lotViewBean.completedCoatingTests.etilenPropilenTest}"></p:graphicImage>
							</h:panelGrid>
						</p:panel>
						<p:messages id="pipeMessages"></p:messages>
					</p:panel>
				</p:dialog>
			</h:panelGrid>
			<p:messages id="coatingTestsMessages"></p:messages>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>