<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget"
				binding="#{salesItemBean.accordionPanel}">

				<p:tab id="pipeTabId"
					title=" SİPARİŞ BORULARI BİLGİLERİ İNCELEME *** #{pipeListBean.selectedBarcodePipe.salesItem.proposal.salesOrder.orderNo}-#{pipeListBean.selectedBarcodePipe.salesItem.itemNo} / #{pipeListBean.selectedBarcodePipe.salesItem.proposal.customer.shortName} / #{pipeListBean.selectedBarcodePipe.salesItem.diameter}x#{pipeListBean.selectedBarcodePipe.salesItem.thickness} / #{pipeListBean.selectedBarcodePipe.salesItem.quality} / #{pipeListBean.selectedBarcodePipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{pipeListBean.barkodNo}">
					</p:inputText>
					<p:commandButton value="BORU BUL"
						update="manuelUtPanelGridId manuelUtTestsDataTableId growl pipeTestsDataTableId toolbarGroupId manuelUtTestAddPanelGridId orderAccordionPanelId"
						process="@this inputBarkod"
						actionListener="#{pipeListBean.loadSelectedOrder(pipeListBean.barkodNo)}"
						icon="ui-icon-circle-plus" styleClass="foo">
					</p:commandButton>
					<h:form id="listPipeForm">

						<p:dataTable id="datatablePipes" var="pipe"
							value="#{pipeListBean.lazyModel}" tableStyle="width:100%;"
							paginator="true" rows="15" dynamic="true" widgetVar="data"
							rowKey="#{pipe.pipeId}" selection="#{pipeListBean.selectedPipe}"
							selectionMode="single"
							paginatorTemplate="#{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

							<f:facet name="header">
								<h:outputText value="#{language.ProducedPipes}" />
							</f:facet>

							<p:column style="width:2%">
								<f:facet name="header">
									<h:outputText value="Ayrıntılar"></h:outputText>
								</f:facet>
								<p:rowToggler />
							</p:column>

							<p:column headerText="#{language.PipeNumber}" style="width:10%">
								<h:outputText
									value="#{pipe.salesItem.proposal.salesOrder.orderNo} / #{pipe.salesItem.itemNo} - #{pipe.pipeIndex}" />
							</p:column>

							<p:column headerText="Boru Barkod" style="width:10%"
								sortBy="#{pipe.pipeBarkodNo}" filterBy="#{pipe.pipeBarkodNo}">
								<h:outputText value="#{pipe.pipeBarkodNo}" />
							</p:column>

							<p:column headerText="Rulo No" style="width:10%"
								sortBy="#{pipe.ruloPipeLink.rulo.ruloKimlikId}"
								filterBy="#{pipe.ruloPipeLink.rulo.ruloKimlikId}">
								<h:outputText
									value="#{pipe.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}" />
							</p:column>

							<p:column headerText="Döküm No" style="width:10%"
								sortBy="#{pipe.ruloPipeLink.rulo.ruloDokumNo}"
								filterBy="#{pipe.ruloPipeLink.rulo.ruloDokumNo}">
								<h:outputText value="#{pipe.ruloPipeLink.rulo.ruloDokumNo}" />
							</p:column>

							<p:column style="width:10%">
								<f:facet name="header">
									<h:outputText value="Üretim Tarihi"></h:outputText>
								</f:facet>
								<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
									disabled="true" value="#{pipe.productionDate}">
								</p:calendar>
							</p:column>

							<p:column style="width:10%">
								<f:facet name="header">
									<h:outputText value="Sisteme Kayıt Tarihi"></h:outputText>
								</f:facet>
								<p:calendar disabled="true" value="#{pipe.eklemeZamani}">
									<f:convertDateTime pattern="dd/MM/yyyy HH:mm" timeZone="GMT+2" />
								</p:calendar>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Diameter}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.disCap}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Weight}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{pipe.testTahribatsizGozOlcuSonuc.boruAgirlik}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="GÖ Boy"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{pipe.testTahribatsizGozOlcuSonuc.boruUzunluk}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Explanation}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.note}"></h:outputText>
							</p:column>

							<p:column style="text-align: center;">
								<f:facet name="header">
									<h:outputText value="Torna"></h:outputText>
								</f:facet>
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px"
									rendered="#{pipe.testTahribatsizTorna.durum}">
								</p:graphicImage>
							</p:column>
							<p:column style="text-align: center;">
								<f:facet name="header">
									<h:outputText value="Hidrostatik"></h:outputText>
								</f:facet>
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px"
									rendered="#{pipe.testTahribatsizHidrostatik.durum}">
								</p:graphicImage>
							</p:column>
							<p:column style="text-align: center;">
								<f:facet name="header">
									<h:outputText value="Göz Ölçü"></h:outputText>
								</f:facet>
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px"
									rendered="#{pipe.testTahribatsizGozOlcuSonuc.result==1}">
								</p:graphicImage>
							</p:column>

							<p:column headerText="Band Eki">
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px" rendered="#{pipe.bandEki==true}">
								</p:graphicImage>
							</p:column>

							<p:rowExpansion>
								<p:dataTable var="manuel"
									value="#{pipe.testTahribatsizManuelUtSonuclar}"
									rowKey="#{manuel.id}" sortOrder="descending">
									<f:facet name="header">
										<h:outputText value="MANUEL UT"></h:outputText>
									</f:facet>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Eklenme Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{manuel.eklemeZamani}">
										</p:calendar>
									</p:column>

									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Koordinat"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{manuel.koordinatQ} x #{manuel.koordinatL}"></h:outputText>
									</p:column>

									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Değerlendirme"></h:outputText>
										</f:facet>
										<h:outputText rendered="#{manuel.degerlendirme==-1}"
											style="color: brown; font-weight: bold;" value="SEÇİNİZ!"></h:outputText>
										<h:outputText rendered="#{manuel.degerlendirme==1}"
											style="color: green; font-weight: bold;" value="KABUL"></h:outputText>
										<h:outputText rendered="#{manuel.degerlendirme==0}"
											value="RED"></h:outputText>
										<h:outputText rendered="#{manuel.degerlendirme==2}"
											style="color: red; font-weight: bold;" value="TAMİR"></h:outputText>
									</p:column>

									<p:column headerText="Tamir Gönderme Zamanı">
										<h:outputText
											value="#{manuel.testTahribatsizTamir.eklemeZamani}">
											<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
												timeZone="Europe/Istanbul" />
										</h:outputText>
									</p:column>

									<p:column headerText="Tamire Gönderen Kullanıcı">
										<h:outputText
											value="#{manuel.testTahribatsizTamir.user.employee.firstname} #{manuel.testTahribatsizTamir.user.employee.lastname}"></h:outputText>
									</p:column>

									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Tamir Sonrası Durum"></h:outputText>
										</f:facet>
										<h:outputText rendered="#{manuel.tamirSonrasiDurum==-1}"
											style="color: brown; font-weight: bold;" value="SEÇİNİZ!"></h:outputText>
										<h:outputText rendered="#{manuel.tamirSonrasiDurum==1}"
											style="color: green; font-weight: bold;" value="KABUL"></h:outputText>
										<h:outputText rendered="#{manuel.tamirSonrasiDurum==0}"
											style="color: red; font-weight: bold;" value="RED"></h:outputText>
									</p:column>

									<p:column headerText="Tamir Kabul Zamanı">
										<h:outputText value="#{manuel.tamirKabulZamani}">
											<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
												timeZone="Europe/Istanbul" />
										</h:outputText>
									</p:column>

									<p:column headerText="Tamiri Kabul Eden Kullanıcı">
										<h:outputText
											value="#{manuel.tamirKabulEmployee.employee.firstname} #{manuel.tamirKabulEmployee.employee.lastname}"></h:outputText>
									</p:column>
								</p:dataTable>

								<p:dataTable var="tamir" value="#{pipe.testTahribatsizTamirler}"
									rowKey="#{tamir.id}" sortOrder="descending">
									<f:facet name="header">
										<h:outputText value="TAMİRLER"></h:outputText>
									</f:facet>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Eklenme Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{tamir.eklemeZamani}">
										</p:calendar>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Koordinat"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{tamir.testTahribatsizManuelUtSonuc.koordinatQ} x #{tamir.testTahribatsizManuelUtSonuc.koordinatL}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Durum"></h:outputText>
										</f:facet>
										<h:outputText rendered="#{tamir.durum==true}"
											style="color: green; font-weight: bold;"
											value="TAMİR TAMAMLANDI."></h:outputText>
										<h:outputText rendered="#{tamir.durum==false}"
											style="color: brown; font-weight: bold;"
											value="TAMİR BİTİRİLMEDİ."></h:outputText>
										<h:outputText rendered="#{tamir.durum==null}"
											style="color: red; font-weight: bold;"
											value="TAMİR BAŞLANMADI."></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Tamire Başlama Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{tamir.muayeneBaslamaZamani}">
										</p:calendar>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Tamire Başlayan Personel"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{tamir.muayeneBaslamaUser.firstname} #{tamir.muayeneBaslamaUser.lastname}"></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Tamiri Bitirme Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{tamir.muayeneBitisZamani}">
										</p:calendar>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Tamiri Bitiren Personel"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{tamir.muayeneBitisUser.firstname} #{tamir.muayeneBitisUser.lastname}"></h:outputText>
									</p:column>
								</p:dataTable>

								<p:dataTable var="floroskopi"
									value="#{pipe.testTahribatsizFloroskopikSonuclar}"
									rowKey="#{floroskopi.id}" sortOrder="descending">
									<f:facet name="header">
										<h:outputText value="FLOROSKOPİK MUAYENE"></h:outputText>
									</f:facet>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Eklenme Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{floroskopi.eklemeZamani}">
										</p:calendar>
									</p:column>

									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Koordinat"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{floroskopi.koordinatQ} x #{floroskopi.koordinatL}"></h:outputText>
									</p:column>

									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Tamir/Kesim"></h:outputText>
										</f:facet>
										<h:outputText rendered="#{floroskopi.tamirKesim==-1}"
											style="color: brown; font-weight: bold;" value="SEÇİNİZ!"></h:outputText>
										<h:outputText rendered="#{floroskopi.tamirKesim==1}"
											style="color: green; font-weight: bold;" value="TAMİR"></h:outputText>
										<h:outputText rendered="#{floroskopi.tamirKesim==0}"
											value="KESİM"></h:outputText>
									</p:column>

									<p:column headerText="Tamir Gönderme Zamanı">
										<h:outputText
											value="#{floroskopi.testTahribatsizTamir.eklemeZamani}">
											<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
												timeZone="Europe/Istanbul" />
										</h:outputText>
									</p:column>

									<p:column headerText="Tamire Gönderen Kullanıcı">
										<h:outputText
											value="#{floroskopi.testTahribatsizTamir.user.employee.firstname} #{floroskopi.testTahribatsizTamir.user.employee.lastname}"></h:outputText>
									</p:column>

									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Tamir Sonrası Durum"></h:outputText>
										</f:facet>
										<h:outputText rendered="#{floroskopi.result==-1}"
											style="color: brown; font-weight: bold;" value="SEÇİNİZ!"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==1}"
											style="color: green; font-weight: bold;" value="KABUL"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==0}"
											style="color: red; font-weight: bold;" value="RED"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==2}"
											style="color: red; font-weight: bold;" value="TAMİR"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==3}"
											style="color: red; font-weight: bold;" value="TORNA"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==4}"
											style="color: red; font-weight: bold;" value="KESİM"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==5}"
											style="color: red; font-weight: bold;" value="HİDROSTATİK"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==6}"
											style="color: red; font-weight: bold;" value="GÖZ ÖLÇÜ"></h:outputText>
									</p:column>

									<p:column headerText="Tamir Kabul Zamanı">
										<h:outputText value="#{floroskopi.tamirKabulZamani}">
											<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
												timeZone="Europe/Istanbul" />
										</h:outputText>
									</p:column>

									<p:column headerText="Tamiri Kabul Eden Kullanıcı">
										<h:outputText
											value="#{floroskopi.tamirKabulEmployee.employee.firstname} #{floroskopi.tamirKabulEmployee.employee.lastname}"></h:outputText>
									</p:column>
								</p:dataTable>

								<p:dataTable var="kesim"
									value="#{pipe.testTahribatsizKesimSonuclar}"
									rowKey="#{kesim.id}" sortOrder="descending">
									<f:facet name="header">
										<h:outputText value="KESİMLER"></h:outputText>
									</f:facet>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Eklenme Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{kesim.eklemeZamani}">
										</p:calendar>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Kesime Gönderen"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{kesim.user.employee.firstname} #{kesim.user.employee.lastname}"></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Kesime Başlama Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{kesim.eklemeZamani}">
										</p:calendar>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Kesime Başlayan Personel"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{kesim.muayeneBaslamaUser.employee.firstname} #{kesim.muayeneBaslamaUser.employee.lastname}"></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Kesim İşlemi Durumu"></h:outputText>
										</f:facet>

									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Kesim Bitiş Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{kesim.eklemeZamani}">
										</p:calendar>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Kesimi Yapan Kullanıcı"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{kesim.muayeneBitisUser.employee.firstname} #{kesim.muayeneBitisUser.employee.lastname}"></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Açıklama"></h:outputText>
										</f:facet>
										<h:outputText value="#{kesim.aciklama}"></h:outputText>
									</p:column>
								</p:dataTable>
							</p:rowExpansion>
						</p:dataTable>
					</h:form>
					<h:commandButton immediate="true" image="/large_icons/report.png"
						title="BORU TAKİP FORMU" value="BORU TAKİP FORMU" update="growl"
						action="#{testReportBean.boruTakipFormu(pipeListBean.selectedBarcodePipe.salesItem)}">
					</h:commandButton>
					<h:commandButton immediate="true" image="/large_icons/report.png"
						title="BORU KİMLİK KARTI" value="BORU TAKİP FORMU" update="growl"
						action="#{testReportBean.fr199ReportXlsx(pipeListBean.selectedPipe.pipeId)}">
					</h:commandButton>
				</p:tab>

			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>