<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget"
				binding="#{salesItemBean.accordionPanel}">
				<p:tab id="salesTabId" title="Şipariş ve Sipariş Kalemleri">
					<p:dataTable var="salesOrders" id="orderTable"
						value="#{salesOrderBean.orderList}"
						rowKey="#{salesOrders.orderId}"
						selection="#{salesOrderBean.selectedOrder}" selectionMode="single"
						update="orderSelected" paginator="true" rows="10"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesOrderBean.filteredList}">

						<p:ajax event="rowSelect" update="orderAccordionPanelId pipeTabId">
						</p:ajax>

						<p:ajax event="rowSelect"
							listener="#{salesItemBean.activeIndex(0)}"
							update="orderAccordionPanelId:listPipeForm:datatablePipes orderAccordionPanelId">
						</p:ajax>

						<p:column sortBy="#{salesOrders.salesOrderNo}"
							filterBy="#{salesOrders.orderNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText value="#{salesOrders.orderNo}" />
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.customer.shortName}"
							filterBy="#{salesOrders.proposal.customer.shortName}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesCustomer}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.customer.shortName}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="salesItems" id="itemsTable"
						value="#{salesItemBean.itemsOfSelectedOrder}"
						rowKey="#{salesItems.itemId}"
						selection="#{qualitySpecBean.selectedSalesItem}"
						selectionMode="single" emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesItemBean.filteredList}">

						<p:ajax event="rowSelect"
							listener="#{qualitySpecBean.tahribatliTestYapilmisBoruListesiGetir}"
							process="listForm:itemsTable itemsTable"
							update="pipeForm producedPipesDataTableId orderTabId growl" />
						<p:ajax event="rowSelect" update="orderAccordionPanelId pipeTabId">
						</p:ajax>

						<p:ajax event="rowSelect"
							listener="#{salesItemBean.activeIndex(1)}"
							update="orderAccordionPanelId:listPipeForm:datatablePipes orderAccordionPanelId">
						</p:ajax>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.orderNo}-#{salesItems.itemNo}" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}"
							filterBy="#{salesItems.diameter}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.diameter}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.quality}"
							filterBy="#{salesItems.thickness}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesThickness}" />
							</f:facet>
							<h:outputText value="#{salesItems.thickness}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}"
							filterBy="#{salesItems.quality}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesQuality}" />
							</f:facet>
							<h:outputText value="#{salesItems.quality}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.pipeLength}"
							filterBy="#{salesItems.pipeLength}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesPipeLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.pipeLength}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalLengthM}"
							filterBy="#{salesItems.totalLengthM}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalLengthM}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.unitWeight}"
							filterBy="#{salesItems.unitWeight}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesUnitWeight}" />
							</f:facet>
							<h:outputText value="#{salesItems.unitWeight}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalTonnage}"
							filterBy="#{salesItems.totalTonnage}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalTonnage}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalTonnage}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.manufacturingStandard}"
							filterBy="#{salesItems.manufacturingStandard}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.manufacturingStandard}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.transportation}"
							filterBy="#{salesItems.transportation}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesManufacturingStandard}" />
							</f:facet>
							<h:outputText value="#{salesItems.transportation}"></h:outputText>
						</p:column>

					</p:dataTable>
				</p:tab>

				<p:tab id="pipeTabId"
					title="TEST BORULARI VE TAHRİBATLI TEST DURUMLARI">
					<h:form id="listPipeForm">
						<p:dataTable id="datatablePipes" var="pipe"
							value="#{qualitySpecBean.tahribatliTestYapilmisBorular}"
							tableStyle="width:100%;" paginator="true" rows="15"
							dynamic="true" widgetVar="data" rowKey="#{pipe.pipeId}"
							sortOrder="descending" sortBy="#{pipe.pipeId}"
							paginatorTemplate="#{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

							<f:facet name="header">
								<h:outputText
									value="TAHRİBATLI TEST YAPILMIŞ BORULARIN DURUM LİSTESİ" />
							</f:facet>

							<p:column style="width:2%">
								<f:facet name="header">
									<h:outputText value="Ayrıntılar için Basınız"></h:outputText>
								</f:facet>
								<p:rowToggler />
							</p:column>

							<p:column headerText="#{language.PipeNumber}" style="width:10%"
								sortBy="#{pipe.salesItem.proposal.salesOrder.orderNo} / #{pipe.salesItem.itemNo} - #{pipe.pipeIndex}"
								filterBy="#{pipe.salesItem.proposal.salesOrder.orderNo} / #{pipe.salesItem.itemNo} - #{pipe.pipeIndex}">
								<h:outputText
									value="#{pipe.salesItem.proposal.salesOrder.orderNo} / #{pipe.salesItem.itemNo} - #{pipe.pipeIndex}" />
							</p:column>

							<p:column headerText="Müşteri" style="width:10%">
								<h:outputText
									value="#{pipe.salesItem.proposal.customer.shortName}" />
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="Malzemesi"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.salesItem.quality}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="Üretim Standardı"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.salesItem.manufacturingStandard}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Diameter} x Et Kalınlığı"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.disCap}x#{pipe.etKalinligi}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Weight}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.agirligi}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Length}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.boy}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="Rulo No"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{pipe.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="Döküm No"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Explanation}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.note}"></h:outputText>
							</p:column>

							<p:column style="text-align: center;">
								<f:facet name="header">
									<h:outputText value="Test Borusu"></h:outputText>
								</f:facet>
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px" rendered="#{pipe.tahribatliTestSonuc}">
								</p:graphicImage>
							</p:column>

							<p:rowExpansion>
								<p:dataTable var="kimyasal"
									value="#{pipe.testKimyasalAnalizSonuclar}"
									rowKey="#{kimyasal.id}" sortOrder="descending">
									<f:facet name="header">
										<h:outputText value="Kimyasal Analiz Sonuçları"></h:outputText>
									</f:facet>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Parti No"></h:outputText>
										</f:facet>
										<h:outputText value="#{kimyasal.partiNo}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Sıklık"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{kimyasal.bagliTestId.incelemeGrubu.tanimi}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Sonuç"></h:outputText>
										</f:facet>
										<h:outputText value="KABUL" rendered="#{kimyasal.sonuc}"></h:outputText>
										<h:outputText value="RED" rendered="!#{kimyasal.sonuc}"></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Test Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{kimyasal.testTarihi}">
										</p:calendar>
									</p:column>
								</p:dataTable>
								<p:separator />
								<p:dataTable var="cekmeSonuc" value="#{pipe.testCekmeSonuclar}"
									rowKey="#{cekmeSonuc.id}" sortOrder="descending">
									<f:facet name="header">
										<h:outputText value="Çekme Test Sonuçları"></h:outputText>
									</f:facet>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Parti No"></h:outputText>
										</f:facet>
										<h:outputText value="#{cekmeSonuc.partiNo}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Test Adı"></h:outputText>
										</f:facet>
										<h:outputText value="#{cekmeSonuc.bagliGlobalId.name}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Sıklık"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{cekmeSonuc.bagliTestId.incelemeGrubu.tanimi}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Sonuç"></h:outputText>
										</f:facet>
										<h:outputText value="KABUL" rendered="#{cekmeSonuc.sonuc}"></h:outputText>
										<h:outputText value="RED" rendered="!#{cekmeSonuc.sonuc}"></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Test Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{cekmeSonuc.testTarihi}">
										</p:calendar>
									</p:column>
								</p:dataTable>
								<p:separator />
								<p:dataTable var="bukmeSonuc" value="#{pipe.testBukmeSonuclar}"
									rowKey="#{bukmeSonuc.id}" sortOrder="descending">
									<f:facet name="header">
										<h:outputText value="Bükme Test Sonucları"></h:outputText>
									</f:facet>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Parti No"></h:outputText>
										</f:facet>
										<h:outputText value="#{bukmeSonuc.partiNo}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Test Adı"></h:outputText>
										</f:facet>
										<h:outputText value="#{bukmeSonuc.bagliGlobalId.name}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Sıklık"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{bukmeSonuc.bagliTestId.incelemeGrubu.tanimi}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Sonuç"></h:outputText>
										</f:facet>
										<h:outputText value="KABUL" rendered="#{bukmeSonuc.sonuc}"></h:outputText>
										<h:outputText value="RED" rendered="!#{bukmeSonuc.sonuc}"></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Test Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{bukmeSonuc.testTarihi}">
										</p:calendar>
									</p:column>
								</p:dataTable>
								<p:separator />
								<p:dataTable var="centikSonuc"
									value="#{pipe.testCentikDarbeSonuclar}"
									rowKey="#{centikSonuc.id}" sortOrder="descending">
									<f:facet name="header">
										<h:outputText value="Çentik Darbe Test Sonuçları"></h:outputText>
									</f:facet>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Parti No"></h:outputText>
										</f:facet>
										<h:outputText value="#{centikSonuc.partiNo}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Test Adı"></h:outputText>
										</f:facet>
										<h:outputText value="#{centikSonuc.bagliGlobalId.name}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Sıklık"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{centikSonuc.bagliTestId.incelemeGrubu.tanimi}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Sonuç"></h:outputText>
										</f:facet>
										<h:outputText value="KABUL" rendered="#{centikSonuc.sonuc}"></h:outputText>
										<h:outputText value="RED" rendered="!#{centikSonuc.sonuc}"></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Test Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{centikSonuc.testTarihi}">
										</p:calendar>
									</p:column>
								</p:dataTable>
								<p:separator />
								<p:dataTable var="agirlikSonuc"
									value="#{pipe.testAgirlikDusurmeSonuclar}"
									rowKey="#{agirlikSonuc.id}" sortOrder="descending">
									<f:facet name="header">
										<h:outputText value="Ağırlık Düşürme Test Sonuçları"></h:outputText>
									</f:facet>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Parti No"></h:outputText>
										</f:facet>
										<h:outputText value="#{agirlikSonuc.partiNo}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Test Adı"></h:outputText>
										</f:facet>
										<h:outputText value="#{agirlikSonuc.bagliGlobalId.name}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Sıklık"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{agirlikSonuc.bagliTestId.incelemeGrubu.tanimi}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Sonuç"></h:outputText>
										</f:facet>
										<h:outputText value="KABUL" rendered="#{agirlikSonuc.sonuc}"></h:outputText>
										<h:outputText value="RED" rendered="!#{agirlikSonuc.sonuc}"></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Test Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{agirlikSonuc.testTarihi}">
										</p:calendar>
									</p:column>
								</p:dataTable>
								<p:separator />
								<p:dataTable var="kaynakSonuc"
									value="#{pipe.testKaynakSonuclar}" rowKey="#{kaynakSonuc.id}"
									sortOrder="descending">
									<f:facet name="header">
										<h:outputText value="Kaynak Test Sonuçları"></h:outputText>
									</f:facet>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Parti No"></h:outputText>
										</f:facet>
										<h:outputText value="#{kaynakSonuc.partiNo}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Test Adı"></h:outputText>
										</f:facet>
										<h:outputText value="#{kaynakSonuc.bagliGlobalId.name}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Sıklık"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{kaynakSonuc.bagliTestId.incelemeGrubu.tanimi}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Sonuç"></h:outputText>
										</f:facet>
										<h:outputText value="KABUL" rendered="#{kaynakSonuc.sonuc}"></h:outputText>
										<h:outputText value="RED" rendered="!#{kaynakSonuc.sonuc}"></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Test Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{kaynakSonuc.testTarihi}">
										</p:calendar>
									</p:column>
								</p:dataTable>
								<p:separator />
							</p:rowExpansion>
						</p:dataTable>
					</h:form>
					<h:commandButton immediate="true" image="/large_icons/report.png"
						title="TEST TARİHLERİ RAPORU" value="TEST TARİHLERİ RAPORU"
						update="growl"
						action="#{qualitySpecBean.testTarihleriRaporu(tahribatsizTestOrderListBean.selectedSalesItem)}">
					</h:commandButton>
				</p:tab>

			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>