<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget"
				binding="#{salesItemBean.accordionPanel}">
				<p:tab id="salesTabId" title="Şipariş ve Sipariş Kalemleri">
					<p:dataTable var="salesOrders" id="orderTable"
						value="#{salesOrderBean.orderList}"
						rowKey="#{salesOrders.orderId}"
						selection="#{salesOrderBean.selectedOrder}" selectionMode="single"
						update="orderSelected" paginator="true" rows="10"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesOrderBean.filteredList}">

						<p:ajax event="rowSelect"
							listener="#{qualitySpecBean.producedPipes}"
							process="listForm:orderTable orderTable"
							update="pipeForm producedPipesDataTableId salesTabId orderAccordionPanelId pipeTabId" />

						<p:ajax event="rowSelect"
							listener="#{salesItemBean.activeIndex(0)}"
							update="orderAccordionPanelId:listPipeForm:datatablePipes orderAccordionPanelId">
						</p:ajax>

						<p:column sortBy="#{salesOrders.orderNo}"
							filterBy="#{salesOrders.orderNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText value="#{salesOrders.orderNo}" />
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.customer.shortName}"
							filterBy="#{salesOrders.proposal.customer.shortName}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesCustomer}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.customer.shortName}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="salesItems" id="itemsTable"
						value="#{salesItemBean.itemsOfSelectedOrder}"
						rowKey="#{salesItems.itemId}"
						selection="#{tahribatsizTestOrderListBean.selectedSalesItem}"
						selectionMode="single" emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesItemBean.filteredList}">

						<p:ajax event="rowSelect"
							listener="#{tahribatsizTestOrderListBean.loadSelectedOrder}"
							process="orderAccordionPanelId:listOrderForm:datatableOrders datatableOrders"
							update="orderAccordionPanelId:listPipeForm:datatablePipes" />

						<p:ajax event="rowSelect"
							listener="#{salesItemBean.activeIndex(1)}"
							update="orderAccordionPanelId:listPipeForm:datatablePipes orderAccordionPanelId">
						</p:ajax>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.orderNo}-#{salesItems.itemNo}" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}"
							filterBy="#{salesItems.diameter}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.diameter}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.quality}"
							filterBy="#{salesItems.thickness}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesThickness}" />
							</f:facet>
							<h:outputText value="#{salesItems.thickness}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}"
							filterBy="#{salesItems.quality}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesQuality}" />
							</f:facet>
							<h:outputText value="#{salesItems.quality}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.pipeLength}"
							filterBy="#{salesItems.pipeLength}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesPipeLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.pipeLength}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalLengthM}"
							filterBy="#{salesItems.totalLengthM}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalLengthM}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.unitWeight}"
							filterBy="#{salesItems.unitWeight}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesUnitWeight}" />
							</f:facet>
							<h:outputText value="#{salesItems.unitWeight}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalTonnage}"
							filterBy="#{salesItems.totalTonnage}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalTonnage}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalTonnage}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.manufacturingStandard}"
							filterBy="#{salesItems.manufacturingStandard}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.manufacturingStandard}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.transportation}"
							filterBy="#{salesItems.transportation}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesManufacturingStandard}" />
							</f:facet>
							<h:outputText value="#{salesItems.transportation}"></h:outputText>
						</p:column>

					</p:dataTable>
				</p:tab>

				<p:tab id="pipeTabId" title="#{language.ProducedPipes}">
					<h:form id="listPipeForm">
						<p:dataTable id="datatablePipes" var="pipe"
							value="#{tahribatsizTestOrderListBean.selectedPipes}"
							tableStyle="width:100%;" paginator="true" rows="15"
							dynamic="true" widgetVar="data" rowKey="#{pipe.pipeId}"
							sortOrder="descending" sortBy="#{pipe.pipeId}"
							paginatorTemplate="#{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

							<f:facet name="header">
								<h:outputText value="#{language.ProducedPipes}" />
							</f:facet>

							<!-- 							<p:column style="width:2%"> -->
							<!-- 								<f:facet name="header"> -->
							<!-- 									<h:outputText value="Ayrıntılar"></h:outputText> -->
							<!-- 								</f:facet> -->
							<!-- 								<p:rowToggler /> -->
							<!-- 							</p:column> -->

							<p:column headerText="#{language.PipeNumber}" style="width:10%"
								sortBy="#{pipe.salesItem.proposal.salesOrder.orderNo} / #{pipe.salesItem.itemNo} - #{pipe.pipeIndex}"
								filterBy="#{pipe.salesItem.proposal.salesOrder.orderNo} / #{pipe.salesItem.itemNo} - #{pipe.pipeIndex}">
								<h:outputText
									value="#{pipe.salesItem.proposal.salesOrder.orderNo} / #{pipe.salesItem.itemNo} - #{pipe.pipeIndex}" />
							</p:column>

							<!-- 							<p:column headerText="Rulo No" style="width:10%"> -->
							<!-- 								<h:outputText -->
							<!-- 									value="#{pipe.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}" /> -->
							<!-- 							</p:column> -->

							<p:column headerText="Döküm No" style="width:10%">
								<h:outputText value="#{pipe.ruloPipeLink.rulo.ruloDokumNo}" />
							</p:column>

							<!-- 							<p:column> -->
							<!-- 								<f:facet name="header"> -->
							<!-- 									<h:outputText value="#{language.Diameter}"></h:outputText> -->
							<!-- 								</f:facet> -->
							<!-- 								<h:outputText value="#{pipe.disCap}"></h:outputText> -->
							<!-- 							</p:column> -->

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Weight}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{pipe.testTahribatsizGozOlcuSonuc.boruAgirlik}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="GÖ Boy"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{pipe.testTahribatsizGozOlcuSonuc.boruUzunluk}"></h:outputText>
							</p:column>

							<!-- 							<p:column> -->
							<!-- 								<f:facet name="header"> -->
							<!-- 									<h:outputText value="#{language.Explanation}"></h:outputText> -->
							<!-- 								</f:facet> -->
							<!-- 								<h:outputText value="#{pipe.note}"></h:outputText> -->
							<!-- 							</p:column> -->

							<p:column style="text-align: center;">
								<f:facet name="header">
									<h:outputText value="Hidrostatik"></h:outputText>
								</f:facet>
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px"
									rendered="#{pipe.testTahribatsizHidrostatik.durum}">
								</p:graphicImage>
							</p:column>

							<!-- 							<p:column style="text-align: center;"> -->
							<!-- 								<f:facet name="header"> -->
							<!-- 									<h:outputText value="Göz Ölçü"></h:outputText> -->
							<!-- 								</f:facet> -->
							<!-- 								<p:graphicImage value="/small_icons/select.png" -->
							<!-- 									style="border:0px" -->
							<!-- 									rendered="#{pipe.testTahribatsizGozOlcuSonuc.result==1}"> -->
							<!-- 								</p:graphicImage> -->
							<!-- 							</p:column> -->

							<p:column style="text-align: center;">
								<f:facet name="header">
									<h:outputText value="İç Kumlama"></h:outputText>
								</f:facet>
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px"
									rendered="#{pipe.kaplamaMakinesiIcKumlama.durum}">
								</p:graphicImage>
							</p:column>

							<p:column style="text-align: center;">
								<f:facet name="header">
									<h:outputText value="Dış Kumlama"></h:outputText>
								</f:facet>
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px"
									rendered="#{pipe.kaplamaMakinesiDisKumlama.durum}">
								</p:graphicImage>
							</p:column>

							<p:column style="text-align: center;">
								<f:facet name="header">
									<h:outputText value="Epoksi Kaplama"></h:outputText>
								</f:facet>
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px"
									rendered="#{pipe.kaplamaMakinesiEpoksi.durum}">
								</p:graphicImage>
							</p:column>

							<p:column style="text-align: center;">
								<f:facet name="header">
									<h:outputText value="Polietilen Kaplama"></h:outputText>
								</f:facet>
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px"
									rendered="#{pipe.kaplamaMakinesiPolietilen.durum}">
								</p:graphicImage>
							</p:column>

							<p:column style="text-align: center;">
								<f:facet name="header">
									<h:outputText value="Beton Kaplama"></h:outputText>
								</f:facet>
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px"
									rendered="#{pipe.kaplamaMakinesiBeton.durum}">
								</p:graphicImage>
							</p:column>

							<p:column style="text-align: center;">
								<f:facet name="header">
									<h:outputText value="Fırçalama"></h:outputText>
								</f:facet>
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px"
									rendered="#{pipe.kaplamaMakinesiFircalama.durum}">
								</p:graphicImage>
							</p:column>

							<p:column style="text-align: center;">
								<f:facet name="header">
									<h:outputText value="Muflama"></h:outputText>
								</f:facet>
								<p:graphicImage value="/small_icons/select.png"
									style="border:0px"
									rendered="#{pipe.kaplamaMakinesiMuflama.durum}">
								</p:graphicImage>
							</p:column>

							<p:rowExpansion>
								<p:dataTable var="manuel"
									value="#{pipe.testTahribatsizManuelUtSonuclar}"
									rowKey="#{manuel.id}" sortOrder="descending">
									<f:facet name="header">
										<h:outputText value="İÇ KUMLAMA"></h:outputText>
									</f:facet>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Eklenme Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{manuel.eklemeZamani}">
										</p:calendar>
									</p:column>

									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Koordinat"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{manuel.koordinatQ} x #{manuel.koordinatL}"></h:outputText>
									</p:column>

									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Değerlendirme"></h:outputText>
										</f:facet>
										<h:outputText rendered="#{manuel.degerlendirme==-1}"
											style="color: brown; font-weight: bold;" value="SEÇİNİZ!"></h:outputText>
										<h:outputText rendered="#{manuel.degerlendirme==1}"
											style="color: green; font-weight: bold;" value="KABUL"></h:outputText>
										<h:outputText rendered="#{manuel.degerlendirme==0}"
											value="RED"></h:outputText>
										<h:outputText rendered="#{manuel.degerlendirme==2}"
											style="color: red; font-weight: bold;" value="TAMİR"></h:outputText>
									</p:column>

									<p:column headerText="Tamir Gönderme Zamanı">
										<h:outputText
											value="#{manuel.testTahribatsizTamir.eklemeZamani}">
											<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
												timeZone="Europe/Istanbul" />
										</h:outputText>
									</p:column>

									<p:column headerText="Tamire Gönderen Kullanıcı">
										<h:outputText
											value="#{manuel.testTahribatsizTamir.user.employee.firstname} #{manuel.testTahribatsizTamir.user.employee.lastname}"></h:outputText>
									</p:column>

									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Tamir Sonrası Durum"></h:outputText>
										</f:facet>
										<h:outputText rendered="#{manuel.tamirSonrasiDurum==-1}"
											style="color: brown; font-weight: bold;" value="SEÇİNİZ!"></h:outputText>
										<h:outputText rendered="#{manuel.tamirSonrasiDurum==1}"
											style="color: green; font-weight: bold;" value="KABUL"></h:outputText>
										<h:outputText rendered="#{manuel.tamirSonrasiDurum==0}"
											style="color: red; font-weight: bold;" value="RED"></h:outputText>
									</p:column>

									<p:column headerText="Tamir Kabul Zamanı">
										<h:outputText value="#{manuel.tamirKabulZamani}">
											<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
												timeZone="Europe/Istanbul" />
										</h:outputText>
									</p:column>

									<p:column headerText="Tamiri Kabul Eden Kullanıcı">
										<h:outputText
											value="#{manuel.tamirKabulEmployee.employee.firstname} #{manuel.tamirKabulEmployee.employee.lastname}"></h:outputText>
									</p:column>
								</p:dataTable>

								<p:dataTable var="tamir" value="#{pipe.testTahribatsizTamirler}"
									rowKey="#{tamir.id}" sortOrder="descending">
									<f:facet name="header">
										<h:outputText value="DIŞ KUMLAMA"></h:outputText>
									</f:facet>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Eklenme Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{tamir.eklemeZamani}">
										</p:calendar>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Koordinat"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{tamir.testTahribatsizManuelUtSonuc.koordinatQ} x #{tamir.testTahribatsizManuelUtSonuc.koordinatL}"></h:outputText>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Durum"></h:outputText>
										</f:facet>
										<h:outputText rendered="#{tamir.durum==true}"
											style="color: green; font-weight: bold;"
											value="TAMİR TAMAMLANDI."></h:outputText>
										<h:outputText rendered="#{tamir.durum==false}"
											style="color: brown; font-weight: bold;"
											value="TAMİR BİTİRİLMEDİ."></h:outputText>
										<h:outputText rendered="#{tamir.durum==null}"
											style="color: red; font-weight: bold;"
											value="TAMİR BAŞLANMADI."></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Tamire Başlama Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{tamir.muayeneBaslamaZamani}">
										</p:calendar>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Tamire Başlayan Personel"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{tamir.muayeneBaslamaUser.firstname} #{tamir.muayeneBaslamaUser.lastname}"></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Tamiri Bitirme Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{tamir.muayeneBitisZamani}">
										</p:calendar>
									</p:column>
									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Tamiri Bitiren Personel"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{tamir.muayeneBitisUser.firstname} #{tamir.muayeneBitisUser.lastname}"></h:outputText>
									</p:column>
								</p:dataTable>

								<p:dataTable var="floroskopi"
									value="#{pipe.testTahribatsizFloroskopikSonuclar}"
									rowKey="#{floroskopi.id}" sortOrder="descending">
									<f:facet name="header">
										<h:outputText value="EPOKSİ KAPLAMA"></h:outputText>
									</f:facet>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Eklenme Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{floroskopi.eklemeZamani}">
										</p:calendar>
									</p:column>

									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Koordinat"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{floroskopi.koordinatQ} x #{floroskopi.koordinatL}"></h:outputText>
									</p:column>

									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Tamir/Kesim"></h:outputText>
										</f:facet>
										<h:outputText rendered="#{floroskopi.tamirKesim==-1}"
											style="color: brown; font-weight: bold;" value="SEÇİNİZ!"></h:outputText>
										<h:outputText rendered="#{floroskopi.tamirKesim==1}"
											style="color: green; font-weight: bold;" value="TAMİR"></h:outputText>
										<h:outputText rendered="#{floroskopi.tamirKesim==0}"
											value="KESİM"></h:outputText>
									</p:column>

									<p:column headerText="Tamir Gönderme Zamanı">
										<h:outputText
											value="#{floroskopi.testTahribatsizTamir.eklemeZamani}">
											<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
												timeZone="Europe/Istanbul" />
										</h:outputText>
									</p:column>

									<p:column headerText="Tamire Gönderen Kullanıcı">
										<h:outputText
											value="#{floroskopi.testTahribatsizTamir.user.employee.firstname} #{floroskopi.testTahribatsizTamir.user.employee.lastname}"></h:outputText>
									</p:column>

									<p:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Tamir Sonrası Durum"></h:outputText>
										</f:facet>
										<h:outputText rendered="#{floroskopi.result==-1}"
											style="color: brown; font-weight: bold;" value="SEÇİNİZ!"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==1}"
											style="color: green; font-weight: bold;" value="KABUL"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==0}"
											style="color: red; font-weight: bold;" value="RED"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==2}"
											style="color: red; font-weight: bold;" value="TAMİR"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==3}"
											style="color: red; font-weight: bold;" value="TORNA"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==4}"
											style="color: red; font-weight: bold;" value="KESİM"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==5}"
											style="color: red; font-weight: bold;" value="HİDROSTATİK"></h:outputText>
										<h:outputText rendered="#{floroskopi.result==6}"
											style="color: red; font-weight: bold;" value="GÖZ ÖLÇÜ"></h:outputText>
									</p:column>

									<p:column headerText="Tamir Kabul Zamanı">
										<h:outputText value="#{floroskopi.tamirKabulZamani}">
											<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
												timeZone="Europe/Istanbul" />
										</h:outputText>
									</p:column>

									<p:column headerText="Tamiri Kabul Eden Kullanıcı">
										<h:outputText
											value="#{floroskopi.tamirKabulEmployee.employee.firstname} #{floroskopi.tamirKabulEmployee.employee.lastname}"></h:outputText>
									</p:column>
								</p:dataTable>

								<p:dataTable var="kesim"
									value="#{pipe.testTahribatsizKesimSonuclar}"
									rowKey="#{kesim.id}" sortOrder="descending">
									<f:facet name="header">
										<h:outputText value="POLİETİLEN KAPLAMA"></h:outputText>
									</f:facet>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Eklenme Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{kesim.eklemeZamani}">
										</p:calendar>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Kesime Gönderen"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{kesim.user.employee.firstname} #{kesim.user.employee.lastname}"></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Kesime Başlama Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{kesim.eklemeZamani}">
										</p:calendar>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Kesime Başlayan Personel"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{kesim.muayeneBaslamaUser.employee.firstname} #{kesim.muayeneBaslamaUser.employee.lastname}"></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Kesim İşlemi Durumu"></h:outputText>
										</f:facet>

									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Kesim Bitiş Zamanı"></h:outputText>
										</f:facet>
										<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm"
											disabled="true" value="#{kesim.eklemeZamani}">
										</p:calendar>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Kesimi Yapan Kullanıcı"></h:outputText>
										</f:facet>
										<h:outputText
											value="#{kesim.muayeneBitisUser.employee.firstname} #{kesim.muayeneBitisUser.employee.lastname}"></h:outputText>
									</p:column>
									<p:column style="width:10%">
										<f:facet name="header">
											<h:outputText value="Açıklama"></h:outputText>
										</f:facet>
										<h:outputText value="#{kesim.aciklama}"></h:outputText>
									</p:column>
								</p:dataTable>

							</p:rowExpansion>

						</p:dataTable>

						<h:commandButton immediate="true" image="/large_icons/report.png"
							title="BORU TAKİP FORMU" value="BORU TAKİP FORMU" update="growl"
							action="#{testReportBean.boruTakipFormu(tahribatsizTestOrderListBean.selectedSalesItem)}">
						</h:commandButton>

					</h:form>
				</p:tab>

			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>