<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">
				<p:tab id="pipeEditTabId"
					title=" SİPARİŞ BORULARI BİLGİLERİ DÜZENLEME *** #{pipeEditBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{pipeEditBean.selectedPipe.salesItem.itemNo} / #{pipeEditBean.selectedPipe.salesItem.proposal.customer.shortName} / #{pipeEditBean.selectedPipe.salesItem.diameter}x#{pipeEditBean.selectedPipe.salesItem.thickness} / #{pipeEditBean.selectedPipe.salesItem.quality} / #{pipeEditBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{pipeEditBean.barkodNo}">
					</p:inputText>
					<p:commandButton value="BORU BUL"
						update="manuelUtPanelGridId manuelUtTestsDataTableId growl pipeTestsDataTableId toolbarGroupId manuelUtTestAddPanelGridId orderAccordionPanelId"
						process="@this inputBarkod"
						actionListener="#{pipeEditBean.fillTestListFromBarkod(pipeEditBean.barkodNo)}"
						icon="ui-icon-circle-plus" styleClass="foo">
					</p:commandButton>
					<p:dataTable id="datatablePipes" var="pipe"
						value="#{pipeEditBean.lazyModel}" tableStyle="width:100%;"
						paginator="true" rows="15" dynamic="true" widgetVar="data"
						rowKey="#{pipe.pipeId}" selection="#{pipeEditBean.selectedPipe}"
						selectionMode="single"
						paginatorTemplate="#{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

						<p:ajax event="rowEdit" listener="#{pipeEditBean.onRowEdit}"
							update=":form:msgs" />

						<f:facet name="header">
							<h:outputText value="#{language.ProducedPipes}" />
						</f:facet>

						<p:column style="width:2%">
							<f:facet name="header">
								<h:outputText value="Düzenle"></h:outputText>
							</f:facet>
							<p:rowEditor />
						</p:column>

						<p:column headerText="#{language.PipeNumber}" style="width:10%">
							<h:outputText
								value="#{pipe.salesItem.proposal.salesOrder.orderNo} / #{pipe.salesItem.itemNo} - #{pipe.pipeIndex}" />
						</p:column>

						<p:column headerText="Boru Barkod" sortBy="#{pipe.pipeBarkodNo}"
							filterBy="#{pipe.pipeBarkodNo}">
							<h:outputText value="#{pipe.pipeBarkodNo}" />
						</p:column>

						<p:column headerText="Rulo No" style="width:10%"
							sortBy="#{pipe.ruloPipeLink.rulo.ruloKimlikId}"
							filterBy="#{pipe.ruloPipeLink.rulo.ruloKimlikId}">
							<h:outputText
								value="#{pipe.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}" />
						</p:column>

						<p:column headerText="Döküm No" style="width:10%"
							sortBy="#{pipe.ruloPipeLink.rulo.ruloDokumNo}"
							filterBy="#{pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText value="#{pipe.ruloPipeLink.rulo.ruloDokumNo}" />
						</p:column>

						<!-- 						<p:column style="width:10%"> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="Üretim Tarihi"></h:outputText> -->
						<!-- 							</f:facet> -->
						<!-- 							<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm" -->
						<!-- 								disabled="true" value="#{pipe.productionDate}"> -->
						<!-- 							</p:calendar> -->
						<!-- 						</p:column> -->

						<!-- 						<p:column style="width:10%"> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="Sisteme Kayıt Tarihi"></h:outputText> -->
						<!-- 							</f:facet> -->
						<!-- 							<p:calendar disabled="true" value="#{pipe.eklemeZamani}"> -->
						<!-- 								<f:convertDateTime pattern="dd/MM/yyyy HH:mm" timeZone="GMT+2" /> -->
						<!-- 							</p:calendar> -->
						<!-- 						</p:column> -->

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Diameter}"></h:outputText>
							</f:facet>
							<h:outputText value="#{pipe.disCap}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Doğma Boy" />
							</f:facet>
							<p:cellEditor>
								<f:facet name="output">
									<h:outputText value="#{pipe.boy}" />
								</f:facet>
								<f:facet name="input">
									<p:inputText id="modelInput" value="#{pipe.boy}"
										style="width:100%" />
								</f:facet>
							</p:cellEditor>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Weight}"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{pipe.testTahribatsizGozOlcuSonuc.boruAgirlik}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="GÖ Boy"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{pipe.testTahribatsizGozOlcuSonuc.boruUzunluk}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Explanation}"></h:outputText>
							</f:facet>
							<h:outputText value="#{pipe.note}"></h:outputText>
						</p:column>

						<p:column style="text-align: center;">
							<f:facet name="header">
								<h:outputText value="Torna"></h:outputText>
							</f:facet>
							<p:graphicImage value="/small_icons/select.png"
								style="border:0px" rendered="#{pipe.testTahribatsizTorna.durum}">
							</p:graphicImage>
						</p:column>
						<p:column style="text-align: center;">
							<f:facet name="header">
								<h:outputText value="Hidrostatik"></h:outputText>
							</f:facet>
							<p:graphicImage value="/small_icons/select.png"
								style="border:0px"
								rendered="#{pipe.testTahribatsizHidrostatik.durum}">
							</p:graphicImage>
						</p:column>
						<p:column style="text-align: center;">
							<f:facet name="header">
								<h:outputText value="Göz Ölçü"></h:outputText>
							</f:facet>
							<p:graphicImage value="/small_icons/select.png"
								style="border:0px"
								rendered="#{pipe.testTahribatsizGozOlcuSonuc.result==1}">
							</p:graphicImage>
						</p:column>

						<p:column headerText="Band Eki">
							<p:graphicImage value="/small_icons/select.png"
								style="border:0px" rendered="#{pipe.bandEki==true}">
							</p:graphicImage>
						</p:column>

					</p:dataTable>
					<h:commandButton immediate="true" image="/large_icons/report.png"
						title="BORU TAKİP FORMU" value="BORU TAKİP FORMU" update="growl"
						action="#{testReportBean.boruTakipFormu(pipeEditBean.selectedPipe.salesItem)}">
					</h:commandButton>
					<h:commandButton immediate="true" image="/large_icons/report.png"
						title="BORU KİMLİK KARTI" value="BORU TAKİP FORMU" update="growl"
						action="#{testReportBean.fr199ReportXlsx(pipeEditBean.selectedPipe.pipeId)}">
					</h:commandButton>

				</p:tab>

			</p:accordionPanel>
			<p:growl id="growl" />

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>