<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Emek Boru</title>

	<f:facet name="last">
		<h:outputStylesheet library="css" name="style.css" />
	</f:facet>
	<!-- 	<link type="text/css" rel="stylesheet" href="styles/style.css" -->
	<!-- 		charset="UTF-8" /> -->
	<!-- 	<link type="text/css" rel="stylesheet" href="styles/mystyle.css" -->
	<!-- 		charset="UTF-8" /> -->

</h:head>

<h:body>
	<f:view locale="#{languageSelector.locale}" encoding="UTF-8">
		<h:form id="mainForm" prependId="false" enctype="multipart/form-data"
			rendered="#{userCredentialsBean.user.username != null}">
			<p:idleMonitor timeout="1200000" onidle="idleDialog.show()"
				onactive="">
				<p:ajax event="idle" listener="#{userCredentialsBean.logout}" />
			</p:idleMonitor>
			<p:dialog header="#{language.GIRISSURENIZDOLDU}!" resizable="false"
				widgetVar="idleDialog" modal="true" closable="false" width="400">
				<h:outputText value="#{language.LUTFENTEKRARGIRISYAPINIZ}!" />
			</p:dialog>

			<p:toolbar
				style="top:10px; width:1250px; margin-left:auto; margin-right:auto; position:relative;background-color:#FFFFFF;background-image:none;border-bottom:none;">

				<p:toolbarGroup align="left">
					<p:graphicImage value="/images/emek_logo.jpg" style="border:0px"></p:graphicImage>
				</p:toolbarGroup>
				<p:toolbarGroup align="right" style="margin-top: 5px;">
					<p:commandButton
						value="#{userCredentialsBean.user.employee.firstname} #{userCredentialsBean.user.employee.lastname} (#{userCredentialsBean.user.employee.department.name})"
						process="@this"
						actionListener="#{userCredentialsBean.goToMainPage}"></p:commandButton>
					<p:commandButton value="#{language.Logout}" process="@this"
						actionListener="#{userCredentialsBean.logout}"></p:commandButton>
					<p:commandButton value="English" update="mainForm" process="@this"
						actionListener="#{languageSelector.setEnglishLanguage}"></p:commandButton>
					<p:commandButton value="Türkçe" update="mainForm" process="@this"
						actionListener="#{languageSelector.setTurkishLanguage}"></p:commandButton>
				</p:toolbarGroup>
			</p:toolbar>

			<p:menubar id="menuId"
				style="top:10px; width:1248px; margin-left:auto; margin-right:auto; position:relative;border-top:none;"
				model="#{userCredentialsBean.user.userMenu}" />

			<p:layout fullPage="false" id="mainLayout"
				style="top:10px; bottom:20px; width:1250px;  margin:0; height:800px; margin-left:auto; margin-right:auto; position:relative">
				<p:layoutUnit position="center" resizable="true" collapsible="true">
					<ui:insert name="showPanel" />
				</p:layoutUnit>
				<p:messages showDetail="false" showSummary="true" id="messages" />
			</p:layout>
		</h:form>
	</f:view>
</h:body>
</html>