<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">

				<p:tab id="radyografikTabId"
					title=" GÜNLÜK RAPORLAR EKRANI *** #{dailyProductionReportBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{dailyProductionReportBean.selectedPipe.salesItem.itemNo} / #{dailyProductionReportBean.selectedPipe.salesItem.proposal.customer.shortName} / #{dailyProductionReportBean.selectedPipe.salesItem.diameter}x#{dailyProductionReportBean.selectedPipe.salesItem.thickness} / #{dailyProductionReportBean.selectedPipe.salesItem.quality} / #{dailyProductionReportBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value="BORU BARKOD OKUT" style="font-weight: bold;"></h:outputText>
					<p:inputText style="width:100px;" id="inputBarkod"
						value="#{dailyProductionReportBean.barkodNo}" />
					<h:outputLabel value="Makine Adı *:  " style="font-weight: bold;" />
					<p:selectOneMenu
						value="#{dailyProductionReportBean.selectedMachineId}"
						style="width: 180px" id="inputMachineId">
						<f:selectItem itemLabel="LÜTFEN MAKİNA SEÇİNİZ!" itemValue="" />
						<c:forEach
							items="#{machineDuruslarArizaBean.allUretimMachineList}"
							var="machine">
							<f:selectItem itemLabel="#{machine.name}"
								itemValue="#{machine.machineId}" />
						</c:forEach>
					</p:selectOneMenu>
					<!-- 					<h:outputLabel value="Vardiya *:  " style="font-weight: bold;" /> -->
					<!-- 					<p:selectOneMenu value="#{dailyProductionReportBean.raporVardiya}" -->
					<!-- 						style="width: 180px" id="inputVardiyaId"> -->
					<!-- 						<f:selectItem itemLabel="LÜTFEN VARDİYA SEÇİNİZ!" itemValue="" /> -->
					<!-- 						<f:selectItem itemLabel="GÜNDÜZ VARDİYASI" itemValue="1" /> -->
					<!-- 						<f:selectItem itemLabel="GECE VARDİYASI" itemValue="0" /> -->
					<!-- 						<f:selectItem itemLabel="TÜM VARDİYALAR" itemValue="2" /> -->
					<!-- 					</p:selectOneMenu> -->
					<p:commandButton value="TÜM SİPARİŞ BORULARI"
						update="growl orderAccordionPanelId"
						process="@this inputBarkod inputMachineId inputVardiyaId"
						actionListener="#{dailyProductionReportBean.fillTestListFromBarkod(dailyProductionReportBean.barkodNo,1)}"
						selection="#{dailyProductionReportBean.selectedPipe}"
						icon="ui-icon-circle-plus" styleClass="foo">
					</p:commandButton>

					<p:commandButton value="DÜN ÜRETİLMİŞ SİPARİŞ BORULARI"
						update="growl orderAccordionPanelId"
						process="@this inputBarkod inputMachineId inputVardiyaId"
						actionListener="#{dailyProductionReportBean.fillTestListFromBarkod(dailyProductionReportBean.barkodNo,-1)}"
						selection="#{dailyProductionReportBean.selectedPipe}"
						icon="ui-icon-circle-plus" styleClass="foo">
					</p:commandButton>

					<h:panelGrid border="0" columns="3" cellspacing="5"
						id="reportsPanelGridId">

						<h:commandButton immediate="true"
							action="#{dailyProductionReportBean.reportPackageXls()}"
							title="PAKET RAPOR" value="PAKET RAPOR">
						</h:commandButton>

						<h:commandButton immediate="true"
							action="#{dailyProductionReportBean.coilReportXls()}"
							title="ÜRETİMDE KULLANILAN RULOLAR"
							value="ÜRETİMDE KULLANILAN RULOLAR">
						</h:commandButton>

						<h:commandButton immediate="true"
							action="#{dailyProductionReportBean.consumablesReportXls(2)}"
							title="ÜRETİMDE KULLANILAN KAYNAK SARF MALZEMELERİ"
							value="ÜRETİMDE KULLANILAN KAYNAK SARF MALZEMELERİ">
						</h:commandButton>

						<h:commandButton immediate="true"
							action="#{dailyProductionReportBean.consumablesReportXls(1)}"
							title="İÇ KAYNAK PARAMETRELERİ" value="İÇ KAYNAK PARAMETRELERİ">
						</h:commandButton>

						<h:commandButton immediate="true"
							action="#{dailyProductionReportBean.consumablesReportXls(0)}"
							title="DIŞ KAYNAK PARAMETRELERİ" value="DIŞ KAYNAK PARAMETRELERİ">
						</h:commandButton>

						<h:commandButton immediate="true"
							action="#{dailyProductionReportBean.firstVisualReportXls()}"
							title="İLK GÖZ KONTROL RAPORU" value="İLK GÖZ KONTROL RAPORU"
							disabled="true">
						</h:commandButton>

						<h:commandButton immediate="true"
							action="#{dailyProductionReportBean.ultrasonicTestReportXls()}"
							title="ULTRASONİK TEST RAPORU" value="ULTRASONİK TEST RAPORU">
						</h:commandButton>

						<h:commandButton immediate="true"
							action="#{dailyProductionReportBean.repairWeldReportXls()}"
							title="KAYNAK TAMİRİ RAPORU" value="KAYNAK TAMİRİ RAPORU">
						</h:commandButton>

						<h:commandButton immediate="true"
							action="#{dailyProductionReportBean.manuelTestReportXls()}"
							title="MANUEL ULTRASONİK VE TAMİR BÖLGESİ MANYETİK KONTROLÜ MUAYENE RAPORU"
							value="MANUEL ULTRASONİK VE TAMİR BÖLGESİ MANYETİK KONTROLÜ MUAYENE RAPORU">
						</h:commandButton>

						<h:commandButton immediate="true"
							action="#{dailyProductionReportBean.hidroTestReportXls()}"
							title="HİDROSTATİK TEST RAPORU" value="HİDROSTATİK TEST RAPORU">
						</h:commandButton>

						<h:commandButton immediate="true"
							action="#{dailyProductionReportBean.floroskopicTestReportXls()}"
							title="FLOROSKOPİK KONTROL RAPORU"
							value="FLOROSKOPİK KONTROL RAPORU">
						</h:commandButton>

						<h:commandButton immediate="true"
							action="#{dailyProductionReportBean.offlineTestReportXls()}"
							title="OFFLINE VARDİYA RAPORU" value="OFFLINE VARDİYA RAPORU">
						</h:commandButton>

						<h:commandButton immediate="true"
							action="#{dailyProductionReportBean.ultrasonicTestReportXls()}"
							title="OFFLINE SONRASI MANUEL ULTRASONİK MUAYENE RAPORU"
							value="OFFLINE SONRASI MANUEL ULTRASONİK MUAYENE RAPORU"
							disabled="true">
						</h:commandButton>

						<h:commandButton immediate="true"
							action="#{dailyProductionReportBean.finalVisualReportXls()}"
							title="SON GÖZ RAPORU" value="SON GÖZ RAPORU">
						</h:commandButton>

						<h:commandButton immediate="true"
							action="#{dailyProductionReportBean.manyetikParcacikTestReportXls(1)}"
							title="KAYNAK AĞZI BOBİN MANYETİK PARTİKÜL MUAYENE RAPORU"
							value="KAYNAK AĞZI BOBİN MANYETİK PARTİKÜL MUAYENE RAPORU">
						</h:commandButton>

						<h:commandButton immediate="true"
							action="#{dailyProductionReportBean.manyetikParcacikTestReportXls(2)}"
							title="SONGÖZ TAŞLANMIŞ BÖLGE MANYETİK PARTİKÜL MUAYENE RAPORU"
							value="SONGÖZ TAŞLANMIŞ BÖLGE MANYETİK PARTİKÜL MUAYENE RAPORU">
						</h:commandButton>
					</h:panelGrid>
				</p:tab>
			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>