<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel id="departmentAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="departmentAccorditionPanelWidget">
				<c:forEach items="#{departmentListBean.departmentList}"
					var="department">
					<p:tab title="#{department.name} ">
						<p:panel style="width:100%" header=" ">
							<h:panelGrid border="0" cellspacing="5" columns="2"
								style="width:100%">
								<h:outputLabel value="#{language.Department} #{language.id}:  " />
								<h:outputText value="#{department.departmentId}"></h:outputText>
								<h:outputLabel value="#{language.Name}:  " />
								<h:outputText value="#{department.name}"></h:outputText>
								<h:outputLabel value="#{language.Address}:  " />
								<h:outputText value="#{department.address}"></h:outputText>
								<h:outputLabel value="#{language.City}:  " />
								<h:outputText value="#{department.city}"></h:outputText>
								<h:outputLabel value="#{language.Country}:  " />
								<h:outputText value="#{department.ulkeler.ulkeIsmi}"></h:outputText>
								<h:outputLabel value="#{language.PhoneNumber}:  " />
								<h:outputText value="#{department.phoneNumber}"></h:outputText>
								<h:outputLabel value="#{language.eMail}:  " />
								<h:outputText value="#{department.email}"></h:outputText>
								<h:outputLabel value="#{language.Description}:  " />
								<p:inputTextarea value="#{department.description}" rows="5"
									style="width:125px" readonly="true" autoResize="false" cols="5"
									maxHeight="5"></p:inputTextarea>
								<h:outputLabel value="#{language.BolumMuduru}:  " />
								<h:outputText
									value="#{department.departmentManagerEmployee.firstname} #{department.departmentManagerEmployee.lastname}"></h:outputText>
							</h:panelGrid>

							<h:panelGrid border="0" columns="5">
								<p:commandLink
									rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].departmentP >= 2}"
									title="#{language.Edit}"
									update="viewDepartmentPanelId employeeListDataTableId departmentMessages deleteDepartmentPanelId"
									process="departmentAccordionPanelId"
									action="#{departmentBean.viewDepartmentDetails(department)}">
									<p:graphicImage value="/large_icons/details.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
								<p:commandLink
									rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].departmentP >= 2}"
									title="#{language.User}" process="departmentAccordionPanelId"
									update="employeeListDataTableId viewDepartmentPanelId departmentMessages"
									action="#{departmentBean.loadDepartmentEmployeeList(department)}">
									<p:graphicImage value="/large_icons/users.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</p:panel>
					</p:tab>
				</c:forEach>
			</p:accordionPanel>
		</ui:define>

		<!-- DEPARTMENT MANAGE -->
		<ui:define name="showPanel">
			<p:panel
				header="#{language.Department}: #{departmentBean.currentDepartment.name}"
				id="viewDepartmentPanelId" widgetVar="viewDepartmentPanelWidget">
				<h:panelGrid border="0" cellspacing="5" columns="2"
					style="width:100%" id="viewDepartmentPanelGridId">
					<h:outputLabel value="#{language.Name} *:" />
					<p:inputText value="#{departmentBean.currentDepartment.name}"
						maxlength="40" required="true" readonly="true"
						requiredMessage="#{language.RequiredMessage}">
					</p:inputText>

					<h:outputLabel value="#{language.Description} *:  " />
					<p:inputTextarea maxLength="150" rows="5" readonly="true"
						value="#{departmentBean.currentDepartment.description}"
						autoResize="false" cols="5" maxHeight="5" required="true"
						requiredMessage="#{language.RequiredMessage}" style="width:125px"></p:inputTextarea>

					<h:outputLabel value="#{language.Address} :" />
					<p:inputTextarea rows="5" autoResize="false" style="width:125px"
						value="#{departmentBean.currentDepartment.address}"
						maxlength="100" readonly="true"></p:inputTextarea>

					<h:outputLabel value="#{language.City} :" />
					<p:inputText value="#{departmentBean.currentDepartment.city}"
						maxlength="25" readonly="true"></p:inputText>

					<h:outputLabel value="#{language.Country} :" />
					<p:inputText
						value="#{departmentBean.currentDepartment.ulkeler.ulkeIsmi}"
						maxlength="30" readonly="true"></p:inputText>

					<h:outputLabel value="#{language.PostalCode} :" />
					<p:inputText value="#{departmentBean.currentDepartment.postalCode}"
						maxlength="6" readonly="true"></p:inputText>

					<h:outputLabel value="#{language.PhoneNumber} :" />
					<h:outputLabel readonly="true"
						value="#{departmentBean.currentDepartment.phoneNumber}"
						maxlength="14"></h:outputLabel>

					<h:outputLabel value="#{language.FaxNumber} :" />
					<h:outputLabel
						value="#{departmentBean.currentDepartment.faxNumber}"
						maxlength="14" readonly="true"></h:outputLabel>

					<h:outputLabel value="#{language.eMail} :" />
					<h:outputLabel value="#{departmentBean.currentDepartment.email}"
						maxlength="40" readonly=""></h:outputLabel>

					<h:outputLabel value="#{language.BolumMuduru} :" />
					<h:outputLabel
						value="#{departmentBean.currentDepartment.departmentManagerEmployee.firstname} #{departmentBean.currentDepartment.departmentManagerEmployee.lastname}" />
				</h:panelGrid>

				<h:panelGrid border="0" columns="5" cellspacing="5"
					rendered="#{departmentBean.currentDepartment.departmentId != null}">
					<p:commandLink
						rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].departmentP >= 4}"
						title="#{language.Update}" process="@this viewDepartmentPanelId"
						oncomplete="updateDepartmentDialogWidget.show()"
						update="updateDepartmentPanelId">
						<p:graphicImage value="/large_icons/update.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:commandLink
						rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].departmentP >= 5}"
						update="deleteDepartmentPanelId"
						process="@this viewDepartmentPanelId" title="#{language.Delete}"
						onclick="deleteDepartmentConfirmDialogWidget.show()">
						<p:graphicImage value="/large_icons/delete.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
			</p:panel>

			<p:dataTable var="employee" widgetVar="employeeListDataTableWidget"
				id="employeeListDataTableId" rowKey="#{employee.employeeId}"
				value="#{departmentBean.currentDepartment.employees}"
				paginator="true" rows="20"
				selection="#{departmentBean.selectedEmployee}"
				selectionMode="single" emptyMessage="#{language.EmptyMessage}"
				paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.Name}"></h:outputText>
					</f:facet>
					<h:outputText value="#{employee.firstname} #{employee.lastname}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.Status}"></h:outputText>
					</f:facet>
					<p:selectOneMenu value="#{employee.active}" style="width: 140px"
						disabled="true">
						<f:selectItem itemValue="true" itemLabel="#{language.Active}" />
						<f:selectItem itemValue="false" itemLabel="#{language.NonActive}" />
					</p:selectOneMenu>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.DateOfBirth}"></h:outputText>
					</f:facet>
					<p:calendar autocomplete="false"
						pattern="#{userCredentialsBean.dateFormat}"
						value="#{employee.dateOfBirth}" disabled="true"></p:calendar>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.StartDate}"></h:outputText>
					</f:facet>
					<p:calendar autocomplete="false"
						pattern="#{userCredentialsBean.dateFormat}"
						value="#{employee.startDate}" disabled="true"></p:calendar>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.EndDate}"></h:outputText>
					</f:facet>
					<p:calendar autocomplete="false"
						pattern="#{userCredentialsBean.dateFormat}"
						value="#{employee.endDate}" disabled="true"></p:calendar>
				</p:column>
			</p:dataTable>

			<!-- DELETE DEPARTMENT SECTION -->
			<p:dialog id="deleteDepartmentConfirmDialogId" draggable="true"
				widgetVar="deleteDepartmentConfirmDialogWidget" closable="true"
				maximizable="true" header="#{language.Delete}" dynamic="true">
				<p:panel style="min-width:600px"
					header="#{language.Delete}: #{departmentBean.currentDepartment.name}"
					id="deleteDepartmentPanelId">
					<h:panelGrid border="0" columns="2" style="width:100%">
						<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
					</h:panelGrid>

					<h:panelGrid border="0" columns="3">
						<p:commandLink
							update="departmentMessages departmentAccordionPanelId viewDepartmentPanelId"
							process="@this viewDepartmentPanelId" title="#{language.Delete}"
							actionListener="#{departmentBean.deleteDepartment}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>

						<p:commandLink title="#{language.Cancel}" immediate="true"
							onclick="deleteDepartmentConfirmDialogWidget.hide()">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
				</p:panel>
			</p:dialog>

			<!-- UPDATE DEPARTMENT SECTION -->
			<p:dialog id="updateDepartmentDialogId" draggable="true"
				widgetVar="updateDepartmentDialogWidget" closable="true"
				maximizable="true" header="#{language.Update}"
				style="min-width:600px" dynamic="true">
				<p:panel
					header="#{language.Department}: #{departmentBean.currentDepartment.name}"
					id="updateDepartmentPanelId">
					<h:panelGrid border="0" cellspacing="5" columns="2"
						style="width:100%">

						<h:outputLabel value="#{language.Name} *:" />
						<p:inputText value="#{departmentBean.currentDepartment.name}"
							maxlength="40" required="true"
							requiredMessage="#{language.RequiredMessage}">
						</p:inputText>

						<h:outputLabel value="#{language.Description} *:  " />
						<p:inputTextarea maxLength="150" rows="5"
							value="#{departmentBean.currentDepartment.description}"
							autoResize="false" cols="5" maxHeight="5" required="true"
							requiredMessage="#{language.RequiredMessage}" style="width:125px"></p:inputTextarea>

						<h:outputLabel value="#{language.Address} :" />
						<p:inputTextarea rows="5" autoResize="false" style="width:125px"
							value="#{departmentBean.currentDepartment.address}"
							maxlength="100"></p:inputTextarea>

						<h:outputLabel value="#{language.City} :" />
						<p:inputText value="#{departmentBean.currentDepartment.city}"
							maxlength="25"></p:inputText>

						<h:outputLabel value="#{language.Country} :" />
						<p:selectOneMenu layout="lineDirection" style="width: 140px"
							value="#{departmentBean.currentDepartment.ulkeler.id}"
							required="true" requiredMessage="#{language.RequiredMessage}">
							<c:forEach items="#{ulkelerBean.allUlkelerList}" var="ulke">
								<f:selectItem itemValue="#{ulke.id}"
									itemLabel="#{ulke.ulkeIsmi}"></f:selectItem>
							</c:forEach>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.PostalCode} :" />
						<p:inputText
							value="#{departmentBean.currentDepartment.postalCode}"
							maxlength="6"></p:inputText>

						<h:outputLabel value="#{language.PhoneNumber} :" />
						<p:inputText
							value="#{departmentBean.currentDepartment.phoneNumber}"
							maxlength="14"></p:inputText>

						<h:outputLabel value="#{language.FaxNumber} :" />
						<p:inputText value="#{departmentBean.currentDepartment.faxNumber}"
							maxlength="14"></p:inputText>

						<h:outputLabel value="#{language.eMail} :" />
						<p:inputText value="#{departmentBean.currentDepartment.email}"
							maxlength="40"></p:inputText>

						<h:outputLabel value="#{language.BolumMuduru} :" />
						<p:autoComplete
							value="#{departmentBean.currentDepartment.departmentManagerEmployee}"
							id="basicPojoAlanGiris"
							completeMethod="#{autoCompleteBean.autoCompleteEmployee}" var="e"
							itemLabel="#{e.employeeId} - #{e.firstname} #{e.lastname}"
							itemValue="#{e}" converter="employeeConverter"
							forceSelection="false" minQueryLength="3" />
					</h:panelGrid>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						rendered="#{departmentBean.currentDepartment.departmentId != null}">
						<p:commandLink title="#{language.Update}"
							process="@this viewDepartmentPanelId"
							update="updateDepartmentMessages departmentAccordionPanelId viewDepartmentPanelId"
							actionListener="#{departmentBean.updateDepartment}">
							<p:graphicImage value="/large_icons/update.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>

						<p:commandLink update="deleteDepartmentPanelId" process="@this"
							title="#{language.Cancel}" immediate="true"
							onclick="updateDepartmentDialogWidget.hide()">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
				</p:panel>
				<p:messages id="updateDepartmentMessages"></p:messages>
			</p:dialog>
			<p:messages id="departmentMessages"></p:messages>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>