<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel id="departmentAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="departmentAccorditionPanelWidget">
				<c:forEach items="#{departmentListBean.departmentList}"
					var="department">
					<p:tab title="#{department.name} ">
						<p:panel style="width:100%" header=" ">
							<h:panelGrid border="0" cellspacing="5" columns="2"
								style="width:100%">
								<h:outputLabel value="#{language.Department} #{language.id}:  " />
								<h:outputText value="#{department.departmentId}"></h:outputText>

								<h:outputLabel value="#{language.Name}:  " />
								<h:outputText value="#{department.name}"></h:outputText>

								<h:outputLabel value="#{language.Address}:  " />
								<h:outputText value="#{department.address}"></h:outputText>

								<h:outputLabel value="#{language.City}:  " />
								<h:outputText value="#{department.city}"></h:outputText>

								<h:outputLabel value="#{language.Country}:  " />
								<h:outputText value="#{department.ulkeler.ulkeIsmi}"></h:outputText>

								<h:outputLabel value="#{language.PhoneNumber}:  " />
								<h:outputText value="#{department.phoneNumber}"></h:outputText>

								<h:outputLabel value="#{language.eMail}:  " />
								<h:outputText value="#{department.email}"></h:outputText>

								<h:outputLabel value="#{language.Description}:  " />
								<p:inputTextarea value="#{department.description}" rows="5"
									style="width:125px" readonly="true" autoResize="false" cols="5"
									maxHeight="5"></p:inputTextarea>

								<h:outputLabel value="#{language.BolumMuduru}:  " />
								<h:outputText
									value="#{department.departmentManagerEmployee.firstname} #{department.departmentManagerEmployee.lastname}"></h:outputText>
							</h:panelGrid>
						</p:panel>
					</p:tab>
				</c:forEach>
			</p:accordionPanel>
		</ui:define>

		<!-- DEPARTMENT NEW -->
		<ui:define name="showPanel">
			<p:panel header="#{language.New} #{language.Department}"
				id="addDepartmentPanelId">
				<h:panelGrid border="0" cellspacing="5" columns="2"
					style="width:100%" id="addDepartmentPanelGridId">
					<h:outputLabel value="#{language.Name} *:" />
					<p:inputText value="#{departmentBean.newDepartment.name}"
						maxlength="40" required="true"
						requiredMessage="#{language.RequiredMessage}">
					</p:inputText>

					<h:outputLabel value="#{language.Description} *:  " />
					<p:inputTextarea
						value="#{departmentBean.newDepartment.description}"
						autoResize="false" cols="5" maxHeight="5" required="true" rows="5"
						requiredMessage="#{language.RequiredMessage}" style="width:125px"></p:inputTextarea>

					<h:outputLabel value="#{language.Address} :" />
					<p:inputTextarea value="#{departmentBean.newDepartment.address}"
						maxlength="100" autoResize="false" style="width:125px" rows="5"></p:inputTextarea>

					<h:outputLabel value="#{language.City} :" />
					<p:inputText value="#{departmentBean.newDepartment.city}"
						maxlength="25"></p:inputText>

					<h:outputLabel value="#{language.Country} :" />
					<p:selectOneMenu layout="lineDirection" style="width: 140px"
						value="#{departmentBean.newDepartment.ulkeler.id}" required="true"
						requiredMessage="#{language.RequiredMessage}">
						<c:forEach items="#{ulkelerBean.allUlkelerList}" var="ulke">
							<f:selectItem itemValue="#{ulke.id}" itemLabel="#{ulke.ulkeIsmi}"></f:selectItem>
						</c:forEach>
					</p:selectOneMenu>

					<h:outputLabel value="#{language.PostalCode} :" />
					<p:inputText value="#{departmentBean.newDepartment.postalCode}"
						maxlength="5"></p:inputText>

					<h:outputLabel value="#{language.PhoneNumber} :" />
					<p:inputText value="#{departmentBean.newDepartment.phoneNumber}"
						maxlength="14"></p:inputText>

					<h:outputLabel value="#{language.FaxNumber} :" />
					<p:inputText value="#{departmentBean.newDepartment.faxNumber}"
						maxlength="14"></p:inputText>

					<h:outputLabel value="#{language.eMail} :" />
					<p:inputText value="#{departmentBean.newDepartment.email}"
						maxlength="40"></p:inputText>

					<h:outputLabel value="#{language.BolumMuduru} :" />
					<p:autoComplete
						value="#{departmentBean.newDepartment.departmentManagerEmployee}"
						id="basicPojoAlanGiris"
						completeMethod="#{autoCompleteBean.autoCompleteEmployee}" var="e"
						itemLabel="#{e.employeeId} - #{e.firstname} #{e.lastname}"
						itemValue="#{e}" converter="employeeConverter"
						forceSelection="false" minQueryLength="3" />
				</h:panelGrid>

				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandLink title="#{language.Submit}"
						update="addDepartmentPanelId departmentAccordionPanelId departmentMessages"
						actionListener="#{departmentBean.addDepartment}">
						<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:commandLink update="departmentMessages addDepartmentPanelId"
						process="@this" title="#{language.Cancel}" immediate="true"
						actionListener="#{departmentBean.cancelDepartmentSubmittion}">
						<p:graphicImage value="/large_icons/cancel.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
			</p:panel>
			<p:messages id="departmentMessages"></p:messages>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>