<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget"
				binding="#{salesItemBean.accordionPanel}">
				<p:tab id="salesTabId" title="Şipariş ve Sipariş Kalemleri">

					<p:dataTable var="salesOrders" id="orderTable"
						value="#{salesOrderBean.orderList}"
						rowKey="#{salesOrders.orderId}"
						selection="#{salesOrderBean.selectedOrder}" selectionMode="single"
						update="orderSelected" paginator="true" rows="13"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesOrderBean.filteredList}">

						<p:ajax event="rowSelect"
							update="orderSelected,orderPanel,itemPanel,itemsTable"
							listener="#{salesMenuBean.showManageType1Menu}" />

						<p:ajax event="rowSelect"
							listener="#{qualitySpecBean.producedPipes}"
							process="listForm:orderTable orderTable"
							update="pipeForm producedPipesDataTableId salesTabId" />
						<p:ajax event="rowSelect" update="orderAccordionPanelId">
						</p:ajax>
						<p:ajax event="rowSelect" update="onceTabId">
						</p:ajax>

						<p:ajax event="rowSelect"
							listener="#{salesItemBean.activeIndex(0)}"
							update="orderAccordionPanelId:listOnceForm:datatableOnce orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
				  #{language.salesOrder}				
							<h:commandLink title="#{language.salesExcelExport}"
								immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="orderTable"
									fileName="#{language.salesOrderExcel}" />
							</h:commandLink>
						</f:facet>

						<p:column sortBy="#{salesOrders.salesOrderNo}"
							filterBy="#{salesOrders.orderNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText value="#{salesOrders.orderNo}" />
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.proposalNumber}"
							filterBy="#{salesOrders.proposal.proposalNumber}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesProposalNumber}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.proposalNumber}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.customer.shortName}"
							filterBy="#{salesOrders.proposal.customer.shortName}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesCustomer}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.customer.shortName}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.requestDate}"
							filterBy="#{salesOrders.proposal.requestDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesRequestDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.requestDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.formDate}"
							filterBy="#{salesOrders.proposal.formDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesFormDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.postDate}"
							filterBy="#{salesOrders.proposal.postDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesPostDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.postDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="salesItems" id="itemsTable"
						value="#{salesItemBean.itemsOfSelectedOrder}"
						rowKey="#{salesItems.itemId}"
						selection="#{isTakipFormuBetonKaplamaBean.selectedItem}"
						selectionMode="single" emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesItemBean.filteredList}">

						<p:ajax event="rowSelect"
							listener="#{salesItemBean.activeIndex(1)}"
							update="orderAccordionPanelId:listOnceForm:datatableOnce orderAccordionPanelId">
						</p:ajax>

						<p:ajax event="rowSelect"
							listener="#{isTakipFormuBetonKaplamaBean.loadSelectedTakipForm}"
							update="orderAccordionPanelId:listOnceForm:datatableOnce orderAccordionPanelId growl">
						</p:ajax>

						<f:facet name="header">
				  #{language.salesItem}			
							<h:commandLink title="#{language.salesExcelExport}"
								immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="itemsTable"
									fileName="#{language.salesOrderItemExcel}" />
							</h:commandLink>
							<p:spacer width="5120" height="5" />
						</f:facet>

						<p:column sortBy="#{salesItems.No}"
							filterBy="#{salesItems.itemNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesNumber}" />
							</f:facet>
							<h:outputText value="#{salesItems.itemNo}" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}"
							filterBy="#{salesItems.diameter}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.diameter}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.quality}"
							filterBy="#{salesItems.thickness}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesThickness}" />
							</f:facet>
							<h:outputText value="#{salesItems.thickness}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}"
							filterBy="#{salesItems.quality}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesQuality}" />
							</f:facet>
							<h:outputText value="#{salesItems.quality}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.pipeLength}"
							filterBy="#{salesItems.pipeLength}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesPipeLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.pipeLength}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalLengthM}"
							filterBy="#{salesItems.totalLengthM}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalLengthM}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.unitWeight}"
							filterBy="#{salesItems.unitWeight}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesUnitWeight}" />
							</f:facet>
							<h:outputText value="#{salesItems.unitWeight}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalTonnage}"
							filterBy="#{salesItems.totalTonnage}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalTonnage}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalTonnage}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.manufacturingStandard}"
							filterBy="#{salesItems.manufacturingStandard}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.manufacturingStandard}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.transportation}"
							filterBy="#{salesItems.transportation}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesManufacturingStandard}" />
							</f:facet>
							<h:outputText value="#{salesItems.transportation}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText value="#{salesOrderBean.selectedOrder.orderNo}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesProposalNumber}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.proposalNumber}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesCustomer}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.customer.shortName}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesRequestDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.requestDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesFormDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPostDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.postDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesValidityPeriod}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.validityPeriod}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPrepaidBy}" />
							</f:facet>
							<c:forEach items="#{salesItems.proposal.employeeList}"
								var="salesList">
								<h:outputText
									value="#{salesList.firstname} #{salesList.lastname}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								-
								<h:outputText value="#{salesList.amount}"
									converter="salesNumberConverter" />
								<h:outputText value=" " />
							</c:forEach>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesApproval}1" />
							</f:facet>
							<h:outputText rendered="#{salesItems.proposal.approval1 == true}"
								value="#{language.salesApproved}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesApproval}2" />
							</f:facet>
							<h:outputText rendered="#{salesItems.proposal.approval2 == true}"
								value="#{language.salesApproved}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesCurrencyUnit}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.currencyUnit.name}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesProposalRequestedDocuments}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.requestedDocuments}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesNotes}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.notes}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderFormDate}" />
							</f:facet>
							<h:outputText value="#{salesOrderBean.selectedOrder.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderDeliveryDate}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.deliveryDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope1}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope1 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope2}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope2 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope3}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope3 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope4}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope4 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope5}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope5 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderTransportationApproximateAmount}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountForTransportation}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderTransportationApproximateAmountDetail}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountDetailForTransportation}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderApproximateAmount}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmount}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderApproximateAmountDetail}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountDetail}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPayments}" />
							</f:facet>
							<c:forEach items="#{salesPaymentBean.paymentsOfSelectedOrder}"
								var="salesList">
								<h:outputText value="(" />
								<h:outputText value="#{salesList.paymentDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								-
								<h:outputText value="#{salesList.amount}"
									converter="salesNumberConverter" />
								<h:outputText value=") " />
							</c:forEach>
						</p:column>

					</p:dataTable>
				</p:tab>

				<p:tab id="onceTabId" title="İşe Başlamadan Yapılacak İşlemler"
					rendered="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplama.id!=null}">
					<h:form id="listOnceForm">

						<h:panelGrid columns="5" style="width:100%" id="oncePanelGridId">

							<h:outputLabel value=" " style="font-weight: bold" />
							<h:outputText value="#{language.ACIKLAMALAR} "
								style="font-weight: bold" />
							<h:outputText value="#{language.BUTCEKODU} "
								style="font-weight: bold" />
							<h:outputLabel value="TARİH" style="font-weight: bold" />
							<h:outputLabel value="İSİM" style="font-weight: bold" />

							<h:outputLabel
								value="İşin yapılmasında iç kumlama tezgahında herhangi bir engel yoktur."
								style="font-weight: bold" />
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.engelYokAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.engelYokCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="İç kumlama olacak boruların listesi İç Kumlama tezgah operatörüne bildirilmiştir."
								style="font-weight: bold" />
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.boruListesiAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.boruListesiCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="İşte kullanılacak aşındırıcı malzeme cinsi İç Kumlama tezgah operatörüne bildirilmiştir."
								style="font-weight: bold" />
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.malzemeAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.malzemeCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="İş için gerekli tezgah parametreleri başta tezgah şefi olmak üzere tüm tezgah çalışanlarına bildirilmiştir."
								style="font-weight: bold" />
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.parametreAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.parametreCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="İş için tezgah ayarını ön görülen tamamlanma süresi #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.ongorulenAyarSuresi} dakikadır."
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.ongorulenAyarAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.ongorulenAyarCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Gerçekleşen ayar süresi #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.gerceklesenAyarSuresi} dakikadır."
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.gerceklesenAyarAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.gerceklesenAyarCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

						</h:panelGrid>
						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="betonKaplamaOnceAddPanelGridId">

							<p:commandButton value="İŞ TAKİP FORMU EKLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="onceDialogWidget.show()" icon="ui-icon-circle-plus"
								disabled="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncelleyenEmployee!=null}">
							</p:commandButton>
							<p:commandButton value="İŞ TAKİP FORMU GÜNCELLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="onceDialogWidget.show()" icon="ui-icon-circle-plus"
								disabled="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.guncelleyenEmployee==null}">
							</p:commandButton>
							<p:commandButton
								actionListener="#{isTakipFormuBetonKaplamaBean.deleteSelectedIsTakipFormuBetonKaplamaOnceIslemler}"
								update="growl orderAccordionPanelId" process="@this"
								icon="ui-icon-trash" value="İŞ TAKİP FORMU SİL" rendered="false">
							</p:commandButton>
						</h:panelGrid>

					</h:form>

				</p:tab>

				<p:tab id="sonraTabId"
					title="Ayar Bittikten Sonra Yapılacak İşlemler"
					rendered="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplama.id!=null}">

					<h:form id="listSonraForm">

						<h:panelGrid columns="5" style="width:100%">

							<h:outputLabel value=" " style="font-weight: bold" />
							<h:outputText value="#{language.ACIKLAMALAR} "
								style="font-weight: bold" />
							<h:outputText value="#{language.BUTCEKODU} "
								style="font-weight: bold" />
							<h:outputLabel value="TARİH" style="font-weight: bold" />
							<h:outputLabel value="İSİM" style="font-weight: bold" />

							<h:outputLabel
								value="Ayar bittikten sonra alınan ilk boru ( Boru No : #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.ayarSonrasiIlkBoruId} ) yaş kalınlığı ölçüldü ve yüzey kontrolünden geçti, sonuç olumlu"
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.ayarSonrasiIlkBoruYasKalinlikAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.ayarSonrasiIlkBoruYasKalinlikCheck}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Ayar bittikten sonra alınan ilk boru ( Boru No : #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.ayarSonrasiIlkBoruBetonKalinlikBoruId} )"
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.ayarSonrasiIlkBoruBetonKalinlikAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.ayarSonrasiIlkBoruYasKalinlikCheck}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Beton Yaş Kalınlığı : #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.ayarSonrasiIlkBoruBetonKalinlik}"
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.ayarSonrasiIlkBoruBetonKalinlikAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.ayarSonrasiIlkBoruBetonKalinlikCheck}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Beton Hızı kontrol edildi. (#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.betonHizi} Planlanan kaplama hızı ile karşılaştırıldı."
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.betonHiziAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.betonHiziCheck}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

						</h:panelGrid>

						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="icKumlamaSonraAddPanelGridId">

							<p:commandButton value="İŞ TAKİP FORMU EKLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="sonraDialogWidget.show()" icon="ui-icon-circle-plus"
								actionListener="#{salesItemBean.activeIndex(2)}"
								disabled="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncelleyenEmployee!=null}">
							</p:commandButton>
							<p:commandButton value="İŞ TAKİP FORMU GÜNCELLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="sonraDialogWidget.show()" icon="ui-icon-circle-plus"
								actionListener="#{salesItemBean.activeIndex(2)}"
								disabled="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncelleyenEmployee==null}">
							</p:commandButton>
							<p:commandButton
								actionListener="#{isTakipFormuBetonKaplamaBean.deleteSelectedIsTakipFormuBetonKaplamaSonraIslemler}"
								update="growl" process="@this" icon="ui-icon-trash"
								value="İŞ TAKİP FORMU SİL" rendered="false">
							</p:commandButton>
						</h:panelGrid>

					</h:form>

				</p:tab>

				<p:tab id="bitinceTabId" title="Üretim Bitince Yapılacak İşlemler"
					rendered="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplama.id!=null}">

					<h:form id="listBitinceForm">

						<h:panelGrid columns="2" style="width:30%">

							<h:outputLabel value=" Hedeflenen malzeme sarfiyatı : "
								style="font-weight: bold" />
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.hedeflenenSarfiyat}"
								style="font-weight: bold"> kg/m2</h:outputLabel>
							<h:outputLabel value=" KUM : " style="font-weight: bold" />
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.hedeflenenSarfiyatKum}"
								style="font-weight: bold"> kg/m2</h:outputLabel>
							<h:outputLabel value=" ÇİMENTO : " style="font-weight: bold" />
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.hedeflenenSarfiyatCimento}"
								style="font-weight: bold"> kg/m2</h:outputLabel>
							<h:outputLabel value=" SU : " style="font-weight: bold" />
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.hedeflenenSarfiyatSu}"
								style="font-weight: bold"> kg/m2</h:outputLabel>
							<h:outputLabel value=" KATKI : " style="font-weight: bold" />
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.hedeflenenSarfiyatKatki}"
								style="font-weight: bold"> kg/m2</h:outputLabel>

							<h:outputLabel value="Gerçekleşen malzeme sarfiyatı : "
								style="font-weight: bold" />
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.gerceklesenSarfiyat}"
								style="font-weight: bold"> kg/m2</h:outputLabel>
							<h:outputLabel value="KUM : " style="font-weight: bold" />
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.gerceklesenSarfiyatKum}"
								style="font-weight: bold"> kg/m2</h:outputLabel>
							<h:outputLabel value="ÇİMENTO : " style="font-weight: bold" />
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.gerceklesenSarfiyatCimento}"
								style="font-weight: bold"> kg/m2</h:outputLabel>
							<h:outputLabel value="SU : " style="font-weight: bold" />
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.gerceklesenSarfiyatSu}"
								style="font-weight: bold"> kg/m2</h:outputLabel>
							<h:outputLabel value="KATKI : " style="font-weight: bold" />
							<h:outputLabel
								value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.gerceklesenSarfiyatKatki}"
								style="font-weight: bold"> kg/m2</h:outputLabel>

						</h:panelGrid>

						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="betonKaplamaBitinceAddPanelGridId">

							<p:commandButton value="İŞ TAKİP FORMU EKLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="bitinceDialogWidget.show()" icon="ui-icon-circle-plus"
								actionListener="#{salesItemBean.activeIndex(3)}"
								disabled="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.guncelleyenEmployee!=null}">
							</p:commandButton>
							<p:commandButton value="İŞ TAKİP FORMU GÜNCELLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="bitinceDialogWidget.show()" icon="ui-icon-circle-plus"
								actionListener="#{salesItemBean.activeIndex(3)}"
								disabled="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.guncelleyenEmployee==null}">
							</p:commandButton>
							<p:commandButton
								actionListener="#{isTakipFormuBetonKaplamaBean.deleteSelectedIsTakipFormuKumlamaBitinceIslemler}"
								update="growl pipeTestsDataTableId" process="@this"
								icon="ui-icon-trash" value="İŞ TAKİP FORMU SİL" rendered="false">
							</p:commandButton>
						</h:panelGrid>
					</h:form>
				</p:tab>

				<!-- Beton Kaplama -->
				<p:tab id="betonKaplamaTabId"
					title=" BETON KAPLAMA EKRANI - #{isTakipFormuBetonKaplamaBean.selectedItem.proposal.salesOrder.orderNo}/#{isTakipFormuBetonKaplamaBean.selectedItem.itemNo} - #{isTakipFormuBetonKaplamaBean.selectedItem.proposal.customer.shortName}"
					titleStyle="font-weight: bold;font-size: 16pt;"
					rendered="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplama.id!=null}">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"
						rendered="#{isTakipFormuBetonKaplamaDevamIslemlerBean.buttonRender}"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{isTakipFormuBetonKaplamaDevamIslemlerBean.barkodNo}"
						rendered="#{isTakipFormuBetonKaplamaDevamIslemlerBean.buttonRender}">
					</p:inputText>
					<p:commandButton value="Boru Bul"
						rendered="#{isTakipFormuBetonKaplamaDevamIslemlerBean.buttonRender}"
						actionListener="#{isTakipFormuBetonKaplamaDevamIslemlerBean.fillTestListFromBarkod(isTakipFormuBetonKaplamaDevamIslemlerBean.barkodNo)}"
						update="betonKaplamaPanelGridId betonKaplamaDataTableId orderAccordionPanelId growl"
						action="#{salesItemBean.activeIndex(4)}"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>
					<p:commandButton value="Listeyi Getir"
						actionListener="#{isTakipFormuBetonKaplamaDevamIslemlerBean.fillTestList(isTakipFormuBetonKaplamaBean.selectedItem.itemId)}"
						update="betonKaplamaPanelGridId betonKaplamaDataTableId orderAccordionPanelId growl"
						action="#{salesItemBean.activeIndex(4)}"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>

					<!-- Koordinat Listesi -->
					<p:dataTable var="beton" id="betonKaplamaDataTableId"
						rowKey="#{beton.id}" emptyMessage="#{language.EmptyMessage}"
						value="#{isTakipFormuBetonKaplamaDevamIslemlerBean.allIsTakipFormuBetonKaplamaDevamIslemlerList}"
						paginator="true" rows="13" dynamic="true" dblClickSelect="false"
						selection="#{isTakipFormuBetonKaplamaDevamIslemlerBean.isTakipFormuBetonKaplamaDevamIslemlerForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{isTakipFormuBetonKaplamaDevamIslemlerBean.formListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="betonKaplamaTabId betonKaplamaAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="betonKaplamaDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="BETON KAPLAMA LİSTESİ" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{beton.pipe.salesItem.proposal.salesOrder.orderNo}/#{beton.pipe.salesItem.itemNo} - #{beton.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Harç Sıcaklığı(C)">
							<h:outputText value="#{beton.harcSicakligi}"></h:outputText>
						</p:column>

						<p:column headerText="Nem - RH">
							<h:outputText value="#{beton.nemRh}"></h:outputText>
						</p:column>

						<p:column headerText="Kaplama Hızı (m2/s)">
							<h:outputText value="#{beton.kaplamaHizi}"></h:outputText>
						</p:column>

						<p:column headerText="Rampa Beton (s)">
							<h:outputText value="#{beton.rampaBeton}"></h:outputText>
						</p:column>

						<p:column headerText="Rampa Sıkma (s)">
							<h:outputText value="#{beton.rampaSikma}"></h:outputText>
						</p:column>

						<p:column headerText="Rampa Süresi (s)">
							<h:outputText value="#{beton.rampaSuresi}"></h:outputText>
						</p:column>

						<p:column headerText="Su (lt)">
							<h:outputText value="#{beton.su}"></h:outputText>
						</p:column>

						<p:column headerText="Katkı Mlz. (kg/boru)">
							<h:outputText value="#{beton.katkiMalzeme}"></h:outputText>
						</p:column>

						<p:column headerText="Çimento (kg/boru)">
							<h:outputText value="#{beton.cimento}"></h:outputText>
						</p:column>

						<p:column headerText="Kum (kg/boru)">
							<h:outputText value="#{beton.kum}"></h:outputText>
						</p:column>

						<p:column headerText="Boş Tartım (kg)">
							<h:outputText value="#{beton.bosTartim}"></h:outputText>
						</p:column>

						<p:column headerText="Dolu Tartım (kg)">
							<h:outputText value="#{beton.doluTartim}"></h:outputText>
						</p:column>

						<p:column headerText="Fark (kg)">
							<h:outputText value="#{beton.fark}"></h:outputText>
						</p:column>

						<p:column headerText="Kalınlık (mm)">
							<h:outputText value="#{beton.kalinlik}"></h:outputText>
						</p:column>

						<!-- 						<p:column headerText="#{language.ACIKLAMALAR}"> -->
						<!-- 							<h:outputText value="#{beton.aciklamalar}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column headerText="TARİH">
							<h:outputText value="#{beton.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="VARDİYA">
							<h:outputText value="GÜNDÜZ VARDİYASI"
								rendered="#{beton.vardiya==1}"></h:outputText>
							<h:outputText value="GECE VARDİYASI"
								rendered="#{beton.vardiya==0}"></h:outputText>
						</p:column>

						<p:column headerText="İSİM">
							<h:outputText
								value="#{beton.ekleyenEmployee.employee.firstname} #{beton.ekleyenEmployee.employee.lastname}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="betonKaplamaAddPanelGridId">
						<p:commandButton value="YENİ İŞ TAKİP FORMU EKLE"
							update="growl betonPanelGridId warningSelectedTornaDialogId devamAddPanelGridId"
							process="@this devamAddPanelGridId"
							actionListener="#{isTakipFormuBetonKaplamaDevamIslemlerBean.reset}"
							disabled="#{isTakipFormuBetonKaplamaDevamIslemlerBean.updateButtonRender}"
							oncomplete="addFormDialog.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="SEÇİLEN İŞ TAKİP FORMUNU DÜZENLE"
							update="growl betonPanelGridId warningSelectedTornaDialogId"
							id="bitirButton" process="@this betonPanelGridId"
							oncomplete="addFormDialog.show()" icon="ui-icon-circle-plus"
							rendered="#{isTakipFormuBetonKaplamaDevamIslemlerBean.updateButtonRender}">
						</p:commandButton>
						<p:commandButton
							actionListener="#{isTakipFormuBetonKaplamaDevamIslemlerBean.deleteFormSonucc}"
							update="betonPanelGridId epoksiDataTableId growl pipeTestsDataTableId"
							process="@this betonPanelGridId" icon="ui-icon-trash"
							value="SEÇİLEN İŞ TAKİP FORMUNU SİL"
							rendered="#{isTakipFormuBetonKaplamaDevamIslemlerBean.updateButtonRender}">
							<f:param id="disKumlamaDeletePipeId"
								value="#{isTakipFormuBetonKaplamaDevamIslemlerBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</h:panelGrid>

				</p:tab>

			</p:accordionPanel>

			<p:dialog widgetVar="onceDialogWidget"
				header="İŞE BAŞLAMADAN ÖNCE YAPILACAK İŞLEMLER" id="onceAddDialogId">
				<h:panelGrid columns="5" style="width:100%" id="onceAddPanelGridId">

					<h:outputLabel value=" " style="font-weight: bold" />
					<h:outputText value="#{language.ACIKLAMALAR} "
						style="font-weight: bold" />
					<h:outputText value="#{language.BUTCEKODU} "
						style="font-weight: bold" />
					<h:outputLabel value="TARİH" style="font-weight: bold" />
					<h:outputLabel value="İSİM" style="font-weight: bold" />

					<h:outputLabel
						value="İşin yapılmasında iç kumlama tezgahında herhangi bir engel yoktur."
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.engelYokAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.engelYokCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.engelYokTarih}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.engelYokKullanici}"
						style="font-weight: bold" />

					<h:outputLabel
						value="İç kumlama olacak boruların listesi İç Kumlama tezgah operatörüne bildirilmiştir."
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.boruListesiAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.boruListesiCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.boruListesiTarih}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.boruListesiKullanici}"
						style="font-weight: bold" />

					<h:outputLabel
						value="İşte kullanılacak aşındırıcı malzeme cinsi İç Kumlama tezgah operatörüne bildirilmiştir."
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.malzemeAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.malzemeCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.malzemeTarih}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.malzemeKullanici}"
						style="font-weight: bold" />

					<h:outputLabel
						value="İş için gerekli tezgah parametreleri başta tezgah şefi olmak üzere tüm tezgah çalışanlarına bildirilmiştir."
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.parametreAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.parametreCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.parametreTarih}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.parametreKullanici}"
						style="font-weight: bold" />

					<!-- 					<h:outputLabel -->
					<!-- 						value="İş için tezgah ayarını ön görülen tamamlanma süresi %data% dakikadır." -->
					<!-- 						style="font-weight: bold" /> -->
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.ongorulenAyarSuresi}"
						style="font-weight: bold"> İş için tezgah ayarını ön görülen tamamlanma dakikası : </p:inputText>
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.ongorulenAyarAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.ongorulenAyarCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.ongorulenAyarTarih}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.ongorulenAyarKullanici}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.gerceklesenAyarSuresi}"
						style="font-weight: bold"> Gerçekleşen ayar dakikası : </p:inputText>
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.gerceklesenAyarAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.gerceklesenAyarCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.gerceklesenAyarTarih}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaOnceIslemler.gerceklesenAyarKullanici}"
						style="font-weight: bold" />

					<!-- 							<p:inputText id="firstname" value="" label="Firstname" /> -->

					<!-- 							<h:outputLabel for="surname" value="Surname: *" /> -->
					<!-- 							<p:inputText id="surname" value="" required="true" -->
					<!-- 								label="Surname" /> -->

				</h:panelGrid>

				<p:spacer width="15" height="50" />

				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="onceDialogWidget.hide();" />

				<p:commandButton value="KAYDET"
					actionListener="#{isTakipFormuBetonKaplamaBean.updateSelectedIsTakipFormuBetonKaplamaOnceIslemler}"
					oncomplete="onceDialogWidget.hide();"
					update="growl orderAccordionPanelId"
					process="@this onceAddPanelGridId">
				</p:commandButton>
			</p:dialog>

			<p:dialog widgetVar="sonraDialogWidget"
				header="AYAR BİTTİKTEN SONRA YAPILACAK İŞLEMLER"
				id="sonraAddDialogId">

				<h:panelGrid columns="5" style="width:100%" id="sonraAddPanelGridId">

					<h:outputLabel value=" " style="font-weight: bold" />
					<h:outputText value="#{language.ACIKLAMALAR} "
						style="font-weight: bold" />
					<h:outputText value="#{language.BUTCEKODU} "
						style="font-weight: bold" />
					<h:outputLabel value="TARİH" style="font-weight: bold" />
					<h:outputLabel value="İSİM" style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.ayarSonrasiIlkBoruId}"
						style="color: red; font-weight: bold;">Ayar bittikten sonra alınan ilk boru yaş kalınlığı ölçüldü ve yüzey kontrolünden geçti, sonuç olumlu. Boru No : </p:inputText>
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.ayarSonrasiIlkBoruYasKalinlikAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.ayarSonrasiIlkBoruYasKalinlikCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.ayarSonrasiIlkBoruBetonKalinlikBoruId}"
						style="color: red; font-weight: bold;">Ayar bittikten sonra alınan ilk boru Boru No : </p:inputText>
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.ayarSonrasiIlkBoruBetonKalinlikAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.ayarSonrasiIlkBoruYasKalinlikCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.ayarSonrasiIlkBoruBetonKalinlik}"
						style="color: red; font-weight: bold;">Beton Yaş Kalınlığı : </p:inputText>
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.ayarSonrasiIlkBoruBetonKalinlikAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.ayarSonrasiIlkBoruBetonKalinlikCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.betonHizi}"
						style="color: red; font-weight: bold;">Beton Hızı kontrol edildi. Planlanan kaplama hızı ile karşılaştırıldı.</p:inputText>
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.betonHiziAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.betonHiziCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

				</h:panelGrid>

				<p:spacer width="15" height="50" />

				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="sonraDialogWidget.hide();" />

				<p:commandButton value="KAYDET"
					actionListener="#{isTakipFormuBetonKaplamaBean.updateSelectedIsTakipFormuBetonKaplamaSonraIslemler}"
					oncomplete="sonraDialogWidget.hide();"
					update="growl orderAccordionPanelId"
					process="@this sonraAddPanelGridId">
				</p:commandButton>
			</p:dialog>

			<p:dialog widgetVar="bitinceDialogWidget"
				header="ÜRETİM BİTİNCE YAPILACAK İŞLEMLER" id="bitinceAddDialogId">

				<h:panelGrid columns="2" style="width:30%"
					id="bitinceAddPanelGridId">

					<h:outputLabel value=" Hedeflenen malzeme sarfiyatı : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.hedeflenenSarfiyat}"
						style="font-weight: bold"> kg/m2</p:inputText>
					<h:outputLabel value=" KUM : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.hedeflenenSarfiyatKum}"
						style="font-weight: bold"> kg/m2</p:inputText>
					<h:outputLabel value=" ÇİMENTO : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.hedeflenenSarfiyatCimento}"
						style="font-weight: bold"> kg/m2</p:inputText>
					<h:outputLabel value=" SU : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.hedeflenenSarfiyatSu}"
						style="font-weight: bold"> kg/m2</p:inputText>
					<h:outputLabel value=" KATKI : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.hedeflenenSarfiyatKatki}"
						style="font-weight: bold"> kg/m2</p:inputText>

					<h:outputLabel value="Gerçekleşen malzeme sarfiyatı : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.gerceklesenSarfiyat}"
						style="font-weight: bold"> kg/m2</p:inputText>
					<h:outputLabel value="KUM : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.gerceklesenSarfiyatKum}"
						style="font-weight: bold"> kg/m2</p:inputText>
					<h:outputLabel value="ÇİMENTO : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.gerceklesenSarfiyatCimento}"
						style="font-weight: bold"> kg/m2</p:inputText>
					<h:outputLabel value="SU : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.gerceklesenSarfiyatSu}"
						style="font-weight: bold"> kg/m2</p:inputText>
					<h:outputLabel value="KATKI : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaBean.selectedIsTakipFormuBetonKaplamaBitinceIslemler.gerceklesenSarfiyatKatki}"
						style="font-weight: bold"> kg/m2</p:inputText>

				</h:panelGrid>

				<p:spacer width="15" height="50" />

				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="bitinceDialogWidget.hide();" />

				<p:commandButton value="KAYDET"
					actionListener="#{isTakipFormuBetonKaplamaBean.updateSelectedIsTakipFormuBetonKaplamaBitinceIslemler}"
					oncomplete="bitinceDialogWidget.hide();"
					update="growl orderAccordionPanelId"
					process="@this bitinceAddPanelGridId">
				</p:commandButton>
			</p:dialog>

			<p:dialog widgetVar="addFormDialog" header="İş Takip Formu"
				id="addFormDialogId">
				<h:panelGrid columns="2" style="width:100%" id="devamAddPanelGridId">

					<h:outputLabel value="Harç Sıcaklığı(C) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaDevamIslemlerBean.isTakipFormuBetonKaplamaDevamIslemlerForm.harcSicakligi}"
						style="font-weight: bold" />

					<h:outputLabel value="Nem - RH : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaDevamIslemlerBean.isTakipFormuBetonKaplamaDevamIslemlerForm.nemRh}"
						style="font-weight: bold" />

					<h:outputLabel value="Kaplama Hızı (m2/s) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaDevamIslemlerBean.isTakipFormuBetonKaplamaDevamIslemlerForm.kaplamaHizi}"
						style="font-weight: bold" />


					<h:outputLabel value="Rampa Beton (s) : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaDevamIslemlerBean.isTakipFormuBetonKaplamaDevamIslemlerForm.rampaBeton}"
						style="font-weight: bold" />

					<h:outputLabel value="Rampa Sıkma (s) : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaDevamIslemlerBean.isTakipFormuBetonKaplamaDevamIslemlerForm.rampaSikma}"
						style="font-weight: bold" />

					<h:outputLabel value="Rampa Süresi (s) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaDevamIslemlerBean.isTakipFormuBetonKaplamaDevamIslemlerForm.rampaSuresi}"
						style="font-weight: bold" />

					<h:outputLabel value="Su (lt) : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaDevamIslemlerBean.isTakipFormuBetonKaplamaDevamIslemlerForm.su}"
						style="font-weight: bold" />

					<h:outputLabel value="Katkı mlz. (kg/boru) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaDevamIslemlerBean.isTakipFormuBetonKaplamaDevamIslemlerForm.katkiMalzeme}"
						style="font-weight: bold" />

					<h:outputLabel value="Çimento (kg/boru) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaDevamIslemlerBean.isTakipFormuBetonKaplamaDevamIslemlerForm.cimento}"
						style="font-weight: bold" />

					<h:outputLabel value="Kum (kg/boru) : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaDevamIslemlerBean.isTakipFormuBetonKaplamaDevamIslemlerForm.kum}"
						style="font-weight: bold" />

					<h:outputLabel value="Boş Tartım (kg) : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaDevamIslemlerBean.isTakipFormuBetonKaplamaDevamIslemlerForm.bosTartim}"
						style="font-weight: bold" />

					<h:outputLabel value="Dolu Tartım (kg) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaDevamIslemlerBean.isTakipFormuBetonKaplamaDevamIslemlerForm.doluTartim}"
						style="font-weight: bold" />

					<h:outputLabel value="Fark (kg) : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaDevamIslemlerBean.isTakipFormuBetonKaplamaDevamIslemlerForm.fark}"
						style="font-weight: bold" />

					<h:outputLabel value="Kalınlık (mm) : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuBetonKaplamaDevamIslemlerBean.isTakipFormuBetonKaplamaDevamIslemlerForm.kalinlik}"
						style="font-weight: bold" />

					<h:outputLabel value="Vardiya : " style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuBetonKaplamaDevamIslemlerBean.isTakipFormuBetonKaplamaDevamIslemlerForm.vardiya}">
						<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
						<f:selectItem itemValue="0" itemLabel="GECE"></f:selectItem>
					</p:selectOneMenu>

				</h:panelGrid>

				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="addFormDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="KABUL ET - KAYDET"
					actionListener="#{isTakipFormuBetonKaplamaDevamIslemlerBean.addOrUpdateFormSonuc}"
					oncomplete="addFormDialog.hide();"
					update="growl orderAccordionPanelId"
					process="@this addFormDialogId">
				</p:commandButton>
			</p:dialog>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
			<p:growl id="growl" sticky="true" />
		</ui:define>
	</ui:composition>
</h:body>
</html>