<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget"
				binding="#{salesItemBean.accordionPanel}">
				<p:tab id="salesTabId" title="Şipariş ve Sipariş Kalemleri">

					<p:dataTable var="salesOrders" id="orderTable"
						value="#{salesOrderBean.orderList}"
						rowKey="#{salesOrders.orderId}"
						selection="#{salesOrderBean.selectedOrder}" selectionMode="single"
						update="orderSelected" paginator="true" rows="13"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesOrderBean.filteredList}">

						<p:ajax event="rowSelect"
							update="orderSelected,orderPanel,itemPanel,itemsTable"
							listener="#{salesMenuBean.showManageType1Menu}" />

						<p:ajax event="rowSelect"
							listener="#{qualitySpecBean.producedPipes}"
							process="listForm:orderTable orderTable"
							update="pipeForm producedPipesDataTableId salesTabId" />
						<p:ajax event="rowSelect" update="orderAccordionPanelId">
						</p:ajax>
						<p:ajax event="rowSelect" update="onceTabId">
						</p:ajax>

						<p:ajax event="rowSelect"
							listener="#{salesItemBean.activeIndex(0)}"
							update="orderAccordionPanelId:listOnceForm:datatableOnce orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
				  #{language.salesOrder}				
							<h:commandLink title="#{language.salesExcelExport}"
								immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="orderTable"
									fileName="#{language.salesOrderExcel}" />
							</h:commandLink>
						</f:facet>

						<p:column sortBy="#{salesOrders.salesOrderNo}"
							filterBy="#{salesOrders.orderNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText value="#{salesOrders.orderNo}" />
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.proposalNumber}"
							filterBy="#{salesOrders.proposal.proposalNumber}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesProposalNumber}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.proposalNumber}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.customer.shortName}"
							filterBy="#{salesOrders.proposal.customer.shortName}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesCustomer}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.customer.shortName}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.requestDate}"
							filterBy="#{salesOrders.proposal.requestDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesRequestDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.requestDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.formDate}"
							filterBy="#{salesOrders.proposal.formDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesFormDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.postDate}"
							filterBy="#{salesOrders.proposal.postDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesPostDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.postDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="salesItems" id="itemsTable"
						value="#{salesItemBean.itemsOfSelectedOrder}"
						rowKey="#{salesItems.itemId}"
						selection="#{isTakipFormuEpoksiKaplamaBean.selectedItem}"
						selectionMode="single" emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesItemBean.filteredList}">

						<!-- 						<p:ajax event="rowSelect" -->
						<!-- 							listener="#{tahribatsizTestOrderListBean.loadSelectedOrder}" -->
						<!-- 							process="orderAccordionPanelId:listOrderForm:datatableOrders datatableOrders" -->
						<!-- 							update="orderAccordionPanelId:listOnceForm:datatableOnce orderAccordionPanelId" /> -->

						<p:ajax event="rowSelect"
							listener="#{salesItemBean.activeIndex(1)}"
							update="orderAccordionPanelId:listOnceForm:datatableOnce orderAccordionPanelId">
						</p:ajax>

						<p:ajax event="rowSelect"
							listener="#{isTakipFormuEpoksiKaplamaBean.loadSelectedTakipForm}"
							update="orderAccordionPanelId:listOnceForm:datatableOnce orderAccordionPanelId growl">
						</p:ajax>

						<f:facet name="header">
				  #{language.salesItem}			
							<h:commandLink title="#{language.salesExcelExport}"
								immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="itemsTable"
									fileName="#{language.salesOrderItemExcel}" />
							</h:commandLink>
							<p:spacer width="5120" height="5" />
						</f:facet>

						<p:column sortBy="#{salesItems.No}"
							filterBy="#{salesItems.itemNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesNumber}" />
							</f:facet>
							<h:outputText value="#{salesItems.itemNo}" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}"
							filterBy="#{salesItems.diameter}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.diameter}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.quality}"
							filterBy="#{salesItems.thickness}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesThickness}" />
							</f:facet>
							<h:outputText value="#{salesItems.thickness}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}"
							filterBy="#{salesItems.quality}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesQuality}" />
							</f:facet>
							<h:outputText value="#{salesItems.quality}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.pipeLength}"
							filterBy="#{salesItems.pipeLength}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesPipeLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.pipeLength}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalLengthM}"
							filterBy="#{salesItems.totalLengthM}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalLengthM}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.unitWeight}"
							filterBy="#{salesItems.unitWeight}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesUnitWeight}" />
							</f:facet>
							<h:outputText value="#{salesItems.unitWeight}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalTonnage}"
							filterBy="#{salesItems.totalTonnage}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalTonnage}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalTonnage}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.manufacturingStandard}"
							filterBy="#{salesItems.manufacturingStandard}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.manufacturingStandard}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.transportation}"
							filterBy="#{salesItems.transportation}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesManufacturingStandard}" />
							</f:facet>
							<h:outputText value="#{salesItems.transportation}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText value="#{salesOrderBean.selectedOrder.orderNo}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesProposalNumber}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.proposalNumber}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesCustomer}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.customer.shortName}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesRequestDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.requestDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesFormDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPostDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.postDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesValidityPeriod}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.validityPeriod}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPrepaidBy}" />
							</f:facet>
							<c:forEach items="#{salesItems.proposal.employeeList}"
								var="salesList">
								<h:outputText
									value="#{salesList.firstname} #{salesList.lastname}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								-
								<h:outputText value="#{salesList.amount}"
									converter="salesNumberConverter" />
								<h:outputText value=" " />
							</c:forEach>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesApproval}1" />
							</f:facet>
							<h:outputText rendered="#{salesItems.proposal.approval1 == true}"
								value="#{language.salesApproved}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesApproval}2" />
							</f:facet>
							<h:outputText rendered="#{salesItems.proposal.approval2 == true}"
								value="#{language.salesApproved}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesCurrencyUnit}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.currencyUnit.name}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesProposalRequestedDocuments}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.requestedDocuments}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesNotes}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.notes}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderFormDate}" />
							</f:facet>
							<h:outputText value="#{salesOrderBean.selectedOrder.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderDeliveryDate}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.deliveryDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope1}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope1 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope2}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope2 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope3}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope3 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope4}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope4 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope5}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope5 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderTransportationApproximateAmount}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountForTransportation}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderTransportationApproximateAmountDetail}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountDetailForTransportation}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderApproximateAmount}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmount}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderApproximateAmountDetail}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountDetail}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPayments}" />
							</f:facet>
							<c:forEach items="#{salesPaymentBean.paymentsOfSelectedOrder}"
								var="salesList">
								<h:outputText value="(" />
								<h:outputText value="#{salesList.paymentDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								-
								<h:outputText value="#{salesList.amount}"
									converter="salesNumberConverter" />
								<h:outputText value=") " />
							</c:forEach>
						</p:column>

					</p:dataTable>
				</p:tab>

				<p:tab id="onceTabId" title="İşe Başlamadan Yapılacak İşlemler"
					rendered="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplama.id!=null}">
					<h:form id="listOnceForm">

						<h:panelGrid columns="5" style="width:100%" id="oncePanelGridId">

							<h:outputLabel value=" " style="font-weight: bold" />
							<h:outputText value="#{language.ACIKLAMALAR} " style="font-weight: bold" />
							<h:outputText value="#{language.DURUM} " style="font-weight: bold" />
							<h:outputLabel value="TARİH" style="font-weight: bold" />
							<h:outputLabel value="İSİM" style="font-weight: bold" />

							<h:outputLabel
								value="İşin yapılmasında iç kumlama tezgahında herhangi bir engel yoktur."
								style="font-weight: bold" />
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.engelYokAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.engelYokCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="İç kumlama olacak boruların listesi İç Kumlama tezgah operatörüne bildirilmiştir."
								style="font-weight: bold" />
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.boruListesiAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.boruListesiCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="İşte kullanılacak aşındırıcı malzeme cinsi İç Kumlama tezgah operatörüne bildirilmiştir."
								style="font-weight: bold" />
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.asindiriciMalzemeAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.asindiriciMalzemeCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="İş için gerekli tezgah parametreleri başta tezgah şefi olmak üzere tüm tezgah çalışanlarına bildirilmiştir."
								style="font-weight: bold" />
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.parametreAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.parametreCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="İş için tezgah ayarını ön görülen tamamlanma süresi #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.ongorulenAyarSuresi} dakikadır."
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.ongorulenAyarAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.ongorulenAyarCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Gerçekleşen ayar süresi #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.gerceklesenAyarSuresi} dakikadır."
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.gerceklesenAyarAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.gerceklesenAyarCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

						</h:panelGrid>
						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="epoksiKaplamaOnceAddPanelGridId">

							<p:commandButton value="İŞ TAKİP FORMU EKLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="onceDialogWidget.show()" icon="ui-icon-circle-plus"
								disabled="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncelleyenEmployee!=null}">
							</p:commandButton>
							<p:commandButton value="İŞ TAKİP FORMU GÜNCELLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="onceDialogWidget.show()" icon="ui-icon-circle-plus"
								disabled="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.guncelleyenEmployee==null}">
							</p:commandButton>
							<p:commandButton
								actionListener="#{isTakipFormuEpoksiKaplamaBean.deleteSelectedIsTakipFormuEpoksiKaplamaOnceIslemler}"
								update="growl orderAccordionPanelId" process="@this"
								icon="ui-icon-trash" value="İŞ TAKİP FORMU SİL" rendered="false">
							</p:commandButton>
						</h:panelGrid>

					</h:form>
				</p:tab>

				<p:tab id="sonraTabId"
					title="Ayar Bittikten Sonra Yapılacak İşlemler"
					rendered="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplama.id!=null}">

					<h:form id="listSonraForm">

						<h:panelGrid columns="5" style="width:100%">

							<h:outputLabel value=" " style="font-weight: bold" />
							<h:outputText value="#{language.ACIKLAMALAR} " style="font-weight: bold" />
							<h:outputText value="#{language.DURUM} " style="font-weight: bold" />
							<h:outputLabel value="TARİH" style="font-weight: bold" />
							<h:outputLabel value="İSİM" style="font-weight: bold" />

							<h:outputLabel
								value="Ayar bittikten sonra alınan ilk boru ( Boru No : #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.ayarSonrasiIlkBoruId} ) yaş kalınlığı ölçüldü ve yüzey kontrolünden geçti, sonuç olumlu"
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.ayarSonrasiIlkBoruYasKalinlikAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.ayarSonrasiIlkBoruYasKalinlikCheck}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Ayar bittikten sonra alınan ilk boru ( Boru No : #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.ayarSonrasiIlkBoruEpoksiKalinlikBoruId} )"
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.ayarSonrasiIlkBoruEpoksiKalinlikAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.ayarSonrasiIlkBoruYasKalinlikCheck}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Epoksi Yaş Boya Kalınlığı : #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.ayarSonrasiIlkBoruEpoksiKalinlik}"
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.ayarSonrasiIlkBoruEpoksiKalinlikAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.ayarSonrasiIlkBoruEpoksiKalinlikCheck}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Epoksi Boya Hızı kontrol edildi. (#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.epoksiHizi} Planlanan kaplama hızı ile karşılaştırıldı."
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.epoksiHiziAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.epoksiHiziCheck}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

						</h:panelGrid>

						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="icKumlamaSonraAddPanelGridId">

							<p:commandButton value="İŞ TAKİP FORMU EKLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="sonraDialogWidget.show()" icon="ui-icon-circle-plus"
								actionListener="#{salesItemBean.activeIndex(2)}"
								disabled="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncelleyenEmployee!=null}">
							</p:commandButton>
							<p:commandButton value="İŞ TAKİP FORMU GÜNCELLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="sonraDialogWidget.show()" icon="ui-icon-circle-plus"
								actionListener="#{salesItemBean.activeIndex(2)}"
								disabled="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncelleyenEmployee==null}">
							</p:commandButton>
							<p:commandButton
								actionListener="#{isTakipFormuEpoksiKaplamaBean.deleteSelectedIsTakipFormuEpoksiKaplamaSonraIslemler}"
								update="growl" process="@this" icon="ui-icon-trash"
								value="İŞ TAKİP FORMU SİL" rendered="false">
							</p:commandButton>
						</h:panelGrid>

					</h:form>

				</p:tab>

				<p:tab id="bitinceTabId" title="Üretim Bitince Yapılacak İşlemler"
					rendered="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplama.id!=null}">

					<h:form id="listBitinceForm">

						<h:panelGrid columns="2" style="width:30%">

							<h:outputLabel value=" Hedeflenen malzeme sarfiyatı (1. Kat) : "
								style="font-weight: bold" />
							<h:outputLabel
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaBitinceIslemler.hedeflenenSarfiyatBir}"
								style="font-weight: bold"> kg/m2</h:outputLabel>
							<h:outputLabel value=" Hedeflenen malzeme sarfiyatı (2. Kat) : "
								style="font-weight: bold" />
							<h:outputLabel
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaBitinceIslemler.hedeflenenSarfiyatIki}"
								style="font-weight: bold"> kg/m2</h:outputLabel>
							<h:outputLabel value=" Hedeflenen malzeme sarfiyatı (3. Kat) : "
								style="font-weight: bold" />
							<h:outputLabel
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaBitinceIslemler.hedeflenenSarfiyatUc}"
								style="font-weight: bold"> kg/m2</h:outputLabel>

							<h:outputLabel value="Gerçekleşen malzeme sarfiyatı (1. Kat) : "
								style="font-weight: bold" />
							<h:outputLabel
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaBitinceIslemler.gerceklesenSarfiyatBir}"
								style="font-weight: bold"> kg/m2</h:outputLabel>
							<h:outputLabel value="Gerçekleşen malzeme sarfiyatı (2. Kat) : "
								style="font-weight: bold" />
							<h:outputLabel
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaBitinceIslemler.gerceklesenSarfiyatIki}"
								style="font-weight: bold"> kg/m2</h:outputLabel>
							<h:outputLabel value="Gerçekleşen malzeme sarfiyatı (3. Kat) : "
								style="font-weight: bold" />
							<h:outputLabel
								value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaBitinceIslemler.gerceklesenSarfiyatUc}"
								style="font-weight: bold"> kg/m2</h:outputLabel>

						</h:panelGrid>

						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="epoksiKaplamaBitinceAddPanelGridId">

							<p:commandButton value="İŞ TAKİP FORMU EKLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="bitinceDialogWidget.show()" icon="ui-icon-circle-plus"
								actionListener="#{salesItemBean.activeIndex(3)}"
								disabled="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaBitinceIslemler.guncelleyenEmployee!=null}">
							</p:commandButton>
							<p:commandButton value="İŞ TAKİP FORMU GÜNCELLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="bitinceDialogWidget.show()" icon="ui-icon-circle-plus"
								actionListener="#{salesItemBean.activeIndex(3)}"
								disabled="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaBitinceIslemler.guncelleyenEmployee==null}">
							</p:commandButton>
							<p:commandButton
								actionListener="#{isTakipFormuEpoksiKaplamaBean.deleteSelectedIsTakipFormuKumlamaBitinceIslemler}"
								update="growl pipeTestsDataTableId" process="@this"
								icon="ui-icon-trash" value="İŞ TAKİP FORMU SİL" rendered="false">
							</p:commandButton>
						</h:panelGrid>

					</h:form>
				</p:tab>

				<!-- Epoksi Kaplama -->
				<p:tab id="epoksiTabId"
					title=" EPOKSİ KAPLAMA EKRANI - #{isTakipFormuEpoksiKaplamaBean.selectedItem.proposal.salesOrder.orderNo}/#{isTakipFormuEpoksiKaplamaBean.selectedItem.itemNo} - #{isTakipFormuEpoksiKaplamaBean.selectedItem.proposal.customer.shortName}"
					titleStyle="font-weight: bold;font-size: 16pt;"
					rendered="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplama.id!=null}">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"
						rendered="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.buttonRender}"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.barkodNo}"
						rendered="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.buttonRender}">
					</p:inputText>
					<p:commandButton value="Boru Bul"
						rendered="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.buttonRender}"
						actionListener="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.fillTestListFromBarkod(isTakipFormuEpoksiKaplamaDevamIslemlerBean.barkodNo)}"
						update="icKumlamaPanelGridId icKumlama icKumlamaDataTableId orderAccordionPanelId growl"
						action="#{salesItemBean.activeIndex(4)}"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>
					<p:commandButton value="Listeyi Getir"
						actionListener="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.fillTestList(isTakipFormuEpoksiKaplamaBean.selectedItem.itemId)}"
						update="icKumlamaPanelGridId icKumlama icKumlamaDataTableId orderAccordionPanelId growl"
						action="#{salesItemBean.activeIndex(4)}"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>

					<!-- Koordinat Listesi -->
					<p:dataTable var="epoksi" id="epoksiDataTableId"
						rowKey="#{epoksi.id}" emptyMessage="#{language.EmptyMessage}"
						value="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.allIsTakipFormuEpoksiKaplamaDevamIslemlerList}"
						paginator="true" rows="13" dynamic="true" dblClickSelect="false"
						selection="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.isTakipFormuEpoksiKaplamaDevamIslemlerForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.kumlamaListener}"
							process="listForm:pipeTestsDataTableId"
							update="epoksiTabId epoksiAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="epoksiDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="EPOKSİ KAPLAMA LİSTESİ" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{epoksi.pipe.salesItem.proposal.salesOrder.orderNo}/#{epoksi.pipe.salesItem.itemNo} - #{epoksi.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Boru Sıcaklığı(C)">
							<h:outputText value="#{epoksi.boruSicakligi}"></h:outputText>
						</p:column>

						<p:column headerText="Kaplama Hızı (m2/s)">
							<h:outputText value="#{epoksi.kaplamaHizi}"></h:outputText>
						</p:column>

						<p:column headerText="Boya Sıcaklığı (C)">
							<h:outputText value="#{epoksi.boyaSicakligi}"></h:outputText>
						</p:column>

						<p:column headerText="Yaş Kalınlık ()">
							<h:outputText value="#{epoksi.yasKalinlik}"></h:outputText>
						</p:column>

						<p:column headerText="Kuru Kalınlık ()">
							<h:outputText value="#{epoksi.kuruKalinlik}"></h:outputText>
						</p:column>

						<p:column headerText="Malzeme Sarfiyatı (litre/boru)">
							<h:outputText value="#{epoksi.malzemeSarfiyat}"></h:outputText>
						</p:column>

						<p:column headerText="Ortam Sıcaklığı (Ta) C">
							<h:outputText value="#{epoksi.ortamSicakligi}"></h:outputText>
						</p:column>

						<p:column headerText="Bağıl Nem (RH) %">
							<h:outputText value="#{epoksi.bagilNem}"></h:outputText>
						</p:column>

						<p:column headerText="Çiğlenme Sıcaklığı (Td) C">
							<h:outputText value="#{epoksi.ciglenmeSicakligi}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.ACIKLAMALAR}">
							<h:outputText value="#{epoksi.aciklamalar}"></h:outputText>
						</p:column>

						<p:column headerText="TARİH">
							<h:outputText value="#{epoksi.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="VARDİYA">
							<h:outputText value="GÜNDÜZ VARDİYASI"
								rendered="#{epoksi.vardiya==1}"></h:outputText>
							<h:outputText value="GECE VARDİYASI"
								rendered="#{epoksi.vardiya==0}"></h:outputText>
						</p:column>

						<p:column headerText="İSİM">
							<h:outputText
								value="#{epoksi.ekleyenEmployee.employee.firstname} #{epoksi.ekleyenEmployee.employee.lastname}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="epoksiAddPanelGridId">
						<p:commandButton value="YENİ İŞ TAKİP FORMU EKLE"
							update="growl epoksiPanelGridId warningSelectedTornaDialogId devamAddPanelGridId"
							process="@this devamAddPanelGridId"
							actionListener="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.reset}"
							disabled="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.updateButtonRender}"
							oncomplete="addFormDialog.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="SEÇİLEN İŞ TAKİP FORMUNU DÜZENLE"
							update="growl epoksiPanelGridId warningSelectedTornaDialogId"
							id="bitirButton" process="@this epoksiPanelGridId"
							oncomplete="addFormDialog.show()" icon="ui-icon-circle-plus"
							rendered="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.updateButtonRender}">
						</p:commandButton>
						<p:commandButton
							actionListener="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.deleteFormSonucc}"
							update="epoksiPanelGridId epoksiDataTableId growl pipeTestsDataTableId"
							process="@this epoksiPanelGridId" icon="ui-icon-trash"
							value="SEÇİLEN İŞ TAKİP FORMUNU SİL"
							rendered="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.updateButtonRender}">
							<f:param id="disKumlamaDeletePipeId"
								value="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</h:panelGrid>

				</p:tab>

			</p:accordionPanel>

			<p:dialog widgetVar="onceDialogWidget"
				header="İŞE BAŞLAMADAN ÖNCE YAPILACAK İŞLEMLER" id="onceAddDialogId">
				<h:panelGrid columns="5" style="width:100%" id="onceAddPanelGridId">

					<h:outputLabel value=" " style="font-weight: bold" />
					<h:outputText value="#{language.ACIKLAMALAR} " style="font-weight: bold" />
					<h:outputText value="#{language.DURUM} " style="font-weight: bold" />
					<h:outputLabel value="TARİH" style="font-weight: bold" />
					<h:outputLabel value="İSİM" style="font-weight: bold" />

					<h:outputLabel
						value="İşin yapılmasında iç kumlama tezgahında herhangi bir engel yoktur."
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.engelYokAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.engelYokCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.engelYokTarih}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.engelYokKullanici}"
						style="font-weight: bold" />

					<h:outputLabel
						value="İç kumlama olacak boruların listesi İç Kumlama tezgah operatörüne bildirilmiştir."
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.boruListesiAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.boruListesiCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.boruListesiTarih}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.boruListesiKullanici}"
						style="font-weight: bold" />

					<h:outputLabel
						value="İşte kullanılacak aşındırıcı malzeme cinsi İç Kumlama tezgah operatörüne bildirilmiştir."
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.asindiriciMalzemeAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.asindiriciMalzemeCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.asindiriciMalzemeTarih}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.asindiriciMalzemeKullanici}"
						style="font-weight: bold" />

					<h:outputLabel
						value="İş için gerekli tezgah parametreleri başta tezgah şefi olmak üzere tüm tezgah çalışanlarına bildirilmiştir."
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.parametreAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.parametreCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.parametreTarih}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.parametreKullanici}"
						style="font-weight: bold" />

					<!-- 					<h:outputLabel -->
					<!-- 						value="İş için tezgah ayarını ön görülen tamamlanma süresi %data% dakikadır." -->
					<!-- 						style="font-weight: bold" /> -->
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.ongorulenAyarSuresi}"
						style="font-weight: bold"> İş için tezgah ayarını ön görülen tamamlanma dakikası : </p:inputText>
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.ongorulenAyarAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.ongorulenAyarCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.ongorulenAyarTarih}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.ongorulenAyarKullanici}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.gerceklesenAyarSuresi}"
						style="font-weight: bold"> Gerçekleşen ayar dakikası : </p:inputText>
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.gerceklesenAyarAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.gerceklesenAyarCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.gerceklesenAyarTarih}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaOnceIslemler.gerceklesenAyarKullanici}"
						style="font-weight: bold" />

					<!-- 							<p:inputText id="firstname" value="" label="Firstname" /> -->

					<!-- 							<h:outputLabel for="surname" value="Surname: *" /> -->
					<!-- 							<p:inputText id="surname" value="" required="true" -->
					<!-- 								label="Surname" /> -->

				</h:panelGrid>

				<p:spacer width="15" height="50" />

				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="onceDialogWidget.hide();" />

				<p:commandButton value="KAYDET"
					actionListener="#{isTakipFormuEpoksiKaplamaBean.updateSelectedIsTakipFormuEpoksiKaplamaOnceIslemler}"
					oncomplete="onceDialogWidget.hide();"
					update="growl orderAccordionPanelId"
					process="@this onceAddPanelGridId">
				</p:commandButton>
			</p:dialog>

			<p:dialog widgetVar="sonraDialogWidget"
				header="AYAR BİTTİKTEN SONRA YAPILACAK İŞLEMLER"
				id="sonraAddDialogId">

				<h:panelGrid columns="5" style="width:100%" id="sonraAddPanelGridId">

					<h:outputLabel value=" " style="font-weight: bold" />
					<h:outputText value="#{language.ACIKLAMALAR} " style="font-weight: bold" />
					<h:outputText value="#{language.DURUM} " style="font-weight: bold" />
					<h:outputLabel value="TARİH" style="font-weight: bold" />
					<h:outputLabel value="İSİM" style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.ayarSonrasiIlkBoruId}"
						style="color: red; font-weight: bold;">Ayar bittikten sonra alınan ilk boru yaş kalınlığı ölçüldü ve yüzey kontrolünden geçti, sonuç olumlu. Boru No : </p:inputText>
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.ayarSonrasiIlkBoruYasKalinlikAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.ayarSonrasiIlkBoruYasKalinlikCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.ayarSonrasiIlkBoruEpoksiKalinlikBoruId}"
						style="color: red; font-weight: bold;">Ayar bittikten sonra alınan ilk boru Boru No : </p:inputText>
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.ayarSonrasiIlkBoruEpoksiKalinlikAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.ayarSonrasiIlkBoruYasKalinlikCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.ayarSonrasiIlkBoruEpoksiKalinlik}"
						style="color: red; font-weight: bold;">Epoksi Yaş Boya Kalınlığı : </p:inputText>
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.ayarSonrasiIlkBoruEpoksiKalinlikAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.ayarSonrasiIlkBoruEpoksiKalinlikCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.epoksiHizi}"
						style="color: red; font-weight: bold;">Epoksi Boya Hızı kontrol edildi. Planlanan kaplama hızı ile karşılaştırıldı.</p:inputText>
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.epoksiHiziAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.epoksiHiziCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

				</h:panelGrid>

				<p:spacer width="15" height="50" />

				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="sonraDialogWidget.hide();" />

				<p:commandButton value="KAYDET"
					actionListener="#{isTakipFormuEpoksiKaplamaBean.updateSelectedIsTakipFormuEpoksiKaplamaSonraIslemler}"
					oncomplete="sonraDialogWidget.hide();"
					update="growl orderAccordionPanelId"
					process="@this sonraAddPanelGridId">
				</p:commandButton>
			</p:dialog>

			<p:dialog widgetVar="bitinceDialogWidget"
				header="ÜRETİM BİTİNCE YAPILACAK İŞLEMLER" id="bitinceAddDialogId">

				<h:panelGrid columns="2" style="width:30%"
					id="bitinceAddPanelGridId">

					<h:outputLabel value=" Hedeflenen malzeme sarfiyatı (1. Kat) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaBitinceIslemler.hedeflenenSarfiyatBir}"
						style="font-weight: bold"></p:inputText>
					<h:outputLabel value=" Hedeflenen malzeme sarfiyatı (2. Kat) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaBitinceIslemler.hedeflenenSarfiyatIki}"
						style="font-weight: bold"></p:inputText>
					<h:outputLabel value=" Hedeflenen malzeme sarfiyatı (3. Kat) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaBitinceIslemler.hedeflenenSarfiyatUc}"
						style="font-weight: bold"></p:inputText>

					<h:outputLabel value="Gerçekleşen malzeme sarfiyatı (1. Kat) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaBitinceIslemler.gerceklesenSarfiyatBir}"
						style="font-weight: bold"></p:inputText>
					<h:outputLabel value="Gerçekleşen malzeme sarfiyatı (2. Kat) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaBitinceIslemler.gerceklesenSarfiyatIki}"
						style="font-weight: bold"></p:inputText>
					<h:outputLabel value="Gerçekleşen malzeme sarfiyatı (3. Kat) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaBean.selectedIsTakipFormuEpoksiKaplamaBitinceIslemler.gerceklesenSarfiyatUc}"
						style="font-weight: bold"></p:inputText>

				</h:panelGrid>

				<p:spacer width="15" height="50" />

				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="bitinceDialogWidget.hide();" />

				<p:commandButton value="KAYDET"
					actionListener="#{isTakipFormuEpoksiKaplamaBean.updateSelectedIsTakipFormuEpoksiKaplamaBitinceIslemler}"
					oncomplete="bitinceDialogWidget.hide();"
					update="growl orderAccordionPanelId"
					process="@this bitinceAddPanelGridId">
				</p:commandButton>
			</p:dialog>

			<p:dialog widgetVar="addFormDialog" header="İş Takip Formu"
				id="addFormDialogId">
				<h:panelGrid columns="2" style="width:100%" id="devamAddPanelGridId">

					<h:outputLabel value="Boru Sıcaklığı(C) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.isTakipFormuEpoksiKaplamaDevamIslemlerForm.boruSicakligi}"
						style="font-weight: bold" />

					<h:outputLabel value="Kaplama Hızı(m2/s) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.isTakipFormuEpoksiKaplamaDevamIslemlerForm.kaplamaHizi}"
						style="font-weight: bold" />

					<h:outputLabel value="Boya Sıcaklığı(C) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.isTakipFormuEpoksiKaplamaDevamIslemlerForm.boyaSicakligi}"
						style="font-weight: bold" />

					<h:outputLabel value="Yaş Kalınlık() : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.isTakipFormuEpoksiKaplamaDevamIslemlerForm.yasKalinlik}"
						style="font-weight: bold" />

					<h:outputLabel value="Kuru Kalınlık() : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.isTakipFormuEpoksiKaplamaDevamIslemlerForm.kuruKalinlik}"
						style="font-weight: bold" />

					<h:outputLabel value="Malzeme Sarfiyatı(lt/boru) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.isTakipFormuEpoksiKaplamaDevamIslemlerForm.malzemeSarfiyat}"
						style="font-weight: bold" />

					<h:outputLabel value="Ortam Sıcaklığı (Ta) C : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.isTakipFormuEpoksiKaplamaDevamIslemlerForm.ortamSicakligi}"
						style="font-weight: bold" />

					<h:outputLabel value="Bağıl Nem (RH) % : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.isTakipFormuEpoksiKaplamaDevamIslemlerForm.bagilNem}"
						style="font-weight: bold" />

					<h:outputLabel value="Çiğlenme Sıcaklığı (Td) C : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.isTakipFormuEpoksiKaplamaDevamIslemlerForm.ciglenmeSicakligi}"
						style="font-weight: bold" />

					<h:outputLabel value="Açıklamalar : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.isTakipFormuEpoksiKaplamaDevamIslemlerForm.aciklamalar}"
						style="font-weight: bold" />

					<h:outputLabel value="Vardiya : " style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.isTakipFormuEpoksiKaplamaDevamIslemlerForm.vardiya}">
						<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
						<f:selectItem itemValue="0" itemLabel="GECE"></f:selectItem>
					</p:selectOneMenu>

				</h:panelGrid>

				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="addFormDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="KABUL ET - KAYDET"
					actionListener="#{isTakipFormuEpoksiKaplamaDevamIslemlerBean.addOrUpdateFormSonuc}"
					oncomplete="addFormDialog.hide();"
					update="growl orderAccordionPanelId"
					process="@this addFormDialogId">
				</p:commandButton>
			</p:dialog>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
			<p:growl id="growl" sticky="true" />
		</ui:define>
	</ui:composition>
</h:body>
</html>