<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget"
				binding="#{salesItemBean.accordionPanel}">
				<p:tab id="salesTabId" title="Şipariş ve Sipariş Kalemleri">

					<p:dataTable var="salesOrders" id="orderTable"
						value="#{salesOrderBean.orderList}"
						rowKey="#{salesOrders.orderId}"
						selection="#{salesOrderBean.selectedOrder}" selectionMode="single"
						update="orderSelected" paginator="true" rows="13"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesOrderBean.filteredList}">

						<p:ajax event="rowSelect"
							update="orderSelected,orderPanel,itemPanel,itemsTable"
							listener="#{salesMenuBean.showManageType1Menu}" />

						<p:ajax event="rowSelect"
							listener="#{qualitySpecBean.producedPipes}"
							process="listForm:orderTable orderTable"
							update="pipeForm producedPipesDataTableId salesTabId" />
						<p:ajax event="rowSelect" update="orderAccordionPanelId">
						</p:ajax>
						<p:ajax event="rowSelect" update="onceTabId">
						</p:ajax>

						<p:ajax event="rowSelect"
							listener="#{salesItemBean.activeIndex(0)}"
							update="orderAccordionPanelId:listOnceForm:datatableOnce orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
				  #{language.salesOrder}				
							<h:commandLink title="#{language.salesExcelExport}"
								immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="orderTable"
									fileName="#{language.salesOrderExcel}" />
							</h:commandLink>
						</f:facet>

						<p:column sortBy="#{salesOrders.salesOrderNo}"
							filterBy="#{salesOrders.orderNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText value="#{salesOrders.orderNo}" />
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.proposalNumber}"
							filterBy="#{salesOrders.proposal.proposalNumber}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesProposalNumber}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.proposalNumber}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.customer.shortName}"
							filterBy="#{salesOrders.proposal.customer.shortName}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesCustomer}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.customer.shortName}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.requestDate}"
							filterBy="#{salesOrders.proposal.requestDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesRequestDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.requestDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.formDate}"
							filterBy="#{salesOrders.proposal.formDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesFormDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.postDate}"
							filterBy="#{salesOrders.proposal.postDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesPostDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.postDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="salesItems" id="itemsTable"
						value="#{salesItemBean.itemsOfSelectedOrder}"
						rowKey="#{salesItems.itemId}"
						selection="#{isTakipFormuPolietilenKaplamaBean.selectedItem}"
						selectionMode="single" emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesItemBean.filteredList}">

						<p:ajax event="rowSelect"
							listener="#{salesItemBean.activeIndex(1)}"
							update="orderAccordionPanelId:listOnceForm:datatableOnce orderAccordionPanelId">
						</p:ajax>

						<p:ajax event="rowSelect"
							listener="#{isTakipFormuPolietilenKaplamaBean.loadSelectedTakipForm}"
							update="orderAccordionPanelId:listOnceForm:datatableOnce orderAccordionPanelId growl">
						</p:ajax>

						<f:facet name="header">
				  #{language.salesItem}			
							<h:commandLink title="#{language.salesExcelExport}"
								immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="itemsTable"
									fileName="#{language.salesOrderItemExcel}" />
							</h:commandLink>
							<p:spacer width="5120" height="5" />
						</f:facet>

						<p:column sortBy="#{salesItems.No}"
							filterBy="#{salesItems.itemNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesNumber}" />
							</f:facet>
							<h:outputText value="#{salesItems.itemNo}" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}"
							filterBy="#{salesItems.diameter}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.diameter}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.quality}"
							filterBy="#{salesItems.thickness}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesThickness}" />
							</f:facet>
							<h:outputText value="#{salesItems.thickness}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}"
							filterBy="#{salesItems.quality}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesQuality}" />
							</f:facet>
							<h:outputText value="#{salesItems.quality}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.pipeLength}"
							filterBy="#{salesItems.pipeLength}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesPipeLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.pipeLength}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalLengthM}"
							filterBy="#{salesItems.totalLengthM}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalLengthM}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.unitWeight}"
							filterBy="#{salesItems.unitWeight}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesUnitWeight}" />
							</f:facet>
							<h:outputText value="#{salesItems.unitWeight}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalTonnage}"
							filterBy="#{salesItems.totalTonnage}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalTonnage}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalTonnage}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.manufacturingStandard}"
							filterBy="#{salesItems.manufacturingStandard}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.manufacturingStandard}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.transportation}"
							filterBy="#{salesItems.transportation}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesManufacturingStandard}" />
							</f:facet>
							<h:outputText value="#{salesItems.transportation}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText value="#{salesOrderBean.selectedOrder.orderNo}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesProposalNumber}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.proposalNumber}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesCustomer}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.customer.shortName}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesRequestDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.requestDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesFormDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPostDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.postDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesValidityPeriod}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.validityPeriod}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPrepaidBy}" />
							</f:facet>
							<c:forEach items="#{salesItems.proposal.employeeList}"
								var="salesList">
								<h:outputText
									value="#{salesList.firstname} #{salesList.lastname}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								-
								<h:outputText value="#{salesList.amount}"
									converter="salesNumberConverter" />
								<h:outputText value=" " />
							</c:forEach>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesApproval}1" />
							</f:facet>
							<h:outputText rendered="#{salesItems.proposal.approval1 == true}"
								value="#{language.salesApproved}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesApproval}2" />
							</f:facet>
							<h:outputText rendered="#{salesItems.proposal.approval2 == true}"
								value="#{language.salesApproved}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesCurrencyUnit}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.currencyUnit.name}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesProposalRequestedDocuments}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.requestedDocuments}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesNotes}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.notes}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderFormDate}" />
							</f:facet>
							<h:outputText value="#{salesOrderBean.selectedOrder.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderDeliveryDate}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.deliveryDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope1}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope1 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope2}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope2 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope3}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope3 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope4}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope4 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope5}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope5 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderTransportationApproximateAmount}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountForTransportation}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderTransportationApproximateAmountDetail}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountDetailForTransportation}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderApproximateAmount}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmount}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderApproximateAmountDetail}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountDetail}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPayments}" />
							</f:facet>
							<c:forEach items="#{salesPaymentBean.paymentsOfSelectedOrder}"
								var="salesList">
								<h:outputText value="(" />
								<h:outputText value="#{salesList.paymentDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								-
								<h:outputText value="#{salesList.amount}"
									converter="salesNumberConverter" />
								<h:outputText value=") " />
							</c:forEach>
						</p:column>

					</p:dataTable>
				</p:tab>

				<p:tab id="onceTabId" title="İşe Başlamadan Yapılacak İşlemler"
					rendered="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplama.id!=null}">
					<h:form id="listOnceForm">

						<h:panelGrid columns="5" style="width:100%" id="oncePanelGridId">

							<h:outputLabel value=" " style="font-weight: bold" />
							<h:outputText value="#{language.ACIKLAMALAR} " style="font-weight: bold" />
							<h:outputText value="#{language.DURUM} " style="font-weight: bold" />
							<h:outputLabel value="TARİH" style="font-weight: bold" />
							<h:outputLabel value="İSİM" style="font-weight: bold" />

							<h:outputLabel
								value="İşin yapılmasında iç kumlama tezgahında herhangi bir engel yoktur."
								style="font-weight: bold" />
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.engelYokAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.engelYokCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="İç kumlama olacak boruların listesi İç Kumlama tezgah operatörüne bildirilmiştir."
								style="font-weight: bold" />
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.boruListesiAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.boruListesiCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="İşte kullanılacak aşındırıcı malzeme cinsi İç Kumlama tezgah operatörüne bildirilmiştir."
								style="font-weight: bold" />
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.malzemeAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.malzemeCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="İş için gerekli tezgah parametreleri başta tezgah şefi olmak üzere tüm tezgah çalışanlarına bildirilmiştir."
								style="font-weight: bold" />
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.parametreAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.parametreCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="İş için tezgah ayarını ön görülen tamamlanma süresi #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.ongorulenAyarSuresi} dakikadır."
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.ongorulenAyarAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.ongorulenAyarCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Gerçekleşen ayar süresi #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.gerceklesenAyarSuresi} dakikadır."
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.gerceklesenAyarAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.gerceklesenAyarCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

						</h:panelGrid>
						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="polietilenKaplamaOnceAddPanelGridId">

							<p:commandButton value="İŞ TAKİP FORMU EKLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="onceDialogWidget.show()" icon="ui-icon-circle-plus"
								disabled="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.id!=null}">
							</p:commandButton>
							<p:commandButton value="İŞ TAKİP FORMU GÜNCELLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="onceDialogWidget.show()" icon="ui-icon-circle-plus"
								disabled="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.id==null}">
							</p:commandButton>
							<p:commandButton
								actionListener="#{isTakipFormuPolietilenKaplamaBean.deleteSelectedIsTakipFormuPolietilenKaplamaOnceIslemler}"
								update="growl orderAccordionPanelId" process="@this"
								icon="ui-icon-trash" value="İŞ TAKİP FORMU SİL" rendered="false">
							</p:commandButton>
						</h:panelGrid>

					</h:form>
				</p:tab>

				<p:tab id="sonraTabId"
					title="Ayar Bittikten Sonra Yapılacak İşlemler"
					rendered="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplama.id!=null}">

					<h:form id="listSonraForm">

						<h:panelGrid columns="5" style="width:100%">

							<h:outputLabel value=" " style="font-weight: bold" />
							<h:outputText value="#{language.ACIKLAMALAR} " style="font-weight: bold" />
							<h:outputText value="#{language.DURUM} " style="font-weight: bold" />
							<h:outputLabel value="TARİH" style="font-weight: bold" />
							<h:outputLabel value="İSİM" style="font-weight: bold" />

							<h:outputLabel
								value="Ayar bittikten sonra alınan ilk boru ( Boru No : #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruId} ) yaş kalınlığı ölçüldü ve yüzey kontrolünden geçti, sonuç olumlu"
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruCheck}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Kalınlık (Min: #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruKalinlikMin} mm, Ortalama : #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruKalinlikOrt} mm, Max : #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruKalinlikMax} mm) "
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruKalinlikCheck}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Çekme Testi : (#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.cekmeTest} N/mm2)"
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.cekmeTestiAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.cekmeTestCheck}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Görsel Kontrol : (#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.gorselKontrol})"
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.gorselKontrolAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.gorselKontrolCheck}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

						</h:panelGrid>

						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="icKumlamaSonraAddPanelGridId">

							<p:commandButton value="İŞ TAKİP FORMU EKLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="sonraDialogWidget.show()" icon="ui-icon-circle-plus"
								actionListener="#{salesItemBean.activeIndex(2)}"
								disabled="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.id!=null}">
							</p:commandButton>
							<p:commandButton value="İŞ TAKİP FORMU GÜNCELLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="sonraDialogWidget.show()" icon="ui-icon-circle-plus"
								actionListener="#{salesItemBean.activeIndex(2)}"
								disabled="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.id==null}">
							</p:commandButton>
							<p:commandButton
								actionListener="#{isTakipFormuPolietilenKaplamaBean.deleteSelectedIsTakipFormuPolietilenKaplamaSonraIslemler}"
								update="growl" process="@this" icon="ui-icon-trash"
								value="İŞ TAKİP FORMU SİL" rendered="false">
							</p:commandButton>
						</h:panelGrid>

					</h:form>

				</p:tab>

				<p:tab id="bitinceTabId" title="Üretim Bitince Yapılacak İşlemler"
					rendered="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaBitinceIslemler.id!=null}">

					<h:form id="listBitinceForm">

						<h:panelGrid columns="2">

							<h:outputLabel value=" Hedeflenen malzeme sarfiyatı : "
								style="font-weight: bold" />

							<h:panelGrid columns="2">

								<h:outputLabel value=" PE: " style="font-weight: bold" />
								<h:outputLabel
									value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaBitinceIslemler.hedeflenenSarfiyatPe}"
									style="font-weight: bold"> kg/m2</h:outputLabel>
								<h:outputLabel value=" YP: " style="font-weight: bold" />
								<h:outputLabel
									value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaBitinceIslemler.hedeflenenSarfiyatYp}"
									style="font-weight: bold"> kg/m2</h:outputLabel>
								<h:outputLabel value=" TEP: " style="font-weight: bold" />
								<h:outputLabel
									value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaBitinceIslemler.hedeflenenSarfiyatTep}"
									style="font-weight: bold"> kg/m2</h:outputLabel>

							</h:panelGrid>

							<h:outputLabel value="Gerçekleşen malzeme sarfiyatı : "
								style="font-weight: bold" />
							<h:panelGrid columns="2">
								<h:outputLabel value=" PE: " style="font-weight: bold" />
								<h:outputLabel
									value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaBitinceIslemler.gerceklesenSarfiyatPe}"
									style="font-weight: bold"> kg/m2</h:outputLabel>
								<h:outputLabel value=" YP: " style="font-weight: bold" />
								<h:outputLabel
									value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaBitinceIslemler.gerceklesenSarfiyatYp}"
									style="font-weight: bold"> kg/m2</h:outputLabel>
								<h:outputLabel value=" TEP: " style="font-weight: bold" />
								<h:outputLabel
									value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaBitinceIslemler.gerceklesenSarfiyatTep}"
									style="font-weight: bold"> kg/m2</h:outputLabel>
							</h:panelGrid>

							<h:panelGrid border="0" columns="3" cellspacing="5"
								id="polietilenKaplamaBitinceAddPanelGridId">

								<p:commandButton value="İŞ TAKİP FORMU EKLE"
									update="growl orderAccordionPanelId" process="@this"
									onclick="bitinceDialogWidget.show()" icon="ui-icon-circle-plus"
									actionListener="#{salesItemBean.activeIndex(3)}"
									disabled="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaBitinceIslemler.guncelleyenEmployee.id!=null}">
								</p:commandButton>
								<p:commandButton value="İŞ TAKİP FORMU GÜNCELLE"
									update="growl orderAccordionPanelId" process="@this"
									onclick="bitinceDialogWidget.show()" icon="ui-icon-circle-plus"
									actionListener="#{salesItemBean.activeIndex(3)}"
									disabled="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaBitinceIslemler.guncelleyenEmployee.id==null}">
								</p:commandButton>
								<p:commandButton
									actionListener="#{isTakipFormuPolietilenKaplamaBean.deleteSelectedIsTakipFormuKumlamaBitinceIslemler}"
									update="growl pipeTestsDataTableId" process="@this"
									icon="ui-icon-trash" value="İŞ TAKİP FORMU SİL"
									rendered="false">
								</p:commandButton>
							</h:panelGrid>

						</h:panelGrid>

					</h:form>
				</p:tab>

				<!-- Polietilen Kaplama -->
				<p:tab id="polietilenTabId"
					title=" POLİETİLEN KAPLAMA EKRANI - #{isTakipFormuPolietilenKaplamaBean.selectedItem.proposal.salesOrder.orderNo}/#{isTakipFormuPolietilenKaplamaBean.selectedItem.itemNo} - #{isTakipFormuPolietilenKaplamaBean.selectedItem.proposal.customer.shortName}"
					titleStyle="font-weight: bold;font-size: 16pt;"
					rendered="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplama.id!=null}">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"
						rendered="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.buttonRender}"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.barkodNo}"
						rendered="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.buttonRender}">
					</p:inputText>
					<p:commandButton value="Boru Bul"
						rendered="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.buttonRender}"
						actionListener="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.fillTestListFromBarkod(isTakipFormuPolietilenKaplamaDevamIslemlerBean.barkodNo)}"
						update="polietilenKaplamaPanelGridId polietilenKaplamaDataTableId orderAccordionPanelId growl"
						action="#{salesItemBean.activeIndex(4)}"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>
					<p:commandButton value="Listeyi Getir"
						actionListener="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.fillTestList(isTakipFormuPolietilenKaplamaBean.selectedItem.itemId)}"
						update="polietilenKaplamaPanelGridId polietilenKaplamaDataTableId orderAccordionPanelId growl"
						action="#{salesItemBean.activeIndex(4)}"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>

					<!-- Koordinat Listesi -->
					<p:dataTable var="polietilen" id="polietilenKaplamaDataTableId"
						rowKey="#{polietilen.id}" emptyMessage="#{language.EmptyMessage}"
						value="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.allIsTakipFormuPolietilenKaplamaDevamIslemlerList}"
						paginator="true" rows="13" dynamic="true" dblClickSelect="false"
						selection="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.isTakipFormuPolietilenKaplamaDevamIslemlerForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.formListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="polietilenKaplamaTabId polietilenKaplamaAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="polietilenKaplamaDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="POLİETİLEN KAPLAMA LİSTESİ" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{polietilen.pipe.salesItem.proposal.salesOrder.orderNo}/#{polietilen.pipe.salesItem.itemNo} - #{polietilen.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Boru Sıcaklığı(C) - Isıtma Öncesi">
							<h:outputText value="#{polietilen.isitmaOncesi}"></h:outputText>
						</p:column>

						<p:column headerText="Boru Sıcaklığı(C) - Boya Sonrası">
							<h:outputText value="#{polietilen.isitmaSonrasi}"></h:outputText>
						</p:column>

						<p:column headerText="Kaplama Hızı (m2/s)">
							<h:outputText value="#{polietilen.kaplamaHizi}"></h:outputText>
						</p:column>

						<p:column headerText="Polietilen Film Sıcaklığı (C)">
							<h:outputText value="#{polietilen.polietilenFilmSicakligi}"></h:outputText>
						</p:column>

						<p:column headerText="Yapıştırıcı Film Sıcaklığı (C)">
							<h:outputText value="#{polietilen.yapistiriciFilmSicakligi}"></h:outputText>
						</p:column>

						<p:column headerText="Çekme Testi (Min)">
							<h:outputText value="#{polietilen.cekmeTestiMin}"></h:outputText>
						</p:column>

						<p:column headerText="Extruder A">
							<h:outputText value="#{polietilen.extruderA}"></h:outputText>
						</p:column>

						<p:column headerText="Extruder B">
							<h:outputText value="#{polietilen.extruderB}"></h:outputText>
						</p:column>

						<p:column headerText="Extruder YAP.">
							<h:outputText value="#{polietilen.extruderYap}"></h:outputText>
						</p:column>

						<p:column headerText="Bobin Voltaj">
							<h:outputText value="#{polietilen.bobinVoltaj}"></h:outputText>
						</p:column>

						<p:column headerText="İntercoat Süresi (s)">
							<h:outputText value="#{polietilen.intercoatSuresi}"></h:outputText>
						</p:column>

						<p:column headerText="Tabanca Mesafesi (mm)">
							<h:outputText value="#{polietilen.tabancaMesafesi}"></h:outputText>
						</p:column>

						<!-- 						<p:column headerText="#{language.ACIKLAMALAR}"> -->
						<!-- 							<h:outputText value="#{polietilen.aciklamalar}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column headerText="TARİH">
							<h:outputText value="#{polietilen.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="VARDİYA">
							<h:outputText value="GÜNDÜZ VARDİYASI"
								rendered="#{polietilen.vardiya==1}"></h:outputText>
							<h:outputText value="GECE VARDİYASI"
								rendered="#{polietilen.vardiya==0}"></h:outputText>
						</p:column>

						<p:column headerText="İSİM">
							<h:outputText
								value="#{polietilen.ekleyenEmployee.employee.firstname} #{polietilen.ekleyenEmployee.employee.lastname}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="polietilenKaplamaAddPanelGridId">
						<p:commandButton value="YENİ İŞ TAKİP FORMU EKLE"
							update="growl polietilenKaplamaPanelGridId devamAddPanelGridId"
							process="@this devamAddPanelGridId"
							actionListener="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.reset}"
							disabled="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.updateButtonRender}"
							oncomplete="addFormDialog.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="SEÇİLEN İŞ TAKİP FORMUNU DÜZENLE"
							update="growl polietilenKaplamaPanelGridId" id="bitirButton"
							process="@this polietilenKaplamaPanelGridId"
							oncomplete="addFormDialog.show()" icon="ui-icon-circle-plus"
							rendered="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.updateButtonRender}">
						</p:commandButton>
						<p:commandButton
							actionListener="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.deleteFormSonucc}"
							update="polietilenKaplamaPanelGridId polietilenKaplamaDataTableId growl pipeTestsDataTableId"
							process="@this polietilenKaplamaPanelGridId" icon="ui-icon-trash"
							value="SEÇİLEN İŞ TAKİP FORMUNU SİL"
							rendered="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.updateButtonRender}">
							<f:param id="disKumlamaDeletePipeId"
								value="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</h:panelGrid>

				</p:tab>

			</p:accordionPanel>

			<p:dialog widgetVar="onceDialogWidget"
				header="İŞE BAŞLAMADAN ÖNCE YAPILACAK İŞLEMLER" id="onceAddDialogId">

				<h:panelGrid columns="5" style="width:100%" id="onceAddPanelGridId">

					<h:outputLabel value=" " style="font-weight: bold" />
					<h:outputText value="#{language.ACIKLAMALAR} " style="font-weight: bold" />
					<h:outputText value="#{language.DURUM} " style="font-weight: bold" />
					<h:outputLabel value="TARİH" style="font-weight: bold" />
					<h:outputLabel value="İSİM" style="font-weight: bold" />

					<h:outputLabel
						value="İşin yapılmasında iç kumlama tezgahında herhangi bir engel yoktur."
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.engelYokAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.engelYokCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<h:outputLabel
						value="İç kumlama olacak boruların listesi İç Kumlama tezgah operatörüne bildirilmiştir."
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.boruListesiAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.boruListesiCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<h:outputLabel
						value="İşte kullanılacak aşındırıcı malzeme cinsi İç Kumlama tezgah operatörüne bildirilmiştir."
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.malzemeAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.malzemeCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<h:outputLabel
						value="İş için gerekli tezgah parametreleri başta tezgah şefi olmak üzere tüm tezgah çalışanlarına bildirilmiştir."
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.parametreAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.parametreCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.ongorulenAyarSuresi}"
						style="color: red; font-weight: bold;">İş için tezgah ayarını ön görülen tamamlanma süresi (dakika)</p:inputText>
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.ongorulenAyarAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.ongorulenAyarCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.gerceklesenAyarSuresi}"
						style="color: red; font-weight: bold;">Gerçekleşen ayar süresi (dakika)</p:inputText>
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.gerceklesenAyarAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.gerceklesenAyarCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

				</h:panelGrid>

				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.IPTALKAPAT}"
					oncomplete="onceDialogWidget.hide();" />

				<p:commandButton value="#{language.KAYDETTAMAM}"
					actionListener="#{isTakipFormuPolietilenKaplamaBean.updateSelectedIsTakipFormuPolietilenKaplamaOnceIslemler}"
					oncomplete="onceDialogWidget.hide();"
					update="growl orderAccordionPanelId"
					process="@this onceAddPanelGridId">
				</p:commandButton>
			</p:dialog>

			<p:dialog widgetVar="sonraDialogWidget"
				header="AYAR BİTTİKTEN SONRA YAPILACAK İŞLEMLER"
				id="sonraAddDialogId">

				<h:panelGrid columns="5" style="width:100%" id="sonraAddPanelGridId">

					<h:outputLabel value=" " style="font-weight: bold" />
					<h:outputText value="#{language.ACIKLAMALAR} " style="font-weight: bold" />
					<h:outputText value="#{language.DURUM} " style="font-weight: bold" />
					<h:outputLabel value="TARİH" style="font-weight: bold" />
					<h:outputLabel value="İSİM" style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruId}"
						style="color: red; font-weight: bold;">Ayar bittikten sonra alınan ilk Boru No : </p:inputText>
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruKalinlikMin}"
						style="color: red; font-weight: bold;">Kalınlık Min (mm) : </p:inputText>
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruKalinlikCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruKalinlikOrt}"
						style="color: red; font-weight: bold;">Kalınlık Ort (mm) : </p:inputText>
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruKalinlikCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruKalinlikMax}"
						style="color: red; font-weight: bold;">Kalınlık Max (mm) : </p:inputText>
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.ayarSonrasiIlkBoruKalinlikCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.cekmeTest}"
						style="color: red; font-weight: bold;">Çekme Testi (N/mm2) : </p:inputText>
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.cekmeTestiAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.cekmeTestCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.gorselKontrol}"
						style="color: red; font-weight: bold;">Görsel Kontrol : </p:inputText>
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.gorselKontrolAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.gorselKontrolCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

				</h:panelGrid>

				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.IPTALKAPAT}"
					oncomplete="sonraDialogWidget.hide();" />

				<p:commandButton value="#{language.KAYDETTAMAM}"
					actionListener="#{isTakipFormuPolietilenKaplamaBean.updateSelectedIsTakipFormuPolietilenKaplamaSonraIslemler}"
					oncomplete="sonraDialogWidget.hide();"
					update="growl orderAccordionPanelId"
					process="@this sonraAddPanelGridId">
				</p:commandButton>
			</p:dialog>

			<p:dialog widgetVar="bitinceDialogWidget"
				header="ÜRETİM BİTİNCE YAPILACAK İŞLEMLER" id="bitinceAddDialogId">

				<h:panelGrid columns="2" id="bitinceAddPanelGridId">

					<h:outputLabel value=" Hedeflenen malzeme sarfiyatı : "
						style="font-weight: bold" />

					<h:panelGrid columns="2">

						<h:outputLabel value=" PE (kg/m2) : " style="font-weight: bold" />
						<p:inputText
							value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaBitinceIslemler.hedeflenenSarfiyatPe}"
							style="font-weight: bold"></p:inputText>
						<h:outputLabel value=" YP (kg/m2) : " style="font-weight: bold" />
						<p:inputText
							value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaBitinceIslemler.hedeflenenSarfiyatYp}"
							style="font-weight: bold"></p:inputText>
						<h:outputLabel value=" TEP (kg/m2) : " style="font-weight: bold" />
						<p:inputText
							value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaBitinceIslemler.hedeflenenSarfiyatTep}"
							style="font-weight: bold"></p:inputText>

					</h:panelGrid>

					<h:outputLabel value="Gerçekleşen malzeme sarfiyatı : "
						style="font-weight: bold" />
					<h:panelGrid columns="2">
						<h:outputLabel value=" PE (kg/m2) : " style="font-weight: bold" />
						<p:inputText
							value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaBitinceIslemler.gerceklesenSarfiyatPe}"
							style="font-weight: bold"></p:inputText>
						<h:outputLabel value=" YP (kg/m2): " style="font-weight: bold" />
						<p:inputText
							value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaBitinceIslemler.gerceklesenSarfiyatYp}"
							style="font-weight: bold"></p:inputText>
						<h:outputLabel value=" TEP (kg/m2) : " style="font-weight: bold" />
						<p:inputText
							value="#{isTakipFormuPolietilenKaplamaBean.selectedIsTakipFormuPolietilenKaplamaBitinceIslemler.gerceklesenSarfiyatTep}"
							style="font-weight: bold"></p:inputText>
					</h:panelGrid>

				</h:panelGrid>

				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.IPTALKAPAT}"
					oncomplete="bitinceDialogWidget.hide();" />

				<p:commandButton value="#{language.KAYDETTAMAM}"
					actionListener="#{isTakipFormuPolietilenKaplamaBean.updateSelectedIsTakipFormuPolietilenKaplamaBitinceIslemler}"
					oncomplete="bitinceDialogWidget.hide();"
					update="growl orderAccordionPanelId"
					process="@this bitinceAddPanelGridId">
				</p:commandButton>
			</p:dialog>

			<p:dialog widgetVar="addFormDialog" header="İş Takip Formu"
				id="addFormDialogId">
				<h:panelGrid columns="2" style="width:100%" id="devamAddPanelGridId">

					<h:outputLabel value="Boru Sıcaklığı (C) - Isıtma Öncesi : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.isTakipFormuPolietilenKaplamaDevamIslemlerForm.isitmaOncesi}"
						style="font-weight: bold" />

					<h:outputLabel value="Boru Sıcaklığı (C) - Boya Sonrası : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.isTakipFormuPolietilenKaplamaDevamIslemlerForm.isitmaSonrasi}"
						style="font-weight: bold" />

					<h:outputLabel value="Kaplama Hızı (m2/s) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.isTakipFormuPolietilenKaplamaDevamIslemlerForm.kaplamaHizi}"
						style="font-weight: bold" />

					<h:outputLabel value="Polietilen Film Sıcaklığı (C) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.isTakipFormuPolietilenKaplamaDevamIslemlerForm.polietilenFilmSicakligi}"
						style="font-weight: bold" />

					<h:outputLabel value="Yapıştırıcı Film Sıcaklığı (C) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.isTakipFormuPolietilenKaplamaDevamIslemlerForm.yapistiriciFilmSicakligi}"
						style="font-weight: bold" />

					<h:outputLabel value="Çekme Testi (Min N/mm2) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.isTakipFormuPolietilenKaplamaDevamIslemlerForm.cekmeTestiMin}"
						style="font-weight: bold" />

					<h:outputLabel value="Extruder A : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.isTakipFormuPolietilenKaplamaDevamIslemlerForm.extruderA}"
						style="font-weight: bold" />

					<h:outputLabel value="Extruder B : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.isTakipFormuPolietilenKaplamaDevamIslemlerForm.extruderB}"
						style="font-weight: bold" />

					<h:outputLabel value="Extruder Yap. : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.isTakipFormuPolietilenKaplamaDevamIslemlerForm.extruderYap}"
						style="font-weight: bold" />

					<h:outputLabel value="Bobin Voltaj : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.isTakipFormuPolietilenKaplamaDevamIslemlerForm.bobinVoltaj}"
						style="font-weight: bold" />

					<h:outputLabel value="Intercoat Süresi (s) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.isTakipFormuPolietilenKaplamaDevamIslemlerForm.intercoatSuresi}"
						style="font-weight: bold" />

					<h:outputLabel value="Tabanca Mesafesi (mm) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.isTakipFormuPolietilenKaplamaDevamIslemlerForm.tabancaMesafesi}"
						style="font-weight: bold" />

					<h:outputLabel value="Vardiya : " style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.isTakipFormuPolietilenKaplamaDevamIslemlerForm.vardiya}">
						<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
						<f:selectItem itemValue="0" itemLabel="GECE"></f:selectItem>
					</p:selectOneMenu>

				</h:panelGrid>

				<p:commandButton value="#{language.IPTALKAPAT}"
					oncomplete="addFormDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="{language.KAYDETTAMAM}"
					actionListener="#{isTakipFormuPolietilenKaplamaDevamIslemlerBean.addOrUpdateFormSonuc}"
					oncomplete="addFormDialog.hide();"
					update="growl orderAccordionPanelId"
					process="@this addFormDialogId">
				</p:commandButton>
			</p:dialog>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
			<p:growl id="growl" sticky="true" />
		</ui:define>
	</ui:composition>
</h:body>
</html>