<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget"
				binding="#{salesItemBean.accordionPanel}">
				<p:tab id="salesTabId" title="Şipariş ve Sipariş Kalemleri">

					<p:dataTable var="salesOrders" id="orderTable"
						value="#{salesOrderBean.orderList}"
						rowKey="#{salesOrders.orderId}"
						selection="#{salesOrderBean.selectedOrder}" selectionMode="single"
						update="orderSelected" paginator="true" rows="13"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesOrderBean.filteredList}">

						<p:ajax event="rowSelect"
							update="orderSelected,orderPanel,itemPanel,itemsTable"
							listener="#{salesMenuBean.showManageType1Menu}" />

						<p:ajax event="rowSelect"
							listener="#{qualitySpecBean.producedPipes}"
							process="listForm:orderTable orderTable"
							update="pipeForm producedPipesDataTableId salesTabId" />
						<p:ajax event="rowSelect" update="orderAccordionPanelId">
						</p:ajax>
						<p:ajax event="rowSelect" update="onceTabId">
						</p:ajax>

						<p:ajax event="rowSelect"
							listener="#{salesItemBean.activeIndex(0)}"
							update="orderAccordionPanelId:listOnceForm:datatableOnce orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
				  #{language.salesOrder}				
							<h:commandLink title="#{language.salesExcelExport}"
								immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="orderTable"
									fileName="#{language.salesOrderExcel}" />
							</h:commandLink>
						</f:facet>

						<p:column sortBy="#{salesOrders.salesOrderNo}"
							filterBy="#{salesOrders.orderNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText value="#{salesOrders.orderNo}" />
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.proposalNumber}"
							filterBy="#{salesOrders.proposal.proposalNumber}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesProposalNumber}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.proposalNumber}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.customer.shortName}"
							filterBy="#{salesOrders.proposal.customer.shortName}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesCustomer}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.customer.shortName}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.requestDate}"
							filterBy="#{salesOrders.proposal.requestDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesRequestDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.requestDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.formDate}"
							filterBy="#{salesOrders.proposal.formDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesFormDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column sortBy="#{salesOrders.proposal.postDate}"
							filterBy="#{salesOrders.proposal.postDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesPostDate}" />
							</f:facet>
							<h:outputText value="#{salesOrders.proposal.postDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="salesItems" id="itemsTable"
						value="#{salesItemBean.itemsOfSelectedOrder}"
						rowKey="#{salesItems.itemId}"
						selection="#{isTakipFormuKumlamaBean.selectedItem}"
						selectionMode="single" emptyMessage="#{language.salesNoItem}"
						filteredValue="#{salesItemBean.filteredList}">

						<!-- 						<p:ajax event="rowSelect" -->
						<!-- 							listener="#{tahribatsizTestOrderListBean.loadSelectedOrder}" -->
						<!-- 							process="orderAccordionPanelId:listOrderForm:datatableOrders datatableOrders" -->
						<!-- 							update="orderAccordionPanelId:listOnceForm:datatableOnce orderAccordionPanelId" /> -->

						<p:ajax event="rowSelect"
							listener="#{salesItemBean.activeIndex(1)}"
							update="orderAccordionPanelId:listOnceForm:datatableOnce orderAccordionPanelId">
						</p:ajax>

						<p:ajax event="rowSelect"
							listener="#{isTakipFormuKumlamaBean.loadSelectedTakipForm(0)}"
							update="orderAccordionPanelId:listOnceForm:datatableOnce orderAccordionPanelId growl">
						</p:ajax>

						<f:facet name="header">
				  #{language.salesItem}			
							<h:commandLink title="#{language.salesExcelExport}"
								immediate="true">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls" target="itemsTable"
									fileName="#{language.salesOrderItemExcel}" />
							</h:commandLink>
							<p:spacer width="5120" height="5" />
						</f:facet>

						<p:column sortBy="#{salesItems.No}"
							filterBy="#{salesItems.itemNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesNumber}" />
							</f:facet>
							<h:outputText value="#{salesItems.itemNo}" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}"
							filterBy="#{salesItems.diameter}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.diameter}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.quality}"
							filterBy="#{salesItems.thickness}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesThickness}" />
							</f:facet>
							<h:outputText value="#{salesItems.thickness}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.diameter}"
							filterBy="#{salesItems.quality}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesQuality}" />
							</f:facet>
							<h:outputText value="#{salesItems.quality}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.pipeLength}"
							filterBy="#{salesItems.pipeLength}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesPipeLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.pipeLength}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalLengthM}"
							filterBy="#{salesItems.totalLengthM}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalLength}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalLengthM}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.unitWeight}"
							filterBy="#{salesItems.unitWeight}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesUnitWeight}" />
							</f:facet>
							<h:outputText value="#{salesItems.unitWeight}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.totalTonnage}"
							filterBy="#{salesItems.totalTonnage}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesTotalTonnage}" />
							</f:facet>
							<h:outputText value="#{salesItems.totalTonnage}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column sortBy="#{salesItems.manufacturingStandard}"
							filterBy="#{salesItems.manufacturingStandard}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesDiameter}" />
							</f:facet>
							<h:outputText value="#{salesItems.manufacturingStandard}"></h:outputText>
						</p:column>

						<p:column sortBy="#{salesItems.transportation}"
							filterBy="#{salesItems.transportation}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.salesManufacturingStandard}" />
							</f:facet>
							<h:outputText value="#{salesItems.transportation}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderNo}" />
							</f:facet>
							<h:outputText value="#{salesOrderBean.selectedOrder.orderNo}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesProposalNumber}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.proposalNumber}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesCustomer}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.customer.shortName}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesRequestDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.requestDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesFormDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPostDate}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.postDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesValidityPeriod}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.validityPeriod}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPrepaidBy}" />
							</f:facet>
							<c:forEach items="#{salesItems.proposal.employeeList}"
								var="salesList">
								<h:outputText
									value="#{salesList.firstname} #{salesList.lastname}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								-
								<h:outputText value="#{salesList.amount}"
									converter="salesNumberConverter" />
								<h:outputText value=" " />
							</c:forEach>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesApproval}1" />
							</f:facet>
							<h:outputText rendered="#{salesItems.proposal.approval1 == true}"
								value="#{language.salesApproved}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesApproval}2" />
							</f:facet>
							<h:outputText rendered="#{salesItems.proposal.approval2 == true}"
								value="#{language.salesApproved}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesCurrencyUnit}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.currencyUnit.name}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesProposalRequestedDocuments}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.requestedDocuments}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesNotes}" />
							</f:facet>
							<h:outputText value="#{salesItems.proposal.notes}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderFormDate}" />
							</f:facet>
							<h:outputText value="#{salesOrderBean.selectedOrder.formDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderDeliveryDate}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.deliveryDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope1}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope1 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope2}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope2 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope3}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope3 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope4}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope4 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderIsInScope5}" />
							</f:facet>
							<h:outputText
								rendered="#{salesOrderBean.selectedOrder.isInScope5 == true}"
								value="#{language.salesTrue}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderTransportationApproximateAmount}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountForTransportation}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderTransportationApproximateAmountDetail}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountDetailForTransportation}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesOrderApproximateAmount}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmount}"
								converter="salesNumberConverter" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText
									value="#{language.salesOrderApproximateAmountDetail}" />
							</f:facet>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.approximateAmountDetail}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.salesPayments}" />
							</f:facet>
							<c:forEach items="#{salesPaymentBean.paymentsOfSelectedOrder}"
								var="salesList">
								<h:outputText value="(" />
								<h:outputText value="#{salesList.paymentDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								-
								<h:outputText value="#{salesList.amount}"
									converter="salesNumberConverter" />
								<h:outputText value=") " />
							</c:forEach>
						</p:column>

					</p:dataTable>
				</p:tab>

				<p:tab id="onceTabId" title="İşe Başlamadan Yapılacak İşlemler"
					rendered="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlama.id!=null}">
					<h:form id="listOnceForm">

						<h:panelGrid columns="5" style="width:100%" id="oncePanelGridId">

							<h:outputLabel value=" " style="font-weight: bold" />
							<h:outputText value="#{language.ACIKLAMALAR} "
								style="font-weight: bold" />
							<h:outputText value="#{language.DURUM} "
								style="font-weight: bold" />
							<h:outputLabel value="TARİH" style="font-weight: bold" />
							<h:outputLabel value="İSİM" style="font-weight: bold" />

							<h:outputLabel
								value="İşin yapılmasında dış kumlama tezgahında herhangi bir engel yoktur."
								style="font-weight: bold" />
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.engelYokAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.engelYokCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Dış kumlama olacak boruların listesi Dış Kumlama tezgah operatörüne bildirilmiştir."
								style="font-weight: bold" />
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.boruListesiAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.boruListesiCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="İşte kullanılacak aşındırıcı malzeme cinsi Dış Kumlama tezgah operatörüne bildirilmiştir."
								style="font-weight: bold" />
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.asindiriciMalzemeAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.asindiriciMalzemeCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="İş için gerekli tezgah parametreleri(kumlama hızı(m2/saat), pürüzlülük, yüzey kalitesi, vb) başta tezgah şefi olmak üzere tüm tezgah çalışanlarına bildirilmiştir."
								style="font-weight: bold" />
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.parametreAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.parametreCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="İş için tezgah ayarını ön görülen tamamlanma süresi #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.ongorulenAyarSuresi} dakikadır."
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.ongorulenAyarAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.ongorulenAyarCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Gerçekleşen ayar süresi #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.gerceklesenAyarSuresi} dakikadır."
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.gerceklesenAyarAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.gerceklesenAyarCheck}"
								disabled="true">
								<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<!-- 							<p:inputText id="firstname" value="" label="Firstname" /> -->

							<!-- 							<h:outputLabel for="surname" value="Surname: *" /> -->
							<!-- 							<p:inputText id="surname" value="" required="true" -->
							<!-- 								label="Surname" /> -->

						</h:panelGrid>
						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="icKumlamaOnceAddPanelGridId">

							<p:commandButton value="İŞ TAKİP FORMU EKLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="onceDialogWidget.show()" icon="ui-icon-circle-plus"
								disabled="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncelleyenEmployee!=null}">
							</p:commandButton>
							<p:commandButton value="İŞ TAKİP FORMU GÜNCELLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="onceDialogWidget.show()" icon="ui-icon-circle-plus"
								disabled="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.guncelleyenEmployee==null}">
							</p:commandButton>
							<p:commandButton
								actionListener="#{isTakipFormuKumlamaBean.deleteSelectedIsTakipFormuKumlamaOnceIslemler}"
								update="growl orderAccordionPanelId" process="@this"
								icon="ui-icon-trash" value="İŞ TAKİP FORMU SİL" rendered="false">
							</p:commandButton>
						</h:panelGrid>
					</h:form>
				</p:tab>

				<p:tab id="sonraTabId"
					title="Ayar Bittikten Sonra Yapılacak İşlemler"
					rendered="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlama.id!=null}">

					<h:form id="listSonraForm">

						<h:panelGrid columns="5" style="width:100%">

							<h:outputLabel value=" " style="font-weight: bold" />
							<h:outputText value="#{language.ACIKLAMALAR} "
								style="font-weight: bold" />
							<h:outputText value="#{language.DURUM} "
								style="font-weight: bold" />
							<h:outputLabel value="TARİH" style="font-weight: bold" />
							<h:outputLabel value="İSİM" style="font-weight: bold" />

							<h:outputLabel
								value="Dış kumlama olacak boruların dış yüzeyi (yağ, kirikorazyon, nem) kontrol edilmiştir."
								style="font-weight: bold" />
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.yuzeyAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.yuzeyCheck}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Ayar bittikten sonra alınan ilk boru ( Boru No : #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.ayarSonrasiIlkBoruId} )"
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.ayarSonrasiIlkBoruAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.ayarSonrasiIlkBoruCheck}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Yüzey pürüzlülüğü : #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.yuzeyPuruzlulugu} µm"
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.yuzeyPuruzluluguAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.yuzeyPuruzluluguCheck}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Yüzey toz testi : #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.tozTesti} sınıf"
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.tozTestiAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.tozTestiCheck}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Yüzey kalitesi : Sa #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.yuzeyKalitesi}"
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.yuzeyKalitesiAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.yuzeyKalitesiCheck}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

							<h:outputLabel
								value="Kumlama hızı kontrol edildi. ( #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.kumlamaHizi} m2/saat) Planlanan kumlama hızı ile karşılaştırıldı."
								style="color: red; font-weight: bold;" />
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.kumlamaHiziAciklama}"
								style="font-weight: bold" />
							<p:selectOneMenu
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.kumlamaHiziCheck}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
							<h:outputLabel
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
								style="font-weight: bold" />

						</h:panelGrid>

						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="icKumlamaSonraAddPanelGridId">

							<p:commandButton value="İŞ TAKİP FORMU EKLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="sonraDialogWidget.show()" icon="ui-icon-circle-plus"
								actionListener="#{salesItemBean.activeIndex(2)}"
								disabled="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee!=null}">
							</p:commandButton>
							<p:commandButton value="İŞ TAKİP FORMU GÜNCELLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="sonraDialogWidget.show()" icon="ui-icon-circle-plus"
								actionListener="#{salesItemBean.activeIndex(2)}"
								disabled="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee==null}">
							</p:commandButton>
							<p:commandButton
								actionListener="#{isTakipFormuKumlamaBean.deleteSelectedIsTakipFormuKumlamaSonraIslemler}"
								update="manuelUtPanelGridId manuelUtTestsDataTableId growl pipeTestsDataTableId"
								process="@this manuelUtPanelGridId" icon="ui-icon-trash"
								value="İŞ TAKİP FORMU SİL" rendered="false">
							</p:commandButton>
						</h:panelGrid>

					</h:form>

				</p:tab>

				<p:tab id="bitinceTabId" title="Üretim Bitince Yapılacak İşlemler"
					rendered="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlama.id!=null}">

					<h:form id="listBitinceForm">

						<h:panelGrid columns="2" style="width:30%">

							<h:outputLabel value=" Hedeflenen malzeme sarfiyatı : "
								style="font-weight: bold" />
							<h:outputLabel
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaBitinceIslemler.hedeflenenSarfiyat}"
								style="font-weight: bold"> gr/m2</h:outputLabel>

							<h:outputLabel value="Gerçekleşen malzeme sarfiyatı : "
								style="font-weight: bold" />
							<h:outputLabel
								value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaBitinceIslemler.gerceklesenSarfiyat}"
								style="font-weight: bold"> kg/m2</h:outputLabel>

						</h:panelGrid>

						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="icKumlamaBitinceAddPanelGridId">

							<p:commandButton value="İŞ TAKİP FORMU EKLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="bitinceDialogWidget.show()" icon="ui-icon-circle-plus"
								actionListener="#{salesItemBean.activeIndex(3)}"
								disabled="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaBitinceIslemler.guncelleyenEmployee!=null}">
							</p:commandButton>
							<p:commandButton value="İŞ TAKİP FORMU GÜNCELLE"
								update="growl orderAccordionPanelId" process="@this"
								onclick="bitinceDialogWidget.show()" icon="ui-icon-circle-plus"
								actionListener="#{salesItemBean.activeIndex(3)}"
								disabled="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaBitinceIslemler.guncelleyenEmployee==null}">
							</p:commandButton>
							<p:commandButton
								actionListener="#{isTakipFormuKumlamaBean.deleteSelectedIsTakipFormuKumlamaBitinceIslemler}"
								update="manuelUtPanelGridId manuelUtTestsDataTableId growl pipeTestsDataTableId"
								process="@this manuelUtPanelGridId" icon="ui-icon-trash"
								value="İŞ TAKİP FORMU SİL" rendered="false">
							</p:commandButton>
						</h:panelGrid>

					</h:form>
				</p:tab>

				<!-- Dış Kumlama -->
				<p:tab id="disKumlamaTabId"
					title=" DIŞ KUMLAMA EKRANI - #{isTakipFormuKumlamaBean.selectedItem.proposal.salesOrder.orderNo}/#{isTakipFormuKumlamaBean.selectedItem.itemNo} - #{isTakipFormuKumlamaBean.selectedItem.proposal.customer.shortName}"
					titleStyle="font-weight: bold;font-size: 16pt;"
					rendered="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlama.id!=null}">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"
						rendered="#{isTakipFormuKumlamaDevamIslemlerBean.buttonRender}"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{isTakipFormuKumlamaDevamIslemlerBean.barkodNo}"
						rendered="#{isTakipFormuKumlamaDevamIslemlerBean.buttonRender}">
					</p:inputText>
					<p:commandButton value="Boru Bul"
						rendered="#{isTakipFormuKumlamaDevamIslemlerBean.buttonRender}"
						actionListener="#{isTakipFormuKumlamaDevamIslemlerBean.fillTestListFromBarkod(isTakipFormuKumlamaDevamIslemlerBean.barkodNo)}"
						update="disKumlamaPanelGridId disKumlamaDataTableId orderAccordionPanelId growl"
						action="#{salesItemBean.activeIndex(4)}"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>
					<p:commandButton value="Listeyi Getir"
						actionListener="#{isTakipFormuKumlamaDevamIslemlerBean.fillTestList(isTakipFormuKumlamaBean.selectedItem.itemId,0)}"
						update="disKumlamaPanelGridId disKumlamaDataTableId orderAccordionPanelId growl"
						action="#{salesItemBean.activeIndex(4)}"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>

					<!-- Koordinat Listesi -->
					<p:dataTable var="devamForm" id="disKumlamaDataTableId"
						rowKey="#{devamForm.id}" emptyMessage="#{language.EmptyMessage}"
						value="#{isTakipFormuKumlamaDevamIslemlerBean.allIsTakipFormuKumlamaDevamIslemlerList}"
						paginator="true" rows="13" dynamic="true" dblClickSelect="false"
						selection="#{isTakipFormuKumlamaDevamIslemlerBean.isTakipFormuKumlamaDevamIslemlerForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{isTakipFormuKumlamaDevamIslemlerBean.formListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="disKumlamaTabId disKumlamaAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="disKumlamaDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="DIŞ KUMLAMA İŞ TAKİP FORMU"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{devamForm.pipe.salesItem.proposal.salesOrder.orderNo}/#{devamForm.pipe.salesItem.itemNo} - #{devamForm.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Pürüzlülük">
							<h:outputText value="#{devamForm.puruzluluk}"></h:outputText>
						</p:column>

						<p:column headerText="Yüzey Kalitesi">
							<h:outputText value="#{devamForm.yuzeyKalitesi}"></h:outputText>
						</p:column>

						<p:column headerText="Toz Testi">
							<h:outputText value="#{devamForm.tozTesti}"></h:outputText>
						</p:column>

						<p:column headerText="Kumlama Hızı (m2/s)">
							<h:outputText value="#{devamForm.kumlamaHizi}"></h:outputText>
						</p:column>

						<p:column headerText="Çiğlenme Noktası ()">
							<h:outputText value="#{devamForm.ciglenmeNoktasi}"></h:outputText>
						</p:column>

						<p:column headerText="Yüzey Sıcaklığı">
							<h:outputText value="#{devamForm.yuzeySicakligi}"></h:outputText>
						</p:column>

						<p:column headerText="RH (%)">
							<h:outputText value="#{devamForm.rh}"></h:outputText>
						</p:column>

						<p:column headerText="Malzeme Sarfiyatı (kg/m2)">
							<h:outputText value="#{devamForm.malzemeSarfiyat}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.ACIKLAMALAR}">
							<h:outputText value="#{devamForm.aciklamalar}"></h:outputText>
						</p:column>

						<p:column headerText="TARİH">
							<h:outputText value="#{devamForm.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="VARDİYA">
							<h:outputText value="GÜNDÜZ VARDİYASI"
								rendered="#{devamForm.vardiya==1}"></h:outputText>
							<h:outputText value="GECE VARDİYASI"
								rendered="#{devamForm.vardiya==0}"></h:outputText>
						</p:column>

						<p:column headerText="İSİM">
							<h:outputText
								value="#{devamForm.ekleyenEmployee.employee.firstname} #{devamForm.ekleyenEmployee.employee.lastname}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="disKumlamaAddPanelGridId">
						<p:commandButton value="YENİ İŞ TAKİP FORMU EKLE"
							update="growl disKumlamaPanelGridId warningSelectedTornaDialogId devamAddPanelGridId"
							process="@this devamAddPanelGridId"
							actionListener="#{isTakipFormuKumlamaDevamIslemlerBean.reset}"
							disabled="#{isTakipFormuKumlamaDevamIslemlerBean.updateButtonRender}"
							oncomplete="addFormDialog.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="SEÇİLEN İŞ TAKİP FORMUNU DÜZENLE"
							update="growl disKumlamaPanelGridId warningSelectedTornaDialogId"
							id="bitirButton" process="@this disKumlamaPanelGridId"
							oncomplete="addFormDialog.show()" icon="ui-icon-circle-plus"
							rendered="#{isTakipFormuKumlamaDevamIslemlerBean.updateButtonRender}">
						</p:commandButton>
						<p:commandButton
							actionListener="#{isTakipFormuKumlamaDevamIslemlerBean.deleteFormSonuc}"
							update="disKumlamaPanelGridId disKumlamaDataTableId growl pipeTestsDataTableId"
							process="@this disKumlamaPanelGridId" icon="ui-icon-trash"
							value="SEÇİLEN İŞ TAKİP FORMUNU SİL"
							rendered="#{isTakipFormuKumlamaDevamIslemlerBean.updateButtonRender}">
							<f:param id="disKumlamaDeletePipeId"
								value="#{isTakipFormuKumlamaDevamIslemlerBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</h:panelGrid>

				</p:tab>

			</p:accordionPanel>

			<p:dialog widgetVar="onceDialogWidget"
				header="İŞE BAŞLAMADAN ÖNCE YAPILACAK İŞLEMLER" id="onceAddDialogId">
				<h:panelGrid columns="5" style="width:100%" id="onceAddPanelGridId">

					<h:outputLabel value=" " style="font-weight: bold" />
					<h:outputText value="#{language.ACIKLAMALAR} "
						style="font-weight: bold" />
					<h:outputText value="#{language.DURUM} " style="font-weight: bold" />
					<h:outputLabel value="TARİH" style="font-weight: bold" />
					<h:outputLabel value="İSİM" style="font-weight: bold" />

					<h:outputLabel
						value="İşin yapılmasında dış kumlama tezgahında herhangi bir engel yoktur."
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.engelYokAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.engelYokCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.engelYokTarih}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.engelYokKullanici}"
						style="font-weight: bold" />

					<h:outputLabel
						value="Dış kumlama olacak boruların listesi Dış Kumlama tezgah operatörüne bildirilmiştir."
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.boruListesiAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.boruListesiCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.boruListesiTarih}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.boruListesiKullanici}"
						style="font-weight: bold" />

					<h:outputLabel
						value="İşte kullanılacak aşındırıcı malzeme cinsi Dış Kumlama tezgah operatörüne bildirilmiştir."
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.asindiriciMalzemeAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.asindiriciMalzemeCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.asindiriciMalzemeTarih}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.asindiriciMalzemeKullanici}"
						style="font-weight: bold" />

					<h:outputLabel
						value="İş için gerekli tezgah parametreleri başta tezgah şefi olmak üzere tüm tezgah çalışanlarına bildirilmiştir."
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.parametreAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.parametreCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.parametreTarih}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.parametreKullanici}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.ongorulenAyarSuresi}"
						style="font-weight: bold"> İş için tezgah ayarını ön görülen tamamlanma dakikası : </p:inputText>
					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.ongorulenAyarAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.ongorulenAyarCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.ongorulenAyarTarih}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.ongorulenAyarKullanici}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.gerceklesenAyarSuresi}"
						style="font-weight: bold"> Gerçekleşen ayar dakikası : </p:inputText>
					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.gerceklesenAyarAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.gerceklesenAyarCheck}"
						disabled="true">
						<f:selectItem itemValue="null" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="true" itemLabel="TAMAM"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="RED"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.gerceklesenAyarTarih}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaOnceIslemler.gerceklesenAyarKullanici}"
						style="font-weight: bold" />

				</h:panelGrid>

				<p:spacer width="15" height="50" />

				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="onceDialogWidget.hide();" />

				<p:commandButton value="KAYDET"
					actionListener="#{isTakipFormuKumlamaBean.updateSelectedIsTakipFormuKumlamaOnceIslemler}"
					oncomplete="onceDialogWidget.hide();"
					update="growl orderAccordionPanelId"
					process="@this onceAddPanelGridId">
				</p:commandButton>
			</p:dialog>

			<p:dialog widgetVar="sonraDialogWidget"
				header="AYAR BİTTİKTEN SONRA YAPILACAK İŞLEMLER"
				id="sonraAddDialogId">

				<h:panelGrid columns="5" style="width:100%" id="sonraAddPanelGridId">

					<h:outputLabel value=" " style="font-weight: bold" />
					<h:outputText value="#{language.ACIKLAMALAR}"
						style="font-weight: bold" />
					<h:outputText value="#{language.DURUM} " style="font-weight: bold" />
					<h:outputLabel value="TARİH" style="font-weight: bold" />
					<h:outputLabel value="İSİM" style="font-weight: bold" />

					<h:outputLabel
						value="Dış kumlama olacak boruların dış yüzeyi (yağ, kirikorazyon, nem) kontrol edilmiştir."
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.yuzeyAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.yuzeyCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.ayarSonrasiIlkBoruId}"
						style="color: red; font-weight: bold;"> Ayar bittikten sonra alınan ilk Boru No : </p:inputText>
					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.ayarSonrasiIlkBoruAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.ayarSonrasiIlkBoruCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.yuzeyPuruzlulugu}"
						style="color: red; font-weight: bold;"> Yüzey pürüzlülüğü : </p:inputText>
					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.yuzeyPuruzluluguAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.yuzeyPuruzluluguCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.tozTesti}"
						style="color: red; font-weight: bold;"> Yüzey toz testi : </p:inputText>
					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.tozTestiAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.tozTestiCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.yuzeyKalitesi}"
						style="color: red; font-weight: bold;"> Yüzey kalitesi : </p:inputText>
					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.yuzeyKalitesiAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.yuzeyKalitesiCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.kumlamaHizi}"
						style="color: red; font-weight: bold;"> Kumlama Hızı : (m2/saat) </p:inputText>
					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.kumlamaHiziAciklama}"
						style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.kumlamaHiziCheck}"
						disabled="true">
						<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="TAMAM"></f:selectItem>
					</p:selectOneMenu>
					<h:outputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncellemeZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>
					<h:outputLabel
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.firstname} #{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaSonraIslemler.guncelleyenEmployee.employee.lastname}"
						style="font-weight: bold" />

				</h:panelGrid>

				<p:spacer width="15" height="50" />

				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="sonraDialogWidget.hide();" />

				<p:commandButton value="KAYDET"
					actionListener="#{isTakipFormuKumlamaBean.updateSelectedIsTakipFormuKumlamaSonraIslemler}"
					oncomplete="sonraDialogWidget.hide();"
					update="growl orderAccordionPanelId"
					process="@this sonraAddPanelGridId">
				</p:commandButton>
			</p:dialog>

			<p:dialog widgetVar="bitinceDialogWidget"
				header="ÜRETİM BİTİNCE YAPILACAK İŞLEMLER" id="bitinceAddDialogId">

				<h:panelGrid columns="2" style="width:30%"
					id="bitinceAddPanelGridId">

					<h:outputLabel value=" Hedeflenen malzeme sarfiyatı : (gr/m2)"
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaBitinceIslemler.hedeflenenSarfiyat}"
						style="font-weight: bold"></p:inputText>

					<h:outputLabel value="Gerçekleşen malzeme sarfiyatı : (kg/m2)"
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuKumlamaBean.selectedIsTakipFormuKumlamaBitinceIslemler.gerceklesenSarfiyat}"
						style="font-weight: bold"></p:inputText>

				</h:panelGrid>

				<p:spacer width="15" height="50" />

				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="bitinceDialogWidget.hide();" />

				<p:commandButton value="KAYDET"
					actionListener="#{isTakipFormuKumlamaBean.updateSelectedIsTakipFormuKumlamaBitinceIslemler}"
					oncomplete="bitinceDialogWidget.hide();"
					update="growl orderAccordionPanelId"
					process="@this bitinceAddPanelGridId">
				</p:commandButton>
			</p:dialog>

			<p:dialog widgetVar="addFormDialog" header="İş Takip Formu"
				id="addFormDialogId">
				<h:panelGrid columns="2" style="width:100%" id="devamAddPanelGridId">

					<h:outputLabel value="Pürüzlülük : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuKumlamaDevamIslemlerBean.isTakipFormuKumlamaDevamIslemlerForm.puruzluluk}"
						style="font-weight: bold" />

					<h:outputLabel value="Yüzey Kalitesi : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuKumlamaDevamIslemlerBean.isTakipFormuKumlamaDevamIslemlerForm.yuzeyKalitesi}"
						style="font-weight: bold" />

					<h:outputLabel value="Toz Testi : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuKumlamaDevamIslemlerBean.isTakipFormuKumlamaDevamIslemlerForm.tozTesti}"
						style="font-weight: bold" />

					<h:outputLabel value="Kumlama Hızı (m2/s) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuKumlamaDevamIslemlerBean.isTakipFormuKumlamaDevamIslemlerForm.kumlamaHizi}"
						style="font-weight: bold" />

					<h:outputLabel value="Çiğlenme Noktası (C) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuKumlamaDevamIslemlerBean.isTakipFormuKumlamaDevamIslemlerForm.ciglenmeNoktasi}"
						style="font-weight: bold" />

					<h:outputLabel value="Yüzey Sıcaklığı (C) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuKumlamaDevamIslemlerBean.isTakipFormuKumlamaDevamIslemlerForm.yuzeySicakligi}"
						style="font-weight: bold" />

					<h:outputLabel value="RH (%) : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuKumlamaDevamIslemlerBean.isTakipFormuKumlamaDevamIslemlerForm.rh}"
						style="font-weight: bold" />

					<h:outputLabel value="Malzeme Sarfiyatı (kg/m2) : "
						style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuKumlamaDevamIslemlerBean.isTakipFormuKumlamaDevamIslemlerForm.malzemeSarfiyat}"
						style="font-weight: bold" />

					<h:outputLabel value="Açıklamalar : " style="font-weight: bold" />
					<p:inputText
						value="#{isTakipFormuKumlamaDevamIslemlerBean.isTakipFormuKumlamaDevamIslemlerForm.aciklamalar}"
						style="font-weight: bold" />

					<h:outputLabel value="Vardiya : " style="font-weight: bold" />
					<p:selectOneMenu
						value="#{isTakipFormuKumlamaDevamIslemlerBean.isTakipFormuKumlamaDevamIslemlerForm.vardiya}">
						<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
						<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
						<f:selectItem itemValue="0" itemLabel="GECE"></f:selectItem>
					</p:selectOneMenu>

				</h:panelGrid>

				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="addFormDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="KABUL ET - KAYDET"
					actionListener="#{isTakipFormuKumlamaDevamIslemlerBean.addOrUpdateFormSonuc}"
					oncomplete="addFormDialog.hide();"
					update="growl orderAccordionPanelId"
					process="@this addFormDialogId">
				</p:commandButton>
			</p:dialog>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
			<p:growl id="growl" sticky="true" />
		</ui:define>
	</ui:composition>
</h:body>
</html>