<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<title>EmekBoru login</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
	<link type="text/css" rel="stylesheet" href="styles/style.css" />
</h:head>

<h:body>
	<f:view locale="#{languageSelector.locale}" encoding="UTF-8"
		contentType="text/html">
		<h:form id="loginForm" prependId="false" styleClass="background"
			acceptcharset="UTF-8">
			<h:panelGrid border="0" columns="2" cellspacing="0"
				styleClass="baslik">
				<h:outputLabel value="#{language.InformationSystem}"></h:outputLabel>
			</h:panelGrid>
			<script type="text/javascript">
				function login() {
					if (event.keyCode == 13) {
						document.getElementById("loginCommandButtonId").click();
					}
				}
			</script>
			<h:panelGrid border="0" columns="2" cellspacing="0"
				styleClass="centered">
				<h:outputLabel value="#{language.username}"></h:outputLabel>
				<p:inputText id="usernameField" onkeyup="login()"
					requiredMessage="#{language.usernameValidatorMessage} "
					value="#{userCredentialsBean.username}">
					<!-- <p:watermark for="usernameField" value="#{language.username} *" />  -->
				</p:inputText>

				<h:outputLabel value="#{language.password}"></h:outputLabel>
				<p:password id="passwordField" onkeyup="login()"
					requiredMessage="#{language.passwordValidatorMessage} "
					value="#{userCredentialsBean.password}" feedback="false">
					<!-- <p:watermark for="passwordField" value="#{language.password} *" />  -->
				</p:password>

				<h:commandButton image="/large_icons/ok.png"
					update="loginMessages growl" process="@all"
					id="loginCommandButtonId"
					actionListener="#{userCredentialsBean.loginUser}"></h:commandButton>
			</h:panelGrid>

			<h:panelGrid border="0" columns="2" cellspacing="0"
				styleClass="warning">
				<p:messages showDetail="false" showSummary="true" id="loginMessages"
					autoUpdate="true"></p:messages>
				<p:growl id="growl" />
			</h:panelGrid>
		</h:form>
	</f:view>
</h:body>
</html>