<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>#{language.PipeMillName}</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
	<h:outputStylesheet library="css" name="style.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:growl id="growl" />
			<p:accordionPanel multiple="true" collapsible="true"
				autoHeight="true">
				<p:tab title="#{language.Employee}">

					<p:panel header="#{language.Information}" toggleable="false"
						visible="true">
						<h:panelGrid border="0" columns="2" style="width:100%">
							<h:outputLabel value="#{language.Username} : "></h:outputLabel>
							<p:inputText value="#{userCredentialsBean.user.username}"
								readonly="true"></p:inputText>
							<h:outputLabel value="Kodu : "></h:outputLabel>
							<p:inputText value="#{userCredentialsBean.user.userType.type}"
								readonly="true"></p:inputText>
							<h:outputLabel value="Görev Tanımı : "></h:outputLabel>
							<p:inputText value="#{userCredentialsBean.user.userType.title}"
								readonly="true"></p:inputText>
						</h:panelGrid>
					</p:panel>
				</p:tab>

				<p:tab title="#{language.Department}">
					<p:panel header="#{language.Information}" toggleable="false"
						visible="true">
						<h:panelGrid border="0" columns="2" style="width:100%">
							<h:outputLabel value="#{language.Name} : "></h:outputLabel>
							<p:inputText
								value="#{userCredentialsBean.user.employee.department.name}"
								readonly="true"></p:inputText>

							<h:outputLabel value="#{language.Description} : "></h:outputLabel>
							<p:inputTextarea autoResize="false" style="width:125px" rows="5"
								value="#{userCredentialsBean.user.employee.department.description}"
								readonly="true"></p:inputTextarea>
						</h:panelGrid>
					</p:panel>
				</p:tab>

				<p:tab title="#{language.InsanKaynaklari}">
					<h:panelGrid columns="1">
						<p:button value="#{language.IzinTalepleri}"
							outcome="employee/dayoffrequests" />
						<p:button value="#{language.AvansTalepleri}"
							outcome="employee/advancerequests" />
					</h:panelGrid>
				</p:tab>
				<p:tab title="#{language.DepoStok}">
					<h:panelGrid columns="1">
						<p:button value="#{language.StokUrunArama}"
							outcome="stok/urunListesi" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<p:button value="#{language.StokGirisCikisListesi}"
							outcome="stok/stokgiriscikislistesi" />
					</h:panelGrid>
				</p:tab>
				<p:tab title="#{language.Raporlar}" rendered="false">
					<h:panelGrid columns="1">
						<h:commandButton immediate="true"
							action="#{testReportBean.imalatRaporuXlsx}"
							image="/large_icons/report.png" title="İMALAT RAPORU"
							value="#{language.ImalatRaporu}" update="growl">
						</h:commandButton>
						<h:commandButton immediate="true" image="/large_icons/report.png"
							title="3.1 SERTİFİKASI" value="#{language.UcBirSertifikasi}"
							onclick="sertifikaDialogWidget.show()" update="growl">
						</h:commandButton>
						<!-- 						<p:commandButton immediate="true" value="#{language.KalitePlani}" -->
						<!-- 							title="#{language.KalitePlaniAl}" -->
						<!-- 							onclick="kalitePlaniDialogWidget.show()" update="growl"> -->
						<!-- 						</p:commandButton> -->
						<!-- 						<p:commandButton immediate="true" value="#{language.RuloDurumu}" -->
						<!-- 							action="#{testReportBean.ruloReportXlsx}" -->
						<!-- 							title="#{language.RuloDurumu}" update="growl"> -->
						<!-- 						</p:commandButton> -->
					</h:panelGrid>
				</p:tab>
				<p:tab title="#{language.Aydinlatma}">
					<h:panelGrid columns="1">
						<p:button value="#{language.KaplamaAydinlatma}"
							onclick="window.open('http://hyperion//')" />
					</h:panelGrid>
				</p:tab>
				<p:tab title="#{language.EmekBoruBulut}">
					<h:panelGrid columns="1">
						<p:button value="#{language.BulutServisiniAc}"
							onclick="window.open('http://bulut.emekboru.com.tr')" />
					</h:panelGrid>
				</p:tab>
			</p:accordionPanel>
		</ui:define>

		<ui:define name="showPanel">
			<p:panel header=" #{language.Employee} #{language.Edit}"
				closable="true" toggleable="true" id="editEmployeePanelId"
				widgetVar="editEmployeePanelWidget" visible="true">
				<h:panelGrid border="0" columns="2" style="width:100%">
					<h:outputLabel value=" "></h:outputLabel>
					<p:graphicImage id="photoId" height="64"
						value="/employeeimages/#{userCredentialsBean.userPicturePath}.JPG"></p:graphicImage>

					<h:outputLabel value="#{language.Username} : "></h:outputLabel>
					<p:inputText readonly="true"
						value="#{userCredentialsBean.user.username}"></p:inputText>

					<h:outputLabel value="#{language.Firstname}: "></h:outputLabel>
					<p:inputText value="#{userCredentialsBean.user.employee.firstname}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.Lastname}: "></h:outputLabel>
					<p:inputText value="#{userCredentialsBean.user.employee.lastname}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.DateOfBirth} : "></h:outputLabel>
					<p:calendar mode="popup" disabled="true"
						value="#{userCredentialsBean.user.employee.dateOfBirth}"></p:calendar>

					<h:outputLabel value="#{language.StartDate} : "></h:outputLabel>
					<p:calendar mode="popup" disabled="true"
						value="#{userCredentialsBean.user.employee.startDate}"></p:calendar>

					<h:outputLabel value="#{language.EndDate} :"></h:outputLabel>
					<p:calendar mode="popup" disabled="true"
						value="#{userCredentialsBean.user.employee.endDate}"></p:calendar>

					<!-- 					<h:outputLabel value="#{language.Address} :"></h:outputLabel> -->
					<!-- 					<p:inputTextarea readonly="true" autoResize="false" -->
					<!-- 						style="width:125px" rows="5" -->
					<!-- 						value="#{userCredentialsBean.user.employee.address}"></p:inputTextarea> -->

					<!-- 					<h:outputLabel value="#{language.PhoneNumber} : "></h:outputLabel> -->
					<!-- 					<p:inputText readonly="true" -->
					<!-- 						value="#{userCredentialsBean.user.employee.phoneNumber}"></p:inputText> -->

					<h:outputLabel value="#{language.Status} :"></h:outputLabel>
					<p:selectOneMenu layout="lineDirection" style="width: 140px"
						disabled="true"
						value="#{userCredentialsBean.user.employee.active}">
						<f:selectItem itemValue="true" itemLabel="#{language.Active}"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="#{language.NonActive}"></f:selectItem>
					</p:selectOneMenu>
				</h:panelGrid>

				<h:panelGrid border="0" columns="3">

					<p:commandButton value="#{language.ChangePassword}"
						onclick="changePasswordConfirmDialogWidget.show()"></p:commandButton>
				</h:panelGrid>
			</p:panel>

			<!-- CHANGE PASSWORD SECTION -->
			<p:dialog id="changePasswordConfirmDialogId" draggable="true"
				dynamic="true" maximizable="true" resizable="true"
				header="ŞİFRE DEĞİŞTİRME EKRANI" style="min-width:600px"
				widgetVar="changePasswordConfirmDialogWidget" closable="true">
				<p:panel id="changePasswordPanelId">
					<h:panelGrid border="0" columns="2" style="width:100%">
						<h:outputLabel value="#{language.CurrentPassword} *:"></h:outputLabel>
						<p:password value="#{userCredentialsBean.currentPassword}"
							maxlength="20" feedback="false" required="true"
							requiredMessage="#{language.RequiredMessage}"></p:password>
						<h:outputLabel value="#{language.NewPassword} *:"></h:outputLabel>
						<p:password value="#{userCredentialsBean.newPassword}"
							maxlength="20" feedback="false" required="true"
							requiredMessage="#{language.RequiredMessage}"></p:password>
						<h:outputLabel value="#{language.ConfirmNewPassword} *:"></h:outputLabel>
						<p:password value="#{userCredentialsBean.repeatedPassword}"
							maxlength="20" goodLabel="true" required="true" feedback="false"
							requiredMessage="#{language.RequiredMessage}"></p:password>
					</h:panelGrid>

					<h:panelGrid border="0" columns="3">

						<p:commandButton value="#{language.KAYDETTAMAM}"
							update="changePasswordMessages changePasswordPanelId"
							process="@this changePasswordPanelId"
							actionListener="#{userCredentialsBean.changeUserPassword}"></p:commandButton>
						<p:commandButton value="#{language.IPTALKAPAT}"
							update="changePasswordMessages changePasswordPanelId"
							immediate="true"
							onclick="changePasswordConfirmDialogWidget.hide()"></p:commandButton>
					</h:panelGrid>
				</p:panel>
				<p:messages showDetail="true" showSummary="true"
					id="changePasswordMessages"></p:messages>
			</p:dialog>

			<!-- SERTİFİKA SECTION -->
			<p:dialog id="sertifikaDialogId" draggable="true" dynamic="true"
				maximizable="true" resizable="true" header="ÜÇ BİR RAPORU EKRANI"
				style="min-width:600px" widgetVar="sertifikaDialogWidget"
				closable="true">
				<p:panel id="sertifikaPanelId">
					<h:panelGrid border="0" columns="2" style="width:100%">
						<h:outputLabel value="DENEME:"></h:outputLabel>
					</h:panelGrid>

					<h:panelGrid border="0" columns="3">
						<h:commandButton immediate="true"
							action="#{testReportBean.ucBirSertifikaOlustur}"
							image="/large_icons/report.png" title="#{language.OLUSTUR}">
						</h:commandButton>
					</h:panelGrid>
				</p:panel>
				<p:messages showDetail="true" showSummary="true"
					id="sertifikaMessages"></p:messages>
			</p:dialog>

			<p:dialog id="kalitePlaniDialogId" draggable="true" dynamic="true"
				maximizable="true" resizable="true"
				header="KALİTE PLANI RAPORU EKRANI" style="min-width:600px"
				widgetVar="kalitePlaniDialogWidget" closable="true">
				<p:panel id="kalitePlaniPanelId">
					<h:panelGrid border="0" columns="2" style="width:100%">
						<h:outputLabel value="DENEME:"></h:outputLabel>
					</h:panelGrid>

					<h:panelGrid border="0" columns="3">
						<h:commandButton immediate="true"
							action="#{testReportBean.kalitePlaniOlustur(qualitySpecBean.selectedSalesItem)}"
							image="/large_icons/report.png" title="#{language.OLUSTUR}">
						</h:commandButton>
					</h:panelGrid>
				</p:panel>
				<p:messages showDetail="true" showSummary="true"
					id="kalitePlaniMessages"></p:messages>
			</p:dialog>

		</ui:define>
	</ui:composition>
</h:body>
</html>