<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:growl id="growl"></p:growl>
			<h:form>
        			Generating Report : <h:commandButton
					action="#{testReportBean.manuelUtInspectionResultReportXlsx(699)}"
					value="ManuelUT">
				</h:commandButton>
				<br />
        			Testing Image : <h:commandButton
					action="#{testReportBean.imageTest()}"
					value="ImageTest">
				</h:commandButton>

			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>