<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel id="machineAccordionPanelId" autoHeight="false"
				collapsible="true" style="padding:0px"
				widgetVar="machineAccorditionPanelWidget">
				<c:forEach items="#{machineListBean.spiralMachineList}"
					var="machine">
					<p:tab title="#{machine.name}">
						<p:panel style="width:100%" header=" ">
							<h:panelGrid border="0" cellspacing="5" columns="2"
								style="width:100%">
								<h:outputLabel value="#{language.MachineName} :  " />
								<h:outputText value="#{machine.name}"></h:outputText>

								<h:outputLabel value="#{language.Brand} :  " />
								<h:outputText value="#{machine.brand}"></h:outputText>

								<h:outputLabel value="#{language.Model} :  " />
								<h:outputText value="#{machine.model}"></h:outputText>

								<h:outputLabel value="#{language.Description} :  " />
								<h:outputText value="#{machine.description}"></h:outputText>

								<h:outputLabel value="#{language.Status} :  " />
								<h:outputText value="#{machine.status}"></h:outputText>

								<h:outputLabel value="#{language.SerialNumber} :  " />
								<h:outputText value="#{machine.serialNumber}"></h:outputText>
							</h:panelGrid>

							<h:panelGrid border="0" columns="2" cellspacing="5">
								<p:commandLink process="@this" title="#{language.View}"
									update="machinePanelId"
									action="#{spiralMachineBean.viewMachine(machine)}">
									<p:graphicImage value="/large_icons/view.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
								<p:commandLink process="@this" title="#{language.Delete}"
									immediate="true" onclick="deleteMachineDialogWidget.show()"
									action="#{spiralMachineBean.prepareDeletion(machine)}">
									<p:graphicImage value="/large_icons/delete.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</p:panel>
					</p:tab>
				</c:forEach>
			</p:accordionPanel>
		</ui:define>

		<!-- PIPE PRODUCTION TESTS SECTION -->
		<ui:define name="showPanel">
			<p:panel header="#{language.New} #{language.employee}"
				closable="false" toggleable="true" id="newEmployeePanelId"
				widgetVar="newEmployeePanelWidget" visible="true">


				<p:schedule widgetVar="myScheduleWidget" view="agendaWeek"
					value="#{mySchedule.model}" id="myScheduleId">
					<p:ajax event="eventSelect" listener="#{mySchedule.onEventSelect}"
						update="updateEventPanelId"
						oncomplete="updateEventDialogWidget.show()"></p:ajax>
				</p:schedule>
			</p:panel>

			<!-- ADD PIPE CONFIRM DIALOG section -->
			<p:dialog draggable="true" closable="true" dynamic="true"
				resizable="false" header="#{language.Coil}" maximizable="true"
				id="addPipeConfirmDialogId" widgetVar="addPipeConfirmDialogWidget">
				<p:panel id="addPipeConfirmPanelId" style="min-width:600px">
					<h:panelGrid border="0" cellspacing="5" columns="4"
						style="width:100%">


						<h:outputText value="#{language.LotNumber} : "></h:outputText>
						<p:inputText value="#{spiralMachineBean.pipe.etKalinligi}"
							required="true" requiredMessage="#{language.RequiredMessage}">
						</p:inputText>

					</h:panelGrid>
					<h:panelGrid border="0" cellspacing="5" columns="7">
						<p:commandLink title="#{language.Submit}"
							process="@this addPipeConfirmPanelId"
							actionListener="#{spiralMachineBean.submitPipe}">
							<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
				</p:panel>
			</p:dialog>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>