<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<script>
    function timeOutFocus(){
        window.focus();
        setTimeout ('timeOutFocus()',10);
    }
       <!-- window.opener.sayfaKapatmaMesajiAcildi=true; while dongusu kaldiriligi icin kapatildi-->
        setTimeout ('timeOutFocus()',10);
</script>
</h:head>
<h:body>
	<p:dialog id="popup" style="text-align:center" widgetVar="dlg1"
		modal="true">
		<img src="large_icons/error.png" />
		<br />
		
 		<label id="theTimeLbl"  style="font-size: 20px;" />
		
 
 <h:outputText  value="Session Time Out Oldu"></h:outputText>
   <p:button id="closeModal" value="Kapat"   onclick=" window.close();" style="z-index:2;"/>

	</p:dialog>
</h:body>
</html>


<!-- <ui:define name="body">
        <ice:form id="timeOutForm">
            panel popup code, modal type
            <me:panelPopup id="timeOutPanel" rendered="true" modal="true"
                           style="z-index:1001;  width: 100%; height: 100%;">
                <f:facet name="header">
                    
                </f:facet>
                <f:facet name="body">
                    <table width="100%" height="100%">
                        <tr align="left" valign="middle">
                            <td>
                                <div style="height:190px" align="center">
                                   <img src="images/alert.png"/><br />
                                   <label id="theTimeLbl" class="icePageTitle" style="font-size:20px;"/>
                                   
                                   <ice:outputText styleClass="popupTitle" value="#{mainBndl['ins.saniye']}"/><br />
                                   
                                   <ice:outputText styleClass="popupTitle" value="#{mainBndl['ins.timeOutMsg']}"/>                                    
                                </div>
                            </td>
                        </tr>
                        <tr align="right" valign="bottom">
                            <td>
                                <me:commandButtonClose id="closeModal" value="#{bndl['ins.tamam']}"
                                                       onclick=" window.close();" style="z-index:2;"/>
                            </td>
                        </tr>
                    </table>
                </f:facet>
            </me:panelPopup>
        </ice:form>
    </ui:define> -->
