@CHARSET "ISO-8859-1";
       
.cheapOffer {        
		background-color: #6CE26C !important;               
		background-image: none !important;                
		color: #000000 !important;            
	 } 
	 
 .selectedOffer {        
	background-color: #E2806C !important;               
	background-image: none !important;                
	color: #000000 !important;            
 }      
