<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px" id="accordionPanelId">
				<p:tab title="#{language.Contractors}">
					<p:dataTable var="contractor" id="contractorDataTableId"
						emptyMessage="#{language.EmptyMessage}" dblClickSelect="false"
						value="#{tenderCustomers.contractors}" paginator="true" rows="20"
						rowKey="#{contractor.customerId}" resizableColumns="true"
						selection="#{tenderCustomers.selectedCon}" selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect" update="contractorDataTableId"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Company}"></h:outputText>
							</f:facet>
							<h:outputText value="#{contractor.name}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.BusinessId}"></h:outputText>
							</f:facet>
							<h:outputText value="#{contractor.businessId}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Country}"></h:outputText>
							</f:facet>
							<h:outputText value="#{contractor.country.name}"></h:outputText>
						</p:column>
						<f:facet name="footer">
							<p:commandButton value="#{language.Load}"
								process="employeeListDataTableId"
								update="employeeListDataTableId"
								actionListener="#{employeeListBean.loadEmployeeList}">
							</p:commandButton>
						</f:facet>
					</p:dataTable>
				</p:tab>
				<p:tab title="#{language.Governments}">
					<p:dataTable var="government" id="governmentDataTableId"
						emptyMessage="#{language.EmptyMessage}" dblClickSelect="false"
						value="#{tenderCustomers.governments}" paginator="true" rows="20"
						rowKey="#{government.customerId}" resizableColumns="true"
						selection="#{tenderCustomers.selectedGov}" selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect" update="governmentDataTableId"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Company}"></h:outputText>
							</f:facet>
							<h:outputText value="#{government.name}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.BusinessId}"></h:outputText>
							</f:facet>
							<h:outputText value="#{government.businessId}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Country}"></h:outputText>
							</f:facet>
							<h:outputText value="#{government.country.name}"></h:outputText>
						</p:column>
						<f:facet name="footer">
							<p:commandButton value="#{language.Load}"
								process="employeeListDataTableId"
								update="employeeListDataTableId"
								actionListener="#{employeeListBean.loadEmployeeList}">
							</p:commandButton>
						</f:facet>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
		</ui:define>

		<ui:define name="showPanel">
			<p:panel
				header="#{language.Employee}: #{activeEmployeeList.selectedEmployee.firstname} #{activeEmployeeList.selectedEmployee.lastname}"
				closable="false" id="employeePanelId"
				widgetVar="employeePanelWidget">
				<h:panelGrid border="0" columns="2" style="width:100%">
					<p:graphicImage cache="false" id="originalImageId"
						value="#{settingsBean.empImagesLink}#{activeEmployeeList.selectedEmployee.firstname}_#{activeEmployeeList.selectedEmployee.lastname}_#{activeEmployeeList.selectedEmployee.employeeId}.jpg"></p:graphicImage>
					<h:outputLabel value=""></h:outputLabel>

					<h:outputLabel value="#{language.Firstname} *: "></h:outputLabel>
					<p:inputText
						value="#{activeEmployeeList.selectedEmployee.firstname}"
						readonly="true" requiredMessage="#{language.RequiredMessage}"></p:inputText>

					<h:outputLabel value="#{language.Lastname} *:"></h:outputLabel>
					<p:inputText
						value="#{activeEmployeeList.selectedEmployee.lastname}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.DateOfBirth} (gg/aa/yyyy)*: "></h:outputLabel>
					<p:calendar mode="popup"
						pattern="#{userCredentialsBean.dateFormat}" required="true"
						disabled="true" requiredMessage="#{language.RequiredMessage}"
						value="#{activeEmployeeList.selectedEmployee.dateOfBirth}"></p:calendar>

					<h:outputLabel value="#{language.Gender} :"></h:outputLabel>
					<p:selectOneMenu style="width: 140px"
						value="#{activeEmployeeList.selectedEmployee.gender}"
						disabled="true">
						<f:selectItem itemValue="true" itemLabel="#{language.Male}"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="#{language.Female}"></f:selectItem>
					</p:selectOneMenu>

					<h:outputLabel value="#{language.Address} : "></h:outputLabel>
					<p:inputTextarea
						value="#{activeEmployeeList.selectedEmployee.address}"
						autoResize="false" cols="5" style="width:130px" readonly="true"></p:inputTextarea>

					<h:outputLabel value="#{language.Country} : "></h:outputLabel>
					<p:inputText
						value="#{activeEmployeeList.selectedEmployee.country.name}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.City} :"></h:outputLabel>
					<p:inputText value="#{activeEmployeeList.selectedEmployee.city}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.PostalCode} : "></h:outputLabel>
					<p:inputText
						value="#{activeEmployeeList.selectedEmployee.postalCode}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.StartDate} (gg/aa/yyyy)*: "></h:outputLabel>
					<p:calendar mode="popup" showOn="button" autocomplete="false"
						pattern="#{userCredentialsBean.dateFormat}"
						value="#{activeEmployeeList.selectedEmployee.startDate}"
						disabled="true"></p:calendar>

					<h:outputLabel value="#{language.PhoneNumber} : "></h:outputLabel>
					<p:inputText
						value="#{activeEmployeeList.selectedEmployee.phoneNumber}"
						readonly="true"></p:inputText>
				</h:panelGrid>

				<!-- CUSTOMERS HANDLED BY THE SELECTED EMPLOYEE -->
				<p:dataTable var="customerRelation"
					widgetVar="customerListDataTableWidget"
					id="customerListDataTableId"
					rowKey="#{customerRelation.customerRelationId}"
					emptyMessage="#{language.EmptyMessage}"
					value="#{activeEmployeeList.selectedEmployee.customerRelations}"
					paginator="true" rows="20"
					selection="#{activeEmployeeList.selectedRelation}"
					selectionMode="single"
					paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
					<p:ajax event="rowSelect"
						update="customerListDataTableId crmMessages"></p:ajax>
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Name}"></h:outputText>
						</f:facet>
						<h:outputText value="#{customerRelation.customer.name}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.BusinessId}"></h:outputText>
						</f:facet>
						<h:outputText value="#{customerRelation.customer.businessId}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Type}"></h:outputText>
						</f:facet>
						<h:outputText value="#{customerRelation.customer.companyType}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Website}"></h:outputText>
						</f:facet>
						<h:outputText value="#{customerRelation.customer.website}"></h:outputText>
					</p:column>

					<f:facet name="footer">
						<h:panelGrid border="0" columns="3" style="align:right; width:20%">
							<p:commandLink title="#{language.Add}"
								process="@this customerListDataTableId employeePanelId"
								actionListener="#{availableCustomerList.load}"
								oncomplete="customersDialogWidget.show()"
								update="customersPanelId">
								<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Update}"
								disabled="#{activeEmployeeList.selectedRelation.customerRelationId == null}"
								process="@this customerListDataTableId"
								oncomplete="updateRelationDialogWidget.show()"
								update="updateRelationPanelId">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Delete}"
								disabled="#{activeEmployeeList.selectedRelation.customerRelationId == null}"
								process="@this customerListDataTableId"
								actionListener="#{activeEmployeeList.removeRelation}"
								update="customerListDataTableId crmMessages">
								<p:graphicImage value="/large_icons/delete.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
					</f:facet>
				</p:dataTable>
			</p:panel>

			<h:panelGrid cellspacing="0" id="allPanelGridId">
				<!-- ADD CUSTOMER TO BE HANDLED BY EMPLOYEE -->
				<p:dialog closable="true" draggable="true" maximizable="true"
					resizable="false" widgetVar="customersDialogWidget" dynamic="true"
					id="customersDialogId" header="#{language.Customers}">
					<p:panel style="min-width:600px" id="customersPanelId"
						toggleable="true" closable="false">
						<p:dataTable var="customer" widgetVar="customersDataTableWidget"
							id="customersDataTableId" rowKey="#{customer.customerId}"
							value="#{availableCustomerList.customers}" paginator="true"
							rows="20" selection="#{availableCustomerList.selectedCustomers}"
							emptyMessage="#{language.EmptyMessage}"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

							<p:column selectionMode="multiple" style="width:20px" />

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Customer} #{language.id}"></h:outputText>
								</f:facet>
								<h:outputText value="#{customer.customerId}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Name}"></h:outputText>
								</f:facet>
								<h:outputText value="#{customer.name}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.BusinessId}"></h:outputText>
								</f:facet>
								<h:outputText value="#{customer.businessId}"></h:outputText>
							</p:column>
						</p:dataTable>

						<h:panelGrid border="0" columns="3" style="align:right; width:20%">
							<p:commandLink title="#{language.Add}"
								process="@this customersPanelId employeePanelId"
								actionListener="#{activeEmployeeList.addRelations}"
								update="customersPanelId">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" process="@this"
								oncomplete="customersDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="customersMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- UPDATE A CERTAIN RELATION  -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" header="#{language.Update}"
					id="updateRelationDialogId" widgetVar="updateRelationDialogWidget">
					<p:panel style="min-width:600px" id="updateRelationPanelId"
						closable="false" toggleable="true">
						<h:panelGrid border="0" columns="2" style="width:100%"
							id="updateRelationPanelGridId">
							<h:outputLabel value="#{language.Customer} : "></h:outputLabel>
							<p:inputText readonly="true"
								value="#{activeEmployeeList.selectedRelation.customer.name}"></p:inputText>

							<h:outputLabel value="#{language.StartDate} *: "></h:outputLabel>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat}"
								value="#{activeEmployeeList.selectedRelation.startDate}"></p:calendar>

							<h:outputLabel value="#{language.EndDate} *: "></h:outputLabel>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat}"
								value="#{activeEmployeeList.selectedRelation.endDate}"></p:calendar>

							<h:outputLabel value="#{language.Note} : "></h:outputLabel>
							<p:inputTextarea
								value="#{activeEmployeeList.selectedRelation.note}"
								autoResize="false" cols="5" style="width:130px"></p:inputTextarea>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.Submit}"
								update="updateRelationMessages"
								process="@this updateRelationPanelId"
								actionListener="#{activeEmployeeList.updateRelation}">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="updateRelationMessages" process="@this"
								onclick="updateRelationDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>

						<p:messages id="updateRelationMessages"></p:messages>
					</p:panel>
				</p:dialog>


			</h:panelGrid>
			<p:messages id="crmMessages"></p:messages>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>
