<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>AVANSLAR</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:growl id="growl"></p:growl>
			<p:accordionPanel autoHeight="false" style="padding:0px; width:100%"
				id="employeeAdvanceRequestsAccordionPanelId">
				<p:tab title="#{language.TUMAVANSISTEKLERI}"
					rendered="#{employeeAdvanceRequestBean.currentEmployee.employeeId eq 122 || employeeAdvanceRequestBean.currentEmployee.employeeId eq 204}">

					<h:panelGrid styleClass="disable-scroll">
						<p:dataTable var="advanceRequest" dblClickSelect="false"
							paginator="true" id="advanceRequestListDataTableId"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
							value="#{employeeAdvanceRequestBean.allEmployeeAdvanceRequests}"
							rows="20"
							selection="#{employeeAdvanceRequestBean.HRSelectedEmployeeAdvanceRequest}"
							rowKey="#{advanceRequest.id}" selectionMode="single"
							rowIndexVar="rowIndex">

							<p:column headerText="#" style="width: 5%;">
								<h:outputText value="#{rowIndex+1}"></h:outputText>
							</p:column>

							<p:column
								filterBy="#{advanceRequest.employee.firstname} #{advanceRequest.employee.lastname}"
								sortBy="#{advanceRequest.employee.firstname} #{advanceRequest.employee.lastname}">
								<f:facet name="header">
									<h:outputText value="#{language.ISIMSOYAD}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{advanceRequest.employee.firstname} #{advanceRequest.employee.lastname}"></h:outputText>
							</p:column>

							<p:column
								filterBy="#{advanceRequest.supervisor.firstname} #{advanceRequest.supervisor.lastname}"
								sortBy="#{advanceRequest.supervisor.firstname} #{advanceRequest.supervisor.lastname}">
								<f:facet name="header">
									<h:outputText value="#{language.AMIR}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{advanceRequest.supervisor.firstname} #{advanceRequest.supervisor.lastname}"></h:outputText>
							</p:column>

							<p:column sortBy="#{advanceRequest.reason}">
								<f:facet name="header">
									<h:outputText value="#{language.SEBEP}"></h:outputText>
								</f:facet>
								<h:outputText value="#{advanceRequest.reason}"></h:outputText>
							</p:column>

							<p:column sortBy="#{advanceRequest.advanceAmount}"
								filterBy="#{advanceRequest.advanceAmount}">
								<f:facet name="header">
									<h:outputText value="#{language.AVANSMIKTARI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{advanceRequest.advanceAmount}"></h:outputText>
							</p:column>

							<p:column sortBy="#{advanceRequest.installmentCount}"
								filterBy="#{advanceRequest.installmentCount}">
								<f:facet name="header">
									<h:outputText value="#{language.TAKSITSAYISI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{advanceRequest.installmentCount}"></h:outputText>
							</p:column>

							<p:column sortBy="#{advanceRequest.requestDate}"
								filterBy="#{advanceRequest.requestDate}">
								<f:facet name="header">
									<h:outputText value="#{language.ISTEKTARIHI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{advanceRequest.requestDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.AMIRONAYI}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{advanceRequest.supervisorApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px"
									rendered="#{advanceRequest.supervisorApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px"
									rendered="#{advanceRequest.supervisorApproval==0}"></p:graphicImage>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.IKONAYI}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{advanceRequest.hrApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px" rendered="#{advanceRequest.hrApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px" rendered="#{advanceRequest.hrApproval==0}"></p:graphicImage>
							</p:column>

						</p:dataTable>
					</h:panelGrid>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="ApproveEmployeeAdvanceButtonsPanelGridId">
						<p:commandButton value="#{language.ONAYLA}"
							update="growl advanceRequestListDataTableId employeeAdvanceListDataTableId subEmployeeAdvanceRequestListDataTableId employeeActivitiesAccordionPanelId"
							widgetVar="ApproveEmployeeAdvanceRequestButtonWidget"
							id="ApproveEmployeeAdvanceRequestButtonId"
							actionListener="#{employeeAdvanceRequestBean.approveEmployeeAdvanceRequest}"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="#{language.REDDET}"
							update="growl advanceRequestListDataTableId employeeAdvanceListDataTableId subEmployeeAdvanceRequestListDataTableId employeeActivitiesAccordionPanelId"
							widgetVar="DeclineEmployeeAdvanceRequestButtonWidget"
							id="DeclineEmployeeAdvanceRequestButtonId"
							actionListener="#{employeeAdvanceRequestBean.declineEmployeeAdvanceRequest}"
							icon="ui-icon-circle-plus">
						</p:commandButton>
					</h:panelGrid>

				</p:tab>
				<p:tab title="#{language.AVANSISTEKLERIM}">

					<h:panelGrid styleClass="disable-scroll">
						<p:dataTable var="advanceRequest" dblClickSelect="false"
							paginator="true" id="selfEmployeeAdvanceRequestListDataTableId"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
							value="#{employeeAdvanceRequestBean.allSelfEmployeeAdvanceRequests}"
							rows="20"
							selection="#{employeeAdvanceRequestBean.selectedEmployeeAdvanceRequest}"
							rowKey="#{advanceRequest.id}" selectionMode="single"
							rowIndexVar="rowIndex">

							<p:column headerText="#" style="width: 5%;">
								<h:outputText value="#{rowIndex+1}"></h:outputText>
							</p:column>

							<p:column
								filterBy="#{advanceRequest.employee.firstname} #{advanceRequest.employee.lastname}"
								sortBy="#{advanceRequest.employee.firstname} #{advanceRequest.employee.lastname}">
								<f:facet name="header">
									<h:outputText value="#{language.ISIMSOYAD}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{advanceRequest.employee.firstname} #{advanceRequest.employee.lastname}"></h:outputText>
							</p:column>

							<p:column
								filterBy="#{advanceRequest.supervisor.firstname} #{advanceRequest.supervisor.lastname}"
								sortBy="#{advanceRequest.supervisor.firstname} #{advanceRequest.supervisor.lastname}">
								<f:facet name="header">
									<h:outputText value="#{language.AMIR}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{advanceRequest.supervisor.firstname} #{advanceRequest.supervisor.lastname}"></h:outputText>
							</p:column>

							<p:column sortBy="#{advanceRequest.reason}">
								<f:facet name="header">
									<h:outputText value="#{language.SEBEP}"></h:outputText>
								</f:facet>
								<h:outputText value="#{advanceRequest.reason}"></h:outputText>
							</p:column>

							<p:column sortBy="#{advanceRequest.advanceAmount}"
								filterBy="#{advanceRequest.advanceAmount}">
								<f:facet name="header">
									<h:outputText value="#{language.AVANSMIKTARI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{advanceRequest.advanceAmount}"></h:outputText>
							</p:column>

							<p:column sortBy="#{advanceRequest.installmentCount}"
								filterBy="#{advanceRequest.installmentCount}">
								<f:facet name="header">
									<h:outputText value="#{language.TAKSITSAYISI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{advanceRequest.installmentCount}"></h:outputText>
							</p:column>

							<p:column sortBy="#{advanceRequest.requestDate}"
								filterBy="#{advanceRequest.requestDate}">
								<f:facet name="header">
									<h:outputText value="#{language.ISTEKTARIHI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{advanceRequest.requestDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.AMIRONAYI}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{advanceRequest.supervisorApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px"
									rendered="#{advanceRequest.supervisorApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px"
									rendered="#{advanceRequest.supervisorApproval==0}"></p:graphicImage>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.IKONAYI}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{advanceRequest.hrApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px" rendered="#{advanceRequest.hrApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px" rendered="#{advanceRequest.hrApproval==0}"></p:graphicImage>
							</p:column>

						</p:dataTable>
					</h:panelGrid>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="MyEmployeeAdvanceButtonsPanelGridId">
						<p:commandButton value="#{language.OLUSTUR}"
							widgetVar="CreateAdvanceRequestButtonWidget"
							id="CreateAdvanceRequestButtonId"
							onclick="CreateAdvanceRequestPanelGridWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<h:commandButton
							action="#{employeeAdvanceRequestBean.exportToExcel(employeeAdvanceRequestBean.selectedEmployeeAdvanceRequest.id)}"
							image="/large_icons/report.png" title="ÇIKTI AL">
						</h:commandButton>
					</h:panelGrid>

					<!-- ADD DIALOG  -->
					<p:dialog draggable="true" closable="true" dynamic="true"
						maximizable="true" style="min-width:600px" header="İzin Formu"
						id="CreateAdvanceRequestPanelGridId"
						widgetVar="CreateAdvanceRequestPanelGridWidget">
						<p:panel style="width:100%; text-align:left; padding:5px"
							id="CreateAdvanceRequestPanelId">
							<h:form>
								<h:panelGrid border="0" cellspacing="5" columns="2"
									style="width:100%" id="CreateAdvanceRequestPanelGridId">

									<h:outputLabel>#{language.AVANSMIKTARI}</h:outputLabel>
									<p:inputText style="width: 200px;"
										value="#{employeeAdvanceRequestBean.newEmployeeAdvanceRequest.advanceAmount}"></p:inputText>

									<h:outputLabel>#{language.TAKSITSAYISI}</h:outputLabel>
									<p:inputText style="width: 200px;"
										value="#{employeeAdvanceRequestBean.newEmployeeAdvanceRequest.installmentCount}"></p:inputText>

									<h:outputLabel>#{language.SEBEP}</h:outputLabel>
									<p:inputTextarea style="width: 200px;"
										value="#{employeeAdvanceRequestBean.newEmployeeAdvanceRequest.reason}"></p:inputTextarea>

									<h:outputText></h:outputText>
									<h:panelGrid columns="2">
										<p:commandLink title="#{language.ok}"
											update="growl dayoffRequestListDataTableId employeeDayoffListDataTableId subEmployeeDayoffRequestListDataTableId employeeActivitiesAccordionPanelId"
											process="@this CreateAdvanceRequestPanelGridId"
											actionListener="#{employeeAdvanceRequestBean.makeAdvanceRequest}">
											<p:graphicImage value="/large_icons/ok.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
										<p:commandLink title="#{language.Cancel}" process="@this"
											update="CreateAdvanceRequestPanelGridId" immediate="true"
											onclick="CreateAdvanceRequestPanelGridWidget.hide()">
											<p:graphicImage value="/large_icons/cancel.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
									</h:panelGrid>
								</h:panelGrid>
							</h:form>
						</p:panel>
					</p:dialog>

				</p:tab>

				<p:tab title="#{language.AVANSTALEPLERI}">
					<h:panelGrid styleClass="disable-scroll">
						<p:dataTable var="advanceRequest" dblClickSelect="false"
							paginator="true" id="subEmployeeAdvanceRequestListDataTableId"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
							value="#{employeeAdvanceRequestBean.allSubEmployeeAdvanceRequests}"
							rows="20"
							selection="#{employeeAdvanceRequestBean.selectedSubEmployeeAdvanceRequest}"
							rowKey="#{advanceRequest.id}" selectionMode="single"
							rowIndexVar="rowIndex">

							<p:column headerText="#" style="width: 5%;">
								<h:outputText value="#{rowIndex+1}"></h:outputText>
							</p:column>

							<p:column
								filterBy="#{advanceRequest.employee.firstname} #{advanceRequest.employee.lastname}"
								sortBy="#{advanceRequest.employee.firstname} #{advanceRequest.employee.lastname}">
								<f:facet name="header">
									<h:outputText value="#{language.ISIMSOYAD}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{advanceRequest.employee.firstname} #{advanceRequest.employee.lastname}"></h:outputText>
							</p:column>

							<p:column
								filterBy="#{advanceRequest.supervisor.firstname} #{advanceRequest.supervisor.lastname}"
								sortBy="#{advanceRequest.supervisor.firstname} #{advanceRequest.supervisor.lastname}">
								<f:facet name="header">
									<h:outputText value="#{language.AMIR}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{advanceRequest.supervisor.firstname} #{advanceRequest.supervisor.lastname}"></h:outputText>
							</p:column>

							<p:column sortBy="#{advanceRequest.reason}">
								<f:facet name="header">
									<h:outputText value="#{language.SEBEP}"></h:outputText>
								</f:facet>
								<h:outputText value="#{advanceRequest.reason}"></h:outputText>
							</p:column>

							<p:column sortBy="#{advanceRequest.advanceAmount}"
								filterBy="#{advanceRequest.advanceAmount}">
								<f:facet name="header">
									<h:outputText value="#{language.AVANSMIKTARI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{advanceRequest.advanceAmount}"></h:outputText>
							</p:column>

							<p:column sortBy="#{advanceRequest.installmentCount}"
								filterBy="#{advanceRequest.installmentCount}">
								<f:facet name="header">
									<h:outputText value="#{language.TAKSITSAYISI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{advanceRequest.installmentCount}"></h:outputText>
							</p:column>

							<p:column sortBy="#{advanceRequest.requestDate}"
								filterBy="#{advanceRequest.requestDate}">
								<f:facet name="header">
									<h:outputText value="#{language.ISTEKTARIHI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{advanceRequest.requestDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.AMIRONAYI}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{advanceRequest.supervisorApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px"
									rendered="#{advanceRequest.supervisorApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px"
									rendered="#{advanceRequest.supervisorApproval==0}"></p:graphicImage>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.IKONAYI}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{advanceRequest.hrApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px" rendered="#{advanceRequest.hrApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px" rendered="#{advanceRequest.hrApproval==0}"></p:graphicImage>
							</p:column>

						</p:dataTable>
					</h:panelGrid>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="ApproveSubEmployeeAdvanceButtonsPanelGridId">
						<p:commandButton value="#{language.ONAYLA}"
							update="growl advanceRequestListDataTableId employeeAdvanceListDataTableId subEmployeeAdvanceRequestListDataTableId employeeActivitiesAccordionPanelId"
							widgetVar="ApproveSubEmployeeAdvanceRequestButtonWidget"
							id="ApproveSubEmployeeAdvanceRequestButtonId"
							actionListener="#{employeeAdvanceRequestBean.approveSubEmployeeAdvanceRequest}"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="#{language.REDDET}"
							update="growl advanceRequestListDataTableId employeeAdvanceListDataTableId subEmployeeAdvanceRequestListDataTableId employeeActivitiesAccordionPanelId"
							widgetVar="DeclineSubEmployeeAdvanceRequestButtonWidget"
							id="DeclineSubEmployeeAdvanceRequestButtonId"
							actionListener="#{employeeAdvanceRequestBean.declineSubEmployeeAdvanceRequest}"
							icon="ui-icon-circle-plus">
						</p:commandButton>
					</h:panelGrid>
				</p:tab>
			</p:accordionPanel>

		</ui:define>
	</ui:composition>
</h:body>
</html>