<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>İZİNLER</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:growl id="growl"></p:growl>
			<p:accordionPanel autoHeight="false" style="padding:0px; width:100%"
				id="employeeActivitiesAccordionPanelId">
				<p:tab title="#{language.TUMIZINLER}"
					rendered="#{employeeDayoffBean.currentEmployee.employeeId eq 122 || employeeDayoffBean.currentEmployee.employeeId eq 204 || employeeDayoffBean.currentEmployee.employeeId eq 91 || employeeDayoffBean.currentEmployee.employeeId eq 125}">

					<h:panelGrid styleClass="disable-scroll">
						<p:dataTable var="dayoffRequest" dblClickSelect="false"
							paginator="true" id="dayoffRequestListDataTableId"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
							value="#{employeeDayoffBean.employeeDayoffRequests}" rows="20"
							selection="#{employeeDayoffBean.HRSelectedEmployeeDayoff}"
							rowKey="#{dayoffRequest.id}" selectionMode="single"
							rowIndexVar="rowIndex">

							<p:column headerText="#" style="width: 5%;">
								<h:outputText value="#{rowIndex+1}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.commonDayoffType.name}">
								<f:facet name="header">
									<h:outputText value="#{language.IZINTURU}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.commonDayoffType.name}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="KALAN İZİN"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.employee.kalanIzin}"></h:outputText>
							</p:column>

							<p:column filterBy="#{dayoffRequest.employee.lastname}"
								sortBy=" #{dayoffRequest.employee.lastname}">
								<f:facet name="header">
									<h:outputText value="#{language.ADISOYADI}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.employee.firstname} #{dayoffRequest.employee.lastname}"></h:outputText>
							</p:column>

							<p:column
								filterBy="#{dayoffRequest.supervisor.firstname} #{dayoffRequest.supervisor.lastname}"
								sortBy="#{dayoffRequest.supervisor.firstname} #{dayoffRequest.supervisor.lastname}">
								<f:facet name="header">
									<h:outputText value="İLK #{language.AMIR}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.supervisor.firstname} #{dayoffRequest.supervisor.lastname}"></h:outputText>
							</p:column>

							<p:column
								filterBy="#{dayoffRequest.secondSupervisor.firstname} #{dayoffRequest.secondSupervisor.lastname}"
								sortBy="#{dayoffRequest.secondSupervisor.firstname} #{dayoffRequest.secondSupervisor.lastname}">
								<f:facet name="header">
									<h:outputText value="İKİNCİ #{language.AMIR}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.secondSupervisor.firstname} #{dayoffRequest.secondSupervisor.lastname}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="BÖLÜM MÜDÜRÜ"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.employee.department.departmentManagerEmployee.firstname} #{dayoffRequest.employee.department.departmentManagerEmployee.lastname}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.address}">
								<f:facet name="header">
									<h:outputText value="#{language.ADRES}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.address}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.phone}">
								<f:facet name="header">
									<h:outputText value="#{language.TELEFON}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.phone}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.description}">
								<f:facet name="header">
									<h:outputText value="#{language.ACIKLAMA}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.description}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.startDate}"
								filterBy="#{dayoffRequest.startDate}">
								<f:facet name="header">
									<h:outputText value="#{language.BASLANGICTARIHI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.startDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.endDate}"
								filterBy="#{dayoffRequest.endDate}">
								<f:facet name="header">
									<h:outputText value="#{language.BITISTARIHI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.endDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.dayCount}">
								<f:facet name="header">
									<h:outputText value="#{language.GUNSAYISI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.dayCount}"></h:outputText>
							</p:column>

							<p:column filterBy="#{dayoffRequest.deputy.lastname}"
								sortBy=" #{dayoffRequest.deputy.lastname}">
								<f:facet name="header">
									<h:outputText value="#{language.VEKIL}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.deputy.firstname} #{dayoffRequest.deputy.lastname}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.IKONAYI}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{dayoffRequest.hrApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px" rendered="#{dayoffRequest.hrApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px" rendered="#{dayoffRequest.hrApproval==0}"></p:graphicImage>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="İLK #{language.AMIRONAYI}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{dayoffRequest.supervisorApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px"
									rendered="#{dayoffRequest.supervisorApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px"
									rendered="#{dayoffRequest.supervisorApproval==0}"></p:graphicImage>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="İKİNCİ #{language.AMIRONAYI}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{dayoffRequest.secondSupervisorApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px"
									rendered="#{dayoffRequest.secondSupervisorApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px"
									rendered="#{dayoffRequest.secondSupervisorApproval==0}"></p:graphicImage>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="BÖLÜM MÜDÜRÜ ONAYI"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{dayoffRequest.bmApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px" rendered="#{dayoffRequest.bmApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px" rendered="#{dayoffRequest.bmApproval==0}"></p:graphicImage>
							</p:column>

						</p:dataTable>
					</h:panelGrid>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="ApproveEmployeeDayoffButtonsPanelGridId">
						<p:commandButton value="#{language.ONAYLA}"
							update="growl dayoffRequestListDataTableId employeeDayoffListDataTableId subEmployeeDayoffRequestListDataTableId employeeActivitiesAccordionPanelId"
							widgetVar="ApproveEmployeeDayoffRequestButtonWidget"
							id="ApproveEmployeeDayoffRequestButtonId"
							actionListener="#{employeeDayoffBean.approveEmployeeDayoffRequest}"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="#{language.REDDET}"
							update="growl dayoffRequestListDataTableId employeeDayoffListDataTableId subEmployeeDayoffRequestListDataTableId employeeActivitiesAccordionPanelId"
							widgetVar="DeclineEmployeeDayoffRequestButtonWidget"
							id="DeclineEmployeeDayoffRequestButtonId"
							actionListener="#{employeeDayoffBean.declineEmployeeDayoffRequest}"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="ÇIKTI HAZIRLA"
							update="growl dayoffRequestListDataTableId employeeDayoffListDataTableId subEmployeeDayoffRequestListDataTableId employeeActivitiesAccordionPanelId"
							actionListener="#{employeeDayoffBean.exportToWord}"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<h:commandButton immediate="true"
							action="#{employeeDayoffBean.exportToWord()}"
							image="/large_icons/report.png" title="ÇIKTI AL">
						</h:commandButton>
					</h:panelGrid>


				</p:tab>
				<p:tab title="#{language.IZINLERIM}">
					<h:panelGrid id="employeeDayoffListPanelGridId">
						<p:dataTable var="dayoffRequest" dblClickSelect="false"
							paginator="true" id="employeeDayoffListDataTableId"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
							value="#{employeeDayoffBean.currentEmployeeDayoffRequests}"
							rows="20" rowKey="#{dayoffRequest.id}" selectionMode="single"
							selection="#{employeeDayoffBean.selectedSelfDayoff}"
							rowIndexVar="rowIndex">

							<p:column headerText="#" style="width: 5%;">
								<h:outputText value="#{rowIndex+1}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.commonDayoffType.name}">
								<f:facet name="header">
									<h:outputText value="#{language.IZINTURU}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.commonDayoffType.name}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="KALAN İZİN"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.employee.kalanIzin}"></h:outputText>
							</p:column>

							<p:column filterBy="#{dayoffRequest.employee.lastname}"
								sortBy="#{dayoffRequest.employee.lastname}">
								<f:facet name="header">
									<h:outputText value="#{language.ADISOYADI}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.employee.firstname} #{dayoffRequest.employee.lastname}"></h:outputText>
							</p:column>

							<p:column
								filterBy="#{dayoffRequest.supervisor.firstname} #{dayoffRequest.supervisor.lastname}"
								sortBy="#{dayoffRequest.supervisor.firstname} #{dayoffRequest.supervisor.lastname}">
								<f:facet name="header">
									<h:outputText value="İLK #{language.AMIR}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.supervisor.firstname} #{dayoffRequest.supervisor.lastname}"></h:outputText>
							</p:column>

							<p:column
								filterBy="#{dayoffRequest.secondSupervisor.firstname} #{dayoffRequest.secondSupervisor.lastname}"
								sortBy="#{dayoffRequest.secondSupervisor.firstname} #{dayoffRequest.secondSupervisor.lastname}">
								<f:facet name="header">
									<h:outputText value="İKİNCİ #{language.AMIR}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.secondSupervisor.firstname} #{dayoffRequest.secondSupervisor.lastname}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="BÖLÜM MÜDÜRÜ"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.employee.department.departmentManagerEmployee.firstname} #{dayoffRequest.employee.department.departmentManagerEmployee.lastname}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.address}">
								<f:facet name="header">
									<h:outputText value="#{language.ADRES}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.address}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.phone}">
								<f:facet name="header">
									<h:outputText value="#{language.TELEFON}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.phone}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.description}">
								<f:facet name="header">
									<h:outputText value="#{language.ACIKLAMA}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.description}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.startDate}"
								filterBy="#{dayoffRequest.startDate}">
								<f:facet name="header">
									<h:outputText value="#{language.BASLANGICTARIHI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.startDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.endDate}"
								filterBy="#{dayoffRequest.endDate}">
								<f:facet name="header">
									<h:outputText value="#{language.BITISTARIHI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.endDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.dayCount}">
								<f:facet name="header">
									<h:outputText value="#{language.GUNSAYISI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.dayCount}"></h:outputText>
							</p:column>

							<p:column
								filterBy="#{dayoffRequest.deputy.firstname} #{dayoffRequest.deputy.lastname}"
								sortBy="#{dayoffRequest.deputy.firstname} #{dayoffRequest.deputy.lastname}">
								<f:facet name="header">
									<h:outputText value="#{language.VEKIL}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.deputy.firstname} #{dayoffRequest.deputy.lastname}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.IKONAYI}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{dayoffRequest.hrApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px" rendered="#{dayoffRequest.hrApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px" rendered="#{dayoffRequest.hrApproval==0}"></p:graphicImage>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="İLK #{language.AMIRONAYI}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{dayoffRequest.supervisorApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px"
									rendered="#{dayoffRequest.supervisorApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px"
									rendered="#{dayoffRequest.supervisorApproval==0}"></p:graphicImage>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="İKİNCİ #{language.AMIRONAYI}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{dayoffRequest.secondSupervisorApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px"
									rendered="#{dayoffRequest.secondSupervisorApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px"
									rendered="#{dayoffRequest.secondSupervisorApproval==0}"></p:graphicImage>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="BÖLÜM MÜDÜRÜ ONAYI"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{dayoffRequest.bmApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px" rendered="#{dayoffRequest.bmApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px" rendered="#{dayoffRequest.bmApproval==0}"></p:graphicImage>
							</p:column>
						</p:dataTable>
					</h:panelGrid>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="MyEmployeeDayoffButtonsPanelGridId">
						<p:commandButton value="#{language.OLUSTUR}"
							widgetVar="CreateDayoffRequestButtonWidget"
							id="CreateDayoffRequestButtonId"
							onclick="CreateDayoffRequestPanelGridWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="ÇIKTI HAZIRLA"
							update="growl dayoffRequestListDataTableId employeeDayoffListDataTableId subEmployeeDayoffRequestListDataTableId employeeActivitiesAccordionPanelId"
							actionListener="#{employeeDayoffBean.exportToWord}"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<h:commandButton immediate="true"
							action="#{employeeDayoffBean.exportToWord()}"
							image="/large_icons/report.png" title="ÇIKTI AL">
						</h:commandButton>
					</h:panelGrid>

					<!--  ADD DIALOG  -->
					<p:dialog draggable="true" closable="true" dynamic="true"
						maximizable="true" style="min-width:600px" header="İzin Formu"
						id="CreateDayoffRequestPanelGridId"
						widgetVar="CreateDayoffRequestPanelGridWidget">
						<p:panel style="width:100%; text-align:left; padding:5px"
							id="CreateDayoffRequestPanelId">
							<h:form>
								<h:panelGrid border="0" cellspacing="5" columns="2"
									style="width:100%" id="CreateDayoffRequestPanelGridId">

									<h:outputLabel>#{language.IZINTURU}</h:outputLabel>

									<p:selectOneMenu layout="lineDirection" style="width: 125px"
										editable="true"
										value="#{employeeDayoffBean.newEmployeeDayoff.commonDayoffType.id}"
										required="true" requiredMessage="#{language.RequiredMessage}">
										<c:forEach items="#{employeeDayoffBean.allCommonDayoffTypes}"
											var="commonDayoffType">
											<f:selectItem itemValue="#{commonDayoffType.id}"
												itemLabel="#{commonDayoffType.name}"></f:selectItem>
										</c:forEach>
									</p:selectOneMenu>

									<h:outputText value="#{language.TALEBIYAPAN} *"></h:outputText>
									<p:autoComplete
										value="#{employeeDayoffBean.newEmployeeDayoff.employee}"
										id="talepYapanId" required="true"
										requiredMessage="#{language.RequiredMessage}"
										completeMethod="#{autoCompleteBean.autoCompleteEmployee}"
										var="employee"
										itemLabel="#{employee.employeeId} - #{employee.firstname} #{employee.lastname}"
										itemValue="#{employee}" converter="employeeConverter"
										forceSelection="true" minQueryLength="3" />

									<h:outputText value="İZNİ TALEP EDENİN BİR ÜST AMİRİ *"></h:outputText>
									<p:autoComplete value="#{employeeDayoffBean.birUstAmir}"
										id="birUstAmirId" required="true"
										requiredMessage="#{language.RequiredMessage}"
										completeMethod="#{autoCompleteBean.autoCompleteEmployee}"
										var="employee"
										itemLabel="#{employee.employeeId} - #{employee.firstname} #{employee.lastname}"
										itemValue="#{employee}" converter="employeeConverter"
										forceSelection="true" minQueryLength="3" />

									<h:outputText value="İZNİ TALEP EDENİN İKİ ÜST AMİRİ *"></h:outputText>
									<p:autoComplete value="#{employeeDayoffBean.ikiUstAmir}"
										id="ikiUstAmirId"
										completeMethod="#{autoCompleteBean.autoCompleteEmployee}"
										var="employee"
										itemLabel="#{employee.employeeId} - #{employee.firstname} #{employee.lastname}"
										itemValue="#{employee}" converter="employeeConverter"
										minQueryLength="3" />

									<h:outputText value="#{language.IZNEVEKALETEDECEKKISI} *"></h:outputText>
									<p:autoComplete
										value="#{employeeDayoffBean.newEmployeeDayoff.deputy}"
										id="ilkTamirYapan"
										completeMethod="#{autoCompleteBean.autoCompleteEmployee}"
										var="employee"
										itemLabel="#{employee.employeeId} - #{employee.firstname} #{employee.lastname}"
										itemValue="#{employee}" converter="employeeConverter"
										minQueryLength="3" />

									<h:outputLabel value="#{language.GUNSAYISI} *"></h:outputLabel>
									<p:inputText style="width: 200px;"
										value="#{employeeDayoffBean.newEmployeeDayoff.dayCount}"></p:inputText>

									<h:outputText value="#{language.BASLANGICTARIHI} *"></h:outputText>
									<p:calendar pattern="#{userCredentialsBean.dateFormat}"
										required="true" requiredMessage="#{language.RequiredMessage}"
										navigator="true"
										value="#{employeeDayoffBean.newEmployeeDayoff.startDate}"></p:calendar>

									<h:outputText value="#{language.BITISTARIHI} *"></h:outputText>
									<p:calendar pattern="#{userCredentialsBean.dateFormat}"
										required="true" requiredMessage="#{language.RequiredMessage}"
										navigator="true"
										value="#{employeeDayoffBean.newEmployeeDayoff.endDate}"></p:calendar>

									<h:outputText value="İŞ BAŞI TARİHİ *"></h:outputText>
									<p:calendar pattern="#{userCredentialsBean.dateFormat}"
										required="true" requiredMessage="#{language.RequiredMessage}"
										navigator="true"
										value="#{employeeDayoffBean.newEmployeeDayoff.workStartDate}"></p:calendar>


									<h:outputLabel>İZİN #{language.TELEFON}</h:outputLabel>
									<p:inputText style="width: 200px;"
										value="#{employeeDayoffBean.newEmployeeDayoff.phone}"></p:inputText>

									<h:outputLabel>#{language.ACIKLAMA}</h:outputLabel>
									<p:inputTextarea style="width: 200px;"
										value="#{employeeDayoffBean.newEmployeeDayoff.description}"></p:inputTextarea>

									<h:outputLabel>#{language.IZINADRESI}</h:outputLabel>
									<p:inputTextarea style="width: 200px;"
										value="#{employeeDayoffBean.newEmployeeDayoff.address}"></p:inputTextarea>

									<h:outputText></h:outputText>
									<h:panelGrid columns="3" id="panelId">
										<p:commandLink title="#{language.ok}"
											update="growl dayoffRequestListDataTableId employeeDayoffListDataTableId subEmployeeDayoffRequestListDataTableId employeeActivitiesAccordionPanelId"
											process="@this CreateDayoffRequestPanelGridId"
											actionListener="#{employeeDayoffBean.makeDayoffRequest}">
											<p:graphicImage value="/large_icons/ok.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
										<p:commandLink title="#{language.Cancel}" process="@this"
											update="CreateDayoffRequestPanelGridId" immediate="true"
											onclick="CreateDayoffRequestPanelGridWidget.hide()">
											<p:graphicImage value="/large_icons/cancel.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
									</h:panelGrid>
								</h:panelGrid>
							</h:form>
						</p:panel>
					</p:dialog>

				</p:tab>
				<p:tab title="#{language.IZINTALEPLERI}">

					<h:panelGrid>
						<p:dataTable var="dayoffRequest" dblClickSelect="false"
							paginator="true" id="subEmployeeDayoffRequestListDataTableId"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
							value="#{employeeDayoffBean.subEmployeeDayoffRequests}" rows="20"
							rowKey="#{dayoffRequest.id}" selectionMode="single"
							selection="#{employeeDayoffBean.selectedSubEmployeeDayoff}"
							rowIndexVar="rowIndex">

							<p:column headerText="#" style="width: 5%;">
								<h:outputText value="#{rowIndex+1}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.commonDayoffType.name}">
								<f:facet name="header">
									<h:outputText value="#{language.IZINTURU}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.commonDayoffType.name}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="KALAN İZİN"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.employee.kalanIzin}"></h:outputText>
							</p:column>

							<p:column filterBy="#{dayoffRequest.employee.lastname}"
								sortBy="#{dayoffRequest.employee.lastname}">
								<f:facet name="header">
									<h:outputText value="#{language.ADISOYADI}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.employee.firstname} #{dayoffRequest.employee.lastname}"></h:outputText>
							</p:column>

							<p:column
								filterBy="#{dayoffRequest.supervisor.firstname} #{dayoffRequest.supervisor.lastname}"
								sortBy="#{dayoffRequest.supervisor.firstname} #{dayoffRequest.supervisor.lastname}">
								<f:facet name="header">
									<h:outputText value="İLK #{language.AMIR}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.supervisor.firstname} #{dayoffRequest.supervisor.lastname}"></h:outputText>
							</p:column>

							<p:column
								filterBy="#{dayoffRequest.secondSupervisor.firstname} #{dayoffRequest.secondSupervisor.lastname}"
								sortBy="#{dayoffRequest.secondSupervisor.firstname} #{dayoffRequest.secondSupervisor.lastname}">
								<f:facet name="header">
									<h:outputText value="İKİNCİ #{language.AMIR}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.secondSupervisor.firstname} #{dayoffRequest.secondSupervisor.lastname}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="BÖLÜM MÜDÜRÜ"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.employee.department.departmentManagerEmployee.firstname} #{dayoffRequest.employee.department.departmentManagerEmployee.lastname}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.address}">
								<f:facet name="header">
									<h:outputText value="#{language.ADRES}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.address}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.phone}">
								<f:facet name="header">
									<h:outputText value="#{language.TELEFON}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.phone}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.description}">
								<f:facet name="header">
									<h:outputText value="#{language.ACIKLAMA}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.description}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.startDate}"
								filterBy="#{dayoffRequest.startDate}">
								<f:facet name="header">
									<h:outputText value="#{language.BASLANGICTARIHI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.startDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.endDate}"
								filterBy="#{dayoffRequest.endDate}">
								<f:facet name="header">
									<h:outputText value="#{language.BITISTARIHI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.endDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.dayCount}">
								<f:facet name="header">
									<h:outputText value="#{language.GUNSAYISI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.dayCount}"></h:outputText>
							</p:column>

							<p:column
								filterBy="#{dayoffRequest.deputy.firstname} #{dayoffRequest.deputy.lastname}"
								sortBy="#{dayoffRequest.deputy.firstname} #{dayoffRequest.deputy.lastname}">
								<f:facet name="header">
									<h:outputText value="#{language.VEKIL}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.deputy.firstname} #{dayoffRequest.deputy.lastname}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.IKONAYI}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{dayoffRequest.hrApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px" rendered="#{dayoffRequest.hrApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px" rendered="#{dayoffRequest.hrApproval==0}"></p:graphicImage>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="İLK #{language.AMIRONAYI}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{dayoffRequest.supervisorApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px"
									rendered="#{dayoffRequest.supervisorApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px"
									rendered="#{dayoffRequest.supervisorApproval==0}"></p:graphicImage>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="İKİNCİ #{language.AMIRONAYI}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{dayoffRequest.secondSupervisorApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px"
									rendered="#{dayoffRequest.secondSupervisorApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px"
									rendered="#{dayoffRequest.secondSupervisorApproval==0}"></p:graphicImage>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="BÖLÜM MÜDÜRÜ ONAYI"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{dayoffRequest.bmApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px" rendered="#{dayoffRequest.bmApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px" rendered="#{dayoffRequest.bmApproval==0}"></p:graphicImage>
							</p:column>

						</p:dataTable>
					</h:panelGrid>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="ApproveSubEmployeeDayoffButtonsPanelGridId">
						<p:commandButton value="#{language.ONAYLA}"
							update="growl dayoffRequestListDataTableId employeeDayoffListDataTableId subEmployeeDayoffRequestListDataTableId employeeActivitiesAccordionPanelId"
							widgetVar="ApproveSubEmployeeDayoffRequestButtonWidget"
							id="ApproveSubEmployeeDayoffRequestButtonId"
							actionListener="#{employeeDayoffBean.approveSubEmployeeDayoffRequest}"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="#{language.REDDET}"
							update="growl dayoffRequestListDataTableId employeeDayoffListDataTableId subEmployeeDayoffRequestListDataTableId employeeActivitiesAccordionPanelId"
							widgetVar="DeclineSubEmployeeDayoffRequestButtonWidget"
							id="DeclineSubEmployeeDayoffRequestButtonId"
							actionListener="#{employeeDayoffBean.declineSubEmployeeDayoffRequest}"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="ÇIKTI HAZIRLA"
							update="growl dayoffRequestListDataTableId employeeDayoffListDataTableId subEmployeeDayoffRequestListDataTableId employeeActivitiesAccordionPanelId"
							actionListener="#{employeeDayoffBean.exportToWord}"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<h:commandButton immediate="true"
							action="#{employeeDayoffBean.exportToWord()}"
							image="/large_icons/report.png" title="ÇIKTI AL">
						</h:commandButton>
					</h:panelGrid>
				</p:tab>
				<p:tab title="BÖLÜM MÜDÜRÜ TALEPLERİM" id="bmTabId"
					rendered="#{employeeDayoffBean.renderTab}">
					<h:panelGrid>
						<p:dataTable var="dayoffRequest" dblClickSelect="false"
							paginator="true" id="bmEmployeeDayoffRequestListDataTableId"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}"
							value="#{employeeDayoffBean.bmEmployeeDayoffRequests}" rows="20"
							rowKey="#{dayoffRequest.id}" selectionMode="single"
							selection="#{employeeDayoffBean.selectedBMEmployeeDayoff}"
							rowIndexVar="rowIndex">

							<p:column headerText="#" style="width: 5%;">
								<h:outputText value="#{rowIndex+1}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.commonDayoffType.name}">
								<f:facet name="header">
									<h:outputText value="#{language.IZINTURU}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.commonDayoffType.name}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="KALAN İZİN"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.employee.kalanIzin}"></h:outputText>
							</p:column>

							<p:column filterBy="#{dayoffRequest.employee.lastname}"
								sortBy="#{dayoffRequest.employee.lastname}">
								<f:facet name="header">
									<h:outputText value="#{language.ADISOYADI}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.employee.firstname} #{dayoffRequest.employee.lastname}"></h:outputText>
							</p:column>

							<p:column
								filterBy="#{dayoffRequest.supervisor.firstname} #{dayoffRequest.supervisor.lastname}"
								sortBy="#{dayoffRequest.supervisor.firstname} #{dayoffRequest.supervisor.lastname}">
								<f:facet name="header">
									<h:outputText value="İLK #{language.AMIR}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.supervisor.firstname} #{dayoffRequest.supervisor.lastname}"></h:outputText>
							</p:column>

							<p:column
								filterBy="#{dayoffRequest.secondSupervisor.firstname} #{dayoffRequest.secondSupervisor.lastname}"
								sortBy="#{dayoffRequest.secondSupervisor.firstname} #{dayoffRequest.secondSupervisor.lastname}">
								<f:facet name="header">
									<h:outputText value="İKİNCİ #{language.AMIR}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.secondSupervisor.firstname} #{dayoffRequest.secondSupervisor.lastname}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="BÖLÜM MÜDÜRÜ"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.employee.department.departmentManagerEmployee.firstname} #{dayoffRequest.employee.department.departmentManagerEmployee.lastname}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.address}">
								<f:facet name="header">
									<h:outputText value="#{language.ADRES}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.address}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.phone}">
								<f:facet name="header">
									<h:outputText value="#{language.TELEFON}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.phone}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.description}">
								<f:facet name="header">
									<h:outputText value="#{language.ACIKLAMA}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.description}"></h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.startDate}"
								filterBy="#{dayoffRequest.startDate}">
								<f:facet name="header">
									<h:outputText value="#{language.BASLANGICTARIHI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.startDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.endDate}"
								filterBy="#{dayoffRequest.endDate}">
								<f:facet name="header">
									<h:outputText value="#{language.BITISTARIHI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.endDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>

							<p:column sortBy="#{dayoffRequest.dayCount}">
								<f:facet name="header">
									<h:outputText value="#{language.GUNSAYISI}"></h:outputText>
								</f:facet>
								<h:outputText value="#{dayoffRequest.dayCount}"></h:outputText>
							</p:column>

							<p:column
								filterBy="#{dayoffRequest.deputy.firstname} #{dayoffRequest.deputy.lastname}"
								sortBy="#{dayoffRequest.deputy.firstname} #{dayoffRequest.deputy.lastname}">
								<f:facet name="header">
									<h:outputText value="#{language.VEKIL}"></h:outputText>
								</f:facet>
								<h:outputText
									value="#{dayoffRequest.deputy.firstname} #{dayoffRequest.deputy.lastname}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.IKONAYI}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{dayoffRequest.hrApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px" rendered="#{dayoffRequest.hrApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px" rendered="#{dayoffRequest.hrApproval==0}"></p:graphicImage>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="İLK #{language.AMIRONAYI}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{dayoffRequest.supervisorApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px"
									rendered="#{dayoffRequest.supervisorApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px"
									rendered="#{dayoffRequest.supervisorApproval==0}"></p:graphicImage>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="İKİNCİ #{language.AMIRONAYI}"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{dayoffRequest.secondSupervisorApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px"
									rendered="#{dayoffRequest.secondSupervisorApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px"
									rendered="#{dayoffRequest.secondSupervisorApproval==0}"></p:graphicImage>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="BÖLÜM MÜDÜRÜ ONAYI"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{dayoffRequest.bmApproval eq 1}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px" rendered="#{dayoffRequest.bmApproval eq 2}"></p:graphicImage>
								<p:graphicImage value="/large_icons/blank.png"
									style="border:0px" rendered="#{dayoffRequest.bmApproval==0}"></p:graphicImage>
							</p:column>

						</p:dataTable>
					</h:panelGrid>

					<h:panelGrid border="0" columns="5" cellspacing="5">
						<p:commandButton value="#{language.ONAYLA}"
							update="growl dayoffRequestListDataTableId employeeDayoffListDataTableId bmEmployeeDayoffRequestListDataTableId employeeActivitiesAccordionPanelId"
							actionListener="#{employeeDayoffBean.approveBMEmployeeDayoffRequest}"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="#{language.REDDET}"
							update="growl dayoffRequestListDataTableId employeeDayoffListDataTableId bmEmployeeDayoffRequestListDataTableId employeeActivitiesAccordionPanelId"
							actionListener="#{employeeDayoffBean.declineBMEmployeeDayoffRequest}"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="ÇIKTI HAZIRLA"
							update="growl dayoffRequestListDataTableId employeeDayoffListDataTableId bmEmployeeDayoffRequestListDataTableId employeeActivitiesAccordionPanelId"
							actionListener="#{employeeDayoffBean.exportToWord}"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<h:commandButton immediate="true"
							action="#{employeeDayoffBean.exportToWord()}"
							image="/large_icons/report.png" title="ÇIKTI AL">
						</h:commandButton>
					</h:panelGrid>
				</p:tab>
			</p:accordionPanel>

		</ui:define>
	</ui:composition>
</h:body>
</html>