<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">

			<p:panel header="#{language.Employee} #{language.List}"
				id="employeeListPanelId" closable="false" toggleable="true"
				visible="true">
				<h:panelGrid>
					<p:dataTable var="employee" dblClickSelect="false" paginator="true"
						id="employeeListDataTableId"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						value="#{employeeDepartmentSupervisorBean.allEmployees}"
						selection="#{employeeDepartmentSupervisorBean.selectedEmployees}"
						rows="20" rowKey="#{employee.employeeId}" selectionMode="multiple"
						rowIndexVar="rowIndex">

						<p:column headerText="#" style="width: 5%;">
							<h:outputText value="#{rowIndex+1}"></h:outputText>
						</p:column>

						<p:column filterBy="#{employee.firstname} #{employee.lastname}"
							sortBy="#{employee.firstname} #{employee.lastname}">
							<f:facet name="header">
								<h:outputText value="İsim"></h:outputText>
							</f:facet>
							<h:outputText value="#{employee.firstname} #{employee.lastname}"></h:outputText>
						</p:column>
						<p:column
							sortBy="#{employee.supervisor.firstname} #{employee.supervisor.lastname}"
							filterBy="#{employee.supervisor.firstname} #{employee.supervisor.lastname}">
							<f:facet name="header">
								<h:outputText value="Amiri"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{employee.supervisor.firstname} #{employee.supervisor.lastname}"></h:outputText>
						</p:column>

						<p:column sortBy="#{employee.department.name}"
							filterBy="#{employee.department.name}">
							<f:facet name="header">
								<h:outputText value="Departman"></h:outputText>
							</f:facet>
							<h:outputText value="#{employee.department.name}"></h:outputText>
						</p:column>
					</p:dataTable>
				</h:panelGrid>
			</p:panel>
		</ui:define>

		<ui:define name="showPanel">

			<p:panel header="#{language.Department} Ata" closable="false"
				toggleable="true" visible="true">
				<h:panelGrid columns="3">


					<h:outputLabel style="font-weight: bold;"
						value="#{language.Department} :"></h:outputLabel>
					<p:selectOneMenu layout="lineDirection" style="width: 125px"
						value="#{employeeDepartmentSupervisorBean.selectedDepartment.departmentId}">
						<c:forEach step="1"
							items="#{employeeDepartmentSupervisorBean.allDepartments}"
							var="department">
							<f:selectItem itemValue="#{department.departmentId}"
								itemLabel="#{department.name}"></f:selectItem>
						</c:forEach>
					</p:selectOneMenu>
					<p:commandButton value="Departman Ata"
						update="newRoleMessages employeeListDataTableId employeeListPanelId"
						actionListener="#{employeeDepartmentSupervisorBean.assignDepartmentToEmployees}" />

				</h:panelGrid>

			</p:panel>

			<p:panel header="Amir Ata" closable="false" toggleable="true"
				visible="true">
				<h:panelGrid columns="3">

					<h:outputText value="Amir: " style="font-weight: bold;"></h:outputText>
					<p:autoComplete
						value="#{employeeDepartmentSupervisorBean.selectedSupervisor}"
						completeMethod="#{autoCompleteBean.autoCompleteEmployee}"
						var="employee"
						itemLabel="#{employee.firstname} #{employee.lastname}"
						itemValue="#{employee}" converter="employeeConverter"
						forceSelection="true" minQueryLength="3" />
					<p:commandButton value="Amir Ata"
						update="newRoleMessages employeeListDataTableId employeeListPanelId"
						actionListener="#{employeeDepartmentSupervisorBean.assignSupervisorToEmployees}" />
				</h:panelGrid>

			</p:panel>

			<p:messages id="newRoleMessages"></p:messages>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>