<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:growl id="growl"></p:growl>
			<p:accordionPanel autoHeight="false" style="padding:0px; width:100%"
				id="employeeActivitiesAccordionPanelId">
				<p:tab title="Aktiviteler">

					<p:dataTable var="employeeActivity" dblClickSelect="false"
						widgetVar="employeeActivityListDataTableWidget"
						id="EmployeeActivityListDataTableId"
						value="#{employeeActivityBean.allEmployeeActivities}"
						selection="#{employeeActivityBean.selectedEmployeeActivity}"
						rows="20" rowKey="#{employeeActivity.id}" selectionMode="single"
						rowIndexVar="rowIndex">
						<p:ajax event="rowSelect" update="EmployeeActivityListDataTableId"
							oncomplete="EmployeeActivitySilButtonWidget.enable();EmployeeActivityDuzenleButtonWidget.enable()"></p:ajax>

						<p:column headerText="#" style="width: 5%;">
							<h:outputText value="#{rowIndex+1}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Aktivite Adı"></h:outputText>
							</f:facet>
							<h:outputText value="#{employeeActivity.activityName}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="Eğitimi Veren Kurum"></h:outputText>
							</f:facet>
							<h:outputText value="#{employeeActivity.trainerInstitution}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="Eğitimin Süresi"></h:outputText>
							</f:facet>
							<h:outputText value="#{employeeActivity.duration}"></h:outputText>
						</p:column>
						<p:column sortBy="#{employeeActivity.date}">
							<f:facet name="header">
								<h:outputText value="Tarih"></h:outputText>
							</f:facet>
							<h:outputText value="#{employeeActivity.date}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="Açıklama"></h:outputText>
							</f:facet>
							<h:outputText value="#{employeeActivity.description}"></h:outputText>
						</p:column>

					</p:dataTable>


					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="EmployeeActivityButtonsPanelGridId">
						<p:commandButton value="#{language.Delete}"
							widgetVar="EmployeeActivitySilButtonWidget" disabled="true"
							id="EmployeeActivitySilButton" process="@all"
							onclick="deleteEmployeeActivityConfirmDialogWidget.show()"
							icon="ui-icon-circle-minus">
						</p:commandButton>
						<p:commandButton value="#{language.Add}"
							widgetVar="EmployeeActivityEkleButtonWidget" disabled="false"
							id="EmployeeActivityEkleButton" process="@all"
							onclick="addEmployeeActivityConfirmDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="#{language.Edit}"
							widgetVar="EmployeeActivityDuzenleButtonWidget" disabled="true"
							id="EmployeeActivityDuzenleButton" process="@all"
							onclick="editEmployeeActivityConfirmDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
					</h:panelGrid>

					<!-- 					DELETE DIALOG  -->
					<p:dialog draggable="true" closable="true" dynamic="true"
						maximizable="true" style="min-width:600px" header="Adresi Sil?"
						id="deleteEmployeeActivityConfirmDialogId"
						widgetVar="deleteEmployeeActivityConfirmDialogWidget">
						<p:panel closable="false" toggleable="true"
							id="deleteEmployeeActivityPanelId" style="width:100%"
							widgetVar="deleteEmployeeActivityPanelWidget" visible="true">
							<h:panelGrid border="0" columns="5" style="width:100%">
								<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
							</h:panelGrid>
							<h:panelGrid cellspacing="5" columns="5">
								<p:commandLink title="#{language.ok}"
									update="EmployeeActivityListDataTableId growl"
									process="@this EmployeeActivityListDataTableId"
									oncomplete="deleteEmployeeActivityConfirmDialogWidget.hide(); EmployeeActivitySilButtonWidget.disable();"
									actionListener="#{employeeActivityBean.deleteSelectedEmployeeActivity}">
									<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
								</p:commandLink>
								<p:commandLink title="#{language.Cancel}" process="@this"
									update="deleteEmployeeActivityMessage" immediate="true"
									onclick="deleteEmployeeActivityConfirmDialogWidget.hide()">
									<p:graphicImage value="/large_icons/cancel.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
							<p:messages showDetail="false" showSummary="true"
								id="deleteEmployeeActivityMessage"></p:messages>
						</p:panel>
					</p:dialog>

					<!-- 						ADD DIALOG  -->
					<p:dialog draggable="true" closable="true" dynamic="true"
						maximizable="true" style="min-width:600px"
						header="Aktivite Ekle..." id="addEmployeeActivityConfirmDialogId"
						widgetVar="addEmployeeActivityConfirmDialogWidget">
						<p:panel style="width:100%; text-align:left; padding:5px"
							id="addEmployeeActivityPanelId">
							<h:form>
								<h:panelGrid border="0" cellspacing="5" columns="2"
									style="width:100%" id="addEmployeeActivityPanelGridId">
									<h:outputText value="Aktivite Adı"></h:outputText>
									<p:inputText
										value="#{employeeActivityBean.newEmployeeActivity.activityName}"></p:inputText>
									<h:outputText value="Eğitimi Veren Kurum"></h:outputText>
									<p:inputText
										value="#{employeeActivityBean.newEmployeeActivity.trainerInstitution}"></p:inputText>
									<h:outputText value="Eğitimin Süresi"></h:outputText>
									<p:inputText
										value="#{employeeActivityBean.newEmployeeActivity.duration}"></p:inputText>
									<h:outputText value="Tarih"></h:outputText>
									<p:calendar pattern="#{userCredentialsBean.dateFormat}"
										required="true" requiredMessage="#{language.RequiredMessage}"
										navigator="true"
										value="#{employeeActivityBean.newEmployeeActivity.date}"></p:calendar>
									<h:outputText value="Açıklama"></h:outputText>
									<p:inputText
										value="#{employeeActivityBean.newEmployeeActivity.description}"></p:inputText>

									<h:outputText></h:outputText>
									<h:panelGrid columns="2">
										<p:commandLink title="#{language.ok}"
											update="addEmployeeActivityPanelGridId employeeActivitiesAccordionPanelId"
											process="@this addEmployeeActivityPanelGridId EmployeeActivityListDataTableId"
											oncomplete="addEmployeeActivityConfirmDialogWidget.hide()"
											actionListener="#{employeeActivityBean.addNewEmployeeActivity}">
											<p:graphicImage value="/large_icons/ok.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
										<p:commandLink title="#{language.Cancel}" process="@this"
											update="addEmployeeActivityPanelGridId" immediate="true"
											onclick="addEmployeeActivityConfirmDialogWidget.hide()">
											<p:graphicImage value="/large_icons/cancel.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
									</h:panelGrid>
								</h:panelGrid>
							</h:form>
						</p:panel>
					</p:dialog>

					<!--					UPDATE DIALOG  -->
					<p:dialog draggable="true" closable="true" dynamic="true"
						maximizable="true" style="min-width:600px"
						header="Aktivite Düzenle..."
						id="editEmployeeActivityConfirmDialogId"
						widgetVar="editEmployeeActivityConfirmDialogWidget">
						<p:panel style="width:100%; text-align:left; padding:5px"
							id="editEmployeeActivityPanelId">
							<h:form>
								<h:panelGrid border="0" cellspacing="5" columns="2"
									style="width:100%" id="editEmployeeActivityPanelGridId">
									<h:outputText value="Aktivite Adı"></h:outputText>
									<p:inputText
										value="#{employeeActivityBean.selectedEmployeeActivity.activityName}"></p:inputText>
									<h:outputText value="Eğitimi Veren Kurum"></h:outputText>
									<p:inputText
										value="#{employeeActivityBean.selectedEmployeeActivity.trainerInstitution}"></p:inputText>
									<h:outputText value="Eğitimin Süresi"></h:outputText>
									<p:inputText
										value="#{employeeActivityBean.selectedEmployeeActivity.duration}"></p:inputText>
									<h:outputText value="Tarih"></h:outputText>
									<p:calendar pattern="#{userCredentialsBean.dateFormat}"
										required="true" requiredMessage="#{language.RequiredMessage}"
										navigator="true"
										value="#{employeeActivityBean.selectedEmployeeActivity.date}"></p:calendar>
									<h:outputText value="Açıklama"></h:outputText>
									<p:inputText
										value="#{employeeActivityBean.selectedEmployeeActivity.description}"></p:inputText>


									<h:outputText></h:outputText>
									<h:panelGrid columns="2">
										<p:commandLink title="#{language.ok}"
											update="editEmployeeActivityPanelGridId employeeActivitiesAccordionPanelId"
											process="@this editEmployeeActivityPanelGridId EmployeeActivityListDataTableId"
											oncomplete="editEmployeeActivityConfirmDialogWidget.hide()"
											actionListener="#{employeeActivityBean.updateSelectedEmployeeActivity}">
											<p:graphicImage value="/large_icons/ok.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
										<p:commandLink title="#{language.Cancel}" process="@this"
											update="editEmployeeActivityPanelGridId" immediate="true"
											onclick="editEmployeeActivityConfirmDialogWidget.hide()">
											<p:graphicImage value="/large_icons/cancel.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
									</h:panelGrid>
								</h:panelGrid>
							</h:form>
						</p:panel>
					</p:dialog>

					<p:separator></p:separator>

					<p:dataTable var="employee" dblClickSelect="false"
						widgetVar="employeeListDataTableWidget"
						id="EmployeeListDataTableId" paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
						value="#{employeeActivityBean.allEmployees}"
						selection="#{employeeActivityBean.selectedEmployees}" rows="20"
						rowKey="#{employee.employeeId}" selectionMode="multiple"
						rowIndexVar="rowIndex">
						<p:ajax event="rowSelect" update="EmployeeListDataTableId"
							oncomplete=""></p:ajax>

						<p:column headerText="#" style="width: 5%;">
							<h:outputText value="#{rowIndex+1}"></h:outputText>
						</p:column>

						<p:column sortBy="#{employee.firstname} #{employee.lastname}"
							filterBy="#{employee.firstname} #{employee.lastname}">
							<f:facet name="header">
								<h:outputText value="İsim"></h:outputText>
							</f:facet>
							<h:outputText value="#{employee.firstname} #{employee.lastname}"></h:outputText>
						</p:column>

						<p:column sortBy="#{employee.department.name}"
							filterBy="#{employee.department.name}">
							<f:facet name="header">
								<h:outputText value="Departman"></h:outputText>
							</f:facet>
							<h:outputText value="#{employee.department.name}"></h:outputText>
						</p:column>
						<p:column
							sortBy="#{employee.supervisor.firstname} #{employee.supervisor.lastname}"
							filterBy="#{employee.supervisor.firstname} #{employee.supervisor.lastname}">
							<f:facet name="header">
								<h:outputText value="Amir"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{employee.supervisor.firstname} #{employee.supervisor.lastname}"></h:outputText>
						</p:column>
						<p:column sortBy="#{employee.active}"
							filterBy="#{employee.active}">
							<f:facet name="header">
								<h:outputText value="Durum"></h:outputText>
							</f:facet>
							<h:outputText rendered="#{employee.active}" value="Aktif"></h:outputText>
							<h:outputText rendered="#{!employee.active}" value="Pasif"></h:outputText>
						</p:column>

					</p:dataTable>


					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="EmployeeActivityParticipationButtonPanelGridId">
						<p:commandLink title="Kullanıcıları Aktiviteye Ekle"
							update="editEmployeeActivityPanelGridId employeeActivitiesAccordionPanelId"
							actionListener="#{employeeActivityBean.addEmployeeActivityParticipations}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>

				</p:tab>
			</p:accordionPanel>

		</ui:define>
	</ui:composition>
</h:body>
</html>