<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<h:head>
	<title>New Employee</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel multiple="true" autoHeight="true"
				style="padding:0px" id="accorditionPanelId">
				<p:growl id="growl" />
				<p:tab
					title="#{language.Employee} (#{fn:length(employeeListBean.employeeList)})">
					<p:dataTable var="employee" id="employeeListDataTableId"
						widgetVar="employeeListDataTableWidget"
						emptyMessage="#{language.EmptyMessage}" dblClickSelect="false"
						value="#{employeeListBean.employeeList}" paginator="true"
						rows="20" rowKey="#{employee.employeeId}"
						sortBy="#{employee.firstname}" resizableColumns="true"
						selection="#{employeeBean.currentEmployee}" selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect"
							update="newEmployeePanelId updateEmployeePanelId"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Employee} #{language.id}"></h:outputText>
							</f:facet>
							<h:outputText value="#{employee.employeeId}"></h:outputText>
						</p:column>

						<p:column sortBy="#{employee.firstname}"
							filterBy="#{employee.firstname}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{employee.firstname} #{employee.lastname}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Department}"></h:outputText>
							</f:facet>
							<h:outputText value="#{employee.department.name}"></h:outputText>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="#{language.Load}" process="@this"
								update="employeeListDataTableId"
								actionListener="#{employeeListBean.loadEmployeeList}">
							</p:commandButton>
						</f:facet>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
		</ui:define>

		<ui:define name="showPanel">
			<p:panel
				header="#{language.Employee}: #{employeeBean.currentEmployee.firstname} #{employeeBean.currentEmployee.lastname}"
				closable="false" id="newEmployeePanelId"
				widgetVar="newEmployeePanelWidget">
				<h:panelGrid border="0" columns="2" style="width:100%">
					<p:graphicImage id="originalImageId" height="100"
						value="/picture/employee/images/#{employeeBean.userPicturePath}.JPG"></p:graphicImage>
					<h:outputLabel value=""></h:outputLabel>

					<h:outputLabel value="#{language.Firstname} *: "></h:outputLabel>
					<p:inputText value="#{employeeBean.currentEmployee.firstname}"
						readonly="true" requiredMessage="#{language.RequiredMessage}"></p:inputText>

					<h:outputLabel value="#{language.Lastname} *:"></h:outputLabel>
					<p:inputText value="#{employeeBean.currentEmployee.lastname}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.DateOfBirth} (gg/aa/yyyy)*: "></h:outputLabel>
					<p:calendar mode="popup"
						pattern="#{userCredentialsBean.dateFormat}" required="true"
						disabled="true" requiredMessage="#{language.RequiredMessage}"
						value="#{employeeBean.currentEmployee.dateOfBirth}"></p:calendar>


					<h:outputText value="#{language.Department}: "></h:outputText>
					<p:selectOneMenu
						value="#{employeeBean.currentEmployee.department.departmentId}"
						style="width: 140px" required="true"
						requiredMessage="#{language.RequiredMessage}" disabled="true">
						<c:forEach step="1" items="#{employeeBean.departmentList}"
							var="department">
							<f:selectItem itemValue="#{department.departmentId}"
								itemLabel="#{department.name}" />
						</c:forEach>
					</p:selectOneMenu>

					<h:outputLabel value="#{language.Gender} :"></h:outputLabel>
					<p:selectOneMenu style="width: 140px"
						value="#{employeeBean.currentEmployee.gender}" disabled="true">
						<f:selectItem itemValue="true" itemLabel="#{language.Male}"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="#{language.Female}"></f:selectItem>
					</p:selectOneMenu>

					<h:outputLabel value="#{language.Address} : "></h:outputLabel>
					<p:inputTextarea value="#{employeeBean.currentEmployee.address}"
						autoResize="false" cols="5" style="width:130px" readonly="true"></p:inputTextarea>

					<h:outputLabel value="#{language.Country} : "></h:outputLabel>
					<p:inputText
						value="#{employeeBean.currentEmployee.ulkeler.ulkeIsmi}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.City} :"></h:outputLabel>
					<p:inputText value="#{employeeBean.currentEmployee.city}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.PostalCode} : "></h:outputLabel>
					<p:inputText value="#{employeeBean.currentEmployee.postalCode}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.StartDate} (gg/aa/yyyy)*: "></h:outputLabel>
					<p:calendar mode="popup" showOn="button" autocomplete="false"
						pattern="#{userCredentialsBean.dateFormat}"
						value="#{employeeBean.currentEmployee.startDate}" disabled="true"></p:calendar>

					<h:outputLabel value="#{language.EndDate} (gg/aa/yyyy):"></h:outputLabel>
					<p:calendar mode="popup" showOn="button" autocomplete="false"
						pattern="#{userCredentialsBean.dateFormat}"
						value="#{employeeBean.currentEmployee.endDate}" disabled="true"></p:calendar>

					<h:outputLabel value="#{language.PhoneNumber} : "></h:outputLabel>
					<p:inputText value="#{employeeBean.currentEmployee.phoneNumber}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.Salary} (TL) : "></h:outputLabel>
					<p:inputText value="#{employeeBean.currentEmployee.salary}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.Status} :"></h:outputLabel>
					<p:selectOneMenu style="width: 140px"
						value="#{employeeBean.currentEmployee.active}" disabled="true">
						<f:selectItem itemValue="true" itemLabel="#{language.Active}"></f:selectItem>
						<f:selectItem itemValue="false" itemLabel="#{language.NonActive}"></f:selectItem>
					</p:selectOneMenu>
				</h:panelGrid>
				<h:panelGrid border="0" columns="3" id="updateEmployeePanelGridId"
					rendered="#{employeeBean.currentEmployee.employeeId != null}">
					<p:commandLink title="#{language.Update}"
						rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].employeeP >= 4}"
						update="updateEmployeePanelId" process="@this"
						onclick="updateEmployeeDialogWidget.show()">
						<p:graphicImage value="/large_icons/update.png" style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:commandLink title="#{language.Delete}" process="@this"
						rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].employeeP >= 5}"
						actionListener="#{employeeBean.cancelEmployeeSubmittion}"
						update="newEmployeePanelGridId newUserMessages deleteEmployeePanelId deleteEmployeeMessages"
						oncomplete="deleteEmployeeConfirmDialogWidget.show()">
						<p:graphicImage value="/large_icons/delete.png" style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>
			</p:panel>

			<!-- UPDATE EMPLOYEE SECTION -->
			<p:dialog closable="true" resizable="false" dynamic="true"
				header="#{language.Update}" maximizable="true"
				id="updateEmployeeDialogId" widgetVar="updateEmployeeDialogWidget">
				<p:panel style="min-width:600px" id="updateEmployeePanelId"
					header="#{employeeBean.currentEmployee.firstname} #{employeeBean.currentEmployee.lastname}"
					toggleable="false">
					<h:panelGrid border="0" columns="2" style="width:100%"
						id="newEmployeePanelGridId">
						<p:graphicImage id="employeeImageId" height="100"
							value="#{employeeBean.path}#{employeeBean.userPicturePath}.JPG">
						</p:graphicImage>

						<p:fileUpload auto="true" sizeLimit="50000"
							update="employeeImageId originalImageId growl"
							fileUploadListener="#{employeeBean.updateEmployeePicture}"
							mode="advanced" multiple="false"
							allowTypes="/(\.|\/)(gif|jpg|png|JPG|JPEG)$/">
						</p:fileUpload>

						<h:outputLabel value="#{language.Firstname} *: "></h:outputLabel>
						<p:inputText value="#{employeeBean.currentEmployee.firstname}"
							maxlength="20" required="true"
							requiredMessage="#{language.RequiredMessage}"></p:inputText>

						<h:outputLabel value="#{language.Lastname} *:"></h:outputLabel>
						<p:inputText value="#{employeeBean.currentEmployee.lastname}"
							maxlength="20" required="true"
							requiredMessage="#{language.RequiredMessage}"></p:inputText>

						<h:outputLabel value="#{language.DateOfBirth} (gg/aa/yyyy)*: "></h:outputLabel>
						<p:calendar mode="popup" showOn="button" autocomplete="false"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							converterMessage="#{language.DateConverterError}"
							value="#{employeeBean.currentEmployee.dateOfBirth}"></p:calendar>

						<h:outputText value="#{language.Department}: "></h:outputText>
						<p:selectOneMenu
							value="#{employeeBean.currentEmployee.department.departmentId}"
							style="width: 133px">
							<c:forEach step="1" items="#{employeeBean.departmentList}"
								var="department">
								<f:selectItem itemValue="#{department.departmentId}"
									itemLabel="#{department.name}" />
							</c:forEach>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.Gender} :"></h:outputLabel>
						<p:selectOneMenu layout="lineDirection" style="width: 133px"
							value="#{employeeBean.currentEmployee.gender}">
							<f:selectItem itemValue="true" itemLabel="#{language.Male}"></f:selectItem>
							<f:selectItem itemValue="false" itemLabel="#{language.Female}"></f:selectItem>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.Address} : "></h:outputLabel>
						<p:inputTextarea value="#{employeeBean.currentEmployee.address}"
							rows="5" maxLength="120" autoResize="false" cols="5"
							style="width:130px"></p:inputTextarea>

						<h:outputLabel value="#{language.Country} : "></h:outputLabel>
						<p:selectOneMenu layout="lineDirection" style="width: 140px"
							value="#{employeeBean.currentEmployee.ulkeler.id}"
							required="true" requiredMessage="#{language.RequiredMessage}">
							<c:forEach items="#{ulkelerBean.allUlkelerList}" var="ulke">
								<f:selectItem itemValue="#{ulke.id}"
									itemLabel="#{ulke.ulkeIsmi}"></f:selectItem>
							</c:forEach>
						</p:selectOneMenu>

						<h:outputLabel value="#{language.City} :"></h:outputLabel>
						<p:inputText value="#{employeeBean.currentEmployee.city}"
							maxlength="40"></p:inputText>

						<h:outputLabel value="#{language.PostalCode} : "></h:outputLabel>
						<p:inputText value="#{employeeBean.currentEmployee.postalCode}"
							maxlength="5"></p:inputText>

						<h:outputLabel value="#{language.StartDate} (gg/aa/yyyy)*: "></h:outputLabel>
						<p:calendar mode="popup" showOn="button" autocomplete="false"
							pattern="#{userCredentialsBean.dateFormat}" required="true"
							requiredMessage="#{language.RequiredMessage}"
							value="#{employeeBean.currentEmployee.startDate}"></p:calendar>

						<h:outputLabel value="#{language.EndDate} (gg/aa/yyyy):"></h:outputLabel>
						<p:calendar mode="popup" showOn="button" autocomplete="false"
							pattern="#{userCredentialsBean.dateFormat}"
							value="#{employeeBean.currentEmployee.endDate}"></p:calendar>

						<h:outputLabel value="#{language.PhoneNumber} : "></h:outputLabel>
						<p:inputText value="#{employeeBean.currentEmployee.phoneNumber}"
							maxlength="20"></p:inputText>

						<h:outputLabel value="#{language.Salary} : "></h:outputLabel>
						<p:inputText value="#{employeeBean.currentEmployee.salary}"
							converterMessage="#{language.nbLayersConverterError}"></p:inputText>

						<h:outputLabel value="#{language.Status} :"></h:outputLabel>
						<p:selectOneMenu layout="lineDirection" style="width: 133px"
							value="#{employeeBean.currentEmployee.active}">
							<f:selectItem itemValue="true" itemLabel="#{language.Active}"></f:selectItem>
							<f:selectItem itemValue="false" itemLabel="#{language.NonActive}"></f:selectItem>
						</p:selectOneMenu>
					</h:panelGrid>
					<h:panelGrid border="0" columns="3">
						<p:commandLink title="#{language.Update}"
							update="accorditionPanelId updateEmployeePanelId updateEmployeeMessages newEmployeePanelId"
							process="@this updateEmployeePanelId"
							actionListener="#{employeeBean.updateEmployee}">
							<p:graphicImage value="/large_icons/update.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>

						<p:commandLink title="#{language.Cancel}" immediate="true"
							actionListener="#{employeeBean.cancelEmployeeSubmittion}"
							onclick="updateEmployeeDialogWidget.hide()">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
					<p:messages id="updateEmployeeMessages"></p:messages>
				</p:panel>
			</p:dialog>

			<!-- DELETE EMPLOYEE SECTION -->
			<p:dialog id="deleteEmployeeConfirmDialogId" draggable="true"
				widgetVar="deleteEmployeeConfirmDialogWidget" closable="true"
				resizable="true" dynamic="true" header="#{language.Delete}"
				style="min-width:600px">
				<p:panel
					header="#{employeeBean.currentEmployee.firstname} #{employeeBean.currentEmployee.lastname}"
					closable="true" toggleable="true" id="deleteEmployeePanelId"
					widgetVar="deleteEmployeePanelWidget" visible="true">
					<h:panelGrid border="0" columns="2" style="width:100%">
						<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
					</h:panelGrid>
					<h:panelGrid border="0" columns="3">
						<p:commandLink title="#{language.ok}"
							update="accorditionPanelId newEmployeePanelId updateEmployeePanelGridId deleteEmployeeMessages"
							process="@this employeeListDataTableId"
							actionListener="#{employeeBean.deleteEmployee}">
							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>

						<p:commandLink title="#{language.Cancel}" immediate="true"
							onclick="deleteEmployeeConfirmDialogWidget.hide()">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
				</p:panel>
				<p:messages id="deleteEmployeeMessages"></p:messages>
			</p:dialog>
			<p:messages id="manageEmployeeMessages"></p:messages>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>