<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:tabView id="tabView">
				<p:tab id="tab1" title="ÜRÜN GİRİŞ ÇIKIŞ LİSTESİ">

					<h:panelGrid border="0" columns="1" style="text-align: center"
						id="hareketListesiPanelGridId">
						<f:facet name="header">
							<h:outputText value="ÜRÜN HAREKET LİSTESİ"></h:outputText>
						</f:facet>

						<h:panelGrid border="0" columns="6" cellspacing="5"
							id="hareketSorguPanelGridId">
							<h:outputText value="" style="font-weight: bold;"></h:outputText>
							<h:outputText value="" style="font-weight: bold;"></h:outputText>
							<!-- 						<h:outputText value="Evrak No" style="font-weight: bold;"></h:outputText> -->
							<!-- 						<p:inputText -->
							<!-- 							value="#{stokGirisCikisBean.stokGirisCikisForm.satinalmaAmbarMalzemeTalepForm.butceKodu}" -->
							<!-- 							style="font-weight: bold;" disabled="true"></p:inputText> -->
							<h:outputText value="İlk Tarih" style="font-weight: bold;"></h:outputText>
							<p:calendar mode="popup" showOn="button"
								value="#{stokGirisCikisBean.stokGirisCikisForm.sorguIlkTarih}"
								navigator="true" effect="slideDown" showButtonPanel="true">
							</p:calendar>
							<h:outputText value="Son Tarih" style="font-weight: bold;"></h:outputText>
							<p:calendar mode="popup" showOn="button"
								value="#{stokGirisCikisBean.stokGirisCikisForm.sorguSonTarih}"
								navigator="true" effect="slideDown" showButtonPanel="true">
							</p:calendar>

							<!-- 						<h:outputText value="Ürün Adı" style="font-weight: bold;"></h:outputText> -->
							<!-- 						<p:inputText -->
							<!-- 							value="#{stokGirisCikisBean.stokGirisCikisForm.stokUrunKartlari.urunAdi}" -->
							<!-- 							style="font-weight: bold;"></p:inputText> -->
							<!-- 						<h:outputText value="Ürün Kodu" style="font-weight: bold;"></h:outputText> -->
							<!-- 						<p:inputText -->
							<!-- 							value="#{stokGirisCikisBean.stokGirisCikisForm.stokUrunKartlari.urunKodu}" -->
							<!-- 							style="font-weight: bold;"></p:inputText> -->
							<!-- 						<h:outputText value="" style="font-weight: bold;"></h:outputText> -->
							<!-- 						<h:outputText value="" style="font-weight: bold;"></h:outputText> -->


							<h:outputText value="" style="font-weight: bold;"></h:outputText>
							<h:outputText value="" style="font-weight: bold;"></h:outputText>
							<!-- 						<h:outputText value="Giriş / Çıkış" style="font-weight: bold;"></h:outputText> -->
							<!-- 						<p:selectOneMenu -->
							<!-- 							value="#{stokGirisCikisBean.stokGirisCikisForm.islemDurumu}"> -->
							<!-- 							<f:selectItem itemValue="null" itemLabel="Hepsi"></f:selectItem> -->
							<!-- 							<f:selectItem itemValue="1" itemLabel="Giriş İşlemi"></f:selectItem> -->
							<!-- 							<f:selectItem itemValue="0" itemLabel="Çıkış İşlemi"></f:selectItem> -->
							<!-- 						</p:selectOneMenu> -->

							<!-- 						<h:outputText value="Sarf Yeri" style="font-weight: bold;"></h:outputText> -->
							<!-- 						<p:selectOneMenu -->
							<!-- 							value="#{stokGirisCikisBean.stokGirisCikisForm.stokTanimlarSarfYeri.id}" -->
							<!-- 							style="width: 110px"> -->
							<!-- 							<f:selectItems var="sarfYeriType" itemValue="#{sarfYeriType.id}" -->
							<!-- 								itemLabel="#{sarfYeriType.sarfYeri}" -->
							<!-- 								value="#{stokTanimlarSarfYeriBean.allStokTanimlarSarfYeriList}" /> -->
							<!-- 						</p:selectOneMenu> -->
							<h:outputText value="" style="font-weight: bold;"></h:outputText>
							<h:outputText value="" style="font-weight: bold;"></h:outputText>
							<!-- 						<h:outputText value="Depo" style="font-weight: bold;"></h:outputText> -->
							<!-- 						<p:selectOneMenu -->
							<!-- 							value="#{stokGirisCikisBean.stokGirisCikisForm.stokTanimlarDepoTanimlari.id}" -->
							<!-- 							style="width: 110px"> -->
							<!-- 							<f:selectItems var="depoType" itemValue="#{depoType.id}" -->
							<!-- 								itemLabel="#{depoType.depoAdi}" -->
							<!-- 								value="#{stokTanimlarDepoTanimlariBean.allStokTanimlarDepoTanimlariList}" /> -->
							<!-- 						</p:selectOneMenu> -->
							<p:commandButton value="SORGULA / LİSTELE"
								update="hareketSorguPanelGridId hareketListesiListDataTableId"
								process="@this hareketSorguPanelGridId"
								actionListener="#{stokGirisCikisBean.stokRaporListeleriDoldur}"
								icon="ui-icon-circle-plus">
								<f:param id="raporTypeHareket" value="2"></f:param>
							</p:commandButton>
							<h:outputText value="" style="font-weight: bold;"></h:outputText>
							<h:outputText value="" style="font-weight: bold;"></h:outputText>
							<h:outputText value="" style="font-weight: bold;"></h:outputText>
							<h:outputText value="" style="font-weight: bold;"></h:outputText>
							<h:outputText value="" style="font-weight: bold;"></h:outputText>
							<!-- 						<h:outputText value="Sarf Yeri" style="font-weight: bold;"></h:outputText> -->
							<!-- 						<p:selectOneMenu -->
							<!-- 							value="#{stokGirisCikisBean.stokGirisCikisForm.stokTanimlarSarfYeri.id}" -->
							<!-- 							style="width: 110px"> -->
							<!-- 							<f:selectItems var="sarfYeriType" itemValue="#{sarfYeriType.id}" -->
							<!-- 								itemLabel="#{sarfYeriType.sarfYeri}" -->
							<!-- 								value="#{stokTanimlarSarfYeriBean.allStokTanimlarSarfYeriList}" /> -->
							<!-- 						</p:selectOneMenu> -->

							<!-- 						<h:outputText value="Ürün Grubu" style="font-weight: bold;"></h:outputText> -->
							<!-- 						<p:selectOneMenu -->
							<!-- 							value="#{stokGirisCikisBean.stokGirisCikisForm.stokUrunKartlari.stokTanimlarUrunGrubu.urunGrubu}" -->
							<!-- 							style="width: 110px"> -->
							<!-- 							<f:selectItems var="grupType" itemValue="#{grupType.id}" -->
							<!-- 								itemLabel="#{grupType.urunGrubu}" -->
							<!-- 								value="#{stokTanimlarUrunGrubuBean.allStokTanimlarUrunGrubuList}" /> -->
							<!-- 						</p:selectOneMenu> -->

							<p:commandButton value="TEMİZLE / SIFIRLA"
								update="accordionPanelId growl hareketSorguPanelGridId hareketListesiListDataTableId"
								process="@this hareketSorguPanelGridId"
								actionListener="#{stokGirisCikisBean.fillTestList}"
								icon="ui-icon-circle-plus">
							</p:commandButton>

						</h:panelGrid>

						<p:dataTable var="stokListesi" id="hareketListesiListDataTableId"
							value="#{stokGirisCikisBean.stokGirisCikisListesi}"
							paginator="true" rows="6" rowKey="#{stokListesi.id}"
							style="width:100%"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

							<p:ajax event="rowSelect"
								listener="#{stokUrunKartlariBean.formListener}"
								process="listForm:hareketListesiListDataTableId hareketListesiListDataTableId"
								update="updateStokListesiButton" />
							<p:ajax event="rowSelect"
								update="hareketListesiListDataTableId hareketListesiPanelGridId girisCikisListesiInceleDialogId">
							</p:ajax>

							<f:facet name="header">
								<h:commandLink title="#{language.salesExcelExport}"
									immediate="true" value="Tüm Veriyi Excel'e Aktar">
									<p:dataExporter type="xls"
										target="hareketListesiListDataTableId"
										fileName="hareketListesi" />
								</h:commandLink>
						/
						<h:commandLink title="#{language.salesExcelExport}"
									immediate="true" value="Sayfadaki Verileri Excel'e Aktar">
									<p:dataExporter type="xls"
										target="hareketListesiListDataTableId"
										fileName="hareketListesi" pageOnly="true" />
								</h:commandLink>
							</f:facet>

							<p:column
								sortBy="#{stokListesi.satinalmaAmbarMalzemeTalepForm.formSayisi}"
								filterBy="#{stokListesi.satinalmaAmbarMalzemeTalepForm.formSayisi}"
								filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Evrak No" />
								</f:facet>
								<h:outputText
									value="#{stokListesi.satinalmaAmbarMalzemeTalepForm.formSayisi}">
								</h:outputText>
							</p:column>

							<!-- 						<p:column> -->
							<!-- 							<f:facet name="header"> -->
							<!-- 								<h:outputText value="Proje Kodu" /> -->
							<!-- 							</f:facet> -->
							<!-- 							<h:outputText -->
							<!-- 								value="#{stokListesi.salesItem.proposal.proposalNumber} - #{stokListesi.salesItem.itemNo} / #{stokListesi.salesItem.proposal.customer.shortName}"> -->
							<!-- 							</h:outputText> -->
							<!-- 						</p:column> -->

							<p:column>
								<f:facet name="header">
									<h:outputText value="Tarih - Saat" />
								</f:facet>
								<h:outputText value="#{stokListesi.eklemeZamani}">
									<f:convertDateTime pattern="dd/MM/yyyy - HH:mm:ss"
										timeZone="Europe/Istanbul" />
								</h:outputText>
							</p:column>

							<!-- 						<p:column sortBy="#{stokListesi.eklemeZamani}" -->
							<!-- 							filterBy="#{stokListesi.eklemeZamani}" filterMatchMode="contains"> -->
							<!-- 							<f:facet name="header"> -->
							<!-- 								<h:outputText value="Saat" /> -->
							<!-- 							</f:facet> -->
							<!-- 							<h:outputText value="#{stokListesi.eklemeZamani}"> -->
							<!-- 								<f:convertDateTime pattern="HH:mm:ss" timeZone="Europe/Istanbul" /> -->
							<!-- 							</h:outputText> -->
							<!-- 						</p:column> -->

							<p:column sortBy="#{stokListesi.irsaliyeNo}"
								filterBy="#{stokListesi.irsaliyeNo}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="İrsaliye Numarası" />
								</f:facet>
								<h:outputText value="#{stokListesi.irsaliyeNo}"></h:outputText>
							</p:column>

							<p:column sortBy="#{stokListesi.stokUrunKartlari.urunKodu}"
								filterBy="#{stokListesi.stokUrunKartlari.urunKodu}"
								filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Ürün Kodu" />
								</f:facet>
								<h:outputText value="#{stokListesi.stokUrunKartlari.urunKodu}"></h:outputText>
							</p:column>

							<p:column sortBy="#{stokListesi.stokUrunKartlari.urunAdi}"
								filterBy="#{stokListesi.stokUrunKartlari.urunAdi}"
								filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Ürün Adı" />
								</f:facet>
								<h:outputText value="#{stokListesi.stokUrunKartlari.urunAdi}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="Miktar (Birim)" />
								</f:facet>
								<h:outputText
									value="#{stokListesi.miktar} #{stokListesi.stokTanimlarBirim.birim}"></h:outputText>
							</p:column>

							<!-- 						<p:column sortBy="#{stokListesi.stokTanimlarBirim.birim}" -->
							<!-- 							filterBy="#{stokListesi.stokTanimlarBirim.birim}" -->
							<!-- 							filterMatchMode="contains"> -->
							<!-- 							<f:facet name="header"> -->
							<!-- 								<h:outputText value="Birim" /> -->
							<!-- 							</f:facet> -->
							<!-- 							<h:outputText value="#{stokListesi.stokTanimlarBirim.birim}"></h:outputText> -->
							<!-- 						</p:column> -->

							<!-- 						<p:column> -->
							<!-- 							<f:facet name="header"> -->
							<!-- 								<h:outputText value="Depo" /> -->
							<!-- 							</f:facet> -->
							<!-- 							<h:outputText -->
							<!-- 								value="#{stokListesi.stokTanimlarDepoTanimlari.depoAdi}"></h:outputText> -->
							<!-- 						</p:column> -->

							<p:column
								sortBy="#{stokListesi.satinalmaSarfMerkezi.description}"
								filterBy="#{stokListesi.satinalmaSarfMerkezi.description}"
								filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Sarf Yeri" />
								</f:facet>
								<h:outputText
									value="#{stokListesi.satinalmaSarfMerkezi.description}"></h:outputText>
							</p:column>

							<!-- 						<p:column> -->
							<!-- 							<f:facet name="header"> -->
							<!-- 								<h:outputText value="Barkod Kodu" /> -->
							<!-- 							</f:facet> -->
							<!-- 							<h:outputText value="#{stokListesi.stokUrunKartlari.barkodKodu}"></h:outputText> -->
							<!-- 						</p:column> -->

							<p:column
								sortBy="#{stokListesi.stokUrunKartlari.stokTanimlarRaf.raf}"
								filterBy="#{stokListesi.stokUrunKartlari.stokTanimlarRaf.raf}"
								filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Raf" />
								</f:facet>
								<h:outputText
									value="#{stokListesi.stokUrunKartlari.stokTanimlarRaf.raf}"></h:outputText>
							</p:column>

							<p:column sortBy="#{stokListesi.stokUrunKartlari.gozNo}"
								filterBy="#{stokListesi.stokUrunKartlari.gozNo}"
								filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Göz" />
								</f:facet>
								<h:outputText value="#{stokListesi.stokUrunKartlari.gozNo}"></h:outputText>
							</p:column>

							<p:column sortBy="#{stokListesi.teslimEdenKullanici.lastname}"
								filterBy="#{stokListesi.teslimEdenKullanici.lastname}"
								filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Teslim Eden" />
								</f:facet>
								<h:outputText
									value="#{stokListesi.teslimEdenKullanici.firstname} #{stokListesi.teslimEdenKullanici.lastname}"></h:outputText>
							</p:column>

							<p:column sortBy="#{stokListesi.teslimAlanKullanici.lastname}"
								filterBy="#{stokListesi.teslimAlanKullanici.lastname}"
								filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Teslim Alan" />
								</f:facet>
								<h:outputText
									value="#{stokListesi.teslimAlanKullanici.firstname} #{stokListesi.teslimAlanKullanici.lastname}"></h:outputText>
							</p:column>

							<p:column sortBy="#{stokListesi.islemDurumu}"
								filterBy="#{stokListesi.islemDurumu}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputText value="Giriş/Çıkış" />
								</f:facet>
								<h:outputText value="Giriş"
									rendered="#{stokListesi.islemDurumu == 1}"></h:outputText>
								<h:outputText value="Çıkış"
									rendered="#{stokListesi.islemDurumu == 0}"></h:outputText>
								<h:outputText value="İade"
									rendered="#{stokListesi.islemDurumu == 2}"></h:outputText>
								<h:outputText value="Satış"
									rendered="#{stokListesi.islemDurumu == 3}"></h:outputText>
								<h:outputText value="Ödünç"
									rendered="#{stokListesi.islemDurumu == 4}"></h:outputText>
							</p:column>

						</p:dataTable>
					</h:panelGrid>
					<!-- Hareket Listesi -->
				</p:tab>
			</p:tabView>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>