<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:growl id="growl"></p:growl>
			<p:accordionPanel autoHeight="false" style="padding:0px; width:100%"
				id="accordionPanelId">
				<p:tab title="STOK ÜRÜN LİSTESİ" id="tabId">
					<p:dataTable var="stokListesi" id="girisListDataTableId"
						value="#{stokUrunKartlariBean.allStokUrunKartlariBarkodluList}"
						paginator="true" rows="7"
						selection="#{stokGirisCikisBean.stokGirisCikisForm.stokJoinUreticiKoduBarkod}"
						rowKey="#{stokListesi.joinId}" selectionMode="single"
						style="width:100%"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{stokUrunKartlariBean.formListener}"
							process="listForm:girisListDataTableId girisListDataTableId"
							update="girisListDataTableId durumPanelGridId accordionPanelId" />

						<p:column
							sortBy="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.urunKodu}"
							filterBy="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.urunKodu}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="ÜRÜN KODU" />
							</f:facet>
							<h:outputText
								value="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.urunKodu}"></h:outputText>
						</p:column>

						<p:column
							sortBy="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.urunAdi}"
							filterBy="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.urunAdi}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="ÜRÜN ADI" />
							</f:facet>
							<h:outputText
								value="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.urunAdi}"></h:outputText>
						</p:column>

						<p:column
							sortBy="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.stokTanimlarUrunGrubu.urunGrubu}"
							filterBy="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.stokTanimlarUrunGrubu.urunGrubu}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="GRUP ADI" />
							</f:facet>
							<h:outputText
								value="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.stokTanimlarUrunGrubu.urunGrubu}"></h:outputText>
						</p:column>

						<p:column sortBy="#{stokListesi.stokTanimlarMarka.markaAdi}"
							filterBy="#{stokListesi.stokTanimlarMarka.markaAdi}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="MARKASI" />
							</f:facet>
							<h:outputText value="#{stokListesi.stokTanimlarMarka.markaAdi}"></h:outputText>
						</p:column>

						<p:column
							sortBy="#{stokListesi.stokJoinMarkaUreticiKodu.ureticiKodu}"
							filterBy="#{stokListesi.stokJoinMarkaUreticiKodu.ureticiKodu}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="ÜRETICI KODU" />
							</f:facet>
							<h:outputText
								value="#{stokListesi.stokJoinMarkaUreticiKodu.ureticiKodu}"></h:outputText>
						</p:column>

						<p:column sortBy="#{stokListesi.barkod}"
							filterBy="#{stokListesi.barkod}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="ÜRETICI BARKODU" />
							</f:facet>
							<h:outputText value="#{stokListesi.barkod}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<!-- 								<h:outputText value="Birim" /> -->
							</f:facet>
							<h:outputText
								value="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.stokTanimlarBirim.birim}"></h:outputText>
						</p:column>

						<p:column
							sortBy="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.adaNo}"
							filterBy="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.adaNo}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="ADA" />
							</f:facet>
							<h:outputText
								value="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.adaNo}"></h:outputText>
						</p:column>

						<p:column
							sortBy="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.stokTanimlarRaf.raf}"
							filterBy="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.stokTanimlarRaf.raf}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="RAF" />
							</f:facet>
							<h:outputText
								value="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.stokTanimlarRaf.raf}"></h:outputText>
						</p:column>

						<p:column
							sortBy="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.gozNo}"
							filterBy="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.gozNo}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="GÖZ" />
							</f:facet>
							<h:outputText
								value="#{stokListesi.stokJoinMarkaUreticiKodu.stokUrunKartlari.gozNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="durumPanelGridId">
						<p:commandButton value="DEPO DURUM"
							update="stokListesiListDataTableId accordionPanelId stokListesiPanelGridId tabId depoDurumGirisCikisPanelGridId"
							process="@this girisEkleDialogId girisPanelGridId"
							actionListener="#{stokGirisCikisBean.depoDurum}"
							icon="ui-icon-circle-plus"
							onclick="depoDurumGirisCikisDialogWidget.show()"
							disabled="#{!stokUrunKartlariBean.updateButtonRender}">
						</p:commandButton>

						<p:commandButton value="#{language.LISTEYIYENILE}"
							process="@this girisListDataTableId"
							update="@this girisListDataTableId girisEkleDialogId accordionPanelId"
							action="#{stokUrunKartlariBean.fillTestList}">
						</p:commandButton>

					</h:panelGrid>
				</p:tab>
			</p:accordionPanel>

			<!-- Depo Durum Giriş Çıkış -->

			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="Depo Durum"
				id="depoGirisCİkisDurumDialogId"
				widgetVar="depoDurumGirisCikisDialogWidget">
				<h:panelGrid border="0" columns="3" style="text-align: center"
					id="depoDurumGirisCikisPanelGridId">
					<f:facet name="header">
						<h:outputText
							value="Depo Stok Durumu - #{stokGirisCikisBean.stokGirisCikisForm.stokJoinUreticiKoduBarkod.stokJoinMarkaUreticiKodu.stokUrunKartlari.urunKodu} - #{stokGirisCikisBean.stokGirisCikisForm.stokJoinUreticiKoduBarkod.stokJoinMarkaUreticiKodu.stokUrunKartlari.urunAdi}"></h:outputText>
					</f:facet>

					<h:outputText value="Giriş: " style="font-weight: bold;" />
					<h:outputText value="#{stokGirisCikisBean.giris}"
						style="font-weight: bold;" />
					<h:outputText
						value="#{stokGirisCikisBean.stokGirisCikisForm.stokTanimlarBirim.birim}"
						style="font-weight: bold;" />

					<h:outputText value="Çıkış: " style="font-weight: bold;" />
					<h:outputText value="#{stokGirisCikisBean.cikis}"
						style="font-weight: bold;" />
					<h:outputText
						value="#{stokGirisCikisBean.stokGirisCikisForm.stokTanimlarBirim.birim}"
						style="font-weight: bold;" />

					<h:outputText value="Toplam Stok: " style="font-weight: bold;" />
					<h:outputText value="#{stokGirisCikisBean.toplam}"
						style="font-weight: bold;" />
					<h:outputText
						value="#{stokGirisCikisBean.stokGirisCikisForm.stokTanimlarBirim.birim}"
						style="font-weight: bold;" />

					<h:outputText value="Min. Stok Seviyesi: "
						style="color: red; font-weight: bold;" />
					<h:outputText
						value="#{stokGirisCikisBean.stokGirisCikisForm.stokUrunKartlari.minStok}"
						style="color: red; font-weight: bold;" />
					<h:outputText
						value="#{stokGirisCikisBean.stokGirisCikisForm.stokTanimlarBirim.birim}"
						style="color: red; font-weight: bold;" />

					<h:outputText value="Max. Stok Seviyesi: "
						style="color: red; font-weight: bold;" />
					<h:outputText
						value="#{stokGirisCikisBean.stokGirisCikisForm.stokUrunKartlari.maxStok}"
						style="color: red; font-weight: bold;" />
					<h:outputText
						value="#{stokGirisCikisBean.stokGirisCikisForm.stokTanimlarBirim.birim}"
						style="color: red; font-weight: bold;" />
				</h:panelGrid>
			</p:dialog>
			<!-- Depo Durum Giriş Çıkış -->

		</ui:define>
	</ui:composition>
</h:body>
</html>