<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel id="dustAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="dustAccorditionPanelWidget">
				<p:tab id="availableDustTab"
					title="#{language.Recent} #{language.Dust}">
					<p:dataTable var="availableDust" id="availableDustListDataTableId"
						emptyMessage="#{language.EmptyMessage}" dblClickSelect="false"
						rowKey="#{availableDust.electrodeDustWireId}"
						widgetVar="availableDustListDataTableWidget"
						value="#{dustListBean.recentDusts}" paginator="true" rows="20"
						selection="#{dustBean.selectedDust}" selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect" update="allPanelGridId"></p:ajax>

						<p:column sortBy="#{availableDust.tradeName}"
							filterBy="#{availableDust.tradeName}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Markası"></h:outputText>
							</f:facet>
							<h:outputText value="#{availableDust.tradeName}"></h:outputText>
						</p:column>

						<p:column sortBy="#{availableDust.partNumber}"
							filterBy="#{availableDust.partNumber}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.PartNumber}"></h:outputText>
							</f:facet>
							<h:outputText value="#{availableDust.partNumber}"></h:outputText>
						</p:column>

						<p:column sortBy="#{availableDust.kalite}"
							filterBy="#{availableDust.kalite}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.Quality}"></h:outputText>
							</f:facet>
							<h:outputText value="#{availableDust.kalite}"></h:outputText>
						</p:column>

						<p:column sortBy="#{availableDust.entranceDate}"
							filterBy="#{availableDust.entranceDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.Date}"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" autocomplete="false" disabled="true"
								pattern="#{userCredentialsBean.dateFormat}"
								value="#{availableDust.entranceDate}"></p:calendar>
						</p:column>

						<p:column sortBy="#{availableDust.irsaliyeNumber}"
							filterBy="#{availableDust.irsaliyeNumber}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.IrsaliyeNumarasi}"></h:outputText>
							</f:facet>
							<h:outputText value="#{availableDust.irsaliyeNumber}"></h:outputText>
						</p:column>


						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.RemainingAmount}"></h:outputText>
							</f:facet>
							<h:outputText value="#{availableDust.remainingAmount}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Status}"></h:outputText>
							</f:facet>
							<p:selectOneMenu value="#{availableDust.statusId}"
								disabled="true" style="width: 140px">
								<f:selectItems var="status" itemValue="#{status.id}"
									itemLabel="#{status.displayName}"
									value="#{dustListBean.config.config.materials.statuses}"></f:selectItems>
							</p:selectOneMenu>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="#{language.Add}" process="@this"
								onclick="addDustPanelWidged.show()"
								rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].manufacturingMaterialP >= 3}"
								update="addDustPanelGridId companyListDataTableId addDustPanelGridLinkId">
							</p:commandButton>
						</f:facet>
					</p:dataTable>
				</p:tab>

				<p:tab id="currentYearDustListTab"
					title="#{language.CurrentYear} #{language.Dust}">
					<p:dataTable var="currentYearDust" id="currentYearDustDataTableId"
						widgetVar="currentYearDustListDataTableWidget"
						rowKey="#{currentYearDust.electrodeDustWireId}"
						emptyMessage="#{language.EmptyMessage}" dblClickSelect="false"
						value="#{dustListBean.dusts}" paginator="true" rows="20"
						selection="#{dustBean.selectedDust}" selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect" update="allPanelGridId"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.PartNumber}"></h:outputText>
							</f:facet>
							<h:outputText value="#{currentYearDust.partNumber}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Date}"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" autocomplete="false" disabled="true"
								pattern="#{userCredentialsBean.dateFormat}"
								value="#{currentYearDust.entranceDate}"></p:calendar>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.RemainingAmount}"></h:outputText>
							</f:facet>
							<h:outputText value="#{currentYearDust.remainingAmount}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Quality}"></h:outputText>
							</f:facet>
							<h:outputText value="#{currentYearDust.kalite}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Status}"></h:outputText>
							</f:facet>
							<p:selectOneMenu value="#{currentYearDust.statusId}"
								disabled="true" style="width: 140px">
								<f:selectItems var="status" itemValue="#{status.id}"
									itemLabel="#{status.displayName}"
									value="#{dustListBean.config.config.materials.statuses}"></f:selectItems>
							</p:selectOneMenu>
						</p:column>

						<f:facet name="header">
							<p:selectOneMenu style="width: 140px" immediate="true"
								value="#{dustListBean.currentYear}">
								<c:forEach step="1" items="#{dustListBean.dustYearList}"
									var="dustYear">
									<f:selectItem itemValue="#{dustYear}"
										itemLabel="#{language.Year}: #{dustYear}">
									</f:selectItem>
								</c:forEach>
								<p:ajax listener="#{dustListBean.loadSelectedYearDusts}"
									event="change" update="currentYearDustDataTableId">
								</p:ajax>
							</p:selectOneMenu>
						</f:facet>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
		</ui:define>

		<!-- DUST INFORMATION SECTION -->
		<ui:define name="showPanel">
			<!-- TOOLBAR SECTION -->
			<h:panelGrid border="0" id="allPanelGridId" style="width: 100%">
				<p:toolbar id="wireToolbarId"
					rendered="#{dustBean.selectedDust.electrodeDustWireId > 0}">
					<p:toolbarGroup align="right">
						<p:commandButton value="#{language.History}" process="@this"
							update="pipeListDataTableId" onclick="historyDialogWidget.show()"
							actionListener="#{dustBean.loadHistory}" />
					</p:toolbarGroup>
				</p:toolbar>

				<p:panel header="#{language.Dust}" id="dustPanelId">
					<h:panelGrid columns="4" style="width:100%" cellspacing="5">
						<h:outputText value="#{language.TradeName}: "></h:outputText>
						<h:outputText value="#{dustBean.selectedDust.tradeName}"></h:outputText>

						<h:outputText value="#{language.InitialAmount} (kg): "></h:outputText>
						<h:outputText value="#{dustBean.selectedDust.miktari}"></h:outputText>

						<h:outputText value="#{language.PartNumber}: "></h:outputText>
						<!-- 						<h:outputText value="#{dustBean.selectedDust.partNumber}"></h:outputText> -->
						<p:inputTextarea value="#{dustBean.selectedDust.partNumber}"
							readonly="true" autoResize="false" maxHeight="5"
							style="width:125px" rows="5">
						</p:inputTextarea>

						<h:outputText value="#{language.Type}: "></h:outputText>
						<h:outputText value="#{dustBean.selectedDust.cinsi}"></h:outputText>

						<h:outputText value="#{language.RemainingAmount} (kg): "></h:outputText>
						<h:outputText value="#{dustBean.selectedDust.remainingAmount}"></h:outputText>

						<h:outputText value="#{language.Quality}: "></h:outputText>
						<h:outputText value="#{dustBean.selectedDust.kalite}"></h:outputText>

						<h:outputText value="#{language.FaturaNumber}: "></h:outputText>
						<h:outputText value="#{dustBean.selectedDust.faturaNumber}"></h:outputText>

						<h:outputText value="#{language.BillNumber}: "></h:outputText>
						<h:outputText value="#{dustBean.selectedDust.irsaliyeNumber}"></h:outputText>

						<h:outputText value="#{language.Date} (gg/aa/yyyy): "></h:outputText>
						<p:calendar mode="popup" autocomplete="false" disabled="true"
							pattern="#{userCredentialsBean.dateFormat} HH:mm"
							value="#{dustBean.selectedDust.entranceDate}"></p:calendar>

						<h:outputText value="#{language.Location}: "></h:outputText>
						<h:outputText value="#{dustBean.selectedDust.location}"></h:outputText>

						<h:outputText value="#{language.Note}: "></h:outputText>
						<p:inputTextarea value="#{dustBean.selectedDust.note}"
							readonly="true" autoResize="false" maxHeight="5"
							style="width:125px" rows="5">
						</p:inputTextarea>
					</h:panelGrid>

					<!-- COMMAND LINK SECTION -->
					<h:panelGrid border="0" columns="9" cellspacing="5">
						<p:commandLink title="#{language.Edit}"
							oncomplete="editDustDialogWidget.show()" process="@this"
							update="editDustPanelId"
							disabled="#{dustBean.selectedDust.electrodeDustWireId == 0}"
							rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].manufacturingMaterialP >= 4}">
							<p:graphicImage value="/large_icons/edit.png" style="border:0px"></p:graphicImage>
						</p:commandLink>

						<p:commandLink title="#{language.Delete}"
							disabled="#{dustBean.selectedDust.electrodeDustWireId == 0}"
							rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].manufacturingMaterialP >= 5}"
							oncomplete="deleteDustDialogWidget.show()" process="@this">
							<p:graphicImage value="/large_icons/delete.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
				</p:panel>

				<!-- ADD DUST SECTION -->
				<p:panel header="#{language.Dust}" id="addDustPanelId"
					toggleable="true" widgetVar="addDustPanelWidged" closable="true"
					visible="false">
					<h:panelGrid border="0" columns="4" style="width:100%"
						id="addDustPanelGridId">
						<h:outputText value="#{language.Amount} (kg) *: "></h:outputText>
						<p:inputText value="#{dustBean.newDust.miktari}" maxlength="15"
							required="true" requiredMessage="#{language.RequiredMessage}"
							validatorMessage="#{language.nbLayersConverterError}">
						</p:inputText>

						<h:outputText value="#{language.TradeName} : "></h:outputText>
						<p:inputText value="#{dustBean.newDust.tradeName}" maxlength="64">
						</p:inputText>

						<h:outputText value="#{language.PartNumber} *: "></h:outputText>
						<p:inputTextarea value="#{dustBean.newDust.partNumber}"
							autoResize="false" maxHeight="5"
							requiredMessage="#{language.RequiredMessage}" style="width:125px"
							rows="5">
						</p:inputTextarea>

						<h:outputText value="#{language.FaturaNumber} : "></h:outputText>
						<p:inputText value="#{dustBean.newDust.faturaNumber}"
							maxlength="64">
						</p:inputText>

						<h:outputText value="#{language.BillNumber} *: "></h:outputText>
						<p:inputText value="#{dustBean.newDust.irsaliyeNumber}"
							requiredMessage="#{language.RequiredMessage}" maxlength="64">
						</p:inputText>

						<h:outputText value="#{language.Type} : "></h:outputText>
						<p:inputText value="#{dustBean.newDust.cinsi}" maxlength="20">
						</p:inputText>

						<h:outputText value="#{language.Quality} *: "></h:outputText>
						<p:inputText value="#{dustBean.newDust.kalite}"
							requiredMessage="#{language.RequiredMessage}" maxlength="20">
						</p:inputText>

						<h:outputText value="#{language.Location}: "></h:outputText>
						<p:inputText value="#{dustBean.newDust.location}" maxlength="128">
						</p:inputText>

						<h:outputText value="#{language.Date} (gg/aa/yyyy): "></h:outputText>
						<p:calendar mode="popup" autocomplete="false" required="true"
							requiredMessage="#{language.RequiredMessage}"
							pattern="#{userCredentialsBean.dateFormat} HH:mm" showOn="button"
							value="#{dustBean.newDust.entranceDate}"></p:calendar>

						<h:outputText value="#{language.Note}: "></h:outputText>
						<p:inputTextarea value="#{dustBean.newDust.note}" rows="5"
							style="width:125" autoResize="false" maxHeight="5"
							maxLength="164">
						</p:inputTextarea>
					</h:panelGrid>

					<p:dataTable var="customer" id="companyListDataTableId"
						emptyMessage="#{language.EmptyMessage}"
						widgetVar="companyListDataTableId"
						rowKey="#{customer.salesCustomerId}"
						value="#{customerListBean.salesCustomers}" paginator="true"
						rows="10" selection="#{dustBean.selectedSalesCustomer}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">
						<p:ajax event="rowSelect" update="addDustPanelGridLinkId"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Customer} #{language.Id}"></h:outputText>
							</f:facet>
							<h:outputText value="#{customer.salesCustomerId}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{customer.commercialName}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.BusinessId}"></h:outputText>
							</f:facet>
							<h:outputText value="#{customer.classification.name}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.City}"></h:outputText>
							</f:facet>
							<h:outputText value="#{customer.city}"></h:outputText>
						</p:column>
					</p:dataTable>

					<!-- COMMAND LINK SECTION -->
					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="addDustPanelGridLinkId">
						<p:commandLink title="#{language.Add}"
							rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].manufacturingMaterialP >= 3}"
							update="mainDustMessages dustAccordionPanelId"
							process="@this addDustPanelId"
							oncomplete="addDustPanelWidged.close()"
							actionListener="#{dustBean.addDust}"
							disabled="#{dustBean.selectedSalesCustomer.salesCustomerId == 0}">
							<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
						</p:commandLink>

						<p:commandLink process="@this" title="#{language.Cancel}"
							immediate="true" onclick="addDustPanelWidget.close()">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
				</p:panel>

				<!-- HISTORY SECTION -->
				<p:dialog draggable="true" closable="true" dynamic="true"
					maximizable="true" resizable="true" header="#{language.History}"
					id="historyDialogId" widgetVar="historyDialogWidget">
					<p:panel id="dustHistoryPanelId" style="min-width:600px"
						header="#{language.Dust}: #{dustBean.selectedDust.electrodeDustWireId}">
						<p:dataTable var="pipe" id="pipeListDataTableId"
							widgetVar="pipeListDataTableWidget" rowKey="#{pipe.pipeId}"
							emptyMessage="#{language.EmptyMessage}"
							value="#{dustBean.pipeList}" paginator="true" rows="20"
							selectionMode="single"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Index}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.pipeIndex}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Status}"></h:outputText>
								</f:facet>
								<p:selectOneMenu value="#{pipe.status}" disabled="true"
									style="width: 140px">
									<f:selectItem itemValue="1" itemLabel="#{language.Finished}" />
									<f:selectItem itemValue="2" itemLabel="#{language.Free}" />
									<f:selectItem itemValue="3" itemLabel="#{language.OnRepair}" />

									<f:selectItem itemValue="10"
										itemLabel="#{language.OnSpiralMachine}" />
									<f:selectItem itemValue="11"
										itemLabel="#{language.OnHydrostaticMachine}" />
									<f:selectItem itemValue="12"
										itemLabel="#{language.OnBevellingMachine}" />
									<f:selectItem itemValue="13"
										itemLabel="#{language.OnEndPreparationMachine}" />

									<f:selectItem itemValue="101"
										itemLabel="#{language.OnPolietilenMachine}" />
									<f:selectItem itemValue="102"
										itemLabel="#{language.OnPolipropilenMachine}" />
									<f:selectItem itemValue="103"
										itemLabel="#{language.OnEpoxyBoyaMachine}" />
									<f:selectItem itemValue="104"
										itemLabel="#{language.OnBlastingMachine}" />
									<f:selectItem itemValue="105"
										itemLabel="#{language.OnCementMachine}" />
								</p:selectOneMenu>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Diameter}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.disCap}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Weight}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.agirligi}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Length}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.boy}"></h:outputText>
							</p:column>
						</p:dataTable>
						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandLink process="@this" title="#{language.Cancel}"
								immediate="true" onclick="historyDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
					</p:panel>
				</p:dialog>

				<!-- UPDATE DUST SECTION -->
				<p:dialog draggable="true" closable="true" resizable="false"
					dynamic="true" maximizable="true" header="#{language.Edit}"
					id="editDustDialogId" widgetVar="editDustDialogWidget">
					<p:panel style="min-width:600px" id="editDustPanelId"
						header="#{language.Dust}: #{dustBean.selectedDust.electrodeDustWireId}">
						<h:panelGrid border="0" columns="4" style="width:100%">
							<h:outputText value="#{language.TradeName}: "></h:outputText>
							<p:inputText maxlength="64"
								value="#{dustBean.selectedDust.tradeName}"></p:inputText>

							<h:outputText value="#{language.RemainingAmount} (kg) *: "></h:outputText>
							<p:inputText readonly="true"
								value="#{dustBean.selectedDust.remainingAmount}"></p:inputText>

							<h:outputText value="#{language.Amount} (kg) *: "></h:outputText>
							<p:inputText value="#{dustBean.selectedDust.miktari}"
								maxlength="15" required="true"
								requiredMessage="#{language.RequiredMessage}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="#{language.PartNumber} *: "></h:outputText>
							<p:inputTextarea value="#{dustBean.selectedDust.partNumber}"
								autoResize="false" maxHeight="5"
								requiredMessage="#{language.RequiredMessage}"
								style="width:125px" rows="5">
							</p:inputTextarea>

							<h:outputText value="#{language.Type} : "></h:outputText>
							<p:inputText value="#{dustBean.selectedDust.cinsi}"
								maxlength="20">
							</p:inputText>

							<h:outputText value="#{language.Quality} *: "></h:outputText>
							<p:inputText value="#{dustBean.selectedDust.kalite}"
								required="true" requiredMessage="#{language.RequiredMessage}"
								maxlength="20">
							</p:inputText>

							<h:outputText value="#{language.FaturaNumber} : "></h:outputText>
							<p:inputText value="#{dustBean.selectedDust.faturaNumber}"
								maxlength="64">
							</p:inputText>

							<h:outputText value="#{language.BillNumber} *: "></h:outputText>
							<p:inputText value="#{dustBean.selectedDust.irsaliyeNumber}"
								required="true" requiredMessage="#{language.RequiredMessage}"
								maxlength="64">
							</p:inputText>

							<h:outputText value="#{language.Company}: "></h:outputText>
							<p:selectOneMenu
								value="#{dustBean.selectedDust.salesCustomer.salesCustomerId}"
								style="width: 140px">
								<c:forEach step="1" items="#{customerListBean.salesCustomers}"
									var="customer">
									<f:selectItem itemValue="#{customer.salesCustomerId}"
										itemLabel="#{customer.commercialName} (#{customer.classification.name})" />
								</c:forEach>
							</p:selectOneMenu>

							<h:outputText value="#{language.Status}: "></h:outputText>
							<p:selectOneMenu value="#{dustBean.selectedDust.statusId}"
								style="width: 140px">
								<c:forEach items="#{dustBean.config.config.materials.statuses}"
									var="status">
									<f:selectItem itemValue="#{status.id}"
										itemLabel="#{status.displayName}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputText value="#{language.Date} (gg/aa/yyyy): "></h:outputText>
							<p:calendar mode="popup" autocomplete="false" required="true"
								requiredMessage="#{language.RequiredMessage}"
								pattern="#{userCredentialsBean.dateFormat} HH:mm"
								showOn="button" value="#{dustBean.selectedDust.entranceDate}"></p:calendar>

							<h:outputText value="#{language.Location} : "></h:outputText>
							<p:inputText value="#{dustBean.selectedDust.location}"
								maxlength="64">
							</p:inputText>

							<h:outputText value="#{language.Note}: "></h:outputText>
							<p:inputTextarea value="#{dustBean.selectedDust.note}" rows="5"
								autoResize="false" maxHeight="5" style="width:125px">
							</p:inputTextarea>
						</h:panelGrid>
						<!-- PANEL GRID section. -->
						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandLink title="#{language.Update}"
								process="@this editDustPanelId"
								actionListener="#{dustBean.updateDust}"
								update="editDustPanelId dustAccordionPanelId dustPanelId">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink update="editDustPanelId" process="@this"
								title="#{language.Cancel}" immediate="true"
								oncomplete="editDustDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages></p:messages>
					</p:panel>
				</p:dialog>

				<!-- DELETE DUST SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					dynamic="true" resizable="false" header="#{language.Delete}"
					id="deleteDustDialogId" widgetVar="deleteDustDialogWidget">
					<p:panel
						header="#{language.Dust}: #{dustBean.selectedDust.electrodeDustWireId}"
						id="deleteDustPanelId">
						<h:panelGrid border="0" columns="2" cellspacing="5">
							<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="deleteDustPanelGridId">
							<p:commandLink title="#{language.Delete}"
								update="dustAccordionPanelId allPanelGridId" process="@this"
								actionListener="#{dustBean.deleteDust}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}"
								update="deleteDustMessages" immediate="true"
								onclick="deleteDustDialogWidget.hide()" process="@this">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="deleteDustMessages"></p:messages>
					</p:panel>
				</p:dialog>
				<p:messages id="mainDustMessages"></p:messages>

			</h:panelGrid>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>