<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel id="electrodeAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="electrodeAccorditionPanelWidget">
				<p:tab id="availableelectrodeTab"
					title="#{language.Recent} #{language.Electrode}">
					<p:dataTable var="availableelectrode"
						id="availableelectrodeListDataTableId"
						emptyMessage="#{language.EmptyMessage}" dblClickSelect="false"
						rowKey="#{availableelectrode.electrodeDustWireId}"
						widgetVar="availableelectrodeListDataTableWidget"
						value="#{electrodeListBean.recentElectrodes}" paginator="true"
						rows="20" selection="#{electrodeBean.selectedElectrode}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect" update="allPanelGridId"></p:ajax>

						<p:column sortBy="#{availableelectrode.tradeName}"
							filterBy="#{availableelectrode.tradeName}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Markası"></h:outputText>
							</f:facet>
							<h:outputText value="#{availableelectrode.tradeName}"></h:outputText>
						</p:column>


						<p:column sortBy="#{availableelectrode.partNumber}"
							filterBy="#{availableelectrode.partNumber}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.PartNumber}"></h:outputText>
							</f:facet>
							<h:outputText value="#{availableelectrode.partNumber}"></h:outputText>
						</p:column>

						<p:column sortBy="#{availableelectrode.kalite}"
							filterBy="#{availableelectrode.kalite}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.Quality}"></h:outputText>
							</f:facet>
							<h:outputText value="#{availableelectrode.kalite}"></h:outputText>
						</p:column>

						<p:column sortBy="#{availableelectrode.entranceDate}"
							filterBy="#{availableelectrode.entranceDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.Date}"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" autocomplete="false" disabled="true"
								pattern="#{userCredentialsBean.dateFormat}"
								value="#{availableelectrode.entranceDate}"></p:calendar>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.RemainingAmount}"></h:outputText>
							</f:facet>
							<h:outputText value="#{availableelectrode.remainingAmount}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Quality}"></h:outputText>
							</f:facet>
							<h:outputText value="#{availableelectrode.kalite}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Status}"></h:outputText>
							</f:facet>
							<p:selectOneMenu value="#{availableelectrode.statusId}"
								disabled="true" style="width: 140px">
								<f:selectItems var="status" itemValue="#{status.id}"
									itemLabel="#{status.displayName}"
									value="#{electrodeListBean.config.config.materials.statuses}"></f:selectItems>
							</p:selectOneMenu>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="#{language.Add}" process="@this"
								onclick="addelectrodePanelWidged.show()"
								rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].manufacturingMaterialP >= 3}"
								update="addelectrodePanelGridId companyListDataTableId addelectrodePanelGridLinkId">
							</p:commandButton>
						</f:facet>
					</p:dataTable>
				</p:tab>

				<p:tab id="currentYearelectrodeListTab"
					title="#{language.CurrentYear} #{language.Electrode}">
					<p:dataTable var="currentYearelectrode"
						id="currentYearelectrodeDataTableId"
						widgetVar="currentYearelectrodeListDataTableWidget"
						rowKey="#{currentYearelectrode.electrodeDustWireId}"
						emptyMessage="#{language.EmptyMessage}" dblClickSelect="false"
						value="#{electrodeListBean.electrodes}" paginator="true" rows="20"
						selection="#{electrodeBean.selectedElectrode}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect" update="allPanelGridId"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.PartNumber}"></h:outputText>
							</f:facet>
							<h:outputText value="#{currentYearelectrode.partNumber}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Date}"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" autocomplete="false" disabled="true"
								pattern="#{userCredentialsBean.dateFormat}"
								value="#{currentYearelectrode.entranceDate}"></p:calendar>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.RemainingAmount}"></h:outputText>
							</f:facet>
							<h:outputText value="#{currentYearelectrode.remainingAmount}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Quality}"></h:outputText>
							</f:facet>
							<h:outputText value="#{currentYearelectrode.kalite}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Status}"></h:outputText>
							</f:facet>
							<p:selectOneMenu value="#{currentYearelectrode.statusId}"
								disabled="true" style="width: 140px">
								<f:selectItems var="status" itemValue="#{status.id}"
									itemLabel="#{status.displayName}"
									value="#{electrodeListBean.config.config.materials.statuses}"></f:selectItems>
							</p:selectOneMenu>
						</p:column>

						<f:facet name="header">
							<p:selectOneMenu style="width: 140px" immediate="true"
								value="#{electrodeListBean.currentYear}">
								<c:forEach step="1"
									items="#{electrodeListBean.electrodeYearList}"
									var="electrodeYear">
									<f:selectItem itemValue="#{electrodeYear}"
										itemLabel="#{language.Year}: #{electrodeYear}">
									</f:selectItem>
								</c:forEach>
								<p:ajax
									listener="#{electrodeListBean.loadSelectedYearElectrodes}"
									event="change" update="currentYearelectrodeDataTableId">
								</p:ajax>
							</p:selectOneMenu>
						</f:facet>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
		</ui:define>

		<!-- ELECTRODE INFORMATION SECTION -->
		<ui:define name="showPanel">
			<!-- TOOLBAR SECTION -->
			<h:panelGrid border="0" id="allPanelGridId" style="width: 100%">
				<p:toolbar id="wireToolbarId"
					rendered="#{electrodeBean.selectedElectrode.electrodeDustWireId > 0}">
					<p:toolbarGroup align="right">
						<p:commandButton value="#{language.History}" process="@this"
							update="pipeListDataTableId" onclick="historyDialogWidget.show()"
							actionListener="#{electrodeBean.loadHistory}" />
					</p:toolbarGroup>
				</p:toolbar>

				<p:panel header="#{language.Electrode}" id="electrodePanelId">
					<h:panelGrid columns="4" style="width:100%" cellspacing="5">
						<h:outputText value="#{language.TradeName}: "></h:outputText>
						<h:outputText value="#{electrodeBean.selectedElectrode.tradeName}"></h:outputText>

						<h:outputText value="#{language.InitialAmount} (kg): "></h:outputText>
						<h:outputText value="#{electrodeBean.selectedElectrode.miktari}"></h:outputText>

						<h:outputText value="#{language.PartNumber}: "></h:outputText>
						<h:outputText
							value="#{electrodeBean.selectedElectrode.partNumber}"></h:outputText>

						<h:outputText value="#{language.Type}: "></h:outputText>
						<h:outputText value="#{electrodeBean.selectedElectrode.cinsi}"></h:outputText>

						<h:outputText value="#{language.RemainingAmount} (kg): "></h:outputText>
						<h:outputText
							value="#{electrodeBean.selectedElectrode.remainingAmount}"></h:outputText>

						<h:outputText value="#{language.Quality}: "></h:outputText>
						<h:outputText value="#{electrodeBean.selectedElectrode.kalite}"></h:outputText>

						<h:outputText value="#{language.FaturaNumber}: "></h:outputText>
						<h:outputText
							value="#{electrodeBean.selectedElectrode.faturaNumber}"></h:outputText>

						<h:outputText value="#{language.BillNumber}: "></h:outputText>
						<h:outputText
							value="#{electrodeBean.selectedElectrode.irsaliyeNumber}"></h:outputText>

						<h:outputText value="#{language.Date} (gg/aa/yyyy): "></h:outputText>
						<p:calendar mode="popup" autocomplete="false" disabled="true"
							pattern="#{userCredentialsBean.dateFormat} HH:mm"
							value="#{electrodeBean.selectedElectrode.entranceDate}"></p:calendar>

						<h:outputText value="#{language.Location}: "></h:outputText>
						<h:outputText value="#{electrodeBean.selectedElectrode.location}"></h:outputText>

						<h:outputText value="#{language.Note}: "></h:outputText>
						<p:inputTextarea value="#{electrodeBean.selectedElectrode.note}"
							readonly="true" autoResize="false" maxHeight="5"
							style="width:125px" rows="5">
						</p:inputTextarea>
					</h:panelGrid>

					<!-- COMMAND LINK SECTION -->
					<h:panelGrid border="0" columns="9" cellspacing="5">
						<p:commandLink title="#{language.Edit}"
							oncomplete="editelectrodeDialogWidget.show()" process="@this"
							update="editelectrodePanelId"
							disabled="#{electrodeBean.selectedElectrode.electrodeDustWireId == 0}"
							rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].manufacturingMaterialP >= 4}">
							<p:graphicImage value="/large_icons/edit.png" style="border:0px"></p:graphicImage>
						</p:commandLink>

						<p:commandLink title="#{language.Delete}"
							disabled="#{electrodeBean.selectedElectrode.electrodeDustWireId == 0}"
							rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].manufacturingMaterialP >= 5}"
							oncomplete="deleteelectrodeDialogWidget.show()" process="@this">
							<p:graphicImage value="/large_icons/delete.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
				</p:panel>

				<!-- ADD ELECTRODE SECTION -->
				<p:panel header="#{language.Electrode}" id="addelectrodePanelId"
					toggleable="true" widgetVar="addelectrodePanelWidged"
					closable="true" visible="false">
					<h:panelGrid border="0" columns="4" style="width:100%"
						id="addelectrodePanelGridId">
						<h:outputText value="#{language.Amount} (kg) *: "></h:outputText>
						<p:inputText value="#{electrodeBean.newElectrode.miktari}"
							maxlength="15" required="true"
							requiredMessage="#{language.RequiredMessage}"
							validatorMessage="#{language.nbLayersConverterError}">
						</p:inputText>

						<h:outputText value="#{language.TradeName} : "></h:outputText>
						<p:inputText value="#{electrodeBean.newElectrode.tradeName}"
							maxlength="64">
						</p:inputText>

						<h:outputText value="#{language.PartNumber} *: "></h:outputText>
						<p:inputText value="#{electrodeBean.newElectrode.partNumber}"
							requiredMessage="#{language.RequiredMessage}" maxlength="20">
						</p:inputText>

						<h:outputText value="#{language.FaturaNumber} : "></h:outputText>
						<p:inputText value="#{electrodeBean.newElectrode.faturaNumber}"
							maxlength="64">
						</p:inputText>

						<h:outputText value="#{language.BillNumber} *: "></h:outputText>
						<p:inputText value="#{electrodeBean.newElectrode.irsaliyeNumber}"
							requiredMessage="#{language.RequiredMessage}" maxlength="64">
						</p:inputText>

						<h:outputText value="#{language.Type} : "></h:outputText>
						<p:inputText value="#{electrodeBean.newElectrode.cinsi}"
							maxlength="20">
						</p:inputText>

						<h:outputText value="#{language.Quality} *: "></h:outputText>
						<p:inputText value="#{electrodeBean.newElectrode.kalite}"
							requiredMessage="#{language.RequiredMessage}" maxlength="20">
						</p:inputText>

						<h:outputText value="#{language.Location}: "></h:outputText>
						<p:inputText value="#{electrodeBean.newElectrode.location}"
							maxlength="128">
						</p:inputText>

						<h:outputText value="#{language.Date} (gg/aa/yyyy): "></h:outputText>
						<p:calendar mode="popup" autocomplete="false" required="true"
							requiredMessage="#{language.RequiredMessage}"
							pattern="#{userCredentialsBean.dateFormat} HH:mm" showOn="button"
							value="#{electrodeBean.newElectrode.entranceDate}"></p:calendar>

						<h:outputText value="#{language.Note}: "></h:outputText>
						<p:inputTextarea value="#{electrodeBean.newElectrode.note}"
							rows="5" style="width:125" autoResize="false" maxHeight="5"
							maxLength="164">
						</p:inputTextarea>
					</h:panelGrid>

					<p:dataTable var="customer" id="companyListDataTableId"
						emptyMessage="#{language.EmptyMessage}"
						widgetVar="companyListDataTableId"
						rowKey="#{customer.salesCustomerId}"
						value="#{customerListBean.salesCustomers}" paginator="true"
						rows="10" selection="#{electrodeBean.selectedSalesCustomer}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">
						<p:ajax event="rowSelect" update="addelectrodePanelGridLinkId"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Customer} #{language.Id}"></h:outputText>
							</f:facet>
							<h:outputText value="#{customer.salesCustomerId}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{customer.commercialName}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.BusinessId}"></h:outputText>
							</f:facet>
							<h:outputText value="#{customer.classification.classId}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.City}"></h:outputText>
							</f:facet>
							<h:outputText value="#{customer.city}"></h:outputText>
						</p:column>
					</p:dataTable>

					<!-- COMMAND LINK SECTION -->
					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="addelectrodePanelGridLinkId">
						<p:commandLink title="#{language.Add}"
							rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].manufacturingMaterialP >= 3}"
							update="mainelectrodeMessages electrodeAccordionPanelId"
							process="@this addelectrodePanelId"
							oncomplete="addelectrodePanelWidged.close()"
							actionListener="#{electrodeBean.addElectrode}"
							disabled="#{electrodeBean.selectedSalesCustomer.salesCustomerId == 0}">
							<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
						</p:commandLink>

						<p:commandLink process="@this" title="#{language.Cancel}"
							immediate="true" onclick="addelectrodePanelWidget.close()">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
				</p:panel>

				<!-- HISTORY SECTION -->
				<p:dialog draggable="true" closable="true" dynamic="true"
					maximizable="true" resizable="true"
					header="#{language.UsageHistory}" id="historyDialogId"
					widgetVar="historyDialogWidget">
					<p:panel id="electrodeHistoryPanelId" style="min-width:600px"
						header="#{language.Electrode}: #{electrodeBean.selectedElectrode.electrodeDustWireId}">
						<p:dataTable var="pipe" id="pipeListDataTableId"
							widgetVar="pipeListDataTableWidget" rowKey="#{pipe.pipeId}"
							emptyMessage="#{language.EmptyMessage}"
							value="#{electrodeBean.pipeList}" paginator="true" rows="20"
							selectionMode="single"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.PipeIndex}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.pipeIndex}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Status}"></h:outputText>
								</f:facet>
								<p:selectOneMenu value="#{pipe.status}" disabled="true"
									style="width: 140px">
									<f:selectItem itemValue="1" itemLabel="#{language.Finished}" />
									<f:selectItem itemValue="2" itemLabel="#{language.Free}" />
									<f:selectItem itemValue="3" itemLabel="#{language.OnRepair}" />

									<f:selectItem itemValue="10"
										itemLabel="#{language.OnSpiralMachine}" />
									<f:selectItem itemValue="11"
										itemLabel="#{language.OnHydrostaticMachine}" />
									<f:selectItem itemValue="12"
										itemLabel="#{language.OnBevellingMachine}" />
									<f:selectItem itemValue="13"
										itemLabel="#{language.OnEndPreparationMachine}" />

									<f:selectItem itemValue="101"
										itemLabel="#{language.OnPolietilenMachine}" />
									<f:selectItem itemValue="102"
										itemLabel="#{language.OnPolipropilenMachine}" />
									<f:selectItem itemValue="103"
										itemLabel="#{language.OnEpoxyBoyaMachine}" />
									<f:selectItem itemValue="104"
										itemLabel="#{language.OnBlastingMachine}" />
									<f:selectItem itemValue="105"
										itemLabel="#{language.OnCementMachine}" />
								</p:selectOneMenu>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Diameter}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.disCap}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Weight}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.agirligi}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Length}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.boy}"></h:outputText>
							</p:column>
						</p:dataTable>
						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandLink process="@this" title="#{language.Cancel}"
								immediate="true" onclick="historyDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
					</p:panel>
				</p:dialog>

				<!-- UPDATE electrode SECTION -->
				<p:dialog draggable="true" closable="true" resizable="false"
					dynamic="true" maximizable="true" header="#{language.Edit}"
					id="editelectrodeDialogId" widgetVar="editelectrodeDialogWidget">
					<p:panel style="min-width:600px" id="editelectrodePanelId"
						header="#{language.Electrode}: #{electrodeBean.selectedElectrode.electrodeDustWireId}">
						<h:panelGrid border="0" columns="4" style="width:100%">
							<h:outputText value="#{language.TradeName}: "></h:outputText>
							<p:inputText maxlength="64"
								value="#{electrodeBean.selectedElectrode.tradeName}"></p:inputText>

							<h:outputText value="#{language.RemainingAmount} (kg) *: "></h:outputText>
							<p:inputText readonly="true"
								value="#{electrodeBean.selectedElectrode.remainingAmount}"></p:inputText>

							<h:outputText value="#{language.Amount} (kg) *: "></h:outputText>
							<p:inputText value="#{electrodeBean.selectedElectrode.miktari}"
								maxlength="15" required="true"
								requiredMessage="#{language.RequiredMessage}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="#{language.PartNumber} *: "></h:outputText>
							<p:inputText
								value="#{electrodeBean.selectedElectrode.partNumber}"
								required="true" requiredMessage="#{language.RequiredMessage}"
								maxlength="20">
							</p:inputText>

							<h:outputText value="#{language.Type} : "></h:outputText>
							<p:inputText value="#{electrodeBean.selectedElectrode.cinsi}"
								maxlength="20">
							</p:inputText>

							<h:outputText value="#{language.Quality} *: "></h:outputText>
							<p:inputText value="#{electrodeBean.selectedElectrode.kalite}"
								required="true" requiredMessage="#{language.RequiredMessage}"
								maxlength="20">
							</p:inputText>

							<h:outputText value="#{language.FaturaNumber} : "></h:outputText>
							<p:inputText
								value="#{electrodeBean.selectedElectrode.faturaNumber}"
								maxlength="64">
							</p:inputText>

							<h:outputText value="#{language.BillNumber} *: "></h:outputText>
							<p:inputText
								value="#{electrodeBean.selectedElectrode.irsaliyeNumber}"
								required="true" requiredMessage="#{language.RequiredMessage}"
								maxlength="64">
							</p:inputText>

							<h:outputText value="#{language.Company}: "></h:outputText>
							<p:selectOneMenu
								value="#{electrodeBean.selectedElectrode.salesCustomer.salesCustomerId}"
								style="width: 140px">
								<c:forEach step="1" items="#{customerListBean.salesCustomers}"
									var="company">
									<f:selectItem itemValue="#{company.salesCustomerId}"
										itemLabel="#{company.commercialName} (#{company.classification.classId})" />
								</c:forEach>
							</p:selectOneMenu>

							<h:outputText value="#{language.Status}: "></h:outputText>
							<p:selectOneMenu
								value="#{electrodeBean.selectedElectrode.statusId}"
								style="width: 140px">
								<c:forEach
									items="#{electrodeBean.config.config.materials.statuses}"
									var="status">
									<f:selectItem itemValue="#{status.id}"
										itemLabel="#{status.displayName}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputText value="#{language.Date} (gg/aa/yyyy): "></h:outputText>
							<p:calendar mode="popup" autocomplete="false" required="true"
								requiredMessage="#{language.RequiredMessage}"
								pattern="#{userCredentialsBean.dateFormat} HH:mm"
								showOn="button"
								value="#{electrodeBean.selectedElectrode.entranceDate}"></p:calendar>

							<h:outputText value="#{language.Location} : "></h:outputText>
							<p:inputText value="#{electrodeBean.selectedElectrode.location}"
								maxlength="64">
							</p:inputText>

							<h:outputText value="#{language.Note}: "></h:outputText>
							<p:inputTextarea value="#{electrodeBean.selectedElectrode.note}"
								rows="5" autoResize="false" maxHeight="5" style="width:125px">
							</p:inputTextarea>
						</h:panelGrid>
						<!-- PANEL GRID section. -->
						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandLink title="#{language.Update}"
								process="@this editelectrodePanelId"
								actionListener="#{electrodeBean.updateElectrode}"
								update="editelectrodePanelId electrodeAccordionPanelId electrodePanelId">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink update="editelectrodePanelId" process="@this"
								title="#{language.Cancel}" immediate="true"
								oncomplete="editelectrodeDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages></p:messages>
					</p:panel>
				</p:dialog>

				<!-- DELETE electrode SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					dynamic="true" resizable="false" header="#{language.Delete}"
					id="deleteelectrodeDialogId"
					widgetVar="deleteelectrodeDialogWidget">
					<p:panel
						header="#{language.electrode}: #{electrodeBean.selectedElectrode.electrodeDustWireId}"
						id="deleteelectrodePanelId">
						<h:panelGrid border="0" columns="2" cellspacing="5">
							<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="deleteelectrodePanelGridId">
							<p:commandLink title="#{language.Delete}"
								update="electrodeAccordionPanelId allPanelGridId"
								process="@this"
								actionListener="#{electrodeBean.deleteElectrode}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}"
								update="deleteelectrodeMessages" immediate="true"
								onclick="deleteelectrodeDialogWidget.hide()" process="@this">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="deleteelectrodeMessages"></p:messages>
					</p:panel>
				</p:dialog>
				<p:messages id="mainelectrodeMessages"></p:messages>

			</h:panelGrid>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>