<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel id="wireAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="wireAccorditionPanelWidget">
				<p:tab id="availablewireTab"
					title="#{language.Recent} #{language.Wire}">
					<p:dataTable var="availablewire" id="availablewireListDataTableId"
						emptyMessage="#{language.EmptyMessage}" dblClickSelect="false"
						rowKey="#{availablewire.electrodeDustWireId}"
						widgetVar="availablewireListDataTableWidget"
						value="#{wireListBean.recentWires}" paginator="true" rows="20"
						selection="#{wireBean.selectedWire}" selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect" update="allPanelGridId"></p:ajax>

						<p:column sortBy="#{availablewire.tradeName}"
							filterBy="#{availablewire.tradeName}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Markası"></h:outputText>
							</f:facet>
							<h:outputText value="#{availablewire.tradeName}"></h:outputText>
						</p:column>

						<p:column sortBy="#{availablewire.partNumber}"
							filterBy="#{availablewire.partNumber}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.PartNumber}"></h:outputText>
							</f:facet>
							<h:outputText value="#{availablewire.partNumber}"></h:outputText>
						</p:column>

						<p:column sortBy="#{availablewire.kalite}"
							filterBy="#{availablewire.kalite}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.Quality}"></h:outputText>
							</f:facet>
							<h:outputText value="#{availablewire.kalite}"></h:outputText>
						</p:column>

						<p:column sortBy="#{availablewire.cinsi}"
							filterBy="#{availablewire.cinsi}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Çap"></h:outputText>
							</f:facet>
							<h:outputText value="#{availablewire.cinsi}"></h:outputText>
						</p:column>

						<p:column sortBy="#{availablewire.entranceDate}"
							filterBy="#{availablewire.entranceDate}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="#{language.Date}"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" autocomplete="false" disabled="true"
								pattern="#{userCredentialsBean.dateFormat}"
								value="#{availablewire.entranceDate}"></p:calendar>
						</p:column>

						<p:column sortBy="#{availablewire.irsaliyeNumber}"
							filterBy="#{availablewire.irsaliyeNumber}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="İrsaliye Numarası"></h:outputText>
							</f:facet>
							<h:outputText value="#{availablewire.irsaliyeNumber}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.RemainingAmount}"></h:outputText>
							</f:facet>
							<h:outputText value="#{availablewire.remainingAmount}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Status}"></h:outputText>
							</f:facet>
							<p:selectOneMenu value="#{availablewire.statusId}"
								disabled="true" style="width: 140px">
								<f:selectItems var="status" itemValue="#{status.id}"
									itemLabel="#{status.displayName}"
									value="#{wireListBean.config.config.materials.statuses}"></f:selectItems>
							</p:selectOneMenu>
						</p:column>

						<f:facet name="footer">
							<p:commandButton value="#{language.Add}" process="@this"
								onclick="addwirePanelWidged.show()"
								rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].manufacturingMaterialP >= 3}"
								update="addwirePanelGridId companyListDataTableId addwirePanelGridLinkId">
							</p:commandButton>
						</f:facet>
					</p:dataTable>
				</p:tab>

				<p:tab id="currentYearwireListTab"
					title="#{language.CurrentYear} #{language.Wire}">
					<p:dataTable var="currentYearwire" id="currentYearwireDataTableId"
						widgetVar="currentYearwireListDataTableWidget"
						rowKey="#{currentYearwire.electrodeDustWireId}"
						emptyMessage="#{language.EmptyMessage}" dblClickSelect="false"
						value="#{wireListBean.wires}" paginator="true" rows="20"
						selection="#{wireBean.selectedWire}" selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect" update="allPanelGridId"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.PartNumber}"></h:outputText>
							</f:facet>
							<h:outputText value="#{currentYearwire.partNumber}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Date}"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" autocomplete="false" disabled="true"
								pattern="#{userCredentialsBean.dateFormat}"
								value="#{currentYearwire.entranceDate}"></p:calendar>
						</p:column>

						<p:column sortBy="#{currentYearwire.irsaliyeNumber}"
							filterBy="#{currentYearwire.irsaliyeNumber}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="İrsaliye Numarası"></h:outputText>
							</f:facet>
							<h:outputText value="#{currentYearwire.irsaliyeNumber}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.RemainingAmount}"></h:outputText>
							</f:facet>
							<h:outputText value="#{currentYearwire.remainingAmount}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Quality}"></h:outputText>
							</f:facet>
							<h:outputText value="#{currentYearwire.kalite}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Status}"></h:outputText>
							</f:facet>
							<p:selectOneMenu value="#{currentYearwire.statusId}"
								disabled="true" style="width: 140px">
								<f:selectItems var="status" itemValue="#{status.id}"
									itemLabel="#{status.displayName}"
									value="#{wireListBean.config.config.materials.statuses}"></f:selectItems>
							</p:selectOneMenu>
						</p:column>

						<f:facet name="header">
							<p:selectOneMenu style="width: 140px" immediate="true"
								value="#{wireListBean.currentYear}">
								<c:forEach step="1" items="#{wireListBean.wireYearList}"
									var="wireYear">
									<f:selectItem itemValue="#{wireYear}"
										itemLabel="#{language.Year}: #{wireYear}">
									</f:selectItem>
								</c:forEach>
								<p:ajax listener="#{wireListBean.loadSelectedYearWires}"
									event="change" update="currentYearwireDataTableId">
								</p:ajax>
							</p:selectOneMenu>
						</f:facet>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
		</ui:define>

		<!-- wire INFORMATION SECTION -->
		<ui:define name="showPanel">
			<!-- TOOLBAR SECTION -->
			<h:panelGrid border="0" id="allPanelGridId" style="width: 100%">
				<p:toolbar id="wireToolbarId"
					rendered="#{wireBean.selectedWire.electrodeDustWireId > 0}">
					<p:toolbarGroup align="right">
						<p:commandButton value="#{language.History}" process="@this"
							update="pipeListDataTableId" onclick="historyDialogWidget.show()"
							actionListener="#{wireBean.loadHistory}" />
					</p:toolbarGroup>
				</p:toolbar>

				<p:panel header="#{language.Wire}" id="wirePanelId">
					<h:panelGrid columns="4" style="width:100%" cellspacing="5">
						<h:outputText value="#{language.TradeName}: "></h:outputText>
						<h:outputText value="#{wireBean.selectedWire.tradeName}"></h:outputText>

						<h:outputText value="#{language.InitialAmount} (kg): "></h:outputText>
						<h:outputText value="#{wireBean.selectedWire.miktari}"></h:outputText>

						<h:outputText value="#{language.PartNumber}: "></h:outputText>
						<!-- 						<h:outputText value="#{wireBean.selectedWire.partNumber}"></h:outputText> -->
						<p:inputTextarea value="#{wireBean.selectedWire.partNumber}"
							readonly="true" autoResize="false" maxHeight="5"
							style="width:125px" rows="5">
						</p:inputTextarea>

						<h:outputText value="#{language.Type}: "></h:outputText>
						<h:outputText value="#{wireBean.selectedWire.cinsi}"></h:outputText>

						<h:outputText value="#{language.RemainingAmount} (kg): "></h:outputText>
						<h:outputText value="#{wireBean.selectedWire.remainingAmount}"></h:outputText>

						<h:outputText value="#{language.Quality}: "></h:outputText>
						<h:outputText value="#{wireBean.selectedWire.kalite}"></h:outputText>

						<h:outputText value="#{language.FaturaNumber}: "></h:outputText>
						<h:outputText value="#{wireBean.selectedWire.faturaNumber}"></h:outputText>

						<h:outputText value="#{language.BillNumber}: "></h:outputText>
						<h:outputText value="#{wireBean.selectedWire.irsaliyeNumber}"></h:outputText>

						<h:outputText value="#{language.Date} (gg/aa/yyyy): "></h:outputText>
						<p:calendar mode="popup" autocomplete="false" disabled="true"
							pattern="#{userCredentialsBean.dateFormat} HH:mm"
							value="#{wireBean.selectedWire.entranceDate}"></p:calendar>

						<h:outputText value="#{language.Location}: "></h:outputText>
						<h:outputText value="#{wireBean.selectedWire.location}"></h:outputText>

						<h:outputText value="#{language.Note}: "></h:outputText>
						<p:inputTextarea value="#{wireBean.selectedWire.note}"
							readonly="true" autoResize="false" maxHeight="5"
							style="width:125px" rows="5">
						</p:inputTextarea>
					</h:panelGrid>

					<!-- COMMAND LINK SECTION -->
					<h:panelGrid border="0" columns="9" cellspacing="5">
						<p:commandLink title="#{language.Edit}"
							oncomplete="editwireDialogWidget.show()" process="@this"
							update="editwirePanelId"
							disabled="#{wireBean.selectedWire.electrodeDustWireId == 0}"
							rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].manufacturingMaterialP >= 4}">
							<p:graphicImage value="/large_icons/edit.png" style="border:0px"></p:graphicImage>
						</p:commandLink>

						<p:commandLink title="#{language.Delete}"
							disabled="#{wireBean.selectedWire.electrodeDustWireId == 0}"
							rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].manufacturingMaterialP >= 5}"
							oncomplete="deletewireDialogWidget.show()" process="@this">
							<p:graphicImage value="/large_icons/delete.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
				</p:panel>

				<!-- ADD wire SECTION -->
				<p:panel header="#{language.Wire}" id="addwirePanelId"
					toggleable="true" widgetVar="addwirePanelWidged" closable="true"
					visible="false">
					<h:panelGrid border="0" columns="4" style="width:100%"
						id="addwirePanelGridId">
						<h:outputText value="#{language.Amount} (kg) *: "></h:outputText>
						<p:inputText value="#{wireBean.newWire.miktari}" maxlength="15"
							required="true" requiredMessage="#{language.RequiredMessage}"
							validatorMessage="#{language.nbLayersConverterError}">
						</p:inputText>

						<h:outputText value="#{language.TradeName} : "></h:outputText>
						<p:inputText value="#{wireBean.newWire.tradeName}" maxlength="64">
						</p:inputText>

						<h:outputText value="#{language.PartNumber} *: "></h:outputText>
						<p:inputTextarea value="#{wireBean.newWire.partNumber}"
							autoResize="false" maxHeight="5"
							requiredMessage="#{language.RequiredMessage}" style="width:125px"
							rows="5">
						</p:inputTextarea>

						<h:outputText value="#{language.FaturaNumber} : "></h:outputText>
						<p:inputText value="#{wireBean.newWire.faturaNumber}"
							maxlength="64">
						</p:inputText>

						<h:outputText value="#{language.BillNumber} *: "></h:outputText>
						<p:inputText value="#{wireBean.newWire.irsaliyeNumber}"
							requiredMessage="#{language.RequiredMessage}" maxlength="64">
						</p:inputText>

						<h:outputText value="Çap : "></h:outputText>
						<p:inputText value="#{wireBean.newWire.cinsi}" maxlength="20">
						</p:inputText>

						<h:outputText value="#{language.Quality} *: "></h:outputText>
						<p:inputText value="#{wireBean.newWire.kalite}"
							requiredMessage="#{language.RequiredMessage}" maxlength="20">
						</p:inputText>

						<h:outputText value="#{language.Location}: "></h:outputText>
						<p:inputText value="#{wireBean.newWire.location}" maxlength="128">
						</p:inputText>

						<h:outputText value="#{language.Date} (gg/aa/yyyy): "></h:outputText>
						<p:calendar mode="popup" autocomplete="false" required="true"
							requiredMessage="#{language.RequiredMessage}"
							pattern="#{userCredentialsBean.dateFormat} HH:mm" showOn="button"
							value="#{wireBean.newWire.entranceDate}"></p:calendar>

						<h:outputText value="#{language.Note}: "></h:outputText>
						<p:inputTextarea value="#{wireBean.newWire.note}" rows="5"
							style="width:125" autoResize="false" maxHeight="5"
							maxLength="164">
						</p:inputTextarea>
					</h:panelGrid>

					<p:dataTable var="customer" id="companyListDataTableId"
						emptyMessage="#{language.EmptyMessage}"
						widgetVar="companyListDataTableId"
						rowKey="#{customer.salesCustomerId}"
						value="#{customerListBean.salesCustomers}" paginator="true"
						rows="10" selection="#{wireBean.selectedSalesCustomer}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">
						<p:ajax event="rowSelect" update="addwirePanelGridLinkId"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Customer} #{language.Id}"></h:outputText>
							</f:facet>
							<h:outputText value="#{customer.salesCustomerId}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{customer.commercialName}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.BusinessId}"></h:outputText>
							</f:facet>
							<h:outputText value="#{customer.classification.name}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.City}"></h:outputText>
							</f:facet>
							<h:outputText value="#{customer.city}"></h:outputText>
						</p:column>
					</p:dataTable>

					<!-- COMMAND LINK SECTION -->
					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="addwirePanelGridLinkId">
						<p:commandLink title="#{language.Add}"
							rendered="#{userCredentialsBean.user.userType.generalPrivileges[0].manufacturingMaterialP >= 3}"
							update="mainwireMessages wireAccordionPanelId"
							process="@this addwirePanelId"
							oncomplete="addwirePanelWidged.close()"
							actionListener="#{wireBean.addWire}"
							disabled="#{wireBean.selectedSalesCustomer.salesCustomerId == 0}">
							<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
						</p:commandLink>

						<p:commandLink process="@this" title="#{language.Cancel}"
							immediate="true" onclick="addwirePanelWidget.close()">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>
				</p:panel>

				<!-- HISTORY SECTION -->
				<p:dialog draggable="true" closable="true" dynamic="true"
					maximizable="true" resizable="true" header="#{language.History}"
					id="historyDialogId" widgetVar="historyDialogWidget">
					<p:panel id="wireHistoryPanelId" style="min-width:600px"
						header="#{language.Wire}: #{wireBean.selectedWire.electrodeDustWireId}">
						<p:dataTable var="pipe" id="pipeListDataTableId"
							widgetVar="pipeListDataTableWidget" rowKey="#{pipe.pipeId}"
							emptyMessage="#{language.EmptyMessage}"
							value="#{wireBean.pipeList}" paginator="true" rows="20"
							selectionMode="single"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Index}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.pipeIndex}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Status}"></h:outputText>
								</f:facet>
								<p:selectOneMenu value="#{pipe.status}" disabled="true"
									style="width: 140px">
									<f:selectItem itemValue="1" itemLabel="#{language.Finished}" />
									<f:selectItem itemValue="2" itemLabel="#{language.Free}" />
									<f:selectItem itemValue="3" itemLabel="#{language.OnRepair}" />

									<f:selectItem itemValue="10"
										itemLabel="#{language.OnSpiralMachine}" />
									<f:selectItem itemValue="11"
										itemLabel="#{language.OnHydrostaticMachine}" />
									<f:selectItem itemValue="12"
										itemLabel="#{language.OnBevellingMachine}" />
									<f:selectItem itemValue="13"
										itemLabel="#{language.OnEndPreparationMachine}" />

									<f:selectItem itemValue="101"
										itemLabel="#{language.OnPolietilenMachine}" />
									<f:selectItem itemValue="102"
										itemLabel="#{language.OnPolipropilenMachine}" />
									<f:selectItem itemValue="103"
										itemLabel="#{language.OnEpoxyBoyaMachine}" />
									<f:selectItem itemValue="104"
										itemLabel="#{language.OnBlastingMachine}" />
									<f:selectItem itemValue="105"
										itemLabel="#{language.OnCementMachine}" />
								</p:selectOneMenu>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Diameter}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.disCap}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Weight}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.agirligi}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Length}"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.boy}"></h:outputText>
							</p:column>
						</p:dataTable>
						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandLink process="@this" title="#{language.Cancel}"
								immediate="true" onclick="historyDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
					</p:panel>
				</p:dialog>

				<!-- UPDATE wire SECTION -->
				<p:dialog draggable="true" closable="true" resizable="false"
					dynamic="true" maximizable="true" header="#{language.Edit}"
					id="editwireDialogId" widgetVar="editwireDialogWidget">
					<p:panel style="min-width:600px" id="editwirePanelId"
						header="#{language.Wire}: #{wireBean.selectedWire.electrodeDustWireId}">
						<h:panelGrid border="0" columns="4" style="width:100%">
							<h:outputText value="#{language.TradeName}: "></h:outputText>
							<p:inputText maxlength="64"
								value="#{wireBean.selectedWire.tradeName}"></p:inputText>

							<h:outputText value="#{language.RemainingAmount} (kg) *: "></h:outputText>
							<p:inputText readonly="true"
								value="#{wireBean.selectedWire.remainingAmount}"></p:inputText>

							<h:outputText value="#{language.Amount} (kg) *: "></h:outputText>
							<p:inputText value="#{wireBean.selectedWire.miktari}"
								maxlength="15" required="true"
								requiredMessage="#{language.RequiredMessage}"
								converterMessage="#{language.nbLayersConverterError}">
							</p:inputText>

							<h:outputText value="#{language.PartNumber} *: "></h:outputText>
							<p:inputTextarea value="#{wireBean.selectedWire.partNumber}"
								autoResize="false" maxHeight="5"
								requiredMessage="#{language.RequiredMessage}"
								style="width:125px" rows="5">
							</p:inputTextarea>

							<h:outputText value="#{language.Type} : "></h:outputText>
							<p:inputText value="#{wireBean.selectedWire.cinsi}"
								maxlength="20">
							</p:inputText>

							<h:outputText value="#{language.Quality} *: "></h:outputText>
							<p:inputText value="#{wireBean.selectedWire.kalite}"
								required="true" requiredMessage="#{language.RequiredMessage}"
								maxlength="20">
							</p:inputText>

							<h:outputText value="#{language.FaturaNumber} : "></h:outputText>
							<p:inputText value="#{wireBean.selectedWire.faturaNumber}"
								maxlength="64">
							</p:inputText>

							<h:outputText value="#{language.BillNumber} *: "></h:outputText>
							<p:inputText value="#{wireBean.selectedWire.irsaliyeNumber}"
								required="true" requiredMessage="#{language.RequiredMessage}"
								maxlength="64">
							</p:inputText>

							<h:outputText value="#{language.Company}: "></h:outputText>
							<p:selectOneMenu
								value="#{wireBean.selectedWire.salesCustomer.salesCustomerId}"
								style="width: 140px">
								<c:forEach step="1" items="#{customerListBean.salesCustomers}"
									var="customer">
									<f:selectItem itemValue="#{customer.salesCustomerId}"
										itemLabel="#{customer.commercialName} (#{customer.classification.name})" />
								</c:forEach>
							</p:selectOneMenu>

							<h:outputText value="#{language.Status}: "></h:outputText>
							<p:selectOneMenu value="#{wireBean.selectedWire.statusId}"
								style="width: 140px">
								<c:forEach items="#{wireBean.config.config.materials.statuses}"
									var="status">
									<f:selectItem itemValue="#{status.id}"
										itemLabel="#{status.displayName}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputText value="#{language.Date} (gg/aa/yyyy): "></h:outputText>
							<p:calendar mode="popup" autocomplete="false" required="true"
								requiredMessage="#{language.RequiredMessage}"
								pattern="#{userCredentialsBean.dateFormat} HH:mm"
								showOn="button" value="#{wireBean.selectedWire.entranceDate}"></p:calendar>

							<h:outputText value="#{language.Location} : "></h:outputText>
							<p:inputText value="#{wireBean.selectedWire.location}"
								maxlength="64">
							</p:inputText>

							<h:outputText value="#{language.Note}: "></h:outputText>
							<p:inputTextarea value="#{wireBean.selectedWire.note}" rows="5"
								autoResize="false" maxHeight="5" style="width:125px">
							</p:inputTextarea>
						</h:panelGrid>
						<!-- PANEL GRID section. -->
						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandLink title="#{language.Update}"
								process="@this editwirePanelId"
								actionListener="#{wireBean.updateWire}"
								update="editwirePanelId wireAccordionPanelId wirePanelId">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink update="editwirePanelId" process="@this"
								title="#{language.Cancel}" immediate="true"
								oncomplete="editwireDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages></p:messages>
					</p:panel>
				</p:dialog>

				<!-- DELETE wire SECTION -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					dynamic="true" resizable="false" header="#{language.Delete}"
					id="deletewireDialogId" widgetVar="deletewireDialogWidget">
					<p:panel
						header="#{language.Wire}: #{wireBean.selectedWire.electrodeDustWireId}"
						id="deletewirePanelId">
						<h:panelGrid border="0" columns="2" cellspacing="5">
							<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3" cellspacing="5"
							id="deletewirePanelGridId">
							<p:commandLink title="#{language.Delete}"
								update="wireAccordionPanelId allPanelGridId" process="@this"
								actionListener="#{wireBean.deleteWire}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}"
								update="deletewireMessages" immediate="true"
								onclick="deletewireDialogWidget.hide()" process="@this">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="deletewireMessages"></p:messages>
					</p:panel>
				</p:dialog>
				<p:messages id="mainwireMessages"></p:messages>

			</h:panelGrid>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>