<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel multiple="false" autoHeight="false"
				style="padding:0px" id="accordionPanelId">
				<p:tab title="#{language.Licenses}" id="licenseTabId">
					<p:dataTable var="license" id="licenseDataTableId"
						rowKey="#{license.licenseId}" dblClickSelect="false"
						value="#{licenses.licenses}" paginator="true" rows="20"
						selection="#{licenses.selected}" selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect"
							update="licensePanelId licenseMessages licenseDataTableId"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Type}"></h:outputText>
							</f:facet>
							<h:outputText value="#{license.type}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{license.name}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.IssueDate}"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat}" disabled="true"
								value="#{license.issueDate}"></p:calendar>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.ExpirationDate}"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat}" disabled="true"
								value="#{license.expirationDate}"></p:calendar>
						</p:column>

						<f:facet name="footer">
							<h:panelGrid border="0" columns="3" cellspacing="5"
								style="align: right;">
								<p:commandLink title="#{language.Add}"
									process="@this licenseDataTableId" update="addLicensePanelId"
									oncomplete="addLicenseDialogWidget.show()">
									<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
								</p:commandLink>

								<p:commandLink title="#{language.Update}"
									process="@this licenseDataTableId"
									update="updateLicensePanelId"
									disabled="#{licenses.selected.licenseId == null}"
									onclick="updateLicenseDialogWidget.show()">
									<p:graphicImage value="/large_icons/update.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>

								<p:commandLink title="#{language.Delete}"
									process="@this licenseDataTableId"
									disabled="#{licenses.selected.licenseId == null}"
									onclick="deleteLicenseDialogWidget.show()">
									<p:graphicImage value="/large_icons/delete.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</f:facet>

					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
		</ui:define>

		<ui:define name="showPanel">
			<p:panel header="#{language.License}" id="licensePanelId"
				visible="true">
				<h:panelGrid border="0" columns="2" style="width:100%">
					<h:outputLabel value="#{language.Type} : "></h:outputLabel>
					<p:inputText value="#{licenses.selected.type}" readonly="true"></p:inputText>

					<h:outputLabel value="#{language.Name} : "></h:outputLabel>
					<p:inputText value="#{licenses.selected.name}" readonly="true"></p:inputText>

					<h:outputLabel value="#{language.IssueDate} : "></h:outputLabel>
					<p:calendar mode="popup" showOn="button" autocomplete="false"
						pattern="#{userCredentialsBean.dateFormat}" disabled="true"
						value="#{licenses.selected.issueDate}"></p:calendar>

					<h:outputLabel value="#{language.ExpirationDate} : "></h:outputLabel>
					<p:calendar mode="popup" showOn="button" autocomplete="false"
						pattern="#{userCredentialsBean.dateFormat}" disabled="true"
						value="#{licenses.selected.expirationDate}"></p:calendar>

					<h:outputLabel value="#{language.Issuer} : "></h:outputLabel>
					<p:inputText value="#{licenses.selected.issueInstitution}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.Description}:  " />
					<p:inputTextarea value="#{licenses.selected.shortDesc}" rows="5"
						style="width:125px" autoResize="false" cols="10" readonly="true"></p:inputTextarea>
				</h:panelGrid>

				<!-- RENEW BY WHO -->
				<p:dataTable var="renewer" widgetVar="renewerDataTableWidget"
					id="renewerDataTableId"
					rowKey="#{renewer.licenseRenewResponsibleId}"
					emptyMessage="#{language.EmptyMessage}"
					value="#{licenses.selected.licenseRenewResponsibles}"
					paginator="true" rows="20" selection="#{licenses.selectedRenewer}"
					selectionMode="single"
					paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
					<p:ajax event="rowSelect"
						update="renewerDataTableId licenseMessages"></p:ajax>
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Responsible}"></h:outputText>
						</f:facet>
						<h:outputText
							value="#{renewer.employee.firstname} #{renewer.employee.lastname}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.RenewDate}"></h:outputText>
						</f:facet>
						<p:calendar mode="popup" showOn="button" autocomplete="false"
							pattern="#{userCredentialsBean.dateFormat}" disabled="true"
							value="#{renewer.renewDate}"></p:calendar>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.PreviousExpiration}"></h:outputText>
						</f:facet>
						<p:calendar mode="popup" showOn="button" autocomplete="false"
							pattern="#{userCredentialsBean.dateFormat}" disabled="true"
							value="#{renewer.previousExpirationDate}"></p:calendar>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.RenewAuthority}"></h:outputText>
						</f:facet>
						<h:outputText value="#{renewer.renewAuthority}"></h:outputText>
					</p:column>

					<f:facet name="footer">
						<h:panelGrid border="0" columns="3" style="align:right; width:20%">
							<p:commandLink title="#{language.Update}"
								disabled="#{!licenses.selectedRenewer.renewed}" process="@this"
								oncomplete="changeRenewerDialogWidget.show()"
								update="changeRenewerPanelId">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
					</f:facet>
				</p:dataTable>
			</p:panel>

			<h:panelGrid cellspacing="0" id="allPanelGridId">

				<!-- ADD A LICENSE -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					dynamic="true" resizable="false" header="#{language.Add}"
					id="addLicenseDialogId" widgetVar="addLicenseDialogWidget">
					<p:panel style="min-width:600px" id="addLicensePanelId"
						closable="false" toggleable="true">
						<h:panelGrid border="0" columns="2" style="width:100%">

							<h:outputLabel value="#{language.Responsible} *: "></h:outputLabel>
							<p:selectOneMenu layout="lineDirection" style="width: 140px"
								value="#{newLicense.lrr.employee.employeeId}" required="true"
								requiredMessage="#{language.RequiredMessage}">
								<c:forEach items="#{activeEmployeeList.employees}"
									var="employee">
									<f:selectItem itemValue="#{employee.employeeId}"
										itemLabel="#{employee.firstname} #{employee.lastname}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel value="#{language.Type} : "></h:outputLabel>
							<p:inputText value="#{newLicense.license.type}" required="true"
								requiredMessage="#{language.RequiredMessage}" maxlength="128"></p:inputText>

							<h:outputLabel value="#{language.Name} : "></h:outputLabel>
							<p:inputText value="#{newLicense.license.name}" required="true"
								requiredMessage="#{language.RequiredMessage}" maxlength="32"></p:inputText>

							<h:outputLabel value="#{language.IssueDate} : "></h:outputLabel>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								required="true" requiredMessage="#{language.RequiredMessage}"
								pattern="#{userCredentialsBean.dateFormat}" disabled="false"
								value="#{newLicense.license.issueDate}"></p:calendar>

							<h:outputLabel value="#{language.ExpirationDate} : "></h:outputLabel>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								required="true" requiredMessage="#{language.RequiredMessage}"
								pattern="#{userCredentialsBean.dateFormat}" disabled="false"
								value="#{newLicense.license.expirationDate}"></p:calendar>

							<h:outputLabel value="#{language.Issuer} : "></h:outputLabel>
							<p:inputText value="#{newLicense.license.issueInstitution}"
								maxlength="128"></p:inputText>

							<h:outputLabel value="#{language.Description}:  " />
							<p:inputTextarea value="#{newLicense.license.shortDesc}" rows="5"
								style="width:125px" autoResize="false" cols="10"></p:inputTextarea>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.Submit}"
								update="addLicensePanelId accordionPanelId"
								process="@this addLicensePanelId"
								actionListener="#{licenses.add}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="addLicenseMessages" process="@this"
								onclick="addLicenseDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>

						<p:messages id="addLicenseMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- UPDATE A LICENSE -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" header="#{language.Update}"
					id="updateLicenseDialogId" widgetVar="updateLicenseDialogWidget">
					<p:panel style="min-width:600px" id="updateLicensePanelId"
						closable="false" toggleable="true">
						<h:panelGrid border="0" columns="2" style="width:100%">
							<h:outputLabel value="#{language.Type} : "></h:outputLabel>
							<p:inputText value="#{licenses.selected.type}" required="true"
								requiredMessage="#{language.RequiredMessage}" maxlength="128"></p:inputText>

							<h:outputLabel value="#{language.Name} : "></h:outputLabel>
							<p:inputText value="#{licenses.selected.name}" required="true"
								requiredMessage="#{language.RequiredMessage}" maxlength="32"></p:inputText>

							<h:outputLabel value="#{language.IssueDate} : "></h:outputLabel>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								required="true" requiredMessage="#{language.RequiredMessage}"
								pattern="#{userCredentialsBean.dateFormat}" disabled="false"
								value="#{licenses.selected.issueDate}"></p:calendar>

							<h:outputLabel value="#{language.ExpirationDate} : "></h:outputLabel>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								required="true" requiredMessage="#{language.RequiredMessage}"
								pattern="#{userCredentialsBean.dateFormat}" disabled="false"
								value="#{licenses.selected.expirationDate}"></p:calendar>

							<h:outputLabel value="#{language.Issuer} : "></h:outputLabel>
							<p:inputText value="#{licenses.selected.issueInstitution}"
								maxlength="128"></p:inputText>

							<h:outputLabel value="#{language.Description}:  " />
							<p:inputTextarea value="#{licenses.selected.shortDesc}" rows="5"
								style="width:125px" autoResize="false" cols="10"></p:inputTextarea>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.Submit}"
								update="updateLicensePanelId accordionPanelId licensePanelId"
								process="@this updateLicensePanelId"
								actionListener="#{licenses.update}">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="updateLicenseMessages" process="@this"
								onclick="updateLicenseDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>

						<p:messages id="updateLicenseMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- DELETE LICENSE SECTION -->
				<p:dialog id="deleteLicenseDialogId" resizable="false"
					widgetVar="deleteLicenseDialogWidget" closable="true"
					maximizable="true" dynamic="true" draggable="true"
					header="#{language.Delete}">
					<p:panel style="min-width:600px" header="#{licenses.selected.name}"
						closable="true" toggleable="true" id="deleteLicensePanelId"
						visible="true">
						<h:panelGrid border="0" columns="2" style="width:100%">
							<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.ok}"
								update="deleteLicensePanelId accordionPanelId licensePanelId"
								process="@this licenseDataTableId"
								actionListener="#{licenses.delete}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="deleteLicenseMessages" process="@this"
								onclick="deleteLicenseDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="deleteLicenseMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- CHANGE THE RENEWER -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					dynamic="true" resizable="false" header="#{language.Add}"
					id="changeRenewerDialogId" widgetVar="changeRenewerDialogWidget">
					<p:panel style="min-width:600px" id="changeRenewerPanelId"
						closable="false" toggleable="true">
						<h:panelGrid border="0" columns="2" style="width:100%">

							<h:outputLabel value="#{language.Responsible} *: "></h:outputLabel>
							<p:selectOneMenu layout="lineDirection" style="width: 140px"
								value="#{licenses.selectedRenewer.employee.employeeId}"
								required="true" requiredMessage="#{language.RequiredMessage}">
								<c:forEach items="#{activeEmployeeList.employees}"
									var="employee">
									<f:selectItem itemValue="#{employee.employeeId}"
										itemLabel="#{employee.firstname} #{employee.lastname}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.Submit}"
								update="licensePanelId changeRenewerPanelId"
								process="@this changeRenewerPanelId"
								actionListener="#{licenses.changeRenewer}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="changeRenewerMessages" process="@this"
								onclick="changeRenewerDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="changeRenewerMessages"></p:messages>
					</p:panel>
				</p:dialog>

			</h:panelGrid>

			<p:messages id="licenseMessages"></p:messages>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>
