<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel multiple="false" autoHeight="false"
				style="padding:0px" id="accordionPanelId">
				<p:tab title="#{language.AwaitingRenews}" id="licenseTabId">
					<p:dataTable var="lrr" id="licenseDataTableId"
						rowKey="#{lrr.licenseRenewResponsibleId}" dblClickSelect="false"
						value="#{myLicenses.followers}" paginator="true" rows="20"
						selection="#{myLicenses.selected}" selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect"
							update="licensePanelId licenseMessages licenseDataTableId"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Type}"></h:outputText>
							</f:facet>
							<h:outputText value="#{lrr.license.type}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{lrr.license.name}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.RenewDate}"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat}" disabled="true"
								value="#{lrr.renewDate}"></p:calendar>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.IssueDate}"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat}" disabled="true"
								value="#{lrr.license.issueDate}"></p:calendar>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.ExpirationDate}"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat}" disabled="true"
								value="#{lrr.license.expirationDate}"></p:calendar>
						</p:column>

						<f:facet name="footer">
							<h:panelGrid border="0" columns="3" cellspacing="5"
								style="align: right;">
								<p:commandLink title="#{language.Renew}"
									process="@this licenseDataTableId" update="renewLicensePanelId"
									oncomplete="renewLicenseDialogWidget.show()"
									disabled="#{myLicenses.selected.licenseRenewResponsibleId == null}">
									<p:graphicImage value="/large_icons/renew.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</f:facet>
					</p:dataTable>
				</p:tab>

				<p:tab title="#{language.RenewActivities}"
					id="completeLicensesTabId">
					<p:dataTable var="lrr1" id="completeLicenseDataTableId"
						rowKey="#{lrr1.licenseRenewResponsibleId}" dblClickSelect="false"
						value="#{myLicenses.completes}" paginator="true" rows="20"
						selection="#{myLicenses.selected}" selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Type}"></h:outputText>
							</f:facet>
							<h:outputText value="#{lrr1.license.type}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{lrr1.license.name}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.RenewDate}"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat}" disabled="true"
								value="#{lrr1.renewDate}"></p:calendar>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.IssueDate}"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat}" disabled="true"
								value="#{lrr1.license.issueDate}"></p:calendar>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.ExpirationDate}"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat}" disabled="true"
								value="#{lrr1.license.expirationDate}"></p:calendar>
						</p:column>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
		</ui:define>

		<ui:define name="showPanel">
			<p:panel header="#{language.License}" id="licensePanelId"
				visible="true">
				<h:panelGrid border="0" columns="2" style="width:100%">
					<h:outputLabel value="#{language.Type} : "></h:outputLabel>
					<p:inputText value="#{myLicenses.selected.license.type}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.Name} : "></h:outputLabel>
					<p:inputText value="#{myLicenses.selected.license.name}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.IssueDate} : "></h:outputLabel>
					<p:calendar mode="popup" showOn="button" autocomplete="false"
						pattern="#{userCredentialsBean.dateFormat}" disabled="true"
						value="#{myLicenses.selected.license.issueDate}"></p:calendar>

					<h:outputLabel value="#{language.ExpirationDate} : "></h:outputLabel>
					<p:calendar mode="popup" showOn="button" autocomplete="false"
						pattern="#{userCredentialsBean.dateFormat}" disabled="true"
						value="#{myLicenses.selected.license.expirationDate}"></p:calendar>

					<h:outputLabel value="#{language.RenewDate} : "></h:outputLabel>
					<p:calendar mode="popup" showOn="button" autocomplete="false"
						pattern="#{userCredentialsBean.dateFormat}" disabled="true"
						value="#{myLicenses.selected.renewDate}"></p:calendar>

					<h:outputLabel value="#{language.Issuer} : "></h:outputLabel>
					<p:inputText
						value="#{myLicenses.selected.license.issueInstitution}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.Description}:  " />
					<p:inputTextarea value="#{myLicenses.selected.license.shortDesc}"
						rows="5" style="width:125px" autoResize="false" cols="10"
						readonly="true"></p:inputTextarea>

					<h:outputLabel value="#{language.Note}:  " />
					<p:inputTextarea value="#{myLicenses.selected.note}" rows="5"
						style="width:125px" autoResize="false" cols="10" readonly="true"></p:inputTextarea>
				</h:panelGrid>
			</p:panel>

			<h:panelGrid cellspacing="0" id="allPanelGridId">

				<!-- RENEW A LICENSE -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					dynamic="true" resizable="false" header="#{language.Renew}"
					id="renewLicenseDialogId" widgetVar="renewLicenseDialogWidget">
					<p:panel style="min-width:600px" id="renewLicensePanelId"
						closable="false" toggleable="true">
						<h:panelGrid border="0" columns="2" style="width:100%">
							<h:outputLabel value="#{language.ExpirationDate} *: "></h:outputLabel>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								required="true" requiredMessage="#{language.RequiredMessage}"
								pattern="#{userCredentialsBean.dateFormat}" disabled="false"
								value="#{myLicenses.nextExpDate}"></p:calendar>

							<h:outputLabel value="#{language.Issuer} *: "></h:outputLabel>
							<p:inputText value="#{myLicenses.selected.renewAuthority}"
								required="true" requiredMessage="#{language.RequiredMessage}"
								maxlength="128"></p:inputText>

							<h:outputLabel value="#{language.Note}:  " />
							<p:inputTextarea value="#{myLicenses.selected.note}" rows="5"
								style="width:125px" autoResize="false" cols="10"></p:inputTextarea>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.Submit}"
								update="renewLicensePanelId accordionPanelId"
								process="@this renewLicensePanelId"
								actionListener="#{myLicenses.renew}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="renewLicenseMessages" process="@this"
								onclick="renewLicenseDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="renewLicenseMessages"></p:messages>
					</p:panel>
				</p:dialog>

			</h:panelGrid>

			<p:messages id="licenseMessages"></p:messages>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>
