<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:growl id="growl"></p:growl>
			<p:accordionPanel autoHeight="false" style="padding:0px; width:100%"
				id="shipmentsAccordionPanelId">
				<p:tab title="Sevkiyatlar">

					<p:dataTable var="shipment" dblClickSelect="false"
						widgetVar="shipmentListDataTableWidget"
						id="shipmentListDataTableId"
						value="#{shipmentBean.allNewShipments}"
						selection="#{shipmentBean.selectedShipment}" rows="20"
						rowKey="#{shipment.id}" selectionMode="single"
						rowIndexVar="rowIndex">

						<p:ajax event="rowSelect" update="shipmentsAccordionPanelId"></p:ajax>


						<p:column headerText="#" style="width: 5%;">
							<h:outputText value="#{rowIndex+1}"></h:outputText>
						</p:column>

						<p:column sortBy="#{shipment.shipmentNumber}"
							filterBy="#{shipment.shipmentNumber}">
							<f:facet name="header">
								<h:outputText value="İrsaliye No"></h:outputText>
							</f:facet>
							<h:outputText value="#{shipment.shipmentNumber}"></h:outputText>
						</p:column>
						<p:column sortBy="#{shipment.shipmentDriver.name}"
							filterBy="#{shipment.shipmentDriver.name}">
							<f:facet name="header">
								<h:outputText value="Şoför"></h:outputText>
							</f:facet>
							<h:outputText value="#{shipment.shipmentDriver.name}"></h:outputText>
						</p:column>
						<p:column sortBy="#{shipment.shipmentTruck.plate}"
							filterBy="#{shipment.shipmentTruck.plate}">
							<f:facet name="header">
								<h:outputText value="Çekici Plakası"></h:outputText>
							</f:facet>
							<h:outputText value="#{shipment.shipmentTruck.plate}"></h:outputText>
						</p:column>
						<p:column sortBy="#{shipment.shipmentTrailer.plate}"
							filterBy="#{shipment.shipmentTrailer.plate}">
							<f:facet name="header">
								<h:outputText value="Dorse Plakası"></h:outputText>
							</f:facet>
							<h:outputText value="#{shipment.shipmentTrailer.plate}"></h:outputText>
						</p:column>
						<p:column sortBy="#{shipment.eklemeZamani}"
							filterBy="#{shipment.eklemeZamani}">
							<f:facet name="header">
								<h:outputText value="Ekleme Zamanı"></h:outputText>
							</f:facet>
							<h:outputText value="#{shipment.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column sortBy="#{shipment.pipes.size()}"
							filterBy="#{shipment.pipes.size()}">
							<f:facet name="header">
								<h:outputText value="Boru Sayısı"></h:outputText>
							</f:facet>
							<h:outputText value="#{shipment.pipes.size()}"></h:outputText>
						</p:column>

					</p:dataTable>


					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="shipmentsButtonsPanelGridId">
						<p:commandButton value="#{language.Add}"
							widgetVar="addShipmentButtonWidget" disabled="false"
							id="addShipmentDialogButtonId" process="@all"
							onclick="addShipmentConfirmDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="#{language.Edit}"
							widgetVar="updateShipmentButtonWidget"
							disabled="#{shipmentBean.selectedShipment.id eq null}"
							id="updateShipmentDialogButtonId" process="@all"
							onclick="updateShipmentConfirmDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="#{language.Delete}"
							widgetVar="deleteShipmentButtonWidget"
							disabled="#{shipmentBean.selectedShipment.id eq null}"
							id="deleteShipmentButtonId" process="@all"
							onclick="deleteShipmentConfirmDialogWidget.show()"
							icon="ui-icon-circle-minus">
						</p:commandButton>
						<p:commandButton value="Sevkiyatı tamamla"
							update="shipmentsAccordionPanelId shipmentListDataTableId growl"
							process="@this addShipmentPanelGridId allShipmentListDataTableId"
							widgetVar="prepareShipmentButtonWidget"
							disabled="#{shipmentBean.selectedShipment.id eq null}"
							id="prepareShipmentButtonId"
							actionListener="#{shipmentBean.prepareShipment}"
							icon="ui-icon-circle-minus">
						</p:commandButton>
						<p:commandButton value="Boru ekle"
							widgetVar="updatePipesButtonWidget"
							disabled="#{shipmentBean.selectedShipment.id eq null}"
							id="updatePipesDialogButtonId" process="@all"
							onclick="updatePipesConfirmDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
					</h:panelGrid>

					<!-- 					DELETE DIALOG  -->
					<p:dialog draggable="true" closable="true" dynamic="true"
						maximizable="true" style="min-width:600px" header="Sevkiyatı sil?"
						id="deleteShipmentConfirmDialogId"
						widgetVar="deleteShipmentConfirmDialogWidget">
						<p:panel closable="false" toggleable="true"
							id="deleteShipmentPanelId" style="width:100%"
							widgetVar="deleteShipmentPanelWidget" visible="true">
							<h:panelGrid border="0" columns="5" style="width:100%">
								<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
							</h:panelGrid>
							<h:panelGrid cellspacing="5" columns="5">
								<p:commandLink title="#{language.ok}"
									update="shipmentListDataTableId growl"
									process="@this shipmentListDataTableId"
									oncomplete="deleteShipmentConfirmDialogWidget.hide();"
									actionListener="#{shipmentBean.deleteSelectedShipment}">
									<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
								</p:commandLink>
								<p:commandLink title="#{language.Cancel}" process="@this"
									update="deleteshipmentMessage" immediate="true"
									onclick="deleteShipmentConfirmDialogWidget.hide()">
									<p:graphicImage value="/large_icons/cancel.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
							<p:messages showDetail="false" showSummary="true"
								id="deleteshipmentMessage"></p:messages>
						</p:panel>
					</p:dialog>

					<!-- 					ADD DIALOG  -->
					<p:dialog draggable="true" closable="true" dynamic="true"
						maximizable="true" style="min-width:600px"
						header="Sevkiyat Ekle..." id="addShipmentConfirmDialogId"
						widgetVar="addShipmentConfirmDialogWidget">
						<p:panel style="width:100%; text-align:left; padding:5px"
							id="addShipmentPanelId">
							<h:form id="addShipmentFormId">
								<h:panelGrid border="0" cellspacing="5" columns="2"
									style="width:100%" id="addShipmentPanelGridId">

									<h:outputText value="Şoför İsmi"></h:outputText>
									<p:autoComplete
										value="#{shipmentBean.newShipment.shipmentDriver}"
										completeMethod="#{autoCompleteBean.autoCompleteShipmentDriver}"
										var="shipmentDriver" required="true"
										requiredMessage="Bu alanı doldurmalısınız!"
										itemLabel="#{shipmentDriver.id} - #{shipmentDriver.name}"
										itemValue="#{shipmentDriver}"
										converter="shipmentDriverConverter" minQueryLength="1" />

									<h:outputText value="Çekici Plakası"></h:outputText>
									<p:autoComplete
										value="#{shipmentBean.newShipment.shipmentTruck}"
										completeMethod="#{autoCompleteBean.autoCompleteShipmentTruck}"
										var="shipmentTruck" required="true"
										requiredMessage="Bu alanı doldurmalısınız!"
										itemLabel="#{shipmentTruck.id} - #{shipmentTruck.plate}"
										itemValue="#{shipmentTruck}"
										converter="shipmentTruckConverter" minQueryLength="1" />

									<h:outputText value="Dorse Plakası"></h:outputText>
									<p:autoComplete
										value="#{shipmentBean.newShipment.shipmentTrailer}"
										completeMethod="#{autoCompleteBean.autoCompleteShipmentTrailer}"
										var="shipmentTrailer" required="true"
										requiredMessage="Bu alanı doldurmalısınız!"
										itemLabel="#{shipmentTrailer.id} - #{shipmentTrailer.plate}"
										itemValue="#{shipmentTrailer}"
										converter="shipmentTrailerConverter" minQueryLength="1" />

									<h:outputText></h:outputText>
									<h:panelGrid columns="2">
										<p:commandLink title="#{language.ok}"
											update="addShipmentPanelGridId shipmentsAccordionPanelId shipmentListDataTableId"
											process="@this addShipmentPanelGridId allShipmentListDataTableId"
											oncomplete="addShipmentConfirmDialogWidget.hide()"
											actionListener="#{shipmentBean.addNewShipment}">
											<p:graphicImage value="/large_icons/ok.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
										<p:commandLink title="#{language.Cancel}" process="@this"
											update="addShipmentPanelGridId" immediate="true"
											onclick="addShipmentConfirmDialogWidget.hide().hide()">
											<p:graphicImage value="/large_icons/cancel.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
									</h:panelGrid>
								</h:panelGrid>
							</h:form>
						</p:panel>
					</p:dialog>

					<!-- 					UPDATE DIALOG  -->
					<p:dialog draggable="true" closable="true" dynamic="true"
						maximizable="true" style="min-width:600px"
						header="Sevkiyat Ekle..." id="updateShipmentConfirmDialogId"
						widgetVar="updateShipmentConfirmDialogWidget">
						<p:panel style="width:100%; text-align:left; pupdateing:5px"
							id="updateShipmentPanelId">
							<h:form id="updateShipmentFormId">
								<h:panelGrid border="0" cellspacing="5" columns="2"
									style="width:100%" id="updateShipmentPanelGridId">

									<h:outputText value="Şoför İsmi"></h:outputText>
									<p:autoComplete
										value="#{shipmentBean.selectedShipment.shipmentDriver}"
										completeMethod="#{autoCompleteBean.autoCompleteShipmentDriver}"
										var="shipmentDriver" required="true"
										requiredMessage="Bu alanı doldurmalısınız!"
										itemLabel="#{shipmentDriver.id} - #{shipmentDriver.name}"
										itemValue="#{shipmentDriver}"
										converter="shipmentDriverConverter" minQueryLength="1" />

									<h:outputText value="Çekici Plakası"></h:outputText>
									<p:autoComplete
										value="#{shipmentBean.selectedShipment.shipmentTruck}"
										completeMethod="#{autoCompleteBean.autoCompleteShipmentTruck}"
										var="shipmentTruck" required="true"
										requiredMessage="Bu alanı doldurmalısınız!"
										itemLabel="#{shipmentTruck.id} - #{shipmentTruck.plate}"
										itemValue="#{shipmentTruck}"
										converter="shipmentTruckConverter" minQueryLength="1" />

									<h:outputText value="Dorse Plakası"></h:outputText>
									<p:autoComplete
										value="#{shipmentBean.selectedShipment.shipmentTrailer}"
										completeMethod="#{autoCompleteBean.autoCompleteShipmentTrailer}"
										var="shipmentTrailer" required="true"
										requiredMessage="Bu alanı doldurmalısınız!"
										itemLabel="#{shipmentTrailer.id} - #{shipmentTrailer.plate}"
										itemValue="#{shipmentTrailer}"
										converter="shipmentTrailerConverter" minQueryLength="1" />

									<h:outputText></h:outputText>
									<h:panelGrid columns="2">
										<p:commandLink title="#{language.ok}"
											update="updateShipmentPanelGridId shipmentsAccordionPanelId shipmentListDataTableId"
											process="@this updateShipmentPanelGridId allShipmentListDataTableId"
											oncomplete="updateShipmentConfirmDialogWidget.hide()"
											actionListener="#{shipmentBean.updateselectedShipment}">
											<p:graphicImage value="/large_icons/ok.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
										<p:commandLink title="#{language.Cancel}" process="@this"
											update="updateShipmentPanelGridId" immediate="true"
											onclick="updateShipmentConfirmDialogWidget.hide().hide()">
											<p:graphicImage value="/large_icons/cancel.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
									</h:panelGrid>
								</h:panelGrid>
							</h:form>
						</p:panel>
					</p:dialog>

					<!-- 					EDIT PIPES DIALOG  -->
					<p:dialog draggable="true" closable="true" dynamic="true"
						maximizable="true" style="min-width:600px"
						header="Sevkiyat Ekle..." id="updatePipesConfirmDialogId"
						widgetVar="updatePipesConfirmDialogWidget">

						<h:outputText value=" BORU BARKOD OKUT "
							style="font-weight: bold;"></h:outputText>
						<p:inputText id="inputBarkod" style="width:100px;"
							value="#{shipmentBean.readBarcode}">
						</p:inputText>
						<p:commandButton value="Boru Ekle"
							actionListener="#{shipmentBean.addPipeToShipment}"
							update="growl shipmentListDataTableId pipeListDataTableId"
							process="@this inputBarkod" styleClass="foo">
						</p:commandButton>

						<p:dataTable var="pipe" dblClickSelect="false"
							widgetVar="pipeListDataTableWidget" id="pipeListDataTableId"
							value="#{shipmentBean.selectedShipment.pipes}" rows="20"
							selection="#{shipmentBean.selectedPipe}" rowIndexVar="rowIndex"
							rowKey="#{pipe.pipeId}" selectionMode="single">

							<p:column headerText="#" style="width: 5%;">
								<h:outputText value="#{rowIndex+1}"></h:outputText>
							</p:column>

							<p:column sortBy="#{pipe.pipeBarkodNo}"
								filterBy="#{pipe.pipeBarkodNo}">
								<f:facet name="header">
									<h:outputText value="Barkod"></h:outputText>
								</f:facet>
								<h:outputText value="#{pipe.pipeBarkodNo}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="Kaplama"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{pipe.kaplamaTestSonuc}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px" rendered="#{!pipe.kaplamaTestSonuc}"></p:graphicImage>
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="Tahribatlı"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{pipe.tahribatliTestSonuc}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px" rendered="#{!pipe.tahribatliTestSonuc}"></p:graphicImage>
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="Tahribatsız"></h:outputText>
								</f:facet>
								<p:graphicImage value="/large_icons/done.png" style="border:0px"
									rendered="#{pipe.tahribatsizTestSonuc}"></p:graphicImage>
								<p:graphicImage value="/large_icons/close.png"
									style="border:0px" rendered="#{!pipe.tahribatsizTestSonuc}"></p:graphicImage>
							</p:column>

						</p:dataTable>

						<h:panelGrid border="0" columns="5" cellspacing="5"
							id="pipesButtonsPanelGridId">
							<p:commandButton value="#{language.Delete}"
								widgetVar="deletePipeButtonWidget" id="deletePipeButtonId"
								process="@all" onclick="deletePipeConfirmDialogWidget.show()"
								icon="ui-icon-circle-minus">
							</p:commandButton>
						</h:panelGrid>

						<!-- 					DELETE DIALOG  -->
						<p:dialog draggable="true" closable="true" dynamic="true"
							maximizable="true" style="min-width:600px"
							header="Boruyu sevkiyattan çıkar?" id="deletePipeConfirmDialogId"
							widgetVar="deletePipeConfirmDialogWidget">
							<p:panel closable="false" toggleable="true"
								id="deletePipePanelId" style="width:100%"
								widgetVar="deletePipePanelWidget" visible="true">
								<h:panelGrid border="0" columns="5" style="width:100%">
									<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
								</h:panelGrid>
								<h:panelGrid cellspacing="5" columns="5">
									<p:commandLink title="#{language.ok}"
										update="growl shipmentListDataTableId pipeListDataTableId"
										process="@this shipmentListDataTableId pipeListDataTableId updatePipesConfirmDialogId"
										oncomplete="deletePipeConfirmDialogWidget.hide();"
										actionListener="#{shipmentBean.removePipeFromShipment}">
										<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
									</p:commandLink>
									<p:commandLink title="#{language.Cancel}" process="@this"
										update="deletePipeMessage" immediate="true"
										onclick="deletePipeConfirmDialogWidget.hide()">
										<p:graphicImage value="/large_icons/cancel.png"
											style="border:0px"></p:graphicImage>
									</p:commandLink>
								</h:panelGrid>
								<p:messages showDetail="false" showSummary="true"
									id="deletePipeMessage"></p:messages>
							</p:panel>
						</p:dialog>
					</p:dialog>
				</p:tab>
			</p:accordionPanel>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>