<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:growl id="growl"></p:growl>
			<p:accordionPanel autoHeight="false" style="padding:0px; width:100%"
				id="shipmentsAccordionPanelId">

				<p:tab title="Tamamlanmış Sevkiyatlar">
					<p:dataTable var="shipment" dblClickSelect="false"
						widgetVar="preparedShipmentListDataTableWidget"
						id="preparedShipmentListDataTableId"
						value="#{shipmentBean.allPraparedShipments}"
						selection="#{shipmentBean.selectedShipment}" rows="20"
						rowKey="#{shipment.id}" selectionMode="single"
						rowIndexVar="rowIndex">

						<p:ajax event="rowSelect" update="shipmentsAccordionPanelId"></p:ajax>

						<p:column headerText="#" style="width: 5%;">
							<h:outputText value="#{rowIndex+1}"></h:outputText>
						</p:column>

						<p:column sortBy="#{shipment.shipmentNumber}"
							filterBy="#{shipment.shipmentNumber}">
							<f:facet name="header">
								<h:outputText value="İrsaliye No"></h:outputText>
							</f:facet>
							<h:outputText value="#{shipment.shipmentNumber}"></h:outputText>
						</p:column>
						<p:column sortBy="#{shipment.shipmentDriver.name}"
							filterBy="#{shipment.shipmentDriver.name}">
							<f:facet name="header">
								<h:outputText value="Şoför"></h:outputText>
							</f:facet>
							<h:outputText value="#{shipment.shipmentDriver.name}"></h:outputText>
						</p:column>
						<p:column sortBy="#{shipment.shipmentTruck.plate}"
							filterBy="#{shipment.shipmentTruck.plate}">
							<f:facet name="header">
								<h:outputText value="Çekici Plakası"></h:outputText>
							</f:facet>
							<h:outputText value="#{shipment.shipmentTruck.plate}"></h:outputText>
						</p:column>
						<p:column sortBy="#{shipment.shipmentTrailer.plate}"
							filterBy="#{shipment.shipmentTrailer.plate}">
							<f:facet name="header">
								<h:outputText value="Dorse Plakası"></h:outputText>
							</f:facet>
							<h:outputText value="#{shipment.shipmentTrailer.plate}"></h:outputText>
						</p:column>
						<p:column sortBy="#{shipment.eklemeZamani}"
							filterBy="#{shipment.eklemeZamani}">
							<f:facet name="header">
								<h:outputText value="Ekleme Zamanı"></h:outputText>
							</f:facet>
							<h:outputText value="#{shipment.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column sortBy="#{shipment.pipes.size()}"
							filterBy="#{shipment.pipes.size()}">
							<f:facet name="header">
								<h:outputText value="Boru Sayısı"></h:outputText>
							</f:facet>
							<h:outputText value="#{shipment.pipes.size()}"></h:outputText>
						</p:column>

					</p:dataTable>
				</p:tab>

				<p:tab title="Borular">

					<p:dataTable var="pipe" dblClickSelect="false"
						widgetVar="pipeListDataTableWidget" id="pipeListDataTableId"
						value="#{shipmentBean.selectedShipment.pipes}" rows="20"
						rowKey="pipe" selection="false" rowIndexVar="rowIndex">

						<p:column headerText="#" style="width: 5%;">
							<h:outputText value="#{rowIndex+1}"></h:outputText>
						</p:column>

						<p:column sortBy="#{pipe.pipeBarkodNo}"
							filterBy="#{pipe.pipeBarkodNo}">
							<f:facet name="header">
								<h:outputText value="Barkod"></h:outputText>
							</f:facet>
							<h:outputText value="#{pipe.pipeBarkodNo}"></h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="Kaplama"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{pipe.kaplamaTestSonuc}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{!pipe.kaplamaTestSonuc}"></p:graphicImage>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="Tahribatlı"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{pipe.tahribatliTestSonuc}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{!pipe.tahribatliTestSonuc}"></p:graphicImage>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="Tahribatsız"></h:outputText>
							</f:facet>
							<p:graphicImage value="/large_icons/done.png" style="border:0px"
								rendered="#{pipe.tahribatsizTestSonuc}"></p:graphicImage>
							<p:graphicImage value="/large_icons/close.png" style="border:0px"
								rendered="#{!pipe.tahribatsizTestSonuc}"></p:graphicImage>
						</p:column>

					</p:dataTable>

				</p:tab>
			</p:accordionPanel>

		</ui:define>
	</ui:composition>
</h:body>
</html>