<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px" id="accordionPanelId">
				<p:tab title="#{language.Customer}">
					<p:dataTable var="customerRelation" id="customerDataTableId"
						widgetVar="customerDataTableWidget"
						rowKey="#{customerRelation.customerRelationId}"
						dblClickSelect="false" value="#{myCustomerList.customerRelations}"
						paginator="true" rows="20"
						selection="#{myCustomerList.selectedCustomer}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect"
							update="customerPanelId myScheduleId crmMessages"
							listener="#{mySchedule.display}"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Name}"></h:outputText>
							</f:facet>
							<h:outputText value="#{customerRelation.customer.name}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.BusinessId}"></h:outputText>
							</f:facet>
							<h:outputText value="#{customerRelation.customer.businessId}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Type}"></h:outputText>
							</f:facet>
							<h:outputText value="#{customerRelation.customer.companyType}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Website}"></h:outputText>
							</f:facet>
							<h:outputText value="#{customerRelation.customer.website}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.CustomerType}"></h:outputText>
							</f:facet>
							<p:selectOneMenu layout="lineDirection" style="width: 140px"
								value="#{customerRelation.customer.companyType}" required="true"
								disabled="true" requiredMessage="#{language.RequiredMessage}">
								<c:forEach items="#{customerTypeRequestBean.types}" var="type">
									<f:selectItem itemValue="#{type.key}" itemLabel="#{type.value}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>
						</p:column>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
		</ui:define>

		<ui:define name="showPanel">
			<p:panel
				header="#{language.Company}: #{myCustomerList.selectedCustomer.customer.name}"
				id="customerPanelId" widgetVar="customerPanelWidget" visible="true">
				<h:panelGrid border="0" columns="4" style="width:100%"
					id="customerPanelGridId">
					<h:outputLabel value="#{language.Name} *: "></h:outputLabel>
					<p:inputText
						value="#{myCustomerList.selectedCustomer.customer.name}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.BusinessId} *: "></h:outputLabel>
					<p:inputText
						value="#{myCustomerList.selectedCustomer.customer.businessId}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.Type} : "></h:outputLabel>
					<p:inputText
						value="#{myCustomerList.selectedCustomer.customer.companyType}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.Address}:  " />
					<p:inputTextarea
						value="#{myCustomerList.selectedCustomer.customer.address}"
						rows="5" readonly="true" style="width:125px" autoResize="false"
						cols="10"></p:inputTextarea>

					<h:outputLabel value="#{language.City} : "></h:outputLabel>
					<p:inputText
						value="#{myCustomerList.selectedCustomer.customer.city}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.Country} : "></h:outputLabel>
					<p:inputText
						value="#{myCustomerList.selectedCustomer.customer.ulke.ulkeIsmi}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.PostalCode} : "></h:outputLabel>
					<p:inputText
						value="#{myCustomerList.selectedCustomer.customer.postalCode}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.PhoneNumber} : "></h:outputLabel>
					<p:inputText
						value="#{myCustomerList.selectedCustomer.customer.phoneNumber}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.FaxNumber} : "></h:outputLabel>
					<p:inputText
						value="#{myCustomerList.selectedCustomer.customer.faxNumber}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.eMail} : "></h:outputLabel>
					<p:inputText
						value="#{myCustomerList.selectedCustomer.customer.eMail}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.Website} : "></h:outputLabel>
					<p:inputText
						value="#{myCustomerList.selectedCustomer.customer.website}"
						readonly="true"></p:inputText>
				</h:panelGrid>

				<h:panelGrid border="0" columns="11">
					<p:commandLink title="#{language.AddMeeting}"
						disabled="#{myCustomerList.selectedCustomer.customer.customerId == null}"
						oncomplete="addMeetingDialogWidget.show()"
						process="@this customerPanelId" update="addMeetingPanelId">
						<p:graphicImage value="/large_icons/addevent.png"
							style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>

				<p:schedule widgetVar="myScheduleWidget" view="agendaWeek"
					value="#{mySchedule.model}" id="myScheduleId"
					style="width:100%; height:400px">
					<p:ajax event="eventSelect" listener="#{mySchedule.onEventSelect}"
						update="updateEventPanelId"
						oncomplete="updateEventDialogWidget.show()"></p:ajax>
				</p:schedule>
			</p:panel>

			<h:panelGrid cellspacing="0" id="allPanelGridId">

				<!-- UPDATE AN EVENT  -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" header="#{language.Update}"
					id="updateEventDialogId" widgetVar="updateEventDialogWidget">
					<p:panel style="min-width:600px" id="updateEventPanelId"
						closable="false" toggleable="true">
						<h:panelGrid border="0" columns="2" style="width:100%"
							id="updateEventPanelGridId">
							<h:outputLabel value="#{language.MeetingType} : "></h:outputLabel>
							<p:selectOneMenu required="true"
								requiredMessage="#{language.RequiredMessage}"
								value="#{mySchedule.selectedMeeting.contactType.contactTypeId}">
								<c:forEach items="#{contactTypes.contactTypes}"
									var="contactType">
									<f:selectItem itemValue="#{contactType.contactTypeId}"
										itemLabel="#{contactType.name}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel value="#{language.PlannedDate} *: "></h:outputLabel>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat} HH:mm"
								value="#{mySchedule.selectedMeeting.plannedDate}"></p:calendar>

							<h:outputLabel value="#{language.RealizationDate} *: "></h:outputLabel>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat} HH:mm"
								value="#{mySchedule.selectedMeeting.realizationDate}"></p:calendar>

							<h:outputLabel value="#{language.Duration} : "></h:outputLabel>
							<p:inputText readonly="true"
								converterMessage="#{language.nbLayersConverterError}"
								value="#{mySchedule.selectedMeeting.duration}"></p:inputText>

							<h:outputLabel value="#{language.Topic} : "></h:outputLabel>
							<p:inputText readonly="true" maxlength="128"
								value="#{mySchedule.selectedMeeting.topic}"></p:inputText>

							<h:outputLabel value="#{language.Briefing} : "></h:outputLabel>
							<p:inputTextarea value="#{mySchedule.selectedMeeting.briefing}"
								autoResize="false" cols="5" style="width:130px"></p:inputTextarea>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.Submit}"
								disabled="#{mySchedule.selectedMeeting.customerRelationContactId == null}"
								update="updateEventPanelId" process="@this updateEventPanelId"
								actionListener="#{mySchedule.updateMeeting}">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Delete}"
								disabled="#{mySchedule.selectedMeeting.customerRelationContactId == null}"
								update="updateEventPanelId myScheduleId"
								process="@this updateEventPanelId"
								actionListener="#{mySchedule.deleteMeeting}">
								<p:graphicImage value="/large_icons/delete.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="updateMeetingMessages" process="@this"
								onclick="updateEventDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>

						<p:messages id="updateMeetingMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- ADD A MEETING WITH THE SELECTED CUSTOMER  -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" header="#{language.AddMeeting}"
					id="addMeetingDialogId" widgetVar="addMeetingDialogWidget">
					<p:panel style="min-width:600px" id="addMeetingPanelId"
						closable="false" toggleable="true">
						<h:panelGrid border="0" columns="2" style="width:100%"
							id="addMeetingPanelGridId">
							<h:outputLabel value="#{language.MeetingType} : "></h:outputLabel>
							<p:selectOneMenu required="true"
								requiredMessage="#{language.RequiredMessage}"
								value="#{myCustomerList.meeting.contactType.contactTypeId}">
								<c:forEach items="#{contactTypes.contactTypes}"
									var="contactType">
									<f:selectItem itemValue="#{contactType.contactTypeId}"
										itemLabel="#{contactType.name}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel value="#{language.PlannedDate} *: "></h:outputLabel>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat} HH:mm"
								value="#{myCustomerList.meeting.plannedDate}"></p:calendar>

							<h:outputLabel value="#{language.Duration} : "></h:outputLabel>
							<p:inputText
								converterMessage="#{language.nbLayersConverterError}"
								value="#{myCustomerList.meeting.duration}"></p:inputText>

							<h:outputLabel value="#{language.Topic} : "></h:outputLabel>
							<p:inputText maxlength="128"
								value="#{myCustomerList.meeting.topic}"></p:inputText>

							<h:outputLabel value="#{language.Briefing} : "></h:outputLabel>
							<p:inputTextarea value="#{myCustomerList.meeting.briefing}"
								autoResize="false" cols="5" style="width:130px"></p:inputTextarea>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.Submit}"
								update="myScheduleId addMeetingPanelId"
								process="@this addMeetingPanelId"
								actionListener="#{myCustomerList.addMeeting}">
								<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="addMeetingMessages " process="@this"
								onclick="addMeetingDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="addMeetingMessages"></p:messages>
					</p:panel>
				</p:dialog>

			</h:panelGrid>

			<p:messages id="crmMessages"></p:messages>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>
