<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px" id="accordionPanelId">
				<p:tab title="#{language.Events}">
					<p:dataTable var="event" id="eventDataTableId"
						widgetVar="eventDataTableWidget"
						rowKey="#{event.employeeEventParticipationId}"
						dblClickSelect="false" value="#{myEvents.events}" paginator="true"
						rows="20" selection="#{myEvents.selectedEvent}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect" update="eventDataTableId eventPanelId"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Type}"></h:outputText>
							</f:facet>
							<h:outputText value="#{event.event.eventType.name}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.PlannedDate}"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat}" disabled="true"
								value="#{event.event.plannedDate}"></p:calendar>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.RealizationDate}"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat}" disabled="true"
								value="#{event.event.realizationDate}"></p:calendar>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Participated}"></h:outputText>
							</f:facet>
							<p:selectOneMenu value="#{event.participated}"
								disabled="#{myEvents.selectedEvent.employeeEventParticipationId == null}"
								style="width: 100px">
								<f:selectItem itemValue="true" itemLabel="#{language.Yes}"></f:selectItem>
								<f:selectItem itemValue="false" itemLabel="#{language.No}"></f:selectItem>

								<p:ajax listener="#{myEvents.onParticipatedSelect}"
									event="change" update="accordionPanelId">
								</p:ajax>

							</p:selectOneMenu>
						</p:column>

					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
		</ui:define>

		<ui:define name="showPanel">
			<p:panel
				header="#{language.Event}: #{events.selectedEvent.eventType.name}"
				id="eventPanelId" widgetVar="eventPanelWidget" visible="true">
				<h:panelGrid border="0" columns="2" style="width:100%"
					id="eventPanelGridId">
					<h:outputLabel value="#{language.EventType} : "></h:outputLabel>
					<p:inputText value="#{myEvents.selectedEvent.event.eventType.name}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.PlannedDate} (gg/aa/yyyy)*: "></h:outputLabel>
					<p:calendar mode="popup"
						pattern="#{userCredentialsBean.dateFormat}" disabled="true"
						value="#{myEvents.selectedEvent.event.plannedDate}"></p:calendar>

					<h:outputLabel value="#{language.RealizationDate} (gg/aa/yyyy)*: "></h:outputLabel>
					<p:calendar mode="popup"
						pattern="#{userCredentialsBean.dateFormat}" disabled="true"
						value="#{myEvents.selectedEvent.event.realizationDate}"></p:calendar>

					<h:outputLabel value="#{language.TotalCost} : "></h:outputLabel>
					<p:inputText
						value="#{myEvents.selectedEvent.event.totalCost} #{currencies.defaultCurrency.currencyCode}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.EstimatedCost} : "></h:outputLabel>
					<p:inputText
						value="#{myEvents.selectedEvent.event.estimatedCost} #{currencies.defaultCurrency.currencyCode}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.Note}:  " />
					<p:inputTextarea value="#{myEvents.selectedEvent.event.note}"
						rows="5" readonly="true" style="width:125px" autoResize="false"
						cols="10"></p:inputTextarea>
				</h:panelGrid>

				<p:dataTable var="cost" id="costDataTableId"
					widgetVar="costDataTableWidget"
					rowKey="#{cost.eventCostBreakdownId}" dblClickSelect="false"
					value="#{myEvents.selectedEvent.event.eventCostBreakdowns}"
					rows="40">
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Type}"></h:outputText>
						</f:facet>
						<h:outputText value="#{cost.costType.name}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.AmountPaid}"></h:outputText>
						</f:facet>
						<h:outputText
							value="#{cost.amountPaid} #{cost.currency.currencyCode}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.ExchangeRate}"></h:outputText>
						</f:facet>
						<h:outputText value="#{cost.tlExchangeRate}"></h:outputText>
					</p:column>

					<f:facet name="header">
						<h:outputText value="#{language.CostBreakdown}"></h:outputText>
					</f:facet>

				</p:dataTable>

			</p:panel>

			<h:panelGrid cellspacing="0" id="allPanelGridId">
			</h:panelGrid>

			<p:messages id="eventMessages"></p:messages>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>
