<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main.xhtml">
		<ui:define name="sideMenu">
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px" id="accordionPanelId">
				<p:tab title="#{language.Events}">
					<p:dataTable var="event" id="eventDataTableId"
						widgetVar="eventDataTableWidget" rowKey="#{event.eventId}"
						dblClickSelect="false" value="#{events.events}" paginator="true"
						rows="20" selection="#{events.selectedEvent}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">
						<p:ajax event="rowSelect" update="eventDataTableId eventPanelId"></p:ajax>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.Type}"></h:outputText>
							</f:facet>
							<h:outputText value="#{event.eventType.name}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.PlannedDate}"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat}" disabled="true"
								value="#{event.plannedDate}"></p:calendar>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.RealizationDate}"></h:outputText>
							</f:facet>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat}" disabled="true"
								value="#{event.realizationDate}"></p:calendar>
						</p:column>

						<f:facet name="footer">
							<h:panelGrid border="0" columns="3" cellspacing="5"
								style="align: right;">
								<p:commandLink title="#{language.Add}" update="eventDataTableId"
									process="@this eventDataTableId"
									onclick="addEventDialogWidget.show()">
									<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
								</p:commandLink>

								<p:commandLink title="#{language.Update}"
									process="@this eventDataTableId" update="updateEventPanelId"
									disabled="#{events.selectedEvent.eventId == null}"
									onclick="updateEventDialogWidget.show()">
									<p:graphicImage value="/large_icons/update.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>

								<p:commandLink title="#{language.Delete}"
									process="@this eventDataTableId"
									disabled="#{events.selectedEvent.eventId == null}"
									onclick="deleteEventDialogWidget.show()">
									<p:graphicImage value="/large_icons/delete.png"
										style="border:0px"></p:graphicImage>
								</p:commandLink>
							</h:panelGrid>
						</f:facet>

					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
		</ui:define>

		<ui:define name="showPanel">
			<p:panel
				header="#{language.Event}: #{events.selectedEvent.eventType.name}"
				id="eventPanelId" widgetVar="eventPanelWidget" visible="true">
				<h:panelGrid border="0" columns="2" style="width:100%"
					id="eventPanelGridId">
					<h:outputLabel value="#{language.EventType} : "></h:outputLabel>
					<p:inputText value="#{events.selectedEvent.eventType.name}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.PlannedDate} (gg/aa/yyyy)*: "></h:outputLabel>
					<p:calendar mode="popup"
						pattern="#{userCredentialsBean.dateFormat}" disabled="true"
						value="#{events.selectedEvent.plannedDate}"></p:calendar>

					<h:outputLabel value="#{language.RealizationDate} (gg/aa/yyyy)*: "></h:outputLabel>
					<p:calendar mode="popup"
						pattern="#{userCredentialsBean.dateFormat}" disabled="true"
						value="#{events.selectedEvent.realizationDate}"></p:calendar>

					<h:outputLabel value="#{language.TotalCost} : "></h:outputLabel>
					<p:inputText
						value="#{events.selectedEvent.totalCost} #{currencies.defaultCurrency.currencyCode}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.EstimatedCost} : "></h:outputLabel>
					<p:inputText
						value="#{events.selectedEvent.estimatedCost} #{currencies.defaultCurrency.currencyCode}"
						readonly="true"></p:inputText>

					<h:outputLabel value="#{language.Note}:  " />
					<p:inputTextarea value="#{events.selectedEvent.note}" rows="5"
						readonly="true" style="width:125px" autoResize="false" cols="10"></p:inputTextarea>
				</h:panelGrid>

				<h:panelGrid border="0" columns="3">
					<p:commandLink title="#{language.AddParticipants}"
						update="participantsPanelId" process="@this eventPanelId"
						disabled="#{events.selectedEvent.eventId == null}"
						actionListener="#{availableEmployees.load}"
						oncomplete="participantsDialogWidget.show()">
						<p:graphicImage value="/large_icons/addparticipants.png"
							style="border:0px"></p:graphicImage>
					</p:commandLink>

					<p:commandLink title="#{language.Participants}"
						update="viewParticipantsPanelId" process="@this eventPanelId"
						disabled="#{events.selectedEvent.eventId == null}"
						oncomplete="viewParticipantsDialogWidget.show()">
						<p:graphicImage value="/large_icons/participants.png"
							style="border:0px"></p:graphicImage>
					</p:commandLink>
				</h:panelGrid>


				<p:dataTable var="cost" id="costDataTableId"
					widgetVar="costDataTableWidget"
					rowKey="#{cost.eventCostBreakdownId}" dblClickSelect="false"
					value="#{events.selectedEvent.eventCostBreakdowns}" rows="40"
					selection="#{events.selectedCost}" selectionMode="single">
					<p:ajax event="rowSelect" update="costDataTableId"></p:ajax>
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Type}"></h:outputText>
						</f:facet>
						<h:outputText value="#{cost.costType.name}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.AmountPaid}"></h:outputText>
						</f:facet>
						<h:outputText
							value="#{cost.amountPaid} #{cost.currency.currencyCode}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.ExchangeRate}"></h:outputText>
						</f:facet>
						<h:outputText value="#{cost.tlExchangeRate}"></h:outputText>
					</p:column>

					<f:facet name="footer">
						<h:panelGrid border="0" columns="3" style="align:right; width:20%">
							<p:commandLink title="#{language.Add}" update="addCostPanelId"
								disabled="#{events.selectedEvent.eventId == null}"
								actionListener="#{costTypes.load}" process="@this "
								oncomplete="addCostDialogWidget.show()">
								<p:graphicImage value="/large_icons/add.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Update}"
								update="updateCostPanelId"
								disabled="#{events.selectedCost.eventCostBreakdownId == null}"
								process="@this" oncomplete="updateCostDialogWidget.show()">
								<p:graphicImage value="/large_icons/update.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Delete}"
								process="@this eventPanelId" update="eventPanelId eventMessages"
								actionListener="#{events.deleteCost}"
								disabled="#{events.selectedCost.eventCostBreakdownId == null}">
								<p:graphicImage value="/large_icons/delete.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
					</f:facet>
					<f:facet name="header">
						<h:outputText value="#{language.CostBreakdown}"></h:outputText>
					</f:facet>

				</p:dataTable>

			</p:panel>

			<h:panelGrid cellspacing="0" id="allPanelGridId">

				<!-- ADD AN EVENT  -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" header="#{language.Add}" id="addEventDialogId"
					widgetVar="addEventDialogWidget">
					<p:panel style="min-width:600px" id="addEventPanelId"
						closable="false" toggleable="true">
						<h:panelGrid border="0" columns="2" style="width:100%"
							id="addEventPanelGridId">
							<h:outputLabel value="#{language.EventType} : "></h:outputLabel>
							<p:selectOneMenu required="true"
								requiredMessage="#{language.RequiredMessage}"
								value="#{events.newEvent.eventType.eventTypeId}">
								<c:forEach items="#{eventTypes.eventTypes}" var="eventType">
									<f:selectItem itemValue="#{eventType.eventTypeId}"
										itemLabel="#{eventType.name}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel value="#{language.PlannedDate} *: "></h:outputLabel>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat} HH:mm"
								required="true" requiredMessage="#{language.RequiredMessage}"
								value="#{events.newEvent.plannedDate}"></p:calendar>

							<h:outputLabel value="#{language.RealizationDate} : "></h:outputLabel>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat} HH:mm"
								value="#{events.newEvent.realizationDate}"></p:calendar>

							<h:outputLabel value="#{language.Note} : "></h:outputLabel>
							<p:inputTextarea value="#{events.newEvent.note}"
								autoResize="false" cols="5" style="width:130px"></p:inputTextarea>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.Submit}"
								update="addEventPanelId eventDataTableId accordionPanelId"
								process="@this addEventPanelId" actionListener="#{events.add}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="addEventMessages" process="@this"
								onclick="addEventDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>

						<p:messages id="addEventMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- DELETE EVENT SECTION -->
				<p:dialog id="deleteEventDialogId" resizable="false"
					widgetVar="deleteEventDialogWidget" closable="true"
					maximizable="true" dynamic="true" draggable="true"
					header="#{language.Delete}">
					<p:panel style="min-width:600px"
						header="#{events.selectedEvent.eventType.name}" closable="true"
						toggleable="true" id="deleteEventPanelId"
						widgetVar="deleteEventPanelWidget" visible="true">
						<h:panelGrid border="0" columns="2" style="width:100%">
							<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.ok}"
								update="deleteEventMessages accordionPanelId eventPanelId"
								process="@this eventPanelId" actionListener="#{events.delete}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="deleteEventMessages" process="@this"
								onclick="deleteEventDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
					</p:panel>
					<p:messages id="deleteEventMessages"></p:messages>
				</p:dialog>

				<!-- ADD COST TO EVENT  -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					dynamic="true" resizable="false" header="#{language.Add}"
					id="addCostDialogId" widgetVar="addCostDialogWidget">
					<p:panel style="min-width:600px" id="addCostPanelId"
						closable="false" toggleable="true">
						<h:panelGrid border="0" columns="3" style="width:100%"
							id="addCostPanelGridId">

							<h:outputLabel value="#{language.CostType} : "></h:outputLabel>
							<p:selectOneMenu
								value="#{costBreakdown.cost.costType.costTypeId}">
								<c:forEach items="#{costTypes.costTypes}" var="costType">
									<f:selectItem itemValue="#{costType.costTypeId}"
										itemLabel="#{costType.name}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>
							<h:outputLabel value=" "></h:outputLabel>

							<h:outputLabel value="#{language.AmountPlanned} : "></h:outputLabel>
							<p:inputText requiredMessage="#{language.RequiredMessage}"
								value="#{costBreakdown.cost.amountPlanned}" required="true">
							</p:inputText>
							<h:outputLabel value=" "></h:outputLabel>

							<h:outputLabel value="#{language.AmountPaid} : "></h:outputLabel>
							<p:inputText requiredMessage="#{language.RequiredMessage}"
								value="#{costBreakdown.cost.amountPaid}" required="true">
							</p:inputText>
							<p:selectOneMenu required="true" id="currenciesSelectId"
								requiredMessage="#{language.RequiredMessage}"
								value="#{costBreakdown.cost.currency.currencyCode}">
								<c:forEach items="#{currencies.currencies}" var="currency">
									<f:selectItem itemValue="#{currency.currencyCode}"
										itemLabel="#{currency.currencyCode}"></f:selectItem>
								</c:forEach>
								<p:ajax listener="#{events.onCurrencySelect}" event="change"
									update="addCostPanelId" process="@this currenciesSelectId">
								</p:ajax>
							</p:selectOneMenu>

							<h:outputLabel value="#{language.ExchangeRate} : " id="rateLabel"
								rendered="#{!events.selectedCurrency.isDefault}"></h:outputLabel>
							<p:inputText requiredMessage="#{language.RequiredMessage}"
								rendered="#{!events.selectedCurrency.isDefault}"
								value="#{costBreakdown.cost.tlExchangeRate}" required="true">
							</p:inputText>
							<h:outputLabel value=""></h:outputLabel>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.Submit}"
								update="addCostPanelId eventPanelId"
								process="@this addCostPanelId"
								actionListener="#{events.addCost}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="addCostMessages" process="@this"
								onclick="addCostDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>

						<p:messages id="addCostMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- UPDATE A SINGLE COST -->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" header="#{language.Update}" dynamic="true"
					id="updateCostDialogId" widgetVar="updateCostDialogWidget">
					<p:panel style="min-width:600px" id="updateCostPanelId"
						closable="false" toggleable="true">
						<h:panelGrid border="0" columns="3" style="width:100%">

							<h:outputLabel value="#{language.CostType} : "></h:outputLabel>
							<p:selectOneMenu
								value="#{events.selectedCost.costType.costTypeId}">
								<c:forEach items="#{costTypes.costTypes}" var="costType">
									<f:selectItem itemValue="#{costType.costTypeId}"
										itemLabel="#{costType.name}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>
							<h:outputLabel value=" "></h:outputLabel>

							<h:outputLabel value="#{language.AmountPlanned} : "></h:outputLabel>
							<p:inputText requiredMessage="#{language.RequiredMessage}"
								value="#{events.selectedCost.amountPlanned}" required="true">
							</p:inputText>
							<h:outputLabel value=" "></h:outputLabel>

							<h:outputLabel value="#{language.AmountPaid} : "></h:outputLabel>
							<p:inputText requiredMessage="#{language.RequiredMessage}"
								value="#{events.selectedCost.amountPaid}" required="true">
							</p:inputText>
							<p:selectOneMenu required="true"
								requiredMessage="#{language.RequiredMessage}"
								value="#{events.selectedCost.currency.currencyCode}">
								<c:forEach items="#{currencies.currencies}" var="currency">
									<f:selectItem itemValue="#{currency.currencyCode}"
										itemLabel="#{currency.currencyCode}"></f:selectItem>
								</c:forEach>
								<p:ajax listener="#{events.onCurrencySelect}" event="change"
									update="updateCostPanelId"></p:ajax>
							</p:selectOneMenu>

							<h:outputLabel value="#{language.ExchangeRate} : "
								rendered="#{!events.selectedCurrency.isDefault}"></h:outputLabel>
							<p:inputText rendered="#{!events.selectedCurrency.isDefault}"
								value="#{events.selectedCost.tlExchangeRate}" required="true">
							</p:inputText>
							<h:outputLabel value=""></h:outputLabel>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.Submit}"
								update="updateCostPanelId eventPanelId"
								process="@this updateCostPanelId"
								actionListener="#{events.updateCost}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="updateCostMessages" process="@this"
								onclick="updateCostDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>

						<p:messages id="updateCostMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- UPDATE AN EVENT-->
				<p:dialog draggable="true" closable="true" maximizable="true"
					resizable="false" header="#{language.Update}" dynamic="true"
					id="updateEventDialogId" widgetVar="updateEventDialogWidget">
					<p:panel style="min-width:600px" id="updateEventPanelId"
						closable="false" toggleable="true">
						<h:panelGrid border="0" columns="2" style="width:100%">
							<h:outputLabel value="#{language.EventType} : "></h:outputLabel>
							<p:selectOneMenu required="true"
								requiredMessage="#{language.RequiredMessage}"
								value="#{events.selectedEvent.eventType.eventTypeId}">
								<c:forEach items="#{eventTypes.eventTypes}" var="eventType">
									<f:selectItem itemValue="#{eventType.eventTypeId}"
										itemLabel="#{eventType.name}"></f:selectItem>
								</c:forEach>
							</p:selectOneMenu>

							<h:outputLabel value="#{language.PlannedDate} *: "></h:outputLabel>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat} HH:mm"
								required="true" requiredMessage="#{language.RequiredMessage}"
								value="#{events.selectedEvent.plannedDate}"></p:calendar>

							<h:outputLabel value="#{language.RealizationDate} : "></h:outputLabel>
							<p:calendar mode="popup" showOn="button" autocomplete="false"
								pattern="#{userCredentialsBean.dateFormat} HH:mm"
								value="#{events.selectedEvent.realizationDate}"></p:calendar>

							<h:outputLabel value="#{language.Note} : "></h:outputLabel>
							<p:inputTextarea value="#{events.selectedEvent.note}"
								autoResize="false" cols="5" style="width:130px"></p:inputTextarea>
						</h:panelGrid>

						<h:panelGrid border="0" columns="3">
							<p:commandLink title="#{language.Submit}"
								update="updateEventPanelId accordionPanelId eventPanelId"
								process="@this updateEventPanelId"
								actionListener="#{events.update}">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" immediate="true"
								update="updateEventMessages" process="@this"
								onclick="updateEventDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>

						<p:messages id="updateEventMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- ADD A LIST OF EMPLOYEES TO PARTICIPATE TO THE EVENT -->
				<p:dialog closable="true" draggable="true" maximizable="true"
					resizable="false" widgetVar="participantsDialogWidget"
					dynamic="true" id="participantsDialogId"
					header="#{language.AddParticipant}">
					<p:panel style="min-width:600px" id="participantsPanelId"
						toggleable="true" closable="false">
						<p:dataTable var="employee"
							widgetVar="participantsDataTableWidget"
							id="participantsDataTableId" rowKey="#{employee.employeeId}"
							value="#{availableEmployees.employees}" paginator="true"
							rows="20" selection="#{availableEmployees.selectedEmployees}"
							emptyMessage="#{language.EmptyMessage}"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

							<p:column selectionMode="multiple" style="width:20px" />

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Employee} #{language.id}"></h:outputText>
								</f:facet>
								<h:outputText value="#{employee.employeeId}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.Name}"></h:outputText>
								</f:facet>
								<h:outputText value="#{employee.firstname} #{employee.lastname}"></h:outputText>
							</p:column>

							<p:column>
								<f:facet name="header">
									<h:outputText value="#{language.StartDate}"></h:outputText>
								</f:facet>
								<p:calendar mode="popup" showOn="button" autocomplete="false"
									pattern="#{userCredentialsBean.dateFormat}" disabled="true"
									value="#{employee.startDate}"></p:calendar>
							</p:column>
						</p:dataTable>

						<h:panelGrid border="0" columns="3" style="align:right; width:20%">
							<p:commandLink title="#{language.Add}"
								process="@this participantsPanelId"
								actionListener="#{events.addParticipants}"
								update="participantsPanelId">
								<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
							</p:commandLink>

							<p:commandLink title="#{language.Cancel}" process="@this"
								oncomplete="participantsDialogWidget.hide()"
								update="participantsMessages">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>
						<p:messages id="participantsMessages"></p:messages>
					</p:panel>
				</p:dialog>

				<!-- VIEW PARTICIPANTS -->
				<p:dialog closable="true" draggable="true" maximizable="true"
					resizable="false" widgetVar="viewParticipantsDialogWidget"
					dynamic="true" id="viewParticipantsDialogId"
					header="#{language.Participants}">
					<p:panel style="min-width:600px" id="viewParticipantsPanelId"
						toggleable="true" closable="false">
						<p:dataGrid id="viewParticipantsDataGridId" var="employee"
							value="#{events.selectedEvent.employeeEventParticipations}"
							columns="2" rows="3" paginator="true" effect="true"
							paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} ">
							<p:column>
								<p:panel header="#{language.Participant}" closable="false">
									<h:panelGrid border="0" columns="2" style="width:100%">
										<h:outputText
											value="#{language.Firstname} #{language.Lastname}: "></h:outputText>
										<h:outputText
											value="#{employee.employee.firstname} #{employee.employee.lastname}"></h:outputText>

										<h:outputText value="#{language.Participated}: "></h:outputText>
										<p:selectOneMenu disabled="true" style="widht: 100px"
											value="#{employee.participated}">
											<f:selectItem itemValue="true" itemLabel="#{language.Yes}"></f:selectItem>
											<f:selectItem itemValue="false" itemLabel="#{language.No}"></f:selectItem>
										</p:selectOneMenu>
									</h:panelGrid>

									<h:panelGrid border="0" columns="4" style="width:100%">
										<p:commandLink process="@this viewParticipantsPanelId"
											update="viewParticipantsPanelId"
											action="#{events.removeParticipant(employee)}">
											<p:graphicImage value="/large_icons/delete.png"
												style="border:0px"></p:graphicImage>
										</p:commandLink>
									</h:panelGrid>
								</p:panel>
							</p:column>
						</p:dataGrid>
						<h:panelGrid border="0" columns="4" style="width:100%">
							<p:commandLink process="@this" update="viewParticipantsMessages"
								title="#{language.Cancel}" immediate="true"
								onclick="viewParticipantsDialogWidget.hide()">
								<p:graphicImage value="/large_icons/cancel.png"
									style="border:0px"></p:graphicImage>
							</p:commandLink>
						</h:panelGrid>

						<p:messages id="viewParticipantsMessages"></p:messages>
					</p:panel>
				</p:dialog>

			</h:panelGrid>

			<p:messages id="eventMessages"></p:messages>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>
