<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:toolbar id="toolbarAnaId">
				<p:toolbarGroup align="center" id="toolbarGroupId">
					<p:commandButton value="SON FLOROSKOPİK KALİBRASYONU"
						actionListener="#{testTahribatsizFloroskopikSonucBean.sonKalibrasyonuGoster}"
						update="growl kalibrasyonPanelGridId" id="kalibrasyonButton"
						process="@this" onclick="kalibrasyonDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="BORUYA KALİBRASYON ATAMA"
						update="growl kalibrasyonPanelGridId kalibrasyonsDataTableId"
						process="@this" onclick="kalibrasyonAtaDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="TAMİR'E GÖNDER"
						update="growl floroskopikPanelGridId floroskopikTest"
						process="@this floroskopikPanelGridId" icon="ui-icon-circle-plus"
						onclick="warningTamirDialog.show();">
					</p:commandButton>
					<p:commandButton value="TORNA'YA GÖNDER"
						update="growl floroskopikPanelGridId floroskopikTest"
						process="@this floroskopikPanelGridId" icon="ui-icon-circle-plus"
						onclick="warningTornaDialog.show();">
					</p:commandButton>
					<p:commandButton value="HİDROSTATİK TESTE GÖNDER"
						update="growl floroskopikPanelGridId floroskopikTest"
						process="@this floroskopikPanelGridId" icon="ui-icon-circle-plus"
						onclick="warningHidrostatikDialog.show();">
					</p:commandButton>
					<p:commandButton value="GÖZ ÖLÇÜYE GÖNDER"
						update="growl floroskopikPanelGridId floroskopikTest"
						process="@this floroskopikPanelGridId" icon="ui-icon-circle-plus"
						onclick="warningGozOlcuDialog.show();" disabled="false">
					</p:commandButton>
					<p:commandButton value="TOPLU RAPORLAMA" id="istatistikButtonId"
						update="growl istatistikPanelGridId" process="@this"
						onclick="istatistikDialogWidget.show()" icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="VARDİYE RAPORLAMA" id="vardiyeButtonId"
						update="growl vardiyePanelGridId" process="@this"
						onclick="vardiyeDialogWidget.show()" icon="ui-icon-circle-plus">
					</p:commandButton>
				</p:toolbarGroup>
			</p:toolbar>
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">

				<!-- Floroskopik -->
				<p:tab id="floroskopikTabId"
					title="FLOROSKOPİK EKRANI *** #{testTahribatsizFloroskopikSonucBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{testTahribatsizFloroskopikSonucBean.selectedPipe.salesItem.itemNo} / #{testTahribatsizFloroskopikSonucBean.selectedPipe.salesItem.proposal.customer.shortName} / #{testTahribatsizFloroskopikSonucBean.selectedPipe.salesItem.diameter}x#{testTahribatsizFloroskopikSonucBean.selectedPipe.salesItem.thickness} / #{testTahribatsizFloroskopikSonucBean.selectedPipe.salesItem.quality} / #{testTahribatsizFloroskopikSonucBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{testTahribatsizFloroskopikSonucBean.barkodNo}">
					</p:inputText>
					<p:commandButton value="BORU BUL"
						update="floroskopikPanelGridId floroskopikTestsDataTableId growl pipeTestsDataTableId orderAccordionPanelId"
						process="@this inputBarkod"
						actionListener="#{testTahribatsizFloroskopikSonucBean.fillTestListFromBarkod(testTahribatsizFloroskopikSonucBean.barkodNo)}"
						icon="ui-icon-circle-plus" styleClass="foo">
					</p:commandButton>
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.floroskopikInspectionResultReportXlsx(testTahribatsizFloroskopikSonucBean.selectedPipe.pipeId)}"
						image="/large_icons/report.png" title="FR-122">
					</h:commandButton>

					<!-- Test Listesi -->
					<p:dataTable var="floroskopikTests"
						id="floroskopikTestsDataTableId" rowKey="#{floroskopikTests.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizFloroskopikSonucBean.allTestTahribatsizFloroskopikSonucList}"
						paginator="true" dynamic="true"
						selection="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{testTahribatsizFloroskopikSonucBean.floroskopikListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="growl floroskopikTestsTabId floroskopikTestAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="growl floroskopikTestsDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="#{language.Floroskopik}" rendered="true"></h:outputText>
						</f:facet>

						<!-- 						<p:column> -->
						<!-- 							<p:commandButton -->
						<!-- 								actionListener="#{testTahribatsizFloroskopikSonucBean.deleteFloroskopikSonuc}" -->
						<!-- 								update="floroskopikPanelGridId floroskopikTestsDataTableId growl pipeTestsDataTableId" -->
						<!-- 								process="@this floroskopikPanelGridId" icon="ui-icon-trash"> -->
						<!-- 								<f:param id="floroskopikDeletePipeId" -->
						<!-- 									value="#{tahribatsizTestOrderListBean.selectedPipe.pipeId}"></f:param> -->
						<!-- 							</p:commandButton> -->
						<!-- 						</p:column> -->

						<!-- 						<p:column headerText="Muayeneyi Yapan "> -->
						<!-- 							<h:outputText -->
						<!-- 								value="#{floroskopikTests.user.employee.firstname} #{floroskopikTests.user.employee.lastname}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column headerText="Muayeneyi Kabul Zamanı">
							<h:outputText value="#{floroskopikTests.guncellemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Muayene Yapan Kullanıcı">
							<h:outputText
								value="#{floroskopikTests.guncelleyenEmployee.employee.firstname} #{floroskopikTests.guncelleyenEmployee.employee.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{testTahribatsizFloroskopikSonucBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{testTahribatsizFloroskopikSonucBean.selectedPipe.salesItem.itemNo} - #{testTahribatsizFloroskopikSonucBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Boru Ucu">
							<p:selectOneMenu value="#{floroskopikTests.boruUcu}"
								disabled="true">
								<f:selectItem itemValue="0" itemLabel="SEÇİLMEMİŞ"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="A Ucu"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="B Ucu"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="A - B Ucu"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="#{language.WeldingProcess}">
							<p:selectOneMenu value="#{floroskopikTests.kaynakIslemi}"
								disabled="true">
								<f:selectItem itemValue="1" itemLabel="#{language.Saw}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Smaw}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="EK #{language.Saw}"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="EK #{language.Smaw}"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="Koordinat Q ">
							<h:outputText value="#{floroskopikTests.koordinatQ}"></h:outputText>
						</p:column>

						<p:column headerText="Koordinat L ">
							<h:outputText value="#{floroskopikTests.koordinatL}"></h:outputText>
						</p:column>

						<!-- 						<p:column headerText="Kaynak Kaçıklığı "> -->
						<!-- 							<h:outputText value="#{floroskopikTests.kaynakKacikligi}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column headerText="Kaynak Kaçıklığı ">
							<p:selectBooleanCheckbox
								value="#{floroskopikTests.kaynakKacikligi}" disabled="true" />
						</p:column>

						<p:column headerText="Aa ">
							<p:selectBooleanCheckbox value="#{floroskopikTests.aa}"
								disabled="true" />
						</p:column>

						<p:column headerText="Ab ">
							<p:selectBooleanCheckbox value="#{floroskopikTests.ab}"
								disabled="true" />
						</p:column>

						<p:column headerText="Ad ">
							<p:selectBooleanCheckbox value="#{floroskopikTests.ad}"
								disabled="true" />
						</p:column>

						<p:column headerText="Ba ">
							<p:selectBooleanCheckbox value="#{floroskopikTests.ba}"
								disabled="true" />
						</p:column>

						<p:column headerText="Bb ">
							<p:selectBooleanCheckbox value="#{floroskopikTests.bb}"
								disabled="true" />
						</p:column>

						<p:column headerText="C ">
							<p:selectBooleanCheckbox value="#{floroskopikTests.c}"
								disabled="true" />
						</p:column>

						<p:column headerText="D ">
							<p:selectBooleanCheckbox value="#{floroskopikTests.d}"
								disabled="true" />
						</p:column>

						<p:column headerText="E ">
							<p:selectBooleanCheckbox value="#{floroskopikTests.e}"
								disabled="true" />
						</p:column>

						<p:column headerText="DE ">
							<p:selectBooleanCheckbox value="#{floroskopikTests.de}"
								disabled="true" />
						</p:column>

						<p:column headerText="F ">
							<p:selectBooleanCheckbox value="#{floroskopikTests.f}"
								disabled="true" />
						</p:column>

						<p:column headerText="#{language.Repair} / #{language.Cut}">
							<p:selectOneMenu value="#{floroskopikTests.tamirKesim}"
								disabled="true">
								<f:selectItem itemValue="-1" itemLabel="YOK"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Repair}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Cut}"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="#{language.Result}">
							<p:selectOneMenu value="#{floroskopikTests.result}"
								disabled="true">
								<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="Torna"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="Kesim"></f:selectItem>
								<f:selectItem itemValue="5" itemLabel="Hidrostatik"></f:selectItem>
								<f:selectItem itemValue="6" itemLabel="Göz Ölçü"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="Açıklamalar ">
							<h:outputText value="#{floroskopikTests.aciklama}"></h:outputText>
						</p:column>

						<p:column headerText="Belirti Açıklamaları ">
							<h:outputText value="#{floroskopikTests.belirtiAciklama}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{floroskopikTests.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Son Güncelleyen Kullanıcı">
							<h:outputText
								value="#{floroskopikTests.guncelleyenEmployee.employee.firstname} #{floroskopikTests.guncelleyenEmployee.employee.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="Kalibrasyon Zamanı">
							<h:outputText
								value="#{floroskopikTests.kalibrasyon.kalibrasyonZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kalibrasyon Yapan">
							<h:outputText
								value="#{floroskopikTests.kalibrasyon.kalibrasyonuYapan}">
							</h:outputText>
						</p:column>
					</p:dataTable>

					<p:contextMenu>
						<p:menuitem value="KOORDİNAT GÜNCELLE"
							icon="ui-icon-arrowrefresh-1-w"
							update="growl floroskopikPanelGridId floroskopikTests"
							process="@this floroskopikPanelGridId"
							onclick="floroskopikDialogWidget.show()" />
						<p:menuitem value="MANUEL BİLGİLERİ"
							actionListener="#{testTahribatsizFloroskopikSonucBean.detayGoster}"
							update="growl manuelUtPanelGridId manuelUtTests"
							process="@this manuelUtPanelGridId"
							onclick="manuelUtDialogWidget.show()" icon="ui-icon-circle-plus" />
						<p:menuitem value="FLOROSKOPİK KALİTE ŞARTLARI"
							actionListener="#{testTahribatsizFloroskopikSonucBean.kaliteGoster}"
							update="growl kaliteSartlariPanelGridId manuelUtTests"
							process="@this kaliteSartlariPanelGridId"
							onclick="kaliteSartlariDialogWidget.show()"
							icon="ui-icon-circle-plus" />
					</p:contextMenu>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="floroskopikTestAddPanelGridId">
						<p:commandButton value="YENİ KOORDİNAT EKLE"
							actionListener="#{testTahribatsizFloroskopikSonucBean.addTestTahribatsizFloroskopikSonuc}"
							update="growl floroskopikPanelGridId floroskopikTests"
							process="@this floroskopikPanelGridId"
							onclick="floroskopikDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="KOORDİNAT GÜNCELLE"
							disabled="#{!testTahribatsizFloroskopikSonucBean.updateButtonRender}"
							update="growl floroskopikPanelGridId floroskopikTests"
							id="updateFloroskopikButton"
							process="@this floroskopikPanelGridId"
							onclick="floroskopikDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="SEÇİLİ KOORDİNAT İÇİN MANUEL UT BİLGİLERİ"
							actionListener="#{testTahribatsizFloroskopikSonucBean.detayGoster}"
							disabled="#{!testTahribatsizFloroskopikSonucBean.updateButtonRender}"
							update="growl manuelUtPanelGridId manuelUtTests"
							id="manuelUtButton" process="@this manuelUtPanelGridId"
							onclick="manuelUtDialogWidget.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="FLOROSKOPİK KALİTE ŞARTLARI"
							actionListener="#{testTahribatsizFloroskopikSonucBean.kaliteGoster}"
							update="growl kaliteSartlariPanelGridId manuelUtTests"
							id="kaliteSartlariButton" process="@this"
							onclick="kaliteSartlariDialogWidget.show()"
							icon="ui-icon-circle-plus"
							disabled="#{!testTahribatsizFloroskopikSonucBean.updateButtonRender}">
						</p:commandButton>
						<p:commandButton
							value="SEÇİLİ KOORDİNATIN FLOROSKOPİK KALİBRASYONU"
							id="kalibrasyonButton"
							actionListener="#{testTahribatsizFloroskopikSonucBean.kalibrasyonGoster}"
							update="growl kalibrasyonPanelGridId manuelUtTests"
							process="@this" onclick="kalibrasyonDialogWidget.show()"
							icon="ui-icon-circle-plus"
							disabled="#{!testTahribatsizFloroskopikSonucBean.updateButtonRender}">
						</p:commandButton>
						<p:commandButton
							actionListener="#{testTahribatsizFloroskopikSonucBean.deleteFloroskopikSonuc}"
							update="floroskopikPanelGridId floroskopikTestsDataTableId growl pipeTestsDataTableId"
							process="@this floroskopikPanelGridId" icon="ui-icon-trash"
							value="KOORDİNAT SİL"
							disabled="#{!testTahribatsizFloroskopikSonucBean.updateButtonRender}">
							<f:param id="floroskopikDeletePipeId"
								value="#{testTahribatsizFloroskopikSonucBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</h:panelGrid>

					<!-- test ekleme dialog -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false"
						header="#{language.KoordinatEkle}" id="floroskopikDialogId"
						widgetVar="floroskopikDialogWidget" showEffect="scale"
						hideEffect="scale">

						<h:panelGrid border="0" columns="6" cellspacing="5"
							style="text-align: center" id="floroskopikPanelGridId">
							<f:facet name="header">
								<h:outputText value="#{language.Floroskopik}" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="#{language.WeldingProcess}"
								style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.kaynakIslemi}">
								<f:selectItem itemValue="1" itemLabel="#{language.Saw}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Smaw}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="EK #{language.Saw}"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="EK #{language.Smaw}"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Kaynak Kaçıklığı" style="font-weight: bold;"></h:outputText>
							<p:selectBooleanCheckbox
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.kaynakKacikligi}" />
							<h:outputText value=""></h:outputText>

							<h:outputText value="Koordinat Q" style="font-weight: bold;"></h:outputText>
							<p:inputText
								disabled="#{testTahribatsizFloroskopikSonucBean.updateButtonRender}"
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.koordinatQ}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Koordinat L" style="font-weight: bold;"></h:outputText>
							<p:inputText
								disabled="#{testTahribatsizFloroskopikSonucBean.updateButtonRender}"
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.koordinatL}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Aa" style="font-weight: bold;"></h:outputText>
							<p:selectBooleanCheckbox
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.aa}" />
							<h:outputText value=""></h:outputText>

							<h:outputText value="Ab" style="font-weight: bold;"></h:outputText>
							<p:selectBooleanCheckbox
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.ab}" />
							<h:outputText value=""></h:outputText>

							<h:outputText value="Ad" style="font-weight: bold;"></h:outputText>
							<p:selectBooleanCheckbox
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.ad}" />
							<h:outputText value=""></h:outputText>

							<h:outputText value="Ba" style="font-weight: bold;"></h:outputText>
							<p:selectBooleanCheckbox
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.ba}" />
							<h:outputText value=""></h:outputText>

							<h:outputText value="Bb" style="font-weight: bold;"></h:outputText>
							<p:selectBooleanCheckbox
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.bb}" />
							<h:outputText value=""></h:outputText>

							<h:outputText value="C" style="font-weight: bold;"></h:outputText>
							<p:selectBooleanCheckbox
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.c}" />
							<h:outputText value=""></h:outputText>

							<h:outputText value="D" style="font-weight: bold;"></h:outputText>
							<p:selectBooleanCheckbox
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.d}" />
							<h:outputText value=""></h:outputText>

							<h:outputText value="E" style="font-weight: bold;"></h:outputText>
							<p:selectBooleanCheckbox
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.e}" />
							<h:outputText value=""></h:outputText>

							<h:outputText value="DE" style="font-weight: bold;"></h:outputText>
							<p:selectBooleanCheckbox
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.de}" />
							<h:outputText value=""></h:outputText>

							<h:outputText value="F" style="font-weight: bold;"></h:outputText>
							<p:selectBooleanCheckbox
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.f}" />
							<h:outputText value=""></h:outputText>

							<h:outputText value="Tamir / Kesim" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.tamirKesim}">
								<f:selectItem itemValue="-1" itemLabel="Yok"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Repair}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Cut}"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Boru Ucu" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.boruUcu}">
								<f:selectItem itemValue="0" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="A Ucu"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="B Ucu"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="A - B Ucu"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Kabul / Red" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.result}">
								<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="Torna"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="Kesim"></f:selectItem>
								<f:selectItem itemValue="5" itemLabel="Hidrostatik"></f:selectItem>
								<f:selectItem itemValue="6" itemLabel="Göz Ölçü"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Açıklamalar " style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.aciklama}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Belirti Açıklaması "
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizFloroskopikSonucForm.belirtiAciklama}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAYDET"
								update="floroskopikPanelGridId floroskopikTestsDataTableId growl pipeTestsDataTableId"
								process="@this floroskopikPanelGridId"
								actionListener="#{testTahribatsizFloroskopikSonucBean.addOrUpdateFloroskopikSonuc}"
								icon="ui-icon-circle-plus"
								oncomplete="if (!args.validationFailed){floroskopikDialogWidget.hide();}">
								<f:param id="manfloroskopiktId"
									value="#{tahribatsizTestOrderListBean.selectedNonTest.testId}"></f:param>
								<f:param id="floroskopikPipeId"
									value="#{tahribatsizTestOrderListBean.selectedPipe.pipeId}"></f:param>
							</p:commandButton>
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="floroskopikDialogWidget.hide()" />
							<!-- 							<p:messages id="floroskopikMessagesId" showDetail="false" -->
							<!-- 								showSummary="false"></p:messages> -->
						</h:panelGrid>
					</p:dialog>

					<!-- manuel ut bilgileri -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false"
						header="#{language.ManuelUtBilgileri}" id="manuelUtDialogId"
						widgetVar="manuelUtDialogWidget" showEffect="scale"
						hideEffect="scale">

						<h:panelGrid border="0" columns="4" cellspacing="5"
							style="text-align: center" id="manuelUtPanelGridId">
							<f:facet name="header">
								<h:outputText value="#{language.ManuelUtBilgileri}"
									rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="#{language.WeldingProcess}"
								style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizManuelUtSonucForm.kaynakIslemi}"
								disabled="true">
								<f:selectItem itemValue="1" itemLabel="#{language.Saw}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Smaw}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="EK #{language.Saw}"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="EK #{language.Smaw}"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="#{language.KoordinatQ}"
								style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizManuelUtSonucForm.koordinatQ}">
							</h:outputText>

							<h:outputText value="#{language.KoordinatL}"
								style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizManuelUtSonucForm.koordinatL}">
							</h:outputText>

							<h:outputText value="#{language.Evaluation}"
								style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizManuelUtSonucForm.degerlendirme}"
								disabled="true">
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="Torna"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="Kesim"></f:selectItem>
								<f:selectItem itemValue="5" itemLabel="Hidrostatik"></f:selectItem>
								<f:selectItem itemValue="6" itemLabel="Göz Ölçü"></f:selectItem>
								<f:selectItem itemValue="7" itemLabel="Karantina"></f:selectItem>
							</p:selectOneMenu>

							<h:outputText value="Tamir Sonrası Durum"
								style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizManuelUtSonucForm.tamirSonrasiDurum}"
								disabled="true">
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="Torna"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="Kesim"></f:selectItem>
								<f:selectItem itemValue="5" itemLabel="Hidrostatik"></f:selectItem>
								<f:selectItem itemValue="6" itemLabel="Göz Ölçü"></f:selectItem>
							</p:selectOneMenu>

							<h:outputText value="Tamir Koordinat L"
								style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizManuelUtSonucForm.tamirSonrasiDegerlendirme}">
							</h:outputText>

							<h:outputText value="#{language.Explanation}"
								style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{testTahribatsizFloroskopikSonucBean.testTahribatsizManuelUtSonucForm.aciklama}">
							</h:outputText>

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="#{language.Close}"
								icon="ui-icon-circle-close" immediate="true"
								onclick="manuelUtDialogWidget.hide()" />
							<p:messages id="manuelUtMessagesId" showDetail="false"
								showSummary="false"></p:messages>
						</h:panelGrid>
					</p:dialog>

					<!-- kalite şartları bilgileri -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false"
						header="FLOROSKOPİK KALİTE TANIMLARI" id="kaliteSartlariDialogId"
						widgetVar="kaliteSartlariDialogWidget" showEffect="scale"
						hideEffect="scale">

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="kaliteSartlariPanelGridId">
							<f:facet name="header">
								<h:outputText
									value="Floroskopik Ultrasonik Muayene Kalite Şartları"
									rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="Test Standardı" style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{testTahribatsizFloroskopikSonucBean.selectedNonTest.standard}">
							</h:outputText>

							<h:outputText value="Değerlendirme Standardı"
								style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{testTahribatsizFloroskopikSonucBean.selectedNonTest.assesStandard}">
							</h:outputText>

							<h:outputText value="Sıklık" style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{testTahribatsizFloroskopikSonucBean.selectedNonTest.frequency}">
							</h:outputText>

							<h:outputText value="Kalibrasyon" style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{testTahribatsizFloroskopikSonucBean.selectedNonTest.calibration}">
							</h:outputText>

							<h:outputText value="Açıklama" style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{testTahribatsizFloroskopikSonucBean.selectedNonTest.explanation}">
							</h:outputText>

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="#{language.Close}"
								icon="ui-icon-circle-close" immediate="true"
								onclick="kaliteSartlariDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>
				</p:tab>
			</p:accordionPanel>

			<p:growl id="growl" showDetail="true" sticky="true" />

			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="FLOROSKOPİK KALİBRASYON BİLGİLERİ" id="kalibrasyonDialogId"
				widgetVar="kalibrasyonDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonPanelGridId">
					<f:facet name="header">
						<h:outputText
							value="FLOROSKOPİK ULTRASONİK MUAYENE KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<h:outputText value="Kalibrasyon Tarihi : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizFloroskopikSonucBean.kalibrasyon.kalibrasyonZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>

					<h:outputText value="Kalibrasyon Yapan : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizFloroskopikSonucBean.kalibrasyon.kalibrasyonuYapan}">
					</h:outputText>

					<h:outputText value="Cihaz : " style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizFloroskopikSonucBean.kalibrasyon.cihaz}">
					</h:outputText>

					<h:outputText value="Tüp Akımı : " style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizFloroskopikSonucBean.kalibrasyon.tupAkimi}">
					</h:outputText>

					<h:outputText value="Tüp Voltajı : " style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizFloroskopikSonucBean.kalibrasyon.tupVoltaji}">
					</h:outputText>

					<h:outputText value="Odak Boyutu : " style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizFloroskopikSonucBean.kalibrasyon.odakBoyutu}">
					</h:outputText>

					<h:outputText value="SNR Norm : " style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizFloroskopikSonucBean.kalibrasyon.snrNorm}">
					</h:outputText>

					<h:outputText value="Muayene Hızı : " style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizFloroskopikSonucBean.kalibrasyon.muayeneHizi}">
					</h:outputText>

					<h:outputText value="Malzeme Dedektör Arasındaki Mesafe - ODD : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizFloroskopikSonucBean.kalibrasyon.odd}">
					</h:outputText>

					<h:outputText value="Kaynak Malzeme Arasındaki Mesafe - SOD : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizFloroskopikSonucBean.kalibrasyon.sod}">
					</h:outputText>

					<h:outputText value="Büyütme Oranı : " style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizFloroskopikSonucBean.kalibrasyon.buyumeOrani}">
					</h:outputText>

					<h:outputText value="Görüntü Kalite Belirteci : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizFloroskopikSonucBean.kalibrasyon.goruntuKaliteBelirteci}">
					</h:outputText>

					<h:outputText value="Görülmesi Gereken Tel Numarası : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizFloroskopikSonucBean.kalibrasyon.telNumarasi}">
					</h:outputText>

					<h:outputText value="Görüntü Kalite Numarası : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizFloroskopikSonucBean.kalibrasyon.kaliteNumarasi}">
					</h:outputText>
				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<p:dialog widgetVar="warningTamirDialog"
				header="#{language.salesWarning}">
				<h:outputText
					value="#{language.salesConfirmation} - Boruyu Tamir'e gönder." />
				<br />

				<p:commandButton value="#{language.cancel}"
					oncomplete="warningTamirDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.submit}"
					actionListener="#{testTahribatsizFloroskopikSonucBean.tamir}"
					oncomplete="warningTamirDialog.hide();"
					update="growl floroskopikPanelGridId floroskopikTests orderAccordionPanelId koordinatsTabId floroskopikTabId"
					process="@this floroskopikPanelGridId" />
			</p:dialog>
			<p:dialog widgetVar="warningTornaDialog"
				header="#{language.salesWarning}">
				<h:outputText
					value="#{language.salesConfirmation} - Boruyu Torna'ya gönder." />
				<br />

				<p:commandButton value="#{language.cancel}"
					oncomplete="warningTornaDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.submit}"
					actionListener="#{testTahribatsizFloroskopikSonucBean.torna}"
					update="growl floroskopikPanelGridId floroskopikTests orderAccordionPanelId koordinatsTabId floroskopikTabId"
					process="@this floroskopikPanelGridId"
					oncomplete="warningTornaDialog.hide();" />
			</p:dialog>
			<p:dialog widgetVar="warningHidrostatikDialog"
				header="#{language.salesWarning}">
				<h:outputText
					value="#{language.salesConfirmation} - Boruyu Hidrostatik Test'e gönder." />
				<br />

				<p:commandButton value="#{language.cancel}"
					oncomplete="warningHidrostatikDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.submit}"
					actionListener="#{testTahribatsizFloroskopikSonucBean.hidrostatik}"
					update="growl floroskopikPanelGridId floroskopikTests orderAccordionPanelId koordinatsTabId floroskopikTabId"
					process="@this floroskopikPanelGridId"
					oncomplete="warningHidrostatikDialog.hide();" />
			</p:dialog>
			<p:dialog widgetVar="warningGozOlcuDialog"
				header="#{language.salesWarning}">
				<h:outputText
					value="#{language.salesConfirmation} - Boruyu Göz Ölçüye gönder." />
				<br />

				<p:commandButton value="#{language.cancel}"
					oncomplete="warningGozOlcuDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.submit}"
					actionListener="#{testTahribatsizFloroskopikSonucBean.gozOlcu}"
					update="growl floroskopikPanelGridId floroskopikTests orderAccordionPanelId koordinatsTabId floroskopikTabId"
					process="@this floroskopikPanelGridId"
					oncomplete="warningGozOlcuDialog.hide();" />
			</p:dialog>

			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="FLOROSKOPİK MUAYENE KALİBRASYON BİLGİLERİ"
				id="kalibrasyonAtaDialogId" widgetVar="kalibrasyonAtaDialogWidget"
				showEffect="scale" hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonAtaPanelGridId">
					<f:facet name="header">
						<h:outputText value="FLOROSKOPİK MUAYENE KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<p:dataTable var="kalibrasyons" id="kalibrasyonsDataTableId"
						rowKey="#{kalibrasyons.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizFloroskopikSonucBean.kalibrasyonlar}"
						paginator="true" dynamic="true"
						selection="#{testTahribatsizFloroskopikSonucBean.kalibrasyon}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<f:facet name="header">
							<h:outputText value="TÜM FLOROSKOPİK KALİBRASYONLARI"
								rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="Kalibrasyon Zamanı">
							<h:outputText value="#{kalibrasyons.kalibrasyonZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kalibrasyon Yapan">
							<h:outputText value="#{kalibrasyons.kalibrasyonuYapan}"></h:outputText>
						</p:column>

					</p:dataTable>

				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="KALİBRASYON ATA" update="growl"
						process="@this kalibrasyonAtaPanelGridId"
						actionListener="#{testTahribatsizFloroskopikSonucBean.kalibrasyonAta}"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonAtaDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- istatistik -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="FLOROSKOPİK İSTASTİSTİK RAPORLARI" id="istatistikDialogId"
				widgetVar="istatistikDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="istatistikPanelGridId">
					<f:facet name="header">
						<h:outputText
							value="FLOROSKOPİK BİLGİLERİ - ÖNCE BORU BARKOD OKUTUNUZ!"
							rendered="true"></h:outputText>
					</f:facet>
					<h:outputText value="İlk Boru Barkod No : "
						style="font-weight: bold;"></h:outputText>
					<p:inputText value="#{testNondestructiveReportBean.firstBarkodNo}"
						disabled="#{!testTahribatsizFloroskopikSonucBean.visibleButtonRender}">
					</p:inputText>
					<h:outputText value="Son Boru Barkod No : "
						style="font-weight: bold;"></h:outputText>
					<p:inputText value="#{testNondestructiveReportBean.secondBarkodNo}"
						disabled="#{!testTahribatsizFloroskopikSonucBean.visibleButtonRender}">
					</p:inputText>
				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="RAPOR OLUŞTUR - SONRA RAPOR TUŞUNA BAS!"
						process="@this istatistikPanelGridId" icon="ui-icon-circle-close"
						actionListener="#{testNondestructiveReportBean.floroskopikInspectionResultReportAllXlsx(testTahribatsizFloroskopikSonucBean.selectedPipe.pipeId)}" />
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.floroskopikInspectionResultReportAllXlsx(testTahribatsizFloroskopikSonucBean.selectedPipe.pipeId)}"
						image="/large_icons/report.png" title="Seçili Borular - FR-122">
					</h:commandButton>
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="istatistikDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- vardiye -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="FLOROSKOPİK VARDİYE RAPORLARI" id="vardiyeDialogId"
				widgetVar="vardiyeDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="vardiyePanelGridId">
					<f:facet name="header">
						<h:outputText
							value="FLOROSKOPİK BİLGİLERİ - ÖNCE BORU BARKOD OKUTUNUZ!"
							rendered="true"></h:outputText>
					</f:facet>

					<h:outputText value="Başlangıç Zamanı (gg/aa/yyyy SS:dd): "
						style="font-weight: bold;"></h:outputText>
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						required="true" requiredMessage="#{language.RequiredMessage}"
						value="#{testNondestructiveReportBean.baslangicTarihi}"
						pattern="dd/MM/yyyy HH:mm" />

					<h:outputText value="Bitiş Zamanı (gg/aa/yyyy SS:dd): "
						style="font-weight: bold;"></h:outputText>
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						required="true" requiredMessage="#{language.RequiredMessage}"
						value="#{testNondestructiveReportBean.bitisTarihi}"
						pattern="dd/MM/yyyy HH:mm" />
				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="2" cellspacing="5">
					<p:commandButton
						value="FR-122 RAPOR OLUŞTUR - SONRA RAPOR TUŞUNA BAS!"
						process="@this vardiyePanelGridId" icon="ui-icon-circle-close"
						actionListener="#{testNondestructiveReportBean.floroskopikInspectionResultReportAllXlsx(testTahribatsizFloroskopikSonucBean.selectedPipe.pipeId)}" />
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.floroskopikInspectionResultReportAllXlsx(testTahribatsizFloroskopikSonucBean.selectedPipe.pipeId)}"
						image="/large_icons/report.png" title="FR-122">
					</h:commandButton>
				</h:panelGrid>
			</p:dialog>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>