<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">
				<!-- Göz Ölçü -->
				<p:tab id="gozOlcuTabId"
					title=" GöZ öLÇü EKRANI *** #{testTahribatsizGozOlcuSonucBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{testTahribatsizGozOlcuSonucBean.selectedPipe.salesItem.itemNo} / #{testTahribatsizGozOlcuSonucBean.selectedPipe.salesItem.proposal.customer.shortName} / #{testTahribatsizGozOlcuSonucBean.selectedPipe.salesItem.diameter}x#{testTahribatsizGozOlcuSonucBean.selectedPipe.salesItem.thickness} / #{testTahribatsizGozOlcuSonucBean.selectedPipe.salesItem.quality} / #{testTahribatsizGozOlcuSonucBean.selectedPipe.salesItem.manufacturingStandard} "
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{testTahribatsizGozOlcuSonucBean.barkodNo}">
					</p:inputText>
					<p:commandButton value="BORU BUL"
						update="gozOlcuPanelGridId gozOlcuTestsDataTableId growl pipeTestsDataTableId gozOlcuTestsTabId gozOlcuTestAddPanelGridId orderAccordionPanelId"
						process="@this inputBarkod"
						actionListener="#{testTahribatsizGozOlcuSonucBean.fillTestListFromBarkod(testTahribatsizGozOlcuSonucBean.barkodNo)}"
						icon="ui-icon-circle-plus" styleClass="foo">
					</p:commandButton>
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.gozOlcuInspectionResultReportXlsx(testTahribatsizGozOlcuSonucBean.selectedPipe.pipeId)}"
						image="/large_icons/report.png" title="TEK BORU FR-18">
					</h:commandButton>

					<!-- 					<h:commandButton immediate="true" -->
					<!-- 						action="#{testNondestructiveReportBean.gozOlcuInspectionResultReportXlsx(testTahribatsizGozOlcuSonucBean.selectedPipe.pipeId,2)}" -->
					<!-- 						image="/large_icons/report.png" title="TEK BORU - İÇ ÇAPLI"> -->
					<!-- 					</h:commandButton> -->

					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.gozOlcuInspectionResultReportAllKabulXlsx(testTahribatsizGozOlcuSonucBean.selectedPipe.salesItem)}"
						image="/large_icons/report.png" title="TÜM SİPARİŞ KABUL FR-18">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.gozOlcuInspectionResultReportAllXlsx(testTahribatsizGozOlcuSonucBean.selectedPipe.salesItem)}"
						image="/large_icons/report.png" title="TÜM SİPARİŞ FR-18">
					</h:commandButton>

					<!-- 					<h:commandButton immediate="true" -->
					<!-- 						action="#{testNondestructiveReportBean.gozOlcuInspectionResultReportAllXlsx(testTahribatsizGozOlcuSonucBean.selectedPipe.salesItem,2)}" -->
					<!-- 						image="/large_icons/report.png" title="TÜM SİPARİŞ - İÇ ÇAPLI"> -->
					<!-- 					</h:commandButton> -->

					<p:commandButton value="VARDİYE RAPORLAMA" id="istatistikButtonId"
						update="growl istatistikPanelGridId" process="@this"
						onclick="istatistikDialogWidget.show()" icon="ui-icon-circle-plus">
					</p:commandButton>

					<!-- Test Listesi -->
					<p:dataTable var="gozOlcuTests" id="gozOlcuTestsDataTableId"
						rowKey="#{gozOlcuTests.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizGozOlcuSonucBean.allTestTahribatsizGozOlcuSonucList}"
						paginator="true" rows="20" dynamic="true"
						selection="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{testTahribatsizGozOlcuSonucBean.gozOlcuListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="growl gozOlcuTestsTabId gozOlcuTestAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="gozOlcuTestsDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="#{language.GozOlcu}"></h:outputText>
						</f:facet>

						<p:columnGroup type="header">
							<p:row>
								<!-- 								<p:column rowspan="3" headerText="#{language.Sil}" /> -->
								<p:column rowspan="3" headerText="Döküm No" />
								<p:column rowspan="3" headerText="Rulo No" />
								<p:column rowspan="3" headerText="Boru No" />
								<p:column rowspan="3" headerText="Boy" />
								<p:column rowspan="3" headerText="Ağırlık" />

								<p:column colspan="4" headerText="Dış Çap" />
								<p:column colspan="6" headerText="Ovallik" />
								<p:column colspan="3" rowspan="2" headerText="A Ucu" />
								<p:column colspan="3" rowspan="2" headerText="B Ucu" />

								<p:column colspan="2" rowspan="2" headerText="Et Kalın." />
								<p:column rowspan="3" headerText="Radyal Kaçık." />
								<p:column colspan="4" rowspan="2"
									headerText="Kay. Dikişi Yüksekliği" />
								<p:column rowspan="3" headerText="Kalıcı Man." />
								<p:column rowspan="3" headerText="Doğrusallık" />
								<p:column rowspan="3" headerText="Açıklamalar" />
								<p:column rowspan="3" headerText="Sonuç" />
								<p:column rowspan="3" headerText="Ekleme Tarihi" />
								<p:column rowspan="3" headerText="Güncelleme Tarihi" />
								<p:column rowspan="3" headerText="Kabul Tarihi" />
							</p:row>

							<p:row>
								<p:column headerText="" />
								<p:column colspan="2" headerText="Gövde" />
								<p:column headerText="" />
								<p:column colspan="2" headerText="A Ucu" />
								<p:column colspan="2" headerText="B Ucu" />
								<p:column colspan="2" headerText="Gövde" />
							</p:row>

							<p:row>
								<p:column headerText="A Ucu" />
								<p:column headerText="Dmin" />
								<p:column headerText="Dmax" />
								<p:column headerText="B Ucu" />

								<p:column headerText="Dmin" />
								<p:column headerText="Dmax" />
								<p:column headerText="Dmin" />
								<p:column headerText="Dmax" />
								<p:column headerText="Dmin" />
								<p:column headerText="Dmax" />

								<p:column headerText="Kaynak Ağzı Aç." />
								<p:column headerText="Alın Yük." />
								<p:column headerText="Boru Ucu Dik." />
								<p:column headerText="Kaynak Ağzı Aç." />
								<p:column headerText="Alın Yük." />
								<p:column headerText="Boru Ucu Dik." />

								<p:column headerText="Min." />
								<p:column headerText="Max." />

								<p:column headerText="İç Min." />
								<p:column headerText="İç Max." />
								<p:column headerText="Dış Min." />
								<p:column headerText="Dış Max." />
							</p:row>

						</p:columnGroup>

						<p:column rowspan="3" headerText="Döküm No">
							<h:outputText
								value="#{gozOlcuTests.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>
						<p:column rowspan="3" headerText="Rulo No">
							<h:outputText
								value="#{gozOlcuTests.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}"></h:outputText>
						</p:column>
						<p:column rowspan="3" headerText="Boru No">
							<h:outputText
								value="#{testTahribatsizGozOlcuSonucBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{testTahribatsizGozOlcuSonucBean.selectedPipe.salesItem.itemNo} - #{testTahribatsizGozOlcuSonucBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>
						<p:column headerText="Boy">
							<h:outputText value="#{gozOlcuTests.boruUzunluk}"></h:outputText>
						</p:column>
						<p:column headerText="agirlik.">
							<h:outputText value="#{gozOlcuTests.boruAgirlik}"></h:outputText>
						</p:column>

						<p:column headerText="A Ucu">
							<h:outputText value="#{gozOlcuTests.aUcuDisCap}"></h:outputText>
						</p:column>
						<p:column headerText="Dmin.">
							<h:outputText value="#{gozOlcuTests.govdeDisCapMin}"></h:outputText>
						</p:column>
						<p:column headerText="Dmax.">
							<h:outputText value="#{gozOlcuTests.govdeDisCapMax}"></h:outputText>
						</p:column>
						<p:column headerText="B Ucu">
							<h:outputText value="#{gozOlcuTests.bUcuDisCap}"></h:outputText>
						</p:column>

						<p:column headerText="Dmin.">
							<h:outputText value="#{gozOlcuTests.aUcuOvallikCapMin}"></h:outputText>
						</p:column>
						<p:column headerText="Dmax.">
							<h:outputText value="#{gozOlcuTests.aUcuOvallikCapMax}"></h:outputText>
						</p:column>
						<p:column headerText="Dmin.">
							<h:outputText value="#{gozOlcuTests.bUcuOvallikCapMin}"></h:outputText>
						</p:column>
						<p:column headerText="Dmax.">
							<h:outputText value="#{gozOlcuTests.bUcuOvallikCapMax}"></h:outputText>
						</p:column>
						<p:column headerText="Dmin.">
							<h:outputText value="#{gozOlcuTests.govdeOvallikCapMin}"></h:outputText>
						</p:column>
						<p:column headerText="Dmax.">
							<h:outputText value="#{gozOlcuTests.govdeOvallikCapMax}"></h:outputText>
						</p:column>

						<p:column headerText="Kaynak Ağzı Aç.">
							<h:outputText value="#{gozOlcuTests.aUcuKaynakAgiziAcisi}"></h:outputText>
						</p:column>
						<p:column headerText="Alın Yük.">
							<h:outputText value="#{gozOlcuTests.aUcuAlinYuksekligi}"></h:outputText>
						</p:column>
						<p:column headerText="Boru Ucu Dik.">
							<h:outputText value="#{gozOlcuTests.aUcuBoruUcuDik}"></h:outputText>
						</p:column>
						<p:column headerText="Kaynak Ağzı Aç.">
							<h:outputText value="#{gozOlcuTests.bUcuKaynakAgiziAcisi}"></h:outputText>
						</p:column>
						<p:column headerText="Alın Yük.">
							<h:outputText value="#{gozOlcuTests.bUcuAlinYuksekligi}"></h:outputText>
						</p:column>
						<p:column headerText="Boru Ucu Dik.">
							<h:outputText value="#{gozOlcuTests.bUcuBoruUcuDik}"></h:outputText>
						</p:column>

						<p:column headerText="etKalinligiMin">
							<h:outputText value="#{gozOlcuTests.etKalinligiMin}"></h:outputText>
						</p:column>
						<p:column headerText="etKalinligiMax">
							<h:outputText value="#{gozOlcuTests.etKalinligiMax}"></h:outputText>
						</p:column>

						<p:column headerText="radyalKaciklik">
							<h:outputText value="#{gozOlcuTests.radyalKaciklik}"></h:outputText>
						</p:column>
						<p:column headerText="kaynakDikisiYuksekligi">
							<h:outputText value="#{gozOlcuTests.icKaynakDikisiYuksekligiMin}"></h:outputText>
						</p:column>
						<p:column headerText="kaynakDikisiYuksekligi">
							<h:outputText value="#{gozOlcuTests.icKaynakDikisiYuksekligiMax}"></h:outputText>
						</p:column>
						<p:column headerText="kaynakDikisiYuksekligi">
							<h:outputText
								value="#{gozOlcuTests.disKaynakDikisiYuksekligiMin}"></h:outputText>
						</p:column>
						<p:column headerText="kaynakDikisiYuksekligi">
							<h:outputText
								value="#{gozOlcuTests.disKaynakDikisiYuksekligiMax}"></h:outputText>
						</p:column>
						<p:column headerText="kaliciManyetizma">
							<h:outputText value="#{gozOlcuTests.kaliciManyetizma}"></h:outputText>
						</p:column>
						<p:column headerText="dogrusallik">
							<h:outputText value="#{gozOlcuTests.dogrusallik}"></h:outputText>
						</p:column>
						<p:column headerText="aciklamalar">
							<h:outputText value="#{gozOlcuTests.aciklama}"></h:outputText>
						</p:column>
						<p:column headerText="result">
							<p:selectOneMenu value="#{gozOlcuTests.result}" disabled="true">
								<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="Torna"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="Kesim"></f:selectItem>
								<f:selectItem itemValue="5" itemLabel="Hidrostatik"></f:selectItem>
								<f:selectItem itemValue="6" itemLabel="Taşlama"></f:selectItem>
								<f:selectItem itemValue="7" itemLabel="Muflama"></f:selectItem>
								<f:selectItem itemValue="8" itemLabel="Stok"></f:selectItem>
								<f:selectItem itemValue="9" itemLabel="Karantina"></f:selectItem>
							</p:selectOneMenu>
						</p:column>
						<p:column headerText="Ekleme Zamanı">
							<h:outputText value="#{gozOlcuTests.eklemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
							</h:outputText>
						</p:column>
						<p:column headerText="Güncelleme Zamanı">
							<h:outputText value="#{gozOlcuTests.guncellemeZamani}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
							</h:outputText>
						</p:column>
						<p:column headerText="Kabul Zamanı">
							<h:outputText value="#{gozOlcuTests.boruKabulTarihi}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									timeZone="Etc/GMT-4" />
							</h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="gozOlcuTestAddPanelGridId">
						<p:commandButton value="GÖZ ÖLÇÜ EKLE"
							rendered="#{testTahribatsizGozOlcuSonucBean.selectedPipe.pipeId !=null}"
							update="growl gozOlcuPanelGridId gozOlcuTests"
							process="@this gozOlcuPanelGridId"
							onclick="gozOlcuDialogWidget.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="GÖZ ÖLÇÜ TEST ŞARTLARI"
							actionListener="#{testTahribatsizGozOlcuSonucBean.kaliteGoster}"
							update="growl kaliteSartlariPanelGridId gozOlcuTests"
							id="kaliteSartlariButton"
							process="@this kaliteSartlariPanelGridId"
							onclick="kaliteSartlariDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="GÜNCELLE"
							rendered="#{testTahribatsizGozOlcuSonucBean.updateButtonRender}"
							update="growl gozOlcuPanelGridId gozOlcuTests"
							id="updateGozOlcuButton" process="@this gozOlcuPanelGridId"
							onclick="gozOlcuDialogWidget.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="#{language.SIL}"
							actionListener="#{testTahribatsizGozOlcuSonucBean.delete}"
							update="gozOlcuPanelGridId gozOlcuTestsDataTableId growl pipeTestsDataTableId"
							process="@this gozOlcuPanelGridId" icon="ui-icon-trash">
							<f:param id="gozOlcuDeletePipeId"
								value="#{tahribatsizTestOrderListBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
						<p:commandLink value="TANAP BARKODU ÜRET"
							style="color: red; font-weight: bold;"
							rendered="#{testTahribatsizGozOlcuSonucBean.selectedPipe.pipeId !=null}"
							process="@this gozOlcuPanelGridId"
							update="gozOlcuPanelGridId gozOlcuTestsDataTableId growl pipeTestsDataTableId"
							actionListener="#{testTahribatsizGozOlcuSonucBean.tanapBarkoduBas}"
							disabled="true">
						</p:commandLink>
						<h:commandButton value="#{language.YAZICIDANBARKODYAZDIRMAK}"
							rendered="#{testTahribatsizGozOlcuSonucBean.selectedPipe.pipeId !=null}"
							action="#{testTahribatsizGozOlcuSonucBean.barcodeYazdir()}"
							immediate="true" icon="ui-icon-circle-plus" disabled="true">
						</h:commandButton>
					</h:panelGrid>

					<!-- test ekleme dialog -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false" header="Göz Ölçü Güncelle"
						id="gozOlcuDialogId" widgetVar="gozOlcuDialogWidget"
						showEffect="scale" hideEffect="scale">

						<h:panelGrid border="0" columns="6" cellspacing="5"
							style="text-align: center" id="gozOlcuPanelGridId">
							<f:facet name="header">
								<h:outputText value="#{language.GozOlcu}" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="Boy" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.boruUzunluk}"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Ağırlık" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.boruAgirlik}"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<!-- Dış Çap -->
							<!-- 							<h:outputText value="A Ucu - Dış Çap" style="font-weight: bold;"></h:outputText> -->
							<!-- 							<p:inputText -->
							<!-- 								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.aUcuDisCap}" -->
							<!-- 								converter="bigDecimalNumberConverter"> -->
							<!-- 							</p:inputText> -->
							<!-- 							<h:outputText value=""></h:outputText> -->

							<!-- 							<h:outputText value="B Ucu - Dış Çap" style="font-weight: bold;"></h:outputText> -->
							<!-- 							<p:inputText -->
							<!-- 								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.bUcuDisCap}" -->
							<!-- 								converter="bigDecimalNumberConverter"> -->
							<!-- 							</p:inputText> -->
							<!-- 							<h:outputText value=""></h:outputText> -->

							<!-- Dış Çap -->

							<h:outputText value="A Ucu - Çap" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.aUcuIcCap}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="A Ucu - Çap Çevresel"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.aUcuIcCapCevresel}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Gövde - Dış Çap min"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.govdeDisCapMin}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Gövde - Dış Çap max"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.govdeDisCapMax}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="B Ucu - Çap Çevresel"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.bUcuIcCapCevresel}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="B Ucu - Çap" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.bUcuIcCap}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<!-- Ovallik -->
							<h:outputText value="A Ucu Ovallik - Dmin"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.aUcuOvallikCapMin}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="A Ucu Ovallik - Dmax"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.aUcuOvallikCapMax}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="B Ucu Ovallik - Dmin"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.bUcuOvallikCapMin}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="B Ucu Ovallik - Dmax"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.bUcuOvallikCapMax}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Gövde Ovallik - Dmin"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.govdeOvallikCapMin}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Gövde Ovallik - Dmax"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.govdeOvallikCapMax}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<!-- Ovallik -->

							<!-- A Ucu -->
							<h:outputText value="A Ucu - Kaynak Ağzı Aç."
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.aUcuKaynakAgiziAcisi}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value="A Ucu - Alın Yük."
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.aUcuAlinYuksekligi}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value="A Ucu - Boru Ucu Dik."
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.aUcuBoruUcuDik}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<!-- A Ucu -->
							<!-- B Ucu -->
							<h:outputText value="B Ucu - Kaynak Ağzı Aç."
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.bUcuKaynakAgiziAcisi}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value="B Ucu - Alın Yük."
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.bUcuAlinYuksekligi}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value="B Ucu - Boru Ucu Dik."
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.bUcuBoruUcuDik}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<!-- B Ucu -->
							<h:outputText value="Et Kalın. Min" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.etKalinligiMin}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value="Et Kalın. Max" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.etKalinligiMax}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value="Radyal Kaçık." style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.radyalKaciklik}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Dent" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.dent}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="İç Kay. Dikişi Yüksekliği Min"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.icKaynakDikisiYuksekligiMin}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value="İç Kay. Dikişi Yüksekliği Max"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.icKaynakDikisiYuksekligiMax}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value="Dış Kay. Dikişi Yüksekliği Min"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.disKaynakDikisiYuksekligiMin}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value="Dış Kay. Dikişi Yüksekliği Max"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.disKaynakDikisiYuksekligiMax}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value="Kalıcı Man." style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.kaliciManyetizma}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value="Doğrusallık" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.dogrusallik}"
								converter="bigDecimalNumberConverter"
								disabled="#{testTahribatsizGozOlcuSonucBean.hidroControlRender}">
							</p:inputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Açıklamalar" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.aciklama}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value="Boru Kabul Tarihi (gg/aa/yyyy): *"
								style="font-weight: bold;"></h:outputText>
							<p:calendar mode="popup" autocomplete="false" showOn="button"
								pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="1"
								required="false"
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.boruKabulTarihi}"
								timeZone="Etc/GMT-4"></p:calendar>
							<h:outputText value=""></h:outputText>
							<h:outputText value="Sonuç" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizGozOlcuSonucBean.testTahribatsizGozOlcuSonucForm.result}">
								<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="Torna"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="Kesim"></f:selectItem>
								<f:selectItem itemValue="5" itemLabel="Hidrostatik"></f:selectItem>
								<f:selectItem itemValue="6" itemLabel="Taşlama"></f:selectItem>
								<f:selectItem itemValue="7" itemLabel="Muflama"></f:selectItem>
								<f:selectItem itemValue="8" itemLabel="Karatina"></f:selectItem>
								<f:selectItem itemValue="9" itemLabel="Karantina"></f:selectItem>
							</p:selectOneMenu>

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="#{language.KAYDETTAMAM}"
								update="gozOlcuPanelGridId gozOlcuTestsDataTableId growl pipeTestsDataTableId"
								process="@this gozOlcuPanelGridId"
								actionListener="#{testTahribatsizGozOlcuSonucBean.addOrUpdate}"
								icon="ui-icon-circle-plus"
								oncomplete="if (!args.validationFailed){gozOlcuDialogWidget.hide();}">
								<f:param id="manfloroskopiktId"
									value="#{tahribatsizTestOrderListBean.selectedNonTest.testId}"></f:param>
								<f:param id="floroskopikPipeId"
									value="#{tahribatsizTestOrderListBean.selectedPipe.pipeId}"></f:param>
							</p:commandButton>
							<p:commandButton value="KALİTE TANIMLARI İLE KARŞILAŞTIR"
								update="gozOlcuPanelGridId gozOlcuTestsDataTableId growl pipeTestsDataTableId"
								process="@this gozOlcuPanelGridId"
								oncomplete="if (!args.validationFailed){gozOlcuDialogWidget.hide();}">
							</p:commandButton>
							<p:commandButton value="#{language.IPTALKAPAT}"
								icon="ui-icon-circle-close" immediate="true"
								onclick="gozOlcuDialogWidget.hide()" />
							<p:messages id="gozOlcuMessagesId" showDetail="false"
								showSummary="false"></p:messages>
						</h:panelGrid>
					</p:dialog>

					<!-- kalite sartları dialog -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false"
						header="GÖZ ÖLÇÜ KALİTE TANIMLAMALARI" id="kaliteSartlariDialogId"
						widgetVar="kaliteSartlariDialogWidget" showEffect="scale"
						hideEffect="scale">

						<h:panelGrid border="1" columns="5" cellspacing="5"
							style="text-align: center" id="kaliteSartlariPanelGridId">
							<f:facet name="header">
								<h:outputText value="KALİTE ŞARTLARI" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText
								value="İmalat Standardı: #{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.salesItem.manufacturingStandard}"
								style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="" style="font-weight: bold"></h:outputText>
							<h:outputText value="#{language.Minimum}"
								style="font-weight: bold"></h:outputText>
							<h:outputText value="#{language.Nominal}"
								style="font-weight: bold"></h:outputText>
							<h:outputText value="#{language.Maximum}"
								style="font-weight: bold"></h:outputText>
							<h:outputText value="Ortalama" style="font-weight: bold"></h:outputText>

							<h:outputText value="Boy Toleransı (mm):"
								style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.boyToleransMin}"
								converterMessage="#{language.nbLayersConverterError}" size="12"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.boyToleransNominal}"
								converterMessage="#{language.nbLayersConverterError}" size="12"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.boyToleransMax}"
								converterMessage="#{language.nbLayersConverterError}" size="12"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Boru Ucu Çap Toleransı (mm):"
								style="font-weight: bold"></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.boruUcuCapToleransiMin}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.boruUcuCapToleransiNominal}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.boruUcuCapToleransiMax}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Boru Gövdesi Dış Çap Toleransı (mm):"
								style="font-weight: bold"></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.boruGovdesiDisCapToleransiMin}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.boruGovdesiDisCapToleransiNominal}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.boruGovdesiDisCapToleransiMax}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Boru Ucu Ovallik Toleransı (mm):"
								style="font-weight: bold"></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.boruUcuOvallikToleransiMax}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Boru Gövdesi Ovallik Toleransı (mm):"
								style="font-weight: bold"></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.boruGovdesiOvallikToleransiMax}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="#{language.DikligiToleransi} (mm):"
								style="font-weight: bold"></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.boruUcuDikligiToleransiMax}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Et Kalınlığı Toleransı (mm):"
								style="font-weight: bold"></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.etKalinligiToleransiMin}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.etKalinligiToleransiNominal}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.etKalinligiToleransiMax}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value="" style="font-weight: bold"></h:outputText>

							<h:outputText value="#{language.RadyalSetToleransi} (mm):"
								style="font-weight: bold"></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.radyalSetToleransiMax}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="#{language.DisKaynakToleransi} (mm):"
								style="font-weight: bold"></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.disKaynakDikisiYukseklikToleransiMin}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.disKaynakDikisiYukseklikToleransiMax}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="#{language.IcKaynakToleransi} (mm):"
								style="font-weight: bold"></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.icKaynakDikisiYukseklikToleransiMin}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.icKaynakDikisiYukseklikToleransiMax}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Doğrusallık Toleransı (mm):"
								style="font-weight: bold"></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.dogrusallikToleransiMax}">
							</h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Boru Ağırlığı Toleransı (kg/m): "
								style="font-weight: bold"></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.boruAgirligiToleransiMin}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.boruAgirligiToleransiMax}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText
								value="#{language.KaliciManyetiklikToleransi} (G): "
								style="font-weight: bold"></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.kaliciManyetiklikToleransiMax}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.kaliciManyetiklikToleransiOrtalama}"
								converter="numberConverter">
							</h:outputText>

							<h:outputText value="Muf Boyu (mm): " style="font-weight: bold"></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.mufBoyuToleransiMin}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.mufBoyuToleransiNominal}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.mufBoyuToleransiMax}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Muf İç Çapı (mm): "
								style="font-weight: bold"></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.mufIcCapiToleransiMin}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.mufIcCapiToleransiNominal}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.mufIcCapiToleransiMax}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>

							<!-- A UCU -->
							<h:outputText value="A ucu Kaynak Ağızı Açısı Toleransı (°):"
								style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.aUcuKaynakAgiziAcisiToleransiMin}"
								converterMessage="#{language.nbLayersConverterError}" size="12"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.aUcuKaynakAgiziAcisiToleransiNominal}"
								converterMessage="#{language.nbLayersConverterError}" size="12"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.aUcuKaynakAgiziAcisiToleransiMax}"
								converterMessage="#{language.nbLayersConverterError}" size="12"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="A ucu Kök Yüzeyi Ölçüsü (mm):"
								style="font-weight: bold"></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.aUcuKokYuzeyOlcusuMin}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.aUcuKokYuzeyOlcusuNominal}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.aUcuKokYuzeyOlcusuMax}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>

							<!-- B UCU -->
							<h:outputText value="B ucu Kaynak Ağızı Açısı Toleransı (°):"
								style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.bUcuKaynakAgiziAcisiToleransiMin}"
								converterMessage="#{language.nbLayersConverterError}" size="12"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.bUcuKaynakAgiziAcisiToleransiNominal}"
								converterMessage="#{language.nbLayersConverterError}" size="12"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.bUcuKaynakAgiziAcisiToleransiMax}"
								converterMessage="#{language.nbLayersConverterError}" size="12"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="B ucu Kök Yüzeyi Ölçüsü (mm):"
								style="font-weight: bold"></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.bUcuKokYuzeyOlcusuMin}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.bUcuKokYuzeyOlcusuNominal}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.bUcuKokYuzeyOlcusuMax}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Dent: " style="font-weight: bold"></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.dentMin}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText
								converterMessage="#{language.nbLayersConverterError}" size="12"
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.dentMax}"
								converter="numberConverter">
							</h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Kazık Borusu Boyu / Toleransı"
								style="color: red;font-weight: bold"></h:outputText>
							<h:outputText size="12" value=""
								style="color: red;font-weight: bold">
							</h:outputText>
							<p:inputTextarea
								value="#{testTahribatsizGozOlcuSonucBean.boyutsalKontrol.kazikBoyTolerans}"
								rows="5" maxLength="60" autoResize="false" maxHeight="5"
								style="color: red;font-weight: bold" disabled="true"></p:inputTextarea>
						</h:panelGrid>
						<p:separator />
						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="#{language.IPTALKAPAT}"
								icon="ui-icon-circle-close" immediate="true"
								onclick="kaliteSartlariDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>

				</p:tab>
			</p:accordionPanel>

			<!-- istatistik -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="GÖZ ÖLÇÜ VARDİYE RAPORLARI" id="istatistikDialogId"
				widgetVar="istatistikDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="istatistikPanelGridId">
					<f:facet name="header">
						<h:outputText
							value="GÖZ ÖLÇÜ BİLGİLERİ - ÖNCE BORU BARKOD OKUTUNUZ!"
							rendered="true"></h:outputText>
					</f:facet>

					<!-- 					<h:outputText value="VARDİYA" style="font-weight: bold;"></h:outputText> -->
					<!-- 					<p:selectOneMenu -->
					<!-- 						value="#{testNondestructiveReportBean.raporVardiya}"> -->
					<!-- 						<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem> -->
					<!-- 						<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem> -->
					<!-- 						<f:selectItem itemValue="0" itemLabel="GECE"></f:selectItem> -->
					<!-- 					</p:selectOneMenu> -->

					<!-- 					<h:outputText value="Test Zamanı (gg/aa/yyyy): " -->
					<!-- 						style="font-weight: bold;"></h:outputText> -->
					<!-- 					<p:calendar mode="popup" autocomplete="false" showOn="button" -->
					<!-- 						stepMinute="5" required="true" -->
					<!-- 						pattern="#{userCredentialsBean.dateFormat}" -->
					<!-- 						requiredMessage="#{language.RequiredMessage}" -->
					<!-- 						value="#{testNondestructiveReportBean.raporTarihi}"></p:calendar> -->

					<h:outputText value="Başlangıç Zamanı (gg/aa/yyyy SS:dd): "
						style="font-weight: bold;"></h:outputText>
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						required="true" requiredMessage="#{language.RequiredMessage}"
						value="#{testNondestructiveReportBean.baslangicTarihi}"
						pattern="dd/MM/yyyy HH:mm" />

					<h:outputText value="Bitiş Zamanı (gg/aa/yyyy SS:dd): "
						style="font-weight: bold;"></h:outputText>
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						required="true" requiredMessage="#{language.RequiredMessage}"
						value="#{testNondestructiveReportBean.bitisTarihi}"
						pattern="dd/MM/yyyy HH:mm" />
				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="2" cellspacing="5">
					<p:commandButton
						value="TÜM SİPARİŞ KABUL FR-18 RAPOR OLUŞTUR - SONRA RAPOR TUŞUNA BAS!"
						process="@this istatistikPanelGridId" icon="ui-icon-circle-close"
						actionListener="#{testNondestructiveReportBean.gozOlcuInspectionResultReportAllKabulXlsx(testTahribatsizGozOlcuSonucBean.selectedPipe.salesItem)}" />
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.gozOlcuInspectionResultReportAllKabulXlsx(testTahribatsizGozOlcuSonucBean.selectedPipe.salesItem)}"
						image="/large_icons/report.png" title="TÜM SİPARİŞ KABUL FR-18">
					</h:commandButton>

					<p:commandButton
						value="TÜM SİPARİŞ FR-18 RAPOR OLUŞTUR - SONRA RAPOR TUŞUNA BAS!"
						process="@this istatistikPanelGridId" icon="ui-icon-circle-close"
						actionListener="#{testNondestructiveReportBean.gozOlcuInspectionResultReportAllXlsx(testTahribatsizGozOlcuSonucBean.selectedPipe.salesItem)}" />
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.gozOlcuInspectionResultReportAllXlsx(testTahribatsizGozOlcuSonucBean.selectedPipe.salesItem)}"
						image="/large_icons/report.png" title="TÜM SİPARİŞ FR-18">
					</h:commandButton>
				</h:panelGrid>
			</p:dialog>

			<p:growl id="growl" sticky="true" />
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								// 							alert(#{testTahribatsizGozOlcuSonucBean.kazikRender});
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>