<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">
				<!-- Hidrostatik -->
				<p:tab id="hidrostatikTabId"
					title=" HiDROSTATiK EKRANI *** #{testTahribatsizHidrostatikBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{testTahribatsizHidrostatikBean.selectedPipe.salesItem.itemNo} / #{testTahribatsizHidrostatikBean.selectedPipe.salesItem.proposal.customer.shortName} / #{testTahribatsizHidrostatikBean.selectedPipe.salesItem.diameter}x#{testTahribatsizHidrostatikBean.selectedPipe.salesItem.thickness} / #{testTahribatsizHidrostatikBean.selectedPipe.salesItem.quality} / #{testTahribatsizHidrostatikBean.selectedPipe.salesItem.manufacturingStandard} / #{testTahribatsizHidrostatikBean.selectedPipe.boy} / #{testTahribatsizHidrostatikBean.selectedPipe.ruloPipeLink.rulo.ruloDokumNo}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{testTahribatsizHidrostatikBean.barkodNo}">
					</p:inputText>
					<p:commandButton value="Boru Bul"
						actionListener="#{testTahribatsizHidrostatikBean.fillTestListFromBarkod(testTahribatsizHidrostatikBean.barkodNo)}"
						update="growl hidrostatikPanelGridId hidrostatikTests hidrostatikTestsDataTableId orderAccordionPanelId"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>

					<!-- Koordinat Listesi -->
					<p:dataTable var="hidrostatikTests"
						id="hidrostatikTestsDataTableId" rowKey="#{hidrostatikTests.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizHidrostatikBean.allTestTahribatsizHidrostatikList}"
						paginator="true" rows="13" dynamic="true"
						selection="#{testTahribatsizHidrostatikBean.testTahribatsizHidrostatikForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{testTahribatsizHidrostatikBean.hidrostatikListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="hidrostatikTestsTabId hidrostatikTestAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="hidrostatikTestsDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="#{language.Hidrostatikler}" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{testTahribatsizHidrostatikBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{testTahribatsizHidrostatikBean.selectedPipe.salesItem.itemNo} - #{testTahribatsizHidrostatikBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<!-- 						<p:column headerText="#{language.KoordinatQ}"> -->
						<!-- 							<h:outputText -->
						<!-- 								value="#{hidrostatikTests.testTahribatsizManuelUtSonuc.koordinatQ}"></h:outputText> -->
						<!-- 						</p:column> -->

						<!-- 						<p:column headerText="#{language.KoordinatL}"> -->
						<!-- 							<h:outputText -->
						<!-- 								value="#{hidrostatikTests.testTahribatsizManuelUtSonuc.koordinatL}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{hidrostatikTests.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Hidrostatik'e Gönderen">
							<h:outputText
								value="#{hidrostatikTests.testTahribatsizManuelUtSonuc.guncelleyenEmployee.employee.firstname} #{hidrostatikTests.testTahribatsizManuelUtSonuc.guncelleyenEmployee.employee.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.HidroBaslamaZamani}">
							<h:outputText value="#{hidrostatikTests.muayeneBaslamaZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{language.HidroBaslamaPersonel}">
							<h:outputText
								value="#{hidrostatikTests.muayeneBaslamaUser.employee.firstname} #{hidrostatikTests.muayeneBaslamaUser.employee.lastname}"></h:outputText>
						</p:column>

						<p:column style="text-align: center;">
							<f:facet name="header">
								<h:outputText value="Hidrostatik İşlemi"></h:outputText>
							</f:facet>
							<p:graphicImage value="/small_icons/blank.png" style="border:0px"
								title="Boşta." rendered="#{hidrostatikTests.durum == null}"></p:graphicImage>
							<p:graphicImage value="/small_icons/next.png" style="border:0px"
								title="Hidrostatik Başlamış."
								rendered="#{hidrostatikTests.durum == false}"></p:graphicImage>
							<p:graphicImage value="/small_icons/done.png" style="border:0px"
								title="Hidrostatik Bitmiş."
								rendered="#{hidrostatikTests.durum == true}"></p:graphicImage>
						</p:column>

						<p:column headerText="#{language.HidroBitisZamani}">
							<h:outputText value="#{hidrostatikTests.muayeneBitisZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{language.HidroYapanPersonel}">
							<h:outputText
								value="#{hidrostatikTests.muayeneBitisUser.employee.firstname} #{hidrostatikTests.muayeneBitisUser.employee.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="Yardımcı Personel">
							<h:outputText
								value="#{hidrostatikTests.yardimciKullanici.firstname} #{hidrostatikTests.yardimciKullanici.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.Explanation} ">
							<h:outputText value="#{hidrostatikTests.aciklama}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="hidrostatikTestAddPanelGridId">
						<p:commandButton value="YENİ HİDROSTATİK EKLE"
							update="growl hidrostatikPanelGridId hidrostatikTests"
							process="@this hidrostatikPanelGridId"
							disabled="#{testTahribatsizHidrostatikBean.selectedPipe.pipeId==null}"
							onclick="addHidrostatikDialog.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="DÜZENLE"
							update="growl hidrostatikPanelGridId hidrostatikTests"
							process="@this hidrostatikPanelGridId"
							onclick="warningSelectedHidrostatikDialog.show()"
							icon="ui-icon-circle-plus"
							disabled="#{!testTahribatsizHidrostatikBean.updateButtonRender}">
						</p:commandButton>
						<p:commandButton value="HİDROSTATİK KALİTE ŞARTLARI"
							update="growl hidrostatikKaliteSartlariPanelGridId hidrostatikTestSpecs"
							process="@this hidrostatikKaliteSartlariPanelGridId"
							onclick="hidrostatikTestSpectsDialog.show()"
							icon="ui-icon-circle-plus"
							disabled="#{!testTahribatsizHidrostatikBean.updateButtonRender}">
						</p:commandButton>
						<p:commandButton value="SEÇİLEN HİDROSTATİK TESTE BAŞLA"
							rendered="#{testTahribatsizHidrostatikBean.updateButtonRender}"
							update="growl hidrostatikPanelGridId hidrostatikTests"
							id="baslaButton" process="@this hidrostatikPanelGridId"
							onclick="warningAllHidrostatikDialog.show()"
							icon="ui-icon-circle-plus"
							disabled="#{testTahribatsizHidrostatikBean.testTahribatsizHidrostatikForm.durum==false}">
						</p:commandButton>
						<p:commandButton value="SEÇİLEN HİDROSTATİK TESTİ BİTİR"
							rendered="#{testTahribatsizHidrostatikBean.testTahribatsizHidrostatikForm.durum==false}"
							update="growl hidrostatikPanelGridId hidrostatikTests"
							id="bitirButton" process="@this hidrostatikPanelGridId"
							onclick="warningSelectedHidrostatikDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="#{language.SIL}"
							actionListener="#{testTahribatsizHidrostatikBean.deleteHidroSonuc}"
							update="hidrostatikPanelGridId hidrostatikTestsDataTableId growl pipeTestsDataTableId"
							process="@this hidrostatikPanelGridId" icon="ui-icon-trash"
							disabled="#{!testTahribatsizHidrostatikBean.updateButtonRender}">
							<f:param id="hidrostatikDeletePipeId"
								value="#{testTahribatsizHidrostatikBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
						<p:commandButton value="VARDİYA RAPORU AL" update="growl"
							process="@this hidrostatikPanelGridId"
							disabled="#{testTahribatsizHidrostatikBean.selectedPipe.pipeId==null}"
							onclick="raporHidrostatikDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="STOK BORU" update="growl"
							process="@this hidrostatikPanelGridId"
							disabled="#{testTahribatsizHidrostatikBean.selectedPipe.pipeId==null}"
							onclick="stokBoruHidrostatikDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
					</h:panelGrid>

					<!-- HYDROSTATIC TESTS SECTION -->
					<p:dialog widgetVar="hidrostatikTestSpectsDialog" draggable="true"
						closable="true" maximizable="true" resizable="false"
						dynamic="true" header="Hidrostatik Kalite Şartları"
						id="hydrostaticDialogId">
						<p:panel style="min-width:600px" id="hydrostaticPanelId">
							<h:panelGrid border="0" id="hidrostatikKaliteSartlariPanelGridId"
								columns="4" style="width:100%">

								<h:outputText value="#{language.Standard}: "
									style="color: black; font-weight: bold;"></h:outputText>
								<h:outputText
									value="#{testTahribatsizHidrostatikBean.hidroSpecs.get(0).standard}">
								</h:outputText>

								<h:outputText value="#{language.Pressure} (bar): "
									style="color: black; font-weight: bold;"></h:outputText>
								<h:outputText
									value="#{testTahribatsizHidrostatikBean.hidroSpecs.get(0).pressure}"
									converter="numberConverter">
								</h:outputText>

								<h:outputText value="#{language.Duration} (sn): "
									style="color: black; font-weight: bold;"></h:outputText>
								<h:outputText
									value="#{testTahribatsizHidrostatikBean.hidroSpecs.get(0).duration}"
									converter="numberConverter">
								</h:outputText>

								<h:outputText value="#{language.Frequency}: "
									style="color: black; font-weight: bold;"></h:outputText>
								<h:outputText
									value="#{testTahribatsizHidrostatikBean.hidroSpecs.get(0).frequency}"
									converter="numberConverter">%
							</h:outputText>

							</h:panelGrid>

						</p:panel>
					</p:dialog>

					<p:dialog widgetVar="warningAllHidrostatikDialog"
						header="#{language.salesWarning}"
						id="warningAllHidrostatikDialogId">
						<p:panel style="min-width:600px" id="warningAllHidrostatikPanelId">
							<h:outputText
								value="BORU İÇİN HİDROSTATİK TEST BAŞLANACAK, EMİN MİSİNİZ?" />
							<br />

							<br />
							<h:outputLabel value="Yardımcı Personel Adı - Soyadı "
								for="basicPojoAlanGiris" style="font-weight: bold;" />
							<p:autoComplete
								value="#{testTahribatsizHidrostatikBean.testTahribatsizHidrostatikForm.yardimciKullanici}"
								id="basicPojoAlanGiris"
								completeMethod="#{autoCompleteBean.autoCompleteEmployee}"
								var="e"
								itemLabel="#{e.employeeId} - #{e.firstname} #{e.lastname}"
								itemValue="#{e}" converter="employeeConverter"
								forceSelection="true" minQueryLength="3" />
							<br />
						</p:panel>

						<p:commandButton value="#{language.IPTALKAPAT}"
							oncomplete="warningAllHidrostatikDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="#{language.KAYDETTAMAM}"
							actionListener="#{testTahribatsizHidrostatikBean.addHidroSonuc}"
							oncomplete="warningAllHidrostatikDialog.hide();"
							update="growl hidrostatikPanelGridId hidrostatikTests hidrostatikTestsDataTableId orderAccordionPanelId"
							process="@this hidrostatikPanelGridId warningAllHidrostatikPanelId">
							<f:param id="hidrostatikAllPipeId"
								value="#{testTahribatsizHidrostatikBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="warningSelectedHidrostatikDialog"
						header="#{language.salesWarning}"
						id="warningSelectedHidrostatikDialogId">
						<h:outputText
							value="BORU İÇİN HİDROSTATİK TEST BİTİRİLECEK, EMİN MİSİNİZ?" />
						<br />
						<h:outputText value="#{language.Explanation}"
							style="font-weight: bold;"></h:outputText>
						<br />
						<p:inputTextarea
							value="#{testTahribatsizHidrostatikBean.testTahribatsizHidrostatikForm.aciklama}"
							rows="5" maxLength="150" autoResize="false" maxHeight="5"
							id="hidroAciklamaId">
							<p:watermark for="hidroAciklamaId"
								value="Lütfen Açıklama Giriniz *" />
						</p:inputTextarea>
						<br />
						<p:commandButton value="#{language.IPTALKAPAT}"
							oncomplete="warningSelectedHidrostatikDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="#{language.KAYDETTAMAM}"
							actionListener="#{testTahribatsizHidrostatikBean.addHidroSonuc}"
							oncomplete="warningSelectedHidrostatikDialog.hide();"
							update="growl hidrostatikPanelGridId hidrostatikTests hidrostatikTestsDataTableId orderAccordionPanelId"
							process="@this hidrostatikPanelGridId warningSelectedHidrostatikDialogId">
							<f:param id="hidrostatikSelectedPipeId"
								value="#{testTahribatsizHidrostatikBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="addHidrostatikDialog"
						header="#{language.salesWarning}" id="addHidrostatikDialogId">
						<h:outputText
							value="BORU İÇİN YENİ HİDROSTATİK TEST EKLEMEK İSTİYOR MUSUNUZ?" />
						<br />

						<p:commandButton value="#{language.IPTALKAPAT}"
							oncomplete="addHidrostatikDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="#{language.KAYDETTAMAM}"
							actionListener="#{testTahribatsizHidrostatikBean.addHidro}"
							oncomplete="addHidrostatikDialog.hide();"
							update="growl hidrostatikPanelGridId hidrostatikTests hidrostatikTestsDataTableId orderAccordionPanelId"
							process="@this hidrostatikPanelGridId addHidrostatikDialogId">
							<f:param id="selectedPipeId"
								value="#{testTahribatsizHidrostatikBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="raporHidrostatikDialog"
						header="HİDROSTATİK TEZGAHI VARDİYA RAPORU"
						id="raporHidrostatikDialogId">

						<h:outputText value="VARDİYA" style="font-weight: bold;"></h:outputText>
						<p:selectOneMenu
							value="#{testNondestructiveReportBean.raporVardiya}">
							<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
							<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
							<f:selectItem itemValue="0" itemLabel="GECE"></f:selectItem>
						</p:selectOneMenu>

						<h:outputText value="Test Zamanı (gg/aa/yyyy): "
							style="font-weight: bold;"></h:outputText>
						<h:outputText style="width:10px;" value="" />

						<p:calendar mode="popup" autocomplete="false" showOn="button"
							stepMinute="5" required="true"
							pattern="#{userCredentialsBean.dateFormat}"
							requiredMessage="#{language.RequiredMessage}"
							value="#{testNondestructiveReportBean.raporTarihi}"></p:calendar>

						<p:spacer width="15" height="50" />

						<h:commandButton
							action="#{testNondestructiveReportBean.hidrostatikResultReportXlsx(testTahribatsizHidrostatikBean.selectedPipe.pipeId)}"
							image="/large_icons/report.png" title="FR-144">
							<f:ajax execute="raporHidrostatikDialogId" />
						</h:commandButton>

						<h:commandLink value="RAPORU İNDİRMEK İÇİN TIKLAYINIZ!"
							title="RAPORU İNDİR" immediate="true">
							<p:fileDownload
								value="#{testNondestructiveReportBean.downloadedFile}" />
						</h:commandLink>

					</p:dialog>

					<p:dialog widgetVar="stokBoruHidrostatikDialog"
						header="HİDROSTATİK TEZGAHI VARDİYA RAPORU"
						id="stokBoruHidrostatikDialogId">

						<h:outputText value="STOK BORU İÇİN TUŞA BASINIZ!"
							style="font-weight: bold;"></h:outputText>

						<p:spacer width="15" height="50" />

						<p:commandButton value="STOK BORU"
							actionListener="#{testTahribatsizHidrostatikBean.stokBoruGozOlcuEkle}"
							oncomplete="stokBoruHidrostatikDialog.hide();"
							update="growl hidrostatikPanelGridId hidrostatikTests hidrostatikTestsDataTableId orderAccordionPanelId"
							process="@this hidrostatikPanelGridId stokBoruHidrostatikDialogId">
						</p:commandButton>
					</p:dialog>

				</p:tab>
			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>