<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:toolbar id="toolbarAnaId">
				<p:toolbarGroup align="center">
					<p:commandButton value="TOPLU RAPORLAMA" id="istatistikButtonId"
						update="growl istatistikPanelGridId" process="@this"
						onclick="istatistikDialogWidget.show()" icon="ui-icon-circle-plus">
					</p:commandButton>
				</p:toolbarGroup>
			</p:toolbar>
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">
				<!-- Kaynak Gözle Muayenesi Testleri -->
				<p:tab id="kaynakGozleTabId"
					title=" KAYNAK GÖZLE MUAYENESİ EKRANI *** #{testTahribatsizKaynakGozleMuayeneSonucBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{testTahribatsizKaynakGozleMuayeneSonucBean.selectedPipe.salesItem.itemNo} / #{testTahribatsizKaynakGozleMuayeneSonucBean.selectedPipe.salesItem.proposal.customer.shortName} / #{testTahribatsizKaynakGozleMuayeneSonucBean.selectedPipe.salesItem.diameter}x#{testTahribatsizKaynakGozleMuayeneSonucBean.selectedPipe.salesItem.thickness} / #{testTahribatsizKaynakGozleMuayeneSonucBean.selectedPipe.salesItem.quality} / #{testTahribatsizKaynakGozleMuayeneSonucBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value="BORU BARKOD OKUT" style="font-weight: bold;"></h:outputText>
					<p:inputText style="width:100px;" id="inputBarkod"
						value="#{testTahribatsizKaynakGozleMuayeneSonucBean.barkodNo}" />
					<p:commandButton value="Boru Bul"
						update="kaynakGozlePanelGridId kaynakGozleDataTableId growl pipeTestsDataTableId orderAccordionPanelId"
						process="@this inputBarkod"
						actionListener="#{testTahribatsizKaynakGozleMuayeneSonucBean.fillTestListFromBarkod(testTahribatsizKaynakGozleMuayeneSonucBean.barkodNo)}"
						selection="#{tahribatsizTestOrderListBean.selectedPipe}"
						icon="ui-icon-circle-plus" styleClass="foo">
					</p:commandButton>
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.kaynakGozleInspectionResultReportXlsx(testTahribatsizKaynakGozleMuayeneSonucBean.selectedPipe.pipeId)}"
						image="/large_icons/report.png" title="FR-298">
					</h:commandButton>

					<!-- Test Listesi -->
					<p:dataTable var="kaynakGozle" id="kaynakGozleDataTableId"
						rowKey="#{kaynakGozle.id}" emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizKaynakGozleMuayeneSonucBean.allTestTahribatsizKaynakGozleMuayeneSonucList}"
						paginator="true" dynamic="true"
						selection="#{testTahribatsizKaynakGozleMuayeneSonucBean.testTahribatsizKaynakGozleMuayeneSonucForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{testTahribatsizKaynakGozleMuayeneSonucBean.kaynakGozleListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="kaynakGozleTabId kaynakGozleTestAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="kaynakGozleDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="Kaynak Gözle Muayenesi" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.DokumNumber}">
							<h:outputText
								value="#{kaynakGozle.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.CoilNumber}">
							<h:outputText
								value="#{kaynakGozle.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}"></h:outputText>
						</p:column>

						<!-- 						<p:column headerText="#{language.PipeNumber}" id="pipeNo"> -->
						<!-- 							<h:outputText -->
						<!-- 								value="#{tahribatsizTestOrderListBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{tahribatsizTestOrderListBean.selectedPipe.salesItem.itemNo} - #{tahribatsizTestOrderListBean.selectedPipe.pipeIndex}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{testTahribatsizKaynakGozleMuayeneSonucBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{testTahribatsizKaynakGozleMuayeneSonucBean.selectedPipe.salesItem.itemNo} - #{testTahribatsizKaynakGozleMuayeneSonucBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column
							headerText="#{language.KoordinatQ} x #{language.KoordinatL}">
							<h:outputText
								value="#{kaynakGozle.koordinatQ} x #{kaynakGozle.koordinatL}"></h:outputText>
						</p:column>

						<p:column headerText="Hata Tipi ">
							<p:selectBooleanCheckbox value="#{kaynakGozle.c}" disabled="true"
								itemLabel="100 - Çatlak" />
							<p:selectBooleanCheckbox value="#{kaynakGozle.kc}"
								disabled="true" itemLabel="104 - Krater Çatlağı" />
							<p:selectBooleanCheckbox value="#{kaynakGozle.ye}"
								disabled="true" itemLabel="401 - Yetersiz Ergime" />
							<p:selectBooleanCheckbox value="#{kaynakGozle.tkn}"
								disabled="true" itemLabel="4021 - Tamamlanmamış Kök Nüfuziyeti" />
							<p:selectBooleanCheckbox value="#{kaynakGozle.syo}"
								disabled="true" itemLabel="5011 - Sürekli Yanma Oluğu" />
							<p:selectBooleanCheckbox value="#{kaynakGozle.kyo}"
								disabled="true" itemLabel="5012 - Kesintili Yanma Oluğu" />
							<p:selectBooleanCheckbox value="#{kaynakGozle.co}"
								disabled="true" itemLabel="5012 - Çekme Oluğu" />
							<p:selectBooleanCheckbox value="#{kaynakGozle.akm}"
								disabled="true" itemLabel="502 - Aşırı Kaynal Metali" />
							<p:selectBooleanCheckbox value="#{kaynakGozle.an}"
								disabled="true" itemLabel="504 - Aşırı Nüfuziyet" />
							<p:selectBooleanCheckbox value="#{kaynakGozle.b}" disabled="true"
								itemLabel="506 - Binme" />
							<p:selectBooleanCheckbox value="#{kaynakGozle.ydka}"
								disabled="true"
								itemLabel="511 - Yetersiz Doldurulmuş Kaynak Ağzı" />
							<p:selectBooleanCheckbox value="#{kaynakGozle.kib}"
								disabled="true" itemLabel="515 - Kök İç Bükeyliği" />
						</p:column>

						<p:column headerText="Sonuç">
							<p:selectOneMenu value="#{kaynakGozle.sonuc}" disabled="true">
								<f:selectItem itemValue="-1" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="Açıklama ">
							<h:outputText value="#{kaynakGozle.aciklama}"></h:outputText>
						</p:column>

						<p:column headerText="Tamir Sonrası Değerlendirme">
							<p:selectOneMenu value="#{kaynakGozle.tamirSonrasiDurum}"
								disabled="true">
								<f:selectItem itemValue="-1" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{kaynakGozle.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>
					</p:dataTable>

					<p:contextMenu>
						<p:menuitem value="KOORDİNAT GÜNCELLE"
							icon="ui-icon-arrowrefresh-1-w"
							process="@this kaynakGozlePanelGridId"
							onclick="kaynakGozleDialogWidget.show()"
							update="growl kaynakGozlePanelGridId kaynakGozle" />
					</p:contextMenu>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="kaynakGozleTestAddPanelGridId">
						<p:commandButton value="YENİ KORDİNAT EKLE"
							actionListener="#{testTahribatsizKaynakGozleMuayeneSonucBean.addTestTahribatsizKaynakGozleMuayeneSonuc}"
							update="growl kaynakGozlePanelGridId kaynakGozle"
							process="@this kaynakGozlePanelGridId"
							onclick="kaynakGozleDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="KOORDİNAT GÜNCELLE"
							disabled="#{!testTahribatsizKaynakGozleMuayeneSonucBean.updateButtonRender}"
							update="growl kaynakGozlePanelGridId kaynakGozle"
							process="@this kaynakGozlePanelGridId"
							onclick="kaynakGozleDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton
							disabled="#{!testTahribatsizKaynakGozleMuayeneSonucBean.updateButtonRender}"
							actionListener="#{testTahribatsizKaynakGozleMuayeneSonucBean.deleteKaynakGozleSonuc}"
							update="kaynakGozlePanelGridId kaynakGozleDataTableId growl pipeTestsDataTableId"
							process="@this kaynakGozlePanelGridId" icon="ui-icon-trash"
							value="KOORDİNAT SİL">
							<f:param id="kaynakGozleDeletePipeId"
								value="#{testTahribatsizKaynakGozleMuayeneSonucBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</h:panelGrid>

					<!-- kordinat ekleme dialog -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false"
						header="#{language.KoordinatEkle}" id="kaynakGozleDialogId"
						widgetVar="kaynakGozleDialogWidget" showEffect="scale"
						hideEffect="scale">

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="kaynakGozlePanelGridId">
							<f:facet name="header">
								<h:outputText value="Kaynak Gözle Muayenesi" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="#{language.KoordinatQ}*"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizKaynakGozleMuayeneSonucBean.testTahribatsizKaynakGozleMuayeneSonucForm.koordinatQ}">
							</p:inputText>

							<h:outputText value="#{language.KoordinatL}*"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizKaynakGozleMuayeneSonucBean.testTahribatsizKaynakGozleMuayeneSonucForm.koordinatL}">
							</p:inputText>

							<h:panelGrid header="Kusur Tanımı" style="text-align:left;">
								<p:selectBooleanCheckbox
									value="#{testTahribatsizKaynakGozleMuayeneSonucBean.testTahribatsizKaynakGozleMuayeneSonucForm.c}"
									itemLabel="101 - Çatlak" />
								<p:selectBooleanCheckbox
									value="#{testTahribatsizKaynakGozleMuayeneSonucBean.testTahribatsizKaynakGozleMuayeneSonucForm.kc}"
									itemLabel="104 - KraterÇatlağı" />
								<p:selectBooleanCheckbox
									value="#{testTahribatsizKaynakGozleMuayeneSonucBean.testTahribatsizKaynakGozleMuayeneSonucForm.ye}"
									itemLabel="401 - Yetersiz Ergime" />
								<p:selectBooleanCheckbox
									value="#{testTahribatsizKaynakGozleMuayeneSonucBean.testTahribatsizKaynakGozleMuayeneSonucForm.tkn}"
									itemLabel="4021 - Tamamlanmamış Kök Nüfuziyeti" />
								<p:selectBooleanCheckbox
									value="#{testTahribatsizKaynakGozleMuayeneSonucBean.testTahribatsizKaynakGozleMuayeneSonucForm.syo}"
									itemLabel="5011 - Sürekli Yanma Oluğu" />
								<p:selectBooleanCheckbox
									value="#{testTahribatsizKaynakGozleMuayeneSonucBean.testTahribatsizKaynakGozleMuayeneSonucForm.kyo}"
									itemLabel="5012 - Kesintili Yanma Oluğu" />
							</h:panelGrid>
							<h:panelGrid header="Kusur Tanımı" style="text-align:left;">
								<p:selectBooleanCheckbox
									value="#{testTahribatsizKaynakGozleMuayeneSonucBean.testTahribatsizKaynakGozleMuayeneSonucForm.co}"
									itemLabel="5013 - Çekme Oluğu" />
								<p:selectBooleanCheckbox
									value="#{testTahribatsizKaynakGozleMuayeneSonucBean.testTahribatsizKaynakGozleMuayeneSonucForm.akm}"
									itemLabel="502 - Aşırı Kaynak Metali" />
								<p:selectBooleanCheckbox
									value="#{testTahribatsizKaynakGozleMuayeneSonucBean.testTahribatsizKaynakGozleMuayeneSonucForm.an}"
									itemLabel="504 - Aşırı Nüfuziyet" />
								<p:selectBooleanCheckbox
									value="#{testTahribatsizKaynakGozleMuayeneSonucBean.testTahribatsizKaynakGozleMuayeneSonucForm.b}"
									itemLabel="506 - Binme" />
								<p:selectBooleanCheckbox
									value="#{testTahribatsizKaynakGozleMuayeneSonucBean.testTahribatsizKaynakGozleMuayeneSonucForm.ydka}"
									itemLabel="511 - Yetersiz Doldurulmuş Kaynak Ağzı" />
								<p:selectBooleanCheckbox
									value="#{testTahribatsizKaynakGozleMuayeneSonucBean.testTahribatsizKaynakGozleMuayeneSonucForm.kib}"
									itemLabel="515 - Kök İç Bükeyliği" />
							</h:panelGrid>

							<h:outputText value="Sonuç" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizKaynakGozleMuayeneSonucBean.testTahribatsizKaynakGozleMuayeneSonucForm.sonuc}">
								<f:selectItem itemValue="-1" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
							</p:selectOneMenu>

							<h:outputText value="#{language.Explanation}"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizKaynakGozleMuayeneSonucBean.testTahribatsizKaynakGozleMuayeneSonucForm.aciklama}">
							</p:inputText>

							<h:outputText value="Tamir Sonrası Değerlendirme"
								style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizKaynakGozleMuayeneSonucBean.testTahribatsizKaynakGozleMuayeneSonucForm.tamirSonrasiDurum}">
								<f:selectItem itemValue="-1" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
							</p:selectOneMenu>

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAYDET"
								update="kaynakGozlePanelGridId kaynakGozleDataTableId growl pipeTestsDataTableId"
								process="@this kaynakGozlePanelGridId"
								actionListener="#{testTahribatsizKaynakGozleMuayeneSonucBean.addOrUpdateKaynakGozleSonuc}"
								icon="ui-icon-circle-plus"
								oncomplete="if (!args.validationFailed){kaynakGozleDialogWidget.hide();}">
								<f:param id="kaynakGozlePipeId"
									value="#{tahribatsizTestOrderListBean.selectedPipe.pipeId}"></f:param>
								<f:param id="kaynakGozleItemId"
									value="#{tahribatsizTestOrderListBean.selectedSalesItem.itemId}"></f:param>
							</p:commandButton>
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="kaynakGozleDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>
				</p:tab>
			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />

			<!-- istatistik -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="KAYNAK GÖZLE MAYENESİ İSTASTİSTİK RAPORLARI"
				id="istatistikDialogId" widgetVar="istatistikDialogWidget"
				showEffect="scale" hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="istatistikPanelGridId">
					<f:facet name="header">
						<h:outputText
							value="KAYNAK GÖZLE MAYENESİ BİLGİLERİ - ÖNCE BORU BARKOD OKUTUNUZ!"
							rendered="true"></h:outputText>
					</f:facet>
					<h:outputText value="İlk Boru Barkod No : "
						style="font-weight: bold;"></h:outputText>
					<p:inputText value="#{testNondestructiveReportBean.firstBarkodNo}"
						disabled="#{!testTahribatsizKaynakGozleMuayeneSonucBean.visibleButtonRender}">
					</p:inputText>
					<h:outputText value="Son Boru Barkod No : "
						style="font-weight: bold;"></h:outputText>
					<p:inputText value="#{testNondestructiveReportBean.secondBarkodNo}"
						disabled="#{!testTahribatsizKaynakGozleMuayeneSonucBean.visibleButtonRender}">
					</p:inputText>
				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="2" cellspacing="5">
					<p:commandButton value="RAPOR OLUŞTUR - SONRA RAPOR TUŞUNA BAS!"
						process="@this istatistikPanelGridId" icon="ui-icon-circle-close"
						actionListener="#{testNondestructiveReportBean.kaynakGozleInspectionResultReportAllXlsx(testTahribatsizKaynakGozleMuayeneSonucBean.selectedPipe.pipeId)}" />
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.kaynakGozleInspectionResultReportAllXlsx(testTahribatsizKaynakGozleMuayeneSonucBean.selectedPipe.pipeId)}"
						image="/large_icons/report.png" title="FR-298">
					</h:commandButton>
				</h:panelGrid>
			</p:dialog>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>