<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">

				<!-- Kesim -->
				<p:tab id="kesimTabId"
					title="KESİM EKRANI *** #{testTahribatsizKesimBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{testTahribatsizKesimBean.selectedPipe.salesItem.itemNo} / #{testTahribatsizKesimBean.selectedPipe.salesItem.proposal.customer.shortName} / #{testTahribatsizKesimBean.selectedPipe.salesItem.diameter}x#{testTahribatsizKesimBean.selectedPipe.salesItem.thickness} / #{testTahribatsizKesimBean.selectedPipe.salesItem.quality} / #{testTahribatsizKesimBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{testTahribatsizKesimBean.barkodNo}">
					</p:inputText>
					<p:commandButton value="Boru Bul"
						actionListener="#{testTahribatsizKesimBean.fillTestListFromBarkod(testTahribatsizKesimBean.barkodNo)}"
						update="growl kesimPanelGridId kesimTests kesimTestsDataTableId orderAccordionPanelId"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>

					<!-- Koordinat Listesi -->
					<p:dataTable var="kesimTests" id="kesimTestsDataTableId"
						rowKey="#{kesimTests.id}" emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizKesimBean.allTestTahribatsizKesimList}"
						paginator="true" rows="13" dynamic="true"
						selection="#{testTahribatsizKesimBean.testTahribatsizKesimForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{testTahribatsizKesimBean.kesimListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="kesimTestsTabId kesimTestAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="kesimTestsDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="#{language.Kesimler}" rendered="true"></h:outputText>
						</f:facet>

						<p:column>
							<p:commandButton
								actionListener="#{testTahribatsizKesimBean.deleteManuelUtSonuc}"
								update="kesimPanelGridId kesimTestsDataTableId growl pipeTestsDataTableId"
								process="@this kesimPanelGridId" icon="ui-icon-trash">
								<f:param id="kesimDeletePipeId"
									value="#{testTahribatsizKesimBean.selectedPipe.pipeId}"></f:param>
							</p:commandButton>
						</p:column>

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{testTahribatsizKesimBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{testTahribatsizKesimBean.selectedPipe.salesItem.itemNo} - #{testTahribatsizKesimBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<!-- 						<p:column headerText="#{language.KoordinatQ}"> -->
						<!-- 							<h:outputText -->
						<!-- 								value="#{kesimTests.testTahribatsizManuelUtSonuc.koordinatQ}"></h:outputText> -->
						<!-- 						</p:column> -->

						<!-- 						<p:column headerText="#{language.KoordinatL}"> -->
						<!-- 							<h:outputText -->
						<!-- 								value="#{kesimTests.testTahribatsizManuelUtSonuc.koordinatL}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{kesimTests.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kesim'e Gönderen">
							<h:outputText
								value="#{kesimTests.user.employee.firstname} #{kesimTests.user.employee.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.KesimBaslamaZamani}">
							<h:outputText value="#{kesimTests.muayeneBaslamaZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{language.KesimBaslamaPersonel}">
							<h:outputText
								value="#{kesimTests.muayeneBaslamaUser.employee.firstname} #{kesimTests.muayeneBaslamaUser.employee.lastname}"></h:outputText>
						</p:column>

						<p:column style="text-align: center;">
							<f:facet name="header">
								<h:outputText value="Kesim İşlemi"></h:outputText>
							</f:facet>
							<p:graphicImage value="/small_icons/blank.png" style="border:0px"
								title="Boşta." rendered="#{kesimTests.durum == null}"></p:graphicImage>
							<p:graphicImage value="/small_icons/next.png" style="border:0px"
								title="Kesim Başlamış." rendered="#{kesimTests.durum == false}"></p:graphicImage>
							<p:graphicImage value="/small_icons/done.png" style="border:0px"
								title="Kesim Bitmiş." rendered="#{kesimTests.durum == true}"></p:graphicImage>
						</p:column>

						<p:column headerText="#{language.KesimBitisZamani}">
							<h:outputText value="#{kesimTests.muayeneBitisZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{language.KesimYapanPersonel}">
							<h:outputText
								value="#{kesimTests.user.employee.firstname} #{kesimTests.user.employee.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.Explanation} ">
							<h:outputText value="#{kesimTests.aciklama}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="kesimTestAddPanelGridId">
						<p:commandButton value="KESİM EKLE"
							update="growl kesimPanelGridId kesimTests"
							disabled="#{testTahribatsizKesimBean.selectedPipe.pipeId==null}"
							process="@this kesimPanelGridId" onclick="addKesimDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="DÜZENLE"
							update="growl kesimPanelGridId kesimTests"
							process="@this kesimPanelGridId"
							onclick="warningSelectedKesimDialog.show()"
							icon="ui-icon-circle-plus"
							rendered="#{testTahribatsizKesimBean.updateButtonRender}">
						</p:commandButton>
						<p:commandButton value="KESİME BAŞLA"
							rendered="#{testTahribatsizKesimBean.updateButtonRender}"
							update="growl kesimPanelGridId kesimTests" id="baslaButton"
							process="@this kesimPanelGridId"
							onclick="warningSelectedKesimDialog.show()"
							icon="ui-icon-circle-plus"
							disabled="#{testTahribatsizKesimBean.testTahribatsizKesimForm.durum==false}">
						</p:commandButton>
						<p:commandButton value="KESİMİ BİTİR"
							rendered="#{testTahribatsizKesimBean.testTahribatsizKesimForm.durum==false}"
							update="growl kesimPanelGridId kesimTests" id="bitirButton"
							process="@this kesimPanelGridId"
							onclick="warningSelectedKesimDialog.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="KESİMİ SİL"
							actionListener="#{testTahribatsizKesimBean.deleteKesimSonuc}"
							update="kesimPanelGridId kesimTestsDataTableId growl pipeTestsDataTableId"
							process="@this kesimPanelGridId" icon="ui-icon-trash"
							rendered="#{testTahribatsizKesimBean.updateButtonRender}">
							<f:param id="kesimDeletePipeId"
								value="#{testTahribatsizKesimBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</h:panelGrid>

				</p:tab>

			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />

			<p:dialog widgetVar="warningAllKesimDialog"
				header="#{language.salesWarning}">
				<h:outputText
					value="#{language.salesConfirmation} - Tüm Listeyi Kesim Testte Gönder!" />
				<br />

				<p:commandButton value="#{language.cancel}"
					oncomplete="warningAllKesimDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.submit}"
					actionListener="#{testTahribatsizKesimBean.addKesimSonuc}"
					oncomplete="warningAllKesimDialog.hide();"
					update="growl kesimPanelGridId kesimTests kesimTestsDataTableId orderAccordionPanelId"
					process="@this kesimPanelGridId">
					<f:param id="kesimAllPipeId"
						value="#{testTahribatsizKesimBean.selectedPipe.pipeId}"></f:param>
				</p:commandButton>
			</p:dialog>

			<p:dialog widgetVar="warningSelectedKesimDialog"
				header="#{language.salesWarning}" id="warningSelectedKesimDialogId">
				<h:outputText
					value="#{language.salesConfirmation} - Seçilen Koordinat için Kesim Test!" />
				<br />
				<h:outputText value="#{language.Explanation}"
					style="font-weight: bold;"></h:outputText>
				<br />
				<p:inputTextarea
					value="#{testTahribatsizKesimBean.testTahribatsizKesimForm.aciklama}"
					rows="5" maxLength="150" autoResize="false" maxHeight="5"
					id="hidroAciklamaId">
					<p:watermark for="hidroAciklamaId"
						value="Lütfen Açıklama Giriniz *" />
				</p:inputTextarea>
				<br />
				<p:commandButton value="#{language.cancel}"
					oncomplete="warningSelectedKesimDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="#{language.submit}"
					actionListener="#{testTahribatsizKesimBean.addKesimSonuc}"
					oncomplete="warningSelectedKesimDialog.hide();"
					update="growl kesimPanelGridId kesimTests kesimTestsDataTableId orderAccordionPanelId"
					process="@this kesimPanelGridId warningSelectedKesimDialogId">
					<f:param id="kesimSelectedPipeId"
						value="#{testTahribatsizKesimBean.selectedPipe.pipeId}"></f:param>
				</p:commandButton>
			</p:dialog>

			<p:dialog widgetVar="addKesimDialog"
				header="#{language.salesWarning}" id="addKesimDialogId">
				<h:outputText
					value="BORU KESİM İŞLEMİ EKLENECEKTİR, DEVAM ETMEK İSTİYOR MUSUNUZ?" />
				<br />

				<p:commandButton value="İPTAL - VAZGEÇ"
					onclick="addKesimDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="KAYDET - KABUL"
					actionListener="#{testTahribatsizKesimBean.addKesim}"
					oncomplete="addKesimDialog.hide();"
					update="growl kesimPanelGridId kesimTests kesimTestsDataTableId orderAccordionPanelId"
					process="@this kesimPanelGridId addKesimDialogId">
					<f:param id="selectedPipeId"
						value="#{testTahribatsizKesimBean.selectedPipe.pipeId}"></f:param>
				</p:commandButton>
			</p:dialog>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>