<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:toolbar id="toolbarAnaId">
				<p:toolbarGroup align="center" id="toolbarGroupId">
					<p:commandButton value="SON MANUEL KALİBRASYONU"
						actionListener="#{testTahribatsizManuelUtSonucBean.sonKalibrasyonuGoster}"
						update="growl kalibrasyonPanelGridId" id="kalibrasyonButton"
						process="@this" onclick="kalibrasyonDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="BORUYA KALİBRASYON ATAMA"
						update="growl kalibrasyonPanelGridId kalibrasyonsDataTableId"
						process="@this" onclick="kalibrasyonAtaDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="TAMİR'E GÖNDER"
						update="growl manuelUtPanelGridId manuelUtTests"
						process="@this manuelUtPanelGridId" icon="ui-icon-circle-plus"
						onclick="warningTamirDialog.show();">
					</p:commandButton>
					<p:commandButton value="TORNA'YA GÖNDER"
						update="growl manuelUtPanelGridId manuelUtTests"
						process="@this manuelUtPanelGridId" icon="ui-icon-circle-plus"
						onclick="warningTornaDialog.show();">
					</p:commandButton>
					<p:commandButton value="KESİM'E GÖNDER"
						update="growl manuelUtPanelGridId manuelUtTests"
						process="@this manuelUtPanelGridId" icon="ui-icon-circle-plus"
						onclick="warningKesimDialog.show();">
					</p:commandButton>
					<p:commandButton value="HİDROSTATİK TESTE GÖNDER"
						update="growl manuelUtPanelGridId manuelUtTests"
						process="@this manuelUtPanelGridId" icon="ui-icon-circle-plus"
						onclick="warningHidrostatikDialog.show();">
					</p:commandButton>
					<p:commandButton value="GÖZ ÖLÇÜYE GÖNDER"
						update="growl manuelUtPanelGridId manuelUtTests"
						process="@this manuelUtPanelGridId" icon="ui-icon-circle-plus"
						onclick="warningGozOlcuDialog.show();" disabled="false">
					</p:commandButton>
					<p:commandButton value="TOPLU RAPORLAMA" id="istatistikButtonId"
						update="growl istatistikPanelGridId" process="@this"
						onclick="istatistikDialogWidget.show()" icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="VARDİYE RAPORLAMA" id="vardiyeButtonId"
						update="growl vardiyePanelGridId" process="@this"
						onclick="vardiyeDialogWidget.show()" icon="ui-icon-circle-plus">
					</p:commandButton>
				</p:toolbarGroup>
			</p:toolbar>
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">
				<!-- Manuel UT -->
				<p:tab id="manuelUtTabId"
					title=" MANUEL UT EKRANI *** #{testTahribatsizManuelUtSonucBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{testTahribatsizManuelUtSonucBean.selectedPipe.salesItem.itemNo} / #{testTahribatsizManuelUtSonucBean.selectedPipe.salesItem.proposal.customer.shortName} / #{testTahribatsizManuelUtSonucBean.selectedPipe.salesItem.diameter}x#{testTahribatsizManuelUtSonucBean.selectedPipe.salesItem.thickness} / #{testTahribatsizManuelUtSonucBean.selectedPipe.salesItem.quality} / #{testTahribatsizManuelUtSonucBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{testTahribatsizManuelUtSonucBean.barkodNo}">
					</p:inputText>
					<p:commandButton value="BORU BUL"
						update="manuelUtPanelGridId manuelUtTestsDataTableId growl pipeTestsDataTableId toolbarGroupId manuelUtTestAddPanelGridId orderAccordionPanelId"
						process="@this inputBarkod"
						actionListener="#{testTahribatsizManuelUtSonucBean.fillTestListFromBarkod(testTahribatsizManuelUtSonucBean.barkodNo)}"
						icon="ui-icon-circle-plus" styleClass="foo">
					</p:commandButton>
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.manuelUtInspectionResultReportXlsx(testTahribatsizManuelUtSonucBean.selectedPipe.pipeId)}"
						image="/large_icons/report.png" title="FR-164">
					</h:commandButton>

					<!-- Koordinat Listesi -->
					<p:dataTable var="manuelUtTests" id="manuelUtTestsDataTableId"
						rowKey="#{manuelUtTests.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizManuelUtSonucBean.allTestTahribatsizManuelUtSonucList}"
						paginator="true" dynamic="true"
						selection="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:ajax event="rowSelect"
							listener="#{testTahribatsizManuelUtSonucBean.manuelUtListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="manuelUtTestsTabId manuelUtTestAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="manuelUtTestsDataTableId orderAccordionPanelId">
						</p:ajax>

						<!-- 						<p:ajax event="rowEdit" -->
						<!-- 							listener="#{testTahribatsizManuelUtSonucBean.addOrUpdateManuelUtSonuc}" -->
						<!-- 							update="growl" /> -->

						<f:facet name="header">
							<h:outputText value="#{language.ManuelUt}" rendered="true"></h:outputText>
							<h:commandLink title="#{language.salesExcelExport}">
								<p:graphicImage value="/sales_icons/excel.jpg"
									style="border:0px;height:20px" />
								<p:dataExporter type="xls"
									target="orderAccordionPanelId:manuelUtTestsDataTableId"
									fileName="manuelUt" />
							</h:commandLink>
						</f:facet>

						<!-- 						<p:column style="width:6%"> -->
						<!-- 							<f:facet name="header"> -->
						<!-- 								<h:outputText value="Düzenle" /> -->
						<!-- 							</f:facet> -->
						<!-- 							<p:rowEditor /> -->
						<!-- 						</p:column> -->

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{testTahribatsizManuelUtSonucBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{testTahribatsizManuelUtSonucBean.selectedPipe.salesItem.itemNo} - #{testTahribatsizManuelUtSonucBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Belirti Türü">
							<p:selectOneMenu value="#{manuelUtTests.kaynakLaminasyon}"
								disabled="true">
								<f:selectItem itemValue="" itemLabel="YOK"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Kaynak}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Laminasyon}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="Haz"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="A ucu - Boru ucu Malzeme"></f:selectItem>
								<f:selectItem itemValue="5" itemLabel="A ucu - Boru ucu Kaynak"></f:selectItem>
								<f:selectItem itemValue="6" itemLabel="B ucu - Boru ucu Malzeme"></f:selectItem>
								<f:selectItem itemValue="7" itemLabel="B ucu - Boru ucu Kaynak"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="#{language.WeldingProcess}">
							<p:selectOneMenu value="#{manuelUtTests.kaynakIslemi}"
								disabled="true">
								<f:selectItem itemValue="1" itemLabel="#{language.Saw}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Smaw}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="EK #{language.Saw}"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="EK #{language.Smaw}"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="#{language.KoordinatQ}">
							<h:outputText value="#{manuelUtTests.koordinatQ}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.KoordinatL}">
							<h:outputText value="#{manuelUtTests.koordinatL}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.ReflectorType} ">
							<p:selectBooleanCheckbox value="#{manuelUtTests.b}"
								disabled="true" itemLabel="B" />
							<p:selectBooleanCheckbox value="#{manuelUtTests.e}"
								disabled="true" itemLabel="E" />
							<p:selectBooleanCheckbox value="#{manuelUtTests.d}"
								disabled="true" itemLabel="D" />
							<p:selectBooleanCheckbox value="#{manuelUtTests.h}"
								disabled="true" itemLabel="H" />
						</p:column>

						<p:column headerText="Yansıtıcı Türü ">
							<p:selectBooleanCheckbox value="#{manuelUtTests.gazKanali}"
								disabled="true" itemLabel="Gaz. Knl." />
							<p:selectBooleanCheckbox value="#{manuelUtTests.curuf}"
								disabled="true" itemLabel="Curuf" />
							<p:selectBooleanCheckbox
								value="#{manuelUtTests.yetersizNufuziyet}" disabled="true"
								itemLabel="Yet. Nüf." />
							<p:selectBooleanCheckbox value="#{manuelUtTests.catlak}"
								disabled="true" itemLabel="Çatlak" />
							<p:selectBooleanCheckbox value="#{manuelUtTests.yanmaOlugu}"
								disabled="true" itemLabel="Yan. Ol." />
							<p:selectBooleanCheckbox value="#{manuelUtTests.yetersizErgime}"
								disabled="true" itemLabel="Yet. Erg." />
						</p:column>

						<p:column headerText="ΔVU ">
							<h:outputText value="#{manuelUtTests.vu}"></h:outputText>
						</p:column>

						<p:column headerText="Derinlik ">
							<h:outputText value="#{manuelUtTests.derinlik}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.Evaluation}">
							<p:selectOneMenu value="#{manuelUtTests.degerlendirme}"
								disabled="true">
								<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
								<!-- 								<f:selectItem itemValue="3" itemLabel="Torna"></f:selectItem> -->
								<f:selectItem itemValue="4" itemLabel="Kesim"></f:selectItem>
								<!-- 								<f:selectItem itemValue="5" itemLabel="Hidrostatik"></f:selectItem> -->
								<!-- 								<f:selectItem itemValue="6" itemLabel="Göz Ölçü"></f:selectItem> -->
								<f:selectItem itemValue="7" itemLabel="Karantina"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column style="text-align: center;">
							<f:facet name="header">
								<h:outputText value="Tamir İşlemi"></h:outputText>
							</f:facet>
							<h:outputText value="TAMİR YOK"
								rendered="#{manuelUtTests.testTahribatsizTamir.id == null}"
								style="color: black; font-weight: bold;"></h:outputText>
							<h:outputText value="TAMİR'E GÖNDERİLDİ"
								rendered="#{manuelUtTests.testTahribatsizTamir.id != null and manuelUtTests.testTahribatsizTamir.durum == null}"
								style="color: red; font-weight: bold;"></h:outputText>
							<h:outputText value="TAMİR'E BAŞLANDI"
								rendered="#{manuelUtTests.testTahribatsizTamir.id != null and manuelUtTests.testTahribatsizTamir.durum == false}"
								style="color: yellow; font-weight: bold;"></h:outputText>
							<h:outputText value="TAMİR TAMAMLANDI"
								rendered="#{manuelUtTests.testTahribatsizTamir.durum == true}"
								style="color: green; font-weight: bold;"></h:outputText>
						</p:column>


						<p:column headerText="Tamir Boyu">
							<h:outputText value="#{manuelUtTests.tamirSonrasiDegerlendirme}"></h:outputText>
						</p:column>

						<p:column headerText="Tamir Sonrası Durum">
							<p:selectOneMenu value="#{manuelUtTests.tamirSonrasiDurum}"
								disabled="true">
								<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
								<!-- 								<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem> -->
								<!-- 								<f:selectItem itemValue="3" itemLabel="Torna"></f:selectItem> -->
								<!-- 								<f:selectItem itemValue="4" itemLabel="Kesim"></f:selectItem> -->
								<!-- 								<f:selectItem itemValue="5" itemLabel="Hidrostatik"></f:selectItem> -->
								<!-- 								<f:selectItem itemValue="6" itemLabel="Göz Ölçü"></f:selectItem> -->
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="Tamir Kabul Zamanı">
							<h:outputText value="#{manuelUtTests.tamirKabulZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Tamiri Kabul Eden Kullanıcı">
							<h:outputText
								value="#{manuelUtTests.tamirKabulEmployee.employee.firstname} #{manuelUtTests.tamirKabulEmployee.employee.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.Explanation}">
							<h:outputText value="#{manuelUtTests.aciklama}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.Kaynak} / #{language.Laminasyon}">
							<p:selectOneMenu value="#{manuelUtTests.kaynakLaminasyon}"
								disabled="true">
								<f:selectItem itemValue="" itemLabel="YOK"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Kaynak}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Laminasyon}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="Haz"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="A ucu - Boru ucu Malzeme"></f:selectItem>
								<f:selectItem itemValue="5" itemLabel="A ucu - Boru ucu Kaynak"></f:selectItem>
								<f:selectItem itemValue="6" itemLabel="B ucu - Boru ucu Malzeme"></f:selectItem>
								<f:selectItem itemValue="7" itemLabel="B ucu - Boru ucu Kaynak"></f:selectItem>
							</p:selectOneMenu>
						</p:column>


						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{manuelUtTests.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<!-- 						<p:column headerText="Tamir Kabul Zamanı"> -->
						<!-- 							<h:outputText value="#{manuelUtTests.eklemeZamani}"> -->
						<!-- 								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss" -->
						<!-- 									timeZone="Europe/Istanbul" /> -->
						<!-- 							</h:outputText> -->
						<!-- 						</p:column> -->

						<!-- 						<p:column headerText="Tamiri Kabul Eden Kullanıcı"> -->
						<!-- 							<h:outputText -->
						<!-- 								value="#{manuelUtTests.tamirKabulEmployee.employee.firstname} #{manuelUtTests.tamirKabulEmployee.employee.lastname}"></h:outputText> -->
						<!-- 						</p:column> -->

					</p:dataTable>

					<p:contextMenu>
						<p:menuitem value="KOORDİNAT GÜNCELLE"
							icon="ui-icon-arrowrefresh-1-w"
							onclick="manuelUtDialogWidget.show()"
							process="@this manuelUtPanelGridId"
							update="growl manuelUtPanelGridId manuelUtTests" />
						<p:menuitem value="FLOROSKOPİ BİLGİLERİ" icon="ui-icon-close"
							actionListener="#{testTahribatsizManuelUtSonucBean.detayGoster}"
							process="@this floroskopikPanelGridId"
							onclick="floroskopikDialogWidget.show()"
							update="growl floroskopikPanelGridId floroskopikTests" />
						<p:menuitem value="MANUEL KALİTE ŞARTLARI"
							actionListener="#{testTahribatsizManuelUtSonucBean.kaliteGoster}"
							update="growl kaliteSartlariPanelGridId floroskopikTests"
							process="@this kaliteSartlariPanelGridId"
							onclick="kaliteSartlariDialogWidget.show()"
							icon="ui-icon-circle-plus" />
						<p:menuitem value="BORU İŞLEM DURUMU"
							actionListener="#{testTahribatsizManuelUtSonucBean.durumGoster}"
							update="growl durumPanelGridId floroskopikTests"
							process="@this durumPanelGridId"
							onclick="durumDialogWidget.show()" icon="ui-icon-circle-plus" />
					</p:contextMenu>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="manuelUtTestAddPanelGridId">

						<p:commandButton value="YENİ KOORDİNAT EKLE"
							actionListener="#{testTahribatsizManuelUtSonucBean.addTestTahribatsizManuelUtSonuc}"
							update="growl manuelUtPanelGridId manuelUtTests"
							process="@this manuelUtPanelGridId"
							onclick="manuelUtDialogWidget.show()" icon="ui-icon-circle-plus"
							disabled="#{!testTahribatsizManuelUtSonucBean.visibleButtonRender}">
						</p:commandButton>
						<p:commandButton value="KOORDİNAT GÜNCELLE"
							disabled="#{!testTahribatsizManuelUtSonucBean.updateButtonRender}"
							update="growl manuelUtPanelGridId manuelUtTests"
							id="updateManuelUtButton" process="@this manuelUtPanelGridId"
							onclick="manuelUtDialogWidget.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="SEÇİLİ KOORDİNATIN MANUEL UT KALİBRASYONU"
							id="kalibrasyonButton"
							actionListener="#{testTahribatsizManuelUtSonucBean.kalibrasyonGoster}"
							update="growl kalibrasyonPanelGridId" process="@this"
							onclick="kalibrasyonDialogWidget.show()"
							icon="ui-icon-circle-plus"
							disabled="#{!testTahribatsizManuelUtSonucBean.updateButtonRender}">
						</p:commandButton>
						<p:commandButton
							value="SEÇİLİ KOORDİNAT İÇİN FLOROSKOPİ BİLGİLERİ"
							actionListener="#{testTahribatsizManuelUtSonucBean.detayGoster}"
							disabled="#{!testTahribatsizManuelUtSonucBean.updateButtonRender}"
							update="growl floroskopikPanelGridId floroskopikTests"
							id="floroskopikButton" process="@this floroskopikPanelGridId"
							onclick="floroskopikDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="MANUEL UT KALİTE ŞARTLARI"
							actionListener="#{testTahribatsizManuelUtSonucBean.kaliteGoster}"
							update="growl kaliteSartlariPanelGridId floroskopikTests"
							id="kaliteSartlariButton"
							disabled="#{!testTahribatsizManuelUtSonucBean.updateButtonRender}"
							process="@this kaliteSartlariPanelGridId"
							onclick="kaliteSartlariDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="BORU İŞLEM DURUMU"
							actionListener="#{testTahribatsizManuelUtSonucBean.durumGoster}"
							update="growl durumPanelGridId floroskopikTests" id="durumButton"
							process="@this durumPanelGridId"
							onclick="durumDialogWidget.show()" icon="ui-icon-circle-plus"
							disabled="#{!testTahribatsizManuelUtSonucBean.updateButtonRender}">
						</p:commandButton>
						<p:commandButton
							actionListener="#{testTahribatsizManuelUtSonucBean.deleteManuelUtSonuc}"
							update="manuelUtPanelGridId manuelUtTestsDataTableId growl pipeTestsDataTableId"
							process="@this manuelUtPanelGridId" icon="ui-icon-trash"
							value="KOORDİNAT SİL"
							disabled="#{!testTahribatsizManuelUtSonucBean.updateButtonRender}">
							<f:param id="manuelUtDeletePipeId"
								value="#{testTahribatsizManuelUtSonucBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</h:panelGrid>

					<!-- test ekleme dialog -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false"
						header="#{language.Koordinat} #{language.Add}"
						id="manuelUtDialogId" widgetVar="manuelUtDialogWidget"
						showEffect="scale" hideEffect="scale">

						<h:panelGrid border="0" columns="7" cellspacing="5"
							style="text-align: center" id="manuelUtPanelGridId">
							<f:facet name="header">
								<h:outputText value="#{language.ManuelUt}" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="#{language.WeldingProcess}"
								style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.kaynakIslemi}">
								<f:selectItem itemValue="1" itemLabel="#{language.Saw}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Smaw}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="EK #{language.Saw}"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="EK #{language.Smaw}"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="#{language.Kaynak} / #{language.Laminasyon}"
								style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.kaynakLaminasyon}">
								<f:selectItem itemValue="1" itemLabel="#{language.Kaynak}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Laminasyon}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="Haz"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="A ucu - Boru ucu Malzeme"></f:selectItem>
								<f:selectItem itemValue="5" itemLabel="A ucu - Boru ucu Kaynak"></f:selectItem>
								<f:selectItem itemValue="6" itemLabel="B ucu - Boru ucu Malzeme"></f:selectItem>
								<f:selectItem itemValue="7" itemLabel="B ucu - Boru ucu Kaynak"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="#{language.KoordinatQ}"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								disabled="#{testTahribatsizManuelUtSonucBean.updateButtonRender}"
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.koordinatQ}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="#{language.KoordinatL}"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								disabled="#{testTahribatsizManuelUtSonucBean.updateButtonRender}"
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.koordinatL}">
							</p:inputText>

							<h:outputText value="#{language.ReflectorType}"
								style="font-weight: bold;"></h:outputText>
							<p:selectBooleanCheckbox
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.b}"
								itemLabel="B" />
							<p:selectBooleanCheckbox
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.e}"
								itemLabel="E" />
							<p:selectBooleanCheckbox
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.d}"
								itemLabel="D" />
							<p:selectBooleanCheckbox
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.h}"
								itemLabel="H" />

							<h:outputText value="Yansıtıcı Türü" style="font-weight: bold;"></h:outputText>
							<p:selectBooleanCheckbox
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.gazKanali}"
								itemLabel="Gözenek/Gaz Kanalı" />
							<p:selectBooleanCheckbox
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.curuf}"
								itemLabel="Curuf" />
							<p:selectBooleanCheckbox
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.yetersizNufuziyet}"
								itemLabel="Yetersiz Nüfuziyet" />
							<p:selectBooleanCheckbox
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.catlak}"
								itemLabel="Çatlak" />
							<p:selectBooleanCheckbox
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.yanmaOlugu}"
								itemLabel="Yanma Oluğu" />
							<p:selectBooleanCheckbox
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.yetersizErgime}"
								itemLabel="Yetersiz Ergime" />

							<h:outputText value="ΔVU" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.vu}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Derinlik" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.derinlik}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
""

							<h:outputText value="#{language.Evaluation}"
								style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.degerlendirme}">
								<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
								<!-- 								<f:selectItem itemValue="3" itemLabel="Torna"></f:selectItem> -->
								<f:selectItem itemValue="4" itemLabel="Kesim"></f:selectItem>
								<!-- 								<f:selectItem itemValue="5" itemLabel="Hidrostatik"></f:selectItem> -->
								<!-- 								<f:selectItem itemValue="6" itemLabel="Göz Ölçü"></f:selectItem> -->
								<f:selectItem itemValue="7" itemLabel="Karantina"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>

							<!-- 							<h:outputText value="#{language.Evaluation}" -->
							<!-- 								style="font-weight: bold;"></h:outputText> -->
							<!-- 							<p:selectOneMenu value=""> -->
							<!-- 								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem> -->
							<!-- 								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem> -->
							<!-- 								<f:selectItem itemValue="2" itemLabel="#{language.Tamir}"></f:selectItem> -->
							<!-- 								<f:selectItem itemValue="3" itemLabel="#{language.Torna}"></f:selectItem> -->
							<!-- 								<f:selectItem itemValue="4" itemLabel="#{language.Hidrostatik}"></f:selectItem> -->
							<!-- 							</p:selectOneMenu> -->
							<!-- 							<h:outputText value=""></h:outputText> -->
							<!-- 							<h:outputText value=""></h:outputText> -->
							<!-- 							<h:outputText value=""></h:outputText> -->
							<!-- 							<h:outputText value=""></h:outputText> -->
							<!-- 							<h:outputText value=""></h:outputText> -->

							<h:outputText value="Tamir Boyu" style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.tamirSonrasiDegerlendirme}"
								disabled="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.testTahribatsizTamir.durum==null}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value="Tamir Sonrası Durumu"
								style="font-weight: bold;"></h:outputText>
							<!-- 							<p:selectOneMenu -->
							<!-- 								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.tamirSonrasiDurum}" -->
							<!-- 								disabled="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.testTahribatsizTamir.durum==null}"> -->
							<!-- 								<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem> -->
							<!-- 								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem> -->
							<!-- 								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem> -->
							<!-- 																<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem> -->
							<!-- 																<f:selectItem itemValue="3" itemLabel="Torna"></f:selectItem> -->
							<!-- 																<f:selectItem itemValue="4" itemLabel="Kesim"></f:selectItem> -->
							<!-- 																<f:selectItem itemValue="5" itemLabel="Hidrostatik"></f:selectItem> -->
							<!-- 																<f:selectItem itemValue="6" itemLabel="Göz Ölçü"></f:selectItem> -->
							<!-- 							</p:selectOneMenu> -->
							<p:selectOneMenu
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.tamirSonrasiDurum}">
								<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
								<!-- 								<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem> -->
								<!-- 								<f:selectItem itemValue="3" itemLabel="Torna"></f:selectItem> -->
								<!-- 								<f:selectItem itemValue="4" itemLabel="Kesim"></f:selectItem> -->
								<!-- 								<f:selectItem itemValue="5" itemLabel="Hidrostatik"></f:selectItem> -->
								<!-- 								<f:selectItem itemValue="6" itemLabel="Göz Ölçü"></f:selectItem> -->
							</p:selectOneMenu>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="#{language.Explanation}"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizManuelUtSonucForm.aciklama}">
							</p:inputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAYDET"
								update="manuelUtPanelGridId manuelUtTestsDataTableId growl pipeTestsDataTableId"
								process="@this manuelUtPanelGridId"
								actionListener="#{testTahribatsizManuelUtSonucBean.addOrUpdateManuelUtSonuc}"
								icon="ui-icon-circle-plus"
								oncomplete="if (!args.validationFailed){manuelUtDialogWidget.hide();}">
								<f:param id="manuelUtPipeId"
									value="#{tahribatsizTestOrderListBean.selectedPipe.pipeId}"></f:param>
								<f:param id="manuelUtItemId"
									value="#{tahribatsizTestOrderListBean.selectedSalesItem.itemId}"></f:param>
							</p:commandButton>
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="manuelUtDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>

					<!-- floroskopik bilgiler -->

					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false"
						header="#{language.FloroskopikBilgileri}" id="floroskopikDialogId"
						widgetVar="floroskopikDialogWidget" showEffect="scale"
						hideEffect="scale">

						<h:panelGrid border="0" columns="4" cellspacing="5"
							style="text-align: center" id="floroskopikPanelGridId">
							<f:facet name="header">
								<h:outputText value="#{language.FloroskopikBilgileri}"
									rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="#{language.WeldingProcess}"
								style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizFloroskopikSonucForm.kaynakIslemi}"
								disabled="true">
								<f:selectItem itemValue="1" itemLabel="#{language.Saw}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Smaw}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="EK #{language.Saw}"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="EK #{language.Smaw}"></f:selectItem>
							</p:selectOneMenu>

							<h:outputText value=""></h:outputText>
							<h:outputText value=""></h:outputText>

							<h:outputText value="Koordinat Q" style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizFloroskopikSonucForm.koordinatQ}">
							</h:outputText>

							<h:outputText value="Koordinat L" style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizFloroskopikSonucForm.koordinatL}">
							</h:outputText>

							<h:outputText value="Tamir / Kesim" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizFloroskopikSonucForm.tamirKesim}"
								disabled="true">
								<f:selectItem itemValue="-1" itemLabel="Yok"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Repair}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Cut}"></f:selectItem>
							</p:selectOneMenu>

							<h:outputText value="Kabul / Red" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizFloroskopikSonucForm.result}"
								disabled="true">
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="Torna"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="Kesim"></f:selectItem>
								<f:selectItem itemValue="5" itemLabel="Hidrostatik"></f:selectItem>
								<f:selectItem itemValue="6" itemLabel="Göz Ölçü"></f:selectItem>
							</p:selectOneMenu>

							<h:outputText value="Açıklamalar " style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizFloroskopikSonucForm.aciklama}">
							</h:outputText>

							<h:outputText value="Belirti Açıklaması "
								style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{testTahribatsizManuelUtSonucBean.testTahribatsizFloroskopikSonucForm.belirtiAciklama}">
							</h:outputText>

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="floroskopikDialogWidget.hide()" />
							<p:messages id="floroskopikMessagesId" showDetail="false"
								showSummary="false"></p:messages>
						</h:panelGrid>
					</p:dialog>

					<!-- Kalite Şartları bilgiler -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false"
						header="MANUEL UT KALİTE TANIMLARI" id="kaliteSartlariDialogId"
						widgetVar="kaliteSartlariDialogWidget" showEffect="scale"
						hideEffect="scale">

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="kaliteSartlariPanelGridId">
							<f:facet name="header">
								<h:outputText value="KALİTE ŞARTLARI" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="Test Kodu" style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{testTahribatsizManuelUtSonucBean.selectedNonTest.code}">
							</h:outputText>

							<h:outputText value="Standart" style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{testTahribatsizManuelUtSonucBean.selectedNonTest.standard}">
							</h:outputText>

							<h:outputText value="Değerlendirme Standardı"
								style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{testTahribatsizManuelUtSonucBean.selectedNonTest.assesStandard}">
							</h:outputText>

							<h:outputText value="Sıklık" style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="% #{testTahribatsizManuelUtSonucBean.selectedNonTest.frequency}">
							</h:outputText>

							<h:outputText value="Kalibrasyon" style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{testTahribatsizManuelUtSonucBean.selectedNonTest.calibration}">
							</h:outputText>

							<h:outputText value="Açıklama" style="font-weight: bold;"></h:outputText>
							<h:outputText
								value="#{testTahribatsizManuelUtSonucBean.selectedNonTest.explanation}">
							</h:outputText>

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="kaliteSartlariDialogWidget.hide()" />
							<p:messages id="kaliteSartlariMessagesId" showDetail="false"
								showSummary="false"></p:messages>
						</h:panelGrid>
					</p:dialog>

					<!-- Boru Durum bilgiler -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false" header="BORU İŞLEM DURUMU"
						id="durumDialogId" widgetVar="durumDialogWidget"
						showEffect="scale" hideEffect="scale">

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="durumPanelGridId">

							<h:outputText value="TORNA" style="font-weight: bold;"></h:outputText>
							<p:graphicImage value="/small_icons/blank.png" style="border:0px"
								title="Torna İşleminde!"
								rendered="#{testTahribatsizManuelUtSonucBean.testTahribatsizTorna.durum == false}"></p:graphicImage>
							<p:graphicImage value="/small_icons/done.png" style="border:0px"
								title="Torna Tamamlanmış!"
								rendered="#{testTahribatsizManuelUtSonucBean.testTahribatsizTorna.durum == true}"></p:graphicImage>
							<p:graphicImage value="/small_icons/missing.png"
								style="border:0px" title="İşlem Yok!"
								rendered="#{testTahribatsizManuelUtSonucBean.testTahribatsizTorna.durum == null}"></p:graphicImage>

							<h:outputText value="HİDROSTATİK" style="font-weight: bold;"></h:outputText>
							<p:graphicImage value="/small_icons/blank.png" style="border:0px"
								title="Tamir İşleminde!"
								rendered="#{testTahribatsizManuelUtSonucBean.testTahribatsizHidrostatik.durum == false}"></p:graphicImage>
							<p:graphicImage value="/small_icons/done.png" style="border:0px"
								title="Tamir Tamamlanmış!"
								rendered="#{testTahribatsizManuelUtSonucBean.testTahribatsizHidrostatik.durum == true}"></p:graphicImage>
							<p:graphicImage value="/small_icons/missing.png"
								style="border:0px" title="İşlem Yok!"
								rendered="#{testTahribatsizManuelUtSonucBean.testTahribatsizHidrostatik.durum == null}"></p:graphicImage>

							<h:outputText value="GÖZ ÖLÇÜ" style="font-weight: bold;"></h:outputText>
							<p:graphicImage value="/small_icons/blank.png" style="border:0px"
								title="Göz Ölçü İşleminde."
								rendered="#{testTahribatsizManuelUtSonucBean.testTahribatsizGozOlcuSonuc.result == -1}"></p:graphicImage>
							<p:graphicImage value="/small_icons/done.png" style="border:0px"
								title="Göz Ölçü Tamamlanmış."
								rendered="#{testTahribatsizManuelUtSonucBean.testTahribatsizGozOlcuSonuc.result == 1}"></p:graphicImage>
							<p:graphicImage value="/small_icons/missing.png"
								style="border:0px" title="İşlem Yok."
								rendered="#{testTahribatsizManuelUtSonucBean.testTahribatsizGozOlcuSonuc.result == null}"></p:graphicImage>

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="durumDialogWidget.hide()" />
							<p:messages id="durumMessagesId" showDetail="false"
								showSummary="false"></p:messages>
						</h:panelGrid>
					</p:dialog>

				</p:tab>

			</p:accordionPanel>
			<p:growl id="growl" />
			<p:dialog widgetVar="warningTamirDialog"
				header="#{language.salesWarning}">
				<h:outputText
					value="SEÇİLEN BORU KOORDİNATLARI TAMİR'E GÖNDERİLECEKTİR, DEVAM ETMEK İSTİYOR MUSUNUZ?" />
				<br />

				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="warningTamirDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="KABUL ET - KAYDET"
					actionListener="#{testTahribatsizManuelUtSonucBean.tamir}"
					oncomplete="warningTamirDialog.hide();"
					update="growl manuelUtPanelGridId manuelUtTests orderAccordionPanelId koordinatsTabId manuelUtTabId"
					process="@this manuelUtPanelGridId" />
			</p:dialog>
			<p:dialog widgetVar="warningTornaDialog"
				header="#{language.salesWarning}">
				<h:outputText
					value="SEÇİLEN BORU TORNA İŞLEMİNE GÖNDERİLECEKTİR, DEVAM ETMEK İSTİYOR MUSUNUZ?" />
				<br />

				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="warningTornaDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="KABUL ET - KAYDET"
					actionListener="#{testTahribatsizManuelUtSonucBean.torna}"
					update="growl manuelUtPanelGridId	manuelUtTests orderAccordionPanelId koordinatsTabId manuelUtTabId"
					process="@this manuelUtPanelGridId"
					oncomplete="warningTornaDialog.hide();" />
			</p:dialog>
			<p:dialog widgetVar="warningHidrostatikDialog"
				header="#{language.salesWarning}">
				<h:outputText
					value="SEÇİLEN BORU HİDROSTATİK TESTE GÖNDERİLECEKTİR, DEVAM ETMEK İSTİYOR MUSUNUZ?" />
				<br />

				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="warningHidrostatikDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="KABUL ET - KAYDET"
					actionListener="#{testTahribatsizManuelUtSonucBean.hidrostatik}"
					update="growl manuelUtPanelGridId	manuelUtTests orderAccordionPanelId koordinatsTabId manuelUtTabId"
					process="@this manuelUtPanelGridId"
					oncomplete="warningHidrostatikDialog.hide();" />
			</p:dialog>
			<p:dialog widgetVar="warningGozOlcuDialog"
				header="#{language.salesWarning}">
				<h:outputText
					value="SEÇİLEN BORU GÖZ ÖLÇÜ İSTASYONUNA SEVK EDİLECEKTİR, DEVAM ETMEK İSTİYOR MUSUNUZ?" />
				<br />

				<p:commandButton value="VAZGEÇ - KAPAT"
					oncomplete="warningGozOlcuDialog.hide();" />

				<p:spacer width="15" height="50" />

				<p:commandButton value="KABUL ET - KAYDET"
					actionListener="#{testTahribatsizManuelUtSonucBean.gozOlcu}"
					update="growl manuelUtPanelGridId	manuelUtTests orderAccordionPanelId koordinatsTabId manuelUtTabId"
					process="@this manuelUtPanelGridId"
					oncomplete="warningGozOlcuDialog.hide();" />
			</p:dialog>

			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="MANUEL UT KALİBRASYON BİLGİLERİ" id="kalibrasyonDialogId"
				widgetVar="kalibrasyonDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonPanelGridId">
					<f:facet name="header">
						<h:outputText value="MANUEL UT KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<h:outputText value="Kalibrasyon Tarihi : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizManuelUtSonucBean.kalibrasyon.kalibrasyonZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>

					<h:outputText value="Kalibrasyon Yapan : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizManuelUtSonucBean.kalibrasyon.kalibrasyonuYapan}">
					</h:outputText>

				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="MANUEL UT KALİBRASYON BİLGİLERİ" id="kalibrasyonAtaDialogId"
				widgetVar="kalibrasyonAtaDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonAtaPanelGridId">
					<f:facet name="header">
						<h:outputText value="MANUEL UT KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<p:dataTable var="kalibrasyons" id="kalibrasyonsDataTableId"
						rowKey="#{kalibrasyons.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizManuelUtSonucBean.kalibrasyonlar}"
						paginator="true" dynamic="true"
						selection="#{testTahribatsizManuelUtSonucBean.kalibrasyon}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<f:facet name="header">
							<h:outputText value="TÜM MANUEL UT KALİBRASYONLARI"
								rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="Kalibrasyon Zamanı">
							<h:outputText value="#{kalibrasyons.kalibrasyonZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kalibrasyon Yapan">
							<h:outputText value="#{kalibrasyons.kalibrasyonuYapan}"></h:outputText>
						</p:column>

					</p:dataTable>

				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="KALİBRASYON ATA" update="growl"
						process="@this kalibrasyonAtaPanelGridId"
						actionListener="#{testTahribatsizManuelUtSonucBean.kalibrasyonAta}"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonAtaDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- istatistik -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="MANUEL UT KALİBRASYON İSTASTİSTİK RAPORLARI"
				id="istatistikDialogId" widgetVar="istatistikDialogWidget"
				showEffect="scale" hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="istatistikPanelGridId">
					<f:facet name="header">
						<h:outputText
							value="MANUEL UT BİLGİLERİ - ÖNCE BORU BARKOD OKUTUNUZ!"
							rendered="true"></h:outputText>
					</f:facet>
					<h:outputText value="İlk Boru Barkod No : "
						style="font-weight: bold;"></h:outputText>
					<p:inputText value="#{testNondestructiveReportBean.firstBarkodNo}"
						disabled="#{!testTahribatsizManuelUtSonucBean.visibleButtonRender}">
					</p:inputText>
					<h:outputText value="Son Boru Barkod No : "
						style="font-weight: bold;"></h:outputText>
					<p:inputText value="#{testNondestructiveReportBean.secondBarkodNo}"
						disabled="#{!testTahribatsizManuelUtSonucBean.visibleButtonRender}">
					</p:inputText>
				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="RAPOR OLUŞTUR - SONRA RAPOR TUŞUNA BAS!"
						process="@this istatistikPanelGridId" icon="ui-icon-circle-close"
						actionListener="#{testNondestructiveReportBean.manuelUtInspectionResultReportAllXlsx(testTahribatsizManuelUtSonucBean.selectedPipe.pipeId)}" />
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.manuelUtInspectionResultReportAllXlsx(testTahribatsizManuelUtSonucBean.selectedPipe.pipeId)}"
						image="/large_icons/report.png" title="Seçili Borular - FR-164">
					</h:commandButton>
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="istatistikDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- vardiye -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="MUT VARDİYE RAPORLARI"
				id="vardiyeDialogId" widgetVar="vardiyeDialogWidget"
				showEffect="scale" hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="vardiyePanelGridId">
					<f:facet name="header">
						<h:outputText value="MUT BİLGİLERİ - ÖNCE BORU BARKOD OKUTUNUZ!"
							rendered="true"></h:outputText>
					</f:facet>

					<h:outputText value="Başlangıç Zamanı (gg/aa/yyyy SS:dd): "
						style="font-weight: bold;"></h:outputText>
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						required="true" requiredMessage="#{language.RequiredMessage}"
						value="#{testNondestructiveReportBean.baslangicTarihi}"
						pattern="dd/MM/yyyy HH:mm" />

					<h:outputText value="Bitiş Zamanı (gg/aa/yyyy SS:dd): "
						style="font-weight: bold;"></h:outputText>
					<p:calendar mode="popup" autocomplete="false" showOn="button"
						required="true" requiredMessage="#{language.RequiredMessage}"
						value="#{testNondestructiveReportBean.bitisTarihi}"
						pattern="dd/MM/yyyy HH:mm" />
				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="2" cellspacing="5">
					<p:commandButton
						value="FR-164 RAPOR OLUŞTUR - SONRA RAPOR TUŞUNA BAS!"
						process="@this vardiyePanelGridId" icon="ui-icon-circle-close"
						actionListener="#{testNondestructiveReportBean.manuelUtInspectionResultReportAllXlsx(testTahribatsizManuelUtSonucBean.selectedPipe.pipeId)}" />
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.manuelUtInspectionResultReportAllXlsx(testTahribatsizManuelUtSonucBean.selectedPipe.pipeId)}"
						image="/large_icons/report.png" title="FR-164">
					</h:commandButton>
				</h:panelGrid>
			</p:dialog>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>