<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:toolbar id="toolbarAnaId">
				<p:toolbarGroup align="center">
					<p:commandButton value="SON BORU UCU KALİBRASYONU"
						actionListener="#{testTahribatsizManyetikParcacikSonucBean.sonKalibrasyonuGoster(1)}"
						update="growl kalibrasyonTaslanmisPanelGridId kalibrasyonTamirPanelGridId kalibrasyonBoruucuPanelGridId"
						process="@this" onclick="kalibrasyonBoruucuDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="SON TAŞLANMIŞ KALİBRASYONU"
						actionListener="#{testTahribatsizManyetikParcacikSonucBean.sonKalibrasyonuGoster(2)}"
						update="growl kalibrasyonPanelGridId kalibrasyonTaslanmisPanelGridId kalibrasyonTamirPanelGridId kalibrasyonBoruucuPanelGridId"
						process="@this" onclick="kalibrasyonTaslanmisDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="SON TAMİR KALİBRASYONU"
						actionListener="#{testTahribatsizManyetikParcacikSonucBean.sonKalibrasyonuGoster(3)}"
						update="growl kalibrasyonPanelGridId kalibrasyonTaslanmisPanelGridId kalibrasyonTamirPanelGridId kalibrasyonBoruucuPanelGridId"
						process="@this" onclick="kalibrasyonTamirDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="BORU UCU KALİBRASYON ATAMA"
						update="growl kalibrasyonPanelGridId kalibrasyonTaslanmisPanelGridId kalibrasyonTamirPanelGridId kalibrasyonsDataTableId"
						process="@this" onclick="kalibrasyonAtaDialogWidget.show()"
						icon="ui-icon-circle-plus"
						actionListener="#{testTahribatsizManyetikParcacikSonucBean.kalibrasyonlarByType(1)}">
					</p:commandButton>
					<p:commandButton value="TAŞLANMIŞ KALİBRASYON ATAMA"
						update="growl kalibrasyonPanelGridId kalibrasyonTaslanmisPanelGridId kalibrasyonTamirPanelGridId kalibrasyonsDataTableId"
						process="@this" onclick="kalibrasyonAtaDialogWidget.show()"
						icon="ui-icon-circle-plus"
						actionListener="#{testTahribatsizManyetikParcacikSonucBean.kalibrasyonlarByType(2)}">
					</p:commandButton>
					<p:commandButton value="TAMİR KALİBRASYON ATAMA"
						update="growl kalibrasyonPanelGridId kalibrasyonTaslanmisPanelGridId kalibrasyonTamirPanelGridId kalibrasyonsDataTableId"
						process="@this" onclick="kalibrasyonAtaDialogWidget.show()"
						icon="ui-icon-circle-plus"
						actionListener="#{testTahribatsizManyetikParcacikSonucBean.kalibrasyonlarByType(3)}">
					</p:commandButton>
					<p:commandButton value="TOPLU RAPORLAMA" id="istatistikButtonId"
						update="growl istatistikPanelGridId" process="@this"
						onclick="istatistikDialogWidget.show()" icon="ui-icon-circle-plus">
					</p:commandButton>
				</p:toolbarGroup>
			</p:toolbar>
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">
				<!-- Manyetik Parçaçık Testleri -->
				<p:tab id="manyetikParcacikTabId"
					title=" MANYETİK PARÇACIK MUAYENE EKRANI *** #{testTahribatsizManyetikParcacikSonucBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{testTahribatsizManyetikParcacikSonucBean.selectedPipe.salesItem.itemNo} / #{testTahribatsizManyetikParcacikSonucBean.selectedPipe.salesItem.proposal.customer.shortName} / #{testTahribatsizManyetikParcacikSonucBean.selectedPipe.salesItem.diameter}x#{testTahribatsizManyetikParcacikSonucBean.selectedPipe.salesItem.thickness} / #{testTahribatsizManyetikParcacikSonucBean.selectedPipe.salesItem.quality} / #{testTahribatsizManyetikParcacikSonucBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value="BORU BARKOD OKUT" style="font-weight: bold;"></h:outputText>
					<p:inputText style="width:100px;" id="inputBarkod"
						value="#{testTahribatsizManyetikParcacikSonucBean.barkodNo}" />
					<p:commandButton value="Boru Bul"
						update="manyetikParcacikPanelGridId manyetikParcacikTestsDataTableId growl pipeTestsDataTableId orderAccordionPanelId"
						process="@this inputBarkod"
						actionListener="#{testTahribatsizManyetikParcacikSonucBean.fillTestListFromBarkod(testTahribatsizManyetikParcacikSonucBean.barkodNo)}"
						selection="#{tahribatsizTestOrderListBean.selectedPipe}"
						icon="ui-icon-circle-plus" styleClass="foo">
					</p:commandButton>
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.manyetikParcacikInspectionResultReportXlsx(testTahribatsizManyetikParcacikSonucBean.selectedPipe.pipeId,1)}"
						image="/large_icons/report.png" title="FR-242 - Boru Ucu">
					</h:commandButton>
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.manyetikParcacikInspectionResultReportXlsx(testTahribatsizManyetikParcacikSonucBean.selectedPipe.pipeId,2)}"
						image="/large_icons/report.png" title="FR-242 - Taşlanmış Bölge">
					</h:commandButton>
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.manyetikParcacikInspectionResultReportXlsx(testTahribatsizManyetikParcacikSonucBean.selectedPipe.pipeId,3)}"
						image="/large_icons/report.png"
						title="FR-242 - Kaynak Tamiri Öncesi">
					</h:commandButton>

					<!-- Test Listesi -->
					<p:dataTable var="manyetikParcacikTests"
						id="manyetikParcacikTestsDataTableId"
						rowKey="#{manyetikParcacikTests.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizManyetikParcacikSonucBean.allTestTahribatsizManyetikParcacikSonucList}"
						paginator="true" dynamic="true"
						selection="#{testTahribatsizManyetikParcacikSonucBean.testTahribatsizManyetikParcacikSonucForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{testTahribatsizManyetikParcacikSonucBean.manyetikParcacikListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="manyetikParcacikTestsTabId manyetikParcacikTestAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="manyetikParcacikTestsDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="Maynetik Parçacık Muayenesi" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.DokumNumber}">
							<h:outputText
								value="#{manyetikParcacikTests.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.CoilNumber}">
							<h:outputText
								value="#{manyetikParcacikTests.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}"></h:outputText>
						</p:column>

						<!-- 						<p:column headerText="#{language.PipeNumber}" id="pipeNo"> -->
						<!-- 							<h:outputText -->
						<!-- 								value="#{tahribatsizTestOrderListBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{tahribatsizTestOrderListBean.selectedPipe.salesItem.itemNo} - #{tahribatsizTestOrderListBean.selectedPipe.pipeIndex}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{testTahribatsizManyetikParcacikSonucBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{testTahribatsizManyetikParcacikSonucBean.selectedPipe.salesItem.itemNo} - #{testTahribatsizManyetikParcacikSonucBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column
							headerText="#{language.KoordinatQ}  #{language.KoordinatL}">
							<h:outputText
								value="#{manyetikParcacikTests.koordinatQ} x #{manyetikParcacikTests.koordinatL}"></h:outputText>
						</p:column>

						<p:column headerText="Süreksizlik Tanımı">
							<p:selectOneMenu
								value="#{manyetikParcacikTests.sureksizlikTanimi}"
								disabled="true">
								<f:selectItem itemValue="" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="Doğrusal"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="Doğrusal olmayan"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="Muayene Kapsamı">
							<p:selectOneMenu value="#{manyetikParcacikTests.hataTipi}"
								disabled="true">
								<f:selectItem itemValue="" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="Boru Ağzı"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="Taşlanmış Bölge"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="Kaynak Tamiri Öncesi"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="Sonuç">
							<p:selectOneMenu value="#{manyetikParcacikTests.sonuc}"
								disabled="true">
								<f:selectItem itemValue="-1" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="Açıklama ">
							<h:outputText value="#{manyetikParcacikTests.note}"></h:outputText>
						</p:column>

						<p:column headerText="Tamir Sonrası Değerlendirme">
							<p:selectOneMenu
								value="#{manyetikParcacikTests.tamirSonrasiDurum}"
								disabled="true">
								<f:selectItem itemValue="-1" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{manyetikParcacikTests.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>
					</p:dataTable>

					<p:contextMenu>
						<p:menuitem value="KOORDİNAT GÜNCELLE"
							icon="ui-icon-arrowrefresh-1-w"
							process="@this manyetikParcacikPanelGridId"
							onclick="manyetikParcacikDialogWidget.show()"
							update="growl manyetikParcacikPanelGridId manyetikParcacikTests" />
					</p:contextMenu>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="manyetikParcacikTestAddPanelGridId">
						<p:commandButton value="YENİ KORDİNAT EKLE"
							actionListener="#{testTahribatsizManyetikParcacikSonucBean.addTestTahribatsizManyetikParcacikSonuc}"
							update="growl manyetikParcacikPanelGridId manyetikParcacikTests"
							process="@this" onclick="manyetikParcacikDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="KOORDİNAT GÜNCELLE"
							rendered="#{testTahribatsizManyetikParcacikSonucBean.updateButtonRender}"
							update="growl manyetikParcacikPanelGridId manyetikParcacikTests"
							id="updateManyetikParcacikButton"
							process="@this manyetikParcacikPanelGridId"
							onclick="manyetikParcacikDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton
							value="SEÇİLİ KOORDİNATIN MANYETİK PARÇACIK KALİBRASYONU"
							actionListener="#{testTahribatsizManyetikParcacikSonucBean.kalibrasyonGoster}"
							update="growl kalibrasyonPanelGridId kalibrasyonTaslanmisPanelGridId kalibrasyonTamirPanelGridId"
							process="@this" onclick="kalibrasyonDialogWidget.show()"
							icon="ui-icon-circle-plus"
							disabled="#{!testTahribatsizManyetikParcacikSonucBean.updateButtonRender}">
						</p:commandButton>
						<p:commandButton value="SPEC EKLE/GÜNCELLE"
							rendered="#{testTahribatsizManyetikParcacikSonucBean.updateButtonRender}"
							actionListener="#{specMagneticBean.addSpec(testTahribatsizManyetikParcacikSonucBean.selectedPipe.pipeId)}"
							update="growl manyetikParcacikPanelGridId manyetikParcacikTests yuzeyGrid isilGrid sicaklikGrid"
							process="@this" onclick="specDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton
							actionListener="#{testTahribatsizManyetikParcacikSonucBean.deleteManyetikParcacikSonuc}"
							update="manyetikParcacikPanelGridId manyetikParcacikTestsDataTableId growl pipeTestsDataTableId"
							process="@this manyetikParcacikPanelGridId" icon="ui-icon-trash"
							value="KOORDİNAT SİL">
							<f:param id="manyetikParcacikDeletePipeId"
								value="#{testTahribatsizManyetikParcacikSonucBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</h:panelGrid>

					<!-- kordinat ekleme dialog -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false"
						header="#{language.KoordinatEkle}" id="manyetikParcacikDialogId"
						widgetVar="manyetikParcacikDialogWidget" showEffect="scale"
						hideEffect="scale">

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="manyetikParcacikPanelGridId">
							<f:facet name="header">
								<h:outputText value="Maynetik Parçacık Muayenesi"
									rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="#{language.KoordinatQ}*"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizManyetikParcacikSonucBean.testTahribatsizManyetikParcacikSonucForm.koordinatQ}">
							</p:inputText>

							<h:outputText value="#{language.KoordinatL}*"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizManyetikParcacikSonucBean.testTahribatsizManyetikParcacikSonucForm.koordinatL}">
							</p:inputText>

							<h:outputText value="Süreksizlik Tanımı"
								style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizManyetikParcacikSonucBean.testTahribatsizManyetikParcacikSonucForm.sureksizlikTanimi}">
								<f:selectItem itemValue="" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="Doğrusal"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="Doğrusal olmayan"></f:selectItem>
							</p:selectOneMenu>

							<h:outputText value="Muayene Kapsamı" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizManyetikParcacikSonucBean.testTahribatsizManyetikParcacikSonucForm.hataTipi}">
								<f:selectItem itemValue="" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="Boru Ağzı"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="Taşlanmış Bölge"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="Kaynak Tamiri Öncesi"></f:selectItem>
							</p:selectOneMenu>

							<h:outputText value="Sonuç" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizManyetikParcacikSonucBean.testTahribatsizManyetikParcacikSonucForm.sonuc}">
								<f:selectItem itemValue="" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
							</p:selectOneMenu>

							<h:outputText value="#{language.Explanation}"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizManyetikParcacikSonucBean.testTahribatsizManyetikParcacikSonucForm.note}">
							</p:inputText>

							<h:outputText value="Tamir Sonrası Değerlendirme"
								style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizManyetikParcacikSonucBean.testTahribatsizManyetikParcacikSonucForm.tamirSonrasiDurum}">
								<f:selectItem itemValue="-1" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
							</p:selectOneMenu>

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAYDET"
								update="manyetikParcacikPanelGridId manyetikParcacikTestsDataTableId growl pipeTestsDataTableId"
								process="@this manyetikParcacikPanelGridId"
								actionListener="#{testTahribatsizManyetikParcacikSonucBean.addOrUpdateManyetikParcacikSonuc}"
								icon="ui-icon-circle-plus"
								oncomplete="if (!args.validationFailed){manyetikParcacikDialogWidget.hide();}">
								<f:param id="manyetikParcacikPipeId"
									value="#{tahribatsizTestOrderListBean.selectedPipe.pipeId}"></f:param>
								<f:param id="manyetikParcacikItemId"
									value="#{tahribatsizTestOrderListBean.selectedSalesItem.itemId}"></f:param>
							</p:commandButton>
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="manyetikParcacikDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>
				</p:tab>
			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />

			<!-- spec ekleme dialog -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="SPEC EKLEME"
				id="specDialogId" widgetVar="specDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="1" cellspacing="5"
					style="text-align: left" id="yuzeyGrid">
					<f:facet name="header">
						<h:outputText value="YÜZEY / Surface Condition" rendered="true"></h:outputText>
					</f:facet>
					<p:selectBooleanCheckbox
						value="#{specMagneticBean.specForm.yuzeyKaynak}"
						itemLabel="Kaynak/Weld" />
					<p:selectBooleanCheckbox
						value="#{specMagneticBean.specForm.yuzeyTaslanmis}"
						itemLabel="Taşlanmış/Ground" />
					<p:selectBooleanCheckbox
						value="#{specMagneticBean.specForm.yuzeyKumlanmis}"
						itemLabel="Kumlanmış/Shot-Blasted " />
					<p:selectBooleanCheckbox
						value="#{specMagneticBean.specForm.yuzeyIslenmis}"
						itemLabel="İşlenmiş/Machined" />
					<p:selectBooleanCheckbox
						value="#{specMagneticBean.specForm.yuzeyDiger}"
						itemLabel="Diğer / Other" />
				</h:panelGrid>

				<h:panelGrid border="0" columns="1" cellspacing="5"
					style="text-align: left" id="isilGrid">
					<f:facet name="header">
						<h:outputText value="ISIL İŞLEM / Heat Treatment" rendered="true"></h:outputText>
					</f:facet>
					<p:selectBooleanCheckbox
						value="#{specMagneticBean.specForm.isilIslemYok}"
						itemLabel="Yok / No" />
					<p:selectBooleanCheckbox
						value="#{specMagneticBean.specForm.isilIslemOncesi}"
						itemLabel="Öncesi / Before" />
					<p:selectBooleanCheckbox
						value="#{specMagneticBean.specForm.isilIslemSonrasi}"
						itemLabel="Sonrası / After" />
				</h:panelGrid>

				<h:panelGrid border="0" columns="1" cellspacing="5"
					style="text-align: left" id="sicaklikGrid">
					<f:facet name="header">
						<h:outputText value="YÜZEY SICAKLIĞI / Surface Temperature(°C)"
							rendered="true"></h:outputText>
					</f:facet>
					<p:selectBooleanCheckbox
						value="#{specMagneticBean.specForm.yuzeySicaligiKucuk}"
						itemLabel="T Büyük 4" />
					<p:selectBooleanCheckbox
						value="#{specMagneticBean.specForm.yuzeySicaligiArada}"
						itemLabel="4 Küçük Eşit T Küçük Eşit 52" />
					<p:selectBooleanCheckbox
						value="#{specMagneticBean.specForm.yuzeySicaligiBuyuk}"
						itemLabel="T Büyük 52" />
				</h:panelGrid>

				<p:separator />

				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="KAYDET"
						update="specTestsDataTableId growl pipeTestsDataTableId"
						process="@this yuzeyGrid isilGrid sicaklikGrid"
						actionListener="#{specMagneticBean.addOrUpdateSpec}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){specDialogWidget.hide();}">
						<f:param id="specPipeId"
							value="#{testTahribatsizManyetikParcacikSonucBean.selectedPipe.pipeId}"></f:param>
					</p:commandButton>
					<p:commandButton value="SİL"
						update="specTestsDataTableId growl pipeTestsDataTableId"
						process="@this" disabled="#{!specMagneticBean.updateButtonRender}"
						actionListener="#{specMagneticBean.deleteSpec}"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
						immediate="true" onclick="specDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- kalibrasyon bilgileri Boruucu -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="MANYETİK PARÇACIK KALİBRASYON BİLGİLERİ"
				id="kalibrasyonBoruucuDialogId"
				widgetVar="kalibrasyonBoruucuDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonBoruucuPanelGridId">
					<f:facet name="header">
						<h:outputText
							value="MANYETİK PARÇACIK MUAYENE BORU UCU KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<h:outputText value="Kalibrasyon Tarihi : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizManyetikParcacikSonucBean.kalibrasyon.kalibrasyonZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>

					<h:outputText value="Kalibrasyon Yapan : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizManyetikParcacikSonucBean.kalibrasyon.kalibrasyonuYapan}">
					</h:outputText>

				</h:panelGrid>

				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonBoruucuDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- kalibrasyon bilgileri Taşlanmıs -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="MANYETİK PARÇACIK KALİBRASYON BİLGİLERİ"
				id="kalibrasyonTaslanmisDialogId"
				widgetVar="kalibrasyonTaslanmisDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonTaslanmisPanelGridId">
					<f:facet name="header">
						<h:outputText
							value="MANYETİK PARÇACIK MUAYENE TAŞLANMIŞ BÖLGE KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<h:outputText value="Kalibrasyon Tarihi : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizManyetikParcacikSonucBean.kalibrasyon.kalibrasyonZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>

					<h:outputText value="Kalibrasyon Yapan : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizManyetikParcacikSonucBean.kalibrasyon.kalibrasyonuYapan}">
					</h:outputText>

				</h:panelGrid>

				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonTaslanmisDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- kalibrasyon bilgileri Tamir -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="MANYETİK PARÇACIK KALİBRASYON BİLGİLERİ"
				id="kalibrasyonTamirDialogId"
				widgetVar="kalibrasyonTamirDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonTamirPanelGridId">
					<f:facet name="header">
						<h:outputText
							value="MANYETİK PARÇACIK MUAYENE TAMİR KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<h:outputText value="Kalibrasyon Tarihi : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizManyetikParcacikSonucBean.kalibrasyon.kalibrasyonZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>

					<h:outputText value="Kalibrasyon Yapan : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizManyetikParcacikSonucBean.kalibrasyon.kalibrasyonuYapan}">
					</h:outputText>

				</h:panelGrid>

				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonTamirDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="MANYETİK PARÇACIK KALİBRASYON BİLGİLERİ"
				id="kalibrasyonAtaDialogId" widgetVar="kalibrasyonAtaDialogWidget"
				showEffect="scale" hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonAtaPanelGridId">
					<f:facet name="header">
						<h:outputText
							value="MANYETİK PARÇACIK MUAYENE KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<p:dataTable var="kalibrasyons" id="kalibrasyonsDataTableId"
						rowKey="#{kalibrasyons.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizManyetikParcacikSonucBean.kalibrasyonlar}"
						paginator="true" dynamic="true"
						selection="#{testTahribatsizManyetikParcacikSonucBean.kalibrasyon}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:column headerText="Kalibrasyon Zamanı">
							<h:outputText value="#{kalibrasyons.kalibrasyonZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kalibrasyon Yapan">
							<h:outputText value="#{kalibrasyons.kalibrasyonuYapan}"></h:outputText>
						</p:column>

					</p:dataTable>

				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="KALİBRASYON ATA" update="growl"
						process="@this kalibrasyonAtaPanelGridId"
						actionListener="#{testTahribatsizManyetikParcacikSonucBean.kalibrasyonAta(testTahribatsizManyetikParcacikSonucBean.kalibrasyon.kalibrasyonIstasyonu)}"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonAtaDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- istatistik -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="MANYETİK PARÇACIK İSTASTİSTİK RAPORLARI"
				id="istatistikDialogId" widgetVar="istatistikDialogWidget"
				showEffect="scale" hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="istatistikPanelGridId">
					<f:facet name="header">
						<h:outputText
							value="MANYETİK PARÇACIK BİLGİLERİ - ÖNCE BORU BARKOD OKUTUNUZ!"
							rendered="true"></h:outputText>
					</f:facet>
					<h:outputText value="İlk Boru Barkod No : "
						style="font-weight: bold;"></h:outputText>
					<p:inputText value="#{testNondestructiveReportBean.firstBarkodNo}"
						disabled="#{!testTahribatsizManyetikParcacikSonucBean.visibleButtonRender}">
					</p:inputText>
					<h:outputText value="Son Boru Barkod No : "
						style="font-weight: bold;"></h:outputText>
					<p:inputText value="#{testNondestructiveReportBean.secondBarkodNo}"
						disabled="#{!testTahribatsizManyetikParcacikSonucBean.visibleButtonRender}">
					</p:inputText>
				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="2" cellspacing="5">
					<p:commandButton
						value="Boru Ucu RAPOR OLUŞTUR - SONRA RAPOR TUŞUNA BAS!"
						process="@this istatistikPanelGridId" icon="ui-icon-circle-close"
						actionListener="#{testNondestructiveReportBean.manyetikParcacikInspectionResultReportAllXlsx(testTahribatsizManyetikParcacikSonucBean.selectedPipe.pipeId,1)}" />
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.manyetikParcacikInspectionResultReportAllXlsx(testTahribatsizManyetikParcacikSonucBean.selectedPipe.pipeId,1)}"
						image="/large_icons/report.png"
						title="Seçili Borular - FR-242 - Boru Ucu">
					</h:commandButton>
					<p:commandButton
						value="Taşlanmış Bölge RAPOR OLUŞTUR - SONRA RAPOR TUŞUNA BAS!"
						process="@this istatistikPanelGridId" icon="ui-icon-circle-close"
						actionListener="#{testNondestructiveReportBean.manyetikParcacikInspectionResultReportAllXlsx(testTahribatsizManyetikParcacikSonucBean.selectedPipe.pipeId,2)}" />
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.manyetikParcacikInspectionResultReportAllXlsx(testTahribatsizManyetikParcacikSonucBean.selectedPipe.pipeId,2)}"
						image="/large_icons/report.png"
						title="Seçili Borular - FR-242 - Taşlanmış Bölge">
					</h:commandButton>
					<p:commandButton
						value="Kaynak Tamiri Öncesi RAPOR OLUŞTUR - SONRA RAPOR TUŞUNA BAS!"
						process="@this istatistikPanelGridId" icon="ui-icon-circle-close"
						actionListener="#{testNondestructiveReportBean.manyetikParcacikInspectionResultReportAllXlsx(testTahribatsizManyetikParcacikSonucBean.selectedPipe.pipeId,3)}" />
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.manyetikParcacikInspectionResultReportAllXlsx(testTahribatsizManyetikParcacikSonucBean.selectedPipe.pipeId,3)}"
						image="/large_icons/report.png"
						title="Seçili Borular - FR-242 - Kaynak Tamiri Öncesi">
					</h:commandButton>
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="istatistikDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>