<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:toolbar id="toolbarAnaId">
				<p:toolbarGroup align="center">
					<p:commandButton value="SON OFFLINE KALİBRASYONU"
						actionListener="#{testTahribatsizOfflineOtomatikUtSonucBean.sonKalibrasyonuGoster(1)}"
						update="growl kalibrasyonOfflinePanelGridId" process="@this"
						onclick="kalibrasyonOfflineDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="SON LAMİNASYON KALİBRASYONU"
						actionListener="#{testTahribatsizOfflineOtomatikUtSonucBean.sonKalibrasyonuGoster(2)}"
						update="growl kalibrasyonLaminasyonPanelGridId" process="@this"
						onclick="kalibrasyonLaminasyonDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="SON BORU UCU KALİBRASYONU"
						actionListener="#{testTahribatsizOfflineOtomatikUtSonucBean.sonKalibrasyonuGoster(3)}"
						update="growl kalibrasyonBoruUcuPanelGridId" process="@this"
						onclick="kalibrasyonBoruUcuDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="HAZ/KAYNAK KALİBRASYONU ATA"
						update="growl kalibrasyonPanelGridId kalibrasyonsOnlineDataTableId"
						process="@this" onclick="kalibrasyonAtaOnlineDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="LAMİNASYON KALİBRASYONU ATA"
						update="growl kalibrasyonPanelGridId kalibrasyonsLaminasyonDataTableId"
						process="@this"
						onclick="kalibrasyonAtaLaminasyonDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="BORU UCU KALİBRASYONU ATA"
						update="growl kalibrasyonPanelGridId kalibrasyonsBoruUcuDataTableId"
						process="@this" onclick="kalibrasyonAtaBoruUcuDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="TOPLU RAPORLAMA" id="istatistikButtonId"
						update="growl istatistikPanelGridId" process="@this"
						onclick="istatistikDialogWidget.show()" icon="ui-icon-circle-plus">
					</p:commandButton>
				</p:toolbarGroup>
			</p:toolbar>
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">
				<!-- Otomatik UT Testleri -->
				<p:tab id="offlineOtomatikUtTabId"
					title="OFFLINE OTOMATiK UT EKRANI *** #{testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.salesItem.itemNo} / #{testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.salesItem.proposal.customer.shortName} / #{testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.salesItem.diameter}x#{testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.salesItem.thickness} / #{testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.salesItem.quality} / #{testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value="BORU BARKOD OKUT" style="font-weight: bold;"></h:outputText>
					<p:inputText style="width:100px;" id="inputBarkod"
						value="#{testTahribatsizOfflineOtomatikUtSonucBean.barkodNo}" />
					<p:commandButton value="Boru Bul"
						update="offlineOtomatikUtPanelGridId offlineOtomatikUtTestsDataTableId growl pipeTestsDataTableId orderAccordionPanelId"
						process="@this inputBarkod"
						actionListener="#{testTahribatsizOfflineOtomatikUtSonucBean.fillTestListFromBarkod(testTahribatsizOfflineOtomatikUtSonucBean.barkodNo)}"
						selection="#{tahribatsizTestOrderListBean.selectedPipe}"
						icon="ui-icon-circle-plus" styleClass="foo">
					</p:commandButton>
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.offlineOtomatikUtInspectionResultReportXlsx(testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.pipeId,1)}"
						image="/large_icons/report.png" title="KAYNAK/HAZ - FR127">
					</h:commandButton>
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.offlineOtomatikUtInspectionResultReportXlsx(testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.pipeId,3)}"
						image="/large_icons/report.png" title="LAMİNASYON - FR473">
					</h:commandButton>
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.offlineOtomatikUtInspectionResultReportXlsx(testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.pipeId,4)}"
						image="/large_icons/report.png" title="BORU UCU - FR472">
					</h:commandButton>

					<!-- Test Listesi -->
					<p:dataTable var="offlineOtomatikUtTests"
						id="offlineOtomatikUtTestsDataTableId"
						rowKey="#{offlineOtomatikUtTests.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizOfflineOtomatikUtSonucBean.allTestTahribatsizOfflineOtomatikUtSonucList}"
						paginator="true" dynamic="true"
						selection="#{testTahribatsizOfflineOtomatikUtSonucBean.testTahribatsizOfflineOtomatikUtSonucForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{testTahribatsizOfflineOtomatikUtSonucBean.offlineOtomatikUtListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="offlineOtomatikUtTestsTabId offlineOtomatikUtTestAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="offlineOtomatikUtTestsDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="#{language.OtomatikUt}" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.DokumNumber}">
							<h:outputText
								value="#{offlineOtomatikUtTests.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.CoilNumber}">
							<h:outputText
								value="#{offlineOtomatikUtTests.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}"></h:outputText>
						</p:column>

						<!-- 						<p:column headerText="#{language.PipeNumber}" id="pipeNo"> -->
						<!-- 							<h:outputText -->
						<!-- 								value="#{tahribatsizTestOrderListBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{tahribatsizTestOrderListBean.selectedPipe.salesItem.itemNo} - #{tahribatsizTestOrderListBean.selectedPipe.pipeIndex}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.salesItem.itemNo} - #{testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.KoordinatQ}">
							<h:outputText value="#{offlineOtomatikUtTests.koordinatQ}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.KoordinatL}">
							<h:outputText value="#{offlineOtomatikUtTests.koordinatL}"></h:outputText>
						</p:column>

						<p:column headerText="Hata Tipi">
							<p:selectOneMenu
								value="#{offlineOtomatikUtTests.kaynakLaminasyon}"
								disabled="true">
								<f:selectItem itemValue="1" itemLabel="#{language.Kaynak}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Laminasyon}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="Haz"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="A ucu - Boru ucu Malzeme"></f:selectItem>
								<f:selectItem itemValue="5" itemLabel="A ucu - Boru ucu Kaynak"></f:selectItem>
								<f:selectItem itemValue="6" itemLabel="B ucu - Boru ucu Malzeme"></f:selectItem>
								<f:selectItem itemValue="7" itemLabel="B ucu - Boru ucu Kaynak"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="Açıklama ">
							<h:outputText value="#{offlineOtomatikUtTests.aciklama}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{offlineOtomatikUtTests.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Offline Kalibrasyon Zamanı">
							<h:outputText
								value="#{offlineOtomatikUtTests.kalibrasyonOffline.kalibrasyonZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Offline Kalibrasyon Yapan">
							<h:outputText
								value="#{offlineOtomatikUtTests.kalibrasyonOffline.kalibrasyonuYapan}">
							</h:outputText>
						</p:column>

						<p:column headerText="Laminasyon Kalibrasyon Zamanı">
							<h:outputText
								value="#{offlineOtomatikUtTests.kalibrasyonLaminasyon.kalibrasyonZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Laminasyon Kalibrasyon Yapan">
							<h:outputText
								value="#{offlineOtomatikUtTests.kalibrasyonLaminasyon.kalibrasyonuYapan}">
							</h:outputText>
						</p:column>

						<p:column headerText="Boru Ucu Kalibrasyon Zamanı">
							<h:outputText
								value="#{offlineOtomatikUtTests.kalibrasyonBoruUcu.kalibrasyonZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Boru Ucu Kalibrasyon Yapan">
							<h:outputText
								value="#{offlineOtomatikUtTests.kalibrasyonBoruUcu.kalibrasyonuYapan}">
							</h:outputText>
						</p:column>
					</p:dataTable>

					<p:contextMenu>
						<p:menuitem value="KOORDİNAT GÜNCELLE"
							icon="ui-icon-arrowrefresh-1-w"
							process="@this offlineOtomatikUtPanelGridId"
							onclick="offlineOtomatikUtDialogWidget.show()"
							update="growl offlineOtomatikUtPanelGridId offlineOtomatikUtTests" />
					</p:contextMenu>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="offlineOtomatikUtTestAddPanelGridId">
						<p:commandButton value="YENİ KORDİNAT EKLE"
							actionListener="#{testTahribatsizOfflineOtomatikUtSonucBean.addTestTahribatsizOfflineOtomatikUtSonuc}"
							update="growl offlineOtomatikUtPanelGridId offlineOtomatikUtTests"
							process="@this offlineOtomatikUtPanelGridId"
							onclick="offlineOtomatikUtDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="KOORDİNAT GÜNCELLE"
							disabled="#{!testTahribatsizOfflineOtomatikUtSonucBean.updateButtonRender}"
							update="growl offlineOtomatikUtPanelGridId offlineOtomatikUtTests"
							id="updateOtomatikUtButton"
							process="@this offlineOtomatikUtPanelGridId"
							onclick="offlineOtomatikUtDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton
							disabled="#{!testTahribatsizOfflineOtomatikUtSonucBean.updateButtonRender}"
							actionListener="#{testTahribatsizOfflineOtomatikUtSonucBean.deleteOfflineOtomatikUtSonuc}"
							update="offlineOtomatikUtPanelGridId offlineOtomatikUtTestsDataTableId growl pipeTestsDataTableId"
							process="@this offlineOtomatikUtPanelGridId" icon="ui-icon-trash"
							value="KOORDİNAT SİL">
							<f:param id="offlineOtomatikUtDeletePipeId"
								value="#{testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</h:panelGrid>

					<!-- kordinat ekleme dialog -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false"
						header="#{language.KoordinatEkle}" id="offlineOtomatikUtDialogId"
						widgetVar="offlineOtomatikUtDialogWidget" showEffect="scale"
						hideEffect="scale">

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="offlineOtomatikUtPanelGridId">
							<f:facet name="header">
								<h:outputText value="#{language.OtomatikUt}" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="#{language.KoordinatQ}*"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizOfflineOtomatikUtSonucBean.testTahribatsizOfflineOtomatikUtSonucForm.koordinatQ}">
							</p:inputText>

							<h:outputText value="#{language.KoordinatL}*"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizOfflineOtomatikUtSonucBean.testTahribatsizOfflineOtomatikUtSonucForm.koordinatL}">
							</p:inputText>

							<h:outputText value="Hata Tipi" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizOfflineOtomatikUtSonucBean.testTahribatsizOfflineOtomatikUtSonucForm.kaynakLaminasyon}">
								<f:selectItem itemValue="1" itemLabel="#{language.Kaynak}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Laminasyon}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="Haz"></f:selectItem>
								<f:selectItem itemValue="4" itemLabel="A ucu - Boru ucu Malzeme"></f:selectItem>
								<f:selectItem itemValue="5" itemLabel="A ucu - Boru ucu Kaynak"></f:selectItem>
								<f:selectItem itemValue="6" itemLabel="B ucu - Boru ucu Malzeme"></f:selectItem>
								<f:selectItem itemValue="7" itemLabel="B ucu - Boru ucu Kaynak"></f:selectItem>
							</p:selectOneMenu>

							<h:outputText value="#{language.Explanation}"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizOfflineOtomatikUtSonucBean.testTahribatsizOfflineOtomatikUtSonucForm.aciklama}">
							</p:inputText>

							<!-- 							<h:outputText value="Kazık Borusu" style="font-weight: bold;"></h:outputText> -->
							<!-- 							<p:selectBooleanCheckbox -->
							<!-- 								value="#{testTahribatsizOfflineOtomatikUtSonucBean.testTahribatsizOfflineOtomatikUtSonucForm.kazikKontrol}" /> -->

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAYDET"
								update="offlineOtomatikUtPanelGridId offlineOtomatikUtTestsDataTableId growl pipeTestsDataTableId"
								process="@this offlineOtomatikUtPanelGridId"
								actionListener="#{testTahribatsizOfflineOtomatikUtSonucBean.addOrUpdateOfflineOtomatikUtSonuc}"
								icon="ui-icon-circle-plus"
								oncomplete="if (!args.validationFailed){offlineOtomatikUtDialogWidget.hide();}">
								<f:param id="offlineOtomatikUtPipeId"
									value="#{tahribatsizTestOrderListBean.selectedPipe.pipeId}"></f:param>
								<f:param id="offlineOtomatikUtItemId"
									value="#{tahribatsizTestOrderListBean.selectedSalesItem.itemId}"></f:param>
							</p:commandButton>
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="offlineOtomatikUtDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>
				</p:tab>
			</p:accordionPanel>
			<p:growl id="growl" />
			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="OFFLINE OTOMATİK KALİBRASYON BİLGİLERİ"
				id="kalibrasyonOfflineDialogId"
				widgetVar="kalibrasyonOfflineDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonOfflinePanelGridId">
					<f:facet name="header">
						<h:outputText
							value="OFFLINE OTOMATİK MUAYENE KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<h:outputText value="Kalibrasyon Tarihi : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizOfflineOtomatikUtSonucBean.kalibrasyonOffline.kalibrasyonZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>

					<h:outputText value="Kalibrasyon Yapan : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizOfflineOtomatikUtSonucBean.kalibrasyonOffline.kalibrasyonuYapan}">
					</h:outputText>

				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonOfflineDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="LAMİNASYON KALİBRASYON BİLGİLERİ"
				id="kalibrasyonLaminasyonDialogId"
				widgetVar="kalibrasyonLaminasyonDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonLaminasyonPanelGridId">
					<f:facet name="header">
						<h:outputText value="LAMİNASYON MUAYENE KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<h:outputText value="Kalibrasyon Tarihi : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizOfflineOtomatikUtSonucBean.kalibrasyonLaminasyon.kalibrasyonZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>

					<h:outputText value="Kalibrasyon Yapan : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizOfflineOtomatikUtSonucBean.kalibrasyonLaminasyon.kalibrasyonuYapan}">
					</h:outputText>

				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonLaminasyonDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="BORU UCU KALİBRASYON BİLGİLERİ"
				id="kalibrasyonBoruUcuDialogId"
				widgetVar="kalibrasyonBoruUcuDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonBoruUcuPanelGridId">
					<f:facet name="header">
						<h:outputText value="BORU UCU MUAYENE KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<h:outputText value="Kalibrasyon Tarihi : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizOfflineOtomatikUtSonucBean.kalibrasyonBoruUcu.kalibrasyonZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>

					<h:outputText value="Kalibrasyon Yapan : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizOfflineOtomatikUtSonucBean.kalibrasyonBoruUcu.kalibrasyonuYapan}">
					</h:outputText>

				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonBoruUcuDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="OFFLINE OTOMATİK KALİBRASYON BİLGİLERİ"
				id="kalibrasyonAtaOnlineDialogId"
				widgetVar="kalibrasyonAtaOnlineDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonAtaOnlinePanelGridId">
					<f:facet name="header">
						<h:outputText
							value="OFFLINE OTOMATİK MUAYENE KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<p:dataTable var="kalibrasyons" id="kalibrasyonsOnlineDataTableId"
						rowKey="#{kalibrasyons.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizOfflineOtomatikUtSonucBean.kalibrasyonOfflinelar}"
						paginator="true" dynamic="true"
						selection="#{testTahribatsizOfflineOtomatikUtSonucBean.kalibrasyonOffline}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<f:facet name="header">
							<h:outputText value="TÜM OFFLINE UT KALİBRASYONLARI"
								rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="Kalibrasyon Zamanı">
							<h:outputText value="#{kalibrasyons.kalibrasyonZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kalibrasyon Yapan">
							<h:outputText value="#{kalibrasyons.kalibrasyonuYapan}"></h:outputText>
						</p:column>

					</p:dataTable>

				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="KALİBRASYON ATA" update="growl"
						process="@this kalibrasyonAtaOnlinePanelGridId"
						actionListener="#{testTahribatsizOfflineOtomatikUtSonucBean.kalibrasyonAta(1)}"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonAtaOnlineDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="LAMİNASYON KALİBRASYON BİLGİLERİ"
				id="kalibrasyonAtaLaminasyonDialogId"
				widgetVar="kalibrasyonAtaLaminasyonDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonAtaLaminasyonPanelGridId">
					<f:facet name="header">
						<h:outputText value="LAMİNASYON MUAYENE KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<p:dataTable var="kalibrasyons"
						id="kalibrasyonsLaminasyonDataTableId" rowKey="#{kalibrasyons.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizOfflineOtomatikUtSonucBean.kalibrasyonLaminasyonlar}"
						paginator="true" dynamic="true"
						selection="#{testTahribatsizOfflineOtomatikUtSonucBean.kalibrasyonLaminasyon}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<f:facet name="header">
							<h:outputText value="TÜM LAMİNASYON KALİBRASYONLARI"
								rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="Kalibrasyon Zamanı">
							<h:outputText value="#{kalibrasyons.kalibrasyonZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kalibrasyon Yapan">
							<h:outputText value="#{kalibrasyons.kalibrasyonuYapan}"></h:outputText>
						</p:column>

					</p:dataTable>

				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="KALİBRASYON ATA" update="growl"
						process="@this kalibrasyonAtaLaminasyonPanelGridId"
						actionListener="#{testTahribatsizOfflineOtomatikUtSonucBean.kalibrasyonAta(2)}"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonAtaLaminasyonDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="BORU UCU KALİBRASYON BİLGİLERİ"
				id="kalibrasyonAtaBoruUcuDialogId"
				widgetVar="kalibrasyonAtaBoruUcuDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonAtaBoruUcuPanelGridId">
					<f:facet name="header">
						<h:outputText value="BORU UCU MUAYENE KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<p:dataTable var="kalibrasyons" id="kalibrasyonsBoruUcuDataTableId"
						rowKey="#{kalibrasyons.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizOfflineOtomatikUtSonucBean.kalibrasyonBoruUcular}"
						paginator="true" dynamic="true"
						selection="#{testTahribatsizOfflineOtomatikUtSonucBean.kalibrasyonBoruUcu}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<f:facet name="header">
							<h:outputText value="TÜM BORU UCU KALİBRASYONLARI"
								rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="Kalibrasyon Zamanı">
							<h:outputText value="#{kalibrasyons.kalibrasyonZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kalibrasyon Yapan">
							<h:outputText value="#{kalibrasyons.kalibrasyonuYapan}"></h:outputText>
						</p:column>

					</p:dataTable>

				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="KALİBRASYON ATA" update="growl"
						process="@this kalibrasyonAtaBoruUcuPanelGridId"
						actionListener="#{testTahribatsizOfflineOtomatikUtSonucBean.kalibrasyonAta(3)}"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonAtaBoruUcuDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- istatistik -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="OFFLINE OTOMATİK UT İSTASTİSTİK RAPORLARI"
				id="istatistikDialogId" widgetVar="istatistikDialogWidget"
				showEffect="scale" hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="istatistikPanelGridId">
					<f:facet name="header">
						<h:outputText
							value="OFFLINE OTOMATİK UT BİLGİLERİ - ÖNCE BORU BARKOD OKUTUNUZ!"
							rendered="true"></h:outputText>
					</f:facet>
					<h:outputText value="İlk Boru Barkod No : "
						style="font-weight: bold;"></h:outputText>
					<p:inputText value="#{testNondestructiveReportBean.firstBarkodNo}"
						disabled="#{!testTahribatsizOfflineOtomatikUtSonucBean.visibleButtonRender}">
					</p:inputText>
					<h:outputText value="Son Boru Barkod No : "
						style="font-weight: bold;"></h:outputText>
					<p:inputText value="#{testNondestructiveReportBean.secondBarkodNo}"
						disabled="#{!testTahribatsizOfflineOtomatikUtSonucBean.visibleButtonRender}">
					</p:inputText>
				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="2" cellspacing="5">
					<p:commandButton
						value="FR-127 RAPOR OLUŞTUR - SONRA RAPOR TUŞUNA BAS!"
						process="@this istatistikPanelGridId" icon="ui-icon-circle-close"
						actionListener="#{testNondestructiveReportBean.offlineOtomatikUtInspectionResultReportAllXlsx(testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.pipeId,1)}" />
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.offlineOtomatikUtInspectionResultReportAllXlsx(testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.pipeId,1)}"
						image="/large_icons/report.png" title="KAYNAK/HAZ - FR127">
					</h:commandButton>
					<p:commandButton
						value="FR473 RAPOR OLUŞTUR - SONRA RAPOR TUŞUNA BAS!"
						process="@this istatistikPanelGridId" icon="ui-icon-circle-close"
						actionListener="#{testNondestructiveReportBean.offlineOtomatikUtInspectionResultReportAllXlsx(testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.pipeId,3)}" />
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.offlineOtomatikUtInspectionResultReportAllXlsx(testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.pipeId,3)}"
						image="/large_icons/report.png" title="LAMİNASYON - FR473">
					</h:commandButton>
					<p:commandButton
						value="FR472 RAPOR OLUŞTUR - SONRA RAPOR TUŞUNA BAS!"
						process="@this istatistikPanelGridId" icon="ui-icon-circle-close"
						actionListener="#{testNondestructiveReportBean.offlineOtomatikUtInspectionResultReportAllXlsx(testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.pipeId,4)}" />
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.offlineOtomatikUtInspectionResultReportAllXlsx(testTahribatsizOfflineOtomatikUtSonucBean.selectedPipe.pipeId,4)}"
						image="/large_icons/report.png" title="BORU UCU - FR472">
					</h:commandButton>
				</h:panelGrid>
			</p:dialog>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>