<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:toolbar id="toolbarAnaId">
				<p:toolbarGroup align="center">
					<p:commandButton value="SON OTOMATİK ONLİNE KALİBRASYONU"
						actionListener="#{testTahribatsizOtomatikUtSonucBean.sonKalibrasyonuGoster(1)}"
						update="growl kalibrasyonOnlinePanelGridId"
						id="kalibrasyonOnlineButton" process="@this"
						onclick="kalibrasyonOnlineDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="SON LAMİNASYON KALİBRASYONU"
						actionListener="#{testTahribatsizOtomatikUtSonucBean.sonKalibrasyonuGoster(2)}"
						update="growl kalibrasyonLaminasyonPanelGridId"
						id="kalibrasyonLaminasyonButton" process="@this"
						onclick="kalibrasyonLaminasyonDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="BORUYA ONLINE KALİBRASYONU ATAMA"
						update="growl kalibrasyonPanelGridId kalibrasyonsOnlineDataTableId"
						process="@this" onclick="kalibrasyonAtaOnlineDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="BORUYA LAMİNASYON KALİBRASYONU ATAMA"
						update="growl kalibrasyonPanelGridId kalibrasyonsLaminasyonDataTableId"
						process="@this"
						onclick="kalibrasyonAtaLaminasyonDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="TOPLU RAPORLAMA" id="istatistikButtonId"
						update="growl istatistikPanelGridId" process="@this"
						onclick="istatistikDialogWidget.show()" icon="ui-icon-circle-plus">
					</p:commandButton>
				</p:toolbarGroup>
			</p:toolbar>
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">

				<!-- Otomatik UT Testleri -->
				<p:tab id="otomatikUtTabId"
					title="ONLINE OTOMATiK UT EKRANI *** #{testTahribatsizOtomatikUtSonucBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{testTahribatsizOtomatikUtSonucBean.selectedPipe.salesItem.itemNo} / #{testTahribatsizOtomatikUtSonucBean.selectedPipe.salesItem.proposal.customer.shortName} / #{testTahribatsizOtomatikUtSonucBean.selectedPipe.salesItem.diameter}x#{testTahribatsizOtomatikUtSonucBean.selectedPipe.salesItem.thickness} / #{testTahribatsizOtomatikUtSonucBean.selectedPipe.salesItem.quality} / #{testTahribatsizOtomatikUtSonucBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value="BORU BARKOD OKUT" style="font-weight: bold;"></h:outputText>
					<p:inputText style="width:100px;" id="inputBarkod"
						value="#{testTahribatsizOtomatikUtSonucBean.barkodNo}" />
					<p:commandButton value="Boru Bul"
						update="otomatikUtPanelGridId otomatikUtTestsDataTableId growl pipeTestsDataTableId orderAccordionPanelId"
						process="@this inputBarkod"
						actionListener="#{testTahribatsizOtomatikUtSonucBean.fillTestListFromBarkod(testTahribatsizOtomatikUtSonucBean.barkodNo)}"
						selection="#{tahribatsizTestOrderListBean.selectedPipe}"
						icon="ui-icon-circle-plus" styleClass="foo">
					</p:commandButton>
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.otomatikUtInspectionResultReportXlsx(testTahribatsizOtomatikUtSonucBean.selectedPipe.pipeId,1)}"
						image="/large_icons/report.png" title="FR-127">
					</h:commandButton>
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.otomatikUtInspectionResultReportXlsx(testTahribatsizOtomatikUtSonucBean.selectedPipe.pipeId,2)}"
						image="/large_icons/report.png" title="FR-473">
					</h:commandButton>

					<!-- Test Listesi -->
					<p:dataTable var="otomatikUtTests" id="otomatikUtTestsDataTableId"
						rowKey="#{otomatikUtTests.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizOtomatikUtSonucBean.allTestTahribatsizOtomatikUtSonucList}"
						paginator="true" dynamic="true"
						selection="#{testTahribatsizOtomatikUtSonucBean.testTahribatsizOtomatikUtSonucForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{testTahribatsizOtomatikUtSonucBean.otomatikUtListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="otomatikUtTestsTabId otomatikUtTestAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="otomatikUtTestsDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="#{language.OtomatikUt}" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.DokumNumber}">
							<h:outputText
								value="#{otomatikUtTests.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.CoilNumber}">
							<h:outputText
								value="#{otomatikUtTests.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}"></h:outputText>
						</p:column>

						<!-- 						<p:column headerText="#{language.PipeNumber}" id="pipeNo"> -->
						<!-- 							<h:outputText -->
						<!-- 								value="#{tahribatsizTestOrderListBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{tahribatsizTestOrderListBean.selectedPipe.salesItem.itemNo} - #{tahribatsizTestOrderListBean.selectedPipe.pipeIndex}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{testTahribatsizOtomatikUtSonucBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{testTahribatsizOtomatikUtSonucBean.selectedPipe.salesItem.itemNo} - #{testTahribatsizOtomatikUtSonucBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.KoordinatQ}">
							<h:outputText value="#{otomatikUtTests.koordinatQ}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.KoordinatL}">
							<h:outputText value="#{otomatikUtTests.koordinatL}"></h:outputText>
						</p:column>

						<p:column
							headerText="#{language.Kaynak} / #{language.Laminasyon} / Haz">
							<p:selectOneMenu value="#{otomatikUtTests.kaynakLaminasyon}"
								disabled="true">
								<f:selectItem itemValue="1" itemLabel="#{language.Kaynak}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Laminasyon}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="Haz"></f:selectItem>
								<!-- 								<f:selectItem itemValue="4" itemLabel="Coupling"></f:selectItem> -->
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="Açıklama ">
							<h:outputText value="#{otomatikUtTests.aciklama}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{otomatikUtTests.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Online Kalibrasyon Zamanı">
							<h:outputText
								value="#{otomatikUtTests.kalibrasyonOnline.kalibrasyonZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Online Kalibrasyon Yapan">
							<h:outputText
								value="#{otomatikUtTests.kalibrasyonOnline.kalibrasyonuYapan}">
							</h:outputText>
						</p:column>

						<p:column headerText="Laminasyon Kalibrasyon Zamanı">
							<h:outputText
								value="#{otomatikUtTests.kalibrasyonLaminasyon.kalibrasyonZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Laminasyon Kalibrasyon Yapan">
							<h:outputText
								value="#{otomatikUtTests.kalibrasyonLaminasyon.kalibrasyonuYapan}">
							</h:outputText>
						</p:column>
					</p:dataTable>

					<p:contextMenu>
						<p:menuitem value="KOORDİNAT GÜNCELLE"
							icon="ui-icon-arrowrefresh-1-w"
							process="@this otomatikUtPanelGridId"
							onclick="otomatikUtDialogWidget.show()"
							update="growl otomatikUtPanelGridId otomatikUtTests" />
					</p:contextMenu>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="otomatikUtTestAddPanelGridId">
						<p:commandButton value="YENİ KORDİNAT EKLE"
							actionListener="#{testTahribatsizOtomatikUtSonucBean.addTestTahribatsizOtomatikUtSonuc}"
							update="growl otomatikUtPanelGridId otomatikUtTests"
							process="@this otomatikUtPanelGridId"
							onclick="otomatikUtDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="KOORDİNAT GÜNCELLE"
							disabled="#{!testTahribatsizOtomatikUtSonucBean.updateButtonRender}"
							update="growl otomatikUtPanelGridId otomatikUtTests"
							id="updateOtomatikUtButton" process="@this otomatikUtPanelGridId"
							onclick="otomatikUtDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton
							value="SEÇİLİ KOORDİNATIN ONLİNE OTOMATİK KALİBRASYONU"
							id="kalibrasyonButton"
							actionListener="#{testTahribatsizOtomatikUtSonucBean.kalibrasyonGoster}"
							update="growl kalibrasyonPanelGridId" process="@this"
							onclick="kalibrasyonDialogWidget.show()"
							icon="ui-icon-circle-plus"
							disabled="#{!testTahribatsizOtomatikUtSonucBean.updateButtonRender}">
						</p:commandButton>
						<p:commandButton
							disabled="#{!testTahribatsizOtomatikUtSonucBean.updateButtonRender}"
							actionListener="#{testTahribatsizOtomatikUtSonucBean.deleteOtomatikUtSonuc}"
							update="otomatikUtPanelGridId otomatikUtTestsDataTableId growl pipeTestsDataTableId"
							process="@this otomatikUtPanelGridId" icon="ui-icon-trash"
							value="KOORDİNAT SİL">
							<f:param id="otomatikUtDeletePipeId"
								value="#{testTahribatsizOtomatikUtSonucBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</h:panelGrid>

					<!-- kordinat ekleme dialog -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false"
						header="#{language.KoordinatEkle}" id="otomatikUtDialogId"
						widgetVar="otomatikUtDialogWidget" showEffect="scale"
						hideEffect="scale">

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="otomatikUtPanelGridId">
							<f:facet name="header">
								<h:outputText value="#{language.OtomatikUt}" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="#{language.KoordinatQ}*"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizOtomatikUtSonucBean.testTahribatsizOtomatikUtSonucForm.koordinatQ}">
							</p:inputText>

							<h:outputText value="#{language.KoordinatL}*"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizOtomatikUtSonucBean.testTahribatsizOtomatikUtSonucForm.koordinatL}">
							</p:inputText>

							<h:outputText
								value="#{language.Kaynak} / #{language.Laminasyon} / Haz"
								style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizOtomatikUtSonucBean.testTahribatsizOtomatikUtSonucForm.kaynakLaminasyon}">
								<f:selectItem itemValue="1" itemLabel="#{language.Kaynak}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Laminasyon}"></f:selectItem>
								<f:selectItem itemValue="3" itemLabel="Haz"></f:selectItem>
								<!-- 								<f:selectItem itemValue="4" itemLabel="Coupling"></f:selectItem> -->
							</p:selectOneMenu>

							<h:outputText value="#{language.Explanation}"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizOtomatikUtSonucBean.testTahribatsizOtomatikUtSonucForm.aciklama}">
							</p:inputText>

							<h:outputText value="Kazık Borusu" style="font-weight: bold;"></h:outputText>
							<p:selectBooleanCheckbox
								value="#{testTahribatsizOtomatikUtSonucBean.testTahribatsizOtomatikUtSonucForm.kazikKontrol}" />

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAYDET"
								update="otomatikUtPanelGridId otomatikUtTestsDataTableId growl pipeTestsDataTableId"
								process="@this otomatikUtPanelGridId"
								actionListener="#{testTahribatsizOtomatikUtSonucBean.addOrUpdateOtomatikUtSonuc}"
								icon="ui-icon-circle-plus"
								oncomplete="if (!args.validationFailed){otomatikUtDialogWidget.hide();}">
								<f:param id="otomatikUtPipeId"
									value="#{tahribatsizTestOrderListBean.selectedPipe.pipeId}"></f:param>
								<f:param id="otomatikUtItemId"
									value="#{tahribatsizTestOrderListBean.selectedSalesItem.itemId}"></f:param>
							</p:commandButton>
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="otomatikUtDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>
				</p:tab>
			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />

			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="ONLİNE OTOMATİK KALİBRASYON BİLGİLERİ"
				id="kalibrasyonOnlineDialogId"
				widgetVar="kalibrasyonOnlineDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonOnlinePanelGridId">
					<f:facet name="header">
						<h:outputText
							value="ONLİNE OTOMATİK MUAYENE KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<h:outputText value="Kalibrasyon Tarihi : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizOtomatikUtSonucBean.kalibrasyonOnline.kalibrasyonZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>

					<h:outputText value="Kalibrasyon Yapan : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizOtomatikUtSonucBean.kalibrasyonOnline.kalibrasyonuYapan}">
					</h:outputText>

				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonOnlineDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="ONLİNE OTOMATİK KALİBRASYON BİLGİLERİ"
				id="kalibrasyonLaminasyonDialogId"
				widgetVar="kalibrasyonLaminasyonDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonLaminasyonPanelGridId">
					<f:facet name="header">
						<h:outputText
							value="ONLİNE OTOMATİK MUAYENE KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<h:outputText value="Kalibrasyon Tarihi : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizOtomatikUtSonucBean.kalibrasyonLaminasyon.kalibrasyonZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>

					<h:outputText value="Kalibrasyon Yapan : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizOtomatikUtSonucBean.kalibrasyonLaminasyon.kalibrasyonuYapan}">
					</h:outputText>

				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonLaminasyonDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="ONLİNE OTOMATİK KALİBRASYON BİLGİLERİ"
				id="kalibrasyonAtaOnlineDialogId"
				widgetVar="kalibrasyonAtaOnlineDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonAtaOnlinePanelGridId">
					<f:facet name="header">
						<h:outputText
							value="ONLİNE OTOMATİK MUAYENE KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<p:dataTable var="kalibrasyons" id="kalibrasyonsOnlineDataTableId"
						rowKey="#{kalibrasyons.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizOtomatikUtSonucBean.kalibrasyonOnlinelar}"
						paginator="true" dynamic="true"
						selection="#{testTahribatsizOtomatikUtSonucBean.kalibrasyonOnline}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<f:facet name="header">
							<h:outputText value="TÜM OTOMATİK UT KALİBRASYONLARI"
								rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="Kalibrasyon Zamanı">
							<h:outputText value="#{kalibrasyons.kalibrasyonZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kalibrasyon Yapan">
							<h:outputText value="#{kalibrasyons.kalibrasyonuYapan}"></h:outputText>
						</p:column>

					</p:dataTable>

				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="KALİBRASYON ATA" update="growl"
						process="@this kalibrasyonAtaOnlinePanelGridId"
						actionListener="#{testTahribatsizOtomatikUtSonucBean.kalibrasyonAta(1)}"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonAtaOnlineDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="LAMİNASYON KALİBRASYON BİLGİLERİ"
				id="kalibrasyonAtaLaminasyonDialogId"
				widgetVar="kalibrasyonAtaLaminasyonDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonAtaLaminasyonPanelGridId">
					<f:facet name="header">
						<h:outputText value="LAMİNASYON MUAYENE KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<p:dataTable var="kalibrasyons"
						id="kalibrasyonsLaminasyonDataTableId" rowKey="#{kalibrasyons.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizOtomatikUtSonucBean.kalibrasyonLaminasyonlar}"
						paginator="true" dynamic="true"
						selection="#{testTahribatsizOtomatikUtSonucBean.kalibrasyonLaminasyon}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<f:facet name="header">
							<h:outputText value="TÜM LAMİNASYON KALİBRASYONLARI"
								rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="Kalibrasyon Zamanı">
							<h:outputText value="#{kalibrasyons.kalibrasyonZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kalibrasyon Yapan">
							<h:outputText value="#{kalibrasyons.kalibrasyonuYapan}"></h:outputText>
						</p:column>

					</p:dataTable>

				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="KALİBRASYON ATA" update="growl"
						process="@this kalibrasyonAtaLaminasyonPanelGridId"
						actionListener="#{testTahribatsizOtomatikUtSonucBean.kalibrasyonAta(2)}"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonAtaLaminasyonDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- istatistik -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="ONLINE OTOMATİK UT İSTASTİSTİK RAPORLARI"
				id="istatistikDialogId" widgetVar="istatistikDialogWidget"
				showEffect="scale" hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="istatistikPanelGridId">
					<f:facet name="header">
						<h:outputText
							value="ONLINE OTOMATİK UT BİLGİLERİ - ÖNCE BORU BARKOD OKUTUNUZ!"
							rendered="true"></h:outputText>
					</f:facet>
					<h:outputText value="İlk Boru Barkod No : "
						style="font-weight: bold;"></h:outputText>
					<p:inputText value="#{testNondestructiveReportBean.firstBarkodNo}"
						disabled="#{!testTahribatsizOtomatikUtSonucBean.visibleButtonRender}">
					</p:inputText>
					<h:outputText value="Son Boru Barkod No : "
						style="font-weight: bold;"></h:outputText>
					<p:inputText value="#{testNondestructiveReportBean.secondBarkodNo}"
						disabled="#{!testTahribatsizOtomatikUtSonucBean.visibleButtonRender}">
					</p:inputText>
				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="2" cellspacing="5">
					<p:commandButton
						value="FR-127 RAPOR OLUŞTUR - SONRA RAPOR TUŞUNA BAS!"
						process="@this istatistikPanelGridId" icon="ui-icon-circle-close"
						actionListener="#{testNondestructiveReportBean.otomatikUtInspectionResultReportAllXlsx(testTahribatsizOtomatikUtSonucBean.selectedPipe.pipeId,1)}" />
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.otomatikUtInspectionResultReportAllXlsx(testTahribatsizOtomatikUtSonucBean.selectedPipe.pipeId,1)}"
						image="/large_icons/report.png" title="FR-127">
					</h:commandButton>
					<p:commandButton
						value="FR-473 RAPOR OLUŞTUR - SONRA RAPOR TUŞUNA BAS!"
						process="@this istatistikPanelGridId" icon="ui-icon-circle-close"
						actionListener="#{testNondestructiveReportBean.otomatikUtInspectionResultReportAllXlsx(testTahribatsizOtomatikUtSonucBean.selectedPipe.pipeId,2)}" />
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.otomatikUtInspectionResultReportAllXlsx(testTahribatsizOtomatikUtSonucBean.selectedPipe.pipeId,2)}"
						image="/large_icons/report.png" title="FR-473">
					</h:commandButton>
				</h:panelGrid>
			</p:dialog>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>