<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:toolbar id="toolbarAnaId">
				<p:toolbarGroup align="center">
					<p:commandButton value="SON PENETRANT MUAYENESİ KALİBRASYONU"
						actionListener="#{testTahribatsizPenetrantSonucBean.sonKalibrasyonuGoster}"
						update="growl kalibrasyonPanelGridId" id="kalibrasyonButton"
						process="@this" onclick="kalibrasyonDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="BORUYA KALİBRASYON ATAMA"
						update="growl kalibrasyonPanelGridId kalibrasyonsDataTableId"
						process="@this" onclick="kalibrasyonAtaDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="TOPLU RAPORLAMA" id="istatistikButtonId"
						update="growl istatistikPanelGridId" process="@this"
						onclick="istatistikDialogWidget.show()" icon="ui-icon-circle-plus">
					</p:commandButton>
				</p:toolbarGroup>
			</p:toolbar>
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">
				<!-- Penetrant Muayene Testleri -->
				<p:tab id="penetrantTabId"
					title=" PENETRANT MUAYENE EKRANI *** #{testTahribatsizPenetrantSonucBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{testTahribatsizPenetrantSonucBean.selectedPipe.salesItem.itemNo} / #{testTahribatsizPenetrantSonucBean.selectedPipe.salesItem.proposal.customer.shortName} / #{testTahribatsizPenetrantSonucBean.selectedPipe.salesItem.diameter}x#{testTahribatsizPenetrantSonucBean.selectedPipe.salesItem.thickness} / #{testTahribatsizPenetrantSonucBean.selectedPipe.salesItem.quality} / #{testTahribatsizPenetrantSonucBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value="BORU BARKOD OKUT" style="font-weight: bold;"></h:outputText>
					<p:inputText style="width:100px;" id="inputBarkod"
						value="#{testTahribatsizPenetrantSonucBean.barkodNo}" />
					<p:commandButton value="Boru Bul"
						update="penetrantPanelGridId penetrantTestsDataTableId growl pipeTestsDataTableId orderAccordionPanelId"
						process="@this inputBarkod"
						actionListener="#{testTahribatsizPenetrantSonucBean.fillTestListFromBarkod(testTahribatsizPenetrantSonucBean.barkodNo)}"
						selection="#{tahribatsizTestOrderListBean.selectedPipe}"
						icon="ui-icon-circle-plus" styleClass="foo">
					</p:commandButton>
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.penetrantInspectionResultReportXlsx(testTahribatsizPenetrantSonucBean.selectedPipe.pipeId)}"
						image="/large_icons/report.png" title="FR-243">
					</h:commandButton>

					<!-- Test Listesi -->
					<p:dataTable var="penetrantTests" id="penetrantTestsDataTableId"
						rowKey="#{penetrantTests.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizPenetrantSonucBean.allTestTahribatsizPenetrantSonucList}"
						paginator="true" dynamic="true"
						selection="#{testTahribatsizPenetrantSonucBean.testTahribatsizPenetrantSonucForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{testTahribatsizPenetrantSonucBean.penetrantListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="penetrantTestsTabId penetrantTestAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="penetrantTestsDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="Penetrant Muayenesi" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.DokumNumber}">
							<h:outputText
								value="#{penetrantTests.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.CoilNumber}">
							<h:outputText
								value="#{penetrantTests.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}"></h:outputText>
						</p:column>

						<!-- 						<p:column headerText="#{language.PipeNumber}" id="pipeNo"> -->
						<!-- 							<h:outputText -->
						<!-- 								value="#{tahribatsizTestOrderListBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{tahribatsizTestOrderListBean.selectedPipe.salesItem.itemNo} - #{tahribatsizTestOrderListBean.selectedPipe.pipeIndex}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{testTahribatsizPenetrantSonucBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{testTahribatsizPenetrantSonucBean.selectedPipe.salesItem.itemNo} - #{testTahribatsizPenetrantSonucBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column
							headerText="#{language.KoordinatQ}  #{language.KoordinatL}">
							<h:outputText
								value="#{penetrantTests.koordinatQ} x #{penetrantTests.koordinatL}"></h:outputText>
						</p:column>

						<p:column headerText="Süreksizlik Tanımı">
							<p:selectOneMenu value="#{penetrantTests.sureksizlikTanimi}"
								disabled="true">
								<f:selectItem itemValue="" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="Doğrusal"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="Doğrusal olmayan"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="Sonuç">
							<p:selectOneMenu value="#{penetrantTests.sonuc}" disabled="true">
								<f:selectItem itemValue="-1" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="Açıklama ">
							<h:outputText value="#{penetrantTests.note}"></h:outputText>
						</p:column>

						<p:column headerText="Tamir Sonrası Değerlendirme">
							<p:selectOneMenu value="#{penetrantTests.tamirSonrasiDurum}"
								disabled="true">
								<f:selectItem itemValue="-1" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{penetrantTests.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>
					</p:dataTable>

					<p:contextMenu>
						<p:menuitem value="KOORDİNAT GÜNCELLE"
							icon="ui-icon-arrowrefresh-1-w"
							process="@this penetrantPanelGridId"
							onclick="penetrantDialogWidget.show()"
							update="growl penetrantPanelGridId penetrantTests" />
					</p:contextMenu>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="penetrantTestAddPanelGridId">
						<p:commandButton value="YENİ KORDİNAT EKLE"
							actionListener="#{testTahribatsizPenetrantSonucBean.addTestTahribatsizPenetrantSonuc}"
							update="growl penetrantPanelGridId penetrantTests"
							process="@this" onclick="penetrantDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="KOORDİNAT GÜNCELLE"
							rendered="#{testTahribatsizPenetrantSonucBean.updateButtonRender}"
							update="growl penetrantPanelGridId penetrantTests"
							process="@this penetrantPanelGridId"
							onclick="penetrantDialogWidget.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton
							value="SEÇİLİ KOORDİNATIN PENETRANT MUAYENESİ KALİBRASYONU"
							id="kalibrasyonButton"
							actionListener="#{testTahribatsizPenetrantSonucBean.kalibrasyonGoster}"
							update="growl kalibrasyonPanelGridId" process="@this"
							onclick="kalibrasyonDialogWidget.show()"
							icon="ui-icon-circle-plus"
							disabled="#{!testTahribatsizPenetrantSonucBean.updateButtonRender}">
						</p:commandButton>
						<p:commandButton value="SPEC EKLE/GÜNCELLE"
							rendered="#{testTahribatsizPenetrantSonucBean.updateButtonRender}"
							actionListener="#{specPenetrantBean.addSpec(testTahribatsizPenetrantSonucBean.selectedPipe.pipeId)}"
							update="growl penetrantPanelGridId penetrantTests yuzeyGrid isilGrid sicaklikGrid"
							process="@this" onclick="specDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton
							actionListener="#{testTahribatsizPenetrantSonucBean.deletePenetrantSonuc}"
							update="penetrantPanelGridId penetrantTestsDataTableId growl pipeTestsDataTableId"
							process="@this penetrantPanelGridId" icon="ui-icon-trash"
							value="KOORDİNAT SİL">
							<f:param id="penetrantDeletePipeId"
								value="#{testTahribatsizPenetrantSonucBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</h:panelGrid>

					<!-- kordinat ekleme dialog -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false"
						header="#{language.KoordinatEkle}" id="penetrantDialogId"
						widgetVar="penetrantDialogWidget" showEffect="scale"
						hideEffect="scale">

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="penetrantPanelGridId">
							<f:facet name="header">
								<h:outputText value="Penetrant Muayenesi" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="#{language.KoordinatQ}*"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizPenetrantSonucBean.testTahribatsizPenetrantSonucForm.koordinatQ}">
							</p:inputText>

							<h:outputText value="#{language.KoordinatL}*"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizPenetrantSonucBean.testTahribatsizPenetrantSonucForm.koordinatL}">
							</p:inputText>

							<h:outputText value="Süreksizlik Tanımı"
								style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizPenetrantSonucBean.testTahribatsizPenetrantSonucForm.sureksizlikTanimi}">
								<f:selectItem itemValue="" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="Doğrusal"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="Doğrusal olmayan"></f:selectItem>
							</p:selectOneMenu>

							<h:outputText value="Sonuç" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizPenetrantSonucBean.testTahribatsizPenetrantSonucForm.sonuc}">
								<f:selectItem itemValue="-1" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
							</p:selectOneMenu>

							<h:outputText value="#{language.Explanation}"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizPenetrantSonucBean.testTahribatsizPenetrantSonucForm.note}">
							</p:inputText>

							<h:outputText value="Tamir Sonrası Değerlendirme"
								style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizPenetrantSonucBean.testTahribatsizPenetrantSonucForm.tamirSonrasiDurum}">
								<f:selectItem itemValue="-1" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
							</p:selectOneMenu>

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAYDET"
								update="penetrantPanelGridId penetrantTestsDataTableId growl pipeTestsDataTableId"
								process="@this penetrantPanelGridId"
								actionListener="#{testTahribatsizPenetrantSonucBean.addOrUpdatePenetrantSonuc}"
								icon="ui-icon-circle-plus"
								oncomplete="if (!args.validationFailed){penetrantDialogWidget.hide();}">
								<f:param id="penetrantPipeId"
									value="#{tahribatsizTestOrderListBean.selectedPipe.pipeId}"></f:param>
								<f:param id="penetrantItemId"
									value="#{tahribatsizTestOrderListBean.selectedSalesItem.itemId}"></f:param>
							</p:commandButton>
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="penetrantDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>
				</p:tab>
			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />

			<!-- spec ekleme dialog -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="SPEC EKLEME"
				id="specDialogId" widgetVar="specDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="1" cellspacing="5"
					style="text-align: left" id="yuzeyGrid">
					<f:facet name="header">
						<h:outputText value="YÜZEY / Surface Condition" rendered="true"></h:outputText>
					</f:facet>
					<p:selectBooleanCheckbox
						value="#{specPenetrantBean.specForm.yuzeyKaynak}"
						itemLabel="Kaynak/Weld" />
					<p:selectBooleanCheckbox
						value="#{specPenetrantBean.specForm.yuzeyTaslanmis}"
						itemLabel="Taşlanmış/Ground" />
					<p:selectBooleanCheckbox
						value="#{specPenetrantBean.specForm.yuzeyKumlanmis}"
						itemLabel="Kumlanmış/Shot-Blasted " />
					<p:selectBooleanCheckbox
						value="#{specPenetrantBean.specForm.yuzeyIslenmis}"
						itemLabel="İşlenmiş/Machined" />
					<p:selectBooleanCheckbox
						value="#{specPenetrantBean.specForm.yuzeyDiger}"
						itemLabel="Diğer / Other" />
				</h:panelGrid>

				<h:panelGrid border="0" columns="1" cellspacing="5"
					style="text-align: left" id="isilGrid">
					<f:facet name="header">
						<h:outputText value="ISIL İŞLEM / Heat Treatment" rendered="true"></h:outputText>
					</f:facet>
					<p:selectBooleanCheckbox
						value="#{specPenetrantBean.specForm.isilIslemYok}"
						itemLabel="Yok / No" />
					<p:selectBooleanCheckbox
						value="#{specPenetrantBean.specForm.isilIslemOncesi}"
						itemLabel="Öncesi / Before" />
					<p:selectBooleanCheckbox
						value="#{specPenetrantBean.specForm.isilIslemSonrasi}"
						itemLabel="Sonrası / After" />
				</h:panelGrid>

				<h:panelGrid border="0" columns="1" cellspacing="5"
					style="text-align: left" id="sicaklikGrid">
					<f:facet name="header">
						<h:outputText value="YÜZEY SICAKLIĞI / Surface Temperature(°C)"
							rendered="true"></h:outputText>
					</f:facet>
					<p:selectBooleanCheckbox
						value="#{specPenetrantBean.specForm.yuzeySicaligiKucuk}"
						itemLabel="T Büyük 4" />
					<p:selectBooleanCheckbox
						value="#{specPenetrantBean.specForm.yuzeySicaligiArada}"
						itemLabel="4 Küçük Eşit T Küçük Eşit 52" />
					<p:selectBooleanCheckbox
						value="#{specPenetrantBean.specForm.yuzeySicaligiBuyuk}"
						itemLabel="T Büyük 52" />
				</h:panelGrid>

				<p:separator />

				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="KAYDET"
						update="specTestsDataTableId growl pipeTestsDataTableId"
						process="@this yuzeyGrid isilGrid sicaklikGrid"
						actionListener="#{specPenetrantBean.addOrUpdateSpec}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){specDialogWidget.hide();}">
						<f:param id="specPipeId"
							value="#{testTahribatsizPenetrantSonucBean.selectedPipe.pipeId}"></f:param>
					</p:commandButton>
					<p:commandButton value="SİL"
						update="specTestsDataTableId growl pipeTestsDataTableId"
						process="@this"
						disabled="#{!specPenetrantBean.updateButtonRender}"
						actionListener="#{specPenetrantBean.deleteSpec}"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
						immediate="true" onclick="specDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="PENETRANT MUAYENESİ KALİBRASYON BİLGİLERİ"
				id="kalibrasyonDialogId" widgetVar="kalibrasyonDialogWidget"
				showEffect="scale" hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonPanelGridId">
					<f:facet name="header">
						<h:outputText value="PENETRANT MUAYENESİ KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<h:outputText value="Kalibrasyon Tarihi : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizPenetrantSonucBean.kalibrasyon.kalibrasyonZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>

					<h:outputText value="Kalibrasyon Yapan : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizPenetrantSonucBean.kalibrasyon.kalibrasyonuYapan}">
					</h:outputText>

				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="PENETRANT MUAYENESİ KALİBRASYON BİLGİLERİ"
				id="kalibrasyonAtaDialogId" widgetVar="kalibrasyonAtaDialogWidget"
				showEffect="scale" hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonAtaPanelGridId">
					<f:facet name="header">
						<h:outputText value="PENETRANT MUAYENESİ KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<p:dataTable var="kalibrasyons" id="kalibrasyonsDataTableId"
						rowKey="#{kalibrasyons.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizPenetrantSonucBean.kalibrasyonlar}"
						paginator="true" dynamic="true"
						selection="#{testTahribatsizPenetrantSonucBean.kalibrasyon}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<f:facet name="header">
							<h:outputText value="TÜM PENETRANT MUAYENESİ KALİBRASYONLARI"
								rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="Kalibrasyon Zamanı">
							<h:outputText value="#{kalibrasyons.kalibrasyonZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kalibrasyon Yapan">
							<h:outputText value="#{kalibrasyons.kalibrasyonuYapan}"></h:outputText>
						</p:column>

					</p:dataTable>

				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="KALİBRASYON ATA" update="growl"
						process="@this kalibrasyonAtaPanelGridId"
						actionListener="#{testTahribatsizPenetrantSonucBean.kalibrasyonAta}"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonAtaDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- istatistik -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="PENETRANT İSTASTİSTİK RAPORLARI" id="istatistikDialogId"
				widgetVar="istatistikDialogWidget" showEffect="scale"
				hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="istatistikPanelGridId">
					<f:facet name="header">
						<h:outputText
							value="PENETRANT BİLGİLERİ - ÖNCE BORU BARKOD OKUTUNUZ!"
							rendered="true"></h:outputText>
					</f:facet>
					<h:outputText value="İlk Boru Barkod No : "
						style="font-weight: bold;"></h:outputText>
					<p:inputText value="#{testNondestructiveReportBean.firstBarkodNo}"
						disabled="#{!testTahribatsizPenetrantSonucBean.visibleButtonRender}">
					</p:inputText>
					<h:outputText value="Son Boru Barkod No : "
						style="font-weight: bold;"></h:outputText>
					<p:inputText value="#{testNondestructiveReportBean.secondBarkodNo}"
						disabled="#{!testTahribatsizPenetrantSonucBean.visibleButtonRender}">
					</p:inputText>
				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="2" cellspacing="5">
					<p:commandButton value="RAPOR OLUŞTUR - SONRA RAPOR TUŞUNA BAS!"
						process="@this istatistikPanelGridId" icon="ui-icon-circle-close"
						actionListener="#{testNondestructiveReportBean.penetrantInspectionResultReportAllXlsx(testTahribatsizPenetrantSonucBean.selectedPipe.pipeId)}" />
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.penetrantInspectionResultReportAllXlsx(testTahribatsizPenetrantSonucBean.selectedPipe.pipeId)}"
						image="/large_icons/report.png" title="FR-243">
					</h:commandButton>
				</h:panelGrid>
			</p:dialog>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>