<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:toolbar id="toolbarAnaId">
				<p:toolbarGroup align="center">
					<p:commandButton value="SON RADYOGRAFİK KALİBRASYONU"
						actionListener="#{testTahribatsizRadyografikSonucBean.sonKalibrasyonuGoster}"
						update="growl kalibrasyonPanelGridId" id="kalibrasyonButton"
						process="@this" onclick="kalibrasyonDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="BORUYA KALİBRASYON ATAMA"
						update="growl kalibrasyonPanelGridId kalibrasyonsDataTableId"
						process="@this" onclick="kalibrasyonAtaDialogWidget.show()"
						icon="ui-icon-circle-plus">
					</p:commandButton>
				</p:toolbarGroup>
			</p:toolbar>
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">

				<!-- Radyografik Muayene Testleri -->
				<p:tab id="radyografikTabId"
					title=" RADYOGRAFİK MUAYENE EKRANI *** #{testTahribatsizRadyografikSonucBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{testTahribatsizRadyografikSonucBean.selectedPipe.salesItem.itemNo} / #{testTahribatsizRadyografikSonucBean.selectedPipe.salesItem.proposal.customer.shortName} / #{testTahribatsizRadyografikSonucBean.selectedPipe.salesItem.diameter}x#{testTahribatsizRadyografikSonucBean.selectedPipe.salesItem.thickness} / #{testTahribatsizRadyografikSonucBean.selectedPipe.salesItem.quality} / #{testTahribatsizRadyografikSonucBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value="BORU BARKOD OKUT" style="font-weight: bold;"></h:outputText>
					<p:inputText style="width:100px;" id="inputBarkod"
						value="#{testTahribatsizRadyografikSonucBean.barkodNo}" />
					<p:commandButton value="Boru Bul"
						update="radyografikPanelGridId radyografikDataTableId growl pipeTestsDataTableId orderAccordionPanelId"
						process="@this inputBarkod"
						actionListener="#{testTahribatsizRadyografikSonucBean.fillTestListFromBarkod(testTahribatsizRadyografikSonucBean.barkodNo)}"
						selection="#{tahribatsizTestOrderListBean.selectedPipe}"
						icon="ui-icon-circle-plus" styleClass="foo">
					</p:commandButton>
					<h:commandButton immediate="true"
						action="#{testNondestructiveReportBean.radyografikInspectionResultReportXlsx(testTahribatsizRadyografikSonucBean.selectedPipe.pipeId)}"
						image="/large_icons/report.png" title="FR-109">
					</h:commandButton>

					<!-- Test Listesi -->
					<p:dataTable var="radyografik" id="radyografikDataTableId"
						rowKey="#{radyografik.id}" emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizRadyografikSonucBean.allTestTahribatsizRadyografikSonucList}"
						paginator="true" dynamic="true"
						selection="#{testTahribatsizRadyografikSonucBean.testTahribatsizRadyografikSonucForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{testTahribatsizRadyografikSonucBean.radyografikListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="radyografikTabId radyografikTestAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="radyografikDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="Radyografik Muayenesi" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.DokumNumber}">
							<h:outputText
								value="#{radyografik.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.CoilNumber}">
							<h:outputText
								value="#{radyografik.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}"></h:outputText>
						</p:column>

						<!-- 						<p:column headerText="#{language.PipeNumber}" id="pipeNo"> -->
						<!-- 							<h:outputText -->
						<!-- 								value="#{tahribatsizTestOrderListBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{tahribatsizTestOrderListBean.selectedPipe.salesItem.itemNo} - #{tahribatsizTestOrderListBean.selectedPipe.pipeIndex}"></h:outputText> -->
						<!-- 						</p:column> -->

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{testTahribatsizRadyografikSonucBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{testTahribatsizRadyografikSonucBean.selectedPipe.salesItem.itemNo} - #{testTahribatsizRadyografikSonucBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Film No ">
							<h:outputText value=""></h:outputText>
						</p:column>

						<p:column headerText="Kaynakçı No ">
							<h:outputText value="#{radyografik.kaynakciNo}"></h:outputText>
						</p:column>

						<p:column
							headerText="#{language.KoordinatQ} x #{language.KoordinatL}">
							<h:outputText
								value="#{radyografik.koordinatQ} x #{radyografik.koordinatL}"></h:outputText>
						</p:column>

						<p:column headerText="Aa ">
							<p:selectBooleanCheckbox value="#{radyografik.aa}"
								disabled="true" itemLabel="Aa" />
						</p:column>
						<p:column headerText="Ab ">
							<p:selectBooleanCheckbox value="#{radyografik.ab}"
								disabled="true" itemLabel="Ab" />
						</p:column>
						<p:column headerText="Ad ">
							<p:selectBooleanCheckbox value="#{radyografik.ad}"
								disabled="true" itemLabel="Ad" />
						</p:column>
						<p:column headerText="Ba ">
							<p:selectBooleanCheckbox value="#{radyografik.ba}"
								disabled="true" itemLabel="Ba" />
						</p:column>
						<p:column headerText="Bb ">
							<p:selectBooleanCheckbox value="#{radyografik.bb}"
								disabled="true" itemLabel="Bb" />
						</p:column>
						<p:column headerText="C ">
							<p:selectBooleanCheckbox value="#{radyografik.c}" disabled="true"
								itemLabel="C" />
						</p:column>
						<p:column headerText="D ">
							<p:selectBooleanCheckbox value="#{radyografik.d}" disabled="true"
								itemLabel="D" />
						</p:column>
						<p:column headerText="E ">
							<p:selectBooleanCheckbox value="#{radyografik.e}" disabled="true"
								itemLabel="E" />
						</p:column>
						<p:column headerText="F ">
							<p:selectBooleanCheckbox value="#{radyografik.f}" disabled="true"
								itemLabel="F" />
						</p:column>
						<p:column headerText="H ">
							<p:selectBooleanCheckbox value="#{radyografik.h}" disabled="true"
								itemLabel="H" />
						</p:column>

						<p:column headerText="Sonuç">
							<p:selectOneMenu value="#{radyografik.sonuc}" disabled="true">
								<f:selectItem itemValue="-1" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="KABUL"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="RED"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="TAMİR"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="Açıklama ">
							<h:outputText value="#{radyografik.note}"></h:outputText>
						</p:column>

						<p:column headerText="Tamir Sonrası Değerlendirme">
							<p:selectOneMenu value="#{radyografik.tamirSonrasiDurum}"
								disabled="true">
								<f:selectItem itemValue="-1" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="KABUL"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="RED"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{radyografik.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>
					</p:dataTable>

					<p:contextMenu>
						<p:menuitem value="KOORDİNAT GÜNCELLE"
							icon="ui-icon-arrowrefresh-1-w"
							process="@this radyografikPanelGridId"
							onclick="radyografikDialogWidget.show()"
							update="growl radyografikPanelGridId radyografik" />
					</p:contextMenu>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="radyografikTestAddPanelGridId">
						<p:commandButton value="YENİ KORDİNAT EKLE"
							actionListener="#{testTahribatsizRadyografikSonucBean.addTestTahribatsizRadyografikSonuc}"
							update="growl radyografikPanelGridId radyografik"
							process="@this radyografikPanelGridId"
							onclick="radyografikDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="KOORDİNAT GÜNCELLE"
							disabled="#{!testTahribatsizRadyografikSonucBean.updateButtonRender}"
							update="growl radyografikPanelGridId radyografik"
							process="@this radyografikPanelGridId"
							onclick="radyografikDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton
							value="SEÇİLİ KOORDİNATIN RADYOGRAFİK MUAYENE KALİBRASYONU"
							id="kalibrasyonButton"
							actionListener="#{testTahribatsizRadyografikSonucBean.kalibrasyonGoster}"
							update="growl kalibrasyonPanelGridId" process="@this"
							onclick="kalibrasyonDialogWidget.show()"
							icon="ui-icon-circle-plus"
							disabled="#{!testTahribatsizRadyografikSonucBean.updateButtonRender}">
						</p:commandButton>
						<p:commandButton
							disabled="#{!testTahribatsizRadyografikSonucBean.updateButtonRender}"
							actionListener="#{testTahribatsizRadyografikSonucBean.deleteRadyografikSonuc}"
							update="radyografikPanelGridId radyografikDataTableId growl pipeTestsDataTableId"
							process="@this radyografikPanelGridId" icon="ui-icon-trash"
							value="KOORDİNAT SİL">
							<f:param id="radyografikDeletePipeId"
								value="#{testTahribatsizRadyografikSonucBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</h:panelGrid>

					<!-- kordinat ekleme dialog -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false"
						header="#{language.KoordinatEkle}" id="radyografikDialogId"
						widgetVar="radyografikDialogWidget" showEffect="scale"
						hideEffect="scale">

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="radyografikPanelGridId">
							<f:facet name="header">
								<h:outputText value="Radyografik Muayenesi" rendered="true"></h:outputText>
							</f:facet>

							<h:outputText value="#{language.KoordinatQ}*"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizRadyografikSonucBean.testTahribatsizRadyografikSonucForm.koordinatQ}">
							</p:inputText>

							<h:outputText value="#{language.KoordinatL}*"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizRadyografikSonucBean.testTahribatsizRadyografikSonucForm.koordinatL}">
							</p:inputText>

							<h:outputText value="Hata Tipi" style="font-weight: bold;"></h:outputText>
							<p:panel>
								<p:selectBooleanCheckbox
									value="#{testTahribatsizRadyografikSonucBean.testTahribatsizRadyografikSonucForm.aa}"
									itemLabel="Aa" />
								<p:selectBooleanCheckbox
									value="#{testTahribatsizRadyografikSonucBean.testTahribatsizRadyografikSonucForm.ab}"
									itemLabel="Ab" />
								<p:selectBooleanCheckbox
									value="#{testTahribatsizRadyografikSonucBean.testTahribatsizRadyografikSonucForm.ad}"
									itemLabel="Ad" />
								<p:selectBooleanCheckbox
									value="#{testTahribatsizRadyografikSonucBean.testTahribatsizRadyografikSonucForm.ba}"
									itemLabel="Ba" />
								<p:selectBooleanCheckbox
									value="#{testTahribatsizRadyografikSonucBean.testTahribatsizRadyografikSonucForm.bb}"
									itemLabel="Bb" />
							</p:panel>
							<h:outputText value="" style="font-weight: bold;"></h:outputText>
							<p:panel>
								<p:selectBooleanCheckbox
									value="#{testTahribatsizRadyografikSonucBean.testTahribatsizRadyografikSonucForm.c}"
									itemLabel="C" />
								<p:selectBooleanCheckbox
									value="#{testTahribatsizRadyografikSonucBean.testTahribatsizRadyografikSonucForm.d}"
									itemLabel="D" />
								<p:selectBooleanCheckbox
									value="#{testTahribatsizRadyografikSonucBean.testTahribatsizRadyografikSonucForm.e}"
									itemLabel="E" />
								<p:selectBooleanCheckbox
									value="#{testTahribatsizRadyografikSonucBean.testTahribatsizRadyografikSonucForm.f}"
									itemLabel="F" />
								<p:selectBooleanCheckbox
									value="#{testTahribatsizRadyografikSonucBean.testTahribatsizRadyografikSonucForm.h}"
									itemLabel="H" />
							</p:panel>


							<h:outputText value="Sonuç" style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizRadyografikSonucBean.testTahribatsizRadyografikSonucForm.sonuc}">
								<f:selectItem itemValue="-1" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="#{language.Repair}"></f:selectItem>
							</p:selectOneMenu>

							<h:outputText value="#{language.Explanation}"
								style="font-weight: bold;"></h:outputText>
							<p:inputText
								value="#{testTahribatsizRadyografikSonucBean.testTahribatsizRadyografikSonucForm.note}">
							</p:inputText>

							<h:outputText value="Tamir Sonrası Değerlendirme"
								style="font-weight: bold;"></h:outputText>
							<p:selectOneMenu
								value="#{testTahribatsizRadyografikSonucBean.testTahribatsizRadyografikSonucForm.tamirSonrasiDurum}">
								<f:selectItem itemValue="-1" itemLabel="Seçiniz"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="#{language.Accept}"></f:selectItem>
								<f:selectItem itemValue="0" itemLabel="#{language.Deny}"></f:selectItem>
							</p:selectOneMenu>

						</h:panelGrid>

						<p:separator />

						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAYDET"
								update="radyografikPanelGridId radyografikDataTableId growl pipeTestsDataTableId"
								process="@this radyografikPanelGridId"
								actionListener="#{testTahribatsizRadyografikSonucBean.addOrUpdateRadyografikSonuc}"
								icon="ui-icon-circle-plus"
								oncomplete="if (!args.validationFailed){radyografikDialogWidget.hide();}">
								<f:param id="radyografikPipeId"
									value="#{tahribatsizTestOrderListBean.selectedPipe.pipeId}"></f:param>
								<f:param id="radyografikItemId"
									value="#{tahribatsizTestOrderListBean.selectedSalesItem.itemId}"></f:param>
							</p:commandButton>
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="radyografikDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>
				</p:tab>
			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />

			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="RADYOGRAFİK MUAYENE KALİBRASYON BİLGİLERİ"
				id="kalibrasyonDialogId" widgetVar="kalibrasyonDialogWidget"
				showEffect="scale" hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonPanelGridId">
					<f:facet name="header">
						<h:outputText value="RADYOGRAFİK MUAYENE KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<h:outputText value="Kalibrasyon Tarihi : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizRadyografikSonucBean.kalibrasyon.kalibrasyonZamani}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
							timeZone="Europe/Istanbul" />
					</h:outputText>

					<h:outputText value="Kalibrasyon Yapan : "
						style="font-weight: bold;"></h:outputText>
					<h:outputText
						value="#{testTahribatsizRadyografikSonucBean.kalibrasyon.kalibrasyonuYapan}">
					</h:outputText>

				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<!-- kalibrasyon bilgileri -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false"
				header="RADYOGRAFİK MUAYENE KALİBRASYON BİLGİLERİ"
				id="kalibrasyonAtaDialogId" widgetVar="kalibrasyonAtaDialogWidget"
				showEffect="scale" hideEffect="scale">

				<h:panelGrid border="0" columns="2" cellspacing="5"
					style="text-align: center" id="kalibrasyonAtaPanelGridId">
					<f:facet name="header">
						<h:outputText value="RADYOGRAFİK MUAYENE KALİBRASYON BİLGİLERİ"
							rendered="true"></h:outputText>
					</f:facet>

					<p:dataTable var="kalibrasyons" id="kalibrasyonsDataTableId"
						rowKey="#{kalibrasyons.id}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizRadyografikSonucBean.kalibrasyonlar}"
						paginator="true" dynamic="true"
						selection="#{testTahribatsizRadyografikSonucBean.kalibrasyon}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<f:facet name="header">
							<h:outputText value="TÜM RADYOGRAFİK MUAYENE KALİBRASYONLARI"
								rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="Kalibrasyon Zamanı">
							<h:outputText value="#{kalibrasyons.kalibrasyonZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Kalibrasyon Yapan">
							<h:outputText value="#{kalibrasyons.kalibrasyonuYapan}"></h:outputText>
						</p:column>

					</p:dataTable>

				</h:panelGrid>
				<p:separator />
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="KALİBRASYON ATA" update="growl"
						process="@this kalibrasyonAtaPanelGridId"
						actionListener="#{testTahribatsizRadyografikSonucBean.kalibrasyonAta}"
						icon="ui-icon-circle-plus">
					</p:commandButton>
					<p:commandButton value="#{language.Close}"
						icon="ui-icon-circle-close" immediate="true"
						onclick="kalibrasyonAtaDialogWidget.hide()" />
				</h:panelGrid>
			</p:dialog>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>