<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">

			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">

				<!-- Tamir -->
				<p:tab id="tamirTabId" title="TAMİR EKRANI"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{testTahribatsizTamirBean.barkodNo}">
					</p:inputText>
					<p:commandButton value="BORU BUL"
						update="manuelUtPanelGridId tamirTestsDataTableId growl pipeTestsDataTableId"
						process="@this inputBarkod"
						actionListener="#{testTahribatsizTamirBean.fillTestListFromBarkod(testTahribatsizTamirBean.barkodNo)}"
						icon="ui-icon-circle-plus" styleClass="foo">
					</p:commandButton>

					<!-- Koordinat Listesi -->
					<p:dataTable var="tamirTests" id="tamirTestsDataTableId"
						rowKey="#{tamirTests.id}" emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizTamirBean.allTestTahribatsizTamirList}"
						paginator="true" rows="13" dynamic="true"
						selection="#{testTahribatsizTamirBean.testTahribatsizTamirForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{testTahribatsizTamirBean.tamirListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="tamirTestsTabId tamirTestAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="tamirTestsDataTableId orderAccordionPanelId tamirBaslamaDialogId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="#{language.Tamirler}" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{testTahribatsizTamirBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{testTahribatsizTamirBean.selectedPipe.salesItem.itemNo} - #{testTahribatsizTamirBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.KoordinatQ}">
							<h:outputText
								value="#{tamirTests.testTahribatsizManuelUtSonuc.koordinatQ}"
								rendered="#{tamirTests.testTahribatsizManuelUtSonuc.koordinatQ!=null}"></h:outputText>
							<h:outputText
								value="#{tamirTests.testTahribatsizFloroskopikSonuc.koordinatQ}"
								rendered="#{tamirTests.testTahribatsizFloroskopikSonuc.koordinatQ!=null}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.KoordinatL}">
							<h:outputText
								value="#{tamirTests.testTahribatsizManuelUtSonuc.koordinatL}"
								rendered="#{tamirTests.testTahribatsizManuelUtSonuc.koordinatL!=null}"></h:outputText>
							<h:outputText
								value="#{tamirTests.testTahribatsizFloroskopikSonuc.koordinatL}"
								rendered="#{tamirTests.testTahribatsizFloroskopikSonuc.koordinatL!=null}"></h:outputText>
						</p:column>

						<p:column headerText="Tamir Açıklaması">
							<h:outputText
								value="#{tamirTests.testTahribatsizManuelUtSonuc.aciklama}"></h:outputText>
						</p:column>

						<p:column headerText="Gönderen Birim">
							<h:outputText value="Floroskopik Gönderdi"
								rendered="#{tamirTests.testTahribatsizManuelUtSonuc.id==null}"></h:outputText>
							<h:outputText value="Manuel UT Gönderdi"
								rendered="#{tamirTests.testTahribatsizManuelUtSonuc.id!=null}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{tamirTests.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="Tamiri veren Kullanıcı ">
							<h:outputText
								value="#{tamirTests.user.employee.firstname} #{tamirTests.user.employee.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.TamirBaslamaZamani}">
							<h:outputText value="#{tamirTests.muayeneBaslamaZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{language.TamirBaslamaPersonel}">
							<h:outputText
								value="#{tamirTests.muayeneBaslamaUser.firstname} #{tamirTests.muayeneBaslamaUser.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="Yardımcı Personel">
							<h:outputText
								value="#{tamirTests.yardimciKullanici.firstname} #{tamirTests.yardimciKullanici.lastname}"></h:outputText>
						</p:column>

						<p:column style="text-align: center;">
							<f:facet name="header">
								<h:outputText value="Tamir İşlemi"></h:outputText>
							</f:facet>
							<p:graphicImage value="/small_icons/blank.png" style="border:0px"
								title="Boşta." rendered="#{tamirTests.durum == null}"></p:graphicImage>
							<p:graphicImage value="/small_icons/next.png" style="border:0px"
								title="Tamir Başlamış." rendered="#{tamirTests.durum == false}"></p:graphicImage>
							<p:graphicImage value="/small_icons/done.png" style="border:0px"
								title="Tamir Bitmiş." rendered="#{tamirTests.durum == true}"></p:graphicImage>
						</p:column>


						<p:column headerText="#{language.TamirBitisZamani}">
							<h:outputText value="#{tamirTests.muayeneBitisZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{language.TamirYapanPersonel}">
							<h:outputText
								value="#{tamirTests.muayeneBitisUser.firstname} #{tamirTests.muayeneBitisUser.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="Kaynak Uzunluğu(mm)">
							<h:outputText value="#{tamirTests.muayeneBitisKaynakUzunluk}"></h:outputText>
						</p:column>

						<p:column headerText="Kullanılan Çubuk Adedi">
							<h:outputText value="#{tamirTests.muayeneBitisKaynakAgirlik}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.TamirBitisZamaniKalan}">
							<h:outputText value="#{tamirTests.muayeneBitisZamaniKalan}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"
									timeZone="Europe/Istanbul" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{language.TamirYapanPersonelKalan}">
							<h:outputText
								value="#{tamirTests.muayeneBitisUserKalan.firstname} #{tamirTests.muayeneBitisUserKalan.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="Kalan Kaynak Uzunluğu(mm)">
							<h:outputText
								value="#{tamirTests.muayeneBitisKalanKaynakUzunluk}"></h:outputText>
						</p:column>

						<p:column headerText="Kalan Kaynak Ağırlığı">
							<h:outputText
								value="#{tamirTests.muayeneBitisKalanKaynakAgirlik}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="tamirTestAddPanelGridId">
						<p:commandButton value="SEÇİLEN TAMİRATA BAŞLA"
							update="growl tamirBaslamaPanelGridId tamirTests"
							process="@this tamirBaslamaPanelGridId"
							onclick="tamirBaslamaDialogWidget.show()"
							icon="ui-icon-circle-plus"
							disabled="#{!testTahribatsizTamirBean.updateButtonRender}">
						</p:commandButton>
						<p:commandButton value="SEÇİLEN TAMİRATI BİTİR"
							disabled="#{!testTahribatsizTamirBean.updateButtonRender}"
							update="growl tamirBitirmePanelGridId tamirTests"
							process="@this tamirBitirmePanelGridId"
							onclick="tamirBitirmeDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="SEÇİLEN TAMİRATI DÜZENLE"
							disabled="#{!testTahribatsizTamirBean.updateButtonRender}"
							update="growl tamirBitirmePanelGridId tamirTests"
							process="@this tamirBitirmePanelGridId"
							onclick="tamirBitirmeDialogWidget.show()"
							icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton
							actionListener="#{testTahribatsizTamirBean.deleteTamirSonuc}"
							update="tamirBaslamaPanelGridId tamirBitirmePanelGridId tamirTestsDataTableId growl pipeTestsDataTableId"
							process="@this tamirBaslamaPanelGridId tamirBitirmePanelGridId"
							icon="ui-icon-trash" value="SEÇİLEN TAMİRATI SİL"
							disabled="#{!testTahribatsizTamirBean.userBean.user.admin}">
							<f:param id="tamirDeletePipeId"
								value="#{testTahribatsizTamirBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
						<p:commandButton value="VARDİYA RAPORLARI" update="growl"
							process="@this tamirPanelGridId"
							disabled="#{testTahribatsizTamirBean.selectedPipe.pipeId==null}"
							onclick="raporTamirDialog.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
					</h:panelGrid>

					<!-- tamir baslama dialog -->
					<p:dialog draggable="true" closable="true" resizable="false"
						dynamic="true" header="TAMİR BAŞLAMA EKRANI"
						id="tamirBaslamaDialogId" widgetVar="tamirBaslamaDialogWidget"
						showEffect="scale" hideEffect="scale">

						<p:panel header="Boru Hata Bilgileri" toggleable="true"
							toggleOrientation="horizontal">
							<h:form>
								<p:dataTable var="VARIABLE1" value=""
									rendered="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizManuelUtSonuc.id!=null}">
									<p:column headerText="#{language.ReflectorType}">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizManuelUtSonuc.b}"
											itemLabel="B" disabled="true" />
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizManuelUtSonuc.e}"
											itemLabel="E" disabled="true" />
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizManuelUtSonuc.d}"
											itemLabel="D" disabled="true" />
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizManuelUtSonuc.h}"
											itemLabel="H" disabled="true" />
									</p:column>

									<p:column headerText="Derinlik">
										<h:outputText
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizManuelUtSonuc.derinlik}" />
									</p:column>

								</p:dataTable>
							</h:form>

							<h:form>
								<p:dataTable var="VARIABLE2" value=""
									rendered="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.id!=null}">
									<p:column headerText="Aa ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.aa}"
											disabled="true" />
									</p:column>

									<p:column headerText="Ab ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.ab}"
											disabled="true" />
									</p:column>

									<p:column headerText="Ad ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.ad}"
											disabled="true" />
									</p:column>

									<p:column headerText="Ba ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.ba}"
											disabled="true" />
									</p:column>

									<p:column headerText="Bb ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.bb}"
											disabled="true" />
									</p:column>

									<p:column headerText="C ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.c}"
											disabled="true" />
									</p:column>

									<p:column headerText="D ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.d}"
											disabled="true" />
									</p:column>

									<p:column headerText="E ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.e}"
											disabled="true" />
									</p:column>

									<p:column headerText="DE ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.de}"
											disabled="true" />
									</p:column>

									<p:column headerText="F ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.f}"
											disabled="true" />
									</p:column>

									<p:column headerText="#{language.Repair} / #{language.Cut}">
										<p:selectOneMenu
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.repairCut}"
											disabled="true">
											<f:selectItem itemValue="true" itemLabel="#{language.Repair}"></f:selectItem>
											<f:selectItem itemValue="false" itemLabel="#{language.Cut}"></f:selectItem>
										</p:selectOneMenu>
									</p:column>

								</p:dataTable>
							</h:form>

						</p:panel>

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="tamirBaslamaPanelGridId">
							<f:facet name="header">
								<h:outputText value="TAMİR" rendered="true"></h:outputText>
							</f:facet>

							<h:outputLabel value="Tamiri Yapan" for="ilkTamirYapan"
								style="font-weight: bold;" />
							<p:autoComplete
								value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.muayeneBaslamaUser}"
								id="ilkTamirYapan"
								completeMethod="#{autoCompleteBean.autoCompleteEmployee}"
								var="e"
								itemLabel="#{e.employeeId} - #{e.firstname} #{e.lastname}"
								itemValue="#{e}" converter="employeeConverter"
								forceSelection="true" minQueryLength="3" />

							<!-- 							<p:selectBooleanCheckbox -->
							<!-- 								value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.yarimKaldi}" -->
							<!-- 								itemLabel="Yarım Kaldı." style="font-weight: bold;" /> -->

							<!-- 							<p:selectBooleanCheckbox -->
							<!-- 								value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.yarimTamamlandi}" -->
							<!-- 								itemLabel="Yarım Tamamlandı." style="font-weight: bold;" /> -->

						</h:panelGrid>
						<p:separator />
						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAYDET"
								actionListener="#{testTahribatsizTamirBean.addTamirSonuc}"
								oncomplete="tamirBaslamaDialogWidget.hide();"
								update="growl tamirBaslamaPanelGridId tamirTestsDataTableId orderAccordionPanelId"
								process="@this tamirBaslamaPanelGridId tamirBaslamaDialogId">
								<f:param id="tamirBaslamaSelectedPipeId"
									value="#{testTahribatsizTamirBean.selectedPipe.pipeId}"></f:param>
							</p:commandButton>
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="tamirBaslamaDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>

					<!-- 										tamir bitirme dialog -->
					<p:dialog draggable="true" closable="true" maximizable="true"
						resizable="false" dynamic="false" header="TAMİR BİTİRME EKRANI"
						id="tamirBitirmeDialogId" widgetVar="tamirBitirmeDialogWidget"
						showEffect="scale" hideEffect="scale">

						<p:panel header="Boru Hata Bilgileri" toggleable="true"
							toggleOrientation="horizontal">
							<h:form>
								<p:dataTable var="VARIABLE1" value=""
									rendered="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizManuelUtSonuc.id!=null}">
									<p:column headerText="#{language.ReflectorType}">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizManuelUtSonuc.b}"
											itemLabel="B" disabled="true" />
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizManuelUtSonuc.e}"
											itemLabel="E" disabled="true" />
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizManuelUtSonuc.d}"
											itemLabel="D" disabled="true" />
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizManuelUtSonuc.h}"
											itemLabel="H" disabled="true" />
									</p:column>

									<p:column headerText="Derinlik">
										<h:outputText
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizManuelUtSonuc.derinlik}" />
									</p:column>

								</p:dataTable>
							</h:form>

							<h:form>
								<p:dataTable var="VARIABLE2" value=""
									rendered="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.id!=null}">
									<p:column headerText="Aa ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.aa}"
											disabled="true" />
									</p:column>

									<p:column headerText="Ab ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.ab}"
											disabled="true" />
									</p:column>

									<p:column headerText="Ad ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.ad}"
											disabled="true" />
									</p:column>

									<p:column headerText="Ba ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.ba}"
											disabled="true" />
									</p:column>

									<p:column headerText="Bb ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.bb}"
											disabled="true" />
									</p:column>

									<p:column headerText="C ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.c}"
											disabled="true" />
									</p:column>

									<p:column headerText="D ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.d}"
											disabled="true" />
									</p:column>

									<p:column headerText="E ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.e}"
											disabled="true" />
									</p:column>

									<p:column headerText="DE ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.de}"
											disabled="true" />
									</p:column>

									<p:column headerText="F ">
										<p:selectBooleanCheckbox
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.f}"
											disabled="true" />
									</p:column>

									<p:column headerText="#{language.Repair} / #{language.Cut}">
										<p:selectOneMenu
											value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.testTahribatsizFloroskopikSonuc.repairCut}"
											disabled="true">
											<f:selectItem itemValue="true" itemLabel="#{language.Repair}"></f:selectItem>
											<f:selectItem itemValue="false" itemLabel="#{language.Cut}"></f:selectItem>
										</p:selectOneMenu>
									</p:column>

								</p:dataTable>
							</h:form>

						</p:panel>

						<h:panelGrid border="0" columns="2" cellspacing="5"
							style="text-align: center" id="tamirBitirmePanelGridId">
							<f:facet name="header">
								<h:outputText value="TAMİR" rendered="true"></h:outputText>
							</f:facet>

							<h:outputLabel value="Tamiri Bitiren" for="ilkTamiriBitiren"
								rendered="#{testTahribatsizTamirBean.testTahribatsizTamirForm.durum==false}"
								style="font-weight: bold;" />
							<p:autoComplete
								value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.muayeneBitisUser}"
								id="ilkTamiriBitiren"
								completeMethod="#{autoCompleteBean.autoCompleteEmployee}"
								var="e"
								itemLabel="#{e.employeeId} - #{e.firstname} #{e.lastname}"
								itemValue="#{e}" converter="employeeConverter"
								forceSelection="true" minQueryLength="3"
								rendered="#{testTahribatsizTamirBean.testTahribatsizTamirForm.durum==false}" />
							<h:outputLabel value="Toplam Tamir Uzunluğu (mm)" readonly="true"
								style="font-weight: bold;"
								rendered="#{testTahribatsizTamirBean.testTahribatsizTamirForm.durum==false}"></h:outputLabel>
							<p:inputText
								value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.muayeneBitisKaynakUzunluk}"
								rendered="#{testTahribatsizTamirBean.testTahribatsizTamirForm.durum==false}"></p:inputText>
							<h:outputLabel value="Toplam Kullanılan Çubuk Adedi"
								readonly="true" style="font-weight: bold;"
								rendered="#{testTahribatsizTamirBean.testTahribatsizTamirForm.durum==false}"></h:outputLabel>
							<p:inputText
								value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.muayeneBitisKaynakAgirlik}"
								rendered="#{testTahribatsizTamirBean.testTahribatsizTamirForm.durum==false}"></p:inputText>

							<h:outputLabel value="Tamiri Yapan" for="basicPojoStartTrue"
								rendered="#{testTahribatsizTamirBean.testTahribatsizTamirForm.durum==true}"
								style="font-weight: bold;" />
							<p:autoComplete
								value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.muayeneBaslamaUser}"
								id="basicPojoStartTrue"
								completeMethod="#{autoCompleteBean.autoCompleteEmployee}"
								var="e"
								itemLabel="#{e.employeeId} - #{e.firstname} #{e.lastname}"
								itemValue="#{e}" converter="employeeConverter"
								forceSelection="true" minQueryLength="3"
								rendered="#{testTahribatsizTamirBean.testTahribatsizTamirForm.durum==true}" />

							<h:outputLabel value="Tamiri Bitiren" for="basicPojoStopTrue"
								rendered="#{testTahribatsizTamirBean.testTahribatsizTamirForm.durum==true}"
								style="font-weight: bold;" />
							<p:autoComplete
								value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.muayeneBitisUser}"
								id="basicPojoStopTrue"
								completeMethod="#{autoCompleteBean.autoCompleteEmployee}"
								var="e"
								itemLabel="#{e.employeeId} - #{e.firstname} #{e.lastname}"
								itemValue="#{e}" converter="employeeConverter"
								forceSelection="true" minQueryLength="3"
								rendered="#{testTahribatsizTamirBean.testTahribatsizTamirForm.durum==true}" />
							<h:outputLabel value="Yapılan Tamir Uzunluğu (mm)"
								readonly="true" style="font-weight: bold;"
								rendered="#{testTahribatsizTamirBean.testTahribatsizTamirForm.durum==true}"></h:outputLabel>
							<p:inputText
								value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.muayeneBitisKalanKaynakUzunluk}"
								rendered="#{testTahribatsizTamirBean.testTahribatsizTamirForm.durum==true}"></p:inputText>
							<h:outputLabel value="Kullanılan Çubuk Adedi" readonly="true"
								style="font-weight: bold;"
								rendered="#{testTahribatsizTamirBean.testTahribatsizTamirForm.durum==true}"></h:outputLabel>
							<p:inputText
								value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.muayeneBitisKalanKaynakAgirlik}"
								rendered="#{testTahribatsizTamirBean.testTahribatsizTamirForm.durum==true}"></p:inputText>

							<!-- 							<p:selectBooleanCheckbox -->
							<!-- 								value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.yarimKaldi}" -->
							<!-- 								itemLabel="Yarım Kaldı." style="font-weight: bold;" /> -->

							<!-- 							<p:selectBooleanCheckbox -->
							<!-- 								value="#{testTahribatsizTamirBean.testTahribatsizTamirForm.yarimTamamlandi}" -->
							<!-- 								itemLabel="Yarım Tamamlandı." style="font-weight: bold;" /> -->

						</h:panelGrid>
						<p:separator />
						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="KAYDET"
								actionListener="#{testTahribatsizTamirBean.addTamirSonuc}"
								oncomplete="tamirBitirmeDialogWidget.hide();"
								update="growl tamirBitirmePanelGridId tamirTestsDataTableId orderAccordionPanelId"
								process="@this tamirBitirmePanelGridId"
								action="#{testTahribatsizTamirBean.reset}">
								<f:param id="tamirBitirmeSelectedPipeId"
									value="#{testTahribatsizTamirBean.selectedPipe.pipeId}"></f:param>
							</p:commandButton>
							<p:commandButton value="KAPAT" icon="ui-icon-circle-close"
								immediate="true" onclick="tamirBitirmeDialogWidget.hide()" />
						</h:panelGrid>
					</p:dialog>

					<p:dialog widgetVar="raporTamirDialog"
						header="TAMİR VARDİYA RAPORLARI" id="raporTamirDialogId">

						<h:outputText value="VARDİYA" style="font-weight: bold;"></h:outputText>
						<p:selectOneMenu value="#{testProductionReportBean.raporVardiya}">
							<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
							<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
							<f:selectItem itemValue="0" itemLabel="GECE"></f:selectItem>
						</p:selectOneMenu>

						<h:outputText value="Test Zamanı (gg/aa/yyyy): "
							style="font-weight: bold;"></h:outputText>
						<h:outputText style="width:10px;" value="" />

						<p:calendar mode="popup" autocomplete="false" showOn="button"
							stepMinute="5" required="true"
							pattern="#{userCredentialsBean.dateFormat}"
							requiredMessage="#{language.RequiredMessage}"
							value="#{testProductionReportBean.raporTarihi}"></p:calendar>

						<p:spacer width="15" height="50" />

						<h:commandButton
							action="#{testProductionReportBean.fr244ReportXlsx()}"
							title="FR-244" value="FR-244">
							<f:ajax execute="raporTamirDialogId" />
						</h:commandButton>

						<h:commandButton
							action="#{testProductionReportBean.fr174ReportXlsx()}"
							title="FR-174" value="FR-174">
							<f:ajax execute="raporTamirDialogId" />
						</h:commandButton>

						<h:commandLink value="RAPORU İNDİRMEK İÇİN TIKLAYINIZ!"
							title="RAPORU İNDİR" immediate="true">
							<p:fileDownload
								value="#{testProductionReportBean.downloadedFile}" />
						</h:commandLink>
					</p:dialog>

				</p:tab>
			</p:accordionPanel>
			<p:growl id="growl" sticky="true" />
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Tamir verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>