<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel id="orderAccordionPanelId" autoHeight="false"
				style="padding:0px" widgetVar="orderAccorditionPanelWidget">
				<!-- Torna -->
				<p:tab id="tornaTabId"
					title=" TORNA EKRANI *** #{testTahribatsizTornaBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}-#{testTahribatsizTornaBean.selectedPipe.salesItem.itemNo} / #{testTahribatsizTornaBean.selectedPipe.salesItem.proposal.customer.shortName} / #{testTahribatsizTornaBean.selectedPipe.salesItem.diameter}x#{testTahribatsizTornaBean.selectedPipe.salesItem.thickness} / #{testTahribatsizTornaBean.selectedPipe.salesItem.quality} / #{testTahribatsizTornaBean.selectedPipe.salesItem.manufacturingStandard}"
					titleStyle="font-weight: bold;font-size: 16pt;">

					<h:outputText value=" BORU BARKOD OKUT " style="font-weight: bold;"></h:outputText>
					<p:inputText id="inputBarkod" style="width:100px;"
						value="#{testTahribatsizTornaBean.barkodNo}">
					</p:inputText>
					<p:commandButton value="Boru Bul"
						actionListener="#{testTahribatsizTornaBean.fillTestListFromBarkod(testTahribatsizTornaBean.barkodNo)}"
						update="tornaPanelGridId tornaTests tornaTestsDataTableId orderAccordionPanelId growl"
						process="@this inputBarkod" styleClass="foo">
					</p:commandButton>

					<!-- Koordinat Listesi -->
					<p:dataTable var="tornaTests" id="tornaTestsDataTableId"
						rowKey="#{tornaTests.id}" emptyMessage="#{language.EmptyMessage}"
						value="#{testTahribatsizTornaBean.allTestTahribatsizTornaList}"
						paginator="true" rows="13" dynamic="true"
						selection="#{testTahribatsizTornaBean.testTahribatsizTornaForm}"
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:ajax event="rowSelect"
							listener="#{testTahribatsizTornaBean.tornaListener}"
							process="listForm:pipeTestsDataTableId pipeTestsDataTableId"
							update="tornaTestsTabId tornaTestAddPanelGridId" />
						<p:ajax event="rowSelect"
							update="tornaTestsDataTableId orderAccordionPanelId">
						</p:ajax>

						<f:facet name="header">
							<h:outputText value="#{language.Tornalar}" rendered="true"></h:outputText>
						</f:facet>

						<p:column headerText="#{language.PipeNumber}" id="pipeNo">
							<h:outputText
								value="#{testTahribatsizTornaBean.selectedPipe.salesItem.proposal.salesOrder.orderNo}/#{testTahribatsizTornaBean.selectedPipe.salesItem.itemNo} - #{testTahribatsizTornaBean.selectedPipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Torna Yapılan Uç">
							<p:selectOneMenu value="#{tornaTests.islemYapilanUc}"
								disabled="true" style="width: 140px">
								<f:selectItem itemValue="0" itemLabel="A Ucu"></f:selectItem>
								<f:selectItem itemValue="1" itemLabel="B Ucu"></f:selectItem>
								<f:selectItem itemValue="2" itemLabel="A-B Ucu"></f:selectItem>
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="#{language.EklenmeZamani}">
							<h:outputText value="#{tornaTests.eklemeZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss" />
							</h:outputText>
						</p:column>

						<p:column headerText="Tornayı veren Kullanıcı ">
							<h:outputText
								value="#{tornaTests.user.employee.firstname} #{tornaTests.user.employee.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="#{language.TornaBaslamaZamani}">
							<h:outputText value="#{tornaTests.muayeneBaslamaZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{language.TornaBaslamaPersonel}">
							<h:outputText
								value="#{tornaTests.muayeneBaslamaUser.employee.firstname} #{tornaTests.muayeneBaslamaUser.employee.lastname}"></h:outputText>
						</p:column>

						<p:column style="text-align: center;">
							<f:facet name="header">
								<h:outputText value="Torna İşlemi"></h:outputText>
							</f:facet>
							<p:graphicImage value="/small_icons/blank.png" style="border:0px"
								title="Boşta." rendered="#{tornaTests.durum == null}"></p:graphicImage>
							<p:graphicImage value="/small_icons/next.png" style="border:0px"
								title="Torna Başlamış." rendered="#{tornaTests.durum == false}"></p:graphicImage>
							<p:graphicImage value="/small_icons/done.png" style="border:0px"
								title="Torna Bitmiş." rendered="#{tornaTests.durum == true}"></p:graphicImage>
						</p:column>

						<p:column headerText="Kullanılan Elmas Adedi">
							<h:outputText value="#{tornaTests.kullanilanElmasAdedi}">
							</h:outputText>
						</p:column>

						<p:column headerText="#{language.TornaBitisZamani}">
							<h:outputText value="#{tornaTests.muayeneBitisZamani}">
								<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{language.TornaYapanPersonel}">
							<h:outputText
								value="#{tornaTests.muayeneBitisUser.employee.firstname} #{tornaTests.muayeneBitisUser.employee.lastname}"></h:outputText>
						</p:column>

						<p:column headerText="Yardımcı Personel">
							<h:outputText
								value="#{tornaTests.yardimciKullanici.firstname} #{tornaTests.yardimciKullanici.lastname}"></h:outputText>
						</p:column>

					</p:dataTable>

					<h:panelGrid border="0" columns="5" cellspacing="5"
						id="tornaTestAddPanelGridId">
						<p:commandButton value="YENİ TORNA EKLE"
							update="growl tornaPanelGridId tornaTests warningSelectedTornaDialogId"
							process="@this tornaPanelGridId"
							disabled="#{testTahribatsizTornaBean.selectedPipe.pipeId==null}"
							oncomplete="addTornaDialog.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
						<p:commandButton value="SEÇİLEN TORNAYA BAŞLA"
							update="growl tornaPanelGridId tornaTests warningSelectedTornaDialogId"
							id="baslaButton" process="@this tornaPanelGridId"
							oncomplete="warningSelectedTornaDialog.show()"
							icon="ui-icon-circle-plus"
							disabled="#{testTahribatsizTornaBean.testTahribatsizTornaForm.durum!=null}"
							rendered="#{testTahribatsizTornaBean.updateButtonRender}">
						</p:commandButton>
						<p:commandButton value="SEÇİLEN TORNAYI BİTİR"
							disabled="#{testTahribatsizTornaBean.testTahribatsizTornaForm.durum==null}"
							update="growl tornaPanelGridId tornaTests warningSelectedTornaDialogId"
							id="bitirButton" process="@this tornaPanelGridId"
							oncomplete="warningSelectedTornaDialog.show()"
							icon="ui-icon-circle-plus"
							rendered="#{testTahribatsizTornaBean.updateButtonRender}">
						</p:commandButton>
						<p:commandButton
							actionListener="#{testTahribatsizTornaBean.deleteTornaSonuc}"
							update="tornaPanelGridId tornaTestsDataTableId growl pipeTestsDataTableId"
							process="@this tornaPanelGridId" icon="ui-icon-trash"
							value="SEÇİLEN TORNAYI SİL"
							rendered="#{testTahribatsizTornaBean.updateButtonRender}">
							<f:param id="tornaDeletePipeId"
								value="#{testTahribatsizTornaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
						<p:commandButton value="VARDİYA RAPORU AL" update="growl"
							process="@this tornaPanelGridId"
							disabled="#{testTahribatsizTornaBean.selectedPipe.pipeId==null}"
							onclick="raporTornaDialog.show()" icon="ui-icon-circle-plus">
						</p:commandButton>
					</h:panelGrid>

					<p:dialog widgetVar="warningSelectedTornaDialog"
						header="#{language.salesWarning}"
						id="warningSelectedTornaDialogId">

						<p:panel style="min-width:600px" id="warningSelectedTornaPanelId">
							<h:outputText
								value="SEÇİLEN BORU İÇİN TORNA İŞLEMİ BAŞLATILACAKTIR, EMİN MİSİNİZ?"
								rendered="#{testTahribatsizTornaBean.testTahribatsizTornaForm.durum==null}" />
							<h:outputText
								value="SEÇİLEN BORU İÇİN TORNA İŞLEMİ BİTİRİLECEKTİR, EMİN MİSİNİZ?"
								rendered="#{testTahribatsizTornaBean.testTahribatsizTornaForm.durum==false}" />
							<br />

							<br />
							<h:outputLabel value="Yardımcı Personel Adı - Soyadı "
								for="basicPojoAlanGiris" style="font-weight: bold;" />
							<p:autoComplete
								value="#{testTahribatsizTornaBean.testTahribatsizTornaForm.yardimciKullanici}"
								id="basicPojoAlanGiris"
								completeMethod="#{autoCompleteBean.autoCompleteEmployee}"
								var="e"
								itemLabel="#{e.employeeId} - #{e.firstname} #{e.lastname}"
								itemValue="#{e}" converter="employeeConverter"
								forceSelection="true" minQueryLength="3" />
							<br />

							<br />

							<br />
							<h:outputLabel value="Kullanılan Elmas Adedi "
								for="basicPojoAlanGiris" style="font-weight: bold;" />
							<p:inputText
								value="#{testTahribatsizTornaBean.testTahribatsizTornaForm.kullanilanElmasAdedi}"></p:inputText>
							<br />
						</p:panel>

						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="warningSelectedTornaDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KAYDET"
							actionListener="#{testTahribatsizTornaBean.addTornaSonuc}"
							oncomplete="warningSelectedTornaDialog.hide();"
							update="growl tornaPanelGridId tornaTests tornaTestsDataTableId orderAccordionPanelId"
							process="@this tornaPanelGridId warningSelectedTornaPanelId">
							<f:param id="tornaSelectedPipeId"
								value="#{testTahribatsizTornaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="addTornaDialog"
						header="#{language.salesWarning}" id="addTornaDialogId">
						<br />
						<h:outputText
							value="SEÇİLEN BORUYA YENİ TORNA İŞLEMİ EKLENECEKTİR, EMİN MİSİNİZ?" />
						<br />
						<br />
						<br />
						<h:outputText value="TORNA YAPILACAK UÇ " />
						<br />
						<br />
						<p:selectOneMenu
							value="#{testTahribatsizTornaBean.newTorna.islemYapilanUc}"
							style="width: 140px">
							<f:selectItem itemValue="0" itemLabel="A Ucu"></f:selectItem>
							<f:selectItem itemValue="1" itemLabel="B Ucu"></f:selectItem>
							<f:selectItem itemValue="2" itemLabel="A-B Ucu"></f:selectItem>
						</p:selectOneMenu>
						<br />
						<p:commandButton value="VAZGEÇ - KAPAT"
							oncomplete="addTornaDialog.hide();" />

						<p:spacer width="15" height="50" />

						<p:commandButton value="KABUL ET - KAYDET"
							actionListener="#{testTahribatsizTornaBean.addTorna}"
							oncomplete="addTornaDialog.hide();"
							update="growl tornaPanelGridId tornaTests tornaTestsDataTableId orderAccordionPanelId"
							process="@this tornaPanelGridId addTornaDialogId">
							<f:param id="PipeId"
								value="#{testTahribatsizTornaBean.selectedPipe.pipeId}"></f:param>
						</p:commandButton>
					</p:dialog>

					<p:dialog widgetVar="raporTornaDialog"
						header="TORNA TEZGAHI VARDİYA RAPORU" id="raporTornaDialogId">

						<h:outputText value="VARDİYA" style="font-weight: bold;"></h:outputText>
						<p:selectOneMenu value="#{testProductionReportBean.raporVardiya}">
							<f:selectItem itemValue="-1" itemLabel="SEÇİNİZ!"></f:selectItem>
							<f:selectItem itemValue="1" itemLabel="GÜNDÜZ"></f:selectItem>
							<f:selectItem itemValue="0" itemLabel="GECE"></f:selectItem>
						</p:selectOneMenu>

						<h:outputText value="Test Zamanı (gg/aa/yyyy): "
							style="font-weight: bold;"></h:outputText>
						<h:outputText style="width:10px;" value="" />

						<p:calendar mode="popup" autocomplete="false" showOn="button"
							stepMinute="5" required="true"
							pattern="#{userCredentialsBean.dateFormat}"
							requiredMessage="#{language.RequiredMessage}"
							value="#{testProductionReportBean.raporTarihi}"></p:calendar>

						<p:spacer width="15" height="50" />

						<h:commandButton
							action="#{testProductionReportBean.tornaResultReportXlsx(testTahribatsizTornaBean.selectedPipe.pipeId)}"
							image="/large_icons/report.png" title="FR-143">
							<f:ajax execute="raporTornaDialogId" />
						</h:commandButton>

						<h:commandLink value="RAPORU İNDİRMEK İÇİN TIKLAYINIZ!"
							title="RAPORU İNDİR" immediate="true">
							<p:fileDownload
								value="#{testProductionReportBean.downloadedFile}" />
						</h:commandLink>
					</p:dialog>

				</p:tab>
			</p:accordionPanel>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
			<p:growl id="growl" sticky="true" />
		</ui:define>
	</ui:composition>
</h:body>
</html>