<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">

			<p:dataTable var="salesItems" id="itemsTable"
				value="#{salesItemBean.itemList}" rowKey="#{salesItems.itemId}"
				emptyMessage="#{language.salesNoItem}"
				filteredValue="#{salesItemBean.filteredList}" rows="15"
				paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}"
				paginator="true">

				<p:ajax event="rowSelect"
					listener="#{tahribatsizTestOrderListBean.loadSelectedOrder}"
					process="orderAccordionPanelId:listOrderForm:datatableOrders datatableOrders"
					update="orderAccordionPanelId:listPipeForm:datatablePipes orderAccordionPanelId" />

				<f:facet name="header">
				  SİPARİŞ KALEMLERİ		
				</f:facet>

				<p:column sortBy="#{salesItems.proposal.salesOrder.orderNo}"
					filterBy="#{salesItems.proposal.salesOrder.orderNo}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="Sipariş Numarası" />
					</f:facet>
					<h:outputText
						value="#{salesItems.proposal.salesOrder.orderNo} - #{salesItems.itemNo}" />
				</p:column>

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesProposalNumber}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesItems.proposal.proposalNumber}" /> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column sortBy="#{salesItems.No}" filterBy="#{salesItems.itemNo}" -->
				<!-- 					filterMatchMode="contains"> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesNumber}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesItems.itemNo}" /> -->
				<!-- 				</p:column> -->

				<p:column sortBy="#{salesItems.proposal.customer.shortName}"
					filterBy="#{salesItems.proposal.customer.shortName}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="#{language.salesCustomer}" />
					</f:facet>
					<h:outputText value="#{salesItems.proposal.customer.shortName}" />
				</p:column>

				<p:column style="text-align: center;"
					sortBy="#{salesItems.isEmriIcKumlama.id==null}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="İç Kumlama"></h:outputText>
					</f:facet>
					<p:graphicImage value="/small_icons/done.png" style="border:0px"
						rendered="#{salesItems.isEmriIcKumlama.id!=null}">
					</p:graphicImage>
					<p:graphicImage value="/small_icons/blank.png" style="border:0px"
						rendered="#{salesItems.isEmriIcKumlama.id==null}">
					</p:graphicImage>
				</p:column>

				<p:column style="text-align: center;"
					sortBy="#{salesItems.isEmriDisKumlama.id==null}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="Dış Kumlama"></h:outputText>
					</f:facet>
					<p:graphicImage value="/small_icons/done.png" style="border:0px"
						rendered="#{salesItems.isEmriDisKumlama.id!=null}">
					</p:graphicImage>
					<p:graphicImage value="/small_icons/blank.png" style="border:0px"
						rendered="#{salesItems.isEmriDisKumlama.id==null}">
					</p:graphicImage>
				</p:column>

				<p:column style="text-align: center;"
					sortBy="#{salesItems.isEmriPolietilenKaplama.id==null}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="Poliletilen Kaplama"></h:outputText>
					</f:facet>
					<p:graphicImage value="/small_icons/done.png" style="border:0px"
						rendered="#{salesItems.isEmriPolietilenKaplama.id!=null}">
					</p:graphicImage>
					<p:graphicImage value="/small_icons/blank.png" style="border:0px"
						rendered="#{salesItems.isEmriPolietilenKaplama.id==null}">
					</p:graphicImage>
				</p:column>

				<p:column style="text-align: center;"
					sortBy="#{salesItems.isEmriEpoksiKaplama.id==null}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="Epoksi Kaplama"></h:outputText>
					</f:facet>
					<p:graphicImage value="/small_icons/done.png" style="border:0px"
						rendered="#{salesItems.isEmriEpoksiKaplama.id!=null}">
					</p:graphicImage>
					<p:graphicImage value="/small_icons/blank.png" style="border:0px"
						rendered="#{salesItems.isEmriEpoksiKaplama.id==null}">
					</p:graphicImage>
				</p:column>

				<p:column style="text-align: center;"
					sortBy="#{salesItems.isEmriBetonKaplama.id==null}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="Beton Kaplama"></h:outputText>
					</f:facet>
					<p:graphicImage value="/small_icons/done.png" style="border:0px"
						rendered="#{salesItems.isEmriBetonKaplama.id!=null}">
					</p:graphicImage>
					<p:graphicImage value="/small_icons/blank.png" style="border:0px"
						rendered="#{salesItems.isEmriBetonKaplama.id==null}">
					</p:graphicImage>
				</p:column>

				<p:column sortBy="#{salesItems.diameter}"
					filterBy="#{salesItems.diameter}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="#{language.salesDiameter}" />
					</f:facet>
					<h:outputText value="#{salesItems.diameter}"
						converter="salesNumberConverter" />
				</p:column>

				<p:column sortBy="#{salesItems.quality}"
					filterBy="#{salesItems.thickness}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="#{language.salesThickness}" />
					</f:facet>
					<h:outputText value="#{salesItems.thickness}"
						converter="salesNumberConverter" />
				</p:column>

				<p:column sortBy="#{salesItems.diameter}"
					filterBy="#{salesItems.quality}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="#{language.salesQuality}" />
					</f:facet>
					<h:outputText value="#{salesItems.quality}"></h:outputText>
				</p:column>

				<p:column sortBy="#{salesItems.pipeLength}"
					filterBy="#{salesItems.pipeLength}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="#{language.salesPipeLength}" />
					</f:facet>
					<h:outputText value="#{salesItems.pipeLength}"
						converter="salesNumberConverter" />
				</p:column>

				<!-- 				<p:column sortBy="#{salesItems.totalLengthM}" -->
				<!-- 					filterBy="#{salesItems.totalLengthM}" filterMatchMode="contains"> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesTotalLength}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesItems.totalLengthM}" -->
				<!-- 						converter="salesNumberConverter" /> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column sortBy="#{salesItems.unitWeight}" -->
				<!-- 					filterBy="#{salesItems.unitWeight}" filterMatchMode="contains"> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesUnitWeight}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesItems.unitWeight}" -->
				<!-- 						converter="salesNumberConverter" /> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column sortBy="#{salesItems.totalTonnage}" -->
				<!-- 					filterBy="#{salesItems.totalTonnage}" filterMatchMode="contains"> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesTotalTonnage}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesItems.totalTonnage}" -->
				<!-- 						converter="salesNumberConverter" /> -->
				<!-- 				</p:column> -->

				<p:column sortBy="#{salesItems.manufacturingStandard}"
					filterBy="#{salesItems.manufacturingStandard}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="#{language.salesDiameter}" />
					</f:facet>
					<h:outputText value="#{salesItems.manufacturingStandard}"></h:outputText>
				</p:column>

				<!-- 				<p:column sortBy="#{salesItems.transportation}" -->
				<!-- 					filterBy="#{salesItems.transportation}" filterMatchMode="contains"> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesManufacturingStandard}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesItems.transportation}"></h:outputText> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesRequestDate}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesItems.proposal.requestDate}"> -->
				<!-- 						<f:convertDateTime pattern="dd/MM/yyyy" /> -->
				<!-- 					</h:outputText> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesFormDate}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesItems.proposal.formDate}"> -->
				<!-- 						<f:convertDateTime pattern="dd/MM/yyyy" /> -->
				<!-- 					</h:outputText> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesPostDate}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesItems.proposal.postDate}"> -->
				<!-- 						<f:convertDateTime pattern="dd/MM/yyyy" /> -->
				<!-- 					</h:outputText> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesValidityPeriod}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesItems.proposal.validityPeriod}" /> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesPrepaidBy}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<c:forEach items="#{salesItems.proposal.employeeList}" -->
				<!-- 						var="salesList"> -->
				<!-- 						<h:outputText value="#{salesList.firstname} #{salesList.lastname}"> -->
				<!-- 							<f:convertDateTime pattern="dd/MM/yyyy" /> -->
				<!-- 						</h:outputText> -->
				<!-- 								- -->
				<!-- 								<h:outputText value="#{salesList.amount}" -->
				<!-- 							converter="salesNumberConverter" /> -->
				<!-- 						<h:outputText value=" " /> -->
				<!-- 					</c:forEach> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesApproval}1" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText rendered="#{salesItems.proposal.approval1 == true}" -->
				<!-- 						value="#{language.salesApproved}" /> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesApproval}2" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText rendered="#{salesItems.proposal.approval2 == true}" -->
				<!-- 						value="#{language.salesApproved}" /> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesCurrencyUnit}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesItems.proposal.currencyUnit.name}" /> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesProposalRequestedDocuments}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesItems.proposal.requestedDocuments}" /> -->
				<!-- 				</p:column> -->

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesNotes}" />
					</f:facet>
					<h:outputText value="#{salesItems.proposal.notes}" />
				</p:column>

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesOrderFormDate}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesOrderBean.selectedOrder.formDate}"> -->
				<!-- 						<f:convertDateTime pattern="dd/MM/yyyy" /> -->
				<!-- 					</h:outputText> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesOrderDeliveryDate}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesOrderBean.selectedOrder.deliveryDate}"> -->
				<!-- 						<f:convertDateTime pattern="dd/MM/yyyy" /> -->
				<!-- 					</h:outputText> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesOrderIsInScope1}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText -->
				<!-- 						rendered="#{salesOrderBean.selectedOrder.isInScope1 == true}" -->
				<!-- 						value="#{language.salesTrue}" /> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesOrderIsInScope2}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText -->
				<!-- 						rendered="#{salesOrderBean.selectedOrder.isInScope2 == true}" -->
				<!-- 						value="#{language.salesTrue}" /> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesOrderIsInScope3}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText -->
				<!-- 						rendered="#{salesOrderBean.selectedOrder.isInScope3 == true}" -->
				<!-- 						value="#{language.salesTrue}" /> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesOrderIsInScope4}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText -->
				<!-- 						rendered="#{salesOrderBean.selectedOrder.isInScope4 == true}" -->
				<!-- 						value="#{language.salesTrue}" /> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesOrderIsInScope5}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText -->
				<!-- 						rendered="#{salesOrderBean.selectedOrder.isInScope5 == true}" -->
				<!-- 						value="#{language.salesTrue}" /> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText -->
				<!-- 							value="#{language.salesOrderTransportationApproximateAmount}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText -->
				<!-- 						value="#{salesOrderBean.selectedOrder.approximateAmountForTransportation}" -->
				<!-- 						converter="salesNumberConverter" /> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText -->
				<!-- 							value="#{language.salesOrderTransportationApproximateAmountDetail}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText -->
				<!-- 						value="#{salesOrderBean.selectedOrder.approximateAmountDetailForTransportation}" /> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesOrderApproximateAmount}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText -->
				<!-- 						value="#{salesOrderBean.selectedOrder.approximateAmount}" -->
				<!-- 						converter="salesNumberConverter" /> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText -->
				<!-- 							value="#{language.salesOrderApproximateAmountDetail}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText -->
				<!-- 						value="#{salesOrderBean.selectedOrder.approximateAmountDetail}" /> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesPayments}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<c:forEach items="#{salesPaymentBean.paymentsOfSelectedOrder}" -->
				<!-- 						var="salesList"> -->
				<!-- 						<h:outputText value="(" /> -->
				<!-- 						<h:outputText value="#{salesList.paymentDate}"> -->
				<!-- 							<f:convertDateTime pattern="dd/MM/yyyy" /> -->
				<!-- 						</h:outputText> -->
				<!-- 								- -->
				<!-- 								<h:outputText value="#{salesList.amount}" -->
				<!-- 							converter="salesNumberConverter" /> -->
				<!-- 						<h:outputText value=") " /> -->
				<!-- 					</c:forEach> -->
				<!-- 				</p:column> -->



			</p:dataTable>

			<p:growl id="growl" sticky="true" />
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								$('.foo').click();
								//alert("Barkod ile seçilen Torna verileri geldi.");
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>