<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<!-- View order section  -->
		<ui:define name="showPanel">
			<p:growl id="growl" />
			<!-- TOOLBAR SECTION -->
			<p:panel id="toolbarPanelId">
				<p:toolbar id="toolbarId"
					rendered="#{qualitySpecBean.selectedSalesItem.itemId > 0}">
					<p:toolbarGroup align="center">
						<p:commandButton value="İMALAT İŞ EMRİ" update="imalatPanelId"
							actionListener="#{isEmriImalatBean.loadIsEmri(qualitySpecBean.selectedSalesItem.itemId)}"
							process="@this imalatPanelId orderAccordionPanelId"
							oncomplete="imalatDialogWidget.show()" />
					</p:toolbarGroup>
				</p:toolbar>
			</p:panel>
			<!-- Sipariş -->
			<p:dataTable var="salesOrders" id="salesTable"
				value="#{salesOrderBean.orderList}" rowKey="#{salesOrders.orderId}"
				selection="#{salesOrderBean.selectedOrder}" selectionMode="single"
				update="orderSelected" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
				emptyMessage="#{language.salesNoItem}"
				filteredValue="#{salesOrderBean.filteredList}">

				<p:ajax event="rowSelect"
					update="listNewForm,orderSelected,orderPanel,itemPanel,itemsTable" />

				<f:facet name="header">
				  #{language.salesOrder}				
				</f:facet>
				<p:column sortBy="#{salesOrders.orderNo}"
					filterBy="#{salesOrders.orderNo}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="#{language.salesOrderNo}" />
					</f:facet>
					<h:outputText value="#{salesOrders.orderNo}" />
				</p:column>
				<p:column sortBy="#{salesOrders.proposal.customer.shortName}"
					filterBy="#{salesOrders.proposal.customer.shortName}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="#{language.salesCustomer}" />
					</f:facet>
					<h:outputText value="#{salesOrders.proposal.customer.shortName}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Açıklamalar" />
					</f:facet>
					<h:outputText value="#{salesOrders.proposal.notes}"></h:outputText>
				</p:column>

			</p:dataTable>

			<p:dataTable var="salesItems" id="itemsTable"
				value="#{salesItemBean.itemsOfSelectedOrder}"
				rowKey="#{salesItems.itemId}"
				selection="#{qualitySpecBean.selectedSalesItem}"
				selectionMode="single" emptyMessage="#{language.salesNoItem}"
				filteredValue="#{salesItemBean.filteredList}" scrollable="true">

				<p:ajax event="rowSelect" update="itemSelected,itemPanel,orderPanel"
					listener="#{salesMenuBean.showManageType2Menu}" />

				<p:ajax event="rowSelect"
					listener="#{qualitySpecBean.loadOrderDetails}"
					process="listNewForm:datatableOrders datatableOrders"
					update="orderPanelId dialogsPanelGridId toolbarPanelId" />
				<f:facet name="header">
				  #{language.salesItem}			
				</f:facet>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Kalem Numarası" />
					</f:facet>
					<h:outputText value="#{salesItems.itemNo}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Boru Çapı" />
					</f:facet>
					<h:outputText value="#{salesItems.diameter}"
						converter="salesNumberConverter" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesThickness}" />
					</f:facet>
					<h:outputText value="#{salesItems.thickness}"
						converter="salesNumberConverter" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesQuality}" />
					</f:facet>
					<h:outputText value="#{salesItems.quality}"></h:outputText>
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesPipeLength}" />
					</f:facet>
					<h:outputText value="#{salesItems.pipeLength}"
						converter="salesNumberConverter" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesTotalLength}" />
					</f:facet>
					<h:outputText value="#{salesItems.totalLengthM}"
						converter="salesNumberConverter" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesManufacturingStandard}" />
					</f:facet>
					<h:outputText value="#{salesItems.manufacturingStandard}"></h:outputText>
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="İzolasyon Şekli" />
					</f:facet>
					<h:outputText value="#{salesItems.isolation}"></h:outputText>
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesInternalCoveringType}" />
					</f:facet>
					<h:outputText value="#{salesItems.internalCoveringType}"></h:outputText>
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesInternalCoveringStandard}" />
					</f:facet>
					<h:outputText value="#{salesItems.internalCoveringStandard}"></h:outputText>
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesExternalCoveringType}" />
					</f:facet>
					<h:outputText value="#{salesItems.externalCoveringType}"></h:outputText>
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesExternalCoveringStandard}" />
					</f:facet>
					<h:outputText value="#{salesItems.externalCoveringStandard}"></h:outputText>
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesPipeHole}" />
					</f:facet>
					<h:outputText value="#{salesItems.pipeHole}"></h:outputText>
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesPipeType}" />
					</f:facet>
					<h:outputText value="#{salesItems.pipeType}"></h:outputText>
				</p:column>

			</p:dataTable>

			<h:panelGrid id="dialogsPanelGridId">

				<!-- İMALAT İŞ EMRİ -->
				<p:dialog draggable="true" closable="true" dynamic="false"
					resizable="false" maximizable="true" id="imalatDialogId"
					widgetVar="imalatDialogWidget">

					<p:panel style="min-width:700px" id="imalatPanelId" header="İMALAT"
						toggleable="false">

						<h:panelGrid border="0" columns="2" style="width:100%">

							<h:outputText value="Düzenleme Tarihi : "
								style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.deliveryDate}"></h:outputText>

							<h:outputText value="Sipariş No : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.orderNo} - #{qualitySpecBean.selectedSalesItem.itemNo}"></h:outputText>

							<h:outputText value="Müşteri : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{salesOrderBean.selectedOrder.proposal.customer.shortName}"></h:outputText>

							<h:outputText value="Tezgah No : " style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Malzeme : " style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{qualitySpecBean.selectedSalesItem.quality}"></h:outputText>

							<h:outputText value="İmalat Standardı : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Sipariş Miktarı : "
								style="font-weight: bold"></h:outputText>
							<h:outputText
								value="#{qualitySpecBean.selectedSalesItem.totalLengthM} m"></h:outputText>

							<h:outputText value="Helis Açısı : " style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Sac Genişliği (Freze Çıkışı) : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Tezgah Hızı : " style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Vardiyada Alınması Gerekan : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="??? ??? ???"></h:outputText>

							<h:outputText value="Dış Çap (Min/Nominal/Max): "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="??? ??? ??? mm"></h:outputText>

							<h:outputText value="Boru Ucu Çevresel Çap (Min/Nominal/Max): "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="??? ??? ??? mm"></h:outputText>

							<h:outputText
								value="Boru Gövdesi Çevresel Çap (Min/Nominal/Max): "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="??? ??? ??? mm"></h:outputText>

							<h:outputText value="Et Kalınlığı (Min/Nominal/Max): "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="??? ??? ??? mm"></h:outputText>

							<h:outputText value="Boru Boyu (Min/Nominal/Max): "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="??? ??? ??? m"></h:outputText>

							<h:outputText value="İlave Torna Payı : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Bağlantı Şekli : " style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="İzolasyon Türü : " style="font-weight: bold"></h:outputText>
							<h:outputText style="color: red;"
								value="İÇ - #{qualitySpecBean.selectedSalesItem.internalCoveringType}, DIŞ - #{qualitySpecBean.selectedSalesItem.externalCoveringType}"></h:outputText>

							<h:outputText value="Bant Genişliği : " style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Bir Metre Boru Ağırlığı : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="??? ???"></h:outputText>

							<h:outputText value="Test Basıncı : " style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Radyal Kaçıklık : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Max. Kaynak Dikiş Yüksekliği : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Ovallik Total : " style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Doğrusallık : " style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Alın Yüksekliği : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Kaynak Ağızı Açısı : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="Boru Ucu 1 : ??? - Boru Ucu 2 : ???"></h:outputText>

							<h:outputText value="Ultrasonik Muayene : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="X-Ray : " style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Kullanılacak Tel : "
								style="font-weight: bold"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="???"></h:outputText>

							<h:outputText value="Kullanılacak Toz : "
								style="font-weight: bold"></h:outputText>
							<h:outputText style="color: red; font-weight: bold;"
								value="???"></h:outputText>

							<h:outputText value="Kullanılacak Mangrel No : "
								style="font-weight: bold;"></h:outputText>
							<p:inputText value="???">
							</p:inputText>

							<h:outputText value="Klemp Kontrol : " style="font-weight: bold"></h:outputText>
							<h:outputText value="??? ??? ???"></h:outputText>

							<h:outputText value="HT Kalıp Kontrol : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="??? ??? ???"></h:outputText>

							<h:outputText value="Tezgah Kontrol : " style="font-weight: bold"></h:outputText>
							<h:outputText value="??? ??? ???"></h:outputText>

							<h:outputText value="Kaynak Parametreleri - Dış DC Amper : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Kaynak Parametreleri - Dış DC Voltaj : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Kaynak Parametreleri - Dış AC Amper : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Kaynak Parametreleri - Dış AC Voltaj : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Kaynak Parametreleri - İç DC Amper : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Kaynak Parametreleri - İç DC Voltaj : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Kaynak Parametreleri - İç AC Amper : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Kaynak Parametreleri - İç AC Voltaj : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Lazer Sistemi : " style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Hedeflenen Ayar Süresi : "
								style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>

							<h:outputText value="Açıklama : " style="font-weight: bold"></h:outputText>
							<h:outputText value="???"></h:outputText>


						</h:panelGrid>

						<h:panelGrid border="0" columns="4" cellspacing="5">
							<p:commandButton value="#{language.KAYDETTAMAM}"
								process="@this imalatPanelId"
								actionListener="#{isEmriImalatBean.addOrUpdateIsEmriImalat}"
								update="growl imalatPanelId">
								<f:param id="icKaplamaSalesId"
									value="#{qualitySpecBean.selectedSalesItem.itemId}"></f:param>
							</p:commandButton>
							<p:commandButton value="#{language.SIL}"
								process="@this imalatPanelId"
								actionListener="#{isEmriImalatBean.deleteIsEmriImalat}"
								update="growl imalatPanelId">
							</p:commandButton>
							<p:commandButton value="#{language.IPTALKAPAT}" process="@this"
								immediate="true" onclick="imalatDialogWidget.hide()">
							</p:commandButton>
							<p:commandButton value="İMALAT MALZEMESİ EKLE" process="@this"
								update="growl imalatMalzemePanelId"
								actionListener="#{isEmriImalatBean.loadKumlamaMalzemeleri}"
								immediate="true" onclick="imalatMalzemeDialogWidget.show()"
								disabled="#{isEmriImalatBean.isEmriImalatForm.id==null}">
							</p:commandButton>
						</h:panelGrid>
					</p:panel>
				</p:dialog>
			</h:panelGrid>

			<!-- İç Kumlama Malzeme Ekleme -->

			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" header="İMALAT MALZEMESİ" resizable="false"
				id="imalatMalzemeDialogId" widgetVar="imalatMalzemeDialogWidget">
				<p:panel id="imalatMalzemePanelId" style="min-width:600px">
					<p:dataTable var="icMalzeme" id="imalatMalzemeListDataTableId"
						rowKey="#{icMalzeme.coatMaterialId}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{isEmriImalatBean.allImalatMalzemeList}" paginator="true"
						rows="10" selectionMode="single"
						selection="#{isEmriImalatBean.isEmriImalatForm.coatRawMaterial}"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:column sortBy="#{icMalzeme.coatMaterialId}"
							filterBy="#{icMalzeme.coatMaterialId}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Kimlik No"></h:outputText>
							</f:facet>
							<h:outputText value="#{icMalzeme.coatMaterialId}"></h:outputText>
						</p:column>

						<p:column sortBy="#{icMalzeme.partiNo}"
							filterBy="#{icMalzeme.partiNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Parti No"></h:outputText>
							</f:facet>
							<h:outputText value="#{icMalzeme.partiNo}"></h:outputText>
						</p:column>

						<p:column sortBy="#{icMalzeme.marka}"
							filterBy="#{icMalzeme.marka}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Marka Adı"></h:outputText>
							</f:facet>
							<h:outputText value="#{icMalzeme.marka}"></h:outputText>
						</p:column>

						<p:column sortBy="#{icMalzeme.urun}" filterBy="#{icMalzeme.urun}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Ürün Adı"></h:outputText>
							</f:facet>
							<h:outputText value="#{icMalzeme.urun}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.IncomingDate}"></h:outputText>
							</f:facet>
							<h:outputText value="#{icMalzeme.entranceDate}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="İlk Miktar"></h:outputText>
							</f:facet>
							<h:outputText value="#{icMalzeme.miktari}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Kalan Miktar"></h:outputText>
							</f:facet>
							<h:outputText value="#{icMalzeme.remainingAmount}"></h:outputText>
						</p:column>
					</p:dataTable>
					<!-- 					<h:panelGrid border="0" columns="4" cellspacing="5" -->
					<!-- 						id="dustDatePanelGridId"> -->
					<!-- 						<h:outputText value="#{language.StartDate} (gg/aa/yyyy):"></h:outputText> -->
					<!-- 						<p:calendar mode="popup" autocomplete="false" showOn="button" -->
					<!-- 							pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5" -->
					<!-- 							value="#{spiralMachineBean.dustMachineLink.startDate}"></p:calendar> -->
					<!-- 					</h:panelGrid> -->

					<h:panelGrid border="0" columns="3" cellspacing="5">
						<p:commandButton value="#{language.KAYDETTAMAM}"
							process="@this imalatMalzemePanelId"
							update="growl imalatPanelId imalatMalzemePanelId"
							actionListener="#{isEmriImalatBean.isEmriMalzemeEkle}"
							oncomplete="imalatMalzemeDialogWidget.hide()">
						</p:commandButton>
						<p:commandButton title="#{language.IPTALKAPAT}"
							value="#{language.IPTALKAPAT}"
							onclick="imalatMalzemeDialogWidget.hide()" process="@this">
						</p:commandButton>
					</h:panelGrid>
				</p:panel>
			</p:dialog>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>