<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<!-- View order section  -->
		<ui:define name="showPanel">
			<p:growl id="growl" />
			<!-- TOOLBAR SECTION -->
			<p:panel id="toolbarPanelId">
				<p:toolbar id="toolbarId"
					rendered="#{qualitySpecBean.selectedSalesItem.itemId > 0}">
					<p:toolbarGroup align="center">
						<p:commandButton value="İÇ KUMLAMA İŞ EMRİ"
							update="icKumlamaPanelId"
							actionListener="#{isEmriIcKumlamaBean.loadIsEmri(qualitySpecBean.selectedSalesItem.itemId)}"
							process="@this icKumlamaPanelId orderAccordionPanelId"
							oncomplete="icKumlamaDialogWidget.show()" />
						<p:commandButton value="DIŞ KUMLAMA İŞ EMRİ"
							update="disKumlamaPanelId"
							actionListener="#{isEmriDisKumlamaBean.loadIsEmri(qualitySpecBean.selectedSalesItem.itemId)}"
							process="@this disKumlamaPanelId orderAccordionPanelId"
							oncomplete="disKumlamaDialogWidget.show()" />
						<p:commandButton value="POLİETİLEN KAPLAMA İŞ EMRİ"
							update="polietilenKaplamaPanelId"
							actionListener="#{isEmriPolietilenKaplamaBean.loadIsEmri(qualitySpecBean.selectedSalesItem.itemId)}"
							process="@this polietilenKaplamaPanelId orderAccordionPanelId"
							oncomplete="polietilenKaplamaDialogWidget.show()" />
						<p:commandButton value="EPOKSİ KAPLAMA İŞ EMRİ"
							update="epoksiKaplamaPanelId"
							process="@this orderAccordionPanelId epoksiPanelId"
							actionListener="#{isEmriEpoksiKaplamaBean.loadIsEmri(qualitySpecBean.selectedSalesItem.itemId)}"
							oncomplete="epoksiKaplamaDialogWidget.show()" />
						<p:commandButton value="FIRÇALAMA İŞ EMRİ"
							update="fircalamaPanelId" process="@this orderAccordionPanelId"
							oncomplete="fircalamaDialogWidget.show()" />
						<p:commandButton value="MUFLAMA İŞ EMRİ" update="muflamaPanelId"
							process="@this muflamaPanelId"
							oncomplete="muflamaDialogWidget.show()" />
						<p:commandButton value="BETON KAPLAMA İŞ EMRİ"
							actionListener="#{isEmriBetonKaplamaBean.loadIsEmri(qualitySpecBean.selectedSalesItem.itemId)}"
							update="betonKaplamaPanelId"
							process="@this betonKaplamaPanelId orderAccordionPanelId"
							oncomplete="betonKaplamaDialogWidget.show()" />
						<p:commandButton value="MARKALAMA İŞ EMRİ"
							actionListener="#{isEmriMarkalamaBean.loadIsEmri(qualitySpecBean.selectedSalesItem.itemId)}"
							update="markalamaPanelId" process="@this orderAccordionPanelId"
							oncomplete="markalamaDialogWidget.show()" />
					</p:toolbarGroup>
				</p:toolbar>
			</p:panel>
			<!-- Sipariş -->
			<p:dataTable var="salesOrders" id="salesTable"
				value="#{salesOrderBean.orderList}" rowKey="#{salesOrders.orderId}"
				selection="#{salesOrderBean.selectedOrder}" selectionMode="single"
				update="orderSelected" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} "
				emptyMessage="#{language.salesNoItem}"
				filteredValue="#{salesOrderBean.filteredList}">

				<p:ajax event="rowSelect"
					update="listNewForm,orderSelected,orderPanel,itemPanel,itemsTable" />

				<f:facet name="header">
				  #{language.salesOrder}				
				</f:facet>
				<p:column sortBy="#{salesOrders.orderNo}"
					filterBy="#{salesOrders.orderNo}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="#{language.salesOrderNo}" />
					</f:facet>
					<h:outputText value="#{salesOrders.orderNo}" />
				</p:column>
				<!-- 				<p:column sortBy="#{salesOrders.proposal.proposalNumber}" -->
				<!-- 					filterBy="#{salesOrders.proposal.proposalNumber}" -->
				<!-- 					filterMatchMode="contains"> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesProposalNumber}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesOrders.proposal.proposalNumber}"></h:outputText> -->
				<!-- 				</p:column> -->
				<p:column sortBy="#{salesOrders.proposal.customer.shortName}"
					filterBy="#{salesOrders.proposal.customer.shortName}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="#{language.salesCustomer}" />
					</f:facet>
					<h:outputText value="#{salesOrders.proposal.customer.shortName}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Açıklamalar" />
					</f:facet>
					<h:outputText value="#{salesOrders.proposal.notes}"></h:outputText>
				</p:column>

				<!-- 				<p:column style="text-align: center;"> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="İç Kumlama"></h:outputText> -->
				<!-- 					</f:facet> -->
				<!-- 					<p:graphicImage value="/large_icons/done.png" style="border:0px" -->
				<!-- 						rendered="#{salesOrders.proposal}"> -->
				<!-- 					</p:graphicImage> -->
				<!-- 					<p:graphicImage value="/large_icons/blank.png" style="border:0px" -->
				<!-- 						rendered="#{salesOrders.proposal}"> -->
				<!-- 					</p:graphicImage> -->
				<!-- 				</p:column> -->

			</p:dataTable>

			<p:dataTable var="salesItems" id="itemsTable"
				value="#{salesItemBean.itemsOfSelectedOrder}"
				rowKey="#{salesItems.itemId}"
				selection="#{qualitySpecBean.selectedSalesItem}"
				selectionMode="single" emptyMessage="#{language.salesNoItem}"
				filteredValue="#{salesItemBean.filteredList}" scrollable="true">

				<p:ajax event="rowSelect" update="itemSelected,itemPanel,orderPanel"
					listener="#{salesMenuBean.showManageType2Menu}" />

				<p:ajax event="rowSelect"
					listener="#{qualitySpecBean.loadOrderDetails}"
					process="listNewForm:datatableOrders datatableOrders"
					update="orderPanelId dialogsPanelGridId toolbarPanelId" />
				<f:facet name="header">
				  #{language.salesItem}			
				</f:facet>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Kalem Numarası" />
					</f:facet>
					<h:outputText value="#{salesItems.itemNo}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Boru Çapı" />
					</f:facet>
					<h:outputText value="#{salesItems.diameter}"
						converter="salesNumberConverter" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesThickness}" />
					</f:facet>
					<h:outputText value="#{salesItems.thickness}"
						converter="salesNumberConverter" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesQuality}" />
					</f:facet>
					<h:outputText value="#{salesItems.quality}"></h:outputText>
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesPipeLength}" />
					</f:facet>
					<h:outputText value="#{salesItems.pipeLength}"
						converter="salesNumberConverter" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesTotalLength}" />
					</f:facet>
					<h:outputText value="#{salesItems.totalLengthM}"
						converter="salesNumberConverter" />
				</p:column>

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesUnitWeight}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesItems.unitWeight}" -->
				<!-- 						converter="salesNumberConverter" /> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column sortBy="#{salesItems.totalTonnage}" -->
				<!-- 					filterBy="#{salesItems.totalTonnage}" filterMatchMode="contains"> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesTotalTonnage}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesItems.totalTonnage}" -->
				<!-- 						converter="salesNumberConverter" /> -->
				<!-- 				</p:column> -->

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesManufacturingStandard}" />
					</f:facet>
					<h:outputText value="#{salesItems.manufacturingStandard}"></h:outputText>
				</p:column>

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="Teslim Yeri ve Şekli" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesItems.transportation}"></h:outputText> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesOrderNo}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesOrderBean.selectedOrder.orderNo}" /> -->
				<!-- 				</p:column> -->

				<!-- 				<p:column> -->
				<!-- 					<f:facet name="header"> -->
				<!-- 						<h:outputText value="#{language.salesProposalNumber}" /> -->
				<!-- 					</f:facet> -->
				<!-- 					<h:outputText value="#{salesItems.proposal.proposalNumber}" /> -->
				<!-- 				</p:column> -->

				<p:column>
					<f:facet name="header">
						<h:outputText value="İzolasyon Şekli" />
					</f:facet>
					<h:outputText value="#{salesItems.isolation}"></h:outputText>
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesInternalCoveringType}" />
					</f:facet>
					<h:outputText value="#{salesItems.internalCoveringType}"></h:outputText>
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesInternalCoveringStandard}" />
					</f:facet>
					<h:outputText value="#{salesItems.internalCoveringStandard}"></h:outputText>
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesExternalCoveringType}" />
					</f:facet>
					<h:outputText value="#{salesItems.externalCoveringType}"></h:outputText>
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesExternalCoveringStandard}" />
					</f:facet>
					<h:outputText value="#{salesItems.externalCoveringStandard}"></h:outputText>
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesPipeHole}" />
					</f:facet>
					<h:outputText value="#{salesItems.pipeHole}"></h:outputText>
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{language.salesPipeType}" />
					</f:facet>
					<h:outputText value="#{salesItems.pipeType}"></h:outputText>
				</p:column>

			</p:dataTable>


			<h:panelGrid id="dialogsPanelGridId">

				<!-- İÇ KUMLAMA -->
				<p:dialog draggable="true" closable="true" dynamic="false"
					resizable="false" maximizable="true" id="icKumlamaDialogId"
					widgetVar="icKumlamaDialogWidget">

					<p:panel style="min-width:700px" id="icKumlamaPanelId"
						header="İÇ KUMLAMA" toggleable="false">
						<p:tabView dynamic="false" cache="true" id="icKumlamaTabViewId">
							<p:tab title="İŞ EMRİ">
								<h:panelGrid border="0" columns="2" style="width:100%">

									<h:outputText value="Veriliş Tarihi : "
										style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.deliveryDate}"></h:outputText>

									<h:outputText value="Sipariş No : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.orderNo} - #{qualitySpecBean.selectedSalesItem.itemNo}"></h:outputText>

									<h:outputText value="Müşteri : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.proposal.customer.shortName}"></h:outputText>

									<h:outputText value="Malzeme : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.quality}"></h:outputText>

									<h:outputText value="Boru Boyu : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.pipeLength} m"></h:outputText>

									<h:outputText value="Et Kalınlığı : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.thickness} mm"></h:outputText>

									<h:outputText value="Dış Çap : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.diameter} mm"></h:outputText>

									<h:outputText value="Sipariş Miktarı : "
										style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.totalLengthM} m"></h:outputText>

									<h:outputText value="Kumlama Kalitesi : "
										style="font-weight: bold"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="#{isEmriIcKumlamaBean.kumlamaKalitesi}"></h:outputText>

									<h:outputText value="Kumlama Malzemesi : "
										style="font-weight: bold;"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="#{isEmriIcKumlamaBean.isEmriIcKumlamaForm.coatRawMaterial.marka} #{isEmriIcKumlamaBean.isEmriIcKumlamaForm.coatRawMaterial.urun}"></h:outputText>

									<h:outputText value="Hedeflenen Malzeme : (gr/m2)"
										style="font-weight: bold;"></h:outputText>
									<p:inputText
										value="#{isEmriIcKumlamaBean.isEmriIcKumlamaForm.hedeflenenMalzeme}">
										<f:convertNumber pattern="#0.00" />
									</p:inputText>

									<h:outputText value="İzolasyon Türü : "
										style="font-weight: bold"></h:outputText>
									<h:outputText style="color: red;"
										value="İÇ - #{qualitySpecBean.selectedSalesItem.internalCoveringType}, DIŞ - #{qualitySpecBean.selectedSalesItem.externalCoveringType}"></h:outputText>
								</h:panelGrid>
							</p:tab>
						</p:tabView>
						<h:panelGrid border="0" columns="4" cellspacing="5">
							<p:commandButton value="#{language.KAYDETTAMAM}"
								process="@this icKumlamaPanelId"
								actionListener="#{isEmriIcKumlamaBean.addOrUpdateIsEmriIcKumlama}"
								update="growl icKumlamaPanelId">
								<f:param id="icKaplamaSalesId"
									value="#{qualitySpecBean.selectedSalesItem.itemId}"></f:param>
							</p:commandButton>
							<p:commandButton value="#{language.SIL}"
								process="@this icKumlamaPanelId"
								actionListener="#{isEmriIcKumlamaBean.deleteIsEmriIcKumlama}"
								update="growl icKumlamaPanelId">
							</p:commandButton>
							<p:commandButton value="#{language.IPTALKAPAT}" process="@this"
								immediate="true" onclick="icKumlamaDialogWidget.hide()">
							</p:commandButton>
							<p:commandButton value="KUMLAMA MALZEMESİ EKLE" process="@this"
								update="growl icKumlamaMalzemePanelId"
								actionListener="#{isEmriIcKumlamaBean.loadKumlamaMalzemeleri}"
								immediate="true" onclick="icKumlamaMalzemeDialogWidget.show()"
								disabled="#{isEmriIcKumlamaBean.isEmriIcKumlamaForm.id==null}">
							</p:commandButton>
						</h:panelGrid>
					</p:panel>
				</p:dialog>

				<!-- DIŞ KUMLAMA -->
				<p:dialog draggable="true" closable="true" dynamic="false"
					resizable="true" maximizable="false" id="kalitePlaniDialogId"
					widgetVar="disKumlamaDialogWidget">

					<p:panel style="min-width:700px" id="disKumlamaPanelId"
						header="DIŞ KUMLAMA" toggleable="false">
						<p:tabView dynamic="false" cache="true" id="disKumlamaTabViewId">
							<p:tab title="İŞ EMRİ">
								<h:panelGrid border="0" columns="2">

									<h:outputText value="Veriliş Tarihi : "
										style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.deliveryDate}"></h:outputText>

									<h:outputText value="Sipariş No : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.orderNo} - #{qualitySpecBean.selectedSalesItem.itemNo}"></h:outputText>

									<h:outputText value="Müşteri : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.proposal.customer.shortName}"></h:outputText>

									<h:outputText value="Malzeme : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.quality}"></h:outputText>

									<h:outputText value="Boru Boyu : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.pipeLength} m"></h:outputText>

									<h:outputText value="Et Kalınlığı : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.thickness} mm"></h:outputText>

									<h:outputText value="Dış Çap : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.diameter} mm"></h:outputText>

									<h:outputText value="Sipariş Miktarı : "
										style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.totalLengthM} m"></h:outputText>

									<h:outputText value="Kumlama Kalitesi : "
										style="font-weight: bold"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="#{isEmriDisKumlamaBean.kumlamaKalitesi}"></h:outputText>

									<h:outputText value="Kumlama Malzemesi : "
										style="font-weight: bold;"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="#{isEmriDisKumlamaBean.isEmriDisKumlamaForm.coatRawMaterial.marka} #{isEmriDisKumlamaBean.isEmriDisKumlamaForm.coatRawMaterial.urun}"></h:outputText>

									<h:outputText value="Hedeflenen Malzeme : (gr/m2)"
										style="font-weight: bold;"></h:outputText>
									<p:inputText style="color: red; font-weight: bold;"
										value="#{isEmriDisKumlamaBean.isEmriDisKumlamaForm.hedeflenenMalzeme}">
										<f:convertNumber pattern="#0.00" />
									</p:inputText>

									<h:outputText value="İzolasyon Türü : "
										style="font-weight: bold"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="İÇ - #{qualitySpecBean.selectedSalesItem.internalCoveringType}, DIŞ - #{qualitySpecBean.selectedSalesItem.externalCoveringType}"></h:outputText>
								</h:panelGrid>
							</p:tab>
						</p:tabView>
						<h:panelGrid border="0" columns="4" cellspacing="5">
							<p:commandButton value="#{language.KAYDETTAMAM}"
								update="disKumlamaPanelId epoksiPanelId growl"
								process="@this disKumlamaPanelId"
								actionListener="#{isEmriDisKumlamaBean.addOrUpdateIsEmriDisKumlama}"
								icon="ui-icon-circle-plus">
								<f:param id="disKaplamaSalesId"
									value="#{qualitySpecBean.selectedSalesItem.itemId}"></f:param>
							</p:commandButton>
							<p:commandButton value="#{language.SIL}"
								actionListener="#{isEmriDisKumlamaBean.deleteIsEmriDisKumlama}"
								update="kalitePlaniDialogId growl" icon="ui-icon-trash"
								process="@this disKumlamaPanelId" />
							<p:commandButton value="#{language.IPTALKAPAT}"
								onclick="disKumlamaDialogWidget.hide()" process="@this" />
							<p:commandButton value="KUMLAMA MALZEMESİ EKLE"
								actionListener="#{isEmriDisKumlamaBean.loadKumlamaMalzemeleri}"
								update="@this disKumlamaMalzemePanelId"
								onclick="disKumlamaMalzemeDialogWidget.show()" process="@this"
								disabled="#{isEmriDisKumlamaBean.isEmriDisKumlamaForm.id==null}" />
						</h:panelGrid>
					</p:panel>
				</p:dialog>

				<!-- BETON KAPLAMA -->

				<p:dialog draggable="true" closable="true" dynamic="false"
					resizable="false" maximizable="true" id="betonKaplamaDialogId"
					widgetVar="betonKaplamaDialogWidget">
					<p:panel style="min-width:700px" id="betonKaplamaPanelId"
						header="BETON KAPLAMA" toggleable="false">
						<p:tabView dynamic="false" cache="true" id="betonKaplamaTabViewId">
							<p:tab title="İŞ EMRİ">
								<h:panelGrid border="0" columns="2" style="width:100%">

									<h:outputText value="Veriliş Tarihi : "
										style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.deliveryDate}"></h:outputText>

									<h:outputText value="Sipariş No : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.orderNo} - #{qualitySpecBean.selectedSalesItem.itemNo}"></h:outputText>

									<h:outputText value="Müşteri : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.proposal.customer.shortName}"></h:outputText>

									<h:outputText value="Dış Çap : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.diameter} mm"></h:outputText>

									<h:outputText value="Et Kalınlığı : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.thickness} mm"></h:outputText>

									<h:outputText value="Boru Boyu : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.pipeLength} m"></h:outputText>

									<h:outputText value="Sipariş Miktarı : "
										style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.totalLengthM} m"></h:outputText>

									<h:outputText value="Bağlantı Şekli : "
										style="font-weight: bold"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="#{qualitySpecBean.selectedSalesItem.pipeHole}"></h:outputText>

									<h:outputText value="Kaplama Kalınlığı : "
										style="font-weight: bold"></h:outputText>
									<h:outputText value="$date$"></h:outputText>

									<h:outputText value="Cut - Back : " style="font-weight: bold"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="#{isEmriBetonKaplamaBean.cutBack}"></h:outputText>

									<h:outputText value="Hedeflenen Malzeme : (kg/boru)"
										style="font-weight: bold;"></h:outputText>
									<p:inputText
										value="#{isEmriBetonKaplamaBean.isEmriBetonKaplamaForm.hedeflenenMalzeme}">
										<f:convertNumber pattern="#0.00" />
									</p:inputText>

									<h:outputText value="Karışım Oranı : "
										style="font-weight: bold;"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="Kum(kg): #{isEmriBetonKaplamaBean.isEmriBetonKaplamaForm.kum} - Çimento(kg): #{isEmriBetonKaplamaBean.isEmriBetonKaplamaForm.cimento} - Katkı(kg): #{isEmriBetonKaplamaBean.isEmriBetonKaplamaForm.katki} - Su(kg): #{isEmriBetonKaplamaBean.isEmriBetonKaplamaForm.su}"></h:outputText>
								</h:panelGrid>
							</p:tab>
						</p:tabView>
						<h:panelGrid border="0" columns="5" cellspacing="5">
							<p:commandButton value="#{language.KAYDETTAMAM}"
								process="@this betonKaplamaPanelId"
								actionListener="#{isEmriBetonKaplamaBean.addOrUpdateIsEmriBetonKaplama}"
								update="betonKaplamaPanelId growl">
								<f:param id="betonKaplamaSalesId"
									value="#{qualitySpecBean.selectedSalesItem.itemId}"></f:param>
							</p:commandButton>
							<p:commandButton value="#{language.SIL}"
								process="@this betonKaplamaPanelId"
								actionListener="#{isEmriBetonKaplamaBean.deleteIsEmriBetonKaplama}"
								update="betonKaplamaPanelId growl">
							</p:commandButton>
							<p:commandButton value="#{language.IPTALKAPAT}" process="@this"
								immediate="true" onclick="betonKaplamaDialogWidget.hide()">
							</p:commandButton>
							<p:commandButton value="KARIŞIM ORANI EKLE" process="@this"
								update="@this betonKaplamaMalzemePanelId"
								onclick="betonKaplamaKarisimDialogWidget.show()"
								disabled="#{isEmriBetonKaplamaBean.isEmriBetonKaplamaForm.id==null}">
							</p:commandButton>
						</h:panelGrid>
					</p:panel>
				</p:dialog>

				<!-- EPOKSİ KAPLAMA -->

				<p:dialog draggable="true" closable="true" dynamic="false"
					resizable="false" maximizable="true" id="epoksiKaplamaDialogId"
					widgetVar="epoksiKaplamaDialogWidget">

					<p:panel style="min-width:700px" id="epoksiKaplamaPanelId"
						header="EPOKSİ KAPLAMA" toggleable="false">
						<p:tabView dynamic="false" cache="true"
							id="epoksiKaplamaTabViewId">
							<p:tab title="İŞ EMRİ">
								<h:panelGrid border="0" columns="4" style="width:100%">

									<h:outputText value="Veriliş Tarihi : "
										style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.deliveryDate}"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="Sipariş No : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.orderNo} - #{qualitySpecBean.selectedSalesItem.itemNo}"></h:outputText>
									<h:outputText value="Meme Çapı : " style="font-weight: bold;"></h:outputText>
									<p:inputText
										value="#{isEmriEpoksiKaplamaBean.isEmriEpoksiKaplamaForm.memeCapi}"></p:inputText>

									<h:outputText value="Müşteri : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.proposal.customer.shortName}"></h:outputText>
									<h:outputText value="Basınç(Bar) : " style="font-weight: bold;"></h:outputText>
									<p:inputText
										value="#{isEmriEpoksiKaplamaBean.isEmriEpoksiKaplamaForm.basinc}"
										converter="doubleNumberConverter"></p:inputText>

									<h:outputText value="Dış Çap : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.diameter} mm"></h:outputText>
									<h:outputText value="Dönüş Hızı(Frekans) : "
										style="font-weight: bold;"></h:outputText>
									<p:inputText
										value="#{isEmriEpoksiKaplamaBean.isEmriEpoksiKaplamaForm.donusHizi}"></p:inputText>

									<h:outputText value="Et Kalınlığı : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.thickness} mm"></h:outputText>
									<h:outputText value="Araba Hızı(Frekans) : "
										style="font-weight: bold;"></h:outputText>
									<p:inputText
										value="#{isEmriEpoksiKaplamaBean.isEmriEpoksiKaplamaForm.arabaHizi}"></p:inputText>

									<h:outputText value="Boru Boyu : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.pipeLength} m"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="Sipariş Miktarı : "
										style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.totalLengthM} m"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="Bağlantı Şekli : "
										style="font-weight: bold"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="#{qualitySpecBean.selectedSalesItem.pipeHole}"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="İzolasyon Türü : "
										style="font-weight: bold"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="İÇ - #{qualitySpecBean.selectedSalesItem.internalCoveringType}, DIŞ - #{qualitySpecBean.selectedSalesItem.externalCoveringType}"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="İç Kaplama Kalınlığı"
										style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="İç Kaplama Boya Cinsi"
										style="font-weight: bold;"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="#{isEmriEpoksiKaplamaBean.isEmriEpoksiKaplamaForm.coatRawMaterial.marka} #{isEmriEpoksiKaplamaBean.isEmriEpoksiKaplamaForm.coatRawMaterial.urun}"></h:outputText>
									<h:outputText value="Hedeflenen Malzeme : (lt/m2) - (kg/m2)"
										style="font-weight: bold;"></h:outputText>
									<p:inputText
										value="#{isEmriEpoksiKaplamaBean.isEmriEpoksiKaplamaForm.hedeflenenMalzeme}"
										converter="doubleNumberConverter">
										<f:convertNumber pattern="#0.00" />
									</p:inputText>

									<h:outputText value="İç - Cut Back" style="font-weight: bold"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="#{qualitySpecBean.selectedSalesItem.pipeHole}"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="Dış - Cut Back" style="font-weight: bold"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="#{qualitySpecBean.selectedSalesItem.pipeHole}"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

								</h:panelGrid>
							</p:tab>
						</p:tabView>
						<h:panelGrid border="0" columns="4" cellspacing="5">
							<p:commandButton value="#{language.KAYDETTAMAM}"
								process="@this epoksiKaplamaPanelId"
								actionListener="#{isEmriEpoksiKaplamaBean.addOrUpdateIsEmriEpoksiKaplama}"
								update="epoksiKaplamaPanelId growl">
								<f:param id="epoksiKaplamaSalesId"
									value="#{qualitySpecBean.selectedSalesItem.itemId}"></f:param>
							</p:commandButton>
							<p:commandButton value="#{language.SIL}"
								process="@this epoksiKaplamaPanelId"
								actionListener="#{isEmriEpoksiKaplamaBean.deleteIsEmriEpoksiKaplama}"
								update="epoksiKaplamaPanelId growl IcKumlama">
							</p:commandButton>
							<p:commandButton value="#{language.IPTALKAPAT}" process="@this"
								immediate="true" onclick="epoksiKaplamaDialogWidget.hide()">
							</p:commandButton>
							<p:commandButton value="BOYA EKLE" process="@this"
								update="@this epoksiKaplamaMalzemePanelId"
								actionListener="#{isEmriEpoksiKaplamaBean.loadEpoksiMalzemeleri}"
								onclick="epoksiKaplamaMalzemeDialogWidget.show()"
								disabled="#{isEmriEpoksiKaplamaBean.isEmriEpoksiKaplamaForm.id==null}">
							</p:commandButton>
						</h:panelGrid>
					</p:panel>
				</p:dialog>

				<!-- POLİETİLEN KAPLAMA -->
				<p:dialog draggable="true" closable="true" dynamic="false"
					resizable="false" maximizable="true" id="polietilenKaplamaDialogId"
					widgetVar="polietilenKaplamaDialogWidget">

					<p:panel style="min-width:700px" id="polietilenKaplamaPanelId"
						header="POLİETİLEN KAPLAMA" toggleable="false">
						<p:tabView dynamic="false" cache="true"
							id="polietilenKaplamaTabViewId">
							<p:tab title="İŞ EMRİ">
								<h:panelGrid border="0" columns="4" style="width:100%">

									<h:outputText value="Veriliş Tarihi : "
										style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.deliveryDate}"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="Müşteri : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.proposal.customer.shortName}"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="Sipariş No : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.orderNo} - #{qualitySpecBean.selectedSalesItem.itemNo}"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="Sipariş Miktarı : "
										style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.totalLengthM} m"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="Dış Çap : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.diameter} mm"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="Et Kalınlığı : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.thickness} mm"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="Bağlantı Şekli : "
										style="font-weight: bold"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="#{qualitySpecBean.selectedSalesItem.pipeHole}"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="Boru Boyu : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.pipeLength} m"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="Toz Epoksi Cinsi : "
										style="font-weight: bold;"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.coatRawMaterialEpoksi.marka} #{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.coatRawMaterialEpoksi.urun}"></h:outputText>
									<h:outputText value="Hedeflenen Malzeme : (kg/m2)"
										style="font-weight: bold;"></h:outputText>
									<p:inputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.hedeflenenMalzemeEpoksi}"
										converter="doubleNumberConverter">
										<f:convertNumber pattern="#0.00" />
									</p:inputText>

									<h:outputText value="Toz Epoksi Kalınlığı (μm): "
										style="font-weight: bold"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="#{isEmriPolietilenKaplamaBean.tozEpoksiKalinligi}"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="Kontrol Ünitesi Parametreleri : "
										style="font-weight: bold;"></h:outputText>
									<h:panelGrid border="0" columns="2" style="width:100%"
										id="kontrol1">

										<h:outputText value="Voltaj (kV) : "
											style="font-weight: bold;"></h:outputText>
										<h:outputText style="color: red; font-weight: bold;"
											value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaKontrolParametreleri.voltaj}"></h:outputText>
										<h:outputText value="Amper (μA) : " style="font-weight: bold;"></h:outputText>
										<h:outputText style="color: red; font-weight: bold;"
											value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaKontrolParametreleri.amper}"></h:outputText>

									</h:panelGrid>
									<h:panelGrid border="0" columns="2" style="width:100%"
										id="kontrol2">

										<h:outputText value="Boya Miktarı (%) : "
											style="font-weight: bold;"></h:outputText>
										<h:outputText style="color: red; font-weight: bold;"
											value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaKontrolParametreleri.boyaMiktari}"></h:outputText>
										<h:outputText value="Toplam Hava Debisi (Bar): "
											style="font-weight: bold;"></h:outputText>
										<h:outputText style="color: red; font-weight: bold;"
											value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaKontrolParametreleri.havaDebisi}"></h:outputText>

									</h:panelGrid>
									<h:panelGrid border="0" columns="2" style="width:100%"
										id="kontrol3">

										<h:outputText value="Elektrod Temizleme Havası : "
											style="font-weight: bold;"></h:outputText>
										<h:outputText style="color: red; font-weight: bold;"
											value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaKontrolParametreleri.elektrodTemizlemeHavasi}"
											converter="numberConverter"></h:outputText>
										<h:outputText value="Program : " style="font-weight: bold;"></h:outputText>
										<h:outputText style="color: red; font-weight: bold;"
											value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaKontrolParametreleri.program}"></h:outputText>

									</h:panelGrid>

									<h:outputText
										value="Toz Epoksi Arakat(Intercoat) Süresi : (Saniye)"
										style="font-weight: bold;"></h:outputText>
									<p:inputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.intercoatSuresi}"></p:inputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="Yapıştırıcı Cinsi : "
										style="font-weight: bold;"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.coatRawMaterialYapistirici.marka} #{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.coatRawMaterialYapistirici.urun}"></h:outputText>
									<h:outputText value="Hedeflenen Malzeme : (kg/m2)"
										style="font-weight: bold;"></h:outputText>
									<p:inputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.hedeflenenMalzemeYapistirici}"
										converter="doubleNumberConverter">
										<f:convertNumber pattern="#0.00" />
									</p:inputText>

									<h:outputText value="Yapıştırıcı Kalınlığı : "
										style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{isEmriPolietilenKaplamaBean.yapistiriciKalinligi}"
										style="color: red; font-weight: bold;"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="Polietilen Cinsi : "
										style="font-weight: bold;"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.coatRawMaterialPolietilen.marka} #{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.coatRawMaterialPolietilen.urun}"></h:outputText>
									<h:outputText value="Hedeflenen Malzeme : (kg/m2)"
										style="font-weight: bold;"></h:outputText>
									<p:inputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.hedeflenenMalzemePolietilen}"
										converter="doubleNumberConverter">
										<f:convertNumber pattern="#0.00" />
									</p:inputText>

									<h:outputText value="Polietilen Kalınlığı : "
										style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{isEmriPolietilenKaplamaBean.polietilenKalinligi}"
										style="color: red; font-weight: bold;"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="Polietilen Film Hatvesi : (mm)"
										style="font-weight: bold;"></h:outputText>
									<p:inputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.hatve}"></p:inputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="Cut - Back : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.pipeHole}"
										style="color: red; font-weight: bold;"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

								</h:panelGrid>

								<h:panelGrid border="0" columns="8" id="polietilenSicaklikId">
									<h:outputText
										value="Polietilen Extruder 1 - 2 Bölgeleri Sıcaklıkları : "
										style="font-weight: bold;"></h:outputText>
									<h:outputText value="Kafa() : " style="font-weight: bold;"></h:outputText>
									<h:outputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaPolietilenSicaklik.kafaBir}"
										style="color: red; font-weight: bold;"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="Gövde() : " style="font-weight: bold;"></h:outputText>
									<h:outputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaPolietilenSicaklik.govdeBir}"
										style="color: red; font-weight: bold;"></h:outputText>
									<h:outputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaPolietilenSicaklik.govdeIki}"
										style="color: red; font-weight: bold;"></h:outputText>
									<h:outputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaPolietilenSicaklik.govdeUc}"
										style="color: red; font-weight: bold;"></h:outputText>
									<h:outputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaPolietilenSicaklik.govdeDort}"
										style="color: red; font-weight: bold;"></h:outputText>
									<h:outputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaPolietilenSicaklik.govdeBes}"
										style="color: red; font-weight: bold;"></h:outputText>
									<h:outputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaPolietilenSicaklik.govdeAlti}"
										style="color: red; font-weight: bold;"></h:outputText>

									<h:outputText
										value="Yapıştırıcı Extruder Bölgeleri Sıcaklıkları : "
										style="font-weight: bold;"></h:outputText>
									<h:outputText value="Kafa() : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaYapistiriciSicaklik.kafaBir}"
										style="color: red; font-weight: bold;"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="" style="font-weight: bold"></h:outputText>

									<h:outputText value="" style="font-weight: bold"></h:outputText>
									<h:outputText value="Gövde() : " style="font-weight: bold;"></h:outputText>
									<h:outputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaYapistiriciSicaklik.govdeBir}"
										style="color: red; font-weight: bold;"></h:outputText>
									<h:outputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaYapistiriciSicaklik.govdeIki}"
										style="color: red; font-weight: bold;"></h:outputText>
									<h:outputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaYapistiriciSicaklik.govdeUc}"
										style="color: red; font-weight: bold;"></h:outputText>
									<h:outputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaYapistiriciSicaklik.govdeDort}"
										style="color: red; font-weight: bold;"></h:outputText>
									<h:outputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaYapistiriciSicaklik.govdeBes}"
										style="color: red; font-weight: bold;"></h:outputText>
									<h:outputText
										value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.isEmriPolietilenKaplamaYapistiriciSicaklik.govdeAlti}"
										style="color: red; font-weight: bold;"></h:outputText>
								</h:panelGrid>
							</p:tab>
						</p:tabView>
						<h:panelGrid border="0" columns="6" cellspacing="5">
							<p:commandButton value="TOZ EPOKSİ EKLE" process="@this"
								update="@this polietilenKaplamaEpoksiMalzemePanelId"
								actionListener="#{isEmriPolietilenKaplamaBean.loadEpoksiMalzemeleri}"
								disabled="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.id==null}"
								onclick="polietilenKaplamaEpoksiMalzemeDialogWidget.show()">
							</p:commandButton>
							<p:commandButton value="YAPIŞTIRICI EKLE" process="@this"
								update="@this polietilenKaplamaYapistiriciMalzemePanelId"
								actionListener="#{isEmriPolietilenKaplamaBean.loadYapistiriciMalzemeleri}"
								disabled="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.id==null}"
								onclick="polietilenKaplamaYapistiriciMalzemeDialogWidget.show()">
							</p:commandButton>
							<p:commandButton value="POLİETİLEN EKLE" process="@this"
								update="@this polietilenKaplamaPolietilenMalzemePanelId"
								actionListener="#{isEmriPolietilenKaplamaBean.loadPolietilenMalzemeleri}"
								disabled="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.id==null}"
								onclick="polietilenKaplamaPolietilenMalzemeDialogWidget.show()">
							</p:commandButton>
							<p:commandButton value="PARAMETRE EKLE" process="@this"
								update="@this polietilenKaplamaParametrePanelId kontrol1 kontrol2 kontrol3"
								actionListener="#{isEmriPolietilenKaplamaKontrolParametreleriBean.loadParametreler}"
								disabled="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.id==null}"
								onclick="polietilenKaplamaParametreDialogWidget.show()">
								<f:param id="polietilenKaplamaIsEmriId"
									value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.id}"></f:param>
							</p:commandButton>
							<p:commandButton value="POLİETİLEN SICAKLIKLARI EKLE"
								process="@this"
								update="@this polietilenKaplamaPolietilenSicaklikPanelId polietilenSicaklikId"
								actionListener="#{isEmriPolietilenKaplamaPolietilenSicaklikBean.loadPolietilenSicakliklar}"
								disabled="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.id==null}"
								onclick="polietilenKaplamaPolietilenSicaklikDialogWidget.show()">
								<f:param id="polietilenSicaklikIsEmriId"
									value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.id}"></f:param>
							</p:commandButton>
							<p:commandButton value="YAPIŞTIRICI SICAKLIKLARI EKLE"
								process="@this"
								update="@this polietilenKaplamaYapistiriciSicaklikPanelId polietilenSicaklikId"
								actionListener="#{isEmriPolietilenKaplamaYapistiriciSicaklikBean.loadPolietilenSicakliklar}"
								disabled="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.id==null}"
								onclick="polietilenKaplamaYapistiriciSicaklikDialogWidget.show()">
								<f:param id="yapistiriciSicaklikIsEmriId"
									value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.id}"></f:param>
							</p:commandButton>
						</h:panelGrid>
						<h:panelGrid border="0" columns="3" cellspacing="5">
							<p:commandButton value="#{language.KAYDETTAMAM}"
								process="@this polietilenKaplamaPanelId"
								actionListener="#{isEmriPolietilenKaplamaBean.addOrUpdateIsEmriPolietilenKaplama}"
								update="polietilenKaplamaPanelId growl">
								<f:param id="polietilenKaplamaSalesId"
									value="#{qualitySpecBean.selectedSalesItem.itemId}"></f:param>
							</p:commandButton>
							<p:commandButton value="#{language.SIL}"
								process="@this polietilenKaplamaPanelId"
								actionListener="#{isEmriPolietilenKaplamaBean.deleteIsEmriPolietilenKaplama}"
								update="polietilenKaplamaPanelId growl">
							</p:commandButton>
							<p:commandButton value="#{language.IPTALKAPAT}" process="@this"
								immediate="true" onclick="polietilenKaplamaDialogWidget.hide()">
							</p:commandButton>
						</h:panelGrid>
					</p:panel>
				</p:dialog>

				<!-- FIRÇALAMA TEZGAHI -->
				<p:dialog draggable="true" closable="true" dynamic="false"
					resizable="false" maximizable="true" id="fircalamaDialogId"
					widgetVar="fircalamaDialogWidget">

					<p:panel style="min-width:700px" id="fircalamaPanelId"
						header="FIRÇALAMA TEZGAHI" toggleable="false">
						<p:tabView dynamic="false" cache="true" id="fircalamaTabViewId">
							<p:tab title="İŞ EMRİ">
								<h:panelGrid border="0" columns="2" style="width:100%">

									<h:outputText value="Veriliş Tarihi : "
										style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.deliveryDate}"></h:outputText>

									<h:outputText value="Sipariş No : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.orderNo} - #{qualitySpecBean.selectedSalesItem.itemNo}"></h:outputText>

									<h:outputText value="Müşteri : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.proposal.customer.shortName}"></h:outputText>

									<h:outputText value="Malzeme : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.quality}"></h:outputText>

									<h:outputText value="Boru Ebadı : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.diameter} x #{qualitySpecBean.selectedSalesItem.thickness} x #{qualitySpecBean.selectedSalesItem.pipeLength}"></h:outputText>

									<h:outputText value="Sipariş Miktarı : "
										style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.totalLengthM} m"></h:outputText>

									<h:outputText value="İzolasyon Türü : "
										style="font-weight: bold"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="İÇ - #{qualitySpecBean.selectedSalesItem.internalCoveringType}, DIŞ - #{qualitySpecBean.selectedSalesItem.externalCoveringType}"></h:outputText>

									<h:outputText value="Cut - Back : " style="font-weight: bold;"></h:outputText>
									<h:panelGrid border="0" columns="3" style="width:100%">

										<h:outputText value="" style="font-weight: bold"></h:outputText>
										<h:outputText value="POLİETİLEN " style="font-weight: bold"></h:outputText>
										<h:outputText value="EPOKSİ BOYA " style="font-weight: bold"></h:outputText>

										<h:outputText value="KAY. AĞIZ. UÇ. "
											style="font-weight: bold"></h:outputText>
										<h:outputText value="%veri%" style="font-weight: bold"></h:outputText>
										<h:outputText value="%veri%" style="font-weight: bold"></h:outputText>

										<h:outputText value="MUFLU UÇ" style="font-weight: bold"></h:outputText>
										<h:outputText value="%veri%" style="font-weight: bold"></h:outputText>
										<h:outputText value="%veri%" style="font-weight: bold"></h:outputText>

									</h:panelGrid>
								</h:panelGrid>
							</p:tab>
						</p:tabView>
						<h:panelGrid border="0" columns="4" cellspacing="5">
							<p:commandButton value="#{language.KAYDETTAMAM}"
								process="@this fircalamaPanelId"
								actionListener="#{isEmriFircalamaBean.addOrUpdateIsEmriFircalama}"
								update="fircalamaPanelId growl">
								<f:param id="fircalamaSalesId"
									value="#{qualitySpecBean.selectedSalesItem.itemId}"></f:param>
							</p:commandButton>
							<p:commandButton value="#{language.SIL}"
								process="@this fircalamaPanelId"
								actionListener="#{isEmriFircalamaBean.deleteIsEmriFircalama}"
								update="fircalamaPanelId growl IcKumlama">
							</p:commandButton>
							<p:commandButton value="#{language.IPTALKAPAT}" process="@this"
								immediate="true" onclick="fircalamaDialogWidget.hide()">
							</p:commandButton>
						</h:panelGrid>
					</p:panel>
				</p:dialog>

				<!-- MUFLAMA TEZGAHI -->
				<p:dialog draggable="true" closable="true" dynamic="false"
					resizable="false" maximizable="true" id="muflamaDialogId"
					widgetVar="muflamaDialogWidget">

					<p:panel style="min-width:700px" id="muflamaPanelId"
						header="MUFLAMA TEZGAHI" toggleable="false">
						<p:tabView dynamic="false" cache="true" id="muflamaTabViewId">
							<p:tab title="İŞ EMRİ">
								<h:panelGrid border="0" columns="2" style="width:100%">

									<h:outputText value="Veriliş Tarihi : "
										style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.deliveryDate}"></h:outputText>

									<h:outputText value="Sipariş No : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.orderNo} - #{qualitySpecBean.selectedSalesItem.itemNo}"></h:outputText>

									<h:outputText value="Müşteri : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{salesOrderBean.selectedOrder.proposal.customer.shortName}"></h:outputText>

									<h:outputText value="Malzeme Kalitesi: "
										style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.quality}"></h:outputText>

									<h:outputText value="Boru Ebadı : " style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.diameter} x #{qualitySpecBean.selectedSalesItem.thickness} x #{qualitySpecBean.selectedSalesItem.pipeLength}"></h:outputText>

									<h:outputText value="Bağlantı Şekli : "
										style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.pipeHole}"></h:outputText>

									<h:outputText value="Sipariş Miktarı : "
										style="font-weight: bold"></h:outputText>
									<h:outputText
										value="#{qualitySpecBean.selectedSalesItem.totalLengthM} m"></h:outputText>

									<h:outputText value="İzolasyon Türü : "
										style="font-weight: bold"></h:outputText>
									<h:outputText style="color: red; font-weight: bold;"
										value="İÇ - #{qualitySpecBean.selectedSalesItem.internalCoveringType}, DIŞ - #{qualitySpecBean.selectedSalesItem.externalCoveringType}"></h:outputText>

									<h:panelGrid border="0" columns="1" style="width:100%">
										<h:outputText value=" " style="font-weight: bold"></h:outputText>
										<h:outputText value=" " style="font-weight: bold"></h:outputText>
									</h:panelGrid>
									<h:panelGrid border="0" columns="2" style="width:100%">

										<h:outputText value="Kaynak Ağızlı Uç Boru Çapı: "
											style="font-weight: bold"></h:outputText>
										<h:outputText
											value="#{qualitySpecBean.boyutsalKontrol.boruUcuCapToleransiMin} mm"></h:outputText>

										<h:outputText value="Kaynak Ağızlı Uç Çevresel Ölçü : "
											style="font-weight: bold"></h:outputText>
										<h:outputText value="%veri% mm"></h:outputText>

										<h:outputText value="Muflu Uç Boru Çapı: "
											style="font-weight: bold"></h:outputText>
										<h:outputText
											value="Min: #{qualitySpecBean.boyutsalKontrol.mufIcCapiToleransiMin} mm, Norm: #{qualitySpecBean.boyutsalKontrol.mufIcCapiToleransiNominal} mm, Max: #{qualitySpecBean.boyutsalKontrol.mufIcCapiToleransiMax} mm"></h:outputText>

										<h:outputText value="Muflu Uç Çevresel Ölçü : "
											style="font-weight: bold"></h:outputText>
										<h:outputText
											value="MUF BOYU min. #{qualitySpecBean.boyutsalKontrol.mufBoyuToleransiMin} mm"></h:outputText>

									</h:panelGrid>

								</h:panelGrid>
							</p:tab>
						</p:tabView>
						<h:panelGrid border="0" columns="4" cellspacing="5">
							<p:commandButton value="#{language.KAYDETTAMAM}"
								process="@this muflamaPanelId"
								actionListener="#{isEmriIcKumlamaBean.addOrUpdateIsEmriIcKumlama}"
								update="muflamaPanelId growl">
								<f:param id="muflamaSalesId"
									value="#{qualitySpecBean.selectedSalesItem.itemId}"></f:param>
							</p:commandButton>
							<p:commandButton value="#{language.SIL}"
								process="@this muflamaPanelId"
								actionListener="#{isEmriIcKumlamaBean.deleteIsEmriIcKumlama}"
								update="muflamaPanelId growl IcKumlama">
							</p:commandButton>
							<p:commandButton value="#{language.IPTALKAPAT}" process="@this"
								immediate="true" onclick="muflamaDialogWidget.hide()">
							</p:commandButton>
						</h:panelGrid>
					</p:panel>
				</p:dialog>


			</h:panelGrid>

			<!-- İç Kumlama Malzeme Ekleme -->

			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" header="İÇ KUMLAMA MALZEMESİ" resizable="false"
				id="icKumlamaMalzemeDialogId"
				widgetVar="icKumlamaMalzemeDialogWidget">
				<p:panel id="icKumlamaMalzemePanelId" style="min-width:600px">
					<p:dataTable var="icMalzeme" id="icKumlamaMalzemeListDataTableId"
						rowKey="#{icMalzeme.coatMaterialId}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{isEmriIcKumlamaBean.allIcKumlamaMalzemeList}"
						paginator="true" rows="10" selectionMode="single"
						selection="#{isEmriIcKumlamaBean.isEmriIcKumlamaForm.coatRawMaterial}"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:column sortBy="#{icMalzeme.coatMaterialId}"
							filterBy="#{icMalzeme.coatMaterialId}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Kimlik No"></h:outputText>
							</f:facet>
							<h:outputText value="#{icMalzeme.coatMaterialId}"></h:outputText>
						</p:column>

						<p:column sortBy="#{icMalzeme.partiNo}"
							filterBy="#{icMalzeme.partiNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Parti No"></h:outputText>
							</f:facet>
							<h:outputText value="#{icMalzeme.partiNo}"></h:outputText>
						</p:column>

						<p:column sortBy="#{icMalzeme.marka}"
							filterBy="#{icMalzeme.marka}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Marka Adı"></h:outputText>
							</f:facet>
							<h:outputText value="#{icMalzeme.marka}"></h:outputText>
						</p:column>

						<p:column sortBy="#{icMalzeme.urun}" filterBy="#{icMalzeme.urun}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Ürün Adı"></h:outputText>
							</f:facet>
							<h:outputText value="#{icMalzeme.urun}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.IncomingDate}"></h:outputText>
							</f:facet>
							<h:outputText value="#{icMalzeme.entranceDate}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="İlk Miktar"></h:outputText>
							</f:facet>
							<h:outputText value="#{icMalzeme.miktari}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Kalan Miktar"></h:outputText>
							</f:facet>
							<h:outputText value="#{icMalzeme.remainingAmount}"></h:outputText>
						</p:column>
					</p:dataTable>
					<!-- 					<h:panelGrid border="0" columns="4" cellspacing="5" -->
					<!-- 						id="dustDatePanelGridId"> -->
					<!-- 						<h:outputText value="#{language.StartDate} (gg/aa/yyyy):"></h:outputText> -->
					<!-- 						<p:calendar mode="popup" autocomplete="false" showOn="button" -->
					<!-- 							pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5" -->
					<!-- 							value="#{spiralMachineBean.dustMachineLink.startDate}"></p:calendar> -->
					<!-- 					</h:panelGrid> -->

					<h:panelGrid border="0" columns="3" cellspacing="5">
						<p:commandButton value="#{language.KAYDETTAMAM}"
							process="@this icKumlamaMalzemePanelId"
							update="growl icKumlamaPanelId icKumlamaMalzemePanelId"
							actionListener="#{isEmriIcKumlamaBean.isEmriMalzemeEkle}"
							oncomplete="icKumlamaMalzemeDialogWidget.hide()">
						</p:commandButton>
						<p:commandButton title="#{language.IPTALKAPAT}"
							value="#{language.IPTALKAPAT}"
							onclick="icKumlamaMalzemeDialogWidget.hide()" process="@this">
						</p:commandButton>
					</h:panelGrid>
				</p:panel>
			</p:dialog>

			<!-- Dış Kumlama Mazleme Ekleme -->

			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" header="DIŞ KUMLAMA MALZEMESİ" resizable="false"
				id="disKumlamaMalzemeDialogId"
				widgetVar="disKumlamaMalzemeDialogWidget">
				<p:panel id="disKumlamaMalzemePanelId" style="min-width:600px">
					<p:dataTable var="disMalzeme" id="disKumlamaMalzemeListDataTableId"
						rowKey="#{disMalzeme.coatMaterialId}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{isEmriDisKumlamaBean.allDisKumlamaMalzemeList}"
						paginator="true" rows="10" selectionMode="single"
						selection="#{isEmriDisKumlamaBean.isEmriDisKumlamaForm.coatRawMaterial}"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:column sortBy="#{disMalzeme.coatMaterialId}"
							filterBy="#{disMalzeme.coatMaterialId}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Kimlik No"></h:outputText>
							</f:facet>
							<h:outputText value="#{disMalzeme.coatMaterialId}"></h:outputText>
						</p:column>

						<p:column sortBy="#{disMalzeme.partiNo}"
							filterBy="#{disMalzeme.partiNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Parti No"></h:outputText>
							</f:facet>
							<h:outputText value="#{disMalzeme.partiNo}"></h:outputText>
						</p:column>

						<p:column sortBy="#{disMalzeme.marka}"
							filterBy="#{disMalzeme.marka}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Marka Adı"></h:outputText>
							</f:facet>
							<h:outputText value="#{disMalzeme.marka}"></h:outputText>
						</p:column>

						<p:column sortBy="#{disMalzeme.urun}"
							filterBy="#{disMalzeme.urun}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Ürün Adı"></h:outputText>
							</f:facet>
							<h:outputText value="#{disMalzeme.urun}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.IncomingDate}"></h:outputText>
							</f:facet>
							<h:outputText value="#{disMalzeme.entranceDate}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="İlk Miktar"></h:outputText>
							</f:facet>
							<h:outputText value="#{disMalzeme.miktari}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Kalan Miktar"></h:outputText>
							</f:facet>
							<h:outputText value="#{disMalzeme.remainingAmount}"></h:outputText>
						</p:column>
					</p:dataTable>
					<!-- 					<h:panelGrid border="0" columns="4" cellspacing="5" -->
					<!-- 						id="dustDatePanelGridId"> -->
					<!-- 						<h:outputText value="#{language.StartDate} (gg/aa/yyyy):"></h:outputText> -->
					<!-- 						<p:calendar mode="popup" autocomplete="false" showOn="button" -->
					<!-- 							pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5" -->
					<!-- 							value="#{spiralMachineBean.dustMachineLink.startDate}"></p:calendar> -->
					<!-- 					</h:panelGrid> -->

					<h:panelGrid border="0" columns="3" cellspacing="5">
						<p:commandButton value="#{language.KAYDETTAMAM}"
							process="@this disKumlamaMalzemePanelId"
							update="growl disKumlamaPanelId disKumlamaMalzemePanelId"
							actionListener="#{isEmriDisKumlamaBean.isEmriMalzemeEkle}"
							oncomplete="disKumlamaMalzemeDialogWidget.hide()">
						</p:commandButton>
						<p:commandButton title="#{language.IPTALKAPAT}"
							value="#{language.IPTALKAPAT}"
							onclick="disKumlamaMalzemeDialogWidget.hide()" process="@this">
						</p:commandButton>
					</h:panelGrid>
				</p:panel>
			</p:dialog>

			<!-- Beton Kaplama Karışım Oranı -->
			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" header="BETON KARIŞIM ORANI" resizable="false"
				id="betonKaplamaKarisimDialogId"
				widgetVar="betonKaplamaKarisimDialogWidget">
				<p:panel id="betonKaplamaKarisimPanelId" style="min-width:600px">

					<h:outputText value="Kum : (kg)" style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{isEmriBetonKaplamaBean.isEmriBetonKaplamaForm.kum}"></p:inputText>
					<h:outputText value="Çimento : (kg)" style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{isEmriBetonKaplamaBean.isEmriBetonKaplamaForm.cimento}"></p:inputText>
					<h:outputText value="Katkı : (kg)" style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{isEmriBetonKaplamaBean.isEmriBetonKaplamaForm.katki}"></p:inputText>
					<h:outputText value="Su : (kg)" style="font-weight: bold"></h:outputText>
					<p:inputText
						value="#{isEmriBetonKaplamaBean.isEmriBetonKaplamaForm.su}"></p:inputText>

					<h:panelGrid border="0" columns="3" cellspacing="5">
						<p:commandButton value="#{language.KAYDETTAMAM}"
							process="@this betonKaplamaKarisimPanelId"
							update="growl betonKaplamaPanelId betonKaplamaKarisimPanelId"
							actionListener="#{isEmriBetonKaplamaBean.isEmriMalzemeEkle}"
							oncomplete="betonKaplamaKarisimDialogWidget.hide()">
						</p:commandButton>
						<p:commandButton title="#{language.IPTALKAPAT}"
							value="#{language.IPTALKAPAT}"
							onclick="betonKaplamaKarisimDialogWidget.hide()" process="@this">
						</p:commandButton>
					</h:panelGrid>
				</p:panel>
			</p:dialog>

			<!-- Epoksi Boya Mazleme Ekleme -->

			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" header="EPOKSİ BOYA MALZEMESİ" resizable="false"
				id="epoksiKaplamaMalzemeDialogId"
				widgetVar="epoksiKaplamaMalzemeDialogWidget">
				<p:panel id="epoksiKaplamaMalzemePanelId" style="min-width:600px">
					<p:dataTable var="epoksiMalzeme"
						id="epoksiKaplamaMalzemeListDataTableId"
						rowKey="#{epoksiMalzeme.coatMaterialId}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{isEmriEpoksiKaplamaBean.allEpoksiKaplamaMalzemeList}"
						paginator="true" rows="10" selectionMode="single"
						selection="#{isEmriEpoksiKaplamaBean.isEmriEpoksiKaplamaForm.coatRawMaterial}"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:column sortBy="#{epoksiMalzeme.coatMaterialId}"
							filterBy="#{epoksiMalzeme.coatMaterialId}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Kimlik No"></h:outputText>
							</f:facet>
							<h:outputText value="#{epoksiMalzeme.coatMaterialId}"></h:outputText>
						</p:column>

						<p:column sortBy="#{epoksiMalzeme.partiNo}"
							filterBy="#{epoksiMalzeme.partiNo}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Parti No"></h:outputText>
							</f:facet>
							<h:outputText value="#{epoksiMalzeme.partiNo}"></h:outputText>
						</p:column>

						<p:column sortBy="#{epoksiMalzeme.marka}"
							filterBy="#{epoksiMalzeme.marka}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Marka Adı"></h:outputText>
							</f:facet>
							<h:outputText value="#{epoksiMalzeme.marka}"></h:outputText>
						</p:column>

						<p:column sortBy="#{epoksiMalzeme.urun}"
							filterBy="#{epoksiMalzeme.urun}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Ürün Adı"></h:outputText>
							</f:facet>
							<h:outputText value="#{epoksiMalzeme.urun}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.IncomingDate}"></h:outputText>
							</f:facet>
							<h:outputText value="#{epoksiMalzeme.entranceDate}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="İlk Miktar"></h:outputText>
							</f:facet>
							<h:outputText value="#{epoksiMalzeme.miktari}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Kalan Miktar"></h:outputText>
							</f:facet>
							<h:outputText value="#{epoksiMalzeme.remainingAmount}"></h:outputText>
						</p:column>
					</p:dataTable>
					<!-- 					<h:panelGrid border="0" columns="4" cellspacing="5" -->
					<!-- 						id="dustDatePanelGridId"> -->
					<!-- 						<h:outputText value="#{language.StartDate} (gg/aa/yyyy):"></h:outputText> -->
					<!-- 						<p:calendar mode="popup" autocomplete="false" showOn="button" -->
					<!-- 							pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5" -->
					<!-- 							value="#{spiralMachineBean.dustMachineLink.startDate}"></p:calendar> -->
					<!-- 					</h:panelGrid> -->

					<h:panelGrid border="0" columns="3" cellspacing="5">
						<p:commandButton value="#{language.KAYDETTAMAM}"
							process="@this epoksiKaplamaMalzemePanelId"
							update="growl epoksiKaplamaPanelId epoksiKaplamaMalzemePanelId"
							actionListener="#{isEmriEpoksiKaplamaBean.isEmriMalzemeEkle}"
							oncomplete="epoksiKaplamaMalzemeDialogWidget.hide()">
						</p:commandButton>
						<p:commandButton title="#{language.IPTALKAPAT}"
							value="#{language.IPTALKAPAT}"
							onclick="epoksiKaplamaMalzemeDialogWidget.hide()" process="@this">
						</p:commandButton>
					</h:panelGrid>
				</p:panel>
			</p:dialog>

			<!-- POLİETİLEN TOZ EPOKSİ MALZEME EKLEME -->

			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" header="TOZ EPOKSİ MALZEMESİ" resizable="false"
				id="polietilenKaplamaEpoksiMalzemeDialogId"
				widgetVar="polietilenKaplamaEpoksiMalzemeDialogWidget">
				<p:panel id="polietilenKaplamaEpoksiMalzemePanelId"
					style="min-width:600px">
					<p:dataTable var="polietilenKaplamaEpoksiMalzeme"
						id="polietilenKaplamaEpoksiMalzemeListDataTableId"
						rowKey="#{polietilenKaplamaEpoksiMalzeme.coatMaterialId}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{isEmriPolietilenKaplamaBean.allPolietilenKaplamaMalzemeList}"
						paginator="true" rows="10" selectionMode="single"
						selection="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.coatRawMaterialEpoksi}"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:column
							sortBy="#{polietilenKaplamaEpoksiMalzeme.coatMaterialId}"
							filterBy="#{polietilenKaplamaEpoksiMalzeme.coatMaterialId}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Kimlik No"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{polietilenKaplamaEpoksiMalzeme.coatMaterialId}"></h:outputText>
						</p:column>

						<p:column sortBy="#{polietilenKaplamaEpoksiMalzeme.partiNo}"
							filterBy="#{polietilenKaplamaEpoksiMalzeme.partiNo}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Parti No"></h:outputText>
							</f:facet>
							<h:outputText value="#{polietilenKaplamaEpoksiMalzeme.partiNo}"></h:outputText>
						</p:column>

						<p:column sortBy="#{polietilenKaplamaEpoksiMalzeme.marka}"
							filterBy="#{polietilenKaplamaEpoksiMalzeme.marka}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Marka Adı"></h:outputText>
							</f:facet>
							<h:outputText value="#{polietilenKaplamaEpoksiMalzeme.marka}"></h:outputText>
						</p:column>

						<p:column sortBy="#{polietilenKaplamaEpoksiMalzeme.urun}"
							filterBy="#{polietilenKaplamaEpoksiMalzeme.urun}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Ürün Adı"></h:outputText>
							</f:facet>
							<h:outputText value="#{polietilenKaplamaEpoksiMalzeme.urun}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.IncomingDate}"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{polietilenKaplamaEpoksiMalzeme.entranceDate}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="İlk Miktar"></h:outputText>
							</f:facet>
							<h:outputText value="#{polietilenKaplamaEpoksiMalzeme.miktari}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Kalan Miktar"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{polietilenKaplamaEpoksiMalzeme.remainingAmount}"></h:outputText>
						</p:column>
					</p:dataTable>
					<!-- 					<h:panelGrid border="0" columns="4" cellspacing="5" -->
					<!-- 						id="dustDatePanelGridId"> -->
					<!-- 						<h:outputText value="#{language.StartDate} (gg/aa/yyyy):"></h:outputText> -->
					<!-- 						<p:calendar mode="popup" autocomplete="false" showOn="button" -->
					<!-- 							pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5" -->
					<!-- 							value="#{spiralMachineBean.dustMachineLink.startDate}"></p:calendar> -->
					<!-- 					</h:panelGrid> -->

					<h:panelGrid border="0" columns="3" cellspacing="5">
						<p:commandButton value="#{language.KAYDETTAMAM}"
							process="@this polietilenKaplamaEpoksiMalzemePanelId"
							update="growl polietilenKaplamaPanelId polietilenKaplamaEpoksiMalzemePanelId"
							actionListener="#{isEmriPolietilenKaplamaBean.isEmriMalzemeEkle}"
							oncomplete="polietilenKaplamaEpoksiMalzemeDialogWidget.hide()">
						</p:commandButton>
						<p:commandButton title="#{language.IPTALKAPAT}"
							value="#{language.IPTALKAPAT}"
							onclick="polietilenKaplamaEpoksiMalzemeDialogWidget.hide()"
							process="@this">
						</p:commandButton>
					</h:panelGrid>
				</p:panel>
			</p:dialog>

			<!-- POLİETİLEN YAPIŞTIRICI MALZEME EKLEME -->

			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" header="YAPIŞTIRICIİ MALZEMESİ" resizable="false"
				id="polietilenKaplamaYapistiriciMalzemeDialogId"
				widgetVar="polietilenKaplamaYapistiriciMalzemeDialogWidget">
				<p:panel id="polietilenKaplamaYapistiriciMalzemePanelId"
					style="min-width:600px">
					<p:dataTable var="polietilenKaplamaYapistiriciMalzeme"
						id="polietilenKaplamaYapistiriciMalzemeListDataTableId"
						rowKey="#{polietilenKaplamaYapistiriciMalzeme.coatMaterialId}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{isEmriPolietilenKaplamaBean.allPolietilenKaplamaMalzemeList}"
						paginator="true" rows="10" selectionMode="single"
						selection="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.coatRawMaterialYapistirici}"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:column
							sortBy="#{polietilenKaplamaYapistiriciMalzeme.coatMaterialId}"
							filterBy="#{polietilenKaplamaYapistiriciMalzeme.coatMaterialId}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Kimlik No"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{polietilenKaplamaYapistiriciMalzeme.coatMaterialId}"></h:outputText>
						</p:column>

						<p:column sortBy="#{polietilenKaplamaYapistiriciMalzeme.partiNo}"
							filterBy="#{polietilenKaplamaYapistiriciMalzeme.partiNo}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Parti No"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{polietilenKaplamaYapistiriciMalzeme.partiNo}"></h:outputText>
						</p:column>

						<p:column sortBy="#{polietilenKaplamaYapistiriciMalzeme.marka}"
							filterBy="#{polietilenKaplamaYapistiriciMalzeme.marka}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Marka Adı"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{polietilenKaplamaYapistiriciMalzeme.marka}"></h:outputText>
						</p:column>

						<p:column sortBy="#{polietilenKaplamaYapistiriciMalzeme.urun}"
							filterBy="#{polietilenKaplamaYapistiriciMalzeme.urun}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Ürün Adı"></h:outputText>
							</f:facet>
							<h:outputText value="#{polietilenKaplamaYapistiriciMalzeme.urun}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.IncomingDate}"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{polietilenKaplamaYapistiriciMalzeme.entranceDate}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="İlk Miktar"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{polietilenKaplamaYapistiriciMalzeme.miktari}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Kalan Miktar"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{polietilenKaplamaYapistiriciMalzeme.remainingAmount}"></h:outputText>
						</p:column>
					</p:dataTable>
					<!-- 					<h:panelGrid border="0" columns="4" cellspacing="5" -->
					<!-- 						id="dustDatePanelGridId"> -->
					<!-- 						<h:outputText value="#{language.StartDate} (gg/aa/yyyy):"></h:outputText> -->
					<!-- 						<p:calendar mode="popup" autocomplete="false" showOn="button" -->
					<!-- 							pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5" -->
					<!-- 							value="#{spiralMachineBean.dustMachineLink.startDate}"></p:calendar> -->
					<!-- 					</h:panelGrid> -->

					<h:panelGrid border="0" columns="3" cellspacing="5">
						<p:commandButton value="#{language.KAYDETTAMAM}"
							process="@this polietilenKaplamaYapistiriciMalzemePanelId"
							update="growl polietilenKaplamaPanelId polietilenKaplamaYapistiriciMalzemePanelId"
							actionListener="#{isEmriPolietilenKaplamaBean.isEmriMalzemeEkle}"
							oncomplete="polietilenKaplamaYapistiriciMalzemeDialogWidget.hide()">
						</p:commandButton>
						<p:commandButton title="#{language.IPTALKAPAT}"
							value="#{language.IPTALKAPAT}"
							onclick="polietilenKaplamaYapistiriciMalzemeDialogWidget.hide()"
							process="@this">
						</p:commandButton>
					</h:panelGrid>
				</p:panel>
			</p:dialog>

			<!-- POLİETİLEN POLİETİLEN MALZEME EKLEME -->

			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" header="POLİETİLEN MALZEMESİ" resizable="false"
				id="polietilenKaplamaPolietilenMalzemeDialogId"
				widgetVar="polietilenKaplamaPolietilenMalzemeDialogWidget">
				<p:panel id="polietilenKaplamaPolietilenMalzemePanelId"
					style="min-width:600px">
					<p:dataTable var="polietilenKaplamaPolietilenMalzeme"
						id="polietilenKaplamaPolietilenMalzemeListDataTableId"
						rowKey="#{polietilenKaplamaPolietilenMalzeme.coatMaterialId}"
						emptyMessage="#{language.EmptyMessage}"
						value="#{isEmriPolietilenKaplamaBean.allPolietilenKaplamaMalzemeList}"
						paginator="true" rows="10" selectionMode="single"
						selection="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.coatRawMaterialPolietilen}"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink} ">

						<p:column
							sortBy="#{polietilenKaplamaPolietilenMalzeme.coatMaterialId}"
							filterBy="#{polietilenKaplamaPolietilenMalzeme.coatMaterialId}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Kimlik No"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{polietilenKaplamaPolietilenMalzeme.coatMaterialId}"></h:outputText>
						</p:column>

						<p:column sortBy="#{polietilenKaplamaPolietilenMalzeme.partiNo}"
							filterBy="#{polietilenKaplamaPolietilenMalzeme.partiNo}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Parti No"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{polietilenKaplamaPolietilenMalzeme.partiNo}"></h:outputText>
						</p:column>

						<p:column sortBy="#{polietilenKaplamaPolietilenMalzeme.marka}"
							filterBy="#{polietilenKaplamaPolietilenMalzeme.marka}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Marka Adı"></h:outputText>
							</f:facet>
							<h:outputText value="#{polietilenKaplamaPolietilenMalzeme.marka}"></h:outputText>
						</p:column>

						<p:column sortBy="#{polietilenKaplamaPolietilenMalzeme.urun}"
							filterBy="#{polietilenKaplamaPolietilenMalzeme.urun}"
							filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="Ürün Adı"></h:outputText>
							</f:facet>
							<h:outputText value="#{polietilenKaplamaPolietilenMalzeme.urun}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="#{language.IncomingDate}"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{polietilenKaplamaPolietilenMalzeme.entranceDate}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="İlk Miktar"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{polietilenKaplamaPolietilenMalzeme.miktari}"></h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Kalan Miktar"></h:outputText>
							</f:facet>
							<h:outputText
								value="#{polietilenKaplamaPolietilenMalzeme.remainingAmount}"></h:outputText>
						</p:column>
					</p:dataTable>
					<!-- 					<h:panelGrid border="0" columns="4" cellspacing="5" -->
					<!-- 						id="dustDatePanelGridId"> -->
					<!-- 						<h:outputText value="#{language.StartDate} (gg/aa/yyyy):"></h:outputText> -->
					<!-- 						<p:calendar mode="popup" autocomplete="false" showOn="button" -->
					<!-- 							pattern="#{userCredentialsBean.dateFormat} HH:mm" stepMinute="5" -->
					<!-- 							value="#{spiralMachineBean.dustMachineLink.startDate}"></p:calendar> -->
					<!-- 					</h:panelGrid> -->

					<h:panelGrid border="0" columns="3" cellspacing="5">
						<p:commandButton value="#{language.KAYDETTAMAM}"
							process="@this polietilenKaplamaPolietilenMalzemePanelId"
							update="polietilenKaplamaPanelId polietilenKaplamaPolietilenMalzemePanelId growl"
							actionListener="#{isEmriPolietilenKaplamaBean.isEmriMalzemeEkle}"
							oncomplete="polietilenKaplamaPolietilenMalzemeDialogWidget.hide()">
						</p:commandButton>
						<p:commandButton title="#{language.IPTALKAPAT}"
							value="#{language.IPTALKAPAT}"
							onclick="polietilenKaplamaPolietilenMalzemeDialogWidget.hide()"
							process="@this">
						</p:commandButton>
					</h:panelGrid>
				</p:panel>
			</p:dialog>

			<!-- POLİETİLEN PARAMETRE EKLEME -->

			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true" header="KONTROL ÜNİTESİ PARAMETRELERİ"
				resizable="false" id="polietilenKaplamaParametreDialogId"
				widgetVar="polietilenKaplamaParametreDialogWidget">
				<p:panel id="polietilenKaplamaParametrePanelId"
					style="min-width:600px">
					<h:panelGrid border="0" columns="2" cellspacing="5">

						<h:outputText value="Voltaj (kV) : " style="font-weight: bold"></h:outputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaKontrolParametreleriBean.isEmriPolietilenKaplamaKontrolParametreleriForm.voltaj}"></p:inputText>
						<h:outputText value="Amper (μA) : " style="font-weight: bold"></h:outputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaKontrolParametreleriBean.isEmriPolietilenKaplamaKontrolParametreleriForm.amper}"></p:inputText>
						<h:outputText value="Boya Miktarı (%) : "
							style="font-weight: bold"></h:outputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaKontrolParametreleriBean.isEmriPolietilenKaplamaKontrolParametreleriForm.boyaMiktari}"></p:inputText>
						<h:outputText value="Toplam Hava Debisi (bar): "
							style="font-weight: bold"></h:outputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaKontrolParametreleriBean.isEmriPolietilenKaplamaKontrolParametreleriForm.havaDebisi}"></p:inputText>
						<h:outputText value="Elektrod Temizleme Havası : "
							style="font-weight: bold"></h:outputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaKontrolParametreleriBean.isEmriPolietilenKaplamaKontrolParametreleriForm.elektrodTemizlemeHavasi}"
							converter="numberConverter"></p:inputText>
						<h:outputText value="Program : " style="font-weight: bold"></h:outputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaKontrolParametreleriBean.isEmriPolietilenKaplamaKontrolParametreleriForm.program}"></p:inputText>

					</h:panelGrid>

					<h:panelGrid border="0" columns="3" cellspacing="5">
						<p:commandButton value="#{language.KAYDETTAMAM}"
							process="@this polietilenKaplamaParametrePanelId"
							update="growl kontrol1 kontrol2 kontrol3 polietilenKaplamaPanelId polietilenKaplamaEpoksiMalzemePanelId"
							actionListener="#{isEmriPolietilenKaplamaKontrolParametreleriBean.addOrUpdateIsEmriPolietilenKaplamaKontrolParametreleri}"
							oncomplete="polietilenKaplamaParametreDialogWidget.hide()">
							<f:param id="polietilenKaplamaParametreleriIsEmriId"
								value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.id}"></f:param>
						</p:commandButton>
						<p:commandButton value="#{language.SIL}"
							process="@this polietilenKaplamaParametrePanelId"
							actionListener="#{isEmriPolietilenKaplamaKontrolParametreleriBean.deleteIsEmriPolietilenKaplamaKontrolParametreleri}"
							update="polietilenKaplamaPanelId polietilenKaplamaPolietilenMalzemePanelId growl kontrol1 kontrol2 kontrol3">
						</p:commandButton>
						<p:commandButton value="#{language.IPTALKAPAT}"
							onclick="polietilenKaplamaParametreDialogWidget.hide()"
							process="@this">
						</p:commandButton>
					</h:panelGrid>
				</p:panel>
			</p:dialog>

			<!-- POLİETİLEN SICAKLIK EKLEME -->

			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true"
				header="POLİETİLEN EXTRUDER 1 - 2 BÖLGELERİ SICAKLIKLARI"
				resizable="false" id="polietilenKaplamaPolietilenSicaklikDialogId"
				widgetVar="polietilenKaplamaPolietilenSicaklikDialogWidget">
				<p:panel id="polietilenKaplamaPolietilenSicaklikPanelId"
					style="min-width:600px">
					<h:panelGrid border="0" columns="7" cellspacing="5">

						<h:outputText value="KAFA(°C) : " style="font-weight: bold"></h:outputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaPolietilenSicaklikBean.isEmriPolietilenKaplamaPolietilenSicaklikForm.kafaBir}"></p:inputText>
						<h:outputText value="" style="font-weight: bold"></h:outputText>
						<h:outputText value="" style="font-weight: bold"></h:outputText>
						<h:outputText value="" style="font-weight: bold"></h:outputText>
						<h:outputText value="" style="font-weight: bold"></h:outputText>
						<h:outputText value="" style="font-weight: bold"></h:outputText>

						<h:outputText value="GÖVDE (°C) : " style="font-weight: bold"></h:outputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaPolietilenSicaklikBean.isEmriPolietilenKaplamaPolietilenSicaklikForm.govdeBir}"></p:inputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaPolietilenSicaklikBean.isEmriPolietilenKaplamaPolietilenSicaklikForm.govdeIki}"></p:inputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaPolietilenSicaklikBean.isEmriPolietilenKaplamaPolietilenSicaklikForm.govdeUc}"></p:inputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaPolietilenSicaklikBean.isEmriPolietilenKaplamaPolietilenSicaklikForm.govdeDort}"></p:inputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaPolietilenSicaklikBean.isEmriPolietilenKaplamaPolietilenSicaklikForm.govdeBes}"></p:inputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaPolietilenSicaklikBean.isEmriPolietilenKaplamaPolietilenSicaklikForm.govdeAlti}"></p:inputText>

					</h:panelGrid>

					<h:panelGrid border="0" columns="3" cellspacing="5">
						<p:commandButton value="#{language.KAYDETTAMAM}"
							process="@this polietilenKaplamaPolietilenSicaklikPanelId"
							update="polietilenKaplamaPanelId growl polietilenSicaklikId"
							actionListener="#{isEmriPolietilenKaplamaPolietilenSicaklikBean.addOrUpdateIsEmriPolietilenKaplamaPolietilenSicaklik}"
							oncomplete="polietilenKaplamaPolietilenSicaklikDialogWidget.hide()">
							<f:param id="polietilenKaplamaPolietilenSicaklikleriIsEmriId"
								value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.id}"></f:param>
						</p:commandButton>
						<p:commandButton value="#{language.SIL}"
							process="@this polietilenKaplamaPolietilenSicaklikPanelId"
							actionListener="#{isEmriPolietilenKaplamaPolietilenSicaklikBean.deleteIsEmriPolietilenKaplamaPolietilenSicaklik}"
							update="polietilenKaplamaPanelId growl">
						</p:commandButton>
						<p:commandButton value="#{language.IPTALKAPAT}"
							onclick="polietilenKaplamaPolietilenSicaklikDialogWidget.hide()"
							process="@this">
						</p:commandButton>
					</h:panelGrid>
				</p:panel>
			</p:dialog>

			<!-- YAPIŞTIRICI SICAKLIK EKLEME -->

			<p:dialog draggable="true" closable="true" dynamic="true"
				maximizable="true"
				header="YAPIŞTIRICI EXTRUDER BÖLGELERİ SICAKLIKLARI"
				resizable="false" id="polietilenKaplamaYapistiriciSicaklikDialogId"
				widgetVar="polietilenKaplamaYapistiriciSicaklikDialogWidget">
				<p:panel id="polietilenKaplamaYapistiriciSicaklikPanelId"
					style="min-width:600px">
					<h:panelGrid border="0" columns="7" cellspacing="5">

						<h:outputText value="KAFA(°C) : " style="font-weight: bold"></h:outputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaYapistiriciSicaklikBean.isEmriPolietilenKaplamaYapistiriciSicaklikForm.kafaBir}"></p:inputText>
						<h:outputText value="" style="font-weight: bold"></h:outputText>
						<h:outputText value="" style="font-weight: bold"></h:outputText>
						<h:outputText value="" style="font-weight: bold"></h:outputText>
						<h:outputText value="" style="font-weight: bold"></h:outputText>
						<h:outputText value="" style="font-weight: bold"></h:outputText>

						<h:outputText value="GÖVDE (°C) : " style="font-weight: bold"></h:outputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaYapistiriciSicaklikBean.isEmriPolietilenKaplamaYapistiriciSicaklikForm.govdeBir}"></p:inputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaYapistiriciSicaklikBean.isEmriPolietilenKaplamaYapistiriciSicaklikForm.govdeIki}"></p:inputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaYapistiriciSicaklikBean.isEmriPolietilenKaplamaYapistiriciSicaklikForm.govdeUc}"></p:inputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaYapistiriciSicaklikBean.isEmriPolietilenKaplamaYapistiriciSicaklikForm.govdeDort}"></p:inputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaYapistiriciSicaklikBean.isEmriPolietilenKaplamaYapistiriciSicaklikForm.govdeBes}"></p:inputText>
						<p:inputText
							value="#{isEmriPolietilenKaplamaYapistiriciSicaklikBean.isEmriPolietilenKaplamaYapistiriciSicaklikForm.govdeAlti}"></p:inputText>

					</h:panelGrid>

					<h:panelGrid border="0" columns="3" cellspacing="5">
						<p:commandButton value="#{language.KAYDETTAMAM}"
							process="@this polietilenKaplamaYapistiriciSicaklikPanelId"
							update="polietilenKaplamaPanelId growl polietilenSicaklikId"
							actionListener="#{isEmriPolietilenKaplamaYapistiriciSicaklikBean.addOrUpdateIsEmriPolietilenKaplamaPolietilenSicaklik}"
							oncomplete="polietilenKaplamaYapistiriciSicaklikDialogWidget.hide()">
							<f:param id="polietilenKaplamaYapistiriciSicaklikleriIsEmriId"
								value="#{isEmriPolietilenKaplamaBean.isEmriPolietilenKaplamaForm.id}"></f:param>
						</p:commandButton>
						<p:commandButton value="#{language.SIL}"
							process="@this polietilenKaplamaYapistiriciSicaklikPanelId"
							actionListener="#{isEmriPolietilenKaplamaYapistiriciSicaklikBean.deleteIsEmriPolietilenKaplamaPolietilenSicaklik}"
							update="polietilenKaplamaPanelId growl">
						</p:commandButton>
						<p:commandButton value="#{language.IPTALKAPAT}"
							onclick="polietilenKaplamaYapistiriciSicaklikDialogWidget.hide()"
							process="@this">
						</p:commandButton>
					</h:panelGrid>
				</p:panel>
			</p:dialog>

			<!-- Markalama TEZGAHI -->
			<p:dialog draggable="true" closable="true" dynamic="false"
				resizable="false" maximizable="true" id="markalamaDialogId"
				widgetVar="markalamaDialogWidget">

				<p:panel style="min-width:700px" id="markalamaPanelId"
					header="MARKALAMA BİLGİLERİ" toggleable="false">
					<p:tabView dynamic="false" cache="true" id="markalamaTabViewId">
						<p:tab title="İŞ EMRİ">
							<h:panelGrid border="0" columns="2" style="width:100%">

								<h:outputText value="Veriliş Tarihi : "
									style="font-weight: bold"></h:outputText>
								<h:outputText
									value="#{salesOrderBean.selectedOrder.deliveryDate}"></h:outputText>

								<h:outputText value="Sipariş No : " style="font-weight: bold"></h:outputText>
								<h:outputText
									value="#{salesOrderBean.selectedOrder.orderNo} - #{qualitySpecBean.selectedSalesItem.itemNo}"></h:outputText>

								<h:outputText value="Müşteri : " style="font-weight: bold"></h:outputText>
								<h:outputText
									value="#{salesOrderBean.selectedOrder.proposal.customer.shortName}"></h:outputText>

								<h:outputText value="Malzeme : " style="font-weight: bold"></h:outputText>
								<h:outputText
									value="#{qualitySpecBean.selectedSalesItem.quality}"></h:outputText>

								<h:outputText value="Boru Ebadı : " style="font-weight: bold"></h:outputText>
								<h:outputText
									value="#{qualitySpecBean.selectedSalesItem.diameter} x #{qualitySpecBean.selectedSalesItem.thickness} x #{qualitySpecBean.selectedSalesItem.pipeLength}"></h:outputText>

								<h:outputText value="Sipariş Miktarı : "
									style="font-weight: bold"></h:outputText>
								<h:outputText
									value="#{qualitySpecBean.selectedSalesItem.totalLengthM} m"></h:outputText>

								<h:outputText value="İzolasyon Türü : "
									style="font-weight: bold"></h:outputText>
								<h:outputText style="color: red; font-weight: bold;"
									value="İÇ - #{qualitySpecBean.selectedSalesItem.internalCoveringType}, DIŞ - #{qualitySpecBean.selectedSalesItem.externalCoveringType}"></h:outputText>

								<h:outputLabel value="#{language.salesDocuments}"
									id="newProposalDocumentName" />
								<h:outputText
									value="#{isEmriMarkalamaBean.isEmriMarkalamaForm.documents}" />
							</h:panelGrid>
						</p:tab>
					</p:tabView>
					<h:panelGrid border="0" columns="4" cellspacing="5">
						<p:commandButton value="#{language.KAYDETTAMAM}"
							process="@this markalamaPanelId"
							actionListener="#{isEmriMarkalamaBean.addOrUpdateIsEmriMarkalama}"
							update="markalamaPanelId growl">
							<f:param id="markalamaSalesId"
								value="#{qualitySpecBean.selectedSalesItem.itemId}"></f:param>
						</p:commandButton>
						<p:fileUpload mode="advanced" multiple="false" auto="true"
							disabled="#{isEmriMarkalamaBean.isEmriMarkalamaForm.id==null}"
							label="MARKALAMA DÖKÜMANI" showButtons="false" process="@all"
							allowTypes="/(\.|\/)(gif|jpg|jpeg|gif|png|PNG|GIF|JPG|JPEG|doc|docx|pdf|txt|xls|xlsx|ppt|pps|pptx|ppsx|zip|rar|RAR|ZIP)$/"
							fileUploadListener="#{isEmriMarkalamaBean.upload}"
							style="width:260px" update="growl" />
						<h:commandLink value="MARKALAMAYI İNDİRMEK İÇİN TIKLAYINIZ!"
							title="RAPORU İNDİR" immediate="true"
							disabled="#{isEmriMarkalamaBean.isEmriMarkalamaForm.documents==null}">
							<p:fileDownload value="#{isEmriMarkalamaBean.downloadedFile}" />
						</h:commandLink>
						<p:commandButton value="#{language.SIL}"
							process="@this markalamaPanelId"
							actionListener="#{isEmriMarkalamaBean.deleteIsEmriMarkalama}"
							update="markalamaPanelId growl IcKumlama">
						</p:commandButton>
						<p:commandButton value="#{language.IPTALKAPAT}" process="@this"
							immediate="true" onclick="markalamaDialogWidget.hide()">
						</p:commandButton>
					</h:panelGrid>
				</p:panel>
			</p:dialog>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>