<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">

			<p:growl id="growl" />
			<h:outputText value=" BORU BARKOD GİR " style="font-weight: bold;"></h:outputText>
			<p:inputText id="inputBarkod" style="width:100px;"
				value="#{partilendirmeBean.barkodNo}">
			</p:inputText>
			<p:commandButton value="SİPARİŞ BUL"
				update="growl orderAccordionPanelId kimyasalPanelId bukmePanelId cekmePanelId centikKPanelId centikUPanelId agirlikPanelId kaynakSertlikPanelId"
				process="@this inputBarkod"
				actionListener="#{partilendirmeBean.fillTestListFromBarkodPartilendirme(partilendirmeBean.barkodNo)}"
				icon="ui-icon-circle-plus" styleClass="foo">
			</p:commandButton>

			<p:panel id="kimyasalPanelId" header="Tahribatlı Testler"
				footer="KİMYASAL ANALİZ TEST DURUMU" style="margin-bottom:20px"
				toggleable="true">

				<h:outputText
					value="#{partilendirmeBean.selectedSalesItem.proposal.salesOrder.orderNo}/#{partilendirmeBean.selectedSalesItem.itemNo} - #{partilendirmeBean.selectedSalesItem.proposal.customer.shortName} SİPARİŞİ" />

				<h:panelGrid columns="1" cellpadding="10"
					rendered="#{partilendirmeBean.c03Siklik!=null}">

					<h:outputText value="C03 - Kimyasal Testler" />
					<h:outputText value="Sıklık = #{partilendirmeBean.c03Siklik}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.c03PartiSayisi}" />

					<p:dataTable var="c03Kimyasal"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="c03KimyasalListDataTableId"
						value="#{partilendirmeBean.c03SonucList}" rows="10"
						rowKey="#{c03Kimyasal.id}" style="width:100%" paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{c03Kimyasal.partiNo}">
							<h:outputText value="#{c03Kimyasal.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{c03Kimyasal.pipe.pipeIndex}">
							<h:outputText value="#{c03Kimyasal.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{c03Kimyasal.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{c03Kimyasal.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="c03Kimyasal"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="kimyasalEksikListDataTableId"
						value="#{partilendirmeBean.dokumlerC03}" style="width:100%">

						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{c03Kimyasal}" filterBy="#{c03Kimyasal}"
							filterMatchMode="contains">
							<h:outputText value="#{c03Kimyasal}"></h:outputText>
						</p:column>

					</p:dataTable>

				</h:panelGrid>
			</p:panel>

			<p:panel id="bukmePanelId" header="Tahribatlı Testler"
				footer="BÜKME TEST DURUMU" style="margin-bottom:20px"
				toggleable="true">

				<h:panelGrid columns="6" cellpadding="10"
					rendered="#{partilendirmeBean.f01Siklik!=null}">

					<h:outputText
						value="#{partilendirmeBean.selectedSalesItem.proposal.salesOrder.orderNo}/#{partilendirmeBean.selectedSalesItem.itemNo} - #{partilendirmeBean.selectedSalesItem.proposal.customer.shortName} SİPARİŞİ" />
					<h:outputText value="" />
					<h:outputText value="" />
					<h:outputText value="" />
					<h:outputText value="" />
					<h:outputText value="" />

					<h:outputText value="F01 - Boru Kılavuzlu Bükme Testi (Root Bend)" />
					<h:outputText value="F02 - Boru Kılavuzlu Bükme Testi (Face Bend)" />
					<h:outputText value="F03 - Boru Kılavuzlu Bükme Testi (Side Bend)" />
					<h:outputText
						value="F04 - Bant Eki Kılavuzlu Bükme Testi (Root Bend)" />
					<h:outputText
						value="F05 - Bant Eki Kılavuzlu Bükme Testi (Face Bend)" />
					<h:outputText
						value="F06 - Bant Eki Kılavuzlu Bükme Testi (Side Bend)" />

					<h:outputText value="Sıklık = #{partilendirmeBean.f01Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.f02Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.f03Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.f04Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.f05Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.f06Siklik}" />

					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.f01PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.f02PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.f03PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.f04PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.f05PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.f06PartiSayisi}" />

					<p:dataTable var="f01Bukme" widgetVar="f01BukmeListDataTableWidget"
						id="f01ListDataTableId" value="#{partilendirmeBean.f01SonucList}"
						rows="10" rowKey="#{f01Bukme.id}" style="width:100%"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{f01Bukme.partiNo}">
							<h:outputText value="#{f01Bukme.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{f01Bukme.pipe.pipeIndex}">
							<h:outputText value="#{f01Bukme.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{f01Bukme.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{f01Bukme.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="f02Bukme" widgetVar="f02BukmeListDataTableWidget"
						id="f02ListDataTableId" value="#{partilendirmeBean.f02SonucList}"
						rows="10" rowKey="#{f02Bukme.id}" style="width:100%"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{f02Bukme.partiNo}">
							<h:outputText value="#{f02Bukme.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{f02Bukme.pipe.pipeIndex}">
							<h:outputText value="#{f02Bukme.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{f02Bukme.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{f02Bukme.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="f03Bukme" widgetVar="f03BukmeListDataTableWidget"
						id="f03ListDataTableId" value="#{partilendirmeBean.f03SonucList}"
						rows="10" rowKey="#{f03Bukme.id}" style="width:100%"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{f03Bukme.partiNo}">
							<h:outputText value="#{f03Bukme.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{f03Bukme.pipe.pipeIndex}">
							<h:outputText value="#{f03Bukme.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{f03Bukme.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{f03Bukme.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="f04Bukme" widgetVar="f04BukmeListDataTableWidget"
						id="f04ListDataTableId" value="#{partilendirmeBean.f04SonucList}"
						rows="10" rowKey="#{f04Bukme.id}" style="width:100%"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{f04Bukme.partiNo}">
							<h:outputText value="#{f04Bukme.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{f04Bukme.pipe.pipeIndex}">
							<h:outputText value="#{f04Bukme.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{f04Bukme.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{f04Bukme.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="f05Bukme" widgetVar="f05BukmeListDataTableWidget"
						id="f05ListDataTableId" value="#{partilendirmeBean.f05SonucList}"
						rows="10" rowKey="#{f05Bukme.id}" style="width:100%"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{f05Bukme.partiNo}">
							<h:outputText value="#{f05Bukme.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{f05Bukme.pipe.pipeIndex}">
							<h:outputText value="#{f05Bukme.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{f05Bukme.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{f05Bukme.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="f06Bukme" widgetVar="f06BukmeListDataTableWidget"
						id="f06ListDataTableId" value="#{partilendirmeBean.f06SonucList}"
						rows="10" rowKey="#{f06Bukme.id}" style="width:100%"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{f06Bukme.partiNo}">
							<h:outputText value="#{f06Bukme.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{f06Bukme.pipe.pipeIndex}">
							<h:outputText value="#{f06Bukme.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{f06Bukme.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{f06Bukme.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="f01BukmeYok"
						widgetVar="f01BukmeYokListDataTableWidget"
						id="f01EksikListDataTableId"
						value="#{partilendirmeBean.dokumlerF01}" style="width:100%">
						<p:column headerText="Döküm No" sortBy="#{f01BukmeYok}">
							<h:outputText value="#{f01BukmeYok}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="f02BukmeYok"
						widgetVar="f02BukmeYokListDataTableWidget"
						id="f02EksikListDataTableId"
						value="#{partilendirmeBean.dokumlerF02}" style="width:100%">
						<p:column headerText="Döküm No">
							<h:outputText value="#{f02BukmeYok}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="f03BukmeYok"
						widgetVar="f03BukmeYokListDataTableWidget"
						id="f03EksikListDataTableId"
						value="#{partilendirmeBean.dokumlerF03}" style="width:100%">
						<p:column headerText="Döküm No">
							<h:outputText value="#{f03BukmeYok}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="f04BukmeYok"
						widgetVar="f04BukmeYokListDataTableWidget"
						id="f04EksikListDataTableId"
						value="#{partilendirmeBean.dokumlerF04}" style="width:100%">
						<p:column headerText="Döküm No">
							<h:outputText value="#{f04BukmeYok}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="f05BukmeYok"
						widgetVar="f05BukmeYokListDataTableWidget"
						id="f05EksikListDataTableId"
						value="#{partilendirmeBean.dokumlerF05}" style="width:100%">
						<p:column headerText="Döküm No">
							<h:outputText value="#{f05BukmeYok}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="f06BukmeYok"
						widgetVar="f06BukmeYokListDataTableWidget"
						id="f06EksikListDataTableId"
						value="#{partilendirmeBean.dokumlerF06}" style="width:100%">
						<p:column headerText="Döküm No">
							<h:outputText value="#{f06BukmeYok}"></h:outputText>
						</p:column>

					</p:dataTable>

				</h:panelGrid>
			</p:panel>

			<p:panel id="cekmePanelId" header="Tahribatlı Testler"
				footer="ÇEKME TEST DURUMU" style="margin-bottom:20px"
				toggleable="true">

				<h:panelGrid columns="5" cellpadding="10"
					rendered="#{partilendirmeBean.z01Siklik!=null}">

					<h:outputText
						value="#{partilendirmeBean.selectedSalesItem.proposal.salesOrder.orderNo}/#{partilendirmeBean.selectedSalesItem.itemNo} - #{partilendirmeBean.selectedSalesItem.proposal.customer.shortName} SİPARİŞİ" />
					<h:outputText value="" />
					<h:outputText value="" />
					<h:outputText value="" />
					<h:outputText value="" />

					<h:outputText value="Z01 - Boru - Kaynaklı Çekme Testi)" />
					<h:outputText value="Z02 - Boru - Ana Malzeme Enine Çekme Testi" />
					<h:outputText value="Z03 - Boru Ana Malzeme Boyuna Çekme Testi" />
					<h:outputText value="Z06 - Boru Bant Eki Kaynağı Çekme Testi" />
					<h:outputText value="Z07 - Tam Kaynak Çekme Testi" />

					<h:outputText value="Sıklık = #{partilendirmeBean.z01Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.z02Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.z03Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.z06Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.z07Siklik}" />

					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.z01PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.z02PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.z03PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.z06PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.z07PartiSayisi}" />

					<p:dataTable var="z01Cekme" widgetVar="z01CekmeListDataTableWidget"
						id="z01ListDataTableId" value="#{partilendirmeBean.z01SonucList}"
						rows="10" rowKey="#{z01Cekme.id}" style="width:100%"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{z01Cekme.partiNo}">
							<h:outputText value="#{z01Cekme.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{z01Cekme.pipe.pipeIndex}">
							<h:outputText value="#{z01Cekme.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{z01Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{z01Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="z02Cekme" widgetVar="z02CekmeListDataTableWidget"
						id="z02ListDataTableId" value="#{partilendirmeBean.z02SonucList}"
						rows="10" rowKey="#{z02Cekme.id}" style="width:100%"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{z02Cekme.partiNo}">
							<h:outputText value="#{z02Cekme.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{z02Cekme.pipe.pipeIndex}">
							<h:outputText value="#{z02Cekme.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{z02Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{z02Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="z03Cekme" widgetVar="z03CekmeListDataTableWidget"
						id="z03ListDataTableId" value="#{partilendirmeBean.z03SonucList}"
						rows="10" rowKey="#{z03Cekme.id}" style="width:100%"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{z03Cekme.partiNo}">
							<h:outputText value="#{z03Cekme.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{z03Cekme.pipe.pipeIndex}">
							<h:outputText value="#{z03Cekme.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{z03Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{z03Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="z06Cekme" widgetVar="z06CekmeListDataTableWidget"
						id="z06ListDataTableId" value="#{partilendirmeBean.z06SonucList}"
						rows="10" rowKey="#{z06Cekme.id}" style="width:100%"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{z06Cekme.partiNo}">
							<h:outputText value="#{z06Cekme.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{z06Cekme.pipe.pipeIndex}">
							<h:outputText value="#{z06Cekme.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{z06Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{z06Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="z07Cekme" widgetVar="z07CekmeListDataTableWidget"
						id="B" value="#{partilendirmeBean.z07SonucList}" rows="10"
						rowKey="#{z07Cekme.id}" style="width:100%" paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{z07Cekme.partiNo}">
							<h:outputText value="#{z07Cekme.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{z07Cekme.pipe.pipeIndex}">
							<h:outputText value="#{z07Cekme.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{z07Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{z07Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="z01CekmeYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="z01CekmeYokListDataTableId"
						value="#{partilendirmeBean.dokumlerZ01}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{z01CekmeYok}" filterBy="#{z01CekmeYok}"
							filterMatchMode="contains">
							<h:outputText value="#{z01CekmeYok}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="z02CekmeYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="z02CekmeYokListDataTableId"
						value="#{partilendirmeBean.dokumlerZ02}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{z02CekmeYok}" filterBy="#{z02CekmeYok}"
							filterMatchMode="contains">
							<h:outputText value="#{z02CekmeYok}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="z03CekmeYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="z03CekmeYokListDataTableId"
						value="#{partilendirmeBean.dokumlerZ03}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{z03CekmeYok}" filterBy="#{z03CekmeYok}"
							filterMatchMode="contains">
							<h:outputText value="#{z03CekmeYok}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="z06CekmeYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="z06CekmeYokListDataTableId"
						value="#{partilendirmeBean.dokumlerZ06}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{z06CekmeYok}" filterBy="#{z06CekmeYok}"
							filterMatchMode="contains">
							<h:outputText value="#{z06CekmeYok}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="z07CekmeYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="z07CekmeYokListDataTableId"
						value="#{partilendirmeBean.dokumlerZ07}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{z07CekmeYok}" filterBy="#{z07CekmeYok}"
							filterMatchMode="contains">
							<h:outputText value="#{z07CekmeYok}"></h:outputText>
						</p:column>
					</p:dataTable>

				</h:panelGrid>
			</p:panel>

			<p:panel id="centikKPanelId" header="Tahribatlı Testler"
				footer="ÇENTİK K TEST DURUMU" style="margin-bottom:20px"
				toggleable="true">

				<h:panelGrid columns="6" cellpadding="10"
					rendered="#{partilendirmeBean.k01Siklik!=null}">

					<h:outputText
						value="#{partilendirmeBean.selectedSalesItem.proposal.salesOrder.orderNo}/#{partilendirmeBean.selectedSalesItem.itemNo} - #{partilendirmeBean.selectedSalesItem.proposal.customer.shortName} SİPARİŞİ" />
					<h:outputText value="" />
					<h:outputText value="" />
					<h:outputText value="" />
					<h:outputText value="" />
					<h:outputText value="" />

					<h:outputText
						value="K01 - Boru Ana Malzeme (V Tipi) Çentik Darbe Testi)" />
					<h:outputText
						value="K02 - Boru Kaynak Merkezi(V Tipi) Çentik Darbe Testi" />
					<h:outputText
						value="K03 - Boru FL Bölgesinden (V Tipi) Çentik Darbe Testi" />
					<h:outputText
						value="K04 - Boru FL + 2  Bölgesinden (V Tipi) Çentik Darbe Testi" />
					<h:outputText
						value="K05 - Boru FL + 5 Bölgesinden (V Tipi) Çentik Darbe Testi" />
					<h:outputText value="K08 - Çentik Darbe Testi (Transition Curve)" />

					<h:outputText value="Sıklık = #{partilendirmeBean.k01Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.k02Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.k03Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.k04Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.k05Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.k08Siklik}" />

					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.k01PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.k02PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.k03PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.k04PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.k05PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.k08PartiSayisi}" />

					<p:dataTable var="k01Centik"
						widgetVar="k01CentikListDataTableWidget" id="k01ListDataTableId"
						value="#{partilendirmeBean.k01SonucList}" rows="10"
						rowKey="#{k01Centik.id}" style="width:100%" paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{k01Centik.partiNo}">
							<h:outputText value="#{k01Centik.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{k01Centik.pipe.pipeIndex}">
							<h:outputText value="#{k01Centik.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{k01Centik.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{k01Centik.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="k02Centik"
						widgetVar="k02CentikListDataTableWidget" id="k02ListDataTableId"
						value="#{partilendirmeBean.k02SonucList}" rows="10"
						rowKey="#{k02Centik.id}" style="width:100%" paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{k02Centik.partiNo}">
							<h:outputText value="#{k02Centik.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{k02Centik.pipe.pipeIndex}">
							<h:outputText value="#{k02Centik.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{k02Centik.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{k02Centik.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="k03Centik"
						widgetVar="k03CentikListDataTableWidget" id="k03ListDataTableId"
						value="#{partilendirmeBean.k03SonucList}" rows="10"
						rowKey="#{k03Centik.id}" style="width:100%" paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{k03Centik.partiNo}">
							<h:outputText value="#{k03Centik.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{k03Centik.pipe.pipeIndex}">
							<h:outputText value="#{k03Centik.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{k03Centik.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{k03Centik.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="k04Centik"
						widgetVar="k04CentikListDataTableWidget" id="k04ListDataTableId"
						value="#{partilendirmeBean.k04SonucList}" rows="10"
						rowKey="#{k04Centik.id}" style="width:100%" paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{k04Centik.partiNo}">
							<h:outputText value="#{k04Centik.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{k04Centik.pipe.pipeIndex}">
							<h:outputText value="#{k04Centik.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{k04Centik.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{k04Centik.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="k05Centik"
						widgetVar="k05CentikListDataTableWidget" id="k05ListDataTableId"
						value="#{partilendirmeBean.k05SonucList}" rows="10"
						rowKey="#{k05Centik.id}" style="width:100%" paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{k05Centik.partiNo}">
							<h:outputText value="#{k05Centik.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{k05Centik.pipe.pipeIndex}">
							<h:outputText value="#{k05Centik.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{k05Centik.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{k05Centik.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="k08Centik"
						widgetVar="k08CentikListDataTableWidget" id="k08ListDataTableId"
						value="#{partilendirmeBean.k08SonucList}" rows="10"
						rowKey="#{k08Centik.id}" style="width:100%" paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{k08Centik.partiNo}">
							<h:outputText value="#{k08Centik.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{k08Centik.pipe.pipeIndex}">
							<h:outputText value="#{k08Centik.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{k08Centik.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{k08Centik.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="k01CentikYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="k01CentikYokListDataTableId"
						value="#{partilendirmeBean.dokumlerK01}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{k01CentikYok}" filterBy="#{k01CentikYok}"
							filterMatchMode="contains">
							<h:outputText value="#{k01CentikYok}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="k02CentikYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="k02CentikYokListDataTableId"
						value="#{partilendirmeBean.dokumlerK02}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{k02CentikYok}" filterBy="#{k02CentikYok}"
							filterMatchMode="contains">
							<h:outputText value="#{k02CentikYok}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="k03CentikYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="k03CentikYokListDataTableId"
						value="#{partilendirmeBean.dokumlerK03}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{k03CentikYok}" filterBy="#{k03CentikYok}"
							filterMatchMode="contains">
							<h:outputText value="#{k03CentikYok}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="k04CentikYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="k04CentikYokListDataTableId"
						value="#{partilendirmeBean.dokumlerK04}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{k04CentikYok}" filterBy="#{k04CentikYok}"
							filterMatchMode="contains">
							<h:outputText value="#{k04CentikYok}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="k05CentikYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="k05CentikYokListDataTableId"
						value="#{partilendirmeBean.dokumlerK05}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{k05CentikYok}" filterBy="#{k05CentikYok}"
							filterMatchMode="contains">
							<h:outputText value="#{k05CentikYok}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="k08CentikYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="k08CentikYokListDataTableId"
						value="#{partilendirmeBean.dokumlerK08}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{k08CentikYok}" filterBy="#{k08CentikYok}"
							filterMatchMode="contains">
							<h:outputText value="#{k08CentikYok}"></h:outputText>
						</p:column>
					</p:dataTable>

				</h:panelGrid>
			</p:panel>

			<p:panel id="centikUPanelId" header="Tahribatlı Testler"
				footer="ÇENTİK U TEST DURUMU" style="margin-bottom:20px"
				toggleable="true">
				<h:outputText
					value="#{partilendirmeBean.selectedSalesItem.proposal.salesOrder.orderNo}/#{partilendirmeBean.selectedSalesItem.itemNo} - #{partilendirmeBean.selectedSalesItem.proposal.customer.shortName} SİPARİŞİ" />
				<h:panelGrid columns="5" cellpadding="10"
					rendered="#{partilendirmeBean.u01Siklik!=null}">

					<h:outputText value="U01 - Boru - Kaynaklı Çekme Testi)" />
					<h:outputText value="U02 - Boru - Ana Malzeme Enine Çekme Testi" />
					<h:outputText value="U03 - Boru Ana Malzeme Boyuna Çekme Testi" />
					<h:outputText value="U04 - Boru Bant Eki Kaynağı Çekme Testi" />
					<h:outputText value="U05 - Tam Kaynak Çekme Testi" />

					<h:outputText value="Sıklık = #{partilendirmeBean.u01Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.u02Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.u03Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.u04Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.u05Siklik}" />

					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.u01PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.u02PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.u03PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.u04PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.u05PartiSayisi}" />

					<p:dataTable var="u01Cekme" widgetVar="u01CekmeListDataTableWidget"
						id="u01ListDataTableId" value="#{partilendirmeBean.u01SonucList}"
						rows="10" rowKey="#{u01Cekme.id}" style="width:100%"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{u01Cekme.partiNo}">
							<h:outputText value="#{u01Cekme.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{u01Cekme.pipe.pipeIndex}">
							<h:outputText value="#{u01Cekme.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{u01Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{u01Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="u02Cekme" widgetVar="u02CekmeListDataTableWidget"
						id="u02ListDataTableId" value="#{partilendirmeBean.u02SonucList}"
						rows="10" rowKey="#{u02Cekme.id}" style="width:100%"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{u02Cekme.partiNo}">
							<h:outputText value="#{u02Cekme.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{u02Cekme.pipe.pipeIndex}">
							<h:outputText value="#{u02Cekme.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{u02Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{u02Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="u03Cekme" widgetVar="u03CekmeListDataTableWidget"
						id="u03ListDataTableId" value="#{partilendirmeBean.u03SonucList}"
						rows="10" rowKey="#{u03Cekme.id}" style="width:100%"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{u03Cekme.partiNo}">
							<h:outputText value="#{u03Cekme.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{u03Cekme.pipe.pipeIndex}">
							<h:outputText value="#{u03Cekme.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{u03Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{u03Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="u04Cekme" widgetVar="u04CekmeListDataTableWidget"
						id="D" value="#{partilendirmeBean.u04SonucList}" rows="10"
						rowKey="#{u04Cekme.id}" style="width:100%" paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{u04Cekme.partiNo}">
							<h:outputText value="#{u04Cekme.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{u04Cekme.pipe.pipeIndex}">
							<h:outputText value="#{u04Cekme.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{u04Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{u04Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="u05Cekme" widgetVar="u05CekmeListDataTableWidget"
						id="u05ListDataTableId" value="#{partilendirmeBean.u05SonucList}"
						rows="10" rowKey="#{u05Cekme.id}" style="width:100%"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{u05Cekme.partiNo}">
							<h:outputText value="#{u05Cekme.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{u05Cekme.pipe.pipeIndex}">
							<h:outputText value="#{u05Cekme.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{u05Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{u05Cekme.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="u01CentikYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="u01CentikYokListDataTableId"
						value="#{partilendirmeBean.dokumlerU01}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{u01CentikYok}" filterBy="#{u01CentikYok}"
							filterMatchMode="contains">
							<h:outputText value="#{u01CentikYok}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="u02CentikYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="u02CentikYokListDataTableId"
						value="#{partilendirmeBean.dokumlerU02}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{u02CentikYok}" filterBy="#{u02CentikYok}"
							filterMatchMode="contains">
							<h:outputText value="#{u02CentikYok}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="u03CentikYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="u03CentikYokListDataTableId"
						value="#{partilendirmeBean.dokumlerU03}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{u03CentikYok}" filterBy="#{u03CentikYok}"
							filterMatchMode="contains">
							<h:outputText value="#{u03CentikYok}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="u04CentikYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="u04CentikYokListDataTableId"
						value="#{partilendirmeBean.dokumlerU04}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{u04CentikYok}" filterBy="#{u04CentikYok}"
							filterMatchMode="contains">
							<h:outputText value="#{u04CentikYok}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="u05CentikYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="u05CentikYokListDataTableId"
						value="#{partilendirmeBean.dokumlerU05}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{u05CentikYok}" filterBy="#{u05CentikYok}"
							filterMatchMode="contains">
							<h:outputText value="#{u05CentikYok}"></h:outputText>
						</p:column>
					</p:dataTable>

				</h:panelGrid>
			</p:panel>

			<p:panel id="agirlikPanelId" header="Tahribatlı Testler"
				footer="AĞIRLIK DÜŞÜRME TEST DURUMU" style="margin-bottom:20px"
				toggleable="true">

				<h:outputText
					value="#{partilendirmeBean.selectedSalesItem.proposal.salesOrder.orderNo}/#{partilendirmeBean.selectedSalesItem.itemNo} - #{partilendirmeBean.selectedSalesItem.proposal.customer.shortName} SİPARİŞİ" />

				<h:panelGrid columns="2" cellpadding="10"
					rendered="#{partilendirmeBean.d01Siklik!=null}">

					<h:outputText value="D01 - Sonuc Testler" />
					<h:outputText value="D02 - Sonuc Testler" />

					<h:outputText value="Sıklık = #{partilendirmeBean.d01Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.d02Siklik}" />

					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.d01PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.d02PartiSayisi}" />

					<p:dataTable var="d01Sonuc"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="d01SonucListDataTableId"
						value="#{partilendirmeBean.d01SonucList}" rows="10"
						rowKey="#{d01Sonuc.id}" style="width:100%" paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{d01Sonuc.partiNo}">
							<h:outputText value="#{d01Sonuc.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{d01Sonuc.pipe.pipeIndex}">
							<h:outputText value="#{d01Sonuc.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{d01Sonuc.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{d01Sonuc.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="d02Sonuc"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="d02SonucListDataTableId"
						value="#{partilendirmeBean.d02SonucList}" rows="10"
						rowKey="#{d02Sonuc.id}" style="width:100%" paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{d02Sonuc.partiNo}">
							<h:outputText value="#{d02Sonuc.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{d02Sonuc.pipe.pipeIndex}">
							<h:outputText value="#{d02Sonuc.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{d02Sonuc.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{d02Sonuc.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="d01AgirlikYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="d01AgirlikYokListDataTableId"
						value="#{partilendirmeBean.dokumlerD01}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{d01AgirlikYok}" filterBy="#{d01AgirlikYok}"
							filterMatchMode="contains">
							<h:outputText value="#{d01AgirlikYok}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="d02AgirlikYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="d02AgirlikYokListDataTableId"
						value="#{partilendirmeBean.dokumlerD02}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{d02AgirlikYok}" filterBy="#{d02AgirlikYok}"
							filterMatchMode="contains">
							<h:outputText value="#{d02AgirlikYok}"></h:outputText>
						</p:column>
					</p:dataTable>

				</h:panelGrid>
			</p:panel>

			<p:panel id="kaynakSertlikPanelId" header="Tahribatlı Testler"
				footer="KAYNAK SERTLİK - KAYNAK MAKRO TEST DURUMU"
				style="margin-bottom:20px" toggleable="true">

				<h:outputText
					value="#{partilendirmeBean.selectedSalesItem.proposal.salesOrder.orderNo}/#{partilendirmeBean.selectedSalesItem.itemNo} - #{partilendirmeBean.selectedSalesItem.proposal.customer.shortName} SİPARİŞİ" />

				<h:panelGrid columns="2" cellpadding="10"
					rendered="#{partilendirmeBean.m01Siklik!=null}">

					<h:outputText value="M01 - Sonuc Testler" />
					<h:outputText value="H01 - Sonuc Testler" />

					<h:outputText value="Sıklık = #{partilendirmeBean.m01Siklik}" />
					<h:outputText value="Sıklık = #{partilendirmeBean.h01Siklik}" />

					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.m01PartiSayisi}" />
					<h:outputText
						value="Yapılması Gereken Test Sayısı = #{partilendirmeBean.h01PartiSayisi}" />

					<p:dataTable var="m01Sonuc"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="m01SonucListDataTableId"
						value="#{partilendirmeBean.m01SonucList}" rows="10"
						rowKey="#{m01Sonuc.id}" style="width:100%" paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{m01Sonuc.partiNo}">
							<h:outputText value="#{m01Sonuc.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{m01Sonuc.pipe.pipeIndex}">
							<h:outputText value="#{m01Sonuc.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{m01Sonuc.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{m01Sonuc.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>

					</p:dataTable>

					<p:dataTable var="h01Sonuc"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="h01SonucListDataTableId"
						value="#{partilendirmeBean.h01SonucList}" rows="10"
						rowKey="#{h01Sonuc.id}" style="width:100%" paginator="true"
						paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

						<p:column headerText="Parti No" sortBy="#{h01Sonuc.partiNo}">
							<h:outputText value="#{h01Sonuc.partiNo}"></h:outputText>
						</p:column>
						<p:column headerText="Test Boru No"
							sortBy="#{h01Sonuc.pipe.pipeIndex}">
							<h:outputText value="#{h01Sonuc.pipe.pipeIndex}"></h:outputText>
						</p:column>

						<p:column headerText="Döküm No"
							sortBy="#{h01Sonuc.pipe.ruloPipeLink.rulo.ruloDokumNo}">
							<h:outputText
								value="#{h01Sonuc.pipe.ruloPipeLink.rulo.ruloDokumNo}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="m01MakroYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="m01MakroYokListDataTableId"
						value="#{partilendirmeBean.dokumlerM01}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{m01MakroYok}" filterBy="#{m01MakroYok}"
							filterMatchMode="contains">
							<h:outputText value="#{m01MakroYok}"></h:outputText>
						</p:column>
					</p:dataTable>

					<p:dataTable var="h01SertlikYok"
						widgetVar="incelemeGrubuListDataTableWidget"
						id="h01SertlikYokListDataTableId"
						value="#{partilendirmeBean.dokumlerH01}" style="width:100%">
						<p:column headerText="TEST YAPILMAMIŞ DÖKÜMLER - ARA"
							sortBy="#{h01SertlikYok}" filterBy="#{h01SertlikYok}"
							filterMatchMode="contains">
							<h:outputText value="#{h01SertlikYok}"></h:outputText>
						</p:column>
					</p:dataTable>


				</h:panelGrid>
			</p:panel>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>