<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">

			<p:growl id="growl" />
			<h:outputText value=" BORU BARKOD GİR " style="font-weight: bold;"></h:outputText>
			<p:inputText id="inputBarkod" style="width:100px;"
				value="#{partilendirmeBean.barkodNo}">
			</p:inputText>
			<p:commandButton value="SİPARİŞ BUL"
				update="growl orderAccordionPanelId sorguReleasePanelGridId kaydetPanelGridId ucBirKaydetPanelGridId datatablePanelGridId sorguReleaseDialog"
				process="@this inputBarkod"
				actionListener="#{partilendirmeBean.fillTestListFromBarkodRelease(partilendirmeBean.barkodNo)}"
				icon="ui-icon-circle-plus" styleClass="foo">
			</p:commandButton>

			<h:panelGrid border="0" columns="2" cellspacing="5"
				style="text-align: center" id="sorguReleasePanelGridId">

				<h:outputText
					value="#{partilendirmeBean.selectedSalesItem.proposal.salesOrder.orderNo}/#{partilendirmeBean.selectedSalesItem.itemNo} - #{partilendirmeBean.selectedSalesItem.proposal.customer.shortName} SİPARİŞİ" />
				<h:outputText value="" />

				<p:dataTable id="sorguReleaseDataTableId" var="pipe"
					value="#{partilendirmeBean.releaseNoteTarihleriList}"
					tableStyle="width:100%;" paginator="true" dynamic="true"
					widgetVar="data" rowKey="#{pipe[0]}" rows="300"
					paginatorTemplate="#{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

					<f:facet name="header">
						<h:outputText value="RELEASE LİSTESİ" />
					</f:facet>

					<!-- 					<p:column selectionMode="multiple" -->
					<!-- 						style="width:16px;text-align:center" headerText="RELEASE CHECK"> -->
					<!-- 					</p:column> -->

					<p:column>
						<f:facet name="header">
							<h:outputText value="RELEASE NOTE TARİHLERİ"></h:outputText>
						</f:facet>
						<h:outputText value="#{pipe[0]}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
						</h:outputText>
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="RELEASE BORU SAYISI"></h:outputText>
						</f:facet>
						<h:outputText value="#{pipe[1]}"></h:outputText>
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="RELEASE METRAJI"></h:outputText>
						</f:facet>

					</p:column>
				</p:dataTable>

				<p:dataTable id="sorguUcBirDataTableId" var="pipe"
					value="#{partilendirmeBean.ucBirTarihleriList}"
					tableStyle="width:100%;" paginator="true" dynamic="true"
					widgetVar="data" rowKey="#{pipe[0]}" rows="300"
					paginatorTemplate="#{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

					<f:facet name="header">
						<h:outputText value="3.1 LİSTESİ" />
					</f:facet>

					<!-- 					<p:column selectionMode="multiple" -->
					<!-- 						style="width:16px;text-align:center" headerText="RELEASE CHECK"> -->
					<!-- 					</p:column> -->

					<p:column>
						<f:facet name="header">
							<h:outputText value="3.1 TARİHLERİ"></h:outputText>
						</f:facet>
						<h:outputText value="#{pipe[0]}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
						</h:outputText>
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="3.1 BORU SAYISI"></h:outputText>
						</f:facet>
						<h:outputText value="#{pipe[1]}"></h:outputText>
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="3.1 METRAJI"></h:outputText>
						</f:facet>

					</p:column>
				</p:dataTable>

				<h:outputText value="İLK RELEASE NOTE TARİHİ"
					style="font-weight: bold"></h:outputText>
				<h:outputText value="İLK 3.1 TARİHİ" style="font-weight: bold"></h:outputText>


				<p:calendar mode="popup" autocomplete="false" showOn="button"
					pattern="#{userCredentialsBean.dateFormat} HH:00" stepHour="1"
					stepMinute="0" requiredMessage="#{language.RequiredMessage}"
					value="#{partilendirmeBean.selectedReleaseNoteTarihiIlk}"
					navigator="true" effect="slideDown"></p:calendar>
				<p:calendar mode="popup" autocomplete="false" showOn="button"
					pattern="#{userCredentialsBean.dateFormat} HH:00" stepHour="1"
					stepMinute="0" requiredMessage="#{language.RequiredMessage}"
					value="#{partilendirmeBean.selectedUcBirTarihiIlk}"
					navigator="true" effect="slideDown"></p:calendar>

				<h:outputText value="SON RELEASE NOTE TARİHİ"
					style="font-weight: bold"></h:outputText>
				<h:outputText value="SON 3.1 TARİHİ" style="font-weight: bold"></h:outputText>

				<p:calendar mode="popup" autocomplete="false" showOn="button"
					pattern="#{userCredentialsBean.dateFormat} HH:00" stepHour="1"
					stepMinute="0"
					value="#{partilendirmeBean.selectedReleaseNoteTarihiSon}"
					navigator="true" effect="slideDown"></p:calendar>
				<p:calendar mode="popup" autocomplete="false" showOn="button"
					pattern="#{userCredentialsBean.dateFormat} HH:00" stepHour="1"
					stepMinute="0" value="#{partilendirmeBean.selectedUcBirTarihiSon}"
					navigator="true" effect="slideDown"></p:calendar>

				<p:commandButton value="RELEASE BORU LİSTELERİ"
					update="growl sorguReleasePanelGridId seciliSorguDatatable"
					process="@this sorguReleaseDataTableId sorguReleasePanelGridId"
					icon="ui-icon-circle-plus" onclick="sorguReleaseDialog.show();"
					actionListener="#{partilendirmeBean.seciliReleaseBorulari}">
				</p:commandButton>
				<p:commandButton value="3.1 BORU LİSTELERİ"
					update="growl ucBirPanelGridId ucBirDatatable"
					process="@this sorguUcBirDataTableId sorguReleasePanelGridId"
					icon="ui-icon-circle-plus" onclick="ucBirDialog.show();"
					actionListener="#{partilendirmeBean.seciliUcBirBorulari}">
				</p:commandButton>
			</h:panelGrid>

			<h:panelGrid border="0" columns="7" cellspacing="5"
				style="text-align: center" id="kaydetPanelGridId">
				<h:outputText value="RELEASE NOTE TARİHİ" style="font-weight: bold"></h:outputText>
				<p:calendar mode="popup" autocomplete="false" showOn="button"
					pattern="#{userCredentialsBean.dateFormat} HH:00" stepHour="1"
					stepMinute="0" requiredMessage="#{language.RequiredMessage}"
					value="#{partilendirmeBean.releaseNoteTarihi}" navigator="true"
					effect="slideDown"></p:calendar>
				<p:commandButton value="RELEASE TARİHİ VER"
					update="growl datatablePipes sorguReleaseDataTableId sorguReleasePanelGridId"
					actionListener="#{partilendirmeBean.releaseNoteTarihVer}"
					process="@this datatablePanelGridId kaydetPanelGridId"
					icon="ui-icon-circle-plus">
				</p:commandButton>
				<p:commandButton value="RELEASE TARİHİ SİL"
					update="growl datatablePipes sorguReleaseDataTableId sorguReleasePanelGridId"
					actionListener="#{partilendirmeBean.releaseNoteTarihSil}"
					process="@this datatablePipes" icon="ui-icon-circle-plus">
				</p:commandButton>
				<p:commandButton value="HEPSİNİ LİSTELE"
					update="growl datatablePipes sorguReleaseDataTableId sorguReleasePanelGridId"
					actionListener="#{partilendirmeBean.releaseNoteListele(1)}"
					process="@this datatablePipes" icon="ui-icon-circle-plus">
				</p:commandButton>
				<p:commandButton value="RELEASE OLANLARI LİSTELE"
					update="growl datatablePipes sorguReleaseDataTableId sorguReleasePanelGridId"
					actionListener="#{partilendirmeBean.releaseNoteListele(-1)}"
					process="@this datatablePipes" icon="ui-icon-circle-plus">
				</p:commandButton>
				<p:commandButton value="RELEASE OLMAYANLARI LİSTELE"
					update="growl datatablePipes sorguReleaseDataTableId sorguReleasePanelGridId"
					actionListener="#{partilendirmeBean.releaseNoteListele(0)}"
					process="@this datatablePipes" icon="ui-icon-circle-plus">
				</p:commandButton>
			</h:panelGrid>

			<h:panelGrid border="0" columns="7" cellspacing="5"
				style="text-align: center" id="ucBirKaydetPanelGridId">
				<h:outputText value="3.1 TARİHİ" style="font-weight: bold"></h:outputText>
				<p:calendar mode="popup" autocomplete="false" showOn="button"
					pattern="#{userCredentialsBean.dateFormat} HH:00" stepHour="1"
					stepMinute="0" requiredMessage="#{language.RequiredMessage}"
					value="#{partilendirmeBean.ucBirTarihi}" navigator="true"
					effect="slideDown"></p:calendar>
				<p:commandButton value="3.1 TARİHİ VER"
					update="growl datatablePipes sorguUcBirDataTableId sorguUcBirPanelGridId"
					actionListener="#{partilendirmeBean.ucBirTarihVer}"
					process="@this datatablePanelGridId ucBirKaydetPanelGridId"
					icon="ui-icon-circle-plus">
				</p:commandButton>
				<p:commandButton value="3.1 TARİHİ SİL"
					update="growl datatablePipes sorguUcBirDataTableId sorguUcBirPanelGridId"
					actionListener="#{partilendirmeBean.ucBirTarihSil}"
					process="@this datatablePipes" icon="ui-icon-circle-plus">
				</p:commandButton>
				<p:commandButton value="HEPSİNİ LİSTELE"
					update="growl datatablePipes sorguUcBirDataTableId sorguUcBirPanelGridId"
					actionListener="#{partilendirmeBean.ucBirListele(1)}"
					process="@this datatablePipes" icon="ui-icon-circle-plus">
				</p:commandButton>
				<p:commandButton value="3.1 TARİHİ OLANLARI LİSTELE"
					update="growl datatablePipes sorguUcBirDataTableId sorguUcBirPanelGridId"
					actionListener="#{partilendirmeBean.ucBirListele(-1)}"
					process="@this datatablePipes" icon="ui-icon-circle-plus">
				</p:commandButton>
				<p:commandButton value="3.1 TARİHİ OLMAYANLARI LİSTELE"
					update="growl datatablePipes sorguUcBirDataTableId sorguUcBirPanelGridId"
					actionListener="#{partilendirmeBean.ucBirListele(0)}"
					process="@this datatablePipes" icon="ui-icon-circle-plus">
				</p:commandButton>
			</h:panelGrid>

			<h:panelGrid border="0" columns="7" cellspacing="5"
				style="text-align: center" id="datatablePanelGridId">
				<p:dataTable id="datatablePipes" var="pipe"
					value="#{partilendirmeBean.gozOlcuPipes}" tableStyle="width:100%;"
					paginator="true" dynamic="true" widgetVar="data"
					rowKey="#{pipe.id}" rows="300"
					selection="#{partilendirmeBean.selectedGozOlcuPipes}"
					paginatorTemplate="#{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

					<f:facet name="header">
						<h:outputText value="#{language.ProducedPipes}   " />
						<p:commandButton value="LİSTEYİ YENİLE"
							update="growl orderAccordionPanelId sorguReleasePanelGridId kaydetPanelGridId ucBirKaydetPanelGridId datatablePanelGridId sorguReleaseDialog"
							process="@this inputBarkod"
							actionListener="#{partilendirmeBean.gozOlcuBorulari()}"
							icon="ui-icon-refresh" styleClass="foo">
						</p:commandButton>
					</f:facet>

					<p:column selectionMode="multiple"
						style="width:16px;text-align:center" headerText="RELEASE CHECK">
					</p:column>

					<p:column headerText="#{language.PipeNumber}" style="width:10%"
						filterBy="#{pipe.pipe.pipeBarkodNo}" filterMatchMode="contains">
						<h:outputText value="#{pipe.pipe.pipeBarkodNo}" />
					</p:column>

					<!-- 				<p:column headerText="Rulo No" style="width:10%" -->
					<!-- 					sortBy="#{pipe.pipe.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}" -->
					<!-- 					filterBy="#{pipe.pipe.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}"> -->
					<!-- 					<h:outputText -->
					<!-- 						value="#{pipe.pipe.ruloPipeLink.rulo.ruloYilAndRuloKimlikId}" /> -->
					<!-- 				</p:column> -->

					<p:column headerText="Döküm No" style="width:10%"
						sortBy="#{pipe.pipe.ruloPipeLink.rulo.ruloDokumNo}"
						filterBy="#{pipe.pipe.ruloPipeLink.rulo.ruloDokumNo}"
						filterMatchMode="contains">
						<h:outputText value="#{pipe.pipe.ruloPipeLink.rulo.ruloDokumNo}" />
					</p:column>

					<!-- 				<p:column style="width:10%"> -->
					<!-- 					<f:facet name="header"> -->
					<!-- 						<h:outputText value="Üretim Tarihi"></h:outputText> -->
					<!-- 					</f:facet> -->
					<!-- 					<p:calendar pattern="#{userCredentialsBean.dateFormat} HH:mm" -->
					<!-- 						disabled="true" value="#{pipe.pipe.productionDate}"> -->
					<!-- 					</p:calendar> -->
					<!-- 				</p:column> -->

					<!-- 				<p:column style="width:10%"> -->
					<!-- 					<f:facet name="header"> -->
					<!-- 						<h:outputText value="Sisteme Kayıt Tarihi"></h:outputText> -->
					<!-- 					</f:facet> -->
					<!-- 					<p:calendar disabled="true" value="#{pipe.pipe.eklemeZamani}"> -->
					<!-- 						<f:convertDateTime pattern="dd/MM/yyyy HH:mm" timeZone="GMT+2" /> -->
					<!-- 					</p:calendar> -->
					<!-- 				</p:column> -->

					<!-- 				<p:column> -->
					<!-- 					<f:facet name="header"> -->
					<!-- 						<h:outputText value="#{language.Diameter}"></h:outputText> -->
					<!-- 					</f:facet> -->
					<!-- 					<h:outputText value="#{pipe.pipe.disCap}"></h:outputText> -->
					<!-- 				</p:column> -->

					<!-- 				<p:column> -->
					<!-- 					<f:facet name="header"> -->
					<!-- 						<h:outputText value="#{language.Weight}"></h:outputText> -->
					<!-- 					</f:facet> -->
					<!-- 					<h:outputText value="#{pipe.pipe.agirligi}"></h:outputText> -->
					<!-- 				</p:column> -->

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{language.Length}"></h:outputText>
						</f:facet>
						<h:outputText value="#{pipe.boruUzunluk}"></h:outputText>
					</p:column>

					<!-- 				<p:column> -->
					<!-- 					<f:facet name="header"> -->
					<!-- 						<h:outputText value="#{language.Explanation}"></h:outputText> -->
					<!-- 					</f:facet> -->
					<!-- 					<h:outputText value="#{pipe.pipe.note}"></h:outputText> -->
					<!-- 				</p:column> -->

					<!-- 				<p:column style="text-align: center;"> -->
					<!-- 					<f:facet name="header"> -->
					<!-- 						<h:outputText value="Torna"></h:outputText> -->
					<!-- 					</f:facet> -->
					<!-- 					<p:graphicImage value="/small_icons/select.png" style="border:0px" -->
					<!-- 						rendered="#{pipe.pipe.testTahribatsizTorna.durum}"> -->
					<!-- 					</p:graphicImage> -->
					<!-- 				</p:column> -->
					<!-- 				<p:column style="text-align: center;"> -->
					<!-- 					<f:facet name="header"> -->
					<!-- 						<h:outputText value="Hidrostatik"></h:outputText> -->
					<!-- 					</f:facet> -->
					<!-- 					<p:graphicImage value="/small_icons/select.png" style="border:0px" -->
					<!-- 						rendered="#{pipe.pipe.testTahribatsizHidrostatik.durum}"> -->
					<!-- 					</p:graphicImage> -->
					<!-- 				</p:column> -->
					<p:column style="text-align: center;">
						<f:facet name="header">
							<h:outputText value="Göz Ölçü"></h:outputText>
						</f:facet>
						<p:graphicImage value="/small_icons/select.png" style="border:0px"
							rendered="#{pipe.result==1}">
						</p:graphicImage>
					</p:column>

					<p:column headerText="Release Note Tarihi" style="width:10%"
						filterBy="#{pipe.pipe.releaseNoteTarihi}"
						sortBy="#{pipe.pipe.releaseNoteTarihi}" filterMatchMode="contains">
						<p:calendar disabled="true" value="#{pipe.pipe.releaseNoteTarihi}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
						</p:calendar>
					</p:column>

					<p:column headerText="3.1 Tarihi" style="width:10%"
						filterBy="#{pipe.pipe.ucBirTarihi}"
						sortBy="#{pipe.pipe.ucBirTarihi}" filterMatchMode="contains">
						<p:calendar disabled="true" value="#{pipe.pipe.ucBirTarihi}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
						</p:calendar>
					</p:column>

					<!-- 				<p:column headerText="Band Eki"> -->
					<!-- 					<p:graphicImage value="/small_icons/select.png" style="border:0px" -->
					<!-- 						rendered="#{pipe.pipe.bandEki==true}"> -->
					<!-- 					</p:graphicImage> -->
					<!-- 				</p:column> -->

				</p:dataTable>
			</h:panelGrid>

			<p:dialog widgetVar="sorguReleaseDialog"
				header="SEÇİLİ RELEASE İÇİN BORULAR">
				<p:dataTable id="seciliSorguDatatable" var="pipe"
					value="#{partilendirmeBean.selectedSorguPipes}" paginator="true"
					dynamic="true" widgetVar="data" rowKey="#{pipe.id}" rows="10"
					selection="#{partilendirmeBean.selectedGozOlcuPipes}"
					paginatorTemplate="#{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

					<f:facet name="header">
						<h:outputText value="#{language.ProducedPipes}" />
					</f:facet>

					<p:column headerText="#{language.PipeNumber}" style="width:10%"
						filterBy="#{pipe.salesItem.proposal.salesOrder.orderNo} / #{pipe.salesItem.itemNo} - #{pipe.pipeIndex}">
						<h:outputText
							value="#{pipe.salesItem.proposal.salesOrder.orderNo} / #{pipe.salesItem.itemNo} - #{pipe.pipeIndex}" />
					</p:column>

					<p:column headerText="Döküm No" style="width:10%"
						filterBy="#{pipe.ruloPipeLink.rulo.ruloDokumNo}">
						<h:outputText value="#{pipe.ruloPipeLink.rulo.ruloDokumNo}" />
					</p:column>

					<p:column headerText="Release Note Tarihi" style="width:10%"
						filterBy="#{pipe.releaseNoteTarihi}">
						<h:outputText value="#{pipe.releaseNoteTarihi}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
						</h:outputText>
					</p:column>

				</p:dataTable>

				<h:panelGrid border="0" columns="6" cellspacing="5"
					style="text-align: center" id="releaseNotePanelGridId">

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.plateListMatchingWithPipeNumbersReport}"
						title="Plate List Matching With Pipe Numbers"
						value="Plate List Matching With Pipe Numbers">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.plateHeatAnalysisReport}"
						title="Plate Heat Analysis" value="Plate Heat Analysis">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.mechanicalTestResultsofPlates}"
						title="Mechanical Test Results of Plates"
						value="Mechanical Test Results of Plates">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.hydrostaticTestReports}"
						title="Hydrostatic Test Reportss" value="Hydrostatic Test Reports">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.kimyasalAnalizInspectionResultReportXlsx}"
						title="Product Analysis Test of Pipes"
						value="Product Analysis Test of Pipes">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.bukmeInspectionResultReportXlsx}"
						title="Guided Bend Test Report of Pipes"
						value="Guided Bend Test Report of Pipes">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.cekmeInspectionResultReportXlsx}"
						title="Tensile Test Report of Pipes"
						value="Tensile Test Report of Pipes">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.centikDarbeInspectionResultReportXlsx}"
						title="Impact Test Rerport of Pipes"
						value="Impact Test Rerport of Pipes">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.kaynakInspectionResultReportXlsx(1031)}"
						title="Metallographic Test Rerport of Pipes"
						value="Metallographic Test Rerport of Pipes">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.kaynakInspectionResultReportXlsx(1032)}"
						title="Hardness Test Rerport of Pipes"
						value="Hardness Test Rerport of Pipes">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.agirlikDusurmeInspectionResultReportXlsx}"
						title="DWTT Test Rerport of Pipes"
						value="DWTT Test Rerport of Pipes">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.cuttingRecordResultReportAllXlsx}"
						title="Cutting Records" value="Cutting Records">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.gozOlcuInspectionResultReportAllXlsx}"
						title="Visual and Dimensional Inspection Report"
						value="Visual and Dimensional Inspection Report">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.tanapPTS()}" title="TANAP PTS"
						value="TANAP PTS">
					</h:commandButton>

				</h:panelGrid>
			</p:dialog>

			<p:dialog widgetVar="ucBirDialog" header="SEÇİLİ 3.1 İÇİN BORULAR">
				<p:dataTable id="ucBirDatatable" var="pipe"
					value="#{partilendirmeBean.selectedUcBirPipes}" paginator="true"
					dynamic="true" widgetVar="data" rowKey="#{pipe.id}" rows="10"
					selection="#{partilendirmeBean.selectedGozOlcuPipes}"
					paginatorTemplate="#{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

					<f:facet name="header">
						<h:outputText value="#{language.ProducedPipes}" />
					</f:facet>

					<p:column headerText="#{language.PipeNumber}" style="width:10%"
						filterBy="#{pipe.salesItem.proposal.salesOrder.orderNo} / #{pipe.salesItem.itemNo} - #{pipe.pipeIndex}">
						<h:outputText
							value="#{pipe.salesItem.proposal.salesOrder.orderNo} / #{pipe.salesItem.itemNo} - #{pipe.pipeIndex}" />
					</p:column>

					<p:column headerText="Döküm No" style="width:10%"
						filterBy="#{pipe.ruloPipeLink.rulo.ruloDokumNo}">
						<h:outputText value="#{pipe.ruloPipeLink.rulo.ruloDokumNo}" />
					</p:column>

					<p:column headerText="Release Note Tarihi" style="width:10%"
						filterBy="#{pipe.releaseNoteTarihi}">
						<h:outputText value="#{pipe.releaseNoteTarihi}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
						</h:outputText>
					</p:column>

				</p:dataTable>

				<h:panelGrid border="0" columns="10" cellspacing="5"
					style="text-align: center" id="ucBirPanelGridId">

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.ucBirNominals}"
						title="Nominals of Tests" value="Nominals of Tests">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.ucBirChemNominals}"
						title="Nominals of Chemical Tests"
						value="Nominals of Chemical Tests">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.ucBirShippingList}"
						title="Shipping List" value="Shipping List">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.ucBirSurveyOfLots}"
						title="Survey of Lots" value="Survey of Lots" disabled="true">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.ucBirChemicalAnalysis}"
						title="Chemical Analysis" value="Chemical Analysis">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.ucBirTensileTests}"
						title="Tensile Tests" value="Tensile Test">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.ucBirFructureTests}"
						title="Fructure Toughness Tests" value="Fructure Toughness Tests">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.ucBirDropWeightTests}"
						title="Base Metal Drop Weight Tear Tests"
						value="Base Metal Drop Weight Tear Tests">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.ucBirGuidedBendTests}"
						title="Guided Bend Tests" value="Guided Bend Tests">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.ucBirHardnessTests}"
						title="Hardness Tests" value="Hardness Tests">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.ucBirMacrographicTests}"
						title="Macrographic Tests" value="Macrographic Tests">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.ucBirMTCLot}" title="TANAP MTC LOT"
						value="TANAP MTC LOT">
					</h:commandButton>

					<h:commandButton immediate="true"
						action="#{partilendirmeBean.ucBirMTCKimyasal}"
						title="TANAP MTC KİMYASAL" value="TANAP MTC KİMYASAL">
					</h:commandButton>

				</h:panelGrid>
			</p:dialog>

			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>