<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">

			<p:messages id="countryMessagesId" showDetail="false"
				showSummary="false"></p:messages>

			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px; width:100%" id="accordionPanelId">
				<p:tab title="#{language.Countries}">


					<h:panelGrid border="0" columns="3">
						<h:form id="form">

							<p:growl id="messages" showDetail="true" />

							<p:dataTable var="car" value="#{tableBean.carsSmall}"
								id="carList" editable="true">

								<f:facet name="header">  
            In-Cell Editing  
        </f:facet>

								<p:ajax event="rowEdit" listener="#{tableBean.onEdit}"
									update=":form:messages" />
								<p:ajax event="rowEditCancel" listener="#{tableBean.onCancel}"
									update=":form:messages" />

								<p:column headerText="Model" style="width:30%">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{car.model}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText value="#{car.model}" style="width:100%" />
										</f:facet>
									</p:cellEditor>
								</p:column>

								<p:column headerText="Year" style="width:20%">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{car.year}" />
										</f:facet>
										<f:facet name="input">
											<p:inputText value="#{car.year}" style="width:100%"
												label="Year" />
										</f:facet>
									</p:cellEditor>
								</p:column>

								<p:column headerText="Manufacturer" style="width:24%">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{car.manufacturer}" />
										</f:facet>
										<f:facet name="input">
											<h:selectOneMenu value="#{car.manufacturer}">
												<f:selectItems value="#{tableBean.manufacturers}" var="man"
													itemLabel="#{man}" itemValue="#{man}" />
											</h:selectOneMenu>
										</f:facet>
									</p:cellEditor>
								</p:column>

								<p:column headerText="Color" style="width:20%">
									<p:cellEditor>
										<f:facet name="output">
											<h:outputText value="#{car.color}" />
										</f:facet>
										<f:facet name="input">
											<h:selectOneMenu value="#{car.color}">
												<f:selectItems value="#{tableBean.colors}" var="color"
													itemLabel="#{color}" itemValue="#{color}" />
											</h:selectOneMenu>
										</f:facet>
									</p:cellEditor>
								</p:column>

								<p:column style="width:6%">
									<p:rowEditor />
								</p:column>

							</p:dataTable>

						</h:form>
					</h:panelGrid>

				</p:tab>
			</p:accordionPanel>
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>