<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px; width:100%" id="accordionPanelId">
				<p:tab title="#{language.Countries}">
					<h:form id="form">
						<p:growl id="messages" showDetail="true" />
						<p:dataTable var="list" widgetVar="gorevListWidget"
							value="#{personelOrtakGorevBean.allPersonelOrtakGorevList}"
							id="gorevList" editable="true" rows="10"
							selection="#{personelOrtakGorevBean.personelOrtakGorevForm}"
							rowKey="#{list.id}" selectionMode="single" dblClickSelect="false"
							style="width:100%" paginator="true"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">

							<p:ajax event="rowEdit"
								listener="#{personelOrtakGorevBean.addOrUpdateGorevler}"
								update=":form:messages" />
							<p:ajax event="rowSelect" update="gorevList "></p:ajax>


							<p:column headerText="Görev Adı" style="width:94%">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{list.gorevAdi}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{list.gorevAdi}" style="width:100%" />
									</f:facet>
								</p:cellEditor>
							</p:column>

							<p:column style="width:6%">
								<p:rowEditor />
							</p:column>
							<f:facet name="footer">
								<p:commandButton value="#{language.Delete}" icon="ui-icon-close"
									process="@this gorevList"
									disabled="#{personelOrtakGorevBean.personelOrtakGorevForm.id== null}"
									onclick="deleteGorevDialogWidget.show()">

								</p:commandButton>
								<p:commandButton value="#{language.Country} #{language.Add}"
									update="accordionPanelId " process="@this gorevList"
									actionListener="{#personelOrtakGorevBean.addGorev}"
									icon="ui-icon-circle-plus" onclick="gorevDialogWidget.show()">
								</p:commandButton>

							</f:facet>
						</p:dataTable>

					</h:form>
				</p:tab>
			</p:accordionPanel>
			<!-- GOREV ekleme -->
			<p:dialog draggable="true" closable="true" maximizable="true"
				resizable="false" dynamic="false" header="Ülke #{language.Add}"
				id="gorevlerDialogId" widgetVar="gorevDialogWidget">

				<h:panelGrid border="0" columns="2" style="text-align: center"
					id="gorevlerPanelGridId">
					<f:facet name="header">
						<h:outputText value="#{Country}"></h:outputText>
					</f:facet>

					<h:outputText value="Görev Adı" style="font-weight: bold;"></h:outputText>
					<p:inputText
						value="#{personelOrtakGorevBean.personelOrtakGorevForm.gorevAdi}">
					</p:inputText>

				</h:panelGrid>
				<h:panelGrid border="0" columns="5" cellspacing="5">
					<p:commandButton value="Görev #{language.Add}"
						update="gorevMessagesId gorevlerListDataTableId accordionPanelId"
						process="@this gorevlerDialogId"
						actionListener="#{personelOrtakGorevBean.addGorev}"
						icon="ui-icon-circle-plus"
						oncomplete="if (!args.validationFailed){gorevDialogWidget.hide();}">
					</p:commandButton>
				</h:panelGrid>
			</p:dialog>
			<!-- GOREV ekleme -->
			<!-- DELETE GOREV SECTION -->
			<p:dialog id="deleteGorevDialog" resizable="false"
				widgetVar="deleteGorevDialogWidget" closable="true"
				maximizable="true" dynamic="true" draggable="true"
				header="#{language.Delete}">
				<p:panel style="min-width:600px" id="deleteGorevPanelId">
					<h:panelGrid border="0" columns="2" style="width:100%">
						<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
					</h:panelGrid>

					<h:panelGrid border="0" columns="3">
						<p:commandLink title="#{language.ok}"
							update="gorevMessagesId   accordionPanelId deleteGorevPanelId  "
							process="@this gorevList"
							oncomplete="deleteGorevDialogWidget.hide()"
							actionListener="#{personelOrtakGorevBean.deleteGorevler}">

							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink title="#{language.Cancel}" immediate="true"
							update="deleteGorevMessages" process="@this"
							onclick="deleteGorevDialogWidget.hide()">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>

				</p:panel>
			</p:dialog>
			<!-- DELETE GOREV SECTION -->
			<script>
				$(document).keypress(
						function(event) {
							var keycode = (event.keyCode ? event.keyCode
									: event.which);
							if (keycode == '13') {
								//enterda mainpage e atlamayı engelliyor
								return false;
							}
						});
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>