<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title>Emek Boru</title>
	<link type="text/css" rel="stylesheet" href="themes/bluesky/theme.css" />
</h:head>
<h:body>
	<ui:composition template="/templates/main1.xhtml">
		<ui:define name="showPanel">
			<p:accordionPanel multiple="true" autoHeight="false"
				style="padding:0px; width:100%" id="accordionKimlikPanelId">
				<p:tab title="#{language.personelKimlik}">
					<h:form id="form">
						<p:growl id="messages" />
						<p:dataTable var="list" widgetVar="kimlikListWidget"
							value="#{personelKimlikBean.allEmployeeList}" id="kimlikList"
							filteredValue="#{personelKimlikBean.allEmployeeList}" editable="true"
							rows="10" paginator="true"
							selection="#{personelKimlikBean.selectedEmployee}" rowKey="#{list.employeeId}"
							selectionMode="single" dblClickSelect="false" style="width:100%"
							paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}">
							<p:ajax event="rowEdit"
								listener="#{personelKimlikBean.addOrUpdate}"
								update=":form:messages" />
							<p:ajax event="rowSelect" update="kimlikList"></p:ajax>

							<p:column headerText="Detay" style="width:10px"
								styleClass="text-align: center">
								<h:link value="" outcome="personelKart" icon="ui-icon-disk">
									<f:param name="kimlik_id" value="#{list.employeeId}" />
									<p:graphicImage value="/large_icons/order.png"
										style="border:0px"></p:graphicImage>
									<p:ajax id="aj2" listener="#{personelKartBean.setKimlik_id}" />
								</h:link>
							</p:column>

							<p:column headerText="Adı" filterBy="#{list.firstname}"
								filterMatchMode="startsWith">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{list.firstname}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{list.firstname}" style="width:100%" />
									</f:facet>
								</p:cellEditor>
							</p:column>
							<p:column headerText="Soyadı" filterBy="#{list.lastname}"
								filterMatchMode="startsWith">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{list.lastname}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{list.lastname}" style="width:100%" />
									</f:facet>
								</p:cellEditor>
							</p:column>
<!-- 							<p:column headerText="TC Kimlik No" -->
<!-- 								filterBy="#{list.tcKimlikNumarasi}" filterMatchMode="startsWith"> -->
<!-- 								<p:cellEditor> -->
<!-- 									<f:facet name="output"> -->
<!-- 										<h:outputText value="#{list.tcKimlikNumarasi}" /> -->
<!-- 									</f:facet> -->
<!-- 									<f:facet name="input"> -->
<!-- 										<p:inputText value="#{list.tcKimlikNumarasi}" -->
<!-- 											style="width:100%" /> -->
<!-- 									</f:facet> -->
<!-- 								</p:cellEditor> -->
<!-- 							</p:column> -->
							<p:column headerText="Telefon"
								filterBy="#{list.phoneNumber}"
								filterMatchMode="startsWith">
								<p:cellEditor>
									<f:facet name="output">
										<h:outputText value="#{list.phoneNumber}" />
									</f:facet>
									<f:facet name="input">
										<p:inputText value="#{list.phoneNumber}"
											style="width:100%" />
									</f:facet>
								</p:cellEditor>
							</p:column>
<!-- 							<p:column headerText="Email" -->
<!-- 								filterBy="#{list.defaultEmail.email}" -->
<!-- 								filterMatchMode="startsWith"> -->
<!-- 								<p:cellEditor> -->
<!-- 									<f:facet name="output"> -->
<!-- 										<h:outputText value="#{list.defaultEmail.email}" /> -->
<!-- 									</f:facet> -->
<!-- 									<f:facet name="input"> -->
<!-- 										<p:inputText value="#{list.defaultEmail.email}" -->
<!-- 											style="width:100%" /> -->
<!-- 									</f:facet> -->
<!-- 								</p:cellEditor> -->
<!-- 							</p:column> -->
							<f:facet name="footer">
								<p:commandButton value="#{language.Delete}" icon="ui-icon-close"
									process="@this kimlikList"
									disabled="#{personelKimlikBean.selectedEmployee.employeeId == null}"
									onclick="deleteKimlikDialogWidget.show()">
								</p:commandButton>
								<p:commandButton value="#{language.personel} #{language.Add}"
									process="@this kimlikList" icon="ui-icon-circle-plus"
									onclick="kimlikDialogWidget.show()">
								</p:commandButton>

							</f:facet>
						</p:dataTable>

					</h:form>
				</p:tab>
			</p:accordionPanel>
		<!-- GOREV ekleme -->
<!-- 			<p:dialog draggable="true" closable="true" maximizable="true" -->
<!-- 				resizable="false" dynamic="false" -->
<!-- 				header="Personel Kimlik #{language.Add}" id="kimlikDialogId" -->
<!-- 				widgetVar="kimlikDialogWidget"> -->

<!-- 				<h:panelGrid style="text-align: center; width: 100%" border="0" -->
<!-- 					columns="8" id="kimlikPanelGridId"> -->
<!-- 					<f:facet name="header">  		 -->
<!-- 		        ÖZLÜK BİLGİLERİ -->
<!-- 		   		 </f:facet> -->
<!-- 					<h:outputText value="Adı" style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:inputText required="true" -->
<!-- 						value="#{personelKimlikBean.selectedEmployee.adi}"> -->
<!-- 					</p:inputText> -->
<!-- 					<h:outputText value="Soyadı" style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:inputText required="true" -->
<!-- 						value="#{personelKimlikBean.selectedEmployee.soyadi}"> -->
<!-- 					</p:inputText> -->
<!-- 					<h:outputText value="TC Kimlik No" style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:inputMask required="true" -->
<!-- 						value="#{personelKimlikBean.selectedEmployee.tcKimlikNumarasi}" -->
<!-- 						mask="99999999999" /> -->
<!-- 					<h:outputText value="Doğum Tarihi" style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:calendar pattern="#{userCredentialsBean.dateFormat}" -->
<!-- 						required="true" requiredMessage="#{language.RequiredMessage}" -->
<!-- 						navigator="true" -->
<!-- 						value="#{personelKimlikBean.selectedEmployee.dogumTarihi}"></p:calendar> -->
<!-- 					<h:outputLabel style="font-weight: bold;" -->
<!-- 						value="#{language.Gender} :"></h:outputLabel> -->
<!-- 					<p:selectOneMenu layout="lineDirection" style="width: 125px" -->
<!-- 						value="#{personelKimlikBean.selectedEmployee.cinsiyetId}" -->
<!-- 						required="true" requiredMessage="#{language.RequiredMessage}"> -->
<!-- 						<f:selectItem itemValue="1" itemLabel="#{language.Male}"></f:selectItem> -->
<!-- 						<f:selectItem itemValue="2" itemLabel="#{language.Female}"></f:selectItem> -->
<!-- 					</p:selectOneMenu> -->
<!-- 					<h:outputText value="Anne Adı" style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:inputText required="true" -->
<!-- 						value="#{personelKimlikBean.selectedEmployee.anaAdi}"> -->
<!-- 					</p:inputText> -->
<!-- 					<h:outputText value="Baba Adı" style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:inputText required="true" -->
<!-- 						value="#{personelKimlikBean.selectedEmployee.babaAdi}"></p:inputText> -->
<!-- 				</h:panelGrid> -->
<!-- 				<h:panelGrid style="text-align: center; width: 100%" border="0" -->
<!-- 					columns="8"> -->
<!-- 					<f:facet name="header">   -->
<!-- 		        İLETİŞİM BİLGİLERİ -->
<!-- 		   		 </f:facet> -->
<!-- 					<h:outputText value="Cep Telefon" style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:inputMask required="true" -->
<!-- 						value="#{personelKimlikBean.kimlikTelefon.numara}" -->
<!-- 						mask="9999999999" /> -->
<!-- 					<h:outputText value="Email" style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:inputText required="true" -->
<!-- 						value="#{personelKimlikBean.kimlikEmail.email}"></p:inputText> -->
<!-- 					<h:outputText value="Adres" style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:inputTextarea required="true" rows="3" cols="14" -->
<!-- 						counter="counter" maxlength="255" -->
<!-- 						value="#{personelKimlikBean.kimlikAdres.adres}" -->
<!-- 						counterTemplate="{0} characters remaining." autoResize="false" /> -->
<!-- 				</h:panelGrid> -->
<!-- 				<h:panelGrid style="text-align: center; width: 100%" border="0" -->
<!-- 					columns="8"> -->
<!-- 					<f:facet name="header">   -->
<!-- 		        SAĞLIK BİLGİLERİ -->
<!-- 		   		 </f:facet> -->
<!-- 					<h:outputText style="font-weight: bold;" value="Kan Grubu "></h:outputText> -->
<!-- 					<p:selectOneMenu -->
<!-- 						value="#{personelKimlikBean.kimlikSaglik.kanGrubuId}" -->
<!-- 						layout="lineDirection" style="width:125px;"> -->
<!-- 						<c:forEach items="#{personelKimlikBean.kanGrubuList}" var="kan"> -->
<!-- 							<f:selectItem itemValue="#{kan.id}" -->
<!-- 								itemLabel="#{kan.kanGrubuAdi}"></f:selectItem> -->
<!-- 						</c:forEach> -->
<!-- 					</p:selectOneMenu> -->
<!-- 					<h:outputText style="font-weight: bold;" value="Özür Oranı"></h:outputText> -->
<!-- 					<p:selectOneMenu value="#{personelKimlikBean.kimlikSaglik.ozurId}" -->
<!-- 						layout="lineDirection" style="width:125px;"> -->
<!-- 						<c:forEach items="#{personelKimlikBean.ozurList}" var="ozur"> -->
<!-- 							<f:selectItem itemValue="#{ozur.id}" -->
<!-- 								itemLabel="#{ozur.personelOzurAdi}"></f:selectItem> -->
<!-- 						</c:forEach> -->
<!-- 					</p:selectOneMenu> -->
<!-- 					<h:outputText value="Sağlık Durumu" style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:inputText required="true" -->
<!-- 						value="#{personelKimlikBean.kimlikSaglik.saglikDurumu}"></p:inputText> -->
<!-- 					<h:outputText value="Açıklama" style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:inputTextarea rows="3" required="true" cols="14" -->
<!-- 						counter="counter" maxlength="255" -->
<!-- 						value="#{personelKimlikBean.kimlikSaglik.aciklama}" -->
<!-- 						counterTemplate="{0} characters remaining." autoResize="false" /> -->

<!-- 				</h:panelGrid> -->
<!-- 				<h:panelGrid style="text-align: center; width: 100%" border="0" -->
<!-- 					columns="8"> -->
<!-- 					<f:facet name="header">   -->
<!-- 		        EĞİTİM BİLGİLERİ -->
<!-- 		   		 </f:facet> -->
<!-- 					<h:outputText style="font-weight: bold;" value="Eğitim Durumu"></h:outputText> -->
<!-- 					<p:selectOneMenu -->
<!-- 						value="#{personelKimlikBean.kimlikEgitim.personelOrtakOgrenimDurumu.id}" -->
<!-- 						layout="lineDirection" style="width:125px;"> -->
<!-- 						<c:forEach items="#{personelKimlikBean.ogrenimList}" var="ogrenim"> -->
<!-- 							<f:selectItem itemValue="#{ogrenim.id}" -->
<!-- 								itemLabel="#{ogrenim.ogrenimDurumuAdi}"></f:selectItem> -->
<!-- 						</c:forEach> -->
<!-- 					</p:selectOneMenu> -->
<!-- 					<h:outputText value="Mevzun Olduğu Okul" style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:inputText required="true" -->
<!-- 						value="#{personelKimlikBean.kimlikEgitim.mevzunOlduguOkul}"></p:inputText> -->
<!-- 					<h:outputText value="Bölümü" style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:inputText required="true" -->
<!-- 						value="#{personelKimlikBean.kimlikEgitim.bolum}"></p:inputText> -->
<!-- 					<h:outputText value="Mevuniyet Yılı" style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:inputText required="true" -->
<!-- 						value="#{personelKimlikBean.kimlikEgitim.mevzuniyetYili}"></p:inputText> -->
<!-- 					<h:outputText value="Açıklama" style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:inputTextarea rows="3" required="true" cols="14" -->
<!-- 						counter="counter" maxlength="255" -->
<!-- 						value="#{personelKimlikBean.kimlikEgitim.aciklama}" -->
<!-- 						counterTemplate="{0} characters remaining." autoResize="false" /> -->
<!-- 				</h:panelGrid> -->
<!-- 				<h:panelGrid style="text-align: center; width: 100%" border="0" -->
<!-- 					columns="8"> -->
<!-- 					<f:facet name="header">   -->
<!-- 		        ÜCRET BİLGİLERİ -->
<!-- 		   		 </f:facet> -->
<!-- 					<h:outputText style="font-weight: bold;" value="Ücret Türü"></h:outputText> -->
<!-- 					<p:selectOneMenu -->
<!-- 						value="#{personelKimlikBean.kimlikUcret.ucretTuruId}" -->
<!-- 						layout="lineDirection" style="width:125px;"> -->
<!-- 						<c:forEach items="#{personelKimlikBean.ucretList}" var="ucret"> -->
<!-- 							<f:selectItem itemValue="#{ucret.id}" -->
<!-- 								itemLabel="#{ucret.ucretTuruAdi}"></f:selectItem> -->
<!-- 						</c:forEach> -->
<!-- 					</p:selectOneMenu> -->
<!-- 					<h:outputText value="Ücret" style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:inputText required="true" -->
<!-- 						value="#{personelKimlikBean.kimlikUcret.ucret}"></p:inputText> -->
<!-- 					<h:outputText value="Hay Derecesi" style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:inputText required="true" -->
<!-- 						value="#{personelKimlikBean.kimlikUcret.hayDerecesi}"></p:inputText> -->
<!-- 					<h:outputText value="Açıklama" style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:inputTextarea required="true" rows="3" cols="14" -->
<!-- 						counter="counter" maxlength="255" -->
<!-- 						value="#{personelKimlikBean.kimlikUcret.aciklama}" -->
<!-- 						counterTemplate="{0} characters remaining." autoResize="false" /> -->
<!-- 				</h:panelGrid> -->
<!-- 				<h:panelGrid style="text-align: center; width: 100%" border="0" -->
<!-- 					columns="8"> -->
<!-- 					<f:facet name="header">   -->
<!-- 		        ÇALIŞMA BİLGİLERİ -->
<!-- 		   		 </f:facet> -->
<!-- 					<h:outputText style="font-weight: bold;" value="Departman"></h:outputText> -->
<!-- 					<p:selectOneMenu -->
<!-- 						value="#{personelKimlikBean.kimlikCalisma.departmanIdGorevi}" -->
<!-- 						layout="lineDirection" style="width:125px;"> -->
<!-- 						<c:forEach items="#{personelKimlikBean.departList}" var="depart"> -->
<!-- 							<f:selectItem itemValue="#{depart.departmentId}" -->
<!-- 								itemLabel="#{depart.name}"></f:selectItem> -->
<!-- 						</c:forEach> -->
<!-- 					</p:selectOneMenu> -->
<!-- 					<h:outputText style="font-weight: bold;" value="Amiri"></h:outputText> -->
<!-- 					<p:selectOneMenu -->
<!-- 						value="#{personelKimlikBean.kimlikCalisma.gorevIdAmir}" -->
<!-- 						layout="lineDirection" style="width:125px;"> -->
<!-- 						<c:forEach items="#{personelKimlikBean.gorevList}" var="gorev"> -->
<!-- 							<f:selectItem itemValue="#{gorev.id}" -->
<!-- 								itemLabel="#{gorev.gorevAdi}"></f:selectItem> -->
<!-- 						</c:forEach> -->
<!-- 					</p:selectOneMenu> -->
<!-- 					<h:outputText style="font-weight: bold;" value="Üst Amiri"></h:outputText> -->
<!-- 					<p:selectOneMenu -->
<!-- 						value="#{personelKimlikBean.kimlikCalisma.gorevIdUstAmir}" -->
<!-- 						layout="lineDirection" style="width:125px;"> -->
<!-- 						<c:forEach items="#{personelKimlikBean.gorevList}" var="gorev2"> -->
<!-- 							<f:selectItem itemValue="#{gorev2.id}" -->
<!-- 								itemLabel="#{gorev2.gorevAdi}"></f:selectItem> -->
<!-- 						</c:forEach> -->
<!-- 					</p:selectOneMenu> -->
<!-- 					<h:outputText value="Göreve Başlama Tarihi" -->
<!-- 						style="font-weight: bold;"></h:outputText> -->
<!-- 					<p:calendar pattern="#{userCredentialsBean.dateFormat}" -->
<!-- 						required="true" requiredMessage="#{language.RequiredMessage}" -->
<!-- 						navigator="true" -->
<!-- 						value="#{personelKimlikBean.kimlikCalisma.goreveBaslamaTarihi}"></p:calendar> -->
<!-- 				</h:panelGrid> -->

<!-- 				<h:panelGrid border="0" columns="5" cellspacing="5"> -->
<!-- 					<p:commandButton value="Personel #{language.Add}" -->
<!-- 						update="kimlikPanelGridId accordionKimlikPanelId" -->
<!-- 						process="@this kimlikDialogId" -->
<!-- 						actionListener="#{personelKimlikBean.add}" -->
<!-- 						icon="ui-icon-circle-plus" -->
<!-- 						oncomplete="if (!args.validationFailed){kimlikDialogWidget.hide();}"> -->
<!-- 					</p:commandButton> -->
<!-- 				</h:panelGrid> -->
<!-- 			</p:dialog> -->
<!-- GOREV ekleme --> 
<!-- DELETE GOREV SECTION -->
			<p:dialog id="deleteKimlikDialog" resizable="false"
				widgetVar="deleteKimlikDialogWidget" closable="true"
				maximizable="true" dynamic="true" draggable="true"
				header="#{language.Delete}">
				<p:panel style="min-width:600px" id="deleteKimlikPanelId">
					<h:panelGrid border="0" columns="2" style="width:100%">
						<h:outputText value="#{language.DeleteConfirmation}"></h:outputText>
					</h:panelGrid>
					<h:panelGrid border="0" columns="3">
						<p:commandLink title="#{language.ok}"
							update="accordionKimlikPanelId deleteKimlikPanelId"
							process="@this kimlikList"
							oncomplete="deleteKimlikDialogWidget.hide()"
							actionListener="#{personelKimlikBean.delete}">

							<p:graphicImage value="/large_icons/ok.png" style="border:0px"></p:graphicImage>
						</p:commandLink>
						<p:commandLink title="#{language.Cancel}" immediate="true"
							update="messages" process="@this"
							onclick="deleteKimlikDialogWidget.hide()">
							<p:graphicImage value="/large_icons/cancel.png"
								style="border:0px"></p:graphicImage>
						</p:commandLink>
					</h:panelGrid>

				</p:panel>
			</p:dialog>
<!-- 			DELETE GOREV SECTION -->
		</ui:define>
	</ui:composition>
</h:body>
</html>